Repository ClickHouse/ClickHouse, pull requests merged in 2019-09, with the labels that each got.

#6763 Add "os_thread_ids" column to system tables
  dbms/src/Common/ThreadStatus.h
  dbms/src/Interpreters/ProcessList.cpp
  dbms/src/Interpreters/ProcessList.h
  dbms/src/Interpreters/QueryLog.cpp
  dbms/src/Interpreters/QueryLog.h
  dbms/src/Interpreters/ThreadStatusExt.cpp
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Storages/System/StorageSystemProcesses.cpp
Labels: pr-improvement

#6769 Disable query profiler with sanitizers
  dbms/programs/server/Server.cpp
  dbms/src/Core/Defines.h
Labels: pr-build

#6771 Remove recursive rwlock by thread
  dbms/src/Common/RWLock.cpp
  dbms/src/Common/RWLock.h
  dbms/src/Common/tests/gtest_rw_lock.cpp
Labels: pr-improvement

#6727 Merging Template format
  .gitignore
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Core/Settings.h
  dbms/src/Formats/BlockInputStreamFromRowInputStream.cpp
  dbms/src/Formats/BlockInputStreamFromRowInputStream.h
  dbms/src/Formats/CSVRowInputStream.cpp
  dbms/src/Formats/CSVRowInputStream.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatSettings.h
  dbms/src/Formats/ParsedTemplateFormatString.cpp
  dbms/src/Formats/ParsedTemplateFormatString.h
  dbms/src/Formats/TabSeparatedRowInputStream.cpp
  dbms/src/Formats/TabSeparatedRowInputStream.h
  dbms/src/Formats/tests/CMakeLists.txt
  dbms/src/Formats/tests/block_row_transforms.cpp
  dbms/src/Formats/tests/tab_separated_streams.cpp
  dbms/src/IO/PeekableReadBuffer.cpp
  dbms/src/IO/PeekableReadBuffer.h
  dbms/src/IO/tests/gtest_peekable_read_buffer.cpp
  dbms/src/Processors/Formats/IRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/CSVRowInputFormat.h
  dbms/src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TabSeparatedRowInputFormat.h
  dbms/src/Processors/Formats/Impl/TemplateBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/TemplateBlockOutputFormat.h
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.h
  dbms/src/Processors/Formats/RowInputFormatWithDiagnosticInfo.cpp
  dbms/src/Processors/Formats/RowInputFormatWithDiagnosticInfo.h
  dbms/tests/queries/0_stateless/00937_template_output_format.reference
  dbms/tests/queries/0_stateless/00937_template_output_format.sql
  dbms/tests/queries/0_stateless/00938_template_input_format.reference
  dbms/tests/queries/0_stateless/00938_template_input_format.sh
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/settings/settings.md
Labels: can be tested, pr-feature

#6764 Fixed very rare deadlocks
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Common/RWLock.cpp
  dbms/src/Common/tests/gtest_rw_lock.cpp
  dbms/tests/queries/0_stateless/00763_lock_buffer.sh
  dbms/tests/queries/0_stateless/00763_long_lock_buffer_alter_destination_table.sh
  dbms/tests/queries/0_stateless/00838_system_tables_drop_table_race.sh
  dbms/tests/queries/0_stateless/01007_r1r2_w_r2r1_deadlock.reference
  dbms/tests/queries/0_stateless/01007_r1r2_w_r2r1_deadlock.sh
Labels: pr-build

#6779 CLICKHOUSE-4644 function arrayEnumerateUniqRanked: fix for empty arrays
  dbms/src/Functions/array/arrayEnumerateRanked.h
  dbms/tests/queries/0_stateless/00909_arrayEnumerateUniq.reference
  dbms/tests/queries/0_stateless/00909_arrayEnumerateUniq.sql
Labels: pr-bugfix

#6783 Fix links in docs
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: can be tested, documentation, pr-doc-fix

#6709 Fixed error with processing "timezone" in server configuration file.
  dbms/programs/main.cpp
  dbms/src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  dbms/tests/integration/README.md
  dbms/tests/integration/helpers/0_common_instance_config.xml
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/test_timezone_config/__init__.py
  dbms/tests/integration/test_timezone_config/configs/config.xml
  dbms/tests/integration/test_timezone_config/test.py
  libs/libcommon/src/DateLUTImpl.cpp
  libs/libdaemon/src/BaseDaemon.cpp
Labels: pr-bugfix

#6780 Move initialization of MergedColumnOnlyStream to constructor
  dbms/src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedColumnOnlyOutputStream.h
  dbms/tests/queries/0_stateless/01006_simpod_empty_part_single_column_write.reference
  dbms/tests/queries/0_stateless/01006_simpod_empty_part_single_column_write.sh
Labels: pr-bugfix

#6786 Doc change. Example of max_block_size impact on runningDifference.
  docs/en/query_language/functions/other_functions.md
  docs/ru/query_language/functions/other_functions.md
Labels: documentation

#6793 Add link to new third-party jdbc driver
  docs/en/interfaces/jdbc.md
  docs/ru/interfaces/jdbc.md
  docs/zh/interfaces/jdbc.md
Labels: documentation, pr-doc-fix

#6792 title case fixes
  docs/en/interfaces/formats.md
Labels: documentation, pr-doc-fix

#6791 fix note markdown
  docs/en/query_language/functions/string_search_functions.md
  docs/ru/query_language/functions/string_search_functions.md
  docs/zh/query_language/functions/string_search_functions.md
Labels: documentation, pr-doc-fix

#6205 fix some mutation bug
  dbms/src/Interpreters/MutationsInterpreter.cpp
  dbms/src/Interpreters/MutationsInterpreter.h
  dbms/src/Parsers/IAST.cpp
  dbms/src/Parsers/IAST.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageMergeTree.h
  dbms/tests/integration/test_mutations_with_merge_tree/__init__.py
  dbms/tests/integration/test_mutations_with_merge_tree/configs/config.xml
  dbms/tests/integration/test_mutations_with_merge_tree/configs/users.xml
  dbms/tests/integration/test_mutations_with_merge_tree/test.py
Labels: can be tested

#6788 Doc change. identity function + translation to russian for throwIf / modelEvaluate
  docs/en/query_language/functions/other_functions.md
  docs/ru/query_language/functions/other_functions.md
Labels: documentation, pr-documentation

#6773 fix DataTypeAggregateFunction deserialization
  dbms/src/Common/FieldVisitors.cpp
  dbms/src/DataTypes/DataTypeAggregateFunction.cpp
  dbms/src/Functions/FunctionsConversion.h
  dbms/src/IO/ReadHelpers.h
  dbms/tests/queries/0_stateless/00980_shard_aggregation_state_deserialization.reference
  dbms/tests/queries/0_stateless/00980_shard_aggregation_state_deserialization.sql
Labels: can be tested

#6789 Doc change. FROM FINAL can be used not only with CollapsingMergeTree
  docs/en/query_language/select.md
  docs/ru/query_language/select.md
Labels: documentation, pr-doc-fix

#6667 Pre-fault pages when allocating memory with mmap().
  dbms/src/Common/Allocator.h
  dbms/src/Common/HashTable/HashTableAllocator.h
Labels: pr-performance

#6048 Correct implementation of ternary logic for AND/OR
  dbms/src/Functions/FunctionsLogical.cpp
  dbms/src/Functions/FunctionsLogical.h
  dbms/src/Functions/equals.cpp
  dbms/tests/queries/0_stateless/00552_or_nullable.reference
  dbms/tests/queries/0_stateless/00552_or_nullable.sql
Labels: can be tested

#5710 Query masking rules
  dbms/CMakeLists.txt
  dbms/programs/client/Client.cpp
  dbms/programs/local/LocalServer.cpp
  dbms/programs/odbc-bridge/ODBCBridge.cpp
  dbms/programs/server/Server.cpp
  dbms/programs/server/config.xml
  dbms/src/Common/ProfileEvents.cpp
  dbms/src/Common/SensitiveDataMasker.cpp
  dbms/src/Common/SensitiveDataMasker.h
  dbms/src/Common/tests/gtest_sensitive_data_masker.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/executeQuery.cpp
  dbms/tests/queries/0_stateless/00956_sensitive_data_masking.reference
  dbms/tests/queries/0_stateless/00956_sensitive_data_masking.sh
  docs/en/operations/server_settings/settings.md
  libs/libdaemon/src/BaseDaemon.cpp
  libs/libloggers/loggers/Loggers.cpp
  libs/libloggers/loggers/Loggers.h
  libs/libloggers/loggers/OwnPatternFormatter.h
  libs/libloggers/loggers/OwnSplitChannel.cpp
  libs/libloggers/loggers/OwnSplitChannel.h
Labels: altinity, can be tested

#6816 Fix bug with mutations after granularity change
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
Labels: pr-bugfix

#6819 fix bitmapSubsetInRange memory leak
  dbms/src/Functions/FunctionsBitmap.h
Labels: can be tested

#6805 Fix kafka tests
  dbms/src/IO/BufferBase.h
  dbms/src/IO/DelimitedReadBuffer.h
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/tests/integration/test_storage_kafka/configs/users.xml
  dbms/tests/integration/test_storage_kafka/test.py
Labels: pr-bugfix

#6797 DOCAPI-8259: toInt, toUint docs refactoring and update.
  docs/en/query_language/functions/type_conversion_functions.md
Labels: documentation, pr-doc-fix

#6167 Fixed mismatched header of prewhere with sample column
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/tests/queries/0_stateless/00975_sample_prewhere.reference
  dbms/tests/queries/0_stateless/00975_sample_prewhere.sql
Labels: can be tested

#6784 DOCAPI-7695: Functions support for indexes
  docs/en/development/build.md
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/mergetree.md
  docs/en/query_language/functions/array_functions.md
  docs/en/query_language/functions/comparison_functions.md
  docs/en/query_language/functions/in_functions.md
  docs/en/query_language/functions/string_functions.md
  docs/en/query_language/functions/string_search_functions.md
  docs/fa/interfaces/formats.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/settings/settings.md
  docs/ru/query_language/functions/comparison_functions.md
  docs/ru/query_language/functions/in_functions.md
  docs/ru/query_language/functions/string_functions.md
  docs/ru/query_language/functions/string_search_functions.md
  docs/zh/interfaces/formats.md
Labels: documentation, pr-documentation

#6840 Ability to change history path by changing env
  dbms/programs/client/Client.cpp
Labels: can be tested

#6261 DOCAPI-7905: Update of the configurations files description.
  docs/en/operations/configuration_files.md
Labels: documentation, pr-documentation

#6837 Fix some pvs reported issues
  dbms/src/Interpreters/ClusterProxy/executeQuery.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
Labels: can be tested, pr-bugfix

#6846 Cosmetic change: remove redundant functions from FixedHashTable
  dbms/src/Common/HashTable/FixedHashTable.h
Labels: pr-codecleanup

#6810 Better objects ownership in QueryMaskingRules
  dbms/programs/odbc-bridge/ODBCBridge.cpp
  dbms/programs/server/Server.cpp
  dbms/programs/server/config.xml
  dbms/src/Common/SensitiveDataMasker.cpp
  dbms/src/Common/SensitiveDataMasker.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/executeQuery.cpp
  dbms/tests/queries/0_stateless/00956_sensitive_data_masking.reference
  dbms/tests/queries/0_stateless/00956_sensitive_data_masking.sh
  libs/libloggers/loggers/Loggers.cpp
  libs/libloggers/loggers/Loggers.h
  libs/libloggers/loggers/OwnSplitChannel.cpp
  libs/libloggers/loggers/OwnSplitChannel.h
Labels: can be tested

#6855 Minor code cleanup in StorageFile
  dbms/src/Storages/StorageFile.cpp
  dbms/src/Storages/StorageFile.h
Labels: pr-codecleanup

#6853 Returned support for very old Linux kernels (that lack of F_GETPIPE_SZ fcntl)
  dbms/src/Common/TraceCollector.cpp
Labels: pr-bugfix

#6399 Improvements for failover of Distributed queries
  dbms/src/Client/ConnectionPoolWithFailover.cpp
  dbms/src/Client/ConnectionPoolWithFailover.h
  dbms/src/Common/PoolWithFailoverBase.h
  dbms/src/Core/Defines.h
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/Cluster.cpp
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
  dbms/src/Storages/System/StorageSystemClusters.cpp
  docs/en/operations/settings/settings.md
  docs/en/operations/system_tables.md
Labels: can be tested

#6859 Docs cleanup
  docs/en/operations/settings/settings.md
  docs/en/operations/system_tables.md
Labels: documentation

#6872 Store offsets manually for each message
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/StorageKafka.cpp
Labels: pr-bugfix

#6790 Doc change. less confusing description for pointInEllipses
  docs/en/query_language/functions/geo.md
  docs/ru/query_language/functions/geo.md
Labels: documentation, pr-doc-fix

#6875 Doc Change. Fixed rowbinary RU translation and added rowbinarywithnamesandtypes
  docs/en/interfaces/formats.md
  docs/ru/interfaces/formats.md
Labels: documentation, pr-documentation

#6857 Doc change. Added some system queries (1st attempt).
  docs/en/query_language/system.md
  docs/ru/query_language/system.md
Labels: documentation, pr-documentation

#6849 Doc change. TTL examples
  docs/en/operations/table_engines/mergetree.md
  docs/ru/operations/table_engines/mergetree.md
Labels: documentation, pr-documentation

#6848 DOCAPI-7745: optimize_throw_if_noop docs.
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/en/query_language/misc.md
  docs/toc_en.yml
Labels: documentation, pr-doc-fix

#6884 Fix of links in docs
  docs/en/operations/system_tables.md
  docs/en/query_language/system.md
Labels: documentation, pr-doc-fix

#6885 Docs links fix
  docs/ru/interfaces/formats.md
  docs/toc_ru.yml
Labels: documentation, pr-doc-fix

#6873 Use internal iteration over hash tables in Aggregator.
  dbms/src/Common/ColumnsHashing.h
  dbms/src/Common/HashTable/FixedClearableHashMap.h
  dbms/src/Common/HashTable/FixedClearableHashSet.h
  dbms/src/Common/HashTable/FixedHashMap.h
  dbms/src/Common/HashTable/FixedHashTable.h
  dbms/src/Common/HashTable/HashMap.h
  dbms/src/Common/HashTable/HashTable.h
  dbms/src/Common/HashTable/TwoLevelHashMap.h
  dbms/src/Interpreters/Aggregator.cpp
  dbms/src/Interpreters/Aggregator.h
Labels: pr-codecleanup

#6602 Split libdbms.so using object library
  CMakeLists.txt
  dbms/CMakeLists.txt
  dbms/programs/CMakeLists.txt
  dbms/programs/client/Suggest.h
  dbms/programs/odbc-bridge/CMakeLists.txt
  dbms/src/AggregateFunctions/AggregateFunctionCombinatorFactory.cpp
  dbms/src/AggregateFunctions/AggregateFunctionCombinatorFactory.h
  dbms/src/AggregateFunctions/AggregateFunctionFactory.cpp
  dbms/src/AggregateFunctions/AggregateFunctionFactory.h
  dbms/src/Common/DNSResolver.cpp
  dbms/src/Common/DNSResolver.h
  dbms/src/Common/SymbolIndex.cpp
  dbms/src/Common/SymbolIndex.h
  dbms/src/Common/ThreadPool.cpp
  dbms/src/Common/ThreadPool.h
  dbms/src/Compression/CompressionFactory.cpp
  dbms/src/Compression/CompressionFactory.h
  dbms/src/Core/SettingsCommon.h
  dbms/src/DataTypes/DataTypeEnum.h
  dbms/src/DataTypes/DataTypeFactory.cpp
  dbms/src/DataTypes/DataTypeFactory.h
  dbms/src/Dictionaries/DictionaryFactory.cpp
  dbms/src/Dictionaries/DictionaryFactory.h
  dbms/src/Dictionaries/DictionarySourceFactory.cpp
  dbms/src/Dictionaries/DictionarySourceFactory.h
  dbms/src/Dictionaries/Embedded/RegionsHierarchy.cpp
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatFactory.h
  dbms/src/Formats/ProtobufSchemas.cpp
  dbms/src/Formats/ProtobufSchemas.h
  dbms/src/Functions/FunctionFactory.cpp
  dbms/src/Functions/FunctionFactory.h
  dbms/src/IO/AIOContextPool.cpp
  dbms/src/IO/AIOContextPool.h
  dbms/src/IO/DoubleConverter.cpp
  dbms/src/IO/DoubleConverter.h
  dbms/src/IO/HTTPCommon.cpp
  dbms/src/IO/HashingWriteBuffer.h
  dbms/src/Storages/MergeTree/MergeTreeIndices.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndices.h
  dbms/src/Storages/StorageFactory.cpp
  dbms/src/Storages/StorageFactory.h
  dbms/src/TableFunctions/TableFunctionFactory.cpp
  dbms/src/TableFunctions/TableFunctionFactory.h
  libs/libcommon/CMakeLists.txt
  libs/libcommon/include/common/DateLUT.h
  libs/libcommon/include/ext/singleton.h
  libs/libcommon/src/DateLUT.cpp
  libs/libmysqlxx/include/mysqlxx/Connection.h
  libs/libmysqlxx/src/Connection.cpp
Labels: can be tested

#6886 Fix build error when cmake_minimum_required(3.12)
  contrib/arrow-cmake/orc_check.cmake
Labels: can be tested

#6882 Fix too early MySQL connection closure in MySQLBlockInputStreamream.cpp
  dbms/src/Formats/MySQLBlockInputStream.cpp
Labels: can be tested

#6901 Add link to clickhouse-flamegraph
  docs/en/interfaces/third-party/gui.md
  docs/fa/interfaces/third-party/gui.md
  docs/ru/interfaces/third-party/gui.md
  docs/zh/interfaces/third-party/gui.md
Labels: documentation, pr-documentation

#6854 Rwlock sanitary update 1: removed weak_ptrs from implementation + added strong exception safety guarantee
  dbms/src/Common/RWLock.cpp
  dbms/src/Common/RWLock.h
Labels: can be tested, pr-improvement

#6893 Display warning if clickhouse-client version is older than clickhouse-server.
  dbms/programs/client/Client.cpp
Labels: can be tested

#6900 A better way to disable ninja for CLion
  PreLoad.cmake
Labels: can be tested, pr-build

#6915 Robust shared build
  CMakeLists.txt
  dbms/CMakeLists.txt
Labels: can be tested

#6906 Fix non-ssl build.
  dbms/programs/server/MySQLHandler.cpp
  dbms/programs/server/MySQLHandler.h
  dbms/programs/server/MySQLHandlerFactory.cpp
  dbms/programs/server/MySQLHandlerFactory.h
  dbms/src/Common/OpenSSLHelpers.cpp
  dbms/src/Common/OpenSSLHelpers.h
  dbms/src/Core/MySQLProtocol.cpp
  dbms/src/Core/MySQLProtocol.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Processors/Formats/Impl/MySQLOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/MySQLOutputFormat.h
Labels: can be tested

#6909 Put delimiter only after consuming a message
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/tests/integration/test_storage_kafka/test.py
Labels: pr-bugfix

#6908 use croaring serialization functions
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
Labels: can be tested, pr-performance

#6878 Trivial build fixes (mostly for -DSPLIT_SHARED_LIBRARIES=ON)
  dbms/programs/copier/CMakeLists.txt
  dbms/src/Common/tests/gtest_sensitive_data_masker.cpp
Labels: can be tested

#6684 Processors 2
  dbms/programs/server/TCPHandler.cpp
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.cpp
  dbms/src/Interpreters/Aggregator.cpp
  dbms/src/Interpreters/Aggregator.h
  dbms/src/Interpreters/InterpreterKillQueryQuery.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Interpreters/executeQuery.h
  dbms/src/Processors/Executors/PipelineExecutor.cpp
  dbms/src/Processors/Executors/PipelineExecutor.h
  dbms/src/Processors/Executors/ThreadsQueue.h
  dbms/src/Processors/IProcessor.h
  dbms/src/Processors/QueryPipeline.cpp
  dbms/src/Processors/QueryPipeline.h
  dbms/src/Processors/Sources/SourceFromInputStream.cpp
  dbms/src/Processors/Transforms/AggregatingTransform.cpp
  dbms/src/Processors/Transforms/AggregatingTransform.h
  dbms/src/Processors/Transforms/MergingAggregatedMemoryEfficientTransform.cpp
  dbms/tests/queries/0_stateless/00963_achimbab.sql
Labels: pr-improvement

#6930 performance test for lowcardinality array
  dbms/tests/performance/inserts_arrays_lowcardinality.xml
Labels: can be tested

#6925 Some MemorySanitizer fixes
  dbms/src/Common/MemorySanitizer.h
  dbms/src/Functions/GeoUtils.cpp
  dbms/src/IO/AIOContextPool.cpp
  dbms/src/IO/WriteBufferAIO.cpp
  dbms/src/IO/ZlibDeflatingWriteBuffer.cpp
  libs/libcommon/src/phdr_cache.cpp
Labels: pr-build

#6895 [RFC] Drop max_sleep_time limit from StorageDistributedDirectoryMonitor
  dbms/src/Core/Settings.h
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
  dbms/src/Storages/Distributed/DirectoryMonitor.h
Labels: can be tested

#6942 Fixed typo
  CHANGELOG.md
Labels: documentation, pr-doc-fix

#6934 Name temporary external table with existing subquery alias
  dbms/src/Interpreters/GlobalSubqueriesVisitor.h
  dbms/tests/queries/0_stateless/01009_global_array_join_names.reference
  dbms/tests/queries/0_stateless/01009_global_array_join_names.sql
Labels: pr-bugfix

#6907 Whitelist for dictionary from the current connected database
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Functions/FunctionsExternalDictionaries.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/IUsersManager.h
  dbms/src/Interpreters/Users.cpp
  dbms/src/Interpreters/Users.h
  dbms/src/Interpreters/UsersManager.cpp
  dbms/src/Interpreters/UsersManager.h
  docs/en/operations/access_rights.md
Labels: can be tested, pr-feature

#6937 ubsan/memsan fix.
  dbms/src/Common/HashTable/HashTable.h
  dbms/tests/queries/0_stateless/01011_group_uniq_array_memsan.reference
  dbms/tests/queries/0_stateless/01011_group_uniq_array_memsan.sql
Labels: can be tested

#6947 Add gdb index to builds with debug info
  CMakeLists.txt
  dbms/programs/CMakeLists.txt
  dbms/programs/odbc-bridge/CMakeLists.txt
  docker/packager/binary/Dockerfile
  docker/packager/deb/Dockerfile
  docker/packager/packager
Labels: pr-build

#6960 Add custom dpkg to deb build image
  docker/packager/deb/Dockerfile
Labels: do not test, pr-build

#6944 Add LIMIT clause to SHOW queries
  dbms/src/Interpreters/InterpreterShowTablesQuery.cpp
  dbms/src/Parsers/ASTShowTablesQuery.cpp
  dbms/src/Parsers/ASTShowTablesQuery.h
  dbms/src/Parsers/ParserShowTablesQuery.cpp
  dbms/src/Parsers/ParserShowTablesQuery.h
  dbms/tests/queries/0_stateless/01012_show_tables_limit.reference
  dbms/tests/queries/0_stateless/01012_show_tables_limit.sql
Labels: can be tested

#6966 Add missing linking with jemalloc
  dbms/CMakeLists.txt
Labels: can be tested

#6977 Reworked flapping test - 00715_fetch_merged_or_mutated_part_zookeeper
  dbms/tests/queries/0_stateless/00715_fetch_merged_or_mutated_part_zookeeper.sh
  dbms/tests/queries/0_stateless/00715_fetch_merged_or_mutated_part_zookeeper.sql
Labels: pr-bugfix, pr-build

#6974 Use MAP_POPULATE only on Linux.
  dbms/src/Common/Allocator.h
Labels: pr-build

#6970 added bitmapMin and bitmapMax
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  dbms/src/Functions/FunctionsBitmap.cpp
  dbms/src/Functions/FunctionsBitmap.h
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
  docs/en/query_language/functions/bitmap_functions.md
  docs/zh/query_language/functions/bitmap_functions.md
Labels: can be tested

#6963 optimize limit 1,0 and test.
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/tests/queries/0_stateless/01012_select_limit_x_0.reference
  dbms/tests/queries/0_stateless/01012_select_limit_x_0.sql
Labels: can be tested

#7001 Implement auto-labelling for the backporting script
  utils/github/__main__.py
  utils/github/parser.py
  utils/github/query.py
Labels: pr-build

#6950 Always read and insert Kafka messages as a whole
  dbms/src/DataStreams/SquashingTransform.cpp
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatFactory.h
  dbms/src/Formats/NativeFormat.cpp
  dbms/src/Formats/tests/tab_separated_streams.cpp
  dbms/src/Processors/Formats/IRowInputFormat.cpp
  dbms/src/Processors/Formats/IRowInputFormat.h
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
Labels: pr-improvement

#6990 Fixed timeout mechanism for SYNC REPLICA command + simplified related code
  dbms/src/Interpreters/InterpreterSystemQuery.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/queries/0_stateless/01013_sync_replica_timeout_zookeeper.reference
  dbms/tests/queries/0_stateless/01013_sync_replica_timeout_zookeeper.sh
Labels: pr-bugfix

#6983 Use ld.gold over gold (the former available in more environments)
  CMakeLists.txt
Labels: can be tested

#6980 Adding performance test for huge pk (issue #6924)
  dbms/tests/performance/merge_tree_huge_pk.xml
Labels: can be tested

#6976 Throw exceptions if WITH TOTALS/ROLLUP/CUBE are specified without agg…
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/tests/queries/0_stateless/00378_json_quote_64bit_integers.reference
  dbms/tests/queries/0_stateless/00378_json_quote_64bit_integers.sql
  dbms/tests/queries/0_stateless/00937_template_output_format.reference
  dbms/tests/queries/0_stateless/00937_template_output_format.sql
  dbms/tests/queries/0_stateless/01013_totals_without_aggregation.reference
  dbms/tests/queries/0_stateless/01013_totals_without_aggregation.sql
Labels: can be tested

#7022 Fix "Unknown identifier" in ORDER BY and GROUP BY with Multiple Joins
  dbms/src/Interpreters/JoinToSubqueryTransformVisitor.cpp
  dbms/tests/queries/0_stateless/00847_multiple_join_same_column.sql
  dbms/tests/queries/0_stateless/00882_multiple_join_no_alias.reference
  dbms/tests/queries/0_stateless/00882_multiple_join_no_alias.sql
Labels: pr-bugfix

#7020 Outline methods to get needed instantiations.
  dbms/src/DataTypes/DataTypeLowCardinality.cpp
  dbms/src/DataTypes/DataTypeLowCardinality.h
Labels: can be tested, pr-build

#6968 [RFC] Introduce create_as_skip_indices
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/tests/queries/0_stateless/01011_test_create_as_skip_indices.reference
  dbms/tests/queries/0_stateless/01011_test_create_as_skip_indices.sql
Labels: can be tested

#7037 Fix osx build
  dbms/src/Common/PoolWithFailoverBase.h
  dbms/src/Common/QueryProfiler.cpp
  dbms/src/Common/StackTrace.cpp
  dbms/src/Common/TraceCollector.cpp
  dbms/src/Common/checkStackSize.cpp
  dbms/src/Common/new_delete.cpp
  dbms/src/Functions/registerFunctionsIntrospection.cpp
  dbms/src/Interpreters/MetricLog.cpp
  libs/libcommon/src/sleep.cpp
Labels: can be tested

#6957 added bitmapSubsetLimit
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  dbms/src/Functions/FunctionsBitmap.cpp
  dbms/src/Functions/FunctionsBitmap.h
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
  docs/en/query_language/functions/bitmap_functions.md
  docs/zh/query_language/functions/bitmap_functions.md
Labels: can be tested

#7032 Avoid SIGSEGV on batch send failure (file with index XX is absent)
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
Labels: can be tested

#6894 [RFC] Add sparsehash support for hashed dictionary (to reduce memory usage)
  dbms/src/Dictionaries/CMakeLists.txt
  dbms/src/Dictionaries/HashedDictionary.cpp
  dbms/src/Dictionaries/HashedDictionary.h
  dbms/src/Functions/CMakeLists.txt
  dbms/tests/config/ints_dictionary.xml
  dbms/tests/queries/0_stateless/00950_dict_get.reference
  dbms/tests/queries/0_stateless/00950_dict_get.sql
  docs/en/query_language/dicts/external_dicts_dict_layout.md
Labels: can be tested

#5596 s3 table function and storage
  dbms/src/IO/HTTPCommon.cpp
  dbms/src/IO/HTTPCommon.h
  dbms/src/IO/ReadBufferFromS3.cpp
  dbms/src/IO/ReadBufferFromS3.h
  dbms/src/IO/WriteBufferFromS3.cpp
  dbms/src/IO/WriteBufferFromS3.h
  dbms/src/Storages/StorageS3.cpp
  dbms/src/Storages/StorageS3.h
  dbms/src/Storages/registerStorages.cpp
  dbms/src/TableFunctions/TableFunctionS3.cpp
  dbms/src/TableFunctions/TableFunctionS3.h
  dbms/src/TableFunctions/registerTableFunctions.cpp
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/runner
  dbms/tests/integration/test_storage_s3/__init__.py
  dbms/tests/integration/test_storage_s3/configs/min_chunk_size.xml
  dbms/tests/integration/test_storage_s3/test.py
  dbms/tests/integration/test_storage_s3/test_server.py
Labels: can be tested

#7042 Initial fuzzing support with libfuzzer
  CMakeLists.txt
  cmake/sanitize.cmake
  dbms/src/Compression/tests/CMakeLists.txt
  dbms/src/Compression/tests/compressed_buffer_fuzz.cpp
  release
Labels: can be tested

#7036 fix bitmapMin and bitmapMax doc
  dbms/src/Functions/FunctionsBitmap.h
  docs/en/query_language/functions/bitmap_functions.md
Labels: documentation, pr-doc-fix

#6969 Add ability to send events with absolute values to graphite
  dbms/programs/server/MetricsTransmitter.cpp
  dbms/programs/server/MetricsTransmitter.h
  dbms/programs/server/config.xml
  docs/en/operations/server_settings/settings.md
  docs/ru/operations/server_settings/settings.md
Labels: can be tested

#7011 [docs] fix Jinja2
  docs/tools/requirements.txt
Labels: documentation, pr-doc-fix

#7058 Also pack config into shared archive
  docker/packager/binary/build.sh
Labels: do not test, pr-build

#7064 Move yandex -> ClickHouse
  .github/ISSUE_TEMPLATE/bug-report-or-unexpected-behaviour.md
  .github/ISSUE_TEMPLATE/performance-issue.md
  CHANGELOG.md
  README.md
  SECURITY.md
  dbms/src/Common/SensitiveDataMasker.h
  dbms/src/Interpreters/PredicateExpressionsOptimizer.h
  dbms/src/Interpreters/RowRefs.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  dbms/tests/instructions/developer_instruction_ru.md
  dbms/tests/instructions/easy_tasks_sorted_ru.md
  dbms/tests/integration/test_block_structure_mismatch/test.py
  dbms/tests/performance/if_array_string.xml
  dbms/tests/queries/0_stateless/00504_insert_miss_columns.sh
  dbms/tests/queries/0_stateless/00506_union_distributed.sql
  docker/client/README.md
  docker/server/README.md
  docker/test/README.md
  docs/en/getting_started/example_datasets/metrica.md
  docs/en/interfaces/jdbc.md
  docs/en/interfaces/odbc.md
  docs/en/interfaces/tcp.md
  docs/en/operations/backup.md
  docs/en/operations/settings/query_complexity.md
  docs/en/operations/table_engines/mergetree.md
  docs/en/query_language/alter.md
  docs/en/query_language/create.md
  docs/en/query_language/operators.md
  docs/fa/interfaces/jdbc.md
  docs/fa/interfaces/odbc.md
  docs/fa/interfaces/tcp.md
  docs/ru/getting_started/example_datasets/metrica.md
  docs/ru/interfaces/jdbc.md
  docs/ru/interfaces/odbc.md
  docs/ru/interfaces/tcp.md
  docs/ru/operations/backup.md
  docs/ru/operations/settings/query_complexity.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/alter.md
  docs/ru/query_language/create.md
  docs/ru/query_language/operators.md
  docs/tools/github.py
  docs/zh/interfaces/jdbc.md
  docs/zh/interfaces/odbc.md
  docs/zh/interfaces/tcp.md
  docs/zh/operations/settings/query_complexity.md
  docs/zh/operations/table_engines/mergetree.md
  docs/zh/query_language/create.md
  utils/ci/default-config
  utils/report/clickhouse-report
  website/README.md
  website/deprecated/reference.css
  website/deprecated/reference_en.html
  website/deprecated/reference_ru.html
  website/index.html
  website/tutorial.html
Labels: documentation, pr-doc-fix

#7024 Fixed Function Hex for Float32 and Float64
  dbms/src/Functions/FunctionsCoding.h
  dbms/tests/queries/0_stateless/01013_hex_float.reference
  dbms/tests/queries/0_stateless/01013_hex_float.sql
Labels: can be tested

#6914 + Redirect URL Storage
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Core/Settings.h
  dbms/src/IO/HTTPCommon.cpp
  dbms/src/IO/HTTPCommon.h
  dbms/src/IO/ReadWriteBufferFromHTTP.h
  dbms/src/IO/WriteBufferFromHTTP.cpp
  dbms/src/Storages/MergeTree/DataPartsExchange.cpp
  dbms/src/Storages/StorageURL.cpp
  dbms/tests/integration/test_redirect_url_storage/__init__.py
  dbms/tests/integration/test_redirect_url_storage/test.py
Labels: can be tested

#7072 Get proper stack address on osx
  dbms/src/Common/checkStackSize.cpp
Labels: can be tested

#7062 Fix msan for LowCardinality
  dbms/src/Core/Block.cpp
  dbms/src/Core/Block.h
  dbms/src/Functions/IFunction.cpp
Labels: pr-bugfix

#7069 Fixed compatibility for distributed queries between 19.14 and earlier versions
  dbms/src/Interpreters/ClusterProxy/executeQuery.cpp
Labels: pr-bugfix

#7066 Prepare for MemorySanitizer build in CI.
  cmake/sanitize.cmake
Labels: pr-build

#6995 Docs(hash_functions): fix javaHash & hiveHash functions
  docs/en/query_language/functions/hash_functions.md
  docs/ru/query_language/functions/hash_functions.md
Labels: documentation, pr-doc-fix

#7055 DOCAPI-7437: EN review, RU translation for os_thread_priority docs
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: documentation, pr-documentation

#7056 DOCAPI-7743: EN review, RU translation for CREATE TABLE AS table_function() docs
  docs/en/query_language/table_functions/index.md
  docs/ru/query_language/select.md
  docs/ru/query_language/table_functions/index.md
Labels: documentation, pr-documentation

#6157 Doc fix for SELECT ... FINAL
  docs/en/query_language/select.md
  docs/ru/query_language/select.md
Labels: documentation, pr-doc-fix

#7051 DOCAPI-7745: EN review, RU translation for optimize_throw_if_noop docs
  docs/en/operations/settings/settings.md
  docs/en/query_language/misc.md
  docs/ru/operations/settings/settings.md
  docs/ru/query_language/misc.md
Labels: documentation, pr-doc-fix

#7045 DOCAPI-7695: EN review, RU translation. Functions support for indexes
  docs/en/operations/table_engines/mergetree.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/functions/array_functions.md
Labels: documentation, pr-documentation

#7040 DOCAPI-7991: EN review, RU translation for the update of Log engines docs
  docs/en/operations/table_engines/log_family.md
  docs/en/operations/table_engines/tinylog.md
  docs/ru/operations/table_engines/log_family.md
  docs/ru/operations/table_engines/tinylog.md
Labels: documentation, pr-documentation

#7035 DOCAPI-7984: EN review, RU translation. ASOF JOIN ON docs
  docs/en/query_language/select.md
  docs/ru/query_language/select.md
Labels: documentation, pr-documentation

#7034 DOCAPI-7460: EN review. RU translation. Histogram function description
  docs/en/query_language/agg_functions/parametric_functions.md
  docs/ru/query_language/agg_functions/parametric_functions.md
Labels: documentation, pr-documentation

#7033 DOCAPI-7438: EN review, RU translation. Update of quantileTiming docs
  docs/en/query_language/agg_functions/reference.md
  docs/ru/data_types/float.md
  docs/ru/query_language/agg_functions/reference.md
Labels: documentation, pr-documentation

#7025 DOCAPI-7430: EN review, RU translation. MergeTree INDEX bloom filter docs.
  docs/en/operations/table_engines/mergetree.md
  docs/ru/operations/table_engines/mergetree.md
Labels: documentation, pr-documentation

#7017 DOCAPI-7415: EN review, RU translation. Docs for the -Resample aggregate function combinator.
  docs/en/query_language/agg_functions/combinators.md
  docs/ru/query_language/agg_functions/combinators.md
  docs/ru/query_language/agg_functions/reference.md
Labels: documentation

#6992 Docs(hash_functions): fix `xxHash32`, `xxHash64`
  docs/en/query_language/functions/hash_functions.md
  docs/ru/query_language/functions/hash_functions.md
Labels: documentation, pr-doc-fix

#7075 Revert "CHYT-142: extend KeyCondition interface so that it returns BoolMask"
  dbms/src/Interpreters/Set.cpp
  dbms/src/Interpreters/Set.h
  dbms/src/Storages/MergeTree/KeyCondition.cpp
  dbms/src/Storages/MergeTree/KeyCondition.h
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
Labels: pr-bugfix

#7087 Add instruction for cross-compilation for Mac OS X
  docker/packager/packager
  docs/en/development/build.md
  docs/en/development/build_cross.md
Labels: pr-documentation

#7026 Do not use iterators in find() and emplace() methods of hash tables.
  dbms/programs/obfuscator/Obfuscator.cpp
  dbms/src/AggregateFunctions/AggregateFunctionGroupUniqArray.h
  dbms/src/Columns/ReverseIndex.h
  dbms/src/Common/ColumnsHashing.h
  dbms/src/Common/ColumnsHashingImpl.h
  dbms/src/Common/HashTable/ClearableHashMap.h
  dbms/src/Common/HashTable/ClearableHashSet.h
  dbms/src/Common/HashTable/FixedClearableHashMap.h
  dbms/src/Common/HashTable/FixedClearableHashSet.h
  dbms/src/Common/HashTable/FixedHashMap.h
  dbms/src/Common/HashTable/FixedHashTable.h
  dbms/src/Common/HashTable/HashMap.h
  dbms/src/Common/HashTable/HashSet.h
  dbms/src/Common/HashTable/HashTable.h
  dbms/src/Common/HashTable/TwoLevelHashMap.h
  dbms/src/Common/HashTable/TwoLevelHashTable.h
  dbms/src/Common/SpaceSaving.h
  dbms/src/Common/tests/auto_array.cpp
  dbms/src/Common/tests/hash_table.cpp
  dbms/src/Common/tests/parallel_aggregation.cpp
  dbms/src/Common/tests/parallel_aggregation2.cpp
  dbms/src/Core/tests/string_pool.cpp
  dbms/src/DataTypes/DataTypeEnum.cpp
  dbms/src/DataTypes/DataTypeEnum.h
  dbms/src/Dictionaries/ComplexKeyCacheDictionary.h
  dbms/src/Dictionaries/ComplexKeyHashedDictionary.cpp
  dbms/src/Dictionaries/HashedDictionary.cpp
  dbms/src/Dictionaries/RangeHashedDictionary.cpp
  dbms/src/Functions/addressToLine.cpp
  dbms/src/Functions/array/arrayDistinct.cpp
  dbms/src/Functions/transform.cpp
  dbms/src/Interpreters/Aggregator.cpp
  dbms/src/Interpreters/SetVariants.h
  dbms/src/Interpreters/tests/hash_map.cpp
  dbms/src/Interpreters/tests/hash_map_lookup.cpp
  dbms/src/Interpreters/tests/hash_map_string.cpp
  dbms/src/Interpreters/tests/hash_map_string_2.cpp
  dbms/src/Interpreters/tests/hash_map_string_3.cpp
  dbms/src/Interpreters/tests/hash_map_string_small.cpp
  dbms/src/Interpreters/tests/two_level_hash_map.cpp
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.h
  dbms/src/Processors/Formats/Impl/TSKVRowInputFormat.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataWriter.cpp
Labels: pr-codecleanup

#7086 little improvement in DatabaseOrdinary code
  dbms/src/Databases/DatabaseOrdinary.cpp
  dbms/src/Databases/DatabaseOrdinary.h
Labels: can be tested, pr-build

#6831 DOCAPI-7719: Columns matcher docs
  docs/en/operations/table_engines/mysql.md
  docs/en/query_language/select.md
Labels: documentation, pr-documentation

#6927 Doc change. Added description for interserver_http_credentials
  docs/en/operations/server_settings/settings.md
  docs/ru/operations/server_settings/settings.md
Labels: documentation, pr-documentation

#6952 DOCAPI-8163: Update for EN docs for sequenceMatch and sequenceCount
  docs/en/query_language/agg_functions/parametric_functions.md
Labels: documentation, pr-doc-fix

#7098 Fixing links in docs
  docs/en/operations/table_engines/hdfs.md
  docs/ru/development/build_cross.md
  docs/ru/operations/table_engines/hdfs.md
  docs/ru/query_language/agg_functions/parametric_functions.md
  docs/ru/query_language/functions/other_functions.md
  docs/ru/query_language/select.md
  docs/toc_en.yml
  docs/toc_ru.yml
Labels: documentation, pr-doc-fix

#7073 add obsoletes section to clickhouse-server spec
  utils/release/release_lib.sh
Labels: can be tested

#7101 Disable some contribs for cross-compilation
  cmake/target.cmake
Labels: pr-build

#7012 DOCAPI-6422: EN docs for adaptive index granularity and some settings
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/mergetree.md
  docs/toc_zh.yml
  docs/zh/development/build_cross.md
Labels: documentation, pr-documentation

#7021 DOCAPI-7413: EN revew, RU translation. T64 codec docs
  docs/en/query_language/create.md
  docs/ru/query_language/create.md
Labels: documentation, pr-documentation

#7116 Change redirect to presentations GitHub pages
  website/nginx/default.conf
Labels: documentation, pr-doc-fix

#7110 DOCAPI-8299: Added a link with metrics for system.metrics
  docs/en/operations/system_tables.md
Labels: documentation, pr-doc-fix

#7093 Add merge metric
  dbms/src/Common/ProfileEvents.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/tests/queries/0_stateless/01014_count_of_merges_metrics.reference
  dbms/tests/queries/0_stateless/01014_count_of_merges_metrics.sql
Labels: can be tested

#7108 Update mergetree.md
  docs/zh/operations/table_engines/mergetree.md
Labels: documentation, pr-doc-fix

#7065 Get rid of malloc symbols in libcommon
  CMakeLists.txt
  dbms/CMakeLists.txt
  dbms/programs/CMakeLists.txt
  dbms/src/Client/tests/CMakeLists.txt
  dbms/src/Processors/tests/CMakeLists.txt
  libs/libcommon/CMakeLists.txt
  libs/libcommon/src/tests/CMakeLists.txt
  libs/libmysqlxx/src/tests/CMakeLists.txt
Labels: can be tested

#7128 DOCAPI-8799: Updated SHOW TABLE dscr. Restructured TOC
  docs/en/operations/server_settings/settings.md
  docs/en/query_language/misc.md
  docs/en/query_language/show.md
  docs/fa/query_language/show.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_zh.yml
  docs/zh/query_language/show.md
Labels: documentation, pr-documentation

#7111 Small dictionaries refactoring
  dbms/programs/server/Server.cpp
  dbms/src/Databases/DatabaseDictionary.cpp
  dbms/src/Dictionaries/CacheDictionary.inc.h
  dbms/src/Dictionaries/Embedded/GeoDictionariesLoader.h
  dbms/src/Dictionaries/Embedded/IGeoDictionariesLoader.h
  dbms/src/Functions/FunctionsExternalDictionaries.h
  dbms/src/Functions/FunctionsExternalModels.cpp
  dbms/src/Functions/FunctionsExternalModels.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/EmbeddedDictionaries.cpp
  dbms/src/Interpreters/EmbeddedDictionaries.h
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/src/Interpreters/ExternalDictionariesLoader.cpp
  dbms/src/Interpreters/ExternalDictionariesLoader.h
  dbms/src/Interpreters/ExternalLoader.cpp
  dbms/src/Interpreters/ExternalLoader.h
  dbms/src/Interpreters/ExternalLoaderConfigRepository.h
  dbms/src/Interpreters/ExternalModelsLoader.cpp
  dbms/src/Interpreters/ExternalModelsLoader.h
  dbms/src/Interpreters/IExternalLoadable.cpp
  dbms/src/Interpreters/IExternalLoadable.h
  dbms/src/Interpreters/IExternalLoaderConfigRepository.h
  dbms/src/Interpreters/IRuntimeComponentsFactory.h
  dbms/src/Interpreters/IUsersManager.h
  dbms/src/Interpreters/InterpreterSystemQuery.cpp
  dbms/src/Interpreters/RuntimeComponentsFactory.h
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/src/Interpreters/UsersManager.h
  dbms/src/Storages/StorageDictionary.cpp
  dbms/src/Storages/System/StorageSystemDictionaries.cpp
  dbms/src/Storages/System/StorageSystemModels.cpp
Labels: pr-codecleanup

#7132 Corrections to tests 00992/00993: changed "ALTER DELETE ..." mutations to be deterministic
  dbms/tests/queries/0_stateless/00992_system_parts_race_condition_zookeeper.sh
  dbms/tests/queries/0_stateless/00993_system_parts_race_condition_drop_zookeeper.sh
Labels: pr-bugfix

#7139 Doc change. translation to Russian some array functions
  docs/ru/query_language/functions/array_functions.md
Labels: documentation, pr-documentation

#7043 DOCAPI-8259: EN review, RU translation. toInt, toUint docs refactoring and update
  docs/en/query_language/functions/type_conversion_functions.md
  docs/ru/query_language/functions/type_conversion_functions.md
Labels: documentation, pr-doc-fix

#7041 DOCAPI-7442: EN review, RU translation for updated system.parts docs
  docs/en/operations/system_tables.md
  docs/ru/operations/system_tables.md
  docs/ru/query_language/functions/hash_functions.md
Labels: documentation, pr-documentation

#7148 CLICKHOUSE-4669: some product placement
  website/index.html
Labels: documentation, pr-documentation

#7092 Let the choice to write credential for HTTP source on external dictionaries
  dbms/src/Dictionaries/HTTPDictionarySource.cpp
  dbms/src/Dictionaries/HTTPDictionarySource.h
  dbms/src/IO/ReadWriteBufferFromHTTP.h
  dbms/tests/integration/test_dictionaries_all_layouts_and_sources/external_sources.py
  dbms/tests/integration/test_dictionaries_all_layouts_and_sources/http_server.py
  docs/en/query_language/dicts/external_dicts_dict_sources.md
Labels: can be tested

#7134 Get rid of malloc symbols in libcommon (Another take)
  CMakeLists.txt
  dbms/CMakeLists.txt
  dbms/programs/CMakeLists.txt
  dbms/src/Client/tests/CMakeLists.txt
  dbms/src/Processors/tests/CMakeLists.txt
  libs/libcommon/CMakeLists.txt
  libs/libcommon/src/tests/CMakeLists.txt
  libs/libmysqlxx/src/tests/CMakeLists.txt
Labels: can be tested

#7112 Docs(startsWith): Fix startsWith function
  docs/en/query_language/functions/string_functions.md
  docs/ru/query_language/functions/string_functions.md
Labels: documentation

#7118 Minor improvements of Template format
  dbms/src/Core/Settings.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatSchemaInfo.cpp
  dbms/src/Formats/FormatSchemaInfo.h
  dbms/src/Formats/FormatSettings.h
  dbms/src/Formats/ParsedTemplateFormatString.cpp
  dbms/src/Formats/ParsedTemplateFormatString.h
  dbms/src/Processors/Formats/Impl/CapnProtoRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ProtobufRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ProtobufRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/TemplateBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/TemplateBlockOutputFormat.h
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.h
  dbms/tests/queries/0_stateless/00937_template_output_format.sh
  dbms/tests/queries/0_stateless/00937_template_output_format.sql
  dbms/tests/queries/0_stateless/00938_template_input_format.sh
  dbms/tests/queries/0_stateless/01014_format_custom_separated.reference
  dbms/tests/queries/0_stateless/01014_format_custom_separated.sh
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/settings/settings.md
Labels: can be tested, documentation, pr-improvement

#7103 rpm: preserve existing configs on package upgrade
  utils/release/release_lib.sh
Labels: can be tested
