Repository ClickHouse/ClickHouse, pull requests merged in 2019-08, with the labels that each got.

#6253 Changed boost::filesystem to std::filesystem
  dbms/programs/performance-test/PerformanceTest.cpp
  dbms/programs/performance-test/PerformanceTestInfo.cpp
  dbms/programs/performance-test/PerformanceTestSuite.cpp
  dbms/src/Common/tests/compact_array.cpp
  dbms/src/Functions/filesystem.cpp
  dbms/src/IO/tests/read_buffer_aio.cpp
  dbms/src/IO/tests/write_buffer_aio.cpp
  dbms/src/Interpreters/tests/users.cpp
  dbms/src/Storages/StorageDistributed.cpp
Labels: pr-build

#6250 QueryProfiler: better stack traces: start outside of signal handler
  dbms/src/Common/QueryProfiler.cpp
  dbms/src/Common/StackTrace.cpp
  dbms/src/Common/StackTrace.h
  dbms/src/Common/TraceCollector.cpp
Labels: pr-improvement

#6209 VALUES list
  dbms/src/Parsers/ParserCreateQuery.h
  dbms/src/Storages/StorageValues.cpp
  dbms/src/Storages/StorageValues.h
  dbms/src/Storages/System/StorageSystemTableFunctions.cpp
  dbms/src/TableFunctions/ITableFunctionFileLike.cpp
  dbms/src/TableFunctions/TableFunctionFactory.cpp
  dbms/src/TableFunctions/TableFunctionFactory.h
  dbms/src/TableFunctions/TableFunctionValues.cpp
  dbms/src/TableFunctions/TableFunctionValues.h
  dbms/src/TableFunctions/parseColumnsListForTableFunction.cpp
  dbms/src/TableFunctions/parseColumnsListForTableFunction.h
  dbms/src/TableFunctions/registerTableFunctions.cpp
  dbms/tests/queries/0_stateless/00975_values_list.reference
  dbms/tests/queries/0_stateless/00975_values_list.sql
Labels: can be tested

#6247 Fixed the case when malicious ClickHouse replica can force clickhouse-server to write to arbitrary path.
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Storages/MergeTree/DataPartsExchange.cpp
Labels: pr-bugfix, security

#5949 DOCAPI-7414: groupArrayMovingSum, groupArrayMovingAvg docs.
  docs/en/query_language/agg_functions/reference.md
Labels: documentation, pr-documentation

#6255 Simplified code with parsing table declaration for table functions.
  dbms/src/Storages/StorageValues.cpp
  dbms/src/Storages/StorageValues.h
  dbms/src/TableFunctions/ITableFunctionFileLike.cpp
  dbms/src/TableFunctions/ITableFunctionFileLike.h
  dbms/src/TableFunctions/TableFunctionFile.cpp
  dbms/src/TableFunctions/TableFunctionFile.h
  dbms/src/TableFunctions/TableFunctionHDFS.cpp
  dbms/src/TableFunctions/TableFunctionHDFS.h
  dbms/src/TableFunctions/TableFunctionURL.cpp
  dbms/src/TableFunctions/TableFunctionURL.h
  dbms/src/TableFunctions/TableFunctionValues.cpp
  dbms/src/TableFunctions/parseColumnsListForTableFunction.cpp
  dbms/src/TableFunctions/parseColumnsListForTableFunction.h
  dbms/tests/queries/0_stateless/00978_table_function_values_alias.reference
  dbms/tests/queries/0_stateless/00978_table_function_values_alias.sql
Labels: pr-improvement

#6251 Added RPM packages to website
  website/index.html
Labels: pr-build

#6055 CSV unquoted nulls and default values
  dbms/src/Core/Settings.h
  dbms/src/DataTypes/DataTypeNullable.cpp
  dbms/src/DataTypes/DataTypeNullable.h
  dbms/src/Formats/CSVRowInputStream.cpp
  dbms/src/Formats/CSVRowInputStream.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatSettings.h
  dbms/tests/queries/0_stateless/00301_csv.reference
  dbms/tests/queries/0_stateless/00301_csv.sh
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/settings/settings.md
Labels: can be tested

#6270 Add meetup in Moscow to front page
  website/index.html
Labels: documentation, pr-documentation

#6288 Link fix
  docs/en/interfaces/formats.md
  docs/ru/interfaces/formats.md
Labels: documentation, pr-doc-fix

#6281 Fix LowCardinality arguments conversion in AggregateFunctionFactory
  dbms/src/AggregateFunctions/AggregateFunctionFactory.cpp
  dbms/src/DataStreams/AggregatingSortedBlockInputStream.cpp
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/tests/queries/0_stateless/00976_shard_low_cardinality_achimbab.reference
  dbms/tests/queries/0_stateless/00976_shard_low_cardinality_achimbab.sql
Labels: pr-bugfix

#6278 Fix bool settings parsing
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Core/SettingsCommon.cpp
  dbms/tests/integration/test_replica_can_become_leader/__init__.py
  dbms/tests/integration/test_replica_can_become_leader/configs/notleader.xml
  dbms/tests/integration/test_replica_can_become_leader/configs/notleaderignorecase.xml
  dbms/tests/integration/test_replica_can_become_leader/test.py
  dbms/tests/queries/0_stateless/00301_csv.sh
  dbms/tests/queries/0_stateless/00416_pocopatch_progress_in_http_headers.sh
Labels: pr-bugfix

#6271 Return Bad Request for INCORRECT_DATA and TYPE_MISMATCH errors
  dbms/programs/server/HTTPHandler.cpp
Labels: can be tested

#6303 More validation of part_name
  dbms/src/Storages/MergeTree/DataPartsExchange.cpp
Labels: pr-improvement

#6305 Fix FPE in yandexConsistentHash function
  dbms/src/Functions/FunctionsConsistentHashing.h
  dbms/tests/queries/0_stateless/00979_yandex_consistent_hash_fpe.reference
  dbms/tests/queries/0_stateless/00979_yandex_consistent_hash_fpe.sql
  libs/consistent-hashing/consistent_hashing.h
Labels: pr-bugfix, v19.1, v19.10, v19.11, v19.12, v19.3, v19.4, v19.5, v19.6, v19.7, v19.8, v19.9

#6302 Added performance test to show degradation of performance in gcc-9 in more isolated way.
  dbms/tests/performance/empty_string_deserialization.xml
  dbms/tests/performance/empty_string_serialization.xml
Labels: pr-build

#6279 Removed table function "catBoostPool" and storage "CatBoostPool"
  dbms/src/Storages/StorageCatBoostPool.cpp
  dbms/src/Storages/StorageCatBoostPool.h
  dbms/src/TableFunctions/TableFunctionCatBoostPool.cpp
  dbms/src/TableFunctions/TableFunctionCatBoostPool.h
  dbms/src/TableFunctions/registerTableFunctions.cpp
  dbms/tests/queries/0_stateless/00689_catboost_pool_files.reference
  dbms/tests/queries/0_stateless/00689_catboost_pool_files.sh
Labels: pr-codecleanup

#6301 Fixed the possibility of hanging queries when server is overloaded
  dbms/src/Common/ThreadPool.cpp
  dbms/src/Common/ThreadPool.h
  dbms/src/Common/tests/gtest_thread_pool_global_full.cpp
Labels: pr-bugfix, v19.10, v19.11, v19.12, v19.3, v19.4, v19.5, v19.6, v19.7, v19.8, v19.9

#6298 Disable consecutive key optimization for UInt8/16.
  dbms/src/Interpreters/Aggregator.h
Labels: pr-performance

#6310 Added RPM packages to english docs
  docs/en/getting_started/index.md
Labels: documentation, pr-documentation

#6309 Avoid extra dependency in Compiler (used with compile = 1 setting)
  dbms/src/Interpreters/Compiler.cpp
Labels: pr-improvement

#6315 Fixed tests affected by slow stack traces printing
  CMakeLists.txt
  dbms/CMakeLists.txt
  dbms/programs/server/Server.cpp
  dbms/src/Common/QueryProfiler.cpp
  libs/libcommon/include/common/config_common.h.in
Labels: pr-build

#6282 fix operators in set index
  dbms/src/Functions/bitBoolMaskAnd.cpp
  dbms/src/Functions/bitBoolMaskOr.cpp
  dbms/src/Functions/bitWrapperFunc.cpp
  dbms/src/Functions/registerFunctionsArithmetic.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexSet.cpp
  dbms/tests/queries/0_stateless/00838_unique_index.reference
  dbms/tests/queries/0_stateless/00838_unique_index.sh
  dbms/tests/queries/0_stateless/00979_set_index_not.reference
  dbms/tests/queries/0_stateless/00979_set_index_not.sql
Labels: can be tested

#3796 Fix materialized view with column defaults.
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Storages/StorageBlock.h
  dbms/tests/queries/0_stateless/00794_materialized_view_with_column_defaults.reference
  dbms/tests/queries/0_stateless/00794_materialized_view_with_column_defaults.sql
Labels: can be tested

#6316 Simplification of #3796
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Storages/StorageBlockInserted.h
  dbms/tests/queries/0_stateless/00794_materialized_view_with_column_defaults.sql
Labels: pr-codecleanup

#6322 Text log simplification
  dbms/programs/server/Server.cpp
  dbms/programs/server/Server.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/SystemLog.cpp
  dbms/src/Interpreters/SystemLog.h
  libs/libcommon/include/common/logger_useful.h
Labels: pr-codecleanup

#6328 Added missing [Primary Key expr] to syntax
  docs/en/operations/table_engines/replacingmergetree.md
Labels: documentation, pr-documentation

#6321 Every function in its own file, part 10
  dbms/src/Functions/FunctionsConsistentHashing.cpp
  dbms/src/Functions/FunctionsConsistentHashing.h
  dbms/src/Functions/FunctionsVisitParam.cpp
  dbms/src/Functions/FunctionsVisitParam.h
  dbms/src/Functions/jumpConsistentHash.cpp
  dbms/src/Functions/registerFunctions.cpp
  dbms/src/Functions/registerFunctionsConsistentHashing.cpp
  dbms/src/Functions/registerFunctionsVisitParam.cpp
  dbms/src/Functions/sumburConsistentHash.cpp
  dbms/src/Functions/visitParamExtractBool.cpp
  dbms/src/Functions/visitParamExtractFloat.cpp
  dbms/src/Functions/visitParamExtractInt.cpp
  dbms/src/Functions/visitParamExtractRaw.cpp
  dbms/src/Functions/visitParamExtractString.cpp
  dbms/src/Functions/visitParamExtractUInt.cpp
  dbms/src/Functions/visitParamHas.cpp
  dbms/src/Functions/yandexConsistentHash.cpp
Labels: pr-codecleanup

#6327 Attempt to make changelog generator better. Changelog for 19.10 and 19.11.
  CHANGELOG.md
  utils/make_changelog.py
Labels: pr-build

#6280 TRANSLATE-3776: Query log docs. EN review. RU translation.
  docs/en/operations/system_tables.md
  docs/ru/operations/system_tables.md
Labels: documentation, pr-doc-fix

#6210 TRANSLATE-2372: EN review of MergeTree docs.
  docs/en/operations/table_engines/mergetree.md
Labels: documentation, pr-doc-fix

#6324 Fix recursive materialized view
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.cpp
  dbms/tests/queries/0_stateless/00148_summing_merge_tree_aggregate_function.sql
  dbms/tests/queries/0_stateless/00975_recursive_materialized_view.reference
  dbms/tests/queries/0_stateless/00975_recursive_materialized_view.sql
Labels: can be tested

#6350 Added option to generate changelog from a list of PRs
  CHANGELOG.md
  utils/make_changelog.py
Labels: pr-build

#6360 Changelog 19.11.5.
  CHANGELOG.md
Labels: do not test

#6344 Optimize Count() Cond.
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
Labels: can be tested

#6348 build fix
  dbms/programs/server/Server.cpp
Labels: can be tested, need info

#6329 Added optional message argument in throwIf (#5772)
  dbms/src/Functions/throwIf.cpp
  dbms/tests/queries/0_stateless/00602_throw_if.reference
  dbms/tests/queries/0_stateless/00602_throw_if.sh
Labels: can be tested

#6379 Add links to hits_100m dataset.
  docs/en/getting_started/example_datasets/metrica.md
Labels: pr-build

#6347 DOCAPI-7413: T64 codec docs
  docs/en/operations/table_engines/mergetree.md
  docs/en/query_language/create.md
Labels: documentation, pr-documentation

#6354 Fix infinite loop when reading Kafka messages
  dbms/src/Storages/IStorage.cpp
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/StorageValues.cpp
  dbms/tests/integration/test_storage_kafka/test.py
Labels: pr-bugfix

#6376 DOCAPI-8016: Adam weights
  docs/en/query_language/agg_functions/reference.md
  docs/ru/query_language/agg_functions/reference.md
Labels: documentation, pr-documentation

#6165 DOCAPI-7783: Update of the SET query documentation
  docs/en/query_language/misc.md
Labels: documentation, pr-doc-fix

#6352 Print extra info in exception message for "no space left on device"
  dbms/src/Common/CounterInFile.h
  dbms/src/Common/Exception.cpp
  dbms/src/Common/Exception.h
  dbms/src/Common/StatusFile.cpp
  dbms/src/Common/createHardLink.cpp
  dbms/src/IO/MMapReadBufferFromFile.cpp
  dbms/src/IO/ReadBufferAIO.cpp
  dbms/src/IO/ReadBufferFromFile.cpp
  dbms/src/IO/ReadBufferFromFileDescriptor.cpp
  dbms/src/IO/WriteBufferAIO.cpp
  dbms/src/IO/WriteBufferFromFile.cpp
  dbms/src/IO/WriteBufferFromFileDescriptor.cpp
  dbms/src/IO/WriteBufferFromTemporaryFile.cpp
  dbms/src/Storages/Distributed/DistributedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/DiskSpaceMonitor.h
  dbms/src/Storages/MergeTree/MergeTreeDataPart.cpp
  dbms/src/Storages/StorageStripeLog.cpp
  dbms/src/Storages/StorageTinyLog.cpp
  dbms/src/Storages/tests/remove_symlink_directory.cpp
Labels: can be tested

#6345 Fixed links in monitoring.md
  docs/en/operations/monitoring.md
Labels: can be tested, documentation

#6384 Fix segfault with enabled 'optimize_skip_unused_shards' and missing sharding key.
  dbms/src/Storages/StorageDistributed.cpp
  dbms/tests/queries/0_stateless/00980_skip_unused_shards_without_sharding_key.reference
  dbms/tests/queries/0_stateless/00980_skip_unused_shards_without_sharding_key.sql
Labels: pr-bugfix

#6385 Changed boost::filesystem to std::filesystem, part 2.
  libs/libcommon/src/DateLUT.cpp
Labels: pr-codecleanup

#6389 Removed extra verbose logging from MySQL handler
  dbms/programs/server/MySQLHandler.cpp
Labels: pr-bugfix

#6388 Added a test just in case
  dbms/src/Storages/tests/gtest_transform_query_for_external_database.cpp
Labels: pr-build

#6390 Fix for Mac OS build
  dbms/src/Common/HashTable/Hash.h
Labels: pr-build

#6314 added bitmapRange function
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  dbms/src/Functions/FunctionsBitmap.cpp
  dbms/src/Functions/FunctionsBitmap.h
  dbms/src/IO/tests/write_buffer_aio.cpp
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
  docs/en/query_language/functions/bitmap_functions.md
  docs/zh/query_language/functions/bitmap_functions.md
Labels: can be tested

#6392 Attempt to fix performance test
  dbms/src/DataStreams/IBlockInputStream.h
  dbms/src/DataStreams/NullAndDoCopyBlockInputStream.h
  dbms/tests/queries/0_stateless/00209_insert_select_extremes.reference
  dbms/tests/queries/0_stateless/00210_insert_select_extremes_http.reference
Labels: pr-bugfix

#6406 No virtual columns in system.columns
  dbms/src/Storages/System/StorageSystemColumns.cpp
  dbms/tests/queries/0_stateless/00981_no_virtual_columns_in_system_columns.reference
  dbms/tests/queries/0_stateless/00981_no_virtual_columns_in_system_columns.sql
Labels: pr-bugfix

#6409 Fixed unsafe code around "getIdentifier" function.
  dbms/src/DataTypes/DataTypeAggregateFunction.cpp
  dbms/src/DataTypes/DataTypeCustomSimpleAggregateFunction.cpp
  dbms/src/Interpreters/ActionsVisitor.cpp
  dbms/src/Interpreters/ColumnNamesContext.h
  dbms/src/Interpreters/GlobalSubqueriesVisitor.h
  dbms/src/Interpreters/QueryNormalizer.cpp
  dbms/src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Parsers/ASTIdentifier.cpp
  dbms/src/Parsers/ASTIdentifier.h
  dbms/src/Parsers/ExpressionElementParsers.cpp
  dbms/src/Parsers/ParserAlterQuery.cpp
  dbms/src/Parsers/ParserCheckQuery.cpp
  dbms/src/Parsers/ParserCreateQuery.cpp
  dbms/src/Parsers/ParserCreateQuery.h
  dbms/src/Parsers/ParserDropQuery.cpp
  dbms/src/Parsers/ParserInsertQuery.cpp
  dbms/src/Parsers/ParserOptimizeQuery.cpp
  dbms/src/Parsers/ParserRenameQuery.cpp
  dbms/src/Parsers/ParserSetQuery.cpp
  dbms/src/Parsers/ParserShowTablesQuery.cpp
  dbms/src/Parsers/ParserTablePropertiesQuery.cpp
  dbms/src/Parsers/ParserUseQuery.cpp
  dbms/src/Parsers/parseDatabaseAndTableName.cpp
  dbms/src/Parsers/parseIdentifierOrStringLiteral.cpp
  dbms/src/Storages/AlterCommands.cpp
  dbms/src/Storages/ColumnsDescription.cpp
  dbms/src/Storages/MergeTree/MergeTreeWhereOptimizer.cpp
  dbms/src/Storages/MergeTree/registerStorageMergeTree.cpp
  dbms/src/Storages/PartitionCommands.cpp
  dbms/src/Storages/StorageFile.cpp
  dbms/src/Storages/StorageJoin.cpp
  dbms/src/TableFunctions/TableFunctionRemote.cpp
  dbms/tests/queries/0_stateless/00983_summing_merge_tree_not_an_identifier.reference
  dbms/tests/queries/0_stateless/00983_summing_merge_tree_not_an_identifier.sql
Labels: pr-bugfix

#6411 DOCAPI-7436: enum
  docs/en/data_types/enum.md
Labels: documentation, pr-documentation

#6410 Slightly more safe parsing of NamesAndTypesList
  dbms/src/Core/NamesAndTypes.cpp
Labels: pr-improvement

#6424 Fix old release versions in changelog
  CHANGELOG.md
Labels: pr-doc-fix

#6428 Fix behavior low cardinality setting in creating materialized view (Fix #6293)
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/tests/queries/0_stateless/00982_low_cardinality_setting_in_mv.reference
  dbms/tests/queries/0_stateless/00982_low_cardinality_setting_in_mv.sql
Labels: pr-improvement

#6433 Fixed possible stack overflow in parser
  dbms/programs/client/Client.cpp
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Common/checkStackSize.cpp
  dbms/src/Common/checkStackSize.h
  dbms/src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  dbms/src/Interpreters/InterpreterInsertQuery.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Parsers/ExpressionListParsers.cpp
  dbms/src/Parsers/IParser.h
  dbms/src/Parsers/IParserBase.cpp
  dbms/src/Parsers/parseQuery.cpp
  dbms/src/Processors/Formats/Impl/ValuesRowInputFormat.cpp
  dbms/src/Storages/StorageMerge.cpp
  dbms/src/TableFunctions/parseColumnsListForTableFunction.cpp
  dbms/tests/queries/0_stateless/00984_parser_stack_overflow.reference
  dbms/tests/queries/0_stateless/00984_parser_stack_overflow.sh
  dbms/tests/queries/0_stateless/00985_merge_stack_overflow.reference
  dbms/tests/queries/0_stateless/00985_merge_stack_overflow.sql
  dbms/tests/queries/0_stateless/00986_materialized_view_stack_overflow.reference
  dbms/tests/queries/0_stateless/00986_materialized_view_stack_overflow.sql
  dbms/tests/queries/0_stateless/00987_distributed_stack_overflow.reference
  dbms/tests/queries/0_stateless/00987_distributed_stack_overflow.sql
Labels: pr-bugfix, security

#6415 Do not convert columns by position when pushing to materialized views
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.cpp
  dbms/tests/queries/0_stateless/00984_materialized_view_to_columns.reference
  dbms/tests/queries/0_stateless/00984_materialized_view_to_columns.sql
Labels: pr-bugfix

#6404 Fix topK and topKWeighted functions.
  dbms/src/Common/SpaceSaving.h
  dbms/tests/queries/0_stateless/00981_topK_topKWeighted_long.reference
  dbms/tests/queries/0_stateless/00981_topK_topKWeighted_long.sql
Labels: pr-bugfix

#6400 Add more virtual columns to Kafka engine
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/tests/integration/test_storage_kafka/test.py
  dbms/tests/integration/test_storage_kafka/test_kafka_virtual1.reference
  dbms/tests/integration/test_storage_kafka/test_kafka_virtual2.reference
Labels: pr-feature

#6438 Speed-up parts loading and removal
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeSettings.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/tests/queries/0_stateless/00988_parallel_parts_removal.reference
  dbms/tests/queries/0_stateless/00988_parallel_parts_removal.sql
  dbms/tests/queries/0_stateless/00989_parallel_parts_loading.reference
  dbms/tests/queries/0_stateless/00989_parallel_parts_loading.sql
Labels: pr-performance

#6435 Batch aggregator (experimental)
  dbms/src/AggregateFunctions/AggregateFunctionCount.h
  dbms/src/AggregateFunctions/IAggregateFunction.h
  dbms/src/DataStreams/ParallelAggregatingBlockInputStream.cpp
  dbms/src/DataStreams/ParallelAggregatingBlockInputStream.h
  dbms/src/Interpreters/Aggregator.cpp
  dbms/src/Interpreters/Aggregator.h
  dbms/src/Interpreters/SpecializedAggregator.h
  dbms/src/Processors/Transforms/AggregatingTransform.cpp
  dbms/src/Processors/Transforms/AggregatingTransform.h
Labels: pr-improvement

#6442 Added a test for the limit on expansion of aliases just in case
  dbms/tests/queries/0_stateless/00988_expansion_aliases_limit.reference
  dbms/tests/queries/0_stateless/00988_expansion_aliases_limit.sql
Labels: pr-build

#6441 Slightly better information messages
  dbms/programs/server/Server.cpp
  dbms/src/Common/getExecutablePath.cpp
  dbms/src/Common/getExecutablePath.h
  libs/libcommon/include/common/logger_useful.h
  libs/libdaemon/src/BaseDaemon.cpp
Labels: pr-improvement

#6423 Fix arrayEnumerateUniqRanked function.
  dbms/src/Functions/array/arrayEnumerateRanked.h
  dbms/tests/queries/0_stateless/00909_arrayEnumerateUniq.reference
  dbms/tests/queries/0_stateless/00982_array_enumerate_uniq_ranked.reference
  dbms/tests/queries/0_stateless/00982_array_enumerate_uniq_ranked.sql
Labels: pr-bugfix

#6221 DOCAPI-5765 и 5766: system.tables docs. EN review. RU translation
  docs/en/operations/system_tables.md
  docs/ru/operations/system_tables.md
Labels: documentation, pr-doc-fix

#6292 Skip introduction/info.md in single page docs
  docs/tools/concatenate.py
Labels: documentation, pr-doc-fix

#6452 Fix recreation of replicated table with fixed granularity
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.h
  dbms/tests/integration/test_adaptive_granularity_replicated/__init__.py
  dbms/tests/integration/test_adaptive_granularity_replicated/test.py
Labels: pr-bugfix

#6456 CurrentThread initialization bug
  dbms/src/Common/CurrentThread.cpp
  dbms/src/Common/CurrentThread.h
  libs/libloggers/loggers/OwnSplitChannel.cpp
Labels: pr-bugfix

#6447 Fix bug with memory allocation for string fields in complex key cache dictionary
  dbms/src/Dictionaries/ComplexKeyCacheDictionary_setAttributeValue.cpp
  dbms/tests/integration/test_cached_dictionary_string/__init__.py
  dbms/tests/integration/test_cached_dictionary_string/configs/config.xml
  dbms/tests/integration/test_cached_dictionary_string/configs/dictionaries/complex_key_cache_string.xml
  dbms/tests/integration/test_cached_dictionary_string/configs/users.xml
  dbms/tests/integration/test_cached_dictionary_string/test.py
Labels: pr-bugfix

#6444 Fixed Gorilla encoding error on small sequences.
  dbms/src/Compression/CompressionCodecGorilla.cpp
  dbms/src/Compression/ICompressionCodec.cpp
  dbms/src/Compression/tests/gtest_compressionCodec.cpp
Labels: can be tested

#6446 nullIf return now the correct result when both arguments are constants
  dbms/src/Functions/nullIf.cpp
  dbms/tests/queries/0_stateless/00395_nullable.reference
  dbms/tests/queries/0_stateless/00395_nullable.sql
Labels: can be tested

#6465 Add link to Hong Kong Meetup to website front page
  website/index.html
Labels: documentation, pr-documentation

#6453 Fix shared build
  CMakeLists.txt
Labels: pr-build

#6469 ZH docs build fix
  docs/zh/data_types/domains/ipv4.md
  docs/zh/data_types/domains/ipv6.md
  docs/zh/data_types/domains/overview.md
Labels: documentation

#6485 Add Paris Meetup link to front page
  website/index.html
Labels: documentation, pr-documentation

#6382 DOCAPI-7443: Virtual columns docs update.
  docs/en/operations/table_engines/index.md
  docs/en/operations/table_engines/kafka.md
  docs/en/operations/table_engines/merge.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
Labels: documentation, pr-documentation

#6262 DOCAPI-7090: SYSTEM DISTRIBUTED docs. EN review. RU translation.
  docs/en/query_language/system.md
  docs/ru/query_language/system.md
Labels: documentation, pr-documentation

#6427 In performance test, do not read query log for queries we didn't run.
  dbms/programs/performance-test/PerformanceTest.cpp
Labels: pr-build

#6407 DOCAPI-7062: MySQL database engine and MergeTree TTL docs. EN review, RU translation
  docs/en/database_engines/index.md
  docs/en/database_engines/mysql.md
  docs/en/operations/table_engines/mergetree.md
  docs/en/query_language/create.md
  docs/ru/database_engines/index.md
  docs/ru/database_engines/mysql.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/create.md
  docs/ru/query_language/operators.md
Labels: documentation, pr-documentation

#6470 Function currentUser()
  dbms/src/Functions/currentUser.cpp
  dbms/src/Functions/registerFunctionsMiscellaneous.cpp
  dbms/tests/queries/0_stateless/00990_function_current_user.reference
  dbms/tests/queries/0_stateless/00990_function_current_user.sql
  docs/en/query_language/functions/other_functions.md
  docs/ru/query_language/functions/other_functions.md
Labels: can be tested

#6494 Fix arg type forPipelineExecutor::prepareProcessor
  dbms/src/Processors/Executors/PipelineExecutor.h
Labels: pr-build

#6487 Some more translation of ToC to Chinese
  docs/toc_zh.yml
Labels: documentation, pr-documentation

#5972 DOCAPI-7415: Docs for the -Resample aggregate function combinator.
  docs/en/query_language/agg_functions/combinators.md
  docs/en/query_language/agg_functions/reference.md
Labels: documentation, pr-documentation

#6490 DOCAPI-7431: Formatted queries docs
  docs/en/interfaces/cli.md
  docs/en/interfaces/http.md
Labels: documentation, pr-documentation

#6509 Add test for multiple materialized views for Kafka table
  dbms/tests/integration/test_storage_kafka/test.py
Labels: pr-build

#6507 Fix test_external_dictionaries for non root user.
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/test_external_dictionaries/external_sources.py
Labels: pr-build

#6467 system.metric_log table
  dbms/programs/server/config.d/metric_log.xml
  dbms/programs/server/config.xml
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/InterpreterSystemQuery.cpp
  dbms/src/Interpreters/MetricLog.cpp
  dbms/src/Interpreters/MetricLog.h
  dbms/src/Interpreters/SystemLog.cpp
  dbms/src/Interpreters/SystemLog.h
  dbms/src/Storages/MergeTree/MergeTreeSequentialBlockInputStream.cpp
  dbms/tests/queries/0_stateless/00990_metric_log_table_not_empty.reference
  dbms/tests/queries/0_stateless/00990_metric_log_table_not_empty.sql
  docker/test/stateful/Dockerfile
  docker/test/stateful_with_coverage/run.sh
  docker/test/stateless/Dockerfile
  docker/test/stateless_with_coverage/run.sh
Labels: can be tested

#5053 indices and mutations
  dbms/src/Interpreters/MutationsInterpreter.cpp
  dbms/src/Interpreters/MutationsInterpreter.h
  dbms/src/Parsers/ASTAlterQuery.cpp
  dbms/src/Parsers/ASTAlterQuery.h
  dbms/src/Parsers/ASTPartition.h
  dbms/src/Parsers/ParserAlterQuery.cpp
  dbms/src/Parsers/ParserPartition.cpp
  dbms/src/Storages/AlterCommands.cpp
  dbms/src/Storages/IStorage.cpp
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/IndicesDescription.cpp
  dbms/src/Storages/IndicesDescription.h
  dbms/src/Storages/MergeTree/IMergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/IMergedBlockOutputStream.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.h
  dbms/src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedColumnOnlyOutputStream.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  dbms/src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  dbms/src/Storages/MutationCommands.cpp
  dbms/src/Storages/MutationCommands.h
  dbms/src/Storages/PartitionCommands.cpp
  dbms/src/Storages/PartitionCommands.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageMergeTree.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.h
  dbms/tests/queries/0_stateless/00942_mutate_index.reference
  dbms/tests/queries/0_stateless/00942_mutate_index.sh
  dbms/tests/queries/0_stateless/00943_materialize_index.reference
  dbms/tests/queries/0_stateless/00943_materialize_index.sh
  dbms/tests/queries/0_stateless/00944_clear_index_in_partition.reference
  dbms/tests/queries/0_stateless/00944_clear_index_in_partition.sh
  dbms/tests/queries/0_stateless/00975_indices_mutation_replicated_zookeeper.reference
  dbms/tests/queries/0_stateless/00975_indices_mutation_replicated_zookeeper.sh
  docs/en/query_language/alter.md
  docs/ru/query_language/alter.md
Labels: can be tested, comp-mutations, comp-skipidx

#6486 build fix
  dbms/src/Core/SettingsCommon.h
Labels: can be tested, need info

#6520 [website] take upcoming meetups from README.md
  website/index.html
Labels: documentation, pr-documentation

#5992 DOCAPI-7430: MergeTree INDEX bloom filter docs.
  docs/en/operations/table_engines/mergetree.md
Labels: documentation, pr-documentation

#6511 typechecks for set index functions
  dbms/src/Functions/bitBoolMaskAnd.cpp
  dbms/src/Functions/bitBoolMaskOr.cpp
  dbms/src/Functions/bitSwapLastTwo.cpp
  dbms/src/Functions/bitWrapperFunc.cpp
Labels: can be tested

#6513 Fix race condition in system.parts vs. ALTER
  dbms/src/Storages/MergeTree/MergeTreeDataPart.cpp
  dbms/src/Storages/System/StorageSystemParts.cpp
Labels: pr-bugfix

#6194 Compatibility with more MySQL clients.
  dbms/programs/server/MySQLHandler.cpp
  dbms/programs/server/MySQLHandler.h
  dbms/programs/server/users.xml
  dbms/src/Core/MySQLProtocol.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/Users.cpp
  dbms/src/Interpreters/Users.h
  dbms/src/Interpreters/UsersManager.cpp
  dbms/tests/integration/test_mysql_protocol/clients/mysqljs/Dockerfile
  dbms/tests/integration/test_mysql_protocol/clients/mysqljs/docker_compose.yml
  dbms/tests/integration/test_mysql_protocol/clients/mysqljs/test.js
  dbms/tests/integration/test_mysql_protocol/configs/users.xml
  dbms/tests/integration/test_mysql_protocol/test.py
Labels: can be tested

#6545 Update roadmap.md
  docs/en/roadmap.md
Labels: documentation, pr-documentation

#6543 Fix bug with enable_mixed_granularity_parts and mutations
  dbms/src/Storages/MergeTree/IMergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/IMergedBlockOutputStream.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedColumnOnlyOutputStream.h
  dbms/tests/integration/test_adaptive_granularity/test.py
Labels: pr-bugfix

#6521 Process prewhere clause in "skip unused shards" optimization
  dbms/src/Storages/StorageDistributed.cpp
  dbms/tests/queries/0_stateless/00754_distributed_optimize_skip_select_on_unused_shards_with_prewhere.reference
  dbms/tests/queries/0_stateless/00754_distributed_optimize_skip_select_on_unused_shards_with_prewhere.sh
Labels: can be tested, pr-improvement

#6550 Fix NPE when using IN clause with a subquery with a tuple
  dbms/src/Interpreters/Set.cpp
  dbms/src/Interpreters/Set.h
  dbms/src/Storages/MergeTree/KeyCondition.cpp
  dbms/tests/queries/0_stateless/00981_in_subquery_with_tuple.reference
  dbms/tests/queries/0_stateless/00981_in_subquery_with_tuple.sh
Labels: can be tested, pr-bugfix

#6538 DEVTOOLS-5755 Remove odbc-bridge.cpp from clickhouse-lib
  dbms/programs/odbc-bridge/CMakeLists.txt
Labels: can be tested

#6559 Fix csv input
  dbms/src/Formats/CSVRowInputStream.cpp
  dbms/src/Processors/Formats/Impl/CSVRowInputFormat.cpp
Labels: pr-bugfix, v19.11, v19.12

#6523 Fix inconsistent parts after clone replica
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/integration/test_consistent_parts_after_clone_replica/__init__.py
  dbms/tests/integration/test_consistent_parts_after_clone_replica/configs/remote_servers.xml
  dbms/tests/integration/test_consistent_parts_after_clone_replica/test.py
Labels: can be tested, pr-bugfix

#6548 Added 'strict' parameter in windowFunnel() and added testcases.
  dbms/src/AggregateFunctions/AggregateFunctionWindowFunnel.cpp
  dbms/src/AggregateFunctions/AggregateFunctionWindowFunnel.h
  dbms/tests/queries/0_stateless/00632_aggregation_window_funnel.reference
  dbms/tests/queries/0_stateless/00632_aggregation_window_funnel.sql
Labels: can be tested

#6463 DOCAPI-7414: groupArrayMovingSum, groupArrayMovingAvg docs. EN review, RU translation.
  docs/en/query_language/agg_functions/reference.md
  docs/ru/query_language/agg_functions/reference.md
Labels: documentation, pr-documentation

#6012 Implement support for insertion into Kafka tables
  dbms/src/Core/Settings.h
  dbms/src/Formats/BlockOutputStreamFromRowOutputStream.cpp
  dbms/src/Formats/BlockOutputStreamFromRowOutputStream.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatFactory.h
  dbms/src/Formats/NativeFormat.cpp
  dbms/src/Formats/NullFormat.cpp
  dbms/src/Formats/tests/block_row_transforms.cpp
  dbms/src/Formats/tests/tab_separated_streams.cpp
  dbms/src/IO/MemoryReadWriteBuffer.h
  dbms/src/IO/WriteBuffer.h
  dbms/src/Processors/Formats/IRowOutputFormat.cpp
  dbms/src/Processors/Formats/IRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/BinaryRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/BinaryRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/CSVRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/CSVRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/JSONCompactRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONCompactRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/JSONEachRowRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONEachRowRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/JSONRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/MySQLOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/MySQLOutputFormat.h
  dbms/src/Processors/Formats/Impl/NativeFormat.cpp
  dbms/src/Processors/Formats/Impl/NullFormat.cpp
  dbms/src/Processors/Formats/Impl/ODBCDriver2BlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/ODBCDriverBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/PrettyBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/PrettyCompactBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/PrettySpaceBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/ProtobufRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/ProtobufRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/TSKVRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/TSKVRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/TabSeparatedRawRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/ValuesRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/ValuesRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/VerticalRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/VerticalRowOutputFormat.h
  dbms/src/Processors/Formats/Impl/XMLRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/XMLRowOutputFormat.h
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.h
  dbms/src/Storages/Kafka/KafkaBlockOutputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockOutputStream.h
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/src/Storages/Kafka/StorageKafka.h
  dbms/src/Storages/Kafka/WriteBufferToKafkaProducer.cpp
  dbms/src/Storages/Kafka/WriteBufferToKafkaProducer.h
  dbms/tests/integration/test_storage_kafka/test.py
  libs/libcommon/include/ext/shared_ptr_helper.h
  utils/kafka/consume.py
Labels: pr-feature

#6361 DOCAPI-7459: skip_unavailable_shards docs
  dbms/src/Core/Settings.h
  docs/en/operations/server_settings/settings.md
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/buffer.md
  docs/en/operations/table_engines/mergetree.md
Labels: documentation, pr-documentation

#6568 Sync RPM packages instructions to other docs languages
  docs/en/getting_started/index.md
  docs/fa/getting_started/index.md
  docs/ru/getting_started/index.md
  docs/zh/getting_started/index.md
Labels: documentation, pr-documentation

#6573 Changelog changes for input_format_defaults_for_omitted_fields
  CHANGELOG.md
Labels: do not test

#6569 MySQL 8 integration requires previous declaration checks
  libs/libmysqlxx/include/mysqlxx/Types.h
Labels: can be tested

#6554 Add table function numbers_mt
  dbms/src/Storages/System/StorageSystemNumbers.cpp
  dbms/src/Storages/System/StorageSystemNumbers.h
  dbms/src/TableFunctions/TableFunctionNumbers.cpp
  dbms/src/TableFunctions/TableFunctionNumbers.h
  dbms/tests/performance/general_purpose_hashes.xml
  dbms/tests/queries/0_stateless/00834_hints_for_type_function_typos.sh
Labels: pr-feature

#6429 WIP: Fix MacOS build
  cmake/find_parquet.cmake
  dbms/src/Common/Elf.h
  dbms/src/IO/ReadBufferFromFile.cpp
  dbms/src/IO/WriteBufferFromFile.cpp
Labels: can be tested

#6578 Disable ELF on Mac OS
  dbms/src/Common/Dwarf.cpp
  dbms/src/Common/Dwarf.h
  dbms/src/Common/Elf.cpp
  dbms/src/Common/Elf.h
  dbms/src/Common/StackTrace.cpp
  dbms/src/Common/SymbolIndex.cpp
  dbms/src/Common/SymbolIndex.h
  dbms/src/Common/tests/symbol_index.cpp
  dbms/src/Functions/addressToLine.cpp
  dbms/src/Functions/addressToSymbol.cpp
Labels: pr-build

#6580 Fix nullIf function.
  dbms/src/Functions/nullIf.cpp
Labels: pr-bugfix

#6582 Fixed timeouts in fuzz test
  dbms/tests/queries/0_stateless/00746_sql_fuzzy.pl
  dbms/tests/queries/0_stateless/00746_sql_fuzzy.sh
Labels: pr-build

#6455 DOCAPI-7438: Update of quantileTiming docs.
  docs/en/data_types/float.md
  docs/en/query_language/agg_functions/reference.md
  docs/fa/data_types/float.md
  docs/zh/data_types/float.md
  docs/zh/query_language/select.md
Labels: documentation, pr-documentation

#6516 DOCAPI-7991: Update of Log engines docs
  docs/en/operations/table_engines/log_family.md
  docs/en/operations/table_engines/tinylog.md
Labels: documentation, pr-documentation

#6235 DOCAPI-7460: histogram function description
  docs/en/query_language/agg_functions/parametric_functions.md
  docs/en/query_language/functions/other_functions.md
Labels: documentation, pr-documentation

#6396 DOCAPI-7984: ASOF JOIN ON docs
  docs/en/query_language/select.md
Labels: documentation, pr-documentation

#6449 DOCAPI-7442: system.parts new columns
  docs/en/operations/system_tables.md
  docs/en/query_language/functions/hash_functions.md
Labels: documentation, pr-documentation

#6585 Support Oracle Linux
  debian/clickhouse-server.postinst
Labels: pr-build

#6593 DOCAPI-7103: RU translation for CollapsingMergeTree update.
  docs/ru/operations/table_engines/collapsingmergetree.md
Labels: documentation, pr-doc-fix

#6583 Fixed false data race in "MergeTreeDataPart::is_frozen" field
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPart.h
  dbms/src/Storages/System/StorageSystemParts.cpp
Labels: pr-build

#6600 Added a metric for the number of files to send in Distributed tables.
  dbms/src/Common/CurrentMetrics.cpp
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
Labels: pr-improvement

#6603 Fix segfault when decoding symbol table.
  dbms/src/Common/SymbolIndex.cpp
Labels: can be tested

#6609 Clickhouse obfuscator symlink
  dbms/programs/CMakeLists.txt
  debian/clickhouse-client.install
Labels: can be tested

#6617 Fix too many parts while mutation
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergeTreeSettings.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/integration/test_replicated_mutations/configs/merge_tree_max_parts.xml
  dbms/tests/integration/test_replicated_mutations/test.py
Labels: can be tested, pr-bugfix

#5925 Implement neighbour() function
  dbms/src/Functions/neighbour.cpp
  dbms/src/Functions/registerFunctionsMiscellaneous.cpp
  dbms/tests/queries/0_stateless/00957_neighbour.reference
  dbms/tests/queries/0_stateless/00957_neighbour.sql
  docs/en/query_language/functions/other_functions.md
  docs/ru/query_language/functions/other_functions.md
Labels: can be tested

#6158 Alter table drop detached part
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/InterpreterAlterQuery.cpp
  dbms/src/Parsers/ASTAlterQuery.cpp
  dbms/src/Parsers/ASTAlterQuery.h
  dbms/src/Parsers/ParserAlterQuery.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataPart.cpp
  dbms/src/Storages/MergeTree/MergeTreePartInfo.cpp
  dbms/src/Storages/MergeTree/MergeTreePartInfo.h
  dbms/src/Storages/PartitionCommands.cpp
  dbms/src/Storages/PartitionCommands.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/System/StorageSystemDetachedParts.cpp
  dbms/tests/integration/test_partition/__init__.py
  dbms/tests/integration/test_partition/test.py
  dbms/tests/queries/0_stateless/00428_partition.reference
  dbms/tests/queries/0_stateless/00428_partition.sh
  docs/en/operations/system_tables.md
  docs/en/query_language/alter.md
  docs/ru/operations/system_tables.md
  docs/ru/query_language/alter.md
Labels: can be tested, feature

#6623 DOCAPI-7783: RU Translation for SET query description
  docs/ru/query_language/misc.md
Labels: documentation, pr-doc-fix

#6625 Translate database engine documentation(zh)
  docs/zh/database_engines/index.md
  docs/zh/database_engines/mysql.md
  docs/zh/operations/table_engines/mergetree.md
Labels: documentation, pr-documentation

#6634 Check for broken symlinks
  utils/check-style/check-style
Labels: pr-build

#6637 Increase timeout for "stack overflow" test because it may take a long time in debug build
  dbms/tests/queries/0_stateless/00984_parser_stack_overflow.sh
  dbms/tests/queries/shell_config.sh
Labels: pr-build

#6596 hasToken function implementation
  dbms/src/Common/StringSearcher.h
  dbms/src/Common/Volnitsky.h
  dbms/src/Functions/FunctionsStringSearch.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  dbms/tests/queries/0_stateless/00990_hasToken.python
  dbms/tests/queries/0_stateless/00990_hasToken.reference
  dbms/tests/queries/0_stateless/00990_hasToken.sh
  dbms/tests/queries/0_stateless/00990_hasToken_and_tokenbf.reference
  dbms/tests/queries/0_stateless/00990_hasToken_and_tokenbf.sql
Labels: can be tested

#6649 Translate database engine documentation
  docs/zh/database_engines/index.md
  docs/zh/database_engines/mysql.md
Labels: documentation, pr-documentation

#6650 fix HDFS HA can't work on DEBUG mode
  dbms/src/IO/HDFSCommon.cpp
Labels: can be tested

#6645 Fixed indices mutations tests
  dbms/tests/queries/0_stateless/00942_mutate_index.sh
  dbms/tests/queries/0_stateless/00943_materialize_index.sh
  dbms/tests/queries/0_stateless/00944_clear_index_in_partition.sh
  dbms/tests/queries/0_stateless/00975_indices_mutation_replicated_zookeeper.sh
Labels: can be tested

#6651 fix Set index check useless
  dbms/src/Storages/MergeTree/MergeTreeIndexSet.cpp
  dbms/tests/queries/0_stateless/00997_set_index_array.reference
  dbms/tests/queries/0_stateless/00997_set_index_array.sql
Labels: can be tested

#6624 DOCAPI-7428: domain function docs. EN review, RU translation.
  docs/en/query_language/functions/url_functions.md
  docs/ru/query_language/functions/url_functions.md
Labels: documentation, pr-documentation

#6630 DOCAPI-7436: Enum type docs. EN review, RU translation.
  docs/en/data_types/enum.md
  docs/ru/data_types/enum.md
Labels: documentation, pr-documentation

#6675 Simplify shared_ptr_helper
  dbms/src/Interpreters/tests/in_join_subqueries_preprocessor.cpp
  dbms/src/Storages/Kafka/StorageKafka.h
  dbms/src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  dbms/src/Storages/StorageBuffer.h
  dbms/src/Storages/StorageDictionary.h
  dbms/src/Storages/StorageDistributed.cpp
  dbms/src/Storages/StorageDistributed.h
  dbms/src/Storages/StorageFile.h
  dbms/src/Storages/StorageHDFS.h
  dbms/src/Storages/StorageJoin.h
  dbms/src/Storages/StorageLog.h
  dbms/src/Storages/StorageMaterializedView.h
  dbms/src/Storages/StorageMemory.h
  dbms/src/Storages/StorageMerge.h
  dbms/src/Storages/StorageMergeTree.h
  dbms/src/Storages/StorageMySQL.h
  dbms/src/Storages/StorageNull.h
  dbms/src/Storages/StorageReplicatedMergeTree.h
  dbms/src/Storages/StorageStripeLog.h
  dbms/src/Storages/StorageTinyLog.h
  dbms/src/Storages/StorageURL.h
  dbms/src/Storages/StorageValues.h
  dbms/src/Storages/StorageView.h
  dbms/src/Storages/System/StorageSystemAggregateFunctionCombinators.h
  dbms/src/Storages/System/StorageSystemAsynchronousMetrics.h
  dbms/src/Storages/System/StorageSystemBuildOptions.h
  dbms/src/Storages/System/StorageSystemClusters.h
  dbms/src/Storages/System/StorageSystemCollations.h
  dbms/src/Storages/System/StorageSystemColumns.h
  dbms/src/Storages/System/StorageSystemContributors.h
  dbms/src/Storages/System/StorageSystemDataTypeFamilies.h
  dbms/src/Storages/System/StorageSystemDatabases.h
  dbms/src/Storages/System/StorageSystemDetachedParts.cpp
  dbms/src/Storages/System/StorageSystemDictionaries.h
  dbms/src/Storages/System/StorageSystemEvents.h
  dbms/src/Storages/System/StorageSystemFormats.h
  dbms/src/Storages/System/StorageSystemFunctions.h
  dbms/src/Storages/System/StorageSystemGraphite.h
  dbms/src/Storages/System/StorageSystemMacros.h
  dbms/src/Storages/System/StorageSystemMergeTreeSettings.h
  dbms/src/Storages/System/StorageSystemMerges.h
  dbms/src/Storages/System/StorageSystemMetrics.h
  dbms/src/Storages/System/StorageSystemModels.h
  dbms/src/Storages/System/StorageSystemMutations.h
  dbms/src/Storages/System/StorageSystemNumbers.h
  dbms/src/Storages/System/StorageSystemOne.h
  dbms/src/Storages/System/StorageSystemParts.h
  dbms/src/Storages/System/StorageSystemPartsColumns.h
  dbms/src/Storages/System/StorageSystemProcesses.h
  dbms/src/Storages/System/StorageSystemReplicas.h
  dbms/src/Storages/System/StorageSystemReplicationQueue.h
  dbms/src/Storages/System/StorageSystemSettings.h
  dbms/src/Storages/System/StorageSystemTableEngines.h
  dbms/src/Storages/System/StorageSystemTableFunctions.h
  dbms/src/Storages/System/StorageSystemTables.h
  dbms/src/Storages/System/StorageSystemZooKeeper.h
  libs/libcommon/include/ext/shared_ptr_helper.h
Labels: pr-codecleanup

#6662 Implemented hasTokenCaseInsensitive function
  dbms/src/Common/StringSearcher.h
  dbms/src/Common/Volnitsky.h
  dbms/src/Functions/FunctionsStringSearch.cpp
  dbms/tests/queries/0_stateless/00990_hasToken.python
  dbms/tests/queries/0_stateless/00990_hasToken.reference
Labels: can be tested

#6632 DOCAPI-7431: Queries with parameters docs. EN review. RU translation.
  docs/en/interfaces/cli.md
  docs/en/interfaces/http.md
  docs/ru/interfaces/cli.md
  docs/ru/interfaces/http.md
Labels: documentation, pr-documentation

#6640 DOCAPI-7443: Virtual columns docs update. EN review. RU translation.
  docs/en/operations/table_engines/index.md
  docs/en/query_language/misc.md
  docs/ru/operations/table_engines/index.md
  docs/ru/operations/table_engines/kafka.md
  docs/ru/operations/table_engines/merge.md
  docs/ru/query_language/misc.md
Labels: documentation, pr-documentation

#6598 DOCAPI-7400: Gorilla codecs. EN review. RU translation.
  docs/en/query_language/agg_functions/parametric_functions.md
  docs/en/query_language/create.md
  docs/ru/query_language/create.md
  docs/zh/query_language/create.md
  docs/zh/query_language/functions/hash_functions.md
  docs/zh/query_language/functions/other_functions.md
Labels: documentation, pr-documentation

#6191 TTL: Only drop altogether the expired parts and not partially prune them.
  dbms/src/DataStreams/TTLBlockInputStream.cpp
  dbms/src/Storages/MergeTree/MergeSelector.h
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartTTLInfo.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartTTLInfo.h
  dbms/src/Storages/MergeTree/MergeTreeDataWriter.cpp
  dbms/src/Storages/MergeTree/MergeTreeSettings.h
  dbms/src/Storages/MergeTree/TTLMergeSelector.cpp
  dbms/src/Storages/MergeTree/TTLMergeSelector.h
Labels: can be tested

#6677 Minor lock improvement for ReplicatedMergeTree
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/TableStructureLockHolder.h
Labels: pr-improvement

#6660 Documentation change. range_hashed dict arbitrary type description.
  docs/en/query_language/dicts/external_dicts_dict_layout.md
  docs/ru/query_language/dicts/external_dicts_dict_layout.md
Labels: documentation, pr-doc-fix

#6678 check free space when use external sort/aggerator
  dbms/src/Core/Settings.h
  dbms/src/DataStreams/MergeSortingBlockInputStream.cpp
  dbms/src/DataStreams/MergeSortingBlockInputStream.h
  dbms/src/Interpreters/Aggregator.cpp
  dbms/src/Interpreters/Aggregator.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/tests/aggregate.cpp
  dbms/src/Processors/Transforms/MergeSortingTransform.cpp
  dbms/src/Processors/Transforms/MergeSortingTransform.h
  dbms/src/Processors/tests/processors_test_aggregation.cpp
  dbms/src/Processors/tests/processors_test_merge_sorting_transform.cpp
Labels: can be tested

#6343 [WIP] Clickhouse-benchmark comparison mode
  dbms/programs/benchmark/Benchmark.cpp
  dbms/src/Client/ConnectionPool.h
  dbms/src/Common/T_test.h
Labels: can be tested
