Repository ClickHouse/ClickHouse, pull requests merged in 2019-05, with the labels that each got.

#5158 Move performance tests for convenience
  dbms/tests/performance/IPv4.xml
  dbms/tests/performance/IPv6.xml
  dbms/tests/performance/array_element.xml
  dbms/tests/performance/array_join.xml
  dbms/tests/performance/base64.xml
  dbms/tests/performance/base64_hits.xml
  dbms/tests/performance/bounding_ratio.xml
  dbms/tests/performance/column_column_comparison.xml
  dbms/tests/performance/columns_hashing.xml
  dbms/tests/performance/complex_array_creation.xml
  dbms/tests/performance/concat_hits.xml
  dbms/tests/performance/conditional.xml
  dbms/tests/performance/consistent_hashes.xml
  dbms/tests/performance/constant_column_comparison.xml
  dbms/tests/performance/constant_column_search.xml
  dbms/tests/performance/cryptographic_hashes.xml
  dbms/tests/performance/date_parsing.xml
  dbms/tests/performance/date_time.xml
  dbms/tests/performance/entropy.xml
  dbms/tests/performance/first_significant_subdomain.xml
  dbms/tests/performance/fixed_string16.xml
  dbms/tests/performance/float_parsing.xml
  dbms/tests/performance/format_date_time.xml
  dbms/tests/performance/functions_coding.xml
  dbms/tests/performance/general_purpose_hashes.xml
  dbms/tests/performance/if_array_num.xml
  dbms/tests/performance/if_array_string.xml
  dbms/tests/performance/if_string_const.xml
  dbms/tests/performance/if_string_hits.xml
  dbms/tests/performance/int_parsing.xml
  dbms/tests/performance/leftpad.xml
  dbms/tests/performance/ngram_distance.xml
  dbms/tests/performance/nyc_taxi.xml
  dbms/tests/performance/order_by_single_column.xml
  dbms/tests/performance/read_hits_with_aio.xml
  dbms/tests/performance/right.xml
  dbms/tests/performance/roundDown.xml
  dbms/tests/performance/set.xml
  dbms/tests/performance/set_hits.xml
  dbms/tests/performance/slices_hits.xml
  dbms/tests/performance/small_requests.xml
  dbms/tests/performance/sort.xml
  dbms/tests/performance/string_sort.xml
  dbms/tests/performance/system_numbers.xml
  dbms/tests/performance/test_hits.xml
  dbms/tests/performance/test_hits_agg_functions_min_max_any.xml
  dbms/tests/performance/trim_numbers.xml
  dbms/tests/performance/trim_urls.xml
  dbms/tests/performance/trim_whitespace.xml
  dbms/tests/performance/uniq.xml
  dbms/tests/performance/url_hits.xml
  dbms/tests/performance/visit_param_extract_raw.xml
  dbms/tests/performance/website.xml
Labels: pr-build

#5154 LowCardinality keys in set index
  dbms/src/Interpreters/PreparedSets.h
  dbms/tests/queries/0_stateless/00931_low_cardinality_set_index_in_key_condition.reference
  dbms/tests/queries/0_stateless/00931_low_cardinality_set_index_in_key_condition.sql
Labels: pr-bugfix

#5095 Functions for calculate lower and high range of an IP address using a CIDR mask
  dbms/src/Functions/.FunctionsCoding.h.swo
  dbms/src/Functions/FunctionsCoding.cpp
  dbms/src/Functions/FunctionsCoding.h
  dbms/tests/queries/0_stateless/00937_ipv4_cidr_range.reference
  dbms/tests/queries/0_stateless/00937_ipv4_cidr_range.sql
  dbms/tests/queries/0_stateless/00938_ipv6_cidr_range.reference
  dbms/tests/queries/0_stateless/00938_ipv6_cidr_range.sql
  docs/en/query_language/functions/ip_address_functions.md
Labels: can be tested, pr-feature

#5167 Removed bad and useless code in ColumnsDescription
  dbms/programs/server/TCPHandler.cpp
  dbms/src/DataStreams/InputStreamFromASTInsertQuery.cpp
  dbms/src/Functions/GatherUtils/Selectors.h
  dbms/src/Storages/AlterCommands.cpp
  dbms/src/Storages/ColumnsDescription.cpp
  dbms/src/Storages/ColumnsDescription.h
Labels: pr-codecleanup

#5171 Added max_parts_in_total threshold to MergeTree tables
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeSettings.h
  dbms/tests/queries/0_stateless/00940_max_parts_in_total.reference
  dbms/tests/queries/0_stateless/00940_max_parts_in_total.sql
Labels: pr-improvement

#5170 Cidr to range better code
  dbms/src/Functions/FunctionsCoding.cpp
  dbms/src/Functions/FunctionsCoding.h
  dbms/tests/performance/agg_functions_min_max_any.xml
  dbms/tests/performance/basename.xml
  dbms/tests/performance/cidr.xml
  dbms/tests/performance/cpu_synthetic.xml
  dbms/tests/queries/0_stateless/00937_ipv4_cidr_range.sql
  dbms/tests/queries/0_stateless/00938_ipv6_cidr_range.sql
Labels: pr-codecleanup

#5173 Rename method for consistency
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Storages/IStorage.cpp
  dbms/src/Storages/ITableDeclaration.cpp
  dbms/src/Storages/ITableDeclaration.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeAlterThread.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.cpp
  dbms/src/Storages/StorageBuffer.cpp
  dbms/src/Storages/StorageDistributed.cpp
  dbms/src/Storages/StorageMerge.cpp
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageMergeTree.h
  dbms/src/Storages/StorageNull.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-codecleanup

#5178 Obfuscator: derive seed for individual columns by their name, not position
  dbms/programs/obfuscator/Obfuscator.cpp
Labels: pr-improvement

#5179 Removed huge chunk of bad code
  dbms/src/Interpreters/AsynchronousMetrics.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/MutationsInterpreter.cpp
  dbms/src/Storages/MergeTree/MergeTreeBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeAlterThread.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
  dbms/src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageMergeTree.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.h
  dbms/src/Storages/System/StorageSystemColumns.cpp
  dbms/src/Storages/System/StorageSystemGraphite.cpp
  dbms/src/Storages/System/StorageSystemMutations.cpp
  dbms/src/Storages/System/StorageSystemParts.cpp
  dbms/src/Storages/System/StorageSystemPartsBase.cpp
  dbms/src/Storages/System/StorageSystemPartsColumns.cpp
Labels: pr-codecleanup

#5191 Regexp extraction fix for small prefixes
  dbms/src/Common/OptimizedRegularExpression.cpp
Labels: can be tested, pr-performance

#5193 Remove condition of prefixes first in OptimizedRegularExpression
  dbms/src/Common/OptimizedRegularExpression.cpp
Labels: can be tested, pr-performance

#5192 try fix push require columns with join
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
Labels: can be tested, pr-performance

#5194 ISSUES-5190 add performance test from Denny Crane
  dbms/tests/performance/simple_join_query.xml
Labels: can be tested, pr-build

#5198 ngram vector_vector distance added
  dbms/src/Functions/FunctionsStringSimilarity.cpp
  dbms/src/Functions/FunctionsStringSimilarity.h
  dbms/tests/performance/ngram_distance.xml
  dbms/tests/queries/0_stateless/00909_ngram_distance.reference
  dbms/tests/queries/0_stateless/00909_ngram_distance.sql
  docs/en/query_language/functions/string_search_functions.md
  docs/ru/query_language/functions/string_search_functions.md
Labels: can be tested, pr-feature

#5168 zhdocs: translate zh collapsingmergetree.md
  docs/en/operations/table_engines/collapsingmergetree.md
  docs/zh/operations/table_engines/collapsingmergetree.md
  docs/zh/operations/table_engines/custom_partitioning_key.md
Labels: documentation, pr-documentation

#5112 DOCAPI-6207: JDBC engine EN description
  docs/en/interfaces/formats.md
  docs/en/operations/table_engines/jdbc.md
  docs/en/operations/table_engines/mergetree.md
  docs/ru/interfaces/formats.md
  docs/toc_en.yml
Labels: documentation, pr-doc-fix, pr-documentation

#5211 DOCAPI-6554: Extended syntax for LIMIT BY clause.
  docs/en/query_language/select.md
Labels: documentation, pr-documentation

#5152 Fix null problem in FunctionIn
  dbms/src/Functions/ignoreExceptNull.cpp
  dbms/src/Functions/in.cpp
  dbms/src/Functions/registerFunctionsMiscellaneous.cpp
  dbms/src/Interpreters/ActionsVisitor.cpp
  dbms/tests/queries/0_stateless/00441_nulls_in.reference
  dbms/tests/queries/0_stateless/00939_test_null_in.reference
  dbms/tests/queries/0_stateless/00939_test_null_in.sql
Labels: can be tested

#5228 Fix bitmap functions crash the server bug segfault
  dbms/src/Functions/FunctionsBitmap.h
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
Labels: can be tested, pr-bugfix

#5209 Support rename operation for MaterializeView storage
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Storages/StorageMaterializedView.cpp
  dbms/src/Storages/StorageMaterializedView.h
  dbms/tests/queries/0_stateless/00942_mv_rename_table.reference
  dbms/tests/queries/0_stateless/00942_mv_rename_table.sql
  dbms/tests/queries/0_stateless/00943_mv_rename_without_inner_table.reference
  dbms/tests/queries/0_stateless/00943_mv_rename_without_inner_table.sql
Labels: can be tested, pr-feature

#4936 Suport settings for async distributed inserts (#4852)
  dbms/src/Core/Defines.h
  dbms/src/Core/Settings.cpp
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
  dbms/src/Storages/Distributed/DirectoryMonitor.h
  dbms/src/Storages/Distributed/DistributedBlockOutputStream.cpp
  dbms/src/Storages/Distributed/DistributedBlockOutputStream.h
  dbms/src/Storages/StorageDistributed.cpp
Labels: can be tested, pr-improvement

#4639 feat alter: parallelize processing of parts in alter modify
  dbms/src/Core/Settings.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeAlterThread.cpp
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageMergeTree.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/queries/0_stateless/00754_alter_modify_column_partitions.reference
  dbms/tests/queries/0_stateless/00754_alter_modify_column_partitions.sql
Labels: can be tested

#5238 Fix if, multiIf's nullable bug.
  dbms/src/Functions/if.cpp
  dbms/src/Functions/multiIf.cpp
  dbms/tests/queries/0_stateless/00395_nullable.reference
  dbms/tests/queries/0_stateless/00395_nullable.sql
  dbms/tests/queries/0_stateless/00431_if_nulls.reference
  dbms/tests/queries/0_stateless/00431_if_nulls.sql
Labels: can be tested, pr-improvement, sql compatibility

#5210 IPv4 and IPv6 domain docs.
  docs/en/data_types/domains/ipv4.md
  docs/en/data_types/domains/ipv6.md
  docs/en/data_types/domains/overview.md
  docs/en/query_language/functions/ip_address_functions.md
  docs/fa/data_types/domains/ipv4.md
  docs/fa/data_types/domains/ipv6.md
  docs/fa/data_types/domains/overview.md
  docs/ru/data_types/domains/ipv4.md
  docs/ru/data_types/domains/ipv6.md
  docs/ru/data_types/domains/overview.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/tools/make_links.sh
  docs/zh/data_types/domains/ipv4.md
  docs/zh/data_types/domains/ipv6.md
  docs/zh/data_types/domains/overview.md
Labels: documentation, pr-documentation

#5248 Remove past Meetup link
  website/index.html
Labels: documentation, pr-documentation

#5251 Add San Francisco meetup link
  website/index.html
Labels: documentation, pr-documentation

#5252 Update quick start on website front page
  website/index.html
Labels: documentation, pr-documentation

#5096 DOCAPI-3822: ZooKeeper settings. Oracle ODBC issue.
  docs/en/faq/general.md
  docs/en/operations/server_settings/settings.md
  docs/en/query_language/dicts/external_dicts_dict_sources.md
  docs/zh/faq/general.md
Labels: documentation, pr-documentation

#5255 Fix bunch of flapping perf tests. Improve average speed calculation
  dbms/programs/performance-test/TestStats.cpp
  dbms/programs/performance-test/TestStats.h
  dbms/tests/performance/array_element.xml
  dbms/tests/performance/array_join.xml
  dbms/tests/performance/complex_array_creation.xml
  dbms/tests/performance/conditional.xml
  dbms/tests/performance/consistent_hashes.xml
  dbms/tests/performance/date_time.xml
  dbms/tests/performance/format_date_time.xml
  dbms/tests/performance/functions_coding.xml
  dbms/tests/performance/if_array_num.xml
  dbms/tests/performance/if_array_string.xml
  dbms/tests/performance/if_string_const.xml
  dbms/tests/performance/simple_join_query.xml
  dbms/tests/performance/system_numbers.xml
  dbms/tests/performance/uniq.xml
  dbms/tests/performance/visit_param_extract_raw.xml
Labels: pr-build

#4943 Regression methods
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.cpp
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.h
  dbms/src/AggregateFunctions/IAggregateFunction.h
  dbms/src/AggregateFunctions/registerAggregateFunctions.cpp
  dbms/src/Columns/ColumnAggregateFunction.cpp
  dbms/src/Columns/ColumnAggregateFunction.h
  dbms/src/Functions/evalMLMethod.cpp
  dbms/src/Functions/registerFunctionsMiscellaneous.cpp
  dbms/tests/queries/0_stateless/00938_dataset_test.reference
  dbms/tests/queries/0_stateless/00938_dataset_test.sql
  dbms/tests/queries/0_stateless/00944_ml_test.reference
  dbms/tests/queries/0_stateless/00944_ml_test.sql
  dbms/tests/queries/0_stateless/00945_ml_test.reference
  dbms/tests/queries/0_stateless/00945_ml_test.sql
  dbms/tests/queries/0_stateless/00946_ml_test.reference
  dbms/tests/queries/0_stateless/00946_ml_test.sql
  dbms/tests/queries/0_stateless/00947_ml_test.reference
  dbms/tests/queries/0_stateless/00947_ml_test.sql
Labels: can be tested

#5249 Check the time limit every (flush_interval / poll_timeout) number of rows from Kafka
  dbms/src/Core/Settings.h
  dbms/src/DataStreams/IBlockInputStream.h
  dbms/src/Formats/BinaryRowInputStream.cpp
  dbms/src/Formats/BlockInputStreamFromRowInputStream.cpp
  dbms/src/Formats/BlockInputStreamFromRowInputStream.h
  dbms/src/Formats/CSVRowInputStream.cpp
  dbms/src/Formats/CapnProtoRowInputStream.cpp
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatFactory.h
  dbms/src/Formats/JSONEachRowRowInputStream.cpp
  dbms/src/Formats/NativeFormat.cpp
  dbms/src/Formats/ParquetBlockInputStream.cpp
  dbms/src/Formats/ProtobufRowInputStream.cpp
  dbms/src/Formats/TSKVRowInputStream.cpp
  dbms/src/Formats/TabSeparatedRowInputStream.cpp
  dbms/src/Formats/ValuesRowInputStream.cpp
  dbms/src/Formats/tests/block_row_transforms.cpp
  dbms/src/Formats/tests/tab_separated_streams.cpp
  dbms/src/IO/DelimitedReadBuffer.h
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  utils/kafka/produce.py
Labels: pr-improvement

#5003 Implementation of geohashEncode and geohashDecode functions;
  dbms/src/DataTypes/IDataType.h
  dbms/src/Functions/FunctionHelpers.cpp
  dbms/src/Functions/FunctionHelpers.h
  dbms/src/Functions/FunctionsGeo.cpp
  dbms/src/Functions/GeoUtils.cpp
  dbms/src/Functions/GeoUtils.h
  dbms/tests/performance/funtions_geo/functions_geo.xml
  dbms/tests/queries/0_stateless/00932_geohash_support.reference
  dbms/tests/queries/0_stateless/00932_geohash_support.sql
  docs/en/query_language/functions/geo.md
Labels: can be tested

#5247 fix data race in rename query
  dbms/src/Storages/StorageMergeTree.cpp
Labels: can be tested

#5253 Link rdkafka with bundled SASL
  contrib/librdkafka-cmake/CMakeLists.txt
  contrib/librdkafka-cmake/config.h
Labels: pr-improvement

#5269 Fix postfix increment operator in Settings::iterator
  dbms/src/Core/SettingsCommon.h
Labels: pr-bugfix

#5283 Freeze the Kafka buffer after first empty response
  dbms/src/Formats/BlockInputStreamFromRowInputStream.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
Labels: pr-performance

#4542 add AggregateFunction TSgroup{Rate}Sum for time series
  dbms/src/AggregateFunctions/AggregateFunctionTSGroupSum.cpp
  dbms/src/AggregateFunctions/AggregateFunctionTSGroupSum.h
  dbms/src/AggregateFunctions/registerAggregateFunctions.cpp
  dbms/tests/queries/0_stateless/00910_aggregation_tsgroupsum.reference
  dbms/tests/queries/0_stateless/00910_aggregation_tsgroupsum.sql
  docs/en/query_language/agg_functions/reference.md
Labels: can be tested

#5297 fix deadlock when xid equal to close_xid
  dbms/src/Common/ZooKeeper/ZooKeeperImpl.cpp
Labels: can be tested, pr-bugfix

#5322 toValidUTF8 function added
  dbms/src/Functions/isValidUTF8.cpp
  dbms/src/Functions/registerFunctionsString.cpp
  dbms/src/Functions/toValidUTF8.cpp
  dbms/src/IO/WriteBufferValidUTF8.cpp
  dbms/tests/queries/0_stateless/00948_to_valid_utf8.reference
  dbms/tests/queries/0_stateless/00948_to_valid_utf8.sql
  docs/en/query_language/functions/string_functions.md
  docs/ru/query_language/functions/string_functions.md
Labels: can be tested, pr-feature

#5325 Allow to shadow virtual column '_table' in Merge engine
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/StorageMerge.cpp
  dbms/src/Storages/StorageMerge.h
  dbms/tests/queries/0_stateless/00578_merge_table_shadow_virtual_column.reference
  dbms/tests/queries/0_stateless/00578_merge_table_shadow_virtual_column.sql
Labels: pr-improvement

#5308 Add setting to regulate Kafka committing policy
  dbms/src/Storages/Kafka/KafkaSettings.h
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/src/Storages/Kafka/StorageKafka.h
Labels: pr-improvement

#5320 Make windowFunnel support other Unsigned Integer Types
  dbms/src/AggregateFunctions/AggregateFunctionWindowFunnel.cpp
  dbms/src/AggregateFunctions/AggregateFunctionWindowFunnel.h
  dbms/tests/queries/0_stateless/00632_aggregation_window_funnel.reference
  dbms/tests/queries/0_stateless/00632_aggregation_window_funnel.sql
Labels: can be tested, pr-improvement

#5313 Fix external queries with IN operator.
  dbms/CMakeLists.txt
  dbms/src/Parsers/ASTFunction.cpp
  dbms/src/Parsers/ParserQuery.h
  dbms/src/Storages/tests/gtest_transform_query_for_external_database.cpp
  dbms/src/Storages/transformQueryForExternalDatabase.cpp
  dbms/src/Storages/transformQueryForExternalDatabase.h
  dbms/tests/queries/0_stateless/00948_format_in_with_single_element.reference
  dbms/tests/queries/0_stateless/00948_format_in_with_single_element.sh
  dbms/tests/queries/shell_config.sh
Labels: pr-bugfix

#5334 Added a tool to calculate checksums caused by bit flips
  utils/CMakeLists.txt
  utils/checksum-for-compressed-block/CMakeLists.txt
  utils/checksum-for-compressed-block/main.cpp
Labels: pr-build

#5330 Format function added
  dbms/src/Functions/FunctionsStringSearch.h
  dbms/src/Functions/formatString.cpp
  dbms/src/Functions/registerFunctionsString.cpp
  dbms/tests/performance/concat_hits.xml
  dbms/tests/queries/0_stateless/00949_format.reference
  dbms/tests/queries/0_stateless/00949_format.sql
  docs/en/query_language/functions/string_functions.md
  docs/ru/query_language/functions/string_functions.md
Labels: can be tested, pr-feature

#5311 Fix SimpleAggregateFunction for String longer MAX_SMALL_STRING_SIZE
  dbms/src/AggregateFunctions/AggregateFunctionArgMinMax.h
  dbms/src/AggregateFunctions/AggregateFunctionMinMaxAny.h
  dbms/src/AggregateFunctions/HelpersMinMaxAny.h
  dbms/src/DataStreams/AggregatingSortedBlockInputStream.cpp
  dbms/src/DataStreams/AggregatingSortedBlockInputStream.h
  dbms/tests/queries/0_stateless/00915_simple_aggregate_function.reference
  dbms/tests/queries/0_stateless/00915_simple_aggregate_function.sql
Labels: can be tested, pr-bugfix

#5340 Several improvements in integration tests runner
  dbms/tests/integration/README.md
  dbms/tests/integration/image/Dockerfile
  dbms/tests/integration/image/dockerd-entrypoint.sh
  dbms/tests/integration/runner
Labels: can be tested

#5350 Fix decimal conversion in IN
  dbms/src/Interpreters/convertFieldToType.cpp
  dbms/tests/queries/0_stateless/00862_decimal_in.reference
  dbms/tests/queries/0_stateless/00862_decimal_in.sql
Labels: pr-improvement

#5355 Better error message on checksum mismatch #5347
  dbms/src/Compression/CompressedReadBufferBase.cpp
Labels: pr-improvement

#5357 optimized concat function with format, make format a bit more generic
  dbms/src/Functions/concat.cpp
  dbms/src/Functions/formatString.cpp
  dbms/src/Functions/formatString.h
Labels: can be tested, pr-performance

#5356 Fix replication_without_zookeeper test
  dbms/tests/integration/test_replication_without_zookeeper/test.py
Labels: can be tested, pr-bugfix

#5202 DOCAPI-6550: Description of the 'basename' function. Brotli for HTTP.
  docs/en/interfaces/http.md
  docs/en/query_language/functions/other_functions.md
Labels: documentation, pr-documentation

#5361 DOCAPI-6553: JOIN syntax. JOIN optimization setting description.
  docs/en/operations/settings/settings.md
  docs/en/query_language/select.md
Labels: documentation, pr-doc-fix

#5348 DOCAPI-6697: Edit of the toValidUTF8 description
  docs/en/query_language/functions/string_functions.md
  docs/ru/query_language/functions/string_functions.md
Labels: documentation, pr-documentation

#5393 Fix order of destruction inside BlockIO
  dbms/src/DataStreams/BlockIO.h
Labels: pr-bugfix

#5398 Backport to 19.6: fix data race in rename query
  dbms/src/Storages/StorageMergeTree.cpp
Labels: pr-backport

#5367 [WIP] Add ability to make substitutions in create, fill and drop query in performance tests.
  dbms/programs/performance-test/PerformanceTest.cpp
  dbms/programs/performance-test/PerformanceTest.h
  dbms/programs/performance-test/PerformanceTestInfo.cpp
  dbms/programs/performance-test/PerformanceTestInfo.h
  dbms/programs/performance-test/PerformanceTestSuite.cpp
  dbms/tests/performance/parse_engine_file.xml
  dbms/tests/performance/select_format.xml
Labels: can be tested

#5391 Rename regression methods.
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.cpp
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.h
  dbms/src/AggregateFunctions/AggregateFunctionSimpleLinearRegression.cpp
  dbms/src/AggregateFunctions/AggregateFunctionSimpleLinearRegression.h
  dbms/src/AggregateFunctions/registerAggregateFunctions.cpp
  dbms/tests/queries/0_stateless/00917_least_sqr.sql
  dbms/tests/queries/0_stateless/00938_dataset_test.sql
  dbms/tests/queries/0_stateless/00944_ml_test.sql
  dbms/tests/queries/0_stateless/00945_ml_test.sql
  dbms/tests/queries/0_stateless/00946_ml_test.sql
  dbms/tests/queries/0_stateless/00947_ml_test.sql
Labels: pr-bugfix

#5352 clickhouse-test improvements
  dbms/tests/clickhouse-test
  docs/en/development/tests.md
Labels: can be tested

#5290 Making changelog for 19.6.2 and 19.5.4
  CHANGELOG.md
Labels: do not test

#5410 Making .ru changelog
  CHANGELOG_RU.md
Labels: do not test

#5408 Small performance test documentation.
  dbms/tests/performance/README.md
Labels: do not test

#5405 DOCAPI-6426: max-partitions-per-insert-block description.
  docs/en/operations/settings/query_complexity.md
Labels: documentation, pr-documentation

#5397 CLICKHOUSE-4523 Fix "Column '0' already exists" in SELECT .. PREWHERE on column with DEFAULT
  dbms/src/Core/iostream_debug_helpers.cpp
  dbms/src/Core/iostream_debug_helpers.h
  dbms/src/Interpreters/evaluateMissingDefaults.cpp
  dbms/tests/queries/0_stateless/00950_default_prewhere.reference
  dbms/tests/queries/0_stateless/00950_default_prewhere.sql
  dbms/tests/queries/bugs/default_prewhere.sql
Labels: pr-bugfix

#5395 Close MySQL connections opened by external MySQL dictionaries
  dbms/src/Dictionaries/MySQLDictionarySource.cpp
  dbms/src/Dictionaries/MySQLDictionarySource.h
  dbms/src/Formats/MySQLBlockInputStream.cpp
  dbms/src/Formats/MySQLBlockInputStream.h
  libs/libmysqlxx/include/mysqlxx/Pool.h
  libs/libmysqlxx/src/Pool.cpp
Labels: can be tested, pr-improvement

#5403 DOCAPI-6423: simpleLinearRegression description.
  docs/en/query_language/agg_functions/reference.md
Labels: documentation, pr-doc-fix

#5390 Update ru and en ZK documentation
  docs/en/operations/server_settings/settings.md
  docs/ru/operations/server_settings/settings.md
Labels: pr-documentation

#5407 Mark all input columns in LIMIT BY as required output
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/tests/queries/0_stateless/00409_shard_limit_by.reference
  dbms/tests/queries/0_stateless/00409_shard_limit_by.sql
Labels: can be tested, pr-bugfix

#5359 Fixed bitmap functions produce wrong result
  dbms/src/Functions/FunctionsBitmap.h
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
Labels: can be tested, pr-bugfix

#5366 Check that underlying tables support sampling for StorageMerge
  dbms/src/Storages/StorageMerge.cpp
  dbms/tests/queries/0_stateless/00578_merge_table_sampling.reference
  dbms/tests/queries/0_stateless/00578_merge_table_sampling.sql
Labels: pr-improvement

#5332 DOCAPI-4293: DISTINCT ... ORDER BY, MySQL engine and mysql table function
  docs/en/operations/table_engines/mysql.md
  docs/en/query_language/select.md
  docs/en/query_language/table_functions/mysql.md
  docs/fa/query_language/table_functions/mysql.md
  docs/ru/query_language/dicts/external_dicts_dict_sources.md
  docs/ru/query_language/table_functions/mysql.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/query_language/table_functions/mysql.md
Labels: documentation, pr-doc-fix

#5339 Make sequenceMatch aggregate functions support other unsigned Integer types
  dbms/src/AggregateFunctions/AggregateFunctionSequenceMatch.cpp
  dbms/src/AggregateFunctions/AggregateFunctionSequenceMatch.h
  dbms/tests/queries/0_stateless/00222_sequence_aggregate_function_family.sql
  dbms/tests/queries/0_stateless/00823_sequence_match_dfa.reference
  dbms/tests/queries/0_stateless/00823_sequence_match_dfa.sql
  docs/en/query_language/agg_functions/parametric_functions.md
Labels: can be tested, pr-improvement

#5258 DOCAPI-6181: Parquet format description
  docs/en/interfaces/formats.md
Labels: documentation, pr-doc-fix

#5353 Add system.detached_parts table.
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataPart.cpp
  dbms/src/Storages/MergeTree/MergeTreePartInfo.cpp
  dbms/src/Storages/MergeTree/MergeTreePartInfo.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/System/StorageSystemDetachedParts.cpp
  dbms/src/Storages/System/StorageSystemDetachedParts.h
  dbms/src/Storages/System/StorageSystemParts.cpp
  dbms/src/Storages/System/StorageSystemPartsBase.cpp
  dbms/src/Storages/System/StorageSystemPartsBase.h
  dbms/src/Storages/System/StorageSystemPartsColumns.cpp
  dbms/src/Storages/System/attachSystemTables.cpp
  dbms/tests/queries/0_stateless/00502_custom_partitioning_local.reference
  dbms/tests/queries/0_stateless/00502_custom_partitioning_local.sql
  docs/en/operations/system_tables.md
Labels: can be tested

#5285 Don't crash the server when Kafka consumers have failed to start
  dbms/src/Storages/Kafka/StorageKafka.cpp
Labels: pr-bugfix

#5246 [wip] fix null minmax
  dbms/src/Storages/MergeTree/MergeTreeMinMaxIndex.cpp
  dbms/tests/queries/0_stateless/00944_minmax_null.reference
  dbms/tests/queries/0_stateless/00944_minmax_null.sql
Labels: can be tested

#5302 DOCAPI-6421: Load balancing strategy 'first or random'.
  docs/en/operations/settings/settings.md
Labels: documentation, pr-doc-fix

#5200 Add statistics functions: skewSamp, skewPop, kurtSamp, and kurtPop
  dbms/src/AggregateFunctions/AggregateFunctionStatisticsSimple.cpp
  dbms/src/AggregateFunctions/AggregateFunctionStatisticsSimple.h
  dbms/tests/queries/0_stateless/00181_aggregate_functions_statistics.reference
  dbms/tests/queries/0_stateless/00181_aggregate_functions_statistics.sql
Labels: can be tested, pr-feature

#5116 Send a X-ClickHouse summary on the header for HTTP client with number of rows inserted
  dbms/programs/benchmark/Benchmark.cpp
  dbms/programs/client/Client.cpp
  dbms/programs/performance-test/executeQuery.cpp
  dbms/src/Core/Defines.h
  dbms/src/DataStreams/CountingBlockOutputStream.cpp
  dbms/src/DataStreams/IBlockInputStream.cpp
  dbms/src/Formats/JSONRowOutputStream.cpp
  dbms/src/Formats/XMLRowOutputStream.cpp
  dbms/src/IO/Progress.cpp
  dbms/src/IO/Progress.h
  dbms/src/IO/WriteBufferFromHTTPServerResponse.cpp
  dbms/src/IO/WriteBufferFromHTTPServerResponse.h
  dbms/src/Interpreters/ProcessList.cpp
  dbms/src/Interpreters/ThreadStatusExt.cpp
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/tests/queries/0_stateless/00416_pocopatch_progress_in_http_headers.reference
  dbms/tests/queries/0_stateless/00416_pocopatch_progress_in_http_headers.sh
Labels: can be tested, pr-feature

#5279 New bitmap functions: `bitmapHasAny` and `bitmapHasAll`
  dbms/programs/server/data/.gitignore
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  dbms/src/Functions/FunctionsBitmap.cpp
  dbms/src/Functions/FunctionsBitmap.h
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
  docs/en/query_language/functions/bitmap_functions.md
Labels: can be tested

#5419 Improvements of MySQL Wire Protocol
  dbms/programs/server/CMakeLists.txt
  dbms/programs/server/MySQLHandler.cpp
  dbms/programs/server/MySQLHandler.h
  dbms/programs/server/MySQLHandlerFactory.cpp
  dbms/programs/server/MySQLHandlerFactory.h
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Common/OpenSSLHelpers.cpp
  dbms/src/Common/OpenSSLHelpers.h
  dbms/src/Core/MySQLProtocol.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/MySQLFormat.cpp
  dbms/src/Formats/MySQLWireBlockOutputStream.cpp
  dbms/src/Formats/MySQLWireBlockOutputStream.h
  dbms/src/Formats/MySQLWireFormat.cpp
Labels: can be tested

#5422 ngramEntry renamed to ngramSearch
  dbms/src/Functions/FunctionsStringSimilarity.cpp
  dbms/tests/queries/0_stateless/00951_ngram_entry.sql
  docs/en/query_language/functions/string_search_functions.md
  docs/ru/query_language/functions/string_search_functions.md
Labels: can be tested, pr-improvement

#5434 Delete port/memrchr.h
  libs/libcommon/include/port/memrchr.h
Labels: can be tested

#5433 Small improvements for docs of Engine=Join
  docs/en/operations/table_engines/join.md
Labels: documentation

#5443 Use contents of environment variable TZ as the name for timezone
  libs/libcommon/src/DateLUT.cpp
Labels: pr-bugfix

#5440 Fix element_count for hashed dictionary (do not include duplicates)
  dbms/src/Dictionaries/HashedDictionary.cpp
  dbms/src/Dictionaries/HashedDictionary.h
Labels: can be tested

#5437 ISSUES-5432 fix bad alloc when truncate join storage
  dbms/src/Storages/StorageJoin.h
  dbms/tests/queries/0_stateless/00950_bad_alloc_when_truncate_join_storage.reference
  dbms/tests/queries/0_stateless/00950_bad_alloc_when_truncate_join_storage.sql
Labels: can be tested, pr-bugfix

#5455 Fix settings in ExternalData HTTP request
  dbms/programs/server/HTTPHandler.cpp
  dbms/tests/queries/0_stateless/00304_http_external_data.reference
  dbms/tests/queries/0_stateless/00304_http_external_data.sh
Labels: can be tested, pr-bugfix

#5411 small changes on linear regression
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.cpp
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.h
  dbms/src/AggregateFunctions/IAggregateFunction.h
  dbms/src/Columns/ColumnAggregateFunction.cpp
  dbms/src/DataTypes/DataTypeAggregateFunction.h
  dbms/src/Functions/evalMLMethod.cpp
  dbms/tests/performance/linear_regression.xml
  dbms/tests/performance/system_numbers.xml
  dbms/tests/queries/0_stateless/00947_ml_test.reference
  dbms/tests/queries/0_stateless/00947_ml_test.sql
  docs/en/query_language/agg_functions/reference.md
  docs/en/query_language/functions/machine_learning_methods.md
Labels: can be tested, pr-improvement

#5457 Tiny fixes for ML methods.
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.cpp
  dbms/src/AggregateFunctions/IAggregateFunction.h
Labels: pr-codecleanup

#5466 Fix a typo in Russian docs.
  docs/ru/query_language/alter.md
Labels: do not test, pr-doc-fix

#5478 Remove debug logging from MySQL protocol
  dbms/programs/server/MySQLHandler.cpp
  dbms/src/Core/MySQLProtocol.h
  dbms/src/Formats/MySQLWireBlockOutputStream.cpp
Labels: pr-bugfix

#5477 Fixed linking with lld
  dbms/src/Common/UInt128.h
  dbms/src/Core/Types.h
  dbms/src/DataTypes/DataTypesDecimal.h
  dbms/src/DataTypes/DataTypesNumber.h
  dbms/src/Functions/FunctionBinaryArithmetic.h
Labels: pr-build

#5469 Backport to 19.7: Merge pull request #5437 from TCeason/bug_fix
  dbms/src/Storages/StorageJoin.h
  dbms/tests/queries/0_stateless/00950_bad_alloc_when_truncate_join_storage.reference
  dbms/tests/queries/0_stateless/00950_bad_alloc_when_truncate_join_storage.sql
Labels: can be tested, pr-backport

#5468 Backport to 19.7: Merge pull request #5407 from kvap/all-columns-required-in-limit-by
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/tests/queries/0_stateless/00409_shard_limit_by.reference
  dbms/tests/queries/0_stateless/00409_shard_limit_by.sql
Labels: can be tested, pr-backport

#5467 Backport to 19.7: CLICKHOUSE-4523 Fix "Column '0' already exists" in SELECT .. PREWHERE…
  dbms/src/Core/iostream_debug_helpers.cpp
  dbms/src/Core/iostream_debug_helpers.h
  dbms/src/Interpreters/evaluateMissingDefaults.cpp
  dbms/tests/queries/0_stateless/00950_default_prewhere.reference
  dbms/tests/queries/0_stateless/00950_default_prewhere.sql
  dbms/tests/queries/bugs/default_prewhere.sql
Labels: can be tested, pr-backport

#5489 Skip ZNONODE during DDL query processing
  dbms/src/Interpreters/DDLWorker.cpp
Labels: can be tested
