Repository ClickHouse/ClickHouse, pull requests merged in 2019-12, with the labels that each got.

#7916 Do not reload *all* dictionaries on CREATE DATABASE
  dbms/src/Databases/DatabaseOrdinary.cpp
  dbms/src/Interpreters/ExternalLoader.cpp
  dbms/src/Interpreters/ExternalLoader.h
  dbms/tests/queries/0_stateless/01036_no_superfluous_dict_reload_on_create_database.reference
  dbms/tests/queries/0_stateless/01036_no_superfluous_dict_reload_on_create_database.sql
  dbms/tests/queries/0_stateless/01036_no_superfluous_dict_reload_on_create_database_2.reference
  dbms/tests/queries/0_stateless/01036_no_superfluous_dict_reload_on_create_database_2.sql
Labels: can be tested, pr-bugfix

#7938 Build Japanese docs
  docs/toc_ja.yml
  docs/tools/build.py
  docs/tools/easy_edit.sh
  docs/tools/make_links.sh
  docs/tools/mkdocs-material-theme/assets/flags/ja.svg
  docs/tools/mkdocs-material-theme/partials/flags.html
Labels: documentation, pr-documentation

#7956 utilize libunwind to achieve better abi-compat
  contrib/libunwind-cmake/CMakeLists.txt
  contrib/libunwind-cmake/unwind-override.c
Labels: can be tested

#7727 Added lifetime to system.dictionaries #6820
  dbms/src/Storages/System/StorageSystemDictionaries.cpp
  dbms/tests/queries/0_stateless/01033_dictionaries_lifetime.reference
  dbms/tests/queries/0_stateless/01033_dictionaries_lifetime.sql
Labels: can be tested

#7821 Fix docs for build-cross-osx and build-cross-arm64
  docs/en/development/build_cross_arm.md
  docs/en/development/build_cross_osx.md
  docs/ru/development/build_cross.md
  docs/ru/development/build_cross_osx.md
  docs/zh/development/build_cross_osx.md
Labels: pr-documentation

#7464 Query thread log doc
  docs/en/operations/server_settings/settings.md
  docs/en/operations/settings/settings.md
  docs/en/operations/system_tables.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/system_tables.md
Labels: documentation, pr-documentation

#7987 Very small code refactoring for external dictionaries
  dbms/src/Dictionaries/CacheDictionary.h
  dbms/src/Dictionaries/ComplexKeyCacheDictionary.h
  dbms/src/Dictionaries/ComplexKeyHashedDictionary.h
  dbms/src/Dictionaries/FlatDictionary.h
  dbms/src/Dictionaries/HashedDictionary.h
  dbms/src/Dictionaries/IDictionary.h
  dbms/src/Dictionaries/RangeHashedDictionary.h
  dbms/src/Dictionaries/TrieDictionary.h
Labels: can be tested, pr-codecleanup

#7717 support clickhouse as mysql federated server
  dbms/programs/server/MySQLHandler.cpp
  dbms/programs/server/MySQLHandler.h
  dbms/tests/integration/test_mysql_protocol/clients/mysql/docker_compose.yml
  dbms/tests/integration/test_mysql_protocol/test.py
Labels: can be tested

#7981 Limit number of streams for read from StorageFile and StorageHDFS
  dbms/src/Storages/StorageFile.cpp
  dbms/src/Storages/StorageHDFS.cpp
Labels: pr-bugfix

#7823 Use SIGRTMIN instead of SIGPROF for user debugging purposes
  dbms/programs/client/readpassphrase/readpassphrase.c
  dbms/src/Common/StackTrace.cpp
  libs/libdaemon/src/BaseDaemon.cpp
Labels: pr-improvement

#7983 Fix bug with minimal dictionary lifetime equals zero
  dbms/src/Interpreters/ExternalLoader.cpp
  dbms/tests/queries/0_stateless/01038_dictionary_lifetime_min_zero_sec.reference
  dbms/tests/queries/0_stateless/01038_dictionary_lifetime_min_zero_sec.sh
Labels: pr-bugfix

#7979 Fix bug in check table for tables without primary key
  dbms/src/Storages/MergeTree/checkDataPart.cpp
  dbms/src/Storages/MergeTree/checkDataPart.h
  dbms/src/Storages/tests/CMakeLists.txt
  dbms/src/Storages/tests/part_checker.cpp
  dbms/tests/queries/0_stateless/01037_zookeeper_check_table_empty_pk.reference
  dbms/tests/queries/0_stateless/01037_zookeeper_check_table_empty_pk.sql
Labels: pr-bugfix

#7935 [wip] attempt to improve kafka parsing performance
  dbms/src/DataStreams/NativeBlockInputStream.cpp
  dbms/src/DataStreams/NativeBlockInputStream.h
  dbms/src/Processors/Formats/IInputFormat.cpp
  dbms/src/Processors/Formats/IInputFormat.h
  dbms/src/Processors/Formats/IRowInputFormat.cpp
  dbms/src/Processors/Formats/IRowInputFormat.h
  dbms/src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/CSVRowInputFormat.h
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.h
  dbms/src/Processors/Formats/Impl/NativeFormat.cpp
  dbms/src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ORCBlockInputFormat.h
  dbms/src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  dbms/src/Processors/Formats/Impl/ProtobufRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TSKVRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TSKVRowInputFormat.h
  dbms/src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TabSeparatedRowInputFormat.h
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.h
  dbms/src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ValuesBlockInputFormat.h
  dbms/src/Processors/Formats/RowInputFormatWithDiagnosticInfo.cpp
  dbms/src/Processors/Formats/RowInputFormatWithDiagnosticInfo.h
  dbms/src/Processors/Port.h
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.h
Labels: can be tested

#7747 Fix empty array handling in arraySplit
  dbms/src/Columns/ColumnConst.h
  dbms/src/Functions/array/arraySplit.cpp
  dbms/tests/queries/0_stateless/01015_array_split.reference
  dbms/tests/queries/0_stateless/01015_array_split.sql
Labels: can be tested

#7945 Docs: Added Content-Type Header
  docs/en/interfaces/http.md
  docs/ru/interfaces/http.md
Labels: pr-documentation

#7307 Speed up greatCircleDistance function with test
  dbms/src/Functions/greatCircleDistance.cpp
  dbms/tests/performance/README.md
  dbms/tests/performance/great_circle_dist.xml
  dbms/tests/queries/0_stateless/00362_great_circle_distance.reference
  dbms/tests/queries/0_stateless/00362_great_circle_distance.sql
Labels: pr-performance

#7930 Docs: added arrayCompact function
  docs/en/query_language/functions/array_functions.md
  docs/ru/query_language/functions/array_functions.md
Labels: documentation, pr-documentation

#7931 DOCS-129: Update of CLI description. EN review. RU translation.
  docs/en/interfaces/cli.md
  docs/ru/interfaces/cli.md
Labels: documentation, pr-documentation

#7835 Fix build with Poco Redis
  dbms/CMakeLists.txt
Labels: can be tested, st-need-info

#7755 Using the Set engine happen Exception: Method read is not supported by storage Set
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/src/Interpreters/ExpressionAnalyzer.h
  dbms/tests/queries/0_stateless/01030_storage_set_supports_read.reference
  dbms/tests/queries/0_stateless/01030_storage_set_supports_read.sql
Labels: pr-bugfix

#7661 DOCS-6182: The `flatten` function docs
  docs/en/query_language/functions/array_functions.md
Labels: documentation, pr-documentation

#8001 Added argument --print-time to tests.
  dbms/tests/clickhouse-test
Labels: pr-build

#8007 Fix toc_en.yml error
  docs/toc_en.yml
Labels: documentation, pr-documentation

#8006 Add perf test for function 'and'.
  dbms/tests/performance/and_function.xml
Labels: pr-build

#8005 Add forgotten rows number check to chunk constructor.
  dbms/src/Processors/Chunk.cpp
  dbms/src/Processors/Formats/IRowInputFormat.cpp
Labels: pr-improvement

#7684 DOCS-265: Docs for the max_http_get_redirects setting
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/url.md
Labels: documentation, pr-documentation

#7871 DOCS-121: Introspection functions description
  docs/en/operations/settings/settings.md
  docs/en/query_language/functions/introspection.md
  docs/toc_en.yml
Labels: documentation, pr-documentation

#8028 Fix unintendent dependency from GLIBC 2.16 in clickhouse-odbc-bridge
  dbms/CMakeLists.txt
  dbms/programs/odbc-bridge/CMakeLists.txt
Labels: pr-bugfix

#8032 Create dictionary if not exists
  dbms/src/Parsers/ParserCreateQuery.cpp
  dbms/tests/queries/0_stateless/01041_create_dictionary_if_not_exists.reference
  dbms/tests/queries/0_stateless/01041_create_dictionary_if_not_exists.sql
Labels: pr-bugfix

#8029 Fix external dictionaries failover, when they have invalidate_query.
  dbms/src/Interpreters/ExternalLoader.cpp
  dbms/tests/queries/0_stateless/01033_dictionaries_lifetime.reference
  dbms/tests/queries/0_stateless/01033_dictionaries_lifetime.sql
  dbms/tests/queries/0_stateless/01040_dictionary_invalidate_query_failover.reference
  dbms/tests/queries/0_stateless/01040_dictionary_invalidate_query_failover.sh
Labels: pr-bugfix

#7914 Add checksum for extra info/query in distributed sends
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
  dbms/src/Storages/Distributed/DistributedBlockOutputStream.cpp
  dbms/tests/queries/0_stateless/01040_distributed_directory_monitor_batch_inserts.reference
  dbms/tests/queries/0_stateless/01040_distributed_directory_monitor_batch_inserts.sql
Labels: can be tested, pr-improvement

#7924 Docs: added docs for trimLeft, trimRight, trimBoth
  docs/en/query_language/functions/string_functions.md
  docs/ru/query_language/functions/string_functions.md
Labels: documentation, pr-documentation

#7841 JSONCompactEachRow and JSONCompactEachRowWithNamesAndTypes
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Processors/Formats/Impl/JSONCompactEachRowRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONCompactEachRowRowInputFormat.h
  dbms/src/Processors/Formats/Impl/JSONCompactEachRowRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONCompactEachRowRowOutputFormat.h
  dbms/tests/performance/parse_engine_file.xml
  dbms/tests/performance/select_format.xml
  dbms/tests/queries/0_stateless/01034_JSONCompactEachRow.reference
  dbms/tests/queries/0_stateless/01034_JSONCompactEachRow.sql
Labels: pr-feature

#8047 Fix bug in checkDataPart
  dbms/src/Storages/MergeTree/MergeTreeIndexGranularity.h
  dbms/src/Storages/MergeTree/checkDataPart.cpp
  dbms/tests/queries/0_stateless/01042_check_query_and_last_granule_size.reference
  dbms/tests/queries/0_stateless/01042_check_query_and_last_granule_size.sql
Labels: pr-bugfix

#7786 Incorrect count() with condition query result for SummingMergeTree.
  dbms/src/DataStreams/SummingSortedBlockInputStream.cpp
  dbms/tests/queries/0_stateless/01030_incorrect_count_summing_merge_tree.reference
  dbms/tests/queries/0_stateless/01030_incorrect_count_summing_merge_tree.sql
Labels: pr-bugfix

#7801 DOCS-282: DirectoryMonitor settings description.
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/distributed.md
Labels: documentation, pr-documentation

#7637 Unexpected behaviour of LIMIT WITH TIES and LIMIT BY
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Parsers/ParserSelectQuery.cpp
  dbms/tests/queries/0_stateless/01030_limit_by_with_ties_error.reference
  dbms/tests/queries/0_stateless/01030_limit_by_with_ties_error.sh
Labels: pr-bugfix

#7723 DOCS-85: Update docs for SELECT ... FROM ... FINAL
  docs/en/query_language/select.md
Labels: documentation, pr-doc-fix

#7740 DOCS-163: INTERVAL. EN review, RU translation for #7452
  docs/en/data_types/special_data_types/interval.md
  docs/en/query_language/functions/type_conversion_functions.md
  docs/en/query_language/operators.md
  docs/ru/data_types/special_data_types/interval.md
  docs/ru/query_language/functions/type_conversion_functions.md
  docs/ru/query_language/operators.md
  docs/toc_ru.yml
Labels: documentation, pr-doc-fix

#8063 Improved getting ClickHouse server pid in clickhouse-test
  dbms/tests/clickhouse-test
Labels: pr-build

#8065 attempt to fix pdf docs build
  docs/tools/mkdocs-material-theme/assets/javascripts/lunr/lunr.ja.js
Labels: documentation, pr-documentation

#7632 Allow relative user_files_path
  dbms/src/Storages/StorageFile.cpp
  dbms/tests/integration/test_relative_filepath/__init__.py
  dbms/tests/integration/test_relative_filepath/configs/config.xml
  dbms/tests/integration/test_relative_filepath/test.py
Labels: can be tested

#8071 Avoid null dereference after "Unknown packet X from server"
  dbms/src/Client/Connection.cpp
Labels: can be tested

#8051 Fix several bugs with collations.
  dbms/src/Columns/Collator.cpp
  dbms/src/Columns/Collator.h
  dbms/src/DataStreams/FinishSortingBlockInputStream.cpp
  dbms/src/Interpreters/sortBlock.cpp
  dbms/src/Interpreters/sortBlock.h
  dbms/src/Storages/System/StorageSystemCollations.cpp
  dbms/tests/queries/0_stateless/00105_shard_collations.reference
  dbms/tests/queries/0_stateless/00105_shard_collations.sql
Labels: pr-bugfix

#8081 Added new function JSONExtractArrayRaw
  dbms/src/Functions/FunctionsJSON.cpp
  dbms/src/Functions/FunctionsJSON.h
  dbms/tests/queries/0_stateless/00918_json_functions.reference
  dbms/tests/queries/0_stateless/00918_json_functions.sql
  docs/en/query_language/functions/json_functions.md
  docs/ru/query_language/functions/json_functions.md
Labels: can be tested

#8016 Kafka fixes
  dbms/src/DataStreams/IBlockInputStream.h
  dbms/src/DataStreams/NativeBlockInputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
Labels: altinity, can be tested

#8077 Fix SYSTEM query parser suggestions
  dbms/src/Parsers/ParserSystemQuery.cpp
Labels: can be tested

#8025 Added `-D LINKER_NAME=lld` to instruction to sanitizers.
  dbms/tests/instructions/sanitizers.md
Labels: invalid

#8084 Read temporary tables on failure to avoid interpreting that bits as query
  dbms/programs/server/TCPHandler.cpp
  dbms/programs/server/TCPHandler.h
  dbms/tests/integration/test_read_temporary_tables_on_failure/__init__.py
  dbms/tests/integration/test_read_temporary_tables_on_failure/test.py
Labels: can be tested

#8092 Fix search for lld
  cmake/tools.cmake
Labels: pr-build

#8086 Make the code of geodist less wrong.
  dbms/src/Functions/greatCircleDistance.cpp
  dbms/src/Functions/registerFunctionsGeo.cpp
  dbms/tests/performance/great_circle_dist.xml
  dbms/tests/queries/0_stateless/01043_geo_distance.reference
  dbms/tests/queries/0_stateless/01043_geo_distance.sql
Labels: pr-bugfix

#8097 Omit frame pointer.
  CMakeLists.txt
Labels: can be tested

#8054 porting clock_gettime and clock_nanosleep
  libs/libglibc-compatibility/CMakeLists.txt
  libs/libglibc-compatibility/musl/aarch64/syscall_arch.h
  libs/libglibc-compatibility/musl/clock_gettime.c
  libs/libglibc-compatibility/musl/clock_nanosleep.c
  libs/libglibc-compatibility/musl/sched_getcpu.c
  libs/libglibc-compatibility/musl/syscall.h
  libs/libglibc-compatibility/musl/vdso.c
  libs/libglibc-compatibility/musl/x86_64/syscall_arch.h
Labels: can be tested

#8113 Try to fix docs build
  docs/tools/build.py
  docs/tools/github.py
Labels: documentation, pr-documentation

#8119 ja docs fix
  docs/ja/index.md
Labels: documentation, pr-documentation

#7810 Ignore redundant copies of parts after move and restart
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPart.cpp
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/test_multiple_disks/test.py
Labels: altinity

#8098 Fix dictionary properties
  dbms/src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  dbms/tests/queries/0_stateless/01043_dictionary_attribute_properties_values.reference
  dbms/tests/queries/0_stateless/01043_dictionary_attribute_properties_values.sql
Labels: pr-bugfix

#8115 Better linking
  cmake/tools.cmake
Labels: pr-build

#7420 Move parts between storage volumes according to configured TTL expressions
  dbms/src/Common/quoteString.cpp
  dbms/src/Common/quoteString.h
  dbms/src/DataStreams/TTLBlockInputStream.cpp
  dbms/src/DataStreams/TTLBlockInputStream.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Parsers/ASTAlterQuery.cpp
  dbms/src/Parsers/ASTAlterQuery.h
  dbms/src/Parsers/ASTTTLElement.cpp
  dbms/src/Parsers/ASTTTLElement.h
  dbms/src/Parsers/ExpressionElementParsers.cpp
  dbms/src/Parsers/ExpressionElementParsers.h
  dbms/src/Parsers/ExpressionListParsers.cpp
  dbms/src/Parsers/ExpressionListParsers.h
  dbms/src/Parsers/ParserAlterQuery.cpp
  dbms/src/Parsers/ParserCreateQuery.cpp
  dbms/src/Storages/MergeTree/BackgroundProcessingPool.cpp
  dbms/src/Storages/MergeTree/BackgroundProcessingPool.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataPartTTLInfo.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartTTLInfo.h
  dbms/src/Storages/MergeTree/MergeTreeDataWriter.cpp
  dbms/src/Storages/MergeTree/MergeTreePartsMover.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/PartDestinationType.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.h
  dbms/src/Storages/PartitionCommands.cpp
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/integration/test_ttl_move/__init__.py
  dbms/tests/integration/test_ttl_move/configs/config.d/cluster.xml
  dbms/tests/integration/test_ttl_move/configs/config.d/instant_moves.xml
  dbms/tests/integration/test_ttl_move/configs/config.d/storage_configuration.xml
  dbms/tests/integration/test_ttl_move/configs/logs_config.xml
  dbms/tests/integration/test_ttl_move/test.py
  dbms/tests/integration/test_ttl_replicated/test.py
Labels: altinity

#8146 Fix markdown unsorted list
  docs/ru/operations/system_tables.md
Labels: do not test

#8140 Move parts between storage volumes according to configured TTL expressions
  dbms/src/Common/quoteString.cpp
  dbms/src/Common/quoteString.h
  dbms/src/DataStreams/TTLBlockInputStream.cpp
  dbms/src/DataStreams/TTLBlockInputStream.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Parsers/ASTAlterQuery.cpp
  dbms/src/Parsers/ASTAlterQuery.h
  dbms/src/Parsers/ASTTTLElement.cpp
  dbms/src/Parsers/ASTTTLElement.h
  dbms/src/Parsers/ExpressionElementParsers.cpp
  dbms/src/Parsers/ExpressionElementParsers.h
  dbms/src/Parsers/ExpressionListParsers.cpp
  dbms/src/Parsers/ExpressionListParsers.h
  dbms/src/Parsers/ParserAlterQuery.cpp
  dbms/src/Parsers/ParserCreateQuery.cpp
  dbms/src/Storages/MergeTree/BackgroundProcessingPool.cpp
  dbms/src/Storages/MergeTree/BackgroundProcessingPool.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataPartTTLInfo.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartTTLInfo.h
  dbms/src/Storages/MergeTree/MergeTreeDataWriter.cpp
  dbms/src/Storages/MergeTree/MergeTreePartsMover.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/PartDestinationType.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.h
  dbms/src/Storages/PartitionCommands.cpp
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/integration/test_ttl_move/__init__.py
  dbms/tests/integration/test_ttl_move/configs/config.d/cluster.xml
  dbms/tests/integration/test_ttl_move/configs/config.d/instant_moves.xml
  dbms/tests/integration/test_ttl_move/configs/config.d/storage_configuration.xml
  dbms/tests/integration/test_ttl_move/configs/logs_config.xml
  dbms/tests/integration/test_ttl_move/test.py
  dbms/tests/integration/test_ttl_replicated/test.py
Labels: altinity, can be tested

#8143 Resolved data race in DB::BlockStreamProfileInfo::calculateRowsBeforeLimit()
  dbms/programs/server/TCPHandler.cpp
Labels: pr-bugfix

#8117 Add aggregate function categoricalInformationValue
  dbms/src/AggregateFunctions/AggregateFunctionCategoricalInformationValue.cpp
  dbms/src/AggregateFunctions/AggregateFunctionCategoricalInformationValue.h
  dbms/src/AggregateFunctions/registerAggregateFunctions.cpp
  dbms/tests/performance/information_value.xml
  dbms/tests/queries/0_stateless/01043_categorical_iv.reference
  dbms/tests/queries/0_stateless/01043_categorical_iv.sql
  docs/en/query_language/agg_functions/reference.md
Labels: can be tested

#8147 fix compilation (std::variant with narrowing) with system libcxx
  dbms/CMakeLists.txt
Labels: can be tested

#8163 Dictionaries ddl on cluster
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Parsers/ASTCreateQuery.cpp
  dbms/src/Parsers/ParserCreateQuery.cpp
  dbms/tests/integration/test_dictionary_ddl_on_cluster/__init__.py
  dbms/tests/integration/test_dictionary_ddl_on_cluster/configs/config.d/clusters.xml
  dbms/tests/integration/test_dictionary_ddl_on_cluster/configs/config.d/ddl.xml
  dbms/tests/integration/test_dictionary_ddl_on_cluster/test.py
Labels: pr-feature

#8149 Add arrayZip function
  dbms/src/Functions/array/arrayZipWithIndex.cpp
  dbms/src/Functions/array/registerFunctionsArray.cpp
  dbms/tests/queries/0_stateless/01045_array_zip.reference
  dbms/tests/queries/0_stateless/01045_array_zip.sql
  docs/en/query_language/functions/array_functions.md
Labels: can be tested

#8088 ClusterCopier: refine zxid definition
  dbms/programs/copier/ClusterCopier.cpp
Labels: can be tested

#8192 Better logging in background move task.
  dbms/src/Storages/MergeTree/MergeTreePartsMover.cpp
Labels: altinity

#8190 Test for issue #5142
  dbms/tests/queries/0_stateless/01046_materialized_view_with_join_over_distributed.reference
  dbms/tests/queries/0_stateless/01046_materialized_view_with_join_over_distributed.sql
Labels: altinity, can be tested

#8176 Fix loading of partially dropped table
  dbms/src/Databases/DatabaseOnDisk.cpp
  dbms/tests/integration/test_server_initialization/clickhouse_path/data/default/should_be_restored/data.CSV
  dbms/tests/integration/test_server_initialization/clickhouse_path/metadata/default/should_be_dropped.sql.tmp_drop
  dbms/tests/integration/test_server_initialization/clickhouse_path/metadata/default/should_be_restored.sql.tmp_drop
  dbms/tests/integration/test_server_initialization/test.py
Labels: pr-bugfix

#8179 Add parts_to_do_names column to system.mutations.
  dbms/src/Interpreters/MutationsInterpreter.cpp
  dbms/src/Storages/MergeTree/MergeTreeMutationStatus.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  dbms/src/Storages/MutationCommands.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageMergeTree.h
  dbms/src/Storages/System/StorageSystemMutations.cpp
Labels: pr-improvement

#8185 Fix DROP DICTIONARY IF EXISTS
  dbms/src/Interpreters/InterpreterDropQuery.cpp
  dbms/tests/queries/0_stateless/01041_create_dictionary_if_not_exists.sql
Labels: pr-bugfix

#7812 fix part mutation
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/tests/integration/test_backup_restore/__init__.py
  dbms/tests/integration/test_backup_restore/test.py
  dbms/tests/integration/test_check_table/test.py
  dbms/tests/integration/test_config_substitutions/test.py
  dbms/tests/integration/test_filesystem_layout/test.py
  dbms/tests/integration/test_insert_into_distributed/test.py
  dbms/tests/integration/test_partition/test.py
  dbms/tests/queries/0_stateless/00502_custom_partitioning_local.reference
  dbms/tests/queries/0_stateless/00834_kill_mutation.sh
  dbms/tests/queries/0_stateless/00952_part_frozen_info.reference
  dbms/tests/queries/0_stateless/00961_check_table.reference
  dbms/tests/queries/0_stateless/00961_checksums_in_system_parts_columns_table.reference
  dbms/tests/queries/0_stateless/01015_attach_part.sql
  dbms/tests/queries/0_stateless/01037_zookeeper_check_table_empty_pk.reference
  dbms/tests/queries/0_stateless/01042_check_query_and_last_granule_size.reference
Labels: can be tested, pr-bugfix

#8135 Fixed `test_multiple_disks::test_kill_while_insert` a little
  dbms/tests/integration/test_multiple_disks/test.py
Labels: altinity

#8162 fix build
  dbms/src/Core/Field.h
Labels: can be tested

#8203 CMake curl build quiet mode
  contrib/curl-cmake/CMake/Macros.cmake
  contrib/curl-cmake/CMake/OtherTests.cmake
  contrib/curl-cmake/CMakeLists.txt
Labels: can be tested

#8199 Improved performance of max(), min(), argMin(), argMax() for DateTime64
  dbms/src/AggregateFunctions/HelpersMinMaxAny.h
Labels: can be tested

#7790 Fix "Sizes of columns doesn't match" error with SimpleAggregateFunction
  dbms/src/DataStreams/AggregatingSortedBlockInputStream.cpp
  dbms/tests/queries/0_stateless/01047_simple_aggregate_sizes_of_columns_bug.reference
  dbms/tests/queries/0_stateless/01047_simple_aggregate_sizes_of_columns_bug.sql
Labels: can be tested

#8207 Light fix of parallel cancel test
  dbms/tests/queries/0_stateless/01019_parallel_parsing_cancel.sh
Labels: pr-non-significant

#8164 Fix trivial count query with ConvertingBlockInputStream.
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/tests/queries/0_stateless/01046_trivial_count_query.reference
  dbms/tests/queries/0_stateless/01046_trivial_count_query.sql
Labels: can be tested

#8210 Fix `There's no column` error for materialized and alias columns
  dbms/src/Interpreters/DatabaseAndTableWithAlias.h
  dbms/src/Interpreters/FindIdentifierBestTableVisitor.cpp
  dbms/src/Interpreters/IdentifierSemantic.cpp
  dbms/src/Interpreters/PredicateExpressionsOptimizer.cpp
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  dbms/src/Interpreters/getTableExpressions.cpp
  dbms/src/Interpreters/getTableExpressions.h
  dbms/src/Parsers/ASTSelectQuery.cpp
  dbms/tests/queries/0_stateless/01047_no_alias_columns_with_table_aliases.reference
  dbms/tests/queries/0_stateless/01047_no_alias_columns_with_table_aliases.sql
Labels: pr-bugfix

#8222 Enable ICU for build with Memory Sanitizer
  cmake/sanitize.cmake
Labels: pr-build

#8112 Add function bankerRound
  dbms/src/Functions/FunctionsRound.cpp
  dbms/src/Functions/FunctionsRound.h
  dbms/tests/performance/round_down.xml
  dbms/tests/performance/round_methods.xml
  dbms/tests/queries/0_stateless/00161_rounding_functions.reference
  dbms/tests/queries/0_stateless/00161_rounding_functions.sql
  dbms/tests/queries/0_stateless/00700_decimal_round.reference
  dbms/tests/queries/0_stateless/00700_decimal_round.sql
  docs/en/query_language/functions/rounding_functions.md
Labels: can be tested

#7900 Prometheus endpoint
  dbms/programs/server/CMakeLists.txt
  dbms/programs/server/HTTPHandlerFactory.cpp
  dbms/programs/server/HTTPHandlerFactory.h
  dbms/programs/server/PrometheusMetricsWriter.cpp
  dbms/programs/server/PrometheusMetricsWriter.h
  dbms/programs/server/PrometheusRequestHandler.cpp
  dbms/programs/server/PrometheusRequestHandler.h
  dbms/programs/server/ReplicasStatusHandler.cpp
  dbms/programs/server/ReplicasStatusHandler.h
  dbms/programs/server/Server.cpp
  dbms/programs/server/config.xml
  dbms/tests/integration/test_prometheus_endpoint/__init__.py
  dbms/tests/integration/test_prometheus_endpoint/configs/prom_conf.xml
  dbms/tests/integration/test_prometheus_endpoint/test.py
Labels: can be tested, pr-feature, st-need-info

#8197 Init query context for Kafka to make subqueries work
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/src/Storages/Kafka/StorageKafka.h
  dbms/tests/integration/test_storage_kafka/test.py
Labels: altinity, can be tested

#8055 Refactoring of using ExternalLoader in dictionary DDL.
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Databases/DatabaseDictionary.cpp
  dbms/src/Databases/DatabaseDictionary.h
  dbms/src/Databases/DatabaseLazy.cpp
  dbms/src/Databases/DatabaseLazy.h
  dbms/src/Databases/DatabaseMemory.cpp
  dbms/src/Databases/DatabaseMemory.h
  dbms/src/Databases/DatabaseMySQL.h
  dbms/src/Databases/DatabaseOnDisk.cpp
  dbms/src/Databases/DatabaseOrdinary.cpp
  dbms/src/Databases/DatabasesCommon.cpp
  dbms/src/Databases/DatabasesCommon.h
  dbms/src/Databases/IDatabase.h
  dbms/src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  dbms/src/Dictionaries/getDictionaryConfigurationFromAST.h
  dbms/src/Interpreters/ExternalDictionariesLoader.cpp
  dbms/src/Interpreters/ExternalDictionariesLoader.h
  dbms/src/Interpreters/ExternalLoader.cpp
  dbms/src/Interpreters/ExternalLoader.h
  dbms/src/Interpreters/ExternalLoaderPresetConfigRepository.cpp
  dbms/src/Interpreters/ExternalLoaderPresetConfigRepository.h
  dbms/src/Interpreters/IExternalLoaderConfigRepository.cpp
  dbms/src/Interpreters/IExternalLoaderConfigRepository.h
  dbms/src/Storages/System/StorageSystemDictionaries.cpp
Labels: pr-codecleanup

#8059 Added documentation for extended TTL syntax
  docs/ru/operations/table_engines/mergetree.md
Labels: altinity, documentation, pr-documentation

#8225 Deprecate tcmalloc
  dbms/programs/main.cpp
  dbms/src/Interpreters/AsynchronousMetrics.cpp
Labels: pr-build

#8224 Suppress some trash in build log
  contrib/capnproto-cmake/CMakeLists.txt
Labels: pr-build

#8232 Fix quiet mode for curl
  contrib/curl-cmake/CMakeLists.txt
Labels: can be tested, pr-build

#8230 Fixed #5335. clickhouse-local. Print help if no arguments are passed
  dbms/programs/local/LocalServer.cpp
Labels: can be tested, pr-improvement

#7732 DOCS-2: Remark about Authentification on Zookeeper
  docs/en/operations/access_rights.md
  docs/en/operations/settings/settings_users.md
  docs/en/operations/table_engines/replication.md
  docs/ru/operations/access_rights.md
  docs/ru/operations/settings/settings_users.md
  docs/ru/operations/table_engines/replication.md
Labels: documentation, pr-doc-fix

#8234 Fix insert select from mysql(...)
  dbms/src/Interpreters/InterpreterInsertQuery.cpp
  dbms/tests/integration/test_storage_mysql/test.py
Labels: pr-bugfix

#8034 h3 functions required for circle search
  dbms/src/Functions/h3EdgeAngle.cpp
  dbms/src/Functions/h3EdgeLengthM.cpp
  dbms/src/Functions/h3GetResolution.cpp
  dbms/src/Functions/h3IsValid.cpp
  dbms/src/Functions/h3kRing.cpp
  dbms/src/Functions/registerFunctionsGeo.cpp
  dbms/tests/queries/0_stateless/01040_h3_get_resolution.reference
  dbms/tests/queries/0_stateless/01040_h3_get_resolution.sql
  dbms/tests/queries/0_stateless/01041_h3_is_valid.reference
  dbms/tests/queries/0_stateless/01041_h3_is_valid.sql
  dbms/tests/queries/0_stateless/01042_h3_k_ring.reference
  dbms/tests/queries/0_stateless/01042_h3_k_ring.sql
  dbms/tests/queries/0_stateless/01043_h3_edge_length_m.reference
  dbms/tests/queries/0_stateless/01043_h3_edge_length_m.sql
  dbms/tests/queries/0_stateless/01044_h3_edge_angle.reference
  dbms/tests/queries/0_stateless/01044_h3_edge_angle.sql
  docs/ru/query_language/functions/geo.md
Labels: can be tested

#8177 Fix segfault in table function file while inserting into it
  dbms/src/Storages/StorageFile.cpp
  dbms/tests/integration/test_globs_in_filepath/test.py
  docs/en/operations/table_engines/file.md
  docs/ru/operations/table_engines/file.md
Labels: pr-bugfix

#8127 Add restrictions for several sources of external dictionaries
  dbms/programs/server/Server.cpp
  dbms/src/Dictionaries/CMakeLists.txt
  dbms/src/Dictionaries/ClickHouseDictionarySource.cpp
  dbms/src/Dictionaries/DictionaryFactory.cpp
  dbms/src/Dictionaries/DictionaryFactory.h
  dbms/src/Dictionaries/DictionarySourceFactory.cpp
  dbms/src/Dictionaries/DictionarySourceFactory.h
  dbms/src/Dictionaries/ExecutableDictionarySource.cpp
  dbms/src/Dictionaries/FileDictionarySource.cpp
  dbms/src/Dictionaries/FileDictionarySource.h
  dbms/src/Dictionaries/HTTPDictionarySource.cpp
  dbms/src/Dictionaries/HTTPDictionarySource.h
  dbms/src/Dictionaries/LibraryDictionarySource.cpp
  dbms/src/Dictionaries/LibraryDictionarySource.h
  dbms/src/Dictionaries/MongoDBDictionarySource.cpp
  dbms/src/Dictionaries/MySQLDictionarySource.cpp
  dbms/src/Dictionaries/RedisDictionarySource.cpp
  dbms/src/Dictionaries/XDBCDictionarySource.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/ExternalDictionariesLoader.cpp
  dbms/src/Interpreters/ExternalDictionariesLoader.h
  dbms/src/Interpreters/ExternalLoader.cpp
  dbms/src/Interpreters/ExternalLoader.h
  dbms/src/Interpreters/ExternalModelsLoader.cpp
  dbms/src/Interpreters/ExternalModelsLoader.h
  dbms/tests/integration/test_dictionaries_ddl/configs/config.xml
  dbms/tests/integration/test_dictionaries_ddl/test.py
  dbms/tests/queries/0_stateless/01045_dictionaries_restrictions.reference
  dbms/tests/queries/0_stateless/01045_dictionaries_restrictions.sql
Labels: pr-improvement

#8246 Docs. Link fix
  docs/ru/query_language/functions/geo.md
Labels: documentation, pr-doc-fix

#8249 Kafka fixes backport 19.16
  dbms/src/DataStreams/IBlockInputStream.h
  dbms/src/DataStreams/NativeBlockInputStream.cpp
  dbms/src/DataStreams/NativeBlockInputStream.h
  dbms/src/Processors/Chunk.cpp
  dbms/src/Processors/Formats/IInputFormat.cpp
  dbms/src/Processors/Formats/IInputFormat.h
  dbms/src/Processors/Formats/IRowInputFormat.cpp
  dbms/src/Processors/Formats/IRowInputFormat.h
  dbms/src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/CSVRowInputFormat.h
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.h
  dbms/src/Processors/Formats/Impl/NativeFormat.cpp
  dbms/src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ORCBlockInputFormat.h
  dbms/src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  dbms/src/Processors/Formats/Impl/ProtobufRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TSKVRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TSKVRowInputFormat.h
  dbms/src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TabSeparatedRowInputFormat.h
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.h
  dbms/src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ValuesBlockInputFormat.h
  dbms/src/Processors/Formats/RowInputFormatWithDiagnosticInfo.cpp
  dbms/src/Processors/Formats/RowInputFormatWithDiagnosticInfo.h
  dbms/src/Processors/Port.h
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.h
Labels: can be tested

#8251 Attach AWS SDK logging to CH logging system
  dbms/src/IO/S3Common.cpp
Labels: can be tested

#7386 Make Field::get type-safe in debug builds
  dbms/src/Core/Field.h
Labels: pr-build

#8253 Improve settings constraints tests coverage
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/test_settings_constraints/configs/users.xml
  dbms/tests/integration/test_settings_constraints/test.py
Labels: can be tested

#8250 No mutation number by default
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/tests/integration/test_check_table/test.py
  dbms/tests/integration/test_config_substitutions/test.py
  dbms/tests/integration/test_filesystem_layout/test.py
  dbms/tests/integration/test_insert_into_distributed/test.py
  dbms/tests/integration/test_partition/test.py
  dbms/tests/queries/0_stateless/00502_custom_partitioning_local.reference
  dbms/tests/queries/0_stateless/00834_kill_mutation.sh
  dbms/tests/queries/0_stateless/00952_part_frozen_info.reference
  dbms/tests/queries/0_stateless/00961_check_table.reference
  dbms/tests/queries/0_stateless/00961_checksums_in_system_parts_columns_table.reference
  dbms/tests/queries/0_stateless/01015_attach_part.sql
  dbms/tests/queries/0_stateless/01037_zookeeper_check_table_empty_pk.reference
  dbms/tests/queries/0_stateless/01042_check_query_and_last_granule_size.reference
  dbms/tests/queries/0_stateless/01045_zookeeper_system_mutations_with_parts_names.reference
  dbms/tests/queries/0_stateless/01045_zookeeper_system_mutations_with_parts_names.sh
Labels: pr-bugfix

#8229 Optimize rounding functions
  dbms/src/Functions/FunctionsRound.h
Labels: can be tested

#8141 Fix mac build documentation
  docs/en/development/build_osx.md
  docs/en/development/developer_instruction.md
  docs/ru/development/developer_instruction.md
Labels: documentation, pr-documentation

#8200 Add codec to ALTER ADD COLUMN docs
  docs/en/query_language/alter.md
  docs/en/query_language/create.md
  docs/ru/query_language/alter.md
  docs/ru/query_language/create.md
  docs/zh/query_language/create.md
Labels: documentation

#8266 Fixed documentation build
  docs/ru/query_language/functions/geo.md
  docs/zh/query_language/create.md
Labels: documentation, pr-doc-fix

#8151 Fix clang build
  CMakeLists.txt
Labels: can be tested

#8270 Fixed crash in now64() when it argument is a result of function call.
  dbms/src/Functions/now64.cpp
Labels: can be tested

#8274 now64() tests
  dbms/tests/queries/0_stateless/00921_datetime64_basic.sql
Labels: can be tested

#8272 Fix 00600_replace_running_query.
  dbms/tests/queries/0_stateless/00600_replace_running_query.sh
Labels: pr-build

#8279 Added asserts to KeyCondition while evaluating RPN
  dbms/src/Storages/MergeTree/KeyCondition.cpp
Labels: pr-build

#7707 Allow table identifier as the first arg to joinGet
  dbms/src/Interpreters/ActionsVisitor.cpp
  dbms/src/Interpreters/MarkTableIdentifiersVisitor.cpp
  dbms/tests/queries/0_stateless/00800_versatile_storage_join.reference
  dbms/tests/queries/0_stateless/00800_versatile_storage_join.sql
Labels: pr-improvement

#8275 DDL dictionaries Range fix
  dbms/src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  dbms/tests/queries/0_stateless/01018_ddl_dictionaries_special.reference
  dbms/tests/queries/0_stateless/01018_ddl_dictionaries_special.sql
Labels: pr-bugfix

#7898 avgWeighted
  dbms/src/AggregateFunctions/AggregateFunctionAvg.cpp
  dbms/src/AggregateFunctions/AggregateFunctionAvg.h
  dbms/src/AggregateFunctions/AggregateFunctionAvgWeighted.cpp
  dbms/src/AggregateFunctions/AggregateFunctionAvgWeighted.h
  dbms/src/AggregateFunctions/registerAggregateFunctions.cpp
  dbms/src/AggregateFunctions/registerAggregateFunctions.h
  dbms/tests/queries/0_stateless/01035_avg_weighted.reference
  dbms/tests/queries/0_stateless/01035_avg_weighted.sh
Labels: can be tested, pr-feature, st-discussion

#8271 Don't generate debug info for some fat libraries.
  contrib/CMakeLists.txt
  contrib/orc-cmake/CMakeLists.txt
Labels: pr-build

#8241 Fix checking if a client host is allowed.
  dbms/src/Access/AllowedClientHosts.cpp
  dbms/src/Access/AllowedClientHosts.h
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/test_allowed_client_hosts/__init__.py
  dbms/tests/integration/test_allowed_client_hosts/configs/users.d/network.xml
  dbms/tests/integration/test_allowed_client_hosts/configs/users.xml
  dbms/tests/integration/test_allowed_client_hosts/test.py
Labels: pr-bugfix

#8306 Fix rename distributed
  dbms/src/Interpreters/Cluster.cpp
  dbms/src/Interpreters/DDLWorker.cpp
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
  dbms/src/Storages/Distributed/DirectoryMonitor.h
  dbms/src/Storages/StorageDistributed.cpp
  dbms/src/Storages/StorageDistributed.h
  dbms/tests/integration/test_distributed_ddl/cluster.py
  dbms/tests/integration/test_distributed_ddl/test.py
Labels: pr-bugfix

#8240 Synchronous system reload dictionary
  dbms/src/Databases/DatabaseDictionary.cpp
  dbms/src/Databases/DatabaseOnDisk.cpp
  dbms/src/Interpreters/ExternalDictionariesLoader.h
  dbms/src/Interpreters/ExternalLoader.cpp
  dbms/src/Interpreters/ExternalLoader.h
  dbms/src/Interpreters/ExternalModelsLoader.h
  dbms/src/Interpreters/InterpreterSystemQuery.cpp
  dbms/src/Parsers/ASTSystemQuery.cpp
  dbms/src/Parsers/ParserSystemQuery.cpp
  dbms/src/Storages/System/StorageSystemDictionaries.cpp
  dbms/src/Storages/System/StorageSystemModels.cpp
  dbms/tests/integration/test_dictionaries_update_and_reload/test.py
  dbms/tests/queries/0_stateless/01018_ddl_dictionaries_create.sql
  dbms/tests/queries/0_stateless/01018_ddl_dictionaries_select.sql
  dbms/tests/queries/0_stateless/01036_no_superfluous_dict_reload_on_create_database.reference
  dbms/tests/queries/0_stateless/01036_no_superfluous_dict_reload_on_create_database.sql
  dbms/tests/queries/0_stateless/01036_no_superfluous_dict_reload_on_create_database_2.reference
  dbms/tests/queries/0_stateless/01036_no_superfluous_dict_reload_on_create_database_2.sql
Labels: pr-improvement

#8082 fix bitmapAnd error when intersecting an aggregated bitmap and a scalar bitmap
  dbms/src/Functions/FunctionsBitmap.h
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
Labels: can be tested

#8332 Prometheus endpoint fixes
  dbms/programs/server/PrometheusMetricsWriter.cpp
  dbms/programs/server/PrometheusMetricsWriter.h
  dbms/programs/server/config.xml
  dbms/src/Interpreters/AsynchronousMetrics.cpp
  dbms/tests/integration/test_prometheus_endpoint/test.py
Labels: can be tested

#8267 More strict coverage flush.
  dbms/programs/server/Server.cpp
  docker/test/stateless_with_coverage/run.sh
  libs/libcommon/CMakeLists.txt
  libs/libcommon/include/common/coverage.h
  libs/libcommon/src/coverage.cpp
  libs/libdaemon/src/BaseDaemon.cpp
Labels: pr-build

#8237 Add ability to execute mutations synchronously
  dbms/src/Core/Settings.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageMergeTree.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.h
  dbms/tests/queries/0_stateless/00834_kill_mutation.sh
  dbms/tests/queries/0_stateless/00834_kill_mutation_replicated_zookeeper.reference
  dbms/tests/queries/0_stateless/00834_kill_mutation_replicated_zookeeper.sh
  dbms/tests/queries/0_stateless/01049_zookeeper_synchronous_mutations.reference
  dbms/tests/queries/0_stateless/01049_zookeeper_synchronous_mutations.sql
Labels: pr-improvement

#8371 consistent Ok. in http docs
  docs/en/interfaces/http.md
  docs/fa/interfaces/http.md
  docs/zh/interfaces/http.md
Labels: documentation

#8359 Refactor table creation
  dbms/src/Databases/DatabaseOrdinary.cpp
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Interpreters/InterpreterCreateQuery.h
  dbms/src/Parsers/IAST.h
  dbms/src/Storages/StorageFactory.cpp
  dbms/src/Storages/StorageFactory.h
  docker/test/performance/run.sh
  docker/test/stateful/Dockerfile
  docker/test/stateful_with_coverage/run.sh
  docker/test/stress/Dockerfile
Labels: pr-codecleanup

#8389 DOCS-265: max_http_get_redirects. EN review. RU translation.
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/url.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/table_engines/url.md
Labels: documentation, pr-documentation

#7947 DOCS-173: clickhouse benchmark
  docs/en/operations/utils/clickhouse-benchmark.md
  docs/en/operations/utils/index.md
  docs/fa/operations/utils/clickhouse-benchmark.md
  docs/ja/operations/utils/clickhouse-benchmark.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ja.yml
  docs/toc_zh.yml
  docs/zh/operations/utils/clickhouse-benchmark.md
  docs/zh/operations/utils/index.md
Labels: documentation, pr-documentation

#8391 DOCS-139: FINAL. EN review, RU translation.
  docs/en/query_language/select.md
  docs/ru/query_language/select.md
Labels: documentation, pr-doc-fix

#8388 Remove context from formats
  dbms/CMakeLists.txt
  dbms/src/DataStreams/ParallelParsingBlockInputStream.cpp
  dbms/src/DataStreams/ParallelParsingBlockInputStream.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatFactory.h
  dbms/src/Formats/FormatSchemaInfo.cpp
  dbms/src/Formats/FormatSchemaInfo.h
  dbms/src/Formats/FormatSettings.h
  dbms/src/Formats/NativeFormat.cpp
  dbms/src/Formats/NullFormat.cpp
  dbms/src/Formats/ParsedTemplateFormatString.cpp
  dbms/src/Formats/ParsedTemplateFormatString.h
  dbms/src/Functions/FunctionsConversion.cpp
  dbms/src/Functions/FunctionsConversion.h
  dbms/src/Interpreters/castColumn.cpp
  dbms/src/Interpreters/castColumn.h
  dbms/src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  dbms/src/Processors/Formats/Impl/ArrowColumnToCHColumn.h
  dbms/src/Processors/Formats/Impl/BinaryRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/BinaryRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/CSVRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/CapnProtoRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONCompactEachRowRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONCompactEachRowRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONCompactRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONEachRowRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONEachRowWithProgressRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/MySQLOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/MySQLOutputFormat.h
  dbms/src/Processors/Formats/Impl/NativeFormat.cpp
  dbms/src/Processors/Formats/Impl/NullFormat.cpp
  dbms/src/Processors/Formats/Impl/ODBCDriver2BlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/ODBCDriverBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ORCBlockInputFormat.h
  dbms/src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  dbms/src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/PrettyBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/PrettyCompactBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/PrettySpaceBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/ProtobufRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ProtobufRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/TSKVRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TSKVRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/TemplateBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/TemplateBlockOutputFormat.h
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.h
  dbms/src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ValuesBlockInputFormat.h
  dbms/src/Processors/Formats/Impl/ValuesRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/VerticalRowOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/XMLRowOutputFormat.cpp
Labels: pr-improvement

#8393 fix docs
  docs/en/interfaces/http.md
Labels: documentation, pr-doc-fix

#8382 Use relative paths in Storages
  dbms/src/Databases/DatabaseLazy.cpp
  dbms/src/Databases/DatabaseLazy.h
  dbms/src/Databases/DatabaseMySQL.cpp
  dbms/src/Databases/DatabaseMySQL.h
  dbms/src/Databases/DatabaseOnDisk.cpp
  dbms/src/Databases/DatabaseOnDisk.h
  dbms/src/Databases/DatabaseOrdinary.cpp
  dbms/src/Databases/DatabaseOrdinary.h
  dbms/src/Databases/DatabasesCommon.cpp
  dbms/src/Databases/IDatabase.h
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Interpreters/InterpreterDropQuery.cpp
  dbms/src/Interpreters/InterpreterSystemQuery.cpp
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/registerStorageMergeTree.cpp
  dbms/src/Storages/StorageDistributed.cpp
  dbms/src/Storages/StorageDistributed.h
  dbms/src/Storages/StorageFactory.cpp
  dbms/src/Storages/StorageFactory.h
  dbms/src/Storages/StorageFile.cpp
  dbms/src/Storages/StorageFile.h
  dbms/src/Storages/StorageJoin.cpp
  dbms/src/Storages/StorageJoin.h
  dbms/src/Storages/StorageLog.cpp
  dbms/src/Storages/StorageLog.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageMergeTree.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.h
  dbms/src/Storages/StorageSet.cpp
  dbms/src/Storages/StorageSet.h
  dbms/src/Storages/StorageStripeLog.cpp
  dbms/src/Storages/StorageStripeLog.h
  dbms/src/Storages/StorageTinyLog.cpp
  dbms/src/Storages/StorageTinyLog.h
  dbms/src/Storages/System/StorageSystemDatabases.cpp
  dbms/src/Storages/tests/storage_log.cpp
  dbms/src/TableFunctions/TableFunctionFile.cpp
Labels: pr-non-significant

#8404 Fixed potential buffer overrun in decompress
  dbms/src/Compression/CompressedReadBufferBase.cpp
  dbms/src/Compression/CompressionCodecMultiple.cpp
  dbms/src/Compression/ICompressionCodec.cpp
  dbms/src/Compression/ICompressionCodec.h
  dbms/tests/queries/0_stateless/01052_compression_buffer_overrun.reference
  dbms/tests/queries/0_stateless/01052_compression_buffer_overrun.sh
Labels: pr-bugfix, v19.16, v19.17, v19.18

#8345 Fix buffer overcommit and 01019_Buffer_and_max_memory_usage flakiness
  dbms/src/Storages/StorageBuffer.cpp
  dbms/tests/queries/0_stateless/00553_buff_exists_materlized_column.reference
  dbms/tests/queries/0_stateless/00753_alter_destination_for_storage_buffer.reference
  dbms/tests/queries/0_stateless/01019_Buffer_and_max_memory_usage.reference
  dbms/tests/queries/0_stateless/01019_Buffer_and_max_memory_usage.sql
Labels: can be tested

#8411 Add a note about zero-based array indexes.
  docs/en/query_language/agg_functions/reference.md
Labels: documentation

#8375 Fixed type check in toDateTime64
  dbms/src/DataTypes/IDataType.h
  dbms/src/Functions/FunctionHelpers.cpp
  dbms/src/Functions/FunctionHelpers.h
  dbms/src/Functions/FunctionsConversion.h
  dbms/tests/queries/0_stateless/00921_datetime64_basic.sql
Labels: can be tested

#8413 Fix incorrect past tense in log
  dbms/programs/server/Server.cpp
Labels: can be tested, pr-non-significant

#8349 Perf tests for all supported codecs against Float64 and UInt64.
  dbms/tests/performance/codec_double_delta.xml
  dbms/tests/performance/codec_gorilla.xml
  dbms/tests/performance/codecs_float_insert.xml
  dbms/tests/performance/codecs_float_select.xml
  dbms/tests/performance/codecs_int_insert.xml
  dbms/tests/performance/codecs_int_select.xml
Labels: altinity, can be tested

#8379 Docs for neighbour function
  docs/en/query_language/functions/other_functions.md
  docs/ru/query_language/functions/other_functions.md
Labels: documentation, pr-documentation

#8368 Docs: geoToH3 function
  docs/en/query_language/functions/geo.md
  docs/ru/query_language/functions/geo.md
Labels: documentation, pr-doc-fix

#8378 DOCS-6182: arrayFlatten docs EN review and RU translation
  docs/en/query_language/functions/array_functions.md
  docs/ru/query_language/functions/array_functions.md
Labels: documentation, pr-documentation

#8341 Fix 8325
  dbms/src/AggregateFunctions/HelpersMinMaxAny.h
  dbms/tests/queries/0_stateless/01051_aggregate_function_crash.reference
  dbms/tests/queries/0_stateless/01051_aggregate_function_crash.sql
Labels: can be tested

#8288 Implement ON CLUSTER syntax when we want to reload a dictionary
  dbms/src/Interpreters/InterpreterSystemQuery.cpp
  dbms/src/Parsers/ASTSystemQuery.cpp
  dbms/src/Parsers/ASTSystemQuery.h
  dbms/src/Parsers/ParserSystemQuery.cpp
  dbms/tests/integration/test_dictionary_ddl_on_cluster/test.py
Labels: can be tested

#8118 Check extra parts of `MergeTree` at different disks, in order to not allow to miss data parts at undefined disks
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/tests/integration/test_multiple_disks/test.py
Labels: altinity

#8421 Arrow flatc cleanup
  contrib/arrow-cmake/CMakeLists.txt
  contrib/arrow-cmake/cpp/src/arrow/ipc/File_generated.h
  contrib/arrow-cmake/cpp/src/arrow/ipc/Message_generated.h
  contrib/arrow-cmake/cpp/src/arrow/ipc/Schema_generated.h
  contrib/arrow-cmake/cpp/src/arrow/ipc/SparseTensor_generated.h
  contrib/arrow-cmake/cpp/src/arrow/ipc/Tensor_generated.h
  contrib/arrow-cmake/cpp/src/arrow/ipc/feather_generated.h
  dbms/src/Processors/Formats/IInputFormat.h
  utils/ci/README.md
Labels: can be tested

#8419 [ISSUE-8157] incorrect parsing of file extension in URL
  dbms/src/Storages/StorageURL.cpp
Labels: can be tested

#7808 RBAC-3
  dbms/programs/server/users.xml
  dbms/src/Access/AccessControlManager.cpp
  dbms/src/Access/AccessControlManager.h
  dbms/src/Access/IAccessEntity.cpp
  dbms/src/Access/RowPolicy.cpp
  dbms/src/Access/RowPolicy.h
  dbms/src/Access/RowPolicyContext.cpp
  dbms/src/Access/RowPolicyContext.h
  dbms/src/Access/RowPolicyContextFactory.cpp
  dbms/src/Access/RowPolicyContextFactory.h
  dbms/src/Access/UsersConfigAccessStorage.cpp
  dbms/src/Functions/currentRowPolicies.cpp
  dbms/src/Functions/registerFunctions.h
  dbms/src/Functions/registerFunctionsMiscellaneous.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/InterpreterCreateRowPolicyQuery.cpp
  dbms/src/Interpreters/InterpreterCreateRowPolicyQuery.h
  dbms/src/Interpreters/InterpreterDropAccessEntityQuery.cpp
  dbms/src/Interpreters/InterpreterFactory.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/InterpreterShowCreateAccessEntityQuery.cpp
  dbms/src/Interpreters/InterpreterShowCreateAccessEntityQuery.h
  dbms/src/Interpreters/InterpreterShowRowPoliciesQuery.cpp
  dbms/src/Interpreters/InterpreterShowRowPoliciesQuery.h
  dbms/src/Interpreters/Users.cpp
  dbms/src/Interpreters/Users.h
  dbms/src/Parsers/ASTCreateRowPolicyQuery.cpp
  dbms/src/Parsers/ASTCreateRowPolicyQuery.h
  dbms/src/Parsers/ASTDropAccessEntityQuery.cpp
  dbms/src/Parsers/ASTDropAccessEntityQuery.h
  dbms/src/Parsers/ASTShowCreateAccessEntityQuery.cpp
  dbms/src/Parsers/ASTShowCreateAccessEntityQuery.h
  dbms/src/Parsers/ASTShowRowPoliciesQuery.cpp
  dbms/src/Parsers/ASTShowRowPoliciesQuery.h
  dbms/src/Parsers/ParserCreateRowPolicyQuery.cpp
  dbms/src/Parsers/ParserCreateRowPolicyQuery.h
  dbms/src/Parsers/ParserDropAccessEntityQuery.cpp
  dbms/src/Parsers/ParserQuery.cpp
  dbms/src/Parsers/ParserQueryWithOutput.cpp
  dbms/src/Parsers/ParserShowCreateAccessEntityQuery.cpp
  dbms/src/Parsers/ParserShowRowPoliciesQuery.cpp
  dbms/src/Parsers/ParserShowRowPoliciesQuery.h
  dbms/src/Storages/System/StorageSystemRowPolicies.cpp
  dbms/src/Storages/System/StorageSystemRowPolicies.h
  dbms/src/Storages/System/attachSystemTables.cpp
  dbms/tests/integration/test_row_policy/__init__.py
  dbms/tests/integration/test_row_policy/all_rows.xml
  dbms/tests/integration/test_row_policy/configs/users.d/row_policy.xml
  dbms/tests/integration/test_row_policy/configs/users.xml
  dbms/tests/integration/test_row_policy/no_filters.xml
  dbms/tests/integration/test_row_policy/no_rows.xml
  dbms/tests/integration/test_row_policy/normal_filters.xml
  dbms/tests/integration/test_row_policy/test.py
  dbms/tests/queries/0_stateless/00927_table_filter.reference
  dbms/tests/queries/0_stateless/00927_table_filter.sql
  dbms/tests/queries/0_stateless/01039_row_policy_dcl.reference
  dbms/tests/queries/0_stateless/01039_row_policy_dcl.sql
Labels: pr-feature

#8434 DOCS-508: FAQ: How export to file?
  docs/en/faq/general.md
  docs/en/query_language/select.md
Labels: documentation, pr-doc-fix

#8430 DOCS-395: ORC format support
  docs/en/interfaces/formats.md
Labels: documentation, pr-documentation

#8242 Fixed two bugs in the bloom_filter index.
  dbms/src/Interpreters/BloomFilterHash.h
  dbms/tests/performance/bloom_filter.xml
  dbms/tests/queries/0_stateless/00945_bloom_filter_index.reference
  dbms/tests/queries/0_stateless/00945_bloom_filter_index.sql
  dbms/tests/queries/0_stateless/01045_bloom_filter_null_array.reference
  dbms/tests/queries/0_stateless/01045_bloom_filter_null_array.sql
Labels: can be tested

#8318 Fixed ALTER TTL for replicated tables
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/integration/test_ttl_move/test.py
Labels: can be tested

#8446 Added aggregate function `aggThrow`
  dbms/src/AggregateFunctions/AggregateFunctionAggThrow.cpp
  dbms/src/AggregateFunctions/AggregateFunctionResample.h
  dbms/src/AggregateFunctions/FactoryHelpers.h
  dbms/src/AggregateFunctions/IAggregateFunction.h
  dbms/src/AggregateFunctions/registerAggregateFunctions.cpp
  dbms/src/AggregateFunctions/registerAggregateFunctions.h
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Functions/array/arrayReduce.cpp
  dbms/tests/queries/0_stateless/01052_array_reduce_exception.reference
  dbms/tests/queries/0_stateless/01052_array_reduce_exception.sql
Labels: pr-bugfix, pr-build
