Repository ClickHouse/ClickHouse, pull requests merged in 2019-07, with the labels that each got.

#5820 Added missing implementations of IColumn::getFloat64, IColumn::getBool
  dbms/src/Columns/ColumnConst.h
  dbms/src/Columns/ColumnLowCardinality.h
  dbms/src/Columns/ColumnUnique.h
  dbms/tests/queries/0_stateless/00960_eval_ml_method_const.reference
  dbms/tests/queries/0_stateless/00960_eval_ml_method_const.sql
Labels: pr-bugfix

#5819 Fix segfault in TTL merge with non-physical columns in block.
  dbms/src/DataStreams/TTLBlockInputStream.cpp
  dbms/src/DataStreams/TTLBlockInputStream.h
  dbms/tests/queries/0_stateless/00933_ttl_simple.reference
  dbms/tests/queries/0_stateless/00933_ttl_simple.sql
Labels: pr-bugfix

#5382 Add virtual columns to Kafka Engine tables
  dbms/src/Core/Block.cpp
  dbms/src/Core/Types.h
  dbms/src/DataStreams/ConvertingBlockInputStream.cpp
  dbms/src/DataStreams/OneBlockInputStream.h
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.cpp
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.h
  dbms/src/Formats/BinaryRowInputStream.cpp
  dbms/src/Formats/BlockInputStreamFromRowInputStream.cpp
  dbms/src/Formats/BlockInputStreamFromRowInputStream.h
  dbms/src/Formats/CSVRowInputStream.cpp
  dbms/src/Formats/CapnProtoRowInputStream.cpp
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatFactory.h
  dbms/src/Formats/JSONEachRowRowInputStream.cpp
  dbms/src/Formats/NativeFormat.cpp
  dbms/src/Formats/ParquetBlockInputStream.cpp
  dbms/src/Formats/ProtobufRowInputStream.cpp
  dbms/src/Formats/TSKVRowInputStream.cpp
  dbms/src/Formats/TabSeparatedRowInputStream.cpp
  dbms/src/Formats/ValuesRowInputStream.cpp
  dbms/src/Formats/tests/block_row_transforms.cpp
  dbms/src/Formats/tests/tab_separated_streams.cpp
  dbms/src/Interpreters/InterpreterInsertQuery.cpp
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/src/Storages/AlterCommands.cpp
  dbms/src/Storages/ColumnsDescription.cpp
  dbms/src/Storages/ColumnsDescription.h
  dbms/src/Storages/IStorage.cpp
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.h
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/src/Storages/Kafka/StorageKafka.h
  dbms/src/Storages/StorageCatBoostPool.cpp
  dbms/src/Storages/StorageMerge.cpp
  dbms/src/Storages/StorageMerge.h
  dbms/src/Storages/System/StorageSystemPartsBase.cpp
  dbms/src/Storages/VirtualColumnUtils.cpp
  dbms/src/Storages/VirtualColumnUtils.h
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/test_storage_kafka/test.py
  dbms/tests/integration/test_storage_kafka/test_kafka_virtual1.reference
  dbms/tests/integration/test_storage_kafka/test_kafka_virtual2.reference
  docs/en/operations/table_engines/merge.md
Labels: pr-feature

#5822 fix build on macosx and gcc9
  dbms/src/Functions/GeoUtils.h
Labels: can be tested

#5830 fix macos build after #4828
  libs/libcommon/include/common/StackTrace.h
  libs/libdaemon/src/BaseDaemon.cpp
Labels: can be tested

#5824 Fixed DoubleDelta codec edge case
  dbms/src/Compression/CompressionCodecDoubleDelta.cpp
  dbms/tests/queries/0_stateless/00950_test_double_delta_codec.reference
  dbms/tests/queries/0_stateless/00950_test_double_delta_codec.sql
Labels: can be tested

#5832 Fix low cardinality check
  dbms/src/Storages/MergeTree/checkDataPart.cpp
Labels: pr-bugfix

#5840 Compatibility with old compiler (gcc-7)
  dbms/src/Interpreters/ExternalLoader.cpp
Labels: pr-build

#5842 Fixed wrong code in QueryPriorities
  dbms/src/Interpreters/QueryPriorities.h
Labels: pr-bugfix

#5838 Joins refactoring: extract joinDispatch into own file
  dbms/src/Interpreters/Join.cpp
  dbms/src/Interpreters/Join.h
  dbms/src/Interpreters/joinDispatch.h
  dbms/src/Storages/StorageJoin.cpp
Labels: pr-codecleanup

#5728 Add asan integration to arenas.
  dbms/src/AggregateFunctions/AggregateFunctionForEach.h
  dbms/src/Common/Allocator.h
  dbms/src/Common/Arena.h
  dbms/src/Common/ArenaWithFreeLists.h
  dbms/src/Functions/FunctionBinaryArithmetic.h
  libs/libcommon/include/common/StringRef.h
Labels: can be tested

#5845 Add link to experimental YouTube channel to website
  website/index.html
Labels: documentation, pr-documentation

#5852 Keep on reading of new Kafka message after stalling
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
Labels: pr-bugfix

#5794 Update reference.md
  docs/ru/query_language/agg_functions/reference.md
Labels: documentation, need info, pr-documentation

#5864 Update reference.md
  docs/en/query_language/agg_functions/reference.md
Labels: documentation, pr-doc-fix

#5713 DOCAPI-6425: EN review. RU Translation. User settings.
  docs/en/operations/settings/settings_users.md
  docs/fa/operations/settings/settings_users.md
  docs/ru/operations/settings/settings_users.md
  docs/toc_fa.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/operations/settings/settings_users.md
Labels: documentation, pr-documentation

#5876 Russian changelog for 19.8.3.8, 19.7.5.27 and 19.6.3.18
  CHANGELOG_RU.md
Labels: do not test

#5850 Add element on SpaceSaving set if the last element has a lower value compared to the last one
  dbms/src/Common/SpaceSaving.h
  dbms/tests/queries/0_stateless/00840_top_k_weighted.reference
  dbms/tests/queries/0_stateless/00840_top_k_weighted.sql
Labels: can be tested, pr-improvement

#5871 Fix heap-use-after-free in ClusterCopier
  dbms/programs/copier/ClusterCopier.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
Labels: pr-bugfix

#5880 Close idle TCP connections
  dbms/programs/server/TCPHandler.cpp
  dbms/src/Core/Settings.h
Labels: pr-improvement

#5875 Less locking in MetricsTransmitter
  dbms/programs/server/MetricsTransmitter.cpp
  dbms/programs/server/MetricsTransmitter.h
  dbms/programs/server/Server.cpp
Labels: pr-improvement

#5857 Implement dns cache with asynchronous update.
  dbms/programs/server/Server.cpp
  dbms/src/Common/DNSResolver.cpp
  dbms/src/Common/DNSResolver.h
  dbms/src/Interpreters/DNSCacheUpdater.cpp
  dbms/src/Interpreters/DNSCacheUpdater.h
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Storages/MergeTree/BackgroundProcessingPool.cpp
  dbms/tests/integration/test_host_ip_change/configs/dns_update_long.xml
  dbms/tests/integration/test_host_ip_change/configs/dns_update_short.xml
  dbms/tests/integration/test_host_ip_change/configs/remote_servers.xml
  dbms/tests/integration/test_host_ip_change/test.py
  libs/libcommon/include/common/SimpleCache.h
Labels: pr-improvement

#5887 Add performance test concerning JIT with bigger dataset
  dbms/tests/performance/jit_large_requests.xml
  dbms/tests/performance/jit_small_requests.xml
Labels: can be tested

#5892 ThreadStatus: removed bad and questionable code
  dbms/src/Common/CurrentThread.cpp
  dbms/src/Common/CurrentThread.h
  dbms/src/Common/ThreadStatus.h
  dbms/src/Interpreters/ThreadStatusExt.cpp
  libs/libloggers/loggers/ExtendedLogChannel.cpp
Labels: pr-codecleanup

#5890 Allow time drift in DNSCacheUpdater for natural randomization
  dbms/src/Interpreters/DNSCacheUpdater.cpp
  dbms/src/Interpreters/DNSCacheUpdater.h
Labels: pr-improvement

#5874 Add data checksums to system.parts_columns table. #5151
  .gitignore
  dbms/src/Storages/System/StorageSystemParts.cpp
  dbms/src/Storages/System/StorageSystemPartsColumns.cpp
  dbms/tests/queries/0_stateless/00961_checksums_in_system_parts_columns_table.reference
  dbms/tests/queries/0_stateless/00961_checksums_in_system_parts_columns_table.sql
Labels: can be tested

#5886 Enum data type as a synonim for Enum8 or Enum16.
  dbms/src/DataTypes/DataTypeEnum.cpp
  dbms/tests/queries/0_stateless/00962_enumNotExect.reference
  dbms/tests/queries/0_stateless/00962_enumNotExect.sql
Labels: can be tested

#5902 Fixed buffer underflow in visitParamExtractRaw
  dbms/src/Functions/FunctionsVisitParam.h
  dbms/tests/queries/0_stateless/00961_visit_param_buffer_underflow.reference
  dbms/tests/queries/0_stateless/00961_visit_param_buffer_underflow.sql
  dbms/tests/queries/0_stateless/00962_visit_param_various.reference
  dbms/tests/queries/0_stateless/00962_visit_param_various.sql
Labels: pr-bugfix

#5855 Use --no-undefined linker option for split build
  CMakeLists.txt
  dbms/CMakeLists.txt
  dbms/programs/benchmark/CMakeLists.txt
  dbms/programs/client/CMakeLists.txt
  dbms/programs/compressor/CMakeLists.txt
  dbms/programs/copier/CMakeLists.txt
  dbms/programs/extract-from-config/CMakeLists.txt
  dbms/programs/local/CMakeLists.txt
  dbms/programs/odbc-bridge/CMakeLists.txt
  dbms/programs/performance-test/CMakeLists.txt
  dbms/programs/server/CMakeLists.txt
  dbms/src/Functions/CMakeLists.txt
  dbms/src/Functions/GatherUtils/CMakeLists.txt
  dbms/src/Functions/URL/CMakeLists.txt
  dbms/src/Functions/array/CMakeLists.txt
  dbms/src/Storages/CMakeLists.txt
  dbms/src/Storages/Kafka/CMakeLists.txt
  dbms/src/Storages/System/CMakeLists.txt
  dbms/src/TableFunctions/CMakeLists.txt
  docker/packager/packager
Labels: pr-build

#5914 Added performance test in appreciation of #5797
  dbms/tests/performance/merge_table_streams.xml
Labels: pr-build

#5915 Increase number of streams to SELECT from Merge table
  dbms/src/Core/Settings.h
  dbms/src/Storages/StorageMerge.cpp
Labels: pr-performance

#5919 startsWith now uses PK index
  dbms/src/Storages/MergeTree/KeyCondition.cpp
  dbms/tests/queries/0_stateless/00963_startsWith_force_primary_key.reference
  dbms/tests/queries/0_stateless/00963_startsWith_force_primary_key.sql
Labels: can be tested

#5922 Fixed DateLUT initialization when /etc/localtime is a relative symlink like ../usr/share/zoneinfo/Europe/Moscow
  libs/libcommon/src/DateLUT.cpp
Labels: pr-bugfix

#5924 Allowed unresolvable addresses in cluster configuration
  dbms/src/Client/Connection.cpp
  dbms/src/Client/Connection.h
  dbms/src/Common/isLocalAddress.h
  dbms/src/Interpreters/Cluster.cpp
  dbms/src/Interpreters/Cluster.h
  dbms/src/Interpreters/DDLWorker.cpp
  dbms/src/Storages/System/StorageSystemClusters.cpp
  dbms/tests/queries/0_stateless/00965_shard_unresolvable_addresses.reference
  dbms/tests/queries/0_stateless/00965_shard_unresolvable_addresses.sql
Labels: pr-improvement

#5934 Add changelog for backporting of 19.7 and 19.9
  CHANGELOG.md
  CHANGELOG_RU.md
Labels: do not test

#5923 Add two more warnings from -Weverything
  contrib/CMakeLists.txt
  dbms/CMakeLists.txt
  dbms/src/Columns/tests/CMakeLists.txt
  dbms/src/Columns/tests/gtest_column_unique.cpp
  dbms/src/Common/ZooKeeper/tests/gtest_zkutil_test_multi_exception.cpp
  dbms/src/Common/tests/gtest_rw_lock.cpp
  dbms/src/Common/tests/gtest_shell_command.cpp
  dbms/src/Common/tests/gtest_thread_pool_concurrent_wait.cpp
  dbms/src/Common/tests/gtest_thread_pool_limit.cpp
  dbms/src/Common/tests/gtest_thread_pool_loop.cpp
  dbms/src/Common/tests/gtest_thread_pool_schedule_exception.cpp
  dbms/src/Common/tests/gtest_unescapeForFileName.cpp
  dbms/src/Compression/tests/gtest_compressionCodec.cpp
  dbms/src/Core/Field.h
  dbms/src/Core/SettingsCommon.h
  dbms/src/DataStreams/tests/gtest_blocks_size_merging_streams.cpp
  dbms/src/DataTypes/tests/gtest_data_type_get_common_type.cpp
  dbms/src/Formats/ProtobufReader.cpp
  dbms/src/Functions/CRC32.cpp
  dbms/src/Functions/URL/decodeURLComponent.cpp
  dbms/src/Functions/isValidUTF8.cpp
  dbms/src/Functions/lengthUTF8.cpp
  dbms/src/Functions/reverseUTF8.cpp
  dbms/src/Functions/toValidUTF8.cpp
  dbms/src/IO/ReadHelpers.h
  dbms/src/IO/WriteHelpers.h
  dbms/src/IO/tests/gtest_aio_seek_back_after_eof.cpp
  dbms/src/IO/tests/gtest_bit_io.cpp
  dbms/src/IO/tests/gtest_cascade_and_memory_write_buffer.cpp
  dbms/src/IO/tests/read_buffer_aio.cpp
  dbms/src/IO/tests/write_buffer_aio.cpp
  dbms/src/Interpreters/tests/hash_map_string.cpp
  dbms/src/Storages/tests/gtest_aux_funcs_for_adaptive_granularity.cpp
  dbms/src/Storages/tests/gtest_row_source_bits_test.cpp
  dbms/src/Storages/tests/gtest_transform_query_for_external_database.cpp
Labels: pr-build

#5921 A few fixes for PVS-Studio
  dbms/programs/benchmark/Benchmark.cpp
  dbms/programs/client/Client.cpp
  dbms/programs/copier/ClusterCopier.cpp
  dbms/programs/local/LocalServer.cpp
  dbms/programs/obfuscator/Obfuscator.cpp
  dbms/programs/odbc-bridge/ODBCBridge.cpp
  dbms/programs/performance-test/PerformanceTestSuite.cpp
  dbms/programs/server/HTTPHandler.cpp
  dbms/programs/server/MySQLHandler.cpp
  dbms/programs/server/Server.cpp
  dbms/programs/server/TCPHandler.cpp
  dbms/src/Client/Connection.cpp
  dbms/src/Common/formatIPv6.cpp
  dbms/src/Common/tests/parallel_aggregation2.cpp
  dbms/src/DataStreams/tests/collapsing_sorted_stream.cpp
  dbms/src/DataStreams/tests/expression_stream.cpp
  dbms/src/DataStreams/tests/filter_stream.cpp
  dbms/src/DataStreams/tests/union_stream2.cpp
  dbms/src/Dictionaries/ClickHouseDictionarySource.h
  dbms/src/Dictionaries/ExecutableDictionarySource.h
  dbms/src/Dictionaries/HTTPDictionarySource.h
  dbms/src/Dictionaries/LibraryDictionarySource.h
  dbms/src/Dictionaries/MySQLDictionarySource.h
  dbms/src/Dictionaries/XDBCDictionarySource.h
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Interpreters/tests/create_query.cpp
  dbms/src/Interpreters/tests/expression.cpp
  dbms/src/Interpreters/tests/expression_analyzer.cpp
  dbms/src/Interpreters/tests/in_join_subqueries_preprocessor.cpp
  dbms/src/Interpreters/tests/select_query.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.cpp
  dbms/src/Storages/tests/gtest_transform_query_for_external_database.cpp
  dbms/src/Storages/tests/storage_log.cpp
  dbms/src/Storages/tests/system_numbers.cpp
  libs/libcommon/include/common/JSON.h
  libs/libmysqlxx/CMakeLists.txt
  libs/libmysqlxx/include/mysqlxx/Manip.h
  libs/libmysqlxx/include/mysqlxx/mysqlxx.h
  libs/libmysqlxx/src/tests/mysqlxx_test.cpp
Labels: pr-build

#5865 Fix fetch of existing part and add CHECK QUERY support
  dbms/src/Common/FileChecker.cpp
  dbms/src/Common/FileChecker.h
  dbms/src/Interpreters/InterpreterCheckQuery.cpp
  dbms/src/Parsers/ASTCheckQuery.h
  dbms/src/Parsers/ParserCheckQuery.cpp
  dbms/src/Storages/CheckResults.h
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.h
  dbms/src/Storages/MergeTree/checkDataPart.cpp
  dbms/src/Storages/StorageLog.cpp
  dbms/src/Storages/StorageLog.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageMergeTree.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.h
  dbms/src/Storages/StorageStripeLog.cpp
  dbms/src/Storages/StorageStripeLog.h
  dbms/src/Storages/StorageTinyLog.cpp
  dbms/src/Storages/StorageTinyLog.h
  dbms/tests/integration/test_check_table/__init__.py
  dbms/tests/integration/test_check_table/test.py
  dbms/tests/queries/0_stateless/00063_check_query.reference
  dbms/tests/queries/0_stateless/00961_check_table.reference
  dbms/tests/queries/0_stateless/00961_check_table.sql
  dbms/tests/queries/1_stateful/00077_log_tinylog_stripelog.reference
Labels: pr-bugfix, pr-improvement

#5946 WIP: add user parsing in HDFS URI
  dbms/src/IO/HDFSCommon.cpp
Labels: can be tested

#5667 Some clarifications to File engine docs.
  docs/en/interfaces/formats.md
  docs/en/operations/table_engines/file.md
Labels: do not test, documentation, pr-documentation

#5848 DOCAPI-7090: SYSTEM DISTRIBUTED queries description.
  docs/en/query_language/system.md
  docs/fa/query_language/system.md
  docs/ru/query_language/system.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/query_language/system.md
Labels: documentation, pr-documentation

#5849 DOCAPI-7103: Clarification of CollapsingMergeTree description.
  docs/en/operations/table_engines/collapsingmergetree.md
Labels: documentation, pr-doc-fix

#5898 Document: Chinese translation of Overview of ClickHouse Architecture
  docs/zh/development/architecture.md
Labels: documentation, pr-doc-fix

#5212 Added functions for working with the Custom week number
  dbms/src/Functions/CustomWeekTransforms.h
  dbms/src/Functions/FunctionCustomWeekToSomething.h
  dbms/src/Functions/registerFunctionsDateTime.cpp
  dbms/src/Functions/toCustomWeek.cpp
  dbms/tests/queries/0_stateless/00941_to_custom_week.reference
  dbms/tests/queries/0_stateless/00941_to_custom_week.sql
  docs/en/query_language/functions/date_time_functions.md
  libs/libcommon/include/common/DateLUTImpl.h
Labels: can be tested, pr-feature

#5706 DOCAPI-7062: MySQL database engine docs. Update of MergeTree TTL docs.
  docs/en/database_engines/index.md
  docs/en/database_engines/mysql.md
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/mergetree.md
  docs/en/query_language/create.md
  docs/en/query_language/functions/ip_address_functions.md
  docs/en/query_language/operators.md
  docs/fa/database_engines/index.md
  docs/fa/database_engines/mysql.md
  docs/ru/database_engines/index.md
  docs/ru/database_engines/mysql.md
  docs/ru/query_language/functions/ip_address_functions.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/database_engines/index.md
  docs/zh/database_engines/mysql.md
Labels: documentation, pr-documentation

#5958 Batch of tests
  dbms/tests/queries/0_stateless/00153_transform.sql
  dbms/tests/queries/0_stateless/00640_endsWith.sql
  dbms/tests/queries/0_stateless/00734_timeslot.sql
  dbms/tests/queries/0_stateless/00968_roundAge.reference
  dbms/tests/queries/0_stateless/00968_roundAge.sql
  dbms/tests/queries/0_stateless/00969_roundDuration.reference
  dbms/tests/queries/0_stateless/00969_roundDuration.sql
  dbms/tests/queries/0_stateless/00970_substring_arg_validation.sql
Labels: can be tested

#5973 Fix deserializeAndInsertFromArena.
  dbms/src/Columns/ColumnArray.cpp
  dbms/src/Columns/ColumnNullable.cpp
  dbms/src/Columns/ColumnTuple.cpp
  dbms/src/Columns/ColumnUnique.h
Labels: pr-bugfix

#6015 Disable mimalloc, because we suspect it has bugs
  cmake/find_mimalloc.cmake
  dbms/src/Common/tests/CMakeLists.txt
  dbms/src/Common/tests/mi_malloc_test.cpp
Labels: pr-bugfix

#6017 Add OOM checks in mimalloc
  dbms/src/Common/MiAllocator.cpp
Labels: can be tested, pr-improvement

#6008 Using std::gcd, lcm instead of boost
  dbms/src/Functions/gcd.cpp
  dbms/src/Functions/lcm.cpp
Labels: pr-codecleanup

#6018 Fix bug client version which is able to read additional progress fiel…
  dbms/src/Core/Defines.h
  dbms/tests/integration/test_old_versions_client/test.py
Labels: pr-bugfix

#6001 Fixed error with query_id printing
  dbms/src/Interpreters/ThreadStatusExt.cpp
  dbms/tests/queries/0_stateless/00971_query_id_in_logs.reference
  dbms/tests/queries/0_stateless/00971_query_id_in_logs.sh
Labels: pr-bugfix

#5998 Fixed DoubleDelta encoding cases for random Int32 and Int64.
  dbms/src/Compression/CompressionCodecDoubleDelta.cpp
  dbms/src/Compression/tests/gtest_compressionCodec.cpp
  dbms/src/IO/BitHelpers.h
Labels: can be tested

#6019 Fixed error with calculating of max_rows_to_read if the setting merge_tree_uniform_read_distribution is set to zero.
  dbms/src/Storages/MergeTree/MergeTreeSelectBlockInputStream.cpp
  dbms/tests/queries/0_stateless/00971_merge_tree_uniform_read_distribution_and_max_rows_to_read.reference
  dbms/tests/queries/0_stateless/00971_merge_tree_uniform_read_distribution_and_max_rows_to_read.sql
Labels: pr-bugfix

#5965 Primary key, MergeTreeIndexFullText and MergeTreeIndexSet support for string functions
  dbms/src/Storages/MergeTree/KeyCondition.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.h
  dbms/src/Storages/MergeTree/MergeTreeIndexSet.cpp
  dbms/tests/queries/0_stateless/00964_bloom_index_string_functions.reference
  dbms/tests/queries/0_stateless/00964_bloom_index_string_functions.sh
  dbms/tests/queries/0_stateless/00965_set_index_string_functions.reference
  dbms/tests/queries/0_stateless/00965_set_index_string_functions.sh
Labels: can be tested

#6009 configs for query masking rules tests
  dbms/tests/config/query_masking_rules.xml
  dbms/tests/server-test.xml
  docker/test/stateless/Dockerfile
Labels: can be tested

#5889 DOCAPI-7129 Nested JSON in JSONEachRow description + date_time_input_format
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/en/query_language/functions/array_functions.md
  docs/fa/interfaces/formats.md
  docs/zh/interfaces/formats.md
Labels: documentation, pr-documentation

#6024 Add settings for check query backward compatibility
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/InterpreterCheckQuery.cpp
  dbms/src/Interpreters/InterpreterCheckQuery.h
  dbms/tests/integration/test_check_table/test.py
  dbms/tests/queries/0_stateless/00063_check_query.reference
  dbms/tests/queries/0_stateless/00063_check_query.sql
  dbms/tests/queries/0_stateless/00961_check_table.sql
  dbms/tests/queries/1_stateful/00077_log_tinylog_stripelog.reference
  dbms/tests/queries/1_stateful/00077_log_tinylog_stripelog.sql
Labels: backward compatibility, pr-bugfix

#6025 Minor fixes for FullTextIndex string functions
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.h
Labels: pr-codecleanup

#6027 Misc build fix
  dbms/CMakeLists.txt
  dbms/src/Columns/Collator.cpp
Labels: can be tested

#6028 Optimize count()
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/MergeTree/MergeTreeBlockReadUtils.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataPart.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPart.h
  dbms/src/Storages/System/StorageSystemColumns.cpp
  dbms/src/Storages/System/StorageSystemParts.cpp
  dbms/src/Storages/System/StorageSystemPartsColumns.cpp
  dbms/tests/performance/count.xml
Labels: can be tested, pr-improvement

#5964 "send_logs_level" bugfix
  dbms/programs/server/TCPHandler.cpp
  dbms/src/Common/CurrentThread.cpp
  dbms/src/Common/CurrentThread.h
  dbms/src/Common/ThreadStatus.cpp
  dbms/src/Common/ThreadStatus.h
  dbms/src/Interpreters/InternalTextLogsQueue.cpp
  dbms/tests/integration/helpers/client.py
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/test_logs_level/__init__.py
  dbms/tests/integration/test_logs_level/configs/config_information.xml
  dbms/tests/integration/test_logs_level/test.py
  dbms/tests/queries/0_stateless/00965_pocopatch_logs_level_bugfix.reference
  dbms/tests/queries/0_stateless/00965_pocopatch_logs_level_bugfix.sh
  dbms/tests/queries/0_stateless/00965_pocopatch_send_logs_level_concurrent_queries.reference
  dbms/tests/queries/0_stateless/00965_pocopatch_send_logs_level_concurrent_queries.sh
  libs/libcommon/include/common/logger_useful.h
Labels: can be tested

#6040 Do not show virtual columns in DESCRIBE TABLE
  dbms/src/Interpreters/InterpreterDescribeQuery.cpp
Labels: pr-bugfix

#6039 AsynchronousMetrics: add a metric for number of databases and total number of tables.
  dbms/src/Interpreters/AsynchronousMetrics.cpp
Labels: can be tested

#6036 Remove unnecessary try catch
  dbms/src/Dictionaries/CacheDictionary.h
  dbms/src/Dictionaries/ComplexKeyCacheDictionary.h
  dbms/src/Dictionaries/ComplexKeyHashedDictionary.cpp
  dbms/src/Dictionaries/ComplexKeyHashedDictionary.h
  dbms/src/Dictionaries/FlatDictionary.cpp
  dbms/src/Dictionaries/FlatDictionary.h
  dbms/src/Dictionaries/HashedDictionary.cpp
  dbms/src/Dictionaries/HashedDictionary.h
  dbms/src/Dictionaries/RangeHashedDictionary.cpp
  dbms/src/Dictionaries/RangeHashedDictionary.h
  dbms/src/Dictionaries/TrieDictionary.h
  dbms/src/Interpreters/CatBoostModel.cpp
  dbms/src/Interpreters/CatBoostModel.h
  dbms/src/Interpreters/ExternalLoader.cpp
  dbms/src/Interpreters/ExternalLoader.h
  dbms/src/Interpreters/IExternalLoadable.h
Labels: pr-codecleanup

#6010 Fix build with external libcxx
  CMakeLists.txt
  cmake/find_cxx.cmake
  cmake/find_cxxabi.cmake
  contrib/CMakeLists.txt
Labels: pr-build

#5904 DOCAPI-7400: Gorilla codecs. Basic review of English text.
  docs/en/query_language/create.md
Labels: documentation, pr-documentation

#5944 DOCAPI-7444: RU <-> EN docs regular sync.
  docs/en/operations/server_settings/settings.md
  docs/en/operations/table_engines/file.md
  docs/en/query_language/agg_functions/combinators.md
  docs/en/query_language/functions/geo.md
  docs/en/query_language/functions/other_functions.md
  docs/ru/getting_started/example_datasets/star_schema.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/table_engines/file.md
  docs/ru/operations/table_engines/kafka.md
  docs/ru/query_language/agg_functions/combinators.md
  docs/ru/query_language/functions/geo.md
  docs/ru/query_language/functions/other_functions.md
  docs/zh/query_language/functions/other_functions.md
Labels: documentation

#6056 fix clang build with certain toolchain
  dbms/src/Common/TaskStatsInfoGetter.cpp
Labels: can be tested

#5981 Count new/delete memory in MemoryTracker
  CMakeLists.txt
  contrib/jemalloc-cmake/CMakeLists.txt
  dbms/CMakeLists.txt
  dbms/src/Common/Allocator.h
  dbms/src/Common/CurrentThread.cpp
  dbms/src/Common/CurrentThread.h
  dbms/src/Common/MemoryTracker.cpp
  dbms/src/Common/MemoryTracker.h
  dbms/src/Common/ThreadStatus.cpp
  dbms/src/Common/ThreadStatus.h
  dbms/src/Common/new_delete.cpp
  dbms/tests/performance/joins_in_memory.xml
  dbms/tests/queries/0_stateless/00877_memory_limit_for_new_delete.reference
  dbms/tests/queries/0_stateless/00877_memory_limit_for_new_delete.sql
  libs/libcommon/include/common/config_common.h.in
  libs/libcommon/include/common/memory.h
Labels: pr-improvement

#6059 Russian documentation about functions for working with external dictionaries
  docs/en/query_language/functions/ext_dict_functions.md
  docs/ru/query_language/functions/ext_dict_functions.md
Labels: documentation, pr-doc-fix

#6073 Fix a race condition in parallel table loading.
  dbms/src/Core/Defines.h
  dbms/src/Databases/DatabaseDictionary.cpp
  dbms/src/Databases/DatabaseDictionary.h
  dbms/src/Databases/DatabaseMemory.cpp
  dbms/src/Databases/DatabaseMemory.h
  dbms/src/Databases/DatabaseMySQL.h
  dbms/src/Databases/DatabaseOrdinary.cpp
  dbms/src/Databases/DatabaseOrdinary.h
  dbms/src/Databases/IDatabase.h
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Interpreters/InterpreterCreateQuery.h
  dbms/src/Interpreters/loadMetadata.cpp
  dbms/src/Interpreters/tests/create_query.cpp
  dbms/src/Interpreters/tests/select_query.cpp
Labels: pr-build

#6070 Add verification of the length of the protobuf message
  dbms/src/Formats/ProtobufReader.cpp
  dbms/src/Formats/ProtobufReader.h
Labels: can be tested

#6068 Resolve segfault on IPv6CIDRToRange with setting a max cidr
  dbms/src/Functions/FunctionsCoding.h
  dbms/tests/queries/0_stateless/00938_ipv6_cidr_range.reference
  dbms/tests/queries/0_stateless/00938_ipv6_cidr_range.sql
Labels: can be tested, pr-bugfix

#6077 cmake - disallow switching ENABLE_MONGODB separate from ENABLE_POCO_MONGODB
  cmake/find_poco.cmake
Labels: can be tested

#6000 regression methods adam optimizer
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.cpp
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.h
  dbms/tests/queries/0_stateless/00944_ml_test.sql
  dbms/tests/queries/0_stateless/00946_ml_test.reference
  dbms/tests/queries/0_stateless/00947_ml_test.sql
Labels: can be tested

#5900 RU changelog for 19.9.2
  CHANGELOG_RU.md
Labels: do not test

#6076 DOCAPI-6213: EN review, RU translation for X-ClickHouse-Progress related topics
  docs/en/interfaces/http.md
  docs/en/operations/settings/settings.md
  docs/ru/interfaces/http.md
  docs/ru/operations/settings/settings.md
Labels: documentation, pr-doc-fix

#6086 Fix TTL link in MergeTree docs
  docs/en/operations/table_engines/mergetree.md
Labels: can be tested, documentation, pr-doc-fix

#5759 Pass a proper message to exception
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/queries/0_stateless/00029_test_zookeeper_optimize_exception.reference
  dbms/tests/queries/0_stateless/00029_test_zookeeper_optimize_exception.sh
Labels: can be tested

#6091 MySQL Native Driver test
  dbms/programs/server/MySQLHandler.cpp
  dbms/tests/integration/test_mysql_protocol/clients/php-mysqlnd/Dockerfile
  dbms/tests/integration/test_mysql_protocol/clients/php-mysqlnd/client.crt
  dbms/tests/integration/test_mysql_protocol/clients/php-mysqlnd/client.key
  dbms/tests/integration/test_mysql_protocol/clients/php-mysqlnd/docker_compose.yml
  dbms/tests/integration/test_mysql_protocol/clients/php-mysqlnd/test.php
  dbms/tests/integration/test_mysql_protocol/test.py
Labels: can be tested

#6038 Merging COLUMNS matcher
  dbms/src/Interpreters/AsteriskSemantic.h
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/src/Interpreters/PredicateExpressionsOptimizer.cpp
  dbms/src/Interpreters/QueryNormalizer.cpp
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  dbms/src/Parsers/ASTColumnsMatcher.cpp
  dbms/src/Parsers/ASTColumnsMatcher.h
  dbms/src/Parsers/ASTSelectQuery.cpp
  dbms/src/Parsers/ExpressionElementParsers.cpp
  dbms/src/Parsers/ExpressionElementParsers.h
  dbms/src/Storages/StorageView.cpp
  dbms/tests/queries/0_stateless/00969_columns_clause.reference
  dbms/tests/queries/0_stateless/00969_columns_clause.sql
Labels: pr-feature

#5951 Implement Three Dots Pattern (...) for select statement
  dbms/src/Interpreters/AsteriskSemantic.h
  dbms/src/Interpreters/PredicateExpressionsOptimizer.cpp
  dbms/src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  dbms/src/Parsers/ASTColumnsClause.cpp
  dbms/src/Parsers/ASTColumnsClause.h
  dbms/src/Parsers/ExpressionElementParsers.cpp
  dbms/src/Parsers/ExpressionElementParsers.h
  dbms/tests/queries/0_stateless/00969_columns_clause.reference
  dbms/tests/queries/0_stateless/00969_columns_clause.sql
Labels: can be tested

#6082 Fix segfault in ExternalLoader::reloadOutdated().
  dbms/src/Interpreters/ExternalLoader.cpp
Labels: pr-bugfix

#6100 Fix typos in docs
  docs/en/operations/server_settings/settings.md
  docs/en/operations/table_engines/mergetree.md
  docs/en/query_language/select.md
  docs/ru/operations/server_settings/settings.md
Labels: documentation, pr-doc-fix

#6075 Always resume consumer before subscription
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
Labels: pr-bugfix

#6057 CREATE TABLE AS table_function()
  dbms/src/Databases/DatabasesCommon.cpp
  dbms/src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Interpreters/InterpreterDescribeQuery.cpp
  dbms/src/Interpreters/InterpreterInsertQuery.cpp
  dbms/src/Parsers/ASTCreateQuery.cpp
  dbms/src/Parsers/ASTCreateQuery.h
  dbms/src/Parsers/ParserCreateQuery.cpp
  dbms/src/Storages/getStructureOfRemoteTable.cpp
  dbms/src/TableFunctions/ITableFunction.cpp
  dbms/src/TableFunctions/ITableFunction.h
  dbms/src/TableFunctions/ITableFunctionFileLike.cpp
  dbms/src/TableFunctions/ITableFunctionFileLike.h
  dbms/src/TableFunctions/ITableFunctionXDBC.cpp
  dbms/src/TableFunctions/ITableFunctionXDBC.h
  dbms/src/TableFunctions/TableFunctionCatBoostPool.cpp
  dbms/src/TableFunctions/TableFunctionCatBoostPool.h
  dbms/src/TableFunctions/TableFunctionFile.cpp
  dbms/src/TableFunctions/TableFunctionFile.h
  dbms/src/TableFunctions/TableFunctionHDFS.cpp
  dbms/src/TableFunctions/TableFunctionHDFS.h
  dbms/src/TableFunctions/TableFunctionMerge.cpp
  dbms/src/TableFunctions/TableFunctionMerge.h
  dbms/src/TableFunctions/TableFunctionMySQL.cpp
  dbms/src/TableFunctions/TableFunctionMySQL.h
  dbms/src/TableFunctions/TableFunctionNumbers.cpp
  dbms/src/TableFunctions/TableFunctionNumbers.h
  dbms/src/TableFunctions/TableFunctionRemote.cpp
  dbms/src/TableFunctions/TableFunctionRemote.h
  dbms/src/TableFunctions/TableFunctionURL.cpp
  dbms/src/TableFunctions/TableFunctionURL.h
  dbms/tests/queries/0_stateless/00973_create_table_as_table_function.reference
  dbms/tests/queries/0_stateless/00973_create_table_as_table_function.sql
  docs/en/query_language/create.md
  docs/ru/query_language/create.md
Labels: can be tested, pr-feature

#6110 DOCAPI-7553: CHECK TABLE for MergeTree docs update.
  docs/en/query_language/misc.md
Labels: documentation, pr-documentation

#5916 DOCAPI-6888: EN review and RU translation of the toDecimal*Or* funcions docs.
  docs/en/query_language/functions/type_conversion_functions.md
  docs/ru/query_language/functions/type_conversion_functions.md
Labels: documentation, pr-documentation

#6118 Replace YouTube link with human-readable one
  website/index.html
Labels: documentation, pr-doc-fix

#5894 Document "WITH" section for SELECT
  docs/en/query_language/select.md
  docs/ru/query_language/select.md
Labels: documentation, pr-doc-fix

#6119 Fix LowCardinality(Nullable) to not-Nullable cast.
  dbms/src/Columns/ColumnLowCardinality.cpp
  dbms/src/Columns/ColumnLowCardinality.h
  dbms/src/Functions/FunctionsConversion.h
  dbms/tests/queries/0_stateless/00974_low_cardinality_cast.reference
  dbms/tests/queries/0_stateless/00974_low_cardinality_cast.sql
Labels: pr-bugfix

#6126 Fix secondary indices write with adaptive granularity
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.h
  dbms/tests/queries/0_stateless/00974_adaptive_granularity_secondary_index.reference
  dbms/tests/queries/0_stateless/00974_adaptive_granularity_secondary_index.sql
Labels: pr-bugfix

#6122 Docs enable optimize predicate expression
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#6114 Add test for reloading a dictionary after fail by timer.
  dbms/tests/integration/test_dictionaries/configs/dictionaries/dictionary_preset_file.xml
  dbms/tests/integration/test_dictionaries/test.py
Labels: pr-build

#6132 Allow protobuf message with all fields by default
  dbms/src/DataTypes/DataTypeArray.cpp
  dbms/src/Formats/ProtobufReader.cpp
  dbms/src/Formats/ProtobufReader.h
  dbms/src/Formats/ProtobufRowInputStream.cpp
  dbms/src/Processors/Formats/Impl/ProtobufRowInputFormat.cpp
  dbms/tests/queries/0_stateless/00825_protobuf_format.proto
  dbms/tests/queries/0_stateless/00825_protobuf_format_input.insh
  dbms/tests/queries/0_stateless/00825_protobuf_format_input.reference
  dbms/tests/queries/0_stateless/00825_protobuf_format_input.sh
  dbms/tests/queries/0_stateless/00825_protobuf_format_output.reference
  dbms/tests/queries/0_stateless/00825_protobuf_format_output.sh
  utils/test-data-generator/ProtobufDelimitedMessagesSerializer.cpp
Labels: pr-bugfix

#6101 Fix shared build with rdkafka library
  contrib/librdkafka-cmake/CMakeLists.txt
  contrib/librdkafka-cmake/config.h
Labels: pr-build

#6080 Check background_task_handle before use
  dbms/src/Storages/MergeTree/MergeTreeBlockOutputStream.cpp
  dbms/tests/integration/test_storage_kafka/test.py
Labels: pr-bugfix

#6144 Fixed MSan report
  dbms/src/Common/memcmpSmall.h
  dbms/tests/instructions/sanitizers.md
  libs/libcommon/include/common/StackTrace.h
  libs/libcommon/src/StackTrace.cpp
Labels: pr-build

#6026 Clear Kafka's buffer if an invalid message is found.
  dbms/src/IO/DelimitedReadBuffer.h
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
Labels: can be tested

#5980 DOCAPI-3933: EN review and RU translation of hash functions doc
  docs/en/query_language/functions/hash_functions.md
  docs/ru/query_language/functions/hash_functions.md
  docs/ru/query_language/functions/type_conversion_functions.md
Labels: documentation, pr-doc-fix

#6150 Safer interface of mysqlxx::Pool
  libs/libmysqlxx/include/mysqlxx/Pool.h
Labels: can be tested

#6147 Add regression test for #5192 fix
  dbms/tests/queries/0_stateless/00974_full_outer_join.reference
  dbms/tests/queries/0_stateless/00974_full_outer_join.sql
Labels: can be tested

#6032 DOCAPI-3911: EN review and RU translation for external dicts docs.
  docs/en/query_language/dicts/external_dicts_dict_structure.md
  docs/ru/query_language/dicts/external_dicts_dict_structure.md
Labels: documentation, pr-doc-fix

#6138 DOCAPI-7553: EN review. RU translation. Update of CHECK TABLE description
  docs/en/query_language/misc.md
  docs/ru/query_language/misc.md
Labels: documentation, pr-documentation

#6179 Fixed Gorilla and DoubleDelta codec performance tests.
  dbms/tests/performance/codec_double_delta.xml
  dbms/tests/performance/codec_gorilla.xml
Labels: can be tested

#5811 Reading and writing MySQL packets in parts
  dbms/programs/server/MySQLHandler.cpp
  dbms/programs/server/MySQLHandler.h
  dbms/src/Core/MySQLProtocol.cpp
  dbms/src/Core/MySQLProtocol.h
  dbms/src/Formats/MySQLWireBlockOutputStream.cpp
  dbms/src/IO/ReadHelpers.cpp
  dbms/src/IO/ReadHelpers.h
  dbms/src/IO/WriteHelpers.h
  dbms/src/Interpreters/Context.h
  dbms/src/Processors/Formats/Impl/MySQLOutputFormat.cpp
  dbms/tests/integration/test_mysql_protocol/test.py
Labels: can be tested

#6169 Merge pull request #6126 from yandex/fix_index_write_with_adaptive_gr…
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.h
  dbms/tests/queries/0_stateless/00974_adaptive_granularity_secondary_index.reference
  dbms/tests/queries/0_stateless/00974_adaptive_granularity_secondary_index.sql
Labels: pr-backport

#6170 Merge pull request #6119 from yandex/fix-cast-from-nullable-lc
  dbms/src/Columns/ColumnLowCardinality.cpp
  dbms/src/Columns/ColumnLowCardinality.h
  dbms/src/Functions/FunctionsConversion.h
  dbms/tests/queries/0_stateless/00974_low_cardinality_cast.reference
  dbms/tests/queries/0_stateless/00974_low_cardinality_cast.sql
Labels: pr-backport

#6190 Fix some spelling mistakes in chinese doc
  docs/zh/development/architecture.md
Labels: documentation, pr-doc-fix

#6196 Fix build under gcc-8.2
  dbms/src/Interpreters/Aggregator.h
Labels: can be tested

#6198 Fixed hang in JSONExtractRaw function
  dbms/src/IO/WriteBufferFromVector.h
  dbms/tests/queries/0_stateless/00975_json_hang.reference
  dbms/tests/queries/0_stateless/00975_json_hang.sql
Labels: pr-bugfix

#6206 Update upcoming meetups
  website/index.html
Labels: documentation, pr-documentation

#6085 DOCAPI-4148: EN review, RU translation. MergeTree partially monotonic keys
  docs/en/operations/table_engines/mergetree.md
  docs/ru/operations/table_engines/mergetree.md
Labels: documentation, pr-doc-fix

#6172 Merge pull request #6083 from yandex/odbc-initial-load-fix
  dbms/src/Dictionaries/ClickHouseDictionarySource.cpp
  dbms/src/Dictionaries/ExternalQueryBuilder.cpp
  dbms/src/Dictionaries/ExternalQueryBuilder.h
  dbms/src/Dictionaries/HTTPDictionarySource.cpp
  dbms/src/Dictionaries/MySQLDictionarySource.cpp
  dbms/src/Dictionaries/XDBCDictionarySource.cpp
Labels: pr-backport

#6173 Merge pull request #6082 from vitlibar/fix-segfault-in-reload-outdated
  dbms/src/Interpreters/ExternalLoader.cpp
Labels: pr-backport

#6178 Merge pull request #6058 from yandex/uniq-fix-non-deterministic-result
  dbms/src/AggregateFunctions/UniquesHashSet.h
  dbms/tests/queries/0_stateless/00973_uniq_non_associativity.reference
  dbms/tests/queries/0_stateless/00973_uniq_non_associativity.sql
Labels: pr-backport

#6177 Merge pull request #6080 from abyss7/issue-6071
  dbms/src/Storages/MergeTree/MergeTreeBlockOutputStream.cpp
  dbms/tests/integration/test_storage_kafka/test.py
Labels: pr-backport

#6176 Merge pull request #6075 from abyss7/issue-5846
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
Labels: pr-backport

#6140 DOCAPI-6424: ASOF JOIN docs. EN review. RU translation.
  docs/en/operations/settings/settings.md
  docs/en/query_language/select.md
  docs/ru/operations/settings/settings.md
  docs/ru/query_language/select.md
Labels: documentation, pr-documentation

#6174 Merge pull request #6026 from bopohaa/fix-kafka-unclean-stream
  dbms/src/IO/DelimitedReadBuffer.h
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
Labels: pr-backport

#6175 Merge pull request #6068 from PerformanceVision/fix_ipv6_cidr
  dbms/src/Functions/FunctionsCoding.h
  dbms/tests/queries/0_stateless/00938_ipv6_cidr_range.reference
  dbms/tests/queries/0_stateless/00938_ipv6_cidr_range.sql
Labels: pr-backport

#6207 Update send logs tests.
  dbms/tests/queries/0_stateless/00965_logs_level_bugfix.reference
  dbms/tests/queries/0_stateless/00965_logs_level_bugfix.sh
  dbms/tests/queries/0_stateless/00965_pocopatch_logs_level_bugfix.reference
  dbms/tests/queries/0_stateless/00965_pocopatch_logs_level_bugfix.sh
  dbms/tests/queries/0_stateless/00965_pocopatch_send_logs_level_concurrent_queries.reference
  dbms/tests/queries/0_stateless/00965_pocopatch_send_logs_level_concurrent_queries.sh
  dbms/tests/queries/0_stateless/00965_send_logs_level_concurrent_queries.reference
  dbms/tests/queries/0_stateless/00965_send_logs_level_concurrent_queries.sh
Labels: pr-improvement

#6142 DOCAPI-7063: bitmapContains docs. EN review. RU translation.
  docs/en/query_language/functions/bitmap_functions.md
  docs/ru/query_language/functions/bitmap_functions.md
Labels: documentation, pr-documentation

#6089 DOCAPI-4197: Limitations settings. EN review. RU translation.
  docs/en/operations/settings/query_complexity.md
  docs/en/operations/settings/settings.md
  docs/en/query_language/select.md
  docs/ru/operations/settings/query_complexity.md
  docs/ru/operations/settings/settings.md
  docs/ru/query_language/select.md
Labels: documentation, pr-doc-fix

#6218 Add link to Mountain View meetup
  website/index.html
Labels: documentation, pr-documentation

#6201 Introspection functions + better stack traces.
  CMakeLists.txt
  dbms/CMakeLists.txt
  dbms/src/Common/Dwarf.cpp
  dbms/src/Common/Dwarf.h
  dbms/src/Common/Elf.cpp
  dbms/src/Common/Elf.h
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Common/Exception.h
  dbms/src/Common/QueryProfiler.cpp
  dbms/src/Common/StackTrace.cpp
  dbms/src/Common/StackTrace.h
  dbms/src/Common/SymbolIndex.cpp
  dbms/src/Common/SymbolIndex.h
  dbms/src/Common/TraceCollector.cpp
  dbms/src/Common/tests/CMakeLists.txt
  dbms/src/Common/tests/symbol_index.cpp
  dbms/src/Core/Settings.h
  dbms/src/Functions/addressToLine.cpp
  dbms/src/Functions/addressToSymbol.cpp
  dbms/src/Functions/demange.cpp
  dbms/src/Functions/registerFunctions.cpp
  dbms/src/Functions/registerFunctionsIntrospection.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/tests/queries/0_stateless/00974_query_profiler.sql
  libs/libcommon/CMakeLists.txt
  libs/libdaemon/src/BaseDaemon.cpp
  libs/libglibc-compatibility/musl/utimensat.c
Labels: pr-feature

#6231 Fixed bad server shutdown
  dbms/programs/server/Server.cpp
  dbms/src/Interpreters/ProcessList.cpp
  dbms/src/Interpreters/ProcessList.h
Labels: pr-bugfix, prio-minor, v19.10, v19.11, v19.12, v19.5, v19.6, v19.7, v19.8, v19.9

#6232 Limit sleep time in max_execution_speed; fixed Estimated query execution time (inf seconds) is too long
  dbms/src/DataStreams/IBlockInputStream.cpp
  dbms/tests/queries/0_stateless/00976_max_execution_speed.reference
  dbms/tests/queries/0_stateless/00976_max_execution_speed.sql
Labels: pr-bugfix

#6230 Allow user to override poll_interval and idle_connection_timeout
  dbms/programs/server/TCPHandler.cpp
Labels: pr-improvement

#6212 Bug fix in MySQL wire protocol
  dbms/src/Core/MySQLProtocol.h
  dbms/src/Formats/MySQLWireBlockOutputStream.cpp
  dbms/src/Processors/Formats/Impl/MySQLOutputFormat.cpp
  dbms/tests/performance/number_formatting_formats.xml
  dbms/tests/performance/select_format.xml
Labels: can be tested

#6186 build fix
  libs/libcommon/include/common/memory.h
Labels: can be tested

#5963 DOCAPI-7428: Update for domain and topLevelDomain functions description.
  docs/en/query_language/functions/url_functions.md
Labels: documentation, pr-documentation

#6087 DOCAPI-4160: EN review, RU translation. uniq and count docs.
  docs/en/operations/settings/settings.md
  docs/en/query_language/agg_functions/reference.md
  docs/ru/operations/settings/settings.md
  docs/ru/query_language/agg_functions/reference.md
Labels: documentation, pr-doc-fix

#6088 DOCAPI-3825: System tables. EN review, RU translation.
  dbms/src/Common/CurrentMetrics.cpp
  dbms/src/Common/ProfileEvents.cpp
  docs/en/operations/system_tables.md
  docs/ru/operations/system_tables.md
Labels: documentation, pr-doc-fix

#6226 Lock the TinyLog storage when reading.
  dbms/src/Storages/StorageTinyLog.cpp
  dbms/src/Storages/StorageTinyLog.h
Labels: pr-build

#5989 L10n/docapi 6889 dict get
  docs/en/query_language/functions/ext_dict_functions.md
  docs/ru/query_language/functions/ext_dict_functions.md
Labels: documentation, pr-documentation

#6234 DOCAPI-5760: Join engine docs. EN review. RU translation
  docs/en/operations/table_engines/join.md
  docs/en/query_language/functions/other_functions.md
  docs/ru/operations/table_engines/join.md
  docs/ru/query_language/functions/other_functions.md
  docs/ru/query_language/select.md
Labels: documentation, pr-doc-fix

#6236 Fix bug in prewhere + distributed
  dbms/src/Interpreters/ExpressionActions.cpp
  dbms/src/Interpreters/ExpressionActions.h
  dbms/tests/integration/test_remote_prewhere/__init__.py
  dbms/tests/integration/test_remote_prewhere/configs/log_conf.xml
  dbms/tests/integration/test_remote_prewhere/test.py
Labels: pr-bugfix

#6233 Fixed overflow in intDiv functions
  dbms/src/Functions/intDiv.h
  dbms/src/Functions/intDivOrZero.cpp
  dbms/tests/queries/0_stateless/00977_int_div.reference
  dbms/tests/queries/0_stateless/00977_int_div.sql
Labels: pr-bugfix
