Repository ClickHouse/ClickHouse, pull requests merged in 2019-04, with the labels that each got.

#4866 Hyperscan better usage of scratch space and error handling
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Functions/FunctionsStringRegex.cpp
  dbms/src/Functions/Regexps.h
Labels: can be tested

#4794 fix crash when predicate optimzer & join on
  dbms/src/Interpreters/PredicateExpressionsOptimizer.cpp
  dbms/src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  dbms/tests/queries/0_stateless/00597_push_down_predicate.reference
  dbms/tests/queries/0_stateless/00597_push_down_predicate.sql
Labels: can be tested

#4867 Return the correct timestamp for the right-hand table of the ASOF join
  dbms/src/Interpreters/Join.cpp
  dbms/src/Interpreters/Join.h
  dbms/tests/queries/0_stateless/00927_asof_join_correct_bt.reference
  dbms/tests/queries/0_stateless/00927_asof_join_correct_bt.sql
  dbms/tests/queries/0_stateless/00927_asof_join_noninclusive.reference
Labels: can be tested

#4847 Fixed segment fault of arrayIntersect
  dbms/src/Functions/arrayIntersect.cpp
  dbms/tests/queries/0_stateless/00930_arrayIntersect.reference
  dbms/tests/queries/0_stateless/00930_arrayIntersect.sql
Labels: can be tested

#4891 Typos for other factories
  dbms/src/Common/IFactoryWithAliases.h
  dbms/src/Common/NamePrompter.h
  dbms/src/Storages/StorageFactory.cpp
  dbms/src/Storages/StorageFactory.h
  dbms/src/TableFunctions/TableFunctionFactory.cpp
  dbms/src/TableFunctions/TableFunctionFactory.h
  dbms/tests/queries/0_stateless/00834_hints_for_type_function_typos.sh
Labels: can be tested

#4892 Doc fix: Editing README.md
  docs/README.md
Labels: documentation

#4713 Fixed test failures when running clickhouse-server on different host
  dbms/tests/clickhouse-test
  dbms/tests/queries/0_stateless/00354_host_command_line_option.sh
  dbms/tests/queries/0_stateless/00368_format_option_collision.sh
  dbms/tests/queries/0_stateless/00634_logging_shard.sh
  dbms/tests/queries/0_stateless/00634_performance_introspection_and_logging.sh
  dbms/tests/queries/0_stateless/00646_url_engine.python
  dbms/tests/queries/0_stateless/00837_minmax_index.sh
  dbms/tests/queries/0_stateless/00838_unique_index.sh
  dbms/tests/queries/shell_config.sh
  docker/server/local.Dockerfile
  docker/test/stateless/clickhouse-statelest-test-runner.Dockerfile
  docker/test/test_runner.sh
  docker/test/test_runner_docker_compose.yaml
Labels: can be tested

#4912 Few docs fixes
  docs/en/interfaces/third-party/integrations.md
  docs/fa/interfaces/third-party/integrations.md
  docs/ru/interfaces/third-party/integrations.md
  docs/zh/interfaces/third-party/integrations.md
  website/Dockerfile
Labels: documentation

#4907 Doc fix: Edit info about SAMPLE (en, ru)
  docs/en/query_language/select.md
  docs/ru/query_language/select.md
Labels: documentation

#4920 Fix BlockIO::operator=
  dbms/src/DataStreams/BlockIO.h
Labels: pr-bugfix

#4924 Significant speedup of ASOF join
  dbms/src/Common/SortedLookupPODArray.h
  dbms/src/Interpreters/Join.cpp
  dbms/src/Interpreters/Join.h
  dbms/src/Interpreters/RowRefs.cpp
  dbms/src/Interpreters/RowRefs.h
  dbms/tests/queries/0_stateless/00927_asof_join_big.reference
  dbms/tests/queries/0_stateless/00927_asof_join_big.sql
Labels: can be tested

#4928 MarkCache and UncompressedCache use different allocator to catch segfaults
  dbms/src/Common/Allocator.cpp
  dbms/src/Common/Allocator.h
  dbms/src/Common/Arena.h
  dbms/src/Common/ArenaWithFreeLists.h
  dbms/src/DataStreams/MarkInCompressedFile.h
  dbms/src/IO/BufferWithOwnMemory.h
  dbms/src/IO/UncompressedCache.h
  utils/iotest/iotest.cpp
  utils/iotest/iotest_aio.cpp
Labels: can be tested

#4934 isValidUTF8 function added
  dbms/src/Functions/isValidUTF8.cpp
  dbms/src/Functions/registerFunctionsString.cpp
  dbms/tests/queries/0_stateless/00934_is_valid_utf8.reference
  dbms/tests/queries/0_stateless/00934_is_valid_utf8.sql
  docs/en/query_language/functions/string_functions.md
  docs/ru/query_language/functions/string_functions.md
Labels: can be tested

#4940 Support building docs for stable releases in addition to docs from master
  docs/tools/build.py
  docs/tools/concatenate.py
  docs/tools/github.py
  docs/tools/mkdocs-material-theme/assets/stylesheets/custom.css
  docs/tools/mkdocs-material-theme/base.html
  docs/tools/mkdocs-material-theme/partials/flags.html
  docs/tools/mkdocs-material-theme/partials/language/en.html
  docs/tools/mkdocs-material-theme/partials/language/fa.html
  docs/tools/mkdocs-material-theme/partials/language/ru.html
  docs/tools/mkdocs-material-theme/partials/language/zh.html
  docs/tools/mkdocs-material-theme/partials/nav.html
  docs/tools/release.sh
  docs/tools/util.py
  website/index.html
Labels: documentation

#4882 DOCAPI-5102: JSONEachRow + insert_sample_with_metadata. EN review and RU Translation
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/settings/settings.md
Labels: documentation

#4869 translate docs/zh/operations/table_engines/join.md
  docs/en/operations/table_engines/join.md
  docs/zh/operations/table_engines/join.md
Labels: documentation

#4848 DOCAPI-5203: Direct I/O settings for MergeTree descriptions. EN review and RU translation.
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/mergetree.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/select.md
Labels: documentation

#4939 DOCAPI-6126: Clarification of the 'round' function description.
  docs/en/query_language/functions/rounding_functions.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/functions/rounding_functions.md
  docs/ru/query_language/syntax.md
Labels: documentation

#4956 DOCAPI-5753: EN review and RU translation for use_minimalistic_part_header_in_zookeeper setting description.
  docs/en/interfaces/formats.md
  docs/en/operations/server_settings/settings.md
  docs/en/operations/settings/settings.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: documentation

#4960 Doc fix: Added text about relative path
  docs/en/interfaces/cli.md
  docs/en/interfaces/formats.md
  docs/en/operations/server_settings/settings.md
  docs/ru/interfaces/cli.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/server_settings/settings.md
Labels: documentation

#4950 Doc fix: Add info about EXTRACT FROM (en, ru)
  docs/en/query_language/operators.md
  docs/ru/operations/table_engines/custom_partitioning_key.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/operators.md
Labels: documentation

#4973 Added [[noreturn]] attributes for functions that throw unconditionally
  dbms/src/Client/Connection.h
  dbms/src/DataTypes/IDataTypeDummy.h
  dbms/src/Formats/ProtobufColumnMatcher.h
  dbms/src/Formats/ProtobufReader.cpp
  dbms/src/Formats/ProtobufWriter.cpp
  dbms/src/Functions/FunctionsConversion.h
  dbms/src/Functions/if.cpp
  dbms/src/IO/ReadBuffer.h
  dbms/src/IO/ReadHelpers.h
  dbms/src/IO/VarInt.h
Labels: pr-codecleanup

#4972 Rename query id header for consistency
  dbms/programs/server/HTTPHandler.cpp
  dbms/tests/queries/0_stateless/00501_http_head.sh
  dbms/tests/queries/0_stateless/00825_http_header_query_id.reference
  dbms/tests/queries/0_stateless/00825_http_header_query_id.sh
Labels: can be tested, pr-improvement

#4979 Add couple links to opensource projects by Altinity
  docs/en/interfaces/third-party/integrations.md
  docs/fa/interfaces/third-party/integrations.md
  docs/ru/interfaces/third-party/integrations.md
  docs/zh/interfaces/third-party/integrations.md
Labels: documentation

#4981 Add couple links to PostgreSQL-related integrations
  docs/en/interfaces/third-party/integrations.md
  docs/fa/interfaces/third-party/integrations.md
  docs/ru/interfaces/third-party/integrations.md
  docs/zh/interfaces/third-party/integrations.md
Labels: documentation

#4982 DOCAPI-5757 input_format_values_interpret_expressions EN review and RU translation
  docs/en/operations/settings/settings.md
  docs/en/query_language/syntax.md
  docs/ru/operations/settings/settings.md
Labels: documentation

#4941 Doc fix: Add [IF EXISTS] clause to the column modification (en)
  docs/en/query_language/alter.md
  docs/en/query_language/create.md
  docs/en/query_language/insert_into.md
  docs/en/query_language/misc.md
  docs/ru/query_language/alter.md
  docs/ru/query_language/create.md
  docs/ru/query_language/insert_into.md
  docs/ru/query_language/misc.md
  docs/ru/query_language/operators.md
  docs/zh/query_language/create.md
  docs/zh/query_language/insert_into.md
Labels: documentation

#4988 Fixed wrong toISOWeek result for 1970 year
  dbms/tests/queries/0_stateless/00935_to_iso_week_first_year.reference
  dbms/tests/queries/0_stateless/00935_to_iso_week_first_year.sql
  libs/libcommon/include/common/DateLUTImpl.h
Labels: pr-bugfix

#5000 Doc fix: Fixing example of `arrayEnumerateDense`
  docs/en/query_language/functions/array_functions.md
Labels: documentation

#4997 Backport to 19.5: Fix BlockIO::operator=
  dbms/src/DataStreams/BlockIO.h
Labels: pr-backport

#4995 LFAlloc added to clickhouse to allocate MarkCache and UncompressedCache data in different ways
  CMakeLists.txt
  cmake/find_lfalloc.cmake
  contrib/lfalloc/src/lf_allocX64.h
  contrib/lfalloc/src/lfmalloc.h
  contrib/lfalloc/src/util/README.md
  contrib/lfalloc/src/util/system/atomic.h
  contrib/lfalloc/src/util/system/atomic_gcc.h
  contrib/lfalloc/src/util/system/atomic_ops.h
  contrib/lfalloc/src/util/system/atomic_win.h
  contrib/lfalloc/src/util/system/compiler.h
  contrib/lfalloc/src/util/system/defaults.h
  contrib/lfalloc/src/util/system/platform.h
  contrib/lfalloc/src/util/system/types.h
  dbms/CMakeLists.txt
  dbms/src/Common/LFAllocator.cpp
  dbms/src/Common/LFAllocator.h
  dbms/src/Common/config.h.in
  dbms/src/DataStreams/MarkInCompressedFile.h
  dbms/src/IO/UncompressedCache.h
  dbms/src/Interpreters/Compiler.cpp
  dbms/src/Storages/System/StorageSystemBuildOptions.generated.cpp.in
  libs/libcommon/CMakeLists.txt
Labels: can be tested, pr-improvement

#4985 Remove deprecated PermissionsStartOnly
  debian/clickhouse-server.service
Labels: can be tested

#4991 Do not send queries received from DDLWorker to leader replica
  dbms/src/Interpreters/ClientInfo.h
  dbms/src/Interpreters/DDLWorker.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/integration/test_distributed_ddl_password/__init__.py
  dbms/tests/integration/test_distributed_ddl_password/configs/config.d/clusters.xml
  dbms/tests/integration/test_distributed_ddl_password/configs/users.d/default_with_password.xml
  dbms/tests/integration/test_distributed_ddl_password/test.py
Labels: pr-bugfix

#4996 DOCAPI-4177: HTTP compression settings. EN review. RU translation.
  docs/en/interfaces/http.md
  docs/en/operations/settings/settings.md
  docs/ru/interfaces/http.md
  docs/ru/operations/settings/settings.md
Labels: documentation

#4980 Doc fix: Added 'system.part_log'
  docs/en/operations/server_settings/settings.md
  docs/en/operations/system_tables.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/operations/system_tables.md
Labels: documentation

#5011 Minor docs/website changes
  docs/en/interfaces/third-party/integrations.md
  docs/fa/interfaces/third-party/integrations.md
  docs/ru/interfaces/third-party/integrations.md
  docs/zh/interfaces/third-party/integrations.md
  website/index.html
Labels: documentation

#5004 translate docs/zh/operations/table_engines/distributed.md
  docs/en/operations/table_engines/distributed.md
  docs/zh/operations/table_engines/distributed.md
Labels: documentation

#4983 Changelog for 19.5.1.246
  CHANGELOG.md
Labels: do not test

#4962 Resolve correctly when dictionary depends on dictionary
  dbms/src/Databases/DatabaseDictionary.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/ExternalDictionaries.cpp
  dbms/src/Interpreters/ExternalDictionaries.h
  dbms/src/Interpreters/ExternalLoader.cpp
  dbms/src/Interpreters/ExternalLoader.h
  dbms/src/Interpreters/ExternalModels.cpp
  dbms/src/Interpreters/ExternalModels.h
  dbms/tests/integration/test_dictionaries/configs/.gitignore
  dbms/tests/integration/test_dictionaries/configs/dictionaries/.gitignore
  dbms/tests/integration/test_dictionaries/configs/dictionaries/dictionary_preset_dep_x.xml
  dbms/tests/integration/test_dictionaries/configs/dictionaries/dictionary_preset_dep_y.xml
  dbms/tests/integration/test_dictionaries/configs/dictionaries/dictionary_preset_dep_z.xml
  dbms/tests/integration/test_dictionaries/generate_dictionaries.py
  dbms/tests/integration/test_dictionaries/test.py
Labels: pr-bugfix

#4998 Detect backports by PRs to stable branches with `pr-backport` label
  utils/github/__main__.py
  utils/github/local.py
  utils/github/query.py
  utils/list_backports.sh
Labels: pr-improvement

#5015 Improve documentation about protobuf format.
  docs/en/interfaces/formats.md
  docs/ru/interfaces/formats.md
Labels: documentation, pr-documentation

#5023 Improve #5021
  docs/tools/README.md
  docs/tools/requirements-py3.txt
  docs/tools/requirements.txt
  website/index.html
Labels: documentation

#4846 Enable predicate push-down optimization by default.
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/PredicateExpressionsOptimizer.cpp
  dbms/src/Interpreters/PredicateExpressionsOptimizer.h
  dbms/src/Interpreters/TranslateQualifiedNamesVisitor.h
  dbms/src/Parsers/ASTSelectQuery.cpp
  dbms/src/Parsers/ASTTablesInSelectQuery.h
  dbms/tests/queries/0_stateless/00597_push_down_predicate.reference
  dbms/tests/queries/0_stateless/00597_push_down_predicate.sql
  dbms/tests/queries/0_stateless/00745_compile_scalar_subquery.sql
  dbms/tests/queries/0_stateless/00826_cross_to_inner_join.reference
  dbms/tests/queries/0_stateless/00849_multiple_comma_join.reference
  dbms/tests/queries/0_stateless/00917_multiple_joins_denny_crane.sql
Labels: pr-improvement

#5039 Doc fix: Added `system.query_log` table
  docs/en/operations/server_settings/settings.md
  docs/en/operations/settings/settings.md
  docs/en/operations/system_tables.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/system_tables.md
Labels: documentation

#5028 Fix settings.max_partitions_per_insert_block type
  dbms/src/Core/Settings.h
Labels: can be tested, pr-bugfix

#5012 Add FIRST_OR_RANDOM Load Balancing policy
  dbms/programs/server/users.xml
  dbms/src/Client/ConnectionPoolWithFailover.cpp
  dbms/src/Core/SettingsCommon.cpp
  dbms/src/Core/SettingsCommon.h
Labels: can be tested, pr-feature

#5068 Zhdocs/replication md
  docs/en/operations/table_engines/replication.md
  docs/zh/operations/table_engines/mergetree.md
  docs/zh/operations/table_engines/replication.md
Labels: documentation

#5065 Doc fix: Actualize `ARRAY JOIN`
  docs/en/query_language/select.md
  docs/ru/query_language/functions/array_functions.md
  docs/ru/query_language/select.md
Labels: documentation

#5080 Do not drop Kafka Consumer buffers after deletion of stream
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.h
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/src/Storages/Kafka/StorageKafka.h
  dbms/tests/integration/helpers/docker_compose_kafka.yml
  dbms/tests/integration/test_storage_kafka/test.py
  utils/kafka/consume.py
  utils/kafka/manage.py
  utils/kafka/produce.py
  utils/kafka/status.py
Labels: pr-bugfix

#5087 Zhdocs: SummingMergeTree and Dictionary
  docs/en/operations/table_engines/summingmergetree.md
  docs/zh/operations/table_engines/dictionary.md
  docs/zh/operations/table_engines/summingmergetree.md
Labels: documentation

#5094 translate ReplacingMergeTree and optimize zh attention format
  docs/zh/operations/table_engines/mergetree.md
  docs/zh/operations/table_engines/replacingmergetree.md
  docs/zh/operations/table_engines/summingmergetree.md
Labels: documentation

#5026 Add an optional max_size parameter to groupUniqArray
  dbms/src/AggregateFunctions/AggregateFunctionGroupUniqArray.cpp
  dbms/src/AggregateFunctions/AggregateFunctionGroupUniqArray.h
  dbms/tests/queries/0_stateless/00375_shard_group_uniq_array_of_string.reference
  dbms/tests/queries/0_stateless/00375_shard_group_uniq_array_of_string.sql
  dbms/tests/queries/0_stateless/00376_shard_group_uniq_array_of_int_array.reference
  dbms/tests/queries/0_stateless/00376_shard_group_uniq_array_of_int_array.sql
  dbms/tests/queries/0_stateless/00399_group_uniq_array_date_datetime.reference
  dbms/tests/queries/0_stateless/00399_group_uniq_array_date_datetime.sql
  docs/en/query_language/agg_functions/reference.md
Labels: can be tested, pr-feature

#5081 Support for header specified order of columns in TSVWithNames/CSVWithNames formats
  dbms/src/Core/Settings.h
  dbms/src/Formats/CSVRowInputStream.cpp
  dbms/src/Formats/CSVRowInputStream.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatSettings.h
  dbms/src/Formats/TabSeparatedRowInputStream.cpp
  dbms/src/Formats/TabSeparatedRowInputStream.h
  dbms/tests/queries/0_stateless/00937_test_use_header_csv.reference
  dbms/tests/queries/0_stateless/00937_test_use_header_csv.sh
  dbms/tests/queries/0_stateless/00937_test_use_header_tsv.reference
  dbms/tests/queries/0_stateless/00937_test_use_header_tsv.sh
Labels: can be tested

#4439 Use radixSort in ORDER BY + add performance test
  dbms/src/Columns/ColumnVector.cpp
  dbms/src/Common/RadixSort.h
  dbms/tests/performance/sort/sort.xml
  dbms/tests/queries/0_stateless/00853_join_with_nulls_crash.reference
  dbms/tests/queries/0_stateless/00853_join_with_nulls_crash.sql
Labels: can be tested

#5106 Code cleanups after #4439
  dbms/src/Columns/ColumnVector.cpp
  dbms/src/Common/RadixSort.h
  dbms/src/Interpreters/RowRefs.h
Labels: pr-performance

#5107 zhdocs: log_family.md and stripelog.md
  docs/en/operations/table_engines/log_family.md
  docs/zh/operations/table_engines/log_family.md
  docs/zh/operations/table_engines/stripelog.md
Labels: documentation

#5118 Add missing changelogs
  CHANGELOG.md
  CHANGELOG_RU.md
Labels: do not test

#5123 Try fix shared libxml2 build
  contrib/libxml2-cmake/CMakeLists.txt
Labels: pr-build

#4931 Settings constraints
  dbms/programs/benchmark/Benchmark.cpp
  dbms/programs/client/Client.cpp
  dbms/programs/local/LocalServer.cpp
  dbms/programs/performance-test/PerformanceTestInfo.cpp
  dbms/programs/performance-test/PerformanceTestSuite.cpp
  dbms/programs/server/HTTPHandler.cpp
  dbms/src/Client/Connection.cpp
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Common/SettingsChanges.h
  dbms/src/Core/Settings.cpp
  dbms/src/Core/Settings.h
  dbms/src/Core/SettingsCommon.cpp
  dbms/src/Core/SettingsCommon.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/InterpreterSetQuery.cpp
  dbms/src/Interpreters/InterpreterSetQuery.h
  dbms/src/Interpreters/SettingsConstraints.cpp
  dbms/src/Interpreters/SettingsConstraints.h
  dbms/src/Parsers/ASTSetQuery.h
  dbms/src/Parsers/ParserSetQuery.cpp
  dbms/src/Storages/Kafka/KafkaSettings.cpp
  dbms/src/Storages/Kafka/KafkaSettings.h
  dbms/src/Storages/MergeTree/MergeTreeSettings.cpp
  dbms/src/Storages/MergeTree/MergeTreeSettings.h
  dbms/src/Storages/StorageJoin.cpp
  dbms/src/Storages/System/StorageSystemMergeTreeSettings.cpp
  dbms/src/Storages/System/StorageSystemSettings.cpp
  dbms/tests/integration/helpers/client.py
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/test_settings_constraints/__init__.py
  dbms/tests/integration/test_settings_constraints/configs/users.xml
  dbms/tests/integration/test_settings_constraints/test.py
  dbms/tests/queries/0_stateless/00474_readonly_settings.reference
  dbms/tests/queries/0_stateless/00474_readonly_settings.sh
Labels: pr-feature

#5127 Fix segmentation fault on iterator double-free inside RWLock
  dbms/src/Common/RWLock.cpp
  dbms/tests/queries/0_stateless/00938_fix_rwlock_segfault.reference
  dbms/tests/queries/0_stateless/00938_fix_rwlock_segfault.sh
Labels: pr-bugfix

#5133 LfAlloc more reliable choice of hint
  contrib/lfalloc/src/lf_allocX64.h
Labels: can be tested, pr-bugfix

#5129 [WIP] Add MSD radix sort
  dbms/src/AggregateFunctions/QuantileTDigest.h
  dbms/src/Columns/ColumnVector.cpp
  dbms/src/Common/RadixSort.h
  dbms/src/Common/tests/radix_sort.cpp
  dbms/src/Interpreters/RowRefs.h
Labels: can be tested

#5119 modification retention function
  dbms/src/AggregateFunctions/AggregateFunctionRetention.h
  dbms/tests/queries/0_stateless/00938_test_retention_function.reference
  dbms/tests/queries/0_stateless/00938_test_retention_function.sql
Labels: can be tested

#5130 Templatize settings.
  dbms/src/Core/Settings.cpp
  dbms/src/Core/Settings.h
  dbms/src/Core/SettingsCommon.cpp
  dbms/src/Core/SettingsCommon.h
  dbms/src/Storages/Kafka/KafkaSettings.cpp
  dbms/src/Storages/Kafka/KafkaSettings.h
  dbms/src/Storages/MergeTree/MergeTreeSettings.cpp
  dbms/src/Storages/MergeTree/MergeTreeSettings.h
Labels: pr-codecleanup

#5139 Remove move-assignment to prevent possible self-move
  dbms/src/Storages/ColumnsDescription.h
  dbms/src/Storages/ITableDeclaration.cpp
Labels: pr-bugfix

#5140 Lower the max entries per page for GitHub API
  utils/github/__main__.py
Labels: pr-build

#5134 translate docs/zh/operations/table_engines/custom_partitioning_key.md
  docs/en/operations/table_engines/custom_partitioning_key.md
  docs/zh/operations/table_engines/custom_partitioning_key.md
Labels: documentation

#5135 DBeaver information update
  docs/en/interfaces/third-party/gui.md
Labels: documentation

#5120 DOCAPI-6427: Settings input_format_with_names_use_header and input_format_skip_unknown_fields
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
Labels: documentation, pr-documentation

#5061 Doc fix: Added `arraySort` + `arrayReverseSort`
  docs/en/query_language/functions/array_functions.md
  docs/en/query_language/functions/higher_order_functions.md
  docs/ru/query_language/functions/array_functions.md
Labels: documentation

#5144 Minor docs improvements
  docs/en/interfaces/third-party/integrations.md
  docs/fa/interfaces/third-party/integrations.md
  docs/ru/interfaces/third-party/integrations.md
  docs/tools/mkdocs-material-theme/partials/language/en.html
  docs/zh/interfaces/third-party/integrations.md
Labels: documentation, pr-doc-fix

#5138 Added support of LIMIT n, m BY clause.
  dbms/src/DataStreams/LimitByBlockInputStream.cpp
  dbms/src/DataStreams/LimitByBlockInputStream.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Parsers/ASTSelectQuery.cpp
  dbms/src/Parsers/ASTSelectQuery.h
  dbms/src/Parsers/ParserSelectQuery.cpp
  dbms/tests/queries/0_stateless/00939_limit_by_offset.reference
  dbms/tests/queries/0_stateless/00939_limit_by_offset.sql
Labels: can be tested

#5143 Fixes after premature merge of #5139
  dbms/src/Storages/ColumnsDescription.cpp
  dbms/src/Storages/ColumnsDescription.h
Labels: pr-bugfix

#5136 Add a basename function
  dbms/src/Functions/basename.cpp
  dbms/src/Functions/registerFunctionsMiscellaneous.cpp
  dbms/tests/queries/0_stateless/00938_basename.reference
  dbms/tests/queries/0_stateless/00938_basename.sql
Labels: can be tested

#5156 Get rid of thread_local in SettingsConstraints.cpp
  dbms/src/Core/Settings.cpp
  dbms/src/Core/SettingsCommon.h
  dbms/src/Interpreters/SettingsConstraints.cpp
  dbms/src/Interpreters/SettingsConstraints.h
Labels: pr-build

#5159 Update access_rights.md
  docs/en/operations/access_rights.md
Labels: documentation, pr-documentation
