Repository ClickHouse/ClickHouse, pull requests merged in 2019-11, with the labels that each got.

#7567 Add CVE number for latest fix
  docs/en/security_changelog.md
  docs/ru/security_changelog.md
Labels: do not test

#7181 Processors and storages
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmap.h
  dbms/src/DataStreams/ExecutionSpeedLimits.cpp
  dbms/src/DataStreams/ExecutionSpeedLimits.h
  dbms/src/DataStreams/IBlockInputStream.cpp
  dbms/src/DataStreams/IBlockInputStream.h
  dbms/src/DataStreams/SizeLimits.cpp
  dbms/src/DataStreams/SizeLimits.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/ProcessList.cpp
  dbms/src/Processors/Chunk.cpp
  dbms/src/Processors/Chunk.h
  dbms/src/Processors/Executors/TreeExecutorBlockInputStream.cpp
  dbms/src/Processors/Executors/TreeExecutorBlockInputStream.h
  dbms/src/Processors/IProcessor.h
  dbms/src/Processors/ISource.h
  dbms/src/Processors/Pipe.cpp
  dbms/src/Processors/Pipe.h
  dbms/src/Processors/QueryPipeline.cpp
  dbms/src/Processors/Sources/SourceFromInputStream.cpp
  dbms/src/Processors/Sources/SourceFromInputStream.h
  dbms/src/Processors/Sources/SourceWithProgress.cpp
  dbms/src/Processors/Sources/SourceWithProgress.h
  dbms/src/Processors/Transforms/AddingConstColumnTransform.h
  dbms/src/Processors/Transforms/LimitsCheckingTransform.cpp
  dbms/src/Processors/Transforms/MergingSortedTransform.cpp
  dbms/src/Processors/Transforms/ReverseTransform.cpp
  dbms/src/Processors/Transforms/ReverseTransform.h
  dbms/src/Storages/IStorage.cpp
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/src/Storages/MergeTree/MergeTreeBaseSelectProcessor.cpp
  dbms/src/Storages/MergeTree/MergeTreeBaseSelectProcessor.h
  dbms/src/Storages/MergeTree/MergeTreeBlockReadUtils.cpp
  dbms/src/Storages/MergeTree/MergeTreeBlockReadUtils.h
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  dbms/src/Storages/MergeTree/MergeTreeRangeReader.cpp
  dbms/src/Storages/MergeTree/MergeTreeRangeReader.h
  dbms/src/Storages/MergeTree/MergeTreeReadPool.cpp
  dbms/src/Storages/MergeTree/MergeTreeReader.cpp
  dbms/src/Storages/MergeTree/MergeTreeReader.h
  dbms/src/Storages/MergeTree/MergeTreeReverseSelectProcessor.cpp
  dbms/src/Storages/MergeTree/MergeTreeReverseSelectProcessor.h
  dbms/src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  dbms/src/Storages/MergeTree/MergeTreeSelectProcessor.h
  dbms/src/Storages/MergeTree/MergeTreeSequentialBlockInputStream.cpp
  dbms/src/Storages/MergeTree/MergeTreeThreadSelectBlockInputProcessor.cpp
  dbms/src/Storages/MergeTree/MergeTreeThreadSelectBlockInputProcessor.h
  dbms/src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageMergeTree.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.h
Labels: comp-kafka, pr-improvement

#7562 Complement to #7501
  dbms/src/DataTypes/DataTypeTuple.cpp
  dbms/tests/queries/0_stateless/01021_tuple_parser.sql
Labels: pr-improvement

#7558 Made mutation to choose the same disk in `ReplicatedMergeTree`.
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-bugfix

#7475 Optimize Kafka consumption
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.h
Labels: pr-performance

#7559 DOCS-191: Updated system.query_log description.
  docs/en/operations/system_tables.md
  docs/ru/operations/system_tables.md
Labels: documentation, pr-documentation

#7367 DOCS-8799: EN review, RU translation. SHOW TABLES update and toc restructurization.
  docs/en/operations/system_tables.md
  docs/en/query_language/show.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/operations/system_tables.md
  docs/ru/query_language/misc.md
  docs/ru/query_language/show.md
  docs/toc_en.yml
  docs/toc_ru.yml
Labels: documentation, pr-documentation

#7578 Refactor mentions of clickhouse-cpp in docs
  docs/en/interfaces/cpp.md
  docs/en/interfaces/index.md
  docs/en/interfaces/third-party/client_libraries.md
  docs/fa/interfaces/cpp.md
  docs/fa/interfaces/index.md
  docs/fa/interfaces/third-party/client_libraries.md
  docs/ru/interfaces/cpp.md
  docs/ru/interfaces/index.md
  docs/ru/interfaces/third-party/client_libraries.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/interfaces/cpp.md
  docs/zh/interfaces/index.md
  docs/zh/interfaces/third-party/client_libraries.md
Labels: documentation, pr-doc-fix

#7582 remove duplicate "id" attributes on website front page
  website/index.html
Labels: documentation, pr-documentation

#7560 Changelog for 19.16.2.2
  CHANGELOG.md
Labels: pr-documentation

#7580 fix python issue reported by lgtm.com
  utils/s3tools/s3uploader
Labels: pr-codecleanup

#7577 ISSUES-7566 sync zh geo function docs
  docs/zh/query_language/functions/geo.md
Labels: documentation, pr-documentation

#7570 Fix cross-arm build
  cmake/linux/toolchain-aarch64.cmake
Labels: pr-build

#7568 Added brief description for queries system stop|start merges
  docs/en/query_language/system.md
  docs/ru/query_language/system.md
Labels: documentation, pr-documentation

#7561 Merge for #7363
  dbms/src/Functions/FunctionHelpers.cpp
  dbms/src/Interpreters/BloomFilter.cpp
  dbms/src/Interpreters/BloomFilter.h
  dbms/src/Interpreters/BloomFilterHash.h
  dbms/src/Interpreters/Set.cpp
  dbms/src/Interpreters/Set.h
  dbms/src/Storages/MergeTree/MergeTreeIndexAggregatorBloomFilter.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexGranuleBloomFilter.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexGranuleBloomFilter.h
  dbms/tests/queries/0_stateless/00945_bloom_filter_index.reference
  dbms/tests/queries/0_stateless/00945_bloom_filter_index.sql
  docs/en/operations/table_engines/mergetree.md
Labels: pr-codecleanup

#7552 [RFC] Do not account memory for Buffer engine in max_memory_usage limit
  dbms/src/Storages/StorageBuffer.cpp
  dbms/tests/queries/0_stateless/01019_Buffer_and_max_memory_usage.reference
  dbms/tests/queries/0_stateless/01019_Buffer_and_max_memory_usage.sql
Labels: can be tested

#7542 Fix "create as select" parsing
  dbms/src/Parsers/ParserCreateQuery.cpp
  dbms/tests/queries/0_stateless/01021_create_as_select.reference
  dbms/tests/queries/0_stateless/01021_create_as_select.sql
Labels: can be tested

#7587 Find lost fix bug in pretty spaces
  dbms/src/Processors/Formats/Impl/PrettySpaceBlockOutputFormat.cpp
Labels: pr-codecleanup

#7575 Fixed missing file name escaping in FREEZE command
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/tests/integration/test_filesystem_layout/__init__.py
  dbms/tests/integration/test_filesystem_layout/test.py
Labels: can be tested, pr-bugfix

#7585 Fixed compile errors on macOS Catalina
  cmake/tools.cmake
  contrib/arrow-cmake/CMakeLists.txt
  contrib/libcxx-cmake/CMakeLists.txt
  dbms/src/Functions/isValidUTF8.cpp
  dbms/src/Storages/LiveView/StorageLiveView.cpp
Labels: can be tested

#7380 Add function arrayFill and arrayReverseFill
  dbms/src/AggregateFunctions/AggregateFunctionMinMaxAny.h
  dbms/src/AggregateFunctions/AggregateFunctionQuantile.cpp
  dbms/src/AggregateFunctions/ReservoirSampler.h
  dbms/src/Functions/FunctionBinaryArithmetic.h
  dbms/src/Functions/FunctionsStringSimilarity.cpp
  dbms/src/Functions/Regexps.h
  dbms/src/Functions/array/arrayFill.cpp
  dbms/src/Functions/array/arraySplit.cpp
  dbms/src/Functions/formatString.h
  dbms/src/Functions/registerFunctionsHigherOrder.cpp
  dbms/tests/performance/array_fill.xml
  dbms/tests/queries/0_stateless/01019_array_fill.reference
  dbms/tests/queries/0_stateless/01019_array_fill.sql
  docs/en/query_language/functions/higher_order_functions.md
Labels: can be tested, pr-feature

#7328 implement arrayCompact
  dbms/src/Functions/array/arrayCompact.cpp
  dbms/src/Functions/registerFunctionsHigherOrder.cpp
  dbms/tests/queries/0_stateless/01020_function_array_compact.reference
  dbms/tests/queries/0_stateless/01020_function_array_compact.sql
  docs/en/query_language/functions/array_functions.md
Labels: can be tested

#7599 Check column for __getScalar() (avoids assertion)
  dbms/src/Functions/getScalar.cpp
  dbms/tests/queries/0_stateless/01024__getScalar.reference
  dbms/tests/queries/0_stateless/01024__getScalar.sql
Labels: can be tested

#7586 Rewrite NonJoinedBlockInputStream
  dbms/src/Interpreters/Join.cpp
  dbms/src/Interpreters/Join.h
  dbms/tests/queries/0_stateless/00974_full_outer_join.reference
  dbms/tests/queries/0_stateless/00999_full_join_dup_keys_crash.reference
  dbms/tests/queries/0_stateless/00999_full_join_dup_keys_crash.sql
Labels: pr-bugfix

#7622 Continue ISSUES-7616
  docs/zh/data_types/nested_data_structures/aggregatefunction.md
Labels: documentation, pr-documentation

#7486 functions: add char function
  dbms/src/Functions/FunctionsCoding.cpp
  dbms/src/Functions/FunctionsCoding.h
  dbms/tests/queries/0_stateless/01020_function_char.reference
  dbms/tests/queries/0_stateless/01020_function_char.sql
  docs/en/query_language/functions/encoding_functions.md
Labels: can be tested

#7598 added bitmapTransform
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  dbms/src/Functions/FunctionsBitmap.cpp
  dbms/src/Functions/FunctionsBitmap.h
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
  docs/en/query_language/functions/bitmap_functions.md
Labels: can be tested

#7625 Improvement of arrayCompact function.
  dbms/src/Functions/array/arrayCompact.cpp
  dbms/tests/queries/0_stateless/01025_array_compact_generic.reference
  dbms/tests/queries/0_stateless/01025_array_compact_generic.sql
Labels: pr-improvement

#7635 Now concat always return string column
  dbms/src/Functions/concat.cpp
  dbms/tests/queries/0_stateless/01030_concatenate_equal_fixed_strings.reference
  dbms/tests/queries/0_stateless/01030_concatenate_equal_fixed_strings.sql
Labels: pr-bugfix

#7600 Write current batch for distributed send atomically (using .tmp + rename)
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
Labels: can be tested

#7639 Fix final mark with empty primary key.
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/tests/queries/0_stateless/01030_final_mark_empty_primary_key.reference
  dbms/tests/queries/0_stateless/01030_final_mark_empty_primary_key.sql
Labels: pr-bugfix

#7640 Remove note about unsupported ON CLUSTER alter for replicated tables and enable tests
  dbms/tests/integration/pytest.ini
  dbms/tests/integration/test_distributed_ddl/cluster.py
  dbms/tests/integration/test_distributed_ddl/configs_secure/config.d/clusters.xml
  dbms/tests/integration/test_distributed_ddl/configs_secure/config.d/ddl.xml
  dbms/tests/integration/test_distributed_ddl/configs_secure/config.d/macro.xml
  dbms/tests/integration/test_distributed_ddl/configs_secure/config.d/query_log.xml
  dbms/tests/integration/test_distributed_ddl/configs_secure/config.d/ssl_conf.xml
  dbms/tests/integration/test_distributed_ddl/configs_secure/config.d/zookeeper_session_timeout.xml
  dbms/tests/integration/test_distributed_ddl/configs_secure/dhparam.pem
  dbms/tests/integration/test_distributed_ddl/configs_secure/server.crt
  dbms/tests/integration/test_distributed_ddl/configs_secure/server.key
  dbms/tests/integration/test_distributed_ddl/configs_secure/users.d/query_log.xml
  dbms/tests/integration/test_distributed_ddl/configs_secure/users.d/restricted_user.xml
  dbms/tests/integration/test_distributed_ddl/test.py
  dbms/tests/integration/test_distributed_ddl/test_replicated_alter.py
  dbms/tests/integration/test_distributed_ddl_secure/__init__.py
  dbms/tests/integration/test_distributed_ddl_secure/test.py
  docs/en/query_language/create.md
  docs/ru/query_language/create.md
  docs/zh/query_language/create.md
Labels: can be tested

#7618 Fixed exception in case of using 1 argument while defining S3, URL and HDFS storages
  dbms/src/Storages/StorageHDFS.cpp
  dbms/src/Storages/StorageS3.cpp
  dbms/src/Storages/StorageURL.cpp
  dbms/tests/queries/0_stateless/01030_storage_hdfs_syntax.reference
  dbms/tests/queries/0_stateless/01030_storage_hdfs_syntax.sql
  dbms/tests/queries/0_stateless/01030_storage_s3_syntax.reference
  dbms/tests/queries/0_stateless/01030_storage_s3_syntax.sql
  dbms/tests/queries/0_stateless/01030_storage_url_syntax.reference
  dbms/tests/queries/0_stateless/01030_storage_url_syntax.sql
Labels: altinity

#7381 DOCAPI-6422: EN review, RU translation. Docs for adaptive index granularity and some settings
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/mergetree.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/table_engines/mergetree.md
Labels: documentation, pr-documentation

#7372 DOCS-8163: EN review, RU translation. sequenceMatch, sequenceCount
  docs/en/query_language/agg_functions/parametric_functions.md
  docs/ru/query_language/agg_functions/parametric_functions.md
Labels: documentation, pr-doc-fix

#7429 DOCS-4146: Updated the description of the DateTime data type.
  docs/en/data_types/datetime.md
  docs/en/operations/server_settings/settings.md
  docs/en/query_language/functions/date_time_functions.md
Labels: documentation, pr-doc-fix

#7452 DOCS-163: Docs for the Interval data type and the INTERVAL operator.
  docs/en/data_types/special_data_types/interval.md
  docs/en/query_language/functions/type_conversion_functions.md
  docs/en/query_language/operators.md
  docs/fa/data_types/special_data_types/interval.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_zh.yml
  docs/zh/data_types/special_data_types/interval.md
  docs/zh/query_language/functions/type_conversion_functions.md
  docs/zh/query_language/operators.md
Labels: documentation, pr-doc-fix

#7651 Implemented javaHashUTF16LE()
  dbms/src/Functions/FunctionsHashing.cpp
  dbms/src/Functions/FunctionsHashing.h
  dbms/tests/queries/0_stateless/00800_function_java_hash.reference
  dbms/tests/queries/0_stateless/00800_function_java_hash.sql
Labels: can be tested

#7601 Fix scope of the InterpreterSelectQuery for views with query
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.cpp
  dbms/tests/queries/0_stateless/01023_materialized_view_query_context.reference
  dbms/tests/queries/0_stateless/01023_materialized_view_query_context.sql
Labels: can be tested

#7597 DOCS-439: RU review. EN translation. Data storage policies.
  docs/en/operations/system_tables.md
  docs/en/operations/table_engines/mergetree.md
  docs/en/query_language/alter.md
  docs/ru/operations/system_tables.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/alter.md
Labels: documentation, pr-documentation

#7373 DOCS-7719: EN review, RU translation. Columns matcher
  docs/en/query_language/select.md
  docs/ru/operations/table_engines/mysql.md
  docs/ru/query_language/select.md
Labels: documentation, pr-documentation

#7664 More safe, but still ugly mutations interpreter
  dbms/src/Functions/FunctionsJSON.h
  dbms/src/Interpreters/InterpreterAlterQuery.cpp
  dbms/src/Interpreters/MutationsInterpreter.cpp
  dbms/src/Interpreters/MutationsInterpreter.h
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/tests/queries/0_stateless/01031_mutations_interpreter_and_context.reference
  dbms/tests/queries/0_stateless/01031_mutations_interpreter_and_context.sh
Labels: pr-bugfix

#7624 [RFC] Add _shard_num virtual column for the Distributed engine
  dbms/src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  dbms/src/Interpreters/ClusterProxy/SelectStreamFactory.h
  dbms/src/Storages/StorageDistributed.cpp
  dbms/src/Storages/VirtualColumnUtils.cpp
  dbms/src/Storages/VirtualColumnUtils.h
  dbms/tests/queries/0_stateless/01018_Distributed__shard_num.reference
  dbms/tests/queries/0_stateless/01018_Distributed__shard_num.sql
  docs/en/operations/table_engines/distributed.md
Labels: can be tested, pr-feature

#7355 Decimal hex function
  dbms/src/Functions/FunctionsCoding.h
  dbms/tests/queries/0_stateless/01013_hex_decimal.reference
  dbms/tests/queries/0_stateless/01013_hex_decimal.sql
  docs/en/query_language/functions/encoding_functions.md
  docs/ru/query_language/functions/encoding_functions.md
Labels: pr-feature

#7518 Improve range
  dbms/src/Functions/array/range.cpp
  dbms/tests/performance/range.xml
  dbms/tests/queries/0_stateless/00343_array_element_generic.reference
  dbms/tests/queries/0_stateless/00343_array_element_generic.sql
  docs/en/query_language/functions/array_functions.md
Labels: can be tested

#7674 Add test for HTTPS replication failover
  dbms/tests/integration/test_https_replication/test.py
Labels: pr-build

#7682 Doc links fix
  docs/en/operations/system_tables.md
  docs/ru/operations/system_tables.md
  docs/ru/operations/table_engines/mergetree.md
  docs/zh/operations/table_engines/mergetree.md
Labels: documentation, pr-doc-fix

#7685 Forbidden to use column name more than once in insert query.
  dbms/src/DataStreams/NativeBlockInputStream.cpp
  dbms/src/Interpreters/InterpreterInsertQuery.cpp
  dbms/tests/queries/0_stateless/01032_duplicate_column_insert_query.reference
  dbms/tests/queries/0_stateless/01032_duplicate_column_insert_query.sql
Labels: pr-bugfix

#7692 [docs] update repo_name and repo_url
  docs/tools/build.py
Labels: documentation

#7689 Fix remote constants.
  dbms/src/DataStreams/RemoteBlockInputStream.cpp
  dbms/tests/integration/test_replicating_constants/__init__.py
  dbms/tests/integration/test_replicating_constants/test.py
Labels: pr-bugfix

#7698 Removed fixed index granularity from system logs because it's obsolete.
  dbms/src/Interpreters/SystemLog.cpp
Labels: pr-improvement

#7705 [docs] added 'strict' parameter in windowFunnel().
  docs/en/query_language/agg_functions/parametric_functions.md
Labels: documentation

#7506 odbc table function now respects external_table_functions_use_nulls
  dbms/programs/odbc-bridge/ColumnInfoHandler.cpp
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/TableFunctions/ITableFunctionXDBC.cpp
  dbms/tests/integration/test_odbc_interaction/test.py
Labels: altinity, can be tested

#7712 [docs] Replace unmaintainable Ruby client by a newer one
  docs/en/interfaces/third-party/client_libraries.md
  docs/fa/interfaces/third-party/client_libraries.md
  docs/ru/interfaces/third-party/client_libraries.md
  docs/zh/interfaces/third-party/client_libraries.md
Labels: documentation

#7703 Allowed non-constant negative "size" argument for function "substring"
  dbms/src/Functions/substring.cpp
  dbms/tests/queries/0_stateless/00970_substring_arg_validation.reference
  dbms/tests/queries/0_stateless/00970_substring_arg_validation.sql
  dbms/tests/queries/0_stateless/01033_substr_negative_size_arg.reference
  dbms/tests/queries/0_stateless/01033_substr_negative_size_arg.sql
Labels: pr-improvement

#7709 Fix use of destroyed variable captured in lambda for storage XDBC
  dbms/src/Storages/StorageXDBC.cpp
  dbms/tests/queries/0_stateless/01033_storage_odbc_parsing_exception_check.reference
  dbms/tests/queries/0_stateless/01033_storage_odbc_parsing_exception_check.sql
Labels: pr-bugfix

#7706 [docs] added javaHashUTF16LE().
  docs/en/query_language/functions/hash_functions.md
Labels: documentation

#7720 [WIP] Add documentation for dictionaries DDL
  docs/en/query_language/create.md
  docs/en/query_language/dicts/external_dicts.md
  docs/en/query_language/dicts/external_dicts_dict.md
  docs/en/query_language/dicts/external_dicts_dict_layout.md
  docs/en/query_language/dicts/external_dicts_dict_lifetime.md
  docs/en/query_language/dicts/external_dicts_dict_sources.md
  docs/en/query_language/dicts/external_dicts_dict_structure.md
  docs/en/query_language/misc.md
  docs/en/query_language/show.md
  docs/zh/query_language/create.md
Labels: documentation, pr-documentation

#7768 PREWHERE perf test
  dbms/tests/performance/prewhere.xml
Labels: pr-build

#7766 upgrade gcc and g++ to version 9
  docker/builder/build.sh
Labels: pr-build

#7777 Fix array intersect overflow
  dbms/src/Functions/array/arrayIntersect.cpp
  dbms/tests/queries/0_stateless/00930_arrayIntersect.reference
  dbms/tests/queries/0_stateless/00930_arrayIntersect.sql
Labels: pr-bugfix

#7771 DOCS-129: Updated cli description.
  docs/en/interfaces/cli.md
Labels: documentation, pr-documentation

#7791 Fix PODArray.insert
  dbms/src/Common/PODArray.h
  dbms/src/Common/tests/gtest_pod_array.cpp
Labels: can be tested

#7824 Updating Holistics to Clickhouse support page
  docs/zh/interfaces/third-party/gui.md
Labels: documentation, pr-documentation

#7822 Updating Holistics product to Clickhouse page
  docs/en/interfaces/third-party/gui.md
Labels: documentation, pr-documentation

#7839 DOCS-465 RU version of Holistics introduction
  docs/ru/interfaces/third-party/gui.md
Labels: documentation, pr-doc-fix

#7793 fix zero-access user creation
  dbms/src/Interpreters/Users.cpp
  dbms/src/Interpreters/Users.h
  dbms/src/Interpreters/UsersManager.cpp
  dbms/tests/integration/test_user_zero_database_access/__init__.py
  dbms/tests/integration/test_user_zero_database_access/configs/config.xml
  dbms/tests/integration/test_user_zero_database_access/configs/users.xml
  dbms/tests/integration/test_user_zero_database_access/test_user_zero_database_access.py
Labels: can be tested

#7850 Fixing typos & few grammar corrections
  CHANGELOG.md
Labels: documentation, pr-documentation

#7842 DOCS-462: trace_log system table and trace_log configuration section docs.
  docs/en/operations/server_settings/settings.md
  docs/en/operations/system_tables.md
Labels: documentation, pr-doc-fix

#7828 Doc change. Partition key instead of old month
  docs/en/query_language/insert_into.md
  docs/ru/query_language/insert_into.md
Labels: documentation, pr-documentation

#7827 Doc change. ATTACH PARTITION FROM
  docs/en/query_language/alter.md
  docs/ru/query_language/alter.md
Labels: documentation, pr-documentation

#7809 document arrayFlatten (flatten) in en, ru
  docs/en/query_language/functions/array_functions.md
  docs/ru/query_language/functions/array_functions.md
Labels: documentation, pr-documentation

#7866 Invert flags in Settings.h: IGNORABLE flag is replaced with IMPORTANT flag
  dbms/src/Core/Settings.h
  dbms/src/Core/SettingsCollection.h
  dbms/src/Core/SettingsCollectionImpl.h
Labels: pr-improvement

#7870 Fix float parsing in Values
  dbms/src/IO/PeekableReadBuffer.cpp
  dbms/tests/queries/0_stateless/01034_values_parse_float_bug.reference
  dbms/tests/queries/0_stateless/01034_values_parse_float_bug.sh
Labels: pr-bugfix

#7873 Fixed errors with space reservation introduced in #7558 and #7602
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-bugfix

#7762 Fix Storage lifetime in table functions
  dbms/src/Dictionaries/ClickHouseDictionarySource.cpp
  dbms/src/Interpreters/InterpreterExplainQuery.h
  dbms/src/Interpreters/InterpreterInsertQuery.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.h
  dbms/src/Interpreters/InterpreterSelectWithUnionQuery.cpp
  dbms/src/Interpreters/InterpreterSelectWithUnionQuery.h
  dbms/src/Parsers/ExpressionElementParsers.cpp
  dbms/src/Parsers/ExpressionElementParsers.h
  dbms/src/Parsers/ParserInsertQuery.cpp
  dbms/src/Processors/QueryPipeline.cpp
  dbms/src/Processors/QueryPipeline.h
  dbms/src/Storages/StorageView.cpp
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/test_globs_in_filepath/test.py
  dbms/tests/integration/test_insert_into_distributed/test.py
  dbms/tests/integration/test_mysql_database_engine/test.py
Labels: pr-bugfix

#7840 Gzip read/write to file/s3/url/hdfs
  dbms/programs/server/HTTPHandler.cpp
  dbms/src/IO/BrotliReadBuffer.cpp
  dbms/src/IO/BrotliReadBuffer.h
  dbms/src/IO/CompressionMethod.h
  dbms/src/IO/ReadHelpers.h
  dbms/src/IO/WriteBuffer.h
  dbms/src/IO/WriteBufferAIO.h
  dbms/src/IO/WriteBufferFromHDFS.h
  dbms/src/IO/WriteBufferFromHTTPServerResponse.cpp
  dbms/src/IO/WriteBufferFromHTTPServerResponse.h
  dbms/src/IO/WriteBufferFromS3.h
  dbms/src/IO/WriteHelpers.h
  dbms/src/IO/ZlibDeflatingWriteBuffer.cpp
  dbms/src/IO/ZlibDeflatingWriteBuffer.h
  dbms/src/IO/ZlibInflatingReadBuffer.cpp
  dbms/src/IO/ZlibInflatingReadBuffer.h
  dbms/src/IO/tests/zlib_buffers.cpp
  dbms/src/Storages/IStorage.cpp
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/StorageFile.cpp
  dbms/src/Storages/StorageFile.h
  dbms/src/Storages/StorageHDFS.cpp
  dbms/src/Storages/StorageHDFS.h
  dbms/src/Storages/StorageS3.cpp
  dbms/src/Storages/StorageS3.h
  dbms/src/Storages/StorageURL.cpp
  dbms/src/Storages/StorageURL.h
  dbms/src/Storages/StorageXDBC.cpp
  dbms/src/TableFunctions/ITableFunctionFileLike.cpp
  dbms/src/TableFunctions/ITableFunctionFileLike.h
  dbms/src/TableFunctions/TableFunctionFile.cpp
  dbms/src/TableFunctions/TableFunctionFile.h
  dbms/src/TableFunctions/TableFunctionHDFS.cpp
  dbms/src/TableFunctions/TableFunctionHDFS.h
  dbms/src/TableFunctions/TableFunctionS3.cpp
  dbms/src/TableFunctions/TableFunctionS3.h
  dbms/src/TableFunctions/TableFunctionURL.cpp
  dbms/src/TableFunctions/TableFunctionURL.h
  dbms/tests/integration/helpers/hdfs_api.py
  dbms/tests/integration/test_storage_hdfs/test.py
  dbms/tests/queries/0_stateless/01030_storage_hdfs_syntax.sql
  dbms/tests/queries/0_stateless/01030_storage_s3_syntax.sql
  dbms/tests/queries/0_stateless/01030_storage_url_syntax.sql
Labels: can be tested, pr-feature

#7863 Use Minio for S3 Storage integration tests
  dbms/tests/integration/README.md
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/helpers/docker_compose_minio.yml
  dbms/tests/integration/test_storage_s3/server.py
  dbms/tests/integration/test_storage_s3/test.py
Labels: can be tested, pr-build

#7880 Add exception for illegal types for conversion functions with -OrZero postfix
  dbms/src/Functions/FunctionsConversion.h
  docs/en/query_language/functions/type_conversion_functions.md
  docs/ru/query_language/functions/type_conversion_functions.md
Labels: can be tested

#7889 docs(bitTest, bitTestAny, bitTestAll):The new description of `bitTest…
  docs/en/query_language/functions/bit_functions.md
  docs/ru/query_language/functions/bit_functions.md
Labels: documentation, pr-documentation

#7816 Fix clickhouse-copier cleaning-tainting contention between concurrent workers
  dbms/programs/copier/ClusterCopier.cpp
Labels: can be tested

#7879 [Documentation] Moved developer instruction
  dbms/tests/instructions/developer_instruction_en.md
  dbms/tests/instructions/developer_instruction_ru.md
  docs/en/development/developer_instruction.md
  docs/fa/development/developer_instruction.md
  docs/ru/development/developer_instruction.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/development/developer_instruction.md
Labels: documentation, pr-documentation

#7894 Returning back segmentation engines for JSONEachRow and CSV formats.
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/IO/ReadHelpers.cpp
  dbms/src/IO/ReadHelpers.h
  dbms/src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  docs/en/operations/settings/settings.md
Labels: pr-feature

#7904 Update changelog
  CHANGELOG.md
Labels: documentation, pr-documentation

#7779 Update max_table_size_to_drop and max_partition_size_to_drop with config reload
  dbms/programs/server/Server.cpp
  dbms/programs/server/config.xml
  dbms/src/Interpreters/Context.cpp
  dbms/tests/integration/test_reload_max_table_size_to_drop/__init__.py
  dbms/tests/integration/test_reload_max_table_size_to_drop/configs/config.xml
  dbms/tests/integration/test_reload_max_table_size_to_drop/configs/users.xml
  dbms/tests/integration/test_reload_max_table_size_to_drop/test.py
Labels: can be tested

#7907 FINAL SAMPLE
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/tests/queries/0_stateless/01034_sample_final.reference
  dbms/tests/queries/0_stateless/01034_sample_final.sql
Labels: pr-improvement

#7913 Fix prewhere with max_parallel_replicas.
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/tests/queries/0_stateless/01034_prewhere_max_parallel_replicas.reference
  dbms/tests/queries/0_stateless/01034_prewhere_max_parallel_replicas.sql
Labels: pr-bugfix

#7911 Fix reading empty set with prewhere dependent on alias column.
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/tests/queries/0_stateless/01035_prewhere_with_alias.reference
  dbms/tests/queries/0_stateless/01035_prewhere_with_alias.sql
  dbms/tests/queries/bugs/prewhere_with_alias.sql
Labels: pr-bugfix

#7833 Added disk info to `system.detached_parts`
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreePartInfo.h
  dbms/src/Storages/System/StorageSystemDetachedParts.cpp
  dbms/tests/integration/test_multiple_disks/test.py
  dbms/tests/queries/0_stateless/00502_custom_partitioning_local.reference
Labels: pr-improvement

#7897 Slightly better usability of exception messages
  dbms/src/Common/Exception.cpp
  dbms/src/Interpreters/executeQuery.cpp
Labels: pr-improvement

#7722 Added a test of javaHashUTF16LE for non BMP code points
  dbms/tests/queries/0_stateless/00800_function_java_hash.reference
  dbms/tests/queries/0_stateless/00800_function_java_hash.sql
Labels: pr-improvement

#7848 [Documentation]Translate the TTL part of MergeTree in the document into Chinese
  docs/zh/operations/table_engines/mergetree.md
Labels: documentation, pr-documentation

#7884 Update index.md
  docs/zh/interfaces/index.md
Labels: documentation, pr-documentation

#7908 Fix enum conversion in native format for backward compatibility.
  dbms/src/DataStreams/NativeBlockInputStream.cpp
  dbms/src/DataTypes/DataTypeLowCardinality.h
  dbms/src/DataTypes/DataTypeLowCardinalityHelpers.cpp
  dbms/tests/queries/0_stateless/01035_enum_conversion_native_format.reference
  dbms/tests/queries/0_stateless/01035_enum_conversion_native_format.sh
Labels: pr-bugfix

#7918 update translation of developer_instruction in zh
  docs/zh/development/developer_instruction.md
Labels: documentation, pr-documentation

#7929 Fix union with diff columns
  dbms/src/Columns/getLeastSuperColumn.cpp
  dbms/src/Columns/getLeastSuperColumn.h
  dbms/src/Interpreters/InterpreterSelectWithUnionQuery.cpp
  dbms/tests/queries/0_stateless/01036_union_different_columns.reference
  dbms/tests/queries/0_stateless/01036_union_different_columns.sql
Labels: pr-bugfix

#7933 DirectoryMonitor: mark batch as broken on UNKNOWN_CODEC/CANNOT_DECOMPRESS errors
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
Labels: can be tested

#7922 fix cli docs
  docs/en/interfaces/cli.md
  docs/fa/interfaces/cli.md
  docs/zh/interfaces/cli.md
Labels: documentation, pr-documentation

#7901 Update alter.md
  docs/ru/query_language/alter.md
Labels: documentation, pr-doc-fix

#7932 Doc change. OPTIMIZE DEDUPLICATE description
  docs/en/query_language/misc.md
  docs/ru/query_language/misc.md
Labels: documentation, pr-doc-fix

#7670 Separated pool for background moves
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Storages/MergeTree/BackgroundProcessingPool.cpp
  dbms/src/Storages/MergeTree/BackgroundProcessingPool.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-improvement

#7965 Update system.md
  docs/en/query_language/system.md
Labels: documentation, pr-doc-fix
