Repository ClickHouse/ClickHouse, pull requests merged in 2019-06, with the labels that each got.

#5429 Fix INSERT into Distributed() table with MATERIALIZED column
  dbms/src/Storages/StorageDistributed.cpp
  dbms/tests/queries/0_stateless/00952_insert_into_distributed_with_materialized_column.reference
  dbms/tests/queries/0_stateless/00952_insert_into_distributed_with_materialized_column.sql
Labels: can be tested

#5492 Some changes and fixes on regression methods
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.cpp
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.h
  dbms/src/Columns/ColumnVector.cpp
  dbms/src/Columns/ColumnVector.h
  dbms/src/Columns/IColumn.h
  dbms/tests/performance/linear_regression.xml
  dbms/tests/queries/0_stateless/00938_dataset_test.sql
  dbms/tests/queries/0_stateless/00944_ml_test.reference
  dbms/tests/queries/0_stateless/00944_ml_test.sql
  dbms/tests/queries/0_stateless/00945_ml_test.sql
  dbms/tests/queries/0_stateless/00946_ml_test.sql
  dbms/tests/queries/0_stateless/00947_ml_test.sql
  docs/en/query_language/agg_functions/reference.md
  docs/en/query_language/functions/machine_learning_methods.md
Labels: can be tested

#5517 CLICKHOUSE-4536 fix
  website/nginx/nginx.conf
Labels: documentation, pr-documentation

#5445 Don't do intermediate commits in Kafka tables by default
  dbms/src/Storages/Kafka/KafkaSettings.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
Labels: altinity, pr-improvement

#5520 Fix inconsistent parts remove from local FS without dropping them from ZK
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/integration/test_parts_delete_zookeeper/__init__.py
  dbms/tests/integration/test_parts_delete_zookeeper/configs/remote_servers.xml
  dbms/tests/integration/test_parts_delete_zookeeper/test.py
Labels: pr-bugfix

#5521 Fix build without Brotli (#5513)
  dbms/programs/server/HTTPHandler.cpp
  dbms/src/IO/WriteBufferFromHTTPServerResponse.cpp
  dbms/src/IO/WriteBufferFromHTTPServerResponse.h
Labels: can be tested

#5523 DEVTOOLS-5507 Include roaring.h as roaring/roaring.h
  contrib/croaring/CMakeLists.txt
  contrib/croaring/roaring.c
  contrib/croaring/roaring/roaring.h
  contrib/croaring/roaring/roaring.hh
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
Labels: can be tested

#5423 DOCAPI-6427: Settings for formats. EN review and RU translation.
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/settings/settings.md
Labels: documentation, pr-documentation

#5415 DOCAPI-6426: RU translation for max-partitions-per-insert-block descr…
  docs/en/operations/settings/query_complexity.md
  docs/ru/operations/settings/query_complexity.md
Labels: documentation, pr-documentation

#5424 DOCAPI-6183: JOIN syntax limitations.
  docs/en/query_language/dicts/external_dicts_dict_sources.md
  docs/en/query_language/select.md
Labels: documentation, pr-doc-fix

#5425 DOCAPI-6554: LIMIT BY. EN review. RU translation.
  docs/en/query_language/select.md
  docs/ru/query_language/select.md
Labels: documentation, pr-documentation

#5528 Fix bitmapHasAny segment fault
  dbms/src/Functions/FunctionsBitmap.h
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
Labels: can be tested, pr-bugfix

#5524 Fixed DROP INDEX IF EXISTS and added simple test
  dbms/src/Storages/AlterCommands.cpp
  dbms/tests/queries/0_stateless/00953_indices_alter_exceptions.reference
  dbms/tests/queries/0_stateless/00953_indices_alter_exceptions.sh
Labels: can be tested

#5516 Fix regression models
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.cpp
  dbms/src/AggregateFunctions/AggregateFunctionMLMethod.h
  dbms/src/AggregateFunctions/IAggregateFunction.h
  dbms/src/Columns/ColumnAggregateFunction.cpp
  dbms/src/Functions/evalMLMethod.cpp
Labels: pr-improvement

#5502 Changelog for 19.7.3.9
  CHANGELOG.md
Labels: do not test

#5536 Russian changelog for 19.7
  CHANGELOG.md
  CHANGELOG_RU.md
Labels: do not test

#5539 Fixed alter modify ttl on ReplicatedMergeTree.
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.h
  dbms/tests/queries/0_stateless/00933_ttl_replicated_zookeeper.reference
  dbms/tests/queries/0_stateless/00933_ttl_replicated_zookeeper.sql
Labels: pr-bugfix

#5490 DOCAPI-6425: Security settings
  docs/en/operations/settings/settings_users.md
  docs/fa/getting_started/example_datasets/ontime.md
  docs/ru/getting_started/example_datasets/ontime.md
  docs/toc_en.yml
  docs/zh/getting_started/example_datasets/ontime.md
Labels: documentation, pr-documentation

#5482 DOCAPI-3933: Update of some hash functions docs.
  docs/en/query_language/functions/hash_functions.md
  docs/en/query_language/functions/type_conversion_functions.md
Labels: documentation, pr-doc-fix

#5537 DOCAPI-6890: system.parts.is_frozen description.
  docs/en/operations/system_tables.md
Labels: documentation, pr-documentation

#5496 DOCAPI-6421: load_balancing. RU translation, EN review.
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: documentation, pr-documentation

#5196 translation functions document
  docs/en/query_language/functions/date_time_functions.md
  docs/en/query_language/functions/functions_for_nulls.md
  docs/en/query_language/functions/hash_functions.md
  docs/en/query_language/functions/json_functions.md
  docs/en/query_language/functions/other_functions.md
  docs/en/query_language/functions/string_search_functions.md
  docs/en/query_language/functions/type_conversion_functions.md
  docs/en/query_language/functions/url_functions.md
  docs/toc_zh.yml
  docs/zh/query_language/functions/arithmetic_functions.md
  docs/zh/query_language/functions/array_functions.md
  docs/zh/query_language/functions/array_join.md
  docs/zh/query_language/functions/bit_functions.md
  docs/zh/query_language/functions/bitmap_functions.md
  docs/zh/query_language/functions/comparison_functions.md
  docs/zh/query_language/functions/conditional_functions.md
  docs/zh/query_language/functions/date_time_functions.md
  docs/zh/query_language/functions/encoding_functions.md
  docs/zh/query_language/functions/ext_dict_functions.md
  docs/zh/query_language/functions/functions_for_nulls.md
  docs/zh/query_language/functions/geo.md
  docs/zh/query_language/functions/hash_functions.md
  docs/zh/query_language/functions/higher_order_functions.md
  docs/zh/query_language/functions/in_functions.md
  docs/zh/query_language/functions/index.md
  docs/zh/query_language/functions/ip_address_functions.md
  docs/zh/query_language/functions/json_functions.md
  docs/zh/query_language/functions/logical_functions.md
  docs/zh/query_language/functions/machine_learning_methods.md
  docs/zh/query_language/functions/math_functions.md
  docs/zh/query_language/functions/other_functions.md
  docs/zh/query_language/functions/random_functions.md
  docs/zh/query_language/functions/rounding_functions.md
  docs/zh/query_language/functions/splitting_merging_functions.md
  docs/zh/query_language/functions/string_functions.md
  docs/zh/query_language/functions/string_replace_functions.md
  docs/zh/query_language/functions/string_search_functions.md
  docs/zh/query_language/functions/type_conversion_functions.md
  docs/zh/query_language/functions/url_functions.md
  docs/zh/query_language/functions/uuid_functions.md
  docs/zh/query_language/functions/ym_dict_functions.md
Labels: documentation

#5413 DOCAPI-6207: EN review and RU translation for the JDBC table engine
  docs/en/operations/table_engines/jdbc.md
  docs/ru/operations/table_engines/jdbc.md
  docs/toc_fa.yml
  docs/toc_ru.yml
Labels: documentation, pr-doc-fix

#5575 Added documentation of constraints on settings.
  docs/en/operations/settings/constraints_on_settings.md
  docs/en/operations/settings/permissions_for_queries.md
  docs/ru/operations/settings/constraints_on_settings.md
  docs/ru/operations/settings/permissions_for_queries.md
  docs/toc_en.yml
  docs/toc_ru.yml
Labels: pr-documentation

#5580 Fix Settings.h URL in docs
  docs/en/operations/settings/query_complexity.md
  docs/ru/operations/settings/query_complexity.md
Labels: documentation, pr-doc-fix

#5577 DOCAPI-3856: Removed the phrase about limited usage of tuples in tables.
  docs/en/data_types/tuple.md
  docs/ru/data_types/tuple.md
Labels: documentation, pr-doc-fix

#5586 Clearer interfaces of Searchers
  dbms/src/Common/StringSearcher.h
  dbms/src/Common/Volnitsky.h
  dbms/src/Functions/FunctionsStringSearch.cpp
Labels: can be tested

#5588 Fix some weird cases in Searchers
  dbms/src/Functions/FunctionsStringSearch.cpp
  dbms/tests/queries/0_stateless/00233_position_function_family.reference
  dbms/tests/queries/0_stateless/00233_position_function_family.sql
Labels: can be tested, pr-bugfix

#5544 DOCAPI-6887: Description of skewPop, skewSamp, kurtPop, kurtSamp functions.
  docs/en/query_language/agg_functions/reference.md
Labels: documentation, pr-documentation

#5427 DOCAPI-3822: Zookeeper settings. Review of EN docs. RU translation.
  docs/en/faq/general.md
  docs/en/operations/server_settings/settings.md
  docs/ru/faq/general.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/query_language/dicts/external_dicts_dict_sources.md
Labels: documentation, pr-doc-fix

#5598 Replace meetup on website front page
  website/index.html
Labels: documentation, pr-documentation

#5578 DOCAPI-6890: RU Translation for description of system.parts new field.
  docs/ru/operations/system_tables.md
Labels: documentation, pr-documentation

#5602 DOCAPI-4166: Translation for some 'other functions' and linking the parts of the document
  docs/en/development/architecture.md
  docs/en/query_language/functions/other_functions.md
  docs/ru/query_language/functions/other_functions.md
Labels: documentation, pr-doc-fix

#5603 Fix documentation concerning IPv4/IPv6 CIDR function
  docs/en/query_language/functions/ip_address_functions.md
  docs/zh/query_language/functions/ip_address_functions.md
Labels: documentation, pr-documentation

#5593 Support more AlterType in distribute DDL
  dbms/src/Interpreters/DDLWorker.cpp
Labels: can be tested

#5606 Check for namespace comments in "check-style" tool
  utils/check-style/check-style
Labels: pr-build

#5607 Fix float to decimal convert overflow
  dbms/src/DataTypes/DataTypesDecimal.h
  dbms/tests/queries/0_stateless/00700_decimal_casts.sql
Labels: can be tested

#5550 Doc fix: small fix in lambda
  docs/en/query_language/alter.md
  docs/en/query_language/functions/higher_order_functions.md
  docs/ru/query_language/functions/higher_order_functions.md
Labels: documentation

#5549 Fix complex bug in deduplication
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  dbms/tests/queries/0_stateless/00953_zookeeper_suetin_deduplication_bug.reference
  dbms/tests/queries/0_stateless/00953_zookeeper_suetin_deduplication_bug.sh
Labels: pr-bugfix

#5535 Add bitmapContains
  dbms/src/Functions/FunctionsBitmap.cpp
  dbms/src/Functions/FunctionsBitmap.h
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
  docs/en/query_language/functions/bitmap_functions.md
Labels: can be tested

#5529 DOCAPI-6888: toDecimal*Or* functions description.
  docs/en/query_language/functions/type_conversion_functions.md
Labels: documentation, pr-documentation

#5463 DOCAPI-6550: 'basename' function, HTTP compression. EN review and RU translation
  docs/en/interfaces/http.md
  docs/en/query_language/functions/other_functions.md
  docs/ru/interfaces/http.md
  docs/ru/query_language/functions/other_functions.md
Labels: documentation, pr-documentation

#5613 make isSupportedAlterType better
  dbms/src/Interpreters/DDLWorker.cpp
Labels: can be tested

#5572 DOCAPI-6985: RU translations for some articles.
  docs/en/query_language/agg_functions/reference.md
  docs/en/query_language/functions/array_functions.md
  docs/en/query_language/functions/json_functions.md
  docs/en/query_language/functions/machine_learning_functions.md
  docs/en/query_language/functions/machine_learning_methods.md
  docs/fa/operations/settings/constraints_on_settings.md
  docs/fa/query_language/functions/machine_learning_functions.md
  docs/ru/data_types/domains/ipv4.md
  docs/ru/data_types/domains/ipv6.md
  docs/ru/data_types/domains/overview.md
  docs/ru/query_language/agg_functions/parametric_functions.md
  docs/ru/query_language/agg_functions/reference.md
  docs/ru/query_language/create.md
  docs/ru/query_language/functions/geo.md
  docs/ru/query_language/functions/higher_order_functions.md
  docs/ru/query_language/functions/json_functions.md
  docs/ru/query_language/functions/machine_learning_functions.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/operations/settings/constraints_on_settings.md
  docs/zh/query_language/functions/machine_learning_functions.md
  docs/zh/query_language/functions/other_functions.md
Labels: documentation, pr-doc-fix

#5556 DOCAPI-6889: External dictionaries functions docs update.
  docs/en/operations/server_settings/settings.md
  docs/en/query_language/dicts/external_dicts.md
  docs/en/query_language/dicts/external_dicts_dict_structure.md
  docs/en/query_language/functions/ext_dict_functions.md
  docs/en/query_language/functions/uuid_functions.md
  docs/en/query_language/syntax.md
  docs/toc_zh.yml
  docs/zh/query_language/functions/uuid_functions.md
Labels: documentation, pr-documentation

#5627 Allow run query with remote() in clickhouse-local; Allow redefine config from command line for clickhouse-local
  dbms/programs/local/LocalServer.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/tests/queries/0_stateless/00557_remote_port.reference
  dbms/tests/queries/0_stateless/00557_remote_port.sh
  libs/libloggers/loggers/Loggers.h
  libs/libloggers/loggers/OwnPatternFormatter.cpp
  libs/libloggers/loggers/OwnPatternFormatter.h
Labels: pr-improvement

#5594 DOCAPI-4160: The 'uniq*' and 'count' functions desctiption update.
  docs/en/operations/settings/settings.md
  docs/en/query_language/agg_functions/reference.md
Labels: documentation, pr-doc-fix

#5633 Fixed performance degradation in SELECT from MergeTree tables #5631
  dbms/src/Storages/MergeTree/MergeTreeBaseSelectBlockInputStream.cpp
  dbms/tests/performance/functions_geo.xml
  dbms/tests/performance/merge_tree_simple_select.xml
Labels: pr-bugfix

#5599 Add database engine of MySQL type
  dbms/src/Common/convertMySQLDataType.cpp
  dbms/src/Common/convertMySQLDataType.h
  dbms/src/Databases/DatabaseFactory.cpp
  dbms/src/Databases/DatabaseFactory.h
  dbms/src/Databases/DatabaseMySQL.cpp
  dbms/src/Databases/DatabaseMySQL.h
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/TableFunctions/TableFunctionMySQL.cpp
  dbms/tests/integration/test_mysql_database_engine/__init__.py
  dbms/tests/integration/test_mysql_database_engine/configs/remote_servers.xml
  dbms/tests/integration/test_mysql_database_engine/test.py
Labels: can be tested, pr-feature

#5639 Fixed quotes in exceptions and log messages.
  dbms/programs/server/Server.cpp
  dbms/src/Common/Config/ConfigProcessor.cpp
  dbms/src/Common/Config/ConfigReloader.cpp
  dbms/src/Common/ZooKeeper/ZooKeeperNodeCache.cpp
  dbms/src/Dictionaries/Embedded/GeodataProviders/HierarchiesProvider.cpp
  dbms/src/Interpreters/Cluster.cpp
  dbms/src/Interpreters/MutationsInterpreter.cpp
  dbms/src/Storages/AlterCommands.cpp
  dbms/src/Storages/MergeTree/MergeTreeBloomFilterIndex.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/MergeTreeMinMaxIndex.cpp
  dbms/src/Storages/MergeTree/MergeTreeSetSkippingIndex.cpp
  dbms/src/Storages/MutationCommands.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/TableFunctions/TableFunctionMySQL.cpp
Labels: pr-codecleanup

#5509 Translate docs/zh/operations/table_engines/{file.md,url.md}
  docs/zh/operations/table_engines/file.md
  docs/zh/operations/table_engines/replication.md
  docs/zh/operations/table_engines/url.md
Labels: documentation

#5501 DOCAPI-4148: Use of Index for Partially-Monotonic Primary Keys
  docs/en/operations/table_engines/mergetree.md
Labels: documentation, pr-doc-fix

#5640 Adopted IPv6 data type in system tables; unified client info columns in system.processes and system.query_log
  dbms/src/Common/IPv6ToBinary.cpp
  dbms/src/Common/IPv6ToBinary.h
  dbms/src/Interpreters/QueryLog.cpp
  dbms/src/Interpreters/QueryThreadLog.cpp
  dbms/src/Storages/System/StorageSystemProcesses.cpp
Labels: pr-improvement

#5272 DOCAPI-4197: Limitation settings
  docs/en/operations/settings/query_complexity.md
  docs/en/operations/settings/settings.md
  docs/en/query_language/select.md
Labels: documentation, pr-doc-fix

#5459 DOCAPI-3697: Update of GraphiteMergeTree description.
  docs/en/operations/table_engines/graphitemergetree.md
Labels: documentation, pr-doc-fix

#5487 DOCAPI-4293: MySQL table engine and function. RU translation and EN review
  docs/en/operations/table_engines/mysql.md
  docs/en/query_language/select.md
  docs/en/query_language/table_functions/mysql.md
  docs/ru/operations/table_engines/mysql.md
  docs/ru/query_language/select.md
  docs/ru/query_language/table_functions/mysql.md
Labels: documentation, pr-doc-fix

#5566 DOCAPI-6180: Syncronization between EN and RU versions of document.
  docs/en/query_language/agg_functions/reference.md
  docs/en/query_language/functions/bitmap_functions.md
  docs/en/query_language/functions/ip_address_functions.md
  docs/ru/interfaces/formats.md
  docs/ru/query_language/agg_functions/reference.md
  docs/ru/query_language/functions/bitmap_functions.md
  docs/ru/query_language/functions/ip_address_functions.md
  docs/toc_ru.yml
Labels: documentation, pr-doc-fix

#5461 DOCAPI-3825: system.metrics, system.events, system.asyncronouse_metrics docs
  docs/en/operations/system_tables.md
Labels: documentation, pr-doc-fix

#5563 DOCAPI-6213: Docs for send_progress_in_http_headers setting.
  docs/en/interfaces/http.md
  docs/en/operations/settings/settings.md
Labels: documentation, pr-doc-fix

#5644 Made MySQL wire protocol tests independent from each other
  dbms/tests/integration/test_mysql_protocol/test.py
Labels: can be tested

#5643 Cleanup for TestKeeper
  dbms/programs/server/config.d/zookeeper.xml
  dbms/src/Common/Exception.cpp
  dbms/src/Common/ZooKeeper/TestKeeper.cpp
  dbms/src/Common/ZooKeeper/TestKeeper.h
  dbms/src/Common/ZooKeeper/ZooKeeper.cpp
  dbms/src/Common/ZooKeeper/ZooKeeper.h
  dbms/tests/config/zookeeper.xml
Labels: pr-build

#5646 Sessions and default database support in MySQL wire protocol
  dbms/programs/server/MySQLHandler.cpp
  dbms/tests/integration/test_mysql_protocol/test.py
Labels: can be tested

#5647 Various fixes for PVS-Studio
  dbms/programs/server/MySQLHandler.h
  dbms/src/AggregateFunctions/AggregateFunctionStatisticsSimple.h
  dbms/src/Common/PoolWithFailoverBase.h
  dbms/src/Common/TaskStatsInfoGetter.cpp
  dbms/src/Common/Volnitsky.h
  dbms/src/Common/tests/thread_creation_latency.cpp
  dbms/src/DataTypes/tests/CMakeLists.txt
  dbms/src/DataTypes/tests/data_type_get_common_type.cpp
  dbms/src/DataTypes/tests/gtest_data_type_get_common_type.cpp
  dbms/src/Formats/CapnProtoRowInputStream.h
  dbms/src/Functions/FunctionsConversion.h
  dbms/src/Functions/SimdJSONParser.h
  dbms/src/IO/ReadBufferFromFileBase.h
  dbms/src/IO/WriteBufferFromOStream.h
  dbms/src/IO/readFloatText.h
  dbms/src/Interpreters/ExpressionActions.h
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/src/Interpreters/tests/hash_map_string_small.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQuorumEntry.h
Labels: pr-build

#5470 DOCAPI-6553: Multiple JOINs. EN review. RU translation
  docs/en/operations/settings/settings.md
  docs/en/query_language/select.md
  docs/ru/operations/settings/settings.md
  docs/ru/query_language/select.md
Labels: documentation, pr-documentation

#5484 DOCAPI-6423: simpleLinearRegression function docs
  docs/en/getting_started/example_datasets/ontime.md
  docs/en/query_language/agg_functions/reference.md
  docs/ru/getting_started/example_datasets/ontime.md
  docs/ru/query_language/agg_functions/reference.md
Labels: documentation, pr-documentation

#5504 DOCAPI-6206: ODBC engine and table function. EN review. RU translation.
  docs/en/operations/table_engines/odbc.md
  docs/en/query_language/table_functions/odbc.md
  docs/ru/operations/table_engines/odbc.md
  docs/ru/query_language/table_functions/odbc.md
Labels: documentation, pr-doc-fix

#5638 DOCAPI-3911: Aliases for columns in external dictionaries. Some changes in markup
  docs/en/query_language/dicts/external_dicts_dict_structure.md
Labels: documentation, pr-doc-fix

#5651 DOCAPI-6183: EN review and RU translations for JOIN syntax limitations
  docs/en/query_language/select.md
  docs/ru/query_language/select.md
Labels: documentation, pr-doc-fix

#4558 Distributed and remote timeouts
  dbms/programs/benchmark/Benchmark.cpp
  dbms/programs/client/Client.cpp
  dbms/programs/client/Suggest.h
  dbms/programs/copier/ClusterCopier.cpp
  dbms/programs/performance-test/PerformanceTest.cpp
  dbms/programs/performance-test/PerformanceTest.h
  dbms/programs/performance-test/PerformanceTestSuite.cpp
  dbms/src/Client/Connection.cpp
  dbms/src/Client/Connection.h
  dbms/src/Client/ConnectionPool.h
  dbms/src/Client/ConnectionPoolWithFailover.cpp
  dbms/src/Client/ConnectionPoolWithFailover.h
  dbms/src/Client/MultiplexedConnections.cpp
  dbms/src/Client/MultiplexedConnections.h
  dbms/src/Common/PoolWithFailoverBase.h
  dbms/src/DataStreams/RemoteBlockInputStream.cpp
  dbms/src/DataStreams/RemoteBlockInputStream.h
  dbms/src/DataStreams/RemoteBlockOutputStream.cpp
  dbms/src/DataStreams/RemoteBlockOutputStream.h
  dbms/src/DataStreams/UnionBlockInputStream.h
  dbms/src/Dictionaries/ClickHouseDictionarySource.cpp
  dbms/src/Interpreters/Cluster.cpp
  dbms/src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
  dbms/src/Storages/Distributed/DistributedBlockOutputStream.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/integration/test_distributed_respect_user_timeouts/__init__.py
  dbms/tests/integration/test_distributed_respect_user_timeouts/configs/remote_servers.xml
  dbms/tests/integration/test_distributed_respect_user_timeouts/configs/set_distributed_defaults.xml
  dbms/tests/integration/test_distributed_respect_user_timeouts/test.py
Labels: can be tested

#5652 Add Novosibirsk meetup to website front page
  website/index.html
Labels: documentation, pr-documentation

#4935 Support system replicas queries for distributed
  dbms/src/Interpreters/ActionLocksManager.cpp
  dbms/src/Interpreters/InterpreterSystemQuery.cpp
  dbms/src/Interpreters/InterpreterSystemQuery.h
  dbms/src/Parsers/ASTSystemQuery.cpp
  dbms/src/Parsers/ASTSystemQuery.h
  dbms/src/Parsers/ParserSystemQuery.cpp
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
  dbms/src/Storages/Distributed/DirectoryMonitor.h
  dbms/src/Storages/StorageDistributed.cpp
  dbms/src/Storages/StorageDistributed.h
  dbms/src/Storages/StorageMaterializedView.cpp
  dbms/src/Storages/StorageMaterializedView.h
  dbms/tests/integration/README.md
  dbms/tests/integration/test_distributed_system_query/__init__.py
  dbms/tests/integration/test_distributed_system_query/configs/remote_servers.xml
  dbms/tests/integration/test_distributed_system_query/test.py
Labels: can be tested, pr-feature

#5654 Shorter announcement on website front page
  website/index.html
Labels: documentation, pr-documentation

#5402 DOCAPI-6424: ASOF JOIN description.
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/join.md
  docs/en/query_language/select.md
Labels: documentation, pr-doc-fix

#5624 Add ability to write final mark for *MergeTree engines family
  dbms/src/Core/Field.h
  dbms/src/Storages/MergeTree/IMergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/IMergedBlockOutputStream.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexGranularity.h
  dbms/src/Storages/MergeTree/MergeTreeSettings.h
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.h
  dbms/src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedColumnOnlyOutputStream.h
  dbms/src/Storages/tests/gtest_aux_funcs_for_adaptive_granularity.cpp
  dbms/tests/queries/0_stateless/00926_adaptive_index_granularity_collapsing_merge_tree.sql
  dbms/tests/queries/0_stateless/00926_adaptive_index_granularity_merge_tree.sql
  dbms/tests/queries/0_stateless/00926_adaptive_index_granularity_pk.sql
  dbms/tests/queries/0_stateless/00926_adaptive_index_granularity_replacing_merge_tree.sql
  dbms/tests/queries/0_stateless/00926_adaptive_index_granularity_versioned_collapsing_merge_tree.sql
  dbms/tests/queries/0_stateless/00926_zookeeper_adaptive_index_granularity_replicated_merge_tree.sql
  dbms/tests/queries/0_stateless/00955_test_final_mark.reference
  dbms/tests/queries/0_stateless/00955_test_final_mark.sql
  dbms/tests/queries/0_stateless/00955_test_final_mark_use.reference
  dbms/tests/queries/0_stateless/00955_test_final_mark_use.sh
Labels: pr-improvement

#5510 DOCAPI-6181: RU translation for Parquet docs.
  docs/en/interfaces/formats.md
  docs/ru/interfaces/formats.md
Labels: documentation, pr-documentation

#5030 Changing how the function (cutTo)firstSignificantSubdomain detect the tld (proposal)
  CMakeLists.txt
  dbms/src/Common/config.h.in
  dbms/src/Functions/CMakeLists.txt
  dbms/src/Functions/firstSignificantSubdomain.h
  dbms/src/Functions/gperf/tldLookup.gperf
  dbms/src/Functions/tldLookup.h
  dbms/tests/queries/0_stateless/00381_first_significant_subdomain.reference
  dbms/tests/queries/0_stateless/00381_first_significant_subdomain.sql
  dbms/tests/queries/0_stateless/00754_first_significant_subdomain_more.reference
  docker/builder/Dockerfile
  docker/packager/binary/Dockerfile
  docker/packager/deb/Dockerfile
  docs/en/development/build.md
  docs/en/development/build_osx.md
Labels: can be tested

#5645 Fix float to decimal convert overflow, extreme values
  dbms/src/DataTypes/DataTypesDecimal.h
  dbms/tests/queries/0_stateless/00700_decimal_casts.sql
Labels: can be tested

#5664 DOCAPI-7063: Formatting of the bitmapContains function docs.
  docs/en/query_language/functions/bitmap_functions.md
Labels: documentation, pr-documentation

#5665 DOCAPI-3697: RU translation for GraphiteMergeTree docs
  docs/en/operations/table_engines/graphitemergetree.md
  docs/ru/operations/table_engines/graphitemergetree.md
Labels: documentation, pr-doc-fix

#5684 Flush buffer when WriteBufferFromHDFS's destructor is called
  dbms/src/IO/WriteBufferFromHDFS.cpp
Labels: can be tested

#5661 Support crc32 function
  dbms/src/Functions/CRC32.cpp
  dbms/src/Functions/registerFunctionsString.cpp
  dbms/tests/performance/general_purpose_hashes.xml
  dbms/tests/queries/0_stateless/00746_sql_fuzzy.pl
  dbms/tests/queries/0_stateless/00936_crc32_function.reference
  dbms/tests/queries/0_stateless/00936_crc32_function.sql
  docs/en/query_language/functions/string_functions.md
  docs/ru/query_language/functions/string_functions.md
Labels: can be tested

#5625 Treat empty cells in CSV as default values.
  dbms/src/Formats/CSVRowInputStream.cpp
  dbms/src/Formats/CSVRowInputStream.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatSettings.h
  dbms/src/Formats/IRowInputStream.h
  dbms/tests/queries/0_stateless/00301_csv.reference
  dbms/tests/queries/0_stateless/00301_csv.sh
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
Labels: can be tested, pr-improvement

#5698 Lower the probability of hanging when shutting down Kafka storage
  dbms/src/DataStreams/ExpressionBlockInputStream.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
Labels: pr-bugfix

#5688 add description for distributed_ddl_task_timeout
  CHANGELOG.md
  CHANGELOG_RU.md
  dbms/src/Core/Settings.h
Labels: documentation

#5705 Update features_considered_disadvantages.md
  docs/zh/introduction/features_considered_disadvantages.md
Labels: documentation, pr-doc-fix

#5658 DOCAPI-5760: Join engine docs update.
  docs/en/interfaces/formats.md
  docs/en/operations/table_engines/join.md
  docs/en/query_language/functions/other_functions.md
  docs/en/query_language/select.md
Labels: documentation, pr-doc-fix

#5704 ISSUES-5697 fix insert and select query with mysql style identifier
  dbms/src/Dictionaries/ExternalQueryBuilder.cpp
  dbms/src/IO/WriteHelpers.h
  dbms/src/Parsers/IAST.cpp
  dbms/src/Parsers/IdentifierQuotingStyle.h
  dbms/src/Storages/StorageMySQL.cpp
  dbms/tests/integration/test_mysql_database_engine/test.py
Labels: can be tested, pr-bugfix

#5595 movingSum/Avg window functions for numeric and decimals
  dbms/src/AggregateFunctions/AggregateFunctionGroupArrayMoving.cpp
  dbms/src/AggregateFunctions/AggregateFunctionGroupArrayMoving.h
  dbms/src/AggregateFunctions/Helpers.h
  dbms/src/AggregateFunctions/registerAggregateFunctions.cpp
  dbms/tests/performance/group_array_moving_sum.xml
  dbms/tests/queries/0_stateless/00953_moving_functions.reference
  dbms/tests/queries/0_stateless/00953_moving_functions.sql
Labels: can be tested, pr-feature

#5720 MergedColumnOnlyOutputStream. Skip empty blocks. Fix 5377
  dbms/src/Common/IPv6ToBinary.cpp
  dbms/src/Storages/MergeTree/IMergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
Labels: can be tested

#5737 Update ya_metrika_task.md
  docs/zh/introduction/ya_metrika_task.md
Labels: pr-doc-fix

#5748 Add link to Minsk meetup on website front page
  website/index.html
Labels: documentation, pr-documentation

#5600 Gorilla column encoding
  dbms/src/Common/BitHelpers.h
  dbms/src/Compression/CompressionCodecDoubleDelta.cpp
  dbms/src/Compression/CompressionCodecDoubleDelta.h
  dbms/src/Compression/CompressionCodecGorilla.cpp
  dbms/src/Compression/CompressionCodecGorilla.h
  dbms/src/Compression/CompressionFactory.cpp
  dbms/src/Compression/CompressionInfo.h
  dbms/src/Compression/ICompressionCodec.cpp
  dbms/src/Compression/ICompressionCodec.h
  dbms/src/Compression/tests/gtest_compressionCodec.cpp
  dbms/src/IO/BitHelpers.h
  dbms/src/IO/tests/gtest_bit_io.cpp
  dbms/tests/performance/codec_double_delta.xml
  dbms/tests/performance/codec_gorilla.xml
  dbms/tests/queries/0_stateless/00950_test_double_delta_codec.reference
  dbms/tests/queries/0_stateless/00950_test_double_delta_codec.sql
  dbms/tests/queries/0_stateless/00950_test_gorilla_codec.reference
  dbms/tests/queries/0_stateless/00950_test_gorilla_codec.sql
  docs/en/query_language/create.md
Labels: altinity, can be tested

#5768 Print table name in message about missing column
  dbms/src/Storages/IStorage.cpp
Labels: pr-improvement

#5754 Add changelog for 19.8.3.8, 19.7.5.27 and 19.6.3.18
  CHANGELOG.md
Labels: do not test

#5774 Compatibility with gcc-9
  dbms/src/Common/formatIPv6.cpp
  libs/libglibc-compatibility/glibc-compatibility.c
Labels: pr-build

#5778 Changelog fixes
  CHANGELOG.md
Labels: do not test

#5745 clickhouse-copier: Allow empty database name
  dbms/programs/copier/ClusterCopier.cpp
Labels: can be tested

#5727 add auth support for init script: fix pr #5321
  docker/server/README.md
  docker/server/entrypoint.sh
Labels: can be tested, pr-build

#5780 Removed obsolete undocumented embedded dictionaries that were used by Yandex.Metrica
  dbms/src/Dictionaries/Embedded/TechDataHierarchy.cpp
  dbms/src/Dictionaries/Embedded/TechDataHierarchy.h
  dbms/src/Functions/FunctionsEmbeddedDictionaries.cpp
  dbms/src/Functions/FunctionsEmbeddedDictionaries.h
  dbms/src/Interpreters/EmbeddedDictionaries.cpp
  dbms/src/Interpreters/EmbeddedDictionaries.h
Labels: pr-codecleanup

#5786 Fix bug in delta codec
  dbms/src/Compression/CompressionCodecDelta.cpp
  dbms/tests/queries/0_stateless/00957_delta_diff_bug.reference
  dbms/tests/queries/0_stateless/00957_delta_diff_bug.sql
Labels: pr-bugfix

#5764 Add synonim arrayFlatten <-> flatten
  dbms/src/Functions/array/arrayFlatten.cpp
  dbms/src/Functions/array/registerFunctionsArray.cpp
  dbms/tests/queries/0_stateless/00897_flatten.reference
  dbms/tests/queries/0_stateless/00897_flatten.sql
Labels: can be tested, duplicate

#5750 Refactor: Improve function registering
  dbms/src/AggregateFunctions/registerAggregateFunctions.cpp
  dbms/src/Functions/registerFunctions.cpp
  dbms/src/Functions/registerFunctionsMiscellaneous.cpp
Labels: can be tested

#5758 Extend KeyCondition interface so that it returns BoolMask.
  dbms/src/Interpreters/Set.cpp
  dbms/src/Interpreters/Set.h
  dbms/src/Storages/MergeTree/KeyCondition.cpp
  dbms/src/Storages/MergeTree/KeyCondition.h
  dbms/src/Storages/MergeTree/MergeTreeBloomFilterIndex.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/MergeTreeMinMaxIndex.cpp
Labels: can be tested

#5793 Fix runtime of SPLIT_SHARED_LIBRARIES build
  dbms/src/Common/MiAllocator.cpp
  dbms/src/Common/MiAllocator.h
Labels: can be tested

#5687 Update Kafka table-engine EN docs
  docs/en/operations/table_engines/kafka.md
Labels: pr-documentation

#5798 complete ExternalLoader method's implementations
  dbms/src/Interpreters/ExternalLoader.cpp
Labels: can be tested
