Repository ClickHouse/ClickHouse, pull requests merged in 2019-02, with the labels that each got.

#4209 Set default umask to 027.
  libs/libdaemon/src/BaseDaemon.cpp
Labels: can be tested

#4231 Added Query-Id to http response header
  dbms/programs/local/LocalServer.cpp
  dbms/programs/server/HTTPHandler.cpp
  dbms/src/Interpreters/DDLWorker.cpp
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Interpreters/executeQuery.h
  dbms/src/Interpreters/tests/select_query.cpp
  dbms/tests/queries/0_stateless/00501_http_head.sh
  dbms/tests/queries/0_stateless/00825_http_header_query_id.reference
  dbms/tests/queries/0_stateless/00825_http_header_query_id.sh
Labels: can be tested

#4234 Check instructions at start
  libs/libdaemon/include/daemon/BaseDaemon.h
  libs/libdaemon/src/BaseDaemon.cpp
Labels: can be tested

#4232 "-C" option for client and show problematic file path
  dbms/programs/client/Client.cpp
  dbms/tests/queries/0_stateless/00834_dont_allow_to_set_two_configuration_files_in_client.reference
  dbms/tests/queries/0_stateless/00834_dont_allow_to_set_two_configuration_files_in_client.sh
Labels: can be tested

#4233 Server help option
  dbms/programs/server/Server.cpp
  dbms/programs/server/Server.h
Labels: can be tested

#4230 Fixed the issue when --password was used without a value
  dbms/programs/client/Client.cpp
  dbms/programs/client/ConnectionParameters.h
Labels: can be tested

#4237 correct Date and DateTime comparison
  dbms/src/Functions/FunctionsComparison.h
  dbms/tests/queries/0_stateless/00834_date_datetime_cmp.reference
  dbms/tests/queries/0_stateless/00834_date_datetime_cmp.sql
Labels: can be tested

#3890 ISSUES-3885 temporarily disable predicate optimization for order by
  dbms/src/Functions/IFunction.h
  dbms/src/Functions/blockNumber.cpp
  dbms/src/Functions/finalizeAggregation.cpp
  dbms/src/Functions/rowNumberInAllBlocks.cpp
  dbms/src/Functions/rowNumberInBlock.cpp
  dbms/src/Functions/runningAccumulate.cpp
  dbms/src/Functions/runningDifference.h
  dbms/src/Interpreters/ExtractFunctionDataVisitor.cpp
  dbms/src/Interpreters/ExtractFunctionDataVisitor.h
  dbms/src/Interpreters/FindIdentifierBestTableVisitor.cpp
  dbms/src/Interpreters/FindIdentifierBestTableVisitor.h
  dbms/src/Interpreters/PredicateExpressionsOptimizer.cpp
  dbms/src/Interpreters/PredicateExpressionsOptimizer.h
  dbms/tests/queries/0_stateless/00808_not_optimize_predicate.reference
  dbms/tests/queries/0_stateless/00808_not_optimize_predicate.sql
Labels: can be tested

#4251 Clickhouse server version option support
  dbms/programs/server/Server.cpp
Labels: can be tested

#4213 Cancel http read only queries if client socket goes away
  dbms/programs/server/HTTPHandler.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/InterpreterKillQueryQuery.cpp
  dbms/src/Interpreters/ProcessList.cpp
  dbms/src/Interpreters/ProcessList.h
  dbms/src/Interpreters/Settings.h
  dbms/tests/queries/0_stateless/00834_cancel_http_readonly_queries_on_client_close.reference
  dbms/tests/queries/0_stateless/00834_cancel_http_readonly_queries_on_client_close.sh
Labels: can be tested

#4238 Implement Shannon entropy aggregate function
  dbms/src/AggregateFunctions/AggregateFunctionEntropy.cpp
  dbms/src/AggregateFunctions/AggregateFunctionEntropy.h
  dbms/src/AggregateFunctions/QuantileExact.h
  dbms/src/AggregateFunctions/QuantileExactWeighted.h
  dbms/src/AggregateFunctions/registerAggregateFunctions.cpp
  dbms/tests/queries/0_stateless/00902_entropy.reference
  dbms/tests/queries/0_stateless/00902_entropy.sql
Labels: can be tested

#4259 Add ability to set version in release_lib.sh via env variables
  utils/release/release_lib.sh
Labels: do not test

#4256 Make exception.what() less useless.
  dbms/src/Common/Exception.cpp
  dbms/src/Common/Exception.h
  dbms/tests/queries/0_stateless/00429_long_http_bufferization.sh
Labels: can be tested

#4289 Adding SAMPLE .. OFFSET to doc
  docs/en/query_language/select.md
Labels: documentation

#4305 Add FreeBSD AIO support.
  dbms/src/IO/AIO.cpp
  dbms/src/IO/AIO.h
  dbms/src/IO/AIOContextPool.cpp
  dbms/src/IO/AIOContextPool.h
  dbms/src/IO/ReadBufferAIO.cpp
  dbms/src/IO/ReadBufferAIO.h
  dbms/src/IO/WriteBufferAIO.cpp
  dbms/src/IO/WriteBufferAIO.h
  dbms/src/IO/createReadBufferFromFileBase.cpp
  dbms/src/IO/createWriteBufferFromFileBase.cpp
Labels: can be tested

#4309 arrayWithConstant function implementation;
  dbms/src/Functions/arrayWithConstant.cpp
  dbms/src/Functions/registerFunctionsArray.cpp
  dbms/tests/queries/0_stateless/00903_array_with_constant_function.reference
  dbms/tests/queries/0_stateless/00903_array_with_constant_function.sql
Labels: can be tested

#4286 Data Skipping Indices fix
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Parsers/ASTIndexDeclaration.h
  dbms/src/Parsers/ParserCreateQuery.cpp
  dbms/src/Storages/IndicesDescription.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndices.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndices.h
  dbms/src/Storages/MergeTree/MergeTreeMinMaxIndex.cpp
  dbms/src/Storages/MergeTree/MergeTreeMinMaxIndex.h
  dbms/src/Storages/MergeTree/MergeTreeReaderStream.h
  dbms/src/Storages/MergeTree/MergeTreeSetSkippingIndex.cpp
  dbms/src/Storages/MergeTree/MergeTreeSetSkippingIndex.h
  dbms/src/Storages/MergeTree/checkDataPart.cpp
  dbms/src/Storages/MergeTree/registerStorageMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/queries/0_stateless/00825_minmax_index.reference
  dbms/tests/queries/0_stateless/00825_minmax_index.sql
  dbms/tests/queries/0_stateless/00825_minmax_index_replicated_zookeeper.reference
  dbms/tests/queries/0_stateless/00832_unique_index.reference
  dbms/tests/queries/0_stateless/00832_unique_index.sql
  dbms/tests/queries/0_stateless/00836_indices_alter.reference
  dbms/tests/queries/0_stateless/00836_indices_alter.sql
  dbms/tests/queries/0_stateless/00836_indices_alter_replicated_zookeeper.reference
  dbms/tests/queries/0_stateless/00836_indices_alter_replicated_zookeeper.sql
  dbms/tests/queries/0_stateless/00837_minmax_index.reference
  dbms/tests/queries/0_stateless/00837_minmax_index.sh
  dbms/tests/queries/0_stateless/00837_minmax_index_replicated_zookeeper.reference
  dbms/tests/queries/0_stateless/00837_minmax_index_replicated_zookeeper.sql
  dbms/tests/queries/0_stateless/00838_unique_index.reference
  dbms/tests/queries/0_stateless/00838_unique_index.sh
  docs/en/operations/table_engines/mergetree.md
  docs/en/query_language/alter.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/alter.md
Labels: can be tested

#4240 Reduce mark cache size and uncompressed cache size accordingly to available memory amount
  dbms/programs/server/Server.cpp
Labels: can be tested

#4198 Support of Nullable types in MySQL tables
  dbms/src/Interpreters/Settings.h
  dbms/src/TableFunctions/TableFunctionMySQL.cpp
Labels: can be tested

#4245 Add topKWeighted aggregate function
  dbms/src/AggregateFunctions/AggregateFunctionTopK.cpp
  dbms/src/AggregateFunctions/AggregateFunctionTopK.h
  dbms/tests/queries/0_stateless/00148_summing_merge_tree_aggregate_function.reference
  dbms/tests/queries/0_stateless/00148_summing_merge_tree_aggregate_function.sql
Labels: can be tested

#4200 Added RowBinaryWithNamesAndTypes format
  dbms/src/Formats/BinaryRowInputStream.cpp
  dbms/src/Formats/BinaryRowInputStream.h
  dbms/src/Formats/BinaryRowOutputStream.cpp
  dbms/src/Formats/BinaryRowOutputStream.h
  dbms/tests/queries/0_stateless/00309_formats.reference
  dbms/tests/queries/0_stateless/00309_formats.sql
  docs/en/interfaces/formats.md
Labels: can be tested

#4301 Fix perf-test input data and refactor two tests
  dbms/programs/client/Client.cpp
  dbms/programs/performance-test/PerformanceTest.cpp
  dbms/src/DataStreams/InputStreamFromASTInsertQuery.cpp
  dbms/src/DataStreams/InputStreamFromASTInsertQuery.h
  dbms/src/Interpreters/InterpreterInsertQuery.cpp
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Parsers/ASTInsertQuery.h
  dbms/tests/performance/ipv4_ipv6/IPv4.xml
  dbms/tests/performance/ipv4_ipv6/IPv6.xml
  dbms/tests/performance/trim/trim_whitespace.xml
Labels: need info

#4304 Add time function toStartOfInterval().
  dbms/src/Functions/registerFunctionsDateTime.cpp
  dbms/src/Functions/toStartOfInterval.cpp
  dbms/tests/queries/0_stateless/00189_time_zones.reference
  dbms/tests/queries/0_stateless/00189_time_zones.sql
  libs/libcommon/include/common/DateLUTImpl.h
Labels: can be tested

#4337 Better hints provider
  dbms/src/Common/IFactoryWithAliases.h
  dbms/src/Common/NamePrompter.h
  dbms/tests/queries/0_stateless/00834_hints_for_type_function_typos.sh
Labels: can be tested

#4352 try lowering logging level
  docs/tools/test.py
Labels: documentation

#4358 DOCAPI-4180: merge_tree* settings. EN review. RU translation
  docs/en/operations/requirements.md
  docs/en/operations/settings/settings.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/operations/settings/settings.md
  docs/toc_ru.yml
Labels: documentation

#4353 Fix split link of dbms/programs/odbc-bridge
  dbms/CMakeLists.txt
  dbms/programs/odbc-bridge/CMakeLists.txt
  dbms/programs/odbc-bridge/MainHandler.cpp
  dbms/programs/odbc-bridge/ODBCBlockInputStream.cpp
  dbms/programs/odbc-bridge/ODBCBlockInputStream.h
  dbms/src/Storages/CMakeLists.txt
  dbms/src/Storages/Kafka/CMakeLists.txt
  debian/clickhouse-common-static.install
  debian/clickhouse-server.install
Labels: can be tested

#4351 Simplify QueryNormalizer and fix for 4110
  dbms/src/Interpreters/ActionsVisitor.cpp
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/src/Interpreters/IdentifierSemantic.cpp
  dbms/src/Interpreters/IdentifierSemantic.h
  dbms/src/Interpreters/PredicateExpressionsOptimizer.cpp
  dbms/src/Interpreters/QueryAliasesVisitor.cpp
  dbms/src/Interpreters/QueryNormalizer.cpp
  dbms/src/Interpreters/QueryNormalizer.h
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  dbms/src/Interpreters/TranslateQualifiedNamesVisitor.h
  dbms/src/Parsers/ASTIdentifier.cpp
  dbms/src/Parsers/ASTIdentifier.h
  dbms/tests/queries/0_stateless/00597_push_down_predicate.sql
  dbms/tests/queries/0_stateless/00818_alias_bug_4110.reference
  dbms/tests/queries/0_stateless/00818_alias_bug_4110.sql
Labels: can be tested

#4386 Set index fix
  dbms/src/Storages/MergeTree/MergeTreeMinMaxIndex.cpp
  dbms/src/Storages/MergeTree/MergeTreeSetSkippingIndex.cpp
  dbms/tests/queries/0_stateless/00838_unique_index.sh
  dbms/tests/queries/0_stateless/00907_set_index_max_rows.reference
  dbms/tests/queries/0_stateless/00907_set_index_max_rows.sh
  docs/en/operations/table_engines/mergetree.md
  docs/ru/operations/table_engines/mergetree.md
Labels: can be tested

#4366 Minor docs changes
  docs/en/development/contrib.md
  docs/en/operations/index.md
  docs/fa/development/contrib.md
  docs/ru/development/contrib.md
  docs/ru/introduction/info.md
  docs/ru/operations/index.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/tools/mkdocs-material-theme/base.html
  docs/zh/development/contrib.md
Labels: documentation

#4408 ISSUES-4389 fix lambda function with predicate optimizer
  dbms/src/Interpreters/PredicateExpressionsOptimizer.cpp
  dbms/tests/queries/0_stateless/00808_not_optimize_predicate.reference
  dbms/tests/queries/0_stateless/00808_not_optimize_predicate.sql
Labels: can be tested

#4407 indices fix
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/MergeTreeMinMaxIndex.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.cpp
Labels: can be tested

#4417 TANKER-457940: RU translation of the Backup topic.
  docs/en/operations/backup.md
  docs/ru/operations/backup.md
  docs/ru/query_language/alter.md
Labels: documentation

#4418 DOCAPI-4907: EN review and RU translation of the Expression Aliases topic
  docs/en/query_language/syntax.md
  docs/ru/query_language/functions/type_conversion_functions.md
  docs/ru/query_language/syntax.md
Labels: documentation

#4404 DOCAPI-4552: RU translation of VersionedCollapsingMergeTree topic
  docs/en/operations/table_engines/versionedcollapsingmergetree.md
  docs/ru/operations/table_engines/versionedcollapsingmergetree.md
Labels: documentation

#4410 Add changelog for 19.1.7 and 19.3.3
  CHANGELOG.md
Labels: do not test

#4427 Implement Levenshtein distance with linear memory
  dbms/src/Common/NamePrompter.h
Labels: can be tested

#4422 DOCAPI-3820: EN review and RU translation for SELECT JOIN
  docs/en/operations/settings/settings.md
  docs/en/query_language/functions/type_conversion_functions.md
  docs/en/query_language/select.md
  docs/ru/operations/settings/settings.md
  docs/ru/query_language/select.md
Labels: documentation

#4174 Add protobuf input format.
  dbms/programs/client/Client.cpp
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/DataStreams/InputStreamFromASTInsertQuery.cpp
  dbms/src/DataStreams/InputStreamFromASTInsertQuery.h
  dbms/src/DataTypes/DataTypeAggregateFunction.cpp
  dbms/src/DataTypes/DataTypeAggregateFunction.h
  dbms/src/DataTypes/DataTypeArray.cpp
  dbms/src/DataTypes/DataTypeArray.h
  dbms/src/DataTypes/DataTypeDate.cpp
  dbms/src/DataTypes/DataTypeDate.h
  dbms/src/DataTypes/DataTypeDateTime.cpp
  dbms/src/DataTypes/DataTypeDateTime.h
  dbms/src/DataTypes/DataTypeEnum.cpp
  dbms/src/DataTypes/DataTypeEnum.h
  dbms/src/DataTypes/DataTypeFixedString.cpp
  dbms/src/DataTypes/DataTypeFixedString.h
  dbms/src/DataTypes/DataTypeLowCardinality.cpp
  dbms/src/DataTypes/DataTypeLowCardinality.h
  dbms/src/DataTypes/DataTypeNullable.cpp
  dbms/src/DataTypes/DataTypeNullable.h
  dbms/src/DataTypes/DataTypeNumberBase.cpp
  dbms/src/DataTypes/DataTypeNumberBase.h
  dbms/src/DataTypes/DataTypeString.cpp
  dbms/src/DataTypes/DataTypeString.h
  dbms/src/DataTypes/DataTypeTuple.cpp
  dbms/src/DataTypes/DataTypeTuple.h
  dbms/src/DataTypes/DataTypeUUID.cpp
  dbms/src/DataTypes/DataTypeUUID.h
  dbms/src/DataTypes/DataTypesDecimal.cpp
  dbms/src/DataTypes/DataTypesDecimal.h
  dbms/src/DataTypes/IDataType.h
  dbms/src/DataTypes/IDataTypeDummy.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatSchemaInfo.cpp
  dbms/src/Formats/ProtobufColumnMatcher.cpp
  dbms/src/Formats/ProtobufColumnMatcher.h
  dbms/src/Formats/ProtobufReader.cpp
  dbms/src/Formats/ProtobufReader.h
  dbms/src/Formats/ProtobufRowInputStream.cpp
  dbms/src/Formats/ProtobufRowInputStream.h
  dbms/src/Formats/ProtobufWriter.cpp
  dbms/src/Interpreters/InterpreterInsertQuery.cpp
  dbms/src/Interpreters/InterpreterInsertQuery.h
  dbms/src/Parsers/ASTInsertQuery.cpp
  dbms/src/Parsers/ASTInsertQuery.h
  dbms/src/Parsers/ParserInsertQuery.cpp
  dbms/tests/queries/0_stateless/00825_protobuf_format_input.insh
  dbms/tests/queries/0_stateless/00825_protobuf_format_input.reference
  dbms/tests/queries/0_stateless/00825_protobuf_format_input.sh
  dbms/tests/queries/0_stateless/00825_protobuf_format_output.sh
  dbms/tests/queries/0_stateless/00825_protobuf_format_syntax2_with_nested.proto
  dbms/tests/queries/0_stateless/00825_protobuf_format_with_nested.proto
  utils/test-data-generator/CMakeLists.txt
  utils/test-data-generator/ProtobufDelimitedMessagesSerializer.cpp
Labels: can be tested

#4479 Add changelog for 19.1.9 and 19.3.5
  CHANGELOG.md
Labels: do not test

#4495 Support xxHash with external lz4
  cmake/find_xxhash.cmake
  dbms/src/Functions/CMakeLists.txt
Labels: can be tested

#4466 Function trigramDistance() added for string similarity search
  dbms/src/Functions/FunctionsStringSimilarity.cpp
  dbms/src/Functions/FunctionsStringSimilarity.h
  dbms/src/Functions/registerFunctions.cpp
  dbms/tests/queries/0_stateless/00909_trigram_distance.reference
  dbms/tests/queries/0_stateless/00909_trigram_distance.sql
Labels: can be tested

#4531 change Sream into Stream
  dbms/src/Interpreters/DDLWorker.cpp
  dbms/src/Interpreters/DDLWorker.h
Labels: can be tested

#4541 Enable taskstat accounting for versions >= 3
  dbms/src/Common/ThreadProfileEvents.h
Labels: can be tested

#4530 Fix readBinary linkage error in Field.cpp
  dbms/src/Core/Field.cpp
Labels: can be tested
