Repository ClickHouse/ClickHouse, pull requests merged in 2019-10, with the labels that each got.

#7167 Add 19.15 in changelog
  CHANGELOG.md
Labels: documentation

#7158 Avoid use of uninitialized values in MetricsTransmitter
  dbms/programs/server/MetricsTransmitter.cpp
  dbms/programs/server/MetricsTransmitter.h
Labels: can be tested

#7159 Doc change. Fix array functions EN descriptions.
  docs/en/query_language/functions/array_functions.md
Labels: documentation

#7160 Backport to 19.11: Fixed timeout mechanism for SYNC REPLICA command + simplified related code
  dbms/src/Interpreters/InterpreterSystemQuery.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/queries/0_stateless/01013_sync_replica_timeout_zookeeper.reference
  dbms/tests/queries/0_stateless/01013_sync_replica_timeout_zookeeper.sh
Labels: pr-backport

#7161 Backport to 19.11: Fix "Unknown identifier" in ORDER BY and GROUP BY with Multiple Joins
  dbms/src/Interpreters/JoinToSubqueryTransformVisitor.cpp
  dbms/tests/queries/0_stateless/00847_multiple_join_same_column.sql
  dbms/tests/queries/0_stateless/00882_multiple_join_no_alias.reference
  dbms/tests/queries/0_stateless/00882_multiple_join_no_alias.sql
Labels: pr-backport

#7162 Backport to 19.11: Avoid SIGSEGV on batch send failure (file with index XX is absent)
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
Labels: pr-backport

#7163 Backport to 19.11: Fix msan for LowCardinality
  dbms/src/Core/Block.cpp
  dbms/src/Core/Block.h
  dbms/src/Functions/IFunction.cpp
Labels: pr-backport

#7164 Backport to 19.11: revert-index-analysis-slowdown
  dbms/src/Interpreters/Set.cpp
  dbms/src/Interpreters/Set.h
  dbms/src/Storages/MergeTree/KeyCondition.cpp
  dbms/src/Storages/MergeTree/KeyCondition.h
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
Labels: pr-backport

#7166 Refactoring: remove copy-paste
  dbms/src/Common/filesystemHelpers.cpp
  dbms/src/Common/filesystemHelpers.h
  dbms/src/DataStreams/AggregatingBlockInputStream.cpp
  dbms/src/DataStreams/AggregatingBlockInputStream.h
  dbms/src/DataStreams/MergeSortingBlockInputStream.cpp
  dbms/src/DataStreams/MergeSortingBlockInputStream.h
  dbms/src/DataStreams/ParallelAggregatingBlockInputStream.cpp
  dbms/src/DataStreams/ParallelAggregatingBlockInputStream.h
  dbms/src/DataStreams/TemporaryFileStream.h
  dbms/src/IO/WriteBufferFromTemporaryFile.cpp
  dbms/src/IO/WriteBufferFromTemporaryFile.h
  dbms/src/Interpreters/Aggregator.cpp
  dbms/src/Interpreters/Aggregator.h
  dbms/src/Processors/Transforms/MergeSortingTransform.cpp
  dbms/src/Processors/Transforms/MergeSortingTransform.h
Labels: pr-codecleanup

#7149 Fix build for Darwin
  cmake/find/fastops.cmake
  cmake/find/icu.cmake
  cmake/find/parquet.cmake
  cmake/find/protobuf.cmake
  cmake/find/readline_edit.cmake
  cmake/find/snappy.cmake
  cmake/find/ssl.cmake
  cmake/target.cmake
  contrib/libcxx-cmake/CMakeLists.txt
  docker/packager/packager
  docs/en/development/build_cross.md
Labels: pr-build

#7172 Fixed time calculation in `MergeTreeData`.
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
Labels: altinity, can be tested

#7175 Commit to Kafka explicitly after the writing is finalized
  dbms/src/DataStreams/IBlockInputStream.h
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
Labels: pr-bugfix

#7135 [wip] msan fixes for tuple Fields
  dbms/src/AggregateFunctions/FactoryHelpers.h
  dbms/src/AggregateFunctions/IAggregateFunction.h
  dbms/src/AggregateFunctions/QuantilesCommon.h
  dbms/src/Columns/ColumnDecimal.h
  dbms/src/Columns/ColumnFixedString.h
  dbms/src/Columns/ColumnString.h
  dbms/src/Columns/ColumnVector.h
  dbms/src/Columns/IColumn.cpp
  dbms/src/Columns/IColumn.h
  dbms/src/Common/MemorySanitizer.h
  dbms/src/Compression/ICompressionCodec.h
  dbms/src/Core/Field.h
  dbms/src/DataTypes/DataTypeEnum.cpp
  dbms/src/Dictionaries/IDictionary.h
  dbms/src/Functions/FunctionsComparison.h
  dbms/src/Functions/FunctionsStringRegex.h
  dbms/src/Functions/FunctionsStringSearch.h
  dbms/src/Functions/IFunction.h
  dbms/src/Interpreters/QueryLog.h
  dbms/src/Interpreters/TraceLog.h
  dbms/src/Processors/Chunk.cpp
  dbms/src/Storages/System/StorageSystemParts.cpp
Labels: pr-build

#7178 Fix typo in russian enum documentation
  docs/ru/data_types/enum.md
Labels: documentation, pr-doc-fix

#7155 Preparation of ExternalLoader for Dictionaries DDL
  dbms/src/Dictionaries/HashedDictionary.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/ExternalDictionariesLoader.cpp
  dbms/src/Interpreters/ExternalDictionariesLoader.h
  dbms/src/Interpreters/ExternalLoader.cpp
  dbms/src/Interpreters/ExternalLoader.h
  dbms/src/Interpreters/ExternalLoaderConfigRepository.h
  dbms/src/Interpreters/ExternalLoaderXMLConfigRepository.cpp
  dbms/src/Interpreters/ExternalLoaderXMLConfigRepository.h
  dbms/src/Interpreters/ExternalModelsLoader.cpp
  dbms/src/Interpreters/ExternalModelsLoader.h
  dbms/src/Interpreters/IExternalLoaderConfigRepository.h
Labels: pr-codecleanup

#7185 Fix bug with segmentation fault in ATTACH PART query
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/tests/queries/0_stateless/01015_attach_part.reference
  dbms/tests/queries/0_stateless/01015_attach_part.sql
Labels: pr-bugfix

#6781 Merging Values with expressions
  dbms/programs/client/Client.cpp
  dbms/src/Core/Settings.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatSettings.h
  dbms/src/Functions/FunctionsConversion.h
  dbms/src/Functions/IFunction.h
  dbms/src/Functions/assumeNotNull.cpp
  dbms/src/Functions/coalesce.cpp
  dbms/src/Functions/if.cpp
  dbms/src/Functions/ifNull.cpp
  dbms/src/Functions/isNotNull.cpp
  dbms/src/Functions/isNull.cpp
  dbms/src/Functions/multiIf.cpp
  dbms/src/Functions/toTypeName.cpp
  dbms/src/Functions/visibleWidth.cpp
  dbms/src/IO/PeekableReadBuffer.cpp
  dbms/src/IO/PeekableReadBuffer.h
  dbms/src/IO/tests/gtest_peekable_read_buffer.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/evaluateConstantExpression.cpp
  dbms/src/Parsers/ASTLiteral.h
  dbms/src/Parsers/ExpressionElementParsers.cpp
  dbms/src/Processors/Formats/IRowInputFormat.cpp
  dbms/src/Processors/Formats/IRowInputFormat.h
  dbms/src/Processors/Formats/Impl/ConstantExpressionTemplate.cpp
  dbms/src/Processors/Formats/Impl/ConstantExpressionTemplate.h
  dbms/src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ValuesBlockInputFormat.h
  dbms/src/Processors/Formats/Impl/ValuesRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ValuesRowInputFormat.h
  dbms/tests/performance/insert_values_with_expressions.xml
  dbms/tests/queries/0_stateless/00946_ml_test.reference
  dbms/tests/queries/0_stateless/00946_ml_test.sql
  dbms/tests/queries/0_stateless/00948_values_interpreter_template.reference
  dbms/tests/queries/0_stateless/00948_values_interpreter_template.sql
  dbms/tests/queries/0_stateless/01015_insert_values_parametrized.reference
  dbms/tests/queries/0_stateless/01015_insert_values_parametrized.sh
  docker/test/performance/Dockerfile
  docker/test/performance/s3downloader
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
Labels: can be tested, pr-documentation, pr-performance

#6984 Made bloom_filter type of index supporting arrays
  dbms/src/Interpreters/BloomFilterHash.h
  dbms/src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.h
  dbms/src/Storages/MergeTree/MergeTreeIndexGranuleBloomFilter.cpp
  dbms/tests/queries/0_stateless/00908_bloom_filter_index.reference
  dbms/tests/queries/0_stateless/00908_bloom_filter_index.sh
  dbms/tests/queries/0_stateless/00945_bloom_filter_index.reference
  dbms/tests/queries/0_stateless/00945_bloom_filter_index.sql
Labels: can be tested

#7193 Update CHANGELOG
  CHANGELOG.md
Labels: do not test

#7199 Minor doc fixes.
  docs/ru/query_language/alter.md
Labels: pr-doc-fix

#7201 A quick fix to resolve crash in LIVE VIEW table and re-enabling all LIVE VIEW tests.
  dbms/src/Storages/LiveView/LiveViewEventsBlockInputStream.h
  dbms/src/Storages/LiveView/StorageLiveView.cpp
  dbms/tests/queries/0_stateless/00960_live_view_watch_events_live.py
  dbms/tests/queries/0_stateless/00960_live_view_watch_events_live.reference
  dbms/tests/queries/0_stateless/00961_temporary_live_view_watch.reference
  dbms/tests/queries/0_stateless/00961_temporary_live_view_watch.sql
  dbms/tests/queries/0_stateless/00962_temporary_live_view_watch_live.py
  dbms/tests/queries/0_stateless/00962_temporary_live_view_watch_live.reference
  dbms/tests/queries/0_stateless/00963_temporary_live_view_watch_live_timeout.py.disabled
  dbms/tests/queries/0_stateless/00963_temporary_live_view_watch_live_timeout.reference
  dbms/tests/queries/0_stateless/00964_live_view_watch_events_heartbeat.py
  dbms/tests/queries/0_stateless/00964_live_view_watch_events_heartbeat.reference
  dbms/tests/queries/0_stateless/00965_live_view_watch_heartbeat.py
  dbms/tests/queries/0_stateless/00965_live_view_watch_heartbeat.reference
  dbms/tests/queries/0_stateless/00966_live_view_watch_events_http.py
  dbms/tests/queries/0_stateless/00966_live_view_watch_events_http.reference
  dbms/tests/queries/0_stateless/00967_live_view_watch_http.py
  dbms/tests/queries/0_stateless/00967_live_view_watch_http.reference
  dbms/tests/queries/0_stateless/00968_live_view_select_format_jsoneachrowwithprogress.reference
  dbms/tests/queries/0_stateless/00968_live_view_select_format_jsoneachrowwithprogress.sql
  dbms/tests/queries/0_stateless/00969_live_view_watch_format_jsoneachrowwithprogress.reference
  dbms/tests/queries/0_stateless/00969_live_view_watch_format_jsoneachrowwithprogress.sql
  dbms/tests/queries/0_stateless/00970_live_view_watch_events_http_heartbeat.py
  dbms/tests/queries/0_stateless/00970_live_view_watch_events_http_heartbeat.reference
  dbms/tests/queries/0_stateless/00971_live_view_watch_http_heartbeat.py
  dbms/tests/queries/0_stateless/00971_live_view_watch_http_heartbeat.reference
  dbms/tests/queries/0_stateless/00972_live_view_select_1.reference
  dbms/tests/queries/0_stateless/00972_live_view_select_1.sql
  dbms/tests/queries/0_stateless/00973_live_view_select.reference
  dbms/tests/queries/0_stateless/00973_live_view_select.sql
  dbms/tests/queries/0_stateless/00974_live_view_select_with_aggregation.reference
  dbms/tests/queries/0_stateless/00974_live_view_select_with_aggregation.sql
  dbms/tests/queries/0_stateless/00975_live_view_create.reference
  dbms/tests/queries/0_stateless/00975_live_view_create.sql
  dbms/tests/queries/0_stateless/00976_live_view_select_version.reference
  dbms/tests/queries/0_stateless/00976_live_view_select_version.sql
  dbms/tests/queries/0_stateless/00977_live_view_watch_events.reference
  dbms/tests/queries/0_stateless/00977_live_view_watch_events.sql
  dbms/tests/queries/0_stateless/00978_live_view_watch.reference
  dbms/tests/queries/0_stateless/00978_live_view_watch.sql
  dbms/tests/queries/0_stateless/00979_live_view_watch_live.py
  dbms/tests/queries/0_stateless/00979_live_view_watch_live.reference
  dbms/tests/queries/0_stateless/00980_create_temporary_live_view.reference
  dbms/tests/queries/0_stateless/00980_create_temporary_live_view.sql
  dbms/tests/queries/0_stateless/00991_live_view_watch_event_live.python
  dbms/tests/queries/0_stateless/00991_live_view_watch_event_live.reference
  dbms/tests/queries/0_stateless/00991_live_view_watch_http.python
  dbms/tests/queries/0_stateless/00991_live_view_watch_http.reference
  dbms/tests/queries/0_stateless/00991_temporary_live_view_watch_events_heartbeat.python
  dbms/tests/queries/0_stateless/00991_temporary_live_view_watch_events_heartbeat.reference
  dbms/tests/queries/0_stateless/00991_temporary_live_view_watch_live.python
  dbms/tests/queries/0_stateless/00991_temporary_live_view_watch_live.reference
  dbms/tests/queries/0_stateless/helpers/client.py
Labels: can be tested

#7200 Add missing linking with PocoXML for clickhouse_common_io
  dbms/CMakeLists.txt
Labels: can be tested, pr-build

#7190 docs(currentUser): fix description
  docs/en/query_language/functions/other_functions.md
  docs/ru/query_language/functions/other_functions.md
Labels: documentation

#7156 Fix header for function 'now'
  dbms/src/Functions/now.cpp
  dbms/src/Functions/randConstant.cpp
  dbms/src/Functions/today.cpp
  dbms/src/Functions/yesterday.cpp
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/src/Interpreters/ExpressionAnalyzer.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.h
  dbms/tests/queries/0_stateless/01015_random_constant.reference
  dbms/tests/queries/0_stateless/01015_random_constant.sql
Labels: pr-bugfix, v19.15

#7220 Continue to complete pr of document from lvxin1986
  docs/zh/introduction/distinctive_features.md
  docs/zh/operations/table_engines/index.md
Labels: documentation, pr-doc-fix

#7144 Doc change. Added links to other doc articles (distributed.md)
  docs/en/operations/table_engines/distributed.md
  docs/ru/operations/table_engines/distributed.md
Labels: documentation, pr-documentation

#7226 Accept multiple test filter arguments in clickhouse-test.
  dbms/tests/clickhouse-test
Labels: pr-build

#7213 Fix uniqCombined() result for >UINT_MAX values (return UInt64 to avoid overflow)
  dbms/src/Common/CombinedCardinalityEstimator.h
Labels: can be tested

#7171 Lazy Database
  dbms/programs/server/ReplicasStatusHandler.cpp
  dbms/src/Databases/DatabaseFactory.cpp
  dbms/src/Databases/DatabaseLazy.cpp
  dbms/src/Databases/DatabaseLazy.h
  dbms/src/Databases/DatabaseOnDisk.cpp
  dbms/src/Databases/DatabaseOnDisk.h
  dbms/src/Databases/DatabaseOrdinary.cpp
  dbms/src/Databases/DatabasesCommon.h
  dbms/src/Databases/IDatabase.h
  dbms/src/Interpreters/AsynchronousMetrics.cpp
  dbms/src/Interpreters/InterpreterDropQuery.cpp
  dbms/src/Storages/System/StorageSystemColumns.cpp
  dbms/src/Storages/System/StorageSystemGraphite.cpp
  dbms/src/Storages/System/StorageSystemMutations.cpp
  dbms/src/Storages/System/StorageSystemPartsBase.cpp
  dbms/src/Storages/System/StorageSystemReplicas.cpp
  dbms/src/Storages/System/StorageSystemReplicationQueue.cpp
  dbms/src/Storages/System/StorageSystemTables.cpp
  dbms/tests/queries/0_stateless/01014_lazy_database_basic.reference
  dbms/tests/queries/0_stateless/01014_lazy_database_basic.sh
  dbms/tests/queries/0_stateless/01015_database_bad_tables.reference
  dbms/tests/queries/0_stateless/01015_database_bad_tables.sql
  docs/en/database_engines/index.md
  docs/en/database_engines/lazy.md
Labels: can be tested

#7109 added groupBitmapAnd, groupBitmapOr, groupBitmapXor
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmap.cpp
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmap.h
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  dbms/src/AggregateFunctions/AggregateFunctionState.cpp
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
  docs/en/query_language/agg_functions/reference.md
Labels: can be tested

#7205 Make sure dh_clean not touch potential source files.
  debian/rules
Labels: can be tested

#7234 Serialize Null Fields correctly in DataTypeNullable.
  dbms/src/DataTypes/DataTypeNullable.cpp
  dbms/src/DataTypes/DataTypeNullable.h
  dbms/tests/queries/0_stateless/01016_null_part_minmax.reference
  dbms/tests/queries/0_stateless/01016_null_part_minmax.sql
Labels: pr-bugfix

#7240 Added function `getMacro`
  dbms/programs/server/config.d/macros.xml
  dbms/src/Common/Macros.cpp
  dbms/src/Common/Macros.h
  dbms/src/Functions/getMacro.cpp
  dbms/src/Functions/registerFunctionsMiscellaneous.cpp
  dbms/tests/config/macros.xml
  dbms/tests/queries/0_stateless/01016_macros.reference
  dbms/tests/queries/0_stateless/01016_macros.sql
Labels: pr-improvement

#7242 Return SparseHashed name (system.dictionaries:type) for the sparse_hashed layout
  dbms/src/Dictionaries/HashedDictionary.h
Labels: can be tested

#7236 Do not use more then 98K of memory for uniqCombined*
  dbms/src/AggregateFunctions/AggregateFunctionUniqCombined.h
  dbms/tests/queries/0_stateless/01017_uniqCombined_memory_usage.reference
  dbms/tests/queries/0_stateless/01017_uniqCombined_memory_usage.sql
Labels: can be tested, pr-improvement

#7222 [RFC] Introduce uniqCombined64() to get sane results for cardinality > UINT_MAX
  dbms/src/AggregateFunctions/AggregateFunctionUniqCombined.cpp
  dbms/src/AggregateFunctions/AggregateFunctionUniqCombined.h
  dbms/tests/queries/0_stateless/01016_uniqCombined64.reference
  dbms/tests/queries/0_stateless/01016_uniqCombined64.sql
  docs/en/query_language/agg_functions/reference.md
  docs/ru/query_language/agg_functions/reference.md
Labels: can be tested

#7250 Fix docs for Lazy database
  docs/en/database_engines/lazy.md
  docs/toc_en.yml
Labels: documentation

#7253 Refactor parser create query
  dbms/src/Parsers/ParserCreateQuery.cpp
  dbms/src/Parsers/ParserCreateQuery.h
  dbms/src/Parsers/ParserDictionary.cpp
  dbms/src/Parsers/ParserDictionary.h
Labels: pr-codecleanup

#7247 Prevent from using non-deterministic functions in mutations of replicated tables
  dbms/src/Functions/FunctionsConversion.h
  dbms/src/Functions/FunctionsMiscellaneous.h
  dbms/src/Functions/FunctionsRandom.h
  dbms/src/Functions/IFunction.h
  dbms/src/Functions/now.cpp
  dbms/src/Functions/randConstant.cpp
  dbms/src/Functions/runningDifference.h
  dbms/src/Functions/toTypeName.cpp
  dbms/src/Functions/today.cpp
  dbms/src/Functions/yesterday.cpp
  dbms/src/Interpreters/MutationsInterpreter.cpp
  dbms/tests/queries/0_stateless/01017_mutations_with_nondeterministic_functions_zookeeper.reference
  dbms/tests/queries/0_stateless/01017_mutations_with_nondeterministic_functions_zookeeper.sh
Labels: pr-improvement

#7252 Fix bad code in transforming query for external database.
  dbms/src/Interpreters/evaluateConstantExpression.cpp
  dbms/src/Interpreters/evaluateConstantExpression.h
  dbms/src/Storages/tests/gtest_transform_query_for_external_database.cpp
  dbms/src/Storages/transformQueryForExternalDatabase.cpp
Labels: comp-foreign-db, pr-bugfix

#7270 uniqCombined memory usage tests fixes
  dbms/tests/clickhouse-test
  dbms/tests/queries/0_stateless/00212_shard_aggregate_function_uniq.reference
  dbms/tests/queries/0_stateless/00212_shard_aggregate_function_uniq.sql
Labels: can be tested, pr-build

#7264 Disable memory tracker for exception stack.
  dbms/src/Interpreters/executeQuery.cpp
Labels: pr-bugfix

#7277 Client parameters for clickhouse-test
  dbms/tests/clickhouse-test
  dbms/tests/queries/0_stateless/00039_inserts_through_http.sh
  dbms/tests/queries/0_stateless/00177_inserts_through_http_parts.sh
  dbms/tests/queries/0_stateless/00210_insert_select_extremes_http.sh
  dbms/tests/queries/0_stateless/00265_content_type.sh
  dbms/tests/queries/0_stateless/00302_http_compression.sh
  dbms/tests/queries/0_stateless/00304_http_external_data.sh
  dbms/tests/queries/0_stateless/00305_http_and_readonly.sh
  dbms/tests/queries/0_stateless/00313_const_totals_extremes.sh
  dbms/tests/queries/0_stateless/00322_disable_checksumming.sh
  dbms/tests/queries/0_stateless/00335_bom.sh
  dbms/tests/queries/0_stateless/00336_shard_stack_trace.sh
  dbms/tests/queries/0_stateless/00366_multi_statements.sh
  dbms/tests/queries/0_stateless/00372_cors_header.sh
  dbms/tests/queries/0_stateless/00379_system_processes_port.sh
  dbms/tests/queries/0_stateless/00386_long_in_pk.python
  dbms/tests/queries/0_stateless/00408_http_keep_alive.sh
  dbms/tests/queries/0_stateless/00416_pocopatch_progress_in_http_headers.sh
  dbms/tests/queries/0_stateless/00429_long_http_bufferization.sh
  dbms/tests/queries/0_stateless/00474_readonly_settings.sh
  dbms/tests/queries/0_stateless/00485_http_insert_format.sh
  dbms/tests/queries/0_stateless/00501_http_head.sh
  dbms/tests/queries/0_stateless/00564_enum_order.sh
  dbms/tests/queries/0_stateless/00565_enum_order.sh
  dbms/tests/queries/0_stateless/00598_create_as_select_http.sh
  dbms/tests/queries/0_stateless/00600_replace_running_query.sh
  dbms/tests/queries/0_stateless/00612_http_max_query_size.sh
  dbms/tests/queries/0_stateless/00625_query_in_form_data.sh
  dbms/tests/queries/0_stateless/00719_insert_block_without_column.sh
  dbms/tests/queries/0_stateless/00728_json_each_row_parsing.sh
  dbms/tests/queries/0_stateless/00764_max_query_size_allocation.sh
  dbms/tests/queries/0_stateless/00825_http_header_query_id.sh
  dbms/tests/queries/0_stateless/00834_cancel_http_readonly_queries_on_client_close.sh
  dbms/tests/queries/0_stateless/00851_http_insert_json_defaults.sh
  dbms/tests/queries/0_stateless/00952_input_function.sh
  dbms/tests/queries/0_stateless/00956_http_prepared_statements.sh
  dbms/tests/queries/0_stateless/01010_low_cardinality_and_native_http.sh
  dbms/tests/queries/shell_config.sh
Labels: pr-build

#7231 Include PODArray.h into fewer files.
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmap.cpp
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmap.h
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  dbms/src/Client/ConnectionPoolWithFailover.cpp
  dbms/src/Columns/ColumnAggregateFunction.h
  dbms/src/Columns/ColumnArray.h
  dbms/src/Columns/ColumnConst.cpp
  dbms/src/Columns/ColumnDecimal.h
  dbms/src/Columns/ColumnFixedString.h
  dbms/src/Columns/ColumnFunction.cpp
  dbms/src/Columns/ColumnNullable.h
  dbms/src/Columns/ColumnString.h
  dbms/src/Columns/ColumnVector.h
  dbms/src/Columns/IColumn.h
  dbms/src/Columns/IColumnDummy.h
  dbms/src/Columns/IColumnImpl.h
  dbms/src/Common/Allocator.h
  dbms/src/Common/Allocator_fwd.h
  dbms/src/Common/PODArray.h
  dbms/src/Common/PODArray_fwd.h
  dbms/src/Common/formatReadable.h
  dbms/src/Compression/CompressionCodecMultiple.cpp
  dbms/src/Compression/ICompressionCodec.h
  dbms/src/DataStreams/LimitByBlockInputStream.cpp
  dbms/src/DataStreams/ReverseBlockInputStream.cpp
  dbms/src/Functions/FunctionsBitmap.cpp
  dbms/src/Functions/FunctionsBitmap.h
  dbms/src/Functions/FunctionsJSON.h
  dbms/src/Interpreters/ActionsVisitor.cpp
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Processors/Formats/Impl/PrettyBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/PrettyCompactBlockOutputFormat.cpp
  dbms/src/Processors/Formats/Impl/PrettySpaceBlockOutputFormat.cpp
  dbms/src/Processors/Port.h
  dbms/src/Processors/Transforms/LimitByTransform.cpp
  dbms/src/Storages/Distributed/DistributedBlockOutputStream.h
Labels: pr-build

#7289 Fixed #7109 groupBitmapOr(31) segfault
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmap.cpp
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmap.h
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
  docs/en/query_language/agg_functions/reference.md
Labels: can be tested, pr-improvement

#7284 Fix for #7216
  dbms/src/DataStreams/CheckNonEmptySetBlockInputStream.cpp
  dbms/src/DataStreams/CheckNonEmptySetBlockInputStream.h
  dbms/src/DataStreams/ExpressionBlockInputStream.cpp
  dbms/src/DataStreams/ExpressionBlockInputStream.h
  dbms/src/DataStreams/FilterBlockInputStream.cpp
  dbms/src/DataStreams/FilterBlockInputStream.h
  dbms/src/Interpreters/ExpressionActions.cpp
  dbms/src/Interpreters/ExpressionActions.h
  dbms/src/Interpreters/IJoin.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.h
  dbms/src/Interpreters/Join.cpp
  dbms/src/Interpreters/Join.h
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/src/Interpreters/SyntaxAnalyzer.h
  dbms/src/Processors/Transforms/ExpressionTransform.cpp
  dbms/src/Processors/Transforms/ExpressionTransform.h
  dbms/src/Processors/Transforms/FilterTransform.cpp
  dbms/src/Processors/Transforms/FilterTransform.h
  dbms/tests/queries/0_stateless/01015_empty_in_inner_right_join.reference
  dbms/tests/queries/0_stateless/01015_empty_in_inner_right_join.sql
Labels: pr-improvement

#7291 Function FQDN, fullHostName
  dbms/src/Functions/FunctionFQDN.cpp
  dbms/src/Functions/registerFunctionsMiscellaneous.cpp
  docs/en/query_language/functions/other_functions.md
Labels: can be tested

#7300 Enable musl and jemalloc for arm.
  CMakeLists.txt
  cmake/arch.cmake
  contrib/jemalloc-cmake/CMakeLists.txt
  contrib/jemalloc-cmake/include_linux_aarch64/README
  contrib/jemalloc-cmake/include_linux_aarch64/jemalloc/internal/jemalloc_internal_defs.h
  contrib/jemalloc-cmake/include_linux_aarch64/jemalloc/internal/jemalloc_preamble.h
  contrib/jemalloc-cmake/include_linux_aarch64/jemalloc/jemalloc_defs.h
  contrib/jemalloc-cmake/include_linux_aarch64/jemalloc/jemalloc_macros.h
  contrib/jemalloc-cmake/include_linux_aarch64/jemalloc/jemalloc_protos.h
  contrib/jemalloc-cmake/include_linux_aarch64/jemalloc/jemalloc_typedefs.h
  libs/libcommon/cmake/find_jemalloc.cmake
  libs/libglibc-compatibility/CMakeLists.txt
  libs/libglibc-compatibility/musl/aarch64/atomic_arch.h
  libs/libglibc-compatibility/musl/aarch64/longjmp.s
  libs/libglibc-compatibility/musl/aarch64/syscall.s
  libs/libglibc-compatibility/musl/x86_64/atomic_arch.h
  libs/libglibc-compatibility/musl/x86_64/longjmp.s
  libs/libglibc-compatibility/musl/x86_64/syscall.s
Labels: can be tested

#7298 Add missing arity validation for count/counIf
  dbms/src/AggregateFunctions/AggregateFunctionCount.cpp
  dbms/src/AggregateFunctions/AggregateFunctionCount.h
  dbms/src/AggregateFunctions/AggregateFunctionNull.cpp
  dbms/src/AggregateFunctions/FactoryHelpers.h
  dbms/tests/queries/0_stateless/00425_count_nullable.reference
  dbms/tests/queries/0_stateless/00425_count_nullable.sql
Labels: can be tested

#7299 Add multi{Fuzzy}MatchAllIndices functions
  dbms/src/Functions/FunctionsStringRegex.cpp
  dbms/src/Functions/FunctionsStringRegex.h
  dbms/src/Functions/FunctionsStringSearch.cpp
  dbms/src/Functions/FunctionsStringSearch.h
  dbms/src/Functions/Regexps.h
  dbms/tests/queries/0_stateless/00926_multimatch.reference
  dbms/tests/queries/0_stateless/00926_multimatch.sql
  dbms/tests/queries/0_stateless/00927_disable_hyperscan.sql
  dbms/tests/queries/0_stateless/00929_multi_match_edit_distance.reference
  dbms/tests/queries/0_stateless/00929_multi_match_edit_distance.sql
  docs/en/query_language/functions/string_search_functions.md
  docs/ru/query_language/functions/string_search_functions.md
Labels: can be tested, pr-feature

#7283 Ignore non-convertible values at any depth on the right side of the IN operator
  dbms/src/Interpreters/convertFieldToType.cpp
  dbms/src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  dbms/tests/queries/0_stateless/00810_in_operators_segfault.reference
  dbms/tests/queries/0_stateless/00810_in_operators_segfault.sql
  dbms/tests/queries/0_stateless/01017_in_unconvertible_complex_type.reference
  dbms/tests/queries/0_stateless/01017_in_unconvertible_complex_type.sql
Labels: pr-improvement

#7304 Check TTL in StorageFactory
  dbms/src/Storages/StorageFactory.cpp
  dbms/tests/queries/0_stateless/00933_ttl_simple.sql
Labels: can be tested

#7286 Fix notes syntax in documentation
  docs/en/query_language/agg_functions/reference.md
  docs/ru/query_language/agg_functions/reference.md
Labels: documentation, pr-documentation

#7282 ASOF JOIN inequalities
  dbms/src/Interpreters/AnalyzedJoin.h
  dbms/src/Interpreters/CollectJoinOnKeysVisitor.cpp
  dbms/src/Interpreters/CollectJoinOnKeysVisitor.h
  dbms/src/Interpreters/Join.cpp
  dbms/src/Interpreters/Join.h
  dbms/src/Interpreters/RowRefs.cpp
  dbms/src/Interpreters/RowRefs.h
  dbms/src/Interpreters/asof.h
  dbms/tests/queries/0_stateless/00976_asof_join_on.reference
  dbms/tests/queries/0_stateless/00976_asof_join_on.sql
Labels: pr-feature

#7332 More performance test for Date and DateTime
  dbms/tests/performance/date_time.xml
Labels: can be tested

#7362 DOCS-413: Links fixes.
  docs/en/getting_started/example_datasets/metrica.md
  docs/en/operations/monitoring.md
  docs/en/operations/server_settings/settings.md
  docs/fa/database_engines/lazy.md
  docs/ru/getting_started/example_datasets/metrica.md
  docs/ru/interfaces/third-party/integrations.md
  docs/ru/operations/monitoring.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/functions/hash_functions.md
  docs/toc_fa.yml
Labels: documentation, pr-doc-fix

#7183 Fix CREATE TABLE AS from table with virtual columns
  contrib/librdkafka-cmake/CMakeLists.txt
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Storages/IStorage.h
  dbms/tests/queries/0_stateless/00981_no_virtual_columns.reference
  dbms/tests/queries/0_stateless/00981_no_virtual_columns.sql
  dbms/tests/queries/0_stateless/00981_no_virtual_columns_in_system_columns.sql
Labels: pr-bugfix

#7351 Fixed issue of using HTTP timeout as TCP timeout value.
  dbms/src/IO/ConnectionTimeouts.h
Labels: can be tested

#7215 Miscellaneous formats improvements
  dbms/src/Core/Settings.h
  dbms/src/DataTypes/DataTypeNullable.cpp
  dbms/src/DataTypes/DataTypeNullable.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatSettings.h
  dbms/src/Interpreters/evaluateConstantExpression.cpp
  dbms/src/Processors/Formats/IRowInputFormat.cpp
  dbms/src/Processors/Formats/IRowInputFormat.h
  dbms/src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/CSVRowInputFormat.h
  dbms/src/Processors/Formats/Impl/ConstantExpressionTemplate.cpp
  dbms/src/Processors/Formats/Impl/ConstantExpressionTemplate.h
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.h
  dbms/src/Processors/Formats/Impl/TSKVRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TSKVRowInputFormat.h
  dbms/src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TabSeparatedRowInputFormat.h
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/TemplateRowInputFormat.h
  dbms/src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ValuesBlockInputFormat.h
  dbms/tests/queries/0_stateless/00301_csv.reference
  dbms/tests/queries/0_stateless/00301_csv.sh
  dbms/tests/queries/0_stateless/00937_template_output_format.sh
  dbms/tests/queries/0_stateless/00938_template_input_format.sh
  dbms/tests/queries/0_stateless/01015_insert_values_parametrized.reference
  dbms/tests/queries/0_stateless/01015_insert_values_parametrized.sh
  dbms/tests/queries/0_stateless/01016_input_null_as_default.reference
  dbms/tests/queries/0_stateless/01016_input_null_as_default.sh
  dbms/tests/queries/0_stateless/01017_tsv_empty_as_default.reference
  dbms/tests/queries/0_stateless/01017_tsv_empty_as_default.sh
  dbms/tests/queries/0_stateless/01018_insert_multiple_blocks_with_defaults.reference
  dbms/tests/queries/0_stateless/01018_insert_multiple_blocks_with_defaults.sh
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: can be tested, pr-improvement

#7350 Fix rare segfaults
  dbms/programs/benchmark/Benchmark.cpp
  dbms/programs/copier/ClusterCopier.cpp
  dbms/programs/server/TCPHandler.cpp
  dbms/src/Common/ThreadPool.cpp
  dbms/src/Common/ThreadPool.h
  dbms/src/Common/tests/gtest_thread_pool_concurrent_wait.cpp
  dbms/src/Common/tests/gtest_thread_pool_global_full.cpp
  dbms/src/Common/tests/gtest_thread_pool_limit.cpp
  dbms/src/Common/tests/gtest_thread_pool_loop.cpp
  dbms/src/Common/tests/gtest_thread_pool_schedule_exception.cpp
  dbms/src/Common/tests/multi_version.cpp
  dbms/src/Common/tests/parallel_aggregation.cpp
  dbms/src/Common/tests/parallel_aggregation2.cpp
  dbms/src/Common/tests/thread_creation_latency.cpp
  dbms/src/DataStreams/AsynchronousBlockInputStream.cpp
  dbms/src/DataStreams/MergingAggregatedMemoryEfficientBlockInputStream.cpp
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.cpp
  dbms/src/Databases/DatabaseOrdinary.cpp
  dbms/src/IO/AsynchronousWriteBuffer.h
  dbms/src/Interpreters/Aggregator.cpp
  dbms/src/Interpreters/InterpreterSystemQuery.cpp
  dbms/src/Interpreters/tests/internal_iotop.cpp
  dbms/src/Processors/Executors/ParallelPipelineExecutor.cpp
  dbms/src/Processors/tests/processors_test.cpp
  dbms/src/Storages/Distributed/DistributedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/StorageMergeTree.cpp
  utils/iotest/iotest.cpp
  utils/iotest/iotest_aio.cpp
Labels: pr-bugfix

#7271 Fixing AddressSanitizer error in the LIVE VIEW getHeader() method.
  dbms/src/Storages/LiveView/StorageLiveView.cpp
  dbms/src/Storages/LiveView/StorageLiveView.h
Labels: can be tested

#7353 Fixing ThreadSanitizer data race error in the LIVE VIEW when accessing no_users_thread variable
  dbms/src/Storages/LiveView/StorageLiveView.cpp
  dbms/src/Storages/LiveView/StorageLiveView.h
Labels: can be tested

#7331 Add aggregate function combinators: -OrNull & -OrDefault
  dbms/src/AggregateFunctions/AggregateFunctionOrFill.cpp
  dbms/src/AggregateFunctions/AggregateFunctionOrFill.h
  dbms/src/AggregateFunctions/AggregateFunctionResample.h
  dbms/src/AggregateFunctions/registerAggregateFunctions.cpp
  dbms/tests/queries/0_stateless/01018_empty_aggregation_filling.reference
  dbms/tests/queries/0_stateless/01018_empty_aggregation_filling.sql
  docs/en/query_language/agg_functions/combinators.md
Labels: can be tested

#7379 DOCS-8299: Added a link with metrics for system.metrics in RU docs
  docs/ru/operations/system_tables.md
Labels: documentation, pr-doc-fix

#7179 Distinguish Array and Tuple field types when creating from array of Fields.
  dbms/src/Columns/ColumnTuple.cpp
  dbms/src/Common/FieldVisitors.cpp
  dbms/src/Common/FieldVisitors.h
  dbms/src/Core/Field.cpp
  dbms/src/Core/Field.h
  dbms/src/DataTypes/DataTypeTuple.cpp
  dbms/src/DataTypes/FieldToDataType.cpp
  dbms/src/Interpreters/Set.cpp
  dbms/src/Interpreters/convertFieldToType.cpp
  dbms/src/Processors/Formats/Impl/CapnProtoRowInputFormat.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.cpp
  dbms/src/TableFunctions/TableFunctionValues.cpp
  dbms/tests/queries/0_stateless/01016_index_tuple_field_type.reference
  dbms/tests/queries/0_stateless/01016_index_tuple_field_type.sql
Labels: pr-build

#7388 murmurhash32 ubsan fix.
  contrib/murmurhash/src/murmurhash2.cpp
  contrib/murmurhash/src/murmurhash3.cpp
Labels: pr-build

#7384 Fix UB in StoragesInfoStream
  dbms/src/Storages/System/StorageSystemPartsBase.cpp
  dbms/tests/queries/0_stateless/00961_checksums_in_system_parts_columns_table.sql
  dbms/tests/queries/0_stateless/01014_lazy_database_basic.sh
Labels: pr-bugfix

#7393 GitHub labeler configuration changes
  .github/label-pr.yml
  .github/labeler.yml
  .github/main.workflow
  .github/workflows/labeler.yml
Labels: pr-documentation

#7385 Typo in docs
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.h
  docs/en/query_language/create.md
  docs/ru/query_language/create.md
Labels: documentation, pr-doc-fix

#7390 Add a message in case of queue_wait_max_ms wait takes place
  dbms/src/Interpreters/ProcessList.cpp
Labels: can be tested

#7375 Fix docs on the tiered storage and add its translation into english
  docs/en/operations/table_engines/mergetree.md
  docs/ru/operations/table_engines/mergetree.md
Labels: pr-documentation

#7402 Fixed NULL-values in nullable columns through ODBC-bridge
  dbms/programs/odbc-bridge/ColumnInfoHandler.cpp
  dbms/tests/integration/test_odbc_interaction/test.py
Labels: altinity, can be tested

#7293 Add function isValidJSON
  dbms/src/Functions/FunctionsJSON.cpp
  dbms/src/Functions/FunctionsJSON.h
  dbms/tests/queries/0_stateless/00918_json_functions.reference
  dbms/tests/queries/0_stateless/00918_json_functions.sql
  docs/en/query_language/functions/json_functions.md
  docs/ru/query_language/functions/json_functions.md
Labels: can be tested, pr-feature

#7339 Fix preciseExp10
  dbms/tests/queries/0_stateless/00534_exp10.reference
  dbms/tests/queries/0_stateless/00534_exp10.sql
  libs/libcommon/src/preciseExp10.c
Labels: can be tested

#7265 Don't push to MVs when inserting into Kafka table
  dbms/src/Interpreters/InterpreterInsertQuery.cpp
  dbms/src/Interpreters/InterpreterInsertQuery.h
  dbms/src/Parsers/ASTInsertQuery.h
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/Kafka/Buffer_fwd.h
  dbms/src/Storages/Kafka/KafkaBlockOutputStream.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/src/Storages/Kafka/StorageKafka.h
  dbms/src/Storages/Kafka/WriteBufferToKafkaProducer.h
  dbms/tests/integration/test_storage_kafka/test.py
Labels: pr-bugfix

#7436 add perf test for subqueries with large scalars
  dbms/tests/performance/scalar.xml
Labels: pr-build

#7423 Fixed erroneous warning `max_data_part_size is too low`
  dbms/src/Common/DiskSpaceMonitor.cpp
Labels: altinity, can be tested

#7396 Test materialized view pushing extra columns
  dbms/tests/queries/0_stateless/01019_materialized_view_select_extra_columns.reference
  dbms/tests/queries/0_stateless/01019_materialized_view_select_extra_columns.sql
Labels: can be tested

#7389 docs: enumerate uniqCombined64 for count_distinct_implementation
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#7439 Fixed spelling error in error message
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
Labels: can be tested

#6243 Introduce String Hash Map to speed up aggregation over short string keys.
  dbms/src/Common/HashTable/HashTable.h
  dbms/src/Common/HashTable/StringHashMap.h
  dbms/src/Common/HashTable/StringHashTable.h
  dbms/src/Common/HashTable/TwoLevelStringHashMap.h
  dbms/src/Common/HashTable/TwoLevelStringHashTable.h
  dbms/src/Interpreters/Aggregator.h
  dbms/src/Interpreters/tests/CMakeLists.txt
  dbms/src/Interpreters/tests/string_hash_map.cpp
Labels: pr-performance

#7273 [RFC] Drop note about "estimation error for large sets will be large"
  docs/en/query_language/agg_functions/reference.md
  docs/ru/query_language/agg_functions/reference.md
Labels: documentation

#7448 Docs links fix
  docs/en/operations/system_tables.md
  docs/en/query_language/alter.md
Labels: documentation, pr-doc-fix

#7456 Update Dockerfile for binary packager
  docker/packager/binary/Dockerfile
Labels: pr-build

#7285 fix typo in ontime.md
  docs/en/getting_started/example_datasets/ontime.md
Labels: documentation, pr-doc-fix

#7431 fix aggregation (avg and quantiles) over empty decimal columns.
  dbms/src/AggregateFunctions/AggregateFunctionAvg.h
  dbms/src/AggregateFunctions/ReservoirSampler.h
  dbms/tests/queries/0_stateless/00700_decimal_empty_aggregates.reference
  dbms/tests/queries/0_stateless/00700_decimal_empty_aggregates.sql
Labels: can be tested

#7377 Fix INSERT into Distributed non local node with MATERIALIZED columns
  dbms/programs/server/config.xml
  dbms/src/Storages/Distributed/DistributedBlockOutputStream.cpp
  dbms/src/Storages/StorageDistributed.cpp
  dbms/tests/queries/0_stateless/00952_insert_into_distributed_with_materialized_column.reference
  dbms/tests/queries/0_stateless/00952_insert_into_distributed_with_materialized_column.sql
  dbms/tests/server-test.xml
Labels: can be tested

#7454 Refactoring: extract non aliases logic out of QueryNormalizer
  dbms/src/Interpreters/ActionsVisitor.cpp
  dbms/src/Interpreters/CrossToInnerJoinVisitor.cpp
  dbms/src/Interpreters/ExecuteScalarSubqueriesVisitor.cpp
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/src/Interpreters/MarkTableIdentifiersVisitor.cpp
  dbms/src/Interpreters/MarkTableIdentifiersVisitor.h
  dbms/src/Interpreters/PredicateExpressionsOptimizer.cpp
  dbms/src/Interpreters/QueryNormalizer.cpp
  dbms/src/Interpreters/QueryNormalizer.h
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/src/Interpreters/misc.h
  dbms/src/Storages/MergeTree/KeyCondition.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  dbms/src/Storages/MergeTree/MergeTreeWhereOptimizer.cpp
Labels: pr-codecleanup

#7474 Update Docker Image for Binary Packager
  docker/packager/binary/Dockerfile
Labels: pr-build

#7450 Added integration test for #7414 (validation of `max_data_part_size_bytes`).
  dbms/tests/integration/test_multiple_disks/configs/config.d/storage_configuration.xml
  dbms/tests/integration/test_multiple_disks/test.py
Labels: altinity, can be tested

#7434 Allowed to have some parts on destination disk or volume in MOVE PARTITION
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/tests/integration/test_multiple_disks/test.py
Labels: altinity, can be tested, pr-bugfix

#7496 Fix HAVING without GROUP BY
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/tests/queries/0_stateless/01020_having_without_group_by.reference
  dbms/tests/queries/0_stateless/01020_having_without_group_by.sql
Labels: pr-improvement

#7491 Add handling of SQL_TINYINT and SQL_BIGINT, fix SQL_FLOAT in ODBC Bridge
  dbms/programs/odbc-bridge/ColumnInfoHandler.cpp
Labels: can be tested

#7483 remove some obsolete notes about mutations
  docs/en/query_language/alter.md
Labels: altinity, documentation, pr-documentation

#7480 Add CRC32IEEE()/CRC64() support
  contrib/CMakeLists.txt
  dbms/src/Functions/CRC.cpp
  dbms/src/Functions/CRC32.cpp
  dbms/src/Functions/registerFunctionsString.cpp
  dbms/tests/queries/0_stateless/00936_crc_functions.reference
  dbms/tests/queries/0_stateless/00936_crc_functions.sql
  docs/en/query_language/functions/string_functions.md
  docs/ru/query_language/functions/string_functions.md
Labels: can be tested

#7465 Add user setting mark_cache_min_lifetime documentation
  docs/en/operations/server_settings/settings.md
  docs/en/operations/settings/settings.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#7532 Add test for greatCircleDist
  dbms/tests/performance/grear_circle_dist.xml
Labels: pr-improvement

#7370 Add support for cross-compiling to the CPU architecture AARCH64
  .gitignore
  CMakeLists.txt
  cmake/arch.cmake
  cmake/darwin/default_libs.cmake
  cmake/darwin/sdk.cmake
  cmake/darwin/toolchain-x86_64.cmake
  cmake/linux/default_libs.cmake
  cmake/linux/toolchain-aarch64.cmake
  cmake/target.cmake
  cmake/toolchain/darwin-x86_64/README.txt
  cmake/toolchain/linux-aarch64/README.txt
  cmake/tools.cmake
  dbms/src/Common/StackTrace.cpp
  dbms/src/Common/tests/int_hashes_perf.cpp
  dbms/src/IO/tests/parse_int_perf.cpp
  dbms/src/Interpreters/tests/hash_map_string.cpp
  docker/packager/packager
Labels: pr-build

#7530 Fix right table key nullability (join_use_keys = 0)
  dbms/src/Interpreters/AnalyzedJoin.cpp
  dbms/src/Interpreters/AnalyzedJoin.h
  dbms/src/Interpreters/Join.cpp
  dbms/src/Interpreters/join_common.cpp
  dbms/src/Interpreters/join_common.h
  dbms/tests/queries/0_stateless/00853_join_with_nulls_crash.reference
Labels: pr-bugfix

#7539 Refactor packager
  docker/packager/packager
Labels: pr-build

#7547 DOCS-443: Minor documentation fixes
  docs/en/operations/server_settings/settings.md
  docs/en/query_language/alter.md
  docs/en/query_language/functions/date_time_functions.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/query_language/alter.md
  docs/ru/query_language/dicts/external_dicts_dict_layout.md
  docs/ru/query_language/functions/date_time_functions.md
Labels: documentation, pr-doc-fix

#7295 Fix build without submodules
  cmake/find/capnp.cmake
  cmake/find/orc.cmake
  cmake/find/parquet.cmake
  cmake/find/unwind.cmake
  dbms/CMakeLists.txt
  utils/build/build_no_submodules.sh
Labels: pr-build

#7545 Fix only tuple columns in table.
  dbms/src/Storages/MergeTree/MergeTreeDataPart.cpp
  dbms/tests/queries/0_stateless/01021_only_tuple_columns.reference
  dbms/tests/queries/0_stateless/01021_only_tuple_columns.sql
Labels: pr-bugfix

#7551 Improvements for fast count() after #7510
  dbms/src/AggregateFunctions/AggregateFunctionCount.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
Labels: pr-build

#7523 Disable context replacement for internal queries
  dbms/src/Interpreters/ThreadStatusExt.cpp
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Interpreters/executeQuery.h
Labels: pr-improvement

#7526 Update security changelog
  docs/en/security_changelog.md
  docs/ru/security_changelog.md
Labels: do not test

#7527 DOCS-420: Updated docs for Redash
  docs/en/interfaces/third-party/gui.md
  docs/ru/interfaces/third-party/gui.md
Labels: documentation, pr-doc-fix

#7490 Fixes agg functions usage
  docs/en/query_language/agg_functions/reference.md
  docs/ru/query_language/agg_functions/reference.md
Labels: documentation, pr-doc-fix

#7412 merge_max_block_size in settings
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergeTreeSettings.h
Labels: pr-feature

#7366 Made IN operator support Array(LowCardinality(Nullable(String)))
  dbms/src/Interpreters/Set.cpp
  dbms/tests/queries/0_stateless/00688_low_cardinality_in.reference
  dbms/tests/queries/0_stateless/00688_low_cardinality_in.sql
Labels: can be tested

#7553 Add constraints columns to table system.settings
  dbms/src/Access/SettingsConstraints.cpp
  dbms/src/Access/SettingsConstraints.h
  dbms/src/Common/SettingsChanges.h
  dbms/src/Core/SettingsCollectionImpl.h
  dbms/src/Core/SettingsCommon.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/InterpreterSetQuery.cpp
  dbms/src/Storages/System/StorageSystemSettings.cpp
  dbms/tests/integration/test_settings_constraints/test.py
Labels: pr-improvement
