Repository ClickHouse/ClickHouse, pull requests merged in 2019-03, with the labels that each got.

#4536 A Proper lookup table that uses HashTable's API
  dbms/programs/obfuscator/Obfuscator.cpp
  dbms/src/AggregateFunctions/AggregateFunctionEntropy.h
  dbms/src/AggregateFunctions/AggregateFunctionGroupUniqArray.h
  dbms/src/AggregateFunctions/QuantileExactWeighted.h
  dbms/src/Columns/ColumnLowCardinality.cpp
  dbms/src/Columns/ReverseIndex.h
  dbms/src/Common/ColumnsHashing.h
  dbms/src/Common/ColumnsHashingImpl.h
  dbms/src/Common/CombinedCardinalityEstimator.h
  dbms/src/Common/HashTable/ClearableHashMap.h
  dbms/src/Common/HashTable/FixedClearableHashMap.h
  dbms/src/Common/HashTable/FixedClearableHashSet.h
  dbms/src/Common/HashTable/FixedHashMap.h
  dbms/src/Common/HashTable/FixedHashSet.h
  dbms/src/Common/HashTable/FixedHashTable.h
  dbms/src/Common/HashTable/HashMap.h
  dbms/src/Common/HashTable/HashTable.h
  dbms/src/Common/HashTable/SmallTable.h
  dbms/src/Common/HashTable/TwoLevelHashMap.h
  dbms/src/Common/HashTable/TwoLevelHashTable.h
  dbms/src/Common/HyperLogLogWithSmallSetOptimization.h
  dbms/src/Common/SpaceSaving.h
  dbms/src/Common/tests/auto_array.cpp
  dbms/src/Common/tests/hash_table.cpp
  dbms/src/Common/tests/parallel_aggregation.cpp
  dbms/src/Common/tests/parallel_aggregation2.cpp
  dbms/src/Common/tests/small_table.cpp
  dbms/src/Core/tests/string_pool.cpp
  dbms/src/DataTypes/DataTypeEnum.cpp
  dbms/src/DataTypes/DataTypeEnum.h
  dbms/src/Dictionaries/ComplexKeyCacheDictionary.cpp
  dbms/src/Dictionaries/ComplexKeyCacheDictionary.h
  dbms/src/Dictionaries/ComplexKeyHashedDictionary.cpp
  dbms/src/Dictionaries/HashedDictionary.cpp
  dbms/src/Dictionaries/RangeHashedDictionary.cpp
  dbms/src/Formats/JSONEachRowRowInputStream.cpp
  dbms/src/Formats/TSKVRowInputStream.cpp
  dbms/src/Functions/arrayIntersect.cpp
  dbms/src/Functions/transform.cpp
  dbms/src/Interpreters/Aggregator.cpp
  dbms/src/Interpreters/Aggregator.h
  dbms/src/Interpreters/Join.cpp
  dbms/src/Interpreters/Join.h
  dbms/src/Interpreters/SetVariants.h
  dbms/src/Interpreters/tests/CMakeLists.txt
  dbms/src/Interpreters/tests/hash_map.cpp
  dbms/src/Interpreters/tests/hash_map3.cpp
  dbms/src/Interpreters/tests/hash_map_lookup.cpp
  dbms/src/Interpreters/tests/hash_map_string.cpp
  dbms/src/Interpreters/tests/hash_map_string_2.cpp
  dbms/src/Interpreters/tests/hash_map_string_3.cpp
  dbms/src/Interpreters/tests/hash_map_string_small.cpp
  dbms/src/Interpreters/tests/two_level_hash_map.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataWriter.cpp
  dbms/src/Storages/StorageJoin.cpp
  utils/test-data-generator/MarkovModel.h
Labels: can be tested

#4551 Set update_time on full executable dictionary update
  dbms/src/Dictionaries/ExecutableDictionarySource.cpp
Labels: can be tested

#4430 Add max_execution_speed & max_execution_bytes_speed & min_execution_bytes_speed settings
  dbms/src/DataStreams/IBlockInputStream.cpp
  dbms/src/DataStreams/IBlockInputStream.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/Settings.h
  docs/en/operations/settings/query_complexity.md
  docs/ru/operations/settings/query_complexity.md
Labels: can be tested

#4207 Added bitmap function feature with roaring bitmap
  contrib/CMakeLists.txt
  contrib/croaring/CMakeLists.txt
  contrib/croaring/LICENSE
  contrib/croaring/README.txt
  contrib/croaring/roaring.c
  contrib/croaring/roaring.h
  contrib/croaring/roaring.hh
  dbms/CMakeLists.txt
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmap.cpp
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmap.h
  dbms/src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  dbms/src/AggregateFunctions/registerAggregateFunctions.cpp
  dbms/src/Functions/FunctionsBitmap.cpp
  dbms/src/Functions/FunctionsBitmap.h
  dbms/src/Functions/registerFunctions.cpp
  dbms/tests/queries/0_stateless/00829_bitmap_function.reference
  dbms/tests/queries/0_stateless/00829_bitmap_function.sql
  docs/en/query_language/agg_functions/reference.md
  docs/en/query_language/functions/bitmap_functions.md
  docs/redirects.txt
  docs/toc_en.yml
Labels: can be tested

#4481 Doc fix: editing SAMPLE clause description
  docs/en/query_language/select.md
Labels: documentation

#4426 Graphite rollup: combined rules
  dbms/programs/server/users.d/allow_only_from_localhost.xml
  dbms/src/DataStreams/GraphiteRollupSortedBlockInputStream.cpp
  dbms/src/DataStreams/GraphiteRollupSortedBlockInputStream.h
  dbms/src/Storages/MergeTree/registerStorageMergeTree.cpp
  dbms/src/Storages/System/StorageSystemGraphite.cpp
  dbms/tests/integration/test_graphite_merge_tree/configs/graphite_rollup.xml
  dbms/tests/integration/test_graphite_merge_tree/test.py
  docs/en/operations/table_engines/graphitemergetree.md
  docs/ru/operations/table_engines/graphitemergetree.md
  docs/zh/operations/table_engines/graphitemergetree.md
  docs/zh/operations/table_engines/mergetree.md
Labels: can be tested

#4578 DOCAPI-5758: The kafka_skip_broken_messages setting description
  docs/en/operations/table_engines/kafka.md
Labels: documentation

#4576 DOCAPI-5203 direct i/o settings EN description
  dbms/src/Interpreters/Settings.h
  docs/en/operations/server_settings/settings.md
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/mergetree.md
Labels: documentation

#4575 DOCAPI-5441: tcp_port_secure server setting EN description.
  docs/en/operations/server_settings/settings.md
  docs/en/operations/troubleshooting.md
  docs/en/query_language/dicts/external_dicts_dict_sources.md
  docs/en/query_language/table_functions/remote.md
Labels: documentation

#4577 Doc fixes: editing text in Formats section (ru)
  docs/en/operations/backup.md
  docs/ru/interfaces/formats.md
Labels: documentation

#4613 CHYT-67: introduce host context for using CH as a library.
  dbms/programs/server/HTTPHandler.cpp
  dbms/programs/server/HTTPHandler.h
  dbms/programs/server/TCPHandler.cpp
  dbms/programs/server/TCPHandler.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
Labels: can be tested

#4627 Fix broken progress in 19.3. Introduce total_rows for table function numbers().
  dbms/src/DataStreams/LimitBlockInputStream.cpp
  dbms/src/DataStreams/LimitBlockInputStream.h
  dbms/src/IO/Progress.h
  dbms/src/Storages/System/StorageSystemNumbers.cpp
  dbms/tests/queries/0_stateless/00416_pocopatch_progress_in_http_headers.reference
  dbms/tests/queries/0_stateless/00416_pocopatch_progress_in_http_headers.sh
Labels: can be tested

#4602 Rename trigramDistance to ngramDistance, add more functions with CaseInsensitive and UTF, update docs, more job done in perf, added some perf tests for string search that I would like to see
  dbms/src/Functions/FunctionsStringSimilarity.cpp
  dbms/src/Functions/FunctionsStringSimilarity.h
  dbms/tests/performance/string_search/ngram_distance.xml
  dbms/tests/queries/0_stateless/00909_ngram_distance.reference
  dbms/tests/queries/0_stateless/00909_ngram_distance.sql
  dbms/tests/queries/0_stateless/00909_trigram_distance.reference
  dbms/tests/queries/0_stateless/00909_trigram_distance.sql
  docs/en/query_language/functions/string_search_functions.md
  docs/ru/query_language/functions/string_search_functions.md
Labels: can be tested

#4637 fix use_sampling for parallel replicas (mpetrov/madmike)
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
Labels: can be tested

#4640 Improved data skipping indices calculation
  dbms/src/Storages/MergeTree/MergeTreeIndices.h
  dbms/src/Storages/MergeTree/MergeTreeMinMaxIndex.cpp
  dbms/src/Storages/MergeTree/MergeTreeMinMaxIndex.h
  dbms/src/Storages/MergeTree/MergeTreeSetSkippingIndex.cpp
  dbms/src/Storages/MergeTree/MergeTreeSetSkippingIndex.h
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.h
  docs/en/operations/table_engines/mergetree.md
  docs/ru/operations/table_engines/mergetree.md
Labels: can be tested

#4634 topK and topKWeighted now supports custom loadFactor
  dbms/src/AggregateFunctions/AggregateFunctionTopK.cpp
  dbms/src/AggregateFunctions/AggregateFunctionTopK.h
Labels: can be tested

#4657 docs build fixes
  docs/en/operations/system_tables.md
  docs/fa/query_language/functions/bitmap_functions.md
  docs/ru/operations/system_tables.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_zh.yml
  docs/zh/query_language/functions/bitmap_functions.md
Labels: documentation

#4667 DOCAPI-5436 The FixedString docs update
  docs/en/data_types/fixedstring.md
  docs/en/query_language/functions/array_functions.md
  docs/ru/data_types/fixedstring.md
  docs/ru/query_language/functions/array_functions.md
Labels: documentation

#4653 DOCAPI-5102: Description of insert_sample_with_metadata. Update of JSONEachRow docs.
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
Labels: documentation

#4669 Add support for disabling brotli, parquet and protobuf
  cmake/find_brotli.cmake
  cmake/find_parquet.cmake
  cmake/find_protobuf.cmake
Labels: can be tested

#4654 support for CREATE OR REPLACE VIEW
  dbms/src/Databases/DatabasesCommon.cpp
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Interpreters/InterpreterDropQuery.cpp
  dbms/src/Interpreters/InterpreterDropQuery.h
  dbms/src/Parsers/ASTCreateQuery.h
  dbms/src/Parsers/ASTDropQuery.h
  dbms/src/Parsers/ParserCreateQuery.cpp
  dbms/src/Parsers/ParserCreateQuery.h
  dbms/tests/queries/0_stateless/00916_create_or_replace_view.reference
  dbms/tests/queries/0_stateless/00916_create_or_replace_view.sql
Labels: can be tested

#4683 Do not wait when there is not log entry.
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
Labels: can be tested

#4684 Refinement
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/queries/0_stateless/00925_empty_replicated_merge_tree_optimize_final.reference
  dbms/tests/queries/0_stateless/00925_empty_replicated_merge_tree_optimize_final.sql
Labels: can be tested

#4660 DOCAPI-5758: EN review and RU translation of the Kafka engine descrip…
  docs/en/operations/table_engines/kafka.md
  docs/ru/operations/table_engines/kafka.md
Labels: documentation

#4708 Make the query planner respect LIMIT BY in remote queries
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/tests/queries/0_stateless/00409_shard_limit_by.reference
  dbms/tests/queries/0_stateless/00409_shard_limit_by.sql
Labels: can be tested

#4702 Fix #4690
  dbms/src/AggregateFunctions/AggregateFunctionQuantile.cpp
  dbms/src/AggregateFunctions/AggregateFunctionQuantile.h
Labels: can be tested

#4677 Doc fix: updating sections about the partitioning (en, ru)
  docs/en/operations/table_engines/custom_partitioning_key.md
  docs/en/operations/table_engines/replication.md
  docs/en/query_language/alter.md
  docs/ru/operations/backup.md
  docs/ru/operations/system_tables.md
  docs/ru/operations/table_engines/custom_partitioning_key.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/alter.md
  docs/ru/query_language/misc.md
Labels: documentation

#4687 Documentation/Installation: Fixed bug in the example of using apt-key
  docs/en/getting_started/index.md
  docs/fa/getting_started/index.md
  docs/ru/getting_started/index.md
  docs/zh/getting_started/index.md
  website/index.html
Labels: documentation

#4728 Remove strange symbol
  website/index.html
Labels: documentation

#4676 DOCAPI-5441- EN review and RU translation for the tcp_port_secure docs.
  docs/en/operations/server_settings/settings.md
  docs/ru/operations/server_settings/settings.md
Labels: documentation

#4730 DOCAPI-5757: input_format_values_interpret_expressions description
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/en/query_language/syntax.md
  docs/fa/interfaces/formats.md
  docs/zh/interfaces/formats.md
Labels: documentation

#4749 Fix typo in Data Skipping Indices paragraph (ru doc)
  docs/ru/operations/table_engines/mergetree.md
Labels: documentation

#4651 DOCAPI-5753: Description of use_minimalistic_part_header_in_zookeeper
  docs/en/operations/server_settings/settings.md
  docs/en/operations/table_engines/mergetree.md
Labels: documentation

#4734 Doc fix: edit `LEFT ARRAY JOIN`
  docs/en/query_language/functions/array_functions.md
  docs/en/query_language/select.md
Labels: documentation

#4755 Translate docs/zh/query_language/operators.md
  docs/zh/query_language/operators.md
Labels: documentation

#4720 DOCAPI-5755: enable_optimize_predicate_expression setting description
  docs/en/operations/settings/settings.md
Labels: documentation

#4743 clickhouse-client: fix --help without tty
  dbms/programs/client/Client.cpp
  dbms/tests/integration/image/Dockerfile
  dbms/tests/queries/0_stateless/00910_client_window_size_detection.reference
  dbms/tests/queries/0_stateless/00910_client_window_size_detection.sh
  debian/control
Labels: can be tested

#4801 DOCAPI-4177: HTTP compression setttings are described.
  docs/en/interfaces/http.md
  docs/en/operations/settings/settings.md
Labels: documentation

#4803 CLICKHOUSE-3006: get rid of nodejs during website build
  docs/tools/README.md
  docs/tools/build.py
  docs/tools/release.sh
  docs/tools/requirements.txt
  docs/tools/website.py
  website/Dockerfile
  website/README.md
  website/gulpfile.js
  website/setup_gulp.sh
Labels: documentation

#4805 Fix info about ALTER sort keys
  docs/en/operations/table_engines/mergetree.md
  docs/ru/operations/table_engines/mergetree.md
Labels: documentation

#4807 Doc fix: added `NOT BETWEEN` operator
  docs/en/query_language/operators.md
  docs/ru/query_language/operators.md
Labels: documentation

#4674 Fix reading capnproto. Loading messages by HTTP does not working correctly :(
  dbms/src/Formats/CapnProtoRowInputStream.cpp
  dbms/src/Formats/CapnProtoRowInputStream.h
Labels: can be tested

#4813 Doc fix: added info about NULLs and NaNs order in arraySort (en, ru)
  docs/en/query_language/functions/higher_order_functions.md
  docs/ru/query_language/functions/higher_order_functions.md
Labels: documentation

#4790 Fix crash when distributed modify order by
  dbms/src/Storages/AlterCommands.cpp
  dbms/tests/queries/0_stateless/00910_crash_when_distributed_modify_order_by.reference
  dbms/tests/queries/0_stateless/00910_crash_when_distributed_modify_order_by.sql
Labels: can be tested

#4671 change supportsPrewhere() of Buffer and return its destination_table supportsPrewhere
  dbms/src/Storages/StorageBuffer.cpp
  dbms/src/Storages/StorageBuffer.h
  dbms/tests/queries/0_stateless/00910_buffer_prewhere.reference
  dbms/tests/queries/0_stateless/00910_buffer_prewhere.sql
Labels: can be tested

#4811 Avoid progress bar flicker
  dbms/programs/client/Client.cpp
Labels: usability

#4814 Doc fix: add info about syntax `LIMIT OFFSET` (en, ru)
  docs/en/query_language/select.md
  docs/ru/query_language/select.md
Labels: documentation

#4818 DOCAPI-5755: EN review and RU translation for the enable_optimize_predicate_expression setting desctiprion
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: documentation

#4782 Always backquote column names
  dbms/src/Parsers/ASTColumnDeclaration.cpp
  dbms/src/Parsers/IAST.cpp
  dbms/src/Parsers/IAST.h
  dbms/tests/queries/0_stateless/00061_merge_tree_alter.reference
  dbms/tests/queries/0_stateless/00062_replicated_merge_tree_alter_zookeeper.reference
  dbms/tests/queries/0_stateless/00080_show_tables_and_system_tables.reference
  dbms/tests/queries/0_stateless/00564_temporary_table_management.reference
  dbms/tests/queries/0_stateless/00599_create_view_with_subquery.reference
  dbms/tests/queries/0_stateless/00642_cast.reference
  dbms/tests/queries/0_stateless/00643_cast_zookeeper.reference
  dbms/tests/queries/0_stateless/00725_comment_columns.reference
  dbms/tests/queries/0_stateless/00725_ipv4_ipv6_domains.reference
  dbms/tests/queries/0_stateless/00751_default_databasename_for_view.reference
  dbms/tests/queries/0_stateless/00753_comment_columns_zookeeper.reference
  dbms/tests/queries/0_stateless/00754_alter_modify_order_by.reference
  dbms/tests/queries/0_stateless/00754_alter_modify_order_by_replicated_zookeeper.reference
  dbms/tests/queries/0_stateless/00804_test_custom_compression_codecs.reference
  dbms/tests/queries/0_stateless/00804_test_custom_compression_codes_log_storages.reference
  dbms/tests/queries/0_stateless/00836_indices_alter.reference
  dbms/tests/queries/0_stateless/00836_indices_alter_replicated_zookeeper.reference
  dbms/tests/queries/0_stateless/00902_entropy.sql
  dbms/tests/queries/0_stateless/00910_zookeeper_custom_compression_codecs_replicated.reference
  dbms/tests/queries/0_stateless/00910_zookeeper_custom_compression_codecs_replicated.sql
  dbms/tests/queries/0_stateless/00916_create_or_replace_view.reference
Labels: usability

#4834 String search restrictions added
  dbms/src/Functions/FunctionsStringSearch.cpp
  dbms/src/Functions/FunctionsStringSearch.h
  dbms/tests/queries/0_stateless/00233_position_function_family.reference
  dbms/tests/queries/0_stateless/00233_position_function_family.sql
  docs/en/query_language/functions/string_search_functions.md
  docs/ru/query_language/functions/string_search_functions.md
Labels: can be tested

#4827 Translate docs/zh/operations/table_engines/mergetree.md
  docs/en/operations/table_engines/mergetree.md
  docs/zh/operations/table_engines/mergetree.md
Labels: documentation

#4841 Added hyperscan fuzzy search
  dbms/src/Functions/FunctionsStringRegex.cpp
  dbms/src/Functions/FunctionsStringRegex.h
  dbms/src/Functions/FunctionsStringSearch.cpp
  dbms/src/Functions/FunctionsStringSearch.h
  dbms/src/Functions/FunctionsStringSimilarity.cpp
  dbms/src/Functions/FunctionsStringSimilarity.h
  dbms/src/Functions/Regexps.h
  dbms/src/Functions/registerFunctions.cpp
  dbms/tests/performance/string_search/constant_column_comparison.xml
  dbms/tests/queries/0_stateless/00929_multi_match_edit_distance.reference
  dbms/tests/queries/0_stateless/00929_multi_match_edit_distance.sql
  docs/en/query_language/functions/string_search_functions.md
  docs/ru/query_language/functions/string_search_functions.md
Labels: can be tested

#4774 Request for feedback on implementation of ASOF join
  dbms/src/Common/ColumnsHashing.h
  dbms/src/Interpreters/Join.cpp
  dbms/src/Interpreters/Join.h
  dbms/src/Parsers/ASTTablesInSelectQuery.cpp
  dbms/src/Parsers/ASTTablesInSelectQuery.h
  dbms/src/Parsers/ExpressionElementParsers.cpp
  dbms/src/Parsers/ParserTablesInSelectQuery.cpp
  dbms/src/Storages/StorageJoin.cpp
  dbms/tests/queries/0_stateless/00927_asof_join_noninclusive.reference
  dbms/tests/queries/0_stateless/00927_asof_join_noninclusive.sql
  dbms/tests/queries/0_stateless/00927_asof_joins.reference
  dbms/tests/queries/0_stateless/00927_asof_joins.sql
Labels: can be tested

#4838 Doc fix: Update info about system.columns + system.tables (en)
  docs/en/operations/system_tables.md
  docs/en/query_language/misc.md
  docs/en/query_language/select.md
Labels: documentation

#4852 Const context for insert interpreter
  dbms/src/DataStreams/InputStreamFromASTInsertQuery.cpp
  dbms/src/DataStreams/InputStreamFromASTInsertQuery.h
  dbms/src/Interpreters/InterpreterInsertQuery.cpp
  dbms/src/Interpreters/InterpreterInsertQuery.h
  dbms/src/Interpreters/executeQuery.cpp
Labels: can be tested

#4862 Optimize Volnitsky by inlining compare function
  dbms/src/Common/StringSearcher.h
  dbms/src/Functions/FunctionsStringSearch.cpp
Labels: can be tested
