Repository ClickHouse/ClickHouse, pull requests merged in 2020-11, with the labels that each got.

#16428 System replicated_fetches table
  docker/test/integration/base/Dockerfile
  src/IO/ReadWriteBufferFromHTTP.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/MergeTree/BackgroundProcessList.h
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/MergeList.h
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/ReplicatedFetchList.cpp
  src/Storages/MergeTree/ReplicatedFetchList.h
  src/Storages/System/StorageSystemReplicatedFetches.cpp
  src/Storages/System/StorageSystemReplicatedFetches.h
  src/Storages/System/attachSystemTables.cpp
  src/Storages/ya.make
  tests/integration/helpers/cluster.py
  tests/integration/helpers/network.py
  tests/integration/test_system_replicated_fetches/__init__.py
  tests/integration/test_system_replicated_fetches/test.py
Labels: doc-alert, pr-feature

#16583 Doc/multiple leaders
  docs/en/development/architecture.md
  docs/en/operations/system-tables/replicas.md
  docs/ru/development/architecture.md
  docs/ru/operations/system-tables/replicas.md
Labels: pr-documentation

#16536 Remove ANALYZE and AST queries
  programs/client/Client.cpp
  src/Core/Settings.h
  src/Interpreters/QueryParameterVisitor.cpp
  src/Interpreters/executeQuery.cpp
  src/Parsers/ASTExplainQuery.h
  src/Parsers/ParserExplainQuery.cpp
  src/Parsers/ParserExplainQuery.h
  src/Parsers/ParserQuery.cpp
  src/Parsers/ParserQuery.h
  src/Parsers/ParserQueryWithOutput.cpp
  src/Parsers/ParserQueryWithOutput.h
  tests/fuzz/ast.dict
  tests/queries/0_stateless/00597_push_down_predicate.sql
  tests/queries/0_stateless/00808_not_optimize_predicate.sql
  tests/queries/0_stateless/00826_cross_to_inner_join.sql
  tests/queries/0_stateless/00849_multiple_comma_join_2.sql
  tests/queries/0_stateless/00908_analyze_query.sql
  tests/queries/0_stateless/01021_tuple_parser.sql
  tests/queries/0_stateless/01029_early_constant_folding.sql
  tests/queries/0_stateless/01056_predicate_optimizer_bugs.sql
  tests/queries/0_stateless/01076_predicate_optimizer_with_view.sql
  tests/queries/0_stateless/01083_cross_to_inner_with_like.sql
  tests/queries/0_stateless/01259_combinator_distinct.sql
  tests/queries/0_stateless/01271_optimize_arithmetic_operations_in_aggr_func.sql
  tests/queries/0_stateless/01300_group_by_other_keys.sql
  tests/queries/0_stateless/01300_group_by_other_keys_having.sql
  tests/queries/0_stateless/01305_duplicate_order_by_and_distinct.sql
  tests/queries/0_stateless/01321_aggregate_functions_of_group_by_keys.sql
  tests/queries/0_stateless/01321_monotonous_functions_in_order_by.sql
  tests/queries/0_stateless/01322_any_input_optimize.sql
  tests/queries/0_stateless/01323_redundant_functions_in_order_by.sql
  tests/queries/0_stateless/01324_if_transform_strings_to_enum.sql
  tests/queries/0_stateless/01372_wrong_order_by_removal.sql
  tests/queries/0_stateless/01390_remove_injective_in_uniq.sql
  tests/queries/0_stateless/01455_duplicate_distinct_optimization.sql
Labels: pr-backward-incompatible

#16538 Allow fetching duplicate parts to detach
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_fetch_partition_with_outdated_parts/__init__.py
  tests/integration/test_fetch_partition_with_outdated_parts/configs/zookeeper_config.xml
  tests/integration/test_fetch_partition_with_outdated_parts/test.py
Labels: pr-improvement

#16592 Revert "Try fix IfAggCombinator with NullAggCombinator"
  src/AggregateFunctions/AggregateFunctionCount.cpp
  src/AggregateFunctions/AggregateFunctionCount.h
  src/AggregateFunctions/AggregateFunctionIf.cpp
  src/AggregateFunctions/AggregateFunctionIf.h
  src/AggregateFunctions/AggregateFunctionNull.cpp
  src/AggregateFunctions/AggregateFunctionWindowFunnel.h
  src/AggregateFunctions/IAggregateFunction.h
  tests/queries/0_stateless/01455_nullable_type_with_if_agg_combinator.reference
  tests/queries/0_stateless/01455_nullable_type_with_if_agg_combinator.sql
  tests/queries/0_stateless/01533_sum_if_nullable_bug.reference
  tests/queries/0_stateless/01533_sum_if_nullable_bug.sql
Labels: pr-not-for-changelog

#16607 Fix stupid error in test with TTL
  tests/queries/0_stateless/01493_alter_remove_properties_zookeeper.sql
Labels: pr-not-for-changelog

#16411 Remove redundant diagnostics and fixed `test_jbod_overflow`
  tests/integration/test_multiple_disks/configs/config.d/storage_configuration.xml
  tests/integration/test_multiple_disks/test.py
Labels: pr-not-for-changelog

#16531 DOCSUP-1830: Describe the system.parts_columns table
  docs/en/operations/system-tables/parts_columns.md
  docs/ru/operations/system-tables/parts_columns.md
Labels: pr-documentation

#16563 Fix query_thread_log.query_duration_ms
  src/Common/ThreadProfileEvents.h
  src/Interpreters/ThreadStatusExt.cpp
  tests/queries/0_stateless/01548_query_log_query_execution_ms.reference
  tests/queries/0_stateless/01548_query_log_query_execution_ms.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-bugfix, pr-no-backport

#16153 DOCSUP-3172: Edit and translate to Russian
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/interfaces/http.md
  docs/en/operations/utilities/clickhouse-local.md
  docs/en/sql-reference/statements/create/view.md
  docs/ru/engines/table-engines/integrations/kafka.md
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
  docs/ru/interfaces/http.md
  docs/ru/operations/utilities/clickhouse-local.md
  docs/ru/sql-reference/statements/create/view.md
Labels: pr-documentation

#16596 Add strange C++ code that actually does not change anything
  src/Common/HashTable/HashTable.h
  src/Common/HashTable/StringHashTable.h
Labels: pr-not-for-changelog

#16601 Restrict to use non-comparable types in primary key
  src/Common/ErrorCodes.cpp
  src/Core/Field.h
  src/Storages/KeyDescription.cpp
  tests/queries/0_stateless/01548_uncomparable_columns_in_keys.reference
  tests/queries/0_stateless/01548_uncomparable_columns_in_keys.sql
Labels: pr-backward-incompatible

#16606 Simplier serialization of last index column
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.h
Labels: pr-not-for-changelog

#16619 Apply SETTINGS clause earlier
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/01553_settings_early_apply.reference
  tests/queries/0_stateless/01553_settings_early_apply.sql
Labels: pr-improvement

#16598 Add a test for #5995
  tests/queries/0_stateless/01548_lzy305.reference
  tests/queries/0_stateless/01548_lzy305.sql
Labels: pr-not-for-changelog

#16599 Add a test for #5954
  tests/queries/0_stateless/01549_low_cardinality_materialized_view.reference
  tests/queries/0_stateless/01549_low_cardinality_materialized_view.sql
Labels: pr-not-for-changelog

#16602 Add a test for #7039
  tests/queries/0_stateless/01550_mutation_subquery.reference
  tests/queries/0_stateless/01550_mutation_subquery.sql
Labels: pr-not-for-changelog

#16604 Add a test for #9246
  tests/queries/0_stateless/01551_context_uaf.reference
  tests/queries/0_stateless/01551_context_uaf.sql
Labels: pr-not-for-changelog

#15938 Select final
  src/Core/Settings.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
  tests/performance/optimized_select_final.xml
  tests/queries/0_stateless/01524_do_not_merge_across_partitions_select_final.reference
  tests/queries/0_stateless/01524_do_not_merge_across_partitions_select_final.sql
Labels: can be tested, pr-performance

#16584 Better scheduling of drop table task
  src/Databases/DatabaseAtomic.cpp
  src/Databases/DatabaseAtomic.h
  src/Databases/DatabaseOnDisk.cpp
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Storages/IStorage.h
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/StorageDistributed.h
  src/Storages/StorageFile.cpp
  src/Storages/StorageFile.h
  src/Storages/StorageLog.h
  src/Storages/StorageProxy.h
  src/Storages/StorageSet.h
  src/Storages/StorageStripeLog.h
  src/Storages/StorageTinyLog.h
  tests/queries/0_stateless/01114_database_atomic.sh
  tests/queries/0_stateless/01193_metadata_loading.sh
Labels: pr-improvement

#16628 Update query_log.md
  docs/zh/operations/system-tables/query_log.md
Labels: doc-alert, pr-documentation

#16576 DOCSUP-1829: Update the system.columns table description
  docs/en/operations/system-tables/columns.md
  docs/ru/operations/system-tables/columns.md
Labels: pr-documentation

#16611 Added Teralytics to adopters.md
  docs/en/introduction/adopters.md
Labels: pr-documentation

#16614 Add a test for #1148
  tests/queries/0_stateless/01552_dict_fixedstring.reference
  tests/queries/0_stateless/01552_dict_fixedstring.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-not-for-changelog

#16612 Fix possible name collision in calculation of DEFAULT expression.
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/AlterCommands.cpp
  tests/queries/0_stateless/01093_cyclic_defaults_filimonov.sql
  tests/queries/0_stateless/01552_alter_name_collision.reference
  tests/queries/0_stateless/01552_alter_name_collision.sql
Labels: pr-bugfix, pr-no-backport

#16594 Query parameter type : Identifier
  src/Interpreters/ReplaceQueryParameterVisitor.cpp
  src/Interpreters/ReplaceQueryParameterVisitor.h
  src/Parsers/ASTIdentifier.cpp
  src/Parsers/ASTIdentifier.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/ExpressionElementParsers.h
  src/Parsers/ParserTablesInSelectQuery.cpp
  tests/queries/0_stateless/01550_query_identifier_parameters.reference
  tests/queries/0_stateless/01550_query_identifier_parameters.sh
Labels: doc-alert, pr-feature

#16560 Fix test_input_format_parallel_parsing_memory_tracking flackiness
  src/Interpreters/AsynchronousMetrics.cpp
  tests/integration/test_input_format_parallel_parsing_memory_tracking/configs/asynchronous_metrics_update_period_s.xml
  tests/integration/test_input_format_parallel_parsing_memory_tracking/test.py
Labels: pr-not-for-changelog

#16557 Fix make_changelog.py
  utils/make_changelog.py
Labels: pr-not-for-changelog

#16529 Add log_queries_min_query_duration_ms
  docs/en/operations/settings/settings.md
  src/Common/ThreadStatus.h
  src/Core/Settings.h
  src/Interpreters/ThreadStatusExt.cpp
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/01546_log_queries_min_query_duration_ms.reference
  tests/queries/0_stateless/01546_log_queries_min_query_duration_ms.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: doc-alert, pr-feature

#16262 Try to parse DataType arguments as another nested type
  src/Parsers/ParserDataType.cpp
  tests/queries/0_stateless/01307_bloom_filter_index_string_multi_granulas.sql
  tests/queries/0_stateless/01532_tuple_with_name_type.reference
  tests/queries/0_stateless/01532_tuple_with_name_type.sql
Labels: pr-improvement

#16634 Remove redundant check
  src/Interpreters/executeQuery.cpp
Labels: pr-not-for-changelog

#16651 Russian doc for ssd_cache complex_key_ssd_cache
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
Labels: pr-documentation

#16650 Russian doc for toUUIDOrNull toUUIDOrZero.
  docs/ru/sql-reference/functions/uuid-functions.md
Labels: pr-documentation

#16649 DOCSUP-3850: Document the string literal support in INTERVAL operator
  docs/en/sql-reference/operators/index.md
Labels: pr-documentation

#16647 DOCSUP-3535: Documented the reinterpretAsUUID function
  docs/en/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation

#16646 DOCSUP-3849: Document the max_concurrent_queries_for_all_users setting
  docs/en/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#16644 Provide row number when "Cannot read all data" during parsing input
  src/Processors/Formats/IRowInputFormat.cpp
  src/Processors/Formats/IRowInputFormat.h
  tests/queries/0_stateless/01554_row_number_after_cannot_read_all_data.reference
  tests/queries/0_stateless/01554_row_number_after_cannot_read_all_data.sh
Labels: pr-improvement

#16643 Improve performance of quantileMerge
  src/AggregateFunctions/ReservoirSampler.h
  tests/performance/quantile_merge.xml
Labels: pr-performance

#16638 [RFC] Do not pass StoragePtr to ReadInOrderOptimizer::getInputOrder()
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Storages/ReadInOrderOptimizer.cpp
  src/Storages/ReadInOrderOptimizer.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMerge.cpp
Labels: pr-not-for-changelog

#16630 better change the config
  src/Interpreters/Context.cpp
  tests/integration/test_reload_zookeeper/test.py
Labels: pr-improvement

#16617 Removed an incorrect check from Field::get().
  src/Core/Field.h
  src/Interpreters/AsynchronousMetricLog.h
  src/Interpreters/MetricLog.h
  src/Interpreters/OpenTelemetrySpanLog.h
  src/Interpreters/QueryLog.h
  src/Interpreters/QueryThreadLog.h
  src/Interpreters/TextLog.h
  src/Interpreters/TraceLog.h
Labels: pr-improvement

#16589 Allow parameterized functions in APPLY
  src/Parsers/ASTColumnsTransformers.cpp
  src/Parsers/ASTColumnsTransformers.h
  src/Parsers/ExpressionElementParsers.cpp
  tests/queries/0_stateless/01470_columns_transformers.reference
  tests/queries/0_stateless/01470_columns_transformers.sql
Labels: pr-improvement

#16575 Allow WITH subqueries to take effect immediately
  src/Interpreters/ApplyWithSubqueryVisitor.cpp
  tests/queries/0_stateless/01495_subqueries_in_with_statement.reference
  tests/queries/0_stateless/01495_subqueries_in_with_statement.sql
Labels: pr-improvement

#16534 DOCSUP-3043: Documented the null function
  docs/en/sql-reference/table-functions/null.md
Labels: pr-documentation

#16656 Added performance results from Huawei
  website/benchmark/hardware/index.html
  website/benchmark/hardware/results/huawei_taishan_2280_3.json
Labels: pr-documentation

#16515 DOCSUP-2962: one more field metric log
  docs/en/operations/system-tables/asynchronous_metric_log.md
  docs/en/operations/system-tables/metric_log.md
  docs/ru/operations/system-tables/asynchronous_metric_log.md
  docs/ru/operations/system-tables/metric_log.md
Labels: can be tested, pr-documentation

#16438 Add errorCodeToName() and system.errors
  docker/test/fasttest/run.sh
  docs/en/operations/system-tables/errors.md
  docs/en/sql-reference/functions/other-functions.md
  src/Common/ErrorCodes.cpp
  src/Common/ErrorCodes.h
  src/Common/Exception.cpp
  src/Functions/errorCodeToName.cpp
  src/Functions/registerFunctionsMiscellaneous.cpp
  src/Functions/ya.make
  src/Storages/System/StorageSystemErrors.cpp
  src/Storages/System/StorageSystemErrors.h
  src/Storages/System/attachSystemTables.cpp
  src/Storages/ya.make
  tests/queries/0_stateless/01339_client_unrecognized_option.sh
  tests/queries/0_stateless/01544_errorCodeToName.reference
  tests/queries/0_stateless/01544_errorCodeToName.sql
  tests/queries/0_stateless/01545_system_errors.reference
  tests/queries/0_stateless/01545_system_errors.sh
Labels: doc-alert, pr-feature

#16659 Fix typo
  src/Core/Settings.h
Labels: pr-not-for-changelog

#16663 Update clickhouse-copier.md
  docs/en/operations/utilities/clickhouse-copier.md
Labels: pr-documentation

#16662 Remove obsolete code from JOIN
  src/Interpreters/TableJoin.cpp
Labels: pr-not-for-changelog

#16670 Remove some garbage from docs
  docker/test/stress/README.md
  docker/test/stress/stress
  docs/en/development/tests.md
  docs/es/development/tests.md
  docs/fa/development/tests.md
  docs/fr/development/tests.md
  docs/ja/development/tests.md
  docs/tr/development/tests.md
  docs/zh/development/tests.md
Labels: pr-documentation

#16665 Add a test for #8772
  tests/performance/group_by_sundy_li.xml
Labels: pr-not-for-changelog

#16462 DOCSUP-3173 Edit and translate to Russian
  docs/en/sql-reference/aggregate-functions/reference/quantileexact.md
  docs/ru/sql-reference/aggregate-functions/reference/index.md
  docs/ru/sql-reference/aggregate-functions/reference/quantileexact.md
  docs/ru/sql-reference/functions/other-functions.md
Labels: pr-documentation

#16661 Optimize -OrNull and -OrDefault aggregate functions by providing specializations
  src/AggregateFunctions/AggregateFunctionOrFill.h
  tests/performance/or_null_default.xml
  tests/queries/0_stateless/01555_or_fill.reference
  tests/queries/0_stateless/01555_or_fill.sql
Labels: pr-performance

#16672 Remove T-Tests
  src/AggregateFunctions/AggregateFunctionStudentTTest.cpp
  src/AggregateFunctions/AggregateFunctionStudentTTest.h
  src/AggregateFunctions/AggregateFunctionWelchTTest.cpp
  src/AggregateFunctions/AggregateFunctionWelchTTest.h
  src/AggregateFunctions/registerAggregateFunctions.cpp
  src/AggregateFunctions/registerAggregateFunctions.h
  src/AggregateFunctions/ya.make
  tests/queries/0_stateless/01322_student_ttest.sql
  tests/queries/0_stateless/01322_ttest_scipy.python
  tests/queries/0_stateless/01322_ttest_scipy.sh
  tests/queries/0_stateless/01322_welch_ttest.sql
Labels: pr-must-backport, pr-not-for-changelog

#16671 Fix inconsistent code around H3
  src/Functions/CMakeLists.txt
  src/Functions/geoToH3.cpp
  src/Functions/h3EdgeAngle.cpp
  src/Functions/h3EdgeLengthM.cpp
  src/Functions/h3GetBaseCell.cpp
  src/Functions/h3GetResolution.cpp
  src/Functions/h3HexAreaM2.cpp
  src/Functions/h3IndexesAreNeighbors.cpp
  src/Functions/h3IsValid.cpp
  src/Functions/h3ToChildren.cpp
  src/Functions/h3ToParent.cpp
  src/Functions/h3ToString.cpp
  src/Functions/h3kRing.cpp
  src/Functions/stringToH3.cpp
Labels: pr-not-for-changelog

#16668 more tests for CTE #16575
  tests/queries/0_stateless/01495_subqueries_in_with_statement_2.reference
  tests/queries/0_stateless/01495_subqueries_in_with_statement_2.sql
  tests/queries/0_stateless/01495_subqueries_in_with_statement_3.reference
  tests/queries/0_stateless/01495_subqueries_in_with_statement_3.sql
Labels: pr-not-for-changelog

#16660 Minor modification: less templates
  src/AggregateFunctions/AggregateFunctionOrFill.cpp
Labels: pr-not-for-changelog

#16486 Replace duplicate development config files with symlinks.
  docker/packager/binary/build.sh
  docker/test/fuzzer/run-fuzzer.sh
  programs/server/config.d/macros.xml
  programs/server/config.d/metric_log.xml
  programs/server/config.d/part_log.xml
  programs/server/config.d/query_masking_rules.xml
  programs/server/config.d/text_log.xml
  programs/server/config.d/zookeeper.xml
  programs/server/users.d/access_management.xml
  programs/server/users.d/log_queries.xml
  programs/server/users.d/readonly.xml
Labels: pr-not-for-changelog

#16308 Incorrect behaviour of SELECT WITH TOTALS
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/ActionsVisitor.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/InterpreterSelectQuery.cpp
  tests/queries/0_stateless/01532_having_with_totals.reference
  tests/queries/0_stateless/01532_having_with_totals.sql
Labels: pr-bugfix

#16673 Add a test for #16231
  tests/queries/0_stateless/01556_if_null.reference
  tests/queries/0_stateless/01556_if_null.sql
Labels: pr-not-for-changelog

#16675 Fix 'max_parallel_replicas' without sampling.
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01557_max_parallel_replicas_no_sample.reference
  tests/queries/0_stateless/01557_max_parallel_replicas_no_sample.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-bugfix, pr-no-backport

#16658 Fix flaky tests after "max_memory_usage_for_user"
  tests/queries/0_stateless/01541_max_memory_usage_for_user.sh
Labels: pr-not-for-changelog

#16635 Fix possible modification of global context in DDLWorker
  src/Interpreters/DDLWorker.h
Labels: pr-backward-incompatible

#16570 Add farmFingerprint64 function
  docs/en/sql-reference/functions/hash-functions.md
  src/Functions/FunctionsHashing.cpp
  src/Functions/FunctionsHashing.h
  tests/queries/0_stateless/00751_hashing_ints.reference
  tests/queries/0_stateless/00751_hashing_ints.sql
Labels: can be tested, doc-alert, pr-feature

#16687 Hrissan/dev instructions gcc 9 to gcc 10
  docs/en/development/build.md
  docs/en/development/developer-instruction.md
  docs/es/development/build.md
  docs/es/development/developer-instruction.md
  docs/fa/development/build.md
  docs/fa/development/developer-instruction.md
  docs/fr/development/build.md
  docs/fr/development/developer-instruction.md
  docs/ja/development/build.md
  docs/ja/development/developer-instruction.md
  docs/ru/development/developer-instruction.md
  docs/tr/development/build.md
  docs/tr/development/developer-instruction.md
  docs/zh/development/build.md
  docs/zh/development/developer-instruction.md
Labels: can be tested, pr-documentation

#16631 fix bug in minMap and maxMap with zero values
  src/AggregateFunctions/AggregateFunctionSumMap.h
  tests/queries/0_stateless/01280_min_map_max_map.reference
  tests/queries/0_stateless/01280_min_map_max_map.sql
Labels: pr-improvement

#16642 BloomFilter index added big integers and UUID support
  src/Interpreters/BloomFilterHash.h
  src/Interpreters/convertFieldToType.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  tests/queries/0_stateless/01554_bloom_filter_index_big_integer_uuid.reference
  tests/queries/0_stateless/01554_bloom_filter_index_big_integer_uuid.sql
Labels: can be tested, doc-alert, pr-feature

#16700 Improve Arcadia
  base/common/ya.make
  src/Access/ya.make
  src/AggregateFunctions/ya.make
  src/Columns/ya.make
  src/Columns/ya.make.in
  src/Common/ya.make
  src/Compression/ya.make
  src/Core/ya.make
  src/DataStreams/ya.make
  src/DataTypes/ya.make
  src/Databases/ya.make
  src/Dictionaries/ya.make
  src/Disks/ya.make
  src/Functions/ya.make
  src/IO/ya.make
  src/Interpreters/ya.make
  src/Parsers/ya.make
  src/Processors/ya.make
  src/Storages/ya.make
  src/TableFunctions/ya.make
  utils/generate-ya-make/generate-ya-make.sh
Labels: pr-build

#16714 Fix "format-changelog.py" for Python3
  utils/simple-backport/format-changelog.py
Labels: pr-documentation

#16713 fix: fix typo in array functions documentation
  docs/en/sql-reference/functions/array-functions.md
Labels: pr-documentation

#16720 Changelog for 20.10
  CHANGELOG.md
Labels: pr-documentation

#16712 Doc. BloomF index does not support like. Tokenbf_v1 supports like
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation

#15983 Replace BackgroundProcessingPool with SchedulePool task and ThreadPool.
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Storages/IStorage.h
  src/Storages/MergeTree/BackgroundJobsExecutor.cpp
  src/Storages/MergeTree/BackgroundJobsExecutor.h
  src/Storages/MergeTree/BackgroundProcessingPool.cpp
  src/Storages/MergeTree/BackgroundProcessingPool.h
  src/Storages/MergeTree/MergeTreeBlockOutputStream.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  src/Storages/tests/gtest_background_executor.cpp
  src/Storages/ya.make
  tests/performance/insert_sequential_and_background_merges.xml
Labels: pr-improvement

#16677 Fix UBSan report when trying to convert infinite floating point number to integer
  src/Common/FieldVisitors.h
  tests/queries/0_stateless/01557_field_infinite_convert_to_number.reference
  tests/queries/0_stateless/01557_field_infinite_convert_to_number.sql
Labels: pr-build

#16657 Allow reinterpret between integers and floats of the same size
  src/Functions/registerFunctionsReinterpret.cpp
  src/Functions/reinterpretAs.cpp
  src/Functions/ya.make
  tests/queries/0_stateless/01554_interpreter_integer_float.reference
  tests/queries/0_stateless/01554_interpreter_integer_float.sql
Labels: pr-improvement

#16620 Upload perf test results to the CI database
  docker/test/performance-comparison/compare.sh
  docker/test/performance-comparison/config/client_config.xml
  docker/test/performance-comparison/entrypoint.sh
Labels: pr-not-for-changelog

#16730 DOCSUP-3849: Document the max_concurrent_queries_for_all_users setting
  docs/ru/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#16729 Remove empty directories for async INSERT at start of Distributed engine
  src/Storages/Distributed/DirectoryMonitor.cpp
  src/Storages/Distributed/DirectoryMonitor.h
  src/Storages/StorageDistributed.cpp
Labels: pr-improvement

#16722 Fix transform_null_in with sets of tuples
  src/Interpreters/NullableUtils.cpp
  src/Interpreters/NullableUtils.h
  src/Interpreters/Set.cpp
  src/Interpreters/Set.h
  tests/queries/0_stateless/01558_transform_null_in.reference
  tests/queries/0_stateless/01558_transform_null_in.sql
Labels: pr-bugfix

#16719 RBAC Testflows - Server log intrumentation for debug and new ALTER tests
  docker/test/testflows/runner/Dockerfile
  tests/testflows/rbac/helper/common.py
  tests/testflows/rbac/requirements/requirements.md
  tests/testflows/rbac/requirements/requirements.py
  tests/testflows/rbac/tests/errors.py
  tests/testflows/rbac/tests/privileges/alter/alter_column.py
  tests/testflows/rbac/tests/privileges/alter/alter_constraint.py
  tests/testflows/rbac/tests/privileges/alter/alter_delete.py
  tests/testflows/rbac/tests/privileges/alter/alter_fetch.py
  tests/testflows/rbac/tests/privileges/alter/alter_freeze.py
  tests/testflows/rbac/tests/privileges/alter/alter_index.py
  tests/testflows/rbac/tests/privileges/alter/alter_move.py
  tests/testflows/rbac/tests/privileges/alter/alter_settings.py
  tests/testflows/rbac/tests/privileges/alter/alter_ttl.py
  tests/testflows/rbac/tests/privileges/alter/alter_update.py
  tests/testflows/rbac/tests/privileges/distributed_table.py
  tests/testflows/rbac/tests/privileges/grant_option.py
  tests/testflows/rbac/tests/privileges/insert.py
  tests/testflows/rbac/tests/privileges/public_tables.py
  tests/testflows/rbac/tests/privileges/select.py
  tests/testflows/rbac/tests/privileges/show_tables.py
  tests/testflows/rbac/tests/views/live_view.py
  tests/testflows/rbac/tests/views/materialized_view.py
  tests/testflows/rbac/tests/views/view.py
Labels: altinity, can be tested, pr-build

#16731 DOCSUP-3850: Document the string literal support in INTERVAL operator
  docs/ru/sql-reference/operators/index.md
Labels: pr-documentation

#16579 DOCSUP-3227: Documented the persistent setting
  docs/en/engines/table-engines/special/join.md
  docs/en/engines/table-engines/special/set.md
  docs/en/operations/settings/settings.md
  docs/ru/engines/table-engines/special/join.md
  docs/ru/engines/table-engines/special/set.md
  docs/ru/operations/settings/settings.md
Labels: can be tested, pr-documentation

#16613 Fix fuzzer found error (with totals)
  src/Processors/Transforms/TotalsHavingTransform.cpp
  tests/queries/0_stateless/01472_many_rows_in_totals.reference
  tests/queries/0_stateless/01472_many_rows_in_totals.sql
  tests/queries/0_stateless/01548_with_totals_having.reference
  tests/queries/0_stateless/01548_with_totals_having.sql
Labels: pr-bugfix

#16637 Fix spreading for ReadInOrderOptimizer with expression in ORDER BY
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01551_mergetree_read_in_order_spread.reference
  tests/queries/0_stateless/01551_mergetree_read_in_order_spread.sql
Labels: pr-bugfix

#16252 Support SNI in https connections to remote resources
  src/IO/HTTPCommon.cpp
  src/IO/HTTPCommon.h
  src/IO/ReadWriteBufferFromHTTP.cpp
  src/IO/ya.make
Labels: pr-improvement

#16703 Fix 01526_client_start_and_exit.sh
  tests/queries/0_stateless/01304_direct_io.sh
  tests/queries/shell_config.sh
Labels: pr-not-for-changelog

#16273 Support collate in LowCardinality, Nullable, Array and Tuple, where nested type is String
  docker/test/fasttest/run.sh
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnArray.h
  src/Columns/ColumnConst.h
  src/Columns/ColumnLowCardinality.cpp
  src/Columns/ColumnLowCardinality.h
  src/Columns/ColumnNullable.cpp
  src/Columns/ColumnNullable.h
  src/Columns/ColumnString.cpp
  src/Columns/ColumnString.h
  src/Columns/ColumnTuple.cpp
  src/Columns/ColumnTuple.h
  src/Columns/IColumn.h
  src/Core/SortCursor.h
  src/Interpreters/sortBlock.cpp
  tests/queries/0_stateless/01532_collate_in_low_cardinality.reference
  tests/queries/0_stateless/01532_collate_in_low_cardinality.sql
  tests/queries/0_stateless/01533_collate_in_nullable.reference
  tests/queries/0_stateless/01533_collate_in_nullable.sql
  tests/queries/0_stateless/01542_collate_in_array.reference
  tests/queries/0_stateless/01542_collate_in_array.sql
  tests/queries/0_stateless/01543_collate_in_tuple.reference
  tests/queries/0_stateless/01543_collate_in_tuple.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: doc-alert, pr-feature

#16773 Enabling existing testflows RBAC tests.
  tests/testflows/rbac/regression.py
  tests/testflows/rbac/tests/privileges/feature.py
Labels: pr-build

#16771 Simplified code
  src/IO/ReadBufferFromPocoSocket.cpp
Labels: pr-not-for-changelog

#16766 LOGICAL_ERROR was mistakenly used for some ErrorCodes
  src/Interpreters/Context.cpp
Labels: pr-not-for-changelog

#16764 Do not instrument 3rd-party libraries with UBSan
  contrib/CMakeLists.txt
Labels: pr-build, submodule changed

#16763 Fix bad code in SmallObjectPool
  src/Common/SmallObjectPool.h
  src/Dictionaries/ComplexKeyCacheDictionary.h
Labels: pr-build

#16762 Test for the issue #12615
  tests/integration/test_storage_kafka/clickhouse_path/format_schemas/social.proto
  tests/integration/test_storage_kafka/social_pb2.py
  tests/integration/test_storage_kafka/test.py
Labels: pr-not-for-changelog

#16757 Get rid of possible memory allocation in ThreadPool::worker(...)
  src/Common/ThreadPool.cpp
Labels: pr-bugfix

#16727 Mask password in data_path in the system.distribution_queue
  programs/server/config.d/test_cluster_with_incorrect_pw.xml
  src/Storages/System/StorageSystemDistributionQueue.cpp
  tests/config/config.d/test_cluster_with_incorrect_pw.xml
  tests/config/install.sh
  tests/queries/0_stateless/01555_system_distribution_queue_mask.reference
  tests/queries/0_stateless/01555_system_distribution_queue_mask.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-bugfix

#16728 Enable use_compact_format_in_distributed_parts_names by default
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  tests/integration/test_distributed_format/test.py
  tests/integration/test_distributed_storage_configuration/test.py
Labels: pr-backward-incompatible

#16586 CreateQuery nested type column formatting fix
  src/Parsers/ASTColumnDeclaration.cpp
  tests/queries/0_stateless/01458_named_tuple_millin.reference
  tests/queries/0_stateless/01458_named_tuple_millin.sql
  tests/queries/0_stateless/01548_create_table_compound_column_format.reference
  tests/queries/0_stateless/01548_create_table_compound_column_format.sh
Labels: can be tested, pr-not-for-changelog

#16786 Inconvenient navigation
  docs/ru/engines/table-engines/special/buffer.md
Labels: can be tested, pr-documentation

#16496 Fix inconsistency in FormatFactory
  programs/CMakeLists.txt
  programs/client/Client.cpp
  programs/copier/ClusterCopierApp.cpp
  programs/local/LocalServer.cpp
  programs/obfuscator/Obfuscator.cpp
  programs/odbc-bridge/CMakeLists.txt
  programs/odbc-bridge/ODBCBridge.cpp
  programs/odbc-bridge/tests/CMakeLists.txt
  programs/server/Server.cpp
  src/Common/tests/gtest_global_register.h
  src/Common/tests/gtest_global_register_functions.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/registerFormats.cpp
  src/Formats/registerFormats.h
  src/Formats/ya.make
  src/Functions/tests/gtest_abtesting.cpp
  src/Interpreters/MySQL/tests/gtest_create_rewritten.cpp
  src/Storages/tests/gtest_storage_log.cpp
  src/Storages/tests/gtest_transform_query_for_external_database.cpp
Labels: pr-not-for-changelog

#16768 Better diagnostics on syntax error in CREATE TABLE query
  src/Parsers/ParserCreateQuery.h
  tests/queries/0_stateless/01559_misplaced_codec_diagnostics.reference
  tests/queries/0_stateless/01559_misplaced_codec_diagnostics.sh
Labels: pr-improvement

#16253 Prune partition in verbatim way.
  src/Interpreters/ExpressionActions.h
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/KeyCondition.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/PartitionPruner.cpp
  src/Storages/MergeTree/PartitionPruner.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/ya.make
  tests/queries/0_stateless/01540_verbatim_partition_pruning.reference
  tests/queries/0_stateless/01540_verbatim_partition_pruning.sql
Labels: pr-performance

#16110 DOCSUP-3123: Edited the ReplicatedMergeTree and Polygon dictionaries
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-polygon.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-polygon.md
Labels: can be tested, pr-documentation

#16788 Apply use_compact_format_in_distributed_parts_names for each INSERT (with internal_replication)
  src/Interpreters/Cluster.cpp
  src/Interpreters/Cluster.h
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
  tests/queries/0_stateless/01555_system_distribution_queue_mask.reference
  tests/queries/0_stateless/01555_system_distribution_queue_mask.sql
Labels: pr-improvement

#15960 Clickhouse client added history file parameter
  docs/en/interfaces/cli.md
  programs/client/Client.cpp
Labels: can be tested, doc-alert, pr-feature

#16770 DOCSUP-3570: Update the ORDER-BY
  docs/en/sql-reference/statements/select/order-by.md
  docs/ru/sql-reference/statements/select/order-by.md
Labels: pr-documentation

#16704 sync MySQL DDL atomicly
  src/Databases/MySQL/MaterializeMySQLSyncThread.cpp
  src/Databases/MySQL/MaterializeMySQLSyncThread.h
Labels: can be tested, pr-improvement

#16591 Support `SETTINGS` clause for File engine
  src/Core/Settings.cpp
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/FormatSettings.h
  src/Formats/tests/tab_separated_streams.cpp
  src/Processors/Formats/IRowInputFormat.cpp
  src/Processors/Formats/IRowInputFormat.h
  src/Processors/Formats/IRowOutputFormat.h
  src/Processors/Formats/Impl/ProtobufRowOutputFormat.cpp
  src/Processors/Formats/Impl/ProtobufRowOutputFormat.h
  src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  src/Storages/Kafka/KafkaBlockOutputStream.cpp
  src/Storages/RabbitMQ/RabbitMQBlockOutputStream.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageFile.h
  src/Storages/StorageURL.cpp
  src/Storages/StorageURL.h
  src/Storages/StorageXDBC.cpp
  src/TableFunctions/TableFunctionFile.cpp
  src/TableFunctions/TableFunctionURL.cpp
  tests/queries/0_stateless/01544_file_engine_settings.reference
  tests/queries/0_stateless/01544_file_engine_settings.sh
  tests/queries/0_stateless/01545_url_file_format_settings.reference
  tests/queries/0_stateless/01545_url_file_format_settings.sql
Labels: pr-improvement

#14977 Fix indexOf() to use BloomFilter
  src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.h
  tests/performance/bloom_filter_insert.xml
  tests/performance/bloom_filter_select.xml
  tests/queries/0_stateless/00945_bloom_filter_index.reference
  tests/queries/0_stateless/00945_bloom_filter_index.sql
Labels: pr-improvement

#15511 ALTER TABLE ... DROP|DETACH PART
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Parsers/ASTAlterQuery.cpp
  src/Parsers/ParserAlterQuery.cpp
  src/Storages/IStorage.cpp
  src/Storages/IStorage.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/PartitionCommands.cpp
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMaterializedView.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageProxy.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/01451_detach_drop_part.reference
  tests/queries/0_stateless/01451_detach_drop_part.sql
  tests/queries/0_stateless/01451_replicated_detach_drop_and_quorum.reference
  tests/queries/0_stateless/01451_replicated_detach_drop_and_quorum.sql
  tests/queries/0_stateless/01451_replicated_detach_drop_part.reference
  tests/queries/0_stateless/01451_replicated_detach_drop_part.sql
Labels: doc-alert, pr-feature

#16822 Create adding_test_queries.md
  docs/en/development/adding_test_queries.md
Labels: pr-documentation

#16040 DateTime comparison with date string literal
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/data-types/date.md
  src/IO/ReadHelpers.cpp
  src/IO/ReadHelpers.h
  tests/queries/0_stateless/01523_date_time_compare_with_date_literal.reference
  tests/queries/0_stateless/01523_date_time_compare_with_date_literal.sql
Labels: can be tested, doc-alert, force tests, pr-feature

#16829 Fix stress test script
  docker/test/stress/stress
Labels: pr-not-for-changelog

#13403 `ALTER UPDATE/DELETE ... IN PARTITION` with partition pruning in `ReplicatedMergeTree`
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/MutationsInterpreter.h
  src/Parsers/ASTAlterQuery.cpp
  src/Parsers/ASTAlterQuery.h
  src/Parsers/ExpressionListParsers.cpp
  src/Parsers/ExpressionListParsers.h
  src/Parsers/ParserAlterQuery.cpp
  src/Parsers/ParserAlterQuery.h
  src/Storages/MergeTree/BoolMask.h
  src/Storages/MergeTree/EphemeralLockInZooKeeper.cpp
  src/Storages/MergeTree/EphemeralLockInZooKeeper.h
  src/Storages/MergeTree/ReplicatedMergeTreeMutationEntry.h
  src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  src/Storages/MutationCommands.cpp
  src/Storages/MutationCommands.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_mutations_in_partitions_of_merge_tree/__init__.py
  tests/integration/test_mutations_in_partitions_of_merge_tree/configs/cluster.xml
  tests/integration/test_mutations_in_partitions_of_merge_tree/configs/logs_config.xml
  tests/integration/test_mutations_in_partitions_of_merge_tree/test.py
Labels: altinity, doc-alert, pr-feature

#16818 Try to fix ci
  src/Core/Settings.h
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: force tests, pr-not-for-changelog

#16795 DOCSUP-3043: Document the null function (ru)
  docs/en/sql-reference/table-functions/null.md
  docs/ru/sql-reference/table-functions/null.md
Labels: pr-documentation

#14936 Storage read query plan (Continuation)
  src/Interpreters/ClusterProxy/IStreamFactory.h
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Interpreters/ClusterProxy/SelectStreamFactory.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/ClusterProxy/executeQuery.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Processors/QueryPipeline.cpp
  src/Processors/QueryPipeline.h
  src/Processors/QueryPlan/AddingConstColumnStep.cpp
  src/Processors/QueryPlan/AddingConstColumnStep.h
  src/Processors/QueryPlan/AddingMissedStep.cpp
  src/Processors/QueryPlan/AddingMissedStep.h
  src/Processors/QueryPlan/ISourceStep.cpp
  src/Processors/QueryPlan/ISourceStep.h
  src/Processors/QueryPlan/MaterializingStep.cpp
  src/Processors/QueryPlan/MaterializingStep.h
  src/Processors/QueryPlan/MergingFinal.cpp
  src/Processors/QueryPlan/MergingFinal.h
  src/Processors/QueryPlan/QueryPlan.cpp
  src/Processors/QueryPlan/QueryPlan.h
  src/Processors/QueryPlan/ReadFromPreparedSource.cpp
  src/Processors/QueryPlan/ReadFromPreparedSource.h
  src/Processors/QueryPlan/ReadFromStorageStep.cpp
  src/Processors/QueryPlan/ReadFromStorageStep.h
  src/Processors/QueryPlan/ReverseRowsStep.cpp
  src/Processors/QueryPlan/ReverseRowsStep.h
  src/Processors/QueryPlan/SettingQuotaAndLimitsStep.cpp
  src/Processors/QueryPlan/SettingQuotaAndLimitsStep.h
  src/Processors/QueryPlan/UnionStep.cpp
  src/Processors/QueryPlan/UnionStep.h
  src/Processors/Transforms/AddingConstColumnTransform.h
  src/Processors/ya.make
  src/Storages/IStorage.cpp
  src/Storages/IStorage.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageBuffer.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMaterializedView.h
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  src/Storages/StorageView.cpp
  src/Storages/StorageView.h
  tests/performance/push_down_limit.xml
  tests/queries/0_stateless/00184_shard_distributed_group_by_no_merge.sql
  tests/queries/0_stateless/01508_explain_header.reference
  tests/queries/0_stateless/01551_mergetree_read_in_order_spread.reference
Labels: pr-improvement

#16828 Make member function const to prevent -readability-make-member-function-const
  src/Interpreters/TreeRewriter.cpp
Labels: pr-not-for-changelog

#16815 Set sane default value for metric_log's collect inverval
  src/Interpreters/SystemLog.cpp
Labels: pr-improvement

#16627 reload auxiliary zookeepers configuration
  programs/server/Server.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  tests/integration/test_reload_auxiliary_zookeepers/__init__.py
  tests/integration/test_reload_auxiliary_zookeepers/configs/config.xml
  tests/integration/test_reload_auxiliary_zookeepers/configs/users.xml
  tests/integration/test_reload_auxiliary_zookeepers/configs/zookeeper.xml
  tests/integration/test_reload_auxiliary_zookeepers/test.py
Labels: pr-improvement

#16840 Abort multipart upload if no data was written to WriteBufferFromS3
  src/IO/WriteBufferFromS3.cpp
  tests/integration/test_storage_s3/test.py
Labels: pr-bugfix

#16844 Try fix ci.
  src/AggregateFunctions/QuantileExact.h
  src/AggregateFunctions/QuantileTiming.h
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnDecimal.cpp
  src/Columns/ColumnDecimal.h
  src/Columns/ColumnFixedString.cpp
  src/Columns/ColumnLowCardinality.cpp
  src/Columns/ColumnString.cpp
  src/Columns/ColumnTuple.cpp
  src/Columns/ColumnVector.cpp
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-not-for-changelog

#16863 fix mis-spellings
  docs/zh/engines/table-engines/log-family/index.md
Labels: doc-alert, pr-documentation

#16864 engine name should not be translated.
  docs/zh/engines/table-engines/log-family/log.md
Labels: doc-alert, pr-documentation

#16858 Update docs/zh/operations/tips.md to make it more human readable
  docs/zh/operations/tips.md
Labels: pr-documentation

#16904 Add changelog for 20.11
  CHANGELOG.md
Labels: pr-documentation

#16905 Add more known ClickHouse adopters
  docs/en/introduction/adopters.md
Labels: can be tested, pr-documentation

#16908 Try fix fasttest submodule clone
  docker/test/fasttest/run.sh
Labels: pr-build

#16843 Add --stage option for clickhouse-client
  programs/benchmark/Benchmark.cpp
  programs/client/Client.cpp
  src/Core/QueryProcessingStage.cpp
  src/Core/QueryProcessingStage.h
  src/Core/ya.make
  tests/queries/0_stateless/01561_clickhouse_client_stage.reference
  tests/queries/0_stateless/01561_clickhouse_client_stage.sh
Labels: pr-not-for-changelog

#16906 Update build-osx.md
  docs/zh/development/build-osx.md
Labels: pr-documentation

#16875 Avoid code duplication in alterPartition
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-not-for-changelog

#16921 Try to fix ci
  src/IO/LZMADeflatingWriteBuffer.cpp
  src/IO/LZMADeflatingWriteBuffer.h
  src/IO/LZMAInflatingReadBuffer.cpp
  src/IO/LZMAInflatingReadBuffer.h
Labels: pr-not-for-changelog

#16901 Remove timeSeriesGroupRateSum from docs
  docs/en/sql-reference/aggregate-functions/reference/index.md
  docs/en/sql-reference/aggregate-functions/reference/timeseriesgroupratesum.md
  docs/en/sql-reference/aggregate-functions/reference/timeseriesgroupsum.md
  docs/es/sql-reference/aggregate-functions/reference.md
  docs/fa/sql-reference/aggregate-functions/reference.md
  docs/fr/sql-reference/aggregate-functions/reference.md
  docs/ja/sql-reference/aggregate-functions/reference.md
  docs/ru/sql-reference/aggregate-functions/reference/index.md
  docs/ru/sql-reference/aggregate-functions/reference/timeseriesgroupratesum.md
  docs/ru/sql-reference/aggregate-functions/reference/timeseriesgroupsum.md
  docs/tr/sql-reference/aggregate-functions/reference.md
  docs/zh/sql-reference/aggregate-functions/reference.md
Labels: pr-documentation

#16859 Fix build err
  utils/db-generator/query_db_generator.cpp
Labels: can be tested, pr-bugfix

#16834 Try to treat input values as enum id in tsv/scv
  src/DataTypes/DataTypeEnum.cpp
  src/DataTypes/DataTypeEnum.h
  tests/queries/0_stateless/01558_enum_as_num_in_tsv_csv_input.reference
  tests/queries/0_stateless/01558_enum_as_num_in_tsv_csv_input.sql
Labels: doc-alert, pr-feature

#16774 fix Aggregation Function not found error after #16123
  src/AggregateFunctions/AggregateFunctionFactory.cpp
  src/AggregateFunctions/AggregateFunctionFactory.h
  tests/queries/0_stateless/01559_aggregate_null_for_empty_fix.reference
  tests/queries/0_stateless/01559_aggregate_null_for_empty_fix.sql
  tests/queries/0_stateless/01560_cancel_agg_func_combinator_native_name_constraint.reference
  tests/queries/0_stateless/01560_cancel_agg_func_combinator_native_name_constraint.sql
Labels: pr-not-for-changelog

#16927 Backport #16865 to 20.3.
  src/AggregateFunctions/AggregateFunctionTimeSeriesGroupSum.h
  tests/queries/0_stateless/01560_timeseriesgroupsum_segfault.reference
  tests/queries/0_stateless/01560_timeseriesgroupsum_segfault.sql
Labels: pr-backport, pr-not-for-changelog

#16582 DOCSUP-3863: Documented the settings input_format_csv_enum_as_number, input_format_tsv_enum_as_number
  docs/en/faq/integration/json-import.md
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#16885 Disable ATTACH/DETACH TABLE <DICTIONARY>
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterDropQuery.cpp
  src/Storages/IStorage.h
  src/Storages/StorageDictionary.cpp
  src/Storages/StorageDictionary.h
  tests/queries/0_stateless/01575_disable_detach_table_of_dictionary.reference
  tests/queries/0_stateless/01575_disable_detach_table_of_dictionary.sql
Labels: pr-improvement

#15429 DOCSUP-2807: Documented the date_trunc function
  docs/en/sql-reference/functions/date-time-functions.md
  docs/ru/sql-reference/functions/date-time-functions.md
Labels: pr-documentation

#16688 DOCSUP-3535: Documented the reinterpretAsUUID function (updated)
  docs/en/sql-reference/functions/type-conversion-functions.md
  docs/ru/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation

#16865 Fix for issue #16862
  src/AggregateFunctions/AggregateFunctionTimeSeriesGroupSum.h
  tests/queries/0_stateless/01560_timeseriesgroupsum_segfault.reference
  tests/queries/0_stateless/01560_timeseriesgroupsum_segfault.sql
Labels: pr-bugfix, v20.3-must-backport

#16915 Update docs/zh/commercial/support.md to make it more human readable
  docs/zh/commercial/support.md
Labels: pr-documentation

#16903 Disable TraceCollector if trace_log is disabled
  src/Common/TraceCollector.cpp
  src/Interpreters/Context.cpp
Labels: pr-not-for-changelog

#16852 update backup.md to make it more human readable
  docs/zh/operations/backup.md
Labels: doc-alert, pr-documentation

#16842 Higher mmap threshold in debug build
  src/Common/Allocator.cpp
Labels: pr-not-for-changelog

#16390 Add separate pool for fetches
  src/Common/CurrentMetrics.cpp
  src/Core/Settings.h
  src/Storages/MergeTree/BackgroundJobsExecutor.cpp
  src/Storages/MergeTree/BackgroundJobsExecutor.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_limited_replicated_fetches/__init__.py
  tests/integration/test_limited_replicated_fetches/test.py
  tests/queries/0_stateless/01459_manual_write_to_replicas.sh
Labels: pr-improvement

#16959 Fixed bug in git-import tool
  programs/git-import/git-import.cpp
Labels: pr-bugfix

#16895 Remove empty parts after they were pruned by TTL [2]
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_ttl_replicated/test.py
  tests/queries/0_stateless/01560_ttl_remove_empty_parts.reference
  tests/queries/0_stateless/01560_ttl_remove_empty_parts.sql
Labels: pr-improvement

#16797 DOCSUP-3417 translate to english
  utils/db-generator/README.md
Labels: pr-documentation
