Repository ClickHouse/ClickHouse, pull requests merged in 2020-09, with the labels that each got.

#14274 Use QueryPipeline in MutationsInterpreter.
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/MutationsInterpreter.h
Labels: pr-not-for-changelog

#14263 Disallow codec for ALIAS columns types
  docs/en/sql-reference/statements/create/table.md
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/AlterCommands.cpp
  tests/queries/0_stateless/01462_test_codec_on_alias.reference
  tests/queries/0_stateless/01462_test_codec_on_alias.sql
Labels: pr-bugfix

#14116 Save parts default compression
  src/Compression/CompressionCodecMultiple.cpp
  src/Compression/CompressionCodecMultiple.h
  src/Compression/ICompressionCodec.cpp
  src/Compression/getCompressionCodecForFile.cpp
  src/Compression/getCompressionCodecForFile.h
  src/Compression/ya.make
  src/Storages/ColumnsDescription.cpp
  src/Storages/ColumnsDescription.h
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/DataPartsExchange.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/MergeTreeDataPartCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartInMemory.cpp
  src/Storages/MergeTree/MergeTreeDataPartWide.cpp
  src/Storages/MergeTree/MergeTreeWriteAheadLog.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.h
  src/Storages/MergeTree/checkDataPart.cpp
  src/Storages/MergeTree/checkDataPart.h
  src/Storages/System/StorageSystemParts.cpp
  tests/integration/test_default_compression_codec/configs/default_compression.xml
  tests/integration/test_default_compression_codec/test.py
  tests/integration/test_merge_tree_s3/test.py
  tests/integration/test_partition/test.py
  tests/integration/test_replicated_merge_tree_s3/test.py
Labels: no-docs-needed, pr-improvement

#14219 Refactoring: rename types to allow change bigint library
  base/common/types.h
  src/AggregateFunctions/AggregateFunctionQuantile.cpp
  src/AggregateFunctions/AggregateFunctionUniqUpTo.h
  src/AggregateFunctions/Helpers.h
  src/Columns/ColumnDecimal.cpp
  src/Columns/ColumnVector.cpp
  src/Columns/ColumnsNumber.h
  src/Common/FieldVisitors.cpp
  src/Common/FieldVisitors.h
  src/Common/HashTable/Hash.h
  src/Common/UInt128.h
  src/Core/AccurateComparison.h
  src/Core/DecimalComparison.h
  src/Core/DecimalFunctions.h
  src/Core/Field.cpp
  src/Core/Field.h
  src/Core/TypeListNumber.h
  src/Core/Types.h
  src/Core/callOnTypeIndex.h
  src/DataTypes/DataTypeNumberBase.cpp
  src/DataTypes/DataTypesDecimal.h
  src/DataTypes/DataTypesNumber.h
  src/DataTypes/FieldToDataType.cpp
  src/DataTypes/FieldToDataType.h
  src/DataTypes/IDataType.h
  src/DataTypes/NumberTraits.h
  src/Formats/ProtobufReader.cpp
  src/Formats/ProtobufReader.h
  src/Formats/ProtobufWriter.cpp
  src/Formats/ProtobufWriter.h
  src/Functions/DivisionUtils.h
  src/Functions/FunctionsComparison.h
  src/Functions/FunctionsConversion.h
  src/Functions/FunctionsHashing.h
  src/Functions/GatherUtils/Algorithms.h
  src/Functions/bitAnd.cpp
  src/Functions/bitOr.cpp
  src/Functions/bitShiftLeft.cpp
  src/Functions/bitShiftRight.cpp
  src/Functions/bitXor.cpp
  src/Functions/greatest.cpp
  src/Functions/if.cpp
  src/Functions/least.cpp
  src/Functions/minus.cpp
  src/Functions/multiply.cpp
  src/Functions/plus.cpp
  src/Functions/tests/gtest_number_traits.cpp
  src/IO/ReadHelpers.h
  src/IO/WriteHelpers.h
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  src/Interpreters/SetVariants.cpp
  src/Interpreters/SetVariants.h
Labels: pr-not-for-changelog

#14335 Ignore unknown image names
  tests/integration/runner
Labels: pr-not-for-changelog

#14326 Throw exception on alter for storages created from table functions
  src/Databases/DatabaseOrdinary.cpp
  tests/queries/0_stateless/01461_alter_table_function.reference
  tests/queries/0_stateless/01461_alter_table_function.sql
Labels: pr-bugfix

#14316 Add a HTML report for AST Fuzzer
  docker/test/fuzzer/run-fuzzer.sh
  programs/client/Client.cpp
Labels: pr-not-for-changelog

#14321 Change query event filter and add integration test for empty GTID transaction
  src/Core/MySQL/MySQLReplication.cpp
  tests/integration/test_materialize_mysql_database/materialize_with_ddl.py
  tests/integration/test_materialize_mysql_database/test.py
Labels: pr-not-for-changelog

#13688 Redis dictionary support for simple Redis requirepass authorization
  docker/test/integration/runner/compose/docker_compose_redis.yml
  src/Dictionaries/RedisDictionarySource.cpp
  src/Dictionaries/RedisDictionarySource.h
  tests/integration/test_dictionaries_all_layouts_and_sources/external_sources.py
  tests/integration/test_dictionaries_all_layouts_and_sources/test.py
Labels: can be tested, doc-alert, pr-bugfix

#14346 Don't let the fuzzer change max_execution_time
  docker/test/fuzzer/query-fuzzer-tweaks-users.xml
Labels: pr-not-for-changelog

#14334 Stop query execution if exception happened in PipelineExecutor itself.
  src/Processors/Executors/PipelineExecutor.cpp
Labels: pr-bugfix

#14324 Revert "Documentation about ReplacingMergeTree extended with type DateTime64 for column `ver`"
  docs/en/engines/table-engines/mergetree-family/replacingmergetree.md
  docs/es/engines/table-engines/mergetree-family/replacingmergetree.md
  docs/fa/engines/table-engines/mergetree-family/replacingmergetree.md
  docs/fr/engines/table-engines/mergetree-family/replacingmergetree.md
  docs/ja/engines/table-engines/mergetree-family/replacingmergetree.md
  docs/ru/engines/table-engines/mergetree-family/replacingmergetree.md
  docs/tr/engines/table-engines/mergetree-family/replacingmergetree.md
  docs/zh/engines/table-engines/mergetree-family/replacingmergetree.md
Labels: pr-documentation

#14320 fix ALTER LIVE VIEW [REFRESH] lock issue
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Storages/LiveView/StorageLiveView.cpp
  src/Storages/LiveView/StorageLiveView.h
  tests/queries/0_stateless/01463_test_alter_live_view_refresh.reference
  tests/queries/0_stateless/01463_test_alter_live_view_refresh.sql
Labels: pr-bugfix

#14213 DOCS-744: Fixed the CollapsingMerge description
  docs/en/engines/table-engines/mergetree-family/versionedcollapsingmergetree.md
  docs/ru/engines/table-engines/mergetree-family/versionedcollapsingmergetree.md
Labels: pr-doc-fix

#14185 Update MergeTree.md
  docs/zh/engines/table-engines/mergetree-family/mergetree.md
Labels: can be tested

#14087 fixed Japanese translation for data-types/date.md
  docs/ja/sql-reference/data-types/date.md
Labels: pr-documentation

#13988 Add storages from <user_directories> after ones from <users_config> and <access_control_path>.
  src/Access/AccessControlManager.cpp
  tests/integration/test_user_directories/configs/local_directories.xml
  tests/integration/test_user_directories/configs/memory.xml
  tests/integration/test_user_directories/configs/mixed_style.xml
  tests/integration/test_user_directories/configs/old_style.xml
  tests/integration/test_user_directories/configs/relative_path.xml
  tests/integration/test_user_directories/test.py
Labels: pr-not-for-changelog

#13987 Fix GRANT ALL statement when executed on a non-global level
  src/Access/AccessFlags.h
  src/Access/AccessRights.cpp
  src/Access/AccessRightsElement.h
  src/Interpreters/InterpreterGrantQuery.cpp
  src/Parsers/ASTGrantQuery.cpp
  src/Parsers/ASTGrantQuery.h
  src/Parsers/ParserGrantQuery.cpp
  tests/integration/test_grant_and_revoke/test.py
  tests/testflows/rbac/tests/syntax/grant_privilege.py
Labels: pr-bugfix

#13792 [RFC] Fix arrayJoin() capturing in lambda
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/ActionsVisitor.h
  tests/queries/0_stateless/01407_lambda_arrayJoin.reference
  tests/queries/0_stateless/01407_lambda_arrayJoin.sql
Labels: pr-bugfix

#13761 ISSUES-4006 add precision argument for DateTime type
  src/DataTypes/DataTypeDateTime.cpp
  src/DataTypes/DataTypeDateTime64.cpp
  src/DataTypes/DataTypeFactory.cpp
  src/DataTypes/DataTypeFactory.h
  src/DataTypes/registerDataTypeDateTime.cpp
  src/DataTypes/ya.make
  src/Functions/FunctionsConversion.cpp
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/01442_date_time_with_params.reference
  tests/queries/0_stateless/01442_date_time_with_params.sql
Labels: pr-improvement

#14315 [RFC] Fix QueryPlan lifetime (for EXPLAIN PIPELINE graph=1) for queries with nested interpreter
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Interpreters/InterpreterExplainQuery.cpp
  src/Processors/Pipe.cpp
  src/Processors/Pipe.h
  src/Processors/QueryPipeline.h
  tests/queries/0_stateless/01470_explain.reference
  tests/queries/0_stateless/01470_explain.sql
Labels: pr-bugfix

#14325 Suppress superfluous wget (-nv) output
  docker/builder/Dockerfile
  docker/packager/binary/Dockerfile
  docker/packager/deb/Dockerfile
  docker/test/base/Dockerfile
  docker/test/codebrowser/Dockerfile
  docker/test/fasttest/Dockerfile
  docker/test/fuzzer/run-fuzzer.sh
  docker/test/integration/runner/Dockerfile
  docker/test/pvs/Dockerfile
  docker/test/stateless/Dockerfile
  docker/test/stateless_unbundled/Dockerfile
  docker/test/stateless_with_coverage/Dockerfile
  docker/test/testflows/runner/Dockerfile
  docs/en/interfaces/http.md
  docs/es/interfaces/http.md
  docs/fa/interfaces/http.md
  docs/fr/interfaces/http.md
  docs/ja/interfaces/http.md
  docs/ru/interfaces/http.md
  docs/tr/interfaces/http.md
  docs/zh/interfaces/http.md
  src/Functions/URL/tldLookup.sh
  utils/build/build_no_submodules.sh
  utils/ci/build-gcc-from-sources.sh
  utils/ci/docker-multiarch/update.sh
  utils/clickhouse-docker
Labels: pr-not-for-changelog

#14362 Less number of threads in builder
  debian/rules
  src/Dictionaries/BucketCache.h
Labels: bugfest, pr-not-for-changelog

#14349 DOCSUP-2003: Edit and translate to Russian RabbitMQ description
  docs/en/engines/table-engines/integrations/rabbitmq.md
  docs/ru/engines/table-engines/integrations/rabbitmq.md
Labels: pr-documentation

#14348 DOCSUP-2031: Edit and translate PR to Russian.
  docs/ru/operations/settings/settings.md
  docs/ru/operations/utilities/clickhouse-copier.md
  docs/ru/sql-reference/statements/select/join.md
Labels: pr-documentation

#12567 table function view
  src/Interpreters/QueryNormalizer.cpp
  src/Parsers/ASTFunction.cpp
  src/Parsers/ASTFunction.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Storages/StorageView.cpp
  src/TableFunctions/TableFunctionView.cpp
  src/TableFunctions/TableFunctionView.h
  src/TableFunctions/registerTableFunctions.cpp
  src/TableFunctions/registerTableFunctions.h
  src/TableFunctions/ya.make
  tests/queries/0_stateless/01415_table_function_view.reference
  tests/queries/0_stateless/01415_table_function_view.sql
Labels: doc-alert, pr-feature

#14397 ISSUES-14114 Implicitly convert primary key to not null in MaterializeMySQL
  src/Interpreters/MySQL/InterpretersMySQLDDLQuery.cpp
  src/Interpreters/MySQL/tests/gtest_create_rewritten.cpp
  src/Parsers/MySQL/ASTDeclareColumn.cpp
Labels: pr-improvement

#14420 Changelog.md updated with description for 20.7
  CHANGELOG.md
Labels: pr-documentation

#14368 change string.rfind to string starts_with and add some tests
  src/Core/MySQL/MySQLReplication.cpp
  tests/integration/test_materialize_mysql_database/materialize_with_ddl.py
  tests/integration/test_materialize_mysql_database/test.py
Labels: pr-build

#14233 Introduce columns transformers.
  src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  src/Parsers/ASTAsterisk.cpp
  src/Parsers/ASTAsterisk.h
  src/Parsers/ASTColumnsMatcher.cpp
  src/Parsers/ASTColumnsMatcher.h
  src/Parsers/ASTColumnsTransformers.cpp
  src/Parsers/ASTColumnsTransformers.h
  src/Parsers/ASTQualifiedAsterisk.cpp
  src/Parsers/ASTQualifiedAsterisk.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/ExpressionElementParsers.h
  src/Parsers/ya.make
  tests/queries/0_stateless/01470_columns_transformers.reference
  tests/queries/0_stateless/01470_columns_transformers.sql
Labels: doc-alert, pr-feature

#14256 Fix build for AppleClang
  contrib/capnproto-cmake/CMakeLists.txt
Labels: can be tested, pr-not-for-changelog, submodule changed

#14426 Less number of threads in builder
  debian/rules
Labels: pr-not-for-changelog

#14433 Fix backport script; read the code
  utils/github/backport.py
Labels: pr-build

#14323 Add tag pass for integration base image. Add explicit dns options for docker-compose.
  programs/server/Server.cpp
  src/Interpreters/DNSCacheUpdater.cpp
  tests/integration/helpers/cluster.py
  tests/integration/runner
  tests/integration/test_adaptive_granularity/test.py
  tests/integration/test_adaptive_granularity_different_settings/test.py
  tests/integration/test_adaptive_granularity_replicated/test.py
  tests/integration/test_backup_with_other_granularity/test.py
  tests/integration/test_backward_compatibility/test.py
  tests/integration/test_backward_compatibility/test_aggregate_function_state_avg.py
  tests/integration/test_backward_compatibility/test_short_strings_aggregation.py
  tests/integration/test_default_compression_codec/test.py
  tests/integration/test_distributed_backward_compatability/test.py
  tests/integration/test_host_ip_change/configs/dns_update_short.xml
  tests/integration/test_host_ip_change/test.py
  tests/integration/test_odbc_interaction/test.py
  tests/integration/test_old_versions/test.py
  tests/integration/test_polymorphic_parts/test.py
  tests/integration/test_replicating_constants/test.py
  tests/integration/test_version_update_after_mutation/test.py
Labels: pr-not-for-changelog

#14431 Fix for Lazy database
  src/Databases/DatabaseOnDisk.cpp
Labels: bugfest, pr-not-for-changelog

#14240 DOCSUP-997: Document the lock_acquire_timeout setting (ru)
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#14430 [wip] perf experiment no.4 -- geomean
  docker/test/performance-comparison/compare.sh
  docker/test/performance-comparison/report.py
Labels: pr-not-for-changelog

#14460 Proxy restart/start/stop/reload of SysVinit to systemd (if it is used)
  debian/clickhouse-server.init
Labels: pr-bugfix

#14440 Add missed #include <atomic>
  src/Processors/Port.h
Labels: can be tested, pr-build

#14462 Simplify mutations tests
  tests/queries/0_stateless/00652_mutations_alter_update.sh
  tests/queries/0_stateless/00652_mutations_default_database.sh
  tests/queries/0_stateless/00682_empty_parts_merge.sh
  tests/queries/0_stateless/00699_materialized_view_mutations.sh
  tests/queries/0_stateless/00942_mutate_index.sh
  tests/queries/0_stateless/00944_clear_index_in_partition.sh
  tests/queries/0_stateless/01031_mutations_interpreter_and_context.sh
  tests/queries/0_stateless/01035_lc_empty_part_bug.reference
  tests/queries/0_stateless/01035_lc_empty_part_bug.sh
Labels: bugfest, pr-not-for-changelog

#14461 Fix flaky test 00944_clear_index_in_partition
  tests/queries/0_stateless/00944_clear_index_in_partition.sh
Labels: bugfest, pr-not-for-changelog

#14454 Remove redundant conditions
  src/Common/StringSearcher.h
Labels: pr-not-for-changelog

#14457 Provide a way to quickly test the website
  docs/tools/build.py
  website/README.md
Labels: pr-documentation

#14467 Check for array size overflow in topK
  src/AggregateFunctions/AggregateFunctionTopK.cpp
  src/Common/SpaceSaving.h
  tests/queries/0_stateless/01471_top_k_range_check.reference
  tests/queries/0_stateless/01471_top_k_range_check.sql
Labels: pr-bugfix

#14444 Fix select parts for merge
  src/Storages/MergeTree/AllMergeSelector.cpp
  src/Storages/MergeTree/AllMergeSelector.h
  src/Storages/MergeTree/LevelMergeSelector.cpp
  src/Storages/MergeTree/LevelMergeSelector.h
  src/Storages/MergeTree/MergeSelector.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/SimpleMergeSelector.cpp
  src/Storages/MergeTree/SimpleMergeSelector.h
  src/Storages/MergeTree/TTLMergeSelector.cpp
  src/Storages/MergeTree/TTLMergeSelector.h
  src/Storages/tests/merge_selector.cpp
  src/Storages/tests/merge_selector2.cpp
  tests/integration/test_concurrent_ttl_merges/__init__.py
  tests/integration/test_concurrent_ttl_merges/configs/fast_background_pool.xml
  tests/integration/test_concurrent_ttl_merges/test.py
Labels: pr-bugfix

#14432 Wait for clickhouse-server to start in stateful tests
  docker/test/stateful/run.sh
  docker/test/stateful_with_coverage/run.sh
Labels: bugfest, pr-not-for-changelog

#14468 Fix mysql replication GTID event dump format
  src/Core/MySQL/MySQLReplication.cpp
Labels: pr-not-for-changelog

#14442 Datasets generation (Merging #10973)
  utils/CMakeLists.txt
  utils/db-generator/CMakeLists.txt
  utils/db-generator/README.md
  utils/db-generator/query_db_generator.cpp
Labels: doc-alert, pr-feature

#14469 Support MySQL handler 'set @@xx' settting
  src/Server/MySQLHandler.cpp
  tests/integration/test_mysql_protocol/test.py
Labels: pr-improvement

#14438 Apply TTL if it's not calculated for part
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataPartTTLInfo.h
  tests/queries/0_stateless/01471_calculate_ttl_during_merge.reference
  tests/queries/0_stateless/01471_calculate_ttl_during_merge.sql
Labels: pr-improvement

#14229 Another 256-bit integers (strict 32 bytes)
  base/common/arithmeticOverflow.h
  base/common/types.h
  base/common/wide_integer.h
  base/common/wide_integer_impl.h
  src/Columns/ColumnDecimal.h
  src/Columns/ColumnVector.h
  src/Common/HashTable/Hash.h
  src/Common/SipHash.h
  src/Common/UInt128.h
  src/Common/intExp.h
  src/Core/BigInt.h
  src/Core/DecimalComparison.h
  src/Core/Types.h
  src/DataTypes/NumberTraits.h
  src/Functions/DivisionUtils.h
  src/Functions/FunctionBinaryArithmetic.h
  src/Functions/GatherUtils/Algorithms.h
  src/Functions/abs.cpp
  src/Functions/bitRotateLeft.cpp
  src/Functions/bitRotateRight.cpp
  src/Functions/bitShiftLeft.cpp
  src/Functions/bitShiftRight.cpp
  src/Functions/bitTest.cpp
  src/Functions/gcd.cpp
  src/Functions/lcm.cpp
  src/Functions/roundToExp2.cpp
  src/IO/WriteHelpers.h
  src/IO/readDecimalText.h
  src/Interpreters/Aggregator.cpp
  src/Interpreters/HashJoin.cpp
  src/Interpreters/SetVariants.cpp
  tests/queries/0_stateless/01440_big_int_shift.reference
  tests/queries/0_stateless/01440_big_int_shift.sql
  tests/queries/0_stateless/01457_int256_hashing.reference
  tests/queries/0_stateless/01457_int256_hashing.sql
Labels: pr-improvement

#14402 Stop query execution if exception happened in PipelineExecutor itself.
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/PipelineExecutor.h
Labels: no-docs-needed, pr-bugfix

#14501 Fix flaky test 01280_ttl_where_group_by
  tests/queries/0_stateless/01280_ttl_where_group_by.reference
  tests/queries/0_stateless/01280_ttl_where_group_by.sh
Labels: pr-not-for-changelog

#14498 Add retries to integration test_host_ip_change
  tests/integration/test_host_ip_change/test.py
Labels: pr-not-for-changelog

#14509 disallow empty time_zone argument in toStartOf* type of functions
  src/Functions/FunctionDateOrDateTimeToSomething.h
  src/Functions/extractTimeZoneFromFunctionArguments.cpp
  tests/queries/0_stateless/00921_datetime64_compatibility.reference
  tests/queries/0_stateless/01472_toStartOfInterval_disallow_empty_tz_field.reference
  tests/queries/0_stateless/01472_toStartOfInterval_disallow_empty_tz_field.sql
Labels: pr-improvement

#14455 Prepare for clang 11
  contrib/capnproto-cmake/CMakeLists.txt
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/ZooKeeper/ZooKeeperImpl.h
  src/Core/MySQL/MySQLReplication.h
  src/Functions/GatherUtils/Sources.h
Labels: pr-build, submodule changed

#14404 system_events_show_zero_values setting added
  src/Core/Settings.h
  src/Storages/System/StorageSystemEvents.cpp
  tests/queries/0_stateless/01473_system_events_zeroes.reference
  tests/queries/0_stateless/01473_system_events_zeroes.sql
Labels: doc-alert, pr-improvement

#14409 Added UUID to Obfuscator
  programs/obfuscator/Obfuscator.cpp
  tests/queries/0_stateless/01472_obfuscator_uuid.reference
  tests/queries/0_stateless/01472_obfuscator_uuid.sh
Labels: pr-improvement

#14523 Remove dryrun event to update position
  src/Core/MySQL/MySQLReplication.cpp
  src/Core/tests/mysql_protocol.cpp
Labels: pr-improvement

#13939 Multithreading implementation of Kafka engine
  docs/en/engines/table-engines/integrations/kafka.md
  src/Common/CurrentMetrics.cpp
  src/Core/Settings.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/Kafka/KafkaSettings.h
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/StorageKafka.h
  tests/integration/test_storage_kafka/test.py
Labels: can be tested, pr-improvement

#14411 Merging #11769 (Rank Correlation Spearman)
  src/AggregateFunctions/AggregateFunctionRankCorrelation.cpp
  src/AggregateFunctions/AggregateFunctionRankCorrelation.h
  src/AggregateFunctions/registerAggregateFunctions.cpp
  src/AggregateFunctions/registerAggregateFunctions.h
  src/AggregateFunctions/ya.make
  tests/queries/0_stateless/01455_rank_correlation_spearman.reference
  tests/queries/0_stateless/01455_rank_correlation_spearman.sql
Labels: doc-alert, pr-feature

#14522 More consistent invocation of skipBOMIfExists
  src/Dictionaries/ExecutableDictionarySource.cpp
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/TSKVRowInputFormat.cpp
  src/Processors/Formats/Impl/TSKVRowInputFormat.h
  src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  src/Processors/Formats/Impl/ValuesBlockInputFormat.h
Labels: pr-not-for-changelog

#14549 Lower binary size in debug build
  src/Functions/CMakeLists.txt
  src/Functions/GatherUtils/CMakeLists.txt
  src/Functions/URL/CMakeLists.txt
  src/Functions/array/CMakeLists.txt
Labels: pr-build

#14536 disable embedded compiler in 20.3
  cmake/find/llvm.cmake
Labels: force tests, pr-not-for-changelog

#14552 Bump binary image version
  docker/packager/binary/Dockerfile
Labels: pr-not-for-changelog

#12761 RabbitMQ improvements
  docs/en/engines/table-engines/integrations/rabbitmq.md
  src/Common/ErrorCodes.cpp
  src/Storages/RabbitMQ/RabbitMQBlockInputStream.cpp
  src/Storages/RabbitMQ/RabbitMQBlockInputStream.h
  src/Storages/RabbitMQ/RabbitMQBlockOutputStream.cpp
  src/Storages/RabbitMQ/RabbitMQHandler.cpp
  src/Storages/RabbitMQ/RabbitMQHandler.h
  src/Storages/RabbitMQ/RabbitMQSettings.h
  src/Storages/RabbitMQ/ReadBufferFromRabbitMQConsumer.cpp
  src/Storages/RabbitMQ/ReadBufferFromRabbitMQConsumer.h
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.h
  src/Storages/RabbitMQ/WriteBufferToRabbitMQProducer.cpp
  src/Storages/RabbitMQ/WriteBufferToRabbitMQProducer.h
  tests/integration/test_storage_rabbitmq/clickhouse_path/format_schemas/rabbitmq.proto
  tests/integration/test_storage_rabbitmq/rabbitmq_pb2.py
  tests/integration/test_storage_rabbitmq/test.py
Labels: can be tested, pr-improvement

#14515 DOCSUP-2193: Describe SHOW queries for RBAC
  docs/en/operations/access-rights.md
  docs/en/operations/system-tables/quota_usage.md
  docs/en/operations/system-tables/quotas.md
  docs/en/operations/system-tables/quotas_usage.md
  docs/en/operations/system-tables/role-grants.md
  docs/en/operations/system-tables/roles.md
  docs/en/operations/system-tables/row_policies.md
  docs/en/operations/system-tables/settings_profiles.md
  docs/en/operations/system-tables/users.md
  docs/en/sql-reference/statements/alter/settings-profile.md
  docs/en/sql-reference/statements/create/settings-profile.md
  docs/en/sql-reference/statements/show.md
  docs/ru/operations/system-tables/quota_usage.md
  docs/ru/operations/system-tables/quotas.md
  docs/ru/operations/system-tables/quotas_usage.md
  docs/ru/operations/system-tables/roles.md
  docs/ru/operations/system-tables/row_policies.md
  docs/ru/operations/system-tables/settings_profiles.md
  docs/ru/operations/system-tables/users.md
  docs/ru/sql-reference/statements/show.md
Labels: pr-documentation

#14500 Many rows in totals
  src/Processors/Formats/IOutputFormat.cpp
  src/Processors/Formats/Impl/TemplateBlockOutputFormat.cpp
  src/Processors/Transforms/TotalsHavingTransform.cpp
  tests/queries/0_stateless/01472_many_rows_in_totals.reference
  tests/queries/0_stateless/01472_many_rows_in_totals.sql
Labels: pr-not-for-changelog

#14412 Pipes and creating sets
  src/DataStreams/CreatingSetsBlockInputStream.cpp
  src/DataStreams/CreatingSetsBlockInputStream.h
  src/DataStreams/ya.make
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/GlobalSubqueriesVisitor.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/SubqueryForSet.cpp
  src/Interpreters/SubqueryForSet.h
  src/Processors/IAccumulatingTransform.cpp
  src/Processors/IAccumulatingTransform.h
  src/Processors/Pipe.cpp
  src/Processors/Pipe.h
  src/Processors/QueryPipeline.cpp
  src/Processors/QueryPipeline.h
  src/Processors/QueryPlan/CreatingSetsStep.cpp
  src/Processors/Transforms/CreatingSetsTransform.cpp
  src/Processors/Transforms/CreatingSetsTransform.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/StorageMemory.cpp
  src/Storages/StorageMemory.h
  tests/performance/set.xml
Labels: pr-improvement

#14556 Lower binary size in "Arcadia" build
  base/common/ya.make
  base/common/ya.make.in
  base/daemon/ya.make
  base/loggers/ya.make
  base/readpassphrase/ya.make
  base/widechar_width/ya.make
  programs/server/ya.make
  programs/ya.make
  src/Access/ya.make
  src/Access/ya.make.in
  src/AggregateFunctions/ya.make
  src/AggregateFunctions/ya.make.in
  src/Client/ya.make
  src/Client/ya.make.in
  src/Columns/ya.make
  src/Common/ya.make
  src/Common/ya.make.in
  src/Compression/ya.make
  src/Compression/ya.make.in
  src/Core/ya.make
  src/Core/ya.make.in
  src/DataStreams/ya.make
  src/DataStreams/ya.make.in
  src/DataTypes/ya.make
  src/DataTypes/ya.make.in
  src/Databases/ya.make
  src/Databases/ya.make.in
  src/Dictionaries/ya.make
  src/Dictionaries/ya.make.in
  src/Disks/S3/ya.make
  src/Disks/ya.make
  src/Disks/ya.make.in
  src/Formats/ya.make
  src/Formats/ya.make.in
  src/Functions/ya.make
  src/Functions/ya.make.in
  src/IO/ya.make
  src/IO/ya.make.in
  src/Interpreters/ya.make
  src/Interpreters/ya.make.in
  src/Parsers/ya.make
  src/Parsers/ya.make.in
  src/Processors/ya.make
  src/Processors/ya.make.in
  src/Server/ya.make
  src/Server/ya.make.in
  src/Storages/ya.make
  src/Storages/ya.make.in
  src/TableFunctions/ya.make
  src/TableFunctions/ya.make.in
Labels: pr-not-for-changelog

#14578 Retries in s3 downloader
  docker/test/stateful/s3downloader
  docker/test/stateful_with_coverage/s3downloader
Labels: bugfest, pr-not-for-changelog

#14575 Fix cmake ccache search.
  cmake/find/ccache.cmake
Labels: pr-build

#14252 add query_start_time_microseconds field to system.query_log & system.query_thread_log tables
  docs/en/operations/system-tables/query_log.md
  docs/en/operations/system-tables/query_thread_log.md
  src/Common/ThreadProfileEvents.h
  src/Common/ThreadStatus.h
  src/Core/Field.h
  src/Interpreters/QueryLog.cpp
  src/Interpreters/QueryLog.h
  src/Interpreters/QueryThreadLog.cpp
  src/Interpreters/QueryThreadLog.h
  src/Interpreters/ThreadStatusExt.cpp
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/01461_query_start_time_microseconds.reference
  tests/queries/0_stateless/01461_query_start_time_microseconds.sql
Labels: doc-alert, pr-feature

#14558 use std::filesystem::path in ConfigProcessor for filepath concatenation
  src/Common/Config/ConfigProcessor.cpp
Labels: pr-improvement

#14553 Handle host/network is unreachable in integration tests
  tests/integration/helpers/cluster.py
Labels: bugfest, pr-not-for-changelog

#14496 Disable S3 requests processing during context shutdown to speed up termination process
  src/Disks/IDisk.h
  src/Disks/S3/DiskS3.cpp
  src/Disks/S3/DiskS3.h
  src/Interpreters/Context.cpp
Labels: pr-improvement

#14490 Control ttl merges in pool
  src/Storages/MergeTree/MergeList.cpp
  src/Storages/MergeTree/MergeList.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/MergeType.cpp
  src/Storages/MergeTree/MergeType.h
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  src/Storages/System/StorageSystemMerges.cpp
  src/Storages/System/StorageSystemReplicationQueue.cpp
  src/Storages/ya.make
  tests/integration/test_concurrent_ttl_merges/test.py
Labels: pr-backward-incompatible

#14439 DOCSUP-2037: Edit and translate PR to RU
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
  docs/ru/interfaces/third-party/gui.md
  docs/ru/operations/system-tables/index.md
  docs/ru/sql-reference/data-types/simpleaggregatefunction.md
Labels: pr-documentation

#14529 fix zh translate
  docs/zh/guides/apply-catboost-model.md
Labels: can be tested, pr-documentation

#14092 DOCSUP-924: Higher-order functions moved to Array functions
  docs/en/operations/system-tables/stack_trace.md
  docs/en/sql-reference/data-types/tuple.md
  docs/en/sql-reference/functions/arithmetic-functions.md
  docs/en/sql-reference/functions/array-functions.md
  docs/en/sql-reference/functions/higher-order-functions.md
  docs/en/sql-reference/functions/index.md
  docs/en/sql-reference/functions/introspection.md
  docs/ru/operations/system-tables/stack_trace.md
  docs/ru/sql-reference/data-types/tuple.md
  docs/ru/sql-reference/functions/array-functions.md
  docs/ru/sql-reference/functions/higher-order-functions.md
  docs/ru/sql-reference/functions/index.md
  docs/ru/sql-reference/functions/introspection.md
Labels: pr-documentation

#14583 Fix for clang-8 build in datasets generator.
  utils/db-generator/query_db_generator.cpp
Labels: pr-not-for-changelog

#14586 Custom null representation in tsv
  src/Core/Settings.h
  src/DataTypes/DataTypeNullable.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  tests/queries/0_stateless/01474_custom_null_tsv.reference
  tests/queries/0_stateless/01474_custom_null_tsv.sh
Labels: can be tested, doc-alert, pr-feature

#14562 Fix segfault in combinator -Resample
  src/AggregateFunctions/AggregateFunctionResample.h
  tests/queries/0_stateless/01463_resample_overflow.reference
  tests/queries/0_stateless/01463_resample_overflow.sql
Labels: pr-bugfix

#14585 Remove Join from ExpressionActions
  src/DataStreams/ExpressionBlockInputStream.cpp
  src/DataStreams/ExpressionBlockInputStream.h
  src/DataStreams/FilterBlockInputStream.cpp
  src/Functions/FunctionsMiscellaneous.h
  src/Interpreters/ExpressionActions.cpp
  src/Interpreters/ExpressionActions.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/ExpressionJIT.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Processors/QueryPlan/ExpressionStep.cpp
  src/Processors/QueryPlan/ExpressionStep.h
  src/Processors/QueryPlan/FilterStep.cpp
  src/Processors/Transforms/ExpressionTransform.cpp
  src/Processors/Transforms/ExpressionTransform.h
  src/Processors/Transforms/FilterTransform.cpp
  src/Processors/Transforms/JoiningTransform.cpp
  src/Processors/Transforms/JoiningTransform.h
  src/Processors/ya.make
  src/Storages/ColumnsDescription.cpp
Labels: pr-not-for-changelog

#14602 Better hyperlinks in changelog
  CHANGELOG.md
Labels: pr-documentation

#14497 Add option to DiskS3 that allows it's usage if S3 unavailable
  src/Disks/S3/registerDiskS3.cpp
Labels: pr-improvement

#14532 Rework test for redis dictionary
  docker/test/integration/runner/compose/docker_compose_redis.yml
  tests/integration/helpers/dictionary.py
  tests/integration/helpers/external_sources.py
  tests/integration/helpers/fake_cert.pem
  tests/integration/helpers/http_server.py
  tests/integration/test_dictionaries_all_layouts_and_sources/test.py
  tests/integration/test_dictionaries_redis/__init__.py
  tests/integration/test_dictionaries_redis/configs/dictionaries/.gitkeep
  tests/integration/test_dictionaries_redis/test.py
Labels: pr-not-for-changelog

#14590 Remove useless line.
  src/Columns/ColumnLowCardinality.h
Labels: pr-not-for-changelog

#14581 Add retries to several integration tests
  tests/integration/test_adaptive_granularity/test.py
  tests/integration/test_mysql_protocol/test.py
Labels: bugfest, pr-not-for-changelog

#14547 CI config in repo
  tests/ci/ci_config.json
Labels: pr-build

#14607 Lower number of threads in binary build
  docker/packager/binary/build.sh
Labels: bugfest, pr-not-for-changelog

#12183 Support codecs in compact parts
  src/Compression/CachedCompressedReadBuffer.cpp
  src/Compression/CachedCompressedReadBuffer.h
  src/Compression/CompressedReadBufferBase.cpp
  src/Compression/CompressedReadBufferBase.h
  src/Compression/CompressedReadBufferFromFile.cpp
  src/Compression/CompressedReadBufferFromFile.h
  src/Compression/CompressionCodecDelta.cpp
  src/Compression/CompressionCodecDelta.h
  src/Compression/CompressionCodecDoubleDelta.cpp
  src/Compression/CompressionCodecDoubleDelta.h
  src/Compression/CompressionCodecGorilla.cpp
  src/Compression/CompressionCodecGorilla.h
  src/Compression/CompressionCodecLZ4.cpp
  src/Compression/CompressionCodecLZ4.h
  src/Compression/CompressionCodecMultiple.cpp
  src/Compression/CompressionCodecMultiple.h
  src/Compression/CompressionCodecNone.cpp
  src/Compression/CompressionCodecNone.h
  src/Compression/CompressionCodecT64.cpp
  src/Compression/CompressionCodecT64.h
  src/Compression/CompressionCodecZSTD.cpp
  src/Compression/CompressionCodecZSTD.h
  src/Compression/ICompressionCodec.cpp
  src/Compression/ICompressionCodec.h
  src/IO/ReadBuffer.h
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.h
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  src/Storages/MergeTree/MergeTreeReaderCompact.h
  src/Storages/MergeTree/checkDataPart.cpp
  tests/queries/0_stateless/01375_compact_parts_codecs.reference
  tests/queries/0_stateless/01375_compact_parts_codecs.sql
  tests/queries/0_stateless/01390_check_table_codec.reference
  tests/queries/0_stateless/01390_check_table_codec.sql
Labels: pr-improvement

#14211 Fix currentDatabase function cannot be used in ON CLUSTER ddl query.
  src/Interpreters/AddDefaultDatabaseVisitor.h
  src/Interpreters/DDLWorker.cpp
  src/Storages/SelectQueryDescription.cpp
  tests/integration/test_default_database_on_cluster/__init__.py
  tests/integration/test_default_database_on_cluster/configs/config.d/clusters.xml
  tests/integration/test_default_database_on_cluster/configs/config.d/distributed_ddl.xml
  tests/integration/test_default_database_on_cluster/test.py
Labels: pr-bugfix

#14545 Fix logical error in GLOBAL JOIN with table function
  src/Common/ErrorCodes.cpp
  src/Interpreters/GlobalSubqueriesVisitor.h
  tests/queries/0_stateless/01474_bad_global_join.reference
  tests/queries/0_stateless/01474_bad_global_join.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-not-for-changelog

#11512 MySql datatypes dateTime64 and decimal
  base/mysqlxx/ResultBase.h
  base/mysqlxx/Value.h
  programs/odbc-bridge/ODBCBlockInputStream.cpp
  programs/odbc-bridge/ODBCBlockOutputStream.cpp
  src/Common/ErrorCodes.cpp
  src/Core/ExternalResultDescription.cpp
  src/Core/ExternalResultDescription.h
  src/Core/MultiEnum.h
  src/Core/Settings.h
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Core/SettingsFields.h
  src/Core/tests/gtest_multienum.cpp
  src/Core/tests/gtest_settings.cpp
  src/DataStreams/MongoDBBlockInputStream.cpp
  src/DataTypes/convertMySQLDataType.cpp
  src/DataTypes/convertMySQLDataType.h
  src/DataTypes/tests/gtest_DataType_deserializeAsText.cpp
  src/Databases/MySQL/DatabaseConnectionMySQL.cpp
  src/Databases/MySQL/DatabaseConnectionMySQL.h
  src/Databases/MySQL/FetchTablesColumnsList.cpp
  src/Databases/MySQL/FetchTablesColumnsList.h
  src/Databases/ya.make
  src/Dictionaries/CassandraBlockInputStream.cpp
  src/Dictionaries/RedisBlockInputStream.cpp
  src/Formats/MySQLBlockInputStream.cpp
  src/TableFunctions/TableFunctionMySQL.cpp
  tests/integration/test_mysql_database_engine/test.py
Labels: altinity, doc-alert, pr-feature

#14603 Fix bug in Decimal scale
  src/Core/DecimalComparison.h
  src/DataTypes/DataTypeDecimalBase.h
  src/Functions/FunctionBinaryArithmetic.h
  tests/queries/0_stateless/01095_tpch_like_smoke.reference
  tests/queries/0_stateless/01474_decimal_scale_bug.reference
  tests/queries/0_stateless/01474_decimal_scale_bug.sql
Labels: pr-bugfix

#14510 Update Chinese tutorial documentation to make it more human readable
  docs/zh/getting-started/tutorial.md
Labels: can be tested, pr-documentation

#14494 Recompression TTL
  src/DataStreams/TTLBlockInputStream.cpp
  src/DataStreams/TTLBlockInputStream.h
  src/Parsers/ASTTTLElement.cpp
  src/Parsers/ASTTTLElement.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Storages/MergeTree/MergeList.h
  src/Storages/MergeTree/MergeSelector.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/MergeTreeDataPartTTLInfo.cpp
  src/Storages/MergeTree/MergeTreeDataPartTTLInfo.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/MergeType.cpp
  src/Storages/MergeTree/MergeType.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/MergeTree/TTLMergeSelector.cpp
  src/Storages/MergeTree/TTLMergeSelector.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  src/Storages/StorageInMemoryMetadata.cpp
  src/Storages/StorageInMemoryMetadata.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/System/StorageSystemParts.cpp
  src/Storages/TTLDescription.cpp
  src/Storages/TTLDescription.h
  src/Storages/TTLMode.h
  tests/integration/test_recompression_ttl/__init__.py
  tests/integration/test_recompression_ttl/configs/background_pool_config.xml
  tests/integration/test_recompression_ttl/test.py
  tests/queries/0_stateless/01465_ttl_recompression.reference
  tests/queries/0_stateless/01465_ttl_recompression.sql
Labels: doc-alert, pr-feature

#14595 Fix some trailing whitespaces in query format (ExpressionList users)
  src/Parsers/ASTExpressionList.cpp
  src/Parsers/ASTFunction.cpp
  src/Parsers/ASTSelectQuery.cpp
  src/Parsers/ASTTablesInSelectQuery.cpp
  src/Parsers/IAST.h
  tests/queries/0_stateless/00239_type_conversion_in_in.sql
  tests/queries/0_stateless/00250_tuple_comparison.sql
  tests/queries/0_stateless/00344_row_number_in_all_blocks.sql
  tests/queries/0_stateless/00436_convert_charset.sql
  tests/queries/0_stateless/00443_merge_tree_uniform_read_distribution_0.reference
  tests/queries/0_stateless/00541_to_start_of_fifteen_minutes.sql
  tests/queries/0_stateless/00552_logical_functions_uint8_as_bool.sql
  tests/queries/0_stateless/00585_union_all_subquery_aggregation_column_removal.sql
  tests/queries/0_stateless/00597_push_down_predicate.reference
  tests/queries/0_stateless/00618_nullable_in.sql
  tests/queries/0_stateless/00712_prewhere_with_alias_bug_2.sql
  tests/queries/0_stateless/00740_optimize_predicate_expression.sql
  tests/queries/0_stateless/00743_limit_by_not_found_column.sql
  tests/queries/0_stateless/00751_default_databasename_for_view.reference
  tests/queries/0_stateless/00759_kodieg.sql
  tests/queries/0_stateless/00826_cross_to_inner_join.reference
  tests/queries/0_stateless/00849_multiple_comma_join.reference
  tests/queries/0_stateless/00849_multiple_comma_join_2.reference
  tests/queries/0_stateless/00908_analyze_query.reference
  tests/queries/0_stateless/00941_to_custom_week.sql
  tests/queries/0_stateless/00957_format_with_clashed_aliases.reference
  tests/queries/0_stateless/00958_format_of_tuple_array_element.reference
  tests/queries/0_stateless/00961_checksums_in_system_parts_columns_table.sql
  tests/queries/0_stateless/01056_predicate_optimizer_bugs.reference
  tests/queries/0_stateless/01076_predicate_optimizer_with_view.reference
  tests/queries/0_stateless/01083_cross_to_inner_with_like.reference
  tests/queries/0_stateless/01117_chain_finalize_bug.sql
  tests/queries/0_stateless/01250_fixed_string_comparison.sql
  tests/queries/0_stateless/01271_optimize_arithmetic_operations_in_aggr_func.reference
  tests/queries/0_stateless/01272_totals_and_filter_bug.sql
  tests/queries/0_stateless/01278_format_multiple_queries.reference
  tests/queries/0_stateless/01300_group_by_other_keys.reference
  tests/queries/0_stateless/01300_group_by_other_keys_having.reference
  tests/queries/0_stateless/01321_aggregate_functions_of_group_by_keys.reference
  tests/queries/0_stateless/01321_monotonous_functions_in_order_by.reference
  tests/queries/0_stateless/01322_any_input_optimize.reference
  tests/queries/0_stateless/01323_redundant_functions_in_order_by.reference
  tests/queries/0_stateless/01355_defaultValueOfArgumentType_bug.sql
  tests/queries/0_stateless/01372_wrong_order_by_removal.reference
  tests/queries/0_stateless/01379_with_fill_several_columns.sql
  tests/queries/0_stateless/01390_remove_injective_in_uniq.reference
  tests/queries/0_stateless/01414_push_predicate_when_contains_with_clause.reference
  tests/queries/0_stateless/01418_index_analysis_bug.sql
  tests/queries/0_stateless/01455_duplicate_distinct_optimization.reference
  tests/queries/0_stateless/01470_columns_transformers.reference
  tests/queries/0_stateless/01471_limit_by_format.reference
  tests/queries/0_stateless/01471_limit_by_format.sql
  tests/queries/0_stateless/01471_with_format.reference
  tests/queries/0_stateless/01471_with_format.sql
  tests/queries/1_stateful/00063_loyalty_joins.sql
Labels: pr-improvement

#14591 Correct nullability checker for LowCardinality nested columns
  src/Columns/ColumnLowCardinality.h
  src/Functions/array/arrayIndex.h
  tests/queries/0_stateless/01414_low_cardinality_nullable.reference
  tests/queries/0_stateless/01414_low_cardinality_nullable.sql
Labels: pr-bugfix

#14530 Fix Nullable String to Enum conversion.
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/01490_nullable_string_to_enum.reference
  tests/queries/0_stateless/01490_nullable_string_to_enum.sql
Labels: pr-bugfix

#14619 Better recursive database copy in integration tests
  tests/integration/helpers/cluster.py
  tests/integration/test_storage_rabbitmq/clickhouse_path/format_schemas/rabbitmq.proto
Labels: pr-not-for-changelog

#14620 Mention db requirement in dictionary functions
  docs/en/sql-reference/functions/ext-dict-functions.md
Labels: pr-documentation

#14636 Use global ICU ADDINCL for Arcadia build
  src/Columns/ya.make
  src/Functions/ya.make
  src/Functions/ya.make.in
Labels: can be tested, pr-not-for-changelog

#14611 Treat query as function argument.
  src/Interpreters/QueryNormalizer.cpp
  src/Parsers/ASTFunction.cpp
  src/Parsers/ASTFunction.h
  src/Parsers/ExpressionElementParsers.cpp
  src/TableFunctions/TableFunctionView.cpp
Labels: pr-bugfix

#14525 Fix executable dictionary source hang
  docker/test/fasttest/run.sh
  docker/test/stateless/run.sh
  docker/test/stateless_unbundled/run.sh
  docker/test/stateless_with_coverage/run.sh
  src/Common/tests/CMakeLists.txt
  src/Common/tests/shell_command_inout.cpp
  src/Dictionaries/ExecutableDictionarySource.cpp
  tests/config/executable_dictionary.xml
  tests/queries/0_stateless/01474_executable_dictionary.reference
  tests/queries/0_stateless/01474_executable_dictionary.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
  tests/queries/skip_list.json
Labels: force tests, pr-bugfix

#14655 Support for nested multiline comments
  src/Parsers/Lexer.cpp
  tests/queries/0_stateless/01491_nested_multiline_comments.reference
  tests/queries/0_stateless/01491_nested_multiline_comments.sql
Labels: pr-backward-incompatible

#14647 Add QueryMemoryLimitExceeded event
  src/Common/MemoryTracker.cpp
  src/Common/ProfileEvents.cpp
Labels: can be tested, pr-improvement

#14632 Fuzzer: reset default database before reconnect
  programs/client/Client.cpp
Labels: pr-not-for-changelog

#14683 Try fix totals port for IAccumulatingTransform.
  src/Processors/IAccumulatingTransform.cpp
Labels: pr-not-for-changelog

#14333 Add JSONStrings formats
  docs/en/interfaces/formats.md
  src/DataTypes/DataTypeNullable.cpp
  src/DataTypes/DataTypeNullable.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Processors/Formats/Impl/JSONCompactEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONCompactEachRowRowInputFormat.h
  src/Processors/Formats/Impl/JSONCompactEachRowRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONCompactEachRowRowOutputFormat.h
  src/Processors/Formats/Impl/JSONCompactRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONCompactRowOutputFormat.h
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.h
  src/Processors/Formats/Impl/JSONEachRowRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONEachRowRowOutputFormat.h
  src/Processors/Formats/Impl/JSONEachRowWithProgressRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONRowOutputFormat.h
  tests/queries/0_stateless/01016_input_null_as_default.reference
  tests/queries/0_stateless/01016_input_null_as_default.sh
  tests/queries/0_stateless/01446_json_strings_each_row.reference
  tests/queries/0_stateless/01446_json_strings_each_row.sql
  tests/queries/0_stateless/01447_json_strings.reference
  tests/queries/0_stateless/01447_json_strings.sql
  tests/queries/0_stateless/01448_json_compact_strings_each_row.reference
  tests/queries/0_stateless/01448_json_compact_strings_each_row.sql
  tests/queries/0_stateless/01449_json_compact_strings.reference
  tests/queries/0_stateless/01449_json_compact_strings.sql
Labels: doc-alert, pr-feature

#14563 ReplicatedMergeTree - cleanup data directory after Zookeeper exceptions
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_cleanup_dir_after_bad_zk_conn/__init__.py
  tests/integration/test_cleanup_dir_after_bad_zk_conn/test.py
Labels: pr-bugfix

#14657 Extracted the debug info generation for functions into a cmake option
  src/Functions/CMakeLists.txt
  src/Functions/GatherUtils/CMakeLists.txt
  src/Functions/URL/CMakeLists.txt
  src/Functions/array/CMakeLists.txt
Labels: pr-improvement

#14714 Remove unused headers
  base/common/types.h
Labels: pr-build

#14713 Added test from #13829
  tests/queries/0_stateless/01492_array_join_crash_13829.reference
  tests/queries/0_stateless/01492_array_join_crash_13829.sql
Labels: pr-not-for-changelog

#14669 Backport #12183 to 20.9
  src/Compression/CachedCompressedReadBuffer.cpp
  src/Compression/CachedCompressedReadBuffer.h
  src/Compression/CompressedReadBufferBase.cpp
  src/Compression/CompressedReadBufferBase.h
  src/Compression/CompressedReadBufferFromFile.cpp
  src/Compression/CompressedReadBufferFromFile.h
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
Labels: pr-backport, pr-not-for-changelog

#14671 Backport #12183 to 20.8
  src/Compression/CachedCompressedReadBuffer.cpp
  src/Compression/CachedCompressedReadBuffer.h
  src/Compression/CompressedReadBufferBase.cpp
  src/Compression/CompressedReadBufferBase.h
  src/Compression/CompressedReadBufferFromFile.cpp
  src/Compression/CompressedReadBufferFromFile.h
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
Labels: pr-backport, pr-not-for-changelog

#14673 Backport #12183 to 20.6
  src/Compression/CachedCompressedReadBuffer.cpp
  src/Compression/CachedCompressedReadBuffer.h
  src/Compression/CompressedReadBufferBase.cpp
  src/Compression/CompressedReadBufferBase.h
  src/Compression/CompressedReadBufferFromFile.cpp
  src/Compression/CompressedReadBufferFromFile.h
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
Labels: pr-backport, pr-not-for-changelog

#14672 Backport #12183 to 20.7
  src/Compression/CachedCompressedReadBuffer.cpp
  src/Compression/CachedCompressedReadBuffer.h
  src/Compression/CompressedReadBufferBase.cpp
  src/Compression/CompressedReadBufferBase.h
  src/Compression/CompressedReadBufferFromFile.cpp
  src/Compression/CompressedReadBufferFromFile.h
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
Labels: pr-backport, pr-not-for-changelog

#14675 Backport #12183 to 20.3
  src/Compression/CachedCompressedReadBuffer.cpp
  src/Compression/CachedCompressedReadBuffer.h
  src/Compression/CompressedReadBufferBase.cpp
  src/Compression/CompressedReadBufferBase.h
  src/Compression/CompressedReadBufferFromFile.cpp
  src/Compression/CompressedReadBufferFromFile.h
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
Labels: pr-backport, pr-not-for-changelog

#13192 Simpler version of semicolon-terminated VALUES #12999 w/o `pos` changes
  programs/client/Client.cpp
  tests/queries/0_stateless/00306_insert_values_and_expressions.reference
  tests/queries/0_stateless/00306_insert_values_and_expressions.sql
Labels: pr-improvement

#14725 formatReadableQuantity() function
  docs/en/sql-reference/functions/other-functions.md
  docs/ru/sql-reference/functions/other-functions.md
  src/Functions/FunctionsFormatting.cpp
  src/Functions/FunctionsFormatting.h
  tests/queries/0_stateless/00534_filimonov.data
  tests/queries/0_stateless/01492_format_readable_quantity.reference
  tests/queries/0_stateless/01492_format_readable_quantity.sql
Labels: can be tested, doc-alert, pr-feature

#14704 Fix misleading exception message about uuid macro
  src/Common/Macros.cpp
  src/Storages/MergeTree/registerStorageMergeTree.cpp
Labels: pr-not-for-changelog

#14696 Fix mysql replication optional metadata ignore
  src/Core/MySQL/IMySQLReadPacket.cpp
  src/Core/MySQL/MySQLReplication.cpp
  src/Core/tests/mysql_protocol.cpp
  src/Databases/MySQL/MaterializeMySQLSyncThread.cpp
Labels: pr-improvement

#14514 add event_time_microseconds field to asynchronous_metric_log & metric_log system tables
  docs/en/operations/system-tables/asynchronous_metric_log.md
  docs/en/operations/system-tables/metric_log.md
  src/Interpreters/AsynchronousMetricLog.cpp
  src/Interpreters/AsynchronousMetricLog.h
  src/Interpreters/MetricLog.cpp
  src/Interpreters/MetricLog.h
  tests/integration/test_asynchronous_metric_log_table/__init__.py
  tests/integration/test_asynchronous_metric_log_table/configs/asynchronous_metrics_update_period_s.xml
  tests/integration/test_asynchronous_metric_log_table/test.py
  tests/queries/0_stateless/01473_event_time_microseconds.reference
  tests/queries/0_stateless/01473_event_time_microseconds.sql
Labels: doc-alert, pr-feature

#14703 Merging #13846 (Format LineAsString)
  src/Formats/FormatFactory.cpp
  src/Processors/Formats/Impl/LineAsStringRowInputFormat.cpp
  src/Processors/Formats/Impl/LineAsStringRowInputFormat.h
  src/Processors/ya.make
  tests/queries/0_stateless/01460_line_as_string_format.reference
  tests/queries/0_stateless/01460_line_as_string_format.sh
Labels: doc-alert, pr-feature

#14551 DOCSUP-2040: Translate PR to RU
  docs/ru/interfaces/formats.md
  docs/ru/sql-reference/functions/random-functions.md
  docs/ru/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation

#14712 FunctionBinaryArithmetic refactoring
  src/Functions/FunctionBinaryArithmetic.h
  src/Functions/divide.cpp
  src/Functions/minus.cpp
  src/Functions/multiply.cpp
  src/Functions/plus.cpp
Labels: pr-not-for-changelog

#14746 Disable test in Arcadia
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-not-for-changelog

#14561 Use join() instead of detach() for threads
  src/Access/DiskAccessStorage.cpp
  src/Access/DiskAccessStorage.h
  src/Interpreters/ExternalLoader.cpp
Labels: pr-codecleanup, pr-not-for-changelog

#14604 Use join() instead of detach() for threads #2
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterDropQuery.h
  src/Storages/LiveView/LiveViewBlockInputStream.h
  src/Storages/LiveView/LiveViewEventsBlockInputStream.h
  src/Storages/LiveView/StorageLiveView.cpp
  src/Storages/LiveView/StorageLiveView.h
  src/Storages/LiveView/TemporaryLiveViewCleaner.cpp
  src/Storages/LiveView/TemporaryLiveViewCleaner.h
  src/Storages/ya.make
Labels: pr-bugfix, pr-not-for-changelog

#14471 Added a script to import git repository to ClickHouse
  programs/CMakeLists.txt
  programs/config_tools.h.in
  programs/git-import/CMakeLists.txt
  programs/git-import/clickhouse-git-import.cpp
  programs/git-import/git-import.cpp
  programs/install/Install.cpp
  programs/main.cpp
  src/Common/ShellCommand.cpp
  src/IO/ReadBufferFromFile.cpp
  src/IO/WriteBufferFromFile.cpp
Labels: doc-alert, pr-feature

#14745 Fix crashes in RabbitMQ tests
  tests/integration/test_storage_rabbitmq/test.py
Labels: can be tested, pr-not-for-changelog

#14734 Fix missing clone in replace column transformer
  src/Parsers/ASTColumnsTransformers.cpp
Labels: pr-bugfix

#14763 Fix flaky test (01465_ttl_recompression)
  tests/queries/0_stateless/01465_ttl_recompression.reference
  tests/queries/0_stateless/01465_ttl_recompression.sql
Labels: pr-not-for-changelog

#14761 Fix build failure in OSX
  src/Functions/GatherUtils/CMakeLists.txt
  src/Functions/GatherUtils/Sources.h
Labels: pr-build

#14748 Skip access storages with same path while reading the main config.
  src/Access/AccessControlManager.cpp
  src/Access/DiskAccessStorage.cpp
  src/Access/DiskAccessStorage.h
  tests/integration/test_user_directories/configs/duplicates.xml
  tests/integration/test_user_directories/configs/mixed_style.xml
  tests/integration/test_user_directories/test.py
Labels: pr-not-for-changelog

#13015 Refactor joinGet and implement multi-key lookup.
  src/Functions/FunctionJoinGet.cpp
  src/Functions/FunctionJoinGet.h
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  src/Interpreters/misc.h
  tests/queries/0_stateless/01080_join_get_null.reference
  tests/queries/0_stateless/01080_join_get_null.sql
  tests/queries/0_stateless/01400_join_get_with_multi_keys.reference
  tests/queries/0_stateless/01400_join_get_with_multi_keys.sql
Labels: pr-improvement

#14780 drop.md sync russian doc. with eng.
  docs/ru/sql-reference/statements/drop.md
Labels: pr-documentation

#14779 view.md sync russian doc with eng.
  docs/ru/sql-reference/statements/create/view.md
Labels: pr-documentation

#14702 Update backup.md
  docs/es/operations/backup.md
Labels: can be tested, pr-documentation

#14646 Fix bug in if function when then clause contain const nullable column
  src/Columns/ColumnVector.h
  src/Functions/if.cpp
  tests/queries/0_stateless/01475_mutation_with_if.reference
  tests/queries/0_stateless/01475_mutation_with_if.sql
Labels: pr-bugfix

#14705 Add merge_algorithm to system.merges
  docs/en/operations/system-tables/merges.md
  src/Storages/MergeTree/MergeAlgorithm.cpp
  src/Storages/MergeTree/MergeAlgorithm.h
  src/Storages/MergeTree/MergeList.cpp
  src/Storages/MergeTree/MergeList.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/System/StorageSystemMerges.cpp
  src/Storages/ya.make
Labels: pr-improvement

#14697 Fix wide integer left shift + refactoring
  base/common/throwError.h
  base/common/types.h
  base/common/wide_integer.h
  base/common/wide_integer_impl.h
  base/common/wide_integer_to_string.h
  src/IO/WriteHelpers.h
  tests/queries/0_stateless/01475_fix_bigint_shift.reference
  tests/queries/0_stateless/01475_fix_bigint_shift.sql
Labels: pr-bugfix

#14668 utils/list-licenses/list-licenses.sh: ignore more files
  utils/list-licenses/list-licenses.sh
Labels: pr-not-for-changelog

#14670 Pass -fsanitize-blacklist for TSAN only under clang (gcc does not support this)
  cmake/sanitize.cmake
Labels: pr-not-for-changelog

#14453 column transformers in insert select
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Parsers/ParserInsertQuery.cpp
  src/Parsers/ParserInsertQuery.h
  tests/queries/0_stateless/01470_test_insert_select_asterisk.reference
  tests/queries/0_stateless/01470_test_insert_select_asterisk.sql
Labels: doc-alert, pr-feature, syntax

#13837 Add the section <user_directories> to the default config.
  programs/server/config.xml
  tests/integration/helpers/0_common_instance_config.xml
Labels: pr-not-for-changelog

#13166 Add mapPopulateSeries function
  docs/en/sql-reference/functions/tuple-map-functions.md
  src/Functions/array/mapPopulateSeries.cpp
  src/Functions/array/registerFunctionsArray.cpp
  src/Functions/ya.make
  tests/queries/0_stateless/01318_map_populate_series.reference
  tests/queries/0_stateless/01318_map_populate_series.sql
Labels: doc-alert, pr-feature

#14710 Do less runs in perf test
  docker/test/performance-comparison/eqmed.sql
  docker/test/performance-comparison/perf.py
  docker/test/performance-comparison/report.py
  tests/performance/joins_in_memory_pmj.xml
Labels: pr-not-for-changelog
