Repository ClickHouse/ClickHouse, pull requests merged in 2020-08, with the labels that each got.

#13189 Remove TreeExecutorBIS
  src/DataStreams/tests/gtest_blocks_size_merging_streams.cpp
  src/Processors/Executors/TreeExecutorBlockInputStream.cpp
  src/Processors/Executors/TreeExecutorBlockInputStream.h
  src/Processors/QueryPipeline.cpp
  src/Processors/ya.make
  src/Storages/IStorage.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  src/Storages/tests/gtest_storage_log.cpp
Labels: pr-not-for-changelog

#13170 Check header for totals and extremes.
  src/Processors/QueryPipeline.cpp
Labels: pr-not-for-changelog

#13206 Hide ClientInfo::current_password under #ifdef ARCADIA_BUILD
  src/Interpreters/ClientInfo.h
Labels: pr-not-for-changelog

#12506 Added a test to ensure that amount of ZooKeeper nodes doesn't grow in presense of lost replicas
  tests/queries/0_stateless/01396_inactive_replica_cleanup_nodes.reference
  tests/queries/0_stateless/01396_inactive_replica_cleanup_nodes.sh
Labels: pr-not-for-changelog

#12442 Deprecate special printing of zero Date/DateTime
  src/Dictionaries/DictionaryStructure.cpp
  src/IO/WriteHelpers.h
  src/IO/tests/gtest_DateTimeToString.cpp
  tests/integration/test_dictionaries_null_value/test.py
  tests/integration/test_dictionaries_select_all/configs/dictionaries/source.tsv
  tests/integration/test_dictionaries_update_and_reload/test.py
  tests/integration/test_insert_into_distributed_sync_async/test.py
  tests/integration/test_mysql_protocol/test.py
  tests/integration/test_storage_kafka/test.py
  tests/integration/test_storage_kafka/test_kafka_virtual2.reference
  tests/queries/0_stateless/00061_merge_tree_alter.reference
  tests/queries/0_stateless/00062_replicated_merge_tree_alter_zookeeper.reference
  tests/queries/0_stateless/00062_replicated_merge_tree_alter_zookeeper.sql
  tests/queries/0_stateless/00101_materialized_views_and_insert_without_explicit_database.reference
  tests/queries/0_stateless/00101_materialized_views_and_insert_without_explicit_database.sql
  tests/queries/0_stateless/00206_empty_array_to_single.reference
  tests/queries/0_stateless/00206_empty_array_to_single.sql
  tests/queries/0_stateless/00261_storage_aliases_and_array_join.reference
  tests/queries/0_stateless/00310_tskv.reference
  tests/queries/0_stateless/00310_tskv.sh
  tests/queries/0_stateless/00461_default_value_of_argument_type.reference
  tests/queries/0_stateless/00461_default_value_of_argument_type.sql
  tests/queries/0_stateless/00521_multidimensional.reference
  tests/queries/0_stateless/00540_bad_data_types.reference
  tests/queries/0_stateless/00540_bad_data_types.sh
  tests/queries/0_stateless/00569_parse_date_time_best_effort.reference
  tests/queries/0_stateless/00664_cast_from_string_to_nullable.reference
  tests/queries/0_stateless/00664_cast_from_string_to_nullable.sql
  tests/queries/0_stateless/00693_max_block_size_system_tables_columns.reference
  tests/queries/0_stateless/00693_max_block_size_system_tables_columns.sql
  tests/queries/0_stateless/00735_conditional.reference
  tests/queries/0_stateless/00802_system_parts_with_datetime_partition.reference
  tests/queries/0_stateless/00802_system_parts_with_datetime_partition.sql
  tests/queries/0_stateless/00818_inner_join_bug_3567.reference
  tests/queries/0_stateless/00927_asof_join_noninclusive.reference
  tests/queries/0_stateless/00935_to_iso_week_first_year.reference
  tests/queries/0_stateless/00937_template_output_format.reference
  tests/queries/0_stateless/00937_test_use_header_csv.reference
  tests/queries/0_stateless/00937_test_use_header_tsv.reference
  tests/queries/0_stateless/00952_input_function.reference
  tests/queries/0_stateless/00974_full_outer_join.reference
  tests/queries/0_stateless/01008_materialized_view_henyihanwobushi.reference
  tests/queries/0_stateless/01064_incremental_streaming_from_2_src_with_feedback.reference
  tests/queries/0_stateless/01064_incremental_streaming_from_2_src_with_feedback.sql
  tests/queries/0_stateless/01127_month_partitioning_consistency_select.reference
  tests/queries/0_stateless/01129_dict_get_join_lose_constness.reference
  tests/queries/0_stateless/01129_dict_get_join_lose_constness.sql
  tests/queries/0_stateless/01139_asof_join_types.reference
  tests/queries/0_stateless/01139_asof_join_types.sql
  tests/queries/0_stateless/01257_dictionary_mismatch_types.reference
  tests/queries/0_stateless/01257_dictionary_mismatch_types.sql
  tests/queries/0_stateless/01281_parseDateTime64BestEffort.reference
  tests/queries/0_stateless/01282_system_parts_ttl_info.reference
  tests/queries/0_stateless/01282_system_parts_ttl_info.sql
  tests/queries/0_stateless/01313_parse_date_time_best_effort_null_zero.reference
  tests/queries/0_stateless/01313_parse_date_time_best_effort_null_zero.sql
  tests/queries/0_stateless/01379_with_fill_several_columns.reference
  tests/queries/0_stateless/01412_row_from_totals.reference
Labels: pr-backward-incompatible

#13055 Slightly improve the inner loop of aggregation by UInt8/UInt16 keys
  src/Common/HashTable/FixedHashMap.h
  src/Interpreters/Aggregator.h
  tests/performance/synthetic_hardware_benchmark.xml
Labels: pr-performance

#13016 Limit push down
  src/Interpreters/InterpreterExplainQuery.cpp
  src/Interpreters/InterpreterSelectWithUnionQuery.cpp
  src/Processors/QueryPlan/AddingDelayedSourceStep.cpp
  src/Processors/QueryPlan/AggregatingStep.cpp
  src/Processors/QueryPlan/ConvertingStep.cpp
  src/Processors/QueryPlan/CreatingSetsStep.cpp
  src/Processors/QueryPlan/CubeStep.cpp
  src/Processors/QueryPlan/DistinctStep.cpp
  src/Processors/QueryPlan/ExpressionStep.cpp
  src/Processors/QueryPlan/ExtremesStep.cpp
  src/Processors/QueryPlan/FillingStep.cpp
  src/Processors/QueryPlan/FilterStep.cpp
  src/Processors/QueryPlan/FinishSortingStep.cpp
  src/Processors/QueryPlan/FinishSortingStep.h
  src/Processors/QueryPlan/IQueryPlanStep.h
  src/Processors/QueryPlan/ITransformingStep.cpp
  src/Processors/QueryPlan/ITransformingStep.h
  src/Processors/QueryPlan/LimitByStep.cpp
  src/Processors/QueryPlan/LimitStep.cpp
  src/Processors/QueryPlan/LimitStep.h
  src/Processors/QueryPlan/MergeSortingStep.cpp
  src/Processors/QueryPlan/MergeSortingStep.h
  src/Processors/QueryPlan/MergingAggregatedStep.cpp
  src/Processors/QueryPlan/MergingSortedStep.cpp
  src/Processors/QueryPlan/MergingSortedStep.h
  src/Processors/QueryPlan/OffsetStep.cpp
  src/Processors/QueryPlan/PartialSortingStep.cpp
  src/Processors/QueryPlan/PartialSortingStep.h
  src/Processors/QueryPlan/QueryPlan.cpp
  src/Processors/QueryPlan/QueryPlan.h
  src/Processors/QueryPlan/RollupStep.cpp
  src/Processors/QueryPlan/TotalsHavingStep.cpp
  tests/performance/push_down_limit.xml
Labels: pr-performance

#12316 Add system.crash_log table.
  base/daemon/BaseDaemon.cpp
  base/daemon/SentryWriter.cpp
  base/daemon/SentryWriter.h
  programs/server/config.xml
  src/Common/StackTrace.cpp
  src/Common/ThreadStatus.cpp
  src/Common/ThreadStatus.h
  src/Common/TraceCollector.cpp
  src/Interpreters/CrashLog.cpp
  src/Interpreters/CrashLog.h
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  src/Interpreters/ThreadStatusExt.cpp
  src/Interpreters/TraceLog.cpp
  src/Interpreters/TraceLog.h
Labels: doc-alert, pr-feature

#13151 Refactor pipeline executor
  src/Processors/Executors/ExecutingGraph.cpp
  src/Processors/Executors/ExecutingGraph.h
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/PipelineExecutor.h
  src/Processors/Executors/TasksQueue.h
  src/Processors/Executors/ThreadsQueue.h
  src/Processors/ya.make
Labels: pr-not-for-changelog

#13205 Fix DateTime64 conversion functions with constant argument
  src/Functions/FunctionUnixTimestamp64.h
  tests/queries/0_stateless/01403_datetime64_constant_arg.reference
  tests/queries/0_stateless/01403_datetime64_constant_arg.sql
Labels: pr-bugfix

#13208 Allow "register" variables in libunwind
  contrib/libunwind-cmake/CMakeLists.txt
Labels: pr-build, submodule changed

#13158 Merge #12574
  src/Dictionaries/ya.make
  src/Functions/formatRow.cpp
  src/Functions/registerFunctionsString.cpp
  src/Functions/ya.make
  src/IO/WriteBufferFromVector.h
  tests/queries/0_stateless/01420_format_row.reference
  tests/queries/0_stateless/01420_format_row.sql
Labels: pr-not-for-changelog

#12574 formatRow function
  src/Functions/formatRow.cpp
  src/Functions/registerFunctionsString.cpp
  src/IO/WriteBufferFromVector.h
  tests/queries/0_stateless/01420_format_row.reference
  tests/queries/0_stateless/01420_format_row.sql
Labels: doc-alert, pr-feature, st-waiting-for-fix

#13230 Fix libunwind warning
  contrib/libunwind-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#13220 Fix assert in IN with tuple literals and functions
  src/Interpreters/ActionsVisitor.cpp
  tests/queries/0_stateless/01421_assert_in_in.reference
  tests/queries/0_stateless/01421_assert_in_in.sql
Labels: pr-not-for-changelog

#13224 Fix assert in arrayElement
  src/Functions/array/arrayElement.cpp
  tests/queries/0_stateless/01421_array_nullable_element_nullable_index.reference
  tests/queries/0_stateless/01421_array_nullable_element_nullable_index.sql
  tests/queries/0_stateless/01422_array_nullable_element_nullable_index.reference
  tests/queries/0_stateless/01422_array_nullable_element_nullable_index.sql
Labels: pr-bugfix

#13229 Fix assert in geohashesInBox
  src/Functions/geohashesInBox.cpp
  tests/queries/0_stateless/01426_geohash_constants.reference
  tests/queries/0_stateless/01426_geohash_constants.sql
Labels: pr-improvement

#13227 Fix assert in parseDateTimeBestEffort
  src/IO/parseDateTimeBestEffort.cpp
  tests/queries/0_stateless/01424_parse_date_time_bad_date.reference
  tests/queries/0_stateless/01424_parse_date_time_bad_date.sql
Labels: pr-improvement

#13238 Normalize ya.make files, fix "Arcadia" build
  src/Access/ya.make
  src/Access/ya.make.in
  src/AggregateFunctions/ya.make
  src/AggregateFunctions/ya.make.in
  src/Client/ya.make
  src/Client/ya.make.in
  src/Columns/ya.make
  src/Common/ya.make
  src/Common/ya.make.in
  src/Compression/ya.make
  src/Compression/ya.make.in
  src/Core/ya.make
  src/Core/ya.make.in
  src/DataStreams/ya.make
  src/DataStreams/ya.make.in
  src/Databases/ya.make
  src/Databases/ya.make.in
  src/Disks/ya.make
  src/Disks/ya.make.in
  src/Formats/ya.make
  src/Formats/ya.make.in
  src/IO/ya.make
  src/IO/ya.make.in
  src/Interpreters/ya.make
  src/Interpreters/ya.make.in
  src/Parsers/ya.make
  src/Parsers/ya.make.in
  src/Processors/ya.make
  src/Processors/ya.make.in
  src/Server/ya.make
  src/Server/ya.make.in
  src/Storages/ya.make
  src/Storages/ya.make.in
  src/TableFunctions/ya.make
  src/TableFunctions/ya.make.in
Labels: pr-not-for-changelog

#13150 Use absolute paths to backup locations (shadow)
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/PartitionCommands.cpp
  src/Storages/PartitionCommands.h
  tests/integration/test_freeze_table/__init__.py
  tests/integration/test_freeze_table/test.py
  tests/queries/0_stateless/01417_freeze_partition_verbose.reference
  tests/queries/0_stateless/01417_freeze_partition_verbose.sh
  tests/queries/0_stateless/01417_freeze_partition_verbose.sql
  tests/queries/0_stateless/01417_freeze_partition_verbose_zookeeper.reference
  tests/queries/0_stateless/01417_freeze_partition_verbose_zookeeper.sh
  tests/queries/0_stateless/01417_freeze_partition_verbose_zookeeper.sql
Labels: pr-not-for-changelog

#13239 Simplify CMake for libunwind (suggestion from @azat)
  contrib/libunwind-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#13209 Minor changes in Debian scripts
  debian/clickhouse-server.init
  debian/clickhouse-server.postinst
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#13207 Fix Shellcheck errors (step 1)
  tests/queries/0_stateless/00385_storage_file_and_clickhouse-local_app.sh
  tests/queries/0_stateless/00429_long_http_bufferization.sh
  tests/queries/0_stateless/00446_clear_column_in_partition_concurrent_zookeeper.sh
  tests/queries/0_stateless/00505_secure.sh
  tests/queries/0_stateless/01037_polygon_dicts_correctness_all.sh
  tests/queries/0_stateless/01037_polygon_dicts_correctness_fast.sh
  tests/queries/0_stateless/01037_polygon_dicts_simple_functions.sh
  tests/queries/0_stateless/01060_avro.sh
Labels: pr-build

#13213 Fix assertion failure in FunctionsLogical
  src/Functions/FunctionsLogical.cpp
  tests/queries/0_stateless/01420_logical_functions_materialized_null.reference
  tests/queries/0_stateless/01420_logical_functions_materialized_null.sql
Labels: pr-not-for-changelog

#13235 fasttest: use array for skip list and add 01413_rows_events into it
  docker/test/fasttest/run.sh
Labels: pr-not-for-changelog

#13193 Fix some spurious perf test failures
  docker/test/performance-comparison/compare.sh
  tests/performance/decimal_aggregates.xml
  tests/performance/jit_large_requests.xml
  tests/performance/string_sort.xml
Labels: pr-not-for-changelog

#13250 Fix including Common/config.h in the Arcadia build.
  src/Common/OpenSSLHelpers.cpp
Labels: pr-not-for-changelog

#13225 Fix assert in *Map aggregate functions
  src/AggregateFunctions/AggregateFunctionSumMap.h
  src/Common/FieldVisitors.h
  tests/queries/0_stateless/01422_map_skip_null.reference
  tests/queries/0_stateless/01422_map_skip_null.sql
Labels: pr-improvement

#13255 Attempt to fix "Arcadia" build
  src/Interpreters/Context.cpp
Labels: pr-not-for-changelog

#13251 Fix assertion in KeyCondition
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/01427_pk_and_expression_with_different_type.reference
  tests/queries/0_stateless/01427_pk_and_expression_with_different_type.sql
Labels: pr-bugfix

#13226 Fix function if with nullable constexpr as cond that is not literal NULL
  src/Functions/if.cpp
  tests/queries/0_stateless/00735_conditional.reference
  tests/queries/0_stateless/00735_conditional.sql
  tests/queries/0_stateless/01423_if_nullable_cond.reference
  tests/queries/0_stateless/01423_if_nullable_cond.sql
Labels: pr-bugfix

#13201 Fix logging in MergeTreeDataSelectExecutor for multiple threads (attach to thread group)
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01323_too_many_threads_bug.sql
Labels: pr-not-for-changelog

#13269 update #syntax-expressions in syntax.md
  docs/zh/sql-reference/syntax.md
Labels: pr-documentation

#13028 Add QueryTimeMicroseconds, SelectQueryTimeMicroseconds and InsertQuer…
  src/Common/ProfileEvents.cpp
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/01417_query_time_in_system_events.reference
  tests/queries/0_stateless/01417_query_time_in_system_events.sh
Labels: pr-improvement

#13103 Add test for macros usage in some kafka settings.
  tests/integration/test_storage_kafka/configs/kafka_macros.xml
  tests/integration/test_storage_kafka/test.py
Labels: pr-not-for-changelog

#13091 Slightly improve performance of aggregation by UInt8/UInt16 keys, part 4
  src/AggregateFunctions/IAggregateFunction.h
  src/Common/ColumnsHashing.h
  src/Common/HashTable/FixedClearableHashSet.h
  src/Common/HashTable/FixedHashMap.h
  src/Common/HashTable/FixedHashSet.h
  src/Common/HashTable/FixedHashTable.h
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  tests/performance/synthetic_hardware_benchmark.xml
Labels: pr-performance

#13254 Fix hash table with NaN keys
  src/AggregateFunctions/AggregateFunctionUniq.h
  src/Common/HashTable/HashMap.h
  src/Common/HashTable/HashSet.h
  src/Common/HashTable/HashTable.h
  tests/queries/0_stateless/01428_hash_set_nan_key.reference
  tests/queries/0_stateless/01428_hash_set_nan_key.sql
Labels: pr-bugfix

#12622 Fix various code defects in groupArrayMoving functions
  src/AggregateFunctions/AggregateFunctionGroupArrayMoving.cpp
  src/AggregateFunctions/AggregateFunctionGroupArrayMoving.h
  tests/queries/0_stateless/00953_moving_functions.reference
  tests/queries/0_stateless/01412_group_array_moving_shard.reference
  tests/queries/0_stateless/01412_group_array_moving_shard.sql
Labels: pr-backward-incompatible, pr-bugfix

#13284 Wait with retries in fast test
  docker/test/fasttest/run.sh
Labels: pr-build

#13272 Set custom prefix in server-test.xml too
  tests/server-test.xml
Labels: pr-not-for-changelog

#13153 Sanity checks for MergeTreeSettings
  programs/server/Server.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
  tests/integration/test_insert_into_distributed/configs/forbid_background_merges.xml
  tests/integration/test_insert_into_distributed/test.py
  tests/integration/test_insert_into_distributed_through_materialized_view/configs/forbid_background_merges.xml
  tests/integration/test_insert_into_distributed_through_materialized_view/test.py
  tests/integration/test_polymorphic_parts/configs/do_not_merge.xml
  tests/queries/0_stateless/01415_inconsistent_merge_tree_settings.sql
  tests/queries/0_stateless/01419_merge_tree_settings_sanity_check.reference
  tests/queries/0_stateless/01419_merge_tree_settings_sanity_check.sql
Labels: pr-improvement

#13277 Fix range checks in h3 functions
  src/Functions/h3ToChildren.cpp
  src/Functions/h3ToParent.cpp
  tests/queries/0_stateless/01428_h3_range_check.reference
  tests/queries/0_stateless/01428_h3_range_check.sql
Labels: pr-bugfix

#13291 Fix LEFT ASOF JOIN with join_use_nulls
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  src/Interpreters/RowRefs.cpp
  src/Interpreters/RowRefs.h
  tests/queries/0_stateless/01428_nullable_asof_join.reference
  tests/queries/0_stateless/01428_nullable_asof_join.sql
Labels: pr-bugfix

#13290 Fix totals for delayed replica
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Processors/Sources/DelayedSource.cpp
  src/Processors/Sources/DelayedSource.h
  tests/integration/test_delayed_replica_failover/test.py
Labels: no-docs-needed, pr-bugfix

#13278 Fix exception in integration tests during clickhouse restart
  tests/integration/helpers/cluster.py
Labels: bugfest, pr-not-for-changelog

#13310 Applying LDAP authentication test fixes
  tests/testflows/helpers/cluster.py
  tests/testflows/ldap/docker-compose/clickhouse-service.yml
  tests/testflows/ldap/docker-compose/docker-compose.yml
  tests/testflows/ldap/docker-compose/openldap-service.yml
  tests/testflows/ldap/regression.py
  tests/testflows/ldap/tests/connections.py
Labels: pr-build

#13279 Use references while iterating through settings
  programs/client/Client.cpp
  programs/server/Server.cpp
  src/Core/BaseSettings.h
  src/Core/Settings.cpp
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/System/StorageSystemMergeTreeSettings.cpp
  src/Storages/System/StorageSystemSettings.cpp
Labels: pr-not-for-changelog

#13061 Added testing for RBAC functionality of SELECT privilege
  tests/testflows/helpers/argparser.py
  tests/testflows/rbac/configs/clickhouse/common.xml
  tests/testflows/rbac/configs/clickhouse/config.d/remote.xml
  tests/testflows/rbac/regression.py
  tests/testflows/rbac/requirements/requirements.md
  tests/testflows/rbac/requirements/requirements.py
  tests/testflows/rbac/tests/errors.py
  tests/testflows/rbac/tests/privileges/__init__.py
  tests/testflows/rbac/tests/privileges/feature.py
  tests/testflows/rbac/tests/privileges/select.py
  tests/testflows/rbac/tests/syntax/__init__.py
  tests/testflows/rbac/tests/syntax/alter_quota.py
  tests/testflows/rbac/tests/syntax/alter_role.py
  tests/testflows/rbac/tests/syntax/alter_row_policy.py
  tests/testflows/rbac/tests/syntax/alter_settings_profile.py
  tests/testflows/rbac/tests/syntax/alter_user.py
  tests/testflows/rbac/tests/syntax/create_quota.py
  tests/testflows/rbac/tests/syntax/create_role.py
  tests/testflows/rbac/tests/syntax/create_row_policy.py
  tests/testflows/rbac/tests/syntax/create_settings_profile.py
  tests/testflows/rbac/tests/syntax/create_user.py
  tests/testflows/rbac/tests/syntax/drop_quota.py
  tests/testflows/rbac/tests/syntax/drop_role.py
  tests/testflows/rbac/tests/syntax/drop_row_policy.py
  tests/testflows/rbac/tests/syntax/drop_settings_profile.py
  tests/testflows/rbac/tests/syntax/drop_user.py
  tests/testflows/rbac/tests/syntax/feature.py
  tests/testflows/rbac/tests/syntax/grant_privilege.py
  tests/testflows/rbac/tests/syntax/grant_role.py
  tests/testflows/rbac/tests/syntax/revoke_privilege.py
  tests/testflows/rbac/tests/syntax/revoke_role.py
  tests/testflows/rbac/tests/syntax/set_default_role.py
  tests/testflows/rbac/tests/syntax/set_role.py
  tests/testflows/rbac/tests/syntax/show_create_quota.py
  tests/testflows/rbac/tests/syntax/show_create_role.py
  tests/testflows/rbac/tests/syntax/show_create_row_policy.py
  tests/testflows/rbac/tests/syntax/show_create_settings_profile.py
  tests/testflows/rbac/tests/syntax/show_create_user.py
  tests/testflows/rbac/tests/syntax/show_grants.py
  tests/testflows/rbac/tests/syntax/show_quotas.py
  tests/testflows/rbac/tests/syntax/show_row_policies.py
Labels: can be tested, pr-build, st-waiting-for-fix

#13304 Make the test more sane
  tests/queries/0_stateless/01413_rows_events.sql
Labels: pr-not-for-changelog

#13234 Return passed number for numbers with MSB set in roundUpToPowerOfTwoOrZero()
  src/Common/BitHelpers.h
  tests/queries/0_stateless/01404_roundUpToPowerOfTwoOrZero_safety.reference
  tests/queries/0_stateless/01404_roundUpToPowerOfTwoOrZero_safety.sql
Labels: pr-bugfix

#13321 Restart server in stress test with timeout
  docker/test/stress/run.sh
Labels: pr-build

#13203 AvroConfluent: skip Kafka tombstone records/skip broken records
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  src/Processors/Formats/Impl/AvroRowInputFormat.h
  tests/integration/test_storage_kafka/test.py
Labels: can be tested, pr-bugfix

#13341 Fix moving sum segfault
  src/AggregateFunctions/AggregateFunctionGroupArrayMoving.h
  tests/queries/0_stateless/01430_moving_sum_empty_state.reference
  tests/queries/0_stateless/01430_moving_sum_empty_state.sql
Labels: pr-bugfix

#13330 Better errors in JOIN ON section
  src/Interpreters/CollectJoinOnKeysVisitor.cpp
  src/Interpreters/CollectJoinOnKeysVisitor.h
  tests/queries/0_stateless/01429_join_on_error_messages.reference
  tests/queries/0_stateless/01429_join_on_error_messages.sql
Labels: pr-bugfix

#11524 Avoid too large stack frames
  base/common/tests/gtest_json_test.cpp
  cmake/warnings.cmake
  programs/benchmark/Benchmark.cpp
  programs/copier/ClusterCopier.cpp
  src/Common/Exception.cpp
  src/Common/RadixSort.h
  src/Common/Volnitsky.h
  src/Common/filesystemHelpers.cpp
  src/Databases/DatabaseOrdinary.cpp
  src/Functions/FunctionsStringSimilarity.cpp
  src/Functions/array/arrayEnumerateExtended.h
  src/Functions/array/arrayEnumerateRanked.h
  src/Functions/array/arrayIntersect.cpp
  src/IO/AIOContextPool.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  tests/queries/0_stateless/00930_arrayIntersect.sql
  tests/queries/0_stateless/00932_array_intersect_bug.reference
  tests/queries/0_stateless/00932_array_intersect_bug.sql
  tests/queries/0_stateless/01323_add_scalars_in_time.reference
  tests/queries/0_stateless/01323_add_scalars_in_time.sql
Labels: pr-build

#13282 Report broken parts in compact MergeTree
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
Labels: pr-improvement

#13191 Cleanup for #12999. NFC
  base/daemon/BaseDaemon.cpp
  src/Common/MemorySanitizer.h
  src/IO/HashingReadBuffer.h
  src/IO/PeekableReadBuffer.cpp
  src/IO/ReadBuffer.h
  src/IO/ReadBufferAIO.cpp
  src/IO/ReadBufferFromFile.h
  src/IO/ReadBufferFromFileBase.h
  src/IO/ReadBufferFromFileDescriptor.cpp
  src/IO/ReadBufferFromFileDescriptor.h
  src/IO/ReadBufferFromHDFS.h
  src/IO/ReadHelpers.cpp
  src/Interpreters/executeQuery.cpp
  src/Parsers/parseQuery.cpp
Labels: pr-not-for-changelog

#13381 [docs] fix #13380
  docs/en/sql-reference/aggregate-functions/reference/index.md
Labels: pr-documentation

#13384 Better kill in fast test
  docker/test/fasttest/run.sh
Labels: pr-not-for-changelog

#13382 Keep original query_masking_rules.xml when performing fasttests
  docker/test/fasttest/run.sh
Labels: pr-not-for-changelog

#13340 Added testing for RBAC functionality of INSERT privilege.
  tests/testflows/rbac/requirements/requirements.md
  tests/testflows/rbac/requirements/requirements.py
  tests/testflows/rbac/tests/privileges/__init__.py
  tests/testflows/rbac/tests/privileges/feature.py
  tests/testflows/rbac/tests/privileges/insert.py
  tests/testflows/rbac/tests/privileges/select.py
Labels: can be tested, pr-build

#13386 Deadlock in textlog
  base/loggers/OwnSplitChannel.cpp
Labels: pr-bugfix

#13285 Fix for test_kafka_flush_by_block_size after rdkafka 1.5
  tests/integration/test_storage_kafka/test.py
Labels: pr-not-for-changelog

#13283 Do not fuzz ASTDictionaryLayout
  programs/client/QueryFuzzer.cpp
  src/Core/Field.cpp
  src/Core/Field.h
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  src/Parsers/ASTCreateQuery.cpp
  src/Parsers/ASTCreateQuery.h
  src/Parsers/ASTDictionary.cpp
  src/Parsers/ASTDictionary.h
  src/Parsers/ASTFunctionWithKeyValueArguments.cpp
  src/Parsers/ASTFunctionWithKeyValueArguments.h
  src/Parsers/ExpressionListParsers.cpp
  src/Parsers/ParserDictionary.cpp
  src/Parsers/tests/gtest_dictionary_parser.cpp
Labels: pr-not-for-changelog

#13407 Simplify kill mutations tests
  tests/queries/0_stateless/00834_kill_mutation.sh
  tests/queries/0_stateless/00834_kill_mutation_replicated_zookeeper.sh
Labels: pr-not-for-changelog

#13302 DOCSUP-2029: Split create.md
  docs/ru/engines/table-engines/special/materializedview.md
  docs/ru/getting-started/tutorial.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/access-rights.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/aggregate-functions/reference/grouparrayinsertat.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-polygon.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-sources.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts.md
  docs/ru/sql-reference/distributed-ddl.md
  docs/ru/sql-reference/index.md
  docs/ru/sql-reference/statements/alter.md
  docs/ru/sql-reference/statements/create.md
  docs/ru/sql-reference/statements/create/database.md
  docs/ru/sql-reference/statements/create/dictionary.md
  docs/ru/sql-reference/statements/create/index.md
  docs/ru/sql-reference/statements/create/quota.md
  docs/ru/sql-reference/statements/create/role.md
  docs/ru/sql-reference/statements/create/row-policy.md
  docs/ru/sql-reference/statements/create/settings-profile.md
  docs/ru/sql-reference/statements/create/table.md
  docs/ru/sql-reference/statements/create/user.md
  docs/ru/sql-reference/statements/create/view.md
  docs/ru/sql-reference/statements/grant.md
  docs/ru/sql-reference/statements/insert-into.md
  docs/ru/sql-reference/statements/misc.md
  docs/ru/sql-reference/statements/show.md
  docs/ru/sql-reference/table-functions/index.md
Labels: pr-documentation

#13394 Fix quirks for PrettyCompactMonoBlock
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.h
  src/Processors/Formats/Impl/PrettyCompactBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettyCompactBlockOutputFormat.h
  tests/queries/0_stateless/00405_PrettyCompactMonoBlock.reference
  tests/queries/0_stateless/00405_PrettyCompactMonoBlock.sh
Labels: pr-bugfix

#13419 Fix duplicated identifiers in any() function rewrite
  src/Interpreters/RewriteAnyFunctionVisitor.cpp
  tests/queries/0_stateless/01430_fix_any_rewrite_aliases.reference
  tests/queries/0_stateless/01430_fix_any_rewrite_aliases.sql
Labels: pr-bugfix

#13417 Fix a 'Week'-interval formatting for ATTACH/ALTER/CREATE QUOTA-statements
  src/Common/IntervalKind.cpp
Labels: can be tested, pr-improvement

#13431 Fix bad markup in docs menu
  website/templates/docs/sidebar-item.html
Labels: pr-documentation

#13436 Documentation: fix box drawing characters
  website/css/docs.css
Labels: pr-documentation

#13435 Documentation: remove animations
  website/css/bootstrap.css
  website/css/docsearch.css
Labels: pr-documentation

#13434 Fix bad markup in documentation: make it a bit more friendly
  website/css/bootstrap.css
Labels: pr-documentation

#13433 Documentation: fix bad markup 2
  website/css/docs.css
Labels: pr-documentation

#13430 Documentation: optimize legibility
  website/css/highlight.css
Labels: pr-documentation

#13447 Updated gitignore-files.
  .gitignore
  programs/server/.gitignore
  programs/server/data/.gitignore
  programs/server/data/default/.gitignore
  programs/server/metadata/.gitignore
Labels: pr-improvement

#13409 Merge pull request #12294 from ClickHouse/fasttest
  cmake/find/gtest.cmake
  cmake/find/libgsasl.cmake
  cmake/find/msgpack.cmake
  docker/images.json
  docker/test/fasttest/Dockerfile
  docker/test/fasttest/run.sh
  src/CMakeLists.txt
  src/Formats/config_formats.h.in
  src/Processors/Formats/Impl/MsgPackRowInputFormat.cpp
  src/Processors/Formats/Impl/MsgPackRowInputFormat.h
  src/Processors/Formats/Impl/MsgPackRowOutputFormat.cpp
  src/Processors/Formats/Impl/MsgPackRowOutputFormat.h
  tests/clickhouse-test
  tests/queries/0_stateless/00626_replace_partition_from_table.sql
  tests/queries/0_stateless/00653_verification_monotonic_data_load.sh
  tests/queries/0_stateless/00738_nested_merge_multidimensional_array.sql
  tests/queries/0_stateless/00988_parallel_parts_removal.sql
  tests/queries/0_stateless/00989_parallel_parts_loading.sql
  tests/queries/0_stateless/01064_incremental_streaming_from_2_src_with_feedback.sql
  tests/queries/0_stateless/01213_alter_rename_column_zookeeper.sh
  tests/queries/0_stateless/01282_system_parts_ttl_info.sql
  tests/queries/0_stateless/01428_hash_set_nan_key.reference
  tests/queries/0_stateless/01428_hash_set_nan_key.sql
Labels: pr-not-for-changelog

#13445 Added a test for hex floats in INSERT VALUES
  tests/queries/0_stateless/01433_hex_float.reference
  tests/queries/0_stateless/01433_hex_float.sql
Labels: pr-not-for-changelog

#13332 [docs] Fix system.md
  docs/en/sql-reference/statements/system.md
  docs/ru/sql-reference/statements/system.md
  docs/zh/sql-reference/statements/system.md
Labels: pr-documentation

#13395 DOCSUP-2035: Edit and translate to Russian some PR.
  docs/ru/engines/table-engines/integrations/index.md
  docs/ru/engines/table-engines/mergetree-family/replacingmergetree.md
  docs/ru/engines/table-engines/special/index.md
  docs/ru/interfaces/formats.md
  docs/ru/interfaces/third-party/index.md
Labels: pr-documentation

#13441 Fix error in parseDateTimeBestEffort
  src/Common/BitHelpers.h
  src/IO/parseDateTimeBestEffort.cpp
  tests/queries/0_stateless/01432_parse_date_time_best_effort_timestamp.reference
  tests/queries/0_stateless/01432_parse_date_time_best_effort_timestamp.sql
Labels: pr-bugfix

#13399 Fix empty output of arrow related formats
  src/Processors/Formats/Impl/ArrowBlockOutputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  tests/queries/0_stateless/01429_empty_arrow_and_parquet.reference
  tests/queries/0_stateless/01429_empty_arrow_and_parquet.sh
Labels: pr-bugfix

#13420 Fix tuple with null comparison
  src/Functions/FunctionsComparison.h
  tests/queries/0_stateless/00250_tuple_comparison.reference
  tests/queries/0_stateless/00250_tuple_comparison.sql
Labels: pr-bugfix

#13396 Fix assertion in FinishSortingTransform.
  src/Processors/Transforms/FinishSortingTransform.cpp
  tests/queries/0_stateless/01431_finish_sorting_with_consts.reference
  tests/queries/0_stateless/01431_finish_sorting_with_consts.sql
Labels: pr-bugfix

#13147 Assert that the source type is the same before memcpy in PODArray::insert
  src/Common/PODArray.h
Labels: pr-not-for-changelog

#13494 New version of dpkg-deb in deb builder.
  docker/packager/deb/Dockerfile
Labels: pr-not-for-changelog

#13228 Fix assert when decimal has too large negative exponent
  src/IO/readDecimalText.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01425_decimal_parse_big_negative_exponent.reference
  tests/queries/0_stateless/01425_decimal_parse_big_negative_exponent.sql
Labels: pr-improvement

#13305 Correct error message if setting not found in users.xml
  programs/server/Server.cpp
  src/Access/AccessControlManager.cpp
  src/Access/SettingsProfileElement.cpp
  src/Access/UsersConfigAccessStorage.cpp
  src/Access/UsersConfigAccessStorage.h
  tests/integration/helpers/0_common_instance_config.xml
  tests/integration/test_custom_settings/__init__.py
  tests/integration/test_custom_settings/configs/config.d/text_log.xml
  tests/integration/test_custom_settings/configs/users.d/custom_settings.xml
  tests/integration/test_custom_settings/test.py
Labels: pr-not-for-changelog

#13076 Ability to cache mark and index files for S3 disk
  src/Disks/DiskCacheWrapper.cpp
  src/Disks/DiskCacheWrapper.h
  src/Disks/DiskDecorator.cpp
  src/Disks/DiskDecorator.h
  src/Disks/S3/DiskS3.cpp
  src/Disks/S3/registerDiskS3.cpp
  src/Storages/StorageLog.cpp
  src/Storages/StorageStripeLog.cpp
  tests/integration/test_merge_tree_s3_with_cache/__init__.py
  tests/integration/test_merge_tree_s3_with_cache/configs/config.d/log_conf.xml
  tests/integration/test_merge_tree_s3_with_cache/configs/config.d/storage_conf.xml
  tests/integration/test_merge_tree_s3_with_cache/configs/config.d/users.xml
  tests/integration/test_merge_tree_s3_with_cache/configs/config.xml
  tests/integration/test_merge_tree_s3_with_cache/test.py
Labels: pr-improvement

#13336 Add QueryTimeMicroseconds, SelectQueryTimeMicroseconds and InsertQueryTimeMicroseconds
  src/Common/ProfileEvents.cpp
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/01417_query_time_in_system_events.reference
  tests/queries/0_stateless/01417_query_time_in_system_events.sh
Labels: pr-improvement

#13490 Demangle exception classname for std::exception
  src/Common/Exception.cpp
Labels: pr-not-for-changelog

#13514 Check for copy-pasted GPL code
  utils/check-style/check-style
Labels: pr-build

#13502 Allow -march=native with clang
  CMakeLists.txt
Labels: can be tested, pr-not-for-changelog, st-waiting-for-fix

#13510 Fix assert in "lcm"
  src/Functions/lcm.cpp
  tests/queries/0_stateless/01435_lcm_overflow.reference
  tests/queries/0_stateless/01435_lcm_overflow.sql
Labels: pr-improvement

#13416 Possibly fix race in StorageMemory.
  src/Storages/StorageMemory.cpp
Labels: pr-bugfix

#13500 Hardening and better error messages
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnString.cpp
  src/Columns/ColumnString.h
  src/Common/Allocator.h
  src/Common/MemoryTracker.cpp
  src/Functions/repeat.cpp
  tests/queries/0_stateless/01404_roundUpToPowerOfTwoOrZero_safety.sql
Labels: pr-not-for-changelog

#13451 Fixed developer instruction
  docs/en/development/developer-instruction.md
  docs/en/development/style.md
  docs/es/development/developer-instruction.md
  docs/es/development/style.md
  docs/fa/development/developer-instruction.md
  docs/fa/development/style.md
  docs/fr/development/developer-instruction.md
  docs/fr/development/style.md
  docs/ja/development/developer-instruction.md
  docs/ja/development/style.md
  docs/ru/development/developer-instruction.md
  docs/ru/development/style.md
  docs/tr/development/developer-instruction.md
  docs/tr/development/style.md
  docs/zh/development/developer-instruction.md
  docs/zh/development/style.md
Labels: pr-documentation

#13449 Enable mixed granularity parts by default
  src/Storages/MergeTree/MergeTreeSettings.h
  tests/integration/test_adaptive_granularity/test.py
  tests/integration/test_adaptive_granularity_different_settings/test.py
  tests/integration/test_adaptive_granularity_replicated/test.py
  tests/integration/test_polymorphic_parts/test.py
  tests/queries/1_stateful/00151_replace_partition_with_different_granularity.sql
Labels: pr-improvement

#13489 Changelog script update
  utils/simple-backport/changelog.sh
Labels: pr-build

#13446 Function "netloc": fix wrong code.
  base/common/StringRef.h
  src/Functions/URL/netloc.cpp
  src/Functions/URL/netloc.h
  tests/queries/0_stateless/01434_netloc_fuzz.reference
  tests/queries/0_stateless/01434_netloc_fuzz.sql
Labels: pr-bugfix

#13423 Do not fuzz CREATE queries
  programs/client/Client.cpp
Labels: pr-not-for-changelog

#13491 Avoid overallocation in PODArray assignment
  src/Common/PODArray.h
Labels: pr-not-for-changelog

#13367 Update architecture.md
  docs/en/development/architecture.md
Labels: pr-documentation

#13517 Fixed docs, document blocks and tests: added the missed types of interval (WEEK, MONTH, QUARTER, YEAR) to CREATE/ALTER QUOTA statements
  docs/en/sql-reference/statements/alter/quota.md
  docs/en/sql-reference/statements/create/quota.md
  docs/es/sql-reference/statements/alter.md
  docs/es/sql-reference/statements/create.md
  docs/fa/sql-reference/statements/alter.md
  docs/fa/sql-reference/statements/create.md
  docs/fr/sql-reference/statements/alter.md
  docs/fr/sql-reference/statements/create.md
  docs/ja/sql-reference/statements/alter.md
  docs/ja/sql-reference/statements/create.md
  docs/ru/sql-reference/statements/alter.md
  docs/ru/sql-reference/statements/create/quota.md
  docs/tr/sql-reference/statements/alter.md
  docs/tr/sql-reference/statements/create.md
  docs/zh/sql-reference/statements/alter.md
  src/Parsers/ASTCreateQuotaQuery.h
  src/Parsers/ParserCreateQuotaQuery.h
  tests/testflows/rbac/requirements/requirements.md
  tests/testflows/rbac/requirements/requirements.py
  tests/testflows/rbac/tests/syntax/alter_quota.py
  tests/testflows/rbac/tests/syntax/create_quota.py
Labels: can be tested, pr-improvement

#13497 Better toDate/toDateTime functions.
  src/Functions/FunctionsConversion.h
  src/Functions/formatDateTime.cpp
  tests/queries/0_stateless/01411_from_unixtime.reference
  tests/queries/0_stateless/01440_to_date_monotonicity.reference
  tests/queries/0_stateless/01440_to_date_monotonicity.sql
Labels: pr-improvement

#13529 Fix the remaining shellcheck notices
  tests/queries/0_stateless/01195_formats_diagnostic_info.sh
  tests/queries/0_stateless/01396_inactive_replica_cleanup_nodes.sh
Labels: pr-build

#13538 Fix secondary indices corruption in compact parts
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  tests/queries/0_stateless/01419_skip_index_compact_parts.reference
  tests/queries/0_stateless/01419_skip_index_compact_parts.sql
Labels: pr-bugfix

#13539 More test
  tests/queries/0_stateless/01440_to_date_monotonicity.reference
  tests/queries/0_stateless/01440_to_date_monotonicity.sql
Labels: pr-build

#13099 Slightly improve performance of aggregation by UInt8/UInt16 keys, part 6
  src/AggregateFunctions/AggregateFunctionUniqUpTo.h
  src/AggregateFunctions/IAggregateFunction.h
  src/Common/tests/CMakeLists.txt
  src/Common/tests/average.cpp
  tests/queries/0_stateless/01300_group_by_other_keys.reference
  tests/queries/0_stateless/01300_group_by_other_keys.sql
  tests/queries/0_stateless/01300_group_by_other_keys_having.reference
  tests/queries/0_stateless/01300_group_by_other_keys_having.sql
Labels: pr-performance

#13496 Support compound identifiers for custom settings.
  base/common/find_symbols.h
  src/Common/StringUtils/StringUtils.h
  src/IO/WriteHelpers.cpp
  src/Parsers/ASTSetQuery.cpp
  src/Parsers/ASTSetQuery.h
  src/Parsers/ASTSettingsProfileElement.cpp
  src/Parsers/ParserSetQuery.cpp
  src/Parsers/ParserSettingsProfileElement.cpp
  src/Parsers/formatSettingName.cpp
  src/Parsers/formatSettingName.h
  src/Parsers/ya.make
  tests/queries/0_stateless/01418_custom_settings.reference
  tests/queries/0_stateless/01418_custom_settings.sql
Labels: pr-improvement

#13082 Fix access to redis dictionary after connection was dropped once
  src/Dictionaries/RedisDictionarySource.cpp
Labels: pr-bugfix

#13557 Better error messages in loadMetadata
  src/Databases/DatabaseOrdinary.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/loadMetadata.cpp
Labels: pr-not-for-changelog

#13389 DOCSUP-1999: Restruct sql statements section in separate files.
  docs/ru/sql-reference/statements/alter.md
  docs/ru/sql-reference/statements/attach.md
  docs/ru/sql-reference/statements/check-table.md
  docs/ru/sql-reference/statements/describe-table.md
  docs/ru/sql-reference/statements/detach.md
  docs/ru/sql-reference/statements/drop.md
  docs/ru/sql-reference/statements/exists.md
  docs/ru/sql-reference/statements/grant.md
  docs/ru/sql-reference/statements/kill.md
  docs/ru/sql-reference/statements/misc.md
  docs/ru/sql-reference/statements/optimize.md
  docs/ru/sql-reference/statements/rename.md
  docs/ru/sql-reference/statements/set-role.md
  docs/ru/sql-reference/statements/set.md
  docs/ru/sql-reference/statements/truncate.md
  docs/ru/sql-reference/statements/use.md
Labels: pr-documentation

#13421 changelog for 20.6
  CHANGELOG.md
Labels: pr-documentation

#13495 Fix getting settings specified in query.
  src/Functions/getScalar.cpp
  src/Interpreters/ActionsVisitor.cpp
  tests/queries/0_stateless/01418_custom_settings.reference
  tests/queries/0_stateless/01418_custom_settings.sql
Labels: pr-bugfix, pr-not-for-changelog

#12611 DOCSUP-791: Docs for optimize_read_in_order setting
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/statements/select/order-by.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/statements/select/order-by.md
Labels: pr-documentation

#13578 Add noop runner parameter to prepare actual changes
  tests/integration/runner
Labels: pr-not-for-changelog

#13586 [docs] improve code blocks padding
  website/css/docs.css
Labels: pr-documentation

#13572 Enable Poco::NetSSL support in ya.make
  base/common/ya.make
Labels: pr-not-for-changelog

#13540 cmake: Add option to fail configuration instead of auto-reconfiguration
  CMakeLists.txt
  cmake/analysis.cmake
  cmake/contrib_finder.cmake
  cmake/find/amqpcpp.cmake
  cmake/find/avro.cmake
  cmake/find/base64.cmake
  cmake/find/brotli.cmake
  cmake/find/capnp.cmake
  cmake/find/cassandra.cmake
  cmake/find/ccache.cmake
  cmake/find/cxx.cmake
  cmake/find/fastops.cmake
  cmake/find/gperf.cmake
  cmake/find/grpc.cmake
  cmake/find/gtest.cmake
  cmake/find/h3.cmake
  cmake/find/hdfs3.cmake
  cmake/find/icu.cmake
  cmake/find/ldap.cmake
  cmake/find/libgsasl.cmake
  cmake/find/libxml2.cmake
  cmake/find/llvm.cmake
  cmake/find/ltdl.cmake
  cmake/find/msgpack.cmake
  cmake/find/mysqlclient.cmake
  cmake/find/opencl.cmake
  cmake/find/orc.cmake
  cmake/find/parquet.cmake
  cmake/find/protobuf.cmake
  cmake/find/rapidjson.cmake
  cmake/find/rdkafka.cmake
  cmake/find/re2.cmake
  cmake/find/s3.cmake
  cmake/find/sentry.cmake
  cmake/find/simdjson.cmake
  cmake/find/snappy.cmake
  cmake/find/sparsehash.cmake
  cmake/find/ssl.cmake
  cmake/find/stats.cmake
  cmake/find/termcap.cmake
  cmake/find/zlib.cmake
  cmake/find/zstd.cmake
  cmake/tools.cmake
  contrib/arrow-cmake/CMakeLists.txt
  contrib/boost-cmake/CMakeLists.txt
  contrib/cctz-cmake/CMakeLists.txt
  contrib/curl-cmake/CMakeLists.txt
  contrib/hyperscan-cmake/CMakeLists.txt
  contrib/jemalloc-cmake/CMakeLists.txt
  contrib/libcpuid-cmake/CMakeLists.txt
  contrib/libhdfs3-cmake/CMakeLists.txt
  contrib/lz4-cmake/CMakeLists.txt
  contrib/poco-cmake/CMakeLists.txt
  contrib/replxx-cmake/CMakeLists.txt
  contrib/unixodbc-cmake/CMakeLists.txt
Labels: can be tested, pr-build, submodule changed

#13591 Fix Nullable(String) antlr4 syntax error
  utils/grammar/ClickHouseParser.g4
Labels: pr-not-for-changelog

#13404 Proper remote host checking in S3 redirects
  src/Disks/S3/registerDiskS3.cpp
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
  src/IO/S3/PocoHTTPClientFactory.cpp
  src/IO/S3Common.cpp
  src/IO/S3Common.h
  src/Storages/StorageS3.cpp
Labels: pr-improvement

#13343 WithNames format fixes
  src/Processors/Formats/IOutputFormat.cpp
  src/Processors/Formats/IOutputFormat.h
  src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.h
  src/Processors/Sources/SinkToOutputStream.cpp
  src/Processors/Sources/SinkToOutputStream.h
  tests/queries/0_stateless/01375_output_format_tsv_csv_with_names.reference
  tests/queries/0_stateless/01375_output_format_tsv_csv_with_names.sh
  tests/queries/0_stateless/01375_storage_file_tsv_csv_with_names_write_prefix.reference
  tests/queries/0_stateless/01375_storage_file_tsv_csv_with_names_write_prefix.sh
  tests/queries/0_stateless/01375_storage_file_write_prefix_csv_with_names.reference
  tests/queries/0_stateless/01375_storage_file_write_prefix_csv_with_names.sql
  tests/queries/0_stateless/01375_storage_file_write_prefix_tsv_with_names.reference
  tests/queries/0_stateless/01375_storage_file_write_prefix_tsv_with_names.sql
Labels: pr-bugfix

#13589 Do not overallocate when creating PODArray with given size
  src/Common/PODArray.h
Labels: pr-not-for-changelog

#13528 Simple clickhouse install script
  CMakeLists.txt
  base/CMakeLists.txt
  base/readpassphrase/CMakeLists.txt
  base/readpassphrase/readpassphrase.c
  base/readpassphrase/readpassphrase.h
  base/readpassphrase/ya.make
  base/ya.make
  contrib/cctz-cmake/CMakeLists.txt
  programs/CMakeLists.txt
  programs/client/CMakeLists.txt
  programs/client/ConnectionParameters.cpp
  programs/client/readpassphrase/includes.h
  programs/config_tools.h.in
  programs/install/CMakeLists.txt
  programs/install/Install.cpp
  programs/main.cpp
  programs/server/CMakeLists.txt
  programs/ya.make
Labels: pr-build, submodule changed

#13391 DOCSUP-711: Add description for setting output_format_json_quote_denormals
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/settings/settings.md
Labels: doc-alert, pr-documentation

#13622 Fix typos and remove bash sign for copy-and-go docs command.
  docs/ru/getting-started/install.md
Labels: pr-documentation

#13422 changelog for 20.5
  CHANGELOG.md
Labels: pr-documentation

#13522 changelog for 20.4
  CHANGELOG.md
Labels: pr-documentation

#13523 changelog for 20.3
  CHANGELOG.md
Labels: pr-documentation

#13623 Build ClickHouse with fresh tzdata
  docker/packager/binary/build.sh
  docker/packager/deb/build.sh
Labels: pr-build

#13631 remove obsolete comments
  src/Functions/FunctionMathBinaryFloat64.h
  src/Functions/FunctionMathUnary.h
Labels: pr-not-for-changelog

#13459 Move parts from DiskLocal to DiskS3 in parallel
  src/Disks/Executor.h
  src/Disks/IDisk.cpp
  src/Disks/IDisk.h
  src/Disks/S3/DiskS3.cpp
  src/Disks/S3/DiskS3.h
  tests/integration/test_merge_tree_s3/test.py
Labels: pr-improvement

#13620 Fixed result order in hash set test
  tests/queries/0_stateless/01428_hash_set_nan_key.sql
Labels: pr-must-backport, pr-not-for-changelog

#13632 MonetDB benchmark update
  benchmark/monetdb/benchmark.sh
  benchmark/monetdb/conf.sh
  benchmark/monetdb/define_schema.sql
  benchmark/monetdb/instruction.md
  benchmark/monetdb/log.txt
  benchmark/monetdb/log/log_100m
  benchmark/monetdb/log/log_100m_1
  benchmark/monetdb/log/log_100m_corrected
  benchmark/monetdb/log/log_100m_corrected_1
  benchmark/monetdb/log/log_100m_corrected_2
  benchmark/monetdb/log/log_10m
  benchmark/monetdb/log/log_10m_corrected
  benchmark/monetdb/log/log_10m_corrected_1
  benchmark/monetdb/log/log_upload_100m
  benchmark/monetdb/log/log_upload_1b
  benchmark/monetdb/queries.sql
  benchmark/monetdb/send-query
  benchmark/monetdb/usability.md
  website/benchmark/dbms/index.html
  website/benchmark/dbms/results/005_monetdb.json
Labels: pr-documentation

#13627 Minor fixes in clickhouse install
  programs/install/Install.cpp
Labels: pr-not-for-changelog

#13649 Remove stateless_pytest container from 20.3
  docker/images.json
Labels: pr-not-for-changelog

#13448 mysql/postgresql: move Dockerfiles and docker_compose to docker/test
  docker/images.json
  docker/test/integration/mysql_golang_client/Dockerfile
  docker/test/integration/mysql_golang_client/main.go
  docker/test/integration/mysql_java_client/Dockerfile
  docker/test/integration/mysql_java_client/Test.java
  docker/test/integration/mysql_js_client/Dockerfile
  docker/test/integration/mysql_js_client/test.js
  docker/test/integration/mysql_php_client/Dockerfile
  docker/test/integration/mysql_php_client/client.crt
  docker/test/integration/mysql_php_client/client.key
  docker/test/integration/mysql_php_client/test.php
  docker/test/integration/mysql_php_client/test_ssl.php
  docker/test/integration/postgresql_java_client/Dockerfile
  docker/test/integration/postgresql_java_client/Test.java
  docker/test/integration/runner/compose/docker_compose_mysql_client.yml
  docker/test/integration/runner/compose/docker_compose_mysql_golang_client.yml
  docker/test/integration/runner/compose/docker_compose_mysql_java_client.yml
  docker/test/integration/runner/compose/docker_compose_mysql_js_client.yml
  docker/test/integration/runner/compose/docker_compose_mysql_php_client.yml
  docker/test/integration/runner/compose/docker_compose_postgesql.yml
  docker/test/integration/runner/compose/docker_compose_postgesql_java_client.yml
  docker/test/integration/runner/dockerd-entrypoint.sh
  tests/integration/runner
  tests/integration/test_mysql_protocol/clients/mysqljs/Dockerfile
  tests/integration/test_mysql_protocol/golang.reference
  tests/integration/test_mysql_protocol/java.reference
  tests/integration/test_mysql_protocol/test.py
  tests/integration/test_postgresql_protocol/java.reference
  tests/integration/test_postgresql_protocol/test.py
Labels: pr-build

#13628 Removed `-DENABLE_CURL_CLIENT` for `contrib/aws`
  contrib/aws-s3-cmake/CMakeLists.txt
Labels: pr-build, submodule changed

#13626 Fix deadlock and logical error in replication queue
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  tests/queries/0_stateless/01035_concurrent_move_partition_from_table_zookeeper.sh
Labels: pr-bugfix

#13612 testflows: increasing health-check timeouts for clickhouse nodes
  tests/testflows/example/docker-compose/clickhouse-service.yml
  tests/testflows/helpers/cluster.py
  tests/testflows/ldap/docker-compose/clickhouse-service.yml
  tests/testflows/rbac/docker-compose/clickhouse-service.yml
Labels: altinity, pr-build

#13661 Add results from AWS m5a.8xlarge
  website/benchmark/hardware/results/051_aws_m5a_8xlarge.json
Labels: pr-documentation

#13656 Updating LDAP user authentication suite to check that it works with RBAC
  tests/testflows/ldap/requirements/requirements.md
  tests/testflows/ldap/requirements/requirements.py
  tests/testflows/ldap/tests/authentications.py
  tests/testflows/ldap/tests/common.py
Labels: altinity, pr-build

#13640 Add MergeTree Write-Ahead-Log(WAL) dump tool
  utils/CMakeLists.txt
  utils/wal-dump/CMakeLists.txt
  utils/wal-dump/main.cpp
Labels: pr-improvement

#13616 [docs]: explicitly mention unit of measurement for `max_insert_block_size`
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#13685 Fix clang build of example tools.
  src/Common/tests/average.cpp
Labels: pr-not-for-changelog

#13678 Fix typo due to copy-paste
  src/Storages/MergeTree/MergeTreeSettings.cpp
Labels: pr-bugfix

#13684 Reset signal handlers just before closing signal pipe to avoid EBADF after
  base/daemon/BaseDaemon.cpp
  base/daemon/BaseDaemon.h
Labels: pr-not-for-changelog

#13681 Do not optimize any(arrayJoin()) -> arrayJoin() under optimize_move_functions_out_of_any
  src/Interpreters/RewriteAnyFunctionVisitor.cpp
  tests/queries/0_stateless/01322_any_input_optimize.reference
  tests/queries/0_stateless/01322_any_input_optimize.sql
Labels: pr-bugfix

#13700 Fix shared build
  programs/install/CMakeLists.txt
Labels: pr-build
