Repository ClickHouse/ClickHouse, pull requests merged in 2020-10, with the labels that each got.

#15376 Fixed compression in S3 storage
  src/IO/WriteBufferFromS3.cpp
  src/IO/WriteBufferFromS3.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  tests/integration/test_storage_s3/test.py
Labels: pr-bugfix

#15477 Fix wait event subscription in DDLWorker
  src/Interpreters/DDLWorker.cpp
Labels: pr-bugfix

#14741 ActionsDAG
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/ActionsVisitor.h
  src/Interpreters/ArrayJoinAction.cpp
  src/Interpreters/ArrayJoinAction.h
  src/Interpreters/ExpressionActions.cpp
  src/Interpreters/ExpressionActions.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/MutationsInterpreter.cpp
Labels: pr-not-for-changelog

#15492 Fix using external protobuf library for the build.
  cmake/find/protobuf.cmake
  cmake/protobuf_generate_cpp.cmake
  contrib/protobuf-cmake/protobuf_generate.cmake
Labels: pr-build, pr-not-for-changelog, submodule changed

#15453 Allow fast test to run locally
  docker/test/fasttest/run.sh
  tests/config/install.sh
Labels: pr-not-for-changelog

#15479 Check docker scripts with shellcheck
  docker/builder/build.sh
  docker/packager/binary/build.sh
  docker/packager/deb/build.sh
  docker/packager/unbundled/build.sh
  docker/test/fuzzer/run-fuzzer.sh
  docker/test/integration/runner/dockerd-entrypoint.sh
  docker/test/performance-comparison/compare-releases.sh
  docker/test/performance-comparison/download.sh
  docker/test/stateful/run.sh
  docker/test/stateful_with_coverage/run.sh
  docker/test/stateless/run.sh
  docker/test/stateless_unbundled/run.sh
  docker/test/stateless_with_coverage/run.sh
  docker/test/stress/run.sh
  docker/test/test_runner.sh
  docker/test/testflows/runner/dockerd-entrypoint.sh
  utils/check-style/check-style
Labels: pr-not-for-changelog

#15512 Update SECURITY.md
  SECURITY.md
Labels: pr-documentation

#15480 Add reinterpretAsUUID function
  src/Functions/reinterpretStringAs.cpp
  tests/queries/0_stateless/00396_uuid.reference
  tests/queries/0_stateless/00396_uuid.sql
Labels: doc-alert, pr-feature

#15516 Throw an error when a single parameter is passed to ReplicatedMergeTree instead of ignoring it
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  tests/queries/0_stateless/01512_create_replicate_merge_tree_one_arg.reference
  tests/queries/0_stateless/01512_create_replicate_merge_tree_one_arg.sql
Labels: pr-bugfix

#15528 Fix bash in deb packages
  docker/packager/deb/build.sh
  docker/packager/unbundled/build.sh
Labels: pr-not-for-changelog

#15239 Build ClickHouse for release with clang-11
  CMakeLists.txt
  base/glibc-compatibility/CMakeLists.txt
  cmake/find/llvm.cmake
  contrib/FastMemcpy/memcpy_wrapper.c
  docker/packager/binary/Dockerfile
  docker/packager/deb/Dockerfile
  tests/ci/ci_config.json
Labels: pr-not-for-changelog, submodule changed

#15519 Drop unused code for numeric_limits<int128> in MergeTreeDataSelectExecutor
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
Labels: pr-not-for-changelog

#15515 EN and RU docs for 128/256-bit types
  docs/en/sql-reference/data-types/decimal.md
  docs/en/sql-reference/data-types/int-uint.md
  docs/en/sql-reference/functions/type-conversion-functions.md
  docs/ru/sql-reference/data-types/decimal.md
  docs/ru/sql-reference/data-types/int-uint.md
  docs/ru/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation

#15509 Update ActionsVisitor.cpp
  src/Interpreters/ActionsVisitor.cpp
Labels: can be tested, pr-not-for-changelog

#15532 Fix defaults substitution for absent columns which depend on other defaults
  programs/client/Client.cpp
  src/DataStreams/AddingDefaultBlockOutputStream.cpp
  src/DataStreams/AddingDefaultBlockOutputStream.h
  src/DataStreams/AddingDefaultsBlockInputStream.cpp
  src/DataStreams/AddingDefaultsBlockInputStream.h
  src/DataStreams/InputStreamFromASTInsertQuery.cpp
  src/DataStreams/PushingToViewsBlockOutputStream.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Interpreters/addMissingDefaults.cpp
  src/Interpreters/addMissingDefaults.h
  src/Interpreters/inplaceBlockConversions.cpp
  src/Interpreters/inplaceBlockConversions.h
  src/Processors/Transforms/AddingMissedTransform.cpp
  src/Processors/Transforms/AddingMissedTransform.h
  src/Storages/ColumnsDescription.cpp
  src/Storages/ColumnsDescription.h
  src/Storages/MergeTree/IMergeTreeReader.cpp
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageS3.cpp
  src/Storages/StorageURL.cpp
  tests/queries/0_stateless/01513_defaults_on_defaults_no_column.reference
  tests/queries/0_stateless/01513_defaults_on_defaults_no_column.sql
Labels: pr-bugfix

#15536 Separate cache for ilike after like
  src/Functions/MatchImpl.h
  src/Functions/Regexps.h
  tests/queries/0_stateless/01513_ilike_like_cache.reference
  tests/queries/0_stateless/01513_ilike_like_cache.sql
Labels: no-docs-needed, pr-bugfix

#15238 Use S3 multi object delete
  src/Disks/S3/DiskS3.cpp
  src/Disks/S3/DiskS3.h
  tests/integration/test_s3_with_https/test.py
  tests/integration/test_s3_with_proxy/test.py
Labels: pr-performance

#15442 Add ability to alter version column in VersionedCollapsingMergeTree.
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/01511_alter_version_versioned_collapsing_merge_tree.reference
  tests/queries/0_stateless/01511_alter_version_versioned_collapsing_merge_tree.sql
  tests/queries/0_stateless/01511_alter_version_versioned_collapsing_merge_tree_zookeeper.reference
  tests/queries/0_stateless/01511_alter_version_versioned_collapsing_merge_tree_zookeeper.sql
Labels: pr-improvement, pr-must-backport

#15499 Update Redshift benchmarks
  website/templates/index/performance.html
Labels: altinity, pr-documentation

#15557 Handle EINTR in statvfs
  src/Common/filesystemHelpers.cpp
  src/Common/filesystemHelpers.h
Labels: pr-bugfix

#15535 Add missing entry to client packet stringify
  src/Core/Protocol.h
Labels: pr-not-for-changelog

#15513 Add some context to an error message
  src/Common/Exception.h
  src/Core/BaseSettings.h
  src/Processors/tests/gtest_exception_on_incorrect_pipeline.cpp
Labels: pr-not-for-changelog

#15416 Mention core_dump size limit in docs
  docs/en/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#15423 Update settings.md / fix description of max_server_memory_usage
  docs/en/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#15417 fix insert_quorum_timeout doc
  docs/en/operations/settings/settings.md
Labels: can be tested, pr-documentation

#15368 DOCSUP-2403: Docs for the mechanics of custom settings specifying
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/settings/index.md
  docs/en/sql-reference/functions/other-functions.md
Labels: pr-documentation

#15324 DOCSUP-2615: normalizeQuery and normalizeQueryHash
  docs/en/sql-reference/functions/string-functions.md
  docs/ru/sql-reference/functions/string-functions.md
Labels: pr-documentation

#15319 Fix bug in queries like SELECT toStartOfDay(today())
  src/Functions/FunctionDateOrDateTimeToSomething.h
  tests/queries/0_stateless/00921_datetime64_compatibility.reference
  tests/queries/0_stateless/01472_toStartOfInterval_disallow_empty_tz_field.sql
Labels: pr-bugfix

#15308 DOCSUP-2402: Document the formatRow function
  docs/en/sql-reference/functions/type-conversion-functions.md
  docs/ru/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation

#15551 Pass through *_for_user settings via Distributed with cluster-secure
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/ClusterProxy/executeQuery.h
  src/Storages/getStructureOfRemoteTable.cpp
  src/Storages/getStructureOfRemoteTable.h
  tests/integration/test_distributed_inter_server_secret/test.py
Labels: pr-improvement

#15542 Improve quantileTDigest performance
  src/AggregateFunctions/QuantileTDigest.h
Labels: can be tested, pr-performance

#15589 Use default implemetation for constants in JSON* functions
  src/Functions/FunctionsJSON.h
Labels: pr-not-for-changelog

#15590 Check MADV_DONTNEED (for jemalloc), maybe broken under qemu
  programs/main.cpp
  tests/queries/0_stateless/01103_check_cpu_instructions_at_startup.reference
Labels: pr-not-for-changelog

#15443 Add setting `output_format_pretty_row_numbers`
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.h
  src/Processors/Formats/Impl/PrettyCompactBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettySpaceBlockOutputFormat.cpp
  tests/queries/0_stateless/01509_output_format_pretty_row_numbers.reference
  tests/queries/0_stateless/01509_output_format_pretty_row_numbers.sql
Labels: doc-alert, pr-feature

#15595 Fix binary build cmake flags forwarding
  CMakeLists.txt
  docker/packager/binary/build.sh
Labels: pr-not-for-changelog

#15612 Fix codebrowser image
  docker/images.json
  docker/test/codebrowser/Dockerfile
Labels: pr-not-for-changelog

#15599 DOCSUP-2407: Documented the bayesAB function
  docs/en/sql-reference/functions/machine-learning-functions.md
Labels: pr-documentation

#15543 [RFC] Significantly reduce memory usage in AggregatingInOrderTransform
  src/Processors/Transforms/AggregatingInOrderTransform.cpp
  src/Processors/Transforms/AggregatingTransform.h
  tests/queries/0_stateless/01513_optimize_aggregation_in_order_memory.reference
  tests/queries/0_stateless/01513_optimize_aggregation_in_order_memory.sql
Labels: pr-bugfix

#15608 Use experimental pass manager by default in clang
  CMakeLists.txt
Labels: can be tested, pr-improvement

#15633 Use https protocol for llvm repository in fasttest
  docker/test/fasttest/Dockerfile
Labels: pr-not-for-changelog

#15636 More consistent metadata usage in TTL moves
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataPartTTLInfo.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#15622 Check binary, darwin, aarch64, freebsd builds with clang-11
  tests/ci/ci_config.json
Labels: pr-build

#15538 Fix distributed IN without database on initiator
  src/Interpreters/InJoinSubqueriesPreprocessor.cpp
  tests/queries/0_stateless/01487_distributed_in_not_default_db.reference
  tests/queries/0_stateless/01487_distributed_in_not_default_db.sql
Labels: pr-bugfix

#14317 DOCSUP-1674: Docs for the extractAllGroupsHorizontal and extractAllGroupsVertical functions (English)
  docs/en/sql-reference/functions/string-search-functions.md
  docs/ru/sql-reference/functions/string-search-functions.md
Labels: pr-documentation

#15578 Cancel other processors on query exception
  src/Processors/Executors/PipelineExecutor.cpp
  tests/queries/0_stateless/01514_distributed_cancel_query_on_error.reference
  tests/queries/0_stateless/01514_distributed_cancel_query_on_error.sh
Labels: pr-bugfix

#15645 Ensure resource destruction order in ReadFromStorageStep.
  src/Processors/Pipe.h
  src/Processors/QueryPipeline.h
  src/Processors/QueryPlan/ReadFromStorageStep.cpp
  src/Processors/QueryPlan/ReadFromStorageStep.h
Labels: pr-bugfix

#15657 Proper error handling during insert into MergeTree with S3
  src/Disks/DiskCacheWrapper.cpp
  src/Disks/IDisk.cpp
  src/Disks/S3/registerDiskS3.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreePartition.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
  tests/integration/test_merge_tree_s3_failover/__init__.py
  tests/integration/test_merge_tree_s3_failover/configs/config.d/log_conf.xml
  tests/integration/test_merge_tree_s3_failover/configs/config.d/storage_conf.xml
  tests/integration/test_merge_tree_s3_failover/configs/config.d/users.xml
  tests/integration/test_merge_tree_s3_failover/configs/config.xml
  tests/integration/test_merge_tree_s3_failover/s3_endpoint/endpoint.py
  tests/integration/test_merge_tree_s3_failover/test.py
Labels: pr-bugfix

#15682 Less locking in StorageMemory: totalRows + totalBytes
  src/Storages/StorageMemory.cpp
  src/Storages/StorageMemory.h
Labels: pr-not-for-changelog

#15537 Fix mutation may hang after REPLACE/DROP PARTITION
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/01149_zookeeper_mutation_stuck_after_replace_partition.reference
  tests/queries/0_stateless/01149_zookeeper_mutation_stuck_after_replace_partition.sql
Labels: pr-bugfix

#15691 Enable (forgotten) bigint float division
  src/Functions/divide.cpp
  tests/queries/0_stateless/01440_big_int_arithm.reference
  tests/queries/0_stateless/01440_big_int_arithm.sql
Labels: pr-not-for-changelog

#15231 Back port #14937 "Fix enable_optimize_predicate_expression for finalizeAggregation" to 20.3 LTS
  src/Functions/finalizeAggregation.cpp
  tests/queries/0_stateless/00808_not_optimize_predicate.reference
  tests/queries/0_stateless/00808_not_optimize_predicate.sql
Labels: can be tested, pr-backport, pr-not-for-changelog

#15724 Backport #15537 to 20.3
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/01149_zookeeper_mutation_stuck_after_replace_partition.reference
  tests/queries/0_stateless/01149_zookeeper_mutation_stuck_after_replace_partition.sql
Labels: pr-bugfix

#15717 Fix array join optimisation for MV
  src/Interpreters/ExpressionActions.cpp
  src/Storages/StorageValues.cpp
  tests/queries/0_stateless/01515_mv_and_array_join_optimisation_bag.reference
  tests/queries/0_stateless/01515_mv_and_array_join_optimisation_bag.sql
Labels: no-docs-needed, pr-bugfix

#15668 Minor code improvement
  src/Core/DecimalFunctions.h
Labels: pr-not-for-changelog

#15705 Remove useless code
  programs/server/Server.cpp
  utils/test-data-generator/CMakeLists.txt
  utils/test-data-generator/MarkovModel.h
Labels: pr-not-for-changelog

#15109 DOCSUP-2614: Added description for isDecimalOverflow and countDigits function
  docs/en/sql-reference/data-types/decimal.md
  docs/en/sql-reference/functions/other-functions.md
  docs/ru/sql-reference/data-types/decimal.md
  docs/ru/sql-reference/functions/other-functions.md
Labels: pr-documentation

#15642 Implement force_data_skipping_indices setting
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01515_force_data_skipping_indices.reference
  tests/queries/0_stateless/01515_force_data_skipping_indices.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-improvement

#15681 Add stderr log to test_grant_and_revoke
  tests/integration/test_grant_and_revoke/configs/log_conf.xml
  tests/integration/test_grant_and_revoke/test.py
Labels: pr-not-for-changelog

#15748 add tcp client for php
  docs/en/interfaces/third-party/client-libraries.md
Labels: doc-alert, pr-documentation

#15745 Fix 01514_distributed_cancel_query_on_error flackiness
  tests/queries/0_stateless/01514_distributed_cancel_query_on_error.sh
Labels: pr-not-for-changelog

#15740 Take memory allocations from librdkafka threads into account
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/StorageKafka.h
Labels: pr-not-for-changelog

#15737 Fix RealTimeMicroseconds ProfileEvents
  src/Common/ThreadProfileEvents.h
  src/Interpreters/ThreadStatusExt.cpp
Labels: pr-not-for-changelog

#15643 Remove obsolete settings
  src/Core/Settings.h
  tests/queries/0_stateless/00443_merge_tree_uniform_read_distribution_0.sh
  tests/queries/0_stateless/00443_preferred_block_size_bytes.sh
  tests/queries/0_stateless/00971_merge_tree_uniform_read_distribution_and_max_rows_to_read.sql
  tests/queries/0_stateless/01045_bloom_filter_null_array.sql
  tests/queries/0_stateless/01056_negative_with_bloom_filter.sql
  tests/queries/0_stateless/01071_prohibition_secondary_index_with_old_format_merge_tree.sql
  tests/queries/0_stateless/01072_nullable_jit.sql
Labels: pr-not-for-changelog

#15755 Disable cassandra tests with thread sanitizer
  tests/integration/test_dictionaries_all_layouts_separate_sources/test_cassandra.py
Labels: pr-not-for-changelog

#15602 Update int-uint.md
  docs/en/sql-reference/data-types/int-uint.md
Labels: can be tested, pr-documentation

#15603 Update decimal.md
  docs/en/sql-reference/data-types/decimal.md
Labels: can be tested, pr-documentation

#15731 Fix assertion with setting transform_null_in
  src/Interpreters/ActionsVisitor.cpp
  tests/queries/0_stateless/01507_transform_null_in.reference
  tests/queries/0_stateless/01507_transform_null_in.sql
Labels: pr-not-for-changelog

#15378 Fix multiple column transformers.
  src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  src/Parsers/ASTColumnsMatcher.cpp
  tests/queries/0_stateless/01470_columns_transformers.reference
  tests/queries/0_stateless/01470_columns_transformers.sql
Labels: pr-bugfix

#15741 Run check with wide parts and release build
  tests/clickhouse-test
  tests/config/config.d/polymorphic_parts.xml
  tests/queries/skip_list.json
Labels: pr-not-for-changelog

#15747 Update index.md
  docs/ru/sql-reference/table-functions/index.md
Labels: can be tested, doc-alert, pr-documentation

#15639 Use tmp disk for vertical merge files
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-performance

#15701 Improvements in lost replica recovery
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_recovery_replica/configs/remote_servers.xml
  tests/integration/test_recovery_replica/test.py
Labels: pr-bugfix

#15763 Fix race condition in MySQL pool
  base/mysqlxx/Pool.cpp
  base/mysqlxx/Pool.h
  tests/integration/test_dictionaries_mysql/configs/log_conf.xml
  tests/integration/test_dictionaries_mysql/test.py
Labels: pr-not-for-changelog

#15756 Fix prewhere with virtual columns
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.cpp
  tests/queries/0_stateless/01511_prewhere_with_virtuals.reference
  tests/queries/0_stateless/01511_prewhere_with_virtuals.sql
Labels: pr-bugfix

#15635 Optimize Chinese tutorial to make it more human readable
  docs/zh/getting-started/tutorial.md
Labels: can be tested, pr-documentation

#15451 Global WITH and WITH propagation.
  src/Core/Settings.h
  src/Interpreters/ApplyWithAliasVisitor.cpp
  src/Interpreters/ApplyWithAliasVisitor.h
  src/Interpreters/ApplyWithGlobalVisitor.cpp
  src/Interpreters/ApplyWithGlobalVisitor.h
  src/Interpreters/ApplyWithSubqueryVisitor.cpp
  src/Interpreters/ApplyWithSubqueryVisitor.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/executeQuery.cpp
  src/Interpreters/ya.make
  tests/queries/0_stateless/01515_with_global_and_with_propagation.reference
  tests/queries/0_stateless/01515_with_global_and_with_propagation.sql
Labels: doc-alert, pr-feature

#15604 Update type-conversion-functions.md
  docs/en/sql-reference/functions/type-conversion-functions.md
Labels: can be tested, pr-documentation

#15783 Merging #14939
  programs/copier/Internals.cpp
  programs/copier/TaskTableAndShard.h
  src/DataTypes/NestedUtils.cpp
  src/DataTypes/NestedUtils.h
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#14890 fix a syntax error bug while using copier
  programs/copier/Internals.cpp
Labels: can be tested, no-docs-needed

#15799 Fix ugliness in docs
  docs/en/sql-reference/data-types/decimal.md
  docs/en/sql-reference/functions/other-functions.md
  src/Dictionaries/ExecutableDictionarySource.cpp
Labels: pr-documentation

#15807 Fix ugly links in docs
  docs/en/sql-reference/functions/other-functions.md
Labels: pr-documentation

#15808 Fix build on Mac OS
  src/Common/tests/int_hashes_perf.cpp
Labels: pr-build

#15803 Add `tid` and `logTrace` function
  src/Functions/logTrace.cpp
  src/Functions/registerFunctions.cpp
  src/Functions/tid.cpp
  src/Functions/ya.make
  tests/queries/0_stateless/01514_tid_function.reference
  tests/queries/0_stateless/01514_tid_function.sql
  tests/queries/0_stateless/01515_logtrace_function.reference
  tests/queries/0_stateless/01515_logtrace_function.sh
Labels: doc-alert, pr-feature

#15679 DOCSUP-2861: Add ability to specify Default codec
  docs/en/sql-reference/statements/create/table.md
Labels: pr-documentation

#15820 update RU version of rabbitmq doc
  docs/en/engines/table-engines/integrations/rabbitmq.md
  docs/ru/engines/table-engines/integrations/rabbitmq.md
Labels: can be tested, pr-documentation

#15814 Cleanups
  src/DataStreams/FilterBlockInputStream.cpp
  src/DataStreams/FilterBlockInputStream.h
  src/DataStreams/OneBlockInputStream.h
  src/DataStreams/PushingToViewsBlockOutputStream.cpp
  src/DataStreams/PushingToViewsBlockOutputStream.h
  src/DataStreams/tests/CMakeLists.txt
  src/DataStreams/tests/finish_sorting_stream.cpp
  src/DataStreams/ya.make
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Interpreters/InterpreterWatchQuery.cpp
  src/Interpreters/JoinSwitcher.h
  src/Interpreters/MergeJoin.cpp
  src/Interpreters/SubqueryForSet.cpp
  src/Processors/Merges/Algorithms/SummingSortedAlgorithm.cpp
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/LiveView/LiveViewEventsBlockInputStream.h
  src/Storages/LiveView/StorageLiveView.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageHDFS.cpp
  src/Storages/StorageNull.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageStripeLog.cpp
  src/Storages/StorageValues.cpp
  src/Storages/System/StorageSystemColumns.cpp
  src/Storages/System/StorageSystemDetachedParts.cpp
  src/Storages/System/StorageSystemDisks.cpp
  src/Storages/System/StorageSystemMutations.cpp
  src/Storages/System/StorageSystemParts.cpp
  src/Storages/System/StorageSystemPartsBase.cpp
  src/Storages/System/StorageSystemPartsColumns.cpp
  src/Storages/System/StorageSystemReplicas.cpp
  src/Storages/System/StorageSystemStoragePolicies.cpp
  src/Storages/System/StorageSystemTables.cpp
Labels: pr-not-for-changelog

#15813 Remove useless metrics to avoid confusion
  src/Common/CurrentMetrics.cpp
  src/Core/BackgroundSchedulePool.cpp
  src/Core/BackgroundSchedulePool.h
  src/Interpreters/Context.cpp
  src/Storages/MergeTree/BackgroundProcessingPool.cpp
  src/Storages/MergeTree/BackgroundProcessingPool.h
  src/Storages/MergeTree/MergeList.cpp
Labels: pr-improvement

#15831 Fix flag in Integration tests README
  tests/integration/README.md
Labels: pr-documentation

#15816 Change level of some log messages
  src/Core/PostgreSQLProtocol.h
  src/DataStreams/TTLBlockInputStream.cpp
  src/Server/HTTPHandler.cpp
  src/Server/InterserverIOHTTPHandler.cpp
  src/Server/MySQLHandler.cpp
  src/Server/PostgreSQLHandler.cpp
  src/Server/TCPHandler.cpp
Labels: pr-improvement

#15819 Enable Wzero-as-null-pointer-constant only for libcxx
  cmake/warnings.cmake
Labels: pr-not-for-changelog

#15711 Add reconnects to zookeeper-dump-tree tool
  utils/zookeeper-dump-tree/main.cpp
Labels: pr-improvement

#15809 add print_query_id support for native client
  programs/client/Client.cpp
  src/Interpreters/Context.cpp
  tests/queries/0_stateless/01520_client_print_query_id.reference
  tests/queries/0_stateless/01520_client_print_query_id.sh
Labels: doc-alert, pr-feature

#15757 fix flap in no_holes_when_write_suffix_failed
  tests/integration/helpers/network.py
  tests/integration/test_storage_kafka/test.py
  tests/queries/0_stateless/01360_materialized_view_with_join_on_query_log.sql
Labels: pr-not-for-changelog

#15842 Prettify clickhouse-client's query_id output
  programs/client/Client.cpp
Labels: pr-not-for-changelog

#15828 Fix INTERFACE_COMPILE_DEFINITIONS for IMPORTED targets
  cmake/find/odbc.cmake
  contrib/hyperscan-cmake/CMakeLists.txt
  contrib/jemalloc-cmake/CMakeLists.txt
  contrib/lz4-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#15785 Code refactor.
  src/Interpreters/InterpreterKillQueryQuery.cpp
  src/Interpreters/executeQuery.cpp
  src/Server/PostgreSQLHandler.cpp
  src/Server/TCPHandler.cpp
Labels: pr-not-for-changelog

#15850 Disable some RBAC tests with thread sanitizer
  tests/integration/test_grant_and_revoke/test.py
  tests/integration/test_role/test.py
Labels: pr-not-for-changelog

#15662 Fix read from Buffer table with empty nested table with different types.
  src/Storages/StorageBuffer.cpp
  tests/queries/0_stateless/01514_empty_buffer_different_types.reference
  tests/queries/0_stateless/01514_empty_buffer_different_types.sql
Labels: pr-bugfix

#15767 Try fix select count() for MaterializeMySQL (another way)
  src/Storages/StorageMaterializeMySQL.cpp
  src/Storages/StorageMaterializeMySQL.h
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMerge.h
  tests/integration/test_materialize_mysql_database/materialize_with_ddl.py
  tests/integration/test_materialize_mysql_database/test.py
Labels: pr-bugfix

#15844 Exclude zero-as-null-pointer-constant for libstdc++ under WEVERYTHING
  cmake/warnings.cmake
Labels: pr-not-for-changelog

#15843 Check for executable bit on non-executable files
  tests/integration/test_dictionaries_update_and_reload/configs/dictionaries/file.txt
  tests/queries/0_stateless/00595_insert_into_view.reference
  tests/queries/0_stateless/00716_allow_ddl.sql
  tests/queries/0_stateless/00945_bloom_filter_index.reference
  tests/queries/0_stateless/00945_bloom_filter_index.sql
  tests/queries/0_stateless/01013_totals_without_aggregation.sql
  tests/queries/0_stateless/01014_lazy_database_concurrent_recreate_reattach_and_show_tables.reference
  tests/queries/0_stateless/01019_alter_materialized_view_atomic.reference
  tests/queries/0_stateless/01019_alter_materialized_view_consistent.reference
  tests/queries/0_stateless/01054_cache_dictionary_overflow_cell.sql
  tests/queries/0_stateless/01055_compact_parts.sql
  tests/queries/0_stateless/01070_materialize_ttl.sql
  tests/queries/0_stateless/01073_crlf_end_of_line.sql
  tests/queries/0_stateless/01399_http_request_headers.reference
  tests/queries/0_stateless/01454_storagememory_data_race_challenge.reference
  tests/queries/0_stateless/01455_shard_leaf_max_rows_bytes_to_read.sql
  utils/check-style/check-style
Labels: pr-build

#15852 Fix block structure mismatch after ALTER
  src/Storages/MergeTree/MergeTreeReverseSelectProcessor.cpp
  tests/queries/0_stateless/01521_alter_enum_and_reverse_read.reference
  tests/queries/0_stateless/01521_alter_enum_and_reverse_read.sql
Labels: pr-bugfix

#15743 Fix DROP TABLE hangs with Atomic engine
  src/Databases/DatabaseAtomic.cpp
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMaterializedView.h
  tests/queries/0_stateless/01516_drop_table_stress.reference
  tests/queries/0_stateless/01516_drop_table_stress.sh
  tests/queries/0_stateless/01517_drop_mv_with_inner_table.reference
  tests/queries/0_stateless/01517_drop_mv_with_inner_table.sql
Labels: pr-bugfix

#15858 Fix alter default validation
  src/Storages/AlterCommands.cpp
  tests/queries/0_stateless/01522_validate_alter_default.reference
  tests/queries/0_stateless/01522_validate_alter_default.sql
Labels: pr-bugfix

#15875 Fix possible deadlocks in RBAC
  src/Access/ContextAccess.cpp
  src/Access/ContextAccess.h
  src/Access/EnabledRoles.cpp
  src/Access/EnabledRoles.h
  src/Access/RoleCache.cpp
  src/Access/RoleCache.h
  src/Interpreters/InterpreterGrantQuery.cpp
  src/Parsers/ASTGrantQuery.cpp
  src/Parsers/ASTGrantQuery.h
  tests/integration/test_grant_and_revoke/test.py
  tests/integration/test_role/test.py
Labels: pr-bugfix

#15890 Fix test 01509_check_many_parallel_quorum_inserts
  tests/queries/0_stateless/01509_check_many_parallel_quorum_inserts.sh
Labels: pr-not-for-changelog

#15462 DOCSUP-2042: Edit and translate to Russian.
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/statements/system.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#15876 Fix query hang with connections_with_failover_max_tries = 0 (endless loop)
  src/Common/PoolWithFailoverBase.h
  tests/queries/0_stateless/01521_distributed_query_hang.reference
  tests/queries/0_stateless/01521_distributed_query_hang.sql
Labels: pr-bugfix

#15845 Added OutputFormat setting date_time_output_format
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/data-types/datetime.md
  docs/en/sql-reference/data-types/datetime64.md
  src/Core/Settings.h
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/DataTypes/DataTypeDateTime.cpp
  src/DataTypes/DataTypeDateTime64.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/IO/WriteHelpers.h
  tests/queries/0_stateless/01516_date_time_output_format.reference
  tests/queries/0_stateless/01516_date_time_output_format.sql
Labels: can be tested, doc-alert, pr-feature

#14508 DOCSUP-1675 Docs for the cast_keep_nullable setting
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/functions/bitmap-functions.md
Labels: pr-documentation, st-waiting-for-fix

#15886 ISSUES-12513 fix difference expressions with same alias when analyze queries again
  src/Interpreters/AggregateFunctionOfGroupByKeysVisitor.h
  src/Interpreters/TreeOptimizer.cpp
  tests/queries/0_stateless/01321_aggregate_functions_of_group_by_keys.reference
  tests/queries/0_stateless/01511_different_expression_with_same_alias.reference
  tests/queries/0_stateless/01511_different_expression_with_same_alias.sql
Labels: pr-bugfix

#15954 ISSUES-15265 try fix crash when create database failure
  src/Interpreters/InterpreterCreateQuery.cpp
Labels: pr-bugfix

#15945 Fix flackiness of LIVE VIEW tests by increasing timeout for HTTPConnection
  tests/queries/0_stateless/helpers/httpclient.py
Labels: pr-not-for-changelog

#15614 DOCSUP-2018-formatDateTime_description_update: added two modificators into the table of supported modificators
  docs/en/sql-reference/functions/date-time-functions.md
  docs/ru/sql-reference/functions/date-time-functions.md
Labels: can be tested, pr-documentation

#15855 Add Support for OFFSET_FETCH_CLAUSE
  src/Common/ErrorCodes.cpp
  src/Parsers/ParserSelectQuery.cpp
  tests/queries/0_stateless/01525_select_with_offset_fetch_clause.reference
  tests/queries/0_stateless/01525_select_with_offset_fetch_clause.sql
Labels: can be tested, doc-alert, pr-feature

#15766 DOCSUP-2964: Document the new format LineAsString
  docs/en/interfaces/formats.md
  docs/ru/interfaces/formats.md
Labels: pr-documentation

#15873 test for a bug from #14053
  tests/queries/0_stateless/01521_max_length_alias.reference
  tests/queries/0_stateless/01521_max_length_alias.sql
Labels: pr-not-for-changelog

#15973 db_generator command line arguments
  utils/db-generator/CMakeLists.txt
  utils/db-generator/query_db_generator.cpp
Labels: pr-improvement

#15497 Add an SQL function formatReadableTimeDelta to format time delta
  base/common/StringRef.h
  docs/en/sql-reference/functions/other-functions.md
  src/Functions/FunctionsFormatting.cpp
  src/Functions/FunctionsFormatting.h
  src/Functions/bitmaskToList.cpp
  src/Functions/formatReadable.h
  src/Functions/formatReadableQuantity.cpp
  src/Functions/formatReadableSize.cpp
  src/Functions/formatReadableTimeDelta.cpp
  src/Functions/registerFunctionsFormatting.cpp
  src/Functions/ya.make
  tests/performance/format_readable.xml
  tests/queries/0_stateless/00534_filimonov.data
  tests/queries/0_stateless/01511_format_readable_timedelta.reference
  tests/queries/0_stateless/01511_format_readable_timedelta.sql
  tests/queries/0_stateless/01521_format_readable_time_delta2.reference
  tests/queries/0_stateless/01521_format_readable_time_delta2.sql
Labels: can be tested, doc-alert, pr-feature

#15975 Fix server logs in fast test
  docker/test/fasttest/run.sh
Labels: pr-not-for-changelog

#15857 Refactor processors.
  src/Client/Connection.cpp
  src/Core/ExternalTable.cpp
  src/DataStreams/ParallelInputsProcessor.h
  src/Processors/Formats/IOutputFormat.cpp
  src/Processors/ISink.cpp
  src/Processors/NullSink.h
  src/Processors/Pipe.cpp
  src/Processors/Pipe.h
  src/Processors/Port.h
  src/Processors/QueryPipeline.cpp
  src/Processors/QueryPipeline.h
  src/Processors/Sources/DelayedSource.cpp
  src/Processors/Transforms/FillingTransform.cpp
  src/Processors/Transforms/MergingAggregatedMemoryEfficientTransform.cpp
  src/Storages/StorageMemory.h
  src/Storages/StorageMerge.cpp
  src/Storages/StorageS3.cpp
Labels: pr-not-for-changelog

#15646 Better initialization of S3 storage
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
  src/IO/S3Common.cpp
Labels: pr-bugfix, st-waiting-for-fix

#15992 test for bug 5346
  tests/queries/0_stateless/01517_select_final_distributed.reference
  tests/queries/0_stateless/01517_select_final_distributed.sql
Labels: pr-not-for-changelog

#15454 Speedup hashed/sparse_hashed dictionary loading by preallocating the hash table
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  src/Common/HashTable/HashTable.h
  src/Dictionaries/ClickHouseDictionarySource.h
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/HashedDictionary.h
  tests/queries/0_stateless/01509_dictionary_preallocate.reference
  tests/queries/0_stateless/01509_dictionary_preallocate.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: force tests, pr-performance

#15987 Fix the bug when NOTHING_TO_DO events wrongly increment count_no_work_done
  src/Storages/MergeTree/BackgroundProcessingPool.cpp
Labels: pr-bugfix

#15982 Fix ambiguity in parsing of settings profiles.
  src/Parsers/ParserSettingsProfileElement.cpp
  tests/queries/0_stateless/01294_create_settings_profile.reference
  tests/queries/0_stateless/01294_create_settings_profile.sql
Labels: pr-bugfix

#15744 DOCSUP-2965: Add translate for map functions
  docs/en/sql-reference/functions/tuple-map-functions.md
  docs/ru/sql-reference/functions/tuple-map-functions.md
Labels: pr-documentation

#15999 Continuation of 15437
  src/Common/ThreadPool.h
Labels: pr-not-for-changelog

#15600 DOCSUP-2403: Docs for the mechanics of custom settings specifying (russian)
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/operations/settings/index.md
  docs/ru/sql-reference/functions/other-functions.md
Labels: pr-documentation

#15991 DOCSUP-1675: The cast_keep_nullable setting docs corrections
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/functions/type-conversion-functions.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation

#15993 DOCSUP-2407: Documented the bayesAB function (ru)
  docs/ru/sql-reference/functions/machine-learning-functions.md
Labels: pr-documentation

#15822 Fix build without libraries
  .gitignore
  src/Functions/abtesting.h
  src/Functions/tests/gtest_abtesting.cpp
Labels: force tests, pr-not-for-changelog

#16006 Fix options passing to functional tests scripts
  docker/test/stateful/run.sh
  docker/test/stateful_with_coverage/run.sh
  docker/test/stateless/run.sh
  docker/test/stateless_with_coverage/run.sh
Labels: pr-not-for-changelog

#15985 Add support of cache layout for Redis dictionaries with complex key
  src/Dictionaries/RedisDictionarySource.cpp
  src/Dictionaries/RedisDictionarySource.h
  tests/integration/test_dictionaries_redis/test.py
Labels: pr-improvement

#16007 Allow to use direct layout for dictionaries with complex keys
  src/Dictionaries/ComplexKeyDirectDictionary.cpp
  tests/queries/0_stateless/01526_complex_key_dict_direct_layout.reference
  tests/queries/0_stateless/01526_complex_key_dict_direct_layout.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-bugfix

#16031 Minor fix for DatabaseAtomic
  src/Databases/DatabasesCommon.cpp
  src/Interpreters/DatabaseCatalog.cpp
Labels: pr-bugfix

#16038 Fixing arrayIndex functions when right operand is LC but left is not
  src/Functions/array/arrayIndex.h
  tests/queries/0_stateless/01441_low_cardinality_array_index.reference
  tests/queries/0_stateless/01441_low_cardinality_array_index.sql
Labels: pr-bugfix

#16093 scipy
  docker/test/fasttest/Dockerfile
Labels: pr-build

#16075 Remove cluster type check during ON CLUSTER alter
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/DDLWorker.h
  tests/integration/test_alter_on_mixed_type_cluster/__init__.py
  tests/integration/test_alter_on_mixed_type_cluster/configs/remote_servers.xml
  tests/integration/test_alter_on_mixed_type_cluster/test.py
Labels: pr-improvement, pr-must-backport

#16034 Make the Fast Test easier to run locally
  docker/test/fasttest/Dockerfile
  docker/test/fasttest/run.sh
  tests/clickhouse-test
  tests/queries/0_stateless/01293_show_clusters.reference
  tests/queries/0_stateless/01293_show_clusters.sql
Labels: pr-not-for-changelog

#16084 Fix wrong error code in AST fuzzer
  programs/client/Client.cpp
Labels: pr-not-for-changelog

#16104 test for the bug #8490
  tests/queries/0_stateless/01518_select_in_null.reference
  tests/queries/0_stateless/01518_select_in_null.sql
Labels: pr-not-for-changelog

#16106 test for the bug #8580
  tests/queries/0_stateless/01518_cast_nullable_virtual_system_column.reference
  tests/queries/0_stateless/01518_cast_nullable_virtual_system_column.sql
Labels: pr-not-for-changelog

#16103 test for the bug #8425
  tests/queries/0_stateless/01518_filtering_aliased_materialized_column.reference
  tests/queries/0_stateless/01518_filtering_aliased_materialized_column.sql
Labels: pr-not-for-changelog

#16082 Fix segfault with wrong aggregation in lambdas
  src/Interpreters/ExpressionAnalyzer.cpp
  tests/queries/0_stateless/01527_bad_aggregation_in_lambda.reference
  tests/queries/0_stateless/01527_bad_aggregation_in_lambda.sql
Labels: pr-bugfix

#16112 Doc. table & database built-in macros
  docs/en/engines/table-engines/mergetree-family/replication.md
  docs/ru/engines/table-engines/mergetree-family/replication.md
  docs/ru/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#16113 Doc. Fix insert_quorum_timeout russian description.
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#16074 Better message about build error on Mac #16072
  cmake/tools.cmake
Labels: pr-build

#16046 Added a test for query parameter of type UUID
  tests/queries/0_stateless/01526_param_uuid.reference
  tests/queries/0_stateless/01526_param_uuid.sh
Labels: pr-not-for-changelog

#16011 Fix alter sorting key for ReplicatedVersionedCollapsingMergeTree
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/01526_alter_add_and_modify_order_zookeeper.reference
  tests/queries/0_stateless/01526_alter_add_and_modify_order_zookeeper.sql
Labels: pr-bugfix
