Repository ClickHouse/ClickHouse, pull requests merged in 2020-03, with the labels that each got.

#9457 Save errno in signal handlers
  base/daemon/src/BaseDaemon.cpp
  dbms/src/Common/QueryProfiler.cpp
  dbms/src/Storages/System/StorageSystemStackTrace.cpp
Labels: no-docs-needed, pr-bugfix

#9392 SyntaxAnalyzer refactoring
  dbms/src/DataStreams/tests/expression_stream.cpp
  dbms/src/DataStreams/tests/filter_stream.cpp
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/JoinedTables.cpp
  dbms/src/Interpreters/JoinedTables.h
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/src/Interpreters/SyntaxAnalyzer.h
  dbms/src/Interpreters/TranslateQualifiedNamesVisitor.h
  dbms/src/Interpreters/tests/expression.cpp
  dbms/src/Interpreters/tests/expression_analyzer.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexSet.cpp
  dbms/src/Storages/transformQueryForExternalDatabase.cpp
Labels: no-docs-needed

#9412 Fix replication protocol backward incompatibility.
  dbms/src/Storages/MergeTree/DataPartsExchange.cpp
  dbms/tests/integration/test_backward_compatability/__init__.py
  dbms/tests/integration/test_backward_compatability/test.py
Labels: no-docs-needed, pr-bugfix

#9453 Better exception message when length is required in HTTP
  dbms/programs/server/HTTPHandler.cpp
Labels: no-docs-needed, pr-improvement

#9455 Avoid message "deadlock avoided" in client
  dbms/programs/client/Suggest.cpp
Labels: no-docs-needed, pr-bugfix, usability

#9454 Optimize bit operations on FixedString when one of the arguments is constant
  dbms/src/Functions/FunctionBinaryArithmetic.h
  dbms/tests/queries/0_stateless/01090_fixed_string_bit_ops.reference
  dbms/tests/queries/0_stateless/01090_fixed_string_bit_ops.sql
Labels: no-docs-needed, pr-performance

#9466 Fix random inserts test
  dbms/tests/integration/test_random_inserts/test.py
Labels: no-docs-needed, pr-non-significant

#9463 Trying to fix mutations with last quorum parts
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQuorumAddedParts.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/queries/0_stateless/00732_quorum_insert_simple_test_1_parts_zookeeper.reference
  dbms/tests/queries/0_stateless/00732_quorum_insert_simple_test_1_parts_zookeeper.sql
  dbms/tests/queries/0_stateless/01090_zookeeper_mutations_and_insert_quorum.reference
  dbms/tests/queries/0_stateless/01090_zookeeper_mutations_and_insert_quorum.sql
Labels: pr-bugfix

#9467 Faster performance tests (2)
  dbms/tests/performance/empty_string_deserialization.xml
  dbms/tests/performance/merge_tree_many_partitions_2.xml
  dbms/tests/performance/merge_tree_simple_select.xml
Labels: no-docs-needed

#9486 Backport 8549 to 19.16 [Do not allow to merge data moving it against storage policy volume order]
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
Labels: can be tested

#9472 Fixed wrong code around Memory Profiler
  .clang-format
  base/ext/singleton.h
  base/glibc-compatibility/musl/clock_gettime.c
  base/glibc-compatibility/musl/clock_nanosleep.c
  base/glibc-compatibility/musl/musl_features.h
  base/glibc-compatibility/musl/x86_64/syscall.s
  dbms/src/Common/MemoryTracker.cpp
  dbms/src/Common/QueryProfiler.cpp
  dbms/src/Common/TraceCollector.cpp
  dbms/src/Common/TraceCollector.h
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Interpreters/ProcessList.cpp
  dbms/src/Interpreters/ThreadStatusExt.cpp
  dbms/src/Interpreters/TraceLog.cpp
  dbms/src/Interpreters/TraceLog.h
  dbms/tests/queries/0_stateless/01091_query_profiler_does_not_hang.reference
  dbms/tests/queries/0_stateless/01091_query_profiler_does_not_hang.sql
  dbms/tests/queries/0_stateless/01092_memory_profiler.reference
  dbms/tests/queries/0_stateless/01092_memory_profiler.sql
Labels: no-docs-needed, pr-bugfix

#8701 Alter on top of mutations for ReplicatedMergeTree
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Core/NamesAndTypes.cpp
  dbms/src/Core/NamesAndTypes.h
  dbms/src/DataStreams/AddingDefaultsBlockInputStream.cpp
  dbms/src/DataStreams/TTLBlockInputStream.cpp
  dbms/src/Interpreters/MutationsInterpreter.cpp
  dbms/src/Interpreters/addMissingDefaults.cpp
  dbms/src/Interpreters/inplaceBlockConversions.cpp
  dbms/src/Interpreters/inplaceBlockConversions.h
  dbms/src/Storages/AlterCommands.cpp
  dbms/src/Storages/AlterCommands.h
  dbms/src/Storages/IStorage.cpp
  dbms/src/Storages/MergeTree/EphemeralLockInZooKeeper.h
  dbms/src/Storages/MergeTree/IMergeTreeReader.cpp
  dbms/src/Storages/MergeTree/IMergeTreeReader.h
  dbms/src/Storages/MergeTree/MergeTreeBlockReadUtils.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  dbms/src/Storages/MergeTree/MergeTreeRangeReader.cpp
  dbms/src/Storages/MergeTree/MergeTreeReaderWide.cpp
  dbms/src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  dbms/src/Storages/MergeTree/MergeTreeSequentialBlockInputStream.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeAlterThread.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeAlterThread.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeAltersSequence.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeAltersSequence.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeMutationEntry.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeMutationEntry.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.h
  dbms/src/Storages/MergeTree/registerStorageMergeTree.cpp
  dbms/src/Storages/MutationCommands.cpp
  dbms/src/Storages/MutationCommands.h
  dbms/src/Storages/StorageInMemoryMetadata.cpp
  dbms/src/Storages/StorageInMemoryMetadata.h
  dbms/src/Storages/StorageMaterializedView.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.h
  dbms/tests/queries/0_stateless/00062_replicated_merge_tree_alter_zookeeper.sql
  dbms/tests/queries/0_stateless/00754_alter_modify_order_by_replicated_zookeeper.sql
  dbms/tests/queries/0_stateless/00836_indices_alter_replicated_zookeeper.sql
  dbms/tests/queries/0_stateless/00980_zookeeper_merge_tree_alter_settings.sql
  dbms/tests/queries/0_stateless/01062_alter_on_mutataion.reference
  dbms/tests/queries/0_stateless/01062_alter_on_mutataion.sql
  dbms/tests/queries/0_stateless/01079_bad_alters_zookeeper.reference
  dbms/tests/queries/0_stateless/01079_bad_alters_zookeeper.sh
  dbms/tests/queries/0_stateless/01079_parallel_alter_add_drop_column_zookeeper.reference
  dbms/tests/queries/0_stateless/01079_parallel_alter_add_drop_column_zookeeper.sh
  dbms/tests/queries/0_stateless/01079_parallel_alter_detach_table_zookeeper.reference
  dbms/tests/queries/0_stateless/01079_parallel_alter_detach_table_zookeeper.sh
  dbms/tests/queries/0_stateless/01079_parallel_alter_modify_zookeeper.referece
  dbms/tests/queries/0_stateless/01079_parallel_alter_modify_zookeeper.reference
  dbms/tests/queries/0_stateless/01079_parallel_alter_modify_zookeeper.sh
Labels: doc-alert

#9420 Make some performance tests faster
  dbms/tests/performance/math.xml
  dbms/tests/performance/ngram_distance.xml
  dbms/tests/performance/prewhere.xml
  dbms/tests/performance/trim_whitespace.xml
Labels: no-docs-needed

#9464 Fix LIMIT WITH TIES wrong result and memory leak in MergingSortedTransform
  dbms/src/Processors/LimitTransform.cpp
  dbms/src/Processors/LimitTransform.h
  dbms/src/Processors/SharedChunk.h
  dbms/src/Processors/Transforms/MergingSortedTransform.cpp
  dbms/src/Processors/Transforms/MergingSortedTransform.h
  dbms/tests/queries/0_stateless/00996_limit_with_ties.reference
  dbms/tests/queries/0_stateless/00996_limit_with_ties.sql
Labels: no-docs-needed, pr-bugfix

#9442 ColumnVector::replicate() is even more readily vectorized now
  dbms/src/Columns/ColumnVector.cpp
Labels: no-docs-needed, pr-performance

#9459 ThreadFuzzer (experimental)
  dbms/programs/server/Server.cpp
  dbms/src/Common/QueryProfiler.cpp
  dbms/src/Common/ThreadFuzzer.cpp
  dbms/src/Common/ThreadFuzzer.h
  dbms/src/Common/tests/CMakeLists.txt
  dbms/src/Common/tests/chaos_sanitizer.cpp
  dbms/tests/queries/0_stateless/00090_union_race_conditions_1.sh
  dbms/tests/queries/0_stateless/00091_union_race_conditions_2.sh
  dbms/tests/queries/0_stateless/00092_union_race_conditions_3.sh
  dbms/tests/queries/0_stateless/00093_union_race_conditions_4.sh
  dbms/tests/queries/0_stateless/00094_union_race_conditions_5.sh
Labels: no-docs-needed

#9487 In LogicalFunctions performance tests: Adjusted test queries execution times
  dbms/tests/performance/logical_functions_large.xml
  dbms/tests/performance/logical_functions_medium.xml
  dbms/tests/performance/logical_functions_small.xml
Labels: no-docs-needed, pr-non-significant

#9483 Better calculation for recommended number of threads to execute pipeline
  dbms/programs/server/TCPHandler.cpp
  dbms/src/Processors/QueryPipeline.cpp
  dbms/src/Processors/QueryPipeline.h
  dbms/tests/queries/0_stateless/01091_num_threads.reference
  dbms/tests/queries/0_stateless/01091_num_threads.sql
Labels: no-docs-needed, pr-codecleanup

#9493 Set X-ClickHouse-Timezone HTTP response header to the server's timezone
  dbms/programs/local/LocalServer.cpp
  dbms/programs/server/HTTPHandler.cpp
  dbms/programs/server/MySQLHandler.cpp
  dbms/src/Interpreters/DDLWorker.cpp
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Interpreters/executeQuery.h
  dbms/src/Interpreters/tests/select_query.cpp
  dbms/tests/queries/0_stateless/00265_content_type_and_format.sh
  dbms/tests/queries/0_stateless/00265_http_content_type_format_timezone.reference
  dbms/tests/queries/0_stateless/00265_http_content_type_format_timezone.sh
  dbms/tests/queries/0_stateless/00501_http_head.sh
Labels: doc-alert, pr-feature

#9488 Some more JoinedTables related refactoring
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/JoinedTables.cpp
  dbms/src/Interpreters/JoinedTables.h
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/src/Interpreters/SyntaxAnalyzer.h
Labels: no-docs-needed

#9498 Get rid of boost::iterator_adaptor
  dbms/src/Common/PODArray.h
Labels: no-docs-needed, pr-non-significant

#9495 Fix progress over tcp
  dbms/programs/server/TCPHandler.cpp
Labels: no-docs-needed, pr-improvement

#9391 Implement arraySlice for arrays with aggregate function states.
  dbms/src/Columns/ColumnAggregateFunction.cpp
  dbms/src/Columns/ColumnAggregateFunction.h
  dbms/tests/queries/0_stateless/01088_array_slice_of_aggregate_functions.reference
  dbms/tests/queries/0_stateless/01088_array_slice_of_aggregate_functions.sql
Labels: no-docs-needed, pr-improvement

#9261 Improve performance of analysing index with IN
  dbms/src/Interpreters/Set.cpp
  dbms/src/Interpreters/Set.h
  dbms/src/Interpreters/tests/gtest_merge_tree_set_index.cpp
  dbms/src/Storages/MergeTree/KeyCondition.cpp
  dbms/src/Storages/MergeTree/KeyCondition.h
  dbms/tests/performance/set_index.xml
Labels: no-docs-needed, pr-performance

#8594 Added reloading storage configuration from configuration file
  dbms/programs/server/Server.cpp
  dbms/src/Disks/DiskSpaceMonitor.cpp
  dbms/src/Disks/DiskSpaceMonitor.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergeTreePartsMover.cpp
  dbms/src/Storages/StorageDistributed.cpp
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/System/StorageSystemDisks.cpp
  dbms/src/Storages/System/StorageSystemStoragePolicies.cpp
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/test_reloading_storage_configuration/__init__.py
  dbms/tests/integration/test_reloading_storage_configuration/configs/config.d/cluster.xml
  dbms/tests/integration/test_reloading_storage_configuration/configs/config.d/storage_configuration.xml
  dbms/tests/integration/test_reloading_storage_configuration/configs/logs_config.xml
  dbms/tests/integration/test_reloading_storage_configuration/test.py
Labels: altinity, doc-alert

#9524 Fixed absolutely wrong documentation for parallel INSERT SELECT
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/InterpreterInsertQuery.cpp
Labels: pr-bugfix

#9142 Quote some identifiers when formatting SQL queries.
  dbms/src/IO/WriteHelpers.cpp
  dbms/src/IO/WriteHelpers.h
  dbms/src/Parsers/ExpressionListParsers.cpp
  dbms/tests/queries/0_stateless/01081_keywords_formatting.reference
  dbms/tests/queries/0_stateless/01081_keywords_formatting.sql
Labels: no-docs-needed

#9525 Attempt to fix flacky test '00910_zookeeper_test_alter_compression_codecs'
  dbms/programs/client/Client.cpp
  dbms/tests/queries/0_stateless/00910_zookeeper_test_alter_compression_codecs.sql
Labels: pr-build

#9409 Mysqlxx share connection for external dictionaries only
  base/mysqlxx/CMakeLists.txt
  base/mysqlxx/include/mysqlxx/Pool.h
  base/mysqlxx/include/mysqlxx/PoolFactory.h
  base/mysqlxx/include/mysqlxx/PoolWithFailover.h
  base/mysqlxx/include/mysqlxx/Value.h
  base/mysqlxx/src/Pool.cpp
  base/mysqlxx/src/PoolFactory.cpp
  base/mysqlxx/src/PoolWithFailover.cpp
  dbms/src/Dictionaries/MySQLDictionarySource.cpp
  dbms/src/Dictionaries/MySQLDictionarySource.h
  dbms/src/Interpreters/ExternalDictionariesLoader.cpp
  dbms/src/Interpreters/ExternalDictionariesLoader.h
  dbms/src/Interpreters/InterpreterSystemQuery.cpp
  dbms/tests/integration/test_dictionaries_mysql/__init__.py
  dbms/tests/integration/test_dictionaries_mysql/configs/config.xml
  dbms/tests/integration/test_dictionaries_mysql/configs/dictionaries/mysql_dict1.xml
  dbms/tests/integration/test_dictionaries_mysql/configs/dictionaries/mysql_dict2.xml
  dbms/tests/integration/test_dictionaries_mysql/configs/remote_servers.xml
  dbms/tests/integration/test_dictionaries_mysql/configs/users.xml
  dbms/tests/integration/test_dictionaries_mysql/test.py
Labels: can be tested, no-docs-needed

#9529 Merging Japanese translation from Tac0x2a
  docs/ja/introduction/features_considered_disadvantages.md
  docs/ja/introduction/history.md
Labels: pr-documentation

#9220 Docs: Translated introduction/features_considered_disadvantages.md to ja
  docs/ja/introduction/features_considered_disadvantages.md
Labels: pr-documentation

#9527 Better exception message while loading tables for database ordinary
  dbms/src/Databases/DatabaseOrdinary.cpp
Labels: no-docs-needed, pr-improvement, usability

#9528 Make "performance_introspection_and_logging" test reliable to random server stuck
  dbms/tests/queries/0_stateless/00634_performance_introspection_and_logging.reference
  dbms/tests/queries/0_stateless/00634_performance_introspection_and_logging.sh
Labels: no-docs-needed, pr-build

#9346 Doc change explanation that `max_result_rows result_overflow_mode=break ` depends of max_block_size
  docs/ru/operations/settings/query_complexity.md
Labels: doc-alert, pr-doc-fix

#9481 Restrict to use SELECT in columns default expressions.
  dbms/src/Core/BlockInfo.cpp
  dbms/src/Core/BlockInfo.h
  dbms/src/DataStreams/AddingDefaultsBlockInputStream.cpp
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Interpreters/inplaceBlockConversions.cpp
  dbms/src/Storages/AlterCommands.cpp
  dbms/src/Storages/AlterCommands.h
  dbms/src/Storages/ColumnsDescription.cpp
  dbms/src/Storages/ColumnsDescription.h
  dbms/tests/queries/0_stateless/00079_defaulted_columns.reference
  dbms/tests/queries/0_stateless/00079_defaulted_columns.sql
  dbms/tests/queries/0_stateless/00385_storage_file_and_clickhouse-local_app.sh
  dbms/tests/queries/0_stateless/01084_defaults_on_aliases.reference
  dbms/tests/queries/0_stateless/01084_defaults_on_aliases.sql
  dbms/tests/queries/0_stateless/01091_insert_with_default_json.reference
  dbms/tests/queries/0_stateless/01091_insert_with_default_json.sql
Labels: backward compatibility, doc-alert

#9489 Add ability to create defaults from aliases
  dbms/src/Interpreters/inplaceBlockConversions.cpp
  dbms/tests/queries/0_stateless/01093_cyclic_defaults_filimonov.reference
  dbms/tests/queries/0_stateless/01093_cyclic_defaults_filimonov.sql
Labels: no-docs-needed, pr-bugfix

#8994 Generate table function
  dbms/src/DataTypes/DataTypeInterval.h
  dbms/src/DataTypes/DataTypeNumberBase.cpp
  dbms/src/Storages/StorageGenerate.cpp
  dbms/src/Storages/StorageGenerate.h
  dbms/src/Storages/registerStorages.cpp
  dbms/src/Storages/registerStorages.h
  dbms/src/TableFunctions/TableFunctionGenerate.cpp
  dbms/src/TableFunctions/TableFunctionGenerate.h
  dbms/src/TableFunctions/registerTableFunctions.cpp
  dbms/src/TableFunctions/registerTableFunctions.h
  dbms/tests/performance/generate_table_function.xml
  dbms/tests/queries/0_stateless/01087_storage_generate.reference
  dbms/tests/queries/0_stateless/01087_storage_generate.sql
  dbms/tests/queries/0_stateless/01087_table_function_generate.reference
  dbms/tests/queries/0_stateless/01087_table_function_generate.sql
  docs/en/operations/table_engines/generate.md
  docs/en/query_language/table_functions/generate.md
  docs/fa/operations/table_engines/generate.md
  docs/fa/query_language/table_functions/generate.md
  docs/ja/operations/table_engines/generate.md
  docs/ja/query_language/table_functions/generate.md
  docs/ru/operations/table_engines/generate.md
  docs/ru/query_language/table_functions/generate.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ja.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/operations/table_engines/generate.md
  docs/zh/query_language/table_functions/generate.md
Labels: can be tested, doc-alert, pr-documentation, pr-feature

#9536 DOCS-548: Extended adopters list
  docs/en/introduction/adopters.md
  docs/en/operations/settings/query_complexity.md
  docs/en/operations/settings/settings.md
  docs/en/query_language/agg_functions/reference.md
  docs/ru/operations/settings/query_complexity.md
  docs/ru/operations/settings/settings.md
  docs/ru/query_language/agg_functions/reference.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ja.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
Labels: pr-doc-fix

#9538 ignore weak symbol under mac because it must be defined
  CMakeLists.txt
Labels: can be tested

#9373 Doc. change. max_insert_threads RU description
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: comp-documentation, pr-doc-fix

#9232 Better build time (remove SessionCleaner from Context)
  dbms/programs/server/HTTPHandler.cpp
  dbms/programs/server/Server.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
Labels: no-docs-needed, pr-build

#9441 Change endless performance tests (1)
  dbms/tests/performance/array_element.xml
  dbms/tests/performance/array_join.xml
  dbms/tests/performance/base64.xml
  dbms/tests/performance/base64_hits.xml
  dbms/tests/performance/bitCount.xml
Labels: no-docs-needed

#9443 Change some endless performance tests (2)
  dbms/tests/performance/bounding_ratio.xml
  dbms/tests/performance/complex_array_creation.xml
  dbms/tests/performance/conditional.xml
  dbms/tests/performance/consistent_hashes.xml
  dbms/tests/performance/count.xml
  dbms/tests/performance/cryptographic_hashes.xml
Labels: no-docs-needed

#9444 Change endless performance tests (3)
  dbms/tests/performance/date_time.xml
  dbms/tests/performance/entropy.xml
  dbms/tests/performance/float_formatting.xml
  dbms/tests/performance/float_parsing.xml
  dbms/tests/performance/format_date_time.xml
  dbms/tests/performance/functions_coding.xml
Labels: no-docs-needed

#9445 Change endless performance tests (4)
  dbms/tests/performance/functions_geo.xml
  dbms/tests/performance/great_circle_dist.xml
  dbms/tests/performance/group_array_moving_sum.xml
  dbms/tests/performance/h3.xml
  dbms/tests/performance/if_array_num.xml
  dbms/tests/performance/if_array_string.xml
Labels: no-docs-needed

#9469 Change endless performance tests (5)
  dbms/tests/performance/if_string_const.xml
  dbms/tests/performance/if_to_multiif.xml
  dbms/tests/performance/information_value.xml
  dbms/tests/performance/linear_regression.xml
  dbms/tests/performance/random_printable_ascii.xml
Labels: no-docs-needed

#9470 Change endless performance tests (6)
  dbms/tests/performance/range.xml
  dbms/tests/performance/read_hits_with_aio.xml
  dbms/tests/performance/right.xml
  dbms/tests/performance/round_down.xml
  dbms/tests/performance/round_methods.xml
  dbms/tests/performance/set.xml
  dbms/tests/performance/simple_join_query.xml
Labels: no-docs-needed

#9553 Fix race condition in executeMetadataAlter
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
Labels: no-docs-needed, pr-bugfix

#9550 Validate XML in style check
  utils/check-style/check-style
Labels: no-docs-needed, pr-build

#9548 Doc change. insert_deduplicate , force_deduplicate_childrens RU description
  docs/ru/operations/settings/settings.md
Labels: comp-documentation, pr-doc-fix

#9555 Fixed race condition in test 00738_lock_for_inner_table
  dbms/tests/queries/0_stateless/00738_lock_for_inner_table.sh
Labels: no-docs-needed, pr-build

#9552 Fixed race condition on queue_task_handle
  dbms/src/Storages/MergeTree/BackgroundProcessingPool.cpp
  dbms/src/Storages/MergeTree/BackgroundProcessingPool.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
Labels: no-docs-needed, pr-bugfix

#9542 Remove `indexHint` function
  dbms/src/Functions/indexHint.cpp
  dbms/src/Functions/registerFunctionsMiscellaneous.cpp
  dbms/src/Interpreters/ActionsVisitor.cpp
  dbms/src/Interpreters/RequiredSourceColumnsVisitor.cpp
  dbms/src/Storages/MergeTree/KeyCondition.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexSet.cpp
  dbms/src/Storages/MergeTree/MergeTreeWhereOptimizer.cpp
  dbms/src/Storages/MergeTree/RPNBuilder.h
  docs/en/query_language/functions/other_functions.md
  docs/ru/query_language/functions/other_functions.md
  docs/zh/query_language/functions/other_functions.md
Labels: make it worse, pr-improvement

#9543 Remove `findClusterIndex`, `findClusterValue` functions
  dbms/src/Functions/FunctionsFindCluster.cpp
  dbms/src/Functions/FunctionsFindCluster.h
  dbms/src/Functions/registerFunctions.cpp
  dbms/tests/queries/0_stateless/00809_add_days_segfault.sql
Labels: pr-improvement

#9407 Fix not(has()) for the bloom_filter index of array types.
  dbms/src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.cpp
  dbms/tests/queries/0_stateless/01078_bloom_filter_operator_not_has.reference
  dbms/tests/queries/0_stateless/01078_bloom_filter_operator_not_has.sql
Labels: no-docs-needed

#9534 Fixes after merging "generateRandom" table function
  dbms/src/Storages/StorageGenerate.cpp
  dbms/src/Storages/StorageGenerateRandom.cpp
  dbms/src/Storages/StorageGenerateRandom.h
  dbms/src/Storages/registerStorages.cpp
  dbms/src/Storages/registerStorages.h
  dbms/src/TableFunctions/TableFunctionGenerateRandom.cpp
  dbms/src/TableFunctions/TableFunctionGenerateRandom.h
  dbms/tests/performance/generate_table_function.xml
  dbms/tests/queries/0_stateless/01087_storage_generate.reference
  dbms/tests/queries/0_stateless/01087_storage_generate.sql
  dbms/tests/queries/0_stateless/01087_table_function_generate.reference
  dbms/tests/queries/0_stateless/01087_table_function_generate.sql
  docs/en/operations/table_engines/generate.md
  docs/en/query_language/table_functions/generate.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ja.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
Labels: pr-non-significant

#9565 Normalize running time of some queries in performance tests
  dbms/tests/performance/bitCount.xml
  dbms/tests/performance/date_time.xml
  dbms/tests/performance/generate_table_function.xml
  dbms/tests/performance/joins_in_memory.xml
Labels: no-docs-needed, pr-build

#9484 Try newer version of odbc driver
  dbms/tests/queries/0_stateless/01086_odbc_roundtrip.reference
  dbms/tests/queries/0_stateless/01086_odbc_roundtrip.sql
  docker/test/stateless/Dockerfile
  docker/test/stateless_with_coverage/Dockerfile
Labels: can be tested

#9415 Storage MergeTree initial support for S3.
  dbms/src/Compression/CachedCompressedReadBuffer.cpp
  dbms/src/Compression/CachedCompressedReadBuffer.h
  dbms/src/Compression/tests/cached_compressed_read_buffer.cpp
  dbms/src/Disks/DiskLocal.cpp
  dbms/src/Disks/DiskLocal.h
  dbms/src/Disks/DiskMemory.cpp
  dbms/src/Disks/DiskMemory.h
  dbms/src/Disks/DiskS3.cpp
  dbms/src/Disks/DiskS3.h
  dbms/src/Disks/IDisk.h
  dbms/src/Storages/MergeTree/DataPartsExchange.cpp
  dbms/src/Storages/MergeTree/IMergeTreeDataPart.cpp
  dbms/src/Storages/MergeTree/IMergeTreeDataPart.h
  dbms/src/Storages/MergeTree/IMergeTreeDataPartWriter.cpp
  dbms/src/Storages/MergeTree/IMergeTreeDataPartWriter.h
  dbms/src/Storages/MergeTree/IMergeTreeReader.cpp
  dbms/src/Storages/MergeTree/IMergeTreeReader.h
  dbms/src/Storages/MergeTree/IMergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/IMergedBlockOutputStream.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartChecksum.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartChecksum.h
  dbms/src/Storages/MergeTree/MergeTreeDataPartCompact.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartWide.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartWriterCompact.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartWriterCompact.h
  dbms/src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartWriterWide.h
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataWriter.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexGranularityInfo.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexGranularityInfo.h
  dbms/src/Storages/MergeTree/MergeTreeIndexReader.cpp
  dbms/src/Storages/MergeTree/MergeTreeMarksLoader.cpp
  dbms/src/Storages/MergeTree/MergeTreeMarksLoader.h
  dbms/src/Storages/MergeTree/MergeTreeMutationEntry.cpp
  dbms/src/Storages/MergeTree/MergeTreeMutationEntry.h
  dbms/src/Storages/MergeTree/MergeTreePartition.cpp
  dbms/src/Storages/MergeTree/MergeTreePartition.h
  dbms/src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  dbms/src/Storages/MergeTree/MergeTreeReaderStream.cpp
  dbms/src/Storages/MergeTree/MergeTreeReaderStream.h
  dbms/src/Storages/MergeTree/MergeTreeReaderWide.cpp
  dbms/src/Storages/MergeTree/MergeTreeReverseSelectProcessor.cpp
  dbms/src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  dbms/src/Storages/MergeTree/MergeTreeSettings.h
  dbms/src/Storages/MergeTree/MergeTreeThreadSelectBlockInputProcessor.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.h
  dbms/src/Storages/MergeTree/checkDataPart.cpp
  dbms/src/Storages/MergeTree/checkDataPart.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/tests/integration/test_merge_tree_s3/__init__.py
  dbms/tests/integration/test_merge_tree_s3/configs/config.d/log_conf.xml
  dbms/tests/integration/test_merge_tree_s3/configs/config.xml
  dbms/tests/integration/test_merge_tree_s3/configs/users.xml
  dbms/tests/integration/test_merge_tree_s3/test.py
  utils/convert-month-partitioned-parts/main.cpp
Labels: doc-alert

#9582 Typo in russian docs
  docs/ru/interfaces/cli.md
Labels: pr-doc-fix

#9583 Better clone of lost replica
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-non-significant

#9592 Fix blockSerializedState function
  dbms/src/Functions/blockSerializedSize.cpp
  dbms/tests/queries/0_stateless/01096_block_serialized_state.reference
  dbms/tests/queries/0_stateless/01096_block_serialized_state.sql
Labels: no-docs-needed, pr-bugfix

#9594 Revert "Keep alias type name to metadata"
  dbms/src/DataTypes/DataTypeAggregateFunction.cpp
  dbms/src/DataTypes/DataTypeArray.cpp
  dbms/src/DataTypes/DataTypeCustomIPv4AndIPv6.cpp
  dbms/src/DataTypes/DataTypeCustomSimpleAggregateFunction.cpp
  dbms/src/DataTypes/DataTypeDate.cpp
  dbms/src/DataTypes/DataTypeDateTime.cpp
  dbms/src/DataTypes/DataTypeDateTime.h
  dbms/src/DataTypes/DataTypeDateTime64.cpp
  dbms/src/DataTypes/DataTypeDecimalBase.h
  dbms/src/DataTypes/DataTypeEnum.cpp
  dbms/src/DataTypes/DataTypeFactory.cpp
  dbms/src/DataTypes/DataTypeFactory.h
  dbms/src/DataTypes/DataTypeFixedString.cpp
  dbms/src/DataTypes/DataTypeFixedString.h
  dbms/src/DataTypes/DataTypeInterval.cpp
  dbms/src/DataTypes/DataTypeLowCardinality.cpp
  dbms/src/DataTypes/DataTypeNothing.cpp
  dbms/src/DataTypes/DataTypeNullable.cpp
  dbms/src/DataTypes/DataTypeString.cpp
  dbms/src/DataTypes/DataTypeString.h
  dbms/src/DataTypes/DataTypeTuple.cpp
  dbms/src/DataTypes/DataTypeUUID.cpp
  dbms/src/DataTypes/DataTypesDecimal.cpp
  dbms/src/DataTypes/DataTypesDecimal.h
  dbms/src/DataTypes/DataTypesNumber.cpp
  dbms/src/DataTypes/DataTypesNumber.h
  dbms/tests/queries/0_stateless/00700_decimal_aggregates.reference
  dbms/tests/queries/0_stateless/00700_decimal_complex_types.reference
  dbms/tests/queries/0_stateless/00700_decimal_defaults.reference
  dbms/tests/queries/0_stateless/00804_test_custom_compression_codecs.reference
  dbms/tests/queries/0_stateless/00910_zookeeper_custom_compression_codecs_replicated.reference
  dbms/tests/queries/0_stateless/00915_simple_aggregate_function.reference
  dbms/tests/queries/0_stateless/00933_alter_ttl.reference
  dbms/tests/queries/0_stateless/00933_ttl_simple.reference
  dbms/tests/queries/0_stateless/01051_keep_type_alias_to_metadata.reference
  dbms/tests/queries/0_stateless/01051_keep_type_alias_to_metadata.sql
  dbms/tests/queries/0_stateless/01055_compact_parts_1.reference
  dbms/tests/queries/0_stateless/01070_alter_with_ttl.reference
  dbms/tests/queries/0_stateless/01087_table_function_generate.reference
Labels: pr-bugfix, v20.1

#9593 Storage system zeros
  dbms/src/Access/AccessFlags.h
  dbms/src/Access/AccessType.h
  dbms/src/Storages/System/StorageSystemZeros.cpp
  dbms/src/Storages/System/StorageSystemZeros.h
  dbms/src/Storages/System/attachSystemTables.cpp
  dbms/src/TableFunctions/TableFunctionZeros.cpp
  dbms/src/TableFunctions/TableFunctionZeros.h
  dbms/src/TableFunctions/registerTableFunctions.cpp
  dbms/src/TableFunctions/registerTableFunctions.h
  dbms/tests/queries/0_stateless/01096_zeros.reference
  dbms/tests/queries/0_stateless/01096_zeros.sql
Labels: doc-alert, pr-feature

#9600 Update zeros tests
  dbms/tests/performance/complex_array_creation.xml
  dbms/tests/performance/conditional.xml
  dbms/tests/performance/cryptographic_hashes.xml
  dbms/tests/performance/empty_string_deserialization.xml
  dbms/tests/performance/empty_string_serialization.xml
  dbms/tests/performance/float_formatting.xml
  dbms/tests/performance/float_parsing.xml
  dbms/tests/performance/functions_coding.xml
  dbms/tests/performance/functions_geo.xml
  dbms/tests/performance/general_purpose_hashes.xml
  dbms/tests/performance/general_purpose_hashes_on_UUID.xml
  dbms/tests/performance/great_circle_dist.xml
  dbms/tests/performance/h3.xml
  dbms/tests/performance/if_array_num.xml
  dbms/tests/performance/if_array_string.xml
  dbms/tests/performance/if_string_const.xml
  dbms/tests/performance/json_extract_rapidjson.xml
  dbms/tests/performance/json_extract_simdjson.xml
  dbms/tests/performance/logical_functions_large.xml
  dbms/tests/performance/logical_functions_medium.xml
  dbms/tests/performance/logical_functions_small.xml
  dbms/tests/performance/merge_tree_huge_pk.xml
  dbms/tests/performance/random_printable_ascii.xml
  dbms/tests/performance/round_down.xml
  dbms/tests/performance/set.xml
  dbms/tests/performance/set_index.xml
  dbms/tests/performance/sort.xml
  dbms/tests/performance/string_join.xml
  dbms/tests/performance/string_set.xml
  dbms/tests/performance/synthetic_hardware_benchmark.xml
  dbms/tests/performance/vectorize_aggregation_combinators.xml
  dbms/tests/performance/visit_param_extract_raw.xml
Labels: no-docs-needed, pr-codecleanup

#9608 Make test more stable
  dbms/tests/queries/0_stateless/01055_compact_parts_granularity.sh
  dbms/tests/queries/0_stateless/01055_compact_parts_granularity.sql
Labels: no-docs-needed

#9603 Fix simpliest case of cyclic aliases
  dbms/src/Interpreters/QueryNormalizer.cpp
  dbms/src/Interpreters/tests/gtest_cycle_aliases.cpp
  dbms/tests/queries/0_stateless/01097_cyclic_defaults.reference
  dbms/tests/queries/0_stateless/01097_cyclic_defaults.sql
Labels: no-docs-needed, pr-bugfix

#9562 DateTime documentation improvements, added DateTime64 doc
  docs/en/data_types/datetime.md
  docs/en/data_types/datetime64.md
  docs/en/interfaces/third-party/client_libraries.md
  docs/en/interfaces/third-party/integrations.md
  docs/ru/data_types/datetime.md
  docs/ru/data_types/datetime64.md
  docs/ru/interfaces/third-party/client_libraries.md
  docs/ru/interfaces/third-party/integrations.md
Labels: comp-documentation, doc-alert, pr-doc-fix

#9613 Doc. adopters.md / LifeStreet info updated
  docs/en/introduction/adopters.md
Labels: comp-documentation, pr-doc-fix

#9625 Packager script: add --clang-tidy option
  docker/packager/packager
Labels: no-docs-needed, pr-build

#9576 Update changelog
  CHANGELOG.md
Labels: pr-documentation

#9323 Preserve timezone in arithmetic operations on DateTime
  dbms/src/Functions/FunctionBinaryArithmetic.h
  dbms/src/Functions/FunctionDateOrDateTimeAddInterval.h
  dbms/src/Functions/castTypeToEither.h
  dbms/tests/queries/0_stateless/00069_date_arithmetic.reference
  dbms/tests/queries/0_stateless/00069_date_arithmetic.sql
  dbms/tests/queries/0_stateless/00921_datetime64_compatibility.reference
  dbms/tests/queries/0_stateless/01085_datetime_arithmetic_preserve_timezone.reference
  dbms/tests/queries/0_stateless/01085_datetime_arithmetic_preserve_timezone.sql
Labels: doc-alert

#9617 Fix distributed ddl alter
  dbms/src/Interpreters/DDLWorker.cpp
  dbms/tests/integration/test_distributed_ddl/configs/config.d/clusters.xml
  dbms/tests/integration/test_distributed_ddl/configs_secure/config.d/clusters.xml
  dbms/tests/integration/test_distributed_ddl/test.py
Labels: can be tested

#9620 Fix round function error code
  dbms/src/Functions/FunctionsRound.h
  dbms/tests/queries/0_stateless/00161_rounding_functions.sql
Labels: no-docs-needed, pr-non-significant

#9628 Doc. Fixed typos deduplicate_blocks_in_dependent_materialized_views
  docs/ru/operations/settings/settings.md
Labels: comp-documentation, pr-doc-fix

#9612 Fix MergeTreeRangeReader
  dbms/src/Storages/MergeTree/MergeTreeRangeReader.cpp
  dbms/src/Storages/MergeTree/MergeTreeRangeReader.h
  dbms/tests/queries/0_stateless/01097_one_more_range_reader_test.reference
  dbms/tests/queries/0_stateless/01097_one_more_range_reader_test.sql
Labels: no-docs-needed, pr-bugfix

#9631 DOCS-57: position, positionCaseInsensitive, positionUTF8, positionCaseInsensitiveUTF8
  docs/en/query_language/functions/string_search_functions.md
  docs/ru/query_language/functions/string_search_functions.md
Labels: pr-doc-fix

#9626 DOCS-549: Updated info about keywords case-sensivity.
  docs/en/query_language/syntax.md
  docs/fa/data_types/datetime64.md
  docs/ja/data_types/datetime64.md
  docs/ru/query_language/syntax.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ja.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/data_types/datetime64.md
Labels: pr-doc-fix

#9610 Fix RIGHT and FULL JOIN with LowCardinality
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/Join.cpp
  dbms/src/Interpreters/MergeJoin.cpp
  dbms/src/Interpreters/join_common.cpp
  dbms/src/Interpreters/join_common.h
  dbms/tests/queries/0_stateless/01049_join_low_card_bug.reference
  dbms/tests/queries/0_stateless/01049_join_low_card_bug.sql
Labels: no-docs-needed

#9635 Wrap pthread functions in ThreadFuzzer
  dbms/src/Common/ThreadFuzzer.cpp
  dbms/src/Common/ThreadFuzzer.h
Labels: pr-build

#9644 Add stubs for ya.make
  base/ya.make
  ya.make
Labels: pr-build

#9649 Don't try to guess linker on non-Linux builds
  cmake/tools.cmake
Labels: pr-build

#9611 Fix some performance tests
  dbms/tests/performance/arithmetic.xml
  dbms/tests/performance/group_array_moving_sum.xml
  dbms/tests/performance/insert_values_with_expressions.xml
  dbms/tests/performance/joins_in_memory.xml
  dbms/tests/performance/parallel_insert.xml
  dbms/tests/performance/synthetic_hardware_benchmark.xml
  dbms/tests/performance/website.xml
  docker/test/performance-comparison/compare.sh
  docker/test/performance-comparison/perf.py
  docker/test/performance-comparison/report.py
Labels: no-docs-needed

#9656 Temporary fix for too large image
  website/images/clickhouse-black.svg
  website/images/index/hardware-efficient.jpg
  website/templates/index/efficient.html
Labels: pr-documentation

#9658 [website] fix some image width
  website/images/clickhouse-black.svg
  website/templates/index/efficient.html
  website/templates/index/hero.html
Labels: pr-documentation

#9639 DOCS-511: Deleted some experimental settings. Removed duplicated description for join_any_take_last_row.
  docs/en/getting_started/example_datasets/star_schema.md
  docs/en/operations/settings/settings.md
  docs/en/operations/table_engines/mergetree.md
  docs/en/query_language/select.md
  docs/ru/getting_started/example_datasets/star_schema.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/select.md
Labels: pr-documentation

#9660 replace temporary image
  website/images/clickhouse-black.svg
  website/images/index/hardware-efficient.jpg
Labels: pr-documentation

#9662 Refactor contacts/community sections on website front page
  website/css/base.css
  website/images/clickhouse-black.svg
  website/images/index/blog.svg
  website/images/index/github.svg
  website/images/index/google-groups.svg
  website/images/index/meetup.svg
  website/images/index/slack.svg
  website/images/index/stack-overflow.svg
  website/images/index/telegram.svg
  website/images/index/twitter.svg
  website/images/index/youtube.svg
  website/index.html
  website/js/base.js
  website/js/index.js
  website/templates/base.html
  website/templates/common_js.html
  website/templates/index/community.html
  website/templates/index/contacts.html
  website/templates/index/nav.html
  website/templates/index/performance.html
  website/templates/index/quickstart.html
  website/templates/index/why.html
Labels: pr-documentation

#9654 Remove global variable with nontrivial ctor/dtor
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexFullText.h
Labels: pr-non-significant

#9653 Add setting for a new format of distributed parts
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/Cluster.cpp
  dbms/src/Interpreters/Cluster.h
  dbms/src/Storages/Distributed/DistributedBlockOutputStream.cpp
  dbms/tests/integration/test_distributed_format/test.py
  dbms/tests/integration/test_distributed_storage_configuration/test.py
Labels: pr-bugfix

#9636 Fix various sum*() functions via remote() usage (incorrect function name)
  dbms/src/AggregateFunctions/AggregateFunctionSum.cpp
  dbms/src/AggregateFunctions/AggregateFunctionSum.h
  dbms/tests/queries/0_stateless/01098_sum.reference
  dbms/tests/queries/0_stateless/01098_sum.sql
Labels: pr-bugfix

#9634 Do not restore previous cursor if send_logs_level is used
  dbms/programs/client/Client.cpp
Labels: can be tested

#9633 add DistributedConnectionFailAtAll, DistributedConnectionFailTry system.events description
  dbms/src/Common/ProfileEvents.cpp
Labels: can be tested, pr-documentation

#9602 Common prelimit counter
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.h
  dbms/src/Processors/LimitTransform.cpp
  dbms/src/Processors/LimitTransform.h
  dbms/src/Storages/System/StorageSystemNumbers.cpp
  dbms/tests/performance/pre_limit_no_sorting.xml
  dbms/tests/queries/0_stateless/01097_pre_limit.reference
  dbms/tests/queries/0_stateless/01097_pre_limit.sql
Labels: no-docs-needed, pr-performance

#9667 Fix flacky test 01017_uniqCombined_memory_usage
  dbms/src/Common/MemoryTracker.h
  dbms/src/Interpreters/SystemLog.h
Labels: no-docs-needed, pr-build

#9668 Try to purge website cache less aggressively
  docs/tools/deploy-to-test.sh
  docs/tools/release.sh
  website/css/base.css
  website/images/clickhouse-black.svg
  website/templates/base.html
Labels: pr-documentation

#9663 Suggest downloading packages via CDN
  docs/en/getting_started/install.md
  docs/en/getting_started/tutorial.md
  website/templates/install/deb.html
  website/templates/install/rpm.html
  website/templates/install/tgz.html
Labels: pr-doc-fix

#9665 set libc++ as stdlib explicitly for clang under darwin
  CMakeLists.txt
  dbms/src/Common/QueryProfiler.cpp
  dbms/src/Common/ThreadFuzzer.cpp
Labels: can be tested

#9675 Changelog for 20.3
  CHANGELOG.md
Labels: pr-documentation

#9652 Fix compatibility in replication
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeMutationEntry.cpp
  dbms/tests/integration/test_version_update_after_mutation/__init__.py
  dbms/tests/integration/test_version_update_after_mutation/test.py
Labels: no-docs-needed, pr-bugfix

#9683 Fix typo
  docs/ru/operations/table_engines/mergetree.md
Labels: pr-documentation

#9688 Doc. insert_deduplicate / deduplicate_blocks_in_dependent_materialized_views EN description
  docs/en/operations/settings/settings.md
Labels: comp-documentation, pr-doc-fix

#9694 Less spam in build.py output
  docs/tools/build.py
  website/images/clickhouse-black.svg
Labels: pr-documentation

#9692 Relax version check for protocol version
  dbms/src/Storages/MergeTree/DataPartsExchange.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
Labels: no-docs-needed, pr-bugfix

#9689 More verbose error text
  dbms/src/Storages/MergeTree/IMergeTreeDataPart.cpp
Labels: do not test, pr-non-significant

#9685 Update script for backporting.
  utils/github/__main__.py
  utils/github/parser.py
  utils/github/query.py
Labels: no-docs-needed, pr-codecleanup

#9650 DOCS-526: ifNotFinite docs. Ternary operator RU translation
  docs/en/query_language/functions/conditional_functions.md
  docs/en/query_language/functions/other_functions.md
  docs/ru/query_language/functions/conditional_functions.md
  docs/ru/query_language/functions/other_functions.md
Labels: pr-documentation

#9709 Doc. ontime.md refresh to сorrespond modern CH (modern create/join)
  docs/en/getting_started/example_datasets/ontime.md
  docs/fa/getting_started/example_datasets/ontime.md
  docs/ru/getting_started/example_datasets/ontime.md
  docs/zh/getting_started/example_datasets/ontime.md
Labels: comp-documentation, pr-doc-fix

#9710 Add links to changelogs from other years.
  docs/en/changelog.md
  docs/en/changelog/2017.md
  docs/en/changelog/2018.md
  docs/en/changelog/2019.md
  docs/en/changelog/index.md
  docs/fa/changelog.md
  docs/fa/changelog/2017.md
  docs/fa/changelog/2018.md
  docs/fa/changelog/2019.md
  docs/fa/changelog/index.md
  docs/ja/changelog.md
  docs/ja/changelog/2017.md
  docs/ja/changelog/2018.md
  docs/ja/changelog/2019.md
  docs/ja/changelog/index.md
  docs/ru/changelog.md
  docs/ru/changelog/2017.md
  docs/ru/changelog/2018.md
  docs/ru/changelog/2019.md
  docs/ru/changelog/index.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ja.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/changelog.md
  docs/zh/changelog/2017.md
  docs/zh/changelog/2018.md
  docs/zh/changelog/2019.md
  docs/zh/changelog/index.md
Labels: pr-doc-fix

#9651 Fix build with dynamic libs
  contrib/CMakeLists.txt
Labels: no-docs-needed, pr-build

#9696 Add high-precision timestamp to trace_log
  dbms/programs/server/clickhouse-server.cpp
  dbms/src/Common/Stopwatch.h
  dbms/src/Common/TraceCollector.cpp
  dbms/src/Interpreters/TraceLog.cpp
  dbms/src/Interpreters/TraceLog.h
Labels: doc-alert

#9731 More grammar fixes in docs/website
  docs/en/data_types/nested_data_structures/aggregatefunction.md
  docs/en/data_types/special_data_types/index.md
  docs/en/data_types/special_data_types/interval.md
  docs/en/data_types/special_data_types/nothing.md
  docs/en/data_types/special_data_types/set.md
  docs/en/development/architecture.md
  docs/en/development/browse_code.md
  docs/en/development/build.md
  docs/en/development/build_cross_osx.md
  docs/en/development/developer_instruction.md
  website/images/clickhouse-black.svg
Labels: pr-documentation

#9729 Arcadia
  CMakeLists.txt
  base/common/CMakeLists.txt
  base/common/argsToConfig.cpp
  base/common/argsToConfig.h
  base/common/config_common.h.in
  base/common/coverage.cpp
  base/common/getFQDNOrHostName.cpp
  base/common/getFQDNOrHostName.h
  base/common/ya.make
  base/daemon/GraphiteWriter.cpp
  base/ya.make
  dbms/programs/copier/Internals.h
  dbms/programs/performance-test/ReportBuilder.cpp
  dbms/programs/server/HTTPHandler.cpp
  dbms/programs/server/MySQLHandler.h
  dbms/programs/server/Server.cpp
  dbms/programs/server/TCPHandler.h
  dbms/src/Client/ConnectionPoolWithFailover.cpp
  dbms/src/Functions/FunctionFQDN.cpp
  dbms/src/Interpreters/ClientInfo.cpp
  dbms/src/Interpreters/DDLWorker.cpp
Labels: no-docs-needed, pr-build

#9698 Faster performance test
  dbms/tests/performance/synthetic_hardware_benchmark.xml
Labels: no-docs-needed, pr-non-significant

#9738 Add a bunch of markdown extensions
  docs/en/operations/performance_test.md
  docs/tools/build.py
  docs/tools/requirements.txt
  website/images/clickhouse-black.svg
Labels: pr-documentation

#9744 Improve docs build logging
  docs/tools/build.py
  docs/tools/github.py
Labels: pr-documentation

#9750 Docs build and grammar fixes
  docs/en/interfaces/cli.md
  docs/en/interfaces/formats.md
  docs/en/interfaces/http.md
  docs/en/interfaces/mysql.md
  docs/en/interfaces/tcp.md
  docs/en/interfaces/third-party/gui.md
  docs/en/interfaces/third-party/proxy.md
  docs/en/introduction/adopters.md
  docs/en/introduction/features_considered_disadvantages.md
  docs/en/introduction/history.md
  docs/en/operations/performance/sampling_query_profiler.md
  docs/en/operations/server_settings/settings.md
  docs/en/operations/settings/constraints_on_settings.md
  docs/en/operations/settings/permissions_for_queries.md
  docs/en/operations/settings/query_complexity.md
  docs/en/operations/settings/settings.md
  docs/en/operations/settings/settings_profiles.md
  docs/en/operations/settings/settings_users.md
  docs/tools/build.py
  docs/tools/github.py
Labels: pr-documentation

#9718 clang-tidy, part 3
  .clang-tidy
  dbms/programs/obfuscator/Obfuscator.cpp
  dbms/programs/odbc-bridge/ODBCBridge.cpp
  dbms/programs/server/Server.cpp
  dbms/src/Access/AccessRights.cpp
  dbms/src/Access/QuotaContext.cpp
  dbms/src/AggregateFunctions/AggregateFunctionSimpleLinearRegression.cpp
  dbms/src/Columns/ColumnAggregateFunction.cpp
  dbms/src/Columns/ColumnVector.cpp
  dbms/src/Common/SymbolIndex.cpp
  dbms/src/Common/ThreadPool.cpp
  dbms/src/Common/tests/auto_array.cpp
  dbms/src/Common/tests/pod_array.cpp
  dbms/src/Core/SettingsCollection.cpp
  dbms/src/Dictionaries/CacheDictionary.cpp
  dbms/src/Dictionaries/ComplexKeyCacheDictionary_createAttributeWithType.cpp
  dbms/src/Dictionaries/HashedDictionary.cpp
  dbms/src/Dictionaries/RedisDictionarySource.cpp
  dbms/src/Formats/ProtobufReader.cpp
  dbms/src/Functions/CRC.cpp
  dbms/src/Functions/GeoUtils.cpp
  dbms/src/Functions/array/arrayUniq.cpp
  dbms/src/Functions/trim.cpp
  dbms/src/IO/parseDateTimeBestEffort.cpp
  dbms/src/Interpreters/Aggregator.cpp
  dbms/src/Interpreters/InterpreterKillQueryQuery.cpp
  dbms/src/Interpreters/SetVariants.cpp
  dbms/src/Interpreters/tests/hash_map_string_2.cpp
  dbms/src/Interpreters/tests/hash_map_string_3.cpp
  dbms/src/Parsers/ASTTablesInSelectQuery.cpp
  dbms/src/Parsers/CommonParsers.cpp
  dbms/src/Processors/ForkProcessor.cpp
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/src/Storages/LiveView/StorageLiveView.cpp
  dbms/src/Storages/MergeTree/KeyCondition.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/MergeTreeSettings.cpp
  dbms/src/Storages/StorageInMemoryMetadata.cpp
Labels: no-docs-needed, pr-build

#9742 Extend splitByString for empty separators
  dbms/src/Functions/FunctionsStringArray.h
  dbms/tests/queries/0_stateless/01100_split_by_string.reference
  dbms/tests/queries/0_stateless/01100_split_by_string.sql
  docs/en/query_language/functions/splitting_merging_functions.md
Labels: doc-alert, pr-improvement

#9723 random seed by default in groupArraySample
  dbms/src/AggregateFunctions/AggregateFunctionGroupArray.cpp
  dbms/tests/queries/0_stateless/01050_group_array_sample.sql
Labels: no-docs-needed, pr-improvement

#9721 Always prefer case insensitive suggestions
  base/common/LineReader.cpp
  base/common/LineReader.h
  dbms/programs/client/Client.cpp
  dbms/programs/client/Suggest.cpp
  dbms/programs/client/Suggest.h
Labels: no-docs-needed

#9726 Fixed race condition in text_log
  base/loggers/OwnSplitChannel.cpp
  base/loggers/OwnSplitChannel.h
Labels: no-docs-needed, pr-improvement

#9752 Minor improvements in docs build and content
  docs/en/operations/performance/sampling_query_profiler.md
  docs/en/operations/performance/sampling_query_profiler_example_result.txt
  docs/en/operations/table_engines/aggregatingmergetree.md
  docs/en/operations/table_engines/collapsingmergetree.md
  docs/en/operations/table_engines/custom_partitioning_key.md
  docs/en/operations/table_engines/dictionary.md
  docs/en/operations/table_engines/distributed.md
  docs/en/operations/table_engines/external_data.md
  docs/fa/operations/performance/sampling_query_profiler_example_result.txt
  docs/ja/operations/performance/sampling_query_profiler_example_result.txt
  docs/ru/operations/performance/sampling_query_profiler_example_result.txt
  docs/tools/build.py
  docs/tools/mkdocs-material-theme/partials/social.html
  docs/tools/test.py
  docs/zh/operations/performance/sampling_query_profiler_example_result.txt
  website/templates/index/community.html
Labels: pr-documentation

#9725 DOCS-495: Syncronized EN and RU versions of string_functions.md
  docs/en/data_types/fixedstring.md
  docs/en/operations/table_engines/mergetree.md
  docs/en/query_language/functions/string_functions.md
  docs/ru/data_types/fixedstring.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/functions/string_functions.md
Labels: pr-doc-fix

#9646 MergeTree full support for S3
  dbms/src/Disks/DiskLocal.cpp
  dbms/src/Disks/DiskLocal.h
  dbms/src/Disks/DiskMemory.cpp
  dbms/src/Disks/DiskMemory.h
  dbms/src/Disks/DiskS3.cpp
  dbms/src/Disks/DiskS3.h
  dbms/src/Disks/IDisk.cpp
  dbms/src/Disks/IDisk.h
  dbms/src/Interpreters/Context.cpp
  dbms/src/Storages/MergeTree/IMergeTreeDataPart.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergeTreeSettings.h
  dbms/src/Storages/MergeTree/checkDataPart.cpp
  dbms/src/Storages/MergeTree/localBackup.cpp
  dbms/src/Storages/MergeTree/localBackup.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/tests/integration/test_merge_tree_s3/configs/config.d/bg_processing_pool_conf.xml
  dbms/tests/integration/test_merge_tree_s3/configs/config.d/storage_conf.xml
  dbms/tests/integration/test_merge_tree_s3/configs/config.d/users.xml
  dbms/tests/integration/test_merge_tree_s3/configs/config.xml
  dbms/tests/integration/test_merge_tree_s3/configs/users.xml
  dbms/tests/integration/test_merge_tree_s3/test.py
  utils/convert-month-partitioned-parts/main.cpp
Labels: doc-alert, pr-improvement

#9734 Fix backquoting in dictionary ddl
  dbms/src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  dbms/tests/integration/test_dictionaries_ddl/test.py
Labels: no-docs-needed, pr-bugfix

#9755 Draft of docs translation helper
  .gitignore
  docs/en/roadmap.md
  docs/fa/getting_started/example_datasets/metrica.md
  docs/fa/getting_started/tutorial.md
  docs/tools/translate.py
  docs/tools/translate/filter.py
  docs/tools/translate/replace-with-translation.sh
  docs/tools/translate/translate.sh
Labels: pr-documentation

#9154 Fix possible permanent "Cannot schedule a task" error
  dbms/src/Common/ThreadPool.cpp
  dbms/src/Common/ThreadPool.h
  dbms/src/DataStreams/ParallelInputsProcessor.h
Labels: no-docs-needed

#9754 Fix mutations huge memory consumption
  dbms/src/Interpreters/PartLog.cpp
  dbms/src/Interpreters/PartLog.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  dbms/src/Storages/ReadInOrderOptimizer.cpp
  dbms/tests/queries/0_stateless/01200_mutations_memory_consumption.reference
  dbms/tests/queries/0_stateless/01200_mutations_memory_consumption.sql
Labels: no-docs-needed, pr-bugfix

#9757 Fix rows before limit
  dbms/programs/server/TCPHandler.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/executeQuery.cpp
  dbms/src/Processors/Executors/TreeExecutorBlockInputStream.cpp
  dbms/src/Processors/Executors/TreeExecutorBlockInputStream.h
  dbms/src/Processors/Formats/IOutputFormat.cpp
  dbms/src/Processors/Formats/IOutputFormat.h
  dbms/src/Processors/LimitTransform.cpp
  dbms/src/Processors/LimitTransform.h
  dbms/src/Processors/QueryPipeline.cpp
  dbms/src/Processors/QueryPipeline.h
  dbms/src/Processors/RowsBeforeLimitCounter.h
  dbms/src/Processors/Sources/SourceFromInputStream.cpp
  dbms/src/Processors/Sources/SourceFromInputStream.h
  dbms/src/Processors/Transforms/PartialSortingTransform.cpp
  dbms/src/Processors/Transforms/PartialSortingTransform.h
Labels: no-docs-needed, pr-bugfix

#9772 Fix broken link
  docs/en/interfaces/third-party/gui.md
Labels: pr-doc-fix

#9780 Fix docs for .tgz install
  website/templates/install/tgz.html
Labels: pr-documentation

#9779 Fix alter drop column for compact parts
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/tests/queries/0_stateless/01055_compact_parts_1.sql
  dbms/tests/queries/0_stateless/01201_drop_column_compact_part_replicated.reference
  dbms/tests/queries/0_stateless/01201_drop_column_compact_part_replicated.sql
Labels: no-docs-needed, pr-bugfix

#9774 Fix 01045 test
  dbms/tests/queries/0_stateless/01045_zookeeper_system_mutations_with_parts_names.sh
Labels: pr-non-significant

#9795 Change PHP client names to <vendor/lib> format
  docs/en/interfaces/third-party/client_libraries.md
  docs/es/interfaces/third-party/client_libraries.md
  docs/fa/interfaces/third-party/client_libraries.md
  docs/ru/interfaces/third-party/client_libraries.md
  docs/zh/interfaces/third-party/client_libraries.md
Labels: pr-documentation

#9794 Add PHP simpod/clickhouse-client
  docs/en/interfaces/third-party/client_libraries.md
  docs/es/interfaces/third-party/client_libraries.md
  docs/fa/interfaces/third-party/client_libraries.md
  docs/ru/interfaces/third-party/client_libraries.md
  docs/zh/interfaces/third-party/client_libraries.md
Labels: pr-documentation

#9796 Remove old `performance-test` tool
  dbms/programs/CMakeLists.txt
  dbms/programs/main.cpp
  dbms/programs/performance-test/CMakeLists.txt
  dbms/programs/performance-test/ConfigPreprocessor.cpp
  dbms/programs/performance-test/ConfigPreprocessor.h
  dbms/programs/performance-test/JSONString.cpp
  dbms/programs/performance-test/JSONString.h
  dbms/programs/performance-test/PerformanceTest.cpp
  dbms/programs/performance-test/PerformanceTest.h
  dbms/programs/performance-test/PerformanceTestInfo.cpp
  dbms/programs/performance-test/PerformanceTestInfo.h
  dbms/programs/performance-test/PerformanceTestSuite.cpp
  dbms/programs/performance-test/ReportBuilder.cpp
  dbms/programs/performance-test/ReportBuilder.h
  dbms/programs/performance-test/StopConditionsSet.cpp
  dbms/programs/performance-test/StopConditionsSet.h
  dbms/programs/performance-test/TestStats.cpp
  dbms/programs/performance-test/TestStats.h
  dbms/programs/performance-test/TestStopConditions.cpp
  dbms/programs/performance-test/TestStopConditions.h
  dbms/programs/performance-test/applySubstitutions.cpp
  dbms/programs/performance-test/applySubstitutions.h
  dbms/programs/performance-test/clickhouse-performance-test.cpp
  dbms/programs/performance-test/executeQuery.cpp
  dbms/programs/performance-test/executeQuery.h
  dbms/tests/clickhouse-test-server
  debian/clickhouse-test.install
  docker/packager/README.md
  docker/test/performance/Dockerfile
  docker/test/performance/run.sh
  docker/test/performance/s3downloader
Labels: no-docs-needed, pr-build

#9606 Non-blocking alter for vanilla merge tree
  dbms/src/Interpreters/InterpreterAlterQuery.cpp
  dbms/src/Storages/AlterCommands.cpp
  dbms/src/Storages/AlterCommands.h
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/MergeTree/AlterAnalysisResult.h
  dbms/src/Storages/MergeTree/DataPartsExchange.cpp
  dbms/src/Storages/MergeTree/IMergeTreeDataPart.cpp
  dbms/src/Storages/MergeTree/IMergeTreeDataPart.h
  dbms/src/Storages/MergeTree/IMergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/IMergedBlockOutputStream.h
  dbms/src/Storages/MergeTree/MergeList.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  dbms/src/Storages/MergeTree/MergeTreeDataPartCompact.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartCompact.h
  dbms/src/Storages/MergeTree/MergeTreeDataPartWide.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataPartWide.h
  dbms/src/Storages/MergeTree/MergeTreeReadPool.cpp
  dbms/src/Storages/MergeTree/MergeTreeReadPool.h
  dbms/src/Storages/MergeTree/MergeTreeReverseSelectProcessor.cpp
  dbms/src/Storages/MergeTree/MergeTreeReverseSelectProcessor.h
  dbms/src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  dbms/src/Storages/MergeTree/MergeTreeSelectProcessor.h
  dbms/src/Storages/MergeTree/MergeTreeSequentialBlockInputStream.cpp
  dbms/src/Storages/MergeTree/MergeTreeSequentialBlockInputStream.h
  dbms/src/Storages/MergeTree/MergedBlockOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  dbms/src/Storages/MergeTree/MergedColumnOnlyOutputStream.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  dbms/src/Storages/MutationCommands.cpp
  dbms/src/Storages/MutationCommands.h
  dbms/src/Storages/PartitionCommands.cpp
  dbms/src/Storages/PartitionCommands.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageMergeTree.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.h
  dbms/src/Storages/System/StorageSystemParts.cpp
  dbms/src/Storages/TableStructureLockHolder.h
  dbms/tests/integration/test_merge_tree_s3/test.py
  dbms/tests/queries/0_stateless/00446_clear_column_in_partition_concurrent_zookeeper.sh
  dbms/tests/queries/0_stateless/00446_clear_column_in_partition_zookeeper.sql
  dbms/tests/queries/0_stateless/00944_clear_index_in_partition.sh
  dbms/tests/queries/0_stateless/00991_system_parts_race_condition.sh
Labels: pr-improvement

#9761 Remove unused (obsolete) code from ThreadPool
  dbms/src/Common/ThreadPool.cpp
  dbms/src/Common/ThreadPool.h
Labels: pr-non-significant

#9805 [docs] extra logging and minor refactoring
  docs/tools/build.py
  docs/tools/website.py
Labels: pr-documentation

#9801 Doc. Update `create table visits` with a new syntax.
  docs/en/getting_started/example_datasets/metrica.md
  docs/es/getting_started/example_datasets/metrica.md
  docs/fa/getting_started/example_datasets/metrica.md
  docs/ru/getting_started/example_datasets/metrica.md
Labels: comp-documentation, pr-documentation

#9807 make_links.sh run
  docs/es/changelog/2018.md
  docs/es/changelog/2019.md
  docs/es/changelog/index.md
  docs/es/interfaces/formats.md
  docs/es/query_language/agg_functions/reference.md
  docs/tools/translate/filter.py
Labels: pr-documentation

#9809 Update "builder" docker image
  docker/builder/Dockerfile
  docker/packager/binary/Dockerfile
  docker/packager/deb/Dockerfile
Labels: no-docs-needed, pr-build

#9817 Update documentation for dictionary regarding ON CLUSTER clause for C…
  docs/en/query_language/create.md
  docs/es/query_language/create.md
  docs/ru/query_language/create.md
  docs/zh/query_language/create.md
Labels: pr-doc-fix

#9818 Trying to fix flaky tests
  dbms/tests/queries/0_stateless/00806_alter_update.reference
  dbms/tests/queries/0_stateless/00806_alter_update.sql
  dbms/tests/queries/0_stateless/00814_replicated_minimalistic_part_header_zookeeper.sql
  dbms/tests/queries/0_stateless/00993_system_parts_race_condition_drop_zookeeper.sh
Labels: no-docs-needed, pr-non-significant

#9824 Third party check
  docs/en/interfaces/third-party/integrations.md
  docs/es/interfaces/third-party/integrations.md
  docs/fa/interfaces/third-party/integrations.md
  docs/ru/interfaces/third-party/integrations.md
  docs/zh/interfaces/third-party/integrations.md
Labels: pr-documentation

#9828 Fix firstSignificantSubdomain formatting
  docs/en/query_language/functions/url_functions.md
Labels: pr-doc-fix

#9760 DiskS3 hardlinks optimal implementation
  dbms/src/Disks/DiskS3.cpp
  dbms/src/Storages/MergeTree/IMergeTreeDataPart.cpp
  dbms/tests/integration/test_merge_tree_s3/test.py
Labels: can be tested

#9820 Play docs
  docs/en/getting_started/example_datasets/index.md
  docs/en/getting_started/playground.md
  docs/fa/getting_started/example_datasets/index.md
  docs/ja/getting_started/example_datasets/index.md
  docs/ru/getting_started/example_datasets/index.md
  docs/ru/getting_started/playground.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ja.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/getting_started/example_datasets/index.md
Labels: pr-documentation

#9825 Remove some garbage from code of system.tables
  dbms/src/Storages/System/StorageSystemTables.cpp
Labels: no-docs-needed, pr-non-significant
