Repository ClickHouse/ClickHouse, pull requests merged in 2020-06, with the labels that each got.

#11323 Improve performance of client interactive mode
  src/Common/StringUtils/StringUtils.h
  src/Common/UTF8Helpers.cpp
Labels: pr-performance

#11266 Addition to #11184
  docker/test/stateful/Dockerfile
  docker/test/stateful_with_coverage/run.sh
  docker/test/stateless/Dockerfile
  docker/test/stateless_with_coverage/run.sh
  docker/test/stress/Dockerfile
  tests/config/log_queries.xml
  tests/config/metric_log.xml
Labels: pr-not-for-changelog

#11260 Add _timestamp_ms virtual columns to Kafka engine
  src/Storages/Kafka/KafkaBlockInputStream.cpp
  src/Storages/Kafka/StorageKafka.cpp
  tests/integration/test_storage_kafka/test.py
Labels: altinity, doc-alert, pr-feature

#11283 Virtual columns for Kafka headers
  src/Storages/Kafka/KafkaBlockInputStream.cpp
  src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  src/Storages/Kafka/StorageKafka.cpp
  tests/integration/test_storage_kafka/test.py
Labels: altinity, doc-alert, pr-feature

#11301 More types in ASOF JOIN
  src/Columns/ColumnDecimal.cpp
  src/Columns/ColumnDecimal.h
  src/Columns/ColumnVector.cpp
  src/Columns/ColumnVector.h
  src/Interpreters/HashJoin.h
  src/Interpreters/RowRefs.cpp
  src/Interpreters/RowRefs.h
  tests/queries/0_stateless/01139_asof_join_types.reference
  tests/queries/0_stateless/01139_asof_join_types.sql
Labels: doc-alert, pr-improvement

#11307 Remove "system_tables_lazy_load" option
  programs/server/config.xml
  src/Interpreters/SystemLog.cpp
  tests/integration/test_part_log_table/test.py
  tests/integration/test_system_tables_lazy_load/configs/config_lazy.xml
  tests/integration/test_system_tables_lazy_load/test.py
Labels: pr-not-for-changelog

#11338 Fix unit tests under MSan
  base/common/phdr_cache.cpp
  src/Common/tests/gtest_rw_lock.cpp
Labels: bugfest, pr-not-for-changelog

#11242 DOCS-631: Settings temporary_files_codec, join_on_disk_max_files_to_merge
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#11341 Better log messages in ConfigReloader
  src/Common/Config/ConfigReloader.cpp
Labels: pr-improvement, usability

#11337 Fix quantile arguments
  src/AggregateFunctions/AggregateFunctionQuantile.cpp
  src/AggregateFunctions/AggregateFunctionQuantile.h
  tests/queries/0_stateless/01292_quantile_array_bug.reference
  tests/queries/0_stateless/01292_quantile_array_bug.sql
Labels: no-docs-needed, pr-bugfix

#11342 Suppress output of cancelled queries in clickhouse-client #9473
  programs/client/Client.cpp
Labels: pr-improvement, usability

#11340 Fix crash in select from StorageJoin
  src/Storages/StorageJoin.cpp
  tests/queries/0_stateless/01140_select_from_storage_join_fix.reference
  tests/queries/0_stateless/01140_select_from_storage_join_fix.sql
Labels: pr-bugfix

#11343 Fix sync_async test (remove timeout)
  tests/integration/test_insert_into_distributed_sync_async/test.py
Labels: pr-build

#11330 More parallel MV processing.
  src/DataStreams/PushingToViewsBlockOutputStream.cpp
  tests/performance/parallel_mv.xml
Labels: no-docs-needed, pr-bugfix

#11344 DOCS-573: system.data_type_families
  docs/en/operations/system-tables.md
  docs/en/sql-reference/data-types/index.md
  docs/en/sql-reference/syntax.md
  docs/ru/operations/system-tables.md
  docs/ru/sql-reference/data-types/index.md
  docs/ru/sql-reference/syntax.md
Labels: pr-doc-fix

#11351 docs: fixed interval type link
  docs/ru/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation

#11345 Fix unit test with UBSan
  src/Compression/tests/gtest_compressionCodec.cpp
Labels: bugfest, pr-build

#11335 Stop merges before taking exclusive lock :(
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: no-docs-needed, pr-bugfix, v20.1-no-backport

#11353 This word "collapse" in Chinese means "折叠”
  docs/zh/engines/table-engines/mergetree-family/versionedcollapsingmergetree.md
Labels: pr-documentation

#11349 Fix flacky test with TTL
  tests/queries/0_stateless/01280_ttl_where_group_by.sh
  tests/queries/0_stateless/01280_ttl_where_group_by_negative.reference
  tests/queries/0_stateless/01280_ttl_where_group_by_negative.sql
Labels: bugfest, no-docs-needed, pr-not-for-changelog

#11176 DOCS-611: background_buffer_flush_schedule_pool_size setting
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#11237 Added function fuzzBits
  docs/en/sql-reference/functions/random-functions.md
  src/Functions/fuzzBits.cpp
  src/Functions/registerFunctionsRandom.cpp
  src/Functions/ya.make
  tests/performance/fuzz_bits.xml
  tests/queries/0_stateless/01284_fuzz_bits.reference
  tests/queries/0_stateless/01284_fuzz_bits.sql
Labels: can be tested, doc-alert, pr-feature

#11339 Remove some streams.
  src/Columns/ColumnAggregateFunction.cpp
  src/DataStreams/AddingConstColumnBlockInputStream.h
  src/DataStreams/AggregatingBlockInputStream.cpp
  src/DataStreams/AggregatingBlockInputStream.h
  src/DataStreams/BlocksSource.h
  src/DataStreams/CollapsingFinalBlockInputStream.cpp
  src/DataStreams/CollapsingFinalBlockInputStream.h
  src/DataStreams/ConcatBlockInputStream.h
  src/DataStreams/ConvertColumnLowCardinalityToFullBlockInputStream.h
  src/DataStreams/CubeBlockInputStream.cpp
  src/DataStreams/CubeBlockInputStream.h
  src/DataStreams/DistinctBlockInputStream.cpp
  src/DataStreams/DistinctBlockInputStream.h
  src/DataStreams/DistinctSortedBlockInputStream.h
  src/DataStreams/FillingBlockInputStream.cpp
  src/DataStreams/FillingBlockInputStream.h
  src/DataStreams/FilterColumnsBlockInputStream.cpp
  src/DataStreams/FilterColumnsBlockInputStream.h
  src/DataStreams/FinishSortingBlockInputStream.cpp
  src/DataStreams/FinishSortingBlockInputStream.h
  src/DataStreams/LimitByBlockInputStream.cpp
  src/DataStreams/LimitByBlockInputStream.h
  src/DataStreams/MergeSortingBlockInputStream.cpp
  src/DataStreams/MergeSortingBlockInputStream.h
  src/DataStreams/MergingAggregatedBlockInputStream.cpp
  src/DataStreams/MergingAggregatedBlockInputStream.h
  src/DataStreams/MergingAggregatedMemoryEfficientBlockInputStream.cpp
  src/DataStreams/MergingAggregatedMemoryEfficientBlockInputStream.h
  src/DataStreams/ParallelAggregatingBlockInputStream.cpp
  src/DataStreams/ParallelAggregatingBlockInputStream.h
  src/DataStreams/PartialSortingBlockInputStream.cpp
  src/DataStreams/PartialSortingBlockInputStream.h
  src/DataStreams/ReverseBlockInputStream.cpp
  src/DataStreams/ReverseBlockInputStream.h
  src/DataStreams/RollupBlockInputStream.cpp
  src/DataStreams/RollupBlockInputStream.h
  src/DataStreams/TotalsHavingBlockInputStream.cpp
  src/DataStreams/TotalsHavingBlockInputStream.h
  src/DataStreams/narrowBlockInputStreams.cpp
  src/DataStreams/narrowBlockInputStreams.h
  src/DataStreams/processConstants.cpp
  src/DataStreams/processConstants.h
  src/DataStreams/tests/CMakeLists.txt
  src/DataStreams/tests/collapsing_sorted_stream.cpp
  src/DataStreams/tests/finish_sorting_stream.cpp
  src/DataStreams/ya.make
  src/Interpreters/Aggregator.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/MergeJoin.cpp
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Processors/Transforms/MergingAggregatedMemoryEfficientTransform.h
  src/Storages/LiveView/StorageLiveView.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/StorageMerge.cpp
Labels: no-docs-needed, pr-not-for-changelog

#11348 Fix potential segfault when using Lazy database.
  src/Databases/IDatabase.h
  src/Interpreters/ActionLocksManager.cpp
  src/Interpreters/AsynchronousMetrics.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Server/ReplicasStatusHandler.cpp
  src/Storages/StorageMerge.cpp
  src/Storages/System/StorageSystemColumns.cpp
  src/Storages/System/StorageSystemGraphite.cpp
  src/Storages/System/StorageSystemMutations.cpp
  src/Storages/System/StorageSystemPartsBase.cpp
  src/Storages/System/StorageSystemReplicas.cpp
  src/Storages/System/StorageSystemReplicationQueue.cpp
  src/TableFunctions/TableFunctionMerge.cpp
  tests/queries/0_stateless/01294_lazy_database_concurrent_recreate_reattach_and_show_tables.reference
  tests/queries/0_stateless/01294_lazy_database_concurrent_recreate_reattach_and_show_tables.sh
Labels: bugfest, no-docs-needed, pr-bugfix

#11346 OPTIMIZE FINAL should force merge even if concurrent merges are performed (experimental, try 2)
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  tests/queries/0_stateless/01293_optimize_final_force.reference
  tests/queries/0_stateless/01293_optimize_final_force.sh
Labels: bugfest, doc-alert, pr-improvement

#11354 Remove structure lock on parts send
  src/Storages/MergeTree/DataPartsExchange.cpp
Labels: no-docs-needed, pr-bugfix, v20.1-no-backport

#11363 Update formats.md
  docs/ru/interfaces/formats.md
Labels: pr-documentation

#11358 DOCS-620: Background pools settings
  docs/en/engines/table-engines/integrations/kafka.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/engines/table-engines/mergetree-family/replication.md
  docs/en/engines/table-engines/special/distributed.md
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/settings/settings.md
  docs/ru/engines/table-engines/integrations/kafka.md
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
  docs/ru/engines/table-engines/mergetree-family/replication.md
  docs/ru/engines/table-engines/special/distributed.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#11350 Fix \G in clickhouse-client multiline mode
  base/common/LineReader.cpp
  base/common/LineReader.h
  base/common/ReadlineLineReader.cpp
  base/common/ReadlineLineReader.h
  base/common/ReplxxLineReader.cpp
  base/common/ReplxxLineReader.h
  programs/client/Client.cpp
  tests/queries/0_stateless/01293_client_interactive_vertical_multiline.reference
  tests/queries/0_stateless/01293_client_interactive_vertical_multiline.sh
  tests/queries/0_stateless/01293_client_interactive_vertical_singleline.reference
  tests/queries/0_stateless/01293_client_interactive_vertical_singleline.sh
  utils/zookeeper-cli/zookeeper-cli.cpp
Labels: pr-bugfix, usability

#11324 Add setting "output_format_pretty_max_value_width".
  src/Common/UTF8Helpers.cpp
  src/Common/UTF8Helpers.h
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.h
  src/Processors/Formats/Impl/PrettyCompactBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettySpaceBlockOutputFormat.cpp
  tests/queries/0_stateless/00098_k_union_all.reference
  tests/queries/0_stateless/00305_http_and_readonly.reference
  tests/queries/0_stateless/00405_pretty_formats.reference
  tests/queries/0_stateless/00476_pretty_formats_and_widths.reference
  tests/queries/0_stateless/00569_parse_date_time_best_effort.reference
  tests/queries/0_stateless/00813_parse_date_time_best_effort_more.reference
  tests/queries/0_stateless/01293_pretty_max_value_width.reference
  tests/queries/0_stateless/01293_pretty_max_value_width.sql
Labels: pr-improvement, usability

#11355 Fix several flaky integration tests
  src/Storages/Distributed/DirectoryMonitor.cpp
  tests/integration/test_insert_distributed_load_balancing/test.py
  tests/integration/test_ttl_move/test.py
Labels: no-docs-needed, pr-build

#11389 Fix logical error in joinGet()
  src/Interpreters/HashJoin.cpp
  tests/queries/0_stateless/01141_join_get_negative.reference
  tests/queries/0_stateless/01141_join_get_negative.sql
Labels: pr-bugfix

#11366 Fix sorting transform bug
  src/Processors/Transforms/SortingTransform.cpp
  tests/queries/0_stateless/01293_external_sorting_limit_bug.reference
  tests/queries/0_stateless/01293_external_sorting_limit_bug.sql
Labels: no-docs-needed, pr-bugfix

#11259 More consistent metadata for secondary indices
  src/Databases/DatabaseOrdinary.cpp
  src/Interpreters/BloomFilter.cpp
  src/Interpreters/BloomFilter.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterCreateQuery.h
  src/Interpreters/MutationsInterpreter.cpp
  src/Storages/AlterCommands.cpp
  src/Storages/AlterCommands.h
  src/Storages/IStorage.cpp
  src/Storages/IStorage.h
  src/Storages/IndicesDescription.cpp
  src/Storages/IndicesDescription.h
  src/Storages/MergeTree/IMergeTreeDataPartWriter.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.h
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.h
  src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
  src/Storages/MergeTree/MergeTreeIndexMinMax.h
  src/Storages/MergeTree/MergeTreeIndexSet.cpp
  src/Storages/MergeTree/MergeTreeIndexSet.h
  src/Storages/MergeTree/MergeTreeIndices.cpp
  src/Storages/MergeTree/MergeTreeIndices.h
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
  src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.cpp
  src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageInMemoryMetadata.cpp
  src/Storages/StorageInMemoryMetadata.h
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageNull.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/extractKeyExpressionList.cpp
  src/Storages/extractKeyExpressionList.h
  src/Storages/ya.make
  tests/queries/0_stateless/01249_bad_arguments_for_bloom_filter.reference
  tests/queries/0_stateless/01292_optimize_data_skip_idx_order_by_expr.reference
  tests/queries/0_stateless/01292_optimize_data_skip_idx_order_by_expr.sql
Labels: pr-not-for-changelog

#10047 Remove arithmetic operations from aggregation functions
  src/Core/Settings.h
  src/Interpreters/ArithmeticOperationsInAgrFuncOptimize.cpp
  src/Interpreters/ArithmeticOperationsInAgrFuncOptimize.h
  src/Interpreters/SyntaxAnalyzer.cpp
  src/Interpreters/ya.make
  tests/performance/arithmetic_operations_in_aggr_func.xml
  tests/queries/0_stateless/01271_optimize_arithmetic_operations_in_aggr_func.reference
  tests/queries/0_stateless/01271_optimize_arithmetic_operations_in_aggr_func.sql
Labels: can be tested, pr-performance

#11386 Refactor RemoteBlockInputStream.
  src/DataStreams/RemoteBlockInputStream.cpp
  src/DataStreams/RemoteBlockInputStream.h
  src/DataStreams/RemoteQueryExecutor.cpp
  src/DataStreams/RemoteQueryExecutor.h
  src/DataStreams/ya.make
Labels: no-docs-needed, pr-not-for-changelog

#11402 Update build.md for recent Ubuntu releases
  docs/en/development/build.md
Labels: pr-documentation

#11403 Fixed geohashesInBox argument range
  src/Functions/GeoHash.cpp
  src/Functions/geohashesInBox.cpp
  tests/queries/0_stateless/00972_geohashesInBox.reference
  tests/queries/0_stateless/00972_geohashesInBox.sql
Labels: bugfest, can be tested, pr-bugfix

#11416 Added test from #11413
  tests/queries/0_stateless/01295_aggregation_bug_11413.reference
  tests/queries/0_stateless/01295_aggregation_bug_11413.sql
Labels: pr-not-for-changelog

#11420 Fix MSan failure in MergeTree background task
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: bugfest, pr-bugfix

#11414 Fix JOIN over LC and Nullable in key
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/HashJoin.cpp
  src/Interpreters/join_common.cpp
  src/Interpreters/join_common.h
  tests/queries/0_stateless/01142_join_lc_and_nullable_in_key.reference
  tests/queries/0_stateless/01142_join_lc_and_nullable_in_key.sql
Labels: pr-bugfix

#11419 Return lost comments and default values
  src/Storages/MergeTree/IMergeTreeDataPart.h
Labels: pr-not-for-changelog

#11429 Leave only unit_tests_dbms in deb build
  programs/CMakeLists.txt
Labels: pr-build

#11381 Fuzzing-related changes.
  src/Common/assert_cast.h
  src/Parsers/ASTColumnDeclaration.cpp
  src/Parsers/ASTExplainQuery.h
  src/Storages/MergeTree/KeyCondition.cpp
Labels: no-docs-needed, pr-not-for-changelog

#11385 Extended BackgroundProcessingPool::startTask() to control task execution concurrency
  src/Storages/MergeTree/BackgroundProcessingPool.cpp
  src/Storages/MergeTree/BackgroundProcessingPool.h
  src/Storages/MergeTree/MergeTreeBlockOutputStream.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: no-docs-needed, pr-not-for-changelog

#11431 Fix segfault with wrong codecs arguments
  src/Compression/CompressionCodecDelta.cpp
  src/Compression/CompressionCodecLZ4.cpp
  src/Compression/CompressionCodecZSTD.cpp
  tests/queries/0_stateless/01296_codecs_bad_arguments.reference
  tests/queries/0_stateless/01296_codecs_bad_arguments.sql
Labels: no-docs-needed, pr-bugfix

#11445 Make clear how to restore a backup
  docs/en/operations/backup.md
Labels: pr-documentation

#11442 Add test for different ttl versions
  tests/integration/test_ttl_replicated/test.py
Labels: no-docs-needed, pr-not-for-changelog

#11447 Temporarily disable gtest_compressionCodec
  src/Compression/tests/gtest_compressionCodec.cpp
Labels: bugfest, pr-not-for-changelog

#11438 IColumn::getDataType()
  src/Columns/ColumnAggregateFunction.h
  src/Columns/ColumnArray.h
  src/Columns/ColumnConst.h
  src/Columns/ColumnDecimal.cpp
  src/Columns/ColumnDecimal.h
  src/Columns/ColumnFixedString.h
  src/Columns/ColumnFunction.h
  src/Columns/ColumnLowCardinality.h
  src/Columns/ColumnNothing.h
  src/Columns/ColumnNullable.h
  src/Columns/ColumnSet.h
  src/Columns/ColumnString.h
  src/Columns/ColumnTuple.h
  src/Columns/ColumnVector.cpp
  src/Columns/ColumnVector.h
  src/Columns/IColumn.h
  src/Columns/IColumnUnique.h
  src/Interpreters/RowRefs.cpp
Labels: no-docs-needed, pr-not-for-changelog

#11448 Try fix return compressed size for codecs.
  src/Compression/CompressionCodecDoubleDelta.cpp
  src/Compression/CompressionCodecGorilla.cpp
Labels: pr-bugfix

#11437 DOCS-625: system.query_thread_log
  docs/en/operations/system-tables.md
  docs/ru/operations/system-tables.md
Labels: pr-doc-fix

#11415 ON CLUSTER support for SYSTEM {FLUSH DISTRIBUTED,STOP/START DISTRIBUTED SENDS}
  src/Parsers/ParserSystemQuery.cpp
  tests/queries/0_stateless/01294_system_distributed_on_cluster.reference
  tests/queries/0_stateless/01294_system_distributed_on_cluster.sql
Labels: doc-alert, pr-improvement

#11446 Improve error messages
  src/AggregateFunctions/parseAggregateFunctionParameters.cpp
  src/Common/Exception.h
  src/DataTypes/DataTypeAggregateFunction.cpp
  src/DataTypes/DataTypeCustomSimpleAggregateFunction.cpp
  src/Databases/DatabaseOnDisk.cpp
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  src/Server/TCPHandler.cpp
Labels: pr-not-for-changelog

#11454 Fix trivial count with join
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/SyntaxAnalyzer.cpp
  src/Interpreters/SyntaxAnalyzer.h
  tests/queries/0_stateless/01143_trivial_count_with_join.reference
  tests/queries/0_stateless/01143_trivial_count_with_join.sql
Labels: pr-bugfix

#11450 Trying to increase ccache size
  docker/packager/binary/build.sh
  docker/packager/packager
Labels: pr-build

#11356 Create a netloc function for extracting network location
  src/Functions/URL/FunctionsURL.h
  src/Functions/URL/netloc.cpp
  src/Functions/URL/netloc.h
  src/Functions/URL/registerFunctionsURL.cpp
  src/Functions/ya.make
  tests/queries/0_stateless/00398_url_functions.reference
  tests/queries/0_stateless/00398_url_functions.sql
Labels: doc-alert, pr-feature

#11049 [docs] links inside dictionaries documentation
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-hierarchical.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-sources.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-structure.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts.md
  docs/ru/sql-reference/index.md
Labels: pr-documentation

#11226 Merge Perf events metrics #9545
  docker/test/performance-comparison/config/users.d/perf-comparison-tweaks-users.xml
  docker/test/performance-comparison/entrypoint.sh
  docker/test/performance-comparison/perf.py
  src/Common/ProfileEvents.cpp
  src/Common/ThreadProfileEvents.cpp
  src/Common/ThreadProfileEvents.h
  src/Common/ThreadStatus.cpp
  src/Common/ThreadStatus.h
  src/Core/Settings.h
  src/Interpreters/ThreadStatusExt.cpp
Labels: pr-not-for-changelog

#11449 Added a check for incorrect settings
  docker/test/performance-comparison/config/config.d/perf-comparison-tweaks-config.xml
  programs/server/Server.cpp
  programs/server/config.xml
Labels: pr-improvement, usability

#11443 Rename setting
  src/Core/Settings.h
  src/Interpreters/SyntaxAnalyzer.cpp
  tests/queries/0_stateless/01271_optimize_arithmetic_operations_in_aggr_func.sql
Labels: pr-not-for-changelog

#11477 generateRandom: check that all arguments are literals
  src/Interpreters/Context.cpp
  src/TableFunctions/TableFunctionGenerateRandom.cpp
  src/TableFunctions/TableFunctionValues.cpp
Labels: pr-not-for-changelog

#11480 Refactoring: remove TableWithColumnNames
  src/Interpreters/CollectJoinOnKeysVisitor.h
  src/Interpreters/DatabaseAndTableWithAlias.h
  src/Interpreters/ExtractExpressionInfoVisitor.cpp
  src/Interpreters/ExtractExpressionInfoVisitor.h
  src/Interpreters/IdentifierSemantic.cpp
  src/Interpreters/IdentifierSemantic.h
  src/Interpreters/PredicateExpressionsOptimizer.cpp
  src/Interpreters/PredicateExpressionsOptimizer.h
  src/Interpreters/PredicateRewriteVisitor.cpp
  src/Interpreters/PredicateRewriteVisitor.h
  src/Interpreters/SyntaxAnalyzer.cpp
  src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  src/Interpreters/TranslateQualifiedNamesVisitor.h
  src/Interpreters/getTableExpressions.cpp
  src/Interpreters/getTableExpressions.h
  src/Storages/StorageView.cpp
Labels: pr-not-for-changelog

#11455 Fix Pipeline stuck for INSERT SELECT FINAL
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Processors/ConcatProcessor.cpp
  src/Processors/ConcatProcessor.h
  tests/queries/0_stateless/01296_pipeline_stuck.reference
  tests/queries/0_stateless/01296_pipeline_stuck.sql
Labels: no-docs-needed, pr-bugfix

#11421 Fix pointInPolygon with nan
  src/Functions/PolygonUtils.h
  tests/queries/0_stateless/00500_point_in_polygon_nan.reference
  tests/queries/0_stateless/00500_point_in_polygon_nan.sql
Labels: can be tested, pr-bugfix

#9113 [WIP] Optimization of GROUP BY with respect to table sorting key.
  src/AggregateFunctions/IAggregateFunction.h
  src/Common/Arena.h
  src/Core/Settings.h
  src/Core/SortCursor.h
  src/Core/SortDescription.h
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Processors/IProcessor.h
  src/Processors/Transforms/AggregatingInOrderTransform.cpp
  src/Processors/Transforms/AggregatingInOrderTransform.h
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Processors/Transforms/AggregatingTransform.h
  src/Processors/Transforms/FinishSortingTransform.cpp
  src/Processors/Transforms/TotalsHavingTransform.h
  src/Processors/ya.make
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/ReadInOrderOptimizer.cpp
  src/Storages/ReadInOrderOptimizer.h
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMerge.cpp
  tests/performance/aggregation_in_order.xml
  tests/queries/0_stateless/01291_aggregation_in_order.reference
  tests/queries/0_stateless/01291_aggregation_in_order.sql
  tests/queries/1_stateful/00004_top_counters.reference
  tests/queries/1_stateful/00004_top_counters.sql
  tests/queries/1_stateful/00047_bar.reference
  tests/queries/1_stateful/00047_bar.sql
  tests/queries/1_stateful/00049_max_string_if.reference
  tests/queries/1_stateful/00049_max_string_if.sql
  tests/queries/1_stateful/00050_min_max.reference
  tests/queries/1_stateful/00050_min_max.sql
  tests/queries/1_stateful/00051_min_max_array.reference
  tests/queries/1_stateful/00051_min_max_array.sql
  tests/queries/1_stateful/00087_where_0.sql
  tests/queries/1_stateful/00149_quantiles_timing_distributed.reference
  tests/queries/1_stateful/00149_quantiles_timing_distributed.sql
  tests/queries/1_stateful/00150_quantiles_timing_precision.reference
  tests/queries/1_stateful/00150_quantiles_timing_precision.sql
Labels: doc-alert, pr-performance

#11485 Remove some LOGICAL_ERROR to fix the tests
  src/Functions/bitBoolMaskAnd.cpp
  src/Functions/bitBoolMaskOr.cpp
  src/Functions/bitSwapLastTwo.cpp
  src/Functions/bitWrapperFunc.cpp
Labels: pr-not-for-changelog

#11394 Add system.distribution_queue table
  src/Storages/Distributed/DirectoryMonitor.cpp
  src/Storages/Distributed/DirectoryMonitor.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
  src/Storages/System/StorageSystemDistributionQueue.cpp
  src/Storages/System/StorageSystemDistributionQueue.h
  src/Storages/System/attachSystemTables.cpp
  src/Storages/ya.make
  tests/queries/0_stateless/01293_system_distribution_queue.reference
  tests/queries/0_stateless/01293_system_distribution_queue.sql
Labels: doc-alert, pr-improvement

#11483 Merging #11471
  src/Compression/CompressionCodecDoubleDelta.cpp
  src/Compression/ICompressionCodec.cpp
  src/Compression/tests/gtest_compressionCodec.cpp
Labels: pr-not-for-changelog

#11433 DOCS-271: Updated the MergeTree() ORDER BY description
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  src/Storages/MergeTree/registerStorageMergeTree.cpp
Labels: pr-doc-fix

#11486 Speed up build by removing old example programs
  src/DataStreams/tests/CMakeLists.txt
  src/DataStreams/tests/expression_stream.cpp
  src/DataStreams/tests/filter_stream.cpp
  src/DataStreams/tests/union_stream2.cpp
  src/Interpreters/tests/CMakeLists.txt
  src/Interpreters/tests/aggregate.cpp
  src/Interpreters/tests/create_query.cpp
  src/Interpreters/tests/expression.cpp
  src/Interpreters/tests/select_query.cpp
  src/Processors/tests/CMakeLists.txt
  src/Processors/tests/processors_test.cpp
  src/Processors/tests/processors_test_aggregation.cpp
  src/Processors/tests/processors_test_chain.cpp
  src/Processors/tests/processors_test_expand_pipeline.cpp
  src/Processors/tests/processors_test_merge.cpp
  src/Processors/tests/processors_test_merge_sorting_transform.cpp
  src/Processors/tests/processors_test_merging_sorted_transform.cpp
  src/Storages/tests/CMakeLists.txt
  src/Storages/tests/storage_log.cpp
  src/Storages/tests/system_numbers.cpp
  src/Storages/tests/test_alter_distributed.sql
  src/Storages/tests/test_alter_merge.sql
  src/Storages/tests/test_alter_merge_tree.sql
  tests/queries/0_stateless/01297_alter_distributed.reference
  tests/queries/0_stateless/01297_alter_distributed.sql
  tests/queries/0_stateless/01298_alter_merge.reference
  tests/queries/0_stateless/01298_alter_merge.sql
  tests/queries/0_stateless/01299_alter_merge_tree.reference
  tests/queries/0_stateless/01299_alter_merge_tree.sql
Labels: pr-build

#11388 Better settings for Kafka
  src/Core/Settings.h
  src/Storages/Kafka/KafkaBlockInputStream.cpp
  src/Storages/Kafka/KafkaBlockInputStream.h
  src/Storages/Kafka/KafkaBlockOutputStream.cpp
  src/Storages/Kafka/KafkaBlockOutputStream.h
  src/Storages/Kafka/KafkaSettings.h
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/StorageKafka.h
  tests/integration/test_storage_kafka/test.py
Labels: doc-alert, pr-improvement

#11174 Added tests for improved S3 URL parsing
  src/IO/tests/gtest_s3_uri.cpp
  src/Storages/StorageS3.cpp
Labels: no-docs-needed, pr-not-for-changelog

#11487 Use DNSResolver to check if user is allowed to connect from an address
  src/Access/AllowedClientHosts.cpp
  src/Access/AllowedClientHosts.h
  src/Common/DNSResolver.cpp
  src/Common/DNSResolver.h
  src/Interpreters/InterpreterSystemQuery.cpp
  tests/integration/test_host_ip_change/test.py
Labels: pr-improvement

#11493 Merging #11453 (save history in clickhouse-client after every query)
  base/common/CMakeLists.txt
  base/common/ReplxxLineReader.cpp
  base/common/ReplxxLineReader.h
  base/common/errnoToString.cpp
  base/common/errnoToString.h
  base/common/ya.make
  programs/server/Server.cpp
  src/Common/Exception.cpp
  src/Common/Exception.h
  src/Common/PipeFDs.cpp
  src/Common/QueryProfiler.cpp
  src/Common/ShellCommand.cpp
  src/Common/StatusFile.cpp
  src/Interpreters/ThreadStatusExt.cpp
  tests/queries/0_stateless/01300_client_save_history_when_terminated.reference
  tests/queries/0_stateless/01300_client_save_history_when_terminated.sh
Labels: pr-not-for-changelog

#11453 Save history on every query in clickhouse-client
  base/common/ReplxxLineReader.cpp
  base/common/ReplxxLineReader.h
Labels: can be tested, pr-improvement

#11422 WIP: Add syntax highlighting
  base/common/CMakeLists.txt
  base/common/ReplxxLineReader.h
  programs/client/Client.cpp
  programs/client/Suggest.h
  src/Common/LineReader.cpp
  src/Common/LineReader.h
  src/Common/ReadlineLineReader.cpp
  src/Common/ReadlineLineReader.h
  src/Common/ReplxxLineReader.cpp
  src/Common/ReplxxLineReader.h
  utils/zookeeper-cli/zookeeper-cli.cpp
Labels: can be tested, doc-alert, pr-feature

#11497 Autocompletion support for users in client
  programs/client/Suggest.cpp
Labels: pr-not-for-changelog

#11464 update zh-docs-functions
  docs/en/sql-reference/functions/comparison-functions.md
  docs/zh/sql-reference/data-types/lowcardinality.md
  docs/zh/sql-reference/functions/arithmetic-functions.md
  docs/zh/sql-reference/functions/comparison-functions.md
  docs/zh/sql-reference/functions/index.md
  docs/zh/sql-reference/functions/logical-functions.md
  docs/zh/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation

#11444 add SYSTEM STOP/START FETCHES and SYNC REPLICA description
  docs/en/sql-reference/statements/system.md
  docs/ru/sql-reference/statements/system.md
Labels: pr-documentation

#11509 Merging #8377
  tests/integration/test_ttl_move/test.py
Labels: pr-not-for-changelog

#11496 Fix memory leak when exception is thrown in the middle of aggregation with -State functions
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  tests/queries/0_stateless/01301_aggregate_state_exception_memory_leak.reference
  tests/queries/0_stateless/01301_aggregate_state_exception_memory_leak.sh
  tests/queries/0_stateless/01302_aggregate_state_exception_memory_leak.reference
  tests/queries/0_stateless/01302_aggregate_state_exception_memory_leak.sh
Labels: no-docs-needed, pr-bugfix

#11525 Fix missed includes
  base/common/strong_typedef.h
Labels: can be tested, pr-build

#11523 Fixing test and benign race condition during table drop
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/01079_parallel_alter_modify_zookeeper.sh
Labels: bugfest, pr-bugfix

#11537 Better exception message when cannot parse columns declaration list
  src/TableFunctions/parseColumnsListForTableFunction.cpp
  tests/queries/0_stateless/01087_table_function_generate.sql
Labels: pr-improvement

#11390 Refactor CMake build files
  CMakeLists.txt
  base/common/CMakeLists.txt
  base/mysqlxx/CMakeLists.txt
  cmake/Modules/Findmetrohash.cmake
  cmake/find/boost.cmake
  cmake/find/hyperscan.cmake
  cmake/find/lz4.cmake
  cmake/find/parquet.cmake
  cmake/find/xxhash.cmake
  cmake/lib_name.cmake
  cmake/print_include_directories.cmake
  contrib/CMakeLists.txt
  contrib/arrow-cmake/CMakeLists.txt
  contrib/avro-cmake/CMakeLists.txt
  contrib/boost-cmake/CMakeLists.txt
  contrib/cppkafka-cmake/CMakeLists.txt
  contrib/hyperscan-cmake/CMakeLists.txt
  contrib/hyperscan-cmake/common/hs_version.h
  contrib/hyperscan-cmake/x86_64/config.h
  contrib/libdivide/CMakeLists.txt
  contrib/libhdfs3-cmake/CMakeLists.txt
  contrib/libmetrohash/CMakeLists.txt
  contrib/librdkafka-cmake/CMakeLists.txt
  contrib/lz4-cmake/CMakeLists.txt
  docker/packager/packager
  programs/benchmark/CMakeLists.txt
  programs/client/CMakeLists.txt
  programs/compressor/CMakeLists.txt
  programs/extract-from-config/CMakeLists.txt
  programs/format/CMakeLists.txt
  programs/local/CMakeLists.txt
  programs/obfuscator/CMakeLists.txt
  src/CMakeLists.txt
  src/Common/Config/CMakeLists.txt
  src/Common/StringUtils/CMakeLists.txt
  src/Common/ZooKeeper/CMakeLists.txt
  src/Common/tests/CMakeLists.txt
  src/Functions/CMakeLists.txt
  src/Functions/URL/CMakeLists.txt
  src/Functions/config_functions.h.in
  src/Interpreters/tests/CMakeLists.txt
  src/Parsers/CMakeLists.txt
  src/Storages/System/StorageSystemBuildOptions.generated.cpp.in
  src/Storages/tests/CMakeLists.txt
  utils/check-marks/CMakeLists.txt
  utils/compressor/CMakeLists.txt
  utils/convert-month-partitioned-parts/CMakeLists.txt
  utils/test-data-generator/CMakeLists.txt
  utils/wikistat-loader/CMakeLists.txt
  utils/zookeeper-adjust-block-numbers-to-parts/CMakeLists.txt
  utils/zookeeper-create-entry-to-download-part/CMakeLists.txt
  utils/zookeeper-dump-tree/CMakeLists.txt
  utils/zookeeper-remove-by-list/CMakeLists.txt
Labels: no-docs-needed, pr-build, submodule changed

#11544 Update index.md
  docs/zh/index.md
Labels: pr-documentation

#11545 Fixed function compatibility matrix for 'like'
  docs/en/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation

#11527 Fix async INSERT into Distributed for prefer_localhost_replica=0 and w/o internal_replication
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
  tests/integration/test_insert_distributed_load_balancing/configs/remote_servers.xml
  tests/integration/test_insert_distributed_load_balancing/test.py
Labels: pr-bugfix, pr-no-backport

#11548 Better 01079_parallel_alter tests
  tests/queries/0_stateless/01079_parallel_alter_add_drop_column_zookeeper.sh
  tests/queries/0_stateless/01079_parallel_alter_detach_table_zookeeper.sh
Labels: bugfest, no-docs-needed, pr-not-for-changelog

#11552 backport #9884 to 20.3
  docs/en/operations/table_engines/kafka.md
  src/Common/ErrorCodes.cpp
  src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  tests/integration/helpers/cluster.py
  tests/integration/test_storage_kafka/test.py
Labels: pr-not-for-changelog

#11559 Update clickhouse-copier.md
  docs/zh/operations/utilities/clickhouse-copier.md
Labels: pr-documentation

#11553 fix punctuation in configuration-files
  docs/en/operations/configuration-files.md
Labels: pr-documentation

#11495 Adding support for PREWHERE in live view tables.
  src/Storages/LiveView/StorageBlocks.h
  tests/queries/0_stateless/00973_live_view_select_prewhere.reference
  tests/queries/0_stateless/00973_live_view_select_prewhere.sql
Labels: altinity, can be tested, pr-improvement

#11440 Add remote source
  src/DataStreams/RemoteQueryExecutor.h
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Processors/QueryPipeline.cpp
  src/Processors/RowsBeforeLimitCounter.h
  src/Processors/Sources/DelayedSource.cpp
  src/Processors/Sources/DelayedSource.h
  src/Processors/Sources/RemoteSource.cpp
  src/Processors/Sources/RemoteSource.h
  src/Processors/Sources/SourceWithProgress.cpp
  src/Processors/Sources/SourceWithProgress.h
  src/Processors/ya.make
Labels: no-docs-needed, pr-not-for-changelog

#11562 Revert "Addition to #11184"
  docker/test/stateful/Dockerfile
  docker/test/stateful_with_coverage/run.sh
  docker/test/stateless/Dockerfile
  docker/test/stateless_with_coverage/run.sh
  docker/test/stress/Dockerfile
  tests/config/log_queries.xml
  tests/config/metric_log.xml
Labels: pr-no-backport, pr-not-for-changelog

#11557 Fix spelling and improve translation in configuration-files(zh)
  docs/zh/operations/configuration-files.md
Labels: pr-documentation

#11543 Fix 01293_system_distribution_queue flackiness
  tests/queries/0_stateless/01281_group_by_limit_memory_tracking.sh
  tests/queries/0_stateless/01293_system_distribution_queue.sql
Labels: pr-not-for-changelog

#11540 Fix direct IO with PREWHERE
  src/IO/ReadBufferAIO.cpp
  src/IO/ReadBufferAIO.h
  tests/queries/0_stateless/01304_direct_io.reference
  tests/queries/0_stateless/01304_direct_io.sh
Labels: pr-bugfix

#11550 Fix ClickHouse init process failed in docker if any script is added into docker-entrypoint-initdb.d
  docker/server/entrypoint.sh
Labels: can be tested, pr-bugfix

#11515 More stable perf tests
  docker/test/performance-comparison/compare.sh
  docker/test/performance-comparison/report.py
  tests/performance/agg_functions_min_max_any.xml
  tests/performance/arithmetic_operations_in_aggr_func.xml
  tests/performance/array_element.xml
  tests/performance/base64_hits.xml
  tests/performance/basename.xml
  tests/performance/bit_operations_fixed_string.xml
  tests/performance/bit_operations_fixed_string_numbers.xml
  tests/performance/codecs_int_insert.xml
  tests/performance/cpu_synthetic.xml
  tests/performance/generate_table_function.xml
  tests/performance/int_parsing.xml
  tests/performance/number_formatting_formats.xml
  tests/performance/point_in_polygon.xml
  tests/performance/set_hits.xml
  tests/performance/set_index.xml
  tests/performance/sum_map.xml
  tests/performance/website.xml
Labels: pr-not-for-changelog

#11589 Fix trivial error in log message #11399
  programs/server/Server.cpp
Labels: pr-bugfix

#11582 Better integration test test_always_fetch_merged.
  tests/integration/test_always_fetch_merged/test.py
Labels: no-docs-needed, pr-not-for-changelog

#11580 Fix prewhere in subquery
  src/Interpreters/ExpressionAnalyzer.cpp
  tests/queries/0_stateless/01305_array_join_prewhere_in_subquery.reference
  tests/queries/0_stateless/01305_array_join_prewhere_in_subquery.sql
Labels: no-docs-needed, pr-bugfix

#11579 Fix segfault in SHOW CREATE TABLE
  src/Databases/DatabaseMemory.cpp
  src/Interpreters/InterpreterShowCreateQuery.cpp
  tests/queries/0_stateless/01098_temporary_and_external_tables.sh
Labels: pr-bugfix, v20.3-no-backport

#11578 Fix query_id of http queries
  src/Interpreters/Context.cpp
  tests/queries/0_stateless/01194_http_query_id.reference
  tests/queries/0_stateless/01194_http_query_id.sh
Labels: pr-bugfix, v20.1-no-backport

#11467 Add "SHOW CLUSTER(s)" queries support
  src/Interpreters/InterpreterShowTablesQuery.cpp
  src/Parsers/ASTShowTablesQuery.cpp
  src/Parsers/ASTShowTablesQuery.h
  src/Parsers/ParserShowTablesQuery.cpp
  src/Parsers/ParserShowTablesQuery.h
  tests/queries/0_stateless/01293_show_clusters.reference
  tests/queries/0_stateless/01293_show_clusters.sql
Labels: can be tested, doc-alert, pr-feature

#11588 Add system.asynchronous_metric_log
  docker/test/performance-comparison/compare.sh
  docs/en/operations/system-tables.md
  programs/server/config.xml
  src/Interpreters/AsynchronousMetricLog.cpp
  src/Interpreters/AsynchronousMetricLog.h
  src/Interpreters/AsynchronousMetrics.cpp
  src/Interpreters/AsynchronousMetrics.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  src/Interpreters/ya.make
Labels: doc-alert, pr-feature

#11586 Update remaining links to old repo without CDN
  docker/client/Dockerfile
  docker/server/Dockerfile
  docker/test/Dockerfile
  docs/en/getting-started/install.md
  docs/es/getting-started/install.md
  docs/fa/getting-started/install.md
  docs/fr/getting-started/install.md
  docs/ja/getting-started/install.md
  docs/ru/getting-started/install.md
  docs/tr/getting-started/install.md
  docs/zh/getting-started/install.md
Labels: pr-documentation

#11592 Fix race conditions in CREATE/DROP of different replicas of ReplicatedMergeTree
  src/Databases/DatabaseOnDisk.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/01305_replica_create_drop_zookeeper.reference
  tests/queries/0_stateless/01305_replica_create_drop_zookeeper.sh
Labels: bugfest, pr-bugfix, pr-no-backport

#11601 Fix corner case (only) for exit code overflow
  programs/client/Client.cpp
Labels: pr-bugfix

#11604 Update entrypoint.sh
  docker/server/entrypoint.sh
Labels: pr-bugfix

#11600 Avoid logging error as a warning
  docs/tools/test.py
Labels: pr-documentation

#11612 Fix JSON in clickhouse-benchmark; add test.
  programs/benchmark/Benchmark.cpp
  tests/queries/0_stateless/01306_benchmark_json.reference
  tests/queries/0_stateless/01306_benchmark_json.sh
Labels: pr-not-for-changelog

#11614 Fixup for recent replica CREATE/DROP changes.
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: bugfest, pr-not-for-changelog

#11623 update zh-docs-aggregate-functions
  docs/en/sql-reference/aggregate-functions/parametric-functions.md
  docs/en/sql-reference/aggregate-functions/reference.md
  docs/en/sql-reference/data-types/aggregatefunction.md
  docs/zh/sql-reference/aggregate-functions/combinators.md
  docs/zh/sql-reference/aggregate-functions/index.md
  docs/zh/sql-reference/aggregate-functions/parametric-functions.md
  docs/zh/sql-reference/aggregate-functions/reference.md
Labels: pr-documentation

#11554 extractAllGroupsHorizontal and extractAllGroupsVertical
  src/DataTypes/tests/gtest_data_type_get_common_type.cpp
  src/Functions/extractAllGroups.cpp
  src/Functions/extractAllGroups.h
  src/Functions/extractAllGroupsHorizontal.cpp
  src/Functions/extractAllGroupsVertical.cpp
  src/Functions/extractGroups.cpp
  src/Functions/registerFunctionsStringRegexp.cpp
  src/Functions/ya.make
  tests/performance/extract.xml
  tests/queries/0_stateless/01246_extractAllGroups.sql
  tests/queries/0_stateless/01246_extractAllGroupsHorizontal.reference
  tests/queries/0_stateless/01246_extractAllGroupsHorizontal.sql
  tests/queries/0_stateless/01246_extractAllGroupsVertical.reference
  tests/queries/0_stateless/01246_extractAllGroupsVertical.sql
  tests/queries/0_stateless/01275_extract_groups_check.sql
Labels: altinity, doc-alert, pr-feature

#11613 Prepend slash for path while querying system.zookeeper
  src/Storages/System/StorageSystemZooKeeper.cpp
Labels: pr-not-for-changelog

#11633 Avoid errors due to implicit int<->bool conversions when using ZK API
  programs/copier/ClusterCopier.cpp
  programs/copier/ZooKeeperStaff.h
  src/Common/ZooKeeper/IKeeper.cpp
  src/Common/ZooKeeper/IKeeper.h
  src/Common/ZooKeeper/Increment.h
  src/Common/ZooKeeper/KeeperException.h
  src/Common/ZooKeeper/LeaderElection.h
  src/Common/ZooKeeper/Lock.cpp
  src/Common/ZooKeeper/TestKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/ZooKeeper/tests/gtest_zkutil_test_multi_exception.cpp
  src/Common/ZooKeeper/tests/zkutil_expiration_test.cpp
  src/Common/ZooKeeper/tests/zkutil_test_commands_new_lib.cpp
  src/Common/ZooKeeper/tests/zookeeper_impl.cpp
  src/Interpreters/DDLWorker.cpp
  src/Storages/MergeTree/EphemeralLockInZooKeeper.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeBlockOutputStream.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/System/StorageSystemZooKeeper.cpp
  src/Storages/tests/get_current_inserts_in_replicated.cpp
  src/Storages/tests/transform_part_zk_nodes.cpp
  utils/zookeeper-dump-tree/main.cpp
Labels: pr-not-for-changelog

#11637 Remove leader election, step 1: update and check version of "log" node
  src/Common/ZooKeeper/LeaderElection.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/01307_multiple_leaders.reference
  tests/queries/0_stateless/01307_multiple_leaders.sh
Labels: pr-not-for-changelog

#11620 Update lazy.md
  docs/zh/engines/database-engines/lazy.md
Labels: pr-documentation

#11619 Update clickhouse-benchmark.md
  docs/zh/operations/utilities/clickhouse-benchmark.md
Labels: pr-documentation

#11635 Group by in order fix
  src/Processors/Transforms/AggregatingInOrderTransform.cpp
Labels: pr-not-for-changelog

#11632 Minor modifications after merging #11554
  src/Functions/extractAllGroups.h
Labels: pr-not-for-changelog

#11608 Fix nullable prewhere type
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
  tests/queries/0_stateless/01305_nullable-prewhere_bug.reference
  tests/queries/0_stateless/01305_nullable-prewhere_bug.sql
Labels: pr-bugfix

#11644 Remove trivial count query optimization if row-level security is set
  programs/server/users.d/access_management.xml
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Storages/MergeTree/ReplicatedMergeTreeBlockOutputStream.cpp
  tests/queries/0_stateless/01308_row_policy_and_trivial_count_query.reference
  tests/queries/0_stateless/01308_row_policy_and_trivial_count_query.sql
Labels: pr-bugfix

#11649 Allow case-insensitive regexps; added a test
  src/Common/OptimizedRegularExpression.cpp
  tests/queries/0_stateless/01312_case_insensitive_regexp.reference
  tests/queries/0_stateless/01312_case_insensitive_regexp.sql
Labels: pr-bugfix

#11652 Allow to drop table if there is no metadata in ZooKeeper; allow to rename.
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-improvement

#11651 Skip empty URL parameters
  src/Core/SettingsCollectionImpl.h
  src/Interpreters/Context.cpp
  src/Server/HTTPHandler.cpp
  tests/queries/0_stateless/01312_skip_empty_params.reference
  tests/queries/0_stateless/01312_skip_empty_params.sh
Labels: pr-improvement

#11660 remove unused imports from HTTPHandlerFactory
  src/Server/HTTPHandlerFactory.cpp
Labels: can be tested, pr-build

#11657 Don't use debug info from ELF file if it doesn't correspond to the running binary.
  src/Common/Elf.cpp
  src/Common/Elf.h
  src/Common/SymbolIndex.cpp
Labels: pr-improvement

#11653 Return NULL or zero when value is not parsed completely in parseDateTimeBestEffortOr* functions
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/00569_parse_date_time_best_effort.reference
  tests/queries/0_stateless/01313_parse_date_time_best_effort_null_zero.reference
  tests/queries/0_stateless/01313_parse_date_time_best_effort_null_zero.sql
Labels: pr-improvement

#11593 Return non-Nullable results from COUNT(DISTINCT)
  src/AggregateFunctions/AggregateFunctionCount.h
  src/AggregateFunctions/AggregateFunctionFactory.cpp
  src/AggregateFunctions/AggregateFunctionNull.cpp
  src/AggregateFunctions/AggregateFunctionNull.h
  src/AggregateFunctions/AggregateFunctionUniq.h
  src/AggregateFunctions/AggregateFunctionWindowFunnel.h
  src/AggregateFunctions/IAggregateFunction.h
  tests/queries/0_stateless/01315_count_distinct_return_not_nullable.reference
  tests/queries/0_stateless/01315_count_distinct_return_not_nullable.sql
Labels: pr-backward-incompatible

#11655 Added column "position" to system.columns and "column_position" to system.parts_columns
  src/Storages/System/StorageSystemColumns.cpp
  src/Storages/System/StorageSystemPartsColumns.cpp
  tests/queries/0_stateless/00981_no_virtual_columns.reference
  tests/queries/0_stateless/00981_no_virtual_columns.sql
  tests/queries/0_stateless/01314_position_in_system_columns.reference
  tests/queries/0_stateless/01314_position_in_system_columns.sql
Labels: pr-improvement

#11663 Fix timeout in sql_fuzzy test
  tests/queries/0_stateless/00746_sql_fuzzy.sh
Labels: bugfest, pr-not-for-changelog

#11664 Fix syntax hilite in CREATE USER query
  src/Parsers/ASTCreateUserQuery.cpp
  tests/queries/0_stateless/01316_create_user_syntax_hilite.reference
  tests/queries/0_stateless/01316_create_user_syntax_hilite.sh
Labels: pr-bugfix

#11665 Clear password from command line
  programs/benchmark/Benchmark.cpp
  programs/client/Client.cpp
  src/Common/clearPasswordFromCommandLine.cpp
  src/Common/clearPasswordFromCommandLine.h
  src/Common/ya.make
  tests/queries/0_stateless/01317_no_password_in_command_line.reference
  tests/queries/0_stateless/01317_no_password_in_command_line.sh
Labels: pr-improvement

#11647 Allow comparison of numbers with constant string in IN and VALUES
  src/DataTypes/DataTypeDateTime64.h
  src/DataTypes/DataTypeUUID.cpp
  src/DataTypes/DataTypeUUID.h
  src/Functions/FunctionsComparison.h
  src/Interpreters/convertFieldToType.cpp
  tests/queries/0_stateless/00578_merge_table_shadow_virtual_column.sql
  tests/queries/0_stateless/00700_decimal_compare.reference
  tests/queries/0_stateless/00700_decimal_compare.sql
  tests/queries/0_stateless/01268_DateTime64_in_WHERE.sql
  tests/queries/0_stateless/01277_convert_field_to_type_logical_error.sql
  tests/queries/0_stateless/01310_enum_comparison.reference
  tests/queries/0_stateless/01310_enum_comparison.sql
  tests/queries/0_stateless/01311_comparison_with_constant_string.reference
  tests/queries/0_stateless/01311_comparison_with_constant_string.sql
Labels: pr-improvement

#11057 Null data mods
  src/Core/Settings.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Parsers/ASTColumnDeclaration.cpp
  src/Parsers/ASTColumnDeclaration.h
  src/Parsers/ParserCreateQuery.cpp
  src/Parsers/ParserCreateQuery.h
  tests/queries/0_stateless/01269_create_with_null.reference
  tests/queries/0_stateless/01269_create_with_null.sql
Labels: can be tested, doc-alert, pr-feature

#10067 Remove duplicate ORDER BY and DISTINCT from subqueries
  src/Core/Settings.h
  src/Interpreters/DuplicateDistinctVisitor.h
  src/Interpreters/DuplicateOrderByVisitor.h
  src/Interpreters/SyntaxAnalyzer.cpp
  tests/performance/duplicate_order_by_and_distinct.xml
  tests/queries/0_stateless/01305_duplicate_order_by_and_distinct.reference
  tests/queries/0_stateless/01305_duplicate_order_by_and_distinct.sql
  tests/queries/0_stateless/01306_disable_duplicate_order_by_and_distinct_optimize_for_distributed_table.reference
  tests/queries/0_stateless/01306_disable_duplicate_order_by_and_distinct_optimize_for_distributed_table.sql
Labels: can be tested, pr-performance

#11513 Change push down logic in VIEW
  src/Interpreters/CrossToInnerJoinVisitor.cpp
  src/Interpreters/IdentifierSemantic.cpp
  src/Interpreters/IdentifierSemantic.h
  src/Interpreters/InterpreterExplainQuery.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Interpreters/JoinToSubqueryTransformVisitor.cpp
  src/Interpreters/JoinedTables.h
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageView.cpp
  src/Storages/StorageView.h
  tests/queries/0_stateless/01076_predicate_optimizer_with_view.reference
  tests/queries/0_stateless/01144_join_rewrite_with_ambiguous_column_and_view.reference
  tests/queries/0_stateless/01144_join_rewrite_with_ambiguous_column_and_view.sql
Labels: pr-improvement

#11679 Update syntax.md
  docs/zh/sql-reference/syntax.md
Labels: pr-documentation

#11680 add mysql2ch in docs
  docs/en/interfaces/third-party/integrations.md
  docs/es/interfaces/third-party/integrations.md
  docs/fa/interfaces/third-party/integrations.md
  docs/fr/interfaces/third-party/integrations.md
  docs/ja/interfaces/third-party/integrations.md
  docs/ru/interfaces/third-party/integrations.md
  docs/tr/interfaces/third-party/integrations.md
  docs/zh/interfaces/third-party/integrations.md
Labels: pr-documentation

#11638 Fix bloom filters for String (data skipping indices)
  src/Interpreters/BloomFilterHash.h
  tests/queries/0_stateless/00945_bloom_filter_index.sql
  tests/queries/0_stateless/01307_bloom_filter_index_string_multi_granulas.reference
  tests/queries/0_stateless/01307_bloom_filter_index_string_multi_granulas.sql
Labels: pr-bugfix

#11628 ISSUES-7572 support config default http handler
  src/Server/HTTPHandlerFactory.cpp
  src/Server/HTTPHandlerFactory.h
  src/Server/PrometheusRequestHandler.cpp
  src/Server/ReplicasStatusHandler.cpp
  tests/integration/test_http_handlers_config/test.py
  tests/integration/test_http_handlers_config/test_defaults_handlers/config.xml
  tests/integration/test_http_handlers_config/test_prometheus_handler/config.xml
  tests/integration/test_http_handlers_config/test_replicas_status_handler/config.xml
Labels: pr-improvement

#11650 Allow using groupArrayArray and groupUniqArrayArray as SimpleAggregateFunction
  docs/en/sql-reference/data-types/simpleaggregatefunction.md
  src/DataTypes/DataTypeCustomSimpleAggregateFunction.cpp
  tests/queries/0_stateless/00915_simple_aggregate_function.reference
  tests/queries/0_stateless/00915_simple_aggregate_function.sql
Labels: can be tested, pr-improvement

#11674 Update index.md
  docs/zh/sql-reference/index.md
Labels: pr-documentation

#11659 merge translates into "合并" better
  docs/zh/engines/table-engines/mergetree-family/index.md
Labels: pr-documentation

#11656 update some errors for document of Chinese version
  docs/zh/engines/table-engines/mergetree-family/versionedcollapsingmergetree.md
Labels: pr-documentation

#11654 Update versionedcollapsingmergetree.md
  docs/zh/engines/table-engines/mergetree-family/versionedcollapsingmergetree.md
Labels: pr-documentation
