Repository ClickHouse/ClickHouse, pull requests merged in 2020-04, with the labels that each got.

#9410 Fixed `DeleteOnDestroy` logic in `ATTACH PART` and added few tests
  dbms/src/Storages/MergeTree/IMergeTreeDataPart.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/tests/integration/test_multiple_disks/test.py
Labels: altinity, no-docs-needed, st-waiting-for-fix

#9963 Fix typo in Table Engines -> Introduction
  docs/en/operations/table_engines/index.md
  docs/es/operations/table_engines/index.md
  docs/fr/operations/table_engines/index.md
  docs/zh/operations/table_engines/index.md
Labels: pr-documentation

#9971 Fix num threads in distributed
  dbms/src/Processors/Pipe.cpp
  dbms/src/Processors/Pipe.h
  dbms/src/Processors/QueryPipeline.cpp
  dbms/src/Processors/QueryPipeline.h
  dbms/tests/performance/distributed_aggregation.xml
Labels: no-docs-needed, pr-bugfix

#9955 Fix DDLGuard lock order in RESTART REPLICAS
  dbms/src/Interpreters/DatabaseCatalog.cpp
  dbms/src/Interpreters/InterpreterRenameQuery.cpp
  dbms/src/Interpreters/InterpreterRenameQuery.h
  dbms/src/Interpreters/InterpreterSystemQuery.cpp
  dbms/src/Interpreters/InterpreterSystemQuery.h
  dbms/tests/queries/0_stateless/01108_restart_replicas_rename_deadlock.reference
  dbms/tests/queries/0_stateless/01108_restart_replicas_rename_deadlock.sh
Labels: pr-bugfix

#9944 Fixing 00964_live_view_watch_events_heartbeat.py test to avoid race condition
  dbms/tests/queries/0_stateless/00964_live_view_watch_events_heartbeat.py
Labels: altinity, can be tested

#9923 [RFC] Distributed over distributed (v2)
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/tests/queries/0_stateless/01223_dist_on_dist.reference
  dbms/tests/queries/0_stateless/01223_dist_on_dist.sql
  dbms/tests/queries/bugs/01224_dist_on_dist_global_in.reference
  dbms/tests/queries/bugs/01224_dist_on_dist_global_in.sql
  docs/en/operations/table_engines/distributed.md
  docs/ru/operations/table_engines/distributed.md
Labels: doc-alert, pr-feature

#9727 Improve jemalloc contrib
  CMakeLists.txt
  base/common/config_common.h.in
  cmake/Modules/FindJeMalloc.cmake
  cmake/find/jemalloc.cmake
  contrib/CMakeLists.txt
  contrib/jemalloc-cmake/CMakeLists.txt
  dbms/CMakeLists.txt
  dbms/programs/client/Client.cpp
  dbms/src/Interpreters/evaluateConstantExpression.h
  dbms/src/Storages/System/StorageSystemBuildOptions.generated.cpp.in
Labels: pr-build

#9982 [docs] alternative approach to pdf generation
  docs/tools/build.py
  docs/tools/test.py
  docs/tools/translate/filter.py
  docs/tools/util.py
  docs/tools/website.py
  website/css/docs.css
Labels: pr-documentation

#9762 Added a test that checks that read from MergeTree with single thread is performed in order
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/tests/queries/0_stateless/01201_read_single_thread_in_order.reference
  dbms/tests/queries/0_stateless/01201_read_single_thread_in_order.sql
Labels: no-docs-needed, pr-build

#8161 Add docs for predefined_http
  docs/en/interfaces/http.md
Labels: comp-documentation, pr-documentation

#9995 Incorporate the last illustration into the front page
  website/images/flags/es.svg
  website/images/index/linearly-scalable.svg
  website/images/index/shield.svg
  website/index.html
  website/templates/index/community.html
  website/templates/index/efficient.html
  website/templates/index/features.html
  website/templates/index/quickstart.html
  website/templates/index/reliable.html
  website/templates/index/rich.html
  website/templates/index/scalable.html
  website/templates/index/success.html
  website/templates/index/use.html
  website/templates/index/why.html
Labels: pr-documentation

#10014 Fix build on master
  dbms/Functions/FunctionsStringSearch.cpp
Labels: pr-build

#9994 DOCS-19: parseDateTimeBestEffort
  docs/en/query_language/functions/type_conversion_functions.md
  docs/ru/query_language/functions/type_conversion_functions.md
Labels: pr-documentation

#10029 Inflating CROSS JOIN
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/Join.cpp
  src/Interpreters/Join.h
  tests/queries/0_stateless/01109_inflating_cross_join.reference
  tests/queries/0_stateless/01109_inflating_cross_join.sql
Labels: no-docs-needed, pr-improvement

#10040 DOCS-499: avgWeighted
  docs/en/sql_reference/aggregate_functions/reference.md
  docs/ru/query_language/agg_functions/reference.md
Labels: pr-documentation

#10013 DOCS-448: system.settings
  docs/en/operations/system_tables.md
  docs/ru/operations/system_tables.md
Labels: pr-doc-fix

#10054 Fix deadlock on failed database attach at start with materialized view
  src/Interpreters/DatabaseCatalog.cpp
Labels: no-docs-needed, pr-bugfix

#10069 Add ruby library clickhouse-activerecord to list in docs
  docs/en/interfaces/third-party/client_libraries.md
  docs/es/interfaces/third-party/client_libraries.md
  docs/fa/interfaces/third-party/client_libraries.md
  docs/fr/interfaces/third-party/client_libraries.md
  docs/ja/interfaces/third-party/client_libraries.md
  docs/ru/interfaces/third-party/client_libraries.md
  docs/zh/interfaces/third-party/client_libraries.md
Labels: pr-documentation

#9643 Add cross-compile build for FreeBSD
  CMakeLists.txt
  base/common/time.h
  cmake/arch.cmake
  cmake/find/execinfo.cmake
  cmake/find/libgsasl.cmake
  cmake/find/rdkafka.cmake
  cmake/find/ssl.cmake
  cmake/find/unwind.cmake
  cmake/find/zlib.cmake
  cmake/freebsd/default_libs.cmake
  cmake/freebsd/toolchain-x86_64.cmake
  cmake/target.cmake
  docker/packager/binary/Dockerfile
  docker/packager/binary/build.sh
  docker/packager/packager
  src/CMakeLists.txt
  src/Common/QueryProfiler.cpp
  src/Common/ThreadFuzzer.cpp
  src/Common/setThreadName.cpp
  src/IO/AIO.cpp
  src/IO/AIO.h
Labels: pr-build

#9948 Alter rename column
  src/Access/AccessFlags.h
  src/Access/AccessType.h
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Interpreters/RenameColumnVisitor.cpp
  src/Interpreters/RenameColumnVisitor.h
  src/Parsers/ASTAlterQuery.cpp
  src/Parsers/ASTAlterQuery.h
  src/Parsers/ParserAlterQuery.cpp
  src/Parsers/ParserAlterQuery.h
  src/Storages/AlterCommands.cpp
  src/Storages/AlterCommands.h
  src/Storages/ColumnsDescription.cpp
  src/Storages/ColumnsDescription.h
  src/Storages/MergeTree/IMergeTreeReader.cpp
  src/Storages/MergeTree/IMergeTreeReader.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  src/Storages/MergeTree/MergeTreeReaderWide.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  src/Storages/MutationCommands.cpp
  src/Storages/MutationCommands.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/01213_alter_rename_column.reference
  tests/queries/0_stateless/01213_alter_rename_column.sql
  tests/queries/0_stateless/01213_alter_rename_column_zookeeper.reference
  tests/queries/0_stateless/01213_alter_rename_column_zookeeper.sh
  tests/queries/0_stateless/01213_alter_rename_compact_part.reference
  tests/queries/0_stateless/01213_alter_rename_compact_part.sql
  tests/queries/0_stateless/01213_alter_rename_nested.reference
  tests/queries/0_stateless/01213_alter_rename_nested.sql
  tests/queries/0_stateless/01213_alter_rename_primary_key_zookeeper.reference
  tests/queries/0_stateless/01213_alter_rename_primary_key_zookeeper.sql
  tests/queries/0_stateless/01213_alter_rename_with_default_zookeeper.reference
  tests/queries/0_stateless/01213_alter_rename_with_default_zookeeper.sql
  tests/queries/0_stateless/01213_alter_table_rename_nested.reference
  tests/queries/0_stateless/01213_alter_table_rename_nested.sql
Labels: doc-alert, pr-feature, pr-improvement

#10036 docs: tell the cutIPv6() is cutting bytes not bits
  docs/en/sql_reference/functions/ip_address_functions.md
Labels: doc-alert, pr-documentation

#10090 Docs fixes/improvements
  docs/en/commercial/index.md
  docs/en/operations/system_tables.md
  docs/ru/changelog/index.md
  docs/tools/convert_toc.py
  docs/zh/changelog/index.md
  website/js/base.js
  website/js/docs.js
  website/robots.txt
  website/sitemap.xml
  website/sitemap_static.xml
  website/templates/common_js.html
Labels: pr-documentation

#10086 Add check with enabled polymorphic parts.
  docker/test/stateless/Dockerfile
  tests/config/polymorphic_parts.xml
Labels: pr-build

#9989 Fix behaviour of globs in filepath with leading zeros
  docs/ru/operations/table_engines/hdfs.md
  docs/ru/query_language/table_functions/file.md
  docs/ru/query_language/table_functions/hdfs.md
  docs/zh/operations/table_engines/hdfs.md
  docs/zh/query_language/table_functions/file.md
  docs/zh/query_language/table_functions/hdfs.md
  src/Common/parseGlobs.cpp
  tests/integration/test_globs_in_filepath/test.py
Labels: pr-improvement

#10095 Fix replicated tables startup when updating from old version
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_no_local_metadata_node/__init__.py
  tests/integration/test_no_local_metadata_node/test.py
Labels: no-docs-needed, pr-bugfix

#10071 Add converting stream to localhost clickhouse dict
  src/Dictionaries/ClickHouseDictionarySource.cpp
  tests/queries/0_stateless/01113_local_dictionary_type_conversion.reference
  tests/queries/0_stateless/01113_local_dictionary_type_conversion.sql
Labels: no-docs-needed, pr-bugfix

#10103 Make the test "zk_multi_async" less flacky
  src/Common/ZooKeeper/tests/gtest_zkutil_test_multi_exception.cpp
Labels: pr-non-significant

#10064 Small fixes in dictionaries DDL parser
  src/Parsers/ASTDictionary.cpp
  src/Parsers/ASTDictionary.h
  src/Parsers/ASTFunctionWithKeyValueArguments.cpp
  src/Parsers/ASTFunctionWithKeyValueArguments.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/ExpressionElementParsers.h
  src/Parsers/ParserDictionary.cpp
  tests/queries/0_stateless/01110_dictionary_layout_without_arguments.reference
  tests/queries/0_stateless/01110_dictionary_layout_without_arguments.sql
Labels: pr-improvement

#10099 Fix 9826
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/PipelineExecutor.h
  src/Processors/Port.h
  tests/queries/0_stateless/01232_preparing_sets_race_condition.reference
  tests/queries/0_stateless/01232_preparing_sets_race_condition.sh
Labels: no-docs-needed, pr-bugfix

#10038 DOCS-577: Clarified How To Test Your Hardware With ClickHouse
  docs/en/operations/performance_test.md
Labels: pr-doc-fix

#9998 Virtual hosted-style support for S3 URI
  dbms/src/IO/tests/gtest_s3_uri.cpp
  src/IO/S3Common.cpp
Labels: pr-improvement

#10104 Remove unwanted output from unit tests
  src/Columns/tests/gtest_weak_hash_32.cpp
Labels: pr-non-significant

#10068 Fix bug with uncompressed checksums in CHECK TABLE query
  src/Storages/MergeTree/checkDataPart.cpp
  tests/queries/0_stateless/01112_check_table_with_index.reference
  tests/queries/0_stateless/01112_check_table_with_index.sql
Labels: no-docs-needed, pr-bugfix

#10119 Fix wrong protocol version check
  dbms/src/Storages/MergeTree/DataPartsExchange.cpp
Labels: pr-bugfix

#10008 Documentation: path должен быть терминирован `/`.
  docs/ru/operations/table_engines/mergetree.md
Labels: pr-documentation

#10117 Fix wrong protocol version check
  dbms/src/Storages/MergeTree/DataPartsExchange.cpp
Labels: pr-bugfix

#10122 Documentation: change testsies to queries in tests.md
  docs/en/development/tests.md
  docs/es/development/tests.md
  docs/fa/development/tests.md
  docs/fr/development/tests.md
  docs/ja/development/tests.md
  docs/ru/development/tests.md
Labels: pr-documentation

#10120 Fix regex for S3 URI to pass clang-tidy check
  src/IO/S3Common.cpp
  src/IO/tests/gtest_s3_uri.cpp
Labels: no-docs-needed, pr-non-significant

#10108 ThreadFuzzer: do not wrap pthread functions under thread and memory sanitizers
  src/Common/ThreadFuzzer.cpp
Labels: pr-non-significant

#10107 Fix unit test in debug build.
  src/Common/parseGlobs.cpp
Labels: pr-non-significant

#10121 Fix adaptive granularity compatibility
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_adaptive_granularity_different_settings/__init__.py
  tests/integration/test_adaptive_granularity_different_settings/test.py
Labels: no-docs-needed, pr-bugfix

#10110 more monotonicity for toString()
  src/Functions/FunctionHelpers.h
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/01234_to_string_monotonic.reference
  tests/queries/0_stateless/01234_to_string_monotonic.sql
Labels: pr-improvement

#10021 Enhanced compatibility with native mysql-connector-java(JDBC)
  programs/server/MySQLHandler.cpp
  tests/integration/test_mysql_protocol/clients/java/0.reference
  tests/integration/test_mysql_protocol/clients/java/Dockerfile
  tests/integration/test_mysql_protocol/clients/java/Test.java
  tests/integration/test_mysql_protocol/clients/java/docker_compose.yml
  tests/integration/test_mysql_protocol/test.py
Labels: can be tested, pr-improvement

#10138 Fix logged number of inserted rows into ReplicatedMergeTree
  src/Storages/MergeTree/ReplicatedMergeTreeBlockOutputStream.cpp
Labels: pr-improvement

#10134 Remove vagrant build
  docker/packager/README.md
  docker/packager/freebsd/Vagrantfile
  docker/packager/packager
Labels: pr-build, pr-non-significant

#10115 Rewrite access_control_path in path.xml
  programs/server/config.d/path.xml
Labels: pr-non-significant

#10147 DOCS-475: system.dictionaries
  docs/en/operations/system_tables.md
  docs/en/sql_reference/dictionaries/external_dictionaries/external_dicts_dict_lifetime.md
  docs/ru/operations/system_tables.md
Labels: pr-documentation

#10109 RBAC-9
  programs/client/Suggest.cpp
  src/Access/ContextAccess.cpp
  src/Access/EnabledRowPolicies.cpp
  src/Access/RowPolicyCache.cpp
  src/Interpreters/InterpreterCreateQuotaQuery.cpp
  src/Interpreters/InterpreterShowCreateAccessEntityQuery.cpp
  src/Parsers/ASTCreateQuotaQuery.cpp
  src/Parsers/ASTCreateQuotaQuery.h
  src/Parsers/ASTCreateSettingsProfileQuery.h
  src/Parsers/ASTCreateUserQuery.cpp
  src/Parsers/ASTCreateUserQuery.h
  src/Parsers/ASTSettingsProfileElement.cpp
  src/Parsers/ASTSettingsProfileElement.h
  src/Parsers/IParser.h
  src/Parsers/ParserCreateQuotaQuery.cpp
  src/Parsers/ParserCreateQuotaQuery.h
  src/Parsers/ParserCreateRoleQuery.cpp
  src/Parsers/ParserCreateRowPolicyQuery.cpp
  src/Parsers/ParserCreateSettingsProfileQuery.cpp
  src/Parsers/ParserCreateSettingsProfileQuery.h
  src/Parsers/ParserCreateUserQuery.cpp
  src/Parsers/ParserCreateUserQuery.h
  src/Parsers/ParserGrantQuery.cpp
  src/Parsers/ParserSettingsProfileElement.cpp
  src/Parsers/ParserSettingsProfileElement.h
  src/Parsers/makeASTForLogicalFunction.cpp
  src/Parsers/makeASTForLogicalFunction.h
  tests/integration/helpers/0_common_instance_users.xml
  tests/integration/helpers/cluster.py
  tests/integration/test_allowed_client_hosts/configs/users.xml
  tests/integration/test_authentication/test.py
  tests/integration/test_disk_access_storage/configs/users.d/access_management.xml
  tests/integration/test_disk_access_storage/test.py
  tests/integration/test_enabling_access_management/__init__.py
  tests/integration/test_enabling_access_management/configs/users.d/extra_users.xml
  tests/integration/test_enabling_access_management/test.py
  tests/integration/test_grant_and_revoke/configs/users.d/access_management.xml
  tests/integration/test_grant_and_revoke/test.py
  tests/integration/test_quota/configs/users.d/access_management.xml
  tests/integration/test_quota/configs/users.d/assign_myquota.xml
  tests/integration/test_quota/configs/users.d/drop_default_quota.xml
  tests/integration/test_quota/configs/users.xml
  tests/integration/test_quota/test.py
  tests/integration/test_row_policy/configs/users.d/access_management.xml
  tests/integration/test_row_policy/test.py
  tests/integration/test_settings_constraints_distributed/configs/remote_servers.xml
  tests/integration/test_settings_constraints_distributed/configs/users.d/access_management.xml
  tests/integration/test_settings_constraints_distributed/test.py
  tests/integration/test_settings_profile/configs/users.d/access_management.xml
  tests/integration/test_settings_profile/test.py
  tests/queries/0_stateless/01033_quota_dcl.reference
  tests/queries/0_stateless/01075_allowed_client_hosts.reference
  tests/queries/0_stateless/01075_allowed_client_hosts.sql
Labels: pr-non-significant

#10049 Make SHOW CREATE TABLE multiline
  src/Interpreters/InterpreterShowCreateQuery.cpp
  tests/queries/0_stateless/00061_merge_tree_alter.reference
  tests/queries/0_stateless/00062_replicated_merge_tree_alter_zookeeper.reference
  tests/queries/0_stateless/00564_temporary_table_management.reference
  tests/queries/0_stateless/00599_create_view_with_subquery.reference
  tests/queries/0_stateless/00604_show_create_database.reference
  tests/queries/0_stateless/00642_cast.reference
  tests/queries/0_stateless/00643_cast_zookeeper.reference
  tests/queries/0_stateless/00725_comment_columns.reference
  tests/queries/0_stateless/00725_ipv4_ipv6_domains.reference
  tests/queries/0_stateless/00751_default_databasename_for_view.reference
  tests/queries/0_stateless/00753_comment_columns_zookeeper.reference
  tests/queries/0_stateless/00754_alter_modify_column_partitions.reference
  tests/queries/0_stateless/00754_alter_modify_order_by.reference
  tests/queries/0_stateless/00754_alter_modify_order_by_replicated_zookeeper.reference
  tests/queries/0_stateless/00804_test_custom_compression_codecs.reference
  tests/queries/0_stateless/00804_test_custom_compression_codes_log_storages.reference
  tests/queries/0_stateless/00836_indices_alter.reference
  tests/queries/0_stateless/00836_indices_alter_replicated_zookeeper.reference
  tests/queries/0_stateless/00910_zookeeper_custom_compression_codecs_replicated.reference
  tests/queries/0_stateless/00916_create_or_replace_view.reference
  tests/queries/0_stateless/00933_alter_ttl.reference
  tests/queries/0_stateless/00933_ttl_replicated_zookeeper.reference
  tests/queries/0_stateless/00933_ttl_simple.reference
  tests/queries/0_stateless/00980_merge_alter_settings.reference
  tests/queries/0_stateless/00980_zookeeper_merge_tree_alter_settings.reference
  tests/queries/0_stateless/00998_constraints_all_tables.reference
  tests/queries/0_stateless/00998_constraints_all_tables.sql
  tests/queries/0_stateless/01018_ddl_dictionaries_create.reference
  tests/queries/0_stateless/01033_storage_odbc_parsing_exception_check.reference
  tests/queries/0_stateless/01055_compact_parts_1.reference
  tests/queries/0_stateless/01069_database_memory.reference
  tests/queries/0_stateless/01070_alter_with_ttl.reference
  tests/queries/0_stateless/01079_alter_default_zookeeper.reference
  tests/queries/0_stateless/01079_bad_alters_zookeeper.reference
  tests/queries/0_stateless/01083_expressions_in_engine_arguments.reference
  tests/queries/0_stateless/01110_dictionary_layout_without_arguments.reference
  tests/queries/0_stateless/01213_alter_rename_column_zookeeper.reference
  tests/queries/0_stateless/01213_alter_rename_nested.reference
  tests/queries/0_stateless/01213_alter_rename_with_default_zookeeper.reference
  tests/queries/0_stateless/01213_alter_table_rename_nested.reference
Labels: pr-improvement

#10160 Put single-page content into a separate js file
  docs/tools/build.py
  website/templates/docs/content.html
Labels: pr-documentation

#10159 Normalize ru markdown
  docs/ru/development/architecture.md
  docs/ru/development/build.md
  docs/ru/development/build_cross_arm.md
  docs/ru/development/developer_instruction.md
  docs/ru/development/style.md
  docs/ru/development/tests.md
  docs/ru/getting_started/install.md
  docs/ru/getting_started/tutorial.md
  docs/ru/interfaces/formats.md
  docs/ru/introduction/adopters.md
  docs/ru/introduction/history.md
  docs/ru/operations/performance_test.md
  docs/ru/operations/quotas.md
  docs/ru/operations/system_tables.md
  docs/ru/operations/tips.md
  docs/ru/operations/troubleshooting.md
Labels: pr-documentation

#10166 Update codebrowser links
  docs/en/development/browse_code.md
  docs/en/whats_new/changelog/index.md
  docs/es/development/browse_code.md
  docs/es/whats_new/changelog/index.md
  docs/fa/development/browse_code.md
  docs/fa/whats_new/changelog/index.md
  docs/fr/development/browse_code.md
  docs/fr/whats_new/changelog/index.md
  docs/ja/development/browse_code.md
  docs/ja/whats_new/changelog/index.md
  docs/ru/development/browse_code.md
  docs/ru/whats_new/changelog/index.md
  docs/zh/changelog/index.md
  docs/zh/development/browse_code.md
  docs/zh/whats_new/changelog/index.md
Labels: pr-documentation

#10129 Fix code wrapping for non-code part
  docs/en/sql_reference/statements/create.md
Labels: pr-documentation

#10175 Website performance improvements
  website/index.html
  website/js/base.js
  website/templates/common_meta.html
  website/templates/index/community.html
  website/templates/index/efficient.html
  website/templates/index/scalable.html
  website/templates/index/why.html
  website/workers/events.js
  website/workers/meet-form.js
  website/workers/play-api.js
  website/workers/repo.js
Labels: pr-documentation

#10153 Enable access management in stateless tests #3.
  tests/users.d/access_management.xml
Labels: pr-non-significant

#10073 Update to RWLock: timeout parameter for getLock() + implementation reworked to be phase fair
  src/Common/RWLock.cpp
  src/Common/RWLock.h
  src/Common/tests/gtest_rw_lock.cpp
  src/Core/Defines.h
  src/Core/Settings.h
  src/DataStreams/PushingToViewsBlockOutputStream.cpp
  src/Databases/DatabaseMySQL.cpp
  src/Functions/FunctionJoinGet.cpp
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterDescribeQuery.cpp
  src/Interpreters/InterpreterDropQuery.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Interpreters/InterpreterRenameQuery.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Storages/IStorage.cpp
  src/Storages/IStorage.h
  src/Storages/LiveView/StorageLiveView.cpp
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMerge.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageNull.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/System/StorageSystemColumns.cpp
  src/Storages/System/StorageSystemPartsBase.cpp
  src/Storages/System/StorageSystemPartsBase.h
  src/Storages/System/StorageSystemTables.cpp
Labels: doc-alert, pr-improvement

#10182 Re-attach index.md to better place in nav + hide empty articles
  docs/en/introduction/distinctive_features.md
  docs/en/introduction/features_considered_disadvantages.md
  docs/en/sql_reference/statements/index.md
  docs/es/introduction/distinctive_features.md
  docs/es/introduction/features_considered_disadvantages.md
  docs/fa/introduction/distinctive_features.md
  docs/fa/introduction/features_considered_disadvantages.md
  docs/fr/introduction/distinctive_features.md
  docs/fr/introduction/features_considered_disadvantages.md
  docs/ja/introduction/distinctive_features.md
  docs/ja/introduction/features_considered_disadvantages.md
  docs/redirects.txt
  docs/ru/introduction/distinctive_features.md
  docs/ru/introduction/features_considered_disadvantages.md
  docs/tools/nav.py
  docs/zh/introduction/distinctive_features.md
  docs/zh/introduction/features_considered_disadvantages.md
Labels: pr-documentation

#10181 Revert resetting settings in TCPHandler
  programs/server/TCPHandler.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  tests/integration/test_settings_constraints_distributed/test.py
Labels: pr-no-backport

#10015 add <prometheus> in server settings and monitoring section
  docs/en/operations/monitoring.md
  docs/en/operations/server_configuration_parameters/settings.md
  docs/ru/operations/monitoring.md
  docs/ru/operations/server_configuration_parameters/settings.md
Labels: pr-documentation

#10169 Update libdivide to v3.0
  contrib/libdivide/libdivide.h
  src/Functions/intDiv.cpp
  src/Functions/modulo.cpp
  src/Interpreters/createBlockSelector.cpp
Labels: pr-build

#10171 Update pdqsort to recent version
  contrib/pdqsort/pdqsort.h
Labels: pr-build

#10173 Add retries to 00646_url_engine test
  tests/queries/0_stateless/00646_url_engine.python
Labels: pr-non-significant

#10172 Fix odbc round trip test
  tests/queries/0_stateless/01086_odbc_roundtrip.sh
  tests/queries/0_stateless/01086_odbc_roundtrip.sql
Labels: pr-non-significant

#10186 allow_nondeterministic_mutations
  src/Core/Settings.h
  src/Interpreters/MutationsInterpreter.cpp
  tests/queries/0_stateless/01017_mutations_with_nondeterministic_functions_zookeeper.reference
  tests/queries/0_stateless/01017_mutations_with_nondeterministic_functions_zookeeper.sh
Labels: altinity, can be tested, pr-bugfix

#10151 clickhouse-docker-util
  utils/clickhouse-docker
Labels: altinity, pr-build

#10164 Avoid superfluous dictionaries load
  src/Databases/DatabaseDictionary.cpp
  src/Databases/DatabaseWithDictionaries.cpp
  src/Databases/DatabaseWithDictionaries.h
  src/Interpreters/ExternalDictionariesLoader.h
  tests/queries/0_stateless/01056_create_table_as.sql
  tests/queries/0_stateless/01224_no_superfluous_dict_reload.reference
  tests/queries/0_stateless/01224_no_superfluous_dict_reload.sql
  tests/queries/0_stateless/01225_show_create_table_from_dictionary.reference
  tests/queries/0_stateless/01225_show_create_table_from_dictionary.sql
Labels: pr-improvement

#10168 Add ability to use unbundled msgpack
  cmake/find/msgpack.cmake
  docker/packager/deb/Dockerfile
Labels: pr-build

#9968 Splitting string into Alpha-Num tokens with SIMD intrinsics.
  src/Common/BitHelpers.h
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  src/Storages/tests/gtest_SplitTokenExtractor.cpp
Labels: altinity, pr-performance

#10194 Fix various small issues in interactive mode of clickhouse-client
  programs/client/Client.cpp
Labels: pr-improvement, usability

#10179 Initial support for live view tables over distributed
  tests/integration/helpers/uclient.py
  tests/integration/helpers/uexpect.py
  tests/integration/test_distributed_over_live_view/__init__.py
  tests/integration/test_distributed_over_live_view/configs/remote_servers.xml
  tests/integration/test_distributed_over_live_view/configs/set_distributed_defaults.xml
  tests/integration/test_distributed_over_live_view/test.py
  tests/integration/test_live_view_over_distributed/__init__.py
  tests/integration/test_live_view_over_distributed/configs/remote_servers.xml
  tests/integration/test_live_view_over_distributed/configs/set_distributed_defaults.xml
  tests/integration/test_live_view_over_distributed/test.py
  tests/queries/0_stateless/01235_live_view_over_distributed.reference
  tests/queries/0_stateless/01235_live_view_over_distributed.sql
  tests/queries/0_stateless/01236_distributed_over_live_view_over_distributed.reference
  tests/queries/0_stateless/01236_distributed_over_live_view_over_distributed.sql
  tests/queries/0_stateless/01237_live_view_over_distributed_with_subquery_select_table_alias.reference
  tests/queries/0_stateless/01237_live_view_over_distributed_with_subquery_select_table_alias.sql
Labels: altinity, can be tested, pr-build

#10085 transform_null_in option to test NULL values at the IN-Operator.
  src/Core/Settings.h
  src/Functions/in.cpp
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/NullableUtils.cpp
  src/Interpreters/NullableUtils.h
  src/Interpreters/Set.cpp
  src/Interpreters/Set.h
  src/Interpreters/SyntaxAnalyzer.cpp
  src/Interpreters/misc.h
  src/Storages/StorageSet.cpp
  tests/queries/0_stateless/01231_operator_null_in.reference
  tests/queries/0_stateless/01231_operator_null_in.sql
Labels: doc-alert, pr-feature

#10131 Fix extremes for processors
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Processors/Executors/TreeExecutorBlockInputStream.cpp
  src/Processors/Executors/TreeExecutorBlockInputStream.h
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.cpp
  src/Processors/NullSink.h
  src/Processors/Pipe.cpp
  src/Processors/Pipe.h
  src/Processors/QueryPipeline.cpp
  src/Processors/QueryPipeline.h
  src/Processors/Sources/SourceFromInputStream.cpp
  src/Processors/Sources/SourceFromInputStream.h
  tests/queries/0_stateless/01232_extremes.reference
  tests/queries/0_stateless/01232_extremes.sql
Labels: no-docs-needed, pr-bugfix

#10140 Fix scramble issue for native mysql-connector-java(JDBC)
  src/Core/MySQLProtocol.h
  tests/integration/test_mysql_protocol/test.py
Labels: can be tested, no-docs-needed, pr-bugfix

#10195 Fix move-to-prewhere optimization in presense of arrayJoin functions.
  src/Storages/MergeTree/MergeTreeWhereOptimizer.cpp
  tests/queries/0_stateless/01115_prewhere_array_join.reference
  tests/queries/0_stateless/01115_prewhere_array_join.sql
  tests/queries/1_stateful/00093_prewhere_array_join.reference
  tests/queries/1_stateful/00093_prewhere_array_join.sql
Labels: pr-bugfix

#10196 Allow literals for GLOBAL IN
  src/Interpreters/GlobalSubqueriesVisitor.h
  tests/queries/0_stateless/01223_dist_on_dist.reference
  tests/queries/0_stateless/01223_dist_on_dist.sql
  tests/queries/0_stateless/01226_dist_on_dist_global_in.reference
  tests/queries/0_stateless/01226_dist_on_dist_global_in.sql
  tests/queries/0_stateless/01227_distributed_global_in_issue_2610.reference
  tests/queries/0_stateless/01227_distributed_global_in_issue_2610.sql
  tests/queries/bugs/01224_dist_on_dist_global_in.reference
  tests/queries/bugs/01224_dist_on_dist_global_in.sql
Labels: pr-improvement

#10198 Add function "isConstant"
  src/Functions/isConstant.cpp
  src/Functions/registerFunctionsMiscellaneous.cpp
  tests/queries/0_stateless/01118_is_constant.reference
  tests/queries/0_stateless/01118_is_constant.sql
Labels: pr-feature

#10094 joinGetOrNull
  src/Functions/FunctionJoinGet.cpp
  src/Functions/FunctionJoinGet.h
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  tests/queries/0_stateless/01240_join_get_or_null.reference
  tests/queries/0_stateless/01240_join_get_or_null.sql
Labels: doc-alert, pr-feature

#10026 Improve performance of index analysis with monotonic functions [2].
  src/Interpreters/Set.cpp
  src/Interpreters/Set.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/KeyCondition.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
  tests/performance/set_index.xml
Labels: no-docs-needed, pr-performance

#10201 Fix typo in the getting started tutorial: "it's" -> "its"
  docs/en/getting_started/tutorial.md
Labels: pr-documentation

#10203 Fix path and typo in the tests.md
  docs/en/development/tests.md
  docs/es/development/tests.md
  docs/fa/development/tests.md
  docs/fr/development/tests.md
  docs/ja/development/tests.md
Labels: pr-documentation

#10199 MySQLHandler: max_allowed_packet returned by default
  programs/server/MySQLHandler.cpp
  tests/integration/test_mysql_protocol/clients/java/0.reference
  tests/integration/test_mysql_protocol/clients/java/Test.java
Labels: can be tested, pr-improvement

#10207 Fix column names of constants inside JOIN.
  src/Interpreters/RequiredSourceColumnsVisitor.cpp
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  tests/queries/0_stateless/01120_join_constants.reference
  tests/queries/0_stateless/01120_join_constants.sql
  tests/queries/bugs/join_constants_on.sql
Labels: pr-bugfix

#10053 Add log_queries_min_type to filter which entries will be written to query_log
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Core/SettingsCollection.cpp
  src/Core/SettingsCollection.h
  src/Interpreters/QueryLog.h
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/01231_log_queries_min_type.reference
  tests/queries/0_stateless/01231_log_queries_min_type.sql
Labels: doc-alert, pr-feature

#10214 Fix "parseDateTimeBestEffort" for strings in RFC-2822 when day of week is Tuesday or Thursday
  src/IO/parseDateTimeBestEffort.cpp
  tests/queries/0_stateless/01123_parse_date_time_best_effort_even_more.reference
  tests/queries/0_stateless/01123_parse_date_time_best_effort_even_more.sql
Labels: pr-bugfix

#10217 Convert types in Views
  src/Storages/StorageView.cpp
  tests/queries/0_stateless/01124_view_bad_types.reference
  tests/queries/0_stateless/01124_view_bad_types.sql
Labels: pr-bugfix

#10213 Remove obsolete tests from "bugs" directory
  tests/queries/0_stateless/01121_remote_scalar_subquery.reference
  tests/queries/0_stateless/01121_remote_scalar_subquery.sql
  tests/queries/0_stateless/01122_totals_rollup_having_block_header.reference
  tests/queries/0_stateless/01122_totals_rollup_having_block_header.sql
  tests/queries/bugs/00938_client_suggestions.sh
Labels: pr-non-significant

#10231 Support new vXX-backported labels
  utils/github/__main__.py
Labels: pr-build

#10218 Fixed "generateRandom" function for Date type
  base/common/DateLUTImpl.cpp
  base/common/DateLUTImpl.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreePartInfo.cpp
  src/Storages/StorageGenerateRandom.cpp
  tests/queries/0_stateless/01087_table_function_generate.reference
  tests/queries/0_stateless/01125_generate_random_qoega.reference
  tests/queries/0_stateless/01125_generate_random_qoega.sql
  tests/queries/0_stateless/01126_month_partitioning_consistent_code.reference
  tests/queries/0_stateless/01126_month_partitioning_consistent_code.sql
  tests/queries/0_stateless/01127_month_partitioning_consistency_select.reference
  tests/queries/0_stateless/01127_month_partitioning_consistency_select.sql
  tests/queries/0_stateless/01128_generate_random_nested.reference
  tests/queries/0_stateless/01128_generate_random_nested.sql
Labels: pr-bugfix

#10222 Small refactoring of SystemLogs
  src/Interpreters/MetricLog.cpp
  src/Interpreters/MetricLog.h
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
Labels: pr-non-significant

#10206 Fix limit with infinite sources
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/TreeExecutorBlockInputStream.cpp
  src/Processors/Executors/TreeExecutorBlockInputStream.h
  src/Processors/IProcessor.h
  src/Processors/Sources/SourceFromInputStream.cpp
  src/Processors/Sources/SourceFromInputStream.h
  tests/queries/0_stateless/01245_limit_infinite_sources.reference
  tests/queries/0_stateless/01245_limit_infinite_sources.sql
Labels: no-docs-needed, pr-bugfix

#10209 Fix N.P. segfault in StorageSystemTables for database engine "Lazy"
  src/Storages/System/StorageSystemTables.cpp
  tests/queries/0_stateless/01014_lazy_database_concurrent_recreate_reattach_and_show_tables.reference
  tests/queries/0_stateless/01014_lazy_database_concurrent_recreate_reattach_and_show_tables.sh
Labels: pr-bugfix

#10233 Backport #10130 to 20.3
  src/Storages/MergeTree/IMergeTreeDataPartWriter.h
  src/Storages/MergeTree/IMergeTreeReader.cpp
  src/Storages/MergeTree/IMergeTreeReader.h
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeIndices.h
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  src/Storages/MergeTree/MergeTreeReaderWide.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.h
  tests/config/polymorphic_parts.xml
  tests/queries/0_stateless/01114_alter_modify_compact_parts.reference
  tests/queries/0_stateless/01114_alter_modify_compact_parts.sql
  tests/queries/0_stateless/01114_clear_column_compact_parts.reference
  tests/queries/0_stateless/01114_clear_column_compact_parts.sql
  tests/queries/0_stateless/01114_materialize_clear_index_compact_parts.reference
  tests/queries/0_stateless/01114_materialize_clear_index_compact_parts.sql
Labels: pr-non-significant

#10235 Fix 'Cannot add column' in DDL dictionary
  src/Storages/StorageDictionary.cpp
  tests/queries/0_stateless/01125_dict_ddl_cannot_add_column.reference
  tests/queries/0_stateless/01125_dict_ddl_cannot_add_column.sql
Labels: pr-bugfix

#10052 Enable parallel INSERT for materialized view
  src/Storages/StorageMaterializedView.h
Labels: can be tested, pr-performance

#10237 ALTER UPDATE/DELETE on Replicated* storages: Fixed "Unknown function lambda." error
  src/Interpreters/MutationsInterpreter.cpp
  tests/queries/0_stateless/01017_mutations_with_nondeterministic_functions_zookeeper.reference
  tests/queries/0_stateless/01017_mutations_with_nondeterministic_functions_zookeeper.sh
Labels: pr-bugfix

#10239 Fix race after cancel of RemoteBlockInputStream.
  src/DataStreams/RemoteBlockInputStream.cpp
  src/DataStreams/RemoteBlockInputStream.h
Labels: no-docs-needed, pr-bugfix

#10244 Update zh settings.md
  docs/zh/operations/server_configuration_parameters/settings.md
Labels: pr-documentation

#10245 Update settings.md
  docs/zh/operations/server_configuration_parameters/settings.md
Labels: pr-documentation

#10253 Fix and improve OneTypeMatcher
  src/Interpreters/CrossToInnerJoinVisitor.cpp
  src/Interpreters/InDepthNodeVisitor.h
  src/Interpreters/PredicateRewriteVisitor.h
Labels: pr-non-significant

#10262 Add graphite test
  docker/test/stateless/Dockerfile
  tests/config/graphite.xml
  tests/queries/0_stateless/01236_graphite_mt.reference
  tests/queries/0_stateless/01236_graphite_mt.sql
Labels: no-docs-needed, pr-build, pr-non-significant

#10261 Update alter.md
  docs/en/sql_reference/statements/alter.md
Labels: pr-documentation

#10265 Remove useless code
  src/DataStreams/ConvertingBlockInputStream.cpp
  src/DataStreams/ConvertingBlockInputStream.h
  src/DataStreams/PushingToViewsBlockOutputStream.cpp
  src/DataStreams/RemoteBlockInputStream.cpp
  src/Dictionaries/ClickHouseDictionarySource.cpp
  src/Functions/FunctionsComparison.h
  src/Functions/FunctionsRound.h
  src/Functions/array/array.cpp
  src/Functions/array/arrayConcat.cpp
  src/Functions/array/arrayIntersect.cpp
  src/Functions/array/arrayPush.h
  src/Functions/array/arrayPushBack.cpp
  src/Functions/array/arrayPushFront.cpp
  src/Functions/array/arrayResize.cpp
  src/Functions/array/hasAll.cpp
  src/Functions/array/hasAllAny.h
  src/Functions/array/hasAny.cpp
  src/Functions/array/range.cpp
  src/Functions/if.cpp
  src/Functions/multiIf.cpp
  src/Functions/neighbor.cpp
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectWithUnionQuery.cpp
  src/Interpreters/castColumn.cpp
  src/Interpreters/castColumn.h
  src/Processors/QueryPipeline.cpp
  src/Processors/QueryPipeline.h
  src/Processors/Transforms/ConvertingTransform.cpp
  src/Processors/Transforms/ConvertingTransform.h
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
  src/Storages/Kafka/KafkaBlockInputStream.cpp
  src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.cpp
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageMerge.cpp
  src/Storages/StorageView.cpp
Labels: pr-non-significant

#10256 Update compiler check
  cmake/tools.cmake
Labels: pr-build

#10247 Add JUnit to html util
  tests/integration/README.md
  tests/integration/pytest.ini
  tests/integration/test_distributed_ddl/test_replicated_alter.py
  utils/check-style/check-include
  utils/check-style/check-ungrouped-includes.sh
  utils/junit_to_html/junit-noframes.xsl
  utils/junit_to_html/junit_to_html
Labels: pr-build

#10269 Continuation of #6256
  src/Functions/URL/path.cpp
  src/Functions/URL/path.h
  src/Functions/URL/pathFull.cpp
  tests/queries/0_stateless/01199_url_functions_path_without_schema_yiurule.reference
  tests/queries/0_stateless/01199_url_functions_path_without_schema_yiurule.sql
Labels: doc-alert, pr-improvement

#10184 Optional secured communication between ClickHouse and Zookeeper
  programs/server/config.xml
  src/Common/ZooKeeper/CMakeLists.txt
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/ZooKeeper/ZooKeeperImpl.h
  src/Common/ZooKeeper/tests/CMakeLists.txt
  src/Common/ZooKeeper/tests/zkutil_test_commands_new_lib.cpp
  src/Common/ZooKeeper/tests/zookeeper_impl.cpp
  tests/integration/helpers/cluster.py
  tests/integration/helpers/zookeeper-ssl-entrypoint.sh
  tests/integration/test_config_corresponding_root/configs/config.xml
  tests/integration/test_zookeeper_config/configs/zookeeper_config_with_ssl.xml
  tests/integration/test_zookeeper_config/configs_secure/client.crt
  tests/integration/test_zookeeper_config/configs_secure/client.key
  tests/integration/test_zookeeper_config/configs_secure/conf.d/remote_servers.xml
  tests/integration/test_zookeeper_config/configs_secure/conf.d/ssl_conf.xml
  tests/integration/test_zookeeper_config/test.py
  tests/server-test.xml
Labels: can be tested, doc-alert, pr-feature

#10148 DOCS-493: arrayZip
  docs/en/sql_reference/functions/array_functions.md
  docs/ru/sql_reference/functions/array_functions.md
Labels: pr-documentation

#10258 DOCS-518: EN->RU sync
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql_reference/aggregate_functions/reference.md
Labels: pr-doc-fix

#10279 Fix max_rows_to_group_by stuck
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Processors/Transforms/AggregatingTransform.h
  tests/queries/0_stateless/01134_max_rows_to_group_by.reference
  tests/queries/0_stateless/01134_max_rows_to_group_by.sql
Labels: no-docs-needed, pr-bugfix

#10281 Indicate LTS releases in docs version selector
  docs/tools/build.py
  docs/tools/github.py
  website/templates/docs/sidebar.html
Labels: pr-documentation

#10271 Remove strange code in arrayIndex function
  src/Functions/array/arrayIndex.h
Labels: pr-non-significant

#10272 Allow to parse +inf
  src/IO/readFloatText.h
  tests/queries/0_stateless/01198_plus_inf.reference
  tests/queries/0_stateless/01198_plus_inf.sql
Labels: pr-improvement

#10274 Avoid error message on RST
  programs/server/TCPHandlerFactory.h
Labels: no-docs-needed, pr-improvement

#10260 update documentation-zh
  docs/zh/getting_started/example_datasets/amplab_benchmark.md
  docs/zh/getting_started/example_datasets/index.md
  docs/zh/getting_started/example_datasets/metrica.md
  docs/zh/getting_started/example_datasets/star_schema.md
  docs/zh/getting_started/install.md
  docs/zh/getting_started/playground.md
  docs/zh/getting_started/tutorial.md
  docs/zh/introduction/adopters.md
  docs/zh/introduction/distinctive_features.md
Labels: pr-documentation

#10287 DOCS-582: Column timestamp_ns in system.trace_log
  docs/en/operations/system_tables.md
Labels: pr-documentation

#10216 Update MsgPack format
  src/Processors/Formats/Impl/MsgPackRowInputFormat.cpp
  src/Processors/Formats/Impl/MsgPackRowInputFormat.h
  src/Processors/Formats/Impl/MsgPackRowOutputFormat.cpp
  tests/performance/parse_engine_file.xml
  tests/performance/select_format.xml
  tests/queries/0_stateless/01098_msgpack_format.reference
  tests/queries/0_stateless/01098_msgpack_format.sh
Labels: can be tested

#10257 Some tech debt
  src/IO/readDecimalText.h
  src/Interpreters/ColumnNamesContext.h
  src/Interpreters/DatabaseAndTableWithAlias.h
  src/Interpreters/JoinedTables.h
  src/Interpreters/RequiredSourceColumnsData.cpp
  src/Interpreters/RequiredSourceColumnsData.h
  src/Interpreters/RequiredSourceColumnsVisitor.cpp
  src/Interpreters/RequiredSourceColumnsVisitor.h
  src/Parsers/ASTIdentifier.h
Labels: pr-non-significant

#10255 DOCS-580: Fixed select.md and some of the broken links.
  docs/en/sql_reference/data_types/special_data_types/set.md
  docs/en/sql_reference/statements/select.md
Labels: pr-documentation

#10297 First Turkish translation contribution of ClickHouse!
  docs/tr/index.md
Labels: pr-documentation, pr-non-significant

#10292 Fix test test_dictionaries_mysql
  tests/integration/test_dictionaries_mysql/test.py
Labels: pr-non-significant

#10304 Minor docs content improvements
  docs/en/commercial/cloud.md
  docs/en/commercial/support.md
  docs/en/development/index.md
  docs/en/interfaces/third-party/integrations.md
  docs/es/interfaces/third-party/integrations.md
  docs/fa/interfaces/third-party/integrations.md
  docs/fr/interfaces/third-party/integrations.md
  docs/ja/interfaces/third-party/integrations.md
  docs/redirects.txt
  docs/ru/commercial/index.md
  docs/ru/engines/index.md
  docs/ru/getting_started/example_datasets/index.md
  docs/ru/getting_started/index.md
  docs/ru/guides/index.md
  docs/ru/index.md
  docs/ru/interfaces/index.md
  docs/ru/interfaces/third-party/index.md
  docs/ru/interfaces/third-party/integrations.md
  docs/ru/introduction/index.md
  docs/ru/operations/index.md
  docs/ru/sql_reference/aggregate_functions/index.md
  docs/ru/sql_reference/data_types/index.md
  docs/ru/sql_reference/index.md
  docs/ru/sql_reference/statements/alter.md
  docs/ru/sql_reference/statements/create.md
  docs/ru/sql_reference/statements/index.md
  docs/ru/sql_reference/statements/insert_into.md
  docs/ru/sql_reference/statements/select.md
  docs/ru/sql_reference/table_functions/index.md
  docs/ru/whats_new/extended_roadmap.md
  docs/ru/whats_new/index.md
  docs/tr/interfaces/third-party/integrations.md
  docs/zh/interfaces/third-party/integrations.md
Labels: pr-documentation

#10295 Fix max parser depth
  programs/client/Client.cpp
  programs/compressor/Compressor.cpp
  programs/copier/ClusterCopier.cpp
  programs/copier/TaskTableAndShard.h
  programs/format/Format.cpp
  programs/local/LocalServer.cpp
  programs/odbc-bridge/ColumnInfoHandler.cpp
  src/Access/DiskAccessStorage.cpp
  src/Access/RowPolicyCache.cpp
  src/AggregateFunctions/parseAggregateFunctionParameters.cpp
  src/Compression/tests/gtest_compressionCodec.cpp
  src/Core/Defines.h
  src/Core/Settings.h
  src/DataStreams/tests/expression_stream.cpp
  src/DataStreams/tests/filter_stream.cpp
  src/DataTypes/DataTypeFactory.cpp
  src/Databases/DatabaseOrdinary.cpp
  src/Dictionaries/tests/gtest_dictionary_configuration.cpp
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterKillQueryQuery.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterShowCreateAccessEntityQuery.cpp
  src/Interpreters/JoinToSubqueryTransformVisitor.cpp
  src/Interpreters/SyntaxAnalyzer.cpp
  src/Interpreters/SystemLog.h
  src/Interpreters/loadMetadata.cpp
  src/Interpreters/tests/CMakeLists.txt
  src/Interpreters/tests/create_query.cpp
  src/Interpreters/tests/expression.cpp
  src/Interpreters/tests/expression_analyzer.cpp
  src/Interpreters/tests/gtest_cycle_aliases.cpp
  src/Interpreters/tests/in_join_subqueries_preprocessor.cpp
  src/Interpreters/tests/logical_expressions_optimizer.cpp
  src/Parsers/IParser.h
  src/Parsers/parseQuery.cpp
  src/Parsers/parseQuery.h
  src/Parsers/tests/create_parser.cpp
  src/Parsers/tests/gtest_dictionary_parser.cpp
  src/Parsers/tests/select_parser.cpp
  src/Storages/ColumnsDescription.cpp
  src/Storages/ConstraintsDescription.cpp
  src/Storages/IndicesDescription.cpp
  src/Storages/MutationCommands.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/getStructureOfRemoteTable.cpp
  src/Storages/tests/gtest_transform_query_for_external_database.cpp
  src/TableFunctions/parseColumnsListForTableFunction.cpp
  tests/queries/0_stateless/00328_long_case_construction.sql
  tests/queries/0_stateless/00990_hasToken.sh
  tests/queries/0_stateless/01068_parens.sql
  tests/queries/0_stateless/01196_max_parser_depth.reference
  tests/queries/0_stateless/01196_max_parser_depth.sh
Labels: pr-no-backport

#10313 [docs] tuning of <details> tag, search menu colours and hidden pages
  docs/en/index.md
  docs/es/index.md
  docs/fa/index.md
  docs/fr/index.md
  docs/ja/index.md
  docs/ru/index.md
  docs/tools/build.py
  docs/tr/index.md
  docs/zh/index.md
  website/css/docs.css
  website/templates/docs/nav.html
Labels: pr-documentation

#10303 Updated RWLockImpl: Fixed suboptimacy (readers queuing up) + minor tweaks to names and comments
  src/Common/RWLock.cpp
  src/Common/RWLock.h
Labels: pr-non-significant

#10311 Fix COMMA and other JOIN mix
  src/Interpreters/CrossToInnerJoinVisitor.cpp
  tests/queries/0_stateless/01117_comma_and_others_join_mix.reference
  tests/queries/0_stateless/01117_comma_and_others_join_mix.sql
Labels: pr-bugfix, v20.1-no-backport

#10317 Markdown format
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Processors/Formats/Impl/MarkdownRowOutputFormat.cpp
  src/Processors/Formats/Impl/MarkdownRowOutputFormat.h
  tests/queries/0_stateless/01231_markdown_format.reference
  tests/queries/0_stateless/01231_markdown_format.sql
Labels: can be tested, doc-alert, pr-feature

#10312 Fix DROP vs OPTIMIZE race in ReplicatedMergeTree
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/00993_system_parts_race_condition_drop_zookeeper.sh
Labels: pr-bugfix

#10323 Convert test results to JSONEachRow format
  tests/integration/pytest.ini
  utils/junit_to_html/junit_to_html
Labels: no-docs-needed, pr-build

#10251 [draft] changelog for new 20. releases.
  CHANGELOG.md
Labels: pr-documentation

#10330 Add util to test results upload in CI ClickHouse
  utils/upload_test_results/README.md
  utils/upload_test_results/upload_test_results
Labels: pr-build

#10338 Update common_meta.html
  website/templates/common_meta.html
Labels: pr-documentation

#10329 Remove unused flags from MergedColumnOnlyOutputStream.
  src/Storages/MergeTree/IMergeTreeDataPartWriter.h
  src/Storages/MergeTree/IMergedBlockOutputStream.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataPartCompact.h
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.h
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.h
  src/Storages/MergeTree/MergeTreeIOSettings.h
  src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  src/Storages/MergeTree/MergedColumnOnlyOutputStream.h
Labels: pr-non-significant

#9985 Try fix perftest distributed_aggregation.xml
  docker/test/performance-comparison/config/config.d/perf-comparison-tweaks-config.xml
  tests/performance/distributed_aggregation.xml
Labels: no-docs-needed, pr-non-significant

#10343 [RFC] Make logger name colored
  base/loggers/OwnPatternFormatter.cpp
Labels: pr-non-significant

#10325 Improve MsgPackRowInputFormat
  src/Processors/Formats/Impl/MsgPackRowInputFormat.cpp
  src/Processors/Formats/Impl/MsgPackRowInputFormat.h
  tests/performance/select_format.xml
Labels: can be tested, pr-improvement

#10342 [RFC] Use isInjective() over manual list of such functions for GROUP BY optimization
  src/Functions/FunctionStringToString.h
  src/Functions/FunctionUnaryArithmetic.h
  src/Functions/FunctionsCoding.h
  src/Functions/FunctionsConversion.h
  src/Functions/FunctionsEmbeddedDictionaries.h
  src/Functions/FunctionsExternalDictionaries.h
  src/Functions/FunctionsFormatting.h
  src/Functions/IFunction.h
  src/Functions/IFunctionAdaptors.h
  src/Functions/IFunctionImpl.h
  src/Functions/concat.cpp
  src/Functions/reverse.cpp
  src/Functions/tuple.cpp
  src/Interpreters/ExpressionJIT.cpp
  src/Interpreters/ExpressionJIT.h
  src/Interpreters/SyntaxAnalyzer.cpp
Labels: pr-improvement

#10337 Proper dictionary timeouts.
  src/Dictionaries/CacheDictionary.cpp
  src/Dictionaries/CacheDictionary.h
  src/Dictionaries/CacheDictionary.inc.h
Labels: doc-alert, pr-feature

#10346 Fix flaky test test_settings_constraints_distributed.
  tests/integration/test_settings_constraints_distributed/test.py
Labels: pr-build

#10002 SimpleAggregateFunction initial documentation
  docs/en/engines/table_engines/mergetree_family/aggregatingmergetree.md
  docs/en/sql_reference/data_types/nested_data_structures/simpleaggregatefunction.md
Labels: doc-alert, pr-documentation

#10315 Use background thread pool for background buffer flushes
  src/Core/Settings.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageBuffer.h
  tests/queries/0_stateless/01246_buffer_flush.reference
  tests/queries/0_stateless/01246_buffer_flush.sql
Labels: doc-alert, pr-improvement

#10318 Added generic variants for functions 'least' and 'greatest'.
  src/Columns/IColumn.h
  src/Functions/LeastGreatestGeneric.h
  src/Functions/greatest.cpp
  src/Functions/least.cpp
  tests/performance/least_greatest_hits.xml
  tests/queries/0_stateless/01246_least_greatest_generic.reference
  tests/queries/0_stateless/01246_least_greatest_generic.sql
Labels: doc-alert, pr-feature

#10221 Support for one special case of removing incompletely written parts
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
Labels: pr-improvement

#10161 Docs/merge tree settings
  docs/ru/operations/settings/merge_tree_settings.md
Labels: doc-alert, pr-documentation

#10133 JOIN with Dictionary
  src/Interpreters/DictionaryReader.cpp
  src/Interpreters/DictionaryReader.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/JoinedTables.cpp
  src/Interpreters/JoinedTables.h
  src/Interpreters/SyntaxAnalyzer.cpp
  src/Interpreters/SyntaxAnalyzer.h
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Storages/StorageDictionary.h
  tests/queries/0_stateless/00561_storage_join.sql
  tests/queries/0_stateless/01115_join_with_dictionary.reference
  tests/queries/0_stateless/01115_join_with_dictionary.sql
  tests/queries/1_stateful/00065_loyalty_with_storage_join.sql
Labels: pr-backward-incompatible, pr-performance

#10349 FreeBSD clang90 build fix
  cmake/freebsd/default_libs.cmake
Labels: can be tested, pr-build

#10348 Least greatest generic: more tests
  tests/performance/README.md
  tests/queries/0_stateless/01247_least_greatest_filimonov.reference
  tests/queries/0_stateless/01247_least_greatest_filimonov.sql
  tests/queries/0_stateless/01248_least_greatest_mixed_const.reference
  tests/queries/0_stateless/01248_least_greatest_mixed_const.sql
Labels: pr-non-significant

#10345 Add performance test for parallel insert of materialized view
  tests/performance/materialized_view_parallel_insert.xml
Labels: can be tested, pr-build

#10263 Use background thread pool for distributed sends
  src/Core/Settings.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/Distributed/DirectoryMonitor.cpp
  src/Storages/Distributed/DirectoryMonitor.h
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
  tests/queries/0_stateless/01040_distributed_directory_monitor_batch_inserts.sql
Labels: pr-improvement

#10361 Add memory usage from OS to system.asynchronous_metrics.
  src/Common/MemoryStatisticsOS.cpp
  src/Common/MemoryStatisticsOS.h
  src/Common/tests/CMakeLists.txt
  src/Common/tests/memory_statistics_os_perf.cpp
  src/Interpreters/AsynchronousMetrics.cpp
  src/Interpreters/AsynchronousMetrics.h
  src/Storages/MergeTree/MergeTreeSequentialBlockInputStream.cpp
Labels: doc-alert, pr-feature

#10356 Fixing 00964_live_view_watch_events_heartbeat.py test
  tests/queries/0_stateless/00964_live_view_watch_events_heartbeat.py
Labels: can be tested, pr-build
