Repository ClickHouse/ClickHouse, pull requests merged in 2020-02, with the labels that each got.

#8949 Avro format improvements
  dbms/src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/AvroRowInputFormat.h
  dbms/tests/queries/0_stateless/01060_avro.reference
  dbms/tests/queries/0_stateless/01060_avro.sh
  dbms/tests/queries/0_stateless/data_avro/generate_avro.sh
  dbms/tests/queries/0_stateless/data_avro/references.avro
  dbms/tests/queries/0_stateless/data_avro/references.avsc
  dbms/tests/queries/0_stateless/data_avro/references.json
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
Labels: can be tested

#8938 implement more functions of the H3 library
  dbms/src/Functions/h3GetBaseCell.cpp
  dbms/src/Functions/h3HexAreaM2.cpp
  dbms/src/Functions/h3IndexesAreNeighbors.cpp
  dbms/src/Functions/h3ToChildren.cpp
  dbms/src/Functions/h3ToParent.cpp
  dbms/src/Functions/h3ToString.cpp
  dbms/src/Functions/registerFunctionsGeo.cpp
  dbms/src/Functions/stringToH3.cpp
  dbms/tests/queries/0_stateless/01070_h3_get_base_cell.reference
  dbms/tests/queries/0_stateless/01070_h3_get_base_cell.sql
  dbms/tests/queries/0_stateless/01070_h3_hex_area_m2.reference
  dbms/tests/queries/0_stateless/01070_h3_hex_area_m2.sql
  dbms/tests/queries/0_stateless/01070_h3_indexes_are_neighbors.reference
  dbms/tests/queries/0_stateless/01070_h3_indexes_are_neighbors.sql
  dbms/tests/queries/0_stateless/01070_h3_to_children.reference
  dbms/tests/queries/0_stateless/01070_h3_to_children.sql
  dbms/tests/queries/0_stateless/01070_h3_to_parent.reference
  dbms/tests/queries/0_stateless/01070_h3_to_parent.sql
  dbms/tests/queries/0_stateless/01070_h3_to_string.reference
  dbms/tests/queries/0_stateless/01070_h3_to_string.sql
  dbms/tests/queries/0_stateless/01070_string_to_h3.reference
  dbms/tests/queries/0_stateless/01070_string_to_h3.sql
  docs/en/query_language/functions/geo.md
Labels: can be tested

#8862 Log engine support for S3 and SeekableReadBuffer
  dbms/programs/obfuscator/Obfuscator.cpp
  dbms/src/Compression/CachedCompressedReadBuffer.cpp
  dbms/src/Compression/CompressedReadBufferFromFile.cpp
  dbms/src/Disks/DiskLocal.cpp
  dbms/src/Disks/DiskLocal.h
  dbms/src/Disks/DiskMemory.cpp
  dbms/src/Disks/DiskMemory.h
  dbms/src/Disks/DiskS3.cpp
  dbms/src/Disks/DiskS3.h
  dbms/src/Disks/IDisk.h
  dbms/src/Disks/tests/gtest_disk.cpp
  dbms/src/Disks/tests/gtest_disk.h
  dbms/src/IO/MMapReadBufferFromFileDescriptor.cpp
  dbms/src/IO/MMapReadBufferFromFileDescriptor.h
  dbms/src/IO/ReadBufferAIO.cpp
  dbms/src/IO/ReadBufferAIO.h
  dbms/src/IO/ReadBufferFromFileBase.cpp
  dbms/src/IO/ReadBufferFromFileBase.h
  dbms/src/IO/ReadBufferFromFileDescriptor.cpp
  dbms/src/IO/ReadBufferFromFileDescriptor.h
  dbms/src/IO/ReadBufferFromMemory.cpp
  dbms/src/IO/ReadBufferFromMemory.h
  dbms/src/IO/ReadBufferFromS3.cpp
  dbms/src/IO/ReadBufferFromS3.h
  dbms/src/IO/SeekableReadBuffer.h
  dbms/src/IO/WriteBufferFromS3.cpp
  dbms/src/IO/WriteBufferFromS3.h
  dbms/src/IO/tests/gtest_aio_seek_back_after_eof.cpp
  dbms/src/Storages/StorageLog.cpp
  dbms/src/Storages/tests/gtest_storage_log.cpp
  dbms/src/Storages/tests/storage_log.cpp
  dbms/tests/integration/test_log_family_s3/__init__.py
  dbms/tests/integration/test_log_family_s3/configs/config.d/log_conf.xml
  dbms/tests/integration/test_log_family_s3/configs/config.xml
  dbms/tests/integration/test_log_family_s3/configs/users.xml
  dbms/tests/integration/test_log_family_s3/test.py
  utils/check-marks/main.cpp
Labels: can be tested

#8813 Merging #5342 (IN with function result).
  dbms/src/Interpreters/ActionsVisitor.cpp
  dbms/src/Interpreters/Set.cpp
  dbms/src/Interpreters/Set.h
  dbms/src/Parsers/ASTFunction.cpp
  dbms/src/Parsers/ASTLiteral.h
  dbms/tests/queries/0_stateless/00936_function_result_with_operator_in.reference
  dbms/tests/queries/0_stateless/00936_function_result_with_operator_in.sql
  dbms/tests/queries/0_stateless/00948_format_in_with_single_element.reference
  dbms/tests/queries/0_stateless/01071_in_array.reference
  dbms/tests/queries/0_stateless/01071_in_array.sql
Labels: pr-improvement

#5342 IN with function result
  dbms/src/Interpreters/ActionsVisitor.cpp
  dbms/src/Parsers/ASTFunction.cpp
  dbms/src/Parsers/ASTLiteral.h
  dbms/tests/queries/0_stateless/00936_function_result_with_operator_in.reference
  dbms/tests/queries/0_stateless/00936_function_result_with_operator_in.sql
  dbms/tests/queries/0_stateless/00948_format_in_with_single_element.reference
Labels: altinity, can be tested, pr-improvement

#8953 AvroConfluent fixes
  dbms/src/Core/Settings.h
  dbms/src/Core/SettingsCollection.cpp
  dbms/src/Core/SettingsCollection.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/AvroRowInputFormat.h
Labels: can be tested

#7451 Docs for toUnixTimestamp
  docs/en/query_language/functions/date_time_functions.md
  docs/ru/query_language/functions/date_time_functions.md
Labels: documentation, pr-documentation

#7447 Docs for `identity` function
  docs/en/query_language/functions/other_functions.md
  docs/ru/query_language/functions/other_functions.md
Labels: documentation, pr-documentation

#7428 Docs for multiSearchAllPositions() и multiSearchAllPositionsUTF8()
  docs/en/query_language/functions/string_search_functions.md
  docs/ru/query_language/functions/string_search_functions.md
Labels: documentation, pr-documentation

#7244 Docs(otherfunctions): Fix filesystemAvailable & filesystemFree & file…
  docs/en/query_language/functions/other_functions.md
  docs/ru/query_language/functions/other_functions.md
Labels: documentation, pr-documentation

#7478 Docs dateDiff
  docs/en/query_language/functions/date_time_functions.md
  docs/ru/query_language/functions/date_time_functions.md
Labels: documentation, pr-doc-fix

#7525 Docs(bitmapSubsetLimit): Added bitmapSubsetLimit description
  docs/en/query_language/agg_functions/reference.md
  docs/en/query_language/functions/bitmap_functions.md
  docs/ru/query_language/functions/bitmap_functions.md
Labels: documentation, pr-documentation

#7718 Docs: added concat & concatAssumeInjective
  docs/en/query_language/functions/string_functions.md
  docs/ru/query_language/functions/string_functions.md
Labels: documentation, pr-documentation

#7770 Docs: fixes for if conditional function
  docs/en/query_language/functions/conditional_functions.md
  docs/ru/query_language/functions/conditional_functions.md
Labels: documentation, pr-documentation

#7903 Docs for indexHint function
  docs/en/query_language/functions/other_functions.md
  docs/ru/getting_started/example_datasets/ontime.md
  docs/ru/query_language/functions/other_functions.md
Labels: documentation, pr-documentation

#8409 Docs(windowFunnel): The new description for`windowFunnel` function
  docs/en/query_language/agg_functions/parametric_functions.md
  docs/ru/query_language/agg_functions/parametric_functions.md
Labels: documentation, pr-doc-fix

#7942 Docs: fixed arrayDifference(arr) and arrayDistinct(arr)
  docs/en/query_language/functions/array_functions.md
  docs/ru/query_language/functions/array_functions.md
Labels: doc-alert, documentation, pr-documentation

#8099 Docs: retention function
  docs/en/query_language/agg_functions/parametric_functions.md
  docs/ru/query_language/agg_functions/parametric_functions.md
Labels: documentation, pr-documentation

#8965 Trigger CI
  docs/en/database_engines/mysql.md
Labels: pr-documentation

#8970 Docs fixes
  docs/en/operations/settings/settings.md
  docs/en/query_language/functions/date_time_functions.md
  docs/en/query_language/functions/string_search_functions.md
  docs/fa/operations/performance/sampling_query_profiler.md
  docs/ja/operations/performance/sampling_query_profiler.md
  docs/ru/operations/performance/sampling_query_profiler.md
  docs/ru/query_language/functions/introspection.md
  docs/ru/query_language/table_functions/mysql.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ja.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/tools/output.md
  docs/tools/translate.py
  docs/tools/util.py
  docs/zh/operations/performance/sampling_query_profiler.md
Labels: pr-documentation

#8967 Fix query 'ATTACH TABLE IF NOT EXISTS'
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/tests/queries/0_stateless/01073_attach_if_not_exists.reference
  dbms/tests/queries/0_stateless/01073_attach_if_not_exists.sql
Labels: pr-bugfix

#8963 CRLF in TSV output format
  dbms/src/Core/Settings.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Formats/FormatSettings.h
  dbms/src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.cpp
  dbms/tests/queries/0_stateless/01073_crlf_end_of_line.reference
  dbms/tests/queries/0_stateless/01073_crlf_end_of_line.sql
  dbms/tests/queries/0_stateless/01073_crlf_in_output_csv_format.sql
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-feature

#8972 Docs build fixes
  docs/en/query_language/agg_functions/parametric_functions.md
  docs/en/query_language/functions/ext_dict_functions.md
  docs/en/query_language/functions/other_functions.md
  docs/en/query_language/select.md
  docs/fa/data_types/datetime.md
  docs/fa/getting_started/install.md
  docs/ru/operations/server_settings/settings.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/system_tables.md
  docs/ru/query_language/functions/date_time_functions.md
  docs/ru/query_language/functions/other_functions.md
  docs/ru/query_language/functions/string_search_functions.md
  docs/zh/getting_started/install.md
  docs/zh/query_language/create.md
  docs/zh/query_language/select.md
Labels: pr-documentation

#8974 Trigger CI
  docs/en/database_engines/lazy.md
Labels: pr-documentation

#8983 Trigger CI
  docs/en/guides/apply_catboost_model.md
Labels: pr-documentation

#8984 more docs fixes
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#8303 Asynchronous updates in cache dictionaries
  dbms/src/Common/ErrorCodes.cpp
  dbms/src/Dictionaries/CacheDictionary.cpp
  dbms/src/Dictionaries/CacheDictionary.h
  dbms/src/Dictionaries/CacheDictionary.inc.h
  dbms/tests/config/ints_dictionary.xml
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/helpers/network.py
  dbms/tests/integration/test_dictionaries_all_layouts_and_sources/dictionary.py
  dbms/tests/integration/test_dictionaries_all_layouts_and_sources/test.py
  dbms/tests/integration/test_dictionary_allow_read_expired_keys/__init__.py
  dbms/tests/integration/test_dictionary_allow_read_expired_keys/configs/config.xml
  dbms/tests/integration/test_dictionary_allow_read_expired_keys/configs/dictionaries/cache_ints_dictionary.xml
  dbms/tests/integration/test_dictionary_allow_read_expired_keys/configs/users.xml
  dbms/tests/integration/test_dictionary_allow_read_expired_keys/test_default_reading.py
  dbms/tests/integration/test_dictionary_allow_read_expired_keys/test_dict_get.py
  dbms/tests/integration/test_dictionary_allow_read_expired_keys/test_dict_get_or_default.py
  dbms/tests/queries/0_stateless/01054_cache_dictionary_bunch_update.reference
  dbms/tests/queries/0_stateless/01054_cache_dictionary_bunch_update.sh
  dbms/tests/queries/0_stateless/01054_cache_dictionary_overflow_cell.reference
  dbms/tests/queries/0_stateless/01054_cache_dictionary_overflow_cell.sql
Labels: pr-performance

#9016 Fix for T64 data incompatibility
  dbms/src/Core/Types.h
Labels: no-docs-needed, pr-bugfix

#9024 Fix prewhere optimization.
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.h
  dbms/src/Storages/MergeTree/MergeTreeRangeReader.cpp
  dbms/tests/queries/0_stateless/01076_range_reader_segfault.reference
  dbms/tests/queries/0_stateless/01076_range_reader_segfault.sql
Labels: no-docs-needed, pr-bugfix

#9022 Fix mutations finalization task
  dbms/src/Storages/MergeTree/ActiveDataPartSet.h
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  dbms/tests/queries/0_stateless/01076_parallel_alter_replicated_zookeeper.reference
  dbms/tests/queries/0_stateless/01076_parallel_alter_replicated_zookeeper.sh
Labels: pr-bugfix

#8991 19.16 few fixes backported
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.cpp
  dbms/src/IO/readDecimalText.h
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.h
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/tests/integration/test_storage_kafka/configs/users.xml
  dbms/tests/integration/test_storage_kafka/test.py
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table.reference
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table.sql
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table_with_default_expression.reference
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table_with_default_expression.sql
  dbms/tests/queries/0_stateless/01070_to_decimal_or_null_exception.reference
  dbms/tests/queries/0_stateless/01070_to_decimal_or_null_exception.sql
Labels: altinity, can be tested, no-docs-needed

#9023 Handle properly the copy-pasted query with \n at end
  libs/libcommon/src/LineReader.cpp
Labels: no-docs-needed, pr-improvement

#8985 Avoid extra copying when demangling names.
  dbms/src/Functions/demange.cpp
  libs/libcommon/include/common/demangle.h
  libs/libcommon/src/demangle.cpp
Labels: no-docs-needed

#9031 Disable colored console by default
  libs/libloggers/loggers/Loggers.cpp
Labels: doc-alert

#8780 Suppress the last two MemorySanitizer failures
  dbms/tests/msan_suppressions.txt
Labels: st-hold

#9033 Another fix for T64
  dbms/src/Compression/CompressionCodecT64.cpp
  dbms/src/Core/Types.h
Labels: no-docs-needed, pr-bugfix

#9010 Trying to fix early constant folding
  dbms/src/Core/Settings.h
  dbms/src/DataTypes/IDataType.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/tests/queries/0_stateless/01076_array_join_prewhere_const_folding.reference
  dbms/tests/queries/0_stateless/01076_array_join_prewhere_const_folding.sql
Labels: doc-alert

#9028 Fixed buffer overflow on decoding small sequences with Gorilla and DoubleDelta
  dbms/src/Compression/CompressionCodecDoubleDelta.cpp
  dbms/src/Compression/CompressionCodecGorilla.cpp
  dbms/src/Compression/tests/gtest_compressionCodec.cpp
Labels: can be tested, no-docs-needed

#8892 DB::Exception: Parameters are out of bound when we have a constant on the SELECT clause
  dbms/src/Interpreters/sortBlock.cpp
  dbms/tests/queries/0_stateless/01072_select_constant_limit.reference
  dbms/tests/queries/0_stateless/01072_select_constant_limit.sql
Labels: no-docs-needed

#8993 20.1 few backports
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.h
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/tests/integration/test_storage_kafka/configs/users.xml
  dbms/tests/integration/test_storage_kafka/test.py
  dbms/tests/queries/0_stateless/01023_materialized_view_query_context.sql
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table.reference
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table.sql
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table_with_default_expression.reference
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table_with_default_expression.sql
Labels: can be tested, no-docs-needed

#8957 AvroConfluent integration test
  dbms/src/Core/SettingsCollection.cpp
  dbms/tests/integration/helpers/cluster.py
  dbms/tests/integration/helpers/docker_compose_kafka.yml
  dbms/tests/integration/image/Dockerfile
  dbms/tests/integration/test_format_avro_confluent/__init__.py
  dbms/tests/integration/test_format_avro_confluent/test.py
Labels: can be tested, no-docs-needed

#8992 19.17 backports
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.cpp
  dbms/src/Storages/Kafka/KafkaBlockInputStream.h
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  dbms/src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/tests/integration/test_storage_kafka/configs/users.xml
  dbms/tests/integration/test_storage_kafka/test.py
  dbms/tests/integration/test_ttl_move/__init__.py
  dbms/tests/queries/0_stateless/01023_materialized_view_query_context.sql
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table.reference
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table.sql
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table_with_default_expression.reference
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table_with_default_expression.sql
Labels: can be tested, no-docs-needed

#8988 Modify Materialized View query
  dbms/src/DataStreams/PushingToViewsBlockOutputStream.cpp
  dbms/src/Databases/DatabaseOrdinary.cpp
  dbms/src/Storages/StorageMaterializedView.cpp
  dbms/tests/queries/0_stateless/01019_alter_materialized_view_atomic.reference
  dbms/tests/queries/0_stateless/01019_alter_materialized_view_atomic.sh
  dbms/tests/queries/0_stateless/01019_alter_materialized_view_consistent.reference
  dbms/tests/queries/0_stateless/01019_alter_materialized_view_consistent.sh
  dbms/tests/queries/0_stateless/01019_alter_materialized_view_query.reference
  dbms/tests/queries/0_stateless/01019_alter_materialized_view_query.sql
Labels: doc-alert

#9047 Fix unit tests
  dbms/src/Common/tests/gtest_global_context.h
  dbms/src/IO/tests/gtest_aio_seek_back_after_eof.cpp
  dbms/src/Storages/tests/gtest_storage_log.cpp
  dbms/src/Storages/tests/gtest_transform_query_for_external_database.cpp
  docker/test/unit/Dockerfile
Labels: pr-build

#8958 Fixed error in JSONEachRow when data is in array.
  dbms/src/DataStreams/ParallelParsingBlockInputStream.cpp
  dbms/src/DataStreams/ParallelParsingBlockInputStream.h
  dbms/src/Formats/FormatFactory.cpp
  dbms/src/Processors/Formats/IInputFormat.h
  dbms/src/Processors/Formats/IRowInputFormat.h
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  dbms/src/Processors/Formats/Impl/JSONEachRowRowInputFormat.h
  dbms/tests/queries/0_stateless/01060_avro.sh
  dbms/tests/queries/0_stateless/01072_json_each_row_data_in_square_brackets.sql
  dbms/tests/queries/0_stateless/01076_json_each_row_array.reference
  dbms/tests/queries/0_stateless/01076_json_each_row_array.sh
Labels: no-docs-needed, pr-bugfix

#8926 Add row-level filter support to Distributed engine
  dbms/programs/server/TCPHandler.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/Context.h
  dbms/tests/integration/test_row_policy/configs/config.d/remote_servers.xml
  dbms/tests/integration/test_row_policy/configs/users.xml
  dbms/tests/integration/test_row_policy/normal_filters.xml
  dbms/tests/integration/test_row_policy/test.py
Labels: doc-alert, pr-improvement

#9020 DOCS-535: Markup fixes. Some remarks about formatting for Nested structures
  docs/en/interfaces/formats.md
  docs/en/query_language/functions/other_functions.md
  docs/ru/interfaces/formats.md
  docs/ru/query_language/functions/other_functions.md
Labels: pr-doc-fix

#8977 DOCS-463: Hierarhical dictionaries
  docs/en/query_language/dicts/external_dicts_dict_hierarchical.md
  docs/en/query_language/dicts/external_dicts_dict_structure.md
  docs/en/query_language/functions/ext_dict_functions.md
  docs/fa/query_language/dicts/external_dicts_dict_hierarchical.md
  docs/ja/query_language/dicts/external_dicts_dict_hierarchical.md
  docs/ru/query_language/dicts/external_dicts_dict_hierarchical.md
  docs/ru/query_language/dicts/external_dicts_dict_structure.md
  docs/ru/query_language/functions/ext_dict_functions.md
  docs/ru/query_language/functions/rounding_functions.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ja.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/query_language/dicts/external_dicts_dict_hierarchical.md
Labels: documentation, pr-doc-fix

#9015 Track the number of MySQL connections
  dbms/programs/server/MySQLHandler.h
  dbms/src/Common/CurrentMetrics.cpp
Labels: can be tested, doc-alert

#9048 Fix primary.idx corruption after delete mutation
  dbms/src/Interpreters/MutationsInterpreter.cpp
  dbms/src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/queries/0_stateless/01077_mutations_index_consistency.reference
  dbms/tests/queries/0_stateless/01077_mutations_index_consistency.sh
Labels: no-docs-needed, pr-bugfix

#9039 Enable OpenSSL support in Curl
  contrib/curl-cmake/CMakeLists.txt
  contrib/curl-cmake/curl_config.h
Labels: no-docs-needed, pr-bugfix

#9018 Less flappy performance test queries
  dbms/tests/performance/general_purpose_hashes.xml
  dbms/tests/performance/string_sort.xml
Labels: no-docs-needed

#9035 Some InterpreterSelectQuery refactoring
  dbms/src/DataStreams/CheckConstraintsBlockOutputStream.cpp
  dbms/src/Functions/FunctionsConversion.h
  dbms/src/Interpreters/ActionsVisitor.h
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/src/Interpreters/ExpressionAnalyzer.h
  dbms/src/Interpreters/InterpreterCreateQuery.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.h
  dbms/src/Interpreters/SubqueryForSet.cpp
  dbms/src/Interpreters/SubqueryForSet.h
  dbms/src/Interpreters/interpretSubquery.cpp
  dbms/src/Processors/Formats/Impl/ConstantExpressionTemplate.h
  dbms/src/Processors/Transforms/CreatingSetsTransform.h
  dbms/src/Processors/Transforms/ExpressionTransform.cpp
  dbms/src/Processors/Transforms/InflatingExpressionTransform.cpp
  dbms/src/Storages/Distributed/DistributedBlockOutputStream.cpp
  dbms/src/Storages/IStorage.cpp
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/Kafka/StorageKafka.h
  dbms/src/Storages/MergeTree/KeyCondition.h
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeRangeReader.h
  dbms/src/Storages/StorageDistributed.h
  dbms/src/Storages/StorageJoin.cpp
  dbms/src/Storages/StorageMerge.h
  dbms/src/Storages/StorageMySQL.h
  dbms/src/Storages/StorageNull.cpp
  dbms/src/Storages/registerStorages.h
  dbms/src/TableFunctions/TableFunctionNumbers.cpp
  dbms/src/TableFunctions/TableFunctionS3.cpp
  dbms/src/TableFunctions/TableFunctionValues.cpp
  dbms/src/TableFunctions/parseColumnsListForTableFunction.cpp
Labels: no-docs-needed

#9055 Docs: Fix example sql match to en
  docs/ja/index.md
Labels: documentation

#9067 Refactoring: actualize ExpressionAnalyzer public interface
  dbms/src/Interpreters/ExpressionAnalyzer.cpp
  dbms/src/Interpreters/ExpressionAnalyzer.h
  dbms/src/Interpreters/InterpreterSelectQuery.cpp
  dbms/src/Interpreters/InterpreterSelectQuery.h
Labels: no-docs-needed

#9050 Fix order of ranges in MergeTreeDataSelectExecutor
  dbms/src/Storages/MergeTree/MarkRange.h
  dbms/src/Storages/MergeTree/MergeTreeBlockReadUtils.cpp
  dbms/src/Storages/MergeTree/MergeTreeBlockReadUtils.h
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/src/Storages/MergeTree/MergeTreeRangeReader.cpp
  dbms/src/Storages/MergeTree/MergeTreeReadPool.cpp
  dbms/src/Storages/MergeTree/MergeTreeReader.h
  dbms/src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  dbms/tests/queries/0_stateless/01078_merge_tree_read_one_thread.reference
  dbms/tests/queries/0_stateless/01078_merge_tree_read_one_thread.sql
Labels: no-docs-needed, pr-bugfix

#9062 Fix some tests to support pytest with query tests
  dbms/tests/queries/0_stateless/00101_materialized_views_and_insert_without_explicit_database.sql
  dbms/tests/queries/0_stateless/00446_clear_column_in_partition_zookeeper.sql
  dbms/tests/queries/0_stateless/00508_materialized_view_to.sql
  dbms/tests/queries/0_stateless/00571_non_exist_database_when_create_materializ_view.sql
  dbms/tests/queries/0_stateless/00578_merge_table_shadow_virtual_column.sql
  dbms/tests/queries/0_stateless/00612_count.sql
  dbms/tests/queries/0_stateless/00612_shard_count.sql
  dbms/tests/queries/0_stateless/00740_database_in_nested_view.sql
  dbms/tests/queries/0_stateless/00751_default_databasename_for_view.reference
  dbms/tests/queries/0_stateless/00751_default_databasename_for_view.sql
  dbms/tests/queries/0_stateless/00800_versatile_storage_join.sql
  dbms/tests/queries/0_stateless/00870_t64_codec.sql
  dbms/tests/queries/0_stateless/00871_t64_codec_signed.sql
  dbms/tests/queries/0_stateless/00872_t64_bit_codec.sql
  dbms/tests/queries/0_stateless/00921_datetime64_basic.sql
  dbms/tests/queries/0_stateless/00926_geo_to_h3.sql
  dbms/tests/queries/0_stateless/00936_crc_functions.sql
  dbms/tests/queries/0_stateless/00940_order_by_read_in_order.sql
  dbms/tests/queries/0_stateless/00945_bloom_filter_index.sql
  dbms/tests/queries/0_stateless/00950_test_double_delta_codec.sql
  dbms/tests/queries/0_stateless/00950_test_gorilla_codec.sql
  dbms/tests/queries/0_stateless/00961_temporary_live_view_watch.sql
  dbms/tests/queries/0_stateless/00968_file_engine_in_subquery.sql
  dbms/tests/queries/0_stateless/00968_live_view_select_format_jsoneachrowwithprogress.sql
  dbms/tests/queries/0_stateless/00969_live_view_watch_format_jsoneachrowwithprogress.sql
  dbms/tests/queries/0_stateless/00972_live_view_select_1.sql
  dbms/tests/queries/0_stateless/00973_live_view_select.sql
  dbms/tests/queries/0_stateless/00973_live_view_with_subquery_select.sql
  dbms/tests/queries/0_stateless/00973_live_view_with_subquery_select_join.sql
  dbms/tests/queries/0_stateless/00973_live_view_with_subquery_select_join_no_alias.sql
  dbms/tests/queries/0_stateless/00973_live_view_with_subquery_select_nested.sql
  dbms/tests/queries/0_stateless/00973_live_view_with_subquery_select_nested_with_aggregation.sql
  dbms/tests/queries/0_stateless/00973_live_view_with_subquery_select_nested_with_aggregation_table_alias.sql
  dbms/tests/queries/0_stateless/00973_live_view_with_subquery_select_table_alias.sql
  dbms/tests/queries/0_stateless/00973_live_view_with_subquery_select_with_aggregation.sql
  dbms/tests/queries/0_stateless/00973_live_view_with_subquery_select_with_aggregation_in_subquery.sql
  dbms/tests/queries/0_stateless/00974_live_view_select_with_aggregation.sql
  dbms/tests/queries/0_stateless/00975_live_view_create.sql
  dbms/tests/queries/0_stateless/00975_recursive_materialized_view.sql
  dbms/tests/queries/0_stateless/00975_sample_prewhere_distributed.sql
  dbms/tests/queries/0_stateless/00976_live_view_select_version.sql
  dbms/tests/queries/0_stateless/00977_live_view_watch_events.sql
  dbms/tests/queries/0_stateless/00978_live_view_watch.sql
  dbms/tests/queries/0_stateless/00979_set_index_not.sql
  dbms/tests/queries/0_stateless/00995_optimize_read_in_order_with_aggregation.sql
  dbms/tests/queries/0_stateless/00997_set_index_array.sql
  dbms/tests/queries/0_stateless/01009_insert_select_data_loss.sql
  dbms/tests/queries/0_stateless/01011_test_create_as_skip_indices.sql
  dbms/tests/queries/0_stateless/01018_ddl_dictionaries_create.sql
  dbms/tests/queries/0_stateless/01019_Buffer_and_max_memory_usage.sql
  dbms/tests/queries/0_stateless/01021_only_tuple_columns.sql
  dbms/tests/queries/0_stateless/01030_storage_set_supports_read.sql
  dbms/tests/queries/0_stateless/01045_bloom_filter_null_array.sql
  dbms/tests/queries/0_stateless/01047_simple_aggregate_sizes_of_columns_bug.sql
  dbms/tests/queries/0_stateless/01064_incremental_streaming_from_2_src_with_feedback.sql
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table.sql
  dbms/tests/queries/0_stateless/01069_materialized_view_alter_target_table_with_default_expression.sql
  dbms/tests/queries/0_stateless/01073_attach_if_not_exists.sql
  dbms/tests/queries/0_stateless/01077_yet_another_prewhere_test.sql
Labels: pr-build

#8969 key and timestamp in Kafka producer
  dbms/src/Formats/FormatFactory.h
  dbms/src/Formats/tests/tab_separated_streams.cpp
  dbms/src/Processors/Formats/IRowOutputFormat.cpp
  dbms/src/Storages/Kafka/KafkaBlockOutputStream.cpp
  dbms/src/Storages/Kafka/StorageKafka.cpp
  dbms/src/Storages/Kafka/StorageKafka.h
  dbms/src/Storages/Kafka/WriteBufferToKafkaProducer.cpp
  dbms/src/Storages/Kafka/WriteBufferToKafkaProducer.h
  dbms/tests/integration/test_storage_kafka/test.py
Labels: can be tested, doc-alert

#9012 DOCS-481: Looker introduction in Russian.
  docs/en/interfaces/third-party/gui.md
  docs/ru/interfaces/third-party/gui.md
Labels: pr-documentation

#8765 Add simple memory profiler
  .clang-format
  dbms/src/Common/MemoryTracker.cpp
  dbms/src/Common/MemoryTracker.h
  dbms/src/Common/QueryProfiler.cpp
  dbms/src/Common/QueryProfiler.h
  dbms/src/Common/TraceCollector.cpp
  dbms/src/Common/TraceCollector.h
  dbms/src/Common/new_delete.cpp
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/ActionsVisitor.cpp
  dbms/src/Interpreters/Context.cpp
  dbms/src/Interpreters/ProcessList.cpp
  dbms/src/Interpreters/ThreadStatusExt.cpp
  dbms/src/Interpreters/TraceLog.cpp
  dbms/src/Interpreters/TraceLog.h
  libs/libcommon/include/ext/singleton.h
Labels: doc-alert

#9090 Update benchmark.html
  website/benchmark.html
Labels: no-docs-needed

#9076 Show Queries more like MySQL did
  dbms/src/Interpreters/InterpreterShowTablesQuery.cpp
  dbms/src/Parsers/ASTShowTablesQuery.cpp
  dbms/src/Parsers/ASTShowTablesQuery.h
  dbms/src/Parsers/ParserShowTablesQuery.cpp
  dbms/tests/queries/0_stateless/00080_show_tables_and_system_tables.reference
  dbms/tests/queries/0_stateless/00080_show_tables_and_system_tables.sql
  docs/en/query_language/show.md
Labels: doc-alert

#9057 Docs: Translate distinctive_features.md to ja
  docs/ja/introduction/distinctive_features.md
Labels: documentation

#9085 DOCS-440: Updated ASOF JOIN description
  docs/en/query_language/select.md
  docs/ru/query_language/select.md
Labels: pr-documentation

#8436 [WIP] Basic interface for polygon dictionaries
  dbms/src/Dictionaries/DictionaryStructure.cpp
  dbms/src/Dictionaries/PolygonDictionary.cpp
  dbms/src/Dictionaries/PolygonDictionary.h
  dbms/src/Dictionaries/registerDictionaries.cpp
  dbms/src/Dictionaries/registerDictionaries.h
  dbms/src/Functions/FunctionsExternalDictionaries.h
  dbms/tests/queries/0_stateless/01037_polygon_dict_multi_polygons.reference
  dbms/tests/queries/0_stateless/01037_polygon_dict_multi_polygons.sql
  dbms/tests/queries/0_stateless/01037_polygon_dict_simple_polygons.reference
  dbms/tests/queries/0_stateless/01037_polygon_dict_simple_polygons.sql
Labels: can be tested, doc-alert

#9107 Added performance test for min_group_by / order_by_limit1
  dbms/tests/performance/mingroupby-orderbylimit1.xml
Labels: can be tested

#9116 Experimental website/docs tuning
  .gitignore
  docs/tools/build.py
  docs/tools/mkdocs-material-theme/assets/stylesheets/custom.css
  docs/tools/release.sh
  docs/tools/website.py
  website/images/clickhouse-black.svg
  website/images/clickhouse-white.svg
  website/index.css
  website/index.html
Labels: pr-documentation

#9122 Test backport automatics
  utils/github/__init__.py
Labels: pr-bugfix

#9106 Fix segfault in MergeTreeRangeReader
  dbms/src/Storages/MergeTree/MergeTreeRangeReader.cpp
  dbms/tests/queries/0_stateless/01079_new_range_reader_segfault.reference
  dbms/tests/queries/0_stateless/01079_new_range_reader_segfault.sql
Labels: no-docs-needed, pr-bugfix

#9130 Introduce adopters page + fix a bunch of lost symlinks
  docs/en/introduction/adopters.md
  docs/fa/development/build_cross_arm.md
  docs/fa/development/build_cross_osx.md
  docs/fa/guides/apply_catboost_model.md
  docs/fa/guides/index.md
  docs/fa/interfaces/mysql.md
  docs/fa/introduction/adopters.md
  docs/ja/interfaces/mysql.md
  docs/ja/introduction/adopters.md
  docs/ru/database_engines/lazy.md
  docs/ru/development/build_cross_arm.md
  docs/ru/introduction/adopters.md
  docs/ru/operations/utils/clickhouse-benchmark.md
  docs/toc_en.yml
  docs/toc_fa.yml
  docs/toc_ja.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/tools/make_links.sh
  docs/zh/database_engines/lazy.md
  docs/zh/development/build_cross_arm.md
  docs/zh/guides/apply_catboost_model.md
  docs/zh/guides/index.md
  docs/zh/interfaces/mysql.md
  docs/zh/introduction/adopters.md
Labels: pr-documentation

#9133 Extend adopters page
  docs/en/introduction/adopters.md
Labels: pr-documentation

#8943 [wip] Improve flush performance in SystemLog
  dbms/src/Common/Config/ConfigProcessor.cpp
  dbms/src/Interpreters/SystemLog.h
  dbms/src/Interpreters/TextLog.cpp
  dbms/src/Interpreters/TextLog.h
Labels: no-docs-needed

#9100 Prevent abort on shutdown if the fs is readonly
  dbms/src/Storages/StorageMergeTree.cpp
Labels: no-docs-needed

#9091 Implement bit operations for FixedString datatype for doing bits operation on a bitset
  dbms/src/Functions/FunctionBinaryArithmetic.h
  dbms/src/Functions/FunctionUnaryArithmetic.h
  dbms/src/Functions/abs.cpp
  dbms/src/Functions/bitAnd.cpp
  dbms/src/Functions/bitBoolMaskAnd.cpp
  dbms/src/Functions/bitBoolMaskOr.cpp
  dbms/src/Functions/bitCount.cpp
  dbms/src/Functions/bitNot.cpp
  dbms/src/Functions/bitOr.cpp
  dbms/src/Functions/bitRotateLeft.cpp
  dbms/src/Functions/bitRotateRight.cpp
  dbms/src/Functions/bitShiftLeft.cpp
  dbms/src/Functions/bitShiftRight.cpp
  dbms/src/Functions/bitSwapLastTwo.cpp
  dbms/src/Functions/bitTest.cpp
  dbms/src/Functions/bitWrapperFunc.cpp
  dbms/src/Functions/bitXor.cpp
  dbms/src/Functions/divide.cpp
  dbms/src/Functions/gcd.cpp
  dbms/src/Functions/greatest.cpp
  dbms/src/Functions/intDiv.cpp
  dbms/src/Functions/intDiv.h
  dbms/src/Functions/intDivOrZero.cpp
  dbms/src/Functions/intExp10.cpp
  dbms/src/Functions/intExp2.cpp
  dbms/src/Functions/lcm.cpp
  dbms/src/Functions/least.cpp
  dbms/src/Functions/minus.cpp
  dbms/src/Functions/modulo.cpp
  dbms/src/Functions/multiply.cpp
  dbms/src/Functions/negate.cpp
  dbms/src/Functions/plus.cpp
  dbms/src/Functions/roundAge.cpp
  dbms/src/Functions/roundDuration.cpp
  dbms/src/Functions/roundToExp2.cpp
  dbms/tests/performance/bit_operations_fixed_string.xml
  dbms/tests/queries/0_stateless/01079_bit_operations_using_bitset.reference
  dbms/tests/queries/0_stateless/01079_bit_operations_using_bitset.sql
Labels: doc-alert

#9109 translation to Russian MOVE PARTITION TO TABLE
  docs/ru/query_language/alter.md
Labels: documentation, pr-doc-fix

#9129 Added disks section for stateless functional testing.
  dbms/tests/config/disks.xml
  docker/test/stateless/Dockerfile
Labels: no-docs-needed

#9041 Build fixes
  cmake/find/h3.cmake
  cmake/find/zlib.cmake
  cmake/tools.cmake
  contrib/CMakeLists.txt
  contrib/arrow-cmake/CMakeLists.txt
  contrib/boost-cmake/CMakeLists.txt
  contrib/libxml2-cmake/CMakeLists.txt
  contrib/replxx-cmake/CMakeLists.txt
  dbms/CMakeLists.txt
  dbms/src/Functions/geoToH3.cpp
  dbms/src/Functions/h3EdgeAngle.cpp
  dbms/src/Functions/h3EdgeLengthM.cpp
  dbms/src/Functions/h3GetResolution.cpp
  dbms/src/Functions/h3IsValid.cpp
  dbms/src/Functions/h3kRing.cpp
  debian/pbuilder-hooks/B90test-server
Labels: no-docs-needed

#9061 Less flappy performance test queries
  dbms/tests/performance/cpu_synthetic.xml
  dbms/tests/performance/general_purpose_hashes_on_UUID.xml
Labels: no-docs-needed

#9105 Make some performance tests faster.
  dbms/tests/performance/bloom_filter.xml
  dbms/tests/performance/codecs_int_insert.xml
  dbms/tests/performance/inserts_arrays_lowcardinality.xml
  dbms/tests/performance/ngram_distance.xml
  dbms/tests/performance/set_hits.xml
  dbms/tests/performance/sum_map.xml
Labels: no-docs-needed

#9131 Better CREATE syntax for temporary LIVE VIEW
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Parsers/ASTCreateQuery.cpp
  dbms/src/Parsers/ASTCreateQuery.h
  dbms/src/Parsers/ParserCreateQuery.cpp
  dbms/src/Storages/LiveView/StorageLiveView.cpp
  dbms/tests/queries/0_stateless/00961_temporary_live_view_watch.sql
  dbms/tests/queries/0_stateless/00962_temporary_live_view_watch_live.py
  dbms/tests/queries/0_stateless/00963_temporary_live_view_watch_live_timeout.py.disabled
  dbms/tests/queries/0_stateless/00964_live_view_watch_events_heartbeat.py
  dbms/tests/queries/0_stateless/00965_live_view_watch_heartbeat.py
  dbms/tests/queries/0_stateless/00980_create_temporary_live_view.sql
  dbms/tests/queries/0_stateless/00991_temporary_live_view_watch_events_heartbeat.python
  dbms/tests/queries/0_stateless/00991_temporary_live_view_watch_live.python
Labels: backward compatibility, doc-alert, pr-improvement

#9135 tests for #6143 and #2314
  dbms/tests/queries/0_stateless/01080_check_for_error_incorrect_size_of_nested_column.reference
  dbms/tests/queries/0_stateless/01080_check_for_error_incorrect_size_of_nested_column.sql
  dbms/tests/queries/0_stateless/01080_engine_merge_prewhere_tupleelement_error.reference
  dbms/tests/queries/0_stateless/01080_engine_merge_prewhere_tupleelement_error.sql
Labels: can be tested

#9126 Fixed #5104. Return 503 status in /replicas_status if not ok
  dbms/programs/server/ReplicasStatusHandler.cpp
  docs/en/operations/monitoring.md
  docs/ru/operations/monitoring.md
  docs/zh/operations/monitoring.md
Labels: can be tested, doc-alert

#9052 Use correct implementation for reinterpretAsFixedString
  dbms/src/Functions/FunctionsReinterpret.h
  dbms/tests/queries/0_stateless/01079_reinterpret_as_fixed_string.reference
  dbms/tests/queries/0_stateless/01079_reinterpret_as_fixed_string.sql
Labels: can be tested, no-docs-needed

#8911 Changed format for path in replicas
  dbms/src/Interpreters/Cluster.cpp
  dbms/src/Interpreters/Cluster.h
  dbms/src/Storages/Distributed/DirectoryMonitor.cpp
  dbms/tests/integration/test_distributed_format/test.py
  dbms/tests/integration/test_distributed_storage_configuration/test.py
Labels: no-docs-needed

#9014 Fix joinGet with nullable return types.
  dbms/src/Functions/FunctionJoinGet.h
  dbms/tests/queries/0_stateless/01080_join_get_null.reference
  dbms/tests/queries/0_stateless/01080_join_get_null.sql
Labels: no-docs-needed

#9150 Fix bug in "demangle" function
  dbms/src/Functions/demange.cpp
  dbms/tests/queries/0_stateless/01081_demangle.reference
  dbms/tests/queries/0_stateless/01081_demangle.sql
Labels: no-docs-needed

#9049 Build with lld for gcc in CI images.
  docker/packager/binary/Dockerfile
  docker/packager/deb/Dockerfile
Labels: pr-build

#9111 Doc change. identity -- translated to Russian
  docs/ru/query_language/functions/other_functions.md
Labels: documentation, pr-doc-fix

#9110 Doc change. Rename the chapter {alter_move-partition} to {alter_move_to_table-partition}
  docs/en/query_language/alter.md
Labels: documentation, pr-doc-fix

#9112 DOCS-443: merge_max_block_size for MergeTree description
  docs/en/operations/table_engines/mergetree.md
  docs/ru/operations/table_engines/mergetree.md
Labels: pr-documentation

#9155 clickhouse-obfuscator: allow to generate more data than was in source
  dbms/programs/obfuscator/Obfuscator.cpp
  dbms/tests/queries/1_stateful/00092_obfuscator.reference
  dbms/tests/queries/1_stateful/00092_obfuscator.sh
  dbms/tests/queries/shell_config.sh
Labels: no-docs-needed

#9156 Make SPLIT_SHARED_LIBRARIES=OFF more robust
  dbms/CMakeLists.txt
Labels: no-docs-needed

#9197 Show documentation revision in footer
  docs/tools/build.py
  docs/tools/mkdocs-material-theme/partials/social.html
  docs/tools/website.py
  website/index.html
  website/sitemap_static.xml
Labels: pr-documentation

#9188 add documentation for system.metric_log table
  docs/en/operations/system_tables.md
  docs/ru/operations/system_tables.md
Labels: pr-documentation

#9210 Add description for some profiling events
  dbms/src/Common/ProfileEvents.cpp
Labels: can be tested, pr-documentation

#9201 Fix mistake introduced in #9050.
  dbms/src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  dbms/tests/queries/0_stateless/01079_order_by_pk.reference
  dbms/tests/queries/0_stateless/01079_order_by_pk.sql
Labels: no-docs-needed, pr-bugfix

#9199 pure grpc
  .gitmodules
Labels: can be tested

#9192 Fix typo in file name when reporting version file duplicates
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
Labels: no-docs-needed

#8598 Pass TTL rule info with block to other replicas
  dbms/src/Storages/MergeTree/DataPartsExchange.cpp
  dbms/tests/integration/test_ttl_move/test.py
Labels: no-docs-needed

#9224 Docs: Translated introduction/performance.md to ja
  docs/ja/introduction/performance.md
Labels: pr-documentation

#9218 Fix typo in decumentation
  docs/en/operations/table_engines/replication.md
Labels: pr-documentation

#9190 DOCS-545: Yandex Datalens data analytics and visualization tool
  docs/en/interfaces/third-party/gui.md
  docs/ja/introduction/performance.md
  docs/ru/interfaces/third-party/gui.md
Labels: pr-doc-fix

#9225 Enable metric_log by default
  dbms/programs/server/config.xml
Labels: no-docs-needed

#9141 DOCS-442: RU translation of the docs on DDL queries creating extenal dictionary
  docs/en/query_language/create.md
  docs/en/query_language/dicts/external_dicts.md
  docs/en/query_language/dicts/external_dicts_dict.md
  docs/en/query_language/dicts/external_dicts_dict_layout.md
  docs/en/query_language/dicts/external_dicts_dict_structure.md
  docs/en/query_language/show.md
  docs/ru/query_language/create.md
  docs/ru/query_language/dicts/external_dicts.md
  docs/ru/query_language/dicts/external_dicts_dict.md
  docs/ru/query_language/dicts/external_dicts_dict_layout.md
  docs/ru/query_language/dicts/external_dicts_dict_lifetime.md
  docs/ru/query_language/dicts/external_dicts_dict_sources.md
  docs/ru/query_language/dicts/external_dicts_dict_structure.md
  docs/ru/query_language/show.md
Labels: pr-documentation

#9223 In KeyCondition: Fixed execution of inversed predicates for non-strictly monotinic functional index
  dbms/src/Storages/MergeTree/KeyCondition.cpp
  dbms/src/Storages/MergeTree/KeyCondition.h
  dbms/tests/queries/0_stateless/01083_functional_index_in_mergetree.reference
  dbms/tests/queries/0_stateless/01083_functional_index_in_mergetree.sql
Labels: no-docs-needed, pr-bugfix

#9229 Fix CROSS to INNER JOIN rewrite with [NOT] LIKE
  dbms/src/Interpreters/CrossToInnerJoinVisitor.cpp
  dbms/src/Interpreters/misc.h
  dbms/tests/queries/0_stateless/01083_cross_to_inner_with_like.reference
  dbms/tests/queries/0_stateless/01083_cross_to_inner_with_like.sql
Labels: no-docs-needed

#9221 Improve stack trace formatting for Poco and std exceptions
  dbms/src/Common/Exception.cpp
Labels: can be tested, no-docs-needed

#9211 Remove useless code
  dbms/src/Compression/ICompressionCodec.cpp
Labels: no-docs-needed

#9198 clustercopier.cpp file splitting
  dbms/programs/copier/Aliases.h
  dbms/programs/copier/CMakeLists.txt
  dbms/programs/copier/ClusterCopier.cpp
  dbms/programs/copier/ClusterCopier.h
  dbms/programs/copier/ClusterCopierApp.cpp
  dbms/programs/copier/ClusterCopierApp.h
  dbms/programs/copier/ClusterPartition.h
  dbms/programs/copier/Internals.cpp
  dbms/programs/copier/Internals.h
  dbms/programs/copier/ShardPartition.h
  dbms/programs/copier/TaskCluster.h
  dbms/programs/copier/TaskTableAndShard.h
  dbms/programs/copier/ZooKeeperStaff.h
Labels: no-docs-needed

#9231 Get marks from first non-alias column in Log storage
  dbms/src/Storages/StorageLog.cpp
  dbms/tests/queries/0_stateless/01083_log_first_column_alias.reference
  dbms/tests/queries/0_stateless/01083_log_first_column_alias.sql
Labels: pr-bugfix

#9228 Update collapsing algorithm doc to match actual code
  docs/en/operations/table_engines/collapsingmergetree.md
  docs/zh/operations/table_engines/collapsingmergetree.md
Labels: pr-doc-fix

#9245 Update documentation for system.replicas
  docs/en/operations/system_tables.md
  docs/ru/operations/system_tables.md
Labels: pr-doc-fix

#9254 Fix NDEBUG in PipelineExecutor.
  dbms/src/Processors/Executors/PipelineExecutor.cpp
Labels: no-docs-needed, pr-codecleanup

#9255 Don't use refs on vanishing objects
  dbms/src/Storages/StorageLog.cpp
Labels: pr-bugfix

#9227 Simplier alter prepare
  dbms/src/Interpreters/InterpreterAlterQuery.cpp
  dbms/src/Interpreters/evaluateMissingDefaults.cpp
  dbms/src/Storages/AlterCommands.cpp
  dbms/src/Storages/AlterCommands.h
  dbms/tests/queries/0_stateless/00061_merge_tree_alter.reference
  dbms/tests/queries/0_stateless/00062_replicated_merge_tree_alter_zookeeper.reference
  dbms/tests/queries/0_stateless/00062_replicated_merge_tree_alter_zookeeper.sql
  dbms/tests/queries/0_stateless/00079_defaulted_columns.reference
  dbms/tests/queries/0_stateless/00079_defaulted_columns.sql
  dbms/tests/queries/0_stateless/00229_prewhere_column_missing.sql
  dbms/tests/queries/0_stateless/00262_alter_alias.sql
  dbms/tests/queries/0_stateless/00575_illegal_column_exception_when_drop_depen_column.sh
  dbms/tests/queries/0_stateless/00721_force_by_identical_result_after_merge_zookeeper.sql
  dbms/tests/queries/0_stateless/00916_add_materialized_column_after.sql
  dbms/tests/queries/0_stateless/01079_alter_default_zookeeper.reference
  dbms/tests/queries/0_stateless/01079_alter_default_zookeeper.sql
Labels: doc-alert, pr-bugfix, pr-improvement

#9217 Fix remove parts from mutations
  dbms/src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  dbms/tests/queries/0_stateless/01076_parallel_alter_replicated_zookeeper.sh
Labels: no-docs-needed, pr-bugfix

#9163 Fixed `match` and `extract` when haystack has zero bytes.
  dbms/src/Common/OptimizedRegularExpression.cpp
  dbms/src/Common/OptimizedRegularExpression.h
  dbms/src/Common/StringSearcher.h
  dbms/src/DataStreams/IBlockInputStream.h
  dbms/src/Functions/FunctionsStringRegex.cpp
  dbms/src/Functions/FunctionsStringSearch.cpp
  dbms/src/Functions/FunctionsStringSearch.h
  dbms/src/Functions/FunctionsVisitParam.h
  dbms/src/IO/WriteBuffer.h
  dbms/tests/queries/0_stateless/01083_match_zero_byte.reference
  dbms/tests/queries/0_stateless/01083_match_zero_byte.sql
Labels: no-docs-needed

#9264 Small corrections in Russian documentation
  docs/ru/query_language/functions/json_functions.md
Labels: documentation

#9258 Disk->writeFile() returns WriteBufferFromFileBase.
  dbms/src/Common/CounterInFile.h
  dbms/src/Disks/DiskLocal.cpp
  dbms/src/Disks/DiskLocal.h
  dbms/src/Disks/DiskMemory.cpp
  dbms/src/Disks/DiskMemory.h
  dbms/src/Disks/DiskS3.cpp
  dbms/src/Disks/DiskS3.h
  dbms/src/Disks/IDisk.h
  dbms/src/IO/WriteBufferAIO.cpp
  dbms/src/IO/WriteBufferAIO.h
  dbms/src/IO/WriteBufferFromFileBase.cpp
  dbms/src/IO/WriteBufferFromFileBase.h
  dbms/src/IO/WriteBufferFromFileDescriptor.cpp
  dbms/src/IO/WriteBufferFromFileDescriptor.h
  dbms/src/IO/WriteBufferFromS3.cpp
  dbms/src/IO/WriteBufferFromS3.h
  dbms/src/Storages/StorageLog.cpp
  dbms/src/Storages/StorageStripeLog.cpp
  dbms/src/Storages/StorageTinyLog.cpp
Labels: no-docs-needed

#9279 Fixed OptimizedRegularExpression in case of empty regexp
  dbms/src/Common/OptimizedRegularExpression.cpp
  dbms/tests/queries/0_stateless/01084_regexp_empty.reference
  dbms/tests/queries/0_stateless/01084_regexp_empty.sql
Labels: pr-bugfix

#9295 Disable shared website testing environment in favour of personal ones
  docs/tools/release.sh
Labels: pr-documentation

#9297 Create cloud.md
  docs/en/commercial/cloud.md
  docs/toc_en.yml
Labels: pr-documentation

#9296 Temporary tactical move
  website/index.html
Labels: pr-documentation

#9257 Space check from path/data/ for default disk
  dbms/src/Disks/DiskLocal.cpp
Labels: no-docs-needed

#9288 Enable secure sockets in stateless tests
  dbms/tests/config/dhparam.pem
  dbms/tests/config/secure_ports.xml
  dbms/tests/config/server.crt
  dbms/tests/config/server.key
  dbms/tests/queries/0_stateless/00505_secure.sh
  dbms/tests/queries/0_stateless/00505_shard_secure.sh
  docker/test/stateless/Dockerfile
  docker/test/stateless_with_coverage/run.sh
Labels: no-docs-needed, pr-build

#9299 Update adopters.md
  docs/en/introduction/adopters.md
Labels: pr-documentation

#9301 Markup fix
  website/index.html
Labels: pr-documentation

#9289 Fix 9134
  dbms/src/DataStreams/ConvertingBlockInputStream.cpp
  dbms/tests/integration/test_aggregation_memory_efficient/__init__.py
  dbms/tests/integration/test_aggregation_memory_efficient/test.py
  dbms/tests/queries/0_stateless/01083_aggregation_memory_efficient_bug.reference
  dbms/tests/queries/0_stateless/01083_aggregation_memory_efficient_bug.sql
Labels: no-docs-needed, pr-bugfix, v19.17, v19.18, v20.1

#9290 Do not color logs by default if stderr is not a tty
  base/loggers/loggers/Loggers.cpp
Labels: usability

#9293 Made ColumnVector::replicate() implementation 3x faster
  dbms/src/Columns/ColumnVector.cpp
  dbms/src/Columns/tests/gtest_column_unique.cpp
Labels: pr-performance

#9305 Update cloud.md
  docs/en/commercial/cloud.md
Labels: pr-documentation

#9252 DOCS-446: ALTER TTL
  docs/en/operations/table_engines/mergetree.md
  docs/en/query_language/alter.md
  docs/ru/operations/table_engines/mergetree.md
  docs/ru/query_language/alter.md
  docs/zh/operations/table_engines/mergetree.md
Labels: pr-doc-fix

#9310 Fixed broken links in zh docs; added english stubs for missing formats (please help translate them).
  docs/en/interfaces/formats.md
  docs/zh/interfaces/formats.md
Labels: pr-doc-fix

#9011 ISSUES-8971: fix predicate optimizer with view storage & keep test
  dbms/src/Interpreters/InterpreterExplainQuery.cpp
  dbms/src/Storages/StorageView.cpp
  dbms/src/Storages/StorageView.h
  dbms/tests/queries/0_stateless/01076_predicate_optimizer_with_view.reference
  dbms/tests/queries/0_stateless/01076_predicate_optimizer_with_view.sql
  dbms/tests/queries/bugs/00597_push_down_predicate.sql
Labels: no-docs-needed

#9262 Fix expressions in metadata
  dbms/programs/server/config.d/ssl.xml
  dbms/programs/server/config.xml
  dbms/src/Dictionaries/ClickHouseDictionarySource.cpp
  dbms/src/Interpreters/InterpreterCreateQuery.cpp
  dbms/src/Interpreters/evaluateConstantExpression.cpp
  dbms/src/Interpreters/evaluateConstantExpression.h
  dbms/src/Interpreters/getClusterName.cpp
  dbms/src/Interpreters/getClusterName.h
  dbms/src/Storages/MergeTree/registerStorageMergeTree.cpp
  dbms/src/Storages/StorageBuffer.cpp
  dbms/src/Storages/StorageDistributed.cpp
  dbms/src/Storages/StorageFactory.cpp
  dbms/src/Storages/StorageMerge.cpp
  dbms/src/TableFunctions/TableFunctionMerge.cpp
  dbms/src/TableFunctions/TableFunctionRemote.cpp
  dbms/tests/config/secure_ports.xml
  dbms/tests/queries/0_stateless/00987_distributed_stack_overflow.sql
  dbms/tests/queries/0_stateless/01033_storage_odbc_parsing_exception_check.reference
  dbms/tests/queries/0_stateless/01083_expressions_in_engine_arguments.reference
  dbms/tests/queries/0_stateless/01083_expressions_in_engine_arguments.sql
  docker/test/stateless/Dockerfile
  docker/test/stateless_with_coverage/run.sh
Labels: no-docs-needed, pr-bugfix

#9319 Added the prestable tag
  docs/en/getting_started/install.md
Labels: pr-documentation

#8775 Add query 'ALTER ... MATERIALIZE TTL'
  dbms/src/Access/AccessFlags.h
  dbms/src/Access/AccessType.h
  dbms/src/DataStreams/TTLBlockInputStream.cpp
  dbms/src/Interpreters/InterpreterAlterQuery.cpp
  dbms/src/Interpreters/MutationsInterpreter.cpp
  dbms/src/Parsers/ASTAlterQuery.cpp
  dbms/src/Parsers/ASTAlterQuery.h
  dbms/src/Parsers/ParserAlterQuery.cpp
  dbms/src/Storages/ColumnDependency.h
  dbms/src/Storages/IStorage.h
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.h
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  dbms/src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  dbms/src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  dbms/src/Storages/MutationCommands.cpp
  dbms/src/Storages/MutationCommands.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/src/Storages/StorageReplicatedMergeTree.cpp
  dbms/tests/queries/0_stateless/01070_materialize_ttl.reference
  dbms/tests/queries/0_stateless/01070_materialize_ttl.sql
  dbms/tests/queries/0_stateless/01070_mutations_with_dependencies.reference
  dbms/tests/queries/0_stateless/01070_mutations_with_dependencies.sql
Labels: doc-alert, pr-feature

#9322 Fixed inconsistent whitespaces in log messages of Processors
  dbms/src/Processors/Executors/PipelineExecutor.cpp
Labels: pr-bugfix

#9324 Remove garbage from FunctionsComparison; better build time and less template instantiations
  dbms/src/Functions/FunctionsComparison.h
  dbms/src/Functions/equals.cpp
  dbms/src/Functions/greater.cpp
  dbms/src/Functions/greaterOrEquals.cpp
  dbms/src/Functions/less.cpp
  dbms/src/Functions/lessOrEquals.cpp
  dbms/src/Functions/notEquals.cpp
Labels: pr-build

#9316 Parquet performance improvements
  cmake/find/parquet.cmake
  dbms/src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  dbms/src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  dbms/src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  dbms/tests/queries/0_stateless/00900_parquet_load.reference
Labels: can be tested

#9348 adjust dockerfile used in tests to allow odbc roundtrip
  dbms/tests/queries/0_stateless/01086_odbc_roundtrip.reference
  dbms/tests/queries/0_stateless/01086_odbc_roundtrip.sql
  docker/test/stateless/Dockerfile
Labels: can be tested

#9362 Added test with max_execution_time.
  dbms/tests/queries/0_stateless/01039_mergetree_exec_time.reference
  dbms/tests/queries/0_stateless/01039_mergetree_exec_time.sql
Labels: no-docs-needed, pr-codecleanup

#9356 Fix possible race in BlockIO.
  dbms/src/DataStreams/BlockIO.h
Labels: no-docs-needed

#9368 Remove useless dependency from requirements.txt
  docs/tools/requirements.txt
Labels: pr-documentation

#9376 DOCS-561: Repaired docs build
  docs/fa/interfaces/formats.md
  docs/toc_fa.yml
  docs/toc_ja.yml
  docs/toc_ru.yml
  docs/toc_zh.yml
  docs/zh/interfaces/formats.md
  docs/zh/query_language/functions/other_functions.md
Labels: pr-doc-fix

#9365 Fixed UBSan report in MergeTreeIndexSet
  dbms/src/Disks/DiskSpaceMonitor.cpp
  dbms/src/Disks/DiskSpaceMonitor.h
  dbms/src/Functions/bitWrapperFunc.cpp
  dbms/src/Storages/MergeTree/MergeTreeData.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexSet.cpp
  dbms/src/Storages/MergeTree/MergeTreeIndexSet.h
  dbms/src/Storages/StorageMergeTree.cpp
  dbms/tests/queries/0_stateless/01087_index_set_ubsan.reference
  dbms/tests/queries/0_stateless/01087_index_set_ubsan.sql
Labels: no-docs-needed

#9274 Enable joined_subquery_requires_alias by default
  dbms/src/Core/Settings.h
  dbms/src/Interpreters/SyntaxAnalyzer.cpp
  dbms/tests/queries/0_stateless/00634_performance_introspection_and_logging.sh
  dbms/tests/queries/0_stateless/00952_input_function.sh
  dbms/tests/queries/0_stateless/00980_full_join_crash_fancyqlx.sql
  dbms/tests/queries/0_stateless/00999_join_not_nullable_types.reference
  dbms/tests/queries/0_stateless/00999_join_not_nullable_types.sql
  dbms/tests/queries/0_stateless/01008_materialized_view_henyihanwobushi.sql
  dbms/tests/queries/0_stateless/01009_insert_select_data_loss.sql
  dbms/tests/queries/0_stateless/01010_pmj_on_disk.sql
  dbms/tests/queries/0_stateless/01010_pmj_right_table_memory_limits.sql
  dbms/tests/queries/0_stateless/01015_empty_in_inner_right_join.sql
  dbms/tests/queries/0_stateless/01046_materialized_view_with_join_over_distributed.sql
  dbms/tests/queries/0_stateless/01049_join_low_card_crash.sql
  dbms/tests/queries/0_stateless/01050_engine_join_crash.sql
  dbms/tests/queries/0_stateless/01050_engine_join_view_crash.sql
  dbms/tests/queries/0_stateless/01056_predicate_optimizer_bugs.sql
  dbms/tests/queries/0_stateless/01062_pm_all_join_with_block_continuation.sql
  dbms/tests/queries/0_stateless/01063_create_column_set.sql
  dbms/tests/queries/0_stateless/01064_incremental_streaming_from_2_src_with_feedback.sql
  dbms/tests/queries/0_stateless/01064_pm_all_join_const_and_nullable.sql
  dbms/tests/queries/0_stateless/01067_join_null.sql
  dbms/tests/queries/0_stateless/01081_PartialSortingTransform_full_column.sql
Labels: doc-alert

#9384 fix sed with binary results (sed: RE error: illegal byte sequence)
  dbms/tests/clickhouse-test
Labels: can be tested, no-docs-needed

#9367 fix stack overflow issue when using initializer_list
  dbms/src/Common/COW.h
  dbms/src/DataStreams/tests/collapsing_sorted_stream.cpp
Labels: can be tested, no-docs-needed, pr-build

#9385 Fix typo
  docs/en/operations/settings/constraints_on_settings.md
  docs/ru/operations/settings/constraints_on_settings.md
Labels: pr-doc-fix
