Repository ClickHouse/ClickHouse, pull requests merged in 2020-05, with the labels that each got.

#10587 Move initialization of DatabaseWithDictionaries to constructor.
  src/Databases/DatabaseOrdinary.cpp
  src/Databases/DatabaseWithDictionaries.cpp
  src/Databases/DatabaseWithDictionaries.h
  src/Interpreters/ExternalLoader.cpp
  src/Interpreters/ExternalLoader.h
  src/Interpreters/ExternalLoaderDatabaseConfigRepository.cpp
  src/Interpreters/ExternalLoaderDatabaseConfigRepository.h
Labels: pr-bugfix

#10615 Cherry-pick half of #10585
  CMakeLists.txt
Labels: pr-build, pr-non-significant

#10544 Implementation of new system metrics provider (Procfs)
  programs/server/Server.cpp
  src/Common/ProcfsMetricsProvider.cpp
  src/Common/ProcfsMetricsProvider.h
  src/Common/ThreadProfileEvents.cpp
  src/Common/ThreadProfileEvents.h
  src/Common/ThreadStatus.cpp
  src/Common/ThreadStatus.h
  src/Common/tests/CMakeLists.txt
  src/Common/tests/procfs_metrics_provider_perf.cpp
  src/Common/ya.make
  tests/queries/0_stateless/01268_procfs_metrics.reference
  tests/queries/0_stateless/01268_procfs_metrics.sh
Labels: doc-alert, pr-feature, pr-improvement

#10617 Lower memory usage in tests
  tests/queries/0_stateless/01012_serialize_array_memory_usage.sql
  tests/queries/1_stateful/00154_avro.reference
  tests/queries/1_stateful/00154_avro.sql
Labels: pr-build

#10585 Enable thinLTO
  CMakeLists.txt
Labels: pr-build

#10618 Fix capnproto version check for capnp::UnalignedFlatArrayMessageReader
  src/Processors/Formats/Impl/CapnProtoRowInputFormat.cpp
Labels: can be tested, pr-build

#10150 Fix FreeBSD build
  cmake/freebsd/toolchain-x86_64.cmake
  cmake/target.cmake
Labels: pr-build, st-waiting-for-fix

#10625 Partial fix of clang build stack unwinding (omit-frame-pointer)
  CMakeLists.txt
  src/CMakeLists.txt
Labels: pr-non-significant

#10609 Fix segfault in StorageBuffer when exception on server startup
  src/Core/BackgroundSchedulePool.h
  src/Storages/StorageBuffer.cpp
Labels: pr-bugfix

#10614 DOCS-437: getMacro
  docs/en/sql-reference/functions/other-functions.md
  docs/ru/sql-reference/functions/other-functions.md
Labels: pr-documentation

#10627 Check if client is newer than server
  programs/client/Client.cpp
Labels: pr-improvement

#10608 Improve DROP DNS CACHE
  src/Access/AllowedClientHosts.cpp
  src/Access/AllowedClientHosts.h
  src/Interpreters/InterpreterSystemQuery.cpp
  tests/integration/test_host_ip_change/configs/users_with_hostname.xml
  tests/integration/test_host_ip_change/test.py
Labels: pr-bugfix

#10610 Fix logging for optimize_skip_unused_shards
  src/Storages/StorageDistributed.cpp
Labels: pr-non-significant

#10607 Add JSONAsStringRowInputFormat
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/JSONEachRowUtils.cpp
  src/Formats/JSONEachRowUtils.h
  src/IO/PeekableReadBuffer.cpp
  src/Processors/Formats/Impl/JSONAsStringRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONAsStringRowInputFormat.h
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  tests/queries/0_stateless/01232_json_as_string_format.reference
  tests/queries/0_stateless/01232_json_as_string_format.sh
Labels: can be tested, doc-alert, pr-feature

#10569 ISSUES-10551 add backward compatibility for create bloom filter index
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
  src/Storages/MergeTree/MergeTreeIndexSet.cpp
  src/Storages/MergeTree/MergeTreeIndices.cpp
  src/Storages/MergeTree/MergeTreeIndices.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  tests/queries/0_stateless/01249_bad_arguments_for_bloom_filter.reference
  tests/queries/0_stateless/01249_bad_arguments_for_bloom_filter.sql
Labels: pr-non-significant

#10628 Added auto-generated machine-readable file with list of stable versions
  release
  utils/list-versions/list-versions.sh
  utils/list-versions/version_date.tsv
  utils/release/release_lib.sh
Labels: pr-build

#10560 Fixed comparing DateTime64 in WHERE against String value
  src/Functions/FunctionsComparison.h
  tests/queries/0_stateless/01268_DateTime64_in_WHERE.reference
  tests/queries/0_stateless/01268_DateTime64_in_WHERE.sql
Labels: altinity

#10541 Xcode generator build fix
  CMakeLists.txt
  cmake/find/protobuf.cmake
  contrib/CMakeLists.txt
  contrib/arrow-cmake/CMakeLists.txt
  contrib/aws-s3-cmake/CMakeLists.txt
  contrib/base64-cmake/CMakeLists.txt
Labels: can be tested, pr-non-significant

#10631 Fix UBSan report in LZ4 library
  contrib/lz4-cmake/CMakeLists.txt
Labels: pr-build

#10598 Add sampling memory profiler
  programs/server/Server.cpp
  programs/server/config.xml
  src/Common/CurrentThread.h
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTracker.h
  src/Common/StringSearcher.h
  src/Common/ThreadStatus.h
  src/Common/TraceCollector.cpp
  src/Common/TraceCollector.h
  src/Common/new_delete.cpp
  src/Core/Settings.h
  src/Functions/IFunction.cpp
  src/Interpreters/ProcessList.cpp
  src/Interpreters/ProcessList.h
  src/Interpreters/ThreadStatusExt.cpp
  src/Interpreters/TraceLog.cpp
  src/Interpreters/TraceLog.h
Labels: doc-alert, pr-feature

#10632 Allow to use lld to link blobs
  contrib/cctz-cmake/CMakeLists.txt
Labels: pr-build

#10633 [docs] fix redirects generation for folders
  docs/tools/build.py
Labels: pr-documentation

#10635 Update developer-instruction.md
  docs/en/development/developer-instruction.md
Labels: pr-documentation, pr-non-significant

#10634 Get rid of external linker call
  contrib/cctz-cmake/CMakeLists.txt
Labels: pr-build

#10643 Fix Arcadia #10569
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
Labels: pr-non-significant

#10604 Fixing hard coded timeouts in new live view tests.
  tests/queries/0_stateless/01246_insert_into_watch_live_view.py
  tests/queries/0_stateless/01246_insert_into_watch_live_view.reference
  tests/queries/0_stateless/01247_insert_into_watch_live_view_url.py
  tests/queries/0_stateless/01247_insert_into_watch_live_view_url.reference
  tests/queries/0_stateless/helpers/httpechoserver.py
  tests/queries/0_stateless/helpers/shell.py
Labels: can be tested, pr-build, st-waiting-for-fix

#10640 Fix http code in case of some parse errors.
  programs/server/HTTPHandler.cpp
  src/Common/Exception.h
  tests/queries/0_stateless/01271_http_code_parse_error.reference
  tests/queries/0_stateless/01271_http_code_parse_error.sh
Labels: pr-improvement

#10638 Fix UBSan report in HashTable
  contrib/zstd-cmake/CMakeLists.txt
  src/AggregateFunctions/AggregateFunctionGroupUniqArray.h
  src/Columns/ColumnArray.cpp
  src/Common/HashTable/FixedHashTable.h
  src/Common/HashTable/HashTable.h
  src/Common/HashTable/HashTableKeyHolder.h
Labels: pr-build

#10646 Fix OOM in ASan stress test
  tests/queries/0_stateless/01103_check_cpu_instructions_at_startup.sh
Labels: pr-build

#10657 Disable buffering of the stderr (C file IO)
  base/daemon/BaseDaemon.cpp
Labels: pr-non-significant

#10659 Fix alter-mutations assignment
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
Labels: no-docs-needed, pr-bugfix, v20.1-no-backport

#10039 Add new build for query tests using pytest
  docker/images.json
  docker/test/stateless_pytest/Dockerfile
  tests/queries/0_stateless/00753_comment_columns_zookeeper.reference
  tests/queries/0_stateless/00753_comment_columns_zookeeper.sql
  tests/queries/0_stateless/00800_versatile_storage_join.sql
  tests/queries/0_stateless/00980_create_temporary_live_view.sql
  tests/queries/0_stateless/01078_merge_tree_read_one_thread.sql
  tests/queries/0_stateless/01095_tpch_like_smoke.sql
  tests/queries/conftest.py
  tests/queries/query_test.py
  tests/queries/server.py
Labels: pr-build

#10546 Lexer, ast, checksum and column specs fuzzers added
  docs/en/development/tests.md
  src/Compression/tests/CMakeLists.txt
  src/Compression/tests/compressed_buffer_fuzzer.cpp
  src/Core/tests/CMakeLists.txt
  src/Core/tests/names_and_types_fuzzer.cpp
  src/Parsers/tests/CMakeLists.txt
  src/Parsers/tests/create_parser_fuzzer.cpp
  src/Parsers/tests/lexer_fuzzer.cpp
  src/Parsers/tests/select_parser_fuzzer.cpp
  src/Storages/tests/CMakeLists.txt
  src/Storages/tests/mergetree_checksum_fuzzer.cpp
  tests/fuzz/ast.dict
  tests/fuzz/create_parser_fuzzer.options
  tests/fuzz/datatypes.dict
  tests/fuzz/lexer_fuzzer.options
  tests/fuzz/mergetree_checksum_fuzzer.in/checksums.txt
  tests/fuzz/names_and_types_fuzzer.in/columns.txt
  tests/fuzz/names_and_types_fuzzer.in/oom-e2813b370cc3e3c45271ac5a3f5bd5a3e67e909c-columns
  tests/fuzz/names_and_types_fuzzer.options
  tests/fuzz/select_parser_fuzzer.options
Labels: can be tested, doc-alert, pr-build

#10666 Volumes and storages refactoring
  programs/server/HTTPHandler.cpp
  src/DataStreams/MergeSortingBlockInputStream.cpp
  src/DataStreams/MergeSortingBlockInputStream.h
  src/Disks/DiskSelector.cpp
  src/Disks/DiskSelector.h
  src/Disks/IVolume.cpp
  src/Disks/IVolume.h
  src/Disks/StoragePolicy.cpp
  src/Disks/StoragePolicy.h
  src/Disks/VolumeJBOD.cpp
  src/Disks/VolumeJBOD.h
  src/Disks/ya.make
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/SortedBlocksWriter.cpp
  src/Interpreters/SortedBlocksWriter.h
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Processors/Transforms/MergeSortingTransform.cpp
  src/Processors/Transforms/MergeSortingTransform.h
  src/Processors/tests/processors_test_aggregation.cpp
  src/Processors/tests/processors_test_merge_sorting_transform.cpp
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreePartsMover.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/System/StorageSystemTables.cpp
Labels: can be tested, pr-build

#9983 DOCS-558: RBAC for ClickHouse 20.4
  docs/en/operations/access-rights.md
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/settings/settings-profiles.md
  docs/en/operations/settings/settings-users.md
  docs/en/sql-reference/statements/alter.md
  docs/en/sql-reference/statements/create.md
  docs/en/sql-reference/statements/grant.md
  docs/en/sql-reference/statements/misc.md
  docs/en/sql-reference/statements/revoke.md
  docs/en/sql-reference/statements/show.md
Labels: pr-documentation

#10670 Trying to fix tests/queries/0_stateless/01246_insert_into_watch_live_view.py test
  tests/queries/0_stateless/01246_insert_into_watch_live_view.py
Labels: can be tested, pr-build

#10688 Update select.md
  docs/en/sql-reference/statements/select.md
Labels: pr-documentation

#10626 DOCS-601: isConstant
  docs/en/sql-reference/functions/other-functions.md
  docs/ru/sql-reference/functions/other-functions.md
Labels: pr-documentation

#10660 Fix 10566
  src/Processors/Merges/Algorithms/MergingSortedAlgorithm.cpp
  tests/queries/0_stateless/01268_mergine_sorted_limit.reference
  tests/queries/0_stateless/01268_mergine_sorted_limit.sql
Labels: no-docs-needed, pr-bugfix

#10689 DOCS-624: re-generate select.md
  docs/es/sql-reference/statements/select.md
  docs/fa/sql-reference/statements/select.md
  docs/fr/sql-reference/statements/select.md
  docs/ja/sql-reference/statements/select.md
  docs/redirects.txt
  docs/tools/translate/util.py
  docs/tr/sql-reference/statements/select.md
  docs/zh/sql-reference/statements/select.md
Labels: pr-documentation

#10691 Update settings.md
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#10649 DOCS-441: OrNull, OrDefault
  docs/en/engines/table-engines/mergetree-family/collapsingmergetree.md
  docs/en/sql-reference/aggregate-functions/combinators.md
  docs/ru/engines/table-engines/mergetree-family/collapsingmergetree.md
  docs/ru/sql-reference/aggregate-functions/combinators.md
Labels: pr-documentation

#10696 [docs] introduce build.py --skip-multi-page and --test-only options
  docs/tools/build.py
Labels: pr-documentation

#10699 [docs] tests for inline css/js
  docs/tools/build.py
  docs/tools/test.py
Labels: pr-documentation

#10700 [docs] add copy to clipboard button for <pre> blocks
  website/images/mkdocs/copy.svg
  website/js/base.js
Labels: pr-documentation

#10705 Blind fix for AppleClang version and char8_t support check
  cmake/tools.cmake
Labels: pr-non-significant

#10702 Changelog for v20.3.8.53
  CHANGELOG.md
Labels: pr-documentation

#10706 [docs] Add favicons on adopters page
  docs/en/introduction/adopters.md
  docs/tools/website.py
  website/js/base.js
Labels: pr-documentation

#10664 Fix 10655
  src/Processors/Transforms/MergingAggregatedMemoryEfficientTransform.cpp
  src/Processors/Transforms/MergingAggregatedMemoryEfficientTransform.h
  tests/performance/distributed_aggregation_memory_efficient.xml
Labels: no-docs-needed, pr-bugfix

#10667 fix order of params in AggregatingTransform constructor
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Processors/Transforms/AggregatingTransform.h
Labels: can be tested, no-docs-needed, pr-bugfix

#10707 Update instruction to install RPM packages
  docs/_includes/install/rpm.sh
Labels: pr-build

#10534 extractAllGroups(haystack, re_needle) function
  src/Functions/FunctionsStringRegex.cpp
  tests/queries/0_stateless/01246_extractAllGroups.reference
  tests/queries/0_stateless/01246_extractAllGroups.sql
Labels: altinity, doc-alert, pr-feature

#10703 DOCS-624: Fixing links to nowhere 2
  docs/en/engines/table-engines/index.md
  docs/en/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/statements/create.md
  docs/en/sql-reference/statements/grant.md
  docs/en/sql-reference/statements/misc.md
  docs/es/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/es/operations/utilities/clickhouse-local.md
  docs/es/sql-reference/statements/alter.md
  docs/es/sql-reference/statements/select.md
  docs/fa/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/fa/sql-reference/statements/alter.md
  docs/fa/sql-reference/statements/select.md
  docs/fa/sql-reference/table-functions/jdbc.md
  docs/fr/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/fr/sql-reference/statements/alter.md
  docs/fr/sql-reference/statements/select.md
  docs/ja/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/ja/sql-reference/statements/alter.md
  docs/ja/sql-reference/statements/select.md
  docs/ru/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/ru/sql-reference/syntax.md
  docs/tools/test.py
  docs/tr/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/tr/sql-reference/statements/alter.md
  docs/tr/sql-reference/statements/select.md
  docs/zh/engines/table-engines/index.md
  docs/zh/engines/table-engines/log-family/stripelog.md
  docs/zh/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/zh/engines/table-engines/special/materializedview.md
  docs/zh/engines/table-engines/special/view.md
  docs/zh/getting-started/install.md
  docs/zh/operations/settings/query-complexity.md
  docs/zh/operations/settings/settings.md
  docs/zh/operations/utilities/clickhouse-local.md
  docs/zh/sql-reference/data-types/fixedstring.md
  docs/zh/sql-reference/data-types/int-uint.md
  docs/zh/sql-reference/functions/string-functions.md
  docs/zh/sql-reference/statements/alter.md
  docs/zh/sql-reference/statements/select.md
Labels: pr-doc-fix

#10637 Default user and database creation on image starting added
  docker/server/README.md
  docker/server/entrypoint.sh
Labels: doc-alert, pr-feature

#10704 Add perf test for different part types
  tests/performance/polymorphic_parts.xml
Labels: pr-non-significant

#10656 Kafka cleanup
  docs/en/engines/table-engines/integrations/kafka.md
  src/Storages/Kafka/KafkaBlockInputStream.cpp
  src/Storages/Kafka/KafkaBlockInputStream.h
  src/Storages/Kafka/KafkaSettings.h
  src/Storages/Kafka/StorageKafka.cpp
  tests/integration/test_storage_kafka/configs/kafka.xml
  tests/integration/test_storage_kafka/test.py
Labels: pr-non-significant

#10622 Add direct layout for dictionaries
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  docs/fr/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  src/Dictionaries/DirectDictionary.cpp
  src/Dictionaries/DirectDictionary.h
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  src/Dictionaries/registerDictionaries.cpp
  src/Dictionaries/registerDictionaries.h
  src/Functions/FunctionsExternalDictionaries.h
  src/Interpreters/IExternalLoadable.h
  tests/integration/test_dictionaries_all_layouts_and_sources/dictionary.py
  tests/integration/test_dictionaries_all_layouts_and_sources/external_sources.py
  tests/integration/test_dictionaries_all_layouts_and_sources/test.py
  tests/queries/0_stateless/01268_dictionary_direct_layout.reference
  tests/queries/0_stateless/01268_dictionary_direct_layout.sql
Labels: can be tested, doc-alert, pr-feature, st-waiting-for-fix

#10713 Mark some performance tests with very high variance
  tests/performance/arithmetic.xml
  tests/performance/codecs_int_select.xml
  tests/performance/range.xml
  tests/performance/sum_map.xml
Labels: pr-non-significant

#10717 Add pika python module
  docker/test/integration/runner/Dockerfile
Labels: can be tested, pr-non-significant

#10719 Update clickhouse-copier.md
  docs/zh/operations/utilities/clickhouse-copier.md
Labels: pr-documentation

#10714 Add tests with DatabaseAtomic
  docker/test/stateful/Dockerfile
  docker/test/stateless/Dockerfile
  src/Core/Settings.h
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Interpreters/InterpreterShowCreateQuery.cpp
  tests/config/database_atomic.xml
  tests/queries/0_stateless/01114_database_atomic.sh
Labels: pr-non-significant

#10553 Add -q option to curl requests to disable .curlrc use on developer servers
  tests/queries/0_stateless/00429_long_http_bufferization.sh
  tests/queries/0_stateless/00601_kill_running_query.sh
  tests/queries/0_stateless/00825_http_header_query_id.sh
  tests/queries/0_stateless/00908_long_http_insert.sh
  tests/queries/0_stateless/01071_http_header_exception_code.sh
  tests/queries/shell_config.sh
Labels: no-docs-needed, pr-build

#10724 Update cross-builds to use clang-10 compiler
  cmake/toolchain/freebsd-x86_64/README.txt
  docker/packager/binary/Dockerfile
  docker/packager/binary/build.sh
  docker/packager/packager
  utils/s3tools/s3uploader
Labels: pr-build

#10712 Merging #10534
  src/Common/OptimizedRegularExpression.cpp
  src/Dictionaries/ya.make
  src/Functions/FunctionStringReplace.h
  src/Functions/FunctionsMultiStringFuzzySearch.h
  src/Functions/FunctionsStringRegex.cpp
  src/Functions/MatchImpl.h
  src/Functions/MultiMatchAllIndicesImpl.h
  src/Functions/MultiMatchAnyImpl.h
  src/Functions/ReplaceRegexpImpl.h
  src/Functions/ReplaceStringImpl.h
  src/Functions/extract.cpp
  src/Functions/extractAllGroups.cpp
  src/Functions/extractGroups.cpp
  src/Functions/like.cpp
  src/Functions/match.cpp
  src/Functions/multiFuzzyMatchAllIndices.cpp
  src/Functions/multiFuzzyMatchAny.cpp
  src/Functions/multiFuzzyMatchAnyIndex.cpp
  src/Functions/multiMatchAllIndices.cpp
  src/Functions/multiMatchAny.cpp
  src/Functions/multiMatchAnyIndex.cpp
  src/Functions/notLike.cpp
  src/Functions/registerFunctions.cpp
  src/Functions/registerFunctionsStringRegexp.cpp
  src/Functions/replaceAll.cpp
  src/Functions/replaceOne.cpp
  src/Functions/replaceRegexpAll.cpp
  src/Functions/replaceRegexpOne.cpp
  src/Functions/ya.make
  tests/performance/extract.xml
  tests/queries/0_stateless/01246_extractAllGroups.reference
  tests/queries/0_stateless/01246_extractAllGroups.sql
  tests/queries/0_stateless/01273_extractGroups.reference
  tests/queries/0_stateless/01273_extractGroups.sql
Labels: pr-non-significant

#10686 Fix multiple usages of 'IN' operator
  src/Interpreters/ExpressionAnalyzer.cpp
  tests/queries/0_stateless/01136_multiple_sets.reference
  tests/queries/0_stateless/01136_multiple_sets.sql
Labels: no-docs-needed, pr-bugfix

#10721 Fix reading from field.
  src/Columns/ColumnUnique.h
Labels: no-docs-needed, pr-bugfix

#10695 DOCS-606: JSONExtractKeysAndValuesRaw
  docs/en/sql-reference/functions/json-functions.md
  docs/ru/sql-reference/functions/json-functions.md
Labels: pr-documentation

#10734 Fix generate random with nested
  src/Storages/StorageGenerateRandom.cpp
  tests/queries/0_stateless/01274_generate_random_nested.reference
  tests/queries/0_stateless/01274_generate_random_nested.sh
Labels: no-docs-needed, pr-bugfix

#10731 Docs fix for layout direct
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  docs/fr/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
Labels: pr-documentation

#10737 Fix typo passing -> padding in toFixedString
  docs/en/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation

#10652 DOCS-623: Updated introduction to external dictionaries
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts.md
Labels: pr-doc-fix

#10728 Added test for #10721.
  tests/queries/0_stateless/01273_lc_fixed_string_field.reference
  tests/queries/0_stateless/01273_lc_fixed_string_field.sql
Labels: pr-non-significant

#10743 [experimental] add opensearch.xml
  website/opensearch.xml
  website/templates/common_meta.html
Labels: pr-documentation

#10752 Minor improvements for ru docs
  website/js/base.js
  website/locale/en/LC_MESSAGES/messages.po
  website/locale/es/LC_MESSAGES/messages.mo
  website/locale/es/LC_MESSAGES/messages.po
  website/locale/fa/LC_MESSAGES/messages.mo
  website/locale/fa/LC_MESSAGES/messages.po
  website/locale/fr/LC_MESSAGES/messages.mo
  website/locale/fr/LC_MESSAGES/messages.po
  website/locale/ja/LC_MESSAGES/messages.mo
  website/locale/ja/LC_MESSAGES/messages.po
  website/locale/messages.pot
  website/locale/ru/LC_MESSAGES/messages.mo
  website/locale/ru/LC_MESSAGES/messages.po
  website/locale/tr/LC_MESSAGES/messages.mo
  website/locale/tr/LC_MESSAGES/messages.po
  website/locale/zh/LC_MESSAGES/messages.mo
  website/locale/zh/LC_MESSAGES/messages.po
Labels: pr-documentation

#10755 [docs] add breadcrumbs
  website/templates/docs/content.html
Labels: pr-documentation

#10765 Update assignees
  docs/ru/whats-new/extended-roadmap.md
Labels: pr-documentation

#10736 Added range check for extractGroups function
  src/Functions/extractAllGroups.cpp
  src/Functions/extractGroups.cpp
  tests/queries/0_stateless/01246_extractAllGroups.reference
  tests/queries/0_stateless/01246_extractAllGroups.sql
  tests/queries/0_stateless/01273_extractGroups.reference
  tests/queries/0_stateless/01273_extractGroups.sql
  tests/queries/0_stateless/01275_extract_groups_check.reference
  tests/queries/0_stateless/01275_extract_groups_check.sql
Labels: pr-bugfix, pr-no-backport

#10741 Fix OrNull and OrDefault
  src/AggregateFunctions/AggregateFunctionOrFill.h
  tests/queries/0_stateless/01018_empty_aggregation_filling.reference
  tests/queries/0_stateless/01018_empty_aggregation_filling.sql
Labels: pr-bugfix

#10763 Fix build with unbundled Poco
  base/common/CMakeLists.txt
  programs/copier/CMakeLists.txt
  src/Common/Config/CMakeLists.txt
Labels: pr-non-significant

#10766 Fix performance test errors
  tests/performance/codecs_float_insert.xml
  tests/performance/codecs_float_select.xml
  tests/performance/codecs_int_insert.xml
  tests/performance/synthetic_hardware_benchmark.xml
Labels: pr-build

#10773 Fix performance tests errors 2
  docker/test/performance-comparison/report.py
Labels: pr-build

#10760 Shared build fix
  src/Interpreters/Aggregator.cpp
  src/Parsers/ExpressionElementParsers.cpp
Labels: pr-other

#10772 Avoid std::terminate in case of exception from SystemLogs::SystemLogs
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
Labels: pr-non-significant

#10758 Fix serialize/deserialize of denominator of Average functions
  src/AggregateFunctions/AggregateFunctionAvg.h
  tests/queries/0_stateless/01268_shard_avgweighted.reference
  tests/queries/0_stateless/01268_shard_avgweighted.sql
Labels: can be tested, pr-backward-incompatible

#10715 Fix usage of primary key wrapped into a function.
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01137_order_by_func.reference
  tests/queries/0_stateless/01137_order_by_func.sql
  tests/queries/0_stateless/01137_order_by_func_final.reference
  tests/queries/0_stateless/01137_order_by_func_final.sql
Labels: pr-bugfix

#10658 Fixing and re-enabling 00979_live_view_watch_continuous_aggregates.py test.
  tests/queries/0_stateless/00979_live_view_watch_continuous_aggregates.py
  tests/queries/0_stateless/helpers/uexpect.py
Labels: can be tested, pr-build

#10588 Fixed handling condition variable for synchronous mutations
  src/Storages/StorageMergeTree.cpp
Labels: altinity, st-waiting-for-fix

#10580 Add arrow io format
  cmake/find/parquet.cmake
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/FormatSettings.h
  src/Formats/config_formats.h.in
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ArrowBlockInputFormat.h
  src/Processors/Formats/Impl/ArrowBlockOutputFormat.cpp
  src/Processors/Formats/Impl/ArrowBlockOutputFormat.h
  src/Processors/Formats/Impl/ArrowBufferedStreams.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.h
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.h
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.h
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/ORCBlockInputFormat.h
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  tests/queries/0_stateless/01273_arrow.reference
  tests/queries/0_stateless/01273_arrow.sh
  tests/queries/0_stateless/01273_arrow_load.reference
  tests/queries/0_stateless/01273_arrow_load.sh
  tests/queries/0_stateless/data_arrow/test.arrow
Labels: can be tested, doc-alert, pr-feature

#10776 Remove unnecessary warning suppressions
  contrib/jemalloc-cmake/CMakeLists.txt
  contrib/libcpuid-cmake/CMakeLists.txt
  contrib/poco-cmake/Crypto/CMakeLists.txt
  contrib/poco-cmake/Data/CMakeLists.txt
  contrib/poco-cmake/Data/ODBC/CMakeLists.txt
  contrib/poco-cmake/Foundation/CMakeLists.txt
  contrib/poco-cmake/JSON/CMakeLists.txt
  contrib/poco-cmake/MongoDB/CMakeLists.txt
  contrib/poco-cmake/Net/CMakeLists.txt
  contrib/poco-cmake/Net/SSL/CMakeLists.txt
  contrib/poco-cmake/Redis/CMakeLists.txt
  contrib/poco-cmake/Util/CMakeLists.txt
  contrib/poco-cmake/XML/CMakeLists.txt
  contrib/replxx-cmake/CMakeLists.txt
  contrib/unixodbc-cmake/CMakeLists.txt
Labels: pr-build

#10780 Fix comment for merge_tree_max_bytes_to_use_cache
  src/Core/Settings.h
Labels: pr-documentation

#10785 Remove racy part of performance-introspection test
  tests/queries/0_stateless/00634_performance_introspection_and_logging.reference
  tests/queries/0_stateless/00634_performance_introspection_and_logging.sh
Labels: bugfest, pr-non-significant

#10784 Fix race condition in ReplicatedMergeTreeQueue
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: bugfest, pr-non-significant

#10783 Asserts in DateLUTImpl
  base/common/DateLUTImpl.cpp
Labels: bugfest, pr-non-significant

#10782 Fix flacky test for query profiler
  tests/queries/0_stateless/00974_query_profiler.sql
Labels: bugfest, pr-non-significant

#10786 Fix setting type for the memory_profiler_sample_probability
  src/Core/Settings.h
Labels: pr-non-significant

#10788 Update ya.make
  src/Functions/ya.make
Labels: can be tested, pr-non-significant

#10779 Enable extra warnings for base, utils, programs
  CMakeLists.txt
  base/common/DateLUTImpl.cpp
  base/common/JSON.cpp
  base/common/demangle.cpp
  base/common/getThreadId.cpp
  base/common/mremap.cpp
  base/common/phdr_cache.cpp
  base/common/sleep.cpp
  base/common/tests/gtest_strong_typedef.cpp
  base/daemon/BaseDaemon.cpp
  base/daemon/BaseDaemon.h
  base/mysqlxx/Exception.cpp
  base/mysqlxx/Exception.h
  base/mysqlxx/Null.h
  base/mysqlxx/PoolWithFailover.cpp
  base/mysqlxx/PoolWithFailover.h
  base/mysqlxx/Query.cpp
  base/mysqlxx/Query.h
  base/mysqlxx/ResultBase.h
  base/mysqlxx/StoreQueryResult.cpp
  base/mysqlxx/tests/mysqlxx_test.cpp
  cmake/warnings.cmake
  contrib/replxx-cmake/CMakeLists.txt
  programs/copier/ClusterCopier.cpp
  programs/server/HTTPHandler.cpp
  programs/server/HTTPHandler.h
  programs/server/HTTPHandlerFactory.h
  programs/server/NotFoundHandler.cpp
  programs/server/NotFoundHandler.h
  programs/server/TCPHandlerFactory.h
  src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  src/CMakeLists.txt
  src/Common/CpuId.h
  src/Common/TaskStatsInfoGetter.cpp
  src/Interpreters/AggregationCommon.h
  src/Interpreters/tests/hash_map_string.cpp
  utils/CMakeLists.txt
  utils/check-marks/main.cpp
  utils/compressor/decompress_perf.cpp
  utils/corrector_utf8/corrector_utf8.cpp
  utils/fill-factor/CMakeLists.txt
  utils/fill-factor/main.cpp
  utils/iotest/iotest.cpp
  utils/iotest/iotest_aio.cpp
  utils/iotest/iotest_nonblock.cpp
  utils/test-data-generator/CMakeLists.txt
  utils/zookeeper-adjust-block-numbers-to-parts/main.cpp
  utils/zookeeper-cli/zookeeper-cli.cpp
  utils/zookeeper-create-entry-to-download-part/main.cpp
  utils/zookeeper-remove-by-list/main.cpp
Labels: pr-build

#10792 Merging randomString
  src/AggregateFunctions/AggregateFunctionStatistics.h
  src/Functions/randomPrintableASCII.cpp
  src/Functions/randomString.cpp
  src/Functions/registerFunctionsRandom.cpp
  tests/performance/random_string.xml
  tests/queries/0_stateless/01276_random_string.reference
  tests/queries/0_stateless/01276_random_string.sql
Labels: pr-non-significant, pr-other

#10733 Added function randomString
  src/Functions/randomString.cpp
  src/Functions/registerFunctionsRandom.cpp
  tests/performance/random_string.xml
Labels: can be tested, doc-alert, pr-feature, st-waiting-for-fix

#10486 Fix distributed send that are scheduled by INSERT query
  programs/server/config.xml
  src/Core/BackgroundSchedulePool.cpp
  src/Core/BackgroundSchedulePool.h
  src/Storages/Distributed/DirectoryMonitor.cpp
  src/Storages/Distributed/DirectoryMonitor.h
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
  tests/integration/test_distributed_storage_configuration/test.py
Labels: pr-bugfix

#10579 Test for fixed issue
  tests/queries/0_stateless/01129_dict_get_join_lose_constness.reference
  tests/queries/0_stateless/01129_dict_get_join_lose_constness.sql
Labels: no-docs-needed, pr-non-significant, st-waiting-for-fix

#10620 Doc. merge-tree-settings.md
  docs/ru/operations/settings/merge-tree-settings.md
Labels: pr-documentation

#10800 Add MSan suppression for MariaDB Client library
  tests/msan_suppressions.txt
Labels: pr-build

#10801 Fix (false) MSan report in MergeTreeIndexFullText
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
Labels: pr-build

#10798 Fix UBSan and MSan report in DateLUT
  base/common/DateLUTImpl.cpp
Labels: bugfest

#10799 Fix flacky test #10603
  tests/queries/0_stateless/01268_mv_scalars.sql
Labels: pr-non-significant

#10795 Added "system.licenses" table
  src/Storages/System/CMakeLists.txt
  src/Storages/System/StorageSystemLicenses.cpp
  src/Storages/System/StorageSystemLicenses.h
  src/Storages/System/StorageSystemLicenses.sh
  src/Storages/System/attachSystemTables.cpp
  tests/queries/0_stateless/01276_system_licenses.reference
  tests/queries/0_stateless/01276_system_licenses.sql
  utils/list-licenses/list-licenses.sh
Labels: doc-alert, pr-feature

#10803 Slightly better test
  tests/queries/0_stateless/01070_exception_code_in_query_log_table.sql
Labels: pr-non-significant

#10516 Disable GROUP BY sharding_key optimization by default (and fix for WITH ROLLUP/CUBE/TOTALS)
  src/Core/Settings.h
  src/Storages/StorageDistributed.cpp
  tests/queries/0_stateless/01213_optimize_skip_unused_shards_DISTINCT.reference
  tests/queries/0_stateless/01213_optimize_skip_unused_shards_DISTINCT.sql
  tests/queries/0_stateless/01247_dist_on_dist_group_by_sharding_key_optimization.reference
  tests/queries/0_stateless/01247_dist_on_dist_group_by_sharding_key_optimization.sql
  tests/queries/0_stateless/01247_distributed_group_by_no_merge_GROUP_BY_injective_sharding_key.reference
  tests/queries/0_stateless/01247_distributed_group_by_no_merge_GROUP_BY_injective_sharding_key.sql
Labels: pr-bugfix

#10812 Add a description of Altinity services
  docs/en/commercial/support.md
Labels: pr-documentation

#10807 Remove obsolete MSan suppression
  base/common/demangle.cpp
Labels: pr-non-significant

#10808 Remove obsolete TSan suppressions
  cmake/sanitize.cmake
  tests/tsan_suppressions.txt
Labels: pr-non-significant

#10809 Fixed DateLUTImpl constructors to avoid accidental copying
  base/common/DateLUTImpl.h
  src/DataStreams/TTLBlockInputStream.h
Labels: pr-non-significant

#10722 function toStartOfSecond(DateTime64) -> DateTime64
  src/Core/DecimalFunctions.h
  src/DataTypes/DataTypeDateTime64.h
  src/Functions/DateTimeTransforms.h
  src/Functions/FunctionCustomWeekToSomething.h
  src/Functions/FunctionDateOrDateTimeToSomething.h
  src/Functions/registerFunctionsDateTime.cpp
  src/Functions/toStartOfInterval.cpp
  src/Functions/toStartOfSecond.cpp
  tests/queries/0_stateless/01269_toStartOfSecond.reference
  tests/queries/0_stateless/01269_toStartOfSecond.sql
Labels: doc-alert, pr-feature

#10820 Fix test with obvious race condition
  docker/test/split_build_smoke_test/run.sh
Labels: bugfest, pr-build

#10794 grpc protobuf
  contrib/grpc-cmake/CMakeLists.txt
Labels: can be tested

#10791 Use src_type for conversion in KeyCondition
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/1_stateful/00155_date_datetime_key_condition.reference
  tests/queries/1_stateful/00155_date_datetime_key_condition.sql
Labels: can be tested, pr-bugfix, st-waiting-for-fix

#10823 Added a patch from Vitaly Stoyan for internal Arcadia repository
  src/Functions/FunctionFactory.cpp
  src/Functions/FunctionFactory.h
Labels: pr-non-significant

#10827 Fix logical error in convertFieldToType
  src/Interpreters/convertFieldToType.cpp
  tests/queries/0_stateless/01277_convert_field_to_type_logical_error.reference
  tests/queries/0_stateless/01277_convert_field_to_type_logical_error.sql
Labels: bugfest, pr-non-significant

#10837 Some fixes at ru merge-tree-settings.md
  docs/ru/operations/settings/merge-tree-settings.md
Labels: pr-documentation

#10836 CLICKHOUSE-4862: fix link
  docs/ru/sql-reference/statements/create.md
Labels: pr-documentation

#10835 CLICKHOUSE-4862: some markdown fixes @ ru mergetree.md
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation

#10840 [docs] faster local/debug build
  docs/tools/build.py
  docs/tools/mdx_clickhouse.py
Labels: pr-documentation

#10834 Fix MSan failure in cache dictionary
  src/Dictionaries/CacheDictionary.cpp
  src/Dictionaries/CacheDictionary.inc.h
Labels: no-docs-needed

#10833 Additional assert in ColumnVector
  src/Columns/ColumnVector.h
Labels: no-docs-needed, pr-build

#10838 DOCS-289: randConstant
  docs/en/sql-reference/aggregate-functions/reference.md
  docs/en/sql-reference/functions/random-functions.md
  docs/ru/sql-reference/functions/index.md
  docs/ru/sql-reference/functions/random-functions.md
Labels: pr-doc-fix

#10841 Fix exception message after server shutdown
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: no-docs-needed, pr-improvement

#10804 Fix infinite loop in test
  tests/queries/0_stateless/01019_alter_materialized_view_atomic.sh
  tests/queries/0_stateless/01019_alter_materialized_view_consistent.sh
Labels: pr-non-significant

#10868 Improve tests for ALTER MOVE
  tests/queries/0_stateless/01034_move_partition_from_table_zookeeper.sh
  tests/queries/0_stateless/01035_concurrent_move_partition_from_table_zookeeper.sh
Labels: pr-non-significant

#10869 Fix tests for LIVE VIEW
  tests/queries/0_stateless/01056_create_table_as.sql
  tests/queries/0_stateless/01235_live_view_over_distributed.sql
  tests/queries/0_stateless/01236_distributed_over_live_view_over_distributed.sql
  tests/queries/0_stateless/01237_live_view_over_distributed_with_subquery_select_table_alias.sql
Labels: pr-non-significant

#10847 Fix constraints after column rename
  src/DataStreams/CheckConstraintsBlockOutputStream.cpp
  src/Storages/AlterCommands.cpp
  src/Storages/ConstraintsDescription.cpp
  src/Storages/ConstraintsDescription.h
  tests/queries/0_stateless/01277_alter_rename_column_constraint.reference
  tests/queries/0_stateless/01277_alter_rename_column_constraint.sql
  tests/queries/0_stateless/01277_alter_rename_column_constraint_zookeeper.reference
  tests/queries/0_stateless/01277_alter_rename_column_constraint_zookeeper.sql
Labels: no-docs-needed, pr-bugfix, v20.1-no-backport, v20.3-no-backport

#10864 Doc. typo fix
  docs/ru/operations/index.md
Labels: pr-documentation

#10875 DOCS-504: groupArrayInsertAt
  docs/en/sql-reference/aggregate-functions/reference.md
  docs/ru/sql-reference/aggregate-functions/reference.md
Labels: pr-doc-fix

#10886 Update access-rights.md
  docs/en/operations/access-rights.md
Labels: pr-documentation

#10855 Better comments in IStorage interface
  src/Storages/IStorage.h
  src/Storages/MergeTree/MergeTreeData.h
Labels: no-docs-needed, pr-non-significant

#10874 Support large tuples in function tupleElement
  src/Functions/tupleElement.cpp
  tests/queries/0_stateless/01277_large_tuples.reference
  tests/queries/0_stateless/01277_large_tuples.sql
Labels: can be tested, pr-improvement

#10860 Fix sample with final (addition to #10715)
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  tests/queries/0_stateless/01137_sample_final.reference
  tests/queries/0_stateless/01137_sample_final.sql
Labels: pr-non-significant

#10849 Fix mutations and OPTIMIZE hangs when replica becomes inactive
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/01079_parallel_alter_modify_zookeeper.referece
Labels: bugfest, pr-bugfix

#10852 Added multiple query formatting on clickhouse-format
  programs/format/Format.cpp
  tests/queries/0_stateless/01278_format_multiple_queries.reference
  tests/queries/0_stateless/01278_format_multiple_queries.sh
Labels: can be tested, pr-improvement

#10902 clickhouse-test: recreate database for every test
  tests/clickhouse-test
Labels: pr-build

#10898 Add OpenCL libraries for CI
  docker/packager/deb/Dockerfile
  docker/packager/deb/build.sh
Labels: do not test, pr-non-significant

#10885 Make temorary changes in docker to move files easier
  docker/test/stateful/Dockerfile
  docker/test/stateful_with_coverage/run.sh
  docker/test/stateless/Dockerfile
  docker/test/stateless_with_coverage/run.sh
Labels: no-docs-needed, pr-build

#10859 Fix livelock with WATCH queries and DatabaseAtomic
  src/Storages/LiveView/LiveViewBlockInputStream.h
  src/Storages/LiveView/LiveViewEventsBlockInputStream.h
  src/Storages/LiveView/StorageLiveView.cpp
Labels: pr-bugfix, v20.3-no-backport

#10854 DOCS-629: Parameters for Replicated engines
  docs/en/engines/table-engines/mergetree-family/replication.md
  docs/ru/engines/table-engines/mergetree-family/replication.md
Labels: pr-doc-fix

#10832 Better cooperation with sanitizers
  base/daemon/BaseDaemon.cpp
  src/Columns/ColumnConst.cpp
Labels: no-docs-needed, pr-build

#10921 Fix CH-over-YDB build
  base/common/ya.make
  src/Formats/ya.make
  src/Processors/ya.make
Labels: pr-non-significant

#10232 Bitonic sort on GPU (OpenCL)
  CMakeLists.txt
  cmake/find/opencl.cmake
  programs/server/Server.cpp
  src/CMakeLists.txt
  src/Columns/ColumnVector.cpp
  src/Common/BitonicSort.h
  src/Common/ErrorCodes.cpp
  src/Common/bitonicSortKernels.cl
  src/Common/config.h.in
  src/Common/oclBasics.cpp
  src/Common/tests/CMakeLists.txt
  src/Common/tests/bitonic_sort.cpp
  src/Core/Settings.h
  src/Core/SettingsCollection.cpp
  src/Core/SettingsCollection.h
  src/Core/SortDescription.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/sortBlock.cpp
  tests/queries/0_stateless/01280_opencl_bitonic_order_by_uint8.reference
  tests/queries/0_stateless/01280_opencl_bitonic_order_by_uint8.sql
  tests/queries/0_stateless/01281_opencl_bitonic_order_by_int8.reference
  tests/queries/0_stateless/01281_opencl_bitonic_order_by_int8.sql
  tests/queries/0_stateless/01282_opencl_bitonic_order_by_uint16.reference
  tests/queries/0_stateless/01282_opencl_bitonic_order_by_uint16.sql
  tests/queries/0_stateless/01283_opencl_bitonic_order_by_int16.reference
  tests/queries/0_stateless/01283_opencl_bitonic_order_by_int16.sql
  tests/queries/0_stateless/01284_opencl_bitonic_order_by_uint32.reference
  tests/queries/0_stateless/01284_opencl_bitonic_order_by_uint32.sql
  tests/queries/0_stateless/01285_opencl_bitonic_order_by_int32.reference
  tests/queries/0_stateless/01285_opencl_bitonic_order_by_int32.sql
  tests/queries/0_stateless/01286_opencl_bitonic_order_by_uint64.reference
  tests/queries/0_stateless/01286_opencl_bitonic_order_by_uint64.sql
  tests/queries/0_stateless/01287_opencl_bitonic_order_by_int64.reference
  tests/queries/0_stateless/01287_opencl_bitonic_order_by_int64.sql
Labels: can be tested, doc-alert, pr-feature

#10918 Fix test 01019_alter_materialized_view_consistent
  tests/queries/0_stateless/01019_alter_materialized_view_consistent.reference
  tests/queries/0_stateless/01019_alter_materialized_view_consistent.sh
Labels: pr-non-significant

#10903 Support for unicode whitespaces in queries.
  src/Common/StringUtils/StringUtils.h
  src/Parsers/Lexer.cpp
  tests/queries/0_stateless/01280_unicode_whitespaces_lexer.reference
  tests/queries/0_stateless/01280_unicode_whitespaces_lexer.sql
Labels: pr-improvement, usability

#10926 Added a test for empty external data
  tests/queries/0_stateless/01279_empty_external_table.reference
  tests/queries/0_stateless/01279_empty_external_table.sh
Labels: pr-build
