Repository ClickHouse/ClickHouse, pull requests merged in 2020-07, with the labels that each got.

#11771 DOCS-609: max_server_memory_usage
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/settings/query-complexity.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/operations/settings/query-complexity.md
Labels: pr-documentation, st-waiting-for-fix

#12061 DOCS-510: runningAccumulate
  docs/en/development/architecture.md
  docs/en/sql-reference/aggregate-functions/combinators.md
  docs/en/sql-reference/functions/other-functions.md
  docs/ru/sql-reference/aggregate-functions/combinators.md
  docs/ru/sql-reference/functions/other-functions.md
Labels: pr-documentation

#12071 [docs] Sync zh/development/build-osx.md from EN
  docs/zh/development/build-osx.md
Labels: pr-documentation

#12002 Fix partial revokes
  src/Access/AccessControlManager.cpp
  src/Access/AccessControlManager.h
  src/Access/AccessRights.cpp
  src/Access/AccessRights.h
  src/Access/AccessRightsElement.cpp
  src/Access/AccessRightsElement.h
  src/Access/ContextAccess.cpp
  src/Access/ContextAccess.h
  src/Access/EnabledRolesInfo.cpp
  src/Access/EnabledRolesInfo.h
  src/Access/GrantedAccess.cpp
  src/Access/GrantedAccess.h
  src/Access/Role.h
  src/Access/RoleCache.cpp
  src/Access/User.h
  src/Access/ya.make
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/DDLWorker.h
  src/Interpreters/InterpreterGrantQuery.cpp
  src/Interpreters/InterpreterKillQueryQuery.cpp
  src/Interpreters/InterpreterShowGrantsQuery.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/tests/users.cpp
  src/Parsers/ASTGrantQuery.cpp
  src/Parsers/ASTGrantQuery.h
  src/Storages/System/StorageSystemGrants.cpp
  tests/integration/test_create_user_and_login/test.py
  tests/integration/test_role/test.py
  tests/queries/0_stateless/01073_grant_and_revoke.reference
  tests/queries/0_stateless/01074_partial_revokes.reference
  tests/queries/0_stateless/01074_partial_revokes.sql
Labels: pr-bugfix

#12063 Changelog for 20.3.11, 12
  CHANGELOG.md
Labels: pr-not-for-changelog

#11930 DOCS-635: Translated the EN version of the AvroConfluent format description
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#11893 Moves task shall be started if new storage policy needs them
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_ttl_move/configs/config.d/storage_configuration.xml
  tests/integration/test_ttl_move/test.py
Labels: altinity, pr-bugfix

#12059 Backport #12039 to 20.5: Fix nullable tuple compare
  src/Functions/FunctionsComparison.h
  tests/queries/0_stateless/01353_nullable_tuple.reference
  tests/queries/0_stateless/01353_nullable_tuple.sql
Labels: pr-backport

#11921 DOCS-605: Description for the always_fetch_merged_part setting
  docs/en/introduction/adopters.md
  docs/en/operations/access-rights.md
  docs/en/operations/settings/settings.md
  docs/ru/operations/access-rights.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#12082 [blog] 'Package Repository Behind CDN' post
  docs/tools/website.py
  website/blog/en/2020/package-repository-behind-cdn.md
Labels: pr-documentation

#12067 Moved useless S3 logging to TRACE level
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3Common.cpp
Labels: pr-improvement

#12056 Fix defaultValueOfArgumentType
  src/Functions/defaultValueOfArgumentType.cpp
  tests/queries/0_stateless/01355_defaultValueOfArgumentType_bug.reference
  tests/queries/0_stateless/01355_defaultValueOfArgumentType_bug.sql
Labels: no-docs-needed, pr-bugfix

#12055 Fix arrayMap with Tuple(LowCardinality) argument
  src/Functions/array/FunctionArrayMapped.h
  tests/queries/0_stateless/01354_tuple_low_cardinality_array_mapped_bug.reference
  tests/queries/0_stateless/01354_tuple_low_cardinality_array_mapped_bug.sql
Labels: no-docs-needed, pr-bugfix

#12052 Test image changes
  docker/images.json
  docker/packager/packager
  docker/test/pvs/Dockerfile
  tests/integration/runner
Labels: pr-not-for-changelog

#12062 Try fix pk in tuple performance
  src/Interpreters/Set.cpp
  src/Interpreters/Set.h
  src/Parsers/ASTFunction.h
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/00612_pk_in_tuple.reference
  tests/queries/0_stateless/00612_pk_in_tuple.sql
  tests/queries/0_stateless/00612_pk_in_tuple_perf.reference
  tests/queries/0_stateless/00612_pk_in_tuple_perf.sh
Labels: pr-performance

#12040 Tiny fixes for distributed queries
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Storages/StorageDistributed.cpp
Labels: pr-not-for-changelog

#11991 perf test: report queries with new functions separately
  docker/test/performance-comparison/compare.sh
  docker/test/performance-comparison/download.sh
  docker/test/performance-comparison/entrypoint.sh
  docker/test/performance-comparison/perf.py
  docker/test/performance-comparison/report.py
  tests/performance/sum_map.xml
Labels: pr-not-for-changelog

#12095 [docker] install ca-certificates before the first apt-get update
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: pr-build

#12097 DOCS-522: max_parser_depth
  docs/en/operations/settings/settings.md
  docs/ru/development/architecture.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#12099 (typo) in doc
  docs/ru/sql-reference/functions/array-functions.md
Labels: pr-documentation

#12085 Fix limiting the number of threads for VIEW.
  src/Processors/QueryPipeline.h
  src/Processors/QueryPlan/QueryPlan.cpp
  src/Processors/QueryPlan/ReadFromStorageStep.cpp
  tests/queries/0_stateless/01356_view_threads.reference
  tests/queries/0_stateless/01356_view_threads.sql
Labels: pr-bugfix

#12088 Fix test 01267_alter_default
  tests/queries/0_stateless/01267_alter_default_key_columns_zookeeper.reference
  tests/queries/0_stateless/01267_alter_default_key_columns_zookeeper.sql
Labels: bugfest, pr-not-for-changelog

#12101 Enable CodeQL security scanner
  .github/workflows/codeql-analysis.yml
Labels: pr-build

#12102 Dockerfile security check for `clickhouse-server`
  .github/workflows/anchore-analysis.yml
Labels: pr-build

#12083 Improve REVOKE command
  src/Access/AccessRights.cpp
  src/Access/AccessRights.h
  src/Access/ContextAccess.cpp
  src/Access/ContextAccess.h
  src/Access/RoleCache.cpp
  src/Interpreters/InterpreterGrantQuery.cpp
  src/Parsers/ParserGrantQuery.cpp
  tests/integration/test_create_user_and_login/test.py
  tests/integration/test_role/test.py
Labels: pr-improvement

#12070 max_rows_to_read remove note about 'applied on each thread separately'
  docs/en/operations/settings/query-complexity.md
  docs/es/operations/settings/query-complexity.md
  docs/ru/operations/settings/query-complexity.md
  docs/zh/operations/settings/query-complexity.md
Labels: pr-documentation

#12105 Test for input_format_allow_errors_num in CSV
  tests/queries/0_stateless/01355_CSV_input_format_allow_errors.reference
  tests/queries/0_stateless/01355_CSV_input_format_allow_errors.sh
Labels: altinity, can be tested, pr-not-for-changelog

#12073 ISSUES-4006 support first for ALTER ADD|MODIFY COLUMN
  src/Parsers/ASTAlterQuery.cpp
  src/Parsers/ASTAlterQuery.h
  src/Parsers/ParserAlterQuery.cpp
  src/Storages/AlterCommands.cpp
  src/Storages/AlterCommands.h
  src/Storages/ColumnsDescription.cpp
  src/Storages/ColumnsDescription.h
  tests/queries/0_stateless/01355_alter_column_with_order.reference
  tests/queries/0_stateless/01355_alter_column_with_order.sql
Labels: doc-alert, pr-feature

#12121 Fix version column in replicated version collapsing merge tree
  src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.cpp
  tests/queries/0_stateless/01357_version_collapsing_attach_detach_zookeeper.reference
  tests/queries/0_stateless/01357_version_collapsing_attach_detach_zookeeper.sql
Labels: pr-bugfix, v20.1-no-backport, v20.3-no-backport, v20.4-no-backport

#12107 Move skip lists for tests to skip_list.json file
  docker/test/stateful/Dockerfile
  docker/test/stateful_with_coverage/run.sh
  docker/test/stateless/Dockerfile
  docker/test/stateless_with_coverage/run.sh
  docker/test/stress/stress
  src/Storages/System/StorageSystemBuildOptions.generated.cpp.in
  tests/clickhouse-test
  tests/queries/skip_list.json
Labels: pr-build

#11696 Improve performace of reading in order of sorting key.
  src/Core/Settings.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/performance/read_in_order_many_parts.xml
Labels: pr-improvement

#12126 Added a showcase of minimal Docker image
  docker/bare/Dockerfile
  docker/bare/README.md
  docker/bare/prepare
Labels: pr-build

#12133 Normalize "pid" file handling #3501
  base/daemon/BaseDaemon.cpp
  base/daemon/BaseDaemon.h
  programs/copier/ClusterCopierApp.cpp
  programs/copier/Internals.h
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Common/StatusFile.cpp
  src/Common/StatusFile.h
Labels: pr-bugfix

#12131 Minor cmake fixes for UNBUNDLED build
  contrib/poco-cmake/Data/ODBC/CMakeLists.txt
  contrib/unixodbc-cmake/CMakeLists.txt
Labels: can be tested, pr-build, submodule changed

#12108 Fix Parquet for LowCardinality
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  tests/queries/0_stateless/01358_lc_parquet.reference
  tests/queries/0_stateless/01358_lc_parquet.sh
Labels: pr-bugfix

#12089 Fix result_rows and result_bytes metrics for selects.
  src/DataStreams/BlockIO.h
  src/Interpreters/executeQuery.cpp
  src/Processors/Formats/IOutputFormat.cpp
  src/Processors/Formats/IOutputFormat.h
  src/Processors/QueryPipeline.h
  tests/queries/0_stateless/01357_result_rows.reference
  tests/queries/0_stateless/01357_result_rows.sql
Labels: pr-bugfix

#12060 Check wrong type for filter.
  src/DataTypes/DataTypeNullable.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.cpp
  tests/queries/0_stateless/01356_wrong_filter-type_bug.reference
  tests/queries/0_stateless/01356_wrong_filter-type_bug.sql
Labels: no-docs-needed, pr-bugfix

#12115 Add type column in system.disks
  src/Disks/DiskLocal.h
  src/Disks/DiskMemory.h
  src/Disks/IDisk.h
  src/Disks/S3/DiskS3.h
  src/Storages/System/StorageSystemDisks.cpp
  tests/integration/test_disk_types/__init__.py
  tests/integration/test_disk_types/configs/config.xml
  tests/integration/test_disk_types/configs/users.xml
  tests/integration/test_disk_types/test.py
Labels: can be tested, pr-improvement

#12134 Add missed <atomic> include in ProxyListConfiguration
  src/Disks/S3/ProxyListConfiguration.h
Labels: can be tested, pr-build

#12137 Remove harmful code from "geoDistance"
  src/Functions/greatCircleDistance.cpp
  src/Interpreters/InterpreterCreateQuery.h
  tests/queries/0_stateless/01359_geodistance_loop.reference
  tests/queries/0_stateless/01359_geodistance_loop.sql
Labels: pr-bugfix

#12141 Added a test for #4211
  tests/queries/0_stateless/01361_fover_remote_num_tries.reference
  tests/queries/0_stateless/01361_fover_remote_num_tries.sh
Labels: pr-not-for-changelog

#12138 Fix warnings from CodeQL
  base/common/CMakeLists.txt
  base/common/ya.make
  base/ext/chrono_io.h
  src/AggregateFunctions/AggregateFunctionAvg.h
  src/AggregateFunctions/AggregateFunctionAvgWeighted.h
  src/Disks/S3/registerDiskS3.cpp
  src/Functions/GeoHash.cpp
  src/Functions/PolygonUtils.h
  src/Functions/array/arraySum.cpp
  tests/queries/0_stateless/01359_codeql.reference
  tests/queries/0_stateless/01359_codeql.sql
Labels: pr-build

#12125 ILIKE operator
  programs/client/Suggest.cpp
  src/Functions/MatchImpl.h
  src/Functions/Regexps.h
  src/Functions/ilike.cpp
  src/Functions/like.cpp
  src/Functions/likePatternToRegexp.h
  src/Functions/notILike.cpp
  src/Functions/registerFunctionsStringRegexp.cpp
  src/Functions/ya.make
  src/Interpreters/CrossToInnerJoinVisitor.cpp
  src/Interpreters/misc.h
  src/Parsers/ASTFunction.cpp
  src/Parsers/ASTShowTablesQuery.cpp
  src/Parsers/ASTShowTablesQuery.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/ExpressionListParsers.cpp
  src/Parsers/ParserShowTablesQuery.cpp
  src/Parsers/ParserShowTablesQuery.h
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/KeyCondition.h
  tests/queries/0_stateless/01355_ilike.reference
  tests/queries/0_stateless/01355_ilike.sql
Labels: can be tested, doc-alert, pr-feature

#12140 Fix potential overflow in integer division
  src/Functions/intDiv.cpp
  src/Functions/modulo.cpp
  src/Interpreters/createBlockSelector.cpp
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
  tests/queries/0_stateless/01360_division_overflow.reference
  tests/queries/0_stateless/01360_division_overflow.sql
Labels: pr-bugfix

#12139 Update libdivide to the latest master
  contrib/libdivide/libdivide.h
Labels: pr-not-for-changelog, submodule changed

#12042 Fix constraints check for constant columns, step 1.
  src/DataStreams/CheckConstraintsBlockOutputStream.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/queries/0_stateless/01358_constexpr_constraint.reference
  tests/queries/0_stateless/01358_constexpr_constraint.sql
Labels: pr-bugfix

#12021 Fix function if with FixedString arguments of different sizes
  src/Functions/if.cpp
  src/Functions/multiIf.cpp
  tests/queries/0_stateless/01355_if_fixed_string.reference
  tests/queries/0_stateless/01355_if_fixed_string.sql
Labels: pr-bugfix

#12136 New ISO8601 year modificators for formatDateTime() function
  src/Functions/formatDateTime.cpp
  tests/queries/0_stateless/04659_year_of_ISO8601_week_modificators_for_formatDateTime.reference
  tests/queries/0_stateless/04659_year_of_ISO8601_week_modificators_for_formatDateTime.sql
Labels: can be tested, pr-improvement

#12080 Changelog for 20.1, 20.4
  CHANGELOG.md
  utils/simple-backport/changelog.sh
Labels: pr-not-for-changelog

#12028 add parseDateTimeBestEffortUS function
  docs/en/sql-reference/functions/type-conversion-functions.md
  src/Functions/FunctionsConversion.cpp
  src/Functions/FunctionsConversion.h
  src/IO/parseDateTimeBestEffort.cpp
  src/IO/parseDateTimeBestEffort.h
  tests/queries/0_stateless/00569_parse_date_time_best_effort.reference
  tests/queries/0_stateless/01351_parse_date_time_best_effort_us.reference
  tests/queries/0_stateless/01351_parse_date_time_best_effort_us.sql
Labels: can be tested, doc-alert, pr-feature

#12104 Changelog for 20.5
  CHANGELOG.md
  utils/simple-backport/changelog.sh
  utils/simple-backport/format-changelog.py
Labels: pr-not-for-changelog

#12116 Fix handling dictionary-table dependency
  src/Databases/DatabaseDictionary.cpp
  src/Databases/DatabaseWithDictionaries.cpp
  src/Storages/StorageDictionary.cpp
  src/Storages/StorageDictionary.h
  tests/integration/test_dictionaries_dependency/__init__.py
  tests/integration/test_dictionaries_dependency/configs/disable_lazy_load.xml
  tests/integration/test_dictionaries_dependency/test.py
  tests/integration/test_dictionaries_dependency_xml/__init__.py
  tests/integration/test_dictionaries_dependency_xml/configs/config.xml
  tests/integration/test_dictionaries_dependency_xml/configs/dictionaries/dep_x.xml
  tests/integration/test_dictionaries_dependency_xml/configs/dictionaries/dep_y.xml
  tests/integration/test_dictionaries_dependency_xml/configs/dictionaries/dep_z.xml
  tests/integration/test_dictionaries_dependency_xml/configs/users.xml
  tests/integration/test_dictionaries_dependency_xml/test.py
Labels: pr-bugfix

#12041 Rewrite curl dependency in a more ch compatible way
  base/daemon/CMakeLists.txt
  cmake/find/sentry.cmake
  contrib/CMakeLists.txt
  contrib/curl-cmake/CMakeLists.txt
  docker/packager/deb/Dockerfile
  docker/test/integration/runner/Dockerfile
  utils/build/build_debian_unbundled.sh
Labels: pr-not-for-changelog, st-wontfix, submodule changed

#12092 Fix segfault with -StateResample combinators
  src/Interpreters/Aggregator.cpp
  tests/queries/0_stateless/01356_state_resample.reference
  tests/queries/0_stateless/01356_state_resample.sql
Labels: pr-bugfix

#12145 Remove underscore as word-break character.
  base/common/LineReader.h
  tests/queries/0_stateless/01362_year_of_ISO8601_week_modificators_for_formatDateTime.reference
  tests/queries/0_stateless/01362_year_of_ISO8601_week_modificators_for_formatDateTime.sql
  tests/queries/0_stateless/01370_client_autocomplete_word_break_characters.reference
  tests/queries/0_stateless/01370_client_autocomplete_word_break_characters.sh
  tests/queries/0_stateless/arcadia_skip_list.txt
  tests/queries/skip_list.json
Labels: pr-not-for-changelog

#12147 Change exception code from LOGICAL_ERROR to BAD_ARGUMENTS when the name of remote table is empty.
  src/TableFunctions/TableFunctionRemote.cpp
  tests/queries/0_stateless/01372_remote_table_function_empty_table.reference
  tests/queries/0_stateless/01372_remote_table_function_empty_table.sql
Labels: pr-not-for-changelog

#12148 Fix bad code in redundant ORDER BY optimization
  src/AggregateFunctions/AggregateFunctionCount.cpp
  src/AggregateFunctions/AggregateFunctionFactory.cpp
  src/AggregateFunctions/AggregateFunctionFactory.h
  src/AggregateFunctions/AggregateFunctionGroupArray.cpp
  src/AggregateFunctions/AggregateFunctionGroupArrayMoving.cpp
  src/AggregateFunctions/AggregateFunctionGroupArrayMoving.h
  src/AggregateFunctions/AggregateFunctionGroupUniqArray.cpp
  src/AggregateFunctions/AggregateFunctionMinMaxAny.cpp
  src/AggregateFunctions/AggregateFunctionTopK.cpp
  src/AggregateFunctions/AggregateFunctionUniq.cpp
  src/AggregateFunctions/IAggregateFunction.h
  src/Interpreters/DuplicateOrderByVisitor.h
  tests/queries/0_stateless/01372_wrong_order_by_removal.reference
  tests/queries/0_stateless/01372_wrong_order_by_removal.sql
Labels: fuzz, pr-bugfix

#12159 [anchore] more detailed Dockerfile scan reports
  .github/workflows/anchore-analysis.yml
Labels: pr-build

#11606 Make polymorphic_parts perf test not blazing fast
  tests/performance/polymorphic_parts_l.xml
  tests/performance/polymorphic_parts_m.xml
  tests/performance/polymorphic_parts_s.xml
Labels: pr-not-for-changelog

#11995 Load balancing manual priority
  docs/en/engines/table-engines/special/distributed.md
  docs/ru/engines/table-engines/special/distributed.md
  programs/server/config.xml
  src/Client/ConnectionPool.h
  src/Client/ConnectionPoolWithFailover.cpp
  src/Client/ConnectionPoolWithFailover.h
  src/Common/PoolWithFailoverBase.h
  src/Interpreters/Cluster.cpp
  src/Interpreters/Cluster.h
  tests/integration/test_distributed_load_balancing/configs/remote_servers.xml
  tests/integration/test_distributed_load_balancing/test.py
Labels: pr-improvement

#12161 Update SECURITY.md
  SECURITY.md
Labels: pr-not-for-changelog

#12075 Fix SIGSEGV in StorageKafka on DROP TABLE
  src/Storages/Kafka/KafkaBlockInputStream.cpp
  src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  src/Storages/Kafka/StorageKafka.cpp
Labels: pr-bugfix

#12153 Fix wrong logic in MutationsInterpreter
  src/Functions/isZeroOrNull.cpp
  src/Functions/registerFunctionsNull.cpp
  src/Functions/ya.make
  src/Interpreters/MutationsInterpreter.cpp
  src/Parsers/makeASTForLogicalFunction.cpp
  src/Parsers/makeASTForLogicalFunction.h
  tests/queries/0_stateless/01358_mutation_delete_null_rows.reference
  tests/queries/0_stateless/01358_mutation_delete_null_rows.sql
  tests/queries/0_stateless/01373_is_zero_or_null.reference
  tests/queries/0_stateless/01373_is_zero_or_null.sql
  tests/queries/0_stateless/01374_if_nullable_filimonov.reference
  tests/queries/0_stateless/01374_if_nullable_filimonov.sql
Labels: pr-bugfix

#12109 Create initializeAggregation to initialize an aggregation function
  src/Functions/initializeAggregation.cpp
  src/Functions/registerFunctionsMiscellaneous.cpp
  src/Functions/ya.make
  tests/queries/0_stateless/01356_initialize_aggregation.reference
  tests/queries/0_stateless/01356_initialize_aggregation.sql
Labels: doc-alert, pr-feature

#12156 add cluster() adn clusterAllReplicas() table functions description, add signatures to remoteSecure() table function
  docs/en/sql-reference/table-functions/cluster.md
  docs/en/sql-reference/table-functions/remote.md
  docs/es/sql-reference/table-functions/remote.md
  docs/fa/sql-reference/table-functions/remote.md
  docs/fr/sql-reference/table-functions/remote.md
  docs/ja/sql-reference/table-functions/remote.md
  docs/ru/sql-reference/table-functions/cluster.md
  docs/ru/sql-reference/table-functions/remote.md
  docs/tr/sql-reference/table-functions/remote.md
  docs/zh/sql-reference/table-functions/remote.md
Labels: pr-documentation

#11662 Add ORCBlockOutputFormat
  contrib/FastMemcpy/FastMemcpy.h
  src/CMakeLists.txt
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Processors/Formats/Impl/ORCBlockOutputFormat.cpp
  src/Processors/Formats/Impl/ORCBlockOutputFormat.h
  tests/performance/select_format.xml
  tests/queries/0_stateless/01307_orc_output_format.reference
  tests/queries/0_stateless/01307_orc_output_format.sh
  tests/queries/0_stateless/01308_orc_output_format_arrays.reference
  tests/queries/0_stateless/01308_orc_output_format_arrays.sh
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: can be tested, doc-alert, pr-feature, submodule changed

#12157 Attempt to fix flaky test 00721_force_by_identical_result_after_merge
  tests/queries/0_stateless/00721_force_by_identical_result_after_merge_zookeeper.sql
Labels: pr-not-for-changelog

#12154 Fix test under thread fuzzer
  src/Functions/hasThreadFuzzer.cpp
  src/Functions/registerFunctionsMiscellaneous.cpp
  src/Functions/ya.make
  tests/queries/0_stateless/01193_metadata_loading.sh
Labels: pr-not-for-changelog

#12167 [docs] introduction for integration table engines
  docs/en/engines/table-engines/integrations/hdfs.md
  docs/en/engines/table-engines/integrations/index.md
  docs/en/engines/table-engines/integrations/jdbc.md
  docs/en/engines/table-engines/integrations/kafka.md
  docs/en/engines/table-engines/integrations/mysql.md
  docs/en/engines/table-engines/integrations/odbc.md
Labels: pr-documentation

#12176 [docs] add redirect from an introduction index page
  docs/redirects.txt
Labels: pr-documentation

#12174 Remove -v from ninja
  docker/packager/binary/build.sh
Labels: pr-build

#12164 [website] add apple-touch-icon
  website/images/logo-180x180.png
  website/templates/common_meta.html
Labels: pr-documentation

#12124 [experiment] apt-get upgrade in docker/server/Dockerfile
  docker/server/Dockerfile
Labels: pr-build, st-discussion

#11892 Switched paths in S3 metadata to relative
  src/Disks/S3/DiskS3.cpp
Labels: altinity, doc-alert, pr-feature

#12142 Run perf tests with memory sampling (for allocations >1M)
  docker/test/performance-comparison/config/users.d/perf-comparison-tweaks-users.xml
Labels: pr-not-for-changelog

#12175 [docs] introduction for third-party interfaces
  docs/en/interfaces/third-party/index.md
Labels: pr-documentation

#12120 Add query context for system logs and to Buffer
  src/Interpreters/SystemLog.h
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/StorageKafka.h
  src/Storages/StorageBuffer.cpp
  tests/queries/0_stateless/01360_materialized_view_with_join_on_query_log.reference
  tests/queries/0_stateless/01360_materialized_view_with_join_on_query_log.sql
  tests/queries/0_stateless/01361_buffer_table_flush_with_materialized_view.reference
  tests/queries/0_stateless/01361_buffer_table_flush_with_materialized_view.sql
Labels: pr-bugfix

#12152 Support MySQL 'KILL QUERY [connection_id]'
  src/Server/MySQLHandler.cpp
  src/Server/MySQLHandler.h
  tests/integration/test_mysql_protocol/test.py
Labels: doc-alert, pr-feature, pr-improvement

#12165 Fix splitting table name of dictionary source
  programs/odbc-bridge/CMakeLists.txt
  programs/odbc-bridge/HandlerFactory.cpp
  programs/odbc-bridge/HandlerFactory.h
  programs/odbc-bridge/SchemaAllowedHandler.cpp
  programs/odbc-bridge/SchemaAllowedHandler.h
  src/Common/XDBCBridgeHelper.h
  src/Dictionaries/CassandraDictionarySource.cpp
  src/Dictionaries/ClickHouseDictionarySource.cpp
  src/Dictionaries/ExternalQueryBuilder.cpp
  src/Dictionaries/ExternalQueryBuilder.h
  src/Dictionaries/MySQLDictionarySource.cpp
  src/Dictionaries/XDBCDictionarySource.cpp
  src/Dictionaries/XDBCDictionarySource.h
  tests/integration/test_dictionaries_dependency/test.py
Labels: pr-bugfix

#12192 Update zh kafka.md title
  docs/zh/engines/table-engines/integrations/kafka.md
Labels: pr-documentation

#12191 Fix zh/engines/table-engines/ link broken
  docs/zh/engines/table-engines/index.md
Labels: pr-documentation

#12194 DOCS-634: Translation for H3 geo functions
  docs/en/sql-reference/functions/geo.md
  docs/ru/sql-reference/functions/geo.md
Labels: pr-doc-fix

#12187 [docs] add intrdocution for commercial page
  docs/en/commercial/index.md
Labels: pr-documentation

#12190 DOCS-647: toStartOfSecond
  docs/en/sql-reference/functions/date-time-functions.md
  docs/ru/sql-reference/functions/date-time-functions.md
Labels: pr-documentation

#12186 [docs] refactor Domains overview
  docs/en/sql-reference/data-types/domains/index.md
  docs/en/sql-reference/data-types/domains/overview.md
  docs/es/sql-reference/data-types/domains/index.md
  docs/es/sql-reference/data-types/domains/overview.md
  docs/fa/sql-reference/data-types/domains/index.md
  docs/fa/sql-reference/data-types/domains/overview.md
  docs/fr/sql-reference/data-types/domains/index.md
  docs/fr/sql-reference/data-types/domains/overview.md
  docs/ja/sql-reference/data-types/domains/index.md
  docs/ja/sql-reference/data-types/domains/overview.md
  docs/redirects.txt
  docs/ru/sql-reference/data-types/domains/index.md
  docs/ru/sql-reference/data-types/domains/overview.md
  docs/tr/sql-reference/data-types/domains/index.md
  docs/tr/sql-reference/data-types/domains/overview.md
  docs/zh/sql-reference/data-types/domains/index.md
  docs/zh/sql-reference/data-types/domains/overview.md
Labels: pr-documentation

#12168 Place common docker compose files to integration docker container
  docker/test/integration/README.md
  docker/test/integration/runner/Dockerfile
  docker/test/integration/runner/compose/docker_compose_cassandra.yml
  docker/test/integration/runner/compose/docker_compose_hdfs.yml
  docker/test/integration/runner/compose/docker_compose_kafka.yml
  docker/test/integration/runner/compose/docker_compose_minio.yml
  docker/test/integration/runner/compose/docker_compose_mongo.yml
  docker/test/integration/runner/compose/docker_compose_mysql.yml
  docker/test/integration/runner/compose/docker_compose_net.yml
  docker/test/integration/runner/compose/docker_compose_postgres.yml
  docker/test/integration/runner/compose/docker_compose_rabbitmq.yml
  docker/test/integration/runner/compose/docker_compose_redis.yml
  docker/test/integration/runner/compose/docker_compose_zookeeper.yml
  tests/integration/README.md
  tests/integration/helpers/cluster.py
Labels: pr-build

#12160 Sanitize LINK_LIBRARIES property for the directories
  CMakeLists.txt
  cmake/sanitize_target_link_libraries.cmake
Labels: pr-not-for-changelog

#12189 [docs] add intrdocution for statements page
  docs/en/sql-reference/statements/index.md
Labels: pr-documentation

#12193 Tests for fixed issues #10846, #7347, #3767
  tests/queries/0_stateless/01323_if_with_nulls.reference
  tests/queries/0_stateless/01323_if_with_nulls.sql
  tests/queries/0_stateless/01375_null_issue_3767.reference
  tests/queries/0_stateless/01375_null_issue_3767.sql
Labels: pr-not-for-changelog

#12151 Fix transform query for external databases in presense of aliases
  src/Interpreters/JoinToSubqueryTransformVisitor.cpp
  src/Interpreters/PredicateRewriteVisitor.cpp
  src/Storages/tests/gtest_transform_query_for_external_database.cpp
  src/Storages/transformQueryForExternalDatabase.cpp
Labels: pr-bugfix

#12090 Adding a simple example of using TestFlows.
  docker/images.json
  docker/test/testflows/runner/Dockerfile
  docker/test/testflows/runner/dockerd-entrypoint.sh
  docker/test/testflows/runner/modprobe.sh
  tests/testflows/README.md
  tests/testflows/example/__init__.py
  tests/testflows/example/configs/clickhouse/common.xml
  tests/testflows/example/configs/clickhouse/config.d/logs.xml
  tests/testflows/example/configs/clickhouse/config.d/ports.xml
  tests/testflows/example/configs/clickhouse/config.d/remote.xml
  tests/testflows/example/configs/clickhouse/config.d/ssl.xml
  tests/testflows/example/configs/clickhouse/config.d/storage.xml
  tests/testflows/example/configs/clickhouse/config.d/zookeeper.xml
  tests/testflows/example/configs/clickhouse/config.xml
  tests/testflows/example/configs/clickhouse/ssl/dhparam.pem
  tests/testflows/example/configs/clickhouse/ssl/server.crt
  tests/testflows/example/configs/clickhouse/ssl/server.key
  tests/testflows/example/configs/clickhouse/users.xml
  tests/testflows/example/configs/clickhouse1/config.d/macros.xml
  tests/testflows/example/docker-compose/clickhouse-service.yml
  tests/testflows/example/docker-compose/docker-compose.yml
  tests/testflows/example/docker-compose/zookeeper-service.yml
  tests/testflows/example/regression.py
  tests/testflows/example/requirements/CH_SRS001_ClickHouse.html
  tests/testflows/example/requirements/CH_SRS001_ClickHouse.md
  tests/testflows/example/requirements/__init__.py
  tests/testflows/example/requirements/requirements.py
  tests/testflows/example/tests/example.py
  tests/testflows/helpers/argparser.py
  tests/testflows/helpers/cluster.py
  tests/testflows/regression.py
  tests/testflows/runner
Labels: pr-build

#12196 Fixed logical functions for UInt8 values when they are not equal to 0 or 1.
  src/Functions/FunctionsLogical.cpp
  src/Functions/FunctionsLogical.h
  tests/queries/0_stateless/00552_logical_functions_uint8_as_bool.reference
  tests/queries/0_stateless/00552_logical_functions_uint8_as_bool.sql
Labels: pr-bugfix

#12173 Exclude partition key columns from SummingMergeTree
  programs/copier/Internals.cpp
  programs/copier/Internals.h
  programs/copier/TaskTableAndShard.h
  src/DataTypes/NestedUtils.cpp
  src/DataTypes/NestedUtils.h
  src/Processors/Merges/Algorithms/SummingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/SummingSortedAlgorithm.h
  src/Processors/Merges/SummingSortedTransform.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01373_summing_merge_tree_exclude_partition_key.reference
  tests/queries/0_stateless/01373_summing_merge_tree_exclude_partition_key.sql
  tests/queries/0_stateless/01373_summing_merge_tree_explicit_columns_definition.reference
  tests/queries/0_stateless/01373_summing_merge_tree_explicit_columns_definition.sql
Labels: pr-bugfix

#12271 Fix minor issues in ternary logic
  src/Functions/FunctionsLogical.cpp
  src/Functions/FunctionsLogical.h
  tests/queries/0_stateless/01376_null_logical.reference
  tests/queries/0_stateless/01376_null_logical.sql
Labels: pr-bugfix

#11971 Added performance test to resemble "questionable" benchmark
  tests/performance/pre_limit_no_sorting.xml
  tests/performance/prewhere.xml
  tests/performance/questdb_sum_float32.xml
  tests/performance/questdb_sum_float64.xml
  tests/performance/questdb_sum_int32.xml
  tests/performance/vectorize_aggregation_combinators.xml
Labels: pr-not-for-changelog

#12256 throw exception on redirect limit in S3 request
  src/IO/S3/PocoHTTPClient.cpp
  tests/integration/test_storage_s3/s3_mock/mock_s3.py
  tests/integration/test_storage_s3/test.py
Labels: can be tested, pr-bugfix

#12267 Try remove strange logic in DuplicateOrderByVisitor
  src/Interpreters/DuplicateOrderByVisitor.h
  src/Interpreters/SyntaxAnalyzer.cpp
Labels: pr-not-for-changelog

#12276 Added a test for PaddedPODArray just in case
  src/Common/tests/gtest_pod_array.cpp
Labels: pr-not-for-changelog

#12275 Supertype for LowCardinality
  src/DataTypes/getLeastSupertype.cpp
  tests/queries/0_stateless/01377_supertype_low_cardinality.reference
  tests/queries/0_stateless/01377_supertype_low_cardinality.sql
Labels: pr-bugfix

#12279 Fix arrayFill for empty arrays.
  src/Functions/array/arrayFill.cpp
  tests/queries/0_stateless/01376_array_fill_empty.reference
  tests/queries/0_stateless/01376_array_fill_empty.sql
Labels: pr-bugfix

#12111 AST-based query fuzzing mode for clickhouse-client
  programs/client/CMakeLists.txt
  programs/client/Client.cpp
  programs/client/QueryFuzzer.cpp
  programs/client/QueryFuzzer.h
  programs/ya.make
  src/Client/Connection.h
  src/Parsers/parseQuery.cpp
Labels: pr-build

#12197 Headers for CSVWithNames in StorageFile
  src/Common/ErrorCodes.cpp
  src/IO/WriteBufferFromFileDescriptor.cpp
  src/IO/WriteBufferFromFileDescriptor.h
  src/Processors/Formats/Impl/CSVRowOutputFormat.cpp
  src/Processors/Formats/Impl/CSVRowOutputFormat.h
  src/Storages/StorageFile.cpp
  tests/queries/0_stateless/01375_storage_file_write_prefix.reference
  tests/queries/0_stateless/01375_storage_file_write_prefix.sql
Labels: pr-bugfix

#12290 Show error after TrieDictionary failed to load.
  src/Dictionaries/TrieDictionary.cpp
  src/Dictionaries/TrieDictionary.h
Labels: pr-bugfix

#12296 Fix rare hanging in DNSResolver
  src/Common/DNSResolver.cpp
Labels: pr-bugfix

#12258 Fix ORC build
  src/CMakeLists.txt
Labels: pr-build

#12287 Fix skip lists for old branches
  docker/test/stateful/Dockerfile
  docker/test/stateful/run.sh
  docker/test/stateful_with_coverage/run.sh
  docker/test/stateless/Dockerfile
  docker/test/stateless/run.sh
  docker/test/stateless_with_coverage/Dockerfile
  docker/test/stateless_with_coverage/run.sh
  docker/test/stress/Dockerfile
  docker/test/stress/stress
  tests/clickhouse-test
  tests/queries/skip_list.json
Labels: pr-build

#12182 Cap max_memory_usage* limits to the process resident memory
  src/Common/MemoryTracker.cpp
Labels: pr-bugfix

#12103 Fix over-limiting the number of threads for union.
  src/Processors/QueryPipeline.cpp
  src/Processors/QueryPipeline.h
  src/Processors/QueryPlan/UnionStep.cpp
  tests/queries/0_stateless/01358_union_threads_bug.reference
  tests/queries/0_stateless/01358_union_threads_bug.sql
Labels: pr-bugfix

#12179 Fix dictGet arguments check during GROUP BY injective functions elimination
  src/Functions/FunctionsExternalDictionaries.h
  src/Functions/IFunction.h
  src/Interpreters/SyntaxAnalyzer.cpp
  tests/queries/0_stateless/01375_GROUP_BY_injective_elimination_dictGet_BAD_ARGUMENTS.reference
  tests/queries/0_stateless/01375_GROUP_BY_injective_elimination_dictGet_BAD_ARGUMENTS.sql
  tests/queries/0_stateless/01376_GROUP_BY_injective_elimination_dictGet.reference
  tests/queries/0_stateless/01376_GROUP_BY_injective_elimination_dictGet.sql
Labels: pr-bugfix

#12292 Fix typo in setting name
  src/Core/Settings.h
  src/Interpreters/SyntaxAnalyzer.cpp
  src/Storages/tests/gtest_SplitTokenExtractor.cpp
  tests/queries/0_stateless/01388_multi_if_optimization.reference
  tests/queries/0_stateless/01388_multi_if_optimization.sql
Labels: pr-bugfix

#12305 Fix virtual columns filter
  src/Storages/VirtualColumnUtils.cpp
  tests/queries/0_stateless/01389_filter_by_virtual_columns.reference
  tests/queries/0_stateless/01389_filter_by_virtual_columns.sql
Labels: pr-bugfix

#12321 DOCS-679: netloc function
  docs/en/sql-reference/functions/url-functions.md
  docs/ru/sql-reference/functions/url-functions.md
Labels: pr-documentation

#12304 Fix TTL after renaming column.
  src/Storages/TTLDescription.cpp
  src/Storages/TTLDescription.h
  tests/queries/0_stateless/01378_alter_rename_with_ttl.reference
  tests/queries/0_stateless/01378_alter_rename_with_ttl.sql
Labels: pr-bugfix

#12268 [docs] engine family introduction refactoring
  docs/en/engines/table-engines/log-family/index.md
  docs/en/engines/table-engines/log-family/log-family.md
  docs/en/engines/table-engines/log-family/log.md
  docs/en/engines/table-engines/log-family/stripelog.md
  docs/en/engines/table-engines/log-family/tinylog.md
  docs/en/engines/table-engines/mergetree-family/index.md
  docs/en/sql-reference/statements/create.md
  docs/es/engines/table-engines/log-family/index.md
  docs/es/engines/table-engines/log-family/log-family.md
  docs/es/engines/table-engines/log-family/log.md
  docs/es/engines/table-engines/log-family/stripelog.md
  docs/es/engines/table-engines/log-family/tinylog.md
  docs/es/sql-reference/statements/create.md
  docs/fa/engines/table-engines/log-family/index.md
  docs/fa/engines/table-engines/log-family/log-family.md
  docs/fa/engines/table-engines/log-family/log.md
  docs/fa/engines/table-engines/log-family/stripelog.md
  docs/fa/engines/table-engines/log-family/tinylog.md
  docs/fa/sql-reference/statements/create.md
  docs/fr/engines/table-engines/log-family/index.md
  docs/fr/engines/table-engines/log-family/log-family.md
  docs/fr/engines/table-engines/log-family/log.md
  docs/fr/engines/table-engines/log-family/stripelog.md
  docs/fr/engines/table-engines/log-family/tinylog.md
  docs/fr/sql-reference/statements/create.md
  docs/ja/engines/table-engines/log-family/index.md
  docs/ja/engines/table-engines/log-family/log-family.md
  docs/ja/engines/table-engines/log-family/log.md
  docs/ja/engines/table-engines/log-family/stripelog.md
  docs/ja/engines/table-engines/log-family/tinylog.md
  docs/ja/sql-reference/statements/create.md
  docs/redirects.txt
  docs/ru/engines/table-engines/log-family/index.md
  docs/ru/engines/table-engines/log-family/log-family.md
  docs/ru/engines/table-engines/log-family/log.md
  docs/ru/engines/table-engines/log-family/stripelog.md
  docs/ru/engines/table-engines/log-family/tinylog.md
  docs/tr/engines/table-engines/log-family/index.md
  docs/tr/engines/table-engines/log-family/log-family.md
  docs/tr/engines/table-engines/log-family/log.md
  docs/tr/engines/table-engines/log-family/stripelog.md
  docs/tr/engines/table-engines/log-family/tinylog.md
  docs/tr/sql-reference/statements/create.md
  docs/zh/engines/table-engines/log-family/index.md
  docs/zh/engines/table-engines/log-family/log-family.md
  docs/zh/engines/table-engines/log-family/stripelog.md
Labels: pr-documentation

#12026 Implemented single part uploads for DiskS3
  src/Disks/S3/DiskS3.cpp
  src/Disks/S3/DiskS3.h
  src/Disks/S3/registerDiskS3.cpp
  src/IO/WriteBufferFromS3.cpp
  src/IO/WriteBufferFromS3.h
  src/Storages/StorageS3.cpp
  tests/integration/test_s3_with_proxy/test.py
Labels: altinity, pr-improvement

#12319 Build fixes
  CMakeLists.txt
  contrib/CMakeLists.txt
  contrib/arrow-cmake/cpp/src/arrow/util/config.h
Labels: pr-not-for-changelog, submodule changed

#12313 Log sanitizer trap messages from separate thread
  base/daemon/BaseDaemon.cpp
  base/daemon/SentryWriter.cpp
  base/daemon/SentryWriter.h
  src/Functions/trap.cpp
Labels: pr-build

#11967 Backport #11753 to 20.5: fix bug for query "select *, abc.*;" should failed.
  src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  tests/queries/0_stateless/01333_select_abc_asterisk.reference
  tests/queries/0_stateless/01333_select_abc_asterisk.sql
Labels: pr-backport

#12306 Fix order of columns in WITH FILL modifier
  src/Processors/Transforms/FillingTransform.cpp
  tests/queries/0_stateless/01379_with_fill_several_columns.reference
  tests/queries/0_stateless/01379_with_fill_several_columns.sql
Labels: pr-bugfix

#12336 Fix obvious race condition in test
  tests/queries/0_stateless/00975_indices_mutation_replicated_zookeeper.sh
Labels: bugfest, pr-not-for-changelog

#12314 Support MySQL 'SELECT DATABASE()'
  src/Functions/currentDatabase.cpp
  src/Server/MySQLHandler.cpp
  tests/integration/test_mysql_protocol/test.py
Labels: pr-improvement

#12315 Fix race condition in ReplicatedMergeTreeQueue
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: bugfest, pr-bugfix

#12308 Fix wrong exception code in codecs Delta, DoubleDelta #12110
  src/Compression/CompressionCodecDelta.cpp
  src/Compression/CompressionCodecDelta.h
  src/Compression/CompressionCodecDoubleDelta.cpp
  src/Compression/CompressionCodecDoubleDelta.h
  src/Compression/CompressionCodecGorilla.cpp
  src/Compression/CompressionCodecGorilla.h
  src/Compression/CompressionCodecLZ4.h
  src/Compression/CompressionCodecMultiple.cpp
  src/Compression/CompressionCodecMultiple.h
  src/Compression/CompressionCodecNone.h
  src/Compression/CompressionCodecT64.cpp
  src/Compression/CompressionCodecT64.h
  src/Compression/CompressionCodecZSTD.h
  src/Compression/CompressionFactory.cpp
  src/Compression/ICompressionCodec.cpp
  src/Compression/ICompressionCodec.h
  src/Compression/tests/gtest_compressionCodec.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeDataPartInMemory.h
  src/Storages/StorageURL.cpp
  src/Storages/StorageURL.h
  src/Storages/System/StorageSystemStackTrace.cpp
  tests/queries/0_stateless/00804_test_custom_compression_codecs.reference
  tests/queries/0_stateless/00804_test_custom_compression_codecs.sql
  tests/queries/0_stateless/00910_zookeeper_custom_compression_codecs_replicated.sql
  tests/queries/0_stateless/01380_coded_delta_exception_code.reference
  tests/queries/0_stateless/01380_coded_delta_exception_code.sql
Labels: pr-bugfix

#12335 Fix alter rename error messages
  src/Storages/AlterCommands.cpp
  tests/queries/0_stateless/01213_alter_rename_primary_key_zookeeper.sql
  tests/queries/0_stateless/01344_alter_enum_partition_key.sql
  tests/queries/0_stateless/01346_alter_enum_partition_key_replicated.sql
Labels: pr-bugfix, v20.3-no-backport, v20.4-no-backport

#12337 Delete injective functions inside uniq
  src/Core/Settings.h
  src/Interpreters/RemoveInjectiveFunctionsVisitor.cpp
  src/Interpreters/RemoveInjectiveFunctionsVisitor.h
  src/Interpreters/SyntaxAnalyzer.cpp
  src/Interpreters/ya.make
  tests/performance/injective_functions_inside_uniq.xml
  tests/queries/0_stateless/01390_remove_injective_in_uniq.reference
  tests/queries/0_stateless/01390_remove_injective_in_uniq.sql
Labels: pr-performance

#12395 Backport #12120 to 20.3
  src/Interpreters/SystemLog.h
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/StorageKafka.h
  src/Storages/StorageBuffer.cpp
  tests/queries/0_stateless/01360_materialized_view_with_join_on_query_log.reference
  tests/queries/0_stateless/01360_materialized_view_with_join_on_query_log.sql
  tests/queries/0_stateless/01361_buffer_table_flush_with_materialized_view.reference
  tests/queries/0_stateless/01361_buffer_table_flush_with_materialized_view.sql
Labels: pr-not-for-changelog

#12398 [docs] add syntax highlight
  docs/tools/website.py
  website/css/highlight.css
Labels: pr-documentation

#12396 Backport #12120 to 20.4
  src/Interpreters/SystemLog.h
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/StorageKafka.h
  src/Storages/StorageBuffer.cpp
  tests/queries/0_stateless/01360_materialized_view_with_join_on_query_log.reference
  tests/queries/0_stateless/01360_materialized_view_with_join_on_query_log.sql
  tests/queries/0_stateless/01361_buffer_table_flush_with_materialized_view.reference
  tests/queries/0_stateless/01361_buffer_table_flush_with_materialized_view.sql
Labels: pr-not-for-changelog

#12384 Avoid exception when negative or floating point constant is used in WHERE condition for indexed tables
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/01386_negative_float_constant_key_condition.reference
  tests/queries/0_stateless/01386_negative_float_constant_key_condition.sql
Labels: no-docs-needed, pr-bugfix

#12378 Allow to CLEAR column even if there are depending DEFAULT expressions
  src/Storages/AlterCommands.cpp
  tests/queries/0_stateless/01387_clear_column_default_depends.reference
  tests/queries/0_stateless/01387_clear_column_default_depends.sql
Labels: pr-bugfix

#12376 Fix TOTALS/ROLLUP/CUBE for aggregate functions with -State and Nullable arguments
  src/AggregateFunctions/AggregateFunctionForEach.h
  src/AggregateFunctions/AggregateFunctionNull.cpp
  src/AggregateFunctions/IAggregateFunction.h
  src/Columns/ColumnAggregateFunction.cpp
  src/Functions/FunctionsBitmap.cpp
  tests/queries/0_stateless/01380_nullable_state.reference
  tests/queries/0_stateless/01380_nullable_state.sql
  tests/queries/0_stateless/01381_for_each_with_states.reference
  tests/queries/0_stateless/01381_for_each_with_states.sql
Labels: pr-bugfix

#12388 Check arguments of bloom filter index
  src/Interpreters/BloomFilter.cpp
  src/Interpreters/BloomFilter.h
  src/Storages/IndicesDescription.h
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeIndexAggregatorBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  tests/queries/0_stateless/01384_bloom_filter_bad_arguments.reference
  tests/queries/0_stateless/01384_bloom_filter_bad_arguments.sql
Labels: pr-bugfix

#12118 RIGHT and FULL JOIN for MergeJoin
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  src/Interpreters/IJoin.h
  src/Interpreters/JoinSwitcher.h
  src/Interpreters/MergeJoin.cpp
  src/Interpreters/MergeJoin.h
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Interpreters/join_common.cpp
  src/Interpreters/join_common.h
  tests/performance/joins_in_memory.xml
  tests/performance/joins_in_memory_pmj.xml
  tests/queries/0_stateless/01010_partial_merge_join_negative.sql
  tests/queries/0_stateless/01147_partial_merge_full_join.reference
  tests/queries/0_stateless/01147_partial_merge_full_join.sql
  tests/queries/0_stateless/01353_low_cardinality_join_types.sql
Labels: doc-alert, pr-feature

#12399 [security docs] actually only admins can create advisories
  SECURITY.md
Labels: pr-not-for-changelog

#12401 Fix another Context-related segfault
  src/Processors/Pipe.cpp
  tests/queries/0_stateless/01193_metadata_loading.sh
Labels: pr-bugfix

#12411 Added a test for #11135
  tests/queries/0_stateless/01383_remote_ambiguous_column_shard.reference
  tests/queries/0_stateless/01383_remote_ambiguous_column_shard.sql
Labels: pr-not-for-changelog

#12372 add setting for ascii grid symbols
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/DataTypes/DataTypeNullable.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettyCompactBlockOutputFormat.cpp
  tests/queries/0_stateless/00405_pretty_formats.reference
  tests/queries/0_stateless/00405_pretty_formats.sql
Labels: can be tested, doc-alert, pr-improvement

#12400 Fix std::bad_typeid when JSON functions called with argument of wrong type
  src/Common/typeid_cast.h
  src/Functions/FunctionsJSON.h
  tests/queries/0_stateless/00918_json_functions.reference
  tests/queries/0_stateless/00918_json_functions.sql
Labels: pr-bugfix, pr-not-for-changelog

#12341 More perfect forwarding in field visitors
  src/Common/FieldVisitors.h
Labels: pr-not-for-changelog

#12403 [docs] split misc statements
  docs/en/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/en/engines/table-engines/mergetree-family/index.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/engines/table-engines/special/file.md
  docs/en/getting-started/tutorial.md
  docs/en/operations/access-rights.md
  docs/en/operations/optimizing-performance/index.md
  docs/en/sql-reference/functions/url-functions.md
  docs/en/sql-reference/index.md
  docs/en/sql-reference/statements/alter.md
  docs/en/sql-reference/statements/attach.md
  docs/en/sql-reference/statements/check-table.md
  docs/en/sql-reference/statements/create/role.md
  docs/en/sql-reference/statements/create/view.md
  docs/en/sql-reference/statements/describe-table.md
  docs/en/sql-reference/statements/detach.md
  docs/en/sql-reference/statements/drop.md
  docs/en/sql-reference/statements/exists.md
  docs/en/sql-reference/statements/grant.md
  docs/en/sql-reference/statements/index.md
  docs/en/sql-reference/statements/insert-into.md
  docs/en/sql-reference/statements/kill.md
  docs/en/sql-reference/statements/misc.md
  docs/en/sql-reference/statements/optimize.md
  docs/en/sql-reference/statements/rename.md
  docs/en/sql-reference/statements/revoke.md
  docs/en/sql-reference/statements/set-role.md
  docs/en/sql-reference/statements/set.md
  docs/en/sql-reference/statements/show.md
  docs/en/sql-reference/statements/system.md
  docs/en/sql-reference/statements/truncate.md
  docs/en/sql-reference/statements/use.md
Labels: pr-documentation

#12394 Fix calculating implicit access rights
  src/Access/AccessRights.cpp
  src/Access/AccessRights.h
  src/Access/ContextAccess.cpp
  tests/integration/test_create_user_and_login/test.py
  tests/integration/test_grant_and_revoke/__init__.py
  tests/integration/test_grant_and_revoke/test.py
Labels: pr-bugfix, pr-not-for-changelog

#12416 Increasing default timeout for live view tests from 20 sec to 120 sec
  tests/queries/0_stateless/helpers/client.py
Labels: pr-build

#12397 Resolve #12098
  src/Dictionaries/ExternalQueryBuilder.cpp
Labels: pr-bugfix

#12383 Write through Poco::Exception exception to MySQL protocol client
  src/Server/MySQLHandler.cpp
  tests/integration/test_mysql_protocol/test.py
Labels: no-docs-needed, pr-improvement

#12412 S3 HTTPS integration tests
  docker/images.json
  docker/test/integration/resolver/Dockerfile
  docker/test/integration/runner/Dockerfile
  docker/test/integration/runner/compose/docker_compose_minio.yml
  docker/test/integration/s3_proxy/Dockerfile
  docker/test/integration/s3_proxy/nginx.conf
  docker/test/integration/s3_proxy/run.sh
  docker/test/integration/s3_proxy/server.crt
  docker/test/integration/s3_proxy/server.key
  src/Disks/S3/registerDiskS3.cpp
  src/IO/S3/PocoHTTPClient.cpp
  tests/integration/helpers/cluster.py
  tests/integration/test_s3_with_https/__init__.py
  tests/integration/test_s3_with_https/configs/config.d/log_conf.xml
  tests/integration/test_s3_with_https/configs/config.d/storage_conf.xml
  tests/integration/test_s3_with_https/configs/config.d/users.xml
  tests/integration/test_s3_with_https/configs/config.xml
  tests/integration/test_s3_with_https/minio_certs/CAs/public.crt
  tests/integration/test_s3_with_https/minio_certs/private.key
  tests/integration/test_s3_with_https/minio_certs/public.crt
  tests/integration/test_s3_with_https/test.py
  tests/integration/test_s3_with_proxy/configs/config.d/storage_conf.xml
  tests/integration/test_storage_s3/test.py
Labels: pr-build

#12326 [docs] add rabbitmq docs
  docs/en/engines/table-engines/integrations/rabbitmq.md
Labels: pr-documentation

#12430 Update in-functions.md
  docs/zh/sql-reference/functions/in-functions.md
Labels: pr-documentation

#12431 Update arithmetic-functions.md
  docs/zh/sql-reference/functions/arithmetic-functions.md
Labels: pr-documentation

#12421 lifetime_rows/lifetime_bytes for Buffer engine
  docs/en/operations/system-tables/tables.md
  src/Storages/IStorage.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageBuffer.h
  src/Storages/System/StorageSystemTables.cpp
  tests/queries/0_stateless/00753_system_columns_and_system_tables.reference
  tests/queries/0_stateless/00753_system_columns_and_system_tables.sql
Labels: pr-improvement

#12440 Correct default secure port for clickhouse-benchmark
  programs/benchmark/Benchmark.cpp
  tests/queries/0_stateless/01393_benchmark_secure_port.reference
  tests/queries/0_stateless/01393_benchmark_secure_port.sh
Labels: pr-improvement
