Repository ClickHouse/ClickHouse, pull requests merged in 2021-09, with the labels that each got.

#28396 Add a test for a friend
  tests/queries/0_stateless/02016_summing_mt_aggregating_column.reference
  tests/queries/0_stateless/02016_summing_mt_aggregating_column.sql
Labels: pr-not-for-changelog

#28412 More accurate check that zk root exists.
  src/Common/ZooKeeper/ZooKeeper.cpp
Labels: pr-not-for-changelog, pr-must-backport

#28413 Merging #27980
  src/Processors/Formats/Impl/ConstantExpressionTemplate.cpp
  tests/queries/0_stateless/02013_emptystring_cast.reference
  tests/queries/0_stateless/02013_emptystring_cast.sql
Labels: pr-not-for-changelog

#28184 Better detection of the default interface in replicated fetches tests
  tests/integration/helpers/network.py
Labels: pr-not-for-changelog

#28397 Docsup-13927 document system views
  docs/en/operations/system-tables/views.md
Labels: can be tested, pr-documentation

#28430 Do not allow create postgres storage with bad arguments
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
Labels: pr-improvement, v21.8-must-backport

#25310 LZ4 compression for import/export
  docker/test/fasttest/run.sh
  src/CMakeLists.txt
  src/Common/ErrorCodes.cpp
  src/IO/CompressionMethod.cpp
  src/IO/CompressionMethod.h
  src/IO/Lz4DeflatingWriteBuffer.cpp
  src/IO/Lz4DeflatingWriteBuffer.h
  src/IO/Lz4InflatingReadBuffer.cpp
  src/IO/Lz4InflatingReadBuffer.h
  src/IO/ya.make
  tests/queries/0_stateless/01059_storage_file_brotli.sql
  tests/queries/0_stateless/01059_storage_file_compression.reference
  tests/queries/0_stateless/01059_storage_file_compression.sh
  tests/queries/0_stateless/02012_compress_lz4.reference
  tests/queries/0_stateless/02012_compress_lz4.sh
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-feature, doc-alert

#28438 Fix race in UDF (follow up)
  src/Interpreters/UserDefinedFunctionFactory.cpp
Labels: pr-not-for-changelog, pr-must-backport

#28433 Fix cannot use non-ordinary table names in materialized postgresql
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.cpp
  tests/integration/test_postgresql_replica_database_engine/test.py
Labels: pr-bugfix

#28437 Remove some rename tests
  tests/integration/test_rename_column/test.py
Labels: pr-not-for-changelog

#26286 Virtual projection for min max indices.
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeProjections.cpp
  src/Storages/MergeTree/MergeTreeProjections.h
  src/Storages/MergeTree/MergedBlockOutputStream.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  src/Storages/ProjectionsDescription.cpp
  src/Storages/ProjectionsDescription.h
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageInMemoryMetadata.cpp
  src/Storages/StorageInMemoryMetadata.h
  src/Storages/ya.make
  tests/queries/0_stateless/01710_minmax_count_projection.reference
  tests/queries/0_stateless/01710_minmax_count_projection.sql
Labels: pr-improvement

#28404 Remove obsolete settings for replicated fetches.
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/01221_system_settings.reference
Labels: pr-backward-incompatible

#28516 UserDefinedFunctionFactory added comments
  src/Interpreters/UserDefinedFunctionFactory.h
Labels: pr-not-for-changelog

#28523 BorrowedObjectPool fix style
  base/common/BorrowedObjectPool.h
Labels: pr-not-for-changelog

#28411 Fix disk with static files a little
  src/Disks/DiskWebServer.cpp
  src/Disks/DiskWebServer.h
Labels: pr-not-for-changelog

#27827 Add more checks for LC in native protocol.
  src/Columns/ColumnLowCardinality.cpp
  src/Columns/ColumnLowCardinality.h
  src/DataStreams/NativeBlockInputStream.cpp
  src/DataTypes/Serializations/ISerialization.h
  src/DataTypes/Serializations/SerializationLowCardinality.cpp
  tests/queries/0_stateless/2010_lc_native.python
  tests/queries/0_stateless/2010_lc_native.reference
  tests/queries/0_stateless/2010_lc_native.sh
Labels: pr-not-for-changelog

#28503 Executable multiple pipes added test
  tests/integration/test_executable_table_function/test.py
  tests/integration/test_executable_table_function/user_scripts/test_input_multiple_pipes.sh
Labels: pr-not-for-changelog

#28528 Fix detach/attach for ReplicatedVersionedCollapsingMergeTree after alter
  src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.cpp
  tests/queries/0_stateless/01526_alter_add_and_modify_order_zookeeper.reference
  tests/queries/0_stateless/01526_alter_add_and_modify_order_zookeeper.sql
Labels: pr-bugfix

#28538 fix max_server_memory_usage_to_ram_ratio default value(0.9) in docs
  docs/en/operations/server-configuration-parameters/settings.md
  docs/ru/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#28543 Fix endless loop for truncated bzip2 archive
  src/IO/Bzip2ReadBuffer.cpp
  src/IO/Bzip2WriteBuffer.cpp
  tests/queries/0_stateless/02022_bzip2_truncated.reference
  tests/queries/0_stateless/02022_bzip2_truncated.sh
Labels: pr-bugfix

#28360 Fix keeper logs disappearance
  src/Coordination/Changelog.cpp
  src/Coordination/Changelog.h
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/tests/gtest_coordination.cpp
  src/Server/KeeperTCPHandler.cpp
Labels: pr-bugfix, jepsen-test

#28557 Fix format names in docs
  docs/en/interfaces/formats.md
  docs/ru/interfaces/formats.md
  docs/zh/interfaces/formats.md
Labels: pr-not-for-changelog

#28556 fix keep_alive_timeout default value (10s) in docs
  docs/en/operations/server-configuration-parameters/settings.md
  docs/ja/operations/server-configuration-parameters/settings.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/zh/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#28542 Fix broken kafka test
  tests/integration/test_storage_kafka/test.py
Labels: pr-not-for-changelog

#28534 Fix race in zlib
  cmake/find/zlib.cmake
  src/IO/ZlibDeflatingWriteBuffer.h
  src/IO/ZlibInflatingReadBuffer.h
  src/IO/examples/zlib_ng_bug.cpp
Labels: pr-not-for-changelog

#27038 `ALTER TABLE ... MATERIALIZE COLUMN`
  src/Access/AccessType.h
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Interpreters/InterpreterKillQueryQuery.cpp
  src/Interpreters/MutationsInterpreter.cpp
  src/Parsers/ASTAlterQuery.cpp
  src/Parsers/ASTAlterQuery.h
  src/Parsers/ParserAlterQuery.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MutationCommands.cpp
  src/Storages/MutationCommands.h
  tests/queries/0_stateless/01271_show_privileges.reference
  tests/queries/0_stateless/01604_explain_ast_of_nonselect_query.reference
  tests/queries/0_stateless/02008_materialize_column.reference
  tests/queries/0_stateless/02008_materialize_column.sql
Labels: altinity, pr-feature, doc-alert

#28365 Allow ssl connection for rabbitmq
  cmake/find/amqpcpp.cmake
  contrib/amqpcpp-cmake/CMakeLists.txt
  contrib/boringssl-cmake/CMakeLists.txt
  docs/en/engines/table-engines/integrations/rabbitmq.md
  src/Storages/RabbitMQ/RabbitMQSettings.h
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.h
Labels: pr-improvement, submodule changed

#28531 Fix usage of nested columns with non-array columns with the same prefix
  src/DataTypes/NestedUtils.cpp
  src/DataTypes/tests/gtest_NestedUtils.cpp
  tests/queries/0_stateless/02017_columns_with_dot.reference
  tests/queries/0_stateless/02017_columns_with_dot.sql
Labels: pr-bugfix

#28302 Always monotonic for non-zero division
  src/Functions/FunctionBinaryArithmetic.h
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/KeyCondition.h
  tests/queries/0_stateless/01480_binary_operator_monotonicity.reference
  tests/queries/0_stateless/01480_binary_operator_monotonicity.sql
Labels: pr-performance

#28236 CHJIT custom memory manager
  src/Interpreters/JIT/CHJIT.cpp
Labels: pr-not-for-changelog

#28588 [docs] incorporate changes requested by Chaim Haas
  docs/en/introduction/adopters.md
Labels: pr-documentation

#28579 Improve [C|T]SV errors
  src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
Labels: pr-not-for-changelog

#28428 Fix 01457_create_as_table_function_structure
  src/Storages/StorageDistributed.h
  src/Storages/StorageTableFunction.h
Labels: pr-not-for-changelog

#28530 Function dictGet default implementation for nulls
  src/Functions/FunctionsExternalDictionaries.h
  tests/queries/0_stateless/2014_dict_get_nullable_key.reference
  tests/queries/0_stateless/2014_dict_get_nullable_key.sql
Labels: pr-not-for-changelog, pr-must-backport

#28519 Simplier sessions expiration in Keeper and add comments
  src/Coordination/KeeperServer.cpp
  src/Coordination/KeeperServer.h
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/KeeperStateMachine.h
  src/Coordination/KeeperStorage.cpp
  src/Coordination/KeeperStorage.h
  src/Coordination/SessionExpiryQueue.cpp
  src/Coordination/SessionExpiryQueue.h
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-improvement, pr-must-backport

#28518 Added ExecutablePool storage
  src/DataStreams/ShellCommandSource.h
  src/Dictionaries/ExecutableDictionarySource.cpp
  src/Dictionaries/ExecutableDictionarySource.h
  src/Dictionaries/ExecutablePoolDictionarySource.cpp
  src/Dictionaries/ExecutablePoolDictionarySource.h
  src/Storages/ExecutablePoolSettings.cpp
  src/Storages/ExecutablePoolSettings.h
  src/Storages/StorageExecutable.cpp
  src/Storages/StorageExecutable.h
  tests/config/executable_dictionary.xml
  tests/integration/test_executable_table_function/test.py
  tests/integration/test_executable_table_function/user_scripts/test_input_process_pool.sh
  tests/integration/test_executable_table_function/user_scripts/test_input_process_pool_multiple_pipes.sh
Labels: pr-feature, doc-alert

#28615 Function dictGet small fix
  src/Functions/FunctionsExternalDictionaries.h
Labels: pr-not-for-changelog

#28629 fix minor typo
  src/Storages/StorageMemory.cpp
Labels: can be tested, pr-not-for-changelog

#28398 DOCSUP-13418: Document the regexp_max_matches_per_row setting
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#27988 DOCSUP-13431: Edit and translate to Russian (ZooKeeper replication and snowflake)
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/sql-reference/functions/type-conversion-functions.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/sql-reference/functions/type-conversion-functions.md
  docs/ru/sql-reference/statements/create/table.md
Labels: pr-documentation

#28640 Fix arcadia build
  src/IO/ya.make
  src/IO/ya.make.in
  src/Storages/ya.make
Labels: can be tested, pr-not-for-changelog

#28533 Fix UUID overlap in DROP TABLE for internal DDL from MaterializeMySQL
  programs/server/Server.cpp
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
Labels: pr-bugfix

#28560 Fix wrong header of minmax_count projection
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01710_minmax_count_projection.reference
  tests/queries/0_stateless/01710_minmax_count_projection.sql
Labels: pr-not-for-changelog

#28561 remove recursion in ZstdInflatingReadBuffer
  src/IO/ZstdInflatingReadBuffer.cpp
Labels: can be tested, pr-not-for-changelog

#28526 Add test for keeper 2 node configuration
  tests/integration/test_keeper_two_nodes_cluster/__init__.py
  tests/integration/test_keeper_two_nodes_cluster/configs/enable_keeper1.xml
  tests/integration/test_keeper_two_nodes_cluster/configs/enable_keeper2.xml
  tests/integration/test_keeper_two_nodes_cluster/configs/use_keeper.xml
  tests/integration/test_keeper_two_nodes_cluster/test.py
Labels: pr-not-for-changelog

#28648 Add missed log level into TextLog
  src/Interpreters/TextLog.cpp
Labels: pr-not-for-changelog

#28614 MaterializedPostgreSQL: add solution to survive postgres primary failover
  docs/en/engines/database-engines/materialized-postgresql.md
  docs/en/operations/settings/settings.md
  src/Databases/PostgreSQL/DatabaseMaterializedPostgreSQL.cpp
  src/Storages/PostgreSQL/MaterializedPostgreSQLConsumer.cpp
  src/Storages/PostgreSQL/MaterializedPostgreSQLSettings.h
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.cpp
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.h
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
  tests/integration/test_postgresql_replica_database_engine/test.py
Labels: pr-improvement

#28667 Revert #28397
  docs/en/operations/system-tables/views.md
Labels: pr-not-for-changelog

#28665 Revert #28082
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Storages/System/StorageSystemViews.cpp
  src/Storages/System/StorageSystemViews.h
  src/Storages/System/attachSystemTables.cpp
  tests/queries/0_stateless/02015_system_views.reference
  tests/queries/0_stateless/02015_system_views.sql
  tests/queries/skip_list.json
Labels: pr-not-for-changelog

#28315 Fix NOT-IN index optimization when not all key columns are used.
  src/Interpreters/Set.cpp
  src/Interpreters/Set.h
  tests/queries/0_stateless/01891_not_in_partition_prune.reference
  tests/queries/0_stateless/01891_not_in_partition_prune.sql
Labels: pr-bugfix

#28474 Introduce connection_wait_timeout for MySQL engine.
  base/mysqlxx/Pool.cpp
  base/mysqlxx/Pool.h
  base/mysqlxx/PoolWithFailover.cpp
  base/mysqlxx/PoolWithFailover.h
  docs/en/engines/table-engines/integrations/mysql.md
  src/Databases/MySQL/MaterializedMySQLSyncThread.cpp
  src/Storages/MySQL/MySQLSettings.h
  src/Storages/StorageMySQL.cpp
  tests/integration/test_storage_mysql/test.py
Labels: pr-improvement

#28663 fix getNumberOfArguments() for s2Rect functions
  src/Functions/s2RectAdd.cpp
  src/Functions/s2RectContains.cpp
Labels: pr-bugfix

#22415 Governance/session log
  docker/test/fasttest/run.sh
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  programs/server/config.xml
  programs/server/users.d/session_log_test.xml
  src/Access/AccessControlManager.h
  src/Access/SettingsProfilesInfo.h
  src/Core/PostgreSQLProtocol.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/Session.cpp
  src/Interpreters/Session.h
  src/Interpreters/SessionLog.cpp
  src/Interpreters/SessionLog.h
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  src/Interpreters/ya.make
  src/Server/MySQLHandler.cpp
  tests/config/install.sh
  tests/config/users.d/session_log_test.xml
  tests/queries/0_stateless/01033_quota_dcl.reference
  tests/queries/0_stateless/01747_system_session_log_long.reference
  tests/queries/0_stateless/01747_system_session_log_long.sh
  tests/queries/skip_list.json
Labels: altinity, pr-feature, doc-alert

#28685 Add Settings.Names, Settings.Values aliases for system.processes table
  src/Storages/System/StorageSystemProcesses.cpp
Labels: can be tested, pr-bugfix

#28679 Reduce default settings for S3 multipart upload part size
  src/Core/Settings.h
Labels: pr-performance

#28686 Fix coredump in creating distributed table
  src/Storages/StorageDistributed.cpp
  tests/queries/0_stateless/02017_create_distributed_table_coredump.reference
  tests/queries/0_stateless/02017_create_distributed_table_coredump.sql
Labels: can be tested, pr-bugfix

#28717 Regenerate ya.make
  src/Storages/ya.make
Labels: pr-not-for-changelog

#28616 Merging #20495
  .clang-tidy
  cmake/analysis.cmake
  cmake/freebsd/toolchain-x86_64.cmake
  cmake/linux/toolchain-aarch64.cmake
  cmake/tools.cmake
  docker/builder/Dockerfile
  docker/builder/build.sh
  docker/packager/binary/Dockerfile
  docker/packager/binary/build.sh
  docker/packager/deb/Dockerfile
  docker/packager/packager
  docker/test/base/Dockerfile
  docker/test/codebrowser/Dockerfile
  docker/test/fasttest/Dockerfile
  docker/test/fasttest/run.sh
  docker/test/fuzzer/run-fuzzer.sh
  docker/test/keeper-jepsen/run.sh
  docker/test/pvs/Dockerfile
  docs/en/development/build.md
  src/Common/FiberStack.h
  src/Compression/CompressionCodecEncrypted.cpp
  src/IO/WriteBufferFromFile.cpp
  src/IO/WriteBufferFromFile.h
  src/IO/WriteBufferFromFileDescriptor.cpp
  src/IO/WriteBufferFromFileDescriptor.h
  tests/ci/ci_config.json
  tests/queries/0_stateless/02015_shard_crash_clang_12_build.reference
  tests/queries/0_stateless/02015_shard_crash_clang_12_build.sh
Labels: pr-not-for-changelog, force tests

#28658 Fix optimization of disjunctions chain in distributed queries
  src/Interpreters/LogicalExpressionsOptimizer.cpp
  tests/queries/0_stateless/02023_transform_or_to_in.reference
  tests/queries/0_stateless/02023_transform_or_to_in.sql
Labels: pr-bugfix

#28666 DOCSUP-14092: Documented the settings for inserting nested
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/data-types/nested-data-structures/nested.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/data-types/nested-data-structures/nested.md
Labels: pr-documentation

#28755 Doc. How to install specific version of ClickHouse
  docs/en/getting-started/install.md
  docs/ru/getting-started/install.md
Labels: can be tested, pr-documentation

#28736 reduce debug build binary size by clang optimazition
  CMakeLists.txt
Labels: can be tested, pr-build

#28708 Implement detach_not_byte_identical_parts
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-improvement

#28747 Changelog 21.9 (draft)
  CHANGELOG.md
Labels: do not test, pr-documentation

#28761 Fix uncaught exception during server termination
  programs/server/Server.cpp
Labels: pr-improvement

#28719 Fix test_MemoryTracking integration test flakiness
  tests/integration/test_MemoryTracking/configs/no_system_log.xml
  tests/integration/test_MemoryTracking/configs/users.d/overrides.xml
  tests/integration/test_MemoryTracking/test.py
Labels: pr-not-for-changelog

#28771 Update formats.md
  docs/en/interfaces/formats.md
Labels: can be tested, pr-documentation

#28734 Fix race on mutation_pointer update
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
Labels: pr-bugfix, force tests

#28770 Update index.md
  docs/en/sql-reference/statements/alter/index/index.md
  docs/ru/sql-reference/statements/alter/index/index.md
Labels: pr-documentation, doc-alert

#28532 Cache thread name to avoid prctl(PR_GET_NAME) for query_log/text_log
  src/Common/setThreadName.cpp
  src/Common/setThreadName.h
Labels: pr-not-for-changelog

#28691 Merging #24866
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Access/ContextAccess.cpp
  src/Core/Defines.h
  src/Core/Settings.h
  src/Interpreters/DatabaseCatalog.h
  src/Interpreters/loadMetadata.cpp
  src/Interpreters/loadMetadata.h
  src/Storages/System/CMakeLists.txt
  src/Storages/System/InformationSchema/columns.sql
  src/Storages/System/InformationSchema/schemata.sql
  src/Storages/System/InformationSchema/tables.sql
  src/Storages/System/InformationSchema/views.sql
  src/Storages/System/StorageSystemColumns.cpp
  src/Storages/System/StorageSystemReplicatedFetches.h
  src/Storages/System/StorageSystemTables.cpp
  src/Storages/System/attachInformationSchemaTables.cpp
  src/Storages/System/attachInformationSchemaTables.h
  src/Storages/System/attachSystemTablesImpl.h
  src/Storages/ya.make
  tests/integration/test_mysql_protocol/golang.reference
  tests/integration/test_mysql_protocol/test.py
  tests/integration/test_quota/test.py
  tests/queries/0_stateless/01161_all_system_tables.reference
  tests/queries/0_stateless/01161_all_system_tables.sh
  tests/queries/0_stateless/01161_information_schema.reference
  tests/queries/0_stateless/01161_information_schema.sql
  tests/queries/0_stateless/01602_temporary_table_in_system_tables.reference
Labels: pr-feature, doc-alert, force tests

#25734 Move join type inference to ExpressionAnalyzer from syntax stage + small refactor
  src/Interpreters/ArrayJoinedColumnsVisitor.h
  src/Interpreters/ExpressionActions.cpp
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/HashJoin.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/JoinedTables.cpp
  src/Interpreters/PredicateExpressionsOptimizer.cpp
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/TreeRewriter.h
  src/Parsers/ASTSelectQuery.cpp
  src/Parsers/ASTSelectQuery.h
  src/Storages/MergeTree/MergeTreeWhereOptimizer.cpp
  src/Storages/tests/gtest_transform_query_for_external_database.cpp
  tests/queries/0_stateless/00561_storage_join.sql
  tests/queries/0_stateless/00855_join_with_array_join.reference
  tests/queries/0_stateless/00855_join_with_array_join.sql
Labels: pr-not-for-changelog

#28700 Fix crash on exception with projection aggregate
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Processors/Transforms/AggregatingTransform.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01707_join_use_nulls.reference
  tests/queries/0_stateless/01707_join_use_nulls.sql
  tests/queries/0_stateless/01710_projection_with_mixed_pipeline.reference
  tests/queries/0_stateless/01710_projection_with_mixed_pipeline.sql
Labels: pr-bugfix

#28732 Make mysqlxx::Pool backward-compatible
  base/mysqlxx/Pool.h
Labels: can be tested, pr-not-for-changelog

#28632 DOCSUP-11552: Fixed and updated documentation
  docs/en/sql-reference/functions/tuple-map-functions.md
  docs/ru/sql-reference/functions/tuple-map-functions.md
Labels: pr-documentation

#28798 Fix error code of clickhouse-test if server is dead.
  tests/clickhouse-test
Labels: pr-not-for-changelog

#28816 Lower compiled_expression_cache_size to 128MB
  programs/server/Server.cpp
  programs/server/config.xml
  programs/server/config.yaml.example
Labels: pr-not-for-changelog, pr-must-backport

#28137 Reload stacktrace cache when symbol is reloaded.
  src/Common/StackTrace.cpp
  src/Common/StackTrace.h
  src/Common/SymbolIndex.cpp
  src/Common/SymbolIndex.h
  src/Interpreters/InterpreterSystemQuery.cpp
Labels: pr-improvement

#28464 DOCSUP-13875: Document the replication_wait_for_inactive_replica_timeout setting
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/statements/alter/index.md
  docs/en/sql-reference/statements/optimize.md
  docs/en/sql-reference/statements/truncate.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/statements/alter/index.md
  docs/ru/sql-reference/statements/optimize.md
  docs/ru/sql-reference/statements/truncate.md
Labels: pr-documentation

#28085 optional<> semantics for parsing MergeTreePartInfo and DetachedPartInfo
  src/IO/ReadBufferFromString.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreePartInfo.cpp
  src/Storages/MergeTree/MergeTreePartInfo.h
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#28821 Fix expressions compilation with short circuit evaluation
  src/Interpreters/ExpressionJIT.cpp
  tests/queries/0_stateless/02024_compile_expressions_with_short_circuit_evaluation.reference
  tests/queries/0_stateless/02024_compile_expressions_with_short_circuit_evaluation.sql
Labels: pr-bugfix

#28820 Fix shared build with ENABLE_EMBEDDED_COMPILER
  cmake/find/llvm.cmake
  contrib/CMakeLists.txt
  src/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#28818 Remove incorrect code and check what will happen
  src/Storages/StorageDictionary.cpp
  src/Storages/StorageDictionary.h
Labels: pr-not-for-changelog

#27994 DOCSUP-13375: Document the SQL-statements CREATE FUNCTION and DROP FUNCTION
  docs/en/sql-reference/functions/index.md
  docs/en/sql-reference/statements/create/function.md
  docs/en/sql-reference/statements/create/index.md
  docs/en/sql-reference/statements/drop.md
  docs/en/sql-reference/statements/grant.md
  docs/ru/sql-reference/functions/index.md
  docs/ru/sql-reference/statements/create/function.md
  docs/ru/sql-reference/statements/create/index.md
  docs/ru/sql-reference/statements/drop.md
  docs/ru/sql-reference/statements/grant.md
Labels: pr-documentation

#28844 Update where.md, change typo expluded to excluded
  docs/en/sql-reference/statements/select/where.md
Labels: pr-documentation, doc-alert

#28835 ShellCommandSource fix logging
  src/DataStreams/ShellCommandSource.h
  src/Dictionaries/ExecutableDictionarySource.cpp
  src/Dictionaries/ExecutablePoolDictionarySource.cpp
  src/Storages/StorageExecutable.cpp
Labels: pr-not-for-changelog

#28846 Fix ENABLE_CHECK_HEAVY_BUILDS for UBsan build
  CMakeLists.txt
Labels: pr-not-for-changelog

#28834 Build w/ ENABLE_EMBEDDED_COMPILER in shared build on CI
  cmake/find/llvm.cmake
Labels: pr-not-for-changelog

#28833 Executable added option send_chunk_header
  src/Dictionaries/ExecutableDictionarySource.cpp
  src/Dictionaries/ExecutableDictionarySource.h
  src/Dictionaries/ExecutablePoolDictionarySource.cpp
  src/Dictionaries/ExecutablePoolDictionarySource.h
  src/Storages/ExecutableSettings.cpp
  src/Storages/ExecutableSettings.h
  src/Storages/StorageExecutable.cpp
  src/Storages/StorageExecutable.h
Labels: pr-feature, doc-alert

#28762 Fix usage of nested columns with non-array columns with the same prefix [2]
  src/Storages/MergeTree/IMergeTreeReader.cpp
  tests/queries/0_stateless/02017_columns_with_dot_2.reference
  tests/queries/0_stateless/02017_columns_with_dot_2.sql
Labels: pr-not-for-changelog, pr-must-backport

#28716 DOCSUP-13742: Support PARTITION BY for the s3 table function
  docs/en/engines/table-engines/integrations/s3.md
  docs/en/sql-reference/table-functions/s3.md
  docs/ru/engines/table-engines/integrations/s3.md
  docs/ru/sql-reference/table-functions/s3.md
Labels: pr-documentation

#28874 Relax ENABLE_CHECK_HEAVY_BUILDS restrictions on systems under pressure (increase RLIMIT_CPU)
  CMakeLists.txt
Labels: pr-not-for-changelog

#28431 [RFC] Do not allow ThreadFromGlobalPool::join() from the spawned/occupated thread
  src/Common/ThreadPool.h
Labels: pr-not-for-changelog, force tests

#28194 DOCSUP-12543: Edit and translate to Russian (bin and unbin functions)
  docs/en/sql-reference/functions/encoding-functions.md
  docs/ru/sql-reference/functions/encoding-functions.md
Labels: pr-documentation

#28881 Join MaterializedMySQLSyncThread only if it is joinable
  src/Databases/MySQL/MaterializedMySQLSyncThread.cpp
Labels: pr-not-for-changelog

#28882 Skip "no data" exception when reading thermal sensors
  src/Interpreters/AsynchronousMetrics.cpp
  src/Storages/StorageS3Cluster.cpp
Labels: pr-improvement

#28828 Relax nested function for If-combinator check (but forbid nested identical combinators)
  src/AggregateFunctions/AggregateFunctionArray.cpp
  src/AggregateFunctions/AggregateFunctionFactory.cpp
  src/AggregateFunctions/AggregateFunctionIf.cpp
  src/AggregateFunctions/AggregateFunctionOrFill.cpp
  src/AggregateFunctions/IAggregateFunctionCombinator.h
  tests/queries/0_stateless/02001_select_with_filter.reference
  tests/queries/0_stateless/02001_select_with_filter.sql
  tests/queries/0_stateless/02025_nested_func_for_if_combinator.reference
  tests/queries/0_stateless/02025_nested_func_for_if_combinator.sql
Labels: pr-improvement

#28853 Fix logical race on dictionaries loading
  src/Interpreters/ExternalLoader.cpp
  src/Interpreters/ExternalLoader.h
Labels: pr-improvement

#28891 Add time dependency for clickhouse-server unit (systemd and sysvinit init)
  debian/clickhouse-server.init
  debian/clickhouse-server.service
Labels: pr-improvement

#28904 Fix higher-order array functions (arrayCompact/arrayDifference/arrayCumSumNonNegative) with consts
  src/Functions/array/arrayCompact.cpp
  src/Functions/array/arrayCumSumNonNegative.cpp
  src/Functions/array/arrayDifference.cpp
  tests/queries/0_stateless/01020_function_array_compact.reference
  tests/queries/0_stateless/01020_function_array_compact.sql
  tests/queries/0_stateless/02026_arrayDifference_const.reference
  tests/queries/0_stateless/02026_arrayDifference_const.sql
  tests/queries/0_stateless/02027_arrayCumSumNonNegative_const.reference
  tests/queries/0_stateless/02027_arrayCumSumNonNegative_const.sql
Labels: pr-bugfix

#28887 Fix bug with LowCardinality in short-curcuit function evaluation
  src/Columns/MaskOperations.cpp
  src/Core/Settings.h
  tests/queries/0_stateless/01822_short_circuit.reference
  tests/queries/0_stateless/01822_short_circuit.sql
Labels: pr-bugfix

#28910 Fix bad optimization of ORDER BY in subquery if it contains WITH FILL
  src/Interpreters/DuplicateOrderByVisitor.cpp
  src/Interpreters/DuplicateOrderByVisitor.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/FillingRow.h
  src/Interpreters/TreeOptimizer.cpp
  src/Processors/Transforms/FillingTransform.cpp
  tests/queries/0_stateless/2015_order_by_with_fill_misoptimization.reference
  tests/queries/0_stateless/2015_order_by_with_fill_misoptimization.sql
  tests/queries/0_stateless/2016_order_by_with_fill_monotonic_functions_removal.reference
  tests/queries/0_stateless/2016_order_by_with_fill_monotonic_functions_removal.sql
  tests/queries/0_stateless/2017_order_by_with_fill_redundant_functions.reference
  tests/queries/0_stateless/2017_order_by_with_fill_redundant_functions.sql
  tests/queries/0_stateless/2018_multiple_with_fill_for_the_same_column.reference
  tests/queries/0_stateless/2018_multiple_with_fill_for_the_same_column.sql
  tests/queries/0_stateless/2019_multiple_weird_with_fill.reference
  tests/queries/0_stateless/2019_multiple_weird_with_fill.sql
Labels: pr-bugfix

#28873 Fix reading of subcolumns from compact parts
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  tests/queries/0_stateless/02025_subcolumns_compact_parts.reference
  tests/queries/0_stateless/02025_subcolumns_compact_parts.sql
Labels: pr-bugfix

#28773 Fix signed integer overflow for nth_value() window function
  src/Processors/Transforms/WindowTransform.cpp
  src/Processors/Transforms/WindowTransform.h
  tests/queries/0_stateless/01591_window_functions.reference
  tests/queries/0_stateless/01591_window_functions.sql
Labels: pr-not-for-changelog

#28890 Add query to the exception message in case of error during processing INSERT block on client
  programs/client/Client.cpp
  tests/queries/0_stateless/00900_long_parquet_load.reference
Labels: pr-not-for-changelog

#27481 Add sparkbar aggregate function.
  src/AggregateFunctions/AggregateFunctionSparkbar.cpp
  src/AggregateFunctions/AggregateFunctionSparkbar.h
  src/AggregateFunctions/registerAggregateFunctions.cpp
  tests/queries/0_stateless/02016_aggregation_spark_bar.reference
  tests/queries/0_stateless/02016_aggregation_spark_bar.sql
Labels: can be tested, pr-feature, doc-alert

#28683 Expand macros in RabbitMQ settings
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
Labels: pr-improvement, force tests

#28488 DOCSUP-10285: Documented the ReplicatedMergeTree settings
  docs/en/engines/table-engines/mergetree-family/replication.md
  docs/en/operations/settings/merge-tree-settings.md
  docs/en/operations/settings/settings.md
  docs/ru/engines/table-engines/mergetree-family/replication.md
  docs/ru/operations/settings/merge-tree-settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#28956 DOCSUP-14096: Edit and translate to Russian
  docs/en/interfaces/third-party/gui.md
  docs/ru/engines/database-engines/postgresql.md
  docs/ru/interfaces/third-party/gui.md
  docs/ru/operations/system-tables/replicas.md
Labels: pr-documentation

#28960 Fix gcc11 unbundled build
  programs/client/TestTags.cpp
Labels: pr-not-for-changelog

#28906 Improve the performance of SUM of nullable floating point numbers
  src/AggregateFunctions/AggregateFunctionSum.h
  tests/performance/sum.xml
Labels: pr-performance

#28863 Column default dictGet identifier fix
  src/Interpreters/inplaceBlockConversions.cpp
  tests/queries/0_stateless/2015_column_default_dict_get_identifier.reference
  tests/queries/0_stateless/2015_column_default_dict_get_identifier.sql
Labels: pr-not-for-changelog, pr-must-backport

#27476 Improve codec for encr 19896
  docs/en/operations/server-configuration-parameters/settings.md
  programs/server/Server.cpp
  programs/server/config.xml
  src/Compression/CompressionCodecEncrypted.cpp
  src/Compression/CompressionCodecEncrypted.h
  src/Compression/CompressionFactoryAdditions.cpp
  src/Compression/CompressionInfo.h
  src/Compression/ICompressionCodec.h
  src/Compression/fuzzers/encrypted_decompress_fuzzer.cpp
  src/Compression/ya.make
  tests/config/config.d/encryption.xml
  tests/integration/test_codec_encrypted/__init__.py
  tests/integration/test_codec_encrypted/test.py
  tests/queries/0_stateless/01683_codec_encrypted.reference
  tests/queries/0_stateless/01683_codec_encrypted.sql
Labels: can be tested, pr-improvement

#28540 Fix insert_quorum_timeout in zookeeper_mutations_and_insert_quorum_long
  tests/queries/0_stateless/01090_zookeeper_mutations_and_insert_quorum_long.sql
Labels: pr-not-for-changelog

#28046 [WIP] Improve support for build with clang-13
  CMakeLists.txt
  base/common/LineReader.cpp
  base/common/phdr_cache.cpp
  base/common/unit.h
  base/daemon/BaseDaemon.cpp
  base/mysqlxx/CMakeLists.txt
  base/mysqlxx/PoolFactory.cpp
  base/readpassphrase/readpassphrase.c
  cmake/analysis.cmake
  docker/builder/Dockerfile
  docker/builder/build.sh
  docker/packager/binary/Dockerfile
  docker/packager/deb/Dockerfile
  docker/packager/packager
  docker/test/base/Dockerfile
  docker/test/codebrowser/Dockerfile
  docker/test/fasttest/Dockerfile
  docker/test/fasttest/run.sh
  docker/test/fuzzer/run-fuzzer.sh
  docker/test/keeper-jepsen/run.sh
  docker/test/pvs/Dockerfile
  docs/en/development/build.md
  src/Backups/BackupUtils.cpp
  src/Client/HedgedConnectionsFactory.cpp
  src/Columns/MaskOperations.cpp
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTracker.h
  src/Common/ThreadFuzzer.cpp
  src/Common/ThreadStatus.cpp
  src/Common/ZooKeeper/ZooKeeperCommon.h
  src/Common/examples/int_hashes_perf.cpp
  src/Compression/CompressionCodecDoubleDelta.cpp
  src/Compression/CompressionCodecGorilla.cpp
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  src/Functions/FunctionsCodingIP.cpp
  src/Functions/TargetSpecific.h
  src/IO/FileEncryptionCommon.cpp
  src/IO/ReadBufferFromFileDescriptor.cpp
  src/IO/tests/gtest_bit_io.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  tests/ci/ci_config.json
  tests/queries/0_stateless/01492_format_readable_quantity.reference
  tests/queries/0_stateless/01492_format_readable_quantity.sql
  utils/memcpy-bench/memcpy-bench.cpp
Labels: can be tested, pr-build

#28864 Fix reordering of REPLACE_RANGE and DROP PART
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-bugfix

#28655 DOCSUP-14372: MsgPack format
  docs/en/interfaces/formats.md
  docs/ru/interfaces/formats.md
Labels: can be tested, pr-documentation

#28962 Apply settings from CREATE AS SELECT queries
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/02028_create_select_settings.reference
  tests/queries/0_stateless/02028_create_select_settings.sql
Labels: pr-improvement

#28603 Some fixes for static files disk
  programs/static-files-disk-uploader/static-files-disk-uploader.cpp
  src/Disks/DiskWebServer.cpp
  src/Disks/DiskWebServer.h
  src/Disks/ReadIndirectBufferFromWebServer.cpp
  src/Disks/ReadIndirectBufferFromWebServer.h
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Interpreters/InterpreterDropQuery.cpp
  src/Storages/IStorage.cpp
  src/Storages/IStorage.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageMergeTree.cpp
  tests/integration/test_disk_over_web_server/configs/storage_conf_web.xml
  tests/integration/test_disk_over_web_server/test.py
  utils/s3tools/s3uploader
Labels: pr-not-for-changelog

#28969 Remove explicit DB in 01115_join_with_dictionary
  tests/queries/0_stateless/01115_join_with_dictionary.sql
Labels: pr-not-for-changelog

#29001 Fix 01150_ddl_guard_rwr test
  tests/queries/0_stateless/01150_ddl_guard_rwr.sh
Labels: pr-not-for-changelog

#28997 Fix num threads in global in subquery
  src/Interpreters/GlobalSubqueriesVisitor.h
  tests/queries/0_stateless/2015_global_in_threads.reference
  tests/queries/0_stateless/2015_global_in_threads.sh
Labels: pr-bugfix

#28325 Bit shift operations for FixedString and String data types.
  src/Functions/DivisionUtils.h
  src/Functions/FunctionBinaryArithmetic.h
  src/Functions/GCDLCMImpl.h
  src/Functions/abs.cpp
  src/Functions/bitAnd.cpp
  src/Functions/bitBoolMaskAnd.cpp
  src/Functions/bitBoolMaskOr.cpp
  src/Functions/bitCount.cpp
  src/Functions/bitNot.cpp
  src/Functions/bitOr.cpp
  src/Functions/bitRotateLeft.cpp
  src/Functions/bitRotateRight.cpp
  src/Functions/bitShiftLeft.cpp
  src/Functions/bitShiftRight.cpp
  src/Functions/bitSwapLastTwo.cpp
  src/Functions/bitTest.cpp
  src/Functions/bitWrapperFunc.cpp
  src/Functions/bitXor.cpp
  src/Functions/divide.cpp
  src/Functions/greatest.cpp
  src/Functions/intDiv.cpp
  src/Functions/intDivOrZero.cpp
  src/Functions/intExp10.cpp
  src/Functions/intExp2.cpp
  src/Functions/least.cpp
  src/Functions/minus.cpp
  src/Functions/modulo.cpp
  src/Functions/moduloOrZero.cpp
  src/Functions/multiply.cpp
  src/Functions/negate.cpp
  src/Functions/plus.cpp
  src/Functions/roundAge.cpp
  src/Functions/roundDuration.cpp
  src/Functions/roundToExp2.cpp
  src/Functions/sign.cpp
  tests/queries/0_stateless/02016_bit_shift_right_for_string_integer.reference
  tests/queries/0_stateless/02016_bit_shift_right_for_string_integer.sql
  tests/queries/0_stateless/02017_bit_shift_left_for_string_integer.reference
  tests/queries/0_stateless/02017_bit_shift_left_for_string_integer.sql
Labels: can be tested, pr-feature, doc-alert

#29013 Update ya.make
  src/AggregateFunctions/ya.make
  src/Common/ya.make
  src/Compression/ya.make
  src/IO/ya.make
  src/Interpreters/ya.make
  src/Storages/ya.make
Labels: pr-not-for-changelog

#29009 Better error message on concurrent alters
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#29031 remove arrow library compatibility for arcadia
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
Labels: pr-not-for-changelog

#28905 Allow to include subcolumns in `DESCRIBE` query
  src/Core/Settings.h
  src/DataTypes/IDataType.cpp
  src/DataTypes/IDataType.h
  src/Interpreters/InterpreterDescribeQuery.cpp
  src/Interpreters/InterpreterDescribeQuery.h
  tests/queries/0_stateless/02026_describe_include_subcolumns.reference
  tests/queries/0_stateless/02026_describe_include_subcolumns.sql
Labels: pr-feature, doc-alert

#28072 DOCSUP-11582: add clickhouse-keeper description
  docs/en/operations/clickhouse-keeper.md
  docs/ru/operations/clickhouse-keeper.md
Labels: pr-documentation

#29003 Doc. Mathematical Round for Decimals, Bankers for Floats
  docs/en/sql-reference/functions/rounding-functions.md
  docs/ru/sql-reference/functions/rounding-functions.md
Labels: pr-documentation

#29014 Check left join strictness in tryInitDictJoin
  src/Interpreters/HashJoin.cpp
  src/Interpreters/TableJoin.cpp
  src/Parsers/ASTTablesInSelectQuery.h
  tests/queries/0_stateless/01115_join_with_dictionary.reference
  tests/queries/0_stateless/01115_join_with_dictionary.sql
Labels: pr-bugfix, pr-no-backport

#29035 fix clang flag use-ctor-homing
  CMakeLists.txt
  cmake/check_flags.cmake
Labels: can be tested, pr-not-for-changelog

#28902 DOCSUP-14089: Document the max_hyperscan_regexp_length and max_hyperscan_regexp_tot…
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#28636 Fix nullable/lowcardinality primary key with constant conversion
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/02023_nullable_int_uint_where.reference
  tests/queries/0_stateless/02023_nullable_int_uint_where.sql
Labels: pr-bugfix

#27135 compress INTO OUTFILE with parameter compress
  programs/client/Client.cpp
  src/Interpreters/executeQuery.cpp
  src/Parsers/ASTInsertQuery.cpp
  src/Parsers/ASTInsertQuery.h
  src/Parsers/ASTQueryWithOutput.h
  src/Parsers/ParserInsertQuery.cpp
  src/Parsers/ParserQueryWithOutput.cpp
  src/Processors/Transforms/getSourceFromFromASTInsertQuery.cpp
  tests/queries/0_stateless/02024_compression_in_query.reference
  tests/queries/0_stateless/02024_compression_in_query.sh
Labels: can be tested, pr-improvement, doc-alert

#29008 Do not replaceAliasColumnsInQuery for JOIN OR/USING sections
  src/Interpreters/ColumnAliasesVisitor.cpp
  src/Interpreters/ColumnAliasesVisitor.h
  src/Interpreters/InDepthNodeVisitor.h
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/replaceAliasColumnsInQuery.cpp
  src/Interpreters/replaceAliasColumnsInQuery.h
  tests/queries/0_stateless/01925_join_materialized_columns.reference
  tests/queries/0_stateless/01925_join_materialized_columns.sql
Labels: pr-bugfix, pr-no-backport

#27963 Overflow bugfix
  base/common/arithmeticOverflow.h
  src/IO/ReadHelpers.h
Labels: can be tested, doc-alert, pr-not-for-changelog

#29051 enable Parquet & Orc formats in arcadia
  src/Formats/registerFormats.cpp
  src/Processors/Formats/Impl/ORCBlockInputFormat.h
  src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.h
  src/Processors/ya.make
  src/Processors/ya.make.in
Labels: can be tested, pr-not-for-changelog

#29038 RangeHashedDictionary range type docs fix
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
Labels: pr-not-for-changelog

#28723 Increase number of iterations in test_distributed_load_balancing (fixes flakiness)
  tests/integration/test_distributed_load_balancing/test.py
Labels: pr-not-for-changelog

#28953 gRPC: Allow change server-side compression from client.
  programs/server/config.xml
  src/Server/GRPCServer.cpp
  src/Server/grpc_protos/clickhouse_grpc.proto
  tests/integration/test_grpc_protocol/test.py
Labels: pr-improvement

#29059 Fix some images in release PRs
  docker/packager/binary/Dockerfile
  docker/test/integration/kerberos_kdc/Dockerfile
  docker/test/integration/mysql_golang_client/Dockerfile
  docker/test/pvs/Dockerfile
  docker/test/sqlancer/Dockerfile
Labels: pr-not-for-changelog

#29070 fix sql examples syntax highlight
  docs/ru/sql-reference/aggregate-functions/reference/stochasticlinearregression.md
Labels: pr-documentation

#29073 Remove VerticalRaw format from docs
  docs/en/interfaces/formats.md
  docs/ja/interfaces/formats.md
  docs/ru/interfaces/formats.md
  docs/zh/interfaces/formats.md
Labels: pr-not-for-changelog

#29067 pr commercial
  docs/en/interfaces/third-party/gui.md
  docs/zh/commercial/cloud.md
  docs/zh/commercial/index.md
  docs/zh/commercial/support.md
  docs/zh/development/adding_test_queries.md
  docs/zh/interfaces/third-party/gui.md
Labels: can be tested, pr-documentation

#28975 Don not add const group by key for query with only having.
  src/Interpreters/TreeOptimizer.cpp
  tests/queries/0_stateless/2016_agg_empty_result_bug_28880.reference
  tests/queries/0_stateless/2016_agg_empty_result_bug_28880.sql
Labels: pr-not-for-changelog, pr-must-backport

#28889 Fix waiting for mutation with mutations_sync=2
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-bugfix

#28797 Rewrite StorageRabbitMQ a little
  src/Storages/RabbitMQ/RabbitMQConnection.cpp
  src/Storages/RabbitMQ/RabbitMQConnection.h
  src/Storages/RabbitMQ/RabbitMQHandler.h
  src/Storages/RabbitMQ/ReadBufferFromRabbitMQConsumer.cpp
  src/Storages/RabbitMQ/ReadBufferFromRabbitMQConsumer.h
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.h
  src/Storages/RabbitMQ/WriteBufferToRabbitMQProducer.cpp
  src/Storages/RabbitMQ/WriteBufferToRabbitMQProducer.h
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-bugfix

#29071 Fix deserializeCheckVersionTxn version.
  src/Coordination/ZooKeeperDataReader.cpp
Labels: can be tested, pr-bugfix

#29112 [docs] try to fix build
  docs/tools/requirements.txt
Labels: pr-documentation

#28911 DOCSUP-13593: Alter view
  docs/en/sql-reference/statements/alter/index.md
  docs/en/sql-reference/statements/alter/view.md
  docs/en/sql-reference/statements/create/view.md
  docs/en/sql-reference/statements/show.md
  docs/ru/sql-reference/statements/alter/index.md
  docs/ru/sql-reference/statements/alter/view.md
  docs/ru/sql-reference/statements/create/view.md
  docs/ru/sql-reference/statements/show.md
Labels: pr-documentation
