Repository ClickHouse/ClickHouse, pull requests merged in 2021-11, with the labels that each got.

#30947 Add github to known hosts in docs release
  .github/workflows/main.yml
  .github/workflows/release.yml
  docker/docs/release/run.sh
Labels: pr-not-for-changelog

#30941 Fix reading from TinyLog
  src/Storages/StorageLog.cpp
  src/Storages/StorageStripeLog.cpp
Labels: pr-not-for-changelog

#30948 Parse json from response in ci checks
  tests/ci/pr_info.py
Labels: pr-not-for-changelog

#30840 Support all serializable types in arrayStringConcat
  docs/en/sql-reference/functions/splitting-merging-functions.md
  docs/ru/sql-reference/functions/splitting-merging-functions.md
  src/Functions/FunctionsStringArray.cpp
  src/Functions/FunctionsStringArray.h
  tests/queries/0_stateless/00255_array_concat_string.reference
  tests/queries/0_stateless/00255_array_concat_string.sql
Labels: can be tested, pr-improvement

#30529 DOCSUP-14981: Information Schema
  docs/en/operations/system-tables/columns.md
  docs/en/operations/system-tables/databases.md
  docs/en/operations/system-tables/information_schema.md
  docs/en/operations/system-tables/tables.md
  docs/ru/operations/system-tables/columns.md
  docs/ru/operations/system-tables/information_schema.md
  docs/ru/operations/system-tables/tables.md
  docs/ru/sql-reference/functions/rounding-functions.md
Labels: pr-documentation

#30940 Fix flacky test
  tests/integration/test_odbc_interaction/test.py
Labels: pr-not-for-changelog, testing

#30938 Fix file progress for clickhouse-local
  src/Client/LocalConnection.cpp
Labels: pr-not-for-changelog

#30797 Cleanup after fail in localBackup
  src/Disks/S3/DiskS3.cpp
  src/Storages/MergeTree/localBackup.cpp
Labels: pr-bugfix

#30720 docs: chinese translation for zh system-tables
  docs/zh/operations/system-tables/crash-log.md
  docs/zh/operations/system-tables/current-roles.md
  docs/zh/operations/system-tables/data_skipping_indices.md
  docs/zh/operations/system-tables/distributed_ddl_queue.md
  docs/zh/operations/system-tables/distribution_queue.md
  docs/zh/operations/system-tables/enabled-roles.md
  docs/zh/operations/system-tables/errors.md
  docs/zh/operations/system-tables/grants.md
  docs/zh/operations/system-tables/licenses.md
  docs/zh/operations/system-tables/opentelemetry_span_log.md
  docs/zh/operations/system-tables/parts_columns.md
  docs/zh/operations/system-tables/query_views_log.md
  docs/zh/operations/system-tables/quota_limits.md
  docs/zh/operations/system-tables/quota_usage.md
  docs/zh/operations/system-tables/quotas.md
  docs/zh/operations/system-tables/quotas_usage.md
  docs/zh/operations/system-tables/replicated_fetches.md
  docs/zh/operations/system-tables/replication_queue.md
  docs/zh/operations/system-tables/role-grants.md
  docs/zh/operations/system-tables/roles.md
  docs/zh/operations/system-tables/row_policies.md
  docs/zh/operations/system-tables/settings_profile_elements.md
  docs/zh/operations/system-tables/settings_profiles.md
  docs/zh/operations/system-tables/stack_trace.md
  docs/zh/operations/system-tables/time_zones.md
  docs/zh/operations/system-tables/users.md
  docs/zh/operations/system-tables/zookeeper_log.md
Labels: can be tested, pr-documentation

#30860 DOCSUP-11549: Document the compile_aggregate_expressions and min_count_to_compile_aggregate_expression settings
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#30902 Update permissions-for-queries.md of cn
  docs/zh/operations/settings/permissions-for-queries.md
Labels: can be tested

#30967 Fix flacky test
  tests/queries/0_stateless/02026_storage_filelog_largefile.sh
Labels: pr-not-for-changelog

#30688 Implement BACKUP & RESTORE for Log family
  src/Common/FileChecker.cpp
  src/Common/FileChecker.h
  src/Storages/IStorage.cpp
  src/Storages/IStorage.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/StorageLog.cpp
  src/Storages/StorageLog.h
  src/Storages/StorageStripeLog.cpp
  src/Storages/StorageStripeLog.h
  tests/integration/test_backup_restore_new/test.py
Labels: pr-improvement

#30950 Fix test_backward_compatibility
  tests/integration/test_backward_compatibility/test_aggregate_fixed_key.py
Labels: pr-not-for-changelog

#30772 DOCSUP-16361: Update the SQL-statement CREATE DATABASE
  docs/en/sql-reference/statements/create/database.md
  docs/ru/sql-reference/statements/create/database.md
Labels: pr-documentation

#30952 Add stress test to github actions
  .github/workflows/main.yml
  docker/test/stress/Dockerfile
  docker/test/stress/run.sh
  tests/ci/metrics_lambda/app.py
  tests/ci/stress_check.py
  tests/ci/worker/init_func_tester.sh
  tests/ci/worker/init_stress_tester.sh
Labels: pr-not-for-changelog

#29528 Support NULLS FIRST in KeyCondition
  src/Storages/MergeTree/KeyCondition.cpp
Labels: can be tested, pr-not-for-changelog

#30881 clickhouse-local interactive fix --verbose and allow logging into file
  programs/client/Client.cpp
  programs/local/LocalServer.cpp
  src/Client/ClientBase.cpp
Labels: pr-improvement

#30826 Fix possible "The local set of parts of X doesn't look like the set of parts in ZooKeeper" error
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-improvement

#30351 output_format_avro_rows_in_file
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/IRowOutputFormat.h
  src/Processors/Formats/Impl/AvroRowOutputFormat.cpp
  src/Processors/Formats/Impl/AvroRowOutputFormat.h
  src/Storages/Kafka/WriteBufferToKafkaProducer.cpp
  src/Storages/RabbitMQ/WriteBufferToRabbitMQProducer.cpp
  tests/integration/test_storage_kafka/test.py
  tests/integration/test_storage_rabbitmq/test.py
Labels: can be tested, pr-improvement

#30990 Set output_format_avro_rows_in_file default to 1
  src/Core/Settings.h
  src/Formats/FormatSettings.h
Labels: pr-not-for-changelog

#30970 Add settings for remote async reads
  src/Core/Settings.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
Labels: pr-improvement

#30963 Try smaller blacklist of non parallel integration tests
  tests/integration/parallel_skip.json
Labels: pr-not-for-changelog

#30993 Remove remaining usages of Y_IGNORE
  programs/server/Server.cpp
  utils/keeper-data-dumper/main.cpp
Labels: can be tested, pr-not-for-changelog

#30690 Partitioned write for file, hdfs, url storages and table functions
  src/Processors/Sinks/SinkToStorage.h
  src/Storages/ExternalDataSourceConfiguration.cpp
  src/Storages/ExternalDataSourceConfiguration.h
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/HDFS/StorageHDFS.h
  src/Storages/PartitionedSink.cpp
  src/Storages/PartitionedSink.h
  src/Storages/StorageExternalDistributed.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageFile.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/Storages/StorageURL.cpp
  src/Storages/StorageURL.h
  src/Storages/StorageXDBC.cpp
  src/Storages/StorageXDBC.h
  src/TableFunctions/TableFunctionURL.cpp
  src/TableFunctions/TableFunctionURL.h
  tests/integration/test_storage_hdfs/test.py
  tests/integration/test_storage_s3/test.py
  tests/integration/test_storage_url/__init__.py
  tests/integration/test_storage_url/configs/conf.xml
  tests/integration/test_storage_url/test.py
  tests/queries/0_stateless/01944_insert_partition_by.sql
  tests/queries/0_stateless/02105_table_function_file_partiotion_by.reference
  tests/queries/0_stateless/02105_table_function_file_partiotion_by.sh
Labels: pr-feature, doc-alert

#31001 Fix segfault in formatRow function
  src/Functions/formatRow.cpp
  tests/queries/0_stateless/02113_format_row_bug.reference
  tests/queries/0_stateless/02113_format_row_bug.sql
Labels: pr-bugfix

#31003 Allow spaces in JSONPath.
  src/Functions/JSONPath/Parsers/ParserJSONPathMemberAccess.cpp
  tests/queries/0_stateless/01889_sql_json_functions.reference
  tests/queries/0_stateless/01889_sql_json_functions.sql
Labels: pr-bugfix

#31002 Add fuzzer check to actions
  .github/workflows/main.yml
  tests/ci/ast_fuzzer_check.py
  tests/ci/metrics_lambda/app.py
Labels: pr-not-for-changelog

#30927 Support `INTERVAL` type in `STEP` clause for `WITH FILL` modifier
  src/Common/IntervalKind.cpp
  src/Common/IntervalKind.h
  src/Core/SortDescription.h
  src/Interpreters/FillingRow.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Processors/Transforms/FillingTransform.cpp
  tests/queries/0_stateless/02112_with_fill_interval.reference
  tests/queries/0_stateless/02112_with_fill_interval.sql
Labels: pr-improvement

#30497 Add custom null representation support for TSV/CSV input formats, fix Nullable(String) deserializing in some formats
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/DataTypes/Serializations/SerializationNullable.cpp
  src/DataTypes/Serializations/SerializationString.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/IO/PeekableReadBuffer.cpp
  src/IO/PeekableReadBuffer.h
  tests/performance/tsv_csv_nullable_parsing.xml
  tests/queries/0_stateless/00301_csv.sh
  tests/queries/0_stateless/01474_custom_null_tsv.sh
  tests/queries/0_stateless/02029_output_csv_null_representation.reference
  tests/queries/0_stateless/02029_output_csv_null_representation.sql
  tests/queries/0_stateless/02103_tsv_csv_custom_null_representation.reference
  tests/queries/0_stateless/02103_tsv_csv_custom_null_representation.sh
  tests/queries/0_stateless/02104_json_strings_nullable_string.reference
  tests/queries/0_stateless/02104_json_strings_nullable_string.sh
Labels: pr-backward-incompatible

#30996 Return back accidentally removed code
  src/Storages/MergeTree/MergeTask.cpp
Labels: pr-not-for-changelog, pr-must-backport

#31035 Separate option for enabling fuse syntax for sum, avg, count
  src/Core/Settings.h
  src/Interpreters/TreeRewriter.cpp
  tests/queries/0_stateless/01744_fuse_sum_count_aggregate.sql
Labels: pr-not-for-changelog

#30867 DOCSUP-12425: Document the min_bytes_to_rebalance_partition_over_jbod setting
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/operations/settings/merge-tree-settings.md
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
  docs/ru/operations/settings/merge-tree-settings.md
Labels: pr-documentation

#31029 Tune perf tests configs/scripts
  docker/test/performance-comparison/compare.sh
  docker/test/performance-comparison/config/config.d/zzz-perf-comparison-tweaks-config.xml
Labels: pr-not-for-changelog

#31030 Remove metric_log/part_log overrides in tests (enabled by default)
  programs/server/config.d/metric_log.xml
  programs/server/config.d/part_log.xml
  tests/config/config.d/metric_log.xml
  tests/config/config.d/part_log.xml
  tests/config/install.sh
Labels: pr-not-for-changelog

#31028 perf: add missing DROP TABLE queries
  tests/performance/sum_map.xml
Labels: pr-not-for-changelog

#31014 Changelog for version 21.11
  CHANGELOG.md
Labels: can be tested, pr-not-for-changelog

#31084 Add new employee photos to team
  website/images/photos/elissa-weve.jpg
  website/images/photos/niek-lok.jpg
  website/images/photos/pascal-van-den-nieuwendijk.jpg
  website/images/photos/roopa-tangirala.jpg
  website/templates/company/team.html
Labels: can be tested, pr-not-for-changelog

#31085 Update button widths for responsive sizing
  website/css/main.css
  website/src/scss/components/_btns.scss
  website/templates/index/hero.html
Labels: can be tested, pr-not-for-changelog

#31087 Remove padding below greenhouse iframe
  website/templates/careers/greenhouse.html
Labels: can be tested, pr-not-for-changelog

#31086 Add overflow to benchmark tables
  website/benchmark/dbms/index.html
  website/benchmark/hardware/index.html
  website/css/main.css
  website/src/scss/utilities/_overflow.scss
Labels: can be tested, pr-not-for-changelog

#30135 Add parallel file reading `FROM INFILE` in client
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  tests/queries/0_stateless/02048_parallel_reading_from_infile.reference
  tests/queries/0_stateless/02048_parallel_reading_from_infile.sh
Labels: pr-improvement

#30718 DOCSUP-16605: [CLICKHOUSEDOCS] Edit and translate to Russian
  docs/en/operations/server-configuration-parameters/settings.md
  docs/ru/introduction/distinctive-features.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/operations/system-tables/data_skipping_indices.md
  docs/ru/operations/system-tables/parts.md
Labels: can be tested, pr-documentation

#31059 DOCSUP-14087: Document the log_formatted_queries setting
  docs/en/operations/settings/settings.md
  docs/en/operations/system-tables/query_log.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/system-tables/query_log.md
Labels: pr-documentation

#30949 Update RabbitMQ docs
  docs/ru/engines/table-engines/integrations/rabbitmq.md
Labels: can be tested, pr-documentation, doc-alert

#30954 DOCSUP-12852: Database argument for Merge table engine supports regular expression
  docs/en/engines/table-engines/special/merge.md
  docs/en/sql-reference/table-functions/merge.md
  docs/ru/engines/table-engines/special/merge.md
  docs/ru/sql-reference/table-functions/merge.md
Labels: pr-documentation

#30851 Allow delayed interactive mode
  programs/client/Client.cpp
  programs/client/Client.h
  programs/local/LocalServer.cpp
  programs/local/LocalServer.h
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  tests/queries/0_stateless/02112_delayed_clickhouse_client_with_queries_file.expect
  tests/queries/0_stateless/02112_delayed_clickhouse_client_with_queries_file.reference
  tests/queries/0_stateless/02112_delayed_clickhouse_local.expect
  tests/queries/0_stateless/02112_delayed_clickhouse_local.reference
  tests/queries/0_stateless/02112_delayed_clickhouse_local_with_queries_file.expect
  tests/queries/0_stateless/02112_delayed_clickhouse_local_with_queries_file.reference
  tests/queries/0_stateless/helpers/02112_clean.sh
  tests/queries/0_stateless/helpers/02112_prepare.sh
Labels: pr-improvement, doc-alert

#31128 Doc. freeze with name
  docs/en/sql-reference/statements/alter/partition.md
  docs/ru/sql-reference/statements/alter/partition.md
Labels: pr-documentation

#31118 Doc build: remove single.md
  docs/tools/build.py
  docs/tools/single_page.py
Labels: pr-not-for-changelog

#30964 DOCSUP-15141: [CLICKHOUSEDOCS] Edit and translate to Russian (dynamically adding/deleting tables to MaterializedPostgreSQL and h3ToGeoBoundary function)
  docs/en/engines/database-engines/materialized-postgresql.md
  docs/ru/engines/database-engines/materialized-postgresql.md
  docs/ru/sql-reference/functions/geo/h3.md
Labels: can be tested, pr-documentation

#31148 Update documentation about parsing enums in TSV/CSV
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#27021 Some optimizations for constant conditions in JOIN ON
  src/Interpreters/HashJoin.cpp
  src/Interpreters/MergeJoin.cpp
  src/Interpreters/MergeJoin.h
  src/Interpreters/join_common.cpp
  src/Interpreters/join_common.h
Labels: pr-improvement

#25894 Support join on constant
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/join_common.cpp
  tests/queries/0_stateless/02000_join_on_const.reference
  tests/queries/0_stateless/02000_join_on_const.sql
  tests/queries/0_stateless/02001_join_on_const_bs_long.reference
  tests/queries/0_stateless/02001_join_on_const_bs_long.sql.j2
Labels: pr-feature, doc-alert

#31033 Log size of remapped memory (remap_executable)
  programs/server/Server.cpp
  src/Common/remapExecutable.cpp
  src/Common/remapExecutable.h
Labels: pr-not-for-changelog

#31139 Add lambda for approve
  tests/ci/approve_lambda/Dockerfile
  tests/ci/approve_lambda/app.py
  tests/ci/approve_lambda/requirements.txt
Labels: pr-not-for-changelog

#31060 Fix intersecting parts in `parts_to_do` 2
  src/Storages/MergeTree/DropPartsRanges.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
Labels: pr-not-for-changelog

#31112 Fix threadpool read for remote disks
  src/Disks/DiskRestartProxy.cpp
  src/Disks/IO/AsynchronousReadIndirectBufferFromRemoteFS.cpp
  src/Disks/IO/AsynchronousReadIndirectBufferFromRemoteFS.h
  src/Storages/MergeTree/MergeTreeReaderStream.cpp
  src/Storages/MergeTree/MergeTreeReaderStream.h
Labels: pr-not-for-changelog

#31164 Fix typo
  src/Disks/IO/AsynchronousReadIndirectBufferFromRemoteFS.cpp
Labels: pr-not-for-changelog

#31156 Add pvs studio to actions
  .github/workflows/main.yml
  tests/ci/pvs_check.py
  tests/ci/s3_helper.py
Labels: pr-not-for-changelog

#31166 Update text on thank you page
  website/templates/contact-thank-you/hero.html
Labels: pr-not-for-changelog

#30997 RabbitMQ: fix one issue and add more tests
  src/Storages/RabbitMQ/RabbitMQSink.cpp
  src/Storages/RabbitMQ/RabbitMQSource.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.h
  src/Storages/RabbitMQ/WriteBufferToRabbitMQProducer.cpp
  src/Storages/RabbitMQ/WriteBufferToRabbitMQProducer.h
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-bugfix

#31150 Fix bug in Keeper when some logs was lost
  src/Coordination/Changelog.cpp
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-bugfix, jepsen-test

#31045 Add integration test on top of github actions
  .github/workflows/main.yml
  tests/ci/ast_fuzzer_check.py
  tests/ci/integration_test_check.py
  tests/ci/metrics_lambda/app.py
  tests/integration/ci-runner.py
Labels: pr-not-for-changelog

#31158 Add cherry-pick on github actions
  .github/workflows/backport.yml
  tests/ci/cherry_pick.py
  tests/ci/cherry_pick_utils/__init__.py
  tests/ci/cherry_pick_utils/backport.py
  tests/ci/cherry_pick_utils/cherrypick.py
  tests/ci/cherry_pick_utils/local.py
  tests/ci/cherry_pick_utils/parser.py
  tests/ci/cherry_pick_utils/query.py
  tests/ci/cherry_pick_utils/readme.md
Labels: pr-not-for-changelog

#31129 DOCSUP-15137: [CLICKHOUSEDOCS] Document the zookeeperSessionUptime() function
  docs/en/sql-reference/functions/other-functions.md
  docs/ru/sql-reference/functions/other-functions.md
Labels: pr-documentation

#28965 128bit hash-functions accepting arbitrary list of arguments
  src/Common/SipHash.h
  src/Functions/FunctionsHashing.h
  tests/queries/0_stateless/00678_murmurhash.sql
  tests/queries/0_stateless/00746_hashing_tuples.reference
  tests/queries/0_stateless/00746_hashing_tuples.sql
Labels: can be tested, pr-feature, doc-alert

#30573 DOCSUP-14784: Document the system.session_log system table
  docs/en/operations/system-tables/session_log.md
  docs/ru/operations/system-tables/session_log.md
Labels: pr-documentation

#31042 Add additional hdfs url check
  src/Disks/HDFS/DiskHDFS.cpp
  src/Storages/HDFS/HDFSCommon.cpp
  src/Storages/HDFS/HDFSCommon.h
  src/Storages/HDFS/StorageHDFS.cpp
  tests/integration/test_disk_types/configs/storage.xml
  tests/integration/test_storage_hdfs/test.py
  tests/queries/0_stateless/02114_hdfs_bad_url.reference
  tests/queries/0_stateless/02114_hdfs_bad_url.sh
Labels: pr-bugfix

#31175 Add unit tests to CI
  .github/workflows/main.yml
  src/Common/tests/gtest_local_address.cpp
  tests/ci/unit_tests_check.py
Labels: pr-not-for-changelog

#31189 Doc. Note how to convert B/s to Mbps
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: can be tested, pr-documentation

#31179 Update docker_compose_postgres.yml
  docker/test/integration/runner/compose/docker_compose_postgres.yml
Labels: pr-not-for-changelog

#31147 Do not include unnecessary experimental/type_traits
  src/AggregateFunctions/AggregateFunctionDeltaSum.h
  src/AggregateFunctions/AggregateFunctionDeltaSumTimestamp.h
  src/AggregateFunctions/AggregateFunctionSum.h
Labels: can be tested, pr-not-for-changelog

#31157 apply cgroup memory limit to physical memory amount
  base/base/getMemoryAmount.cpp
Labels: can be tested, pr-bugfix

#31159 correct disk space calculations
  src/Common/Exception.cpp
  src/Disks/DiskLocal.cpp
  src/Interpreters/AsynchronousMetrics.cpp
Labels: can be tested, pr-not-for-changelog

#31201 Fix universal installation script
  docs/_includes/install/universal.sh
Labels: pr-documentation

#31177 Debug cherry-pick CI
  .github/workflows/backport.yml
  tests/ci/cherry_pick.py
  tests/ci/cherry_pick_utils/backport.py
  tests/ci/cherry_pick_utils/cherrypick.py
  tests/ci/cherry_pick_utils/query.py
Labels: alternative build, pr-not-for-changelog

#31223 Fix integration tests
  docker/test/integration/runner/compose/docker_compose_postgres.yml
Labels: pr-not-for-changelog

#31217 Doc. Fix materialize column example
  docs/en/sql-reference/statements/alter/column.md
  docs/ru/sql-reference/statements/alter/column.md
Labels: pr-documentation

#31218 Optimize `mapContains` to reading of subcolumn
  src/Interpreters/RewriteFunctionToSubcolumnVisitor.cpp
  tests/queries/0_stateless/02115_map_contains.reference
  tests/queries/0_stateless/02115_map_contains.sql
Labels: pr-improvement

#31244 Disable fuzzer builds in CI
  docker/packager/binary/build.sh
  docker/packager/deb/build.sh
Labels: pr-not-for-changelog

#31178 Backup engines and improvements
  base/base/LocalDateTime.h
  programs/server/Server.cpp
  src/Backups/BackupEntryFromCallback.h
  src/Backups/BackupFactory.cpp
  src/Backups/BackupFactory.h
  src/Backups/BackupImpl.cpp
  src/Backups/BackupImpl.h
  src/Backups/BackupInDirectory.cpp
  src/Backups/BackupInDirectory.h
  src/Backups/BackupInfo.cpp
  src/Backups/BackupInfo.h
  src/Backups/BackupSettings.h
  src/Backups/BackupUtils.cpp
  src/Backups/IBackup.h
  src/Backups/registerBackupEngines.cpp
  src/Common/ErrorCodes.cpp
  src/Common/hex.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterBackupQuery.cpp
  src/Parsers/ASTBackupQuery.cpp
  src/Parsers/ASTBackupQuery.h
  src/Parsers/ParserBackupQuery.cpp
  src/Parsers/ParserBackupQuery.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageLog.cpp
  src/Storages/StorageStripeLog.cpp
  tests/integration/helpers/cluster.py
  tests/integration/test_backup_restore_new/configs/backups_disk.xml
  tests/integration/test_backup_restore_new/test.py
Labels: pr-improvement

#31250 Fix test
  tests/integration/test_storage_hdfs/test.py
Labels: pr-not-for-changelog

#31225 Relax test 02026_storage_filelog_largefile.sh
  tests/queries/0_stateless/02026_storage_filelog_largefile.reference
  tests/queries/0_stateless/02026_storage_filelog_largefile.sh
Labels: pr-not-for-changelog

#31224 Rename setting value read_threadpool to threadpool
  src/Core/Settings.h
  src/Disks/DiskWebServer.cpp
  src/Disks/HDFS/DiskHDFS.cpp
  src/Disks/S3/DiskS3.cpp
  src/IO/ReadBufferFromS3.cpp
  src/IO/ReadSettings.h
  tests/integration/test_disk_over_web_server/configs/async_read.xml
  tests/integration/test_merge_tree_s3/configs/config.d/async_read.xml
Labels: pr-not-for-changelog, pr-must-backport

#30965 Fix cases when intersect / except is not checked
  src/Client/QueryFuzzer.cpp
  src/Interpreters/AddDefaultDatabaseVisitor.h
  src/Interpreters/ApplyWithGlobalVisitor.cpp
  src/Interpreters/ApplyWithGlobalVisitor.h
  src/Interpreters/InterpreterSelectIntersectExceptQuery.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectWithUnionQuery.cpp
  src/Interpreters/PredicateRewriteVisitor.cpp
  src/Interpreters/PredicateRewriteVisitor.h
  src/Interpreters/ProcessList.cpp
  src/Parsers/ASTSelectIntersectExceptQuery.cpp
  src/Parsers/ASTSelectIntersectExceptQuery.h
  tests/queries/0_stateless/02004_intersect_except_operators.reference
  tests/queries/0_stateless/02004_intersect_except_operators.sql
Labels: pr-bugfix

#31105 Rewrite right distributed table in local join.
  src/Interpreters/InJoinSubqueriesPreprocessor.cpp
  tests/queries/0_stateless/01824_prefer_global_in_and_join.reference
  tests/queries/0_stateless/02115_rewrite_local_join_right_distribute_table.reference
  tests/queries/0_stateless/02115_rewrite_local_join_right_distribute_table.sql
Labels: can be tested, pr-bugfix, pr-no-backport

#31267 Doc. volume_priority
  docs/en/operations/system-tables/storage_policies.md
  docs/ru/operations/system-tables/storage_policies.md
Labels: pr-documentation

#31031 improve error message while using OFFSET FETCH clause without ORDER BY
  src/Common/ErrorCodes.cpp
  src/Parsers/ParserSelectQuery.cpp
  tests/queries/0_stateless/02114_offset_fetch_without_order_by.reference
  tests/queries/0_stateless/02114_offset_fetch_without_order_by.sh
Labels: can be tested, pr-not-for-changelog

#31227 Download ccache if not exists in builds
  .github/workflows/main.yml
  tests/ci/build_check.py
  tests/ci/ccache_utils.py
  tests/ci/s3_helper.py
Labels: pr-not-for-changelog

#31248 Add flaky check to new CI
  .github/workflows/main.yml
  tests/ci/functional_test_check.py
  tests/queries/0_stateless/02097_default_dict_get_add_database.sql
Labels: pr-not-for-changelog

#31287 Followup to ccache build
  tests/ci/ccache_utils.py
Labels: pr-not-for-changelog

#31252 Show warning if some obsolete setting changed
  programs/client/Client.cpp
  src/Core/BaseSettings.h
  src/Core/Settings.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  tests/queries/0_stateless/01945_show_debug_warning.expect
  tests/queries/0_stateless/01945_system_warnings.expect
  tests/queries/0_stateless/01945_system_warnings.reference
  tests/queries/0_stateless/01945_system_warnings.sh
Labels: pr-improvement

#31034 Update 3 doc files of zh docs
  docs/zh/operations/performance-test.md
  docs/zh/operations/settings/permissions-for-queries.md
  docs/zh/operations/settings/settings-profiles.md
Labels: can be tested, pr-documentation

#30835 DOCSUP-14792-document-bitShift-functions
  docs/en/sql-reference/functions/bit-functions.md
  docs/ru/sql-reference/functions/bit-functions.md
Labels: pr-documentation

#31294 Add compatibility check
  .github/workflows/main.yml
  tests/ci/compatibility_check.py
Labels: pr-not-for-changelog

#31010 Only grab AlterLock when we do alter.
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-improvement

#31301 Disable integration tests in new CI
  .github/workflows/main.yml
Labels: pr-not-for-changelog

#29894 Make http read buffer retriable
  src/Bridge/LibraryBridgeHelper.cpp
  src/Bridge/LibraryBridgeHelper.h
  src/Bridge/XDBCBridgeHelper.h
  src/Common/ErrorCodes.cpp
  src/Core/Settings.h
  src/Dictionaries/HTTPDictionarySource.cpp
  src/Dictionaries/XDBCDictionarySource.cpp
  src/Dictionaries/XDBCDictionarySource.h
  src/Disks/DiskWebServer.cpp
  src/Disks/IO/ReadBufferFromWebServer.cpp
  src/Disks/IO/ReadBufferFromWebServer.h
  src/IO/ReadSettings.h
  src/IO/ReadWriteBufferFromHTTP.h
  src/Interpreters/Context.cpp
  src/Storages/StorageURL.cpp
  src/TableFunctions/ITableFunctionXDBC.cpp
  src/TableFunctions/TableFunctionURL.cpp
  tests/integration/helpers/network.py
  tests/integration/test_redirect_url_storage/configs/named_collections.xml
  tests/integration/test_redirect_url_storage/test.py
  tests/integration/test_storage_s3/test.py
Labels: pr-improvement

#31226 Fix typo in USE_MYSQL check
  src/Interpreters/InterpreterExternalDDLQuery.cpp
  src/Parsers/ParserExternalDDLQuery.cpp
Labels: can be tested, pr-not-for-changelog, pr-must-backport

#31180 Slightly better backoff for merge selecting task
  src/Core/Settings.h
  src/Storages/MergeTree/BackgroundJobsAssignee.cpp
  src/Storages/MergeTree/BackgroundJobsAssignee.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-improvement

#31044 Fix StorageMerge with aliases and where
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMerge.h
  tests/queries/0_stateless/01214_test_storage_merge_aliases_with_where.reference
  tests/queries/0_stateless/01214_test_storage_merge_aliases_with_where.sql
Labels: pr-bugfix, pr-no-backport

#31260 Cleanup extern ProfileEvents/CurrentMetrics and add a style check
  programs/client/Client.cpp
  src/Client/HedgedConnectionsFactory.cpp
  src/Common/DNSResolver.cpp
  src/Common/ProfileEvents.cpp
  src/Common/ThreadProfileEvents.cpp
  src/Common/ThreadProfileEvents.h
  src/Dictionaries/SSDCacheDictionaryStorage.h
  src/Disks/DiskLocal.cpp
  src/Disks/IDisk.h
  src/Disks/IDiskRemote.h
  src/IO/OpenedFileCache.h
  src/IO/SynchronousReader.cpp
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/ProcessList.cpp
  src/Interpreters/ThreadStatusExt.cpp
  src/Processors/Transforms/SortingTransform.cpp
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  utils/check-style/check-style
Labels: pr-not-for-changelog

#31258 move InputCreatorFunc to InputCreator
  src/Formats/FormatFactory.h
Labels: can be tested, pr-not-for-changelog

#31326 Add Blog Post for 21.11 Release Update
  website/blog/en/2021/clickhouse-v21.11-released.md
  website/templates/index/hero.html
Labels: pr-not-for-changelog

#31327 Add blog post for Moscow meetup
  website/blog/en/2021/clickhouse-october-moscow-meetup.md
Labels: pr-not-for-changelog

#31318 Proper progress for numbers_mt
  src/Storages/System/StorageSystemNumbers.cpp
Labels: pr-improvement

#31316 Debug rabbitmq tests
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-not-for-changelog

#31324 Improve fuzzer report in case of fuzzer killed
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#31325 Fix check in async buffer
  src/Disks/IO/AsynchronousReadIndirectBufferFromRemoteFS.h
Labels: pr-not-for-changelog, pr-must-backport

#31299 Add split build check
  .github/workflows/main.yml
  tests/ci/split_build_smoke_check.py
Labels: pr-not-for-changelog

#31262 Initial user's roles are used now to find row policies
  src/Access/AccessControl.cpp
  src/Access/AccessControl.h
  src/Interpreters/Context.cpp
  tests/integration/test_row_policy/test.py
Labels: pr-improvement

#31261 Optimize tupleElement to reading of subcolumn
  src/DataTypes/DataTypeTuple.cpp
  src/DataTypes/DataTypeTuple.h
  src/Interpreters/RewriteFunctionToSubcolumnVisitor.cpp
  tests/queries/0_stateless/02116_tuple_element.reference
  tests/queries/0_stateless/02116_tuple_element.sql
Labels: pr-improvement

#31305 Merging #31081
  src/Interpreters/InterpreterRenameQuery.cpp
  src/Interpreters/InterpreterRenameQuery.h
  src/Parsers/ASTRenameQuery.h
  src/Parsers/ParserRenameQuery.cpp
  tests/queries/0_stateless/01109_exchange_tables.reference
  tests/queries/0_stateless/01109_exchange_tables.sql
Labels: pr-not-for-changelog

#31249 Fix SHOW GRANTS when partial revokes are used.
  src/Access/AccessRights.cpp
  tests/queries/0_stateless/01073_grant_and_revoke.reference
  tests/queries/0_stateless/01073_grant_and_revoke.sql
Labels: pr-bugfix

#31285 Expose all GlobalThreadPool config params
  docs/en/operations/server-configuration-parameters/settings.md
  programs/keeper/Keeper.cpp
  programs/server/Server.cpp
  src/Common/ThreadPool.cpp
  src/Common/ThreadPool.h
Labels: can be tested, pr-feature, doc-alert

#31082 DOCSUP-16607: Update the SQL-statement CREATE DICTIONARY
  docs/en/operations/system-tables/dictionaries.md
  docs/en/sql-reference/statements/create/dictionary.md
  docs/ru/operations/system-tables/dictionaries.md
  docs/ru/sql-reference/statements/create/dictionary.md
Labels: pr-documentation

#31012 DOCSUP-16608: Documented JSONExtractKeys function
  docs/en/sql-reference/functions/json-functions.md
  docs/ru/sql-reference/functions/json-functions.md
Labels: pr-documentation

#31110 DOCSUP-15458: Document the SQL-statement ALTER TABLE ... MODIFY COMMENT
  docs/en/sql-reference/statements/alter/comment.md
  docs/en/sql-reference/statements/alter/index.md
  docs/ru/sql-reference/statements/alter/comment.md
  docs/ru/sql-reference/statements/alter/index.md
Labels: pr-documentation

#31347 Update http.md
  docs/en/interfaces/http.md
  docs/ru/interfaces/http.md
Labels: can be tested, pr-documentation

#31109 Updated adopters with Jitsu and Open Targets; minor adopters editing; and added benchmark for Intel Core i5-9600K
  docs/en/introduction/adopters.md
  website/benchmark/hardware/results/core_i5_9600K_asus_z390.json
Labels: can be tested, pr-documentation

#31348 add nestjs-clickhouse library
  docs/en/interfaces/third-party/client-libraries.md
Labels: can be tested, pr-documentation

#31366 Remove PDF documentation
  docs/tools/README.md
  docs/tools/build.py
  docs/tools/single_page.py
  website/README.md
  website/templates/docs/sidebar.html
Labels: pr-documentation, make it worse

#31362 Doc. CREATE DICTIONARY / SETTINGS
  docs/en/sql-reference/statements/create/dictionary.md
  docs/ru/sql-reference/statements/create/dictionary.md
Labels: pr-documentation

#31334 BloomFilter index check fix
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
Labels: pr-not-for-changelog, pr-must-backport

#31279 docs: Add descriptions for string aliases
  docs/en/sql-reference/data-types/string.md
Labels: pr-documentation

#31007 support compile in arm machine with parameter "-DENABLE_TESTS=OFF"
  CMakeLists.txt
Labels: can be tested, pr-build

#31136 use DiskPtr instead of OS's file system API in class IDiskRemote
  src/Disks/DiskLocal.cpp
  src/Disks/HDFS/DiskHDFS.cpp
  src/Disks/HDFS/DiskHDFS.h
  src/Disks/IDiskRemote.cpp
  src/Disks/IDiskRemote.h
  src/Disks/S3/DiskS3.cpp
  src/Disks/S3/DiskS3.h
  src/Disks/S3/registerDiskS3.cpp
Labels: can be tested, pr-improvement

#31387 Fix test_kafka_insert_avro by pinning avro version
  docker/test/integration/runner/Dockerfile
Labels: pr-not-for-changelog

#31392 Fix QueryScope in MaterializedMySQLSyncThread
  src/Databases/MySQL/MaterializedMySQLSyncThread.cpp
Labels: pr-not-for-changelog

#31397 Comparison between EBS and EFS
  website/benchmark/hardware/index.html
  website/benchmark/hardware/results/efs_vs_ebs.json
Labels: pr-documentation

#30876 add aliases for `\<letter>` interactive client commands
  src/Client/ClientBase.cpp
  tests/queries/0_stateless/02105_backslash_letter_commands.expect
  tests/queries/0_stateless/02105_backslash_letter_commands.reference
Labels: can be tested, pr-improvement

#31393 Check stderr is writable before reopining it (to avoid losing errors)
  base/daemon/BaseDaemon.cpp
  tests/queries/0_stateless/02116_clickhouse_stderr.reference
  tests/queries/0_stateless/02116_clickhouse_stderr.sh
Labels: pr-not-for-changelog

#31399 [blog] clarifications to clickhouse-v21.11-released.md headers
  website/blog/en/2021/clickhouse-v21.11-released.md
Labels: pr-documentation

#31063 perf: switch *_log tables to Memory engine (attempt to reduce cache misses)
  docker/test/performance-comparison/config/config.d/zzz-perf-comparison-tweaks-config.xml
Labels: pr-not-for-changelog

#31229 Change all fsync to fdatasync
  src/Dictionaries/SSDCacheDictionaryStorage.h
  src/Disks/LocalDirectorySyncGuard.cpp
  src/IO/WriteBufferFromFileDescriptor.cpp
  utils/iotest/iotest.cpp
  utils/iotest/iotest_nonblock.cpp
Labels: can be tested, pr-performance, doc-alert

#31403 Fix client
  programs/client/Client.cpp
  programs/client/Client.h
  programs/local/LocalServer.cpp
  programs/local/LocalServer.h
  src/Client/ClientBase.h
  tests/queries/0_stateless/02116_interactive_hello.expect
  tests/queries/0_stateless/02116_interactive_hello.reference
Labels: pr-not-for-changelog

#30931 DOCSUP-14511: Document custom query for database dictionaries
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-sources.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-sources.md
Labels: pr-documentation

#31101 DOCSUP-14785: document detach_not_byte_identical_parts
  docs/en/operations/settings/merge-tree-settings.md
  docs/ru/operations/settings/merge-tree-settings.md
Labels: pr-documentation

#31300 Remove strange code from mutations
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
Labels: pr-not-for-changelog

#31408 Doc. More tips
  docs/en/operations/tips.md
Labels: pr-documentation

#31406 Remove excessive debug info from the log message in DDLWorker
  src/Interpreters/DDLWorker.cpp
Labels: pr-not-for-changelog

#31340 Remove some copypaste from CI
  .github/workflows/main.yml
  tests/ci/ast_fuzzer_check.py
  tests/ci/build_check.py
  tests/ci/build_download_helper.py
  tests/ci/build_report_check.py
  tests/ci/ci_config.py
  tests/ci/commit_status_helper.py
  tests/ci/compatibility_check.py
  tests/ci/docker_images_check.py
  tests/ci/docker_pull_helper.py
  tests/ci/docs_check.py
  tests/ci/docs_release.py
  tests/ci/fast_test_check.py
  tests/ci/finish_check.py
  tests/ci/functional_test_check.py
  tests/ci/integration_test_check.py
  tests/ci/pvs_check.py
  tests/ci/run_check.py
  tests/ci/split_build_smoke_check.py
  tests/ci/stress_check.py
  tests/ci/style_check.py
  tests/ci/unit_tests_check.py
  tests/ci/upload_result_helper.py
Labels: pr-not-for-changelog

#31259 Print warning during old directories cleanup in MergeTree only if it is old
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#31057 Cancel vertical merges
  src/Storages/MergeTree/MergeTask.cpp
Labels: pr-improvement

#31134 Fix system tables introduction link
  docs/ru/operations/system-tables/query_thread_log.md
Labels: can be tested, pr-documentation

#31333 Do not try to resolve temporary tables from global context
  programs/copier/ClusterCopier.cpp
  programs/copier/ClusterCopierApp.cpp
  src/Interpreters/Context.cpp
  tests/queries/0_stateless/02111_global_context_temporary_tables.reference
  tests/queries/0_stateless/02111_global_context_temporary_tables.sql
Labels: pr-not-for-changelog

#31286 Aliyun OSS Storage support
  src/IO/S3Common.cpp
Labels: can be tested, pr-feature, doc-alert

#31420 Fix group by with positional args
  src/Interpreters/TreeOptimizer.cpp
  tests/queries/0_stateless/02006_test_positional_arguments.reference
  tests/queries/0_stateless/02006_test_positional_arguments.sql
Labels: pr-bugfix

#31413 Turn on more CI checks
  .github/workflows/main.yml
  tests/ci/ci_config.py
Labels: pr-not-for-changelog

#30977 Check dependencies on DROP TABLE
  src/Common/ErrorCodes.cpp
  src/Core/Settings.h
  src/Databases/DDLDependencyVisitor.cpp
  src/Databases/DDLDependencyVisitor.h
  src/Databases/DatabaseAtomic.cpp
  src/Databases/DatabaseAtomic.h
  src/Databases/DatabaseMemory.cpp
  src/Databases/DatabaseOrdinary.cpp
  src/Databases/IDatabase.h
  src/Databases/TablesLoader.cpp
  src/Databases/TablesLoader.h
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterDropQuery.cpp
  src/Interpreters/InterpreterRenameQuery.cpp
  src/Interpreters/InterpreterRenameQuery.h
  src/Storages/System/StorageSystemTables.cpp
  tests/integration/test_dictionaries_ddl/test.py
  tests/integration/test_dictionaries_dependency_xml/test.py
  tests/performance/ip_trie.xml
  tests/queries/0_stateless/01017_mutations_with_nondeterministic_functions_zookeeper.sh
  tests/queries/0_stateless/01018_ddl_dictionaries_concurrent_requrests.sh
  tests/queries/0_stateless/01018_ddl_dictionaries_create.sql
  tests/queries/0_stateless/01018_ddl_dictionaries_select.sql
  tests/queries/0_stateless/01018_dictionaries_from_dictionaries.sql
  tests/queries/0_stateless/01018_ip_dictionary_long.sql
  tests/queries/0_stateless/01033_dictionaries_lifetime.sql
  tests/queries/0_stateless/01040_dictionary_invalidate_query_switchover_long.sh
  tests/queries/0_stateless/01041_create_dictionary_if_not_exists.sql
  tests/queries/0_stateless/01050_clickhouse_dict_source_with_subquery.sql
  tests/queries/0_stateless/01076_cache_dictionary_datarace_exception_ptr.sh
  tests/queries/0_stateless/01160_table_dependencies.reference
  tests/queries/0_stateless/01160_table_dependencies.sh
  tests/queries/0_stateless/01192_rename_database_zookeeper.sh
  tests/queries/0_stateless/01257_dictionary_mismatch_types.sql
  tests/queries/0_stateless/01501_cache_dictionary_all_fields.sql
  tests/queries/0_stateless/01526_complex_key_dict_direct_layout.sql
  tests/queries/0_stateless/01527_dist_sharding_key_dictGet_reload.sql
  tests/queries/0_stateless/01676_range_hashed_dictionary.sql
  tests/queries/0_stateless/01759_dictionary_unique_attribute_names.sql
  tests/queries/0_stateless/02015_column_default_dict_get_identifier.sql
  tests/queries/0_stateless/02097_default_dict_get_add_database.sql
Labels: pr-improvement
