Repository ClickHouse/ClickHouse, pull requests merged in 2021-06, with the labels that each got.

#24809 Fix mutation wait on mutation kill
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-bugfix

#24813 ExpressionJIT remove unncecessary logging
  src/Interpreters/ExpressionJIT.cpp
Labels: pr-not-for-changelog

#24812 Fix typo. Remove the "allow_experimental_bigint_types" setting.
  src/Core/Settings.h
  src/DataTypes/IDataType.h
  src/Interpreters/InterpreterCreateQuery.cpp
Labels: pr-not-for-changelog

#24806 Small improvement for StorageMaterializedView::getActionLock(...)
  src/Storages/StorageMaterializedView.cpp
Labels: pr-not-for-changelog

#24782 Fix empty part set with force_use_projection = 1
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01710_force_use_projection.reference
  tests/queries/0_stateless/01710_force_use_projection.sql
Labels: pr-not-for-changelog

#24084 DOCSUP-5919: Update OPTIMIZE description in docs
  docs/en/sql-reference/statements/optimize.md
  docs/ru/sql-reference/statements/optimize.md
Labels: can be tested, pr-documentation

#23315 Fix waiting while dropping empty parts
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/PartMovesBetweenShardsOrchestrator.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-bugfix, st-waiting-for-fix

#23769 Add qualified names for right columns for storage join
  src/Interpreters/HashJoin.cpp
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Storages/StorageJoin.cpp
  tests/queries/0_stateless/00118_storage_join.reference
  tests/queries/0_stateless/00118_storage_join.sql
  tests/queries/0_stateless/00119_storage_join.sql
Labels: pr-improvement

#24843 Add Rust language third-party library, Klickhouse
  docs/en/interfaces/third-party/client-libraries.md
Labels: can be tested, pr-documentation

#24803 Don't capture temporary references in ZooKeeper client callbacks.
  src/Common/ZooKeeper/IKeeper.h
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#24574 Refactor MergeTreeDataSelectExecutor
  src/Processors/QueryPlan/MergingFinal.cpp
  src/Processors/QueryPlan/MergingFinal.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Processors/ya.make
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/01019_materialized_view_select_extra_columns.sql
  tests/queries/0_stateless/01551_mergetree_read_in_order_spread.reference
  tests/queries/0_stateless/01576_alias_column_rewrite.reference
  tests/queries/0_stateless/01651_bugs_from_15889.sql
  tests/queries/0_stateless/01861_explain_pipeline.reference
Labels: force tests, pr-not-for-changelog

#24805 Fix race on enqueue query in Replicated database
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicated.h
  src/Databases/DatabaseReplicatedWorker.cpp
  src/Databases/DatabaseReplicatedWorker.h
  tests/queries/0_stateless/00910_zookeeper_test_alter_compression_codecs_long.sql
  tests/queries/0_stateless/01154_move_partition_long.sh
  tests/queries/0_stateless/01710_projection_fetch.reference
  tests/queries/0_stateless/01710_projection_fetch.sql
  tests/queries/skip_list.json
Labels: pr-improvement

#24865 docs: update requests (to fix conflicts with urllib3)
  docs/tools/requirements.txt
Labels: pr-not-for-changelog

#24822 Merging #23260
  src/Storages/StorageJoin.cpp
  src/Storages/StorageJoin.h
  tests/queries/0_stateless/01821_join_table_mutation.reference
  tests/queries/0_stateless/01821_join_table_mutation.sql
  tests/queries/0_stateless/01821_join_table_race_long.reference
  tests/queries/0_stateless/01821_join_table_race_long.sh
Labels: pr-not-for-changelog

#23260 Join table mutation
  src/Storages/StorageJoin.cpp
  src/Storages/StorageJoin.h
  tests/queries/0_stateless/01821_join_table_mutation.reference
  tests/queries/0_stateless/01821_join_table_mutation.sql
Labels: can be tested, doc-alert, pr-feature

#24286 DOCSUP-7842: Document the dictionary function
  docs/en/engines/table-engines/special/dictionary.md
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-sources.md
  docs/en/sql-reference/table-functions/dictionary.md
  docs/ru/engines/table-engines/special/dictionary.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-sources.md
  docs/ru/sql-reference/table-functions/dictionary.md
Labels: pr-documentation

#24450 Fix totalBytes computation in StorageBuffer
  src/Storages/StorageBuffer.cpp
  tests/queries/0_stateless/01881_total_bytes_storage_buffer.reference
  tests/queries/0_stateless/01881_total_bytes_storage_buffer.sql
Labels: can be tested, pr-bugfix, pr-no-backport

#24886 Suppress RocksDB error
  tests/queries/0_stateless/01504_rocksdb.sql
  tests/queries/0_stateless/01686_rocksdb.sql
Labels: pr-not-for-changelog

#24882 Get rid of std::stringstream in Suggest
  programs/client/Suggest.cpp
Labels: pr-not-for-changelog

#24573 Add limits for replicated fetches/sends bandwidth
  programs/client/Suggest.cpp
  src/Common/Throttler.cpp
  src/Common/Throttler.h
  src/Common/ya.make
  src/Core/Settings.h
  src/IO/copyData.cpp
  src/IO/copyData.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/DataPartsExchange.h
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/helpers/network.py
  tests/integration/test_replicated_fetches_bandwidth/__init__.py
  tests/integration/test_replicated_fetches_bandwidth/configs/limit_replication_config.xml
  tests/integration/test_replicated_fetches_bandwidth/test.py
Labels: pr-improvement

#24872 Paranoid fix for background pool task decrement
  src/Storages/MergeTree/BackgroundJobsExecutor.cpp
Labels: pr-bugfix

#19766 Implement `sequenceNextNode()` function useful for `flow analysis`.
  docs/en/sql-reference/aggregate-functions/parametric-functions.md
  src/AggregateFunctions/AggregateFunctionSequenceNextNode.cpp
  src/AggregateFunctions/AggregateFunctionSequenceNextNode.h
  src/AggregateFunctions/AggregateFunctionWindowFunnel.cpp
  src/AggregateFunctions/registerAggregateFunctions.cpp
  src/AggregateFunctions/ya.make
  src/Columns/ColumnNullable.cpp
  src/Core/Settings.h
  tests/queries/0_stateless/00632_aggregation_window_funnel.sql
  tests/queries/0_stateless/01656_sequence_next_node_long.reference
  tests/queries/0_stateless/01656_sequence_next_node_long.sql
Labels: doc-alert, pr-feature

#24764 DOCSUP-8347: Document the non_replicated_deduplication_window setting
  docs/en/operations/settings/merge-tree-settings.md
  docs/ru/operations/settings/merge-tree-settings.md
Labels: pr-documentation

#24777 Do not crash on intersecting virtual parts
  src/Storages/MergeTree/ActiveDataPartSet.cpp
  src/Storages/MergeTree/ActiveDataPartSet.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreePartInfo.h
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_consistent_parts_after_clone_replica/test.py
  tests/queries/0_stateless/01307_multiple_leaders_zookeeper.sh
  tests/queries/0_stateless/01320_create_sync_race_condition_zookeeper.sh
  tests/queries/0_stateless/01417_freeze_partition_verbose_zookeeper.sh
Labels: pr-bugfix

#24919 Mute test_memory_consumption before #24784
  tests/integration/test_dictionaries_complex_key_cache_string/test.py
Labels: pr-not-for-changelog

#24765 DOCSUP-7864: Document the SQL-statement ALTER TABLE ... UNFREEZE
  docs/en/sql-reference/statements/alter/partition.md
  docs/ru/sql-reference/statements/alter/partition.md
Labels: pr-documentation

#24398 Fix logical error AggregateFunctionFactory returned nullptr
  src/AggregateFunctions/AggregateFunctionDeltaSumTimestamp.cpp
  src/AggregateFunctions/AggregateFunctionResample.cpp
  src/AggregateFunctions/AggregateFunctionSegmentLengthSum.cpp
  src/DataTypes/IDataType.h
  src/DataTypes/Native.h
  src/DataTypes/getMostSubtype.cpp
  src/Functions/FunctionBinaryArithmetic.h
  src/Functions/FunctionCustomWeekToSomething.h
  src/Functions/FunctionDateOrDateTimeAddInterval.h
  src/Functions/FunctionDateOrDateTimeToSomething.h
  src/Functions/FunctionsCoding.h
  src/Functions/FunctionsComparison.h
  src/Functions/FunctionsConversion.h
  src/Functions/array/arrayIntersect.cpp
  src/Functions/dateDiff.cpp
  src/Functions/date_trunc.cpp
  src/Functions/formatDateTime.cpp
  src/Functions/reinterpretAs.cpp
  src/Functions/toStartOfInterval.cpp
  src/Interpreters/MySQL/InterpretersMySQLDDLQuery.cpp
  src/Interpreters/convertFieldToType.cpp
  src/Processors/Formats/RowInputFormatWithDiagnosticInfo.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  tests/queries/0_stateless/01762_deltasumtimestamp_datetime64.reference
  tests/queries/0_stateless/01762_deltasumtimestamp_datetime64.sh
Labels: pr-not-for-changelog

#24913 Fix nullable link
  docs/ru/sql-reference/syntax.md
Labels: can be tested, pr-documentation

#24922 Fix possible heap-buffer-overflow in Arrow
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
Labels: pr-bugfix

#24929 Relax hung check
  docker/test/stress/run.sh
  docker/test/stress/stress
Labels: pr-not-for-changelog

#24833 Simplify code around TraceCollector, alternative to #24829
  src/Common/StackTrace.h
  src/Common/TraceCollector.cpp
Labels: pr-not-for-changelog

#24911 Remove some outdated integration tests
  tests/integration/test_adaptive_granularity/__init__.py
  tests/integration/test_adaptive_granularity/configs/log_conf.xml
  tests/integration/test_adaptive_granularity/configs/merge_tree_settings.xml
  tests/integration/test_adaptive_granularity/configs/remote_servers.xml
  tests/integration/test_adaptive_granularity/configs/wide_parts_only.xml
  tests/integration/test_adaptive_granularity/test.py
  tests/integration/test_adaptive_granularity_different_settings/__init__.py
  tests/integration/test_adaptive_granularity_different_settings/test.py
  tests/integration/test_adaptive_granularity_replicated/__init__.py
  tests/integration/test_adaptive_granularity_replicated/test.py
Labels: pr-not-for-changelog

#24480 Add fuzzing tests for YAMLParser
  src/Common/Config/YAMLParser.cpp
  src/Common/examples/CMakeLists.txt
  src/Common/examples/YAML_fuzzer.cpp
Labels: can be tested, pr-build

#24939 RFC: clickhouse-test: do not substitude db name in stderr by default
  tests/clickhouse-test
Labels: pr-not-for-changelog

#24937 Documentation: The MySQL engine also allows to perform `INSERT`
  docs/en/engines/table-engines/integrations/mysql.md
  docs/ru/engines/table-engines/integrations/mysql.md
Labels: can be tested, pr-documentation

#24874 Try reusing built sets during multi-pass analysis
  programs/server/Server.cpp
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
Labels: force tests, pr-improvement

#24955 Fix bad error message in docker entrypoint
  docker/server/entrypoint.sh
Labels: pr-not-for-changelog

#24311 Merging #23461
  docs/en/engines/table-engines/integrations/s3.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/ru/engines/table-engines/integrations/s3.md
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
  src/Disks/S3/DiskS3.cpp
  src/IO/ReadBufferFromS3.cpp
  src/IO/ReadBufferFromS3.h
  src/IO/S3Common.cpp
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/TableFunctions/TableFunctionS3.cpp
  src/TableFunctions/TableFunctionS3Cluster.cpp
  tests/integration/test_storage_s3/s3_mocks/unstable_server.py
Labels: pr-not-for-changelog

#24857 Fix NULL values in postgresql protocol
  docker/test/fasttest/run.sh
  src/Core/PostgreSQLProtocol.h
  tests/queries/0_stateless/01889_postgresql_protocol_null_fields.reference
  tests/queries/0_stateless/01889_postgresql_protocol_null_fields.sh
  tests/queries/skip_list.json
Labels: pr-bugfix

#24523 Fix crash when chaining uniqStates
  src/AggregateFunctions/AggregateFunctionUniq.cpp
  src/AggregateFunctions/AggregateFunctionUniqCombined.cpp
  src/AggregateFunctions/AggregateFunctionUniqUpTo.cpp
  tests/queries/0_stateless/01882_uniqueState_over_uniqueState.reference
  tests/queries/0_stateless/01882_uniqueState_over_uniqueState.sh
Labels: can be tested, pr-bugfix

#24861 Testflows Extended Precision Data Type testing - Adding snapshots for output comparison.
  tests/testflows/extended_precision_data_types/snapshots/common.py.tests.snapshot
Labels: pr-not-for-changelog

#24968 Try fix `test_consistent_parts_after_clone_replica`
  tests/integration/test_consistent_parts_after_clone_replica/test.py
Labels: pr-must-backport, pr-not-for-changelog

#24970 Fix typo in usage section in s3 documentation
  docs/en/engines/table-engines/integrations/s3.md
  docs/ru/engines/table-engines/integrations/s3.md
Labels: can be tested, doc-alert, pr-not-for-changelog

#24959 Remove subprocess_call from cluster.py
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog

#24954 Followup fixes for integration tests
  tests/integration/ci-runner.py
  tests/integration/helpers/cluster.py
  tests/integration/test_consistent_parts_after_clone_replica/test.py
  tests/integration/test_partition/test.py
Labels: pr-not-for-changelog

#25001 DictionaryLoader unnecessary dictionary configuration creation fix
  src/Interpreters/ExternalDictionariesLoader.cpp
Labels: pr-must-backport, pr-not-for-changelog

#24999 clickhouse-test: fix log_comment for .sql tests
  tests/clickhouse-test
Labels: pr-not-for-changelog

#24967 Fix the test after #20393
  tests/integration/test_storage_kafka/test.py
Labels: pr-not-for-changelog

#24388 Add initial_query_start_time to query log
  src/Core/Defines.h
  src/Interpreters/ClientInfo.cpp
  src/Interpreters/ClientInfo.h
  src/Interpreters/QueryLog.cpp
  src/Interpreters/QueryThreadLog.cpp
  src/Interpreters/executeQuery.cpp
  src/Server/TCPHandler.cpp
  tests/queries/0_stateless/01872_initial_query_start_time.reference
  tests/queries/0_stateless/01872_initial_query_start_time.sh
Labels: pr-improvement

#24957 Fix endless wait in replica clone
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#24930 Allow shard pruning with IN literal
  src/Interpreters/evaluateConstantExpression.cpp
  src/Storages/StorageDistributed.cpp
  tests/queries/0_stateless/01756_optimize_skip_unused_shards_rewrite_in.reference
  tests/queries/0_stateless/01756_optimize_skip_unused_shards_rewrite_in.sql
  tests/queries/0_stateless/01901_in_literal_shard_prune.reference
  tests/queries/0_stateless/01901_in_literal_shard_prune.sql
Labels: pr-improvement

#24940 Fix limit/offset settings for distributed queries (ignore on the remote nodes)
  src/Interpreters/ClusterProxy/executeQuery.cpp
  tests/queries/0_stateless/01892_setting_limit_offset_distributed.reference
  tests/queries/0_stateless/01892_setting_limit_offset_distributed.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-bugfix

#25012 Fix bad test
  tests/queries/0_stateless/01289_min_execution_speed_not_too_early.sql
Labels: pr-not-for-changelog

#25007 Maybe Minio starts for too long in tests
  tests/integration/test_merge_tree_s3_failover/test.py
  tests/integration/test_storage_s3/test.py
Labels: pr-not-for-changelog

#25002 Compression codecs refactoring
  .gitmodules
  CMakeLists.txt
  cmake/find/yaml-cpp.cmake
  contrib/CMakeLists.txt
  src/Client/Connection.cpp
  src/Common/config.h.in
  src/Compression/CompressionCodecDelta.cpp
  src/Compression/CompressionCodecDelta.h
  src/Compression/CompressionCodecDoubleDelta.cpp
  src/Compression/CompressionCodecDoubleDelta.h
  src/Compression/CompressionCodecGorilla.cpp
  src/Compression/CompressionCodecGorilla.h
  src/Compression/CompressionCodecLZ4.cpp
  src/Compression/CompressionCodecLZ4.h
  src/Compression/CompressionCodecT64.cpp
  src/Compression/CompressionCodecT64.h
  src/Compression/CompressionCodecZSTD.cpp
  src/Compression/CompressionCodecZSTD.h
  src/Compression/CompressionFactory.cpp
  src/Compression/CompressionFactory.h
  src/Compression/CompressionInfo.h
  src/Compression/ICompressionCodec.h
  src/Core/Settings.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Server/TCPHandler.cpp
  src/Storages/AlterCommands.cpp
  src/Storages/ColumnsDescription.cpp
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
  src/Storages/MergeTree/MergeTreeWriteAheadLog.cpp
  src/Storages/System/StorageSystemErrors.cpp
  src/Storages/TTLDescription.cpp
  tests/integration/test_non_default_compression/configs/allow_experimental_codecs.xml
  tests/integration/test_non_default_compression/test.py
Labels: pr-not-for-changelog, submodule changed

#24918 Improve documentation about <remote_url_allow_hosts>
  programs/server/config.xml
Labels: can be tested, pr-documentation

#24729 Minor fixes in AggregateFunctionSegmentLengthSumData
  src/AggregateFunctions/AggregateFunctionIntervalLengthSum.cpp
  src/AggregateFunctions/AggregateFunctionIntervalLengthSum.h
  src/AggregateFunctions/registerAggregateFunctions.cpp
  src/AggregateFunctions/ya.make
  tests/queries/0_stateless/01866_aggregate_function_interval_length_sum.reference
  tests/queries/0_stateless/01866_aggregate_function_interval_length_sum.sql
  tests/queries/0_stateless/01866_aggregate_function_segment_length_sum.sql
Labels: pr-not-for-changelog

#24890 DOCSUP-8709: Document RELOAD MODEL and RELOAD MODELS system queries
  docs/en/guides/apply-catboost-model.md
  docs/en/sql-reference/statements/system.md
  docs/ru/guides/apply-catboost-model.md
  docs/ru/sql-reference/statements/system.md
Labels: pr-documentation

#24961 Trying to fix 'Tagging already tagged part'
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
Labels: pr-bugfix

#25031 Disks fix ya.make
  src/Disks/ya.make
Labels: pr-not-for-changelog

#24960 Delete support for waiting on queue- entries, is this dead code?
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#24894 Allow not in be used in partition pruning
  src/Interpreters/Set.cpp
  tests/queries/0_stateless/01891_not_in_partition_prune.reference
  tests/queries/0_stateless/01891_not_in_partition_prune.sql
Labels: pr-improvement

#24878 fix markdown at window functions page
  docs/en/sql-reference/window-functions/index.md
Labels: pr-documentation

#25038 Remove database before model name in docs
  docs/en/sql-reference/statements/system.md
  docs/ru/sql-reference/statements/system.md
Labels: pr-not-for-changelog

#24546 DOCSUP-8448: [CLICKHOUSEDOCS] Edit and translate to Russian
  docs/en/sql-reference/functions/date-time-functions.md
  docs/en/sql-reference/statements/rename.md
  docs/ru/sql-reference/functions/date-time-functions.md
  docs/ru/sql-reference/statements/rename.md
Labels: pr-documentation

#24973 Cleanup iptables and containers on session start
  tests/integration/conftest.py
  tests/integration/helpers/cluster.py
  tests/integration/helpers/network.py
  tests/integration/runner
Labels: pr-not-for-changelog

#25053 Fix incorrect queries in documentation
  docs/en/sql-reference/table-functions/s3.md
Labels: pr-documentation

#25034 fix jemalloc build on OS_DARWIN
  contrib/jemalloc-cmake/CMakeLists.txt
Labels: can be tested, pr-not-for-changelog, submodule changed

#25046 Add exit instruction to init script after service status check
  debian/clickhouse-server.init
Labels: pr-other

#24069 [RFC] Suppress exceptions from logger code
  base/loggers/OwnSplitChannel.cpp
  base/loggers/OwnSplitChannel.h
  programs/main.cpp
  src/Common/IO.cpp
  src/Common/IO.h
  src/Common/ya.make
  tests/queries/0_stateless/01594_too_low_memory_limits.config.xml
  tests/queries/0_stateless/01594_too_low_memory_limits.sh
  tests/queries/skip_list.json
Labels: pr-improvement

#25060 test for attach partition from
  tests/queries/0_stateless/01901_test_attach_partition_from.reference
  tests/queries/0_stateless/01901_test_attach_partition_from.sql
Labels: can be tested, pr-not-for-changelog

#24858 DOCSUP-9674: Document the intervalLengthSum aggregate function
  docs/en/sql-reference/aggregate-functions/reference/intervalLengthSum.md
  docs/ru/sql-reference/aggregate-functions/reference/intervalLengthSum.md
Labels: pr-documentation

#24743 Update "Tail_Number" column type in create query
  docs/en/getting-started/example-datasets/ontime.md
Labels: can be tested, pr-documentation

#25083 Update CHANGELOG.md
  CHANGELOG.md
Labels: pr-documentation

#25078 Update Dockerfile
  docker/test/stateless_pytest/Dockerfile
Labels: pr-not-for-changelog

#25025 Distinguish KILL MUTATION for different tables.
  src/Interpreters/GlobalSubqueriesVisitor.h
  src/Interpreters/InterpreterExistsQuery.cpp
  src/Interpreters/StorageID.cpp
  src/Interpreters/StorageID.h
  src/Storages/MergeTree/MergeList.cpp
  src/Storages/MergeTree/MergeList.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/01900_kill_mutation_parallel_long.reference
  tests/queries/0_stateless/01900_kill_mutation_parallel_long.sh
Labels: pr-bugfix

#25066 AggregateFunctionAnyHeavyData use fixed size type
  src/AggregateFunctions/AggregateFunctionMinMaxAny.h
Labels: pr-not-for-changelog

#25059 Ban loop aliases in table definitions
  src/Interpreters/QueryNormalizer.cpp
  src/Interpreters/QueryNormalizer.h
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/TreeRewriter.h
  src/Interpreters/tests/gtest_cycle_aliases.cpp
  src/Storages/ColumnsDescription.cpp
  tests/queries/0_stateless/01902_self_aliases_in_columns.reference
  tests/queries/0_stateless/01902_self_aliases_in_columns.sql
Labels: pr-bugfix

#24947 DOCSUP-9738: Types supported in Dictionaries
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-structure.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-structure.md
Labels: pr-documentation

#25080 Fix bug function mapContains
  src/Functions/map.cpp
  tests/queries/0_stateless/01651_map_functions.reference
  tests/queries/0_stateless/01651_map_functions.sql
Labels: pr-bugfix

#25084 Remove strange timeout in test
  tests/integration/test_distributed_queries_stress/test.py
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-not-for-changelog

#25072 Increase background schedule pool default size
  src/Core/Settings.h
Labels: pr-improvement

#24406 Optimize some functions to subcolumns
  src/Core/Settings.h
  src/Interpreters/RewriteFunctionToSubcolumnVisitor.cpp
  src/Interpreters/RewriteFunctionToSubcolumnVisitor.h
  src/Interpreters/TreeOptimizer.cpp
  src/Interpreters/TreeOptimizer.h
  src/Interpreters/TreeRewriter.cpp
  tests/queries/0_stateless/01872_functions_to_subcolumns.reference
  tests/queries/0_stateless/01872_functions_to_subcolumns.sql
Labels: force tests, pr-improvement

#25082 Fix crash in explain syntax and cross join.
  src/Interpreters/JoinToSubqueryTransformVisitor.cpp
  src/Parsers/ASTIdentifier.cpp
  tests/queries/0_stateless/01890_cross_join_explain_crash.reference
  tests/queries/0_stateless/01890_cross_join_explain_crash.sql
Labels: pr-bugfix

#24754 Respect max_distributed_connections for insert_distributed_sync
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
Labels: pr-improvement

#24938 some perf test script improvements
  docker/test/performance-comparison/compare.sh
  docker/test/performance-comparison/entrypoint.sh
  docker/test/performance-comparison/report.py
Labels: pr-not-for-changelog

#24734 support expressions in window frame
  docker/test/fuzzer/run-fuzzer.sh
  programs/client/Client.cpp
  programs/client/QueryFuzzer.cpp
  programs/client/QueryFuzzer.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Parsers/ASTWindowDefinition.cpp
  src/Parsers/ASTWindowDefinition.h
  src/Parsers/ExpressionElementParsers.cpp
  tests/queries/0_stateless/01571_window_functions.reference
  tests/queries/0_stateless/01571_window_functions.sql
Labels: pr-not-for-changelog

#24941 Add test issue #23430
  tests/integration/helpers/cluster.py
  tests/integration/test_storage_kafka/test.py
Labels: altinity, pr-not-for-changelog

#25145 Use zstd/include in ya.make
  src/Compression/ya.make
  src/Compression/ya.make.in
  src/IO/ya.make
  src/IO/ya.make.in
Labels: can be tested, pr-not-for-changelog

#25133 Fix using Yandex dockerhub registries for TestFlows.
  docker/test/testflows/runner/dockerd-entrypoint.sh
Labels: pr-build

#25125 Disabling extended precision data types TestFlows tests
  tests/testflows/regression.py
Labels: pr-build

#25050 Mute stdout and stderr for both branches of cron task's if
  debian/clickhouse-server.cron.d
Labels: can be tested, pr-other

#25127 Revert old UUID hash used for partition ID.
  src/Common/FieldVisitors.h
  src/Storages/MergeTree/MergeTreePartition.cpp
  tests/queries/0_stateless/01891_partition_by_uuid.reference
  tests/queries/0_stateless/01891_partition_by_uuid.sql
  tests/queries/0_stateless/01891_partition_hash.reference
  tests/queries/0_stateless/01891_partition_hash.sql
  tests/queries/0_stateless/01891_partition_hash_no_long_int.reference
  tests/queries/0_stateless/01891_partition_hash_no_long_int.sql
Labels: pr-bugfix

#24763 Process config w/o extensions as XML format
  src/Common/Config/ConfigProcessor.cpp
  tests/queries/0_stateless/01889_clickhouse_client_config_format.reference
  tests/queries/0_stateless/01889_clickhouse_client_config_format.sh
Labels: pr-not-for-changelog

#25147 check for row_policy defined using user() function
  tests/queries/0_stateless/01889_check_row_policy_defined_using_user_function.reference
  tests/queries/0_stateless/01889_check_row_policy_defined_using_user_function.sh
  tests/queries/skip_list.json
Labels: can be tested, pr-not-for-changelog

#25103 Fix topLevelDomain() for IDN hosts
  src/Functions/URL/domain.h
  src/Functions/URL/topLevelDomain.cpp
  tests/queries/0_stateless/00398_url_functions.reference
  tests/queries/0_stateless/00398_url_functions.sql
  tests/queries/1_stateful/00038_uniq_state_merge2.reference
Labels: pr-improvement

#25150 Document single binary install
  docs/en/getting-started/install.md
Labels: pr-documentation

#25159 add sumKahan to RU and EN documentation
  docs/en/sql-reference/aggregate-functions/reference/sumkahan.md
  docs/ru/sql-reference/aggregate-functions/reference/sumkahan.md
Labels: pr-documentation

#25152 Move code to more appropriate place
  src/Common/FieldVisitors.h
  src/Storages/MergeTree/MergeTreePartition.cpp
Labels: pr-not-for-changelog

#25132 DOCSUP-10156: Fixed documentation for topKWeighted function
  docs/en/sql-reference/aggregate-functions/reference/topkweighted.md
  docs/ru/sql-reference/aggregate-functions/reference/topkweighted.md
Labels: pr-documentation

#24898 Fixed bug with declaring S3 disk at root of bucket
  src/IO/S3Common.cpp
  src/IO/tests/gtest_s3_uri.cpp
Labels: altinity, pr-bugfix

#25163 Disable projection when final is used in select query
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-bugfix

#25111 Less timeouts in integration tests
  tests/integration/test_storage_kafka/test.py
  tests/integration/test_storage_kerberized_kafka/test.py
Labels: pr-not-for-changelog

#24458 DOCSUP-9599: Edit and translate to Russian (LDAP)
  docs/en/operations/external-authenticators/ldap.md
  docs/ru/operations/external-authenticators/ldap.md
  docs/ru/sql-reference/statements/grant.md
Labels: pr-documentation

#25119 Dictionaries support array type
  src/Dictionaries/CacheDictionaryStorage.h
  src/Dictionaries/DictionaryHelpers.h
  src/Dictionaries/DictionarySourceFactory.cpp
  src/Dictionaries/DictionaryStructure.cpp
  src/Dictionaries/DictionaryStructure.h
  src/Dictionaries/ExternalQueryBuilder.cpp
  src/Dictionaries/FlatDictionary.cpp
  src/Dictionaries/FlatDictionary.h
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/HashedDictionary.h
  src/Dictionaries/IPAddressDictionary.cpp
  src/Dictionaries/IPAddressDictionary.h
  src/Dictionaries/PolygonDictionary.cpp
  src/Dictionaries/PolygonDictionary.h
  src/Dictionaries/RangeHashedDictionary.cpp
  src/Dictionaries/RangeHashedDictionary.h
  src/Parsers/ParserDictionaryAttributeDeclaration.cpp
  tests/queries/0_stateless/01902_dictionary_array_type.reference
  tests/queries/0_stateless/01902_dictionary_array_type.sql
  tests/queries/0_stateless/01903_ssd_cache_dictionary_array_type.reference
  tests/queries/0_stateless/01903_ssd_cache_dictionary_array_type.sh
  tests/queries/skip_list.json
Labels: doc-alert, pr-feature

#25126 Fix flaky check report in CI runner
  tests/integration/ci-runner.py
Labels: pr-not-for-changelog

#25079 Trying to debug fetches bandwith test failures
  tests/integration/helpers/network.py
Labels: pr-not-for-changelog

#25169 Fix insert a subset of columns using CSVWithNames
  src/Processors/Formats/IInputFormat.h
  src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  src/Processors/Formats/Impl/CSVRowInputFormat.h
  tests/queries/0_stateless/01903_csvwithnames_subset_of_columns.reference
  tests/queries/0_stateless/01903_csvwithnames_subset_of_columns.sh
Labels: pr-bugfix

#25193 Update s3.md
  docs/ru/sql-reference/table-functions/s3.md
Labels: can be tested, pr-documentation

#25192 add sumKahan details
  docs/en/sql-reference/aggregate-functions/reference/sumkahan.md
  docs/ru/sql-reference/aggregate-functions/reference/sumkahan.md
Labels: pr-documentation

#25164 Add toJSONString function
  src/Functions/registerFunctions.cpp
  src/Functions/toJSONString.cpp
  tests/queries/0_stateless/01905_to_json_string.reference
  tests/queries/0_stateless/01905_to_json_string.sql
Labels: doc-alert, pr-feature

#25204 Fix tests
  tests/queries/0_stateless/01889_clickhouse_client_config_format.sh
  tests/queries/0_stateless/01900_kill_mutation_parallel_long.sh
  tests/queries/query_test.py
Labels: pr-not-for-changelog

#25201 Update JDBC bridge related docs
  docs/en/engines/table-engines/integrations/jdbc.md
  docs/en/sql-reference/table-functions/jdbc.md
  docs/ja/engines/table-engines/integrations/jdbc.md
  docs/ja/sql-reference/table-functions/jdbc.md
  docs/ru/engines/table-engines/integrations/jdbc.md
  docs/ru/sql-reference/table-functions/jdbc.md
  docs/zh/engines/table-engines/integrations/jdbc.md
  docs/zh/sql-reference/table-functions/jdbc.md
Labels: pr-documentation

#25047 Add integration test for jdbc bridge
  docker/test/integration/runner/compose/docker_compose_jdbc_bridge.yml
  tests/integration/helpers/cluster.py
  tests/integration/test_jdbc_bridge/__init__.py
  tests/integration/test_jdbc_bridge/configs/jdbc_bridge.xml
  tests/integration/test_jdbc_bridge/test.py
Labels: pr-build

#24900 Added support of hasAny function to bloom_filter index.
  src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.h
  tests/queries/0_stateless/01888_bloom_filter_hasAny.reference
  tests/queries/0_stateless/01888_bloom_filter_hasAny.sql
Labels: altinity, pr-performance

#24897 Fixed problems with double spaces in logs for `S3Common`
  src/IO/S3Common.cpp
Labels: altinity, pr-improvement

#25218 enable s3 in osx
  cmake/find/s3.cmake
  src/Disks/S3/DiskS3.cpp
Labels: can be tested, pr-build

#25022 Add initial_query_start_time to query log
  src/Core/Defines.h
  src/Interpreters/ClientInfo.cpp
  src/Interpreters/ClientInfo.h
  src/Interpreters/QueryLog.cpp
  src/Interpreters/QueryThreadLog.cpp
  src/Interpreters/executeQuery.cpp
  src/Server/TCPHandler.cpp
  tests/queries/0_stateless/01872_initial_query_start_time.reference
  tests/queries/0_stateless/01872_initial_query_start_time.sh
Labels: doc-alert, pr-feature

#24728 Remove explicit enable_dictionaries files in integration tests
  docker/test/integration/runner/compose/docker_compose_hdfs.yml
  docker/test/integration/runner/compose/docker_compose_kerberized_hdfs.yml
  docker/test/integration/runner/dockerd-entrypoint.sh
  tests/integration/conftest.py
  tests/integration/helpers/cluster.py
  tests/integration/helpers/hdfs_api.py
  tests/integration/helpers/network.py
  tests/integration/test_allowed_url_from_config/test.py
  tests/integration/test_cleanup_dir_after_bad_zk_conn/test.py
  tests/integration/test_dictionaries_all_layouts_separate_sources/configs/enable_dictionaries.xml
  tests/integration/test_dictionaries_complex_key_cache_string/configs/enable_dictionaries.xml
  tests/integration/test_dictionaries_complex_key_cache_string/test.py
  tests/integration/test_dictionaries_dependency_xml/configs/enable_dictionaries.xml
  tests/integration/test_dictionaries_dependency_xml/test.py
  tests/integration/test_dictionaries_mysql/configs/enable_dictionaries.xml
  tests/integration/test_dictionaries_mysql/test.py
  tests/integration/test_dictionaries_null_value/configs/enable_dictionaries.xml
  tests/integration/test_dictionaries_null_value/test.py
  tests/integration/test_dictionaries_select_all/configs/enable_dictionaries.xml
  tests/integration/test_dictionaries_select_all/test.py
  tests/integration/test_dictionaries_update_and_reload/configs/config.xml
  tests/integration/test_dictionaries_update_and_reload/configs/dictionaries/file.xml
  tests/integration/test_dictionaries_update_and_reload/configs/enable_dictionaries.xml
  tests/integration/test_dictionaries_update_and_reload/test.py
  tests/integration/test_dictionary_allow_read_expired_keys/configs/enable_dictionaries.xml
  tests/integration/test_dictionary_allow_read_expired_keys/test_default_reading.py
  tests/integration/test_dictionary_allow_read_expired_keys/test_default_string.py
  tests/integration/test_dictionary_allow_read_expired_keys/test_dict_get.py
  tests/integration/test_dictionary_allow_read_expired_keys/test_dict_get_or_default.py
  tests/integration/test_dictionary_custom_settings/configs/dictionaries/ExecutableSourceConfig.xml
  tests/integration/test_dictionary_custom_settings/configs/dictionaries/FileSourceConfig.xml
  tests/integration/test_dictionary_custom_settings/configs/enable_dictionaries.xml
  tests/integration/test_dictionary_custom_settings/test.py
  tests/integration/test_library_bridge/configs/enable_dict.xml
  tests/integration/test_library_bridge/test.py
  tests/integration/test_odbc_interaction/configs/enable_dictionaries.xml
  tests/integration/test_odbc_interaction/test.py
  tests/integration/test_partition/test.py
  tests/integration/test_redirect_url_storage/test.py
  tests/integration/test_storage_hdfs/test.py
  tests/integration/test_storage_kerberized_hdfs/test.py
Labels: pr-build

#25162 RewriteFunctionToSubcolumnVisitor add into ya.make
  src/Disks/IDiskRemote.h
  src/Disks/ReadIndirectBufferFromRemoteFS.h
  src/Disks/S3/DiskS3.cpp
  src/Disks/S3/DiskS3.h
  src/Disks/S3/ProxyConfiguration.h
  src/Disks/S3/ProxyListConfiguration.cpp
  src/Disks/S3/ProxyListConfiguration.h
  src/Disks/S3/ProxyResolverConfiguration.cpp
  src/Disks/S3/ProxyResolverConfiguration.h
  src/Disks/S3/registerDiskS3.cpp
  src/Disks/WriteIndirectBufferFromRemoteFS.h
  src/IO/ReadBufferFromS3.h
  src/IO/S3/PocoHTTPClient.h
  src/IO/S3Common.h
  src/IO/WriteBufferFromS3.h
  src/Interpreters/ya.make
  src/Storages/HDFS/StorageHDFS.h
  src/TableFunctions/TableFunctionS3Cluster.h
Labels: pr-not-for-changelog

#25144 Adding leadInFrame/lagInFrame window functions TestFlows tests
  tests/testflows/window_functions/regression.py
  tests/testflows/window_functions/requirements/requirements.md
  tests/testflows/window_functions/requirements/requirements.py
  tests/testflows/window_functions/tests/frame_clause.py
  tests/testflows/window_functions/tests/funcs.py
Labels: pr-build

#25037 Update waitForTableReplicaToProcessLogEntry comments
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#25045 odbc fix
  programs/odbc-bridge/ColumnInfoHandler.cpp
  programs/odbc-bridge/IdentifierQuoteHandler.cpp
  programs/odbc-bridge/MainHandler.cpp
  programs/odbc-bridge/ODBCBlockInputStream.cpp
  programs/odbc-bridge/ODBCBlockOutputStream.cpp
  programs/odbc-bridge/ODBCBlockOutputStream.h
  programs/odbc-bridge/ODBCConnectionFactory.h
  programs/odbc-bridge/SchemaAllowedHandler.cpp
  programs/odbc-bridge/getIdentifierQuote.cpp
  programs/odbc-bridge/getIdentifierQuote.h
Labels: pr-not-for-changelog, v21.5-must-backport, v21.6-must-backport

#24875 Trying to resurrect woboq
  docker/test/codebrowser/Dockerfile
Labels: pr-not-for-changelog

#24863 clickhouse-client: echo hint improvements
  programs/client/Client.cpp
  programs/client/TestHint.h
  tests/queries/0_stateless/01891_echo.reference
  tests/queries/0_stateless/01891_echo.sql
Labels: pr-not-for-changelog

#23976 Improved `test_storage_s3_get_unstable`
  tests/integration/test_storage_s3/s3_mocks/unstable_server.py
  tests/integration/test_storage_s3/test.py
Labels: altinity, pr-not-for-changelog

#25170 Enable back the ANTLR in .sql
  tests/clickhouse-test
  tests/queries/skip_list.json
Labels: pr-not-for-changelog

#24920 Update something in KeyCondition
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/01511_alter_version_versioned_collapsing_merge_tree_zookeeper.reference
  tests/queries/0_stateless/01511_alter_version_versioned_collapsing_merge_tree_zookeeper.sql
  tests/queries/0_stateless/01889_key_condition_function_chains.reference
  tests/queries/0_stateless/01889_key_condition_function_chains.sql
Labels: pr-not-for-changelog

#25196 Added ExecutablePool documentation
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-sources.md
  src/Dictionaries/ExecutableDictionarySource.cpp
  src/Dictionaries/ExecutableDictionarySource.h
  src/Dictionaries/ExecutablePoolDictionarySource.cpp
  src/Dictionaries/ExecutablePoolDictionarySource.h
Labels: pr-not-for-changelog

#25130 DOCSUP-8425: Documented the max_distributed_depth setting
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#25198 Dictionary added update field documentation
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-lifetime.md
Labels: pr-not-for-changelog

#25203 Dictionaries attribute support default nullable type
  src/Dictionaries/DictionaryHelpers.h
  src/Dictionaries/DictionaryStructure.cpp
  src/Dictionaries/DictionaryStructure.h
  src/Dictionaries/ExternalQueryBuilder.cpp
  src/Dictionaries/FlatDictionary.cpp
  src/Dictionaries/FlatDictionary.h
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/HashedDictionary.h
  src/Dictionaries/IPAddressDictionary.cpp
  src/Dictionaries/RangeHashedDictionary.cpp
  src/Dictionaries/RangeHashedDictionary.h
  src/Functions/FunctionsExternalDictionaries.h
  tests/queries/0_stateless/01902_dictionary_array_type.sql
  tests/queries/0_stateless/01904_dictionary_default_nullable_type.reference
  tests/queries/0_stateless/01904_dictionary_default_nullable_type.sql
  tests/queries/0_stateless/01904_ssd_cache_dictionary_default_nullable_type.reference
  tests/queries/0_stateless/01904_ssd_cache_dictionary_default_nullable_type.sh
Labels: pr-not-for-changelog

#25146 Adds a better way to include binary resources
  CMakeLists.txt
  base/common/getResource.cpp
  cmake/embed_binary.cmake
  cmake/linux/toolchain-aarch64.cmake
  contrib/cctz-cmake/CMakeLists.txt
  programs/CMakeLists.txt
  programs/embed_binary.S.in
  programs/keeper/CMakeLists.txt
  programs/server/CMakeLists.txt
Labels: can be tested, doc-alert, pr-feature, submodule changed

#25210 Try run tests with Replicated database in parallel
  docker/test/stateless/run.sh
  tests/config/users.d/database_replicated.xml
Labels: pr-not-for-changelog

#25246 Add function toJSONString to ya.make
  src/Functions/ya.make
Labels: pr-not-for-changelog

#25248 Add missed #include <condition_variable>
  src/Interpreters/DatabaseCatalog.h
Labels: pr-not-for-changelog

#25247 Minor change
  base/ext/map.h
Labels: pr-not-for-changelog

#23349 Respect insert_allow_materialized_columns for INSERT into Distributed()
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
  src/Storages/Distributed/DistributedBlockOutputStream.h
  src/Storages/StorageDistributed.cpp
  tests/queries/0_stateless/00952_insert_into_distributed_with_materialized_column.reference
  tests/queries/0_stateless/00952_insert_into_distributed_with_materialized_column.sql
Labels: pr-improvement

#25269 Fix a few typos in docs
  docs/en/development/architecture.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/engines/table-engines/mergetree-family/summingmergetree.md
Labels: can be tested, pr-documentation

#25067 Detect linux version at runtime (for worked nested epoll)
  src/CMakeLists.txt
  src/Common/VersionNumber.cpp
  src/Common/VersionNumber.h
  src/Common/renameat2.cpp
  src/Common/tests/gtest_version_number.cpp
  src/Common/ya.make
  src/Core/SettingsQuirks.cpp
Labels: pr-improvement

#25267 Add missed #include <optional>
  src/Access/LDAPClient.h
Labels: can be tested, pr-not-for-changelog

#25264 Copy-paste some code
  src/Storages/MergeTree/MergeTreePartition.cpp
Labels: pr-not-for-changelog

#25250 Add test for #11535
  tests/queries/0_stateless/01908_with_unknown_column.reference
  tests/queries/0_stateless/01908_with_unknown_column.sql
Labels: pr-not-for-changelog

#25253 Add a test for #9932
  tests/queries/0_stateless/01910_view_dictionary.reference
  tests/queries/0_stateless/01910_view_dictionary.sql
Labels: pr-not-for-changelog

#25260 Fix memory tracking of aggregate function `topK`
  src/AggregateFunctions/AggregateFunctionTopK.h
  src/Common/SpaceSaving.h
  tests/queries/0_stateless/01910_memory_tracking_topk.reference
  tests/queries/0_stateless/01910_memory_tracking_topk.sql
Labels: pr-improvement

#25266 Add a test for #20315
  tests/queries/0_stateless/01912_bad_cast_join_fuzz.reference
  tests/queries/0_stateless/01912_bad_cast_join_fuzz.sql
Labels: pr-not-for-changelog

#25274 test for `PARTITION BY 0 * id`
  tests/queries/0_stateless/01906_partition_by_multiply_by_zero.reference
  tests/queries/0_stateless/01906_partition_by_multiply_by_zero.sql
Labels: can be tested, pr-not-for-changelog

#25270 DOCSUP-10298: Fixed and updated documentation
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/aggregate-functions/reference/quantiletdigestweighted.md
Labels: pr-documentation

#25287 Fixed typos.
  docs/ru/operations/system-tables/trace_log.md
Labels: can be tested, pr-documentation

#25244 DOCSUP-10025: Edit and translate to Russian sequenceNextNode function
  docs/en/sql-reference/aggregate-functions/parametric-functions.md
  docs/ru/sql-reference/aggregate-functions/parametric-functions.md
Labels: pr-documentation
