Repository ClickHouse/ClickHouse, pull requests merged in 2021-04, with the labels that each got.

#22371 Fix flaky tests test_row_policy* and test_quota*
  tests/integration/test_quota/test.py
  tests/integration/test_row_policy/test.py
Labels: pr-not-for-changelog

#22418 Closing some tabs in my Firefox (2)
  docs/en/introduction/adopters.md
Labels: pr-documentation

#22402 add description for parseDateTime64BestEffort* functions
  docs/en/sql-reference/functions/type-conversion-functions.md
  docs/ru/sql-reference/functions/type-conversion-functions.md
Labels: can be tested, pr-documentation

#22412 fix error message for invalid window frame start
  src/Parsers/ExpressionElementParsers.cpp
Labels: pr-not-for-changelog

#22389 Fix UBSan report in mapOp
  base/common/arithmeticOverflow.h
  src/Functions/array/mapOp.cpp
  tests/queries/0_stateless/01781_map_op_ubsan.reference
  tests/queries/0_stateless/01781_map_op_ubsan.sql
Labels: pr-not-for-changelog

#22380 Try fix flaky rabbitmq test
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-not-for-changelog

#21976 CollapsingSortedAlgorithm should not return more than index_granularity rows
  src/Processors/Merges/Algorithms/CollapsingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/CollapsingSortedAlgorithm.h
  tests/queries/0_stateless/00926_adaptive_index_granularity_collapsing_merge_tree.reference
  tests/queries/0_stateless/00926_adaptive_index_granularity_collapsing_merge_tree.sql
  tests/queries/0_stateless/01764_collapsing_merge_adaptive_granularity.reference
  tests/queries/0_stateless/01764_collapsing_merge_adaptive_granularity.sql
Labels: pr-bugfix

#22425 Add memory accounting in parallel formatting
  src/DataStreams/NativeBlockOutputStream.cpp
  src/DataStreams/NativeBlockOutputStream.h
  src/Processors/Formats/Impl/ParallelFormattingOutputFormat.cpp
  src/Processors/Formats/Impl/ParallelFormattingOutputFormat.h
  tests/queries/0_stateless/01783_parallel_formatting_memory.reference
  tests/queries/0_stateless/01783_parallel_formatting_memory.sh
Labels: pr-bugfix

#22192 Manual backport of #18935
  src/Storages/MergeTree/ReplicatedMergeTreeBlockOutputStream.cpp
Labels: pr-backport, pr-not-for-changelog

#22430 ppc64le: Fix compile and stack trace
  src/Common/StackTrace.cpp
Labels: can be tested, pr-build

#22411 Delete temporary fetch directory if it already exists
  src/Storages/MergeTree/DataPartsExchange.cpp
Labels: pr-improvement

#22350 DOCSUP-8002: Edited and translated to Russian (insert_distributed_one_random_shard)
  docs/en/operations/settings/settings.md
  docs/ru/engines/table-engines/integrations/postgresql.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/statements/alter/column.md
Labels: pr-documentation

#22224 DOCSUP-6698: Description of setting min_marks_to_honor_max_concurrent_queries
  docs/en/operations/server-configuration-parameters/settings.md
  docs/ru/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#22480 Remove TestFlows (2)
  tests/testflows/regression.py
Labels: pr-not-for-changelog

#22446 Lower scale of a test
  tests/queries/1_stateful/00159_parallel_formatting_http.reference
  tests/queries/1_stateful/00159_parallel_formatting_http.sh
Labels: pr-not-for-changelog

#22469 ppc64le: Fix CMake error about internal CMake variable CMAKE_ASM_COMPILE_OBJECT not set
  CMakeLists.txt
Labels: can be tested, pr-build

#22447 ppc64le: Enable building with jemalloc
  contrib/jemalloc-cmake/CMakeLists.txt
  contrib/jemalloc-cmake/include_linux_ppc64le/jemalloc/internal/jemalloc_internal_defs.h.in
Labels: can be tested, pr-build, submodule changed

#22445 ppc64le: Fix config and timezone embedding.
  contrib/cctz-cmake/CMakeLists.txt
  programs/server/CMakeLists.txt
Labels: can be tested, pr-build, submodule changed

#22458 ppc64le: Fix finding libclang_rt.builtins on Fedora\RHEL\CentOS
  cmake/linux/default_libs.cmake
Labels: can be tested, pr-build

#22474 ppc64le: Fix compiling boost
  contrib/boost-cmake/CMakeLists.txt
Labels: can be tested, pr-build, submodule changed

#22476 ppc64le: Re-enable compiling with Clang
  cmake/tools.cmake
Labels: can be tested, pr-build

#22484 aarch64: Re-enable S3
  cmake/find/s3.cmake
Labels: can be tested

#22487 ppc64le: Enable the bundled openldap
  cmake/find/ldap.cmake
  contrib/openldap-cmake/linux_ppc64le/include/lber_types.h
  contrib/openldap-cmake/linux_ppc64le/include/ldap_config.h
  contrib/openldap-cmake/linux_ppc64le/include/ldap_features.h
  contrib/openldap-cmake/linux_ppc64le/include/portable.h
Labels: can be tested, pr-build, submodule changed

#22440 Fix flapping test_s3_zero_copy_replication
  tests/integration/test_s3_zero_copy_replication/test.py
Labels: pr-not-for-changelog

#22472 try clang 11 in fast test
  docker/test/fasttest/Dockerfile
  docker/test/fasttest/run.sh
Labels: pr-not-for-changelog

#22470 Adjust Keeper settings for CI
  tests/config/config.d/database_replicated.xml
Labels: pr-not-for-changelog

#21519 add aliases to visitParam/visitParamExtract* functions
  src/Functions/visitParamExtractBool.cpp
  src/Functions/visitParamExtractFloat.cpp
  src/Functions/visitParamExtractInt.cpp
  src/Functions/visitParamExtractRaw.cpp
  src/Functions/visitParamExtractString.cpp
  src/Functions/visitParamExtractUInt.cpp
  src/Functions/visitParamHas.cpp
  tests/queries/0_stateless/00539_functions_for_working_with_json.reference
  tests/queries/0_stateless/00539_functions_for_working_with_json.sql
Labels: can be tested, pr-improvement

#22413 Added function dictGetOrNull
  src/Functions/FunctionsExternalDictionaries.cpp
  src/Functions/FunctionsExternalDictionaries.h
  tests/queries/0_stateless/01780_dict_get_or_null.reference
  tests/queries/0_stateless/01780_dict_get_or_null.sql
Labels: doc-alert, pr-feature

#20622 Fix name clashes in PredicateRewriteVisitor
  src/Interpreters/IdentifierSemantic.cpp
  src/Interpreters/PredicateExpressionsOptimizer.cpp
  src/Interpreters/PredicateExpressionsOptimizer.h
  src/Interpreters/PredicateRewriteVisitor.cpp
  src/Interpreters/PredicateRewriteVisitor.h
  tests/queries/0_stateless/00597_push_down_predicate.reference
  tests/queries/0_stateless/00597_push_down_predicate.sql
Labels: pr-bugfix, pr-no-backport

#22443 Remove socket from epoll before cancelling packet receiver in HedgedConnections to prevent possible race
  src/Client/HedgedConnections.cpp
Labels: pr-bugfix

#22131 DOCSUP-5910: Documented SimHash, MinHash, bitHammingDistance and tupleHammingDistance functions
  docs/en/sql-reference/functions/bit-functions.md
  docs/en/sql-reference/functions/hash-functions.md
  docs/en/sql-reference/functions/tuple-functions.md
  docs/ru/sql-reference/functions/bit-functions.md
  docs/ru/sql-reference/functions/hash-functions.md
  docs/ru/sql-reference/functions/tuple-functions.md
Labels: pr-documentation

#21268 DOCSUP-5920: Documented PostgreSQL engines, function and dictionary
  docs/README.md
  docs/en/engines/database-engines/index.md
  docs/en/engines/database-engines/postgresql.md
  docs/en/engines/table-engines/index.md
  docs/en/engines/table-engines/integrations/embedded-rocksdb.md
  docs/en/engines/table-engines/integrations/hdfs.md
  docs/en/engines/table-engines/integrations/index.md
  docs/en/engines/table-engines/integrations/jdbc.md
  docs/en/engines/table-engines/integrations/kafka.md
  docs/en/engines/table-engines/integrations/mongodb.md
  docs/en/engines/table-engines/integrations/mysql.md
  docs/en/engines/table-engines/integrations/odbc.md
  docs/en/engines/table-engines/integrations/postgresql.md
  docs/en/engines/table-engines/integrations/rabbitmq.md
  docs/en/engines/table-engines/integrations/s3.md
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-sources.md
  docs/en/sql-reference/table-functions/index.md
  docs/en/sql-reference/table-functions/postgresql.md
  docs/ru/engines/database-engines/index.md
  docs/ru/engines/database-engines/postgresql.md
  docs/ru/engines/table-engines/index.md
  docs/ru/engines/table-engines/integrations/embedded-rocksdb.md
  docs/ru/engines/table-engines/integrations/hdfs.md
  docs/ru/engines/table-engines/integrations/jdbc.md
  docs/ru/engines/table-engines/integrations/kafka.md
  docs/ru/engines/table-engines/integrations/mongodb.md
  docs/ru/engines/table-engines/integrations/mysql.md
  docs/ru/engines/table-engines/integrations/odbc.md
  docs/ru/engines/table-engines/integrations/postgresql.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-sources.md
  docs/ru/sql-reference/table-functions/postgresql.md
Labels: pr-documentation

#18978 Lookup parts/partitions in replica's own detached/ folder before downloading them from other replicas
  docs/en/operations/system-tables/replication_queue.md
  docs/en/sql-reference/statements/alter/partition.md
  docs/en/sql-reference/statements/system.md
  src/Parsers/New/ClickHouseLexer.h
  src/Parsers/New/ClickHouseParser.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataPartChecksum.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeBlockOutputStream.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeBlockOutputStream.h
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  src/Storages/System/StorageSystemPartsBase.cpp
  tests/integration/helpers/corrupt_part_data_on_disk.py
  tests/integration/test_attach_without_fetching/__init__.py
  tests/integration/test_attach_without_fetching/configs/remote_servers.xml
  tests/integration/test_attach_without_fetching/test.py
  tests/integration/test_broken_part_during_merge/test.py
Labels: force tests, pr-backward-incompatible, pr-improvement

#22300 Trying parallel func tests
  docker/test/stateless/run.sh
  src/Storages/System/StorageSystemClusters.cpp
  tests/clickhouse-test
  tests/queries/0_stateless/00926_adaptive_index_granularity_versioned_collapsing_merge_tree.reference
  tests/queries/0_stateless/00926_adaptive_index_granularity_versioned_collapsing_merge_tree.sql
  tests/queries/0_stateless/00976_system_stop_ttl_merges.sql
  tests/queries/0_stateless/01666_merge_tree_max_query_limit.reference
  tests/queries/0_stateless/01666_merge_tree_max_query_limit.sh
  tests/queries/skip_list.json
Labels: force tests, pr-build

#22459 fix window frame offset check and add more tests
  src/Interpreters/convertFieldToType.cpp
  src/Processors/Transforms/WindowTransform.cpp
  tests/queries/0_stateless/01591_window_functions.reference
  tests/queries/0_stateless/01591_window_functions.sql
Labels: force tests, pr-not-for-changelog

#22508 Revisit macOS build instructions
  docs/en/development/build-osx.md
Labels: pr-documentation

#22493 Fix translation for arrayFill, arraySplit
  docs/en/sql-reference/functions/array-functions.md
  docs/ru/sql-reference/functions/array-functions.md
Labels: can be tested, pr-documentation

#22475 ppc64le: Disable incompatible libraries (platform specific typically)
  cmake/find/base64.cmake
  cmake/find/fastops.cmake
  cmake/find/hdfs3.cmake
  contrib/libcpuid-cmake/CMakeLists.txt
Labels: can be tested, pr-build, submodule changed

#22421 Fix buffer overflow in token extractor
  src/Storages/MergeTree/MergeTreeIndexAggregatorBloomFilter.h
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.h
  src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.h
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.h
  src/Storages/MergeTree/MergeTreeIndexGranuleBloomFilter.h
  src/Storages/MergeTree/MergeTreeIndexMinMax.h
  src/Storages/MergeTree/MergeTreeIndexSet.h
  src/Storages/tests/gtest_SplitTokenExtractor.cpp
  tests/queries/0_stateless/01781_token_extractor_buffer_overflow.reference
  tests/queries/0_stateless/01781_token_extractor_buffer_overflow.sql
Labels: pr-bugfix

#22322 Do not limit HTTP chunk size
  src/IO/HTTPChunkedReadBuffer.cpp
  src/IO/HTTPChunkedReadBuffer.h
  src/Server/HTTP/HTTPServerRequest.cpp
  tests/queries/0_stateless/01783_http_chunk_size.reference
  tests/queries/0_stateless/01783_http_chunk_size.sh
  tests/queries/skip_list.json
Labels: pr-bugfix, st-waiting-for-fix

#22323 Follow up to #19516
  src/Core/Settings.h
  src/Server/HTTP/HTMLForm.cpp
  src/Server/HTTP/HTMLForm.h
  src/Server/HTTP/HTTPServer.cpp
  src/Server/HTTP/HTTPServer.h
  src/Server/HTTP/HTTPServerConnection.cpp
  src/Server/HTTP/HTTPServerConnection.h
  src/Server/HTTP/HTTPServerRequest.cpp
  src/Server/HTTP/HTTPServerRequest.h
  src/Server/HTTP/HTTPServerResponse.cpp
  src/Server/HTTP/HTTPServerResponse.h
  src/Server/HTTP/README.md
  tests/queries/0_stateless/01753_max_uri_size.reference
  tests/queries/0_stateless/01753_max_uri_size.sh
Labels: pr-other, st-waiting-for-fix

#22528 FormatSettings null_as_default default value fix
  src/Formats/FormatSettings.h
Labels: pr-not-for-changelog

#22527 Fix deserialization of empty string without newline at end of TSV format
  src/DataTypes/Serializations/SerializationNullable.cpp
  tests/queries/0_stateless/01786_nullable_string_tsv_at_eof.reference
  tests/queries/0_stateless/01786_nullable_string_tsv_at_eof.sh
Labels: pr-bugfix

#22510 Convert right block to full in MergeJoin
  src/Interpreters/MergeJoin.cpp
  src/Interpreters/MergeJoin.h
  tests/queries/0_stateless/01785_pmj_lc_bug.reference
  tests/queries/0_stateless/01785_pmj_lc_bug.sql
Labels: pr-bugfix

#22505 Mannual backport of #21429 in 21.2
  src/IO/ReadBufferFromPocoSocket.cpp
Labels: pr-backport, pr-not-for-changelog

#22504 Manual backport of #21429 in 21.3
  src/IO/ReadBufferFromPocoSocket.cpp
Labels: pr-backport, pr-not-for-changelog

#22506 Mannual backport of #21429 in 21.1
  src/IO/ReadBufferFromPocoSocket.cpp
Labels: pr-backport, pr-not-for-changelog

#22543 Try fix flaky test
  tests/integration/test_attach_without_fetching/test.py
Labels: pr-not-for-changelog

#22560 Fix UB by unlocking the rwlock of the TinyLog from the same thread
  src/Storages/StorageTinyLog.cpp
  src/Storages/StorageTinyLog.h
Labels: pr-bugfix

#22542 Filter removed/renamed tests from ci-changed-files.txt for fuzzer
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#22534 Minor fixes in tests for AArch64
  tests/queries/0_stateless/00120_join_and_group_by.reference
  tests/queries/0_stateless/00120_join_and_group_by.sql
  tests/queries/0_stateless/00206_empty_array_to_single.sql
  tests/queries/0_stateless/01746_long_zlib_http_compression_json_format.reference
  tests/queries/0_stateless/01746_long_zlib_http_compression_json_format.sh
Labels: pr-not-for-changelog

#22561 AppleClang compilation fix
  src/Dictionaries/HashedDictionary.cpp
Labels: pr-not-for-changelog

#22580 Allow query profiling only on x86_64
  programs/server/Server.cpp
Labels: pr-build

#22582 Make round function to behave consistently on non-x86_64
  src/Common/ErrorCodes.cpp
  src/Functions/FunctionsRound.h
Labels: pr-improvement

#22479 ClickHouseDictionarySource loop fix
  src/Dictionaries/ClickHouseDictionarySource.cpp
  src/Dictionaries/ClickHouseDictionarySource.h
  tests/queries/0_stateless/01780_clickhouse_dictionary_source_loop.reference
  tests/queries/0_stateless/01780_clickhouse_dictionary_source_loop.sql
  tests/queries/skip_list.json
Labels: pr-bugfix

#22571 Allow building with unbundled xz
  CMakeLists.txt
  cmake/find/xz.cmake
  src/CMakeLists.txt
Labels: can be tested, pr-build

#22565 Fix assert in Arena when doing GROUP BY Array of Nothing of non-zero size.
  src/Columns/IColumnDummy.h
  tests/queries/0_stateless/01787_arena_assert_column_nothing.reference
  tests/queries/0_stateless/01787_arena_assert_column_nothing.sql
Labels: pr-not-for-changelog

#22590 Fix CPU-dependent behaviour in tests
  tests/queries/0_stateless/00232_format_readable_size.reference
  tests/queries/0_stateless/00232_format_readable_size.sql
Labels: pr-build

#22587 Fix flaky test after #22427
  tests/queries/0_stateless/01263_type_conversion_nvartolomei.reference
  tests/queries/0_stateless/01263_type_conversion_nvartolomei.sql
Labels: pr-not-for-changelog

#22372 DOCSUP-7575: Edit and translate to Russian
  docs/en/commercial/cloud.md
  docs/en/interfaces/third-party/client-libraries.md
  docs/ru/commercial/cloud.md
  docs/ru/sql-reference/statements/alter/user.md
  docs/ru/sql-reference/statements/create/user.md
Labels: pr-documentation

#21950 DOCSUP-6113: Document the Atomic database engine
  docs/en/engines/database-engines/atomic.md
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/statements/create/table.md
  docs/ru/development/developer-instruction.md
  docs/ru/engines/database-engines/atomic.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#22603 Fix grammar in RU docs
  docs/ru/development/architecture.md
Labels: can be tested, pr-documentation

#21889 Fix bugs in aggregation by primary key
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  src/Processors/Merges/Algorithms/FinishAggregatingInOrderAlgorithm.cpp
  src/Processors/Merges/Algorithms/FinishAggregatingInOrderAlgorithm.h
  src/Processors/Merges/FinishAggregatingInOrderTransform.h
  src/Processors/QueryPlan/AggregatingStep.cpp
  src/Processors/Transforms/AggregatingInOrderTransform.cpp
  tests/queries/0_stateless/01786_group_by_pk_many_streams.reference
  tests/queries/0_stateless/01786_group_by_pk_many_streams.sql
Labels: pr-bugfix

#22597 DOCSUP-5424: Update the SQL-statement ATTACH
  docs/en/sql-reference/statements/attach.md
  docs/ru/sql-reference/statements/attach.md
Labels: pr-documentation

#22611 Fix trace log doc
  docs/en/operations/system-tables/trace_log.md
Labels: can be tested, pr-documentation

#22586 Minor improvement in index deserialization
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
Labels: pr-not-for-changelog

#22589 Fix comments
  src/AggregateFunctions/QuantileExact.h
  src/Common/Epoll.cpp
  src/Core/AccurateComparison.h
  src/Dictionaries/LibraryDictionarySourceExternal.h
  src/Disks/DiskLocal.cpp
  src/Functions/extractGroups.cpp
  src/Interpreters/ExpressionJIT.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#22629 FlatDictionary fix perf test
  tests/performance/flat_dictionary.xml
Labels: pr-not-for-changelog

#22628 Fix flaky test 00816_long_concurrent_alter_column
  tests/queries/0_stateless/00816_long_concurrent_alter_column.sh
Labels: pr-not-for-changelog

#22595 Change accurate comparison of integer and float to be more consistent across different CPU
  src/Core/AccurateComparison.h
  tests/queries/0_stateless/00411_long_accurate_number_comparison_float.reference
  tests/queries/0_stateless/00411_long_accurate_number_comparison_float.sh
  tests/queries/0_stateless/00411_long_accurate_number_comparison_float.sql
  tests/queries/0_stateless/00536_int_exp.sql
Labels: pr-backward-incompatible

#22591 Try flush write buffer only if it is initialized
  src/Server/TCPHandler.cpp
Labels: pr-bugfix

#22632 Add AArch64 version in QEMU on Intel to hardware benchmark.
  website/benchmark/hardware/results/qemu_aarch64_cascade_lake_80_vcpu.json
Labels: pr-documentation

#22583 Avoid UB in *Log engines for rwlock unlock due to unlock from another thread
  src/Storages/StorageLog.cpp
  src/Storages/StorageLog.h
  src/Storages/StorageStripeLog.cpp
  src/Storages/StorageStripeLog.h
  src/Storages/StorageTinyLog.cpp
  tests/queries/0_stateless/01795_TinyLog_rwlock_ub.reference
  tests/queries/0_stateless/01795_TinyLog_rwlock_ub.sql
  tests/queries/0_stateless/01796_Log_rwlock_ub.reference
  tests/queries/0_stateless/01796_Log_rwlock_ub.sql
  tests/queries/0_stateless/01797_StripeLog_rwlock_ub.reference
  tests/queries/0_stateless/01797_StripeLog_rwlock_ub.sql
Labels: pr-bugfix

#22645 update docs uniqhll12 212 -> 2^12
  docs/en/sql-reference/aggregate-functions/reference/uniqhll12.md
  docs/ja/sql-reference/aggregate-functions/reference.md
  docs/ru/sql-reference/aggregate-functions/reference/uniqhll12.md
Labels: pr-documentation

#22634 Improve usability of clickhouse-client
  programs/client/Client.cpp
Labels: pr-improvement

#22665 fix incorrect settitng name allow_experimental_window_functions
  CHANGELOG.md
Labels: pr-documentation

#22633 Better retries on ZK errors in sh tests
  tests/clickhouse-test
Labels: pr-not-for-changelog

#22593 Introduce IStorage::distributedWrite method for distributed INSERT SELECTS
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Storages/IStorage.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
Labels: pr-not-for-changelog

#22667 fix build error 'always_inline' function might not be inlinable
  utils/memcpy-bench/memcpy-bench.cpp
Labels: pr-not-for-changelog

#22623 DOCSUP-8221: check_query_single_value_result setting
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/statements/check-table.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/statements/check-table.md
Labels: pr-documentation

#22654 [RFC] Fix LOGICAL_ERROR for Log with nested types w/o columns in the SELECT clause
  src/Interpreters/ExpressionActions.cpp
  tests/queries/0_stateless/01800_log_nested.reference
  tests/queries/0_stateless/01800_log_nested.sql
Labels: pr-bugfix

#22670 Fix mutation killers tests
  tests/queries/0_stateless/01079_bad_alters_zookeeper_long.sh
  tests/queries/0_stateless/01318_long_unsuccessful_mutation_zookeeper.sh
Labels: pr-not-for-changelog

#22687 Change Aggregatingmergetree to AggregatingMergeTree in docs
  docs/en/engines/table-engines/mergetree-family/aggregatingmergetree.md
Labels: pr-not-for-changelog

#22669 Fix two stupid bugs in mutation wait
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-bugfix

#22217 Replicas and shards for mysql and postgres storages
  base/mysqlxx/PoolWithFailover.cpp
  base/mysqlxx/PoolWithFailover.h
  docker/test/integration/runner/compose/docker_compose_mysql_cluster.yml
  docker/test/integration/runner/compose/docker_compose_postgres.yml
  docker/test/integration/runner/compose/docker_compose_postgres_cluster.yml
  src/Common/parseRemoteDescription.cpp
  src/Common/parseRemoteDescription.h
  src/Core/Settings.h
  src/DataStreams/PostgreSQLBlockInputStream.cpp
  src/DataStreams/PostgreSQLBlockInputStream.h
  src/Databases/DatabaseFactory.cpp
  src/Databases/MySQL/DatabaseConnectionMySQL.cpp
  src/Databases/MySQL/DatabaseConnectionMySQL.h
  src/Databases/MySQL/FetchTablesColumnsList.cpp
  src/Databases/MySQL/FetchTablesColumnsList.h
  src/Databases/PostgreSQL/DatabasePostgreSQL.cpp
  src/Databases/PostgreSQL/DatabasePostgreSQL.h
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.cpp
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.h
  src/Dictionaries/MySQLDictionarySource.cpp
  src/Dictionaries/MySQLDictionarySource.h
  src/Dictionaries/PostgreSQLDictionarySource.cpp
  src/Dictionaries/PostgreSQLDictionarySource.h
  src/Formats/MySQLBlockInputStream.cpp
  src/Formats/MySQLBlockInputStream.h
  src/Storages/PostgreSQL/PostgreSQLConnection.cpp
  src/Storages/PostgreSQL/PostgreSQLConnection.h
  src/Storages/PostgreSQL/PostgreSQLConnectionPool.cpp
  src/Storages/PostgreSQL/PostgreSQLConnectionPool.h
  src/Storages/PostgreSQL/PostgreSQLPoolWithFailover.cpp
  src/Storages/PostgreSQL/PostgreSQLPoolWithFailover.h
  src/Storages/PostgreSQL/PostgreSQLReplicaConnection.cpp
  src/Storages/StorageExternalDistributed.cpp
  src/Storages/StorageExternalDistributed.h
  src/Storages/StorageMySQL.cpp
  src/Storages/StorageMySQL.h
  src/Storages/StoragePostgreSQL.cpp
  src/Storages/StoragePostgreSQL.h
  src/Storages/registerStorages.cpp
  src/TableFunctions/TableFunctionMySQL.cpp
  src/TableFunctions/TableFunctionMySQL.h
  src/TableFunctions/TableFunctionPostgreSQL.cpp
  src/TableFunctions/TableFunctionPostgreSQL.h
  tests/integration/helpers/cluster.py
  tests/integration/test_dictionaries_postgresql/test.py
  tests/integration/test_mysql_protocol/test.py
  tests/integration/test_storage_mysql/test.py
  tests/integration/test_storage_postgresql/test.py
Labels: doc-alert, pr-feature

#22110 Better tests for finalize in nested writers
  tests/integration/test_storage_s3/test.py
Labels: pr-not-for-changelog

#22324 make some perf test queries more stable
  src/Common/formatReadable.cpp
  tests/performance/ColumnMap.xml
  tests/performance/avg_weighted.xml
  tests/performance/decimal_aggregates.xml
  tests/performance/great_circle_dist.xml
  tests/performance/if_array_string.xml
  tests/performance/json_extract_simdjson.xml
  tests/performance/order_by_decimals.xml
  tests/performance/order_by_read_in_order.xml
  tests/performance/parse_engine_file.xml
  tests/performance/point_in_polygon.xml
  tests/performance/questdb_sum_int32.xml
Labels: pr-not-for-changelog

#22663 Fix test 01039_row_policy_dcl
  tests/queries/0_stateless/01039_row_policy_dcl.sh
  tests/queries/0_stateless/01039_row_policy_dcl.sql
Labels: pr-not-for-changelog

#22668 Add bool type in postgres engine
  src/DataStreams/PostgreSQLBlockInputStream.cpp
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.cpp
  tests/integration/test_storage_postgresql/test.py
Labels: pr-not-for-changelog

#22666 Fix random failures of tests that are using query_log
  tests/queries/0_stateless/01670_log_comment.sql
  tests/queries/skip_list.json
Labels: pr-not-for-changelog

#22662 Fix test 01294_create_settings_profile
  tests/queries/0_stateless/01294_create_settings_profile.reference
  tests/queries/0_stateless/01294_create_settings_profile.sql
Labels: pr-not-for-changelog

#22656 Skip compiling xz if we're using system xz (unbundled)
  contrib/CMakeLists.txt
Labels: can be tested, pr-not-for-changelog, submodule changed

#22646 Add log_comment setting for DROP/CREATE DATABASE in clickhouse-test
  tests/clickhouse-test
Labels: pr-not-for-changelog

#22655 Fix impossible invalid-read for system.errors accounting
  src/Common/ErrorCodes.cpp
Labels: pr-not-for-changelog

#21465 Disable table function view in expression [2]
  src/Parsers/ASTFunction.cpp
  tests/queries/0_stateless/01715_table_function_view_fix.sql
Labels: pr-bugfix

#22709 Add Third party service info
  docs/en/interfaces/third-party/gui.md
Labels: can be tested, pr-documentation

#22721 MemoryStorage sync comments and code
  src/Storages/StorageMemory.cpp
  src/Storages/StorageMemory.h
Labels: pr-not-for-changelog

#22686 Fix grammar in docs
  docs/en/sql-reference/statements/system.md
Labels: can be tested, pr-documentation

#22707 Remove redundant fsync on coordination logs rotation
  src/Coordination/Changelog.cpp
  src/Coordination/KeeperServer.cpp
  tests/config/config.d/database_replicated.xml
Labels: jepsen-test, pr-not-for-changelog

#22592 Fix some uncaught exceptions (in SCOPE_EXIT) under memory pressure
  base/ext/scope_guard_safe.h
  programs/client/Client.cpp
  programs/copier/ClusterCopierApp.cpp
  src/Databases/DatabaseLazy.cpp
  src/Functions/array/arrayReduce.cpp
  src/Functions/array/arrayReduceInRanges.cpp
  src/Functions/initializeAggregation.cpp
  src/Functions/runningAccumulate.cpp
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/ThreadStatusExt.cpp
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/PullingAsyncPipelineExecutor.cpp
  src/Processors/Formats/Impl/ParallelParsingInputFormat.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#22684 Always call event.set for zk client callbacks.
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
Labels: pr-bugfix

#21559 DOCSUP-7045: Edit and translate to Russian (Upgrading CH and https interserver replication)
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/update.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/operations/update.md
Labels: pr-documentation

#22514 Non replicated merge tree deduplication
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeBlockOutputStream.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDeduplicationLog.cpp
  src/Storages/MergeTree/MergeTreeDeduplicationLog.h
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/ReplicatedMergeTreeBlockOutputStream.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/ya.make
  tests/queries/0_stateless/01781_merge_tree_deduplication.reference
  tests/queries/0_stateless/01781_merge_tree_deduplication.sql
  tests/queries/skip_list.json
Labels: doc-alert, pr-feature

#22630 DirectDictionary dictGet multiple columns optimization
  src/Dictionaries/CacheDictionary.cpp
  src/Dictionaries/DictionaryHelpers.h
  src/Dictionaries/DirectDictionary.cpp
  src/Dictionaries/DirectDictionary.h
  tests/performance/direct_dictionary.xml
Labels: pr-not-for-changelog

#22325 Check only column name and type for async distributed blocks
  src/Storages/Distributed/DirectoryMonitor.cpp
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
  tests/queries/0_stateless/01790_dist_INSERT_block_structure_mismatch_types_and_names.reference
  tests/queries/0_stateless/01790_dist_INSERT_block_structure_mismatch_types_and_names.sql
  tests/queries/0_stateless/01791_dist_INSERT_block_structure_mismatch.reference
  tests/queries/0_stateless/01791_dist_INSERT_block_structure_mismatch.sh
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-improvement

#22708 Fix test 01702_system_query_log
  tests/queries/0_stateless/01702_system_query_log.reference
  tests/queries/0_stateless/01702_system_query_log.sql
Labels: pr-not-for-changelog

#21370 Fixes Merge engine with join and aggregation
  src/Interpreters/CrossToInnerJoinVisitor.cpp
  src/Interpreters/IdentifierSemantic.cpp
  src/Interpreters/IdentifierSemantic.h
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/getHeaderForProcessingStage.cpp
  src/Interpreters/getHeaderForProcessingStage.h
  src/Storages/StorageMerge.cpp
  tests/queries/0_stateless/01483_merge_table_join_and_group_by.reference
  tests/queries/0_stateless/01483_merge_table_join_and_group_by.sql
  tests/queries/0_stateless/01783_merge_engine_join_key_condition.reference
  tests/queries/0_stateless/01783_merge_engine_join_key_condition.sql
Labels: pr-bugfix, pr-no-backport

#22588 fix dist map type select
  src/Parsers/ASTFunction.cpp
  tests/queries/0_stateless/01787_map_remote.reference
  tests/queries/0_stateless/01787_map_remote.sql
Labels: can be tested, pr-bugfix

#22619 DOCSUP-8219: DateTime64 extended range
  docs/en/sql-reference/data-types/datetime64.md
  docs/ru/sql-reference/data-types/datetime64.md
Labels: pr-documentation

#22725 Add metric to track how much time is spend during waiting for Buffer layer lock
  src/Common/ProfileEvents.cpp
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageBuffer.h
Labels: pr-improvement

#22704 fix window functions with multiple input streams and no sorting
  programs/client/QueryFuzzer.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/WindowDescription.cpp
  src/Parsers/ExpressionElementParsers.cpp
  src/Processors/QueryPlan/WindowStep.cpp
  src/Processors/Transforms/WindowTransform.cpp
  tests/queries/0_stateless/01568_window_functions_distributed.reference
  tests/queries/0_stateless/01568_window_functions_distributed.sql
  tests/queries/0_stateless/01591_window_functions.reference
  tests/queries/0_stateless/01591_window_functions.sql
Labels: pr-not-for-changelog

#22299 Merging #21302
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageFile.h
  src/Storages/StorageInMemoryMetadata.cpp
  src/Storages/StorageInMemoryMetadata.h
  tests/queries/1_stateful/00163_column_oriented_formats.reference
  tests/queries/1_stateful/00163_column_oriented_formats.sh
Labels: force tests, pr-not-for-changelog

#22518 Fix checkpoint position after putting it on buffer end
  src/IO/PeekableReadBuffer.cpp
  src/Server/HTTP/ReadHeaders.cpp
Labels: pr-bugfix

#22584 DOCSUP-7550: Nullable types support in dictionaries
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-structure.md
  docs/en/sql-reference/dictionaries/index.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-structure.md
  docs/ru/sql-reference/dictionaries/index.md
Labels: pr-documentation

#22744 Avoid using harmful function rand()
  contrib/librdkafka-cmake/config.h.in
Labels: pr-not-for-changelog, submodule changed

#22521 FlatDictionary, HashedDictionary update_field optimizations
  src/Common/HashTable/HashMap.h
  src/Dictionaries/DictionaryHelpers.h
  src/Dictionaries/FlatDictionary.cpp
  src/Dictionaries/FlatDictionary.h
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/HashedDictionary.h
  tests/performance/flat_dictionary.xml
  tests/queries/0_stateless/01785_dictionary_element_count.reference
  tests/queries/0_stateless/01785_dictionary_element_count.sql
  tests/queries/skip_list.json
Labels: doc-alert, pr-feature

#22356 fix ccache broken by prlimit
  CMakeLists.txt
  cmake/find/ccache.cmake
  docker/packager/binary/Dockerfile
  docker/packager/binary/build.sh
  docker/packager/deb/Dockerfile
  docker/packager/deb/build.sh
Labels: force tests, pr-not-for-changelog

#22746 Fix flacky hedged tests
  tests/integration/test_hedged_requests/test.py
  tests/integration/test_hedged_requests_parallel/test.py
Labels: pr-not-for-changelog

#22822 FileDictionarySource fix absolute file path
  src/Dictionaries/FileDictionarySource.cpp
Labels: pr-must-backport, pr-not-for-changelog

#22821 Functions ExternalDictionaries standardize exception throw
  src/Functions/FunctionsExternalDictionaries.h
Labels: pr-not-for-changelog

#22826 Small change in replicated database tests run
  tests/config/install.sh
Labels: pr-not-for-changelog

#14113 Support interserver credential rotation
  programs/server/Server.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterserverCredentials.cpp
  src/Interpreters/InterserverCredentials.h
  src/Interpreters/ya.make
  src/Server/InterserverIOHTTPHandler.cpp
  src/Server/InterserverIOHTTPHandler.h
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_replication_credentials/test.py
Labels: can be tested, doc-alert, pr-improvement

#22761 add more messages when flushing the logs
  src/Interpreters/SystemLog.h
Labels: pr-not-for-changelog

#22763 Fix pushdown of having
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Processors/QueryPlan/Optimizations/filterPushDown.cpp
  tests/queries/0_stateless/01798_having_push_down.reference
  tests/queries/0_stateless/01798_having_push_down.sql
Labels: pr-bugfix

#22866 Documentation updated zookeeper configuration
  docs/en/operations/tips.md
Labels: pr-documentation

#22876 `mannWhitneyUTest` and `rankCorr` with window functions
  src/AggregateFunctions/AggregateFunctionMannWhitney.h
  src/AggregateFunctions/AggregateFunctionRankCorrelation.h
  src/Common/Arena.h
  tests/queries/0_stateless/01802_rank_corr_mann_whitney_over_window.reference
  tests/queries/0_stateless/01802_rank_corr_mann_whitney_over_window.sql
Labels: pr-bugfix

#22875 Util `memcpy-bench` is built only when position independent code is disabled
  utils/CMakeLists.txt
Labels: pr-not-for-changelog

#22858 Fix hanging in TemporaryLiveViewCleaner
  src/Interpreters/DatabaseCatalog.cpp
  src/Storages/LiveView/TemporaryLiveViewCleaner.cpp
  src/Storages/LiveView/TemporaryLiveViewCleaner.h
Labels: pr-bugfix

#22855 Add a test for already fixed issue
  tests/queries/0_stateless/01801_distinct_group_by_shard.reference
  tests/queries/0_stateless/01801_distinct_group_by_shard.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-not-for-changelog

#22860 Fix Coordination MacOS build
  cmake/find/nuraft.cmake
  src/Coordination/Changelog.cpp
  src/Coordination/Changelog.h
  src/Coordination/InMemoryLogStore.cpp
  src/Coordination/InMemoryLogStore.h
  src/Coordination/KeeperLogStore.cpp
  src/Coordination/KeeperLogStore.h
  src/Coordination/KeeperSnapshotManager.cpp
  src/Coordination/KeeperSnapshotManager.h
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/KeeperStateMachine.h
  src/Coordination/KeeperStateManager.cpp
  src/Coordination/KeeperStateManager.h
  src/Coordination/SummingStateMachine.cpp
  src/Coordination/SummingStateMachine.h
  src/Coordination/tests/gtest_for_build.cpp
Labels: jepsen-test, pr-build

#22867 Fix bytes_allocated for sparse_hashed dictionaries
  src/Dictionaries/HashedDictionary.cpp
  tests/queries/0_stateless/01802_dict_sparse_hashed_bytes_allocated.reference
  tests/queries/0_stateless/01802_dict_sparse_hashed_bytes_allocated.sql
Labels: pr-bugfix

#22863 DataTypeLowCardinality format tsv parsing issue
  src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  tests/queries/0_stateless/01801_nullable_low_cardinality_tsv.reference
  tests/queries/0_stateless/01801_nullable_low_cardinality_tsv.sh
Labels: pr-not-for-changelog

#22829 Slightly improve logging messages for Distributed async sends
  src/Storages/Distributed/DirectoryMonitor.cpp
Labels: pr-not-for-changelog

#18215 Fix issue with quorum retries behaviour
  src/Storages/MergeTree/ReplicatedMergeTreeBlockOutputStream.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeBlockOutputStream.h
  tests/queries/0_stateless/01509_parallel_quorum_insert_no_replicas.sql
  tests/queries/skip_list.json
Labels: altinity, pr-bugfix

#22087 Better filter push down
  src/Core/Settings.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/HashJoin.h
  src/Interpreters/IJoin.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectWithUnionQuery.cpp
  src/Interpreters/JoinSwitcher.h
  src/Interpreters/MergeJoin.h
  src/Processors/DelayedPortsProcessor.cpp
  src/Processors/Pipe.cpp
  src/Processors/Pipe.h
  src/Processors/QueryPipeline.cpp
  src/Processors/QueryPipeline.h
  src/Processors/QueryPlan/AddingDelayedSourceStep.cpp
  src/Processors/QueryPlan/AddingDelayedSourceStep.h
  src/Processors/QueryPlan/CreatingSetsStep.cpp
  src/Processors/QueryPlan/CreatingSetsStep.h
  src/Processors/QueryPlan/ExpressionStep.cpp
  src/Processors/QueryPlan/ExpressionStep.h
  src/Processors/QueryPlan/Optimizations/Optimizations.h
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  src/Processors/QueryPlan/Optimizations/filterPushDown.cpp
  src/Processors/QueryPlan/Optimizations/optimizeTree.cpp
  src/Processors/QueryPlan/UnionStep.cpp
  src/Processors/QueryPlan/UnionStep.h
  src/Processors/ya.make
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageDistributed.cpp
  tests/performance/joins_in_memory.xml
  tests/performance/joins_in_memory_pmj.xml
  tests/queries/0_stateless/01655_plan_optimizations.reference
  tests/queries/0_stateless/01655_plan_optimizations.sh
Labels: pr-not-for-changelog

#22833 Fix what looks like a trivial mistake
  src/Interpreters/DatabaseAndTableWithAlias.h
Labels: pr-not-for-changelog

#22894 Better diagnostics for OOM in stress test
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#22868 Prettify logs of integration tests
  tests/integration/ci-runner.py
Labels: pr-not-for-changelog

#22834 Experiment building jemalloc with profiling support for all builds to see how it impacts performance tests
  contrib/jemalloc-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#21942 Add settings max_distributed_depth
  src/Common/ErrorCodes.cpp
  src/Core/Defines.h
  src/Core/Settings.h
  src/Interpreters/ClientInfo.cpp
  src/Interpreters/ClientInfo.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Storages/Distributed/DistributedBlockOutputStream.cpp
  src/Storages/Distributed/DistributedBlockOutputStream.h
  tests/queries/0_stateless/00987_distributed_stack_overflow.sql
  tests/queries/0_stateless/01370_client_autocomplete_word_break_characters.expect
  tests/queries/0_stateless/01763_max_distributed_depth.reference
  tests/queries/0_stateless/01763_max_distributed_depth.sql
Labels: doc-alert, pr-feature

#22610 DOCSUP-7090: document extractTextFromHTML
  docs/en/sql-reference/functions/string-functions.md
  docs/ru/sql-reference/functions/string-functions.md
Labels: can be tested, pr-documentation

#21850 Handle errors for Kafka engine
  src/Core/Settings.h
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Formats/FormatFactory.cpp
  src/Processors/Formats/IInputFormat.cpp
  src/Storages/Kafka/KafkaBlockInputStream.cpp
  src/Storages/Kafka/KafkaBlockInputStream.h
  src/Storages/Kafka/KafkaSettings.h
  src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/StorageKafka.h
  tests/integration/test_storage_kafka/test.py
Labels: can be tested, pr-improvement

#22938 IAggreagteFunction allocatesMemoryInArena removed default implementation
  src/AggregateFunctions/AggregateFunctionAggThrow.cpp
  src/AggregateFunctions/AggregateFunctionAvg.h
  src/AggregateFunctions/AggregateFunctionBitwise.h
  src/AggregateFunctions/AggregateFunctionBoundingRatio.h
  src/AggregateFunctions/AggregateFunctionCategoricalInformationValue.h
  src/AggregateFunctions/AggregateFunctionCount.h
  src/AggregateFunctions/AggregateFunctionDeltaSum.h
  src/AggregateFunctions/AggregateFunctionEntropy.h
  src/AggregateFunctions/AggregateFunctionGroupArrayInsertAt.h
  src/AggregateFunctions/AggregateFunctionGroupBitmap.h
  src/AggregateFunctions/AggregateFunctionGroupUniqArray.h
  src/AggregateFunctions/AggregateFunctionHistogram.h
  src/AggregateFunctions/AggregateFunctionMLMethod.h
  src/AggregateFunctions/AggregateFunctionMaxIntersections.h
  src/AggregateFunctions/AggregateFunctionNothing.h
  src/AggregateFunctions/AggregateFunctionQuantile.h
  src/AggregateFunctions/AggregateFunctionRetention.h
  src/AggregateFunctions/AggregateFunctionSequenceMatch.h
  src/AggregateFunctions/AggregateFunctionSimpleLinearRegression.h
  src/AggregateFunctions/AggregateFunctionStatistics.h
  src/AggregateFunctions/AggregateFunctionStatisticsSimple.h
  src/AggregateFunctions/AggregateFunctionSum.h
  src/AggregateFunctions/AggregateFunctionSumMap.h
  src/AggregateFunctions/AggregateFunctionTTest.h
  src/AggregateFunctions/AggregateFunctionTopK.h
  src/AggregateFunctions/AggregateFunctionUniq.h
  src/AggregateFunctions/AggregateFunctionUniqCombined.h
  src/AggregateFunctions/AggregateFunctionUniqUpTo.h
  src/AggregateFunctions/AggregateFunctionWindowFunnel.h
  src/AggregateFunctions/IAggregateFunction.h
  src/Processors/Transforms/WindowTransform.cpp
Labels: pr-not-for-changelog

#22939 Fix conversion from const map with nulls
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/01803_const_nullable_map.reference
  tests/queries/0_stateless/01803_const_nullable_map.sql
Labels: pr-bugfix

#22946 add RENAME DATABASE statement documentation
  docs/en/sql-reference/statements/rename.md
  docs/ru/sql-reference/statements/rename.md
Labels: can be tested, pr-documentation

#22941 DOCSUP-6704: Documented the inactive_parts_to
  docs/en/operations/settings/merge-tree-settings.md
Labels: pr-documentation

#22944 less flaky test
  tests/queries/0_stateless/01461_query_start_time_microseconds.sql
Labels: pr-not-for-changelog

#22441 Add test for copier
  tests/integration/test_cluster_copier/configs/users.xml
  tests/integration/test_cluster_copier/task_self_copy.xml
  tests/integration/test_cluster_copier/test.py
Labels: pr-not-for-changelog

#22969 Add perf test for MacBook Air M1
  website/benchmark/hardware/index.html
  website/benchmark/hardware/results/macbook_air_m1.json
Labels: pr-documentation

#22961 Dictionaries standardize exceptions
  src/Dictionaries/CacheDictionary.cpp
  src/Dictionaries/CacheDictionaryStorage.h
  src/Dictionaries/CacheDictionaryUpdateQueue.cpp
  src/Dictionaries/CassandraBlockInputStream.cpp
  src/Dictionaries/CassandraDictionarySource.cpp
  src/Dictionaries/CassandraHelpers.cpp
  src/Dictionaries/DictionaryFactory.cpp
  src/Dictionaries/DictionaryHelpers.h
  src/Dictionaries/DictionarySourceFactory.cpp
  src/Dictionaries/DictionarySourceHelpers.cpp
  src/Dictionaries/DictionaryStructure.cpp
  src/Dictionaries/DirectDictionary.cpp
  src/Dictionaries/ExecutableDictionarySource.cpp
  src/Dictionaries/ExecutablePoolDictionarySource.cpp
  src/Dictionaries/ExternalQueryBuilder.cpp
  src/Dictionaries/FileDictionarySource.cpp
  src/Dictionaries/FileDictionarySource.h
  src/Dictionaries/FlatDictionary.cpp
  src/Dictionaries/HTTPDictionarySource.cpp
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/HierarchyDictionariesUtils.cpp
  src/Dictionaries/IPAddressDictionary.cpp
  src/Dictionaries/LibraryDictionarySource.h
  src/Dictionaries/MongoDBDictionarySource.cpp
  src/Dictionaries/MongoDBDictionarySource.h
  src/Dictionaries/MySQLDictionarySource.cpp
  src/Dictionaries/PolygonDictionary.cpp
  src/Dictionaries/PolygonDictionaryImplementations.cpp
  src/Dictionaries/PostgreSQLDictionarySource.cpp
  src/Dictionaries/RangeHashedDictionary.cpp
  src/Dictionaries/RedisBlockInputStream.cpp
  src/Dictionaries/RedisDictionarySource.cpp
  src/Dictionaries/RedisDictionarySource.h
  src/Dictionaries/SSDCacheDictionaryStorage.h
  src/Dictionaries/XDBCDictionarySource.cpp
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  src/Dictionaries/readInvalidateQuery.cpp
  src/Dictionaries/registerCacheDictionaries.cpp
Labels: pr-not-for-changelog
