Repository ClickHouse/ClickHouse, pull requests merged in 2021-10, with the labels that each got.

#29602 Added MD4 and SHA384 functions.
  docs/en/sql-reference/functions/hash-functions.md
  docs/ja/sql-reference/functions/hash-functions.md
  docs/ru/sql-reference/functions/hash-functions.md
  src/Functions/FunctionsHashing.cpp
  src/Functions/FunctionsHashing.h
  tests/queries/0_stateless/00534_filimonov.data
  tests/queries/0_stateless/02041_openssl_hash_functions_test.reference
  tests/queries/0_stateless/02041_openssl_hash_functions_test.sql
Labels: can be tested, pr-feature, doc-alert

#29600 Skip test for executable table function under MSan
  tests/integration/test_executable_table_function/test.py
Labels: pr-not-for-changelog

#29573 Fix nullpointer dereference in AddDefaultDatabaseVisitor
  src/Interpreters/AddDefaultDatabaseVisitor.h
  tests/queries/0_stateless/02041_test_fuzzy_alter.reference
  tests/queries/0_stateless/02041_test_fuzzy_alter.sql
Labels: pr-bugfix

#29597 Fix docker/test/util declaration
  docker/images.json
Labels: pr-not-for-changelog

#27933 Add math operators and functions to work with multidimensional vectors
  src/Functions/FunctionBinaryArithmetic.h
  src/Functions/FunctionUnaryArithmetic.h
  src/Functions/ITupleFunction.h
  src/Functions/IsOperation.h
  src/Functions/max2.cpp
  src/Functions/min2.cpp
  src/Functions/registerFunctionsMath.cpp
  src/Functions/tupleHammingDistance.cpp
  src/Functions/vectorFunctions.cpp
  src/Parsers/ASTFunction.cpp
  tests/queries/0_stateless/02011_tuple_vector_functions.reference
  tests/queries/0_stateless/02011_tuple_vector_functions.sql
Labels: pr-feature, doc-alert

#29567 Fix vertical projection merges.
  src/Storages/MergeTree/MergeList.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/01710_projection_vertical_merges.reference
  tests/queries/0_stateless/01710_projection_vertical_merges.sql
Labels: pr-bugfix

#29627 Doc. warning about systems with small RAM
  docs/en/operations/tips.md
Labels: pr-documentation

#29614 Fix race between MergeTask and storage destruction
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.cpp
Labels: pr-not-for-changelog

#29636 Map get non const key added test
  tests/queries/0_stateless/02042_map_get_non_const_key.reference
  tests/queries/0_stateless/02042_map_get_non_const_key.sql
Labels: pr-not-for-changelog

#29623 BloomFilter indexes map data type support fix unsafe identifier cast
  src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
Labels: pr-not-for-changelog

#29060 Do not allow to reuse previous credentials in case of inter-server secret
  src/Interpreters/Session.cpp
  src/Server/TCPHandler.cpp
  tests/integration/helpers/client.py
  tests/integration/helpers/cluster.py
  tests/integration/test_distributed_inter_server_secret/configs/remote_servers.xml
  tests/integration/test_distributed_inter_server_secret/configs/users.xml
  tests/integration/test_distributed_inter_server_secret/test.py
Labels: pr-bugfix

#29608 Do not send many signals at server restart (integration tests).
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog

#29574 ExpressionJIT fix short-circuit with alias
  src/Interpreters/ExpressionJIT.cpp
  tests/queries/0_stateless/02036_jit_short_circuit.reference
  tests/queries/0_stateless/02036_jit_short_circuit.sql
Labels: pr-bugfix

#29603 Improve some more integration tests
  tests/integration/test_attach_without_checksums/test.py
  tests/integration/test_dictionaries_ddl/test.py
  tests/integration/test_redirect_url_storage/test.py
Labels: pr-not-for-changelog

#29594 Add ability to compile using newer version fo glibc w/o using new symbols
  CMakeLists.txt
  base/glibc-compatibility/glibc-compat-2.32.h
Labels: pr-build

#29649 Merging #29376
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/integration/test_backup_restore/test.py
Labels: pr-not-for-changelog

#29376 bug fix : in memory part lost when freeze
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: can be tested, pr-improvement

#29605 Improve CompressedReadBuffer
  src/Compression/CompressedReadBufferBase.cpp
  src/Compression/ICompressionCodec.cpp
Labels: pr-not-for-changelog

#29529 ExternalXMLLoaders reload with server configuration support
  programs/server/Server.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ExternalLoaderXMLConfigRepository.cpp
  src/Interpreters/ExternalLoaderXMLConfigRepository.h
  src/Interpreters/ExternalUserDefinedExecutableFunctionsLoader.cpp
  tests/integration/test_dictionaries_config_reload/__init__.py
  tests/integration/test_dictionaries_config_reload/config/dictionaries_config.xml
  tests/integration/test_dictionaries_config_reload/dictionaries/dictionary_config.xml
  tests/integration/test_dictionaries_config_reload/dictionaries/dictionary_config2.xml
  tests/integration/test_dictionaries_config_reload/test.py
  tests/integration/test_executable_user_defined_functions_config_reload/__init__.py
  tests/integration/test_executable_user_defined_functions_config_reload/config/executable_user_defined_functions_config.xml
  tests/integration/test_executable_user_defined_functions_config_reload/functions/test_function_config.xml
  tests/integration/test_executable_user_defined_functions_config_reload/functions/test_function_config2.xml
  tests/integration/test_executable_user_defined_functions_config_reload/test.py
Labels: pr-improvement

#29662 Move modelEvaluate function to its own file
  src/Dictionaries/LibraryDictionarySource.h
  src/Functions/FunctionsExternalModels.cpp
  src/Functions/FunctionsExternalModels.h
  src/Functions/modelEvaluate.cpp
  src/Interpreters/CatBoostModel.h
Labels: pr-not-for-changelog

#29663 Perf fixes
  tests/performance/parallel_mv.xml
Labels: pr-not-for-changelog

#29203 Fix integer underflow in function `quantile`
  src/AggregateFunctions/QuantileExact.h
  tests/queries/0_stateless/02030_quantiles_underflow.reference
  tests/queries/0_stateless/02030_quantiles_underflow.sql
Labels: pr-not-for-changelog

#29660 Do not try to fuzz `USE`/`SET` queries and print stacktrace
  docker/test/fuzzer/run-fuzzer.sh
  programs/client/Client.cpp
Labels: pr-not-for-changelog

#29643 Increase listen_backlog by default (to match default in newer linux kernel)
  programs/server/Server.cpp
Labels: pr-improvement

#29500 Introducing Fn concept for function signature checking, simplifying SimpleCache
  base/base/CachedFn.h
  base/base/FnTraits.h
  base/base/SimpleCache.h
  base/base/function_traits.h
  src/Access/AllowedClientHosts.cpp
  src/Access/IAccessStorage.cpp
  src/Access/RoleCache.cpp
  src/Access/UsersConfigAccessStorage.cpp
  src/Common/DNSResolver.cpp
  src/Common/StackTrace.cpp
  src/Common/examples/CMakeLists.txt
  src/Common/examples/simple_cache.cpp
  src/Common/tests/gtest_cached_fn.cpp
  src/Compression/CompressionCodecEncrypted.cpp
  src/Databases/MySQL/MaterializeMetadata.cpp
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.cpp
  src/Disks/HDFS/DiskHDFS.cpp
  src/Disks/S3/DiskS3.cpp
  src/Interpreters/Cluster.cpp
Labels: pr-not-for-changelog

#29667 Fix issue: clickhouse-format --obfuscate cannot process queries with embedded dictionaries
  programs/format/Format.cpp
  src/Functions/FunctionFactory.cpp
  src/Functions/FunctionFactory.h
  tests/queries/0_stateless/02043_query_obfuscator_embedded_dictionaries.reference
  tests/queries/0_stateless/02043_query_obfuscator_embedded_dictionaries.sh
Labels: pr-improvement

#29668 More warning flags for clang
  cmake/warnings.cmake
Labels: pr-build

#29676 Backport #29337 to 21.8: Fix vertical projection merges
  src/Storages/MergeTree/MergeList.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/01710_projection_vertical_merges.reference
  tests/queries/0_stateless/01710_projection_vertical_merges.sql
Labels: pr-not-for-changelog

#23028 Merging #21330
  docs/en/sql-reference/functions/date-time-functions.md
  docs/en/sql-reference/functions/type-conversion-functions.md
  src/Functions/FunctionHelpers.cpp
  src/Functions/FunctionHelpers.h
  src/Functions/FunctionsAES.h
  src/Functions/FunctionsConversion.h
  src/Functions/castOrDefault.cpp
  src/Functions/extractAllGroups.h
  src/Functions/extractGroups.cpp
  src/Functions/extractTimeZoneFromFunctionArguments.cpp
  src/Functions/extractTimeZoneFromFunctionArguments.h
  src/Functions/registerFunctions.cpp
  src/Interpreters/castColumn.cpp
  tests/queries/0_stateless/01746_convert_type_with_default.reference
  tests/queries/0_stateless/01746_convert_type_with_default.sql
  tests/queries/0_stateless/2026_accurate_cast_or_default.reference
  tests/queries/0_stateless/2026_accurate_cast_or_default.sql
Labels: pr-feature, doc-alert

#29674 Web UI: add logo
  programs/server/play.html
Labels: pr-improvement

#25252 Add a test for #24261
  tests/queries/0_stateless/01909_mbtolou.reference
  tests/queries/0_stateless/01909_mbtolou.sql
Labels: pr-not-for-changelog

#25262 Add a test for #21592
  tests/queries/0_stateless/01911_logical_error_minus.reference
  tests/queries/0_stateless/01911_logical_error_minus.sql
Labels: pr-not-for-changelog

#29339 DOCSUP-11545: document the optimize_trivial_count_query setting
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/aggregate-functions/reference/count.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/aggregate-functions/reference/count.md
Labels: pr-documentation

#29626 Follow-up for #26231
  programs/client/Client.cpp
  programs/local/LocalServer.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
Labels: pr-not-for-changelog

#29688 fix rename of path for iostream_debug_helpers.h
  base/base/CMakeLists.txt
Labels: pr-build

#29689 Cleanup unbundled image
  docker/packager/unbundled/Dockerfile
Labels: pr-not-for-changelog

#29682 Fix Xcode 13 build
  CMakeLists.txt
  base/base/LineReader.cpp
  base/base/phdr_cache.cpp
  base/base/unit.h
  base/daemon/BaseDaemon.cpp
  base/readpassphrase/readpassphrase.c
  cmake/check_flags.cmake
  cmake/find/orc.cmake
  src/Common/ThreadFuzzer.cpp
  src/Common/examples/int_hashes_perf.cpp
  src/Compression/CompressionCodecDoubleDelta.cpp
  src/Compression/CompressionCodecGorilla.cpp
  src/Functions/FunctionsCodingIP.cpp
  src/IO/ReadBufferFromFileDescriptor.cpp
  src/IO/tests/gtest_bit_io.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.cpp
  utils/memcpy-bench/memcpy-bench.cpp
Labels: pr-not-for-changelog

#29553 Fix null deference for GROUP BY WITH TOTALS HAVING (when the column from HAVING wasn't selected)
  src/Processors/Transforms/TotalsHavingTransform.cpp
  tests/queries/0_stateless/02039_group_by_with_totals_having.reference
  tests/queries/0_stateless/02039_group_by_with_totals_having.sql
Labels: pr-bugfix

#29686 MaterializedPostgreSQL fix
  src/Databases/PostgreSQL/DatabaseMaterializedPostgreSQL.cpp
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.cpp
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.h
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.cpp
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.h
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
Labels: pr-bugfix

#29604 DOCSUP-14539: Edit and translate to Russian (MaterializedPostgreSQL settings)
  docs/en/engines/database-engines/materialized-postgresql.md
  docs/en/operations/settings/settings.md
  docs/ru/engines/database-engines/materialized-postgresql.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#29156 DOCSUP-14334: ClickHouse over web server with static files
  docs/en/operations/settings/settings.md
  docs/en/operations/storing-data.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/storing-data.md
Labels: pr-documentation

#29673 Fix initialization of `StorageURLSource`
  src/Storages/StorageURL.cpp
  tests/integration/test_redirect_url_storage/test.py
  tests/queries/0_stateless/02044_url_glob_parallel.reference
  tests/queries/0_stateless/02044_url_glob_parallel.sh
Labels: pr-improvement

#29666 UserDefinedExecutableFunctions added implicit cast
  src/Interpreters/UserDefinedExecutableFunctionFactory.cpp
  tests/queries/0_stateless/02043_user_defined_executable_function_implicit_cast.reference
  tests/queries/0_stateless/02043_user_defined_executable_function_implicit_cast.sql
Labels: pr-not-for-changelog

#28331 Clean up MySQL authentication.
  src/Access/Authentication.cpp
  src/Access/Authentication.h
  src/Access/Credentials.h
  src/Core/MySQL/Authentication.cpp
  src/Core/MySQL/Authentication.h
  src/Interpreters/Session.cpp
  src/Interpreters/Session.h
Labels: pr-not-for-changelog, force tests

#29552 support conversion between date32 and datetime64
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/02041_conversion_between_date32_and_datetime64.reference
  tests/queries/0_stateless/02041_conversion_between_date32_and_datetime64.sql
Labels: can be tested, pr-not-for-changelog

#29719 typo
  docs/ru/sql-reference/statements/system.md
Labels: pr-documentation

#29718 typo
  docs/en/sql-reference/statements/system.md
Labels: pr-documentation

#29516 Support HSTS in Clickhouse HTTP server
  docs/en/operations/server-configuration-parameters/settings.md
  src/Core/Settings.h
  src/Server/HTTP/HTTPServerConnection.cpp
  src/Server/HTTP/HTTPServerRequest.cpp
  src/Server/HTTP/HTTPServerRequest.h
Labels: can be tested, pr-feature, doc-alert

#29429 Implemented creating databases with comments
  src/Databases/DatabaseDictionary.cpp
  src/Databases/DatabaseFactory.cpp
  src/Databases/DatabaseMemory.cpp
  src/Databases/DatabaseOnDisk.cpp
  src/Databases/IDatabase.h
  src/Databases/MySQL/DatabaseMySQL.cpp
  src/Databases/PostgreSQL/DatabasePostgreSQL.cpp
  src/Databases/SQLite/DatabaseSQLite.cpp
  src/Storages/System/StorageSystemDatabases.cpp
  tests/queries/0_stateless/02021_create_database_with_comment.reference
  tests/queries/0_stateless/02021_create_database_with_comment.sh
Labels: altinity, pr-feature, doc-alert

#29706 Fix flacky test
  tests/integration/test_postgresql_replica_database_engine/test.py
Labels: pr-not-for-changelog

#29625 Fix missing condition in pushed down predicate.
  src/Interpreters/ActionsDAG.cpp
  tests/queries/0_stateless/01763_filter_push_down_bugs.reference
  tests/queries/0_stateless/01763_filter_push_down_bugs.sql
Labels: pr-bugfix

#29490 Update nlp-functions.md
  docs/en/sql-reference/functions/nlp-functions.md
Labels: can be tested, pr-documentation, doc-alert

#29513 Fix server pid (hence exit code and attaching with gdb) in fuzzer tests
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#29681 Apply max_untracked_memory/memory_profiler_step/memory_profiler_sample_probability during mutate/merge
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/MergeList.cpp
  src/Storages/MergeTree/MergeList.h
  src/Storages/MergeTree/MergePlainMergeTreeTask.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MutateFromLogEntryTask.cpp
  src/Storages/MergeTree/MutatePlainMergeTreeTask.cpp
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/ReplicatedMergeMutateTaskBase.cpp
  src/Storages/StorageMergeTree.cpp
Labels: pr-improvement

#29692 Fix data-race in WriteIndirectBuffer (used in DiskMemory)
  src/Disks/DiskMemory.cpp
Labels: pr-not-for-changelog

#29680 Cleanup common defines
  base/base/defines.h
  base/base/demangle.cpp
  base/base/mremap.cpp
  base/base/mremap.h
  programs/keeper/Keeper.cpp
  src/Coordination/Defines.h
  src/Coordination/KeeperServer.cpp
  src/Coordination/KeeperStateManager.cpp
  src/Core/Defines.h
  src/Core/Protocol.h
  src/Core/ProtocolDefines.h
  src/Core/Settings.h
  src/DataStreams/NativeBlockOutputStream.cpp
  src/DataStreams/TemporaryFileStream.cpp
  src/DataStreams/TemporaryFileStream.h
  src/IO/Progress.cpp
  src/IO/ReadWriteBufferFromHTTP.h
  src/Interpreters/Aggregator.cpp
  src/Interpreters/ClientInfo.cpp
  src/Interpreters/TablesStatus.cpp
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Storages/Distributed/Defines.h
  src/Storages/Distributed/DirectoryMonitor.cpp
  src/Storages/Distributed/DistributedSink.cpp
Labels: pr-not-for-changelog

#29595 Generalize code in `IColumn::updatePermutation`
  base/base/sort.h
  src/CMakeLists.txt
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnArray.h
  src/Columns/ColumnDecimal.cpp
  src/Columns/ColumnDecimal.h
  src/Columns/ColumnFixedString.cpp
  src/Columns/ColumnFixedString.h
  src/Columns/ColumnLowCardinality.cpp
  src/Columns/ColumnLowCardinality.h
  src/Columns/ColumnString.cpp
  src/Columns/ColumnString.h
  src/Columns/ColumnVector.cpp
  src/Columns/ColumnVector.h
  src/Columns/IColumn.h
  src/Columns/IColumnImpl.h
Labels: pr-not-for-changelog

#29747 TableFunctionDictionary fix comment
  src/TableFunctions/TableFunctionDictionary.h
Labels: pr-not-for-changelog

#29722 BorrowedObjectPool condition variable notify fix
  base/base/BorrowedObjectPool.h
Labels: pr-not-for-changelog

#29757 Add changelog for 21.10
  CHANGELOG.md
Labels: pr-documentation

#28637 Fix materialized column as sharding key
  src/Storages/Distributed/DistributedSink.cpp
  src/Storages/Distributed/DistributedSink.h
  src/Storages/StorageDistributed.cpp
  tests/integration/test_sharding_key_from_default_column/__init__.py
  tests/integration/test_sharding_key_from_default_column/configs/test_cluster.xml
  tests/integration/test_sharding_key_from_default_column/test.py
Labels: pr-bugfix, force tests

#29745 Fix --stage for clickhouse-local
  programs/client/Client.cpp
  src/Client/ClientBase.cpp
Labels: pr-not-for-changelog

#29737 Better exception message for local interactive
  programs/local/LocalServer.cpp
Labels: pr-not-for-changelog

#29746 Forbid Nullable for JSONExtract* (JSONExtract() still supports Nullable), leads to SIGSEGV before
  src/Functions/FunctionsJSON.h
  tests/queries/0_stateless/02045_json_extract_null.reference
  tests/queries/0_stateless/02045_json_extract_null.sql
Labels: pr-not-for-changelog

#29546 Add error for multiple keys without current_key_id
  docs/en/operations/server-configuration-parameters/settings.md
  src/Compression/CompressionCodecEncrypted.cpp
  src/Disks/DiskEncrypted.cpp
Labels: pr-not-for-changelog

#29683 Non-recursive implementation for type list and its functions
  base/base/CachedFn.h
  base/base/FnTraits.h
  base/base/TypeName.h
  base/base/TypePair.h
  base/base/Typelist.h
  base/base/Typelists.h
  base/base/UUID.h
  src/AggregateFunctions/AggregateFunctionSimpleLinearRegression.cpp
  src/Columns/ColumnDecimal.h
  src/Columns/ColumnVector.h
  src/Common/TypeList.h
  src/Common/Visitor.h
  src/Common/quoteString.cpp
  src/Common/quoteString.h
  src/Core/TypeListNumber.h
  src/Core/TypeName.h
  src/Core/Types.h
  src/DataTypes/DataTypeLowCardinality.cpp
  src/DataTypes/DataTypeNumberBase.h
  src/Dictionaries/RangeHashedDictionary.cpp
  src/Functions/FunctionBinaryArithmetic.h
  src/Functions/GatherUtils/ArraySinkVisitor.h
  src/Functions/GatherUtils/ArraySourceVisitor.h
  src/Functions/GatherUtils/ValueSourceVisitor.h
  src/Functions/GatherUtils/createArraySink.cpp
  src/Functions/GatherUtils/createArraySource.cpp
  src/Functions/GatherUtils/createValueSource.cpp
  src/Functions/PolygonUtils.h
  src/Functions/array/arrayIntersect.cpp
  src/Functions/castTypeToEither.h
Labels: pr-not-for-changelog

#29731 Support EXISTS(subquery)
  src/Interpreters/TreeRewriter.cpp
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/ExpressionElementParsers.h
  tests/integration/02044_exists_operator.reference
  tests/integration/02044_exists_operator.sql
Labels: pr-feature, doc-alert

#29796 Function reinterpretAs improve readability
  src/Functions/reinterpretAs.cpp
Labels: pr-not-for-changelog

#29792 Web UI: render bars in table cells
  programs/server/play.html
Labels: pr-improvement

#29762 May be fix s3 tests
  docker/test/integration/runner/compose/docker_compose_minio.yml
  tests/integration/test_merge_tree_s3/test.py
Labels: pr-not-for-changelog

#29813 Add listen_backlog to documentation
  docs/en/operations/server-configuration-parameters/settings.md
  programs/server/config.xml
Labels: pr-not-for-changelog

#30868 Add docker cleanup after actions
  .github/workflows/main.yml
Labels: pr-not-for-changelog

#30793 Add new function mapExtractKeyLike
  docs/en/sql-reference/functions/tuple-map-functions.md
  src/Functions/map.cpp
  tests/queries/0_stateless/02111_function_mapExtractKeyLike.reference
  tests/queries/0_stateless/02111_function_mapExtractKeyLike.sql
Labels: can be tested, pr-feature, doc-alert

#30837 Remove redundant from http buffer
  src/IO/ReadWriteBufferFromHTTP.h
  tests/integration/test_disk_over_web_server/configs/async_read.xml
  tests/integration/test_disk_over_web_server/test.py
Labels: pr-not-for-changelog

#30786 Fix test 02022
  src/Storages/FileLog/FileLogSettings.h
  src/Storages/FileLog/StorageFileLog.cpp
Labels: pr-not-for-changelog

#30669 DOCSUP-14091: Documented the tupleToNameValuePairs
  docs/en/sql-reference/functions/tuple-functions.md
  docs/ru/sql-reference/functions/tuple-functions.md
Labels: pr-documentation

#30406 DOCSUP-16606: [CLICKHOUSEDOCS] Edit and translate to Russian
  docs/en/sql-reference/functions/machine-learning-functions.md
  docs/en/sql-reference/functions/splitting-merging-functions.md
  docs/en/sql-reference/functions/string-functions.md
  docs/ru/sql-reference/functions/machine-learning-functions.md
  docs/ru/sql-reference/functions/splitting-merging-functions.md
Labels: can be tested, pr-documentation, doc-alert

#30869 Rename Mac architecture on Quick Start page
  website/templates/index/quickstart.html
Labels: pr-documentation

#30866 Support alter table for Memory database
  src/Databases/DatabaseMemory.cpp
  src/Databases/DatabaseMemory.h
  src/Databases/DatabaseOnDisk.cpp
  src/Databases/DatabaseOnDisk.h
  src/Databases/DatabasesCommon.cpp
  src/Databases/DatabasesCommon.h
  tests/queries/0_stateless/01164_alter_memory_database.reference
  tests/queries/0_stateless/01164_alter_memory_database.sql
  tests/queries/0_stateless/02021_create_database_with_comment.reference
  tests/queries/0_stateless/02021_create_database_with_comment.sh
Labels: pr-feature, doc-alert

#30863 Fixed `--disable-net-host` in `runner`
  tests/integration/runner
Labels: pr-not-for-changelog

#30871 Allow to parse Date as YYYYMMDD
  src/IO/ReadHelpers.cpp
  src/IO/ReadHelpers.h
  tests/queries/0_stateless/01073_bad_alter_partition.reference
  tests/queries/0_stateless/01073_bad_alter_partition.sql
  tests/queries/0_stateless/02112_parse_date_yyyymmdd.reference
  tests/queries/0_stateless/02112_parse_date_yyyymmdd.sh
Labels: pr-improvement

#30889 TimescaleDB benchmark
  benchmark/timescaledb/benchmark.sh
  benchmark/timescaledb/log
  benchmark/timescaledb/log_compressed
  benchmark/timescaledb/queries.sql
  benchmark/timescaledb/usability.md
  website/benchmark/dbms/results/013_timescaledb.json
  website/benchmark/dbms/results/014_timescaledb.json
Labels: pr-documentation

#30880 Fix error message in Keeper handler
  src/Server/KeeperTCPHandler.cpp
Labels: pr-not-for-changelog

#30886 Fix parallel formatting and progress flicker in clickhouse-client
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
Labels: pr-performance

#30888 Fix WITH FILL with set TO and FROM and no rows in result set
  src/Processors/Transforms/FillingTransform.cpp
  tests/queries/0_stateless/02111_with_fill_no_rows.reference
  tests/queries/0_stateless/02111_with_fill_no_rows.sql
Labels: pr-bugfix

#30882 Rename columns in SessionLog
  src/Interpreters/Session.cpp
  src/Interpreters/Session.h
  src/Interpreters/SessionLog.cpp
  src/Interpreters/SessionLog.h
Labels: pr-improvement

#30896 Fix spelling
  docs/ru/sql-reference/statements/select/prewhere.md
Labels: pr-documentation

#30864 Fix protocol revision.
  src/Core/ProtocolDefines.h
Labels: pr-not-for-changelog

#30815 [DOCS] Fix ADD PROJECTION example in ru/en docs
  docs/en/sql-reference/statements/alter/projection.md
  docs/ru/sql-reference/statements/alter/projection.md
Labels: can be tested, pr-documentation

#30805 [docs] additional Bloomberg link @ adopters.md
  docs/en/introduction/adopters.md
Labels: pr-documentation

#30799 Update docs to stop referencing insert_sample_with_metadata
  docs/en/interfaces/formats.md
  docs/ja/interfaces/formats.md
  docs/zh/interfaces/formats.md
Labels: pr-documentation

#30830 Update installation success message #30672
  programs/install/Install.cpp
Labels: can be tested, doc-alert, pr-not-for-changelog

#30887 Fix index analysis for set index
  src/Storages/MergeTree/MergeTreeIndexSet.cpp
  tests/queries/0_stateless/02112_skip_index_set_and_or.reference
  tests/queries/0_stateless/02112_skip_index_set_and_or.sql
Labels: pr-bugfix

#30574 WIP: use cgroup memory limit in getMemoryAmountOrZero
  base/base/getMemoryAmount.cpp
Labels: can be tested, pr-improvement

#30310 Fix IN set filtering when projection is used.
  src/Interpreters/Context.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/SelectQueryInfo.h
  tests/queries/0_stateless/01710_projection_in_set.reference
  tests/queries/0_stateless/01710_projection_in_set.sql
Labels: pr-bugfix

#30877 Fix invalid header in projection block calculation
  src/Storages/ProjectionsDescription.cpp
  tests/queries/0_stateless/01710_aggregate_projection_with_hashing.reference
  tests/queries/0_stateless/01710_aggregate_projection_with_hashing.sql
Labels: pr-bugfix

#30904 Add PostgreSQL benchmark
  benchmark/postgresql/benchmark.sh
  benchmark/postgresql/instructions.md
  benchmark/postgresql/log
  benchmark/postgresql/queries.sql
  website/benchmark/dbms/results/013_timescaledb.json
  website/benchmark/dbms/results/014_timescaledb.json
  website/benchmark/dbms/results/015_postgresql.json
Labels: pr-documentation

#30689 Refactoring of Log family
  src/Common/FileChecker.cpp
  src/Common/FileChecker.h
  src/Formats/IndexForNativeFormat.cpp
  src/Formats/IndexForNativeFormat.h
  src/Formats/NativeReader.cpp
  src/Formats/NativeReader.h
  src/Formats/NativeWriter.cpp
  src/Formats/NativeWriter.h
  src/Storages/StorageLog.cpp
  src/Storages/StorageLog.h
  src/Storages/StorageStripeLog.cpp
  src/Storages/StorageStripeLog.h
  src/Storages/StorageTinyLog.cpp
  src/Storages/StorageTinyLog.h
  src/Storages/registerStorages.cpp
  src/Storages/tests/gtest_storage_log.cpp
  tests/queries/0_stateless/02047_log_family_complex_structs_data_file_dumps.reference
  tests/queries/0_stateless/02047_log_family_complex_structs_data_file_dumps.sh
  tests/queries/0_stateless/02047_log_family_data_file_dumps.reference
  tests/queries/0_stateless/02047_log_family_data_file_dumps.sh
Labels: pr-not-for-changelog

#30839 Docs check on github actions
  .github/workflows/main.yml
  .github/workflows/release.yml
  docker/docs/builder/Dockerfile
  docker/docs/check/Dockerfile
  docker/docs/check/run.sh
  docker/docs/release/Dockerfile
  docker/docs/release/run.sh
  docker/images.json
  tests/ci/docker_images_check.py
  tests/ci/docs_check.py
  tests/ci/docs_release.py
  tests/ci/metrics_lambda/app.py
  tests/ci/pr_info.py
  tests/ci/ssh.py
  tests/ci/termination_lambda/app.py
Labels: pr-not-for-changelog

#30499 Add docker container to build docs
  docker/docs/builder/Dockerfile
  docker/images.json
Labels: pr-build

#30928 Fix yml in docs release
  .github/workflows/release.yml
Labels: pr-not-for-changelog

#30929 Debug github event
  tests/ci/pr_info.py
Labels: pr-not-for-changelog

#30930 Fix strange mistake in documentation release process.
  docs/tools/release.sh
Labels: pr-documentation

#30832 filelog engine tests improve
  cmake/find/filelog.cmake
  src/Storages/FileLog/DirectoryWatcherBase.cpp
  tests/queries/0_stateless/02022_storage_filelog_one_file.sh
  tests/queries/0_stateless/02023_storage_filelog.sh
  tests/queries/0_stateless/02024_storage_filelog_mv.sh
  tests/queries/0_stateless/02025_storage_filelog_virtual_col.sh
  tests/queries/0_stateless/02026_storage_filelog_largefile.sh
  tests/queries/shell_config.sh
Labels: can be tested, pr-not-for-changelog

#30903 Reimplement #28639
  src/Storages/Kafka/StorageKafka.cpp
Labels: pr-not-for-changelog

#30892 Better handling of `xtables.lock` in `runner`
  tests/integration/runner
Labels: pr-not-for-changelog

#30852 enable modify table comment of rest table engine
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageMerge.cpp
  tests/queries/0_stateless/02111_modify_table_comment.reference
  tests/queries/0_stateless/02111_modify_table_comment.sql
Labels: can be tested, pr-not-for-changelog

#30419 DOCSUP-16354: Edit and translate to Russian (listen_backlog)
  docs/en/operations/server-configuration-parameters/settings.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/sql-reference/functions/nlp-functions.md
  docs/ru/sql-reference/statements/create/dictionary.md
Labels: can be tested, pr-documentation

#27828 DOCSUP-12872: Optional secured communication between ClickHouse and Zookeeper
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/ssl-zookeeper.md
Labels: can be tested, pr-documentation

#30932 Add benchmark for DuckDB
  benchmark/duckdb/log
  benchmark/duckdb/queries.sql
  benchmark/duckdb/usability.md
  website/benchmark/dbms/results/016_duckdb.json
Labels: pr-documentation

#30937 Fix style check
  tests/ci/docs_release.py
Labels: pr-not-for-changelog

#30939 Minor improvement in universal install script
  docs/_includes/install/universal.sh
Labels: pr-documentation

#30917 Miscellaneous
  src/Client/ClientBase.cpp
  src/Common/clearPasswordFromCommandLine.cpp
  src/Databases/SQLite/fetchSQLiteTableStructure.cpp
  src/Parsers/ASTFunction.cpp
  src/Parsers/ExpressionListParsers.cpp
  src/Server/TCPHandler.cpp
Labels: pr-not-for-changelog
