Repository ClickHouse/ClickHouse, pull requests merged in 2021-05, with the labels that each got.

#23805 Fix sending external table for hedged connections.
  src/Client/Connection.cpp
  src/Client/Connection.h
  src/DataStreams/RemoteQueryExecutor.cpp
  tests/queries/0_stateless/01851_hedged_connections_external_tables.reference
  tests/queries/0_stateless/01851_hedged_connections_external_tables.sql
Labels: pr-bugfix

#23823 Improve 00840_long_concurrent_select_and_drop_deadlock
  tests/queries/0_stateless/00840_long_concurrent_select_and_drop_deadlock.sh
Labels: pr-not-for-changelog

#23813 Add test for #18170
  tests/queries/0_stateless/01818_move_partition_simple.reference
  tests/queries/0_stateless/01818_move_partition_simple.sql
Labels: pr-not-for-changelog

#23776 Workaround for PVS-Studio
  base/common/types.h
  src/Common/formatIPv6.h
Labels: pr-not-for-changelog

#23825 Flat, Hashed dictionary include update field bytes into bytes_allocated
  src/Dictionaries/FlatDictionary.cpp
  src/Dictionaries/FlatDictionary.h
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/HashedDictionary.h
Labels: pr-must-backport, pr-not-for-changelog

#23766 Remove unused compilers (fixed for the troublesome "unbundled" build)
  cmake/find/llvm.cmake
  docker/packager/deb/Dockerfile
  src/Interpreters/ExpressionJIT.cpp
Labels: pr-not-for-changelog

#23750 clickhouse-test: send TERM to all childs (to avoid hung check triggering)
  tests/clickhouse-test
Labels: pr-not-for-changelog

#23840 gcc-10 installation no-install-reccomends option fix
  docker/packager/deb/Dockerfile
Labels: pr-not-for-changelog

#23836 XDBCBridgeHelper use global context
  src/Bridge/LibraryBridgeHelper.cpp
  src/Bridge/XDBCBridgeHelper.h
Labels: pr-not-for-changelog

#21105 Actualize OnTime example
  docs/en/getting-started/example-datasets/ontime.md
  docs/ja/getting-started/example-datasets/ontime.md
  docs/ru/getting-started/example-datasets/ontime.md
  docs/zh/getting-started/example-datasets/ontime.md
Labels: can be tested, pr-documentation

#23743 Refactor join step
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  src/Interpreters/IJoin.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/SubqueryForSet.cpp
  src/Interpreters/SubqueryForSet.h
  src/Interpreters/evaluateConstantExpression.cpp
  src/Processors/QueryPipeline.cpp
  src/Processors/QueryPipeline.h
  src/Processors/QueryPlan/CreatingSetsStep.cpp
  src/Processors/QueryPlan/ExpressionStep.cpp
  src/Processors/QueryPlan/ExpressionStep.h
  src/Processors/QueryPlan/JoinStep.cpp
  src/Processors/QueryPlan/JoinStep.h
  src/Processors/QueryPlan/Optimizations/filterPushDown.cpp
  src/Processors/Transforms/CreatingSetsTransform.cpp
  src/Processors/Transforms/CreatingSetsTransform.h
  src/Processors/Transforms/JoiningTransform.cpp
  src/Processors/Transforms/JoiningTransform.h
  src/Processors/ya.make
Labels: pr-not-for-changelog

#23855 replxx readline compatibility
  base/common/ReplxxLineReader.cpp
Labels: pr-not-for-changelog

#23856 Add file paths into logs on failed distributed async sends
  src/Storages/Distributed/DirectoryMonitor.cpp
Labels: pr-not-for-changelog

#23873 Fix typo in the comment
  src/Common/MemoryStatisticsOS.h
Labels: pr-documentation

#23868 Add DiskRestartProxy.cpp to ya.make
  src/Disks/ya.make
Labels: pr-not-for-changelog

#23879 Add Read/WriteBufferFromFileDecorator.cpp to ya.make
  src/IO/ya.make
Labels: pr-not-for-changelog

#23877 Fix some warnings by PVS-Studio
  programs/client/QueryFuzzer.h
  src/Common/ColumnsHashing.h
  src/Common/HashTable/Hash.h
  src/Common/SpaceSaving.h
  src/Core/Field.h
  src/Functions/IFunction.cpp
  src/Interpreters/Aggregator.h
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#23883 @CurtizJ convinced me that this test has to be deleted
  tests/integration/test_polymorphic_parts/test.py
Labels: pr-not-for-changelog

#23893 Doc. Fix title link for send_crash_reports for en and ru
  docs/en/operations/server-configuration-parameters/settings.md
  docs/ru/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#23885 Add metrics for broken files during async distributed sends
  docs/en/operations/system-tables/distribution_queue.md
  src/Common/CurrentMetrics.cpp
  src/Storages/Distributed/DirectoryMonitor.cpp
  src/Storages/Distributed/DirectoryMonitor.h
  src/Storages/System/StorageSystemDistributionQueue.cpp
  tests/queries/0_stateless/01293_system_distribution_queue.reference
  tests/queries/0_stateless/01293_system_distribution_queue.sql
Labels: pr-improvement

#23884 bash completion improvements
  programs/bash-completion/completions/clickhouse
  programs/bash-completion/completions/clickhouse-bootstrap
Labels: pr-not-for-changelog

#23869 DOCSUP-8495: Documented http-max-uri-size
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#23898 Add run options with default config path according to issues/23875
  docs/en/development/build-osx.md
Labels: doc-alert, pr-feature

#23896 Minor code simplification (implemented TODO)
  src/Functions/array/emptyArray.cpp
Labels: pr-not-for-changelog

#23886 Remove obsolete code
  base/loggers/Loggers.cpp
  base/loggers/Loggers.h
  base/loggers/OwnPatternFormatter.cpp
  base/loggers/OwnPatternFormatter.h
Labels: pr-not-for-changelog

#23908 Fix bad test about compression codecs
  tests/queries/0_stateless/00950_test_double_delta_codec.sql
  tests/queries/0_stateless/01018_Distributed__shard_num.reference
  tests/queries/0_stateless/01018_Distributed__shard_num.sql
Labels: pr-not-for-changelog

#23824 HashedDictionary complex key update field initial load fix
  src/Dictionaries/DictionaryHelpers.h
  src/Dictionaries/HashedDictionary.cpp
  tests/integration/test_dictionaries_update_field/__init__.py
  tests/integration/test_dictionaries_update_field/configs/config.xml
  tests/integration/test_dictionaries_update_field/configs/users.xml
  tests/integration/test_dictionaries_update_field/test.py
Labels: pr-bugfix

#23924 Update index.md
  docs/ru/sql-reference/statements/alter/index/index.md
Labels: can be tested, pr-documentation

#23923 Minor simplification
  src/Common/NaNUtils.h
Labels: pr-not-for-changelog

#23704 TestFlows window functions tests
  tests/testflows/regression.py
  tests/testflows/window_functions/configs/clickhouse/config.d/logs.xml
  tests/testflows/window_functions/configs/clickhouse/config.d/macros.xml
  tests/testflows/window_functions/configs/clickhouse/config.d/remote.xml
  tests/testflows/window_functions/configs/clickhouse/config.d/zookeeper.xml
  tests/testflows/window_functions/configs/clickhouse/config.xml
  tests/testflows/window_functions/configs/clickhouse/users.xml
  tests/testflows/window_functions/configs/clickhouse1/config.d/macros.xml
  tests/testflows/window_functions/configs/clickhouse2/config.d/macros.xml
  tests/testflows/window_functions/configs/clickhouse3/config.d/macros.xml
  tests/testflows/window_functions/docker-compose/clickhouse-service.yml
  tests/testflows/window_functions/docker-compose/docker-compose.yml
  tests/testflows/window_functions/docker-compose/zookeeper-service.yml
  tests/testflows/window_functions/regression.py
  tests/testflows/window_functions/requirements/__init__.py
  tests/testflows/window_functions/requirements/requirements.md
  tests/testflows/window_functions/requirements/requirements.py
  tests/testflows/window_functions/tests/__init__.py
  tests/testflows/window_functions/tests/aggregate_funcs.py
  tests/testflows/window_functions/tests/common.py
  tests/testflows/window_functions/tests/errors.py
  tests/testflows/window_functions/tests/feature.py
  tests/testflows/window_functions/tests/frame_clause.py
  tests/testflows/window_functions/tests/funcs.py
  tests/testflows/window_functions/tests/misc.py
  tests/testflows/window_functions/tests/order_clause.py
  tests/testflows/window_functions/tests/over_clause.py
  tests/testflows/window_functions/tests/partition_clause.py
  tests/testflows/window_functions/tests/range_datetime.py
  tests/testflows/window_functions/tests/range_errors.py
  tests/testflows/window_functions/tests/range_frame.py
  tests/testflows/window_functions/tests/range_overflow.py
  tests/testflows/window_functions/tests/rows_frame.py
  tests/testflows/window_functions/tests/snapshots/common.py.tests.snapshot
  tests/testflows/window_functions/tests/tenk.data
  tests/testflows/window_functions/tests/window_clause.py
  tests/testflows/window_functions/tests/window_spec.py
Labels: pr-build

#23910 Update cloud document with ClickHousing releasing on Alibaba Cloud.
  docs/en/commercial/cloud.md
  docs/ja/commercial/cloud.md
  docs/zh/commercial/cloud.md
Labels: can be tested, doc-alert, pr-feature

#23871 Add postgres-like cast operator
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/ExpressionElementParsers.h
  src/Parsers/ExpressionListParsers.cpp
  src/Parsers/ExpressionListParsers.h
  src/Parsers/Lexer.cpp
  src/Parsers/Lexer.h
  tests/performance/set_index.xml
  tests/queries/0_stateless/01062_max_parser_depth.sh
  tests/queries/0_stateless/01852_cast_operator.reference
  tests/queries/0_stateless/01852_cast_operator.sql
  tests/queries/0_stateless/01852_cast_operator_bad_cases.reference
  tests/queries/0_stateless/01852_cast_operator_bad_cases.sh
  tests/queries/skip_list.json
Labels: doc-alert, pr-feature

#23939 Added solution for host network mode in Ubuntu 20.10+
  tests/integration/README.md
Labels: pr-documentation

#23947 Add JDBC bridge configuration and instructions for installation
  programs/server/config.xml
Labels: pr-documentation

#23929 Fix keys metrics accounting for CACHE() dictionary with duplicates in the source
  src/Dictionaries/CacheDictionary.cpp
  tests/queries/0_stateless/01863_dictionary_cache_duplicates.reference
  tests/queries/0_stateless/01863_dictionary_cache_duplicates.sh
Labels: pr-bugfix

#23952 typo: fix a typo in Compression/CodecT64
  src/Compression/CompressionCodecT64.h
Labels: pr-not-for-changelog

#23948 Check MIN/MAX attributes in the list of dictionary attributes
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  tests/queries/0_stateless/01864_dictionary_range_hashed_min_max_attr.reference
  tests/queries/0_stateless/01864_dictionary_range_hashed_min_max_attr.sql
Labels: pr-not-for-changelog

#23742 Update metadata on replica recovery
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_recovery_replica/test.py
Labels: pr-bugfix

#23916 Measure found rate for dictionaries
  docs/en/operations/system-tables/dictionaries.md
  src/Dictionaries/CacheDictionary.cpp
  src/Dictionaries/CacheDictionary.h
  src/Dictionaries/DirectDictionary.cpp
  src/Dictionaries/DirectDictionary.h
  src/Dictionaries/FlatDictionary.cpp
  src/Dictionaries/FlatDictionary.h
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/HashedDictionary.h
  src/Dictionaries/HierarchyDictionariesUtils.cpp
  src/Dictionaries/HierarchyDictionariesUtils.h
  src/Dictionaries/IDictionary.h
  src/Dictionaries/IPAddressDictionary.cpp
  src/Dictionaries/IPAddressDictionary.h
  src/Dictionaries/PolygonDictionary.cpp
  src/Dictionaries/PolygonDictionary.h
  src/Dictionaries/RangeHashedDictionary.cpp
  src/Dictionaries/RangeHashedDictionary.h
  src/Dictionaries/tests/gtest_hierarchy_dictionaries_utils.cpp
  src/Storages/System/StorageSystemDictionaries.cpp
  tests/queries/0_stateless/01862_dictionary_found_rate_long.reference
  tests/queries/0_stateless/01862_dictionary_found_rate_long.sql
Labels: pr-improvement

#23959 Don't try GLIBC_COMPATIBILITY for i686 Linux
  CMakeLists.txt
  base/glibc-compatibility/CMakeLists.txt
Labels: can be tested, doc-alert, pr-not-for-changelog

#23965 Round floats in Aggregator log messages
  src/Interpreters/Aggregator.cpp
  src/Processors/Transforms/AggregatingTransform.cpp
Labels: pr-not-for-changelog

#23963 Use 0 over nan for hit_rate in case of 0 queries to the cache dictionary
  src/Dictionaries/CacheDictionary.h
Labels: pr-not-for-changelog

#22729 Testflows tests for DateTime64 extended range
  docker/test/testflows/runner/Dockerfile
  tests/testflows/datetime64_extended_range/__init__.py
  tests/testflows/datetime64_extended_range/common.py
  tests/testflows/datetime64_extended_range/configs/clickhouse/common.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse/config.d/logs.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse/config.d/ports.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse/config.d/remote.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse/config.d/ssl.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse/config.d/storage.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse/config.d/zookeeper.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse/config.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse/ssl/dhparam.pem
  tests/testflows/datetime64_extended_range/configs/clickhouse/ssl/server.crt
  tests/testflows/datetime64_extended_range/configs/clickhouse/ssl/server.key
  tests/testflows/datetime64_extended_range/configs/clickhouse/users.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse1/config.d/macros.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse2/config.d/macros.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse3/config.d/macros.xml
  tests/testflows/datetime64_extended_range/docker-compose/clickhouse-service.yml
  tests/testflows/datetime64_extended_range/docker-compose/docker-compose.yml
  tests/testflows/datetime64_extended_range/docker-compose/zookeeper-service.yml
  tests/testflows/datetime64_extended_range/regression.py
  tests/testflows/datetime64_extended_range/requirements/__init__.py
  tests/testflows/datetime64_extended_range/requirements/requirements.md
  tests/testflows/datetime64_extended_range/requirements/requirements.py
  tests/testflows/datetime64_extended_range/tests/common.py
  tests/testflows/datetime64_extended_range/tests/date_time_functions.py
  tests/testflows/datetime64_extended_range/tests/generic.py
  tests/testflows/datetime64_extended_range/tests/non_existent_time.py
  tests/testflows/datetime64_extended_range/tests/reference_times.py
  tests/testflows/datetime64_extended_range/tests/type_conversion.py
  tests/testflows/helpers/cluster.py
  tests/testflows/regression.py
Labels: can be tested, pr-build, st-waiting-for-fix

#23961 Function arrayDifference decimal math overflow
  src/Functions/array/arrayDifference.cpp
  tests/queries/0_stateless/01851_array_difference_decimal_overflow_ubsan.reference
  tests/queries/0_stateless/01851_array_difference_decimal_overflow_ubsan.sql
Labels: pr-not-for-changelog

#23975 Fixing testflows window function distributed tests
  tests/testflows/regression.py
  tests/testflows/window_functions/requirements/requirements.md
  tests/testflows/window_functions/requirements/requirements.py
  tests/testflows/window_functions/tests/common.py
Labels: pr-build

#23903 Fix test_insert_into_distributed flaps
  tests/integration/test_insert_into_distributed/test.py
Labels: pr-not-for-changelog

#23758 Documentation fix for `quantileTDigestWeighted`
  docs/en/sql-reference/aggregate-functions/reference/quantiletdigestweighted.md
  docs/ru/sql-reference/aggregate-functions/reference/quantiletdigestweighted.md
Labels: pr-documentation

#23981 use LowCardinality for AsynchronousMetricLog name column
  src/Interpreters/AsynchronousMetricLog.cpp
Labels: pr-not-for-changelog

#23846 Added `region` parameter for S3 storage and disk
  docs/en/engines/table-engines/integrations/s3.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/ru/engines/table-engines/integrations/s3.md
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
  src/Disks/S3/registerDiskS3.cpp
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
  src/IO/S3Common.cpp
  src/IO/S3Common.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3Settings.cpp
  src/Storages/StorageS3Settings.h
Labels: pr-improvement

#23990 Function dictGetOrNull handle empty rows execute
  src/Functions/FunctionsExternalDictionaries.h
Labels: pr-not-for-changelog

#8482 Enable "compile_expressions" by default
  cmake/find/llvm.cmake
  docker/test/fasttest/run.sh
  docker/test/fuzzer/query-fuzzer-tweaks-users.xml
  programs/server/Server.cpp
  programs/server/config.xml
  src/CMakeLists.txt
  src/Common/LRUCache.h
  src/Core/Settings.h
  src/DataTypes/Native.h
  src/Functions/FunctionBinaryArithmetic.h
  src/Functions/FunctionIfBase.h
  src/Functions/FunctionUnaryArithmetic.h
  src/Functions/FunctionsComparison.h
  src/Functions/FunctionsLogical.h
  src/Functions/IFunction.cpp
  src/Functions/IFunction.h
  src/Functions/IFunctionAdaptors.h
  src/Functions/IFunctionImpl.h
  src/Functions/greatest.cpp
  src/Functions/if.cpp
  src/Functions/least.cpp
  src/Functions/multiIf.cpp
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/AsynchronousMetrics.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ExpressionJIT.cpp
  src/Interpreters/ExpressionJIT.h
  src/Interpreters/JIT/CHJIT.cpp
  src/Interpreters/JIT/CHJIT.h
  src/Interpreters/JIT/CompileDAG.cpp
  src/Interpreters/JIT/CompileDAG.h
  src/Interpreters/JIT/compileFunction.cpp
  src/Interpreters/JIT/compileFunction.h
  src/Interpreters/examples/CMakeLists.txt
  src/Interpreters/examples/jit_example.cpp
  tests/queries/0_stateless/01852_jit_if.reference
  tests/queries/0_stateless/01852_jit_if.sql
  tests/queries/0_stateless/01855_jit_comparison_constant_result.reference
  tests/queries/0_stateless/01855_jit_comparison_constant_result.sql
Labels: doc-alert, force tests, pr-performance

#23946 Add support for HTTP compression in dictionary source.
  src/Dictionaries/HTTPDictionarySource.cpp
  src/Dictionaries/HTTPDictionarySource.h
  src/IO/CompressionMethod.cpp
  src/IO/ReadWriteBufferFromHTTP.h
  tests/queries/0_stateless/01854_HTTP_dict_decompression.python
  tests/queries/0_stateless/01854_HTTP_dict_decompression.reference
  tests/queries/0_stateless/01854_HTTP_dict_decompression.sh
Labels: can be tested

#23701 DOCSUP-5885: Update the SQL-statement EXPLAIN AST
  docs/en/sql-reference/statements/explain.md
  docs/ru/sql-reference/statements/explain.md
Labels: pr-documentation

#23673 Add _partition_value virtual column
  src/Interpreters/TreeRewriter.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  tests/queries/0_stateless/01848_partition_value_column.reference
  tests/queries/0_stateless/01848_partition_value_column.sql
Labels: pr-improvement

#23979 Reimplement preallocate for hashed/sparse_hashed dictionaries
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  src/Databases/DatabaseOrdinary.cpp
  src/Dictionaries/ClickHouseDictionarySource.cpp
  src/Dictionaries/ClickHouseDictionarySource.h
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/HashedDictionary.h
  src/Dictionaries/IDictionarySource.h
  src/Dictionaries/IPAddressDictionary.cpp
  src/Interpreters/ExternalLoader.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/queries/0_stateless/01509_dictionary_preallocate.reference
  tests/queries/0_stateless/01509_dictionary_preallocate.sh
  tests/queries/0_stateless/01509_dictionary_preallocate.sql
  tests/queries/skip_list.json
Labels: pr-improvement

#24028 Correct mistyping
  docs/ru/engines/table-engines/integrations/s3.md
Labels: doc-alert, pr-feature

#24019 Rename uniqThetaSketch to uniqTheta
  docs/en/sql-reference/aggregate-functions/reference/uniq.md
  docs/en/sql-reference/aggregate-functions/reference/uniqcombined.md
  docs/en/sql-reference/aggregate-functions/reference/uniqexact.md
  docs/en/sql-reference/aggregate-functions/reference/uniqhll12.md
  docs/en/sql-reference/aggregate-functions/reference/uniqthetasketch.md
  src/AggregateFunctions/AggregateFunctionUniq.cpp
  src/AggregateFunctions/AggregateFunctionUniq.h
  src/Interpreters/RemoveInjectiveFunctionsVisitor.cpp
  tests/queries/0_stateless/01798_uniq_theta_sketch.reference
  tests/queries/0_stateless/01798_uniq_theta_sketch.sql
  tests/queries/0_stateless/01799_long_uniq_theta_sketch.reference
  tests/queries/0_stateless/01799_long_uniq_theta_sketch.sql
Labels: pr-other

#23793 fix session expired while executing Tables
  src/Storages/System/StorageSystemTables.cpp
Labels: can be tested, pr-improvement

#24038 Added a note that Buffer engine does not support TRUNCATE statement
  docs/en/sql-reference/statements/truncate.md
  docs/ru/sql-reference/statements/truncate.md
Labels: pr-documentation

#24022 Make `prefer_column_name_to_alias` setting more standard
  src/Interpreters/QueryNormalizer.cpp
  tests/queries/0_stateless/01764_prefer_column_name_to_alias.reference
  tests/queries/0_stateless/01764_prefer_column_name_to_alias.sql
Labels: pr-improvement

#24017 Better error codes in Keeper when no leader alive
  src/Coordination/KeeperServer.cpp
  src/Coordination/KeeperStorageDispatcher.cpp
  tests/clickhouse-test
Labels: jepsen-test, pr-not-for-changelog

#23980 Add missing table schema for postgres dictionary
  src/Dictionaries/PostgreSQLDictionarySource.cpp
  src/Dictionaries/PostgreSQLDictionarySource.h
  tests/integration/test_dictionaries_postgresql/test.py
Labels: pr-improvement, pr-must-backport

#24016 support for order by fill with DateTime64
  src/Processors/Transforms/FillingTransform.cpp
  tests/queries/0_stateless/01868_order_by_fill_with_datetime64.reference
  tests/queries/0_stateless/01868_order_by_fill_with_datetime64.sql
Labels: can be tested, pr-improvement

#24043 Performance tests disable compile expressions
  docker/test/performance-comparison/config/users.d/perf-comparison-tweaks-users.xml
Labels: pr-not-for-changelog

#24048 for trivial INSERT SELECT, adjust block size in bytes as well
  src/Interpreters/InterpreterInsertQuery.cpp
Labels: pr-not-for-changelog

#24065 bash-completion: complete available formats
  programs/bash-completion/completions/clickhouse-bootstrap
Labels: pr-not-for-changelog

#24064 Generate ya.make for missing UUID.cpp
  src/Core/ya.make
Labels: pr-not-for-changelog

#24051 Enable thread_local in Arcadia build
  src/Common/ThreadProfileEvents.cpp
  src/Common/ThreadProfileEvents.h
  src/Common/ya.make
Labels: can be tested, pr-not-for-changelog

#24066 Do not acquire lock for total_bytes/total_rows for Buffer engine
  src/Storages/IStorage.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageBuffer.h
Labels: pr-improvement

#23196 Progress bar for local server
  programs/client/Client.cpp
  programs/local/LocalServer.cpp
  programs/local/LocalServer.h
  src/Common/ProgressBar.cpp
  src/Common/ProgressBar.h
  src/Common/ya.make
Labels: can be tested, doc-alert, pr-feature

#24037 Run check_*_compiler_flag earlier
  CMakeLists.txt
  cmake/check_flags.cmake
  src/Functions/GatherUtils/CMakeLists.txt
  src/Parsers/New/CMakeLists.txt
Labels: pr-not-for-changelog

#23847 DOCSUP-8778: cache dictionaries (3)
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-lifetime.md
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-structure.md
  docs/en/sql-reference/functions/ext-dict-functions.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-lifetime.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-structure.md
  docs/ru/sql-reference/functions/ext-dict-functions.md
Labels: pr-documentation

#23863 Reduce the amount of logs that StorageMergeTree::selectPartsToMutate outputs in busy systems.
  src/Storages/StorageMergeTree.cpp
Labels: can be tested, pr-not-for-changelog

#23844 Better handling of HTTP errors in `PocoHTTPClient`
  src/IO/S3/PocoHTTPClient.cpp
  tests/integration/test_merge_tree_s3_failover/s3_endpoint/endpoint.py
  tests/integration/test_storage_s3/s3_mocks/mock_s3.py
  tests/integration/test_storage_s3/test.py
Labels: altinity, pr-bugfix

#24088 Also retry database creation in `clickhouse-test`
  tests/clickhouse-test
Labels: pr-not-for-changelog

#24109 Doc. better background_pool_size russian description
  docs/ru/operations/settings/settings.md
Labels: doc-alert, pr-documentation

#23940 DOCSUP-7668: Update the SQL-statement CREATE/ALTER USER
  docs/en/sql-reference/statements/alter/user.md
  docs/en/sql-reference/statements/create/user.md
  docs/ru/sql-reference/statements/alter/user.md
  docs/ru/sql-reference/statements/create/user.md
Labels: pr-documentation

#24111 Added hash table benchmarks
  src/Common/examples/CMakeLists.txt
  src/Common/examples/integer_hash_tables_and_hashes.cpp
  src/Common/examples/integer_hash_tables_benchmark.cpp
Labels: pr-build

#24091 Fixed now64(): added second optional argument for timezone.
  src/Functions/extractTimeZoneFromFunctionArguments.cpp
  src/Functions/now64.cpp
  tests/queries/0_stateless/00921_datetime64_basic.reference
  tests/queries/0_stateless/00921_datetime64_basic.sql
Labels: pr-bugfix

#24077 add function splitByRegexp
  docs/en/sql-reference/functions/splitting-merging-functions.md
  src/Functions/FunctionsStringArray.cpp
  src/Functions/FunctionsStringArray.h
  tests/queries/0_stateless/01866_split_by_regexp.reference
  tests/queries/0_stateless/01866_split_by_regexp.sql
Labels: can be tested, doc-alert, pr-feature

#24068 Preserve dictionaries until storage shutdown
  programs/server/Server.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
Labels: pr-improvement

#24108 Calculate header from ActionsDAG
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Processors/QueryPlan/ExpressionStep.cpp
  src/Processors/QueryPlan/ExpressionStep.h
  src/Processors/QueryPlan/FilterStep.cpp
  src/Processors/QueryPlan/TotalsHavingStep.cpp
  src/Processors/Transforms/ExpressionTransform.cpp
  src/Processors/Transforms/ExpressionTransform.h
  src/Processors/Transforms/FilterTransform.cpp
  src/Processors/Transforms/FilterTransform.h
  src/Processors/Transforms/TotalsHavingTransform.cpp
  src/Processors/Transforms/TotalsHavingTransform.h
Labels: pr-not-for-changelog

#24101 DOCSUP-9288: Edit and translate to Russian
  docs/en/getting-started/install.md
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  docs/ru/getting-started/install.md
  docs/ru/operations/system-tables/dictionaries.md
  docs/ru/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
Labels: pr-documentation

#24058 lower two-level aggregation threshold for uniq test to avoid jitter
  src/Core/Settings.h
  tests/performance/uniq.xml
  tests/queries/0_stateless/00106_totals_after_having.sql
  tests/queries/0_stateless/00107_totals_after_having.sql
Labels: pr-not-for-changelog

#23857 Different loglevels for different logging channels
  base/loggers/Loggers.cpp
  base/loggers/OwnFormattingChannel.h
Labels: pr-improvement

#23626 DOCSUP-8776: Docs for clickhouse-format
  docs/en/operations/utilities/clickhouse-format.md
  docs/en/operations/utilities/index.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/utilities/clickhouse-compressor.md
  docs/ru/operations/utilities/clickhouse-format.md
  docs/ru/operations/utilities/index.md
  docs/ru/operations/utilities/odbc-bridge.md
Labels: pr-documentation

#24005 DOCSUP-8940: Edit and translate to Russian (deltaSumTimestamp)
  docs/en/engines/table-engines/integrations/s3.md
  docs/en/sql-reference/aggregate-functions/reference/deltasum.md
  docs/en/sql-reference/aggregate-functions/reference/deltasumtimestamp.md
  docs/ru/engines/table-engines/integrations/s3.md
  docs/ru/sql-reference/aggregate-functions/reference/deltasum.md
  docs/ru/sql-reference/aggregate-functions/reference/deltasumtimestamp.md
Labels: pr-documentation

#21770 Arrow array
  src/Columns/IColumn.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  tests/queries/0_stateless/00900_long_parquet.reference
  tests/queries/0_stateless/00900_long_parquet.sh
  tests/queries/0_stateless/00900_long_parquet_decimal.reference
  tests/queries/0_stateless/00900_long_parquet_decimal.sh
  tests/queries/0_stateless/00900_long_parquet_load.reference
  tests/queries/0_stateless/00900_long_parquet_load.sh
  tests/queries/0_stateless/00900_orc_arrays_load.reference
  tests/queries/0_stateless/00900_orc_arrays_load.sh
  tests/queries/0_stateless/00900_orc_nested_arrays_load.reference
  tests/queries/0_stateless/00900_orc_nested_arrays_load.sh
  tests/queries/0_stateless/00900_orc_nullable_arrays_load.reference
  tests/queries/0_stateless/00900_orc_nullable_arrays_load.sh
  tests/queries/0_stateless/01273_arrow_arrays_load.reference
  tests/queries/0_stateless/01273_arrow_arrays_load.sh
  tests/queries/0_stateless/01273_arrow_nested_arrays_load.reference
  tests/queries/0_stateless/01273_arrow_nested_arrays_load.sh
  tests/queries/0_stateless/01273_arrow_nullable_arrays_load.reference
  tests/queries/0_stateless/01273_arrow_nullable_arrays_load.sh
  tests/queries/0_stateless/data_parquet/alltypes_list.parquet
  tests/queries/0_stateless/data_parquet/alltypes_list.parquet.columns
  tests/queries/0_stateless/data_parquet/array_float.parquet
  tests/queries/0_stateless/data_parquet/array_float.parquet.columns
  tests/queries/0_stateless/data_parquet/array_int.parquet
  tests/queries/0_stateless/data_parquet/array_int.parquet.columns
  tests/queries/0_stateless/data_parquet/array_string.parquet
  tests/queries/0_stateless/data_parquet/array_string.parquet.columns
  tests/queries/0_stateless/data_parquet/list_columns.parquet.columns
  tests/queries/0_stateless/data_parquet/nested_lists.parquet
  tests/queries/0_stateless/data_parquet/nested_lists.parquet.columns
  tests/queries/0_stateless/data_parquet/nested_lists.snappy.parquet.columns
  tests/queries/0_stateless/data_parquet/nullable_list.parquet
  tests/queries/0_stateless/data_parquet/nullable_list.parquet.columns
  tests/queries/0_stateless/test_6pbz8e/nested_arrays.orc
  tests/queries/0_stateless/test_6pbz8e/nullable_arrays.orc
Labels: can be tested, pr-improvement

#23651 DOCSUP-8209: Document the dictGetOrNull function
  docs/en/sql-reference/functions/ext-dict-functions.md
  docs/ru/sql-reference/functions/ext-dict-functions.md
Labels: pr-documentation

#24133 Fix arcadia
  tests/queries/0_stateless/arcadia_skip_list.txt
Labels: pr-not-for-changelog

#24116 Fix bug for explain pipeline
  src/Processors/Pipe.cpp
  tests/queries/0_stateless/01861_explain_pipeline.reference
  tests/queries/0_stateless/01861_explain_pipeline.sql
Labels: pr-bugfix

#24139 TestReadAfterAIO: Use the current path instead of /tmp for temporal files
  src/IO/tests/gtest_aio_seek_back_after_eof.cpp
Labels: can be tested, pr-not-for-changelog

#23412 Fix kafka storage does not work with parquet format messages
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  tests/integration/test_storage_kafka/test.py
Labels: can be tested, pr-bugfix

#24150 Fix a few trailing whitespaces in output
  programs/client/Client.cpp
  src/Processors/Formats/Impl/MarkdownRowOutputFormat.cpp
  tests/queries/0_stateless/01231_markdown_format.reference
Labels: pr-not-for-changelog

#24062 Fix empty key projection query analysis
  src/Interpreters/Aggregator.cpp
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01710_projections.reference
  tests/queries/0_stateless/01710_projections.sql
Labels: pr-not-for-changelog

#24161 Fix typo in adding_test_queries.md
  docs/en/development/adding_test_queries.md
Labels: pr-not-for-changelog

#24160 Fix typo in decimal.md
  docs/en/sql-reference/data-types/decimal.md
Labels: doc-alert, pr-documentation

#24122 Set readonly mode if restarting thread failed to activate replica
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.h
  tests/integration/helpers/test_tools.py
  tests/integration/test_polymorphic_parts/test.py
  tests/integration/test_ttl_replicated/test.py
  tests/integration/test_version_update_after_mutation/test.py
Labels: pr-bugfix

#24169 fix tiny code style
  src/Interpreters/NormalizeSelectWithUnionQueryVisitor.cpp
Labels: pr-not-for-changelog

#24106 DOCSUP-8026: Document the settings for customizing timeouts
  docs/en/operations/settings/merge-tree-settings.md
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/merge-tree-settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#24168 Fix distributed processing when using projection
  src/Interpreters/Aggregator.h
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01710_projections_in_distributed_query.reference
  tests/queries/0_stateless/01710_projections_in_distributed_query.sql
Labels: pr-not-for-changelog

#23997 Try fix intersecting parts
  src/Storages/MergeTree/ActiveDataPartSet.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreePartInfo.cpp
  src/Storages/MergeTree/MergeTreePartInfo.h
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/01154_move_partition_long.reference
  tests/queries/0_stateless/01154_move_partition_long.sh
  tests/queries/skip_list.json
Labels: force tests, pr-bugfix

#23887 RabbitMQ: allow user to define specific queue settings, its own exchange, user-managed queues; add cleanup on drop table
  src/Storages/RabbitMQ/RabbitMQHandler.cpp
  src/Storages/RabbitMQ/RabbitMQHandler.h
  src/Storages/RabbitMQ/RabbitMQSettings.h
  src/Storages/RabbitMQ/ReadBufferFromRabbitMQConsumer.h
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.h
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-improvement

#23878 DOCSUP-8181: Edit and translate to Russian
  docs/en/sql-reference/aggregate-functions/parametric-functions.md
  docs/en/sql-reference/functions/ip-address-functions.md
  docs/en/sql-reference/functions/type-conversion-functions.md
  docs/ru/sql-reference/aggregate-functions/parametric-functions.md
  docs/ru/sql-reference/functions/ip-address-functions.md
  docs/ru/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation

#23992 enable DateTime64 to be version column
  src/DataTypes/DataTypeDateTime64.h
  src/DataTypes/IDataType.h
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/01867_support_datetime64_version_column.reference
  tests/queries/0_stateless/01867_support_datetime64_version_column.sql
Labels: can be tested, doc-alert, pr-improvement

#24176 Fix race condition in ContextAccess
  src/Access/ContextAccess.cpp
Labels: pr-bugfix

#24200 Update slack link
  README.md
  docs/tools/README.md
  website/templates/index/community.html
Labels: pr-not-for-changelog

#24182 Updated LRUHashMap benchmarks
  src/Common/HashTable/LRUHashMap.h
  src/Common/examples/CMakeLists.txt
  src/Common/examples/lru_hash_map_perf.cpp
Labels: pr-not-for-changelog

#24210 Small code simplification
  src/Interpreters/InterpreterInsertQuery.cpp
Labels: pr-not-for-changelog

#24177 fix reinterpretAsFixedString for UUID
  src/DataTypes/DataTypeUUID.h
  tests/queries/0_stateless/01869_reinterpret_as_fixed_string_uuid.reference
  tests/queries/0_stateless/01869_reinterpret_as_fixed_string_uuid.sql
Labels: pr-not-for-changelog

#24067 Flush Buffer tables before shutting down tables (within one database)
  src/Databases/DatabaseLazy.cpp
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabasesCommon.cpp
  src/Databases/MySQL/DatabaseConnectionMySQL.cpp
  src/Interpreters/InterpreterDropQuery.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/SystemLog.h
  src/Storages/IStorage.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageBuffer.h
  src/Storages/StorageProxy.h
  src/Storages/StorageTableFunction.h
  src/Storages/tests/gtest_storage_log.cpp
  tests/queries/0_stateless/01870_buffer_flush.reference
  tests/queries/0_stateless/01870_buffer_flush.sql
  tests/queries/skip_list.json
Labels: pr-improvement, pr-must-backport

#24191 Fix abnormal termination when hdfs is unreachable
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/HDFS/WriteBufferFromHDFS.cpp
  src/Storages/HDFS/WriteBufferFromHDFS.h
Labels: pr-bugfix

#24193 Fix wrong typo at StorageMemory
  src/Storages/StorageMemory.cpp
  tests/queries/0_stateless/01497_mutation_support_for_storage_memory.reference
  tests/queries/0_stateless/01497_mutation_support_for_storage_memory.sql
Labels: can be tested, pr-bugfix

#24223 Fix official website documents error about grant-drop section
  docs/en/sql-reference/statements/grant.md
Labels: can be tested

#24222 Update data_type_families.md
  docs/zh/operations/system-tables/data_type_families.md
Labels: can be tested, doc-alert, pr-documentation

#24221 Update index.md
  docs/zh/operations/system-tables/index.md
Labels: can be tested, doc-alert, pr-documentation

#24220 Update odbc.md
  docs/zh/engines/table-engines/integrations/odbc.md
Labels: can be tested, doc-alert, pr-documentation

#24219 Update create.md
  docs/zh/sql-reference/statements/create.md
Labels: can be tested, pr-documentation

#24124 Add thread_name in system.stack_trace
  src/Storages/System/StorageSystemStackTrace.cpp
Labels: can be tested, doc-alert, pr-feature

#24248 remove useless code
  src/Storages/MergeTree/IMergeTreeDataPart.h
Labels: pr-not-for-changelog

#24183 Fix bug for update nested columns with const condition
  src/Functions/validateNestedArraySizes.cpp
  tests/queries/0_stateless/01788_update_nested_type_subcolumn_check.reference
  tests/queries/0_stateless/01788_update_nested_type_subcolumn_check.sql
Labels: pr-bugfix

#24208 Addition to #23997
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#24265 Fix broken HTML markup on website
  docs/tools/website.py
  website/css/blog.css
  website/js/embedd.min.js
  website/templates/blog/content.html
Labels: pr-not-for-changelog

#22228 LDAP: user DN detection functionality for role mapping with Active Directory
  docs/en/operations/external-authenticators/ldap.md
  programs/server/config.xml
  src/Access/ExternalAuthenticators.cpp
  src/Access/ExternalAuthenticators.h
  src/Access/LDAPAccessStorage.cpp
  src/Access/LDAPAccessStorage.h
  src/Access/LDAPClient.cpp
  src/Access/LDAPClient.h
  tests/testflows/ldap/role_mapping/tests/user_dn_detection.py
  tests/testflows/regression.py
Labels: altinity, doc-alert, pr-feature

#24203 Simplier isLocalAddress
  src/Common/isLocalAddress.cpp
  src/Common/tests/gtest_local_address.cpp
  src/Compression/tests/gtest_compressionCodec.cpp
Labels: pr-not-for-changelog

#24205 Increase timeout for server restart in integration tests.
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog

#24282 Fix arcadia
  src/Common/ya.make
  src/Common/ya.make.in
Labels: pr-not-for-changelog

#24249 One more attempt to fix retries in clickhouse-test
  tests/clickhouse-test
Labels: pr-not-for-changelog

#24266 Update backup.md
  docs/zh/operations/backup.md
Labels: can be tested, doc-alert, pr-documentation

#23906 distributed_group_by_no_merge fixes
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageDistributed.cpp
  tests/queries/0_stateless/00184_shard_distributed_group_by_no_merge.reference
  tests/queries/0_stateless/00184_shard_distributed_group_by_no_merge.sql
  tests/queries/0_stateless/01244_optimize_distributed_group_by_sharding_key.reference
  tests/queries/0_stateless/01244_optimize_distributed_group_by_sharding_key.sql
  tests/queries/0_stateless/01568_window_functions_distributed.reference
  tests/queries/0_stateless/01568_window_functions_distributed.sql
Labels: pr-bugfix

#24162 Fix add projection to replicated mergetree
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/01710_projection_fetch.reference
  tests/queries/0_stateless/01710_projection_fetch.sql
Labels: pr-not-for-changelog

#24284 Fixed Arcadia after IFunctionOverloadResolver interface refactoring
  src/Functions/IFunction.cpp
  src/Functions/IFunction.h
Labels: force tests, pr-not-for-changelog

#24308 Fix isLocalAddress() (ifa_addr maybe NULL)
  src/Common/isLocalAddress.cpp
Labels: force tests, pr-not-for-changelog

#24297 Update interval.md
  docs/zh/sql-reference/data-types/special-data-types/interval.md
Labels: doc-alert, pr-feature

#24313 Fix bad test for Enum hints
  src/Common/NamePrompter.h
  src/DataTypes/EnumValues.cpp
  tests/queries/0_stateless/01852_hints_enum_name.sh
Labels: pr-not-for-changelog

#24275 Fix mutation fail of StorageMemory
  src/Storages/StorageMemory.cpp
  tests/queries/0_stateless/01867_fix_storage_memory_mutation.reference
  tests/queries/0_stateless/01867_fix_storage_memory_mutation.sql
Labels: pr-bugfix

#24252 Try to fix GROUP BY _shard_num in a different way
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  tests/queries/0_stateless/01860_Distributed__shard_num_GROUP_BY.reference
  tests/queries/0_stateless/01860_Distributed__shard_num_GROUP_BY.sql
Labels: pr-not-for-changelog

#24296 Skip data finalization when doing projection materialization.
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
Labels: pr-not-for-changelog

#24273 ExpressionActions compile only necessary places
  src/Core/Settings.h
  src/DataStreams/AddingDefaultBlockOutputStream.cpp
  src/DataStreams/AddingDefaultsBlockInputStream.cpp
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/ExpressionActions.cpp
  src/Interpreters/ExpressionActions.h
  src/Interpreters/ExpressionActionsSettings.cpp
  src/Interpreters/ExpressionActionsSettings.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/MySQL/InterpretersMySQLDDLQuery.cpp
  src/Processors/QueryPlan/ArrayJoinStep.cpp
  src/Processors/QueryPlan/BuildQueryPipelineSettings.cpp
  src/Processors/QueryPlan/ExpressionStep.cpp
  src/Processors/QueryPlan/FilterStep.cpp
  src/Processors/QueryPlan/TotalsHavingStep.cpp
  src/Storages/ConstraintsDescription.cpp
  src/Storages/StorageMerge.cpp
  src/Storages/StorageTableFunction.h
  src/Storages/VirtualColumnUtils.cpp
Labels: force tests, pr-not-for-changelog

#24023 CompileExpressions comparison function constant case fix
  src/Functions/FunctionsComparison.h
  src/Interpreters/ExpressionJIT.cpp
  tests/performance/column_column_comparison.xml
  tests/queries/0_stateless/00911_tautological_compare.reference
  tests/queries/0_stateless/00911_tautological_compare.sql
  tests/queries/0_stateless/01855_jit_comparison_constant_result.reference
  tests/queries/0_stateless/01855_jit_comparison_constant_result.sql
Labels: pr-not-for-changelog

#24323 Compile expressions added partition by test
  docker/test/fasttest/run.sh
  src/Core/Settings.h
  tests/queries/0_stateless/01871_merge_tree_compile_expressions.reference
  tests/queries/0_stateless/01871_merge_tree_compile_expressions.sql
Labels: pr-not-for-changelog

#24271 Use memmove in PODArray::insert to handle memory overlapping.
  src/Common/PODArray.h
Labels: can be tested, pr-bugfix

#24333 PODArray insert in the middle tests
  src/Common/tests/gtest_pod_array.cpp
Labels: pr-not-for-changelog

#24338 remove retries from fast test
  docker/test/fasttest/run.sh
Labels: pr-not-for-changelog

#24309 Fix rename MaterializedView
  src/Storages/StorageMaterializedView.cpp
  tests/queries/0_stateless/01155_rename_move_materialized_view.reference
  tests/queries/0_stateless/01155_rename_move_materialized_view.sql
  tests/queries/skip_list.json
Labels: pr-bugfix

#24342 LLVM JIT support AARCH64
  src/Interpreters/examples/jit_example.cpp
  utils/CMakeLists.txt
Labels: doc-alert, force tests, pr-feature

#24098 Changelog 21.5
  CHANGELOG.md
Labels: pr-not-for-changelog

#24285 Allow empty HTTP headers
  src/Common/StringUtils/StringUtils.h
  src/Server/HTTP/ReadHeaders.cpp
  tests/queries/0_stateless/01399_http_request_headers.reference
  tests/queries/0_stateless/01399_http_request_headers.sh
Labels: pr-bugfix

#24151 Change FROM clause formatting (make it more human friendly)
  src/Parsers/ASTSelectQuery.cpp
  src/Parsers/ASTSelectWithUnionQuery.cpp
  src/Parsers/ASTSubquery.cpp
  src/Parsers/ASTTablesInSelectQuery.cpp
  src/Parsers/ASTWithElement.cpp
  tests/queries/0_stateless/00077_set_keys_fit_128_bits_many_blocks.sql
  tests/queries/0_stateless/00316_rounding_functions_and_empty_block.sql
  tests/queries/0_stateless/00534_functions_bad_arguments4_long.reference
  tests/queries/0_stateless/00534_functions_bad_arguments4_long.sh
  tests/queries/0_stateless/00585_union_all_subquery_aggregation_column_removal.sql
  tests/queries/0_stateless/00597_push_down_predicate_long.reference
  tests/queries/0_stateless/00597_push_down_predicate_long.sql
  tests/queries/0_stateless/00599_create_view_with_subquery.reference
  tests/queries/0_stateless/00618_nullable_in.sql
  tests/queries/0_stateless/00743_limit_by_not_found_column.sql
  tests/queries/0_stateless/00751_default_databasename_for_view.reference
  tests/queries/0_stateless/00808_not_optimize_predicate.reference
  tests/queries/0_stateless/00849_multiple_comma_join_2.reference
  tests/queries/0_stateless/00957_format_with_clashed_aliases.reference
  tests/queries/0_stateless/01029_early_constant_folding.reference
  tests/queries/0_stateless/01054_cache_dictionary_overflow_cell.sql
  tests/queries/0_stateless/01056_predicate_optimizer_bugs.reference
  tests/queries/0_stateless/01067_join_null.sql
  tests/queries/0_stateless/01076_predicate_optimizer_with_view.reference
  tests/queries/0_stateless/01083_expressions_in_engine_arguments.reference
  tests/queries/0_stateless/01245_limit_infinite_sources.sql
  tests/queries/0_stateless/01271_optimize_arithmetic_operations_in_aggr_func_long.reference
  tests/queries/0_stateless/01271_optimize_arithmetic_operations_in_aggr_func_long.sql
  tests/queries/0_stateless/01305_duplicate_order_by_and_distinct.reference
  tests/queries/0_stateless/01321_aggregate_functions_of_group_by_keys.reference
  tests/queries/0_stateless/01323_redundant_functions_in_order_by.reference
  tests/queries/0_stateless/01372_wrong_order_by_removal.reference
  tests/queries/0_stateless/01390_remove_injective_in_uniq.reference
  tests/queries/0_stateless/01412_row_from_totals.sql
  tests/queries/0_stateless/01414_push_predicate_when_contains_with_clause.reference
  tests/queries/0_stateless/01455_duplicate_distinct_optimization.reference
  tests/queries/0_stateless/01495_subqueries_in_with_statement_4.reference
  tests/queries/0_stateless/01515_with_global_and_with_propagation.reference
  tests/queries/0_stateless/01532_having_with_totals.sql
  tests/queries/0_stateless/01532_min_max_with_modifiers.sql
  tests/queries/0_stateless/01559_aggregate_null_for_empty_fix.sql
  tests/queries/0_stateless/01560_DateTime_and_DateTime64_comparision.sql
  tests/queries/0_stateless/01560_monotonicity_check_multiple_args_bug.sql
  tests/queries/0_stateless/01582_deterministic_function_with_predicate.reference
  tests/queries/0_stateless/01593_functions_in_order_by.reference
  tests/queries/0_stateless/01593_functions_in_order_by.sql
  tests/queries/0_stateless/01635_nullable_fuzz.sql
  tests/queries/0_stateless/01636_nullable_fuzz2.sql
  tests/queries/0_stateless/01650_expressions_merge_bug.sql
  tests/queries/0_stateless/01670_neighbor_lc_bug.sql
  tests/queries/0_stateless/01732_explain_syntax_union_query.reference
  tests/queries/0_stateless/01732_explain_syntax_union_query.sql
  tests/queries/0_stateless/01754_clickhouse_format_backslash.reference
  tests/queries/0_stateless/01798_uniq_theta_sketch.reference
  tests/queries/0_stateless/01874_select_from_trailing_whitespaces.reference
  tests/queries/0_stateless/01874_select_from_trailing_whitespaces.sh
  tests/queries/1_stateful/00031_array_enumerate_uniq.sql
  tests/queries/1_stateful/00063_loyalty_joins.sql
Labels: pr-improvement

#24290 consolidate connection loss handling in fuzzer
  programs/client/Client.cpp
Labels: force tests, pr-not-for-changelog
