Repository ClickHouse/ClickHouse, pull requests merged in 2021-08, with the labels that each got.

#27040 Moving to TestFlows 1.7.20 that has native support for parallel tests.
  docker/test/testflows/runner/Dockerfile
  tests/testflows/aes_encryption/regression.py
  tests/testflows/datetime64_extended_range/regression.py
  tests/testflows/datetime64_extended_range/tests/common.py
  tests/testflows/datetime64_extended_range/tests/date_time_functions.py
  tests/testflows/datetime64_extended_range/tests/generic.py
  tests/testflows/datetime64_extended_range/tests/reference_times.py
  tests/testflows/example/regression.py
  tests/testflows/extended_precision_data_types/regression.py
  tests/testflows/helpers/argparser.py
  tests/testflows/helpers/cluster.py
  tests/testflows/helpers/common.py
  tests/testflows/kerberos/regression.py
  tests/testflows/kerberos/tests/parallel.py
  tests/testflows/map_type/regression.py
  tests/testflows/regression.py
  tests/testflows/window_functions/regression.py
Labels: pr-not-for-changelog

#27065 Fix synchronization while updating from the config of an encrypted disk.
  src/Disks/DiskEncrypted.cpp
  src/Disks/DiskEncrypted.h
Labels: pr-not-for-changelog

#26978 01674_executable_dictionary_implicit_key: executable_dictionary: Use printf
  tests/config/executable_dictionary.xml
Labels: force tests, pr-not-for-changelog

#27020 Shard-level const column
  src/Client/Connection.cpp
  src/Core/Defines.h
  src/Functions/buildId.cpp
  src/Functions/getScalar.cpp
  src/Functions/hostName.cpp
  src/Functions/tcpPort.cpp
  src/Functions/timezone.cpp
  src/Functions/uptime.cpp
  src/Functions/version.cpp
  src/Interpreters/ClusterProxy/IStreamFactory.h
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Interpreters/ClusterProxy/SelectStreamFactory.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/IInterpreterUnionOrSelectQuery.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/SelectQueryOptions.h
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/QueryPlan/ReadFromRemote.h
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/integration/test_shard_level_const_function/__init__.py
  tests/integration/test_shard_level_const_function/configs/remote_servers.xml
  tests/integration/test_shard_level_const_function/test.py
  tests/queries/0_stateless/01860_Distributed__shard_num_GROUP_BY.sql
  tests/queries/0_stateless/02001_shard_num_shard_count.reference
  tests/queries/0_stateless/02001_shard_num_shard_count.sql
Labels: pr-improvement

#27032 Cache dictionaries configuration parse fix
  src/Dictionaries/registerCacheDictionaries.cpp
Labels: pr-bugfix

#26675 Handle KILL requests while running pipeline executors
  src/Interpreters/ProcessList.cpp
  src/Interpreters/ProcessList.h
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/PipelineExecutor.h
  tests/queries/0_stateless/01950_kill_large_group_by_query.reference
  tests/queries/0_stateless/01950_kill_large_group_by_query.sh
Labels: can be tested, pr-improvement

#27084 Improve documentation for NLP functions
  docs/en/sql-reference/functions/nlp-functions.md
  docs/ru/sql-reference/functions/nlp-functions.md
Labels: can be tested, pr-documentation

#27092 Stateless tests: Keep an DNS error free log
  tests/queries/0_stateless/00965_shard_unresolvable_addresses.sql
  tests/queries/0_stateless/01083_expressions_in_engine_arguments.sql
  tests/queries/0_stateless/01372_remote_table_function_empty_table.sql
Labels: pr-not-for-changelog

#27033 Fix assertions in Replicated database
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicatedWorker.cpp
  src/Interpreters/ClientInfo.h
  src/Interpreters/DDLTask.cpp
  src/Interpreters/DDLTask.h
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterDropQuery.cpp
  src/Interpreters/InterpreterRenameQuery.cpp
  src/Storages/AlterCommands.cpp
  src/Storages/AlterCommands.h
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/00980_zookeeper_merge_tree_alter_settings.reference
  tests/queries/0_stateless/00980_zookeeper_merge_tree_alter_settings.sql
  tests/queries/0_stateless/01149_zookeeper_mutation_stuck_after_replace_partition.sql
  tests/queries/0_stateless/01175_distributed_ddl_output_mode_long.sh
  tests/queries/0_stateless/01294_system_distributed_on_cluster.sql
  tests/queries/0_stateless/01415_sticking_mutations.sh
  tests/queries/skip_list.json
Labels: pr-not-for-changelog

#27082 Updated cache dictionaries documentation
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
Labels: pr-documentation

#22045 Support SSL connection in MongoDB engine
  docker/test/integration/runner/compose/docker_compose_mongo_secure.yml
  docs/en/engines/table-engines/integrations/mongodb.md
  src/Storages/StorageMongoDB.cpp
  src/Storages/StorageMongoDB.h
  src/Storages/StorageMongoDBSocketFactory.cpp
  src/Storages/StorageMongoDBSocketFactory.h
  tests/integration/helpers/cluster.py
  tests/integration/helpers/mongo_cert.pem
  tests/integration/helpers/mongo_secure.conf
  tests/integration/test_storage_mongodb/configs_secure/config.d/ssl_conf.xml
  tests/integration/test_storage_mongodb/test.py
Labels: can be tested, doc-alert, pr-feature

#19526 Enable local disk config reload
  src/Disks/DiskLocal.cpp
  src/Disks/DiskLocal.h
  src/Disks/DiskSelector.h
  src/Disks/IDisk.h
  tests/integration/test_reloading_storage_configuration/test.py
Labels: can be tested, pr-improvement

#27054 add column default_database to system.users
  docs/en/operations/settings/settings-users.md
  docs/en/sql-reference/statements/create/user.md
  src/Storages/System/StorageSystemUsers.cpp
  tests/queries/0_stateless/02001_add_default_database_to_system_users.reference
  tests/queries/0_stateless/02001_add_default_database_to_system_users.sql
  tests/queries/skip_list.json
Labels: can be tested, doc-alert, pr-feature

#26792 DOCSUP-9735: clarification about WITH FILL
  docs/en/sql-reference/statements/select/order-by.md
  docs/ru/sql-reference/statements/select/order-by.md
Labels: pr-documentation

#27064 Fix synchronization in GRPCServer
  src/Server/GRPCServer.cpp
Labels: pr-bugfix

#26957 Do not throw exception if unknown column met while join rewriting
  src/Interpreters/JoinToSubqueryTransformVisitor.cpp
  tests/queries/0_stateless/00820_multiple_joins.reference
  tests/queries/0_stateless/00820_multiple_joins.sql
Labels: pr-bugfix, pr-no-backport

#27093 Normalize hostname in stateless tests
  tests/clickhouse-test
  tests/queries/0_stateless/02001_hostname_test.reference
  tests/queries/0_stateless/02001_hostname_test.sql
Labels: pr-not-for-changelog

#27131 GlobalSubqueriesVisitor external storage check fix
  src/Interpreters/GlobalSubqueriesVisitor.h
  tests/queries/0_stateless/02002_global_subqueries_subquery_or_table_name.reference
  tests/queries/0_stateless/02002_global_subqueries_subquery_or_table_name.sql
Labels: pr-not-for-changelog

#27078 Add alwaysReturnsEmptySet for Merge Join
  src/Interpreters/IJoin.h
  src/Interpreters/MergeJoin.h
  tests/queries/0_stateless/01015_empty_in_inner_right_join.reference
  tests/queries/0_stateless/01015_empty_in_inner_right_join.sql.j2
Labels: pr-improvement

#27154 Add session_id for DBeaver to documentation
  docs/en/interfaces/third-party/gui.md
Labels: can be tested, pr-documentation

#27164 Fix CURR_DATABASE empty for 01034_move_partition_from_table_zookeeper.sh
  tests/queries/0_stateless/01034_move_partition_from_table_zookeeper.sh
Labels: can be tested, pr-not-for-changelog

#27172 Update table-engines documentation.
  docs/ru/engines/table-engines/index.md
Labels: can be tested, pr-documentation

#27173 Update gui.md
  docs/ru/interfaces/third-party/gui.md
Labels: pr-documentation

#27168 Safer `ReadBufferFromS3` for merges and backports
  src/Disks/S3/DiskS3.cpp
  src/IO/ReadBufferFromS3.h
  src/Storages/StorageS3.cpp
Labels: altinity, pr-not-for-changelog

#27060 library bridge fixes
  programs/library-bridge/HandlerFactory.cpp
  programs/library-bridge/Handlers.cpp
  programs/library-bridge/Handlers.h
  programs/library-bridge/SharedLibraryHandlerFactory.cpp
  programs/library-bridge/SharedLibraryHandlerFactory.h
  src/Bridge/IBridgeHelper.cpp
  src/Bridge/IBridgeHelper.h
  src/Bridge/LibraryBridgeHelper.cpp
  src/Bridge/LibraryBridgeHelper.h
  src/Bridge/XDBCBridgeHelper.h
  src/Dictionaries/LibraryDictionarySource.cpp
  src/Dictionaries/LibraryDictionarySource.h
  tests/integration/test_library_bridge/configs/config.d/config.xml
  tests/integration/test_library_bridge/test.py
Labels: pr-must-backport, pr-not-for-changelog

#27122 Specialize date time comparision.
  src/Functions/FunctionsComparison.h
  tests/performance/datetime_comparison.xml
Labels: pr-performance

#27194 Save information about used functions/tables/... into query_log on error
  src/Interpreters/executeQuery.cpp
  src/Storages/StorageFactory.cpp
  tests/queries/0_stateless/01656_test_query_log_factories_info.reference
  tests/queries/0_stateless/01656_test_query_log_factories_info.sql
Labels: pr-not-for-changelog

#27195 Fix polling of /sys/block
  src/Interpreters/AsynchronousMetrics.cpp
  src/Interpreters/AsynchronousMetrics.h
Labels: pr-not-for-changelog

#27190 properly check the settings in perf test
  docker/test/performance-comparison/perf.py
Labels: pr-not-for-changelog

#27155 Updated readIntTextUnsafe
  src/IO/ReadHelpers.h
Labels: pr-not-for-changelog

#27177 Allow to pass query settings via server URI in Web UI
  programs/server/play.html
Labels: can be tested, pr-improvement

#27182 Try our best to log query_kind
  src/Interpreters/executeQuery.cpp
  src/Parsers/ASTAlterQuery.h
  src/Parsers/ASTCreateQuery.h
  src/Parsers/ASTDropQuery.h
  src/Parsers/ASTGrantQuery.h
  src/Parsers/ASTInsertQuery.h
  src/Parsers/ASTRenameQuery.h
  src/Parsers/ASTSelectQuery.h
  src/Parsers/ASTSelectWithUnionQuery.h
  src/Parsers/ASTSystemQuery.h
  src/Parsers/IAST.h
  tests/queries/0_stateless/01600_log_queries_with_extensive_info.reference
  tests/queries/0_stateless/01600_log_queries_with_extensive_info.sh
Labels: pr-improvement

#27180 Storage system replicas added column replica is active
  docs/en/operations/system-tables/replicas.md
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  src/Storages/System/StorageSystemReplicas.cpp
  tests/integration/test_replica_is_active/__init__.py
  tests/integration/test_replica_is_active/test.py
Labels: pr-improvement

#27184 mark window functions as ready for general use
  docs/en/sql-reference/window-functions/index.md
  src/Core/Settings.h
  src/Interpreters/ExpressionAnalyzer.cpp
  tests/performance/window_functions.xml
  tests/queries/0_stateless/01244_optimize_distributed_group_by_sharding_key.sql
  tests/queries/0_stateless/01568_window_functions_distributed.reference
  tests/queries/0_stateless/01568_window_functions_distributed.sql
  tests/queries/0_stateless/01571_window_functions.reference
  tests/queries/0_stateless/01571_window_functions.sql
  tests/queries/0_stateless/01591_window_functions.reference
  tests/queries/0_stateless/01591_window_functions.sql
  tests/queries/0_stateless/01592_long_window_functions1.sql
  tests/queries/0_stateless/01592_window_functions.sql
  tests/queries/0_stateless/01802_rank_corr_mann_whitney_over_window.sql
  tests/testflows/window_functions/tests/common.py
  tests/testflows/window_functions/tests/feature.py
Labels: pr-improvement

#27134 add compression for INTO OUTFILE
  programs/client/Client.cpp
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/02001_compress_output_file.reference
  tests/queries/0_stateless/02001_compress_output_file.sh
Labels: can be tested, pr-improvement

#27221 Update changelog/README.md
  utils/changelog/README.md
Labels: altinity, pr-not-for-changelog

#27224 ADDINCL proper fast_float directory
  src/IO/ya.make
  src/IO/ya.make.in
Labels: can be tested, pr-not-for-changelog

#27211 Split mutex into individual regexp construction.
  src/Functions/Regexps.h
Labels: pr-improvement

#25780 Manual backport of #25531 in 20.8
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  tests/queries/0_stateless/01273_arrow_decimal.reference
  tests/queries/0_stateless/01273_arrow_decimal.sh
Labels: pr-backport

#25779 Manual backport of #25531 in 21.3
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  tests/queries/0_stateless/01273_arrow_decimal.reference
  tests/queries/0_stateless/01273_arrow_decimal.sh
Labels: force tests, pr-backport, pr-not-for-changelog

#25777 Manual backport of #25531 in 21.5
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  tests/queries/0_stateless/01273_arrow_decimal.reference
  tests/queries/0_stateless/01273_arrow_decimal.sh
Labels: pr-backport

#27183 Fix part name parsing in system.detached_parts
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreePartInfo.cpp
  src/Storages/MergeTree/MergeTreePartInfo.h
  tests/integration/test_partition/test.py
Labels: pr-bugfix

#27198 Support schema for postgres database engine
  docs/en/engines/database-engines/postgresql.md
  src/Databases/DatabaseFactory.cpp
  src/Databases/PostgreSQL/DatabasePostgreSQL.cpp
  src/Databases/PostgreSQL/DatabasePostgreSQL.h
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.cpp
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.h
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.cpp
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.h
  tests/integration/test_postgresql_database_engine/test.py
Labels: pr-improvement

#27197 Fix on-disk format breakage for secondary indices over Nullable column
  src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
  tests/integration/test_backward_compatibility/test_data_skipping_indices.py
  tests/queries/0_stateless/01410_nullable_key_and_index.sql
Labels: pr-bugfix, pr-no-backport

#27219 Fix NLP performance test
  tests/performance/nlp.xml
Labels: can be tested, pr-bugfix

#27136 Better code around decompression
  src/Compression/CompressionCodecDelta.cpp
  src/Compression/CompressionCodecDoubleDelta.cpp
  src/Compression/CompressionCodecGorilla.cpp
  src/Compression/CompressionCodecLZ4.cpp
  src/Compression/LZ4_decompress_faster.cpp
  src/Compression/LZ4_decompress_faster.h
Labels: pr-not-for-changelog

#27235 Shadow lambda arguments
  src/Interpreters/QueryNormalizer.cpp
  src/Interpreters/QueryNormalizer.h
  tests/queries/0_stateless/01960_lambda_precedence.reference
  tests/queries/0_stateless/01960_lambda_precedence.sql
Labels: pr-bugfix

#25895 Improve CREATE OR REPLACE query
  src/Databases/DatabaseReplicated.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/DDLTask.cpp
  src/Interpreters/DDLTask.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterRenameQuery.cpp
  src/Interpreters/InterpreterRenameQuery.h
  src/Interpreters/executeQuery.cpp
  src/Interpreters/executeQuery.h
  src/Parsers/ASTRenameQuery.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
  tests/queries/0_stateless/01157_replace_table.reference
  tests/queries/0_stateless/01157_replace_table.sql
  tests/queries/0_stateless/01185_create_or_replace_table.reference
  tests/queries/0_stateless/01185_create_or_replace_table.sql
  tests/queries/0_stateless/01915_create_or_replace_dictionary.sql
  tests/queries/0_stateless/arcadia_skip_list.txt
  tests/queries/skip_list.json
  utils/antlr/ClickHouseParser.g4
Labels: pr-improvement

#27225 DatabaseReplicatedWorker logs_to_keep race fix
  src/Databases/DatabaseReplicatedWorker.h
Labels: pr-not-for-changelog

#27175 DOCSUP-12124: Document currentProfiles, enabledProfiles, defaultProfiles functions
  docs/en/sql-reference/functions/other-functions.md
  docs/ru/sql-reference/functions/other-functions.md
Labels: pr-documentation

#27251 Update graphitemergetree.md
  docs/ru/engines/table-engines/mergetree-family/graphitemergetree.md
Labels: can be tested, pr-documentation

#27222 more careful handling of reconnects in fuzzer
  programs/client/Client.cpp
Labels: pr-not-for-changelog

#27216 Add 10 seconds cache for S3 proxy resolver
  src/Disks/S3/ProxyConfiguration.h
  src/Disks/S3/ProxyListConfiguration.h
  src/Disks/S3/ProxyResolverConfiguration.cpp
  src/Disks/S3/ProxyResolverConfiguration.h
  src/Disks/S3/registerDiskS3.cpp
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
  tests/integration/test_s3_with_proxy/configs/config.d/storage_conf.xml
Labels: pr-improvement

#26663 Add Map type support in mapPopulateSeries function
  docs/en/sql-reference/functions/tuple-map-functions.md
  src/Functions/array/mapPopulateSeries.cpp
  tests/queries/0_stateless/01925_map_populate_series_on_map.reference
  tests/queries/0_stateless/01925_map_populate_series_on_map.sql
  tests/testflows/extended_precision_data_types/snapshots/common.py.tests.snapshot
  tests/testflows/extended_precision_data_types/tests/array_tuple_map.py
Labels: pr-improvement

#27317 Update PVS checksum
  docker/test/pvs/Dockerfile
Labels: pr-not-for-changelog, pr-must-backport

#27227 Revert #24095. User-level settings will affect queries from view.
  src/Storages/StorageView.cpp
  tests/queries/0_stateless/01866_view_persist_settings.reference
  tests/queries/0_stateless/01866_view_persist_settings.sql
Labels: pr-not-for-changelog

#27266 Fix polling of /sys/block in case of block devices reopened on error
  src/Interpreters/AsynchronousMetrics.cpp
Labels: pr-not-for-changelog

#27181 Fix uninitialized memory in functions multiSearch* with empty array
  src/Functions/MultiSearchFirstIndexImpl.h
  src/Functions/MultiSearchFirstPositionImpl.h
  src/Functions/MultiSearchImpl.h
  tests/queries/0_stateless/00233_position_function_family.reference
  tests/queries/0_stateless/00233_position_function_family.sql
Labels: pr-bugfix

#27325 Less clock_gettime calls
  src/DataStreams/ExecutionSpeedLimits.cpp
  src/DataStreams/ExecutionSpeedLimits.h
  src/DataStreams/IBlockInputStream.cpp
  src/Processors/Sources/SourceWithProgress.cpp
  src/Processors/Transforms/LimitsCheckingTransform.cpp
Labels: altinity, pr-performance

#27361 Fixing reading of /proc/meminfo when kB suffix is not present
  src/Interpreters/AsynchronousMetrics.cpp
Labels: pr-bugfix

#27301 Fix unknown column with sampling
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  tests/queries/0_stateless/02002_sampling_and_unknown_column_bug.reference
  tests/queries/0_stateless/02002_sampling_and_unknown_column_bug.sql
Labels: pr-bugfix

#27383 Fix flacky test
  tests/integration/test_library_bridge/test.py
Labels: pr-not-for-changelog

#27328 Fix partition id validation
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreePartInfo.cpp
  src/Storages/MergeTree/MergeTreePartInfo.h
  tests/queries/0_stateless/01925_broken_partition_id_zookeeper.sql
Labels: pr-bugfix

#27300 Improve 00738_lock_for_inner_table stability
  tests/queries/0_stateless/00738_lock_for_inner_table.sh
Labels: pr-not-for-changelog

#27294 Improve kafka integration test error messages
  tests/integration/runner
  tests/integration/test_storage_kafka/test.py
Labels: pr-not-for-changelog

#27324 Fix 01300_client_save_history_when_terminated_long
  tests/queries/0_stateless/01300_client_save_history_when_terminated_long.expect
Labels: pr-not-for-changelog

#27249 Fix WithMergeableStateAfterAggregationAndLimit with LIMIT BY and LIMIT OFFSET
  src/Interpreters/InterpreterSelectQuery.cpp
  tests/queries/0_stateless/01562_optimize_monotonous_functions_in_order_by.reference
  tests/queries/0_stateless/01576_alias_column_rewrite.reference
  tests/queries/0_stateless/02003_WithMergeableStateAfterAggregationAndLimit_LIMIT_BY_LIMIT_OFFSET.reference
  tests/queries/0_stateless/02003_WithMergeableStateAfterAggregationAndLimit_LIMIT_BY_LIMIT_OFFSET.sql
Labels: pr-bugfix

#27089 Fix test_merge_tree_s3_failover with debug build
  tests/integration/test_merge_tree_s3_failover/test.py
Labels: pr-not-for-changelog

#27153 Implement `legacy_column_name_of_tuple_literal` in a less intrusive way
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/evaluateConstantExpression.cpp
  src/Parsers/ASTFunction.cpp
  src/Parsers/ASTFunction.h
  src/Parsers/ASTLiteral.cpp
  src/Parsers/ASTLiteral.h
  src/Parsers/ASTWithAlias.cpp
  src/Parsers/ASTWithAlias.h
  src/Parsers/IAST.cpp
  src/Parsers/IAST.h
  tests/queries/0_stateless/02002_system_table_with_tuple.reference
  tests/queries/0_stateless/02002_system_table_with_tuple.sh
Labels: pr-not-for-changelog, v21.7-must-backport, v21.8-must-backport

#26466 Rework SELECT from Distributed optimizations
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
  tests/queries/0_stateless/00184_shard_distributed_group_by_no_merge.reference
  tests/queries/0_stateless/01244_optimize_distributed_group_by_sharding_key.reference
  tests/queries/0_stateless/01244_optimize_distributed_group_by_sharding_key.sql
  tests/queries/0_stateless/01814_distributed_push_down_limit.reference
  tests/queries/0_stateless/01814_distributed_push_down_limit.sh
  tests/queries/0_stateless/01951_distributed_push_down_limit.reference
  tests/queries/0_stateless/01951_distributed_push_down_limit.sql
  tests/queries/0_stateless/01952_optimize_distributed_group_by_sharding_key.reference
  tests/queries/0_stateless/01952_optimize_distributed_group_by_sharding_key.sql
  tests/queries/0_stateless/02001_dist_on_dist_WithMergeableStateAfterAggregation.reference
  tests/queries/0_stateless/02001_dist_on_dist_WithMergeableStateAfterAggregation.sql
Labels: pr-improvement

#26984 Remove test_keeper_server usage (for {operation/session}_timeout_ms)
  src/Server/KeeperTCPHandler.cpp
Labels: pr-not-for-changelog

#27380 Add setting to log formatted query into system.query_log
  src/Core/Settings.h
  src/Interpreters/QueryLog.cpp
  src/Interpreters/QueryLog.h
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/02005_log_formatted_queries.reference
  tests/queries/0_stateless/02005_log_formatted_queries.sql
Labels: pr-improvement

#26951 Set allow_remote_fs_zero_copy_replication to true by default
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/ReplicatedMergeTreeMergeStrategyPicker.cpp
  tests/integration/test_replicated_merge_tree_hdfs_zero_copy/configs/config.d/storage_conf.xml
  tests/integration/test_replicated_merge_tree_s3_zero_copy/configs/config.d/storage_conf.xml
  tests/integration/test_s3_zero_copy_replication/configs/config.d/s3.xml
  tests/queries/0_stateless/01700_system_zookeeper_path_in.reference
Labels: doc-alert, pr-not-for-changelog

#27424 Fix tests for WithMergeableStateAfterAggregationAndLimit
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Storages/StorageDistributed.cpp
  tests/queries/0_stateless/01951_distributed_push_down_limit.reference
  tests/queries/0_stateless/02003_WithMergeableStateAfterAggregationAndLimit_LIMIT_BY_LIMIT_OFFSET.reference
  tests/queries/0_stateless/02003_WithMergeableStateAfterAggregationAndLimit_LIMIT_BY_LIMIT_OFFSET.sql
Labels: pr-not-for-changelog

#27252 Track memory consumed by Roaring Bitmaps.
  base/common/memory.h
  contrib/croaring-cmake/CMakeLists.txt
  src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  src/CMakeLists.txt
  src/Common/CurrentMemoryTracker.cpp
  src/Common/CurrentMemoryTracker.h
  src/Common/clickhouse_malloc.cpp
  src/Common/memory.cpp
  src/Common/memory.h
  src/Common/new_delete.cpp
  src/Interpreters/Aggregator.cpp
  tests/queries/0_stateless/01961_roaring_memory_tracking.reference
  tests/queries/0_stateless/01961_roaring_memory_tracking.sql
Labels: pr-improvement, submodule changed

#27432 Add UK Property Price Paid data
  docs/en/getting-started/example-datasets/index.md
  docs/en/getting-started/example-datasets/uk-price-paid.md
Labels: pr-documentation

#27436 translate some text from english to russian in developer-instruction.md
  docs/ru/development/developer-instruction.md
Labels: can be tested, pr-documentation

#25492 Documentation: manipulating projections
  docs/en/sql-reference/statements/alter/projection.md
Labels: can be tested, pr-documentation

#27434 fix description of changing url when cloning project
  docs/ru/development/developer-instruction.md
Labels: pr-documentation

#27435 remove extra english text already translated to russian
  docs/ru/development/developer-instruction.md
Labels: pr-documentation

#27437 Add OpenSky dataset
  docs/en/getting-started/example-datasets/index.md
  docs/en/getting-started/example-datasets/opensky.md
Labels: pr-documentation

#27438 add info about clang version choice
  docs/ru/development/developer-instruction.md
Labels: can be tested, pr-documentation

#27427 Fix distributed queries with zero shards and aggregation
  src/Storages/StorageDistributed.cpp
  tests/queries/0_stateless/01759_optimize_skip_unused_shards_zero_shards.reference
  tests/queries/0_stateless/01759_optimize_skip_unused_shards_zero_shards.sql
Labels: pr-bugfix

#27104 Enable distributed_push_down_limit by default
  src/Core/Settings.h
Labels: pr-improvement

#27428 Do not miss exceptions from the ThreadPool
  src/Common/ThreadPool.cpp
Labels: pr-not-for-changelog

#27378 Add settings to check hyperscan regexp length.
  docker/test/fasttest/run.sh
  src/Core/Settings.h
  src/Functions/FunctionsMultiStringFuzzySearch.h
  src/Functions/FunctionsMultiStringSearch.h
  src/Functions/hyperscanRegexpChecker.cpp
  src/Functions/hyperscanRegexpChecker.h
  tests/queries/0_stateless/02004_max_hyperscan_regex_length.reference
  tests/queries/0_stateless/02004_max_hyperscan_regex_length.sql
Labels: pr-improvement

#26677 DOCSUP-11550: Edit and translate to Russian (MaterializePostgreSQL)
  docs/en/engines/database-engines/materialized-postgresql.md
  docs/en/engines/table-engines/integrations/materialized-postgresql.md
  docs/en/operations/settings/settings.md
  docs/ru/engines/database-engines/materialized-postgresql.md
  docs/ru/engines/table-engines/integrations/materialized-postgresql.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/statements/create/table.md
Labels: pr-documentation

#27431 Use bytes instead of strings in the GRPC protocol.
  src/Server/grpc_protos/clickhouse_grpc.proto
  tests/integration/test_grpc_protocol/test.py
  tests/integration/test_grpc_protocol_ssl/test.py
  utils/grpc-client/clickhouse-grpc-client.py
Labels: pr-improvement

#27217 Fix non joined stream structure
  src/Interpreters/HashJoin.cpp
  src/Interpreters/MergeJoin.cpp
  src/Interpreters/join_common.cpp
  src/Interpreters/join_common.h
  tests/queries/0_stateless/01049_join_low_card_bug_long.reference
  tests/queries/0_stateless/01049_join_low_card_bug_long.sql
  tests/queries/0_stateless/01049_join_low_card_bug_long.sql.j2
Labels: pr-bugfix, pr-no-backport

#26845 Compile aggregate functions without key
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  src/Interpreters/JIT/compileFunction.cpp
  src/Interpreters/JIT/compileFunction.h
  tests/performance/jit_aggregate_functions_no_key.xml
  tests/queries/1_stateful/00165_jit_aggregate_functions.reference
  tests/queries/1_stateful/00165_jit_aggregate_functions.sql
Labels: pr-not-for-changelog

#27452 fix metric BackgroundMessageBrokerSchedulePoolTask
  src/Interpreters/Context.cpp
Labels: pr-bugfix

#27057 DOCSUP-10286: Update Join Table Engine documentation
  docs/en/engines/table-engines/special/join.md
  docs/ru/engines/table-engines/special/join.md
Labels: pr-documentation

#27329 Fix #27179
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
  tests/queries/0_stateless/02002_row_level_filter_bug.reference
  tests/queries/0_stateless/02002_row_level_filter_bug.sh
  tests/queries/skip_list.json
Labels: pr-bugfix

#27303 Add and check system.projection_parts for database filter
  tests/queries/0_stateless/01710_projection_fetch_long.reference
  tests/queries/0_stateless/01710_projection_fetch_long.sql
  utils/check-style/check-style
Labels: pr-not-for-changelog

#27063 DOCSUP-9860: document refactored storage dictionary
  docs/en/engines/database-engines/atomic.md
  docs/en/engines/database-engines/index.md
  docs/en/sql-reference/statements/attach.md
  docs/en/sql-reference/statements/detach.md
  docs/en/sql-reference/statements/exchange.md
  docs/en/sql-reference/statements/rename.md
  docs/en/sql-reference/statements/set.md
  docs/ru/engines/database-engines/atomic.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/sql-reference/statements/attach.md
  docs/ru/sql-reference/statements/detach.md
  docs/ru/sql-reference/statements/exchange.md
  docs/ru/sql-reference/statements/rename.md
Labels: can be tested, pr-documentation

#26313 Control the execution period of clear old temporary directories by parameter
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
Labels: can be tested, pr-improvement

#27423 Correct the key data type used in mapContains
  src/Functions/map.cpp
Labels: can be tested, pr-not-for-changelog

#27096 DOCSUP-11656: Document the function_range_max_elements_in_block setting
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/functions/array-functions.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/functions/array-functions.md
Labels: pr-documentation

#27385 Do not fail if HTTP port is not set and user tries to send request to TCP port
  src/Server/TCPHandler.cpp
  tests/integration/test_tcp_handler_http_responses/__init__.py
  tests/integration/test_tcp_handler_http_responses/configs/config.d/http-port-31337.xml
  tests/integration/test_tcp_handler_http_responses/configs/config.d/no-http-port.xml
  tests/integration/test_tcp_handler_http_responses/test_case.py
Labels: can be tested, pr-improvement

#27170 DOCSUP-12212: Document currentRoles, enabledRoles, defaultRoles functions
  docs/en/engines/database-engines/materialized-mysql.md
  docs/en/sql-reference/functions/other-functions.md
  docs/ru/engines/database-engines/materialized-mysql.md
  docs/ru/sql-reference/functions/other-functions.md
Labels: pr-documentation

#27479 Update uk-price-paid.md (projection)
  docs/en/getting-started/example-datasets/uk-price-paid.md
Labels: can be tested, pr-documentation

#27478 comment docs
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/sql-reference/statements/create/table.md
Labels: can be tested, pr-documentation

#27493 add info about ninja usage in clion instead of default make
  docs/ru/development/developer-instruction.md
Labels: pr-documentation

#27488 Add menus (yummy dataset)
  docs/en/getting-started/example-datasets/index.md
  docs/en/getting-started/example-datasets/menus.md
Labels: pr-documentation

#27298 Fix bug from #23515.
  src/Interpreters/ExpressionActions.cpp
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
  tests/queries/0_stateless/02003_bug_from_23515.reference
  tests/queries/0_stateless/02003_bug_from_23515.sql
Labels: pr-bugfix

#27055 DOCSUP-12003: S3 and HDFS zero copy replication
  docs/en/engines/table-engines/integrations/hdfs.md
  docs/en/engines/table-engines/integrations/s3.md
  docs/en/operations/storing-data.md
  docs/ru/engines/table-engines/integrations/hdfs.md
  docs/ru/engines/table-engines/integrations/s3.md
  docs/ru/operations/storing-data.md
Labels: pr-documentation

#27513 Better block drawing characters in Web UI
  programs/server/play.html
Labels: pr-documentation

#27234 add bitmapSubsetOffsetLimit function
  docs/en/sql-reference/functions/bitmap-functions.md
  docs/zh/sql-reference/functions/bitmap-functions.md
  src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  src/Functions/FunctionsBitmap.cpp
  src/Functions/FunctionsBitmap.h
  tests/queries/0_stateless/00829_bitmap_function.reference
  tests/queries/0_stateless/00829_bitmap_function.sql
Labels: can be tested, pr-feature, doc-alert

#27518 MaterializedMySQL: minor fix in docs
  docs/en/engines/database-engines/materialized-mysql.md
Labels: pr-documentation

#27483 Added reserve method to Block
  src/Core/Block.cpp
  src/Core/Block.h
Labels: pr-not-for-changelog

#27520 Update success stories on the website front page
  website/templates/index/success.html
Labels: pr-documentation

#27031 Improved logging of `hwmon` sensor errors in `AsynchronousMetrics`
  src/Interpreters/AsynchronousMetrics.cpp
Labels: altinity, pr-not-for-changelog

#27191 Client with flag for memory tracker
  programs/client/Client.cpp
  src/Core/ya.make
  src/DataStreams/ya.make
  src/Parsers/ya.make
  src/Processors/ya.make
  src/Storages/ya.make
  tests/queries/0_stateless/02003_memory_limit_in_client.expect
  tests/queries/0_stateless/02003_memory_limit_in_client.reference
Labels: can be tested, pr-improvement

#27487 make it possible to cancel window functions on ctrl+c
  src/Processors/Transforms/WindowTransform.cpp
  src/Processors/Transforms/WindowTransform.h
  tests/clickhouse-test
  tests/queries/0_stateless/01572_kill_window_function.reference
  tests/queries/0_stateless/01572_kill_window_function.sh
Labels: pr-not-for-changelog

#27523 Backport 21.6 cache dictionaries configuration parse fix
  src/Dictionaries/registerCacheDictionaries.cpp
Labels: pr-bugfix

#27524 Backport 21.5 cache dictionaries configuration parse fix
  src/Dictionaries/registerCacheDictionaries.cpp
Labels: pr-bugfix

#27516 Fix Nullable const columns in JOIN
  src/Columns/ColumnLowCardinality.h
  src/Interpreters/join_common.cpp
  tests/queries/0_stateless/02007_join_use_nulls.reference
  tests/queries/0_stateless/02007_join_use_nulls.sql
Labels: pr-not-for-changelog

#27508 Untangle CPU features specification in CMake
  CMakeLists.txt
  cmake/cpu_features.cmake
  contrib/simdjson-cmake/CMakeLists.txt
Labels: pr-build, submodule changed

#27514 add from IP on login fails error message
  src/Access/IAccessStorage.cpp
Labels: can be tested, pr-improvement

#27271 Changelog for 21.8
  CHANGELOG.md
Labels: pr-documentation

#27521 Fix Logical error: 'Table UUID is not specified in DDL log'
  src/Interpreters/InterpreterCreateQuery.cpp
Labels: pr-not-for-changelog

#27250 Add new index data skipping minmax index format for proper Nullable support
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.h
  src/Storages/MergeTree/MergeTreeIndexGranuleBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexGranuleBloomFilter.h
  src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
  src/Storages/MergeTree/MergeTreeIndexMinMax.h
  src/Storages/MergeTree/MergeTreeIndexReader.cpp
  src/Storages/MergeTree/MergeTreeIndexReader.h
  src/Storages/MergeTree/MergeTreeIndexSet.cpp
  src/Storages/MergeTree/MergeTreeIndexSet.h
  src/Storages/MergeTree/MergeTreeIndices.h
  tests/queries/0_stateless/01410_nullable_key_and_index.sql
Labels: pr-improvement

#27566 Dictionaries refactor
  src/Dictionaries/CacheDictionary.cpp
  src/Dictionaries/DictionaryHelpers.h
  src/Dictionaries/DictionarySource.cpp
  src/Dictionaries/DictionarySource.h
  src/Dictionaries/DictionarySourceBase.cpp
  src/Dictionaries/DictionarySourceBase.h
  src/Dictionaries/FlatDictionary.cpp
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/IPAddressDictionary.cpp
  src/Dictionaries/PolygonDictionary.cpp
  src/Dictionaries/RangeDictionarySource.h
  src/Dictionaries/RangeHashedDictionary.cpp
  src/Dictionaries/RangeHashedDictionary.h
Labels: pr-not-for-changelog

#27574 Aggregation temporary disable compilation without key
  src/Interpreters/Aggregator.cpp
  tests/performance/jit_aggregate_functions_no_key.xml
Labels: pr-not-for-changelog

#27556 fix recalculate QueryMemoryLimitExceeded event error
  src/Common/MemoryTracker.cpp
Labels: can be tested, pr-bugfix

#27326 Fix Mysql protocol when using parallel formats (CSV / TSV)
  src/Formats/FormatFactory.cpp
  tests/queries/0_stateless/01176_mysql_client_interactive.expect
Labels: pr-bugfix

#27569 Less Stopwatch.h
  programs/client/QueryFuzzer.h
  src/Coordination/KeeperStorageDispatcher.cpp
  src/DataStreams/ExecutionSpeedLimits.h
  src/Databases/DatabaseReplicated.cpp
  src/Dictionaries/SSDCacheDictionaryStorage.h
  src/IO/Progress.h
  src/Interpreters/CrashLog.cpp
  src/Interpreters/DNSCacheUpdater.h
  src/Interpreters/QueryPriorities.h
  src/Interpreters/SystemLog.h
  src/Processors/Formats/IRowInputFormat.h
Labels: altinity, pr-not-for-changelog

#27080 Improve compatibility with non-whole-minute timezone offsets
  base/common/DateLUTImpl.cpp
  base/common/DateLUTImpl.h
  tests/queries/0_stateless/01958_partial_hour_timezone.reference
  tests/queries/0_stateless/01958_partial_hour_timezone.sql
Labels: pr-improvement

#27561 Improve the experience of running stateless tests locally
  tests/clickhouse-test
  tests/queries/0_stateless/01103_check_cpu_instructions_at_startup.sh
  tests/queries/0_stateless/01801_s3_cluster.sh
Labels: pr-not-for-changelog

#27557 Fix 01961_roaring_memory_tracking for split builds
  contrib/croaring-cmake/CMakeLists.txt
  docs/en/development/build.md
  src/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#27174 Add metric MaxPushedDDLEntryID
  programs/server/Server.cpp
  src/Common/CurrentMetrics.cpp
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/DDLWorker.h
Labels: can be tested, pr-improvement

#27603 Update README.md
  README.md
Labels: pr-documentation

#27606 fix ProfileEvents::CompileFunction
  src/Interpreters/JIT/compileFunction.cpp
Labels: pr-bugfix

#27605 Fixed parsing DateTime64 value from string.
  base/common/DateLUTImpl.h
  tests/queries/0_stateless/02006_todatetime64_from_string.reference
  tests/queries/0_stateless/02006_todatetime64_from_string.sql
Labels: pr-bugfix

#27505 Add function to turn named tuples into array of pairs
  src/Functions/registerFunctionsTuple.cpp
  src/Functions/tupleToNameValuePairs.cpp
  tests/queries/0_stateless/02008_tuple_to_name_value_pairs.reference
  tests/queries/0_stateless/02008_tuple_to_name_value_pairs.sql
Labels: can be tested, pr-feature, doc-alert

#25714 Better views logging
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/settings/settings.md
  docs/en/operations/system-tables/query_log.md
  docs/en/operations/system-tables/query_thread_log.md
  docs/en/operations/system-tables/query_views_log.md
  programs/server/config.xml
  programs/server/config.yaml.example
  src/Common/Exception.cpp
  src/Common/Exception.h
  src/Common/ThreadStatus.cpp
  src/Common/ThreadStatus.h
  src/Core/Settings.h
  src/DataStreams/PushingToViewsBlockOutputStream.cpp
  src/DataStreams/PushingToViewsBlockOutputStream.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/QueryLog.cpp
  src/Interpreters/QueryLog.h
  src/Interpreters/QueryViewsLog.cpp
  src/Interpreters/QueryViewsLog.h
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  src/Interpreters/ThreadStatusExt.cpp
  src/Interpreters/executeQuery.cpp
  src/Interpreters/ya.make
  tests/integration/test_distributed_directory_monitor_split_batch_on_failure/test.py
  tests/integration/test_storage_kafka/test.py
  tests/queries/0_stateless/01278_min_insert_block_size_rows_for_materialized_views.reference
  tests/queries/0_stateless/01278_min_insert_block_size_rows_for_materialized_views.sh
  tests/queries/0_stateless/01927_query_views_log_current_database.reference
  tests/queries/0_stateless/01927_query_views_log_current_database.sql
  tests/queries/0_stateless/01927_query_views_log_matview_exceptions.reference
  tests/queries/0_stateless/01927_query_views_log_matview_exceptions.sh
  tests/testflows/rbac/configs/clickhouse/config.xml
  tests/testflows/rbac/requirements/requirements.md
  tests/testflows/rbac/requirements/requirements.py
  tests/testflows/rbac/tests/privileges/public_tables.py
Labels: can be tested, pr-improvement

#25491 Documentation: Basic info about projections
  docs/en/engines/table-engines/mergetree-family/mergetree.md
Labels: can be tested, pr-documentation

#27531 Enable using constants from with and select in aggregate function parameters.
  src/Interpreters/QueryNormalizer.cpp
  src/Interpreters/RequiredSourceColumnsVisitor.cpp
  tests/queries/0_stateless/02006_use_constants_in_with_and_select.reference
  tests/queries/0_stateless/02006_use_constants_in_with_and_select.sql
Labels: can be tested, pr-feature, doc-alert

#27480 Documentation: manipulating projections (russian)
  docs/ru/sql-reference/statements/alter/projection.md
Labels: can be tested, pr-documentation

#27304 DOCSUP-11556: Document the Pad functions
  docs/en/sql-reference/data-types/string.md
  docs/en/sql-reference/functions/string-functions.md
  docs/ru/sql-reference/functions/string-functions.md
Labels: pr-documentation

#27495 add info about speedy shared build
  docs/ru/development/developer-instruction.md
Labels: can be tested, pr-documentation

#27577 Remove streams from lv
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Interpreters/InterpreterWatchQuery.cpp
  src/Processors/Transforms/SquashingChunksTransform.cpp
  src/Processors/Transforms/SquashingChunksTransform.h
  src/Processors/ya.make
  src/Storages/IStorage.h
  src/Storages/LiveView/LiveViewEventsSource.h
  src/Storages/LiveView/LiveViewSink.h
  src/Storages/LiveView/LiveViewSource.h
  src/Storages/LiveView/StorageLiveView.cpp
  src/Storages/LiveView/StorageLiveView.h
  src/Storages/StorageProxy.h
Labels: pr-not-for-changelog

#27609 Refactor mysql format check
  src/Formats/FormatFactory.cpp
  src/Server/MySQLHandler.cpp
  tests/queries/0_stateless/01176_mysql_client_interactive.expect
Labels: pr-not-for-changelog

#27492 less sys calls #2: make vdso work again
  base/glibc-compatibility/musl/getauxval.c
Labels: altinity, pr-performance

#27152 Fix arcadia src/Access gtest
  programs/server/Server.cpp
  src/Access/ya.make
  src/Access/ya.make.in
  src/Common/DenseHashMap.h
  src/Common/DenseHashSet.h
  src/Common/SparseHashMap.h
  src/Common/ya.make
  src/Compression/CompressionCodecEncrypted.cpp
  src/Compression/CompressionCodecEncrypted.h
  src/Core/NamesAndTypes.cpp
  src/Dictionaries/HashedDictionary.h
  src/Dictionaries/ya.make
  src/Functions/stem.cpp
  src/Functions/ya.make
  src/IO/Bzip2ReadBuffer.cpp
  src/IO/Bzip2WriteBuffer.cpp
  src/Interpreters/Lemmatizers.cpp
  src/Interpreters/SynonymsExtensions.cpp
  src/Processors/ya.make
  src/Processors/ya.make.in
  src/Storages/MergeTree/IMergeTreeReader.cpp
  src/Storages/MergeTree/IMergeTreeReader.h
  src/Storages/StorageInMemoryMetadata.cpp
Labels: pr-not-for-changelog

#27449 DOCSUP-11581: Update the SQL-statement (DISTINCT ON support)
  docs/en/sql-reference/statements/select/distinct.md
  docs/en/sql-reference/statements/select/index.md
  docs/ru/sql-reference/statements/select/distinct.md
  docs/ru/sql-reference/statements/select/index.md
Labels: pr-documentation

#27382 add Cast internal function
  src/Functions/CastOverloadResolver.cpp
  src/Functions/CastOverloadResolver.h
  src/Functions/DateOrDateTimeFunctionsConvertion.cpp
  src/Functions/FunctionsConversion.cpp
  src/Functions/FunctionsConversion.h
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ConvertStringsToEnumVisitor.cpp
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/OptimizeIfWithConstantConditionVisitor.cpp
  src/Interpreters/addTypeConversionToAST.cpp
  src/Interpreters/castColumn.cpp
  src/Interpreters/inplaceBlockConversions.cpp
  src/Parsers/ASTFunctionHelpers.h
  src/Processors/Formats/Impl/ConstantExpressionTemplate.cpp
  src/Storages/MergeTree/KeyCondition.cpp
  tests/integration/test_alter_update_cast_keep_nullable/__init__.py
  tests/integration/test_alter_update_cast_keep_nullable/configs/users.xml
  tests/integration/test_alter_update_cast_keep_nullable/test.py
  tests/integration/test_storage_kafka/test.py
  tests/queries/0_stateless/00597_push_down_predicate_long.reference
  tests/queries/0_stateless/00974_low_cardinality_cast.sql
  tests/queries/0_stateless/01029_early_constant_folding.reference
  tests/queries/0_stateless/01324_if_transform_strings_to_enum.reference
  tests/queries/0_stateless/01402_cast_nullable_string_to_enum.sql
  tests/queries/0_stateless/01455_nullable_type_with_if_agg_combinator.sql
  tests/queries/0_stateless/01536_fuzz_cast.sql
  tests/queries/0_stateless/01611_constant_folding_subqueries.reference
  tests/queries/0_stateless/01655_plan_optimizations.reference
  tests/queries/0_stateless/01655_plan_optimizations.sh
  tests/queries/0_stateless/01720_join_implicit_cast.sql.j2
  tests/queries/0_stateless/01756_optimize_skip_unused_shards_rewrite_in.reference
Labels: pr-improvement

#27535 Add timeout for integration tests runner
  tests/integration/ci-runner.py
Labels: pr-not-for-changelog

#27528 Fix projection materialization with missing columns
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/MutationsInterpreter.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/01710_projection_materialize_with_missing_columns.reference
  tests/queries/0_stateless/01710_projection_materialize_with_missing_columns.sql
Labels: pr-bugfix

#27139 DOCSUP-12328: Edit and translate to Russian (update materialize_mysql)
  docs/en/engines/database-engines/materialized-mysql.md
  docs/en/sql-reference/functions/array-functions.md
  docs/en/sql-reference/functions/string-functions.md
  docs/en/sql-reference/functions/uuid-functions.md
  docs/ru/engines/database-engines/materialized-mysql.md
  docs/ru/sql-reference/functions/array-functions.md
  docs/ru/sql-reference/functions/string-functions.md
  docs/ru/sql-reference/functions/uuid-functions.md
Labels: pr-documentation
