Repository ClickHouse/ClickHouse, pull requests merged in 2021-12, with the labels that each got.

#31155 Send incremental profile events to client
  src/Client/ClientBase.cpp
  src/Client/InternalTextLogs.cpp
  src/Common/ProfileEvents.cpp
  src/Common/ProfileEvents.h
  src/Common/ProgressIndication.cpp
  src/Common/ProgressIndication.h
  src/Core/ProtocolDefines.h
  src/Server/TCPHandler.cpp
  src/Server/TCPHandler.h
Labels: pr-improvement

#32003 Support PostgreSQL style ALTER MODIFY COLUMN
  docs/en/sql-reference/statements/alter/column.md
  docs/ru/sql-reference/statements/alter/column.md
  src/Parsers/ParserAlterQuery.cpp
  src/Parsers/ParserCreateQuery.h
  tests/queries/0_stateless/02126_alter_table_alter_column.reference
  tests/queries/0_stateless/02126_alter_table_alter_column.sql
Labels: can be tested, pr-improvement

#28933 MaterializedPostgreSQL: fully support non-default postgres schema
  docs/en/engines/database-engines/materialized-postgresql.md
  docs/en/operations/settings/settings.md
  src/Databases/PostgreSQL/DatabaseMaterializedPostgreSQL.cpp
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.cpp
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.h
  src/Storages/PostgreSQL/MaterializedPostgreSQLConsumer.cpp
  src/Storages/PostgreSQL/MaterializedPostgreSQLConsumer.h
  src/Storages/PostgreSQL/MaterializedPostgreSQLSettings.h
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.cpp
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.h
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.h
  tests/integration/test_postgresql_replica_database_engine_1/__init__.py
  tests/integration/test_postgresql_replica_database_engine_1/configs/log_conf.xml
  tests/integration/test_postgresql_replica_database_engine_1/configs/users.xml
  tests/integration/test_postgresql_replica_database_engine_1/test.py
  tests/integration/test_postgresql_replica_database_engine_2/__init__.py
  tests/integration/test_postgresql_replica_database_engine_2/configs/log_conf.xml
  tests/integration/test_postgresql_replica_database_engine_2/configs/users.xml
  tests/integration/test_postgresql_replica_database_engine_2/test.py
Labels: pr-improvement

#31648 basic access authentication for http/https
  src/Storages/StorageURL.cpp
  tests/queries/0_stateless/02126_url_auth.python
  tests/queries/0_stateless/02126_url_auth.reference
  tests/queries/0_stateless/02126_url_auth.sh
Labels: can be tested, pr-feature, doc-alert

#31781 MaterializedMySQL: Fix issue with table named 'table'
  src/Databases/MySQL/MaterializedMySQLSyncThread.cpp
  tests/integration/test_materialized_mysql_database/materialize_with_ddl.py
  tests/integration/test_materialized_mysql_database/test.py
Labels: can be tested, pr-improvement

#32033 Fix style-check for ProfileEvents checking
  utils/check-style/check-style
Labels: pr-not-for-changelog

#31438 Translate some pages to Chinese
  docs/en/development/continuous-integration.md
  docs/zh/development/continuous-integration.md
Labels: can be tested, pr-documentation

#31608 DOCSUP-14783: Document the MySQL settings
  docs/en/engines/table-engines/integrations/mysql.md
  docs/ru/engines/table-engines/integrations/mysql.md
Labels: pr-documentation

#32042 Remove fast test from master
  .github/workflows/master.yml
Labels: pr-not-for-changelog

#32043 Better scripts for runners
  tests/ci/worker/init_builder.sh
  tests/ci/worker/init_func_tester.sh
  tests/ci/worker/init_stress_tester.sh
Labels: pr-not-for-changelog

#31839 Fix a bug about function transform with decimal args
  src/Functions/transform.cpp
  tests/queries/0_stateless/02125_transform_decimal_bug.reference
  tests/queries/0_stateless/02125_transform_decimal_bug.sql
Labels: can be tested, pr-bugfix

#32044 Fix force tests label
  tests/ci/fast_test_check.py
  tests/ci/functional_test_check.py
Labels: pr-not-for-changelog

#32046 Don't run checks for label event
  .github/workflows/docs_check.yml
  .github/workflows/main.yml
Labels: pr-not-for-changelog

#32037 Minor fixes for `StorageMergeTree`
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
Labels: pr-not-for-changelog

#32041 Remove most of old checks
  tests/ci/ci_config.json
Labels: pr-not-for-changelog

#32048 Fix building rpm and tgz for branch pushes
  tests/ci/build_check.py
Labels: do not test, pr-build

#31887 Parse partition key value from `partition_id` when need to create part in empty partition
  src/Parsers/ASTPartition.h
  src/Parsers/ParserPartition.cpp
  src/Processors/Formats/Impl/ConstantExpressionTemplate.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreePartition.cpp
  src/Storages/MergeTree/MergeTreePartition.h
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_lost_part/test.py
  tests/queries/0_stateless/01165_lost_part_empty_partition.reference
  tests/queries/0_stateless/01165_lost_part_empty_partition.sql
  tests/queries/0_stateless/02009_array_join_partition.sql
Labels: pr-bugfix

#32051 Cancel redundant checks with lambda
  .github/workflows/cancel.yml
  tests/ci/cancel_workflow_lambda/Dockerfile
  tests/ci/cancel_workflow_lambda/app.py
  tests/ci/cancel_workflow_lambda/requirements.txt
Labels: pr-not-for-changelog

#32062 Use functional test group for tests with thread sanitizer
  .github/workflows/main.yml
Labels: pr-not-for-changelog

#31990 MaterializedMySQL: Fix corruption of DECIMAL data
  src/Core/MySQL/MySQLReplication.cpp
Labels: can be tested, pr-bugfix

#32050 Fix flaky test 00925
  tests/queries/0_stateless/00925_zookeeper_empty_replicated_merge_tree_optimize_final_long.sh
  tests/queries/0_stateless/00925_zookeeper_empty_replicated_merge_tree_optimize_final_long.sql
Labels: pr-not-for-changelog

#31766 Fix crash with empty result on odbc query
  src/IO/CascadeWriteBuffer.cpp
Labels: pr-bugfix

#32036 Provide clickhouse binary w/o debug symbols (stripped) in fasttest
  docker/test/fasttest/run.sh
Labels: minor, pr-not-for-changelog

#32094 Increase length of random database in clickhouse-test
  tests/clickhouse-test
Labels: pr-not-for-changelog

#32095 Fix syntax error: drop comma
  docs/en/engines/table-engines/integrations/embedded-rocksdb.md
Labels: can be tested, pr-documentation

#32114 Remove PVS check from master
  .github/workflows/master.yml
Labels: pr-not-for-changelog

#31800 Function dictGet with type Nullable fix
  src/Functions/FunctionsExternalDictionaries.h
  tests/queries/0_stateless/02125_dict_get_type_nullable_fix.reference
  tests/queries/0_stateless/02125_dict_get_type_nullable_fix.sql
Labels: pr-bugfix

#32110 make looping in H3 funcs uniform
  src/Functions/geoToH3.cpp
  src/Functions/h3EdgeAngle.cpp
  src/Functions/h3EdgeLengthM.cpp
  src/Functions/h3GetBaseCell.cpp
  src/Functions/h3GetResolution.cpp
  src/Functions/h3HexAreaM2.cpp
  src/Functions/h3IndexesAreNeighbors.cpp
  src/Functions/h3IsValid.cpp
  src/Functions/h3ToChildren.cpp
  src/Functions/h3ToParent.cpp
  src/Functions/h3kRing.cpp
Labels: pr-not-for-changelog

#32079 Allow plus before Float32/Float64
  src/IO/readFloatText.h
  tests/queries/0_stateless/02127_plus_before_float.reference
  tests/queries/0_stateless/02127_plus_before_float.sh
Labels: pr-improvement

#31072 Feature support bool type
  src/Core/Settings.h
  src/DataTypes/DataTypeDomainBool.cpp
  src/DataTypes/DataTypeFactory.cpp
  src/DataTypes/DataTypeFactory.h
  src/DataTypes/DataTypesNumber.cpp
  src/DataTypes/Serializations/SerializationBool.cpp
  src/DataTypes/Serializations/SerializationBool.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/IO/ReadHelpers.h
  src/Interpreters/MySQL/tests/gtest_create_rewritten.cpp
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/ExpressionElementParsers.h
  tests/queries/0_stateless/02013_json_function_null_column.reference
  tests/queries/0_stateless/02114_bool_type.reference
  tests/queries/0_stateless/02114_bool_type.sql
Labels: can be tested, pr-feature, doc-alert

#32119 Fix data race in `removePartAndEnqueueFetch(...)`
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog, pr-must-backport

#32115 Fix flaky keeper whitelist test
  tests/integration/test_keeper_four_word_command/configs/keeper_config_with_white_list.xml
  tests/integration/test_keeper_four_word_command/configs/keeper_config_with_white_list_all.xml
  tests/integration/test_keeper_four_word_command/configs/keeper_config_without_white_list.xml
  tests/integration/test_keeper_four_word_command/test_white_list.py
  tests/integration/test_keeper_three_nodes_two_alive/test.py
Labels: pr-not-for-changelog

#32126 Remove 02116_global_in_time_limit.
  tests/queries/0_stateless/02116_global_in_time_limit.reference
  tests/queries/0_stateless/02116_global_in_time_limit.sh
Labels: pr-not-for-changelog

#32155 Small improvements in lambda code
  tests/ci/metrics_lambda/app.py
  tests/ci/termination_lambda/app.py
Labels: pr-not-for-changelog

#32156 Update featured image for 21.11 release blog post
  website/blog/en/2021/clickhouse-v21.11-released.md
Labels: pr-not-for-changelog

#32064 Add ability for lightweight checks rerun
  tests/ci/ast_fuzzer_check.py
  tests/ci/build_check.py
  tests/ci/build_report_check.py
  tests/ci/compatibility_check.py
  tests/ci/docs_check.py
  tests/ci/fast_test_check.py
  tests/ci/functional_test_check.py
  tests/ci/integration_test_check.py
  tests/ci/pvs_check.py
  tests/ci/rerun_helper.py
  tests/ci/split_build_smoke_check.py
  tests/ci/stress_check.py
  tests/ci/style_check.py
  tests/ci/unit_tests_check.py
Labels: pr-not-for-changelog

#32052 Fix flaky integration test for MaterializedMySQL CREATE TABLE LIKE
  tests/integration/test_materialized_mysql_database/materialize_with_ddl.py
Labels: can be tested, pr-not-for-changelog

#32159 Fix CI
  tests/ci/build_check.py
  tests/ci/metrics_lambda/app.py
Labels: pr-not-for-changelog

#32121 Add check for duplicate hostnames and IDs in KeeperConfig
  src/Coordination/KeeperStateManager.cpp
  tests/integration/test_keeper_incorrect_config/__init__.py
  tests/integration/test_keeper_incorrect_config/configs/enable_keeper1.xml
  tests/integration/test_keeper_incorrect_config/test.py
Labels: pr-improvement

#32040 Add exception/exception_code to opentelemetry span log
  src/Interpreters/executeQuery.cpp
Labels: can be tested, pr-improvement

#32165 Fix QueryProfiler (query_profiler_{cpu,real}_time_period_ns) reset
  base/daemon/BaseDaemon.cpp
  src/Common/QueryProfiler.cpp
  src/Common/QueryProfiler.h
Labels: pr-not-for-changelog

#32163 clickhouse-test: do not use random generator with shared state
  tests/clickhouse-test
Labels: pr-not-for-changelog

#32129 fixing postgres tests
  tests/integration/test_postgresql_replica_database_engine_2/test.py
Labels: pr-not-for-changelog

#32172 Update materialized-postgresql.md
  docs/en/engines/database-engines/materialized-postgresql.md
Labels: pr-documentation

#32120 Move fuzzers and unit tests to another group
  .github/workflows/main.yml
  .github/workflows/master.yml
  tests/ci/metrics_lambda/app.py
  tests/ci/worker/init_fuzzer_unit_tester.sh
Labels: pr-not-for-changelog

#32162 tests/ci: do not compress logs twice
  tests/ci/s3_helper.py
Labels: pr-not-for-changelog

#32123 Change test 02117_custom_separated_with_names_and_types
  tests/queries/0_stateless/02117_custom_separated_with_names_and_types.sh
Labels: pr-not-for-changelog

#32066 fix storage join settings with persistency
  src/Storages/JoinSettings.cpp
  src/Storages/JoinSettings.h
  src/Storages/StorageJoin.cpp
  src/Storages/StorageJoin.h
  tests/queries/0_stateless/02127_storage_join_settings_with_persistency.reference
  tests/queries/0_stateless/02127_storage_join_settings_with_persistency.sql
Labels: can be tested, pr-bugfix

#31095 Function name normalization for ALTER queries
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Parsers/ParserAlterQuery.cpp
  tests/queries/0_stateless/01705_normalize_create_alter_function_names.reference
  tests/queries/0_stateless/01705_normalize_create_alter_function_names.sql
Labels: pr-improvement

#32019 Fix excessive DESC TABLE for remote() over identifier
  src/Interpreters/Context.cpp
  tests/integration/test_distributed_respect_user_timeouts/test.py
  tests/queries/0_stateless/01455_opentelemetry_distributed.reference
  tests/queries/0_stateless/02126_dist_desc.reference
  tests/queries/0_stateless/02126_dist_desc.sql.j2
Labels: pr-improvement

#32157 Fix active replicas count in quorum inserts
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
Labels: pr-bugfix, pr-must-backport

#32080 Fix CAST from Nullable with cast_keep_nullable
  src/Functions/castOrDefault.cpp
  tests/queries/0_stateless/02128_cast_nullable.reference
  tests/queries/0_stateless/02128_cast_nullable.sql
Labels: pr-bugfix

#32177 Use ccache in fast test
  tests/ci/fast_test_check.py
Labels: pr-not-for-changelog

#31263 docs. alter-partition-verbose-result
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#32175 Better output for some actions
  tests/ci/build_check.py
  tests/ci/docs_check.py
  tests/ci/fast_test_check.py
  tests/ci/functional_test_check.py
  tests/ci/integration_test_check.py
  tests/ci/pr_info.py
  tests/ci/pvs_check.py
  tests/ci/stress_check.py
  tests/ci/tee_popen.py
  tests/ci/unit_tests_check.py
Labels: pr-not-for-changelog

#32178 Fix window view tests
  src/Storages/WindowView/StorageWindowView.cpp
  src/Storages/WindowView/StorageWindowView.h
  tests/queries/0_stateless/01047_window_view_parser_inner_table.reference
  tests/queries/0_stateless/01047_window_view_parser_inner_table.sql
  tests/queries/0_stateless/01048_window_view_parser.reference
  tests/queries/0_stateless/01048_window_view_parser.sql
  tests/queries/0_stateless/01052_window_view_proc_tumble_to_now.sql
  tests/queries/0_stateless/01053_window_view_proc_hop_to_now.sql
Labels: pr-not-for-changelog

#32038 Fix a bug that opentelemetry span log duration is zero
  src/Interpreters/executeQuery.cpp
Labels: can be tested, pr-improvement

#32112 Returns Content-Type as application/json for JSONEachRow if output_format_json_array_of_rows is enabled
  src/Processors/Formats/Impl/JSONEachRowRowOutputFormat.h
Labels: can be tested, pr-improvement

#31490 Crb support page
  website/css/main.css
  website/src/scss/components/_form.scss
  website/support/case/index.html
  website/templates/support/form.html
  website/templates/support/hero.html
  website/templates/support/overview.html
Labels: can be tested, pr-not-for-changelog

#32208 Update ASTCreateQuery.cpp
  src/Parsers/ASTCreateQuery.cpp
Labels: pr-not-for-changelog

#32209 Fix flacky fileLog test (probably)
  src/Storages/FileLog/FileLogSource.cpp
Labels: pr-not-for-changelog

#32203 Add test for #32186
  tests/queries/0_stateless/02128_wait_end_of_query_fix.reference
  tests/queries/0_stateless/02128_wait_end_of_query_fix.sh
Labels: pr-not-for-changelog

#32224 doc. fix typo
  docs/en/operations/clickhouse-keeper.md
Labels: pr-documentation

#32222 Add missing timezones to some tests
  tests/queries/0_stateless/01054_window_view_proc_tumble_to.sql
  tests/queries/0_stateless/01055_window_view_proc_hop_to.sql
  tests/queries/0_stateless/01056_window_view_proc_hop_watch.py
Labels: pr-not-for-changelog

#32184 Function accurateCastOrDefault remove separate branch
  src/Functions/castOrDefault.cpp
Labels: pr-not-for-changelog

#31949 Speedup query parsing
  src/Parsers/IParser.h
  src/Parsers/IParserBase.h
  src/Parsers/TokenIterator.h
  tests/performance/explain_ast.xml
Labels: pr-performance

#31988 Fix skipping columns while writing protobuf
  src/Formats/ProtobufSerializer.cpp
  src/Formats/ProtobufSerializer.h
  tests/queries/0_stateless/00825_protobuf_format_skipped_column_in_nested.reference
  tests/queries/0_stateless/00825_protobuf_format_skipped_column_in_nested.sh
  tests/queries/0_stateless/format_schemas/00825_protobuf_format_skipped_column_in_nested.proto
Labels: pr-bugfix

#32236 Fix versioning of aggregate functions (fixes performance tests)
  src/Columns/ColumnAggregateFunction.cpp
  src/Columns/ColumnAggregateFunction.h
  src/DataTypes/DataTypeAggregateFunction.cpp
  src/DataTypes/Serializations/SerializationAggregateFunction.cpp
  tests/queries/0_stateless/01881_aggregate_functions_versioning.sql
Labels: pr-not-for-changelog

#32118 Fix flacky test test_executable_storage_input
  tests/integration/test_executable_table_function/test.py
Labels: pr-not-for-changelog

#32223 use application/x-ndjson for streaming JSON
  src/Processors/Formats/Impl/JSONEachRowRowOutputFormat.h
Labels: can be tested, pr-improvement

#32185 Range hashed dictionary added update field support
  src/Dictionaries/ClickHouseDictionarySource.cpp
  src/Dictionaries/RangeHashedDictionary.cpp
  src/Dictionaries/RangeHashedDictionary.h
  tests/integration/test_dictionaries_update_field/test.py
Labels: pr-improvement

#32117 Dictionaries custom query condition fix
  src/Dictionaries/ExternalQueryBuilder.cpp
Labels: pr-bugfix

#32257 Disable window view tests temporarily because still flacky
  tests/queries/0_stateless/01050_window_view_parser_tumble.sql
  tests/queries/0_stateless/01051_window_view_parser_hop.sql
  tests/queries/0_stateless/01052_window_view_proc_tumble_to_now.sql
  tests/queries/0_stateless/01053_window_view_proc_hop_to_now.sql
  tests/queries/0_stateless/01054_window_view_proc_tumble_to.sql
  tests/queries/0_stateless/01055_window_view_proc_hop_to.sql
  tests/queries/0_stateless/01057_window_view_event_tumble_to_strict_asc.sql
  tests/queries/0_stateless/01058_window_view_event_hop_to_strict_asc.sql
  tests/queries/0_stateless/01060_window_view_event_tumble_to_asc.sql
  tests/queries/0_stateless/01061_window_view_event_hop_to_asc.sql
  tests/queries/0_stateless/01063_window_view_event_tumble_to_bounded.sql
  tests/queries/0_stateless/01064_window_view_event_hop_to_bounded.sql
  tests/queries/0_stateless/01066_window_view_event_tumble_to_strict_asc_lateness.sql
  tests/queries/0_stateless/01067_window_view_event_tumble_to_asc_lateness.sql
  tests/queries/0_stateless/01068_window_view_event_tumble_to_bounded_lateness.sql
Labels: pr-not-for-changelog

#31636 Check max_execution_time in the pipeline and pulling executors
  src/Interpreters/ProcessList.cpp
  src/Interpreters/ProcessList.h
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/PipelineExecutor.h
  src/Processors/Executors/PullingAsyncPipelineExecutor.cpp
  src/Processors/Executors/PullingPipelineExecutor.cpp
  src/Processors/Transforms/CountingTransform.cpp
  src/Processors/Transforms/CountingTransform.h
  src/Processors/Transforms/LimitsCheckingTransform.h
  src/Storages/System/StorageSystemNumbers.cpp
  tests/queries/0_stateless/00613_shard_distributed_max_execution_time.reference
  tests/queries/0_stateless/00613_shard_distributed_max_execution_time.sql
  tests/queries/0_stateless/02122_join_group_by_timeout.reference
  tests/queries/0_stateless/02122_join_group_by_timeout.sh
Labels: pr-improvement

#31123 Better clickhouse-client multiline input
  base/base/LineReader.h
  base/base/ReplxxLineReader.cpp
  src/Client/ClientBase.cpp
  tests/queries/0_stateless/01526_client_start_and_exit.sh
Labels: pr-improvement

#32204 Improve skiping unknown fields with Quoted escaping rule in Template/CustomSeparated formats
  src/Formats/EscapingRuleUtils.cpp
  src/IO/ReadHelpers.cpp
  src/IO/ReadHelpers.h
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.cpp
  tests/queries/0_stateless/02129_skip_quoted_fields.reference
  tests/queries/0_stateless/02129_skip_quoted_fields.sh
Labels: pr-improvement

#32262 Fix typo in tupleToNameValuePairs doc
  docs/en/sql-reference/functions/tuple-functions.md
Labels: pr-not-for-changelog

#32206 Fix uncaught exception in DatabaseLazy
  src/Databases/DatabaseLazy.cpp
Labels: pr-not-for-changelog

#31820 Fix recursive user defined functions crash
  src/Interpreters/UserDefinedSQLFunctionVisitor.cpp
  src/Interpreters/UserDefinedSQLFunctionVisitor.h
  tests/queries/0_stateless/02125_recursive_sql_user_defined_functions.reference
  tests/queries/0_stateless/02125_recursive_sql_user_defined_functions.sql
  tests/queries/0_stateless/02126_identity_user_defined_function.reference
  tests/queries/0_stateless/02126_identity_user_defined_function.sql
Labels: pr-bugfix

#32174 perf: fix waiting of the server after running tests
  docker/test/performance-comparison/compare.sh
Labels: pr-not-for-changelog

#32187 DictionariesLoader qualify name with database fix
  src/Interpreters/ExternalDictionariesLoader.cpp
Labels: pr-bugfix, pr-must-backport

#32269 Update mergetree.md : adding the correct anchor to the link
  docs/en/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation

#32125 Use seq_cst semantic for MergeTreeBackgroundExecutor mertic.
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.h
Labels: pr-not-for-changelog

#32287 Fix possible crash in DataTypeAggregateFunction
  src/DataTypes/DataTypeAggregateFunction.cpp
Labels: pr-not-for-changelog

#32173 MaterializedMySQL support VARBINARY type
  src/DataTypes/DataTypeString.cpp
Labels: can be tested, pr-not-for-changelog

#32288 Fix cyclic dependency with XML dictionary and StorageDictionary
  src/Databases/DDLDependencyVisitor.cpp
  src/Databases/DDLDependencyVisitor.h
  src/Databases/DatabaseMemory.cpp
  src/Databases/DatabaseOrdinary.cpp
  src/Databases/TablesLoader.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/integration/test_dictionaries_dependency_xml/configs/dictionaries/node.xml
  tests/integration/test_dictionaries_dependency_xml/test.py
Labels: pr-bugfix, pr-must-backport

#32049 #32039 Make HDFS replication configurable in WriteBufferFromHDFSImpl#WriteBu…
  src/Core/Settings.h
  src/Disks/HDFS/DiskHDFS.cpp
  src/Disks/HDFS/DiskHDFS.h
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/HDFS/WriteBufferFromHDFS.cpp
  src/Storages/HDFS/WriteBufferFromHDFS.h
Labels: can be tested, pr-improvement, doc-alert

#32122 Add a test with 20000 mutations in one query
  tests/queries/0_stateless/02125_many_mutations.reference
  tests/queries/0_stateless/02125_many_mutations.sh
Labels: pr-not-for-changelog

#32256 Support default expression for storage hdfs and optimize fetching when source is column oriented
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/HDFS/StorageHDFS.h
  tests/integration/test_storage_hdfs/test.py
Labels: can be tested, pr-improvement

#32232 Fix window view parser
  src/Functions/FunctionsWindow.cpp
  src/Storages/WindowView/StorageWindowView.cpp
  src/Storages/WindowView/StorageWindowView.h
  tests/queries/0_stateless/01050_window_view_parser_tumble.reference
  tests/queries/0_stateless/01050_window_view_parser_tumble.sql
  tests/queries/0_stateless/01051_window_view_parser_hop.reference
  tests/queries/0_stateless/01051_window_view_parser_hop.sql
  tests/queries/0_stateless/01052_window_view_proc_tumble_to_now.sql
  tests/queries/0_stateless/01053_window_view_proc_hop_to_now.sql
  tests/queries/0_stateless/01054_window_view_proc_tumble_to.sql
  tests/queries/0_stateless/01055_window_view_proc_hop_to.sql
  tests/queries/0_stateless/01057_window_view_event_tumble_to_strict_asc.sql
  tests/queries/0_stateless/01058_window_view_event_hop_to_strict_asc.sql
  tests/queries/0_stateless/01060_window_view_event_tumble_to_asc.sql
  tests/queries/0_stateless/01061_window_view_event_hop_to_asc.sql
  tests/queries/0_stateless/01063_window_view_event_tumble_to_bounded.sql
  tests/queries/0_stateless/01064_window_view_event_hop_to_bounded.sql
  tests/queries/0_stateless/01066_window_view_event_tumble_to_strict_asc_lateness.sql
  tests/queries/0_stateless/01067_window_view_event_tumble_to_asc_lateness.sql
  tests/queries/0_stateless/01068_window_view_event_tumble_to_bounded_lateness.sql
Labels: can be tested, pr-bugfix

#32113 Set Content-Type in HTTP packets issued from URL engine
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/IO/WriteBufferFromHTTP.cpp
  src/IO/WriteBufferFromHTTP.h
  src/Storages/StorageURL.cpp
Labels: can be tested, pr-improvement

#32323 Update backport.py
  utils/github/backport.py
Labels: pr-not-for-changelog

#32289 fix bug when remove unneeded columns in subquery
  src/Interpreters/TreeRewriter.cpp
  tests/queries/0_stateless/02131_remove_columns_in_subquery.reference
  tests/queries/0_stateless/02131_remove_columns_in_subquery.sql
Labels: can be tested, pr-bugfix

#32247 DOCSUP-19042: [CLICKHOUSEDOCS] Edit and translate to Russian (query_views_log system table)
  docs/en/operations/settings/settings.md
  docs/en/operations/system-tables/query_views_log.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/system-tables/query_log.md
  docs/ru/operations/system-tables/query_thread_log.md
  docs/ru/operations/system-tables/query_views_log.md
  docs/ru/sql-reference/functions/string-search-functions.md
Labels: pr-documentation

#32164 Fix stress tests
  docker/test/stress/run.sh
  docker/test/stress/stress
  tests/clickhouse-test
Labels: pr-not-for-changelog

#32303 Fix division by zero in avgWeighted with Decimal argument
  src/AggregateFunctions/AggregateFunctionAvg.h
  src/AggregateFunctions/AggregateFunctionAvgWeighted.cpp
  tests/queries/0_stateless/01668_avg_weighted_ubsan.reference
  tests/queries/0_stateless/01668_avg_weighted_ubsan.sql
Labels: pr-bugfix, pr-must-backport

#27526 Added `getFuzzerData` function
  CMakeLists.txt
  docker/packager/other/fuzzer.sh
  programs/CMakeLists.txt
  programs/local/CMakeLists.txt
  programs/local/LocalServer.cpp
  programs/main.cpp
  src/Functions/CMakeLists.txt
  src/Functions/getFuzzerData.cpp
  src/Functions/getFuzzerData.h
  src/Functions/registerFunctionsMiscellaneous.cpp
Labels: can be tested, pr-feature, doc-alert

#32140 Remove LeaderElection
  src/Storages/MergeTree/LeaderElection.h
  src/Storages/MergeTree/PartMovesBetweenShardsOrchestrator.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_backward_compatibility/test.py
  tests/integration/test_version_update_after_mutation/test.py
Labels: pr-backward-incompatible

#32335 Add documents for window view
  docs/en/sql-reference/functions/window-view-functions.md
  docs/en/sql-reference/statements/create/view.md
Labels: can be tested, pr-documentation

#32270 Fix possible Pipeline stuck in case of StrictResize processor.
  src/Processors/ResizeProcessor.cpp
Labels: pr-not-for-changelog, pr-must-backport

#32348 Add cast to `MATERIALIZE COLUMN`
  src/Interpreters/MutationsInterpreter.cpp
  tests/queries/0_stateless/02131_materialize_column_cast.reference
  tests/queries/0_stateless/02131_materialize_column_cast.sql
Labels: pr-bugfix

#32351 Fix graphite-bench build
  utils/graphite-rollup/CMakeLists.txt
Labels: pr-not-for-changelog

#32234 Improve the operation name of an opentelemetry span
  src/Interpreters/executeQuery.cpp
Labels: can be tested, pr-improvement

#32390 Another attempt to fix unit test Executor::RemoveTasksStress
  src/Storages/MergeTree/tests/gtest_executor.cpp
Labels: pr-not-for-changelog

#32376 Revert "graphite: split tagged/plain rollup rules (for merges perfoma…
  base/base/StringRef.h
  src/CMakeLists.txt
  src/Common/tests/gtest_global_context.cpp
  src/Common/tests/gtest_global_context.h
  src/Processors/Merges/Algorithms/Graphite.cpp
  src/Processors/Merges/Algorithms/Graphite.h
  src/Processors/Merges/Algorithms/GraphiteRollupSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/GraphiteRollupSortedAlgorithm.h
  src/Processors/Merges/Algorithms/tests/gtest_graphite.cpp
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  src/Storages/System/StorageSystemGraphite.cpp
  tests/integration/helpers/test_tools.py
  tests/integration/test_graphite_merge_tree/test.py
  tests/integration/test_graphite_merge_tree_typed/__init__.py
  tests/integration/test_graphite_merge_tree_typed/configs/graphite_rollup.xml
  tests/integration/test_graphite_merge_tree_typed/configs/users.xml
  tests/integration/test_graphite_merge_tree_typed/test.py
  tests/integration/test_graphite_merge_tree_typed/test_multiple_paths_and_versions.reference.plain
  tests/integration/test_graphite_merge_tree_typed/test_multiple_paths_and_versions.reference.tagged
  tests/queries/0_stateless/02117_show_create_table_system.reference
  utils/CMakeLists.txt
  utils/graphite-rollup/CMakeLists.txt
  utils/graphite-rollup/graphite-rollup-bench.cpp
  utils/graphite-rollup/metrics.txt
  utils/graphite-rollup/rollup-tag-list.xml
  utils/graphite-rollup/rollup-typed.xml
  utils/graphite-rollup/rollup.xml
Labels: pr-bugfix

#32389 Follow-up to #32140
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#32440 Fix build check empty report
  tests/ci/build_report_check.py
Labels: pr-not-for-changelog

#32438 Fix images names in integration tests
  tests/ci/integration_test_check.py
Labels: pr-not-for-changelog

#32402 Window view documents improvement
  docs/en/sql-reference/functions/window-view-functions.md
  docs/en/sql-reference/statements/create/view.md
  docs/zh/sql-reference/functions/window-view-functions.md
  docs/zh/sql-reference/statements/create/view.md
Labels: can be tested, pr-documentation

#32447 Fix ASTFuzzer
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#32324 Rename window functions in WindowView
  src/Functions/FunctionsWindow.cpp
  src/Functions/FunctionsWindow.h
  src/Storages/WindowView/StorageWindowView.cpp
  src/Storages/WindowView/StorageWindowView.h
  tests/queries/0_stateless/01047_window_view_parser_inner_table.reference
  tests/queries/0_stateless/01047_window_view_parser_inner_table.sql
  tests/queries/0_stateless/01048_window_view_parser.reference
  tests/queries/0_stateless/01048_window_view_parser.sql
  tests/queries/0_stateless/01049_window_view_window_functions.reference
  tests/queries/0_stateless/01049_window_view_window_functions.sql
  tests/queries/0_stateless/01050_window_view_parser_tumble.sql
  tests/queries/0_stateless/01051_window_view_parser_hop.sql
  tests/queries/0_stateless/01052_window_view_proc_tumble_to_now.sql
  tests/queries/0_stateless/01053_window_view_proc_hop_to_now.sql
  tests/queries/0_stateless/01054_window_view_proc_tumble_to.sql
  tests/queries/0_stateless/01055_window_view_proc_hop_to.sql
  tests/queries/0_stateless/01056_window_view_proc_hop_watch.py
  tests/queries/0_stateless/01057_window_view_event_tumble_to_strict_asc.sql
  tests/queries/0_stateless/01058_window_view_event_hop_to_strict_asc.sql
  tests/queries/0_stateless/01059_window_view_event_hop_watch_strict_asc.py
  tests/queries/0_stateless/01060_window_view_event_tumble_to_asc.sql
  tests/queries/0_stateless/01061_window_view_event_hop_to_asc.sql
  tests/queries/0_stateless/01062_window_view_event_hop_watch_asc.py
  tests/queries/0_stateless/01063_window_view_event_tumble_to_bounded.sql
  tests/queries/0_stateless/01064_window_view_event_hop_to_bounded.sql
  tests/queries/0_stateless/01065_window_view_event_hop_watch_bounded.py
  tests/queries/0_stateless/01066_window_view_event_tumble_to_strict_asc_lateness.sql
  tests/queries/0_stateless/01067_window_view_event_tumble_to_asc_lateness.sql
  tests/queries/0_stateless/01068_window_view_event_tumble_to_bounded_lateness.sql
  tests/queries/0_stateless/01069_window_view_proc_tumble_watch.py
Labels: can be tested, pr-not-for-changelog

#32249 DOCSUP-14791: Document the sparkbar aggregate function
  docs/en/sql-reference/aggregate-functions/reference/sparkbar.md
  docs/ru/sql-reference/aggregate-functions/reference/sparkbar.md
Labels: pr-documentation

#32138 Fix 'APPLY lambda' parsing
  docker/test/fuzzer/run-fuzzer.sh
  programs/client/Client.cpp
  src/Parsers/ExpressionElementParsers.cpp
  tests/queries/0_stateless/02128_apply_lambda_parsing.reference
  tests/queries/0_stateless/02128_apply_lambda_parsing.sql
Labels: pr-bugfix, pr-must-backport

#32459 Fix unit tests (ubsan) on master
  .github/workflows/master.yml
Labels: pr-not-for-changelog

#32461 Remove dependency between integration and functional tests
  .github/workflows/main.yml
  .github/workflows/master.yml
Labels: pr-not-for-changelog

#32403 Doc. merge_tree_clear_old_temporary_directories_interval_seconds merge_tree_clear_old_parts_interval_seconds were moved to merge_tree settings
  docs/en/operations/settings/merge-tree-settings.md
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/merge-tree-settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#32462 Add automatic workflow rerun
  tests/ci/workflow_approve_rerun_lambda/Dockerfile
  tests/ci/workflow_approve_rerun_lambda/app.py
  tests/ci/workflow_approve_rerun_lambda/requirements.txt
Labels: pr-not-for-changelog

#32473 Fix window view docs
  docs/en/sql-reference/statements/create/view.md
  docs/zh/sql-reference/functions/window-view-functions.md
  docs/zh/sql-reference/statements/create/view.md
Labels: pr-documentation, can be tested

#32475 Update odbc-bridge.md
  docs/en/operations/utilities/odbc-bridge.md
Labels: pr-not-for-changelog

#32437 Terminate build when linker path not found
  cmake/tools.cmake
Labels: pr-build

#32485 Fix backport workflow
  .github/workflows/backport_branches.yml
Labels: pr-not-for-changelog

#32477 02122_parallel_formatting: Address grep binary warnings
  tests/queries/0_stateless/02122_parallel_formatting.sh
Labels: pr-not-for-changelog

#32494 Fix integration tests docker images path
  tests/ci/docker_pull_helper.py
  tests/ci/integration_test_check.py
Labels: pr-not-for-changelog

#32500 Disable flaky tests with Window View
  tests/queries/0_stateless/01052_window_view_proc_tumble_to_now.sql
  tests/queries/0_stateless/01053_window_view_proc_hop_to_now.sql
  tests/queries/0_stateless/01054_window_view_proc_tumble_to.sql
  tests/queries/0_stateless/01055_window_view_proc_hop_to.sql
  tests/queries/0_stateless/01057_window_view_event_tumble_to_strict_asc.sql
  tests/queries/0_stateless/01058_window_view_event_hop_to_strict_asc.sql
  tests/queries/0_stateless/01060_window_view_event_tumble_to_asc.sql
  tests/queries/0_stateless/01061_window_view_event_hop_to_asc.sql
  tests/queries/0_stateless/01063_window_view_event_tumble_to_bounded.sql
  tests/queries/0_stateless/01064_window_view_event_hop_to_bounded.sql
  tests/queries/0_stateless/01067_window_view_event_tumble_to_asc_lateness.sql
  tests/queries/0_stateless/01068_window_view_event_tumble_to_bounded_lateness.sql
Labels: pr-not-for-changelog

#32476 Fix test_prometheus_endpoint
  tests/integration/test_prometheus_endpoint/test.py
Labels: pr-not-for-changelog

#32497 Add test for clickhouse-client history navigation
  tests/queries/0_stateless/02132_client_history_navigation.expect
  tests/queries/0_stateless/02132_client_history_navigation.reference
Labels: pr-not-for-changelog

#32421 Add a test #16171
  tests/queries/0_stateless/02133_final_prewhere_where_lowcardinality_replacing.reference
  tests/queries/0_stateless/02133_final_prewhere_where_lowcardinality_replacing.sql
Labels: pr-not-for-changelog

#32464 Fix crash in case of MATERIALIZE COLUMN with no default expression.
  src/Interpreters/MutationsInterpreter.cpp
  tests/queries/0_stateless/02008_materialize_column.sql
Labels: pr-not-for-changelog, pr-must-backport

#32201 Try fix 'Directory tmp_merge_<part_name>' already exists
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-bugfix, pr-must-backport

#32479 01950_kill_large_group_by_query: Increase timeout
  tests/queries/0_stateless/01950_kill_large_group_by_query.sh
Labels: pr-not-for-changelog

#32501 21.8 ExternalDictionariesLoader fix build
  src/Interpreters/ExternalDictionariesLoader.cpp
  src/Interpreters/ExternalDictionariesLoader.h
Labels: pr-not-for-changelog

#32496 Split long tests into multiple checks
  .github/workflows/main.yml
  .github/workflows/master.yml
  docker/test/stateless/Dockerfile
  docker/test/stateless/run.sh
  tests/ci/functional_test_check.py
  tests/ci/integration_test_check.py
  tests/clickhouse-test
  tests/integration/ci-runner.py
Labels: pr-not-for-changelog

#31407 DOCSUP-13314: document GRPC protocol support
  docs/en/interfaces/grpc.md
  docs/en/interfaces/index.md
  docs/ru/interfaces/grpc.md
  docs/ru/interfaces/index.md
Labels: pr-documentation

#32498 Rename window-view function to time window function
  docs/en/sql-reference/functions/time-window-functions.md
  docs/en/sql-reference/statements/create/view.md
  docs/zh/sql-reference/functions/time-window-functions.md
  docs/zh/sql-reference/statements/create/view.md
  src/Functions/FunctionsTimeWindow.cpp
  src/Functions/FunctionsTimeWindow.h
  src/Functions/registerFunctions.cpp
  src/Storages/WindowView/StorageWindowView.cpp
Labels: pr-not-for-changelog, can be tested

#32453 Disable some optimizations for window functions
  src/Interpreters/ArithmeticOperationsInAgrFuncOptimize.cpp
  src/Interpreters/RewriteAnyFunctionVisitor.cpp
  src/Interpreters/RewriteSumIfFunctionVisitor.cpp
  tests/queries/0_stateless/01591_window_functions.reference
  tests/queries/0_stateless/02129_window_functions_disable_optimizations.reference
  tests/queries/0_stateless/02129_window_functions_disable_optimizations.sql
Labels: pr-improvement

#32508 Handle const column in JoinCommon::removeColumnNullability
  src/Interpreters/join_common.cpp
  tests/queries/0_stateless/02133_issue_32458.reference
  tests/queries/0_stateless/02133_issue_32458.sql
Labels: pr-bugfix, pr-must-backport

#32506 Fix queries with hasColumnInTable constant condition and non existing column
  src/Interpreters/OptimizeIfWithConstantConditionVisitor.cpp
  tests/queries/0_stateless/02125_constant_if_condition_and_not_existing_column.reference
  tests/queries/0_stateless/02125_constant_if_condition_and_not_existing_column.sql
Labels: pr-not-for-changelog, pr-must-backport

#32533 clickhouse-test: use basename of the test for *.sh tests
  tests/clickhouse-test
Labels: pr-not-for-changelog

#32534 Fix processing initial table (--table/stdin) in clickhouse-local
  programs/local/LocalServer.cpp
  programs/local/LocalServer.h
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  tests/queries/0_stateless/02140_clickhouse_local_queries_file_table.reference
  tests/queries/0_stateless/02140_clickhouse_local_queries_file_table.sh
  tests/queries/0_stateless/02141_clickhouse_local_interactive_table.reference
  tests/queries/0_stateless/02141_clickhouse_local_interactive_table.sh
Labels: pr-not-for-changelog

#31656 Fix use quota bug
  src/Access/EnabledQuota.cpp
Labels: can be tested

#32531 Improve handling nested structures with missing columns while reading protobuf
  src/DataTypes/NestedUtils.cpp
  src/DataTypes/NestedUtils.h
  src/Formats/ProtobufSerializer.cpp
  src/Formats/RowInputMissingColumnsFiller.cpp
  src/Formats/RowInputMissingColumnsFiller.h
  tests/queries/0_stateless/00825_protobuf_format_skipped_column_in_nested.reference
  tests/queries/0_stateless/00825_protobuf_format_skipped_column_in_nested.sh
Labels: pr-improvement

#32503 Fix flaky window view tests
  tests/queries/0_stateless/01052_window_view_proc_tumble_to_now.reference
  tests/queries/0_stateless/01052_window_view_proc_tumble_to_now.sh
  tests/queries/0_stateless/01052_window_view_proc_tumble_to_now.sql
  tests/queries/0_stateless/01053_window_view_proc_hop_to_now.reference
  tests/queries/0_stateless/01053_window_view_proc_hop_to_now.sh
  tests/queries/0_stateless/01053_window_view_proc_hop_to_now.sql
  tests/queries/0_stateless/01054_window_view_proc_tumble_to.reference
  tests/queries/0_stateless/01054_window_view_proc_tumble_to.sh
  tests/queries/0_stateless/01054_window_view_proc_tumble_to.sql
  tests/queries/0_stateless/01055_window_view_proc_hop_to.reference
  tests/queries/0_stateless/01055_window_view_proc_hop_to.sh
  tests/queries/0_stateless/01055_window_view_proc_hop_to.sql
  tests/queries/0_stateless/01057_window_view_event_tumble_to_strict_asc.reference
  tests/queries/0_stateless/01057_window_view_event_tumble_to_strict_asc.sh
  tests/queries/0_stateless/01058_window_view_event_hop_to_strict_asc.reference
  tests/queries/0_stateless/01058_window_view_event_hop_to_strict_asc.sh
  tests/queries/0_stateless/01060_window_view_event_tumble_to_asc.reference
  tests/queries/0_stateless/01060_window_view_event_tumble_to_asc.sh
  tests/queries/0_stateless/01061_window_view_event_hop_to_asc.reference
  tests/queries/0_stateless/01061_window_view_event_hop_to_asc.sh
  tests/queries/0_stateless/01063_window_view_event_tumble_to_bounded.reference
  tests/queries/0_stateless/01063_window_view_event_tumble_to_bounded.sh
  tests/queries/0_stateless/01064_window_view_event_hop_to_bounded.reference
  tests/queries/0_stateless/01064_window_view_event_hop_to_bounded.sh
  tests/queries/0_stateless/01066_window_view_event_tumble_to_strict_asc_lateness.reference
  tests/queries/0_stateless/01066_window_view_event_tumble_to_strict_asc_lateness.sh
  tests/queries/0_stateless/01067_window_view_event_tumble_to_asc_lateness.reference
  tests/queries/0_stateless/01067_window_view_event_tumble_to_asc_lateness.sh
  tests/queries/0_stateless/01068_window_view_event_tumble_to_bounded_lateness.reference
  tests/queries/0_stateless/01068_window_view_event_tumble_to_bounded_lateness.sh
Labels: pr-not-for-changelog, can be tested

#32574 [RFC] Remove readline support
  base/base/CMakeLists.txt
  base/base/LineReader.cpp
  base/base/ReadlineLineReader.cpp
  base/base/ReadlineLineReader.h
  contrib/replxx-cmake/CMakeLists.txt
  contrib/unixodbc-cmake/linux_x86_64/private/config.h
  docker/packager/binary/Dockerfile
  docker/test/integration/base/Dockerfile
  docker/test/integration/runner/Dockerfile
  docker/test/testflows/runner/Dockerfile
  src/Client/ClientBase.cpp
  utils/ci/install-libraries.sh
  utils/ci/install-os-packages.sh
Labels: pr-build, submodule changed

#32579 Doc. fixed grammar
  docs/en/operations/tips.md
Labels: pr-documentation

#27822 Test for issue #26643
  src/Formats/ProtobufSchemas.cpp
  src/Formats/ProtobufSchemas.h
  tests/integration/test_storage_kafka/clickhouse_path/format_schemas/message_with_repeated.proto
  tests/integration/test_storage_kafka/message_with_repeated_pb2.py
  tests/integration/test_storage_kafka/test.py
Labels: doc-alert, pr-not-for-changelog

#32575 Improve quota's end-of-interval calculations.
  src/Access/EnabledQuota.cpp
  src/Access/EnabledQuota.h
  src/Access/QuotaCache.cpp
  src/Access/QuotaCache.h
Labels: pr-not-for-changelog

#32580 Remove arcadia build support
  .gitattributes
  programs/client/Client.cpp
  programs/keeper/Keeper.cpp
  programs/main.cpp
  programs/server/Server.cpp
  src/Disks/IO/AsynchronousReadIndirectBufferFromRemoteFS.h
  src/Disks/IO/ReadBufferFromRemoteFSGather.h
  src/Server/PostgreSQLHandler.h
  src/Server/PostgreSQLHandlerFactory.h
Labels: pr-not-for-changelog

#32583 [RFC] perf: do not fail in case of slow queries (to avoid hiding possible issues)
  docker/test/performance-comparison/perf.py
Labels: pr-not-for-changelog

#32578 remove unused headers in test
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-not-for-changelog

#32472 Update CHANGELOG.md
  CHANGELOG.md
Labels: pr-not-for-changelog, can be tested
