Repository ClickHouse/ClickHouse, pull requests merged in 2022-10, with the labels that each got.

#41970 Fix use_environment_credentials for s3 table function
  src/Storages/StorageS3Settings.h
  tests/integration/test_storage_s3/configs/use_environment_credentials.xml
  tests/integration/test_storage_s3/test.py
Labels: pr-bugfix, v22.9-must-backport

#41980 Remove confusing warning when perform_ttl_move_on_insert is false
  src/Disks/IDisk.h
  src/Disks/IStoragePolicy.h
  src/Disks/IVolume.h
  src/Disks/StoragePolicy.cpp
  src/Disks/StoragePolicy.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
Labels: pr-improvement

#41852 Fix parallel parsing: segmentator now checks max_block_size.
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/JSONUtils.cpp
  src/Formats/JSONUtils.h
  src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  src/Processors/Formats/Impl/CSVRowInputFormat.h
  src/Processors/Formats/Impl/HiveTextRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONCompactEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/ParallelParsingInputFormat.cpp
  src/Processors/Formats/Impl/ParallelParsingInputFormat.h
  src/Processors/Formats/Impl/RegexpRowInputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.cpp
  tests/queries/0_stateless/02455_one_row_from_csv_memory_usage.reference
  tests/queries/0_stateless/02455_one_row_from_csv_memory_usage.sh
  tests/queries/0_stateless/data_csv/10m_rows.csv.xz
Labels: pr-improvement

#41983 Support countState(*)
  src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  tests/queries/0_stateless/02455_count_state_asterisk.reference
  tests/queries/0_stateless/02455_count_state_asterisk.sql
Labels: pr-improvement

#41974 Enable lib base64 for powerpc platform
  contrib/base64-cmake/CMakeLists.txt
Labels: pr-build, submodule changed, can be tested

#41975 Add a warning message to release.py script, require release type
  tests/ci/release.py
Labels: do not test, pr-not-for-changelog, pr-must-backport

#41913 Fix Rust integration docs
  docs/en/development/integrating_rust_libraries.md
  docs/ru/development/integrating_rust_libraries.md
Labels: pr-documentation

#41984 Rename max_temp_data_on_disk -> max_temporary_data_on_disk
  src/Core/Settings.h
  src/Interpreters/ProcessList.cpp
Labels: pr-not-for-changelog

#41933 Fix broken test_disks_app_func
  tests/integration/test_disks_app_func/test.py
Labels: pr-not-for-changelog

#41996 Fix test 02403_big_http_chunk_size
  tests/queries/0_stateless/02403_big_http_chunk_size.python
Labels: pr-not-for-changelog

#41987 Preparation for Musl build, part 4
  cmake/target.cmake
  programs/CMakeLists.txt
  programs/main.cpp
  src/Interpreters/ApplyWithAliasVisitor.cpp
  src/Interpreters/ApplyWithGlobalVisitor.cpp
  src/Interpreters/ApplyWithSubqueryVisitor.cpp
  src/Interpreters/ApplyWithSubqueryVisitor.h
  src/Interpreters/InDepthNodeVisitor.h
  src/Interpreters/InJoinSubqueriesPreprocessor.cpp
  src/Interpreters/OptimizeIfChains.cpp
  src/Interpreters/OptimizeIfWithConstantConditionVisitor.cpp
  src/Interpreters/ReplaceQueryParameterVisitor.cpp
  src/Interpreters/RewriteCountVariantsVisitor.cpp
  src/Interpreters/TreeRewriter.cpp
Labels: pr-build

#41562 Refactor wiping sensitive information from logs.
  src/Interpreters/executeQuery.cpp
  src/Parsers/Access/ASTCreateUserQuery.cpp
  src/Parsers/Access/ASTCreateUserQuery.h
  src/Parsers/wipePasswordFromQuery.cpp
  src/Parsers/wipePasswordFromQuery.h
  tests/integration/test_mask_queries_in_logs/test.py
  tests/queries/0_stateless/01316_create_user_syntax_hilite.reference
Labels: pr-not-for-changelog

#42004 Remove useless code
  src/Client/ClientBase.h
  src/Common/ProgressIndication.cpp
  src/Common/ProgressIndication.h
Labels: pr-not-for-changelog

#41131 Support Java integers hashing in `javaHash`
  docs/en/sql-reference/functions/hash-functions.md
  src/Functions/FunctionsHashing.h
  tests/queries/0_stateless/00800_function_java_hash.reference
  tests/queries/0_stateless/00800_function_java_hash.sql
  tests/queries/0_stateless/00800_function_java_hash_with_unsigined_types.reference
  tests/queries/0_stateless/00800_function_java_hash_with_unsigined_types.sh
Labels: pr-feature, can be tested

#41702 Resolve findings from clang-tidy
  src/Columns/ColumnUnique.h
Labels: pr-not-for-changelog, can be tested

#42010 Refactoring: Uninline some error handling methods
  src/Functions/DateTimeTransforms.cpp
  src/Functions/DateTimeTransforms.h
  src/Functions/toStartOfInterval.cpp
Labels: pr-not-for-changelog

#42015 Improve gRPC client example
  docs/en/interfaces/grpc.md
Labels: pr-documentation

#42013 Fix warning that ENABLE_REPLXX is unused
  docker/test/fasttest/run.sh
Labels: pr-not-for-changelog

#41945 Enable some disabled S3 tests
  src/Interpreters/InterpreterOptimizeQuery.cpp
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MutateFromLogEntryTask.cpp
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_broken_part_during_merge/test.py
  tests/integration/test_lost_part/test.py
  tests/queries/0_stateless/00502_custom_partitioning_local.reference
  tests/queries/0_stateless/00502_custom_partitioning_local.sql
  tests/queries/0_stateless/00731_long_merge_tree_select_opened_files.sh
  tests/queries/0_stateless/01070_mutations_with_dependencies.sql
  tests/queries/0_stateless/01509_parallel_quorum_and_merge_long.sh
  tests/queries/0_stateless/01533_multiple_nested.sql
  tests/queries/0_stateless/02343_read_from_s3_compressed_blocks.sql
Labels: pr-not-for-changelog

#41949 Earlier throw exception in PullingAsyncPipelineExecutor.
  src/Processors/Executors/PullingAsyncPipelineExecutor.cpp
Labels: pr-not-for-changelog

#41410 Add MultiRead support in Keeper and internal ZK client
  src/Common/ZooKeeper/Types.h
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Common/ZooKeeper/ZooKeeperCommon.cpp
  src/Common/ZooKeeper/ZooKeeperCommon.h
  src/Common/ZooKeeper/ZooKeeperConstants.cpp
  src/Common/ZooKeeper/ZooKeeperConstants.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Coordination/KeeperConstants.h
  src/Coordination/KeeperStorage.cpp
  src/Interpreters/TransactionLog.cpp
  src/Interpreters/ZooKeeperLog.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageKeeperMap.cpp
Labels: pr-improvement

#41847 replace back clickhouse su with sudo -u in start command
  programs/install/Install.cpp
Labels: pr-improvement, can be tested, v22.6-must-backport

#41960 optimize insertFrom of ColumnAggregateFunction to share Aggregate State in some cases
  src/Columns/ColumnAggregateFunction.cpp
  src/Columns/ColumnAggregateFunction.h
  tests/performance/bitmap_array_element.xml
Labels: pr-performance

#42007 docs(statements): specify ON CLUSTER clause for CREATE ROLE
  docs/en/sql-reference/statements/create/role.md
  docs/en/sql-reference/statements/create/view.md
  docs/ru/sql-reference/statements/create/role.md
  docs/ru/sql-reference/statements/create/view.md
  docs/zh/sql-reference/statements/create/view.md
Labels: pr-documentation

#42001 More sane behavior of part number thresholds override in query level settings
  src/Core/Settings.h
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#41989 Fix "Cumulative sum" example in "Window functions"
  docs/en/sql-reference/window-functions/index.md
Labels: pr-documentation

#42018 Keeper retries during insert (polishing)
  src/Core/Settings.h
  src/Storages/MergeTree/KeeperAccess.h
  src/Storages/MergeTree/KeeperRetries.h
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.h
  tests/integration/test_inserts_with_keeper_retries/test.py
Labels: pr-not-for-changelog

#41792 Fix a bug that CORS headers are missing in some HTTP responses
  src/Server/HTTPHandler.cpp
  tests/queries/0_stateless/02029_test_options_requests.reference
  tests/queries/0_stateless/02029_test_options_requests.sh
Labels: pr-bugfix, can be tested

#41950 Fix linker error
  src/Daemon/CMakeLists.txt
Labels: pr-not-for-changelog, can be tested

#42014 Drop leftovers of libexecinfo
  src/CMakeLists.txt
  src/Daemon/CMakeLists.txt
Labels: pr-not-for-changelog

#42022 More detailed exception message
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#42050 Temporarily disable too aggressive tests
  tests/queries/0_stateless/02396_system_parts_race_condition_rm.sh
  tests/queries/0_stateless/02397_system_parts_race_condition_drop_rm.sh
Labels: pr-not-for-changelog

#42037 Added an option to specify environment name in Sentry's config
  docs/en/operations/server-configuration-parameters/settings.md
  docs/ru/operations/server-configuration-parameters/settings.md
  src/Daemon/SentryWriter.cpp
Labels: pr-improvement

#42053 Go live with doc updates
  docs/en/getting-started/example-datasets/_category_.yml
  docs/en/getting-started/example-datasets/cell-towers.md
  docs/en/getting-started/example-datasets/nyc-taxi.md
  docs/en/getting-started/example-datasets/uk-price-paid.md
  docs/en/getting-started/index.md
  docs/en/interfaces/cli.md
  docs/en/operations/clickhouse-keeper.md
  docs/en/operations/external-authenticators/index.md
  docs/en/operations/external-authenticators/kerberos.md
  docs/en/operations/external-authenticators/ldap.md
  docs/en/operations/external-authenticators/ssl-x509.md
  docs/en/operations/monitoring.md
  docs/en/operations/optimizing-performance/sampling-query-profiler.md
  docs/en/operations/performance-test.md
  docs/en/operations/server-configuration-parameters/index.md
  docs/en/operations/settings/index.md
  docs/en/operations/ssl-zookeeper.md
  docs/en/operations/tips.md
Labels: pr-documentation

#42025 Fix toDateTime64() for negative floats
  src/DataTypes/DataTypesDecimal.h
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/01691_DateTime64_clamp.reference
  tests/queries/0_stateless/01734_datetime64_from_float.reference
  tests/queries/0_stateless/01734_datetime64_from_float.sql
Labels: pr-bugfix

#42055 Fix style check
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-not-for-changelog

#42057 Add a link to the service in README
  README.md
Labels: pr-documentation

#41948 Fix non-deterministic test results
  tests/queries/0_stateless/00294_shard_enums.sql
  tests/queries/0_stateless/00405_PrettyCompactMonoBlock.sh
  tests/queries/0_stateless/00676_group_by_in.sql
  tests/queries/0_stateless/00688_low_cardinality_syntax.sql
  tests/queries/0_stateless/00829_bitmap64_function.sql
  tests/queries/0_stateless/00829_bitmap_function.sql
  tests/queries/0_stateless/01050_group_array_sample.sql
  tests/queries/0_stateless/01107_join_right_table_totals.sql
  tests/queries/0_stateless/01259_combinator_distinct.sql
  tests/queries/0_stateless/01356_state_resample.sql
  tests/queries/0_stateless/01441_array_combinator.sql
  tests/queries/0_stateless/01472_many_rows_in_totals.sql
  tests/queries/0_stateless/01660_system_parts_smoke.sql
  tests/queries/0_stateless/01780_column_sparse.reference
  tests/queries/0_stateless/01780_column_sparse.sql
  tests/queries/0_stateless/01956_fuse_quantile_optimization.reference
  tests/queries/0_stateless/01956_fuse_quantile_optimization.sql
Labels: pr-not-for-changelog

#42034 Fix write into AzureBlobStorage
  src/Disks/IO/WriteBufferFromAzureBlobStorage.cpp
  src/Disks/IO/WriteBufferFromAzureBlobStorage.h
  tests/integration/test_merge_tree_azure_blob_storage/test.py
Labels: pr-bugfix

#41206 Add function tryDecrypt that returns NULL when decrypt fail
  docs/en/sql-reference/functions/encryption-functions.md
  src/Functions/FunctionsAES.cpp
  src/Functions/FunctionsAES.h
  src/Functions/aes_decrypt_mysql.cpp
  src/Functions/decrypt.cpp
  src/Functions/tryDecrypt.cpp
  tests/queries/0_stateless/01318_decrypt.reference
  tests/queries/0_stateless/01318_decrypt.sql
Labels: pr-improvement, can be tested

#42020 Fix rankCorr size overflow
  src/AggregateFunctions/AggregateFunctionRankCorrelation.h
  tests/queries/0_stateless/02347_rank_corr_size_overflow.reference
  tests/queries/0_stateless/02347_rank_corr_size_overflow.sql
Labels: pr-improvement, can be tested

#42069 Doc. Some clarification about log_formatted_queries setting
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#40096 Add fuzzer for table definitions
  docker/test/fuzzer/allow-nullable-key.xml
  docker/test/fuzzer/run-fuzzer.sh
  programs/client/Client.cpp
  programs/client/Client.h
  src/Client/ClientBase.h
  src/Client/QueryFuzzer.cpp
  src/Client/QueryFuzzer.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
Labels: pr-not-for-changelog

#40668 Use settings from query context for async INSERTs
  programs/server/Server.cpp
  src/Core/Settings.h
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/AsynchronousInsertQueue.h
  src/Storages/System/StorageSystemAsynchronousInserts.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-improvement

#42041 Rewrite inefficient write to AzureBlobStorage
  src/Disks/IO/WriteBufferFromAzureBlobStorage.cpp
  src/Disks/IO/WriteBufferFromAzureBlobStorage.h
  tests/integration/test_merge_tree_azure_blob_storage/configs/config.d/storage_conf.xml
  tests/integration/test_merge_tree_azure_blob_storage/test.py
Labels: pr-performance

#42072 Fix assertion in bloom filter index
  src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.cpp
  tests/queries/0_stateless/02456_bloom_filter_assert.reference
  tests/queries/0_stateless/02456_bloom_filter_assert.sql.j2
Labels: pr-not-for-changelog

#40630 Support (EXPLAIN SELECT ...) as a subquery
  src/Parsers/ASTExplainQuery.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/ParserExplainQuery.cpp
  src/Parsers/ParserExplainQuery.h
  src/TableFunctions/TableFunctionExplain.cpp
  src/TableFunctions/TableFunctionExplain.h
  src/TableFunctions/registerTableFunctions.cpp
  src/TableFunctions/registerTableFunctions.h
  tests/queries/0_stateless/02421_explain_subquery.reference
  tests/queries/0_stateless/02421_explain_subquery.sql
Labels: pr-improvement

#41142 Changes to support the OpenSSL In-house build.
  CMakeLists.txt
  contrib/CMakeLists.txt
  contrib/krb5-cmake/CMakeLists.txt
  contrib/libpq-cmake/CMakeLists.txt
  programs/server/Server.cpp
  src/CMakeLists.txt
  src/Compression/CompressionFactory.cpp
  src/Core/config_core.h.in
  src/configure_config.cmake
Labels: pr-feature, st-discussion, submodule changed, can be tested

#42076 Ignore core.autocrlf for tests references
  .gitattributes
Labels: pr-not-for-changelog

#42084 Improve work of date time functions like toLastDayOfMonth on range boundaries
  src/Common/DateLUTImpl.h
  tests/queries/0_stateless/01921_datatype_date32.reference
  tests/queries/0_stateless/02251_last_day_of_month.reference
  tests/queries/0_stateless/02251_last_day_of_month.sql
Labels: pr-bugfix, can be tested

#42049 parseDataTimeBestEffort support comma between date and time
  src/IO/parseDateTimeBestEffort.cpp
  tests/queries/0_stateless/02457_parse_date_time_best_effort.reference
  tests/queries/0_stateless/02457_parse_date_time_best_effort.sql
Labels: pr-improvement

#41842 Better index analysis with NULL literal
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/01710_projections.reference
  tests/queries/0_stateless/02428_index_analysis_with_null_literal.reference
  tests/queries/0_stateless/02428_index_analysis_with_null_literal.sql
Labels: pr-improvement

#41813 Fix "While sending batch" error message is too long (on Distributed async send)
  src/Storages/Distributed/DirectoryMonitor.cpp
Labels: pr-bugfix, can be tested

#42065 remove unused virtual keyword
  src/Columns/ColumnString.h
Labels: pr-not-for-changelog, can be tested

#42067 Fix drop of completely dropped table
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#42040 Add system table `asynchronous_insert_log`
  programs/server/config.xml
  src/Common/DateLUT.h
  src/Common/SystemLogBase.cpp
  src/Common/SystemLogBase.h
  src/Interpreters/AsynchronousInsertLog.cpp
  src/Interpreters/AsynchronousInsertLog.h
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/AsynchronousInsertQueue.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/MetricLog.cpp
  src/Interpreters/PartLog.cpp
  src/Interpreters/SessionLog.cpp
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  src/Interpreters/ThreadStatusExt.cpp
  src/Interpreters/executeQuery.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/02456_async_inserts_logs.reference
  tests/queries/0_stateless/02456_async_inserts_logs.sh
Labels: pr-improvement

#42090 Fixed the restriction on maximum size of replicated fetches
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_limited_replicated_fetches/configs/custom_settings.xml
  tests/integration/test_limited_replicated_fetches/test.py
Labels: pr-bugfix

#42066 Fix crash in `SummingMergeTree` with `LowCardinality`
  src/Processors/Merges/Algorithms/SummingSortedAlgorithm.cpp
  tests/queries/0_stateless/02456_summing_mt_lc.reference
  tests/queries/0_stateless/02456_summing_mt_lc.sql
Labels: pr-not-for-changelog

#42071 Add new http compression methods
  docker/test/stateless/Dockerfile
  src/IO/CompressionMethod.cpp
  src/IO/CompressionMethod.h
  src/Server/HTTPHandler.cpp
  src/Server/StaticRequestHandler.cpp
  tests/queries/0_stateless/00302_http_compression.reference
  tests/queries/0_stateless/00302_http_compression.sh
Labels: pr-improvement

#41947 QOL log improvements
  src/Disks/DiskLocal.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/StoragePolicy.cpp
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog, can be tested

#42082 Add `at` to runner AMI, bump gh runner version
  tests/ci/worker/ubuntu_ami_for_ci.sh
Labels: do not test, pr-not-for-changelog

#42046 Fix bzip2 decoding issue
  src/IO/Bzip2ReadBuffer.cpp
  tests/queries/0_stateless/00302_http_compression.reference
  tests/queries/0_stateless/00302_http_compression.sh
  tests/queries/0_stateless/02457_bz2_concatenated.reference
  tests/queries/0_stateless/02457_bz2_concatenated.sh
Labels: pr-bugfix

#42091 Combine install doc and system requirements doc into one
  docs/en/getting-started/install.md
  docs/en/operations/requirements.md
Labels: pr-documentation, can be tested

#42124 add %z offset
  docs/ru/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#42132 Update codespell-ignore-words.list
  utils/check-style/codespell-ignore-words.list
Labels: pr-not-for-changelog, can be tested

#42079 Fix tag mismatch in sample users config
  docs/en/operations/settings/settings-users.md
Labels: pr-documentation, can be tested

#42129 Fix buffer resize with `remote_filesystem_read_method=read` + fs cache
  src/Disks/IO/AsynchronousReadIndirectBufferFromRemoteFS.cpp
  src/Disks/IO/AsynchronousReadIndirectBufferFromRemoteFS.h
  src/Disks/IO/ReadIndirectBufferFromRemoteFS.cpp
  src/Disks/IO/ReadIndirectBufferFromRemoteFS.h
Labels: pr-bugfix

#42073 Minor fixes for BLAKE3
  src/Functions/FunctionsHashing.cpp
  src/Functions/FunctionsHashing.h
  tests/performance/cryptographic_hashes.xml
  tests/queries/0_stateless/02456_BLAKE3_hash_function_test.sql
Labels: pr-improvement

#42148 Update README.md
  README.md
Labels: pr-documentation

#42086 Docs: Preparations to remove misc statements page
  docs/en/operations/settings/settings.md
  docs/en/operations/system-tables/columns.md
  docs/en/sql-reference/statements/alter/column.md
  docs/en/sql-reference/statements/alter/index.md
  docs/en/sql-reference/statements/alter/partition.md
  docs/en/sql-reference/statements/grant.md
  docs/ru/getting-started/tutorial.md
  docs/ru/operations/access-rights.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/system-tables/columns.md
  docs/ru/sql-reference/index.md
  docs/ru/sql-reference/statements/alter/column.md
  docs/ru/sql-reference/statements/create/role.md
  docs/ru/sql-reference/statements/grant.md
Labels: pr-not-for-changelog

#42150 Revert "Resurrect parallel distributed insert select with s3Cluster
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Storages/HDFS/StorageHDFSCluster.cpp
  src/Storages/HDFS/StorageHDFSCluster.h
  src/Storages/IStorageCluster.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  src/Storages/StorageS3Cluster.cpp
  src/Storages/StorageS3Cluster.h
  tests/integration/test_s3_cluster/configs/cluster.xml
  tests/integration/test_s3_cluster/test.py
Labels: pr-not-for-changelog

#42152 Docs: Add "TABLE" to CHECK/DESCRIBE statements in sidebar
  docs/en/sql-reference/statements/check-table.md
  docs/en/sql-reference/statements/describe-table.md
  docs/ru/sql-reference/statements/check-table.md
  docs/ru/sql-reference/statements/describe-table.md
Labels: pr-not-for-changelog

#41908 Don't report TABLE_IS_DROPPED exception in order to skip table in case is was just dropped
  src/Backups/BackupEntriesCollector.cpp
  src/Storages/IStorage.cpp
  src/Storages/IStorage.h
  src/Storages/System/StorageSystemColumns.cpp
  src/Storages/System/StorageSystemPartsBase.cpp
  src/Storages/System/StorageSystemTables.cpp
Labels: pr-improvement, can be tested

#42136 Revert #27787
  src/Storages/AlterCommands.cpp
  tests/queries/0_stateless/02456_alter-nullable-column-bag-2.reference
  tests/queries/0_stateless/02456_alter-nullable-column-bag-2.sql
  tests/queries/0_stateless/02456_alter-nullable-column-bag.reference
  tests/queries/0_stateless/02456_alter-nullable-column-bag.sql
Labels: pr-not-for-changelog, pr-must-backport

#42146 Fix reusing of files > 4GB from base backup
  src/Backups/BackupImpl.cpp
  src/Backups/BackupImpl.h
  tests/integration/test_backup_restore_new/test.py
Labels: pr-bugfix, pr-must-backport

#42144 Follow up for #42129
  src/Disks/IO/ReadIndirectBufferFromRemoteFS.cpp
Labels: pr-not-for-changelog

#42147 Fix checking parent for old-format parts
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog, blob hunter

#42173 Remove TEMPORARY LIVE VIEW
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/statements/create/view.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/statements/create/view.md
  docs/zh/sql-reference/statements/create/view.md
  src/Core/Defines.h
  src/Core/Settings.h
  src/Interpreters/DatabaseCatalog.cpp
  src/Parsers/ASTCreateQuery.cpp
  src/Parsers/ASTCreateQuery.h
  src/Parsers/ParserCreateQuery.cpp
  src/Storages/LiveView/StorageLiveView.cpp
  src/Storages/LiveView/StorageLiveView.h
  src/Storages/LiveView/TemporaryLiveViewCleaner.cpp
  src/Storages/LiveView/TemporaryLiveViewCleaner.h
  tests/queries/0_stateless/00961_temporary_live_view_watch.reference
  tests/queries/0_stateless/00961_temporary_live_view_watch.sql
  tests/queries/0_stateless/00962_live_view_periodic_refresh_and_timeout.py
  tests/queries/0_stateless/00962_temporary_live_view_watch_live.py
  tests/queries/0_stateless/00962_temporary_live_view_watch_live.reference
  tests/queries/0_stateless/00963_temporary_live_view_watch_live_timeout.reference
  tests/queries/0_stateless/00964_live_view_watch_events_heartbeat.py
  tests/queries/0_stateless/00965_live_view_watch_heartbeat.py
  tests/queries/0_stateless/00980_create_temporary_live_view.reference
  tests/queries/0_stateless/00980_create_temporary_live_view.sql
  tests/queries/0_stateless/00991_temporary_live_view_watch_events_heartbeat.python
  tests/queries/0_stateless/00991_temporary_live_view_watch_events_heartbeat.reference
  tests/queries/0_stateless/00991_temporary_live_view_watch_live.python
  tests/queries/0_stateless/00991_temporary_live_view_watch_live.reference
Labels: pr-backward-incompatible

#42180 Make thread ids in the process list and query_log unique to avoid waste
  src/Common/ThreadStatus.h
  src/Interpreters/ProcessList.cpp
  src/Interpreters/ThreadStatusExt.cpp
Labels: pr-performance

#42002 Relax "too many parts" threshold
  src/Interpreters/AsynchronousMetrics.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeSettings.h
  tests/queries/0_stateless/02458_relax_too_many_parts.reference
  tests/queries/0_stateless/02458_relax_too_many_parts.sql
Labels: pr-performance

#42128 Fix build without TSA
  base/base/defines.h
Labels: pr-not-for-changelog

#41921 remove unused code
  src/Columns/ColumnAggregateFunction.cpp
Labels: pr-not-for-changelog

#42196 Fix dialect setting description
  src/Core/Settings.h
Labels: pr-not-for-changelog

#42063 Function name normalization fix functions header
  .clang-tidy
  src/AggregateFunctions/AggregateFunctionFactory.h
  src/Functions/FunctionFactory.h
  src/Interpreters/FunctionNameNormalizer.cpp
Labels: pr-not-for-changelog, can be tested

#42163 Add logging during merge tree startup
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#42186 Fix: DISTINCT in order fails with LOGICAL_ERROR
  src/Processors/QueryPlan/Optimizations/distinctReadInOrder.cpp
  tests/queries/0_stateless/02317_distinct_in_order_optimization.reference
  tests/queries/0_stateless/02317_distinct_in_order_optimization.sql
Labels: pr-bugfix

#42081 Adding cron config checking before running sed cmd
  packages/clickhouse-server.init
Labels: pr-build, can be tested

#42220 Update safeExit.cpp
  base/base/safeExit.cpp
Labels: pr-not-for-changelog

#42216 Fix LLVM build
  contrib/llvm-project-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#42078 Fix progress for INSERT SELECT
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Interpreters/executeQuery.cpp
  src/Server/TCPHandler.cpp
  tests/queries/0_stateless/02457_insert_select_progress_http.reference
  tests/queries/0_stateless/02457_insert_select_progress_http.sh
  tests/queries/0_stateless/02458_insert_select_progress_tcp.python
  tests/queries/0_stateless/02458_insert_select_progress_tcp.reference
  tests/queries/0_stateless/02458_insert_select_progress_tcp.sh
Labels: pr-not-for-changelog

#42135 Add null pointer checks
  src/Interpreters/InterpreterCreateQuery.cpp
Labels: pr-not-for-changelog, can be tested

#42253 remove useless code
  src/Storages/StorageInMemoryMetadata.h
Labels: pr-not-for-changelog

#42187 Add support for keyword DEFAULT in the set query
  src/Client/ClientBase.cpp
  src/Core/Settings.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSetQuery.cpp
  src/Parsers/ASTSetQuery.cpp
  src/Parsers/ASTSetQuery.h
  src/Parsers/ParserSetQuery.cpp
  src/Parsers/ParserSetQuery.h
  tests/queries/0_stateless/02458_default_setting.reference
  tests/queries/0_stateless/02458_default_setting.sql
Labels: pr-not-for-changelog, can be tested

#41544 add a function to process decimal type comparing with floating point literal in IN operator
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/convertFieldToType.cpp
  tests/queries/0_stateless/02428_decimal_in_floating_point_literal.reference
  tests/queries/0_stateless/02428_decimal_in_floating_point_literal.sql
Labels: pr-improvement, can be tested

#42106 Fixes for loading dependencies
  src/Databases/DDLDependencyVisitor.cpp
  src/Databases/DDLDependencyVisitor.h
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterDropQuery.cpp
  tests/queries/0_stateless/01018_ddl_dictionaries_create.reference
  tests/queries/0_stateless/01110_dictionary_layout_without_arguments.reference
  tests/queries/0_stateless/01190_full_attach_syntax.reference
  tests/queries/0_stateless/01192_rename_database_zookeeper.reference
  tests/queries/0_stateless/01224_no_superfluous_dict_reload.reference
  tests/queries/0_stateless/01509_dictionary_preallocate.reference
  tests/queries/0_stateless/01747_join_view_filter_dictionary.sql
  tests/queries/0_stateless/02024_create_dictionary_with_comment.reference
  tests/queries/0_stateless/02449_check_dependencies_and_table_shutdown.reference
  tests/queries/0_stateless/02449_check_dependencies_and_table_shutdown.sql
Labels: pr-bugfix

#42266 assert unused value in test_replicated_merge_tree_compatibility
  tests/integration/test_replicated_merge_tree_compatibility/test.py
Labels: pr-not-for-changelog

#42235 Add a test for #2389
  tests/queries/0_stateless/02459_materialized_view_default_value.reference
  tests/queries/0_stateless/02459_materialized_view_default_value.sql
Labels: pr-not-for-changelog

#42312 Doc: add zh translation
  docs/zh/getting-started/example-datasets/uk-price-paid.mdx
Labels: pr-documentation, can be tested

#42315 Fix bad copy & paste when loading background_merges_mutations_concurrency_ratio setting
  src/Interpreters/Context.cpp
Labels: pr-bugfix

#42313 Remove forgotten debug logging
  src/Interpreters/executeQuery.cpp
Labels: pr-not-for-changelog

#41703 Add setting to obtain object name as column value in JSONObjectEachRow format
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.h
  src/Processors/Formats/Impl/JSONObjectEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONObjectEachRowRowInputFormat.h
  src/Processors/Formats/Impl/JSONObjectEachRowRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONObjectEachRowRowOutputFormat.h
  tests/queries/0_stateless/02454_json_object_each_row_column_for_object_name.reference
  tests/queries/0_stateless/02454_json_object_each_row_column_for_object_name.sql
Labels: pr-feature

#42302 Fix log-level in `clickhouse-disks`
  programs/disks/DisksApp.cpp
Labels: pr-not-for-changelog

#42275 Docs: Add "node-clickhouse-orm" to the client-libraries.md
  docs/en/interfaces/third-party/client-libraries.md
  docs/ru/interfaces/third-party/client-libraries.md
  docs/zh/interfaces/third-party/client-libraries.md
Labels: pr-documentation, can be tested

#42263 Refactor the implementation of user-defined functions
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/CMakeLists.txt
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Functions/UserDefined/ExternalUserDefinedExecutableFunctionsLoader.cpp
  src/Functions/UserDefined/ExternalUserDefinedExecutableFunctionsLoader.h
  src/Functions/UserDefined/IUserDefinedSQLObjectsLoader.h
  src/Functions/UserDefined/UserDefinedExecutableFunction.cpp
  src/Functions/UserDefined/UserDefinedExecutableFunction.h
  src/Functions/UserDefined/UserDefinedExecutableFunctionFactory.cpp
  src/Functions/UserDefined/UserDefinedExecutableFunctionFactory.h
  src/Functions/UserDefined/UserDefinedSQLFunctionFactory.cpp
  src/Functions/UserDefined/UserDefinedSQLFunctionFactory.h
  src/Functions/UserDefined/UserDefinedSQLFunctionVisitor.cpp
  src/Functions/UserDefined/UserDefinedSQLFunctionVisitor.h
  src/Functions/UserDefined/UserDefinedSQLObjectType.h
  src/Functions/UserDefined/UserDefinedSQLObjectsBackup.cpp
  src/Functions/UserDefined/UserDefinedSQLObjectsBackup.h
  src/Functions/UserDefined/UserDefinedSQLObjectsLoaderFromDisk.cpp
  src/Functions/UserDefined/UserDefinedSQLObjectsLoaderFromDisk.h
  src/Functions/UserDefined/createUserDefinedSQLObjectsLoader.cpp
  src/Functions/UserDefined/createUserDefinedSQLObjectsLoader.h
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterCreateFunctionQuery.cpp
  src/Interpreters/InterpreterCreateFunctionQuery.h
  src/Interpreters/InterpreterDropFunctionQuery.cpp
  src/Interpreters/InterpreterFactory.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/TreeOptimizer.cpp
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/UserDefinedSQLFunctionFactory.cpp
  src/Interpreters/UserDefinedSQLFunctionFactory.h
  src/Interpreters/UserDefinedSQLObjectsLoader.cpp
  src/Interpreters/UserDefinedSQLObjectsLoader.h
  src/Storages/System/StorageSystemFunctions.cpp
Labels: pr-not-for-changelog

#38519 Added fuzzer for WHERE and more cases in GROUP BY
  src/Client/QueryFuzzer.cpp
  src/Client/QueryFuzzer.h
Labels: pr-build

#42321 Increase request_timeout_ms for s3 disks.
  src/Disks/ObjectStorages/S3/diskSettings.cpp
Labels: pr-improvement, can be tested

#42314 Fix Codec T64 on s390x
  src/Compression/CompressionCodecT64.cpp
Labels: pr-build, can be tested

#42222 Disable concurrent parts removal
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/01810_max_part_removal_threads_long.sh
Labels: pr-not-for-changelog

#42364 getting-started/example-datasets/brown-benchmark translation
  docs/zh/getting-started/example-datasets/brown-benchmark.mdx
Labels: can be tested

#42236 Fix read from buffer with read in order
  src/Storages/StorageBuffer.cpp
  tests/queries/0_stateless/02459_read_in_order_bufer.reference
  tests/queries/0_stateless/02459_read_in_order_bufer.sql
Labels: pr-bugfix, can be tested

#41877 Fix 02267_file_globs_schema_inference.sql flakiness
  tests/queries/0_stateless/02267_file_globs_schema_inference.reference
  tests/queries/0_stateless/02267_file_globs_schema_inference.sh
  tests/queries/0_stateless/02267_file_globs_schema_inference.sql
Labels: pr-not-for-changelog

#41198 Composable protocol
  programs/server/Server.cpp
  programs/server/Server.h
  src/Functions/FunctionShowCertificate.h
  src/Interpreters/ClientInfo.h
  src/Interpreters/Session.cpp
  src/Interpreters/Session.h
  src/Server/ProxyV1Handler.cpp
  src/Server/ProxyV1Handler.h
  src/Server/ProxyV1HandlerFactory.h
  src/Server/TCPHandler.cpp
  src/Server/TCPHandler.h
  src/Server/TCPHandlerFactory.h
  src/Server/TCPProtocolStackData.h
  src/Server/TCPProtocolStackFactory.h
  src/Server/TCPProtocolStackHandler.h
  src/Server/TCPServerConnectionFactory.h
  src/Server/TLSHandler.h
  src/Server/TLSHandlerFactory.h
  tests/integration/helpers/client.py
  tests/integration/test_composable_protocols/__init__.py
  tests/integration/test_composable_protocols/configs/client.xml
  tests/integration/test_composable_protocols/configs/config.xml
  tests/integration/test_composable_protocols/configs/server.crt
  tests/integration/test_composable_protocols/configs/server.key
  tests/integration/test_composable_protocols/configs/users.xml
  tests/integration/test_composable_protocols/test.py
Labels: pr-feature

#42325 go update for diagnostics tool
  programs/diagnostics/go.mod
  programs/diagnostics/go.sum
Labels: pr-not-for-changelog, can be tested

#42223 Fail fast on empty URL in HDFS
  src/Storages/HDFS/StorageHDFS.cpp
  tests/queries/0_stateless/02458_empty_hdfs_url.reference
  tests/queries/0_stateless/02458_empty_hdfs_url.sql
Labels: pr-not-for-changelog

#42409 Fix formatting of `ALTER FREEZE`
  src/Parsers/ASTAlterQuery.cpp
Labels: pr-not-for-changelog

#42317 Fix another trash in zero-copy replication
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#42392 Smaller threshold for multipart upload part size increase
  src/Core/Settings.h
Labels: pr-not-for-changelog

#42407 Fix assert cast in join on falsy condition
  src/Interpreters/HashJoin.cpp
  tests/queries/0_stateless/02461_join_lc_issue_42380.reference
  tests/queries/0_stateless/02461_join_lc_issue_42380.sql
Labels: pr-bugfix

#42342 Choose correct aggregation method for lc128 and lc256
  src/Interpreters/Aggregator.cpp
  tests/queries/0_stateless/02459_low_cardinality_uint128_aggregator.reference
  tests/queries/0_stateless/02459_low_cardinality_uint128_aggregator.sql
Labels: pr-bugfix, pr-must-backport, can be tested

#42217 Exclude comments from style-check defined extern
  src/Functions/throwIf.cpp
  src/Processors/Transforms/ArrayJoinTransform.cpp
  utils/check-style/check-style
Labels: pr-not-for-changelog

#42211 use alias for MergeMutateSelectedEntry share ptr
  src/Storages/MergeTree/MergePlainMergeTreeTask.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
Labels: pr-not-for-changelog, can be tested

#42143 Fixed a logical error in case of using `runningDifference` with `Date32` types
  src/Functions/runningDifference.h
  tests/queries/0_stateless/00653_running_difference.reference
  tests/queries/0_stateless/00653_running_difference.sql
Labels: pr-bugfix, can be tested

#42413 Replace table name in ast fuzzer more often
  src/Client/QueryFuzzer.cpp
Labels: pr-not-for-changelog

#42131 Added aggregate function `analysisOfVariance` (`anova`). Merging #37872
  src/AggregateFunctions/AggregateFunctionAnalysisOfVariance.cpp
  src/AggregateFunctions/AggregateFunctionAnalysisOfVariance.h
  src/AggregateFunctions/Moments.h
  src/AggregateFunctions/registerAggregateFunctions.cpp
  tests/queries/0_stateless/02294_anova_cmp.python
  tests/queries/0_stateless/02294_anova_cmp.reference
  tests/queries/0_stateless/02294_anova_cmp.sh
Labels: pr-not-for-changelog

#41912 Improve DateTime type inference for text formats
  src/Formats/EscapingRuleUtils.cpp
  tests/queries/0_stateless/02456_datetime_schema_inference.reference
  tests/queries/0_stateless/02456_datetime_schema_inference.sql
Labels: pr-improvement

#41107 Support all combinators combination in WindowTransform/arratReduce*/initializeAggregation/aggregate functions versioning
  src/AggregateFunctions/AggregateFunctionArray.h
  src/AggregateFunctions/AggregateFunctionDistinct.h
  src/AggregateFunctions/AggregateFunctionForEach.h
  src/AggregateFunctions/AggregateFunctionIf.h
  src/AggregateFunctions/AggregateFunctionMap.h
  src/AggregateFunctions/AggregateFunctionNull.h
  src/AggregateFunctions/AggregateFunctionOrFill.h
  src/AggregateFunctions/AggregateFunctionResample.h
  src/AggregateFunctions/AggregateFunctionState.h
  src/AggregateFunctions/IAggregateFunction.h
  src/DataTypes/DataTypeAggregateFunction.cpp
  src/DataTypes/DataTypeAggregateFunction.h
  src/DataTypes/transformTypesRecursively.cpp
  src/DataTypes/transformTypesRecursively.h
  src/Formats/NativeReader.cpp
  src/Formats/NativeWriter.cpp
  src/Functions/array/arrayReduce.cpp
  src/Functions/array/arrayReduceInRanges.cpp
  src/Functions/initializeAggregation.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Processors/Transforms/WindowTransform.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  tests/queries/0_stateless/02428_combinators_with_over_statement.reference
  tests/queries/0_stateless/02428_combinators_with_over_statement.sql
  tests/queries/0_stateless/02429_combinators_in_array_reduce.reference
  tests/queries/0_stateless/02429_combinators_in_array_reduce.sql
  tests/queries/0_stateless/02430_initialize_aggregation_with_combinators.reference
  tests/queries/0_stateless/02430_initialize_aggregation_with_combinators.sql
Labels: pr-improvement

#41885 Better exception message for duplicate column names in schema inference
  src/Processors/Formats/ISchemaReader.cpp
  tests/queries/0_stateless/02455_duplicate_column_names_in_schema_inference.reference
  tests/queries/0_stateless/02455_duplicate_column_names_in_schema_inference.sql
Labels: pr-not-for-changelog

#42415 zh-CN translation for gettting-started/example-datasets
  docs/zh/getting-started/example-datasets/cell-towers.mdx
  docs/zh/getting-started/example-datasets/menus.mdx
Labels: pr-documentation, can be tested

#42405 Fix link to blog
  README.md
Labels: pr-documentation, can be tested

#42449 fix broken links and wrong colon char
  docs/zh/getting-started/example-datasets/menus.mdx
  docs/zh/getting-started/example-datasets/uk-price-paid.mdx
Labels: pr-documentation, can be tested

#42455 Remove code browser docs
  docs/en/development/browse-code.md
  docs/ru/development/browse-code.md
  docs/zh/development/browse-code.md
Labels: pr-not-for-changelog, can be tested

#42446 zh-CN translation for getting-started/example-datasets
  docs/zh/getting-started/example-datasets/opensky.mdx
  docs/zh/getting-started/example-datasets/recipes.mdx
Labels: pr-documentation, can be tested

#42448 Update woboq_codebrowser location
  docker/test/codebrowser/Dockerfile
Labels: pr-not-for-changelog

#42443 Fix typos in FileSegment code documentation and sync exception text with source code
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/FileSegment.h
Labels: pr-documentation, can be tested

#42044 Fix Date from CSV parsing
  src/DataTypes/Serializations/SerializationDate.cpp
  src/IO/ReadHelpers.h
  tests/queries/0_stateless/02457_csv_parse_date_out_of_range.reference
  tests/queries/0_stateless/02457_csv_parse_date_out_of_range.sh
Labels: pr-improvement, can be tested

#42333 Implement backup to S3
  src/Backups/BackupFactory.cpp
  src/Backups/BackupIO_S3.cpp
  src/Backups/BackupIO_S3.h
  src/Backups/BackupImpl.cpp
  src/Backups/registerBackupEngineS3.cpp
  src/Disks/DiskDecorator.cpp
  src/Disks/DiskDecorator.h
  src/Disks/IDisk.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  tests/integration/test_backup_restore_s3/configs/disk_s3.xml
  tests/integration/test_backup_restore_s3/configs/named_collection_s3_backups.xml
  tests/integration/test_backup_restore_s3/configs/storage_conf.xml
  tests/integration/test_backup_restore_s3/test.py
Labels: pr-improvement

#42442 Revert "Revert #27787"
  src/Storages/AlterCommands.cpp
Labels: pr-not-for-changelog

#42481 Mark 22.8 as LTS and unify format
  CHANGELOG.md
Labels: can be tested

#41854 tests: fix debug symbols (and possible crashes) for backward compatiblity check
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#42322 Fix additional_table_filters for Distributed.
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/ClusterProxy/executeQuery.h
  src/Storages/getStructureOfRemoteTable.cpp
  tests/queries/0_stateless/02346_additional_filters.reference
  tests/queries/0_stateless/02346_additional_filters.sql
  tests/queries/0_stateless/02346_additional_filters_distr.reference
  tests/queries/0_stateless/02346_additional_filters_distr.sql
  tests/queries/0_stateless/02346_additional_filters_index.reference
  tests/queries/0_stateless/02346_additional_filters_index.sql
Labels: pr-bugfix, pr-must-backport

#42130 Fix possible timeout exception for distributed queries with use_hedged_requests=0
  src/Client/MultiplexedConnections.cpp
  tests/queries/0_stateless/02466_distributed_query_profiler.reference
  tests/queries/0_stateless/02466_distributed_query_profiler.sql
Labels: pr-bugfix

#42457 Better workaround for emitting .debug_aranges section
  cmake/ld.lld.in
Labels: pr-not-for-changelog

#42243 Use MultiRead where possible
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/StorageKeeperMap.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_replicated_merge_tree_with_auxiliary_zookeepers/test.py
Labels: pr-not-for-changelog

#42473 Use correct type for `UInt128` in `AggregateFunctionQuantile`
  src/AggregateFunctions/AggregateFunctionQuantile.cpp
  src/AggregateFunctions/AggregateFunctionQuantileDeterministic.cpp
  src/AggregateFunctions/AggregateFunctionQuantileExact.cpp
  src/AggregateFunctions/AggregateFunctionQuantileExactWeighted.cpp
Labels: pr-not-for-changelog

#41342 Upload Keeper snapshots to S3
  programs/keeper/CMakeLists.txt
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperDispatcher.h
  src/Coordination/KeeperServer.cpp
  src/Coordination/KeeperServer.h
  src/Coordination/KeeperSnapshotManager.h
  src/Coordination/KeeperSnapshotManagerS3.cpp
  src/Coordination/KeeperSnapshotManagerS3.h
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/KeeperStateMachine.h
  src/Coordination/tests/gtest_coordination.cpp
  src/IO/S3/PocoHTTPClient.h
  src/IO/S3Common.cpp
  src/IO/S3Common.h
  src/Storages/ExternalDataSourceConfiguration.h
  src/Storages/StorageS3.h
  src/Storages/StorageS3Settings.cpp
  src/Storages/StorageS3Settings.h
  tests/integration/test_keeper_s3_snapshot/__init__.py
  tests/integration/test_keeper_s3_snapshot/configs/keeper_config1.xml
  tests/integration/test_keeper_s3_snapshot/configs/keeper_config2.xml
  tests/integration/test_keeper_s3_snapshot/configs/keeper_config3.xml
  tests/integration/test_keeper_s3_snapshot/test.py
  utils/keeper-data-dumper/main.cpp
Labels: pr-improvement

#42472 rename filesystem_query_cache
  tests/queries/0_stateless/02240_filesystem_query_cache.reference
  tests/queries/0_stateless/02240_filesystem_query_cache.sql
Labels: pr-not-for-changelog, can be tested

#42487 Fix logical error from welchTTest
  src/AggregateFunctions/AggregateFunctionWelchTTest.cpp
  tests/queries/0_stateless/02461_welch_t_test_fuzz.reference
  tests/queries/0_stateless/02461_welch_t_test_fuzz.sql
Labels: pr-not-for-changelog

#42406 Better error message for unsupported delimiters in custom formats
  src/Formats/EscapingRuleUtils.cpp
  src/Formats/EscapingRuleUtils.h
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.cpp
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.h
  src/Processors/Formats/Impl/TemplateRowInputFormat.cpp
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.h
  tests/queries/0_stateless/00938_template_input_format.reference
  tests/queries/0_stateless/00938_template_input_format.sh
  tests/queries/0_stateless/01014_format_custom_separated.reference
  tests/queries/0_stateless/01014_format_custom_separated.sh
Labels: pr-not-for-changelog

#42134 Improve lost replica recovery (ReplicatedMergeTree)
  src/Interpreters/DDLWorker.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/clickhouse-test
  tests/queries/0_stateless/02448_clone_replica_lost_part.reference
  tests/queries/0_stateless/02448_clone_replica_lost_part.sql
Labels: pr-improvement

#42485 Fix bad_cast in Annoy index
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  src/Storages/MergeTree/MergeTreeIndexAnnoy.cpp
  src/Storages/MergeTree/MergeTreeIndexAnnoy.h
  tests/queries/0_stateless/02354_annoy.sql
Labels: pr-bugfix
