Repository ClickHouse/ClickHouse, pull requests merged in 2022-12, with the labels that each got.

#43835 Increase some logging level for keeper client.
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
Labels: pr-not-for-changelog

#43824 Fix multipart upload for large S3 object
  src/Backups/BackupIO_S3.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
Labels: pr-bugfix, can be tested

#43087 Add support for embedded Prometheus endpoint in Keeper
  programs/keeper/CMakeLists.txt
  programs/keeper/Keeper.cpp
  programs/keeper/Keeper.h
  programs/server/MetricsTransmitter.cpp
  programs/server/Server.cpp
  programs/server/Server.h
  src/Bridge/IBridge.cpp
  src/Common/AsynchronousMetrics.cpp
  src/Common/AsynchronousMetrics.h
  src/Common/ProfileEvents.cpp
  src/Coordination/KeeperAsynchronousMetrics.cpp
  src/Coordination/KeeperAsynchronousMetrics.h
  src/Coordination/KeeperStorage.cpp
  src/Coordination/TinyContext.cpp
  src/Coordination/TinyContext.h
  src/Interpreters/AsynchronousMetricLog.cpp
  src/Interpreters/AsynchronousMetricLog.h
  src/Interpreters/Context.h
  src/Interpreters/ServerAsynchronousMetrics.cpp
  src/Interpreters/ServerAsynchronousMetrics.h
  src/Server/HTTP/HTTPContext.h
  src/Server/HTTP/HTTPServer.cpp
  src/Server/HTTP/HTTPServer.h
  src/Server/HTTP/HTTPServerConnection.cpp
  src/Server/HTTP/HTTPServerConnection.h
  src/Server/HTTP/HTTPServerConnectionFactory.cpp
  src/Server/HTTP/HTTPServerConnectionFactory.h
  src/Server/HTTP/HTTPServerRequest.cpp
  src/Server/HTTP/HTTPServerRequest.h
  src/Server/HTTPHandlerFactory.cpp
  src/Server/HTTPHandlerFactory.h
  src/Server/HTTPRequestHandlerFactoryMain.cpp
  src/Server/HTTPRequestHandlerFactoryMain.h
  src/Server/PrometheusMetricsWriter.h
  src/Server/PrometheusRequestHandler.cpp
  src/Storages/System/StorageSystemAsynchronousMetrics.cpp
Labels: pr-feature

#43274 Fix functions arrayFirstOrNull and arrayLastOrNull or null when array is Nullable
  src/Functions/array/arrayFirstLast.cpp
  tests/queries/0_stateless/02241_array_first_last_or_null.reference
  tests/queries/0_stateless/02241_array_first_last_or_null.sql
Labels: pr-bugfix, can be tested

#43845 Followup fixes for XML helpers
  src/Common/XMLUtils.cpp
  src/Common/XMLUtils.h
Labels: pr-not-for-changelog

#43457 Temporary files evict fs cache
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Common/filesystemHelpers.cpp
  src/Common/filesystemHelpers.h
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskWriteBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskWriteBufferFromFile.h
  src/Disks/IO/FileCachePlaceholder.cpp
  src/Disks/IO/FileCachePlaceholder.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Disks/TemporaryFileInPath.cpp
  src/Disks/TemporaryFileInPath.h
  src/Disks/TemporaryFileOnDisk.cpp
  src/Disks/TemporaryFileOnDisk.h
  src/Formats/NativeWriter.cpp
  src/Formats/NativeWriter.h
  src/IO/WriteBufferFromTemporaryFile.cpp
  src/IO/WriteBufferFromTemporaryFile.h
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/FileCacheFactory.cpp
  src/Interpreters/Cache/FileCacheFactory.h
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/FileSegment.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/TemporaryDataOnDisk.cpp
  src/Interpreters/TemporaryDataOnDisk.h
  src/Interpreters/tests/gtest_lru_file_cache.cpp
  src/Storages/MergeTree/MergeTask.h
  src/Storages/System/StorageSystemFilesystemCache.cpp
  tests/integration/test_temporary_data_in_cache/__init__.py
  tests/integration/test_temporary_data_in_cache/configs/config.d/storage_configuration.xml
  tests/integration/test_temporary_data_in_cache/test.py
  tests/integration/test_tmp_policy/test.py
Labels: pr-feature

#43530 Sync everything to persistent storage to avoid writeback affects perf tests
  docker/test/performance-comparison/perf.py
Labels: pr-not-for-changelog

#43764 Fix bug with projections and zero-copy replication
  src/Storages/MergeTree/DataPartStorageOnDisk.cpp
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MutateTask.cpp
  tests/queries/0_stateless/02494_zero_copy_and_projection_and_mutation_work_together.reference
  tests/queries/0_stateless/02494_zero_copy_and_projection_and_mutation_work_together.sql
Labels: pr-bugfix

#43628 Try to use exchanges during database replicated replica recovery process
  src/Databases/DatabaseReplicated.cpp
  tests/integration/test_replicated_database/test.py
Labels: pr-bugfix

#43861 Change email for robot-clickhouse to immutable one
  docs/tools/release.sh
  tests/ci/cherry_pick.py
  tests/ci/style_check.py
Labels: do not test, pr-not-for-changelog

#43132 Enable strict typing check in tests/ci
  docker/test/style/Dockerfile
  docker/test/style/process_style_check_result.py
  docker/test/style/run.sh
  tests/ci/.mypy.ini
  tests/ci/build_check.py
  tests/ci/build_download_helper.py
  tests/ci/build_report_check.py
  tests/ci/cancel_and_rerun_workflow_lambda/__init__.py
  tests/ci/cancel_and_rerun_workflow_lambda/app.py
  tests/ci/cherry_pick.py
  tests/ci/ci_runners_metrics_lambda/app.py
  tests/ci/codebrowser_check.py
  tests/ci/commit_status_helper.py
  tests/ci/docker_images_check.py
  tests/ci/docker_manifests_merge.py
  tests/ci/docker_pull_helper.py
  tests/ci/docker_test.py
  tests/ci/fast_test_check.py
  tests/ci/finish_check.py
  tests/ci/functional_test_check.py
  tests/ci/get_previous_release_tag.py
  tests/ci/get_robot_token.py
  tests/ci/git_helper.py
  tests/ci/github_helper.py
  tests/ci/integration_test_check.py
  tests/ci/jepsen_check.py
  tests/ci/pr_info.py
  tests/ci/push_to_artifactory.py
  tests/ci/release.py
  tests/ci/report.py
  tests/ci/run_check.py
  tests/ci/runner_token_rotation_lambda/__init__.py
  tests/ci/s3_helper.py
  tests/ci/sqlancer_check.py
  tests/ci/stress_check.py
  tests/ci/style_check.py
  tests/ci/team_keys_lambda/__init__.py
  tests/ci/team_keys_lambda/app.py
  tests/ci/tee_popen.py
  tests/ci/terminate_runner_lambda/__init__.py
  tests/ci/terminate_runner_lambda/app.py
  tests/ci/unit_tests_check.py
  tests/ci/upload_result_helper.py
  tests/ci/version_helper.py
  tests/ci/version_test.py
  tests/ci/workflow_approve_rerun_lambda/app.py
  utils/check-style/check-mypy
Labels: pr-not-for-changelog, comp-ci

#43833 Do not postpone removal of in-memory tables
  src/Interpreters/DatabaseCatalog.cpp
Labels: pr-not-for-changelog

#43837 FuseFunctionsPass small fix
  src/Analyzer/Passes/FuseFunctionsPass.cpp
Labels: pr-not-for-changelog, can be tested

#43556 Add benchmark for query interpretation with JOINs
  tests/performance/query_interpretation_join.xml
Labels: pr-not-for-changelog

#43846 [docs] minor improvements to "Cache Types" article
  docs/en/operations/caches.md
Labels: pr-documentation

#43790 Polish UDF substitution visitor
  src/Functions/UserDefined/UserDefinedSQLFunctionVisitor.cpp
Labels: pr-not-for-changelog

#43848 Add RESET_SETTING to check if it is a settings alter
  src/Parsers/ASTAlterQuery.cpp
  tests/integration/test_alter_settings_on_cluster/test.py
Labels: pr-bugfix, can be tested

#43312 Fixed: Typo
  src/Functions/translate.cpp
Labels: pr-not-for-changelog, can be tested

#43875 Document how the library-bridge port can be changed
  docs/en/sql-reference/functions/other-functions.md
Labels: pr-documentation

#43842 Add a limit for string size in RowBinary format
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  src/AggregateFunctions/AggregateFunctionGroupArrayInsertAt.h
  src/AggregateFunctions/AggregateFunctionMinMaxAny.h
  src/AggregateFunctions/AggregateFunctionSumMap.h
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/DataTypes/Serializations/ISerialization.h
  src/DataTypes/Serializations/SerializationAggregateFunction.cpp
  src/DataTypes/Serializations/SerializationAggregateFunction.h
  src/DataTypes/Serializations/SerializationArray.cpp
  src/DataTypes/Serializations/SerializationArray.h
  src/DataTypes/Serializations/SerializationDecimalBase.cpp
  src/DataTypes/Serializations/SerializationDecimalBase.h
  src/DataTypes/Serializations/SerializationFixedString.cpp
  src/DataTypes/Serializations/SerializationFixedString.h
  src/DataTypes/Serializations/SerializationLowCardinality.cpp
  src/DataTypes/Serializations/SerializationLowCardinality.h
  src/DataTypes/Serializations/SerializationMap.cpp
  src/DataTypes/Serializations/SerializationMap.h
  src/DataTypes/Serializations/SerializationNothing.h
  src/DataTypes/Serializations/SerializationNullable.cpp
  src/DataTypes/Serializations/SerializationNullable.h
  src/DataTypes/Serializations/SerializationNumber.cpp
  src/DataTypes/Serializations/SerializationNumber.h
  src/DataTypes/Serializations/SerializationObject.cpp
  src/DataTypes/Serializations/SerializationObject.h
  src/DataTypes/Serializations/SerializationSparse.cpp
  src/DataTypes/Serializations/SerializationSparse.h
  src/DataTypes/Serializations/SerializationString.cpp
  src/DataTypes/Serializations/SerializationString.h
  src/DataTypes/Serializations/SerializationTuple.cpp
  src/DataTypes/Serializations/SerializationTuple.h
  src/DataTypes/Serializations/SerializationUUID.cpp
  src/DataTypes/Serializations/SerializationUUID.h
  src/DataTypes/Serializations/SerializationWrapper.cpp
  src/DataTypes/Serializations/SerializationWrapper.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/BinaryRowInputFormat.cpp
  src/Processors/Formats/Impl/BinaryRowOutputFormat.cpp
  src/Processors/Formats/Impl/BinaryRowOutputFormat.h
  src/Storages/KVStorageUtils.cpp
  src/Storages/KVStorageUtils.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeIndexHypothesis.cpp
  src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
  src/Storages/MergeTree/MergeTreeIndexSet.cpp
  src/Storages/MergeTree/MergeTreePartition.cpp
  src/Storages/RocksDB/EmbeddedRocksDBSink.cpp
  src/Storages/RocksDB/StorageEmbeddedRocksDB.cpp
  src/Storages/StorageKeeperMap.cpp
  tests/queries/0_stateless/02496_row_binary_large_string_size.reference
  tests/queries/0_stateless/02496_row_binary_large_string_size.sh
Labels: pr-improvement

#43868 do not read part status just for logging
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageMergeTree.cpp
Labels: pr-not-for-changelog

#43883 Revert "Temporary files evict fs cache"
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Common/filesystemHelpers.cpp
  src/Common/filesystemHelpers.h
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskWriteBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskWriteBufferFromFile.h
  src/Disks/IO/FileCachePlaceholder.cpp
  src/Disks/IO/FileCachePlaceholder.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Disks/TemporaryFileInPath.cpp
  src/Disks/TemporaryFileInPath.h
  src/Disks/TemporaryFileOnDisk.cpp
  src/Disks/TemporaryFileOnDisk.h
  src/Formats/NativeWriter.cpp
  src/Formats/NativeWriter.h
  src/IO/WriteBufferFromTemporaryFile.cpp
  src/IO/WriteBufferFromTemporaryFile.h
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/FileCacheFactory.cpp
  src/Interpreters/Cache/FileCacheFactory.h
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/FileSegment.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/TemporaryDataOnDisk.cpp
  src/Interpreters/TemporaryDataOnDisk.h
  src/Interpreters/tests/gtest_lru_file_cache.cpp
  src/Storages/MergeTree/MergeTask.h
  src/Storages/System/StorageSystemFilesystemCache.cpp
  tests/integration/test_temporary_data_in_cache/__init__.py
  tests/integration/test_temporary_data_in_cache/configs/config.d/storage_configuration.xml
  tests/integration/test_temporary_data_in_cache/test.py
  tests/integration/test_tmp_policy/test.py
Labels: pr-not-for-changelog

#43834 Referential dependencies for RESTORE
  src/Backups/RestorerFromBackup.cpp
  src/Backups/RestorerFromBackup.h
  src/Databases/DDLDependencyVisitor.cpp
  src/Databases/DDLDependencyVisitor.h
  src/Databases/DDLLoadingDependencyVisitor.cpp
  src/Databases/DDLLoadingDependencyVisitor.h
  src/Databases/DatabaseMemory.cpp
  src/Databases/DatabaseOrdinary.cpp
  src/Databases/NormalizeAndEvaluateConstantsVisitor.cpp
  src/Databases/NormalizeAndEvaluateConstantsVisitor.h
  src/Databases/TablesDependencyGraph.cpp
  src/Databases/TablesDependencyGraph.h
  src/Databases/TablesLoader.cpp
  src/Databases/TablesLoader.h
  src/Interpreters/Context.h
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterDropQuery.cpp
  src/Interpreters/InterpreterRenameQuery.cpp
  src/Interpreters/StorageID.cpp
  src/Interpreters/StorageID.h
  src/Interpreters/loadMetadata.h
  src/Processors/Transforms/buildPushingToViewsChain.cpp
  src/Storages/FileLog/StorageFileLog.cpp
  src/Storages/IStorage.cpp
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/LiveView/StorageLiveView.cpp
  src/Storages/NATS/StorageNATS.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/StorageMaterializedView.cpp
  src/Storages/System/StorageSystemTables.cpp
  src/Storages/WindowView/StorageWindowView.cpp
  tests/integration/test_backup_restore_new/test.py
  tests/queries/0_stateless/01155_rename_move_materialized_view.sql
Labels: pr-improvement

#43629 fix s3Cluster function returns NOT_FOUND_COLUMN_IN_BLOCK error
  src/Storages/StorageS3Cluster.cpp
  tests/queries/0_stateless/01801_s3_cluster_count.reference
  tests/queries/0_stateless/01801_s3_cluster_count.sql
Labels: pr-bugfix, can be tested

#43895 Use only PRs to our repository in pr_info on push
  tests/ci/pr_info.py
Labels: pr-not-for-changelog, pr-must-backport

#41095 Add 'FROM table SELECT column' syntax
  src/Parsers/ParserSelectQuery.cpp
  src/Parsers/ParserTablesInSelectQuery.cpp
  src/Parsers/ParserTablesInSelectQuery.h
  tests/queries/0_stateless/02417_from_select_syntax.reference
  tests/queries/0_stateless/02417_from_select_syntax.sql
Labels: pr-improvement, 🎅 🎁 gift🎄

#43894 Improve release script
  tests/ci/mark_release_ready.py
  tests/ci/release.py
Labels: pr-not-for-changelog

#43904 Fix reports
  tests/ci/upload_result_helper.py
Labels: pr-not-for-changelog

#43906 fix broken link
  docs/en/sql-reference/aggregate-functions/reference/welchttest.md
Labels: pr-documentation, can be tested

#43850 Fix setting TCP_KEEPIDLE of client connection for s390x
  src/Client/Connection.cpp
Labels: pr-build, can be tested

#43909 Fix vim settings (and make it compatible with neovim)
  .exrc
  .vimrc
Labels: do not test, pr-not-for-changelog

#43639 Allow to send profile events to `system.trace_log`
  docs/en/operations/settings/settings.md
  docs/en/operations/system-tables/trace_log.md
  src/Common/MemoryTracker.cpp
  src/Common/ProfileEvents.cpp
  src/Common/ProfileEvents.h
  src/Common/QueryProfiler.cpp
  src/Common/TraceSender.cpp
  src/Common/TraceSender.h
  src/Core/Settings.h
  src/Interpreters/ProcessList.cpp
  src/Interpreters/TraceCollector.cpp
  src/Interpreters/TraceCollector.h
  src/Interpreters/TraceLog.cpp
  src/Interpreters/TraceLog.h
  tests/queries/0_stateless/02494_trace_log_profile_events.reference
  tests/queries/0_stateless/02494_trace_log_profile_events.sh
Labels: pr-improvement

#43911 Fix clang tidy errors introduced in #43834
  src/Databases/TablesDependencyGraph.cpp
Labels: pr-not-for-changelog

#43819 tests: fix 01676_long_clickhouse_client_autocomplete flakiness
  .gitignore
  tests/queries/0_stateless/01676_clickhouse_client_autocomplete.reference
  tests/queries/0_stateless/01676_clickhouse_client_autocomplete.sh
  tests/queries/0_stateless/01676_long_clickhouse_client_autocomplete.reference
Labels: pr-not-for-changelog

#43252 Support `CREATE / ALTER / DROP NAMED COLLECTION` queries under according access types
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Access/Common/AccessFlags.h
  src/Access/Common/AccessType.h
  src/Common/ErrorCodes.cpp
  src/Interpreters/InterpreterAlterNamedCollectionQuery.cpp
  src/Interpreters/InterpreterAlterNamedCollectionQuery.h
  src/Interpreters/InterpreterCreateNamedCollectionQuery.cpp
  src/Interpreters/InterpreterCreateNamedCollectionQuery.h
  src/Interpreters/InterpreterDropNamedCollectionQuery.cpp
  src/Interpreters/InterpreterDropNamedCollectionQuery.h
  src/Interpreters/InterpreterFactory.cpp
  src/Parsers/ASTAlterNamedCollectionQuery.cpp
  src/Parsers/ASTAlterNamedCollectionQuery.h
  src/Parsers/ASTCreateNamedCollectionQuery.cpp
  src/Parsers/ASTCreateNamedCollectionQuery.h
  src/Parsers/ASTDropNamedCollectionQuery.cpp
  src/Parsers/ASTDropNamedCollectionQuery.h
  src/Parsers/ParserAlterNamedCollectionQuery.cpp
  src/Parsers/ParserAlterNamedCollectionQuery.h
  src/Parsers/ParserCreateQuery.cpp
  src/Parsers/ParserCreateQuery.h
  src/Parsers/ParserDropNamedCollectionQuery.cpp
  src/Parsers/ParserDropNamedCollectionQuery.h
  src/Parsers/ParserQuery.cpp
  src/Storages/NamedCollectionConfiguration.cpp
  src/Storages/NamedCollectionConfiguration.h
  src/Storages/NamedCollectionUtils.cpp
  src/Storages/NamedCollectionUtils.h
  src/Storages/NamedCollections.cpp
  src/Storages/NamedCollections.h
  src/Storages/NamedCollections_fwd.h
  src/Storages/tests/gtest_named_collections.cpp
  tests/integration/test_named_collections/__init__.py
  tests/integration/test_named_collections/configs/config.d/named_collections.xml
  tests/integration/test_named_collections/configs/users.d/users.xml
  tests/integration/test_named_collections/test.py
  tests/queries/0_stateless/01271_show_privileges.reference
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-improvement

#43406 Avoid race condition for updating system.distribution_queue values
  src/Storages/Distributed/DirectoryMonitor.cpp
Labels: pr-not-for-changelog

#43862 Rerun DocsCheck on edited PR description
  tests/ci/cancel_and_rerun_workflow_lambda/app.py
Labels: do not test, pr-not-for-changelog

#43944 Generate missed changelogs for latest releases
  docs/changelogs/v22.10.3.27-stable.md
  docs/changelogs/v22.10.4.23-stable.md
  docs/changelogs/v22.11.2.30-stable.md
  docs/changelogs/v22.3.15.33-lts.md
  docs/changelogs/v22.8.10.29-lts.md
  docs/changelogs/v22.9.5.25-stable.md
  docs/changelogs/v22.9.6.20-stable.md
  utils/list-versions/version_date.tsv
Labels: do not test, pr-not-for-changelog

#43942 Fix tags workflow
  .github/workflows/tags_stable.yml
  utils/security-generator/generate_security.py
Labels: do not test, pr-not-for-changelog, pr-must-backport

#43123 Add function 'age'
  docs/en/sql-reference/functions/date-time-functions.md
  docs/ru/sql-reference/functions/date-time-functions.md
  src/Common/DateLUTImpl.h
  src/Functions/DateTimeTransforms.h
  src/Functions/TransformDateTime64.h
  src/Functions/dateDiff.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02477_age.reference
  tests/queries/0_stateless/02477_age.sql
  tests/queries/0_stateless/02477_age_date32.reference
  tests/queries/0_stateless/02477_age_date32.sql
  tests/queries/0_stateless/02477_age_datetime64.reference
  tests/queries/0_stateless/02477_age_datetime64.sql
Labels: pr-feature, can be tested

#43788 Add support of array parameters in `cutURLParameter` function
  docs/en/sql-reference/functions/url-functions.md
  docs/ru/sql-reference/functions/url-functions.md
  src/Functions/URL/cutURLParameter.cpp
  tests/queries/0_stateless/02483_cuturlparameter_with_arrays.reference
  tests/queries/0_stateless/02483_cuturlparameter_with_arrays.sql
Labels: pr-improvement, can be tested

#43893 Analyzer CTE resolution fix
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  tests/queries/0_stateless/02494_analyzer_cte_resolution_in_subquery_fix.reference
  tests/queries/0_stateless/02494_analyzer_cte_resolution_in_subquery_fix.sql
Labels: pr-not-for-changelog, can be tested

#43910 Add support for SHOW FULL
  src/Interpreters/InterpreterShowTablesQuery.cpp
  src/Parsers/ASTShowTablesQuery.h
  src/Parsers/ParserShowTablesQuery.cpp
  src/Parsers/ParserShowTablesQuery.h
  tests/queries/0_stateless/02480_tets_show_full.reference
  tests/queries/0_stateless/02480_tets_show_full.sh
Labels: pr-improvement, can be tested

#43962 cross link docs to blogs
  docs/en/getting-started/example-datasets/github.md
  docs/en/getting-started/index.md
  docs/en/operations/tips.md
  docs/en/operations/utilities/clickhouse-local.md
  docs/en/sql-reference/data-types/geo.md
  docs/en/sql-reference/data-types/json.md
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-polygon.md
  docs/en/sql-reference/window-functions/index.md
Labels: pr-documentation, can be tested

#43943 Update operations docs
  docs/en/getting-started/example-datasets/cell-towers.md
  docs/en/getting-started/install.md
  docs/en/operations/backup.md
  docs/en/operations/update.md
  docs/en/sql-reference/dictionaries/external-dictionaries/_snippet_dictionary_in_cloud.md
  docs/en/sql-reference/statements/alter/partition.md
  docs/ru/sql-reference/table-functions/format.md
  docs/zh/sql-reference/table-functions/format.md
Labels: pr-documentation, can be tested

#43920 Fix incorrect exception message
  src/IO/HTTPCommon.cpp
Labels: pr-improvement

#43642 Fix endian issue in bloom filter serialization for s390x
  src/Storages/MergeTree/MergeTreeIndexGranuleBloomFilter.cpp
Labels: pr-build, can be tested

#43827 Add constexpr
  src/AggregateFunctions/AggregateFunctionNull.h
Labels: pr-performance, can be tested

#43984 Keeper fix: throw when port already in use
  src/Coordination/KeeperServer.cpp
Labels: pr-bugfix

#43344 Add --max-consecutive-errors for clickhouse-benchmark
  programs/benchmark/Benchmark.cpp
  tests/queries/0_stateless/02490_benchmark_max_consecutive_errors.reference
  tests/queries/0_stateless/02490_benchmark_max_consecutive_errors.sh
Labels: pr-not-for-changelog

#43517 Move password reset message from client to server
  programs/client/Client.cpp
  src/Access/AccessControl.cpp
  tests/integration/test_mysql_protocol/test.py
  tests/queries/0_stateless/01812_basic_auth_http_server.sh
  tests/queries/0_stateless/02483_password_reset.reference
  tests/queries/0_stateless/02483_password_reset.sh
Labels: pr-not-for-changelog

#44014 [docs] link to GitHub from the install page
  docs/en/getting-started/install.md
Labels: pr-documentation

#43992 Make massages about GCC fatal
  cmake/tools.cmake
Labels: pr-build

#43884 Analyzer Context refactoring
  src/Analyzer/Passes/CountDistinctPass.cpp
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  src/Analyzer/QueryNode.cpp
  src/Analyzer/QueryNode.h
  src/Analyzer/QueryTreeBuilder.cpp
  src/Analyzer/QueryTreeBuilder.h
  src/Analyzer/UnionNode.cpp
  src/Analyzer/UnionNode.h
  src/Interpreters/InterpreterSelectQueryAnalyzer.cpp
  src/Interpreters/InterpreterSelectQueryAnalyzer.h
  src/Planner/Planner.cpp
  src/Planner/Planner.h
  src/Planner/PlannerJoinTree.cpp
  src/Planner/Utils.cpp
  src/Planner/Utils.h
Labels: pr-not-for-changelog, can be tested

#44017 Provide sha512 hashsums for tgz artifacts
  packages/build
  tests/ci/build_report_check.py
Labels: pr-build

#44023 Correct CompressionCodecGorilla exception message
  src/Compression/CompressionCodecGorilla.cpp
Labels: pr-not-for-changelog, can be tested

#44012 Set proper keys order for StorageJoin
  src/Interpreters/HashJoin.cpp
  src/Interpreters/TableJoin.h
  src/Interpreters/TreeRewriter.cpp
  src/Storages/StorageJoin.cpp
  src/Storages/StorageJoin.h
  tests/queries/0_stateless/02498_storage_join_key_positions.reference
  tests/queries/0_stateless/02498_storage_join_key_positions.sql
Labels: pr-bugfix

#44001 Remove test logging of signal "EINTR"
  src/Common/Epoll.cpp
  src/Common/TimerDescriptor.cpp
Labels: pr-not-for-changelog

#43873 Fix some incorrect logic in ast level optimization
  src/Analyzer/Passes/NormalizeCountVariantsPass.cpp
  src/Analyzer/Passes/SumIfToCountIfPass.cpp
  src/Interpreters/RewriteCountVariantsVisitor.cpp
  src/Interpreters/RewriteCountVariantsVisitor.h
  src/Interpreters/TreeOptimizer.cpp
  src/Interpreters/TreeOptimizer.h
  src/Interpreters/TreeRewriter.cpp
  tests/queries/0_stateless/01528_setting_aggregate_functions_null_for_empty.reference
  tests/queries/0_stateless/01528_setting_aggregate_functions_null_for_empty.sql
  tests/queries/0_stateless/01706_optimize_normalize_count_variants.reference
  tests/queries/0_stateless/01706_optimize_normalize_count_variants.sql
Labels: pr-feature, can be tested

#44011 Some cleanup of isDeterministic(InScopeOfQuery)()
  src/Functions/FunctionConstantBase.h
  src/Functions/FunctionsConversion.h
  src/Functions/FunctionsMiscellaneous.h
  src/Functions/UTCTimestamp.cpp
  src/Functions/array/arrayJoin.cpp
  src/Functions/blockSize.cpp
  src/Functions/getMacro.cpp
  src/Functions/getScalar.cpp
  src/Functions/getServerPort.cpp
  src/Functions/now.cpp
  src/Functions/now64.cpp
  src/Functions/randConstant.cpp
  src/Functions/rowNumberInAllBlocks.cpp
  src/Functions/rowNumberInBlock.cpp
  src/Functions/runningAccumulate.cpp
  src/Functions/runningDifference.h
  src/Functions/today.cpp
  src/Functions/yesterday.cpp
Labels: pr-not-for-changelog

#43987 Fix order by positional arg in case unneeded columns pruning
  src/Interpreters/TreeRewriter.cpp
  tests/queries/0_stateless/02006_test_positional_arguments.reference
  tests/queries/0_stateless/02006_test_positional_arguments.sql
Labels: pr-bugfix

#43863 Temporarily disable misc-* slow clang-tidy checks
  .clang-tidy
  cmake/clang_tidy.cmake
Labels: pr-not-for-changelog

#44042 Fix SETTING CONSTRAINTS docs
  docs/en/sql-reference/statements/create/settings-profile.md
  docs/ru/sql-reference/statements/create/settings-profile.md
Labels: pr-documentation

#43763 Fix included_elements calculation in AggregateFunctionNullVariadic
  src/AggregateFunctions/AggregateFunctionNull.h
  tests/queries/0_stateless/02417_null_variadic_behaviour.reference
  tests/queries/0_stateless/02417_null_variadic_behaviour.sql
Labels: pr-not-for-changelog

#44048 Update exponentialmovingaverage.md
  docs/en/sql-reference/aggregate-functions/reference/exponentialmovingaverage.md
Labels: pr-documentation, can be tested

#44047 Update README.md
  README.md
Labels: pr-documentation

#44021 Fix relaxed "too many parts" threshold
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#44034 Fix exception message
  src/Compression/CompressionCodecDoubleDelta.cpp
Labels: pr-not-for-changelog

#44064 Update html interface doc
  docs/en/interfaces/http.md
Labels: pr-documentation

#43308 add expression index in system.data_skipping_indices
  src/Storages/System/StorageSystemDataSkippingIndices.cpp
  tests/queries/0_stateless/01917_system_data_skipping_indices.reference
  tests/queries/0_stateless/01932_alter_index_with_order.reference
  tests/queries/0_stateless/02028_system_data_skipping_indices_size.reference
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-feature

#44020 fix docs
  docs/en/sql-reference/statements/alter/update.md
Labels: pr-documentation, can be tested

#43304 Support dedup for async insert.
  src/Core/Settings.h
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/AsynchronousInsertQueue.h
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Processors/Chunk.h
  src/Processors/Transforms/ExpressionTransform.cpp
  src/Storages/MergeTree/EphemeralLockInZooKeeper.cpp
  src/Storages/MergeTree/EphemeralLockInZooKeeper.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.h
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.h
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.h
  src/Storages/MergeTree/tests/gtest_async_inserts.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/02221_system_zookeeper_unrestricted.reference
  tests/queries/0_stateless/02221_system_zookeeper_unrestricted_like.reference
  tests/queries/0_stateless/02481_async_insert_dedup.python
  tests/queries/0_stateless/02481_async_insert_dedup.reference
  tests/queries/0_stateless/02481_async_insert_dedup.sh
Labels: pr-improvement

#44055 Assign release PRs
  .github/workflows/tags_stable.yml
  tests/ci/release.py
Labels: do not test, pr-not-for-changelog, pr-must-backport

#44050 Slightly better clickhouse disks and remove DiskMemory
  programs/disks/CMakeLists.txt
  programs/disks/CommandCopy.cpp
  programs/disks/CommandLink.cpp
  programs/disks/CommandList.cpp
  programs/disks/CommandListDisks.cpp
  programs/disks/CommandMkDir.cpp
  programs/disks/CommandMove.cpp
  programs/disks/CommandRead.cpp
  programs/disks/CommandRemove.cpp
  programs/disks/CommandWrite.cpp
  programs/disks/DisksApp.cpp
  programs/disks/DisksApp.h
  programs/disks/ICommand.cpp
  programs/disks/ICommand.h
  src/Disks/DiskLocal.cpp
  src/Disks/DiskMemory.cpp
  src/Disks/DiskMemory.h
  src/Disks/IDisk.h
  src/Disks/registerDisks.cpp
  src/Disks/tests/gtest_disk.cpp
  src/Disks/tests/gtest_disk.h
  src/Storages/tests/gtest_storage_log.cpp
  tests/config/config.d/disks.xml
  tests/integration/test_disk_types/configs/config.xml
  tests/integration/test_disk_types/configs/storage.xml
  tests/integration/test_disk_types/test.py
  tests/integration/test_disks_app_func/config.xml
  tests/integration/test_disks_app_func/test.py
  tests/integration/test_encrypted_disk/configs/storage.xml
  tests/queries/0_stateless/01083_log_family_disk_memory.reference
  tests/queries/0_stateless/01083_log_family_disk_memory.sql
Labels: pr-not-for-changelog

#44057 add overview of rolling upgrade
  docs/en/operations/update.md
Labels: pr-documentation, can be tested

#43903 Constraints on merge tree settings
  docs/en/operations/settings/constraints-on-settings.md
  src/Access/AccessControl.cpp
  src/Access/ContextAccess.h
  src/Access/SettingsConstraints.cpp
  src/Access/SettingsConstraints.h
  src/Access/UsersConfigAccessStorage.cpp
  src/Access/resolveSetting.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  src/Storages/System/StorageSystemMergeTreeSettings.cpp
  tests/integration/test_merge_tree_settings_constraints/__init__.py
  tests/integration/test_merge_tree_settings_constraints/test.py
  tests/integration/test_merge_tree_settings_constraints/users.xml
  tests/queries/0_stateless/01221_system_settings.reference
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-feature

#44083 Add issue list when running mismatched versions
  docs/en/operations/update.md
Labels: pr-documentation, can be tested

#44052 Allow to parse JSON objects into Strings in JSON input formats
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/DataTypes/Serializations/SerializationString.cpp
  src/Formats/EscapingRuleUtils.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Formats/JSONUtils.cpp
  tests/queries/0_stateless/02499_read_json_objects_as_strings.reference
  tests/queries/0_stateless/02499_read_json_objects_as_strings.sql
Labels: pr-feature

#44090 Fix aspell
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-not-for-changelog

#43965 Respect adaptive granularity for disk remote.
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.h
  src/Storages/MergeTree/MergeTreeIndexGranularity.cpp
  src/Storages/MergeTree/MergeTreeIndexGranularity.h
  src/Storages/MergeTree/MergeTreeThreadSelectProcessor.h
  tests/queries/0_stateless/02497_remote_disk_fat_column.reference
  tests/queries/0_stateless/02497_remote_disk_fat_column.sql
Labels: pr-improvement

#44015 Try to keep runners alive for longer
  tests/ci/ci_runners_metrics_lambda/app.py
  tests/ci/terminate_runner_lambda/app.py
Labels: do not test, pr-not-for-changelog

#44036 do not hardlink serialization.json in new part
  src/Storages/MergeTree/MutateTask.cpp
  tests/queries/0_stateless/02497_source_part_is_intact_when_mutation.reference
  tests/queries/0_stateless/02497_source_part_is_intact_when_mutation.sql
Labels: pr-not-for-changelog

#44051 Fix exception when subquery contains `having` but doesn't contain actual aggregation
  src/Interpreters/ExpressionAnalyzer.cpp
  tests/queries/0_stateless/02497_having_without_actual_aggregation_bug.reference
  tests/queries/0_stateless/02497_having_without_actual_aggregation_bug.sql
Labels: pr-bugfix

#43352 Enable base64 on s390x platform
  contrib/base64-cmake/CMakeLists.txt
Labels: pr-build, submodule changed, can be tested

#44127 Fix typo
  tests/ci/bugfix_validate_check.py
Labels: pr-not-for-changelog

#44091 Fix another bug in AggregateFunctionMinMaxAny
  src/AggregateFunctions/AggregateFunctionMinMaxAny.h
  tests/queries/0_stateless/02431_single_value_or_null_empty.reference
  tests/queries/0_stateless/02431_single_value_or_null_empty.sql
Labels: pr-not-for-changelog

#44124 Fix flaky test `02497_trace_events_stress_long`
  tests/queries/0_stateless/02497_trace_events_stress_long.sh
Labels: pr-not-for-changelog

#43728 try to remove clickhouse if already exists
  docs/_includes/install/universal.sh
Labels: pr-not-for-changelog

#40422 Add FreeBSD/powerpc64le support
  cmake/arch.cmake
  cmake/freebsd/toolchain-ppc64le.cmake
  contrib/jemalloc-cmake/include_freebsd_ppc64le/jemalloc/internal/jemalloc_internal_defs.h.in
  contrib/openldap-cmake/freebsd_ppc64le/include/lber_types.h
  contrib/openldap-cmake/freebsd_ppc64le/include/ldap_config.h
  contrib/openldap-cmake/freebsd_ppc64le/include/ldap_features.h
  contrib/openldap-cmake/freebsd_ppc64le/include/portable.h
  src/Common/StackTrace.cpp
Labels: pr-feature, submodule changed, can be tested

#44129 Better descriptions of signals
  src/Daemon/BaseDaemon.cpp
Labels: pr-not-for-changelog

#44079 Fix the CACHE_PATH creation for default value
  tests/ci/cherry_pick.py
  tests/ci/github_helper.py
  tests/ci/mark_release_ready.py
  tests/ci/style_check.py
  utils/changelog/changelog.py
Labels: pr-not-for-changelog

#43760 do not clear old parts at shutdown
  docker/test/stress/run.sh
  src/Storages/StorageMergeTree.cpp
  tests/integration/test_partition/test.py
  tests/integration/test_parts_removal/__init__.py
  tests/integration/test_parts_removal/test.py
  tests/queries/0_stateless/01172_transaction_counters.reference
  tests/queries/0_stateless/01172_transaction_counters.sql
  tests/queries/0_stateless/01560_ttl_remove_empty_parts.sh
  tests/queries/0_stateless/01560_ttl_remove_empty_parts.sql
  tests/queries/0_stateless/02421_type_json_empty_parts.sh
  tests/queries/0_stateless/02421_type_json_empty_parts.sql
  tests/queries/0_stateless/02423_drop_memory_parts.sql
  tests/queries/0_stateless/parts.lib
Labels: pr-build

#43161 Fixed race condition between inserts and dropping MVs
  src/Processors/Transforms/buildPushingToViewsChain.cpp
  tests/queries/0_stateless/02479_race_condition_between_insert_and_droppin_mv.reference
  tests/queries/0_stateless/02479_race_condition_between_insert_and_droppin_mv.sh
Labels: pr-bugfix, can be tested

#44065 Fix race in s3 multipart upload
  src/Backups/BackupIO_S3.cpp
  src/Coordination/KeeperSnapshotManagerS3.cpp
  src/Disks/ObjectStorages/S3/diskSettings.cpp
  src/IO/WriteBufferFromS3.cpp
  src/IO/WriteBufferFromS3.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageLog.cpp
  src/Storages/StorageS3Settings.cpp
  src/Storages/StorageS3Settings.h
  src/Storages/StorageStripeLog.cpp
Labels: pr-bugfix

#44118 Create uk-price-paid.mdx
  docs/zh/getting-started/example-datasets/uk-price-paid.mdx
Labels: pr-documentation

#44098 Analyzer aggregate function lambda crash fix
  src/Analyzer/FunctionNode.h
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  tests/queries/0_stateless/02499_analyzer_aggregate_function_lambda_crash_fix.reference
  tests/queries/0_stateless/02499_analyzer_aggregate_function_lambda_crash_fix.sql
Labels: pr-not-for-changelog, can be tested

#44175 Clearer message about Float vs Decimal
  docs/en/sql-reference/data-types/float.md
Labels: pr-documentation, can be tested

#44125 Minor file renaming
  src/Processors/QueryPlan/QueryPlan.h
  src/QueryPipeline/Chain.h
  src/QueryPipeline/Pipe.h
  src/QueryPipeline/QueryPipeline.h
  src/QueryPipeline/QueryPlanResourceHolder.cpp
  src/QueryPipeline/QueryPlanResourceHolder.h
  src/Storages/LiveView/StorageLiveView.h
Labels: pr-not-for-changelog

#44049 Fix endian issue in StringHashTable for s390x
  src/Common/HashTable/StringHashTable.h
Labels: pr-build, can be tested

#43454 Show progress bar while reading from s3 table function / engine
  src/IO/ReadBufferFromS3.cpp
  src/IO/S3Common.cpp
  src/IO/S3Common.h
  src/Storages/ReadFromStorageProgress.cpp
  src/Storages/ReadFromStorageProgress.h
  src/Storages/StorageFile.cpp
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/Storages/StorageS3Cluster.cpp
Labels: pr-improvement

#43925 Support underscore in numeric literals, ver 2
  src/Common/StringUtils/StringUtils.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/Lexer.cpp
  tests/queries/0_stateless/02493_inconsistent_hex_and_binary_number.expect
  tests/queries/0_stateless/02493_inconsistent_hex_and_binary_number.reference
  tests/queries/0_stateless/02493_numeric_literals_with_underscores.reference
  tests/queries/0_stateless/02493_numeric_literals_with_underscores.sql
Labels: pr-feature, 🎅 🎁 gift🎄, can be tested

#43860 A little improve performance of PODArray
  src/Common/PODArray.h
Labels: pr-performance, can be tested

#44160 Fix incorrect assertion
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
Labels: pr-not-for-changelog

#43826 Use disk operation to serialize and deserialize meta files of StorageFilelog
  src/Storages/FileLog/ReadBufferFromFileLog.h
  src/Storages/FileLog/StorageFileLog.cpp
  src/Storages/FileLog/StorageFileLog.h
  tests/queries/0_stateless/02022_storage_filelog_one_file.sh
  tests/queries/0_stateless/02023_storage_filelog.sh
  tests/queries/0_stateless/02025_storage_filelog_virtual_col.sh
  tests/queries/0_stateless/02026_storage_filelog_largefile.sh
Labels: pr-not-for-changelog

#43749 Add function concatWithSeparator
  docs/en/sql-reference/functions/string-functions.md
  src/Functions/concatWithSeparator.cpp
  tests/queries/0_stateless/02495_concat_with_separator.reference
  tests/queries/0_stateless/02495_concat_with_separator.sql
Labels: pr-feature

#43719 Password complexity rules
  programs/client/Client.cpp
  programs/server/config.xml
  src/Access/AccessControl.cpp
  src/Access/AccessControl.h
  src/Client/ClientBase.cpp
  src/Client/Connection.cpp
  src/Client/Connection.h
  src/Client/IServerConnection.h
  src/Client/LocalConnection.h
  src/Core/ProtocolDefines.h
  src/Interpreters/Access/InterpreterCreateUserQuery.cpp
  src/Parsers/Access/ASTCreateUserQuery.h
  src/Parsers/Access/ParserCreateUserQuery.cpp
  src/Server/TCPHandler.cpp
  tests/integration/test_password_constraints/__init__.py
  tests/integration/test_password_constraints/configs/complexity_rules.xml
  tests/integration/test_password_constraints/test.py
Labels: pr-feature, 🎅 🎁 gift🎄

#44190 Remove misleading message from logs
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
Labels: pr-not-for-changelog

#44200 Fix documentation after #42438
  src/Functions/FunctionsDecimalArithmetics.cpp
  src/Functions/FunctionsDecimalArithmetics.h
  src/Functions/divideDecimal.cpp
  src/Functions/multiplyDecimal.cpp
Labels: pr-not-for-changelog

#43468 Add engine_full column to system.databases
  docs/en/operations/system-tables/databases.md
  src/Storages/System/StorageSystemDatabases.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/02483_add_engine_full_column_to_system_databases.reference
  tests/queries/0_stateless/02483_add_engine_full_column_to_system_databases.sql
Labels: pr-feature, can be tested

#44203 Revert "Add function 'age'"
  docs/en/sql-reference/functions/date-time-functions.md
  docs/ru/sql-reference/functions/date-time-functions.md
  src/Common/DateLUTImpl.h
  src/Functions/DateTimeTransforms.h
  src/Functions/TransformDateTime64.h
  src/Functions/dateDiff.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02477_age.reference
  tests/queries/0_stateless/02477_age.sql
  tests/queries/0_stateless/02477_age_date32.reference
  tests/queries/0_stateless/02477_age_date32.sql
  tests/queries/0_stateless/02477_age_datetime64.reference
  tests/queries/0_stateless/02477_age_datetime64.sql
Labels: pr-not-for-changelog

#44201 Update README.md
  README.md
Labels: pr-documentation

#43922 Builtin skim
  .gitignore
  CMakeLists.txt
  base/base/CMakeLists.txt
  base/base/ReplxxLineReader.cpp
  base/base/ReplxxLineReader.h
  contrib/corrosion-cmake/CMakeLists.txt
  docker/packager/binary/build.sh
  rust/.cargo/config.toml.in
  rust/BLAKE3/CMakeLists.txt
  rust/CMakeLists.txt
  rust/skim/.cargo/config.toml.in
  rust/skim/.gitignore
  rust/skim/CMakeLists.txt
  rust/skim/Cargo.lock
  rust/skim/Cargo.toml
  rust/skim/build.rs.in
  rust/skim/include/skim.h
  rust/skim/src/lib.rs
  src/Common/config.h.in
  src/configure_config.cmake
Labels: pr-build, submodule changed, 🎅 🎁 gift🎄

#44184 Close GRPC channels in tests
  tests/integration/test_server_reload/test.py
Labels: pr-not-for-changelog

#44202 Fix an assertion in transactions
  src/Interpreters/DatabaseCatalog.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/StorageMergeTree.cpp
  tests/queries/0_stateless/01034_move_partition_from_table_zookeeper.sh
Labels: pr-not-for-changelog

#44156 make calls to be sure that parts are deleted
  tests/integration/test_merge_tree_hdfs/test.py
  tests/integration/test_merge_tree_s3/test.py
  tests/integration/test_partition/test.py
  tests/integration/test_ttl_replicated/test.py
Labels: pr-not-for-changelog, flaky test

#43999 Support `optimize_if_transform_strings_to_enum` in new analyzer
  src/Analyzer/Passes/IfTransformStringsToEnumPass.cpp
  src/Analyzer/Passes/IfTransformStringsToEnumPass.h
  src/Analyzer/QueryTreePassManager.cpp
  src/Interpreters/ConvertStringsToEnumVisitor.cpp
  tests/queries/0_stateless/01324_if_transform_strings_to_enum.reference
  tests/queries/0_stateless/02497_if_transform_strings_to_enum.reference
  tests/queries/0_stateless/02497_if_transform_strings_to_enum.sql
Labels: pr-improvement

#44159 Prevent dropping nested column if it creates empty part
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/02500_prevent_drop_nested_if_empty_part.reference
  tests/queries/0_stateless/02500_prevent_drop_nested_if_empty_part.sql
Labels: pr-bugfix

#44173 Fix `LOGICAL_ERROR` if fetch of projection was stopped
  src/Storages/MergeTree/DataPartsExchange.cpp
  tests/queries/0_stateless/02344_describe_cache.sql
  tests/queries/0_stateless/02494_zero_copy_projection_cancel_fetch.reference
  tests/queries/0_stateless/02494_zero_copy_projection_cancel_fetch.sh
Labels: pr-bugfix

#44227 Revert "Builtin skim"
  .gitignore
  CMakeLists.txt
  base/base/CMakeLists.txt
  base/base/ReplxxLineReader.cpp
  base/base/ReplxxLineReader.h
  contrib/corrosion-cmake/CMakeLists.txt
  docker/packager/binary/build.sh
  rust/.cargo/config.toml.in
  rust/BLAKE3/CMakeLists.txt
  rust/CMakeLists.txt
  rust/skim/.cargo/config.toml.in
  rust/skim/.gitignore
  rust/skim/CMakeLists.txt
  rust/skim/Cargo.lock
  rust/skim/Cargo.toml
  rust/skim/build.rs.in
  rust/skim/include/skim.h
  rust/skim/src/lib.rs
  src/Common/config.h.in
  src/configure_config.cmake
Labels: pr-not-for-changelog, submodule changed

#44228 December changelog edits
  CHANGELOG.md
Labels: pr-documentation, can be tested

#44158 Improve referential dependencies
  src/Backups/BackupsWorker.cpp
  src/Backups/RestorerFromBackup.cpp
  src/Databases/DDLDependencyVisitor.cpp
  src/Databases/DDLDependencyVisitor.h
  src/Databases/TablesDependencyGraph.cpp
  src/Databases/TablesDependencyGraph.h
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  src/Interpreters/getClusterName.cpp
  src/Interpreters/getClusterName.h
  tests/integration/test_backup_restore_new/test.py
  tests/integration/test_backup_restore_on_cluster/test.py
  tests/queries/0_stateless/01155_rename_move_materialized_view.sql
  tests/queries/0_stateless/02025_dictionary_view_different_db.sql
Labels: pr-improvement

#44194 Minor clang-tidy fixes in fromUnixTimestamp64()
  src/Functions/FunctionUnixTimestamp64.h
Labels: pr-not-for-changelog

#44237 Add log message
  src/Storages/System/StorageSystemDatabases.cpp
Labels: pr-not-for-changelog

#44235 Update summingmergetree.md
  docs/en/engines/table-engines/mergetree-family/summingmergetree.md
Labels: pr-documentation, can be tested

#44255 Revert "Add information about written rows in progress indicator"
  src/Common/ProgressIndication.cpp
Labels: pr-not-for-changelog

#44192 Fix possible Bad cast from type DB::IAST const* to DB::ASTLiteral const*
  src/Storages/MergeTree/RPNBuilder.cpp
  tests/queries/0_stateless/02502_fuzz_bad_cast_to_ast_literal.reference
  tests/queries/0_stateless/02502_fuzz_bad_cast_to_ast_literal.sql
Labels: pr-bugfix

#44214 Timeout stress tests after 2.5h
  tests/ci/stress_check.py
  tests/ci/tee_popen.py
Labels: pr-build

#44197 Hotfix for "check_status.tsv doesn't exists" in stress tests
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#44220 Fix `ReadonlyReplica` metric
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
Labels: pr-bugfix

#44233 Add ThreadsInOvercommitTracker metric
  src/Common/CurrentMetrics.cpp
  src/Common/OvercommitTracker.cpp
Labels: pr-not-for-changelog

#38953 Track allocation ptr in system.trace_log. Add aggregate function flamegraph
  src/AggregateFunctions/AggregateFunctionFlameGraph.cpp
  src/AggregateFunctions/registerAggregateFunctions.cpp
  src/Common/AllocationTrace.h
  src/Common/Allocator.h
  src/Common/AllocatorWithMemoryTracking.h
  src/Common/CurrentMemoryTracker.cpp
  src/Common/CurrentMemoryTracker.h
  src/Common/FiberStack.h
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTracker.h
  src/Common/MemoryTrackerBlockerInThread.h
  src/Common/TraceSender.cpp
  src/Common/TraceSender.h
  src/Common/clickhouse_malloc.cpp
  src/Common/memory.h
  src/Common/new_delete.cpp
  src/Interpreters/TraceCollector.cpp
  src/Interpreters/TraceLog.cpp
  src/Interpreters/TraceLog.h
  src/Storages/MergeTree/MergeList.cpp
Labels: pr-feature

#44273 Get rid of global Git object
  tests/ci/release.py
Labels: pr-not-for-changelog, v22.12-must-backport

#43332 Improve reading CSV field in CustomSeparated/Template format
  src/DataTypes/Serializations/SerializationNullable.cpp
  src/Formats/FormatSettings.h
  src/IO/ReadHelpers.cpp
  src/IO/ReadHelpers.h
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.cpp
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.h
  src/Processors/Formats/Impl/TemplateRowInputFormat.cpp
  src/Processors/Formats/Impl/TemplateRowInputFormat.h
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.h
  tests/queries/0_stateless/01195_formats_diagnostic_info.reference
  tests/queries/0_stateless/01195_formats_diagnostic_info.sh
  tests/queries/0_stateless/02481_custom_separated_and_template_with_csv_field.reference
  tests/queries/0_stateless/02481_custom_separated_and_template_with_csv_field.sh
Labels: pr-improvement

#44272 Fix deadlock in StorageSystemDatabases
  src/Storages/System/StorageSystemDatabases.cpp
Labels: pr-not-for-changelog, v22.12-must-backport

#44275 Update version after release
  cmake/autogenerated_versions.txt
  src/Storages/System/StorageSystemContributors.generated.cpp
Labels: do not test, pr-not-for-changelog

#44204 Apply new code of named collections (from #43147) to external table engines part 1
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/CMakeLists.txt
  src/Interpreters/InterpreterAlterNamedCollectionQuery.cpp
  src/Interpreters/InterpreterCreateNamedCollectionQuery.cpp
  src/Interpreters/InterpreterDropNamedCollectionQuery.cpp
  src/Storages/NamedCollections/NamedCollectionConfiguration.cpp
  src/Storages/NamedCollections/NamedCollectionConfiguration.h
  src/Storages/NamedCollections/NamedCollectionUtils.cpp
  src/Storages/NamedCollections/NamedCollectionUtils.h
  src/Storages/NamedCollections/NamedCollections.cpp
  src/Storages/NamedCollections/NamedCollections.h
  src/Storages/NamedCollections/NamedCollectionsHelpers.cpp
  src/Storages/NamedCollections/NamedCollectionsHelpers.h
  src/Storages/NamedCollections/NamedCollections_fwd.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/Storages/System/StorageSystemNamedCollections.cpp
  src/Storages/tests/gtest_named_collections.cpp
  src/TableFunctions/TableFunctionS3.cpp
Labels: pr-not-for-changelog

#44268 Fix possible logical error in cache if `do_not_evict_index_and_mrk_files=1`
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/tests/gtest_lru_file_cache.cpp
Labels: pr-bugfix

#44195 Try fix flaky 01072_window_view_multiple_columns_groupby
  tests/queries/0_stateless/01072_window_view_multiple_columns_groupby.sh
Labels: pr-not-for-changelog

#44122 Avoid loading toolchain files multiple times
  cmake/darwin/toolchain-aarch64.cmake
  cmake/darwin/toolchain-x86_64.cmake
  cmake/freebsd/toolchain-aarch64.cmake
  cmake/freebsd/toolchain-ppc64le.cmake
  cmake/freebsd/toolchain-x86_64.cmake
  cmake/linux/toolchain-aarch64.cmake
  cmake/linux/toolchain-ppc64le.cmake
  cmake/linux/toolchain-riscv64.cmake
  cmake/linux/toolchain-x86_64-musl.cmake
  cmake/linux/toolchain-x86_64.cmake
Labels: pr-not-for-changelog

#44230 Analyzer storage view crash fix
  src/Interpreters/InterpreterSelectQueryAnalyzer.cpp
  src/Interpreters/InterpreterSelectQueryAnalyzer.h
  src/Planner/Planner.cpp
  src/Planner/Planner.h
  src/Storages/StorageView.cpp
  tests/queries/0_stateless/02500_analyzer_storage_view_crash_fix.reference
  tests/queries/0_stateless/02500_analyzer_storage_view_crash_fix.sql
Labels: pr-not-for-changelog, can be tested

#43726 Improve performance of storage `S3` with large number of small files
  src/Backups/BackupIO_S3.cpp
  src/Backups/BackupIO_S3.h
  src/Coordination/KeeperSnapshotManagerS3.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/IO/ReadBufferFromS3.cpp
  src/IO/S3Common.cpp
  src/IO/S3Common.h
  src/IO/WriteBufferFromS3.cpp
  src/Interpreters/threadPoolCallbackRunner.cpp
  src/Interpreters/threadPoolCallbackRunner.h
  src/Server/TCPHandler.cpp
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/Storages/StorageS3Cluster.cpp
  src/Storages/VirtualColumnUtils.cpp
  tests/integration/test_storage_s3/s3_mocks/echo.py
  tests/integration/test_storage_s3/s3_mocks/mock_s3.py
  tests/integration/test_storage_s3/test.py
  tests/queries/0_stateless/02270_errors_in_files_s3.reference
  tests/queries/0_stateless/02270_errors_in_files_s3.sh
  tests/queries/0_stateless/02495_s3_filter_by_file.reference
  tests/queries/0_stateless/02495_s3_filter_by_file.sql
  tests/queries/0_stateless/02496_storage_s3_profile_events.reference
  tests/queries/0_stateless/02496_storage_s3_profile_events.sql
Labels: pr-performance

#44229 cross link dictionaries + udf posts
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-lifetime.md
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-sources.md
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-structure.md
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict.md
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts.md
  docs/en/sql-reference/functions/index.md
  docs/en/sql-reference/statements/create/function.md
Labels: pr-documentation, can be tested

#44269 Add missing documentation for some schema inference settings
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
Labels: pr-documentation

#44312 tests/perf: fix dependency check during DROP
  tests/performance/direct_dictionary.xml
  tests/performance/flat_dictionary.xml
  tests/performance/hashed_array_dictionary.xml
  tests/performance/hashed_dictionary.xml
  tests/performance/hierarchical_dictionaries.xml
  tests/performance/range_hashed_dictionary.xml
Labels: pr-not-for-changelog

#43695 Improve automatic usage of structure from insertion table in table functions file/hdfs/s3
  src/Interpreters/Context.cpp
  src/TableFunctions/ITableFunction.h
  src/TableFunctions/TableFunctionFile.h
  src/TableFunctions/TableFunctionHDFS.h
  src/TableFunctions/TableFunctionS3.h
  tests/queries/0_stateless/02483_check_virtuals_shile_using_structure_from_insertion_table.reference
  tests/queries/0_stateless/02483_check_virtuals_shile_using_structure_from_insertion_table.sql
Labels: pr-improvement

#43993 Fix CREATE query constraints
  src/Access/SettingsConstraints.cpp
  src/Access/SettingsConstraints.h
  src/Access/SettingsProfileElement.cpp
  src/Access/SettingsProfileElement.h
  src/Interpreters/Access/InterpreterCreateRoleQuery.cpp
  src/Interpreters/Access/InterpreterCreateSettingsProfileQuery.cpp
  src/Interpreters/Access/InterpreterCreateUserQuery.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  tests/integration/test_create_query_constraints/__init__.py
  tests/integration/test_create_query_constraints/test.py
Labels: pr-bugfix

#44239 Builtin skim for fuzzy search in clickhouse client/local history
  .gitignore
  CMakeLists.txt
  base/base/CMakeLists.txt
  base/base/ReplxxLineReader.cpp
  base/base/ReplxxLineReader.h
  contrib/corrosion-cmake/CMakeLists.txt
  docker/packager/binary/build.sh
  rust/.cargo/config.toml.in
  rust/BLAKE3/CMakeLists.txt
  rust/CMakeLists.txt
  rust/skim/.cargo/config.toml.in
  rust/skim/.gitignore
  rust/skim/CMakeLists.txt
  rust/skim/Cargo.lock
  rust/skim/Cargo.toml
  rust/skim/build.rs.in
  rust/skim/include/skim.h
  rust/skim/src/lib.rs
  src/Common/config.h.in
  src/configure_config.cmake
  tests/queries/0_stateless/01910_client_replxx_container_overflow_long.expect
Labels: pr-build, submodule changed

#44319 Docs: Reduce recommended num_layers for Buffer table
  docs/en/engines/table-engines/special/buffer.md
Labels: pr-documentation

#44325 (unused openssl integration, not for production) a follow-up
  programs/server/Server.cpp
Labels: pr-not-for-changelog

#44256 Fix double-free in HashTable::clearAndShrink() with zero elements in it
  src/Common/HashTable/HashTable.h
Labels: pr-bugfix
