Repository ClickHouse/ClickHouse, pull requests merged in 2022-03, with the labels that each got.

#34949 Recreate system.{*}_log table on settings changes
  src/Interpreters/SystemLog.cpp
  src/Storages/StorageFile.h
Labels: pr-improvement

#34946 Add hive table function
  src/Storages/Hive/HiveFile.cpp
  src/Storages/Hive/HiveFile.h
  src/TableFunctions/CMakeLists.txt
  src/TableFunctions/Hive/TableFunctionHive.cpp
  src/TableFunctions/Hive/TableFunctionHive.h
  src/TableFunctions/registerTableFunctions.cpp
  src/TableFunctions/registerTableFunctions.h
  tests/integration/test_hive_query/test.py
Labels: pr-feature, doc-alert, can be tested

#34732 Support schema inference for INSERT INTO FUNCTION
  src/Interpreters/InterpreterInsertQuery.cpp
  src/TableFunctions/ITableFunction.h
  src/TableFunctions/ITableFunctionFileLike.cpp
  src/TableFunctions/ITableFunctionFileLike.h
  src/TableFunctions/TableFunctionFile.cpp
  src/TableFunctions/TableFunctionS3.cpp
  src/TableFunctions/TableFunctionS3.h
  tests/integration/test_storage_hdfs/test.py
  tests/integration/test_storage_s3/test.py
  tests/queries/0_stateless/02223_insert_select_schema_inference.reference
  tests/queries/0_stateless/02223_insert_select_schema_inference.sql
Labels: pr-feature, doc-alert

#34960 Add benchmarks
  benchmark/hardware.sh
  docs/en/operations/performance-test.md
  docs/ja/operations/performance-test.md
  docs/zh/operations/performance-test.md
  website/benchmark/hardware/index.html
  website/benchmark/hardware/results/amd_epyc_7662.json
  website/benchmark/hardware/results/gp1_s_16x.json
  website/benchmark/hardware/results/gp1_s_8x.json
  website/benchmark/hardware/results/intel_core_i5_4440.json
  website/benchmark/hardware/results/macbook_pro_m1_2021.json
Labels: pr-not-for-changelog

#34856 Pr202202241000
  docs/zh/sql-reference/statements/alter/role.md
Labels: pr-documentation, can be tested

#34866 Fix async inserts to table functions
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  tests/queries/0_stateless/02226_async_insert_table_function.reference
  tests/queries/0_stateless/02226_async_insert_table_function.sql
Labels: pr-bugfix

#34952 Remove redundant content in Linux build docs
  docs/en/development/build.md
Labels: pr-documentation, can be tested

#34975 Fix typo
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeIndexHypothesis.cpp
  src/Storages/MergeTree/MergeTreeIndexHypothesis.h
  src/Storages/MergeTree/MergeTreeIndices.h
Labels: pr-not-for-changelog, can be tested

#32898 Fix the bug that the toDatetime function overflows
  src/Common/DateLUTImpl.h
  src/Common/tests/gtest_DateLUTImpl.cpp
  src/Functions/FunctionsConversion.h
  src/IO/ReadHelpers.h
  tests/integration/test_timezone_config/test.py
  tests/queries/0_stateless/01186_conversion_to_nullable.reference
  tests/queries/0_stateless/01921_datatype_date32.reference
Labels: pr-backward-incompatible, can be tested

#34931 Avoid busy polling in keeper while searching for changelog files to delete
  src/Coordination/Changelog.cpp
Labels: pr-bugfix

#34972 Print number of available logical cores in configuration
  cmake/limit_jobs.cmake
Labels: pr-not-for-changelog, can be tested

#34964 Disable memory checking test with thread sanitizer
  tests/queries/0_stateless/01281_group_by_limit_memory_tracking.sh
Labels: pr-not-for-changelog

#34971 Move codebrowser out of Yandex
  README.md
  docs/en/development/browse-code.md
  docs/en/whats-new/changelog/2020.md
  docs/ja/development/browse-code.md
  docs/ru/development/browse-code.md
  docs/zh/changelog/index.md
  docs/zh/development/browse-code.md
  docs/zh/whats-new/changelog/2020.md
  website/sitemap-static.xml
Labels: pr-documentation

#34715 Workaround for a bug in NuRaft library
  src/Coordination/KeeperStateManager.cpp
  src/Coordination/KeeperStateManager.h
Labels: pr-not-for-changelog

#34609 allow unrestricted reads from zookeeper
  src/Common/ZooKeeper/IKeeper.cpp
  src/Core/Settings.h
  src/Storages/System/StorageSystemZooKeeper.cpp
  tests/queries/0_stateless/02221_system_zookeeper_unrestricted.reference
  tests/queries/0_stateless/02221_system_zookeeper_unrestricted.sh
  tests/queries/0_stateless/02221_system_zookeeper_unrestricted_like.reference
  tests/queries/0_stateless/02221_system_zookeeper_unrestricted_like.sh
Labels: pr-improvement

#34961 Fix wrong schema inference for unquoted dates in CSV
  src/Formats/EscapingRuleUtils.cpp
  tests/queries/0_stateless/02228_unquoted_dates_in_csv_schema_inference.reference
  tests/queries/0_stateless/02228_unquoted_dates_in_csv_schema_inference.sh
Labels: pr-bugfix

#34025 Hold time lock while assigning clear_old_temporary_directories task
  src/Storages/StorageMergeTree.cpp
Labels: pr-improvement

#34974 Add some benchmarks
  website/benchmark/hardware/index.html
  website/benchmark/hardware/results/amd_epyc_7702_zfs.json
  website/benchmark/hardware/results/i3_2xlarge.json
  website/benchmark/hardware/results/im4gn_16xlarge.json
  website/benchmark/hardware/results/im4gn_4xlarge.json
  website/benchmark/hardware/results/im4gn_8xlarge.json
Labels: pr-not-for-changelog

#34991 Fix test_storage_postgresql::test_concurrent_queries
  tests/integration/test_storage_postgresql/test.py
Labels: pr-not-for-changelog

#34988 Fix signal-unsafe TSan report in client
  base/base/CMakeLists.txt
  base/base/safeExit.cpp
  base/base/safeExit.h
  programs/keeper/Keeper.cpp
  programs/server/Server.cpp
  src/Client/ClientBase.cpp
Labels: pr-not-for-changelog

#34982 date_time_input_format = 'best_effort_us'
  src/Core/Settings.h
  src/Core/SettingsEnums.cpp
  src/DataTypes/Serializations/SerializationDateTime.cpp
  src/DataTypes/Serializations/SerializationDateTime64.cpp
  src/Formats/FormatSettings.h
Labels: pr-feature, doc-alert, can be tested

#35011 Fix typo
  docs/ja/engines/table-engines/mergetree-family/replication.md
  docs/zh/engines/table-engines/mergetree-family/replication.md
Labels: pr-documentation

#34947 get credentials from environment variables for clickhouse-client
  programs/client/Client.cpp
  tests/integration/test_user_zero_database_access/configs/users.xml
  tests/integration/test_user_zero_database_access/test_user_zero_database_access.py
Labels: pr-feature, doc-alert, can be tested

#35005 clickhouse obfuscator aarch64 fix
  base/base/StringRef.h
Labels: pr-not-for-changelog

#34995 Add option to clickhouse-test to skip aarch64 build
  programs/server/Server.cpp
  tests/clickhouse-test
  tests/queries/0_stateless/00974_query_profiler.sql
  tests/queries/0_stateless/01092_memory_profiler.sql
  tests/queries/0_stateless/01103_check_cpu_instructions_at_startup.sh
  tests/queries/0_stateless/01473_event_time_microseconds.sql
  tests/queries/0_stateless/01526_max_untracked_memory.sh
  tests/queries/0_stateless/01569_query_profiler_big_query_id.sh
  tests/queries/0_stateless/02152_http_external_tables_memory_tracking.sh
  tests/queries/0_stateless/02161_addressToLineWithInlines.sql
Labels: pr-not-for-changelog

#34487 MaterializedMySQL add materialized_mysql_tables_list settings
  docs/en/engines/database-engines/materialized-mysql.md
  src/Core/MySQL/MySQLClient.cpp
  src/Core/MySQL/MySQLClient.h
  src/Core/MySQL/MySQLReplication.cpp
  src/Core/MySQL/MySQLReplication.h
  src/Databases/MySQL/MaterializeMetadata.cpp
  src/Databases/MySQL/MaterializeMetadata.h
  src/Databases/MySQL/MaterializedMySQLSettings.h
  src/Databases/MySQL/MaterializedMySQLSyncThread.cpp
  src/Databases/MySQL/MaterializedMySQLSyncThread.h
  tests/integration/test_materialized_mysql_database/materialize_with_ddl.py
  tests/integration/test_materialized_mysql_database/test.py
  utils/check-mysql-binlog/main.cpp
Labels: pr-improvement, can be tested

#34480 Improve the opentelemetry span logs for INSERT on distributed table
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/OpenTelemetrySpanLog.cpp
  src/Interpreters/OpenTelemetrySpanLog.h
  src/QueryPipeline/RemoteInserter.cpp
  src/Storages/Distributed/DistributedSink.cpp
Labels: pr-improvement, can be tested

#34993 Avoid pushing to port with data inside DelayedSource
  src/Processors/Sources/DelayedSource.cpp
Labels: pr-bugfix, pr-must-backport

#34996 Fix possible segfault in filelog storage
  src/Storages/FileLog/StorageFileLog.cpp
Labels: pr-bugfix

#34849 Fix reading too many columns for s3 and url storages
  src/Core/Settings.h
  src/Storages/HDFS/StorageHDFS.h
  src/Storages/IStorage.h
  src/Storages/StorageFile.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/Storages/StorageURL.cpp
  src/Storages/StorageURL.h
  src/Storages/StorageXDBC.cpp
  src/Storages/StorageXDBC.h
  tests/integration/test_storage_s3/test.py
Labels: pr-improvement

#35014 Fix tutorial link
  docs/en/getting-started/install.md
  docs/ja/getting-started/install.md
  docs/ru/getting-started/install.md
  docs/zh/getting-started/install.md
Labels: pr-not-for-changelog

#35019 fasttest: add timings for "Test time" column in the results table
  docker/test/fasttest/run.sh
Labels: pr-not-for-changelog

#34992 Fix race between INSERT async_insert=1 and system.asynchronous_inserts
  src/Interpreters/AsynchronousInsertQueue.h
  src/Storages/System/StorageSystemAsynchronousInserts.cpp
Labels: pr-not-for-changelog

#34795 make arrayCompact behave as other higher-order functions
  src/Functions/array/arrayCompact.cpp
  tests/queries/0_stateless/01020_function_array_compact.sql
  tests/queries/0_stateless/01025_array_compact_generic.reference
  tests/queries/0_stateless/01025_array_compact_generic.sql
Labels: pr-backward-incompatible, can be tested

#35001 Fix possible exception for remote fs async read about no last position boundary
  src/Disks/DiskCacheWrapper.cpp
Labels: pr-bugfix, pr-must-backport

#35027 Dictionary hierarchy functions implicit key cast and support for constant arguments
  src/Functions/FunctionsExternalDictionaries.h
  tests/queries/0_stateless/02231_hierarchical_dictionaries_constant.reference
  tests/queries/0_stateless/02231_hierarchical_dictionaries_constant.sql
Labels: pr-improvement

#35018 ExecutableUDF function deterministic in scope of query fix
  src/Interpreters/UserDefinedExecutableFunctionFactory.cpp
Labels: pr-not-for-changelog

#35038 Incorrect wording in a sentence
  docs/en/faq/general/columnar-database.md
Labels: pr-documentation

#33698 Add more functions for map data type
  src/Columns/ColumnMap.h
  src/Functions/array/FunctionArrayMapped.h
  src/Functions/array/arrayAggregation.cpp
  src/Functions/array/arrayAll.cpp
  src/Functions/array/arrayCompact.cpp
  src/Functions/array/arrayCount.cpp
  src/Functions/array/arrayCumSum.cpp
  src/Functions/array/arrayCumSumNonNegative.cpp
  src/Functions/array/arrayDifference.cpp
  src/Functions/array/arrayExists.cpp
  src/Functions/array/arrayFill.cpp
  src/Functions/array/arrayFilter.cpp
  src/Functions/array/arrayFirst.cpp
  src/Functions/array/arrayFirstLastIndex.cpp
  src/Functions/array/arrayMap.cpp
  src/Functions/array/arraySort.cpp
  src/Functions/array/arraySplit.cpp
  src/Functions/map.cpp
  src/Functions/mapFilter.cpp
  src/Functions/registerFunctionsHigherOrder.cpp
  tests/queries/0_stateless/02169_map_functions.reference
  tests/queries/0_stateless/02169_map_functions.sql
Labels: pr-feature, doc-alert

#34689 Follow up to PR #33698
  src/Columns/ColumnMap.h
  src/Functions/array/FunctionArrayMapped.h
  src/Functions/array/arrayAggregation.cpp
  src/Functions/array/arrayAll.cpp
  src/Functions/array/arrayCompact.cpp
  src/Functions/array/arrayCount.cpp
  src/Functions/array/arrayCumSum.cpp
  src/Functions/array/arrayCumSumNonNegative.cpp
  src/Functions/array/arrayDifference.cpp
  src/Functions/array/arrayExists.cpp
  src/Functions/array/arrayFill.cpp
  src/Functions/array/arrayFilter.cpp
  src/Functions/array/arrayFirst.cpp
  src/Functions/array/arrayFirstLastIndex.cpp
  src/Functions/array/arrayMap.cpp
  src/Functions/array/arraySort.cpp
  src/Functions/array/arraySplit.cpp
  src/Functions/map.cpp
  src/Functions/mapFilter.cpp
  src/Functions/registerFunctionsHigherOrder.cpp
  tests/queries/0_stateless/02169_map_functions.reference
  tests/queries/0_stateless/02169_map_functions.sql
Labels: pr-not-for-changelog

#34963 Catch exception in ~WriteBufferFromS3
  src/IO/WriteBufferFromS3.cpp
Labels: pr-not-for-changelog

#34855 Ignore obsolete grants in ATTACH GRANT statements
  src/Access/AccessEntityIO.cpp
  src/Access/AccessEntityIO.h
  src/Access/DiskAccessStorage.cpp
  src/Parsers/Access/ParserGrantQuery.cpp
  tests/integration/test_access_for_functions/test.py
Labels: pr-bugfix

#34823 Fix generating system.build_options
  src/Formats/CMakeLists.txt
  src/Formats/configure_config.cmake
  src/Storages/System/CMakeLists.txt
  src/Storages/System/StorageSystemBuildOptions.generated.cpp.in
Labels: pr-not-for-changelog

#34911 Allow LowCardinality strings for ngrambf_v1/tokenbf_v1 indexes. Fixes #21865
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  tests/queries/0_stateless/02226_low_cardinality_text_bloom_filter_index.reference
  tests/queries/0_stateless/02226_low_cardinality_text_bloom_filter_index.sql
Labels: pr-improvement, can be tested

#34684 Extract schema only once on table creation and add it to metadata
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterCreateQuery.h
  tests/queries/0_stateless/02222_create_table_without_columns_metadata.reference
  tests/queries/0_stateless/02222_create_table_without_columns_metadata.sh
Labels: pr-improvement

#34860 Support non-table DDLs on cross replicated cluster
  src/Interpreters/DDLTask.cpp
  tests/integration/test_distributed_ddl_on_cross_replication/test.py
Labels: pr-bugfix, can be tested

#35061 Add redirect for cloud page
  docs/redirects.txt
  docs/tools/redirects.py
Labels: pr-documentation

#35068 Added 'theme' GET parameter to PlayUI + theme selection according to OS fixes
  programs/server/play.html
Labels: pr-feature, doc-alert

#35041 Translate zh/sql-reference/statements/alter/row-policy
  docs/zh/sql-reference/statements/alter/row-policy.md
Labels: pr-documentation, can be tested

#35050 Fix reading from `system.asynchronous_inserts` table
  src/Storages/System/StorageSystemAsynchronousInserts.cpp
  tests/queries/0_stateless/02015_async_inserts_stress_long.sh
Labels: pr-bugfix

#35020 Always write preprocessed config in XML format
  src/Common/Config/ConfigProcessor.cpp
Labels: pr-not-for-changelog

#35073 Try to fix failed tests
  tests/clickhouse-test
  tests/queries/0_stateless/00135_duplicate_group_by_keys_segfault.sql
  tests/queries/0_stateless/01926_order_by_desc_limit.sql
  tests/queries/0_stateless/02015_async_inserts_stress_long.sh
Labels: pr-not-for-changelog

#35082 Doc. Note about limitby order
  docs/en/sql-reference/statements/select/limit-by.md
  docs/ru/sql-reference/statements/select/limit-by.md
Labels: pr-documentation

#35021 Fix read old records from logs
  src/Coordination/KeeperStateMachine.cpp
Labels: pr-not-for-changelog

#35085 sync translate to zh: embedded-rocksdb
  docs/zh/engines/table-engines/integrations/embedded-rocksdb.md
Labels: pr-documentation, can be tested

#35088 Put downloaded artifacts to a temorary path
  tests/ci/push_to_artifactory.py
Labels: do not test, pr-not-for-changelog

#34605 Add cpu/mem metric for clickhouse-local
  programs/local/LocalServer.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  src/Client/LocalConnection.cpp
  src/Client/LocalConnection.h
  src/Client/Suggest.cpp
  src/Interpreters/ProfileEventsExt.cpp
  src/Interpreters/ProfileEventsExt.h
  src/Server/TCPHandler.cpp
  src/Server/TCPHandler.h
  utils/check-style/check-style
Labels: pr-feature, doc-alert, can be tested

#34912 Fix filelog storage data paths
  src/Storages/FileLog/StorageFileLog.cpp
  src/Storages/FileLog/StorageFileLog.h
Labels: pr-not-for-changelog

#35084 Sync translate to zh: see Update limit-by.md: #35082
  docs/zh/sql-reference/statements/select/limit-by.md
Labels: pr-documentation, can be tested

#35080 Do not hide exceptions during mutations
  src/Storages/MergeTree/MutatePlainMergeTreeTask.cpp
Labels: pr-not-for-changelog

#35010 Keeper atomic stat
  src/Coordination/FourLetterCommand.cpp
  src/Coordination/KeeperConnectionStats.cpp
  src/Coordination/KeeperConnectionStats.h
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperDispatcher.h
  src/Server/KeeperTCPHandler.cpp
  src/Server/KeeperTCPHandler.h
Labels: pr-performance, can be tested

#35081 Avoid possible deadlock on server shutdown
  src/Interpreters/Context.cpp
Labels: pr-bugfix

#35097 Temporary supress move partition long for storage S3
  tests/queries/0_stateless/01154_move_partition_long.sh
Labels: pr-not-for-changelog

#35066 Remove useless define
  src/Core/ProtocolDefines.h
Labels: pr-not-for-changelog

#34940 Use connection pool in HiveMetastoreClient
  src/Storages/Hive/HiveCommon.cpp
  src/Storages/Hive/HiveCommon.h
  src/Storages/Hive/StorageHive.cpp
  src/Storages/Hive/StorageHive.h
Labels: pr-improvement, can be tested

#35004 More keeper sanity checks
  src/Coordination/KeeperStateManager.cpp
Labels: pr-improvement

#34889 Update DiskS3.cpp
  src/Disks/S3/DiskS3.cpp
  tests/queries/0_stateless/01275_parallel_mv.reference
  tests/queries/0_stateless/01275_parallel_mv.sql
Labels: pr-not-for-changelog

#35089 Fix typo of update_lag
  src/Dictionaries/ClickHouseDictionarySource.cpp
  src/Dictionaries/MySQLDictionarySource.cpp
  src/Dictionaries/PostgreSQLDictionarySource.cpp
  src/Storages/ExternalDataSourceConfiguration.cpp
Labels: pr-bugfix, pr-must-backport, can be tested

#35046 Fix trim function
  src/Parsers/ExpressionElementParsers.cpp
  tests/queries/0_stateless/02100_replaceRegexpAll_bug.reference
  tests/queries/0_stateless/02100_replaceRegexpAll_bug.sql
Labels: pr-not-for-changelog

#34954 read columns pruning for hive
  src/Storages/Hive/StorageHive.cpp
  src/Storages/Hive/StorageHive.h
Labels: pr-improvement, can be tested

#35099 Fix inconsistency in DiskLocal
  src/Disks/DiskLocal.cpp
Labels: pr-not-for-changelog

#35058 Skip 01086_odbc_roundtrip for aarch, disable force_tests
  tests/ci/ci_config.py
  tests/queries/0_stateless/01086_odbc_roundtrip.sh
Labels: pr-not-for-changelog

#34876 Fix possible "Part directory doesn't exist" during INSERT
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/MergeTree/TemporaryParts.cpp
  src/Storages/MergeTree/TemporaryParts.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-bugfix

#35115 Translate zh/sql-reference/statements/alter/settings-profile
  docs/zh/sql-reference/statements/alter/settings-profile.md
Labels: pr-documentation

#34728 Improvements for `parallel_distributed_insert_select` (and related)
  src/Interpreters/Cluster.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Storages/Distributed/DistributedSink.cpp
  src/Storages/ExternalDataSourceConfiguration.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
  tests/queries/0_stateless/02224_parallel_distributed_insert_select_cluster.reference
  tests/queries/0_stateless/02224_parallel_distributed_insert_select_cluster.sql
Labels: pr-improvement

#34751 Fix `parallel_reading_from_replicas` with `clickhouse-bechmark`
  programs/benchmark/Benchmark.cpp
  src/Client/MultiplexedConnections.cpp
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
  tests/queries/0_stateless/02226_parallel_reading_from_replicas_benchmark.reference
  tests/queries/0_stateless/02226_parallel_reading_from_replicas_benchmark.sh
Labels: pr-not-for-changelog

#35125 Fix installation documentation typo
  docs/_includes/install/deb.sh
Labels: pr-documentation

#35071 Take flush_time into account for scheduling background flush of the Buffer
  src/Storages/StorageBuffer.cpp
Labels: pr-not-for-changelog

#35094 Get rid of duplicate query planing.
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectWithUnionQuery.cpp
  src/Interpreters/JoinedTables.cpp
Labels: pr-not-for-changelog

#35132 Support view() for parallel_distributed_insert_select
  src/CMakeLists.txt
  src/Storages/StorageDistributed.cpp
  src/TableFunctions/CMakeLists.txt
  src/TableFunctions/TableFunctionView.cpp
  src/TableFunctions/TableFunctionView.h
  tests/queries/0_stateless/02225_parallel_distributed_insert_select_view.reference
  tests/queries/0_stateless/02225_parallel_distributed_insert_select_view.sh
Labels: pr-improvement

#35129 Fix hardcoded page size
  src/Common/PODArray.h
Labels: pr-not-for-changelog

#35146 Fix partition pruning error when non-monotonic function is used with IN operator
  src/Functions/IFunction.h
  src/Interpreters/Set.cpp
  src/Interpreters/Set.h
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/02232_partition_pruner_single_point.reference
  tests/queries/0_stateless/02232_partition_pruner_single_point.sql
Labels: pr-bugfix

#35033 Crb restructure css
  docs/tools/webpack.config.js
  docs/tools/website.py
  website/benchmark/dbms/index.html
  website/benchmark/hardware/index.html
  website/css/greenhouse.css
  website/js/base.js
  website/src/scss/greenhouse.scss
  website/templates/common_css.html
  website/templates/common_js.html
  website/templates/common_meta.html
  website/templates/docs/amp.html
  website/templates/docs/nav.html
  website/templates/docs/sidebar.html
Labels: pr-documentation

#34957 Optimization for first time to read a random access readbuffer in hive
  src/Storages/Cache/ExternalDataSourceCache.cpp
  src/Storages/Cache/ExternalDataSourceCache.h
  src/Storages/Cache/RemoteCacheController.cpp
  src/Storages/Cache/RemoteCacheController.h
  src/Storages/Hive/StorageHive.cpp
  tests/integration/test_hive_query/test.py
Labels: pr-improvement, can be tested

#35116 fixed snappy decoder bug: `HadoopSnappyDecoder::buffer` is invalid when copy multi blocks input data at the same place
  src/IO/HadoopSnappyReadBuffer.cpp
  src/IO/examples/hadoop_snappy_read_buffer.cpp
  src/IO/tests/gtest_hadoop_snappy_decoder.cpp
  tests/queries/0_stateless/01060_avro.reference
  tests/queries/0_stateless/01060_avro.sh
Labels: pr-bugfix, can be tested

#35135 Parsing YAML config to XML leads to incorrect structures
  src/CMakeLists.txt
  src/Common/Config/YAMLParser.cpp
  src/Common/tests/gtest_helper_functions.h
  src/Common/tests/gtest_yaml_parser.cpp
Labels: pr-bugfix, can be tested

#35176 Fix bug in schema inference in s3 table function
  src/TableFunctions/TableFunctionS3.cpp
  tests/integration/test_storage_s3/test.py
Labels: pr-bugfix

#35162 Fix materialised postgres `table overrides` for partition by, etc
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
  tests/integration/test_postgresql_replica_database_engine_2/test.py
Labels: pr-bugfix

#35032 Avoid division by zero in Query Profiler if Linux kernel has a bug
  src/Common/QueryProfiler.cpp
Labels: pr-improvement

#35172 Add non-retriable errors check for HTTP read buffer
  src/IO/ReadWriteBufferFromHTTP.h
Labels: pr-improvement

#35179 fix breakpoint not hit in clion
  CMakeLists.txt
Labels: pr-build, can be tested

#35134 Fix `optimize_skip_unused_shards_rewrite_in` for signed columns and negative values
  src/Interpreters/OptimizeShardingKeyRewriteInVisitor.cpp
  tests/queries/0_stateless/01756_optimize_skip_unused_shards_rewrite_in.reference
  tests/queries/0_stateless/01756_optimize_skip_unused_shards_rewrite_in.sql
  tests/queries/0_stateless/01930_optimize_skip_unused_shards_rewrite_in.reference
Labels: pr-bugfix

#35103 Try to build llvm for Aarch64
  contrib/llvm-cmake/CMakeLists.txt
Labels: pr-not-for-changelog

#35178 Added disk_name to system.part_log
  src/Interpreters/PartLog.cpp
  src/Interpreters/PartLog.h
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/integration/test_part_log_table/configs/config_disk_name_test.xml
  tests/integration/test_part_log_table/test.py
Labels: pr-improvement, can be tested

#35141 Delete nodes with attributes `remove` or `replace` if they didn't merge
  src/Common/Config/ConfigProcessor.cpp
  src/Common/tests/gtest_merge_configs.cpp
Labels: pr-not-for-changelog

#35203 Add Segment script to <head> of docs pages
  website/js/base.js
Labels: pr-not-for-changelog

#34999 Fix unexpected result when use -state type aggregate function in window frame
  src/Processors/Transforms/WindowTransform.cpp
  tests/queries/0_stateless/01591_window_functions.reference
  tests/queries/0_stateless/01591_window_functions.sql
Labels: pr-bugfix, can be tested

#35186 Fix empty chunk in with total transform
  src/Processors/Transforms/TotalsHavingTransform.cpp
  src/Processors/Transforms/TotalsHavingTransform.h
  tests/queries/0_stateless/02233_with_total_empty_chunk.reference
  tests/queries/0_stateless/02233_with_total_empty_chunk.sql
Labels: pr-bugfix

#35200 Remove useless file
  tests/ci/ci_config.json
Labels: pr-not-for-changelog

#35198 MaterializedMySQL protocol example fix
  src/Core/examples/mysql_protocol.cpp
Labels: pr-not-for-changelog

#35197 Doc. Note about mutation versio
  docs/en/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/ru/engines/table-engines/mergetree-family/custom-partitioning-key.md
Labels: pr-documentation

#35199 Remove useless files
  .github/codecov.yml
  .github/workflows/anchore-analysis.yml
Labels: pr-not-for-changelog

#35079 fix #33798
  src/Interpreters/RewriteFunctionToSubcolumnVisitor.cpp
  tests/queries/0_stateless/02232_functions_to_subcolumns_alias.reference
  tests/queries/0_stateless/02232_functions_to_subcolumns_alias.sql
Labels: pr-bugfix, can be tested

#35196 Add ability to strip binaries in cmake
  CMakeLists.txt
  cmake/strip.sh
  cmake/strip_binary.cmake
  cmake/tools.cmake
  programs/CMakeLists.txt
  programs/library-bridge/CMakeLists.txt
  programs/odbc-bridge/CMakeLists.txt
Labels: pr-build

#34771 Fix undefined __pthread_mutex_lock/unlock for glibc 2.34+/DISABLE_HERMETIC_BUILD
  src/Common/ThreadFuzzer.cpp
Labels: pr-not-for-changelog

#34919 Fix alignment for aligned_alloc() to fix build for glibc2.35+
  src/Common/malloc.cpp
Labels: pr-not-for-changelog

#35217 [docs] update nyc-taxi.md
  docs/en/getting-started/example-datasets/nyc-taxi.md
  docs/ja/getting-started/example-datasets/nyc-taxi.md
  docs/ru/getting-started/example-datasets/nyc-taxi.md
  docs/zh/getting-started/example-datasets/nyc-taxi.md
Labels: pr-documentation

#35218 [docs] update continuous-integration.md
  docs/en/development/continuous-integration.md
  docs/zh/development/continuous-integration.md
Labels: pr-documentation

#35219 [docs] update playground.md
  docs/en/getting-started/playground.md
  docs/ja/getting-started/playground.md
  docs/ru/getting-started/playground.md
  docs/zh/getting-started/playground.md
Labels: pr-documentation

#35220 [docs] update distributed.md
  docs/en/engines/table-engines/special/distributed.md
  docs/ja/engines/table-engines/special/distributed.md
  docs/ru/engines/table-engines/special/distributed.md
  docs/zh/engines/table-engines/special/distributed.md
Labels: pr-documentation

#35221 [docs] update integrations.md
  docs/en/interfaces/third-party/integrations.md
  docs/ja/interfaces/third-party/integrations.md
  docs/ru/interfaces/third-party/integrations.md
  docs/zh/interfaces/third-party/integrations.md
Labels: pr-documentation

#35222 [docs] update mapreduce.md
  docs/en/faq/general/mapreduce.md
  docs/ru/faq/general/mapreduce.md
  docs/zh/faq/general/mapreduce.md
Labels: pr-documentation

#35182 Fix replaceRegexpAll
  src/Functions/ReplaceRegexpImpl.h
  tests/queries/0_stateless/02151_replace_regexp_all_empty_match_alternative.reference
  tests/queries/0_stateless/02151_replace_regexp_all_empty_match_alternative.sql
Labels: pr-bugfix

#35230 Change examples in docs
  docs/en/development/style.md
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/sql-reference/data-types/datetime.md
  docs/en/sql-reference/data-types/datetime64.md
  docs/en/sql-reference/functions/date-time-functions.md
  docs/en/sql-reference/functions/type-conversion-functions.md
  docs/en/sql-reference/operators/index.md
  docs/en/whats-new/changelog/2018.md
  docs/en/whats-new/changelog/2019.md
  docs/ja/operations/server-configuration-parameters/settings.md
  docs/ja/sql-reference/data-types/datetime.md
  docs/ja/sql-reference/data-types/datetime64.md
  docs/ja/sql-reference/functions/type-conversion-functions.md
  docs/ko/images/column-oriented.gif
  docs/ko/images/logo.svg
  docs/ko/images/play.png
  docs/ko/images/row-oriented.gif
  docs/ko/index.md
  docs/zh/operations/server-configuration-parameters/settings.md
  docs/zh/sql-reference/data-types/datetime64.md
  docs/zh/sql-reference/functions/date-time-functions.md
  docs/zh/sql-reference/functions/type-conversion-functions.md
  docs/zh/whats-new/changelog/2018.md
  docs/zh/whats-new/changelog/2019.md
Labels: pr-documentation

#35223 Remove redundant configs for TestFlows
  tests/testflows/aes_encryption/configs/clickhouse/common.xml
  tests/testflows/aes_encryption/configs/clickhouse/config.xml
  tests/testflows/aes_encryption/configs/clickhouse/users.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse/common.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse/config.xml
  tests/testflows/datetime64_extended_range/configs/clickhouse/users.xml
  tests/testflows/example/configs/clickhouse/common.xml
  tests/testflows/example/configs/clickhouse/config.xml
  tests/testflows/example/configs/clickhouse/users.xml
  tests/testflows/extended_precision_data_types/configs/clickhouse/common.xml
  tests/testflows/extended_precision_data_types/configs/clickhouse/config.xml
  tests/testflows/extended_precision_data_types/configs/clickhouse/users.xml
  tests/testflows/kerberos/configs/clickhouse/common.xml
  tests/testflows/kerberos/configs/clickhouse/config.xml
  tests/testflows/kerberos/configs/clickhouse/users.xml
  tests/testflows/ldap/authentication/configs/clickhouse/common.xml
  tests/testflows/ldap/authentication/configs/clickhouse/config.xml
  tests/testflows/ldap/authentication/configs/clickhouse/users.xml
  tests/testflows/ldap/external_user_directory/configs/clickhouse/common.xml
  tests/testflows/ldap/external_user_directory/configs/clickhouse/config.xml
  tests/testflows/ldap/external_user_directory/configs/clickhouse/users.xml
  tests/testflows/ldap/role_mapping/configs/clickhouse/common.xml
  tests/testflows/ldap/role_mapping/configs/clickhouse/config.xml
  tests/testflows/ldap/role_mapping/configs/clickhouse/users.xml
  tests/testflows/map_type/configs/clickhouse/config.xml
  tests/testflows/map_type/configs/clickhouse/users.xml
  tests/testflows/rbac/configs/clickhouse/common.xml
  tests/testflows/rbac/configs/clickhouse/config.xml
  tests/testflows/rbac/configs/clickhouse/users.xml
  tests/testflows/window_functions/configs/clickhouse/config.xml
  tests/testflows/window_functions/configs/clickhouse/users.xml
Labels: pr-not-for-changelog

#35232 Moved submodules from ClickHouse-Extras to ClickHouse
  .gitmodules
Labels: pr-not-for-changelog

#35227 Adjust timezone in performance tests
  tests/performance/date_time_long.xml
  tests/performance/date_time_short.xml
  tests/performance/generate_table_function.xml
Labels: pr-not-for-changelog

#35225 Change timezone in Docker
  docker/test/base/Dockerfile
  docker/test/fasttest/Dockerfile
  docker/test/fuzzer/Dockerfile
  docker/test/integration/base/Dockerfile
  docker/test/integration/runner/Dockerfile
  docker/test/performance-comparison/Dockerfile
  docker/test/stateless/Dockerfile
  docker/test/testflows/runner/Dockerfile
Labels: pr-not-for-changelog

#35228 Remove "bugs" that do not exist anymore
  tests/queries/0_stateless/01133_max_result_rows.reference
  tests/queries/0_stateless/01133_max_result_rows.sql
  tests/queries/0_stateless/01482_move_to_prewhere_and_cast.reference
  tests/queries/0_stateless/01482_move_to_prewhere_and_cast.sql
  tests/queries/0_stateless/02234_position_case_insensitive_utf8.reference
  tests/queries/0_stateless/02234_position_case_insensitive_utf8.sql
  tests/queries/bugs/position_case_insensitive_utf8.sql
Labels: pr-not-for-changelog

#35226 Change timezone example in server config
  programs/server/config.xml
  programs/server/config.yaml.example
  src/DataTypes/DataTypeDateTime.h
  src/Dictionaries/Embedded/RegionsHierarchies.h
  src/Functions/FunctionsEmbeddedDictionaries.h
  src/Functions/FunctionsTonalityClassification.cpp
  src/Functions/greatCircleDistance.cpp
  src/Functions/timezoneOf.cpp
Labels: pr-not-for-changelog

#35212 Use C++14 aliases for some type traits
  src/AggregateFunctions/AggregateFunctionMLMethod.cpp
  src/AggregateFunctions/AggregateFunctionMap.h
  src/AggregateFunctions/AggregateFunctionSum.h
  src/Common/ColumnsHashing.h
  src/Common/ColumnsHashingImpl.h
  src/Common/JSONBuilder.h
  src/Common/tests/gtest_strong_typedef.cpp
  src/Functions/GatherUtils/Sources.h
  src/Functions/array/arrayIntersect.cpp
  src/Functions/array/mapOp.cpp
Labels: pr-not-for-changelog, can be tested

#35236 Update references in docs
  docs/en/development/developer-instruction.md
  docs/en/development/tests.md
  docs/en/engines/table-engines/integrations/s3.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/engines/table-engines/mergetree-family/replication.md
  docs/en/faq/general/mapreduce.md
  docs/en/faq/general/ne-tormozit.md
  docs/en/getting-started/example-datasets/index.md
  docs/en/getting-started/example-datasets/metrica.md
  docs/en/getting-started/tutorial.md
  docs/en/guides/apply-catboost-model.md
  docs/en/interfaces/formats.md
  docs/en/interfaces/index.md
  docs/en/introduction/performance.md
  docs/en/operations/performance-test.md
  docs/en/operations/quotas.md
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/settings/settings.md
  docs/en/operations/ssl-zookeeper.md
  docs/en/operations/system-tables/functions.md
  docs/en/operations/system-tables/replication_queue.md
  docs/en/operations/system-tables/zookeeper.md
  docs/en/operations/tips.md
  docs/en/sql-reference/aggregate-functions/combinators.md
  docs/en/sql-reference/dictionaries/internal-dicts.md
  docs/en/sql-reference/functions/date-time-functions.md
  docs/en/sql-reference/functions/hash-functions.md
  docs/en/sql-reference/functions/json-functions.md
  docs/en/sql-reference/functions/rounding-functions.md
  docs/en/sql-reference/functions/url-functions.md
  docs/en/sql-reference/table-functions/s3.md
  docs/en/whats-new/changelog/2018.md
  docs/ja/getting-started/tutorial.md
Labels: pr-documentation, can be tested

#35245 Update CachedReadBufferFromRemoteFS.cpp
  src/Disks/IO/CachedReadBufferFromRemoteFS.cpp
Labels: pr-not-for-changelog

#34750 MergeTree improve insert performance
  src/Columns/ColumnAggregateFunction.cpp
  src/Columns/ColumnAggregateFunction.h
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnArray.h
  src/Columns/ColumnCompressed.h
  src/Columns/ColumnConst.cpp
  src/Columns/ColumnConst.h
  src/Columns/ColumnDecimal.cpp
  src/Columns/ColumnDecimal.h
  src/Columns/ColumnFixedString.cpp
  src/Columns/ColumnFixedString.h
  src/Columns/ColumnFunction.h
  src/Columns/ColumnLowCardinality.cpp
  src/Columns/ColumnLowCardinality.h
  src/Columns/ColumnMap.cpp
  src/Columns/ColumnMap.h
  src/Columns/ColumnNullable.cpp
  src/Columns/ColumnNullable.h
  src/Columns/ColumnSparse.cpp
  src/Columns/ColumnSparse.h
  src/Columns/ColumnString.cpp
  src/Columns/ColumnString.h
  src/Columns/ColumnTuple.cpp
  src/Columns/ColumnTuple.h
  src/Columns/ColumnUnique.h
  src/Columns/ColumnVector.cpp
  src/Columns/ColumnVector.h
  src/Columns/IColumn.h
  src/Columns/IColumnDummy.h
  src/Columns/IColumnImpl.h
  src/Columns/IColumnUnique.h
  src/Columns/tests/gtest_column_sparse.cpp
  src/Columns/tests/gtest_column_stable_permutation.cpp
  src/Interpreters/sortBlock.cpp
  tests/performance/merge_tree_insert.xml
Labels: pr-performance

#35242 Remove "bugs" that do not exist anymore
  tests/queries/0_stateless/01482_move_to_prewhere_and_cast.reference
  tests/queries/0_stateless/01482_move_to_prewhere_and_cast.sql
  tests/queries/0_stateless/02234_position_case_insensitive_utf8.reference
  tests/queries/0_stateless/02234_position_case_insensitive_utf8.sql
  tests/queries/bugs/position_case_insensitive_utf8.sql
Labels: pr-not-for-changelog

#35249 Fix possible 01506_buffer_table_alter_block_structure_2 flakiness
  tests/queries/0_stateless/01506_buffer_table_alter_block_structure_2.sql
Labels: pr-not-for-changelog

#35247 Add a test for #34682
  tests/queries/0_stateless/02234_column_function_short_circuit.reference
  tests/queries/0_stateless/02234_column_function_short_circuit.sql
Labels: pr-not-for-changelog

#35256 Update quotas.md
  docs/en/operations/quotas.md
Labels: pr-documentation, doc-alert

#35253 Update json-functions.md
  docs/en/sql-reference/functions/json-functions.md
Labels: pr-documentation, doc-alert

#35254 Update rounding-functions.md
  docs/en/sql-reference/functions/rounding-functions.md
Labels: pr-documentation, doc-alert

#35251 Doc. named connections
  docs/en/operations/named-collections.md
  docs/ru/operations/named-collections.md
Labels: pr-documentation

#35255 Update internal-dicts.md
  docs/en/sql-reference/dictionaries/internal-dicts.md
Labels: pr-documentation, doc-alert

#35123 fix build fail with gcc
  contrib/jemalloc-cmake/include/jemalloc/jemalloc.h
  src/Databases/PostgreSQL/DatabasePostgreSQL.cpp
  src/Formats/MsgPackExtensionTypes.h
  src/Processors/Formats/Impl/JSONCompactEachRowRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONRowOutputFormat.cpp
  src/Processors/Formats/Impl/MsgPackRowInputFormat.cpp
  src/Processors/Formats/Impl/MsgPackRowOutputFormat.cpp
  src/Processors/Formats/Impl/VerticalRowOutputFormat.cpp
  src/Processors/Transforms/MergingAggregatedMemoryEfficientTransform.cpp
  src/Processors/Transforms/MergingAggregatedTransform.cpp
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  utils/graphite-rollup/CMakeLists.txt
Labels: pr-not-for-changelog, can be tested

#35209 Cache fix
  src/Common/FileCache.cpp
  src/Common/FileSegment.cpp
  src/Common/FileSegment.h
  src/Disks/IO/CachedReadBufferFromRemoteFS.cpp
  src/Disks/IO/CachedReadBufferFromRemoteFS.h
Labels: pr-not-for-changelog

#35229 Change timezone in stateful tests.
  tests/queries/1_stateful/00011_sorting.sql
  tests/queries/1_stateful/00012_sorting_distributed.sql
  tests/queries/1_stateful/00066_sorting_distributed_many_replicas.sql
  tests/queries/1_stateful/00071_merge_tree_optimize_aio.sql
  tests/queries/1_stateful/00072_compare_date_and_string_index.sql
  tests/queries/1_stateful/00075_left_array_join.sql
  tests/queries/1_stateful/00091_prewhere_two_conditions.sql
  tests/queries/1_stateful/00159_parallel_formatting_csv_and_friends.reference
  tests/queries/1_stateful/00159_parallel_formatting_csv_and_friends.sh
  tests/queries/1_stateful/00159_parallel_formatting_http.reference
  tests/queries/1_stateful/00159_parallel_formatting_http.sh
  tests/queries/1_stateful/00159_parallel_formatting_json_and_friends.reference
  tests/queries/1_stateful/00159_parallel_formatting_json_and_friends.sh
  tests/queries/1_stateful/00159_parallel_formatting_tsv_and_friends.reference
  tests/queries/1_stateful/00159_parallel_formatting_tsv_and_friends.sh
  tests/queries/1_stateful/00161_parallel_parsing_with_names.reference
  tests/queries/1_stateful/00161_parallel_parsing_with_names.sh
  tests/queries/1_stateful/00163_column_oriented_formats.reference
  tests/queries/1_stateful/00163_column_oriented_formats.sh
  tests/queries/1_stateful/00167_parallel_parsing_with_names_and_types.reference
  tests/queries/1_stateful/00167_parallel_parsing_with_names_and_types.sh
Labels: pr-not-for-changelog

#35031 Building small keeper binary
  CMakeLists.txt
  base/daemon/SentryWriter.cpp
  base/loggers/CMakeLists.txt
  base/loggers/Loggers.cpp
  base/loggers/Loggers.h
  base/loggers/OwnSplitChannel.cpp
  base/loggers/OwnSplitChannel.h
  programs/CMakeLists.txt
  programs/keeper/CMakeLists.txt
  programs/keeper/Keeper.cpp
  programs/keeper/Keeper.h
  programs/keeper/TinyContext.cpp
  programs/keeper/TinyContext.h
  programs/server/Server.cpp
  src/Server/KeeperTCPHandler.cpp
  src/Server/KeeperTCPHandler.h
  src/Server/KeeperTCPHandlerFactory.h
  src/Server/ProtocolServerAdapter.cpp
  src/Server/ProtocolServerAdapter.h
Labels: pr-build

#35072 Avoid MEMORY_LIMIT_EXCEEDED during INSERT into Buffer with AggregateFunction
  src/Columns/ColumnAggregateFunction.cpp
  src/Columns/ColumnAggregateFunction.h
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnArray.h
  src/Columns/ColumnMap.cpp
  src/Columns/ColumnMap.h
  src/Columns/ColumnNullable.cpp
  src/Columns/ColumnNullable.h
  src/Columns/ColumnTuple.cpp
  src/Columns/ColumnTuple.h
  src/Columns/IColumn.h
  src/Storages/StorageBuffer.cpp
  tests/queries/0_stateless/02231_buffer_aggregate_states_leak.reference
  tests/queries/0_stateless/02231_buffer_aggregate_states_leak.sql
Labels: pr-improvement

#35257 Wait for IDiskRemote thread pool properly
  src/IO/WriteBufferFromS3.h
  src/Interpreters/Context.cpp
Labels: pr-bugfix

#35261 Fix flaky test
  tests/queries/0_stateless/01162_strange_mutations.sh
Labels: pr-not-for-changelog

#35277 Doc. named connections. Сontinuation.
  docs/en/operations/named-collections.md
  docs/ru/operations/named-collections.md
Labels: pr-documentation

#35280 Remove utils/github-hook/hook.py
  utils/github-hook/hook.py
Labels: pr-not-for-changelog

#35282 Fix test
  tests/queries/0_stateless/02233_data/test_setting_input_format_use_lowercase_column_name.orc
  tests/queries/0_stateless/02233_data/test_setting_input_format_use_lowercase_column_name.parquet
  tests/queries/0_stateless/02233_setting_input_format_use_lowercase_column_name.sh
Labels: pr-not-for-changelog

#35274 Fix check table in case when there exist sparse columns
  src/Storages/MergeTree/checkDataPart.cpp
  tests/queries/0_stateless/02235_check_table_sparse_serialization.reference
  tests/queries/0_stateless/02235_check_table_sparse_serialization.sql
Labels: pr-bugfix

#35191 Added RemoteHostFilter check for MYSQL and postgresSQL
  src/Storages/StorageMySQL.cpp
  src/Storages/StoragePostgreSQL.cpp
Labels: pr-improvement, can be tested

#35173 Dump ast in dot format
  programs/server/play.html
  src/Interpreters/InterpreterExplainQuery.cpp
  src/Parsers/DumpASTNode.h
Labels: pr-feature, doc-alert

#35278 Add remote fs cache optimization
  src/Disks/IO/CachedReadBufferFromRemoteFS.cpp
Labels: pr-not-for-changelog

#35194 Adjust max_memory_usage in external_aggregation.sql
  tests/queries/0_stateless/00284_external_aggregation.sql
Labels: pr-not-for-changelog

#35207 Add column distributed_depth for system.query_log and system.processes
  src/Interpreters/QueryLog.cpp
  src/Interpreters/QueryThreadLog.cpp
  src/Storages/System/StorageSystemProcesses.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-improvement

#35281 Fix possible Abort while using Brotli compression
  src/IO/BrotliReadBuffer.cpp
  tests/queries/0_stateless/02235_brotli_bug.reference
  tests/queries/0_stateless/02235_brotli_bug.sh
Labels: pr-bugfix

#35264 Support test mode for clickhouse-local
  programs/client/CMakeLists.txt
  programs/client/Client.cpp
  programs/client/Client.h
  programs/local/LocalServer.cpp
  programs/local/LocalServer.h
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  src/Client/TestTags.cpp
  src/Client/TestTags.h
  tests/queries/0_stateless/02234_clickhouse_local_test_mode.reference
  tests/queries/0_stateless/02234_clickhouse_local_test_mode.sh
Labels: pr-improvement
