Repository ClickHouse/ClickHouse, pull requests merged in 2022-04, with the labels that each got.

#35822 Doc. note about move_factor
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation

#35815 Fix cgroups cores detection
  src/Common/getNumberOfPhysicalCPUCores.cpp
Labels: pr-bugfix

#35814 Better error message for incorrect *MergeTree arguments
  src/Storages/MergeTree/registerStorageMergeTree.cpp
Labels: pr-not-for-changelog

#35586 Fix s3 engine getting virtual columns
  docs/en/operations/named-collections.md
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/HDFS/StorageHDFS.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/Storages/getVirtualsForStorage.cpp
  src/Storages/getVirtualsForStorage.h
  src/TableFunctions/TableFunctionS3.cpp
  tests/config/config.d/named_collection.xml
  tests/integration/test_storage_hdfs/test.py
  tests/queries/0_stateless/02245_s3_virtual_columns.reference
  tests/queries/0_stateless/02245_s3_virtual_columns.sql
Labels: pr-bugfix, v22.3-must-backport

#35705 Added `is_secure` column to `query_log`
  src/Interpreters/ClientInfo.h
  src/Interpreters/QueryLog.cpp
  src/Interpreters/QueryThreadLog.cpp
  src/Interpreters/Session.cpp
  src/Interpreters/Session.h
  src/Server/HTTPHandler.cpp
  src/Server/TCPHandler.cpp
  tests/queries/0_stateless/02246_is_secure_query_log.reference
  tests/queries/0_stateless/02246_is_secure_query_log.sh
Labels: pr-improvement

#35798 Delete duplicate code
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog, can be tested

#35808 Try to fix some integration tests
  tests/integration/test_dotnet_client/test.py
  tests/integration/test_mysql_protocol/test.py
  tests/integration/test_postgresql_protocol/test.py
Labels: pr-not-for-changelog

#35800 remove unused variable
  src/Storages/WindowView/StorageWindowView.h
Labels: pr-not-for-changelog

#35365 Improve check access in table functions
  src/Access/Common/AccessType.h
  src/Storages/Hive/StorageHive.cpp
  src/TableFunctions/Hive/TableFunctionHive.h
  src/TableFunctions/ITableFunction.cpp
  src/TableFunctions/ITableFunction.h
  src/TableFunctions/TableFunctionHDFSCluster.h
  src/TableFunctions/TableFunctionS3Cluster.h
  tests/queries/0_stateless/01271_show_privileges.reference
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-improvement, can be tested

#35381 Cache fixes for high concurrency on corner cases
  src/Common/FileCache.cpp
  src/Common/FileCache.h
  src/Common/FileSegment.cpp
  src/Common/FileSegment.h
  src/Common/tests/gtest_lru_file_cache.cpp
  src/Disks/IO/CachedReadBufferFromRemoteFS.cpp
  src/Disks/IO/CachedReadBufferFromRemoteFS.h
  src/Disks/IO/ThreadPoolRemoteFSReader.cpp
  tests/queries/0_stateless/02235_remote_fs_cache_stress.reference
  tests/queries/0_stateless/02235_remote_fs_cache_stress.sh
Labels: pr-bugfix

#35799 Fix extract function parser
  src/Parsers/ExpressionElementParsers.cpp
  tests/queries/0_stateless/02247_fix_extract_parser.reference
  tests/queries/0_stateless/02247_fix_extract_parser.sql
Labels: pr-bugfix

#35770 Fix enable LLVM for JIT compilation in CMake
  contrib/llvm-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, pr-must-backport

#35807 Fix latest_error referenced before assignment
  tests/ci/docker_pull_helper.py
Labels: pr-not-for-changelog

#35789 Refactoring QueryPipeline
  src/QueryPipeline/Pipe.cpp
  src/QueryPipeline/Pipe.h
  src/QueryPipeline/QueryPipelineBuilder.cpp
  src/QueryPipeline/QueryPipelineBuilder.h
Labels: pr-not-for-changelog

#35706 Allow EPHEMERAL without explicit default expression
  docs/en/sql-reference/statements/create/table.md
  docs/ru/sql-reference/statements/create/table.md
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Parsers/ASTColumnDeclaration.cpp
  src/Parsers/ParserCreateQuery.h
  tests/queries/0_stateless/02205_ephemeral_1.reference
  tests/queries/0_stateless/02205_ephemeral_1.sql
Labels: pr-improvement

#35833 Try remove unneed variable
  src/Storages/WindowView/StorageWindowView.cpp
  src/Storages/WindowView/StorageWindowView.h
Labels: pr-not-for-changelog

#35817 Fix missing `noexcept(false)` flag on destructor which causes builds to fail
  src/Common/FileSegment.cpp
Labels: pr-not-for-changelog, can be tested

#35860 Play UI hourglass animation
  programs/server/play.html
Labels: pr-improvement

#35760 Improve schema inference for insert select from table functions
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/TableFunctions/TableFunctionInput.cpp
  src/TableFunctions/TableFunctionInput.h
  tests/queries/0_stateless/01825_type_json_schema_inference.reference
  tests/queries/0_stateless/02249_insert_select_from_input_schema_inference.reference
  tests/queries/0_stateless/02249_insert_select_from_input_schema_inference.sql
  tests/queries/0_stateless/02250_insert_select_from_file_schema_inference.reference
  tests/queries/0_stateless/02250_insert_select_from_file_schema_inference.sql
Labels: pr-improvement

#35868 Drop modernize-replace-auto-ptr from .clang-tidy
  .clang-tidy
Labels: pr-not-for-changelog

#35736 Add quota for written bytes
  src/Access/Common/QuotaDefs.cpp
  src/Access/Common/QuotaDefs.h
  src/Access/EnabledQuota.cpp
  src/Common/ErrorCodes.cpp
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Processors/Executors/ExecutionThreadContext.cpp
  src/Processors/Transforms/CountingTransform.cpp
  src/Processors/Transforms/CountingTransform.h
  tests/integration/test_quota/test.py
  tests/queries/0_stateless/01297_create_quota.reference
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/02246_async_insert_quota.reference
  tests/queries/0_stateless/02246_async_insert_quota.sh
  tests/queries/0_stateless/02247_written_bytes_quota.reference
  tests/queries/0_stateless/02247_written_bytes_quota.sh
Labels: pr-feature

#35869 fix service start with systemd
  debian/clickhouse-server.service
  packages/clickhouse-server.service
Labels: pr-not-for-changelog

#35870 Update examples and remove obsolete embedded dictionaries from configs
  programs/server/config.xml
  programs/server/config.yaml.example
  programs/server/users.xml
  programs/server/users.yaml.example
Labels: pr-documentation

#35759 Clean dirty meta cache when part is broken during part loading phase
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
Labels: pr-bugfix, can be tested

#35872 Update URL in test visualizer
  utils/tests-visualizer/index.html
Labels: pr-build

#35646 narrow mutex scope when setenv LIBHDFS3_CONF
  src/Storages/HDFS/HDFSCommon.cpp
  src/Storages/HDFS/ReadBufferFromHDFS.cpp
Labels: pr-performance, can be tested

#35873 Disable session_log
  programs/server/config.xml
  tests/queries/bugs/01747_system_session_log_long.reference
  tests/queries/bugs/01747_system_session_log_long.sh
Labels: pr-bugfix

#35617 fix link in documentation
  docs/ru/sql-reference/table-functions/postgresql.md
Labels: pr-documentation, can be tested

#34394 Add toLastDayOfMonth function
  docs/en/sql-reference/functions/date-time-functions.md
  src/Common/DateLUTImpl.h
  src/Common/tests/gtest_DateLUTImpl.cpp
  src/Functions/DateTimeTransforms.h
  src/Functions/registerFunctionsDateTime.cpp
  src/Functions/toLastDayOfMonth.cpp
  tests/queries/0_stateless/02251_last_day_of_month.reference
  tests/queries/0_stateless/02251_last_day_of_month.sql
  utils/db-generator/query_db_generator.cpp
Labels: pr-feature, doc-alert, can be tested

#35733 Added test for insert of invalid IPv6 value
  src/Core/Settings.h
  src/DataTypes/Serializations/SerializationIP.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  tests/queries/0_stateless/02244_ip_address_invalid_insert.reference
  tests/queries/0_stateless/02244_ip_address_invalid_insert.sql
Labels: pr-bugfix, pr-must-backport

#35612 Improve the pipeline description for JOIN
  src/Processors/QueryPlan/ITransformingStep.cpp
  src/Processors/QueryPlan/ITransformingStep.h
  src/QueryPipeline/QueryPipelineBuilder.cpp
  tests/queries/0_stateless/02236_explain_pipeline_join.reference
  tests/queries/0_stateless/02236_explain_pipeline_join.sql
Labels: pr-improvement, can be tested

#35805 Make `SortDescription::column_name` always non-empty
  src/Core/Block.cpp
  src/Core/SortCursor.h
  src/Core/SortDescription.cpp
  src/Core/SortDescription.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/Set.cpp
  src/Interpreters/sortBlock.cpp
  src/Processors/LimitTransform.cpp
  src/Processors/Merges/Algorithms/AggregatingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/CollapsingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/FinishAggregatingInOrderAlgorithm.cpp
  src/Processors/Merges/Algorithms/FinishAggregatingInOrderAlgorithm.h
  src/Processors/Merges/Algorithms/GraphiteRollupSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/IMergingAlgorithmWithDelayedChunk.cpp
  src/Processors/Merges/Algorithms/IMergingAlgorithmWithDelayedChunk.h
  src/Processors/Merges/Algorithms/IMergingAlgorithmWithSharedChunks.cpp
  src/Processors/Merges/Algorithms/IMergingAlgorithmWithSharedChunks.h
  src/Processors/Merges/Algorithms/MergingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/MergingSortedAlgorithm.h
  src/Processors/Merges/Algorithms/ReplacingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/SummingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/VersionedCollapsingAlgorithm.cpp
  src/Processors/QueryPlan/FillingStep.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/SortingStep.cpp
  src/Processors/QueryPlan/WindowStep.cpp
  src/Processors/Transforms/AggregatingInOrderTransform.cpp
  src/Processors/Transforms/AggregatingInOrderTransform.h
  src/Processors/Transforms/CheckSortedTransform.cpp
  src/Processors/Transforms/CheckSortedTransform.h
  src/Processors/Transforms/DistinctSortedTransform.cpp
  src/Processors/Transforms/DistinctSortedTransform.h
  src/Processors/Transforms/FinishSortingTransform.cpp
  src/Processors/Transforms/FinishSortingTransform.h
  src/Processors/Transforms/MergeSortingTransform.cpp
  src/Processors/Transforms/MergeSortingTransform.h
  src/Processors/Transforms/PartialSortingTransform.cpp
  src/Processors/Transforms/SortingTransform.cpp
  src/Processors/Transforms/SortingTransform.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
Labels: pr-not-for-changelog, can be tested

#35852 Refactoring of hints for column descriptor
  src/Common/NamePrompter.cpp
  src/Common/NamePrompter.h
  src/Storages/AlterCommands.cpp
  src/Storages/ColumnsDescription.cpp
  src/Storages/ColumnsDescription.h
  src/Storages/IndicesDescription.h
  src/Storages/ProjectionsDescription.cpp
  src/Storages/ProjectionsDescription.h
  tests/queries/0_stateless/02250_hints_for_columns.reference
  tests/queries/0_stateless/02250_hints_for_columns.sh
  tests/queries/0_stateless/02250_hints_for_projections.reference
  tests/queries/0_stateless/02250_hints_for_projections.sh
Labels: pr-not-for-changelog

#35806 Fix inserts to columns of type `Object` in partitioned tables
  src/DataTypes/ObjectUtils.cpp
  src/DataTypes/ObjectUtils.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.h
  src/Storages/MergeTree/MergeTreeSink.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/StorageMemory.cpp
  tests/queries/0_stateless/01825_type_json_partitions.reference
  tests/queries/0_stateless/01825_type_json_partitions.sql
Labels: pr-bugfix

#35674 Correct check asof join key nullability
  src/Interpreters/TableJoin.cpp
  tests/queries/0_stateless/01428_nullable_asof_join.sql
Labels: pr-bugfix

#35931 Fix building ubuntu image from deb-repo
  docker/server/Dockerfile.ubuntu
Labels: do not test, pr-not-for-changelog

#35882 Make more alters of nested types metadata-only
  src/Storages/AlterCommands.cpp
  tests/queries/0_stateless/02251_alter_enum_nested_struct.reference
  tests/queries/0_stateless/02251_alter_enum_nested_struct.sql
Labels: pr-improvement

#35926 Better check for kafka_num_consumers
  src/Storages/Kafka/StorageKafka.cpp
Labels: pr-improvement

#35626 Fix optin.cplusplus.UninitializedObject issue
  .clang-tidy
  src/Common/ColumnsHashingImpl.h
  src/Common/CompactArray.h
  src/Common/JSONBuilder.h
Labels: pr-not-for-changelog, can be tested

#35886 Fix formatting of INSERT INFILE queries (missing quotes)
  src/Parsers/ASTInsertQuery.cpp
  tests/queries/0_stateless/02165_insert_from_infile.reference
  tests/queries/0_stateless/02264_format_insert_compression.reference
  tests/queries/0_stateless/02264_format_insert_compression.sql
  tests/queries/0_stateless/02264_format_insert_infile.reference
  tests/queries/0_stateless/02264_format_insert_infile.sql
Labels: pr-bugfix

#35581 Update index.md
  docs/en/sql-reference/functions/index.md
Labels: pr-documentation, can be tested

#35832 Do not build krb5 if ENABLE_LIBRARIES is not set
  contrib/krb5-cmake/CMakeLists.txt
Labels: pr-build, submodule changed, can be tested

#35794 support ALTER TABLE t DETACH PARTITION ALL syntax
  src/Parsers/ASTPartition.h
  src/Parsers/ParserPartition.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/00753_alter_attach.reference
  tests/queries/0_stateless/00753_alter_attach.sql
  tests/queries/0_stateless/01015_attach_part.reference
  tests/queries/0_stateless/01015_attach_part.sql
Labels: pr-improvement, can be tested

#35947 Highlight headers in PR template
  .github/PULL_REQUEST_TEMPLATE.md
  tests/ci/run_check.py
Labels: do not test, pr-build

#35945 Fix keeper image for `arm64`
  docker/keeper/Dockerfile
Labels: pr-not-for-changelog

#35922 Fix race in cached buffer
  src/Disks/IO/CachedReadBufferFromRemoteFS.cpp
  src/IO/ReadBufferFromS3.cpp
  src/IO/ReadBufferFromS3.h
Labels: pr-not-for-changelog

#35723 Merging #27653
  src/CMakeLists.txt
  src/Common/TargetSpecific.cpp
  src/Common/TargetSpecific.h
  src/Functions/CMakeLists.txt
  src/Functions/FunctionStartsEndsWith.h
  src/Functions/FunctionsHashing.h
  src/Functions/FunctionsRandom.h
  src/Functions/GatherUtils/Algorithms.h
  src/Functions/GatherUtils/CMakeLists.txt
  src/Functions/GatherUtils/sliceEqualElements.h
  src/Functions/GatherUtils/sliceHasImplAnyAll.h
  src/Functions/PerformanceAdaptors.h
  src/Functions/greatCircleDistance.cpp
  src/Functions/tests/gtest_has_all.cpp
  tests/performance/has_all.xml
Labels: pr-performance

#35758 extended a description of clickhouse-client compression parameter
  programs/client/Client.cpp
Labels: pr-not-for-changelog

#35904 More logs on unsuccessful part removal
  src/Interpreters/ExternalDictionariesLoader.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#35623 Functions calculation after sorting
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Processors/QueryPlan/Optimizations/Optimizations.h
  src/Processors/QueryPlan/Optimizations/liftUpFunctions.cpp
  src/Processors/QueryPlan/SortingStep.cpp
  src/Processors/QueryPlan/SortingStep.h
  tests/performance/function_calculation_after_sorting_and_limit.xml
  tests/queries/0_stateless/01576_alias_column_rewrite.reference
  tests/queries/0_stateless/01591_window_functions.reference
  tests/queries/0_stateless/01600_remerge_sort_lowered_memory_bytes_ratio.sql
  tests/queries/0_stateless/01655_plan_optimizations.reference
  tests/queries/0_stateless/01655_plan_optimizations.sh
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix.reference
Labels: pr-performance, can be tested

#35917 Executable user defined functions prevent executing during analysis
  src/Common/ProfileEvents.cpp
  src/Common/ShellCommand.cpp
  src/Interpreters/UserDefinedExecutableFunctionFactory.cpp
  tests/queries/0_stateless/02252_executable_user_defined_function_short_circuit.reference
  tests/queries/0_stateless/02252_executable_user_defined_function_short_circuit.sql
Labels: pr-not-for-changelog

#35919 Clang tidy issues
  .clang-tidy
  programs/client/Client.cpp
Labels: pr-not-for-changelog, can be tested

#35788 Improve minmax_count_projection
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  tests/queries/0_stateless/01710_minmax_count_projection.reference
  tests/queries/0_stateless/01710_minmax_count_projection.sql
  tests/queries/0_stateless/02052_last_granula_adjust_LOGICAL_ERROR.reference
  tests/queries/0_stateless/02052_last_granula_adjust_LOGICAL_ERROR.sql.j2
Labels: pr-improvement

#35918 JIT ProfileEvents added test
  tests/queries/0_stateless/02252_jit_profile_events.reference
  tests/queries/0_stateless/02252_jit_profile_events.sql
Labels: pr-not-for-changelog

#35964 Update Contentsquare company case
  docs/en/introduction/adopters.md
  docs/ja/introduction/adopters.md
  website/blog/en/2018/clickhouse-community-meetup-in-paris-on-october-2-2018.md
Labels: pr-not-for-changelog

#35936 Move credentials for integration tests into a separate file (The ticket name in IBM's JIRA is MARIANA-62)
  tests/integration/helpers/cluster.py
  tests/integration/helpers/config_cluster.py
Labels: pr-not-for-changelog, can be tested

#35638 test for crash _join_with_nullable_lowcardinality #35551
  tests/queries/0_stateless/02245_join_with_nullable_lowcardinality_crash.reference
  tests/queries/0_stateless/02245_join_with_nullable_lowcardinality_crash.sql
Labels: pr-not-for-changelog

#35354 Remove testmode option, enable it unconditionally
  docker/test/fuzzer/run-fuzzer.sh
  src/Client/ClientBase.cpp
  src/Client/TestHint.cpp
  src/Client/TestHint.h
  tests/clickhouse-test
  tests/integration/helpers/client.py
  tests/queries/0_stateless/00825_protobuf_format_no_length_delimiter.sh
  tests/queries/0_stateless/00921_datetime64_compatibility_long.sh
  tests/queries/0_stateless/01278_min_insert_block_size_rows_for_materialized_views.sh
  tests/queries/0_stateless/01280_ssd_complex_key_dictionary.sh
  tests/queries/0_stateless/01691_parser_data_type_exponential.sh
  tests/queries/0_stateless/02006_client_test_hint_no_such_error_name.sh
  tests/queries/0_stateless/02221_parallel_replicas_bug.sh
  tests/queries/0_stateless/02234_clickhouse_local_test_mode.sh
  tests/queries/1_stateful/00168_parallel_processing_on_replicas_part_1.sh
Labels: pr-improvement

#35682 Fix possible loss of subcolumns in type `Object`
  src/DataTypes/DataTypeLowCardinalityHelpers.cpp
  src/DataTypes/DataTypeTuple.cpp
  src/DataTypes/DataTypeTuple.h
  src/Functions/FunctionsConversion.h
  src/Functions/tuple.cpp
  tests/queries/0_stateless/01825_type_json_9.reference
  tests/queries/0_stateless/01825_type_json_9.sql
  tests/queries/0_stateless/02008_tuple_to_name_value_pairs.sql
Labels: pr-bugfix

#35771 fix filebuffer pos in RemoteReadBuffer
  src/Storages/Cache/ExternalDataSourceCache.cpp
Labels: pr-bugfix, can be tested

#35916 Add some metrics to engine Kafka
  src/Common/CurrentMetrics.cpp
  src/Common/ProfileEvents.cpp
  src/Storages/Kafka/KafkaSource.cpp
  src/Storages/Kafka/ReadBufferFromKafkaConsumer.cpp
  src/Storages/Kafka/ReadBufferFromKafkaConsumer.h
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/WriteBufferToKafkaProducer.cpp
  src/Storages/Kafka/WriteBufferToKafkaProducer.h
Labels: pr-improvement

#35613 Check all logs for crashes, logical errors, etc in backward compatibility check
  docker/test/stress/run.sh
  tests/queries/0_stateless/01825_type_json_parallel_insert.sql
  tests/queries/0_stateless/02242_optimize_to_subcolumns_no_storage.sql
  tests/queries/0_stateless/02245_format_string_stack_overflow.sql
  tests/queries/0_stateless/02248_nullable_custom_types_to_string.sql
Labels: pr-not-for-changelog

#35840 to #34966_fix_dateTime_deserialize
  src/IO/ReadHelpers.h
  tests/queries/0_stateless/02249_parse_date_time_basic.reference
  tests/queries/0_stateless/02249_parse_date_time_basic.sql
Labels: pr-bugfix, can be tested

#35984 Fix data race in StorageURL
  src/Storages/StorageURL.cpp
Labels: pr-not-for-changelog

#35946 Make some replicated DDL queries faster
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicatedWorker.cpp
  src/Databases/DatabaseReplicatedWorker.h
  src/Interpreters/DDLWorker.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-not-for-changelog

#35716 Fix send_logs_level for clickhouse local
  base/loggers/Loggers.cpp
  programs/client/Client.cpp
  programs/local/LocalServer.cpp
  programs/local/LocalServer.h
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
Labels: pr-improvement

#35999 Build report
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  tests/ci/build_report_check.py
Labels: pr-build

#34895 Attempt at Nightly Coverity Scan and upload
  .github/workflows/nightly.yml
  docker/packager/binary/build.sh
  docker/packager/packager
  tests/ci/build_check.py
  tests/ci/ci_config.py
Labels: pr-build, can be tested

#35998 Set `ENABLE_BUILD_PATH_MAPPING` to `OFF` by default, if `CMAKE_BUILD_TYPE` is set to `Debug`
  CMakeLists.txt
Labels: pr-not-for-changelog

#36004 Fix flaky test `test_system_merges/test.py::test_merge_simple`
  tests/integration/test_system_merges/test.py
Labels: pr-not-for-changelog

#36005 Another fix for settings randomization
  tests/clickhouse-test
Labels: pr-not-for-changelog

#35995 Create parent directories in DiskLocal::replaceFile
  src/Disks/DiskLocal.cpp
  tests/queries/0_stateless/02265_rename_join_ordinary_to_atomic.reference
  tests/queries/0_stateless/02265_rename_join_ordinary_to_atomic.sql
Labels: pr-bugfix

#35967 Small code changes in ZooKeeper client/Keeper code
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/ZooKeeper/ZooKeeperImpl.h
  src/Coordination/Changelog.cpp
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperSnapshotManager.cpp
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/KeeperStateManager.h
  src/Coordination/KeeperStorage.cpp
  src/Coordination/KeeperStorage.h
  src/Coordination/SnapshotableHashTable.h
  src/Coordination/ZooKeeperDataReader.cpp
  src/Coordination/tests/gtest_coordination.cpp
  utils/keeper-data-dumper/main.cpp
Labels: pr-not-for-changelog

#34355 Profiling on Processors level
  docs/en/operations/settings/settings.md
  docs/en/operations/system-tables/processors_profile_log.md
  programs/server/config.xml
  src/Common/SystemLogBase.cpp
  src/Common/SystemLogBase.h
  src/Core/Settings.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/ProcessorsProfileLog.cpp
  src/Interpreters/ProcessorsProfileLog.h
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  src/Interpreters/executeQuery.cpp
  src/Processors/Executors/ExecutingGraph.cpp
  src/Processors/Executors/ExecutingGraph.h
  src/Processors/Executors/ExecutionThreadContext.cpp
  src/Processors/Executors/ExecutionThreadContext.h
  src/Processors/Executors/ExecutorTasks.cpp
  src/Processors/Executors/ExecutorTasks.h
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/PipelineExecutor.h
  src/Processors/Executors/PushingPipelineExecutor.cpp
  src/Processors/Executors/PushingPipelineExecutor.h
  src/Processors/IProcessor.h
  tests/integration/test_input_format_parallel_parsing_memory_tracking/configs/conf.xml
  tests/queries/0_stateless/02210_processors_profile_log.reference
  tests/queries/0_stateless/02210_processors_profile_log.sql
Labels: pr-feature, doc-alert

#35956 DNS cache: Add option to drop elements after several consecutive failures
  docs/en/operations/server-configuration-parameters/settings.md
  programs/server/Server.cpp
  src/Common/DNSResolver.cpp
  src/Common/DNSResolver.h
  src/Interpreters/DNSCacheUpdater.cpp
  src/Interpreters/DNSCacheUpdater.h
  tests/integration/parallel_skip.json
  tests/integration/test_dns_cache/__init__.py
  tests/integration/test_dns_cache/configs/dns_update_long.xml
  tests/integration/test_dns_cache/configs/dns_update_short.xml
  tests/integration/test_dns_cache/configs/listen_host.xml
  tests/integration/test_dns_cache/configs/remote_servers.xml
  tests/integration/test_dns_cache/configs/users_with_hostname.xml
  tests/integration/test_dns_cache/test.py
  tests/queries/0_stateless/02265_test_dns_profile_events.reference
  tests/queries/0_stateless/02265_test_dns_profile_events.sh
Labels: pr-improvement, can be tested

#36015 Fix data race in StorgeFileLog
  src/Storages/FileLog/StorageFileLog.cpp
Labels: pr-not-for-changelog

#35985 Improve logs analysis in stress test checks
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#36001 Make test 00159_parallel_formatting_tsv_and_friends.sh more stable
  tests/queries/1_stateful/00159_parallel_formatting_tsv_and_friends.sh
Labels: pr-not-for-changelog

#36009 Fix flaky test 00155_long_merges
  tests/queries/0_stateless/00155_long_merges.sh
Labels: pr-not-for-changelog

#36008 Fix 02248_nullable_custom_types_to_string
  tests/queries/0_stateless/02248_nullable_custom_types_to_string.sql
Labels: pr-not-for-changelog

#35735 Allow to infer and parse bools as numbers in JSON input formats
  src/Core/Settings.h
  src/DataTypes/Serializations/SerializationNumber.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Formats/JSONEachRowUtils.cpp
  src/Processors/Formats/ISchemaReader.cpp
  src/Processors/Formats/ISchemaReader.h
  src/Processors/Formats/Impl/JSONCompactEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.cpp
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.h
  tests/queries/0_stateless/02149_schema_inference.reference
  tests/queries/0_stateless/02247_read_bools_as_numbers_json.reference
  tests/queries/0_stateless/02247_read_bools_as_numbers_json.sh
Labels: pr-improvement

#35986 Fix performance regression of scalar query
  src/Functions/getScalar.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ExecuteScalarSubqueriesVisitor.cpp
  src/Interpreters/IInterpreterUnionOrSelectQuery.h
  tests/performance/scalar2.xml
  tests/queries/0_stateless/02174_cte_scalar_cache_mv.reference
  tests/queries/0_stateless/02174_cte_scalar_cache_mv.sql
Labels: pr-bugfix

#36006 Remove some TestFlows that are irrelevant.
  tests/testflows/aes_encryption/requirements/requirements.md
  tests/testflows/aes_encryption/requirements/requirements.py
Labels: pr-improvement

#36010 Remove unused code from TestFlows (the internal ticket name in the company where I work is MARIANA-29)
  tests/testflows/ldap/external_user_directory/tests/common.py
Labels: pr-improvement

#36041 Docker cache
  docker/docs/builder/Dockerfile
  tests/ci/docker_images_check.py
  tests/ci/docker_test.py
Labels: pr-build

#35867 Properly cancel the query after client format error
  src/Client/ClientBase.cpp
Labels: pr-not-for-changelog

#36044 Nightly coverity
  .github/workflows/nightly.yml
  docker/packager/binary/build.sh
  docker/packager/packager
  tests/ci/build_check.py
  tests/ci/env_helper.py
Labels: pr-not-for-changelog

#36033 Handle empty expression list in cross join
  src/Interpreters/JoinToSubqueryTransformVisitor.cpp
  tests/queries/0_stateless/02265_cross_join_empty_list.reference
  tests/queries/0_stateless/02265_cross_join_empty_list.sql
Labels: pr-bugfix

#35991 Print labels to log in run_check.py
  tests/ci/run_check.py
Labels: pr-not-for-changelog

#36054 Fix flaky test
  tests/queries/0_stateless/01921_concurrent_ttl_and_normal_merges_zookeeper_long.sh
Labels: pr-not-for-changelog

#36026 Fix Backward comapatibility check
  docker/test/stress/stress
Labels: pr-not-for-changelog

#36050 Add Swetrix to the adopters list
  docs/en/introduction/adopters.md
Labels: pr-documentation, can be tested

#35883 Do not allow SETTINGS after FORMAT for INSERT queries
  docs/en/operations/settings/settings.md
  programs/format/Format.cpp
  src/Client/ClientBase.cpp
  src/Core/Settings.h
  src/Interpreters/DDLTask.cpp
  src/Interpreters/executeQuery.cpp
  src/Parsers/ASTInsertQuery.cpp
  src/Parsers/ParserExplainQuery.cpp
  src/Parsers/ParserExplainQuery.h
  src/Parsers/ParserInsertQuery.cpp
  src/Parsers/ParserInsertQuery.h
  src/Parsers/ParserQuery.cpp
  src/Parsers/ParserQuery.h
  src/Parsers/ParserQueryWithOutput.cpp
  src/Parsers/ParserQueryWithOutput.h
  src/Parsers/parseQuery.cpp
  src/Parsers/parseQuery.h
  src/Server/GRPCServer.cpp
  src/Server/PostgreSQLHandler.cpp
  src/Storages/System/StorageSystemDDLWorkerQueue.cpp
  tests/integration/test_format_schema_on_server/test.py
  tests/integration/test_storage_s3/test.py
  tests/queries/0_stateless/00825_protobuf_format_array_3dim.sh
  tests/queries/0_stateless/00825_protobuf_format_array_of_arrays.sh
  tests/queries/0_stateless/00825_protobuf_format_enum_mapping.sh
  tests/queries/0_stateless/00825_protobuf_format_map.sh
  tests/queries/0_stateless/00825_protobuf_format_nested_in_nested.sh
  tests/queries/0_stateless/00825_protobuf_format_nested_optional.sh
  tests/queries/0_stateless/00825_protobuf_format_no_length_delimiter.sh
  tests/queries/0_stateless/00825_protobuf_format_persons.sh
  tests/queries/0_stateless/00825_protobuf_format_skipped_column_in_nested.sh
  tests/queries/0_stateless/00825_protobuf_format_splitted_nested.sh
  tests/queries/0_stateless/00825_protobuf_format_squares.sh
  tests/queries/0_stateless/00825_protobuf_format_table_default.sh
  tests/queries/0_stateless/00851_http_insert_json_defaults.sh
  tests/queries/0_stateless/00900_orc_arrow_parquet_nested.sh
  tests/queries/0_stateless/00938_template_input_format.sh
  tests/queries/0_stateless/01014_format_custom_separated.sh
  tests/queries/0_stateless/01085_regexp_input_format.sh
  tests/queries/0_stateless/01086_regexp_input_format_skip_unmatched.sh
  tests/queries/0_stateless/01183_custom_separated_format_http.sh
  tests/queries/0_stateless/01593_insert_settings.sql
  tests/queries/0_stateless/02010_lc_native.python
  tests/queries/0_stateless/02030_capnp_format.sh
  tests/queries/0_stateless/02117_custom_separated_with_names_and_types.sh
  tests/queries/0_stateless/02127_plus_before_float.sh
  tests/queries/0_stateless/02129_skip_quoted_fields.sh
  tests/queries/0_stateless/02134_async_inserts_formats.sh
  tests/queries/0_stateless/02147_arrow_duplicate_columns.sh
  tests/queries/0_stateless/02155_csv_with_strings_with_slash.sh
  tests/queries/0_stateless/02180_insert_into_values_settings.sql
  tests/queries/0_stateless/02193_async_insert_tcp_client_1.sql
  tests/queries/0_stateless/02193_async_insert_tcp_client_2.sh
  tests/queries/0_stateless/02240_protobuflist_format_persons.sh
  tests/queries/0_stateless/02241_parquet_bad_column.sh
  tests/queries/0_stateless/02242_case_insensitive_column_matching.sh
  tests/queries/0_stateless/02242_case_insensitive_nested.sh
  tests/queries/0_stateless/02263_format_insert_settings.reference
  tests/queries/0_stateless/02263_format_insert_settings.sh
  tests/queries/1_stateful/00167_parallel_parsing_with_names_and_types.sh
Labels: pr-backward-incompatible

#36047 Fix typo
  src/Core/SettingsEnums.h
Labels: pr-not-for-changelog

#36065 Fix style in run_check.py
  tests/ci/run_check.py
Labels: pr-not-for-changelog

#36029 Fix release workflow
  .github/workflows/backport_branches.yml
  .github/workflows/release.yml
  tests/ci/docker_server.py
  tests/ci/docker_test.py
  tests/ci/git_helper.py
  tests/ci/push_to_artifactory.py
  tests/ci/version_helper.py
  tests/ci/version_test.py
Labels: pr-build

#36034 Use storage_snapshot for projection analysis
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#36064 Add debug and fix cancel_rerun lambda
  tests/ci/cancel_and_rerun_workflow_lambda/app.py
Labels: pr-not-for-changelog

#35582 Improve schema inference and add some fixes
  src/Core/Settings.h
  src/DataTypes/DataTypeMap.cpp
  src/DataTypes/DataTypeMap.h
  src/Formats/EscapingRuleUtils.cpp
  src/Formats/EscapingRuleUtils.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/FormatSettings.h
  src/Formats/ReadSchemaUtils.cpp
  src/Formats/ReadSchemaUtils.h
  src/IO/ReadHelpers.cpp
  src/Processors/Formats/ISchemaReader.cpp
  src/Processors/Formats/ISchemaReader.h
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.h
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  src/Processors/Formats/Impl/BinaryRowInputFormat.cpp
  src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  src/Processors/Formats/Impl/CSVRowInputFormat.h
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.cpp
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.h
  src/Processors/Formats/Impl/JSONCompactEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/MsgPackRowInputFormat.cpp
  src/Processors/Formats/Impl/NativeFormat.cpp
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Processors/Formats/Impl/RegexpRowInputFormat.cpp
  src/Processors/Formats/Impl/RegexpRowInputFormat.h
  src/Processors/Formats/Impl/TSKVRowInputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  src/Processors/Formats/Impl/TemplateRowInputFormat.cpp
  src/Processors/Formats/Impl/TemplateRowInputFormat.h
  src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  src/Processors/Formats/Impl/ValuesBlockInputFormat.h
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.cpp
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.h
  tests/queries/0_stateless/01801_s3_cluster.reference
  tests/queries/0_stateless/02149_schema_inference.reference
  tests/queries/0_stateless/02149_schema_inference_formats_with_schema.reference
  tests/queries/0_stateless/02166_arrow_dictionary_inference.reference
  tests/queries/0_stateless/02166_arrow_dictionary_inference.sh
  tests/queries/0_stateless/02211_shcema_inference_from_stdin.reference
  tests/queries/0_stateless/02240_tskv_schema_inference_bug.reference
  tests/queries/0_stateless/02242_arrow_orc_parquet_nullable_schema_inference.reference
  tests/queries/0_stateless/02242_arrow_orc_parquet_nullable_schema_inference.sh
  tests/queries/0_stateless/02243_arrow_read_null_type_to_nullable_column.reference
  tests/queries/0_stateless/02243_arrow_read_null_type_to_nullable_column.sh
  tests/queries/0_stateless/02244_column_names_in_shcmea_inference.reference
  tests/queries/0_stateless/02244_column_names_in_shcmea_inference.sql
  tests/queries/0_stateless/02245_parquet_skip_unknown_type.reference
  tests/queries/0_stateless/02245_parquet_skip_unknown_type.sh
  tests/queries/0_stateless/02245_s3_schema_desc.reference
  tests/queries/0_stateless/02245_s3_schema_desc.sql
  tests/queries/0_stateless/02246_tsv_csv_best_effort_schema_inference.reference
  tests/queries/0_stateless/02246_tsv_csv_best_effort_schema_inference.sh
  tests/queries/0_stateless/02247_names_order_in_json_and_tskv.reference
  utils/check-style/codespell-ignore-words.list
Labels: pr-improvement

#35885 fix postgres test
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
  tests/integration/test_storage_postgresql_replica/test.py
Labels: pr-not-for-changelog

#36085 Fix BUILD_NAME issue in build jobs
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  tests/ci/build_check.py
Labels: pr-not-for-changelog

#36080 Add tonickkozlov to trusted users for auto ci run
  tests/ci/run_check.py
Labels: pr-not-for-changelog

#36086 Remove incorrect assertion
  src/Databases/DatabaseReplicatedWorker.cpp
Labels: pr-not-for-changelog

#36072 Backups: improve arguments handling and file removing
  src/Backups/ArchiveBackup.cpp
  src/Backups/ArchiveBackup.h
  src/Backups/BackupImpl.cpp
  src/Backups/BackupImpl.h
  src/Backups/BackupInfo.cpp
  src/Backups/BackupInfo.h
  src/Backups/DirectoryBackup.cpp
  src/Backups/DirectoryBackup.h
  src/Backups/registerBackupEnginesFileAndDisk.cpp
  src/Interpreters/InterpreterBackupQuery.cpp
Labels: pr-not-for-changelog

#36110 fix typo
  src/Storages/MergeTree/MergeTreeSettings.h
Labels: pr-not-for-changelog

#36109 Fix window view when is proc time and window kind larger than day
  src/Storages/WindowView/StorageWindowView.cpp
Labels: pr-bugfix

#36120 fix typo
  docs/zh/operations/configuration-files.md
Labels: pr-documentation, can be tested

#36058 If data type has DEFAULT NULL in table definition, make data type Nullable
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/queries/0_stateless/02266_auto_add_nullable.reference
  tests/queries/0_stateless/02266_auto_add_nullable.sql
Labels: pr-improvement, can be tested

#36127 Fix code style in registerBackupEnginesFileAndDisk.cpp
  src/Backups/registerBackupEnginesFileAndDisk.cpp
Labels: pr-not-for-changelog

#36128 Fix flaky tests 00971 and 01003
  tests/queries/0_stateless/00971_query_id_in_logs.sh
  tests/queries/0_stateless/01003_kill_query_race_condition.sh
Labels: pr-not-for-changelog

#35748 Fixed : elimate AMBIGUOUS_COLUMN_NAME exception in hdfs/s3 cluster join query
  src/Storages/HDFS/StorageHDFSCluster.cpp
  src/Storages/StorageS3Cluster.cpp
  tests/integration/test_s3_cluster/test.py
  tests/integration/test_storage_hdfs/test.py
Labels: can be tested

#35934 Implementation of makeDateTime() and makeDateTime64() #30895
  src/Functions/makeDate.cpp
  tests/queries/0_stateless/02244_make_datetime.reference
  tests/queries/0_stateless/02244_make_datetime.sql
  tests/queries/0_stateless/02245_make_datetime64.reference
  tests/queries/0_stateless/02245_make_datetime64.sql
Labels: pr-feature

#35349 Interpolate feature
  docs/en/sql-reference/statements/select/index.md
  docs/en/sql-reference/statements/select/order-by.md
  docs/ru/sql-reference/statements/select/index.md
  docs/ru/sql-reference/statements/select/order-by.md
  src/Core/InterpolateDescription.cpp
  src/Core/InterpolateDescription.h
  src/Core/SortDescription.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/FillingRow.cpp
  src/Interpreters/FillingRow.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/QueryNormalizer.cpp
  src/Interpreters/RequiredSourceColumnsVisitor.cpp
  src/Interpreters/TreeRewriter.cpp
  src/Parsers/ASTInterpolateElement.cpp
  src/Parsers/ASTInterpolateElement.h
  src/Parsers/ASTOrderByElement.h
  src/Parsers/ASTSelectQuery.cpp
  src/Parsers/ASTSelectQuery.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/ExpressionElementParsers.h
  src/Parsers/ExpressionListParsers.cpp
  src/Parsers/ExpressionListParsers.h
  src/Parsers/ParserSelectQuery.cpp
  src/Processors/QueryPlan/FillingStep.cpp
  src/Processors/QueryPlan/FillingStep.h
  src/Processors/Transforms/FillingTransform.cpp
  src/Processors/Transforms/FillingTransform.h
  tests/queries/0_stateless/02233_interpolate_1.reference
  tests/queries/0_stateless/02233_interpolate_1.sql
Labels: pr-feature, doc-alert

#36132 Build report
  .github/workflows/pull_request.yml
  tests/ci/build_report_check.py
Labels: do not test, pr-not-for-changelog

#36139 Upload ccache for the first run in PR
  tests/ci/ccache_utils.py
  tests/ci/fast_test_check.py
Labels: do not test, pr-not-for-changelog

#36153 Fix bug of read buffer from hdfs
  src/Storages/HDFS/ReadBufferFromHDFS.cpp
Labels: pr-bugfix

#36057 clickhouse-client: fix query cancellation if any result was not received yet
  src/Client/ClientBase.cpp
Labels: pr-not-for-changelog

#36150 Fix test 02241_remote_filesystem_cache_on_insert for database Ordinary
  src/Storages/System/StorageSystemRemoteDataPaths.cpp
Labels: pr-not-for-changelog

#36159 Fix a logical error left after debugging
  tests/ci/cancel_and_rerun_workflow_lambda/Dockerfile
  tests/ci/cancel_and_rerun_workflow_lambda/app.py
Labels: do not test, pr-not-for-changelog

#36082 Optimize trivial count hive query and cache metadata of hive file to speed up pruning
  src/Storages/Hive/HiveCommon.cpp
  src/Storages/Hive/HiveCommon.h
  src/Storages/Hive/HiveFile.cpp
  src/Storages/Hive/HiveFile.h
  src/Storages/Hive/StorageHive.cpp
  src/Storages/Hive/StorageHive.h
Labels: pr-performance

#36155 fix typo in cmake message
  cmake/strip_binary.cmake
Labels: pr-not-for-changelog

#35978 Remove arg duplication and fix a typo
  tests/integration/runner
Labels: pr-build, can be tested

#36133 Add support for atomic exchange in OSX
  src/Common/atomicRename.cpp
  src/Common/atomicRename.h
  src/Databases/DatabaseAtomic.cpp
  src/Disks/DiskLocal.cpp
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
Labels: pr-improvement

#36157 Fix UT error sometimes
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-not-for-changelog, can be tested

#36161 Fix mongodb test with new cert
  tests/integration/helpers/mongo_cert.pem
Labels: pr-not-for-changelog

#36138 Minor improvement for hung check
  docker/test/stress/stress
  tests/clickhouse-test
Labels: pr-not-for-changelog

#36083 Try to avoid timeoutes in parallel parsing tests
  tests/queries/1_stateful/00159_parallel_formatting_csv_and_friends.sh
  tests/queries/1_stateful/00159_parallel_formatting_json_and_friends.sh
  tests/queries/1_stateful/00161_parallel_parsing_with_names.sh
  tests/queries/1_stateful/00167_parallel_parsing_with_names_and_types.sh
Labels: pr-not-for-changelog

#36067 Try to turn off always green backward compatibility checks
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#35237 Kafka engine kafka_num_consumers prop upper bound doc update
  docs/en/engines/table-engines/integrations/kafka.md
Labels: pr-documentation, can be tested

#36136 Minor fix for transactions
  src/Interpreters/MergeTreeTransaction.cpp
  src/Interpreters/TransactionLog.cpp
  tests/queries/0_stateless/01172_transaction_counters.reference
Labels: pr-not-for-changelog

#36175 Fix flacky test 01161_all_system_tables under s3 storage
  tests/queries/0_stateless/01161_all_system_tables.sh
Labels: pr-not-for-changelog

#36164 clickhouse-client: properly cancel query in case of error during formatting data
  src/Client/ClientBase.cpp
Labels: pr-not-for-changelog

#36130 support '\G;' at the end of query
  src/Client/ClientBase.cpp
  tests/queries/0_stateless/01293_client_interactive_vertical_multiline.expect
  tests/queries/0_stateless/01293_client_interactive_vertical_singleline.expect
Labels: pr-feature, can be tested

#36075 Disable LIMIT push down through WINDOW functions.
  src/Processors/QueryPlan/Optimizations/limitPushDown.cpp
  tests/queries/0_stateless/02265_limit_push_down_over_window_functions_bug.reference
  tests/queries/0_stateless/02265_limit_push_down_over_window_functions_bug.sql
Labels: pr-bugfix

#36169 Fix crash in ParallelReadBuffer
  src/IO/ParallelReadBuffer.cpp
  tests/integration/test_storage_s3/test.py
Labels: pr-bugfix

#36137 ProfileEvents fixes
  src/Client/ClientBase.cpp
  src/Client/LocalConnection.cpp
  src/Client/LocalConnection.h
  src/Interpreters/ProfileEventsExt.cpp
  src/Server/TCPHandler.cpp
  tests/queries/0_stateless/02050_client_profile_events.reference
  tests/queries/0_stateless/02050_client_profile_events.sh
Labels: pr-not-for-changelog

#36193 Dirty fix fasttest after addressing CVE-2022-24765
  .github/workflows/pull_request.yml
  docker/test/fasttest/run.sh
  tests/ci/docker_pull_helper.py
Labels: pr-build

#36179 Allow to convert empty strings to objects
  src/DataTypes/ObjectUtils.cpp
  src/DataTypes/Serializations/SerializationObject.cpp
  tests/queries/0_stateless/01825_type_json_empty_string.reference
  tests/queries/0_stateless/01825_type_json_empty_string.sql
  tests/queries/0_stateless/01825_type_json_ephemeral.reference
  tests/queries/0_stateless/01825_type_json_ephemeral.sql
Labels: pr-bugfix

#36191 Extend documentation about TLS configuration options
  docs/en/interfaces/cli.md
  docs/en/operations/server-configuration-parameters/settings.md
Labels: pr-documentation, can be tested

#36194 Follow-up to #36138
  tests/clickhouse-test
Labels: pr-not-for-changelog

#36088 Fix CH silently failing when it cannot execute a file
  src/Common/filesystemHelpers.cpp
  src/Common/filesystemHelpers.h
  src/Dictionaries/ExecutableDictionarySource.cpp
  src/Dictionaries/ExecutablePoolDictionarySource.cpp
  src/Interpreters/UserDefinedExecutableFunctionFactory.cpp
  src/Storages/StorageExecutable.cpp
Labels: pr-bugfix, can be tested

#35953 Require mutations for per-table TTL only when it had been changed
  src/Storages/AlterCommands.cpp
  tests/queries/0_stateless/02265_per_table_ttl_mutation_on_change.reference
  tests/queries/0_stateless/02265_per_table_ttl_mutation_on_change.sql
Labels: pr-improvement

#36216 Add Tyler Hannan to contributors
  tests/ci/run_check.py
  tests/ci/workflow_approve_rerun_lambda/app.py
Labels: pr-not-for-changelog

#24896 Add type check when create materialized view with To clause
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/queries/0_stateless/01880_materialized_view_to_table_type_check.reference
  tests/queries/0_stateless/01880_materialized_view_to_table_type_check.sql
Labels: pr-bugfix

#36125 Add new/delete overloads with align
  src/Common/Concepts.h
  src/Common/memory.h
  src/Common/new_delete.cpp
Labels: pr-not-for-changelog

#36090 Prepared partitions differ from raw data
  docs/en/getting-started/example-datasets/ontime.md
Labels: pr-documentation, can be tested

#36135 Fix after #35475
  src/Common/FileCache.cpp
  src/Common/FileCache.h
  src/Common/FileSegment.cpp
  src/Common/FileSegment.h
  src/Disks/IO/CachedReadBufferFromRemoteFS.cpp
  src/Disks/IO/CachedReadBufferFromRemoteFS.h
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/IO/ReadBufferFromFileDescriptor.cpp
Labels: pr-not-for-changelog

#36209 Check ORC/Parquet/Arrow format magic bytes before loading file in memory
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.h
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Storages/Hive/HiveFile.cpp
  tests/integration/test_storage_s3/test.py
Labels: pr-improvement

#36195 Fix possible segfault in schema inference for JSON formats
  src/Formats/JSONEachRowUtils.cpp
  tests/queries/0_stateless/02268_json_wrong_root_type_in_schema_inference.reference
  tests/queries/0_stateless/02268_json_wrong_root_type_in_schema_inference.sql
Labels: pr-bugfix

#36214 Make stateless tests with s3 always green
  tests/ci/ci_config.py
Labels: pr-not-for-changelog
