Repository ClickHouse/ClickHouse, pull requests merged in 2022-06, with the labels that each got.

#37530 Fix error on joining with dictionary on some conditions
  src/Interpreters/HashJoin.cpp
  src/Interpreters/TableJoin.cpp
  tests/queries/0_stateless/01391_join_on_dict_crash.reference
  tests/queries/0_stateless/01391_join_on_dict_crash.sql
  tests/queries/0_stateless/02244_lowcardinality_hash_join.sql
Labels: pr-bugfix

#37643 Avoid useless context copy when building query interpreters
  src/Interpreters/IInterpreterUnionOrSelectQuery.h
  src/Interpreters/InterpreterSelectIntersectExceptQuery.cpp
  src/Interpreters/InterpreterSelectIntersectExceptQuery.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Interpreters/InterpreterSelectWithUnionQuery.cpp
  src/Interpreters/InterpreterSelectWithUnionQuery.h
Labels: pr-not-for-changelog

#37691 Fix rabbitmq restart with empty settings
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-bugfix

#37719 Fix build with -DENABLE_LIBRARIES=0
  CMakeLists.txt
  base/base/CMakeLists.txt
  contrib/abseil-cpp-cmake/CMakeLists.txt
  contrib/amqpcpp-cmake/CMakeLists.txt
  contrib/arrow-cmake/CMakeLists.txt
  contrib/avro-cmake/CMakeLists.txt
  contrib/azure-cmake/CMakeLists.txt
  contrib/boringssl-cmake/CMakeLists.txt
  contrib/brotli-cmake/CMakeLists.txt
  contrib/bzip2-cmake/CMakeLists.txt
  contrib/capnproto-cmake/CMakeLists.txt
  contrib/cassandra-cmake/CMakeLists.txt
  contrib/cppkafka-cmake/CMakeLists.txt
  contrib/fastops-cmake/CMakeLists.txt
  contrib/fmtlib-cmake/CMakeLists.txt
  contrib/h3-cmake/CMakeLists.txt
  contrib/hive-metastore-cmake/CMakeLists.txt
  contrib/icu-cmake/CMakeLists.txt
  contrib/jemalloc-cmake/CMakeLists.txt
  contrib/libcpuid-cmake/CMakeLists.txt
  contrib/libgsasl-cmake/CMakeLists.txt
  contrib/libuv-cmake/CMakeLists.txt
  contrib/libxml2-cmake/CMakeLists.txt
  contrib/minizip-ng-cmake/CMakeLists.txt
  contrib/nanodbc-cmake/CMakeLists.txt
  contrib/replxx-cmake/CMakeLists.txt
  contrib/s2geometry-cmake/CMakeLists.txt
  contrib/thrift-cmake/CMakeLists.txt
  contrib/unixodbc-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#37581 Support for HTTP source for Data Dictionaries in Named Collections
  src/Dictionaries/HTTPDictionarySource.cpp
  src/Storages/ExternalDataSourceConfiguration.cpp
  src/Storages/ExternalDataSourceConfiguration.h
  tests/integration/test_storage_dict/__init__.py
  tests/integration/test_storage_dict/configs/conf.xml
  tests/integration/test_storage_dict/test.py
Labels: pr-feature, can be tested

#37738 Fix `Intersect` with constant strings
  src/Common/ColumnsHashing.h
  tests/queries/0_stateless/02316_const_string_intersact.reference
  tests/queries/0_stateless/02316_const_string_intersact.sql
Labels: pr-bugfix

#37679 Fix `test_keeper_force_recovery*` tests
  tests/integration/test_keeper_force_recovery/test.py
  tests/integration/test_keeper_force_recovery_single_node/test.py
Labels: pr-not-for-changelog

#37544 Cache compiled regexps when evaluating non-const needles
  docs/en/development/tests.md
  src/Functions/FunctionsStringArray.h
  src/Functions/MatchImpl.h
  src/Functions/Regexps.h
  src/Functions/countMatches.h
  src/Functions/extract.cpp
  src/Functions/extractAllGroups.h
  src/Functions/extractGroups.cpp
  tests/performance/re2_regex_caching.xml
Labels: pr-performance

#36387 Fix TTL merge scheduling bug
  src/Storages/MergeTree/BackgroundJobsAssignee.cpp
  src/Storages/MergeTree/BackgroundJobsAssignee.h
  src/Storages/MergeTree/MergeList.h
  src/Storages/StorageMergeTree.cpp
Labels: pr-bugfix, can be tested

#37587 Fix a typo
  src/Interpreters/ActionsDAG.cpp
Labels: pr-bugfix, can be tested

#37595 Update insert-into.md
  docs/zh/sql-reference/statements/insert-into.md
Labels: pr-documentation, can be tested

#37588 add avx512 support for mergetree reader
  src/Common/CpuId.h
  src/Common/TargetSpecific.cpp
  src/Common/TargetSpecific.h
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
Labels: pr-performance, can be tested

#37773 Typos
  src/IO/S3Common.cpp
  src/IO/S3Common.h
Labels: pr-not-for-changelog, can be tested

#37744 Add test 02315_pmj_union_ubsan_35857
  tests/queries/0_stateless/02315_pmj_union_ubsan_35857.reference
  tests/queries/0_stateless/02315_pmj_union_ubsan_35857.sql
Labels: pr-not-for-changelog

#37674 Cleanup unused file
  src/Storages/ColumnCodec.h
  src/Storages/ColumnsDescription.h
Labels: pr-not-for-changelog, can be tested

#37711 Fix executable user default functions execution with Nullable arguments
  src/Interpreters/UserDefinedExecutableFunctionFactory.cpp
  tests/integration/test_executable_user_defined_function/functions/test_function_config.xml
  tests/integration/test_executable_user_defined_function/test.py
  tests/integration/test_executable_user_defined_function/user_scripts/input_nullable.py
Labels: pr-bugfix, can be tested

#37668 test for #36995
  tests/queries/0_stateless/02312_is_not_null_prewhere.reference
  tests/queries/0_stateless/02312_is_not_null_prewhere.sql
Labels: pr-not-for-changelog

#37204 Support for simultaneous read from local and remote parallel replica
  src/Interpreters/Cluster.cpp
  src/Interpreters/Cluster.h
  src/Interpreters/ClusterProxy/IStreamFactory.h
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Interpreters/ClusterProxy/SelectStreamFactory.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/ClusterProxy/executeQuery.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Processors/QueryPlan/DistributedCreateLocalPlan.cpp
  src/Processors/QueryPlan/DistributedCreateLocalPlan.h
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/QueryPlan/ReadFromRemote.h
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.h
  src/Storages/StorageDistributed.cpp
  tests/queries/1_stateful/00168_parallel_processing_on_replicas_part_1.sh
Labels: pr-improvement

#37750 Implement new submodule sync to fix nightly scan
  .github/workflows/nightly.yml
Labels: pr-not-for-changelog, can be tested

#37690 Fix segfault with mysql db + show create table + named collections
  src/Databases/MySQL/DatabaseMySQL.cpp
  tests/integration/test_mysql_database_engine/test.py
Labels: pr-bugfix

#37754 Fix possible logical error in values table function
  src/Interpreters/evaluateConstantExpression.cpp
  tests/queries/0_stateless/02316_values_table_func_bug.reference
  tests/queries/0_stateless/02316_values_table_func_bug.sql
Labels: pr-bugfix

#37585 Flush and shutdown temporary table before drop
  src/Interpreters/DatabaseCatalog.cpp
Labels: pr-not-for-changelog, can be tested

#37714 Fix possible flaky 00814_replicated_minimalistic_part_header_zookeeper
  tests/queries/0_stateless/00814_replicated_minimalistic_part_header_zookeeper.sh
Labels: pr-not-for-changelog

#37661 Trying to remove prewhere_info.alias_actions as they seem to always be included in prewhere_actions
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Storages/IStorage.cpp
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeBlockReadUtils.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
  src/Storages/MergeTree/MergeTreeRangeReader.h
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageBuffer.cpp
Labels: pr-not-for-changelog

#37726 Initialize `ParallelReadBuffer` after construction
  src/IO/ParallelReadBuffer.cpp
Labels: pr-not-for-changelog

#37742 Fix crash of FunctionHashID
  src/Functions/FunctionHashID.h
  tests/queries/0_stateless/02293_hashid.reference
  tests/queries/0_stateless/02293_hashid.sql
Labels: pr-bugfix

#37756 Turn on setting `output_format_json_named_tuples_as_objects` by default
  src/Core/Settings.h
Labels: pr-backward-incompatible

#37760 Fix possible segfault in schema inference
  src/Formats/ReadSchemaUtils.cpp
  tests/queries/0_stateless/02318_template_schema_inference_bug.reference
  tests/queries/0_stateless/02318_template_schema_inference_bug.sql
Labels: pr-bugfix

#37763 Fix flaky 01154_move_partition_long
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#37596 Support insert into system.zookeeper
  src/Storages/System/StorageSystemZooKeeper.cpp
  src/Storages/System/StorageSystemZooKeeper.h
  tests/config/config.d/zookeeper_write.xml
  tests/config/install.sh
  tests/queries/0_stateless/02311_system_zookeeper_insert.reference
  tests/queries/0_stateless/02311_system_zookeeper_insert.sql
  tests/queries/0_stateless/02311_system_zookeeper_insert_priv.reference
  tests/queries/0_stateless/02311_system_zookeeper_insert_priv.sh
Labels: pr-feature, can be tested

#37740 Some fixes for tests
  tests/integration/ci-runner.py
  tests/integration/helpers/cluster.py
  tests/integration/test_replicated_users/test.py
  tests/queries/0_stateless/00900_orc_load.sh
Labels: pr-not-for-changelog

#37775 fix toString error on DatatypeDate32
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/01921_datatype_date32.reference
  tests/queries/0_stateless/01921_datatype_date32.sql
Labels: pr-bugfix, can be tested

#36937 Fix overrided settings: normalize_function_names
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/TreeRewriter.h
  src/Interpreters/evaluateConstantExpression.cpp
  src/Server/TCPHandler.cpp
Labels: pr-bugfix

#37800 Improve high-order array functions descriptions
  docs/en/sql-reference/functions/array-functions.md
Labels: pr-documentation

#37778 Dictionaries improve exception messages
  src/Dictionaries/IDictionary.h
Labels: pr-not-for-changelog, can be tested

#37762 Doc. Note about Map supported types
  docs/en/sql-reference/data-types/map.md
  docs/en/sql-reference/functions/tuple-map-functions.md
  docs/ru/sql-reference/data-types/map.md
  docs/ru/sql-reference/functions/tuple-map-functions.md
Labels: pr-documentation

#37806 Minor follow-up to cache table: std::{vector-->array}
  src/Functions/Regexps.h
Labels: pr-not-for-changelog

#37705 Add an option to disable connection pooling in ODBC bridge
  programs/odbc-bridge/ColumnInfoHandler.cpp
  programs/odbc-bridge/IdentifierQuoteHandler.cpp
  programs/odbc-bridge/MainHandler.cpp
  programs/odbc-bridge/ODBCBlockInputStream.h
  programs/odbc-bridge/ODBCBlockOutputStream.h
  programs/odbc-bridge/ODBCPooledConnectionFactory.h
  programs/odbc-bridge/SchemaAllowedHandler.cpp
  programs/odbc-bridge/getIdentifierQuote.h
  src/Core/Settings.h
Labels: pr-improvement

#37497 Try to run aarch64 performance tests
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  docker/test/performance-comparison/compare.sh
  tests/ci/ci_config.py
  tests/ci/performance_comparison_check.py
Labels: pr-not-for-changelog

#37770 Fix empty target table id in WindowView
  src/Storages/WindowView/StorageWindowView.cpp
  src/Storages/WindowView/StorageWindowView.h
  tests/queries/0_stateless/01085_window_view_attach.reference
  tests/queries/0_stateless/01085_window_view_attach.sql
Labels: pr-not-for-changelog, can be tested

#37633 More precise result of the `dumpColumnStructure` and `byteSize` miscellaneous functions
  src/Functions/byteSize.cpp
  src/Functions/dumpColumnStructure.cpp
  tests/queries/0_stateless/02313_dump_column_structure_low_cardinality.reference
  tests/queries/0_stateless/02313_dump_column_structure_low_cardinality.sql
Labels: pr-improvement

#34754 Switch to clang/llvm 14
  .clang-tidy
  base/base/ReplxxLineReader.cpp
  base/base/wide_integer_impl.h
  docker/packager/binary/Dockerfile
  docker/packager/packager
  docker/test/base/Dockerfile
  docker/test/codebrowser/Dockerfile
  docker/test/fasttest/Dockerfile
  docker/test/fuzzer/run-fuzzer.sh
  docker/test/keeper-jepsen/run.sh
  docs/_includes/cmake_in_clickhouse_header.md
  docs/en/development/build-cross-arm.md
  docs/en/development/build-cross-osx.md
  docs/en/development/build-cross-riscv.md
  docs/en/development/build.md
  docs/en/development/developer-instruction.md
  docs/ru/development/developer-instruction.md
  programs/server/Server.cpp
  src/Common/ErrorCodes.cpp
  src/Common/ThreadFuzzer.cpp
  src/Coordination/tests/gtest_coordination.cpp
  src/Daemon/BaseDaemon.cpp
  src/Functions/gcd.cpp
  src/Functions/lcm.cpp
  src/Processors/Merges/Algorithms/tests/gtest_graphite.cpp
  tests/ci/ci_config.py
  tests/queries/0_stateless/00047_stored_aggregates_complex.reference
  tests/queries/0_stateless/00047_stored_aggregates_complex.sql
  tests/queries/0_stateless/00273_quantiles.reference
  tests/queries/0_stateless/00273_quantiles.sql
  tests/queries/0_stateless/01043_categorical_iv.sql
  tests/queries/0_stateless/01304_polygons_sym_difference.reference
  tests/queries/0_stateless/01304_polygons_sym_difference.sql
  tests/queries/0_stateless/01308_polygon_area.reference
  tests/queries/0_stateless/01308_polygon_area.sql
  tests/queries/0_stateless/01558_ttest.reference
  tests/queries/0_stateless/01558_ttest.sql
  tests/queries/0_stateless/01906_h3_to_geo.reference
  tests/queries/0_stateless/01906_h3_to_geo.sql
  tests/queries/0_stateless/02006_h3_to_geo_boundary.reference
  tests/queries/0_stateless/02006_h3_to_geo_boundary.sql
  tests/queries/0_stateless/02020_exponential_smoothing.reference
  tests/queries/0_stateless/02020_exponential_smoothing.sql
  tests/queries/0_stateless/02160_h3_cell_area_m2.reference
  tests/queries/0_stateless/02160_h3_cell_area_m2.sql
  tests/queries/0_stateless/02160_h3_cell_area_rads2.reference
  tests/queries/0_stateless/02160_h3_cell_area_rads2.sql
  tests/queries/0_stateless/02165_h3_exact_edge_length_Km.reference
  tests/queries/0_stateless/02165_h3_exact_edge_length_Km.sql
  tests/queries/0_stateless/02165_h3_exact_edge_length_m.reference
  tests/queries/0_stateless/02165_h3_exact_edge_length_m.sql
  tests/queries/0_stateless/02165_h3_exact_edge_length_rads.reference
  tests/queries/0_stateless/02165_h3_exact_edge_length_rads.sql
  tests/queries/0_stateless/02212_h3_point_dist.reference
  tests/queries/0_stateless/02212_h3_point_dist.sql
  tests/queries/0_stateless/02223_h3_test_const_columns.reference
  tests/queries/0_stateless/02223_h3_test_const_columns.sql
  tests/queries/0_stateless/02293_h3_line.reference
  tests/queries/0_stateless/02293_h3_line.sql
Labels: pr-build

#37788 Ignore PART_IS_TEMPORARILY_LOCKED error in BC check
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#37764 Disallow LIKE patterns with trailing escape
  src/Functions/likePatternToRegexp.h
  tests/queries/0_stateless/00908_bloom_filter_index.sh
  tests/queries/0_stateless/01847_bad_like.reference
  tests/queries/0_stateless/01847_bad_like.sql
  tests/queries/0_stateless/02317_like_with_trailing_escape.reference
  tests/queries/0_stateless/02317_like_with_trailing_escape.sql
Labels: pr-improvement

#37787 Revert "Revert "Fix possible segfault in schema inference""
  src/Formats/ReadSchemaUtils.cpp
  tests/queries/0_stateless/02318_template_schema_inference_bug.reference
  tests/queries/0_stateless/02318_template_schema_inference_bug.sql
Labels: pr-not-for-changelog

#37695 Replace `multiIf` to `if` in case of one condition
  src/Core/Settings.h
  src/Interpreters/OptimizeIfChains.h
  src/Interpreters/TreeOptimizer.cpp
  tests/queries/0_stateless/01355_if_fixed_string.sql
  tests/queries/0_stateless/02315_replace_multiif_to_if.reference
  tests/queries/0_stateless/02315_replace_multiif_to_if.sql
Labels: pr-performance

#37767 Moved `ClientConfigurationPerRequest` to ClickHouse
  src/Disks/ObjectStorages/S3/ProxyConfiguration.h
  src/Disks/ObjectStorages/S3/ProxyListConfiguration.cpp
  src/Disks/ObjectStorages/S3/ProxyListConfiguration.h
  src/Disks/ObjectStorages/S3/ProxyResolverConfiguration.cpp
  src/Disks/ObjectStorages/S3/ProxyResolverConfiguration.h
  src/Disks/ObjectStorages/S3/diskSettings.cpp
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
Labels: pr-not-for-changelog

#37807 Delay schedule of the cleaning task in WindowView
  src/Storages/WindowView/StorageWindowView.cpp
  tests/queries/0_stateless/01086_window_view_cleanup.reference
  tests/queries/0_stateless/01086_window_view_cleanup.sh
Labels: pr-not-for-changelog, can be tested

#37845 Hotfix for minio in functional tests
  docker/test/stateful/Dockerfile
  docker/test/stateful/setup_minio.sh
  docker/test/stateless/Dockerfile
  docker/test/stateless/setup_minio.sh
Labels: pr-not-for-changelog

#37777 Use multitarget framework for numZerosInTail implementation
  src/Common/TargetSpecific.h
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
Labels: pr-not-for-changelog

#37846 Hotfix for minio in functional tests 2
  docker/test/stateful/setup_minio.sh
  docker/test/stateless/setup_minio.sh
Labels: pr-not-for-changelog

#37836 Fix docs check (remove git clean for yarn.lock)
  docker/docs/builder/run.sh
Labels: pr-not-for-changelog

#37635 add clickvisual intro
  docs/en/interfaces/third-party/gui.md
  docs/ru/interfaces/third-party/gui.md
  docs/zh/interfaces/third-party/gui.md
Labels: help wanted, pr-documentation, can be tested

#37829 Fix build (packager)
  docker/packager/packager
Labels: build, pr-not-for-changelog

#37647 Fix errors of CheckTriviallyCopyableMove type
  .clang-tidy
  programs/obfuscator/Obfuscator.cpp
  src/Core/MySQL/MySQLReplication.cpp
  src/Core/MySQL/MySQLReplication.h
  src/Disks/DiskLocalCheckThread.cpp
  src/Functions/map.cpp
  src/Interpreters/Aggregator.cpp
  src/Interpreters/TablesStatus.cpp
  src/Parsers/Access/ParserCreateQuotaQuery.cpp
  src/Processors/Executors/ExecutingGraph.cpp
  src/Processors/QueryPlan/AggregatingStep.cpp
  src/Processors/QueryPlan/CreatingSetsStep.cpp
  src/Processors/QueryPlan/ITransformingStep.cpp
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/Transforms/CreatingSetsTransform.cpp
  src/QueryPipeline/RemoteQueryExecutorReadContext.cpp
  src/Server/StaticRequestHandler.cpp
  src/Server/TCPHandler.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeInOrderSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeThreadSelectProcessor.cpp
  src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  src/Storages/MergeTree/ReplicatedMergeTreePartHeader.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageS3Settings.cpp
  utils/check-mysql-binlog/main.cpp
Labels: pr-not-for-changelog, can be tested

#37796 Use clang compiler by default and cleanup cmake preload
  PreLoad.cmake
Labels: pr-not-for-changelog

#37720 Executable user defined functions support parameters
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/ExternalUserDefinedExecutableFunctionsLoader.cpp
  src/Interpreters/UserDefinedExecutableFunction.h
  src/Interpreters/UserDefinedExecutableFunctionFactory.cpp
  src/Interpreters/UserDefinedExecutableFunctionFactory.h
  tests/config/test_function.xml
  tests/integration/test_executable_user_defined_function/functions/test_function_config.xml
  tests/integration/test_executable_user_defined_function/test.py
  tests/integration/test_executable_user_defined_function/user_scripts/input_parameter.py
  tests/queries/0_stateless/02315_executable_user_defined_function_parameter.reference
  tests/queries/0_stateless/02315_executable_user_defined_function_parameter.sql
Labels: pr-feature, can be tested

#37838 Space in {} shows it on final page
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#37755 Return back #37266
  src/Interpreters/MutationsInterpreter.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  tests/queries/0_stateless/01825_type_json_mutations.reference
  tests/queries/0_stateless/01825_type_json_mutations.sql
Labels: pr-not-for-changelog

#37884 Update protobuf files for kafka and rabbitmq [fix integration tests]
  tests/integration/test_storage_kafka/kafka_pb2.py
  tests/integration/test_storage_kafka/message_with_repeated_pb2.py
  tests/integration/test_storage_kafka/social_pb2.py
  tests/integration/test_storage_rabbitmq/rabbitmq_pb2.py
Labels: pr-not-for-changelog

#37642 Less flaky jbod rebalancer test
  tests/integration/test_jbod_balancer/test.py
Labels: pr-not-for-changelog

#36060 Add feature disks (ls, C, list-disks, disk, help)
  programs/CMakeLists.txt
  programs/config_tools.h.in
  programs/disks/CMakeLists.txt
  programs/disks/CommandCopy.cpp
  programs/disks/CommandLink.cpp
  programs/disks/CommandList.cpp
  programs/disks/CommandListDisks.cpp
  programs/disks/CommandMove.cpp
  programs/disks/CommandRead.cpp
  programs/disks/CommandRemove.cpp
  programs/disks/CommandWrite.cpp
  programs/disks/DisksApp.cpp
  programs/disks/DisksApp.h
  programs/disks/ICommand.cpp
  programs/disks/ICommand.h
  programs/disks/clickhouse-disks.cpp
  programs/main.cpp
  src/Interpreters/Context.h
  tests/integration/test_disks_app_func/__init__.py
  tests/integration/test_disks_app_func/config.xml
  tests/integration/test_disks_app_func/test.py
Labels: pr-improvement, can be tested

#37853 Fire and clean windows in WindowView only when data is inserted
  src/Storages/WindowView/StorageWindowView.cpp
  src/Storages/WindowView/StorageWindowView.h
  tests/queries/0_stateless/01086_window_view_cleanup.reference
  tests/queries/0_stateless/01086_window_view_cleanup.sh
Labels: pr-not-for-changelog, can be tested

#37826 Fix possible "No more packets are available" for distributed queries
  src/QueryPipeline/RemoteQueryExecutor.cpp
Labels: pr-bugfix

#37840 Print query in one line on fatal errors
  src/Common/ThreadStatus.h
  src/Daemon/BaseDaemon.cpp
  src/Interpreters/ProcessList.cpp
  src/Interpreters/executeQuery.cpp
  src/Parsers/toOneLineQuery.cpp
  src/Parsers/toOneLineQuery.h
Labels: pr-not-for-changelog

#37712 Get rid of duplicate download_previous_release
  docker/test/stress/Dockerfile
  docker/test/stress/download_previous_release
  docker/test/stress/run.sh
  tests/ci/bugfix_validate_check.py
  tests/ci/download_previous_release.py
  tests/ci/stress_check.py
Labels: pr-not-for-changelog

#37879 Do not drop the inner target table when alter WindowView
  src/Storages/WindowView/StorageWindowView.cpp
  tests/queries/0_stateless/01087_window_view_alter_query.reference
  tests/queries/0_stateless/01087_window_view_alter_query.sh
Labels: pr-bugfix, can be tested

#37570 Do not write expired columns by TTL after subsequent merges
  src/Processors/TTL/TTLAggregationAlgorithm.cpp
  src/Processors/TTL/TTLColumnAlgorithm.cpp
  src/Processors/TTL/TTLDeleteAlgorithm.cpp
  src/Storages/MergeTree/IMergedBlockOutputStream.cpp
  src/Storages/MergeTree/IMergedBlockOutputStream.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataPartTTLInfo.cpp
  src/Storages/MergeTree/MergeTreeDataPartTTLInfo.h
  tests/queries/0_stateless/02335_column_ttl_expired_column_optimization.reference
  tests/queries/0_stateless/02335_column_ttl_expired_column_optimization.sh
Labels: pr-improvement

#37765 Number's parser refactoring, no octal support
  src/Parsers/ExpressionElementParsers.cpp
  tests/queries/0_stateless/00031_parser_number.reference
  tests/queries/0_stateless/00948_values_interpreter_template.reference
  tests/queries/0_stateless/02316_literal_no_octal.reference
  tests/queries/0_stateless/02316_literal_no_octal.sql
Labels: pr-bugfix, can be tested

#37866 Minor cleanup
  src/Interpreters/IInterpreterUnionOrSelectQuery.h
  src/Processors/QueryPlan/IQueryPlanStep.h
Labels: pr-not-for-changelog

#36953 Do not calculate integrals in statistical tests
  src/AggregateFunctions/AggregateFunctionMannWhitney.h
  src/AggregateFunctions/AggregateFunctionStudentTTest.cpp
  src/AggregateFunctions/AggregateFunctionTTest.h
  src/AggregateFunctions/AggregateFunctionWelchTTest.cpp
  src/AggregateFunctions/StatCommon.h
  tests/queries/0_stateless/01560_mann_whitney.reference
  tests/queries/0_stateless/02293_ttest_large_samples.reference
  tests/queries/0_stateless/02293_ttest_large_samples.sql
Labels: pr-improvement

#36944 Fix for exponential time decaying window functions
  src/Processors/Transforms/WindowTransform.cpp
  tests/queries/0_stateless/02020_exponential_smoothing.reference
  tests/queries/0_stateless/02020_exponential_smoothing.sql
Labels: pr-bugfix

#37902 Revert "Fix errors of CheckTriviallyCopyableMove type"
  .clang-tidy
  programs/obfuscator/Obfuscator.cpp
  src/Core/MySQL/MySQLReplication.cpp
  src/Core/MySQL/MySQLReplication.h
  src/Disks/DiskLocalCheckThread.cpp
  src/Functions/map.cpp
  src/Interpreters/Aggregator.cpp
  src/Interpreters/TablesStatus.cpp
  src/Parsers/Access/ParserCreateQuotaQuery.cpp
  src/Processors/Executors/ExecutingGraph.cpp
  src/Processors/QueryPlan/AggregatingStep.cpp
  src/Processors/QueryPlan/CreatingSetsStep.cpp
  src/Processors/QueryPlan/ITransformingStep.cpp
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/Transforms/CreatingSetsTransform.cpp
  src/QueryPipeline/RemoteQueryExecutorReadContext.cpp
  src/Server/StaticRequestHandler.cpp
  src/Server/TCPHandler.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeInOrderSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeThreadSelectProcessor.cpp
  src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  src/Storages/MergeTree/ReplicatedMergeTreePartHeader.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageS3Settings.cpp
  utils/check-mysql-binlog/main.cpp
Labels: pr-not-for-changelog

#37890 Fix keeper converter test
  tests/integration/test_keeper_zookeeper_converter/test.py
Labels: pr-not-for-changelog

#37908 Try fix `test_grpc_protocol/test.py::test_progress`
  tests/integration/test_grpc_protocol/test.py
Labels: pr-not-for-changelog

#37906 Remove temporary `delete_tmp_` on clickhouse server start
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_cleanup_after_start/__init__.py
  tests/integration/test_cleanup_after_start/test.py
Labels: pr-not-for-changelog

#37805 Hierarchical dictinaries support nullable parent key
  src/Dictionaries/FlatDictionary.cpp
  src/Dictionaries/HashedArrayDictionary.cpp
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/HierarchyDictionariesUtils.cpp
  src/Dictionaries/HierarchyDictionariesUtils.h
  src/Dictionaries/tests/gtest_hierarchy_dictionaries_utils.cpp
  src/Functions/FunctionsExternalDictionaries.h
  tests/queries/0_stateless/02316_hierarchical_dictionaries_nullable_parent_key.reference
  tests/queries/0_stateless/02316_hierarchical_dictionaries_nullable_parent_key.sql
Labels: pr-improvement, can be tested

#37892 Fix stress hung because of attached MV with sleep()
  tests/queries/0_stateless/01019_parallel_parsing_cancel.sh
  tests/queries/0_stateless/02187_insert_values_with_mv.sql
Labels: pr-not-for-changelog

#37925 Docs docker
  .pylintrc
  docker/docs/builder/Dockerfile
  docker/docs/builder/run.sh
  docker/test/style/Dockerfile
  tests/ci/docker_images_check.py
  tests/ci/docker_test.py
Labels: pr-documentation

#37761 Fix setting cast_ipv4_ipv6_default_on_conversion_error for internal cast
  src/Functions/CastOverloadResolver.h
  tests/queries/0_stateless/02316_cast_to_ip_address_default_column.reference
  tests/queries/0_stateless/02316_cast_to_ip_address_default_column.sql
Labels: pr-bugfix, pr-must-backport, can be tested

#37929 ExecutableUserDefinedFunctions added parameters documentation
  docs/en/sql-reference/functions/index.md
  docs/ru/sql-reference/functions/index.md
Labels: pr-documentation, can be tested

#37930 Function dictGet check arguments size
  src/Functions/FunctionsExternalDictionaries.h
  tests/queries/0_stateless/02319_dict_get_check_arguments_size.reference
  tests/queries/0_stateless/02319_dict_get_check_arguments_size.sql
Labels: pr-not-for-changelog, can be tested

#37916 Doc. Note about Replacing rules for rows with the same ver
  docs/en/engines/table-engines/mergetree-family/replacingmergetree.md
  docs/ru/engines/table-engines/mergetree-family/replacingmergetree.md
Labels: pr-documentation

#37790 Spellcheck for the docs
  docker/test/style/Dockerfile
  docker/test/style/process_style_check_result.py
  docker/test/style/run.sh
  docs/en/development/adding_test_queries.md
  docs/en/development/architecture.md
  docs/en/development/build-osx.md
  docs/en/development/build.md
  docs/en/development/cmake-in-clickhouse.md
  docs/en/development/continuous-integration.md
  docs/en/development/contrib.md
  docs/en/development/developer-instruction.md
  docs/en/development/integrating_rust_libraries.md
  docs/en/development/style.md
  docs/en/development/tests.md
  docs/en/engines/table-engines/index.md
  docs/en/getting-started/install.md
  docs/en/interfaces/formats.md
  docs/en/interfaces/http.md
  docs/en/interfaces/postgresql.md
  docs/en/operations/clickhouse-keeper.md
  docs/en/operations/configuration-files.md
  docs/en/operations/tips.md
  docs/en/operations/troubleshooting.md
  docs/en/sql-reference/functions/geo/h3.md
  docs/en/sql-reference/functions/type-conversion-functions.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
  utils/check-style/check-doc-aspell
  utils/check-style/check-style-all
  utils/check-style/check-typos
Labels: pr-build

#37769 Got rid of `S3AuthSigner`
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
  src/IO/S3/tests/TestPocoHTTPServer.h
  src/IO/S3/tests/gtest_aws_s3_client.cpp
  src/IO/S3Common.cpp
Labels: pr-not-for-changelog

#37947 Dictionaries custom query with update field fix
  src/Dictionaries/ExternalQueryBuilder.cpp
  tests/integration/test_dictionaries_update_field/test.py
Labels: pr-bugfix, can be tested

#37956 Fix using INSERT INTO ... FORMAT ... SETTINGS ... in docs
  docs/en/interfaces/formats.md
Labels: pr-documentation

#36113 Remove useless code in ReplicatedMergeTreeRestartingThread
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Common/randomSeed.cpp
  src/Interpreters/DDLWorker.cpp
  src/Processors/Formats/Impl/ParallelFormattingOutputFormat.cpp
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/helpers/keeper_config1.xml
  tests/integration/helpers/keeper_config2.xml
  tests/integration/helpers/keeper_config3.xml
  tests/integration/helpers/zookeeper_config.xml
  tests/integration/helpers/zookeeper_secure_config.xml
  tests/integration/test_polymorphic_parts/test.py
Labels: pr-not-for-changelog

#37839 Do not count covered unexpected parts on sanity check
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#37850 expose boring ssl version info in the system.build_options table
  contrib/boringssl-cmake/CMakeLists.txt
  src/Storages/System/StorageSystemBuildOptions.generated.cpp.in
Labels: pr-improvement, submodule changed

#37957 Fix flaky `test_parts_delete_zookeeper`
  tests/integration/test_parts_delete_zookeeper/test.py
Labels: pr-not-for-changelog

#35775 Add self extracting executable
  utils/CMakeLists.txt
  utils/self-extr-exec/CMakeLists.txt
  utils/self-extr-exec/compressor.cpp
  utils/self-extr-exec/decompressor.cpp
  utils/self-extr-exec/post_build.sh
  utils/self-extr-exec/types.h
Labels: pr-improvement, can be tested

#37969 More consistent use of platform macros
  base/base/errnoToString.cpp
  base/base/getAvailableMemoryAmount.cpp
  base/base/phdr_cache.cpp
  programs/install/Install.cpp
  programs/main.cpp
  src/Common/Allocator.h
  src/Common/Dwarf.cpp
  src/Common/Dwarf.h
  src/Common/Elf.cpp
  src/Common/Elf.h
  src/Common/Exception.cpp
  src/Common/InterruptListener.h
  src/Common/PipeFDs.cpp
  src/Common/ProcfsMetricsProvider.cpp
  src/Common/ProcfsMetricsProvider.h
  src/Common/RadixSort.h
  src/Common/StackTrace.cpp
  src/Common/StackTrace.h
  src/Common/SymbolIndex.cpp
  src/Common/SymbolIndex.h
  src/Common/ThreadProfileEvents.cpp
  src/Common/ThreadProfileEvents.h
  src/Common/ZooKeeper/ZooKeeperIO.cpp
  src/Common/ZooKeeper/ZooKeeperIO.h
  src/Common/atomicRename.cpp
  src/Common/checkStackSize.cpp
  src/Common/examples/int_hashes_perf.cpp
  src/Common/examples/procfs_metrics_provider_perf.cpp
  src/Common/examples/symbol_index.cpp
  src/Common/filesystemHelpers.cpp
  src/Common/filesystemHelpers.h
  src/Common/getCurrentProcessFDCount.cpp
  src/Common/getHashOfLoadedBinary.cpp
  src/Common/getMappedArea.cpp
  src/Common/getMaxFileDescriptorCount.cpp
  src/Common/hasLinuxCapability.cpp
  src/Common/hasLinuxCapability.h
  src/Common/remapExecutable.cpp
  src/Common/setThreadName.cpp
  src/Coordination/FourLetterCommand.cpp
  src/Daemon/BaseDaemon.cpp
  src/Daemon/SentryWriter.cpp
  src/Dictionaries/SSDCacheDictionaryStorage.h
  src/Dictionaries/registerCacheDictionaries.cpp
  src/Dictionaries/tests/gtest_dictionary_ssd_cache_dictionary_storage.cpp
  src/Disks/IO/ThreadPoolReader.cpp
  src/Disks/IO/createReadBufferFromFileBase.cpp
  src/Formats/FormatFactory.cpp
  src/Functions/addressToLine.cpp
  src/Functions/addressToLine.h
  src/Functions/addressToLineWithInlines.cpp
  src/Functions/addressToSymbol.cpp
  src/Functions/serverConstants.cpp
  src/IO/AsynchronousReadBufferFromFile.cpp
  src/IO/ReadBufferFromFile.cpp
  src/IO/WriteBufferFromFile.cpp
  src/Interpreters/CrashLog.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/ThreadStatusExt.cpp
  utils/iotest/iotest.cpp
Labels: pr-not-for-changelog

#37952 Update check-table.md
  docs/ru/sql-reference/statements/check-table.md
Labels: pr-documentation

#36328 Apply read_method 'threadpool' for StorageHive
  src/Disks/IO/AsynchronousReadIndirectBufferFromRemoteFS.cpp
  src/Disks/IO/AsynchronousReadIndirectBufferFromRemoteFS.h
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.h
  src/Disks/IO/ThreadPoolRemoteFSReader.cpp
  src/Disks/IO/ThreadPoolRemoteFSReader.h
  src/Disks/ObjectStorages/IObjectStorage.cpp
  src/IO/AsynchronousReadBufferFromFileDescriptor.cpp
  src/IO/AsynchronousReadBufferFromFileDescriptor.h
  src/IO/ReadBuffer.h
  src/Processors/Executors/PullingPipelineExecutor.cpp
  src/Processors/Formats/IRowInputFormat.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.h
  src/Processors/Formats/Impl/HiveTextRowInputFormat.cpp
  src/Storages/HDFS/AsynchronousReadBufferFromHDFS.cpp
  src/Storages/HDFS/AsynchronousReadBufferFromHDFS.h
  src/Storages/HDFS/ReadBufferFromHDFS.cpp
  src/Storages/HDFS/ReadBufferFromHDFS.h
  src/Storages/Hive/HiveCommon.h
  src/Storages/Hive/StorageHive.cpp
  src/Storages/examples/CMakeLists.txt
  src/Storages/examples/async_read_buffer_from_hdfs.cpp
Labels: pr-performance, can be tested

#37977 Remove inconsistencies between RU and EN version of clickhouse-keeper…
  docs/ru/operations/clickhouse-keeper.md
Labels: pr-documentation

#37959 Preserve filling step plan position on sorting optimization
  src/Processors/QueryPlan/Optimizations/liftUpFunctions.cpp
  tests/queries/0_stateless/02336_sort_optimization_with_fill.reference
  tests/queries/0_stateless/02336_sort_optimization_with_fill.sql
Labels: pr-bugfix, can be tested

#37976 Try fix `test_consistent_parts_after_clone_replica`
  src/Common/Exception.cpp
  tests/integration/test_consistent_parts_after_clone_replica/test.py
Labels: pr-not-for-changelog

#37855 Destroy aggregates state on a thread pool
  src/Processors/Transforms/AggregatingTransform.h
  tests/performance/destroy_aggregate_states.xml
Labels: pr-performance

#37854 Don't try to kill empty list of containers in `integration/runner`
  docker/test/integration/runner/dockerd-entrypoint.sh
  tests/integration/runner
Labels: pr-not-for-changelog

#37965 Add missing default columns when pushing to target table in WindowView
  src/Storages/WindowView/StorageWindowView.cpp
  src/Storages/WindowView/StorageWindowView.h
  tests/queries/0_stateless/01076_window_view_alter_query_to.sh
  tests/queries/0_stateless/01077_window_view_alter_query_to_modify_source.sh
  tests/queries/0_stateless/01087_window_view_alter_query.sh
  tests/queries/0_stateless/01088_window_view_default_column.reference
  tests/queries/0_stateless/01088_window_view_default_column.sh
Labels: pr-bugfix, can be tested

#37990 Sorting added sort queue variants
  src/Core/SortCursor.h
  src/Processors/Merges/Algorithms/MergingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/MergingSortedAlgorithm.h
  src/Processors/Transforms/SortingTransform.cpp
  src/Processors/Transforms/SortingTransform.h
Labels: pr-performance, can be tested

#37954 Normalize UTF8 performance test fix
  tests/performance/normalize_utf8.xml
Labels: pr-not-for-changelog, can be tested

#37880 Add more Rust client libraries to documentation
  docs/en/interfaces/third-party/client-libraries.md
  docs/ru/interfaces/third-party/client-libraries.md
  docs/zh/interfaces/third-party/client-libraries.md
Labels: can be tested

#37994 Fix bug with removal of failed to move parts
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
Labels: pr-improvement

#37980 Add checks for numChildren in Keeper
  src/Coordination/Changelog.cpp
  src/Coordination/KeeperSnapshotManager.cpp
  src/Coordination/KeeperStorage.cpp
Labels: pr-not-for-changelog

#37964 Better parsing of `versionId` in `S3::URI::URI`
  src/IO/S3Common.cpp
Labels: pr-not-for-changelog

#37996 Fixed a stack overflow issue that would cause compilation to fail
  utils/self-extr-exec/compressor.cpp
Labels: pr-bugfix, can be tested

#37628 Non Negative Derivative window function
  src/Common/IntervalKind.cpp
  src/Common/IntervalKind.h
  src/Processors/Transforms/WindowTransform.cpp
  tests/queries/0_stateless/02232_non_negative_derivative.reference
  tests/queries/0_stateless/02232_non_negative_derivative.sql
Labels: pr-feature, can be tested

#38004 fix when open enable_filesystem_query_cache_limit, throw LOGICAL_ERROR
  src/Common/FileCache.cpp
  src/Common/FileCache.h
Labels: pr-bugfix, can be tested

#38015 Update docker run client command in docs
  docker/server/README.md
Labels: pr-not-for-changelog

#38007 fix MacOS build compressor faild
  utils/self-extr-exec/compressor.cpp
  utils/self-extr-exec/decompressor.cpp
Labels: pr-build, can be tested

#37979 Generalize setup_minio.sh
  docker/test/stateful/Dockerfile
  docker/test/stateful/run.sh
  docker/test/stateful/setup_minio.sh
  docker/test/stateless/Dockerfile
  docker/test/stateless/run.sh
  docker/test/stateless/setup_minio.sh
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#38016 Add another useful `docker exec` option
  docker/server/README.md
Labels: pr-not-for-changelog

#37659 Support `batch_delete` capability for GCS
  src/Disks/ObjectStorages/S3/S3Capabilities.cpp
  src/Disks/ObjectStorages/S3/S3Capabilities.h
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
  src/Disks/ObjectStorages/S3/registerDiskS3.cpp
Labels: pr-improvement, can be tested

#37305 Fix some cases of insertion nested arrays to columns of type Object
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnObject.h
  src/Columns/tests/gtest_column_object.cpp
  src/Columns/tests/gtest_column_sparse.cpp
  src/DataTypes/ObjectUtils.cpp
  src/DataTypes/ObjectUtils.h
  src/DataTypes/Serializations/SerializationObject.cpp
  tests/queries/0_stateless/01825_type_json_insert_select.reference
  tests/queries/0_stateless/01825_type_json_insert_select.sql
Labels: pr-bugfix

#38023 Examples coroutines build fix
  src/Core/examples/coro.cpp
Labels: pr-not-for-changelog

#38033 More consts for disks
  src/Disks/DiskDecorator.cpp
  src/Disks/DiskDecorator.h
  src/Disks/DiskEncrypted.h
  src/Disks/DiskLocal.cpp
  src/Disks/DiskLocal.h
  src/Disks/DiskMemory.cpp
  src/Disks/DiskMemory.h
  src/Disks/DiskRestartProxy.cpp
  src/Disks/DiskRestartProxy.h
  src/Disks/DiskWebServer.cpp
  src/Disks/DiskWebServer.h
  src/Disks/IDisk.cpp
  src/Disks/IDisk.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Disks/ObjectStorages/IMetadataStorage.h
  src/Disks/ObjectStorages/MetadataStorageFromDisk.cpp
  src/Disks/ObjectStorages/MetadataStorageFromDisk.h
Labels: pr-not-for-changelog

#38017 Add implicit grants with grant option too
  src/Access/ContextAccess.cpp
  tests/integration/test_grant_and_revoke/test.py
Labels: pr-improvement

#38011 Follow up on self-extracting-executable
  utils/CMakeLists.txt
  utils/self-extracting-executable/CMakeLists.txt
  utils/self-extracting-executable/compressor.cpp
  utils/self-extracting-executable/decompressor.cpp
  utils/self-extracting-executable/post_build.sh
  utils/self-extracting-executable/types.h
Labels: pr-not-for-changelog, can be tested

#37810 add d3js based trace visualizer as gantt chart
  utils/trace-visualizer/README.md
  utils/trace-visualizer/css/bootstrap.min.css
  utils/trace-visualizer/css/d3-gantt.css
  utils/trace-visualizer/index.html
  utils/trace-visualizer/js/bootstrap.min.js
  utils/trace-visualizer/js/d3-gantt.js
  utils/trace-visualizer/js/d3-tip-0.8.0-alpha.1.js
  utils/trace-visualizer/js/d3.v4.min.js
  utils/trace-visualizer/js/jquery.min.js
Labels: pr-not-for-changelog

#37565 Move clickhouse-keeper broken logs to specific folder
  src/Coordination/Changelog.cpp
  src/Coordination/Changelog.h
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-improvement, jepsen-test

#38020 Add release commit hash to image labels
  tests/ci/docker_server.py
Labels: pr-not-for-changelog, can be tested

#37995 Add backoff to merges in replicated queue if `always_fetch_merged_part` is enabled
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
Labels: pr-improvement

#37953 Hierarchical dictionaries performance test fix
  tests/performance/hierarchical_dictionaries.xml
Labels: pr-not-for-changelog, can be tested

#37888 Update whats new docs with link to 2022 roadmap
  docs/ru/whats-new/index.md
Labels: pr-documentation, can be tested

#37621 Update Window View document, add alter, inner engine, and populate
  docs/en/sql-reference/statements/create/view.md
  docs/zh/sql-reference/statements/create/view.md
Labels: pr-documentation, can be tested

#37883 fix deadlink with the proper one
  CHANGELOG.md
Labels: pr-documentation

#37975 Clean up broken detached parts after timeout
  src/Common/filesystemHelpers.cpp
  src/Common/filesystemHelpers.h
  src/Disks/DiskDecorator.cpp
  src/Disks/DiskDecorator.h
  src/Disks/DiskEncrypted.h
  src/Disks/DiskLocal.cpp
  src/Disks/DiskLocal.h
  src/Disks/DiskMemory.h
  src/Disks/DiskWebServer.h
  src/Disks/IDisk.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Disks/ObjectStorages/IMetadataStorage.h
  src/Disks/ObjectStorages/MetadataStorageFromDisk.cpp
  src/Disks/ObjectStorages/MetadataStorageFromDisk.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreePartInfo.h
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/helpers/corrupt_part_data_on_disk.py
  tests/integration/test_broken_detached_part_clean_up/__init__.py
  tests/integration/test_broken_detached_part_clean_up/test.py
Labels: pr-improvement

#38057 Use workflow URL as "link" ref
  tests/ci/build_report_check.py
Labels: pr-not-for-changelog

#38064 Remove -0. from CPU usage in the client
  src/Client/ClientBase.cpp
  src/Common/ProgressIndication.cpp
  src/Common/ProgressIndication.h
Labels: pr-improvement

#38060 Small typo fix
  docs/en/sql-reference/aggregate-functions/reference/varsamp.md
Labels: pr-documentation

#38058 UnaryLogicalFunctions improve performance using dynamic dispatch
  src/Functions/FunctionsLogical.cpp
  tests/performance/unary_logical_functions.xml
Labels: pr-performance, can be tested

#37667 Support types with non-standard defaults in ROLLUP, CUBE, GROUPING SETS
  src/Columns/IColumn.h
  src/DataTypes/IDataType.cpp
  src/DataTypes/IDataType.h
  src/Processors/QueryPlan/AggregatingStep.cpp
  src/Processors/Transforms/CubeTransform.cpp
  src/Processors/Transforms/RollupTransform.cpp
  tests/queries/0_stateless/02313_group_by_modifiers_with_non-default_types.reference
  tests/queries/0_stateless/02313_group_by_modifiers_with_non-default_types.sql
Labels: pr-improvement

#37517 Update delete-old-data.md
  docs/ru/faq/operations/delete-old-data.md
Labels: pr-documentation, can be tested

#37553 FPC Codec for floating point data
  src/Compression/CompressionCodecFPC.cpp
  src/Compression/CompressionFactory.cpp
  src/Compression/CompressionInfo.h
  tests/performance/codecs_float_insert.xml
  tests/performance/codecs_float_select.xml
  tests/queries/0_stateless/02313_test_fpc_codec.reference
  tests/queries/0_stateless/02313_test_fpc_codec.sql
Labels: pr-feature, can be tested

#38082 Revert "Add backoff to merges in replicated queue if `always_fetch_merged_part` is enabled"
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
Labels: pr-not-for-changelog

#36396 More parallel execution for queries with `FINAL`
  src/Processors/Merges/IMergingTransform.cpp
  src/Processors/Merges/IMergingTransform.h
  src/Processors/QueryPlan/IQueryPlanStep.cpp
  src/Processors/QueryPlan/PartsSplitter.cpp
  src/Processors/QueryPlan/PartsSplitter.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/Transforms/AddingSelectorTransform.cpp
  src/Processors/Transforms/AddingSelectorTransform.h
  src/Processors/Transforms/FilterSortedStreamByRange.h
  src/Processors/Transforms/FilterTransform.h
  src/Processors/Transforms/SelectorInfo.h
  src/QueryPipeline/printPipeline.h
  tests/performance/parallel_final.xml
  tests/queries/0_stateless/01861_explain_pipeline.reference
  tests/queries/0_stateless/02286_parallel_final.reference
  tests/queries/0_stateless/02286_parallel_final.sh
Labels: pr-performance, can be tested

#38074 Inconsistency in ORDER BY ... WITH FILL feature.
  src/Interpreters/FillingRow.cpp
  tests/queries/0_stateless/00995_order_by_with_fill.reference
  tests/queries/0_stateless/02019_multiple_weird_with_fill.reference
  tests/queries/0_stateless/02112_with_fill_interval.reference
Labels: pr-bugfix, can be tested

#38095 Add dispatch to CherryPick action
  .github/workflows/backport.yml
Labels: do not test, pr-not-for-changelog

#38030 tests: avoid "_csv.Error: field larger than field limit (131072)" error
  docker/test/util/process_functional_tests_result.py
Labels: pr-not-for-changelog

#37185 Fix possible heap-use-after-free error when reading system.projection_parts and system.projection_parts_columns
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/System/StorageSystemPartsBase.cpp
  src/Storages/System/StorageSystemPartsBase.h
  src/Storages/System/StorageSystemProjectionParts.cpp
  src/Storages/System/StorageSystemProjectionPartsColumns.cpp
Labels: pr-bugfix

#38026 Decimal: noexcept move constructor/assignment operator
  base/base/Decimal.h
Labels: pr-not-for-changelog

#38087 Fix a compile errors in self-extracting-executable (de)compressor
  utils/self-extracting-executable/compressor.cpp
  utils/self-extracting-executable/decompressor.cpp
Labels: pr-not-for-changelog

#38089 Small follow-up for FPC codec
  docs/en/sql-reference/statements/create/table.md
  src/Compression/CompressionCodecFPC.cpp
  tests/performance/codecs_float_select.xml
Labels: pr-not-for-changelog

#37992 PartialSortingTransform refactoring
  src/Processors/Transforms/PartialSortingTransform.cpp
  src/Processors/Transforms/PartialSortingTransform.h
Labels: pr-not-for-changelog, force tests, can be tested

#37993 Strip less aggressively to make the embedded hash survive
  CMakeLists.txt
  cmake/strip_binary.cmake
  programs/CMakeLists.txt
  programs/main.cpp
  programs/server/Server.cpp
  src/Common/Elf.cpp
  src/Common/Elf.h
  src/Daemon/BaseDaemon.cpp
Labels: pr-build

#38098 Fix: build error
  src/Columns/ColumnVector.cpp
Labels: pr-not-for-changelog

#38120 Remove unused class member
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/QueryPlan/ReadFromRemote.h
Labels: pr-not-for-changelog, can be tested

#38129 Revert "Revert "add d3js based trace visualizer as gantt chart""
  utils/check-style/check-typos
  utils/trace-visualizer/README.md
  utils/trace-visualizer/css/bootstrap.min.css
  utils/trace-visualizer/css/d3-gantt.css
  utils/trace-visualizer/index.html
  utils/trace-visualizer/js/bootstrap.min.js
  utils/trace-visualizer/js/d3-gantt.js
  utils/trace-visualizer/js/d3-tip-0.8.0-alpha.1.js
  utils/trace-visualizer/js/d3.v4.min.js
  utils/trace-visualizer/js/jquery.min.js
Labels: pr-not-for-changelog
