Repository ClickHouse/ClickHouse, pull requests merged in 2022-02, with the labels that each got.

#34176 sync index from operations: doese clickhouse support multi-region rep…
  docs/en/faq/index.md
Labels: pr-documentation, can be tested

#34153 Add func tests run with s3
  .github/workflows/pull_request.yml
  docker/test/stateless/run.sh
  src/Compression/CachedCompressedReadBuffer.cpp
  src/Compression/CachedCompressedReadBuffer.h
  src/Disks/S3/registerDiskS3.cpp
  tests/ci/ci_config.py
  tests/ci/functional_test_check.py
  tests/clickhouse-test
  tests/config/config.d/s3_storage_policy_by_default.xml
  tests/config/install.sh
  tests/queries/0_stateless/00502_custom_partitioning_local.sql
  tests/queries/0_stateless/00731_long_merge_tree_select_opened_files.sh
  tests/queries/0_stateless/00753_system_columns_and_system_tables_long.sql
  tests/queries/0_stateless/01070_mutations_with_dependencies.sql
  tests/queries/0_stateless/01078_merge_tree_read_one_thread.sql
  tests/queries/0_stateless/01221_system_settings.sql
  tests/queries/0_stateless/01343_min_bytes_to_use_mmap_io.sql
  tests/queries/0_stateless/01344_min_bytes_to_use_mmap_io_index.sql
  tests/queries/0_stateless/01475_read_subcolumns.sql
  tests/queries/0_stateless/01533_multiple_nested.sql
Labels: pr-not-for-changelog

#34202 Improve performance of format Regexp
  src/Processors/Formats/Impl/RegexpRowInputFormat.cpp
  src/Processors/Formats/Impl/RegexpRowInputFormat.h
  utils/CMakeLists.txt
  utils/convert-month-partitioned-parts/CMakeLists.txt
  utils/convert-month-partitioned-parts/main.cpp
Labels: pr-performance

#13544 Multi-Disk auto-recovery.
  programs/server/Server.cpp
  src/Disks/DiskLocal.cpp
  src/Disks/DiskLocal.h
  src/Disks/DiskLocalCheckThread.cpp
  src/Disks/DiskLocalCheckThread.h
  src/Disks/DiskSelector.cpp
  src/Disks/DiskSelector.h
  src/Disks/IDisk.h
  src/Disks/IVolume.h
  src/Disks/StoragePolicy.cpp
  src/Interpreters/Context.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  src/Storages/MergeTree/MergeTreeReaderWide.cpp
  src/Storages/MergeTree/MergeTreeReverseSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_jbod_ha/__init__.py
  tests/integration/test_jbod_ha/configs/config.d/storage_configuration.xml
  tests/integration/test_jbod_ha/test.py
Labels: pr-improvement, doc-alert

#34064 Propagate trace context from GRPC calls
  src/Server/GRPCServer.cpp
Labels: pr-improvement, can be tested

#34191 Fix some perf tests
  tests/performance/number_formatting_formats.xml
  tests/performance/select_format.xml
  tests/performance/writing_valid_utf8.xml
Labels: pr-not-for-changelog

#34208 More cases for `parseDateTimeBestEffort`
  src/IO/parseDateTimeBestEffort.cpp
  tests/queries/0_stateless/02191_parse_date_time_best_effort_more_cases.reference
  tests/queries/0_stateless/02191_parse_date_time_best_effort_more_cases.sql
Labels: pr-improvement

#34222 Add const to make clang-tidy happy
  src/Server/GRPCServer.cpp
Labels: pr-not-for-changelog

#34192 Clean up: insert_deduplication_token setting for INSERT statement
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  tests/queries/0_stateless/02124_insert_deduplication_token_multiple_blocks.sh
  tests/queries/0_stateless/02124_insert_deduplication_token_multiple_blocks_replica.sh
Labels: pr-not-for-changelog, can be tested

#34183 Add authorisation for dockerhub proxy container
  tests/ci/worker/dockerhub_proxy_template.sh
Labels: do not test, pr-not-for-changelog

#34213 Translate zh/faq/operations/index
  docs/zh/faq/operations/index.md
Labels: pr-documentation, can be tested

#34199 sync index from operations: doese clickhouse support multi-region rep…
  docs/zh/faq/index.md
Labels: pr-documentation, can be tested

#34230 adding # as a recognized start of single line comment
  docs/en/sql-reference/syntax.md
  docs/ru/sql-reference/syntax.md
  src/Parsers/Lexer.cpp
  tests/queries/0_stateless/02192_comment.reference
  tests/queries/0_stateless/02192_comment.sql
  tests/queries/0_stateless/02192_comment_error.reference
  tests/queries/0_stateless/02192_comment_error.sh
Labels: pr-improvement, can be tested

#34232 Change severity of the "Cancelled merging parts" message in logs
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.cpp
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.h
Labels: pr-improvement

#33948 Do not use clickhouse-test.deb in stateless CI checks
  docker/test/stateless/run.sh
  tests/ci/functional_test_check.py
Labels: pr-build

#34242 Translate zh/faq/integration/index
  docs/zh/faq/integration/index.md
Labels: pr-documentation, can be tested

#34245 Add missing fmt::runtime() in MergeTreeBackgroundExecutor (fixes the build)
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.cpp
Labels: pr-not-for-changelog

#34224 Fix metric `Query`
  src/Interpreters/ProcessList.cpp
  src/Interpreters/ProcessList.h
  tests/queries/0_stateless/02190_current_metrics_query.reference
  tests/queries/0_stateless/02190_current_metrics_query.sql
Labels: pr-bugfix, pr-must-backport

#33909 Update ansi.md
  docs/zh/sql-reference/ansi.md
Labels: pr-documentation, can be tested

#34247 Add quick start alert to RU installation guide
  docs/ru/development/build-osx.md
Labels: pr-documentation, can be tested

#33723 Parse and store opentelemetry trace-id in big-endian order
  src/Interpreters/OpenTelemetrySpanLog.cpp
  tests/queries/0_stateless/01455_opentelemetry_distributed.sh
Labels: pr-improvement, can be tested

#34268 Update and add new team members
  website/images/photos/artur-filatenkov.jpg
  website/images/photos/bastian-spanneberg.jpg
  website/images/photos/manas-alekar.jpg
  website/images/photos/marcelo-rodriguez.jpg
  website/images/photos/martin-choluj.jpg
  website/images/photos/mikhail-fursov.jpg
  website/templates/company/team.html
Labels: pr-not-for-changelog

#34240 Update list-versions.sh, update version_date.tsv
  .github/workflows/tags_stable.yml
  utils/list-versions/list-versions.sh
  utils/list-versions/version_date.tsv
Labels: do not test, pr-not-for-changelog

#34225 Fix checking grants for SHOW GRANTS
  src/Access/CachedAccessChecking.cpp
  src/Access/CachedAccessChecking.h
  src/Interpreters/Access/InterpreterShowGrantsQuery.cpp
  tests/integration/test_grant_and_revoke/test.py
Labels: pr-bugfix

#34167 Cmake leftovers cleanup
  CMakeLists.txt
  cmake/ccache.cmake
  cmake/cxx.cmake
  cmake/darwin/default_libs.cmake
  cmake/freebsd/default_libs.cmake
  cmake/linux/default_libs.cmake
  cmake/unwind.cmake
  contrib/arrow-cmake/CMakeLists.txt
  contrib/rocksdb-cmake/CMakeLists.txt
  docs/_includes/cmake_in_clickhouse_header.md
  docs/tools/single_page.py
  src/CMakeLists.txt
Labels: pr-not-for-changelog

#34270 Add 'clickhouse-client --password' comment to the scripts used in Qui…
  docs/_includes/install/deb.sh
  docs/_includes/install/rpm.sh
Labels: pr-documentation

#34243 Disable data skipping indexes by default for queries with FINAL
  src/Core/Settings.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  tests/queries/0_stateless/02200_use_skip_indexes.reference
  tests/queries/0_stateless/02200_use_skip_indexes.sql
  tests/queries/0_stateless/02201_use_skip_indexes_if_final.reference
  tests/queries/0_stateless/02201_use_skip_indexes_if_final.sql
  tests/queries/0_stateless/02202_use_skip_indexes_if_final.reference
  tests/queries/0_stateless/02202_use_skip_indexes_if_final.sql
Labels: pr-improvement

#34267 Support async inserts in clickhouse-client for queries with inlined data
  programs/client/Client.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  src/Common/CurrentMetrics.cpp
  src/Common/ProfileEvents.cpp
  src/Interpreters/AsynchronousInsertQueue.cpp
  tests/queries/0_stateless/02193_async_insert_tcp_client_1.reference
  tests/queries/0_stateless/02193_async_insert_tcp_client_1.sql
  tests/queries/0_stateless/02193_async_insert_tcp_client_2.reference
  tests/queries/0_stateless/02193_async_insert_tcp_client_2.sh
Labels: pr-improvement

#34263 Fix current_user/current_address for interserver mode
  src/Server/TCPHandler.cpp
  tests/integration/test_distributed_inter_server_secret/test.py
Labels: pr-bugfix

#34274 Add a test for shebang
  tests/queries/0_stateless/02203_shebang
  tests/queries/0_stateless/02203_shebang.reference
  tests/queries/0_stateless/02203_shebang.sh
Labels: pr-not-for-changelog

#34275 Fix progress bar width
  src/Common/ProgressIndication.cpp
  tests/queries/0_stateless/02204_fractional_progress_bar.reference
  tests/queries/0_stateless/02204_fractional_progress_bar.sh
Labels: pr-bugfix, pr-must-backport

#34283 Tune `Run Check` and `Style Check` jobs
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/tags_stable.yml
  tests/ci/run_check.py
Labels: do not test, pr-build

#34277 Translate zh/faq/general/contribute
  docs/zh/faq/general/how-do-i-contribute-code-to-clickhouse.md
Labels: pr-documentation, can be tested

#32748 Support `optimize_read_in_order` if prefix of sorting key is already sorted
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/TreeCNFConverter.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Storages/ReadInOrderOptimizer.cpp
  src/Storages/ReadInOrderOptimizer.h
  src/Storages/SelectQueryInfo.h
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix.reference
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix.sql
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix_negative.reference
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix_negative.sh
Labels: pr-improvement

#34287 Optimize quantilesExact{Low,High} to use nth_element instead of sort
  src/AggregateFunctions/QuantileExact.h
  tests/performance/decimal_aggregates.xml
Labels: pr-performance, can be tested

#31257 Merge #15765
  programs/server/Server.cpp
  programs/server/config.xml
  src/Server/CertificateReloader.cpp
  src/Server/CertificateReloader.h
  tests/integration/test_reload_certificate/__init__.py
  tests/integration/test_reload_certificate/configs/cert.xml
  tests/integration/test_reload_certificate/configs/first.crt
  tests/integration/test_reload_certificate/configs/first.key
  tests/integration/test_reload_certificate/configs/second.crt
  tests/integration/test_reload_certificate/configs/second.key
  tests/integration/test_reload_certificate/test.py
Labels: pr-improvement, submodule changed

#34309 Add support policy page content.
  website/css/base.css
  website/support/policy/index.html
  website/templates/support/policy-content.html
  website/templates/support/policy-hero.html
Labels: pr-not-for-changelog

#34289 Add verbosity to stylecheck
  .github/workflows/release.yml
  docker/test/style/Dockerfile
  docker/test/style/process_style_check_result.py
  docker/test/style/run.sh
  tests/ci/style_check.py
  utils/check-style/check-workflows
Labels: pr-build

#34219 Revert "Revert "Add pool to WriteBufferFromS3""
  src/Disks/DiskCacheWrapper.cpp
  src/Disks/DiskDecorator.cpp
  src/Disks/DiskDecorator.h
  src/Disks/DiskRestartProxy.cpp
  src/Disks/DiskRestartProxy.h
  src/Disks/IDisk.h
  src/Disks/IDiskRemote.cpp
  src/Disks/IDiskRemote.h
  src/Disks/S3/DiskS3.cpp
  src/IO/WriteBuffer.h
  src/IO/WriteBufferFromFileDecorator.cpp
  src/IO/WriteBufferFromFileDecorator.h
  src/IO/WriteBufferFromS3.cpp
  src/IO/WriteBufferFromS3.h
  src/QueryPipeline/BlockIO.h
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/IMergeTreeDataPartWriter.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTask.h
  src/Storages/MergeTree/MergeTreeDataPartInMemory.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.h
  src/Storages/MergeTree/MergeTreeDataPartWriterInMemory.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterInMemory.h
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.h
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.h
  src/Storages/MergeTree/MergeTreePartition.cpp
  src/Storages/MergeTree/MergeTreePartition.h
  src/Storages/MergeTree/MergeTreeSink.cpp
  src/Storages/MergeTree/MergeTreeSink.h
  src/Storages/MergeTree/MergeTreeWriteAheadLog.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.h
  src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  src/Storages/MergeTree/MergedColumnOnlyOutputStream.h
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.h
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_merge_tree_s3_failover/s3_endpoint/endpoint.py
Labels: pr-not-for-changelog

#33260 Add confidence intervals to ttests
  docs/en/sql-reference/aggregate-functions/reference/studentttest.md
  docs/en/sql-reference/aggregate-functions/reference/welchttest.md
  src/AggregateFunctions/AggregateFunctionStudentTTest.cpp
  src/AggregateFunctions/AggregateFunctionTTest.h
  src/AggregateFunctions/AggregateFunctionWelchTTest.cpp
  src/AggregateFunctions/Moments.h
  tests/queries/0_stateless/01558_ttest.reference
  tests/queries/0_stateless/01558_ttest.sql
Labels: pr-feature, doc-alert

#34304 Cancel merges before acquiring lock for truncate
  src/Interpreters/InterpreterDropQuery.cpp
Labels: pr-improvement

#34310 Fix parallel loading of data parts
  src/Common/ThreadPool.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-performance

#34306 Fix terribly low performance of `LineAsString` format
  src/IO/ReadHelpers.cpp
  src/IO/ReadHelpers.h
  src/Processors/Formats/Impl/LineAsStringRowInputFormat.cpp
  src/Processors/Formats/Impl/RawBLOBRowInputFormat.cpp
Labels: pr-performance

#34284 Minor fixes for #34267
  src/Interpreters/AsynchronousInsertQueue.cpp
  tests/queries/0_stateless/02193_async_insert_tcp_client_2.sh
Labels: pr-not-for-changelog

#34297 Try to fix race between pullLogsToQueue and RestartingThread
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/00992_system_parts_race_condition_zookeeper_long.sh
  tests/queries/0_stateless/00993_system_parts_race_condition_drop_zookeeper.sh
  tests/queries/0_stateless/01079_parallel_alter_add_drop_column_zookeeper.sh
  tests/queries/0_stateless/01154_move_partition_long.sh
  tests/queries/0_stateless/01593_concurrent_alter_mutations_kill.sh
  tests/queries/0_stateless/01921_concurrent_ttl_and_normal_merges_zookeeper_long.sh
Labels: pr-bugfix

#34319 Decrease severity for "Reading ... ranges ..." log message to Trace
  src/Storages/MergeTree/MergeTreeInOrderSelectProcessor.h
  src/Storages/MergeTree/MergeTreeReverseSelectProcessor.h
Labels: pr-not-for-changelog

#34316 Probably fix data race in WriteBufferFromS3 destructor.
  src/IO/WriteBufferFromS3.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
Labels: pr-not-for-changelog

#34317 use LowCardinality for _file and _path virtual columns in StorageFile
  CMakeLists.txt
  src/Storages/StorageFile.cpp
Labels: pr-performance

#34312 Add INTERVAL STEP example in SELECT .. ORDER BY WITH FILL documentation
  docs/en/sql-reference/statements/select/order-by.md
Labels: pr-documentation, can be tested

#34318 Function mapPopulateSeries refactoring
  src/Functions/array/mapPopulateSeries.cpp
  tests/performance/map_populate_series.xml
  tests/queries/0_stateless/01318_map_populate_series.reference
  tests/queries/0_stateless/01318_map_populate_series.sql
  tests/queries/0_stateless/01925_map_populate_series_on_map.reference
  tests/queries/0_stateless/01925_map_populate_series_on_map.sql
  tests/queries/0_stateless/02205_map_populate_series_non_const.reference
  tests/queries/0_stateless/02205_map_populate_series_non_const.sql
Labels: pr-performance

#34265 print query id when using `--interactive` with `--queries-file` in client/local
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
Labels: pr-not-for-changelog

#34340 Fix wrong OK_SKIP labels
  tests/ci/run_check.py
Labels: do not test, pr-build

#34339 Function mapPopulateSeries added additional performance test
  tests/performance/map_populate_series.xml
Labels: pr-not-for-changelog

#33996 reduce signal_pipe_buf_size
  base/daemon/BaseDaemon.cpp
Labels: pr-not-for-changelog, can be tested

#34351 Small improvements
  src/Processors/Formats/IRowOutputFormat.cpp
  src/Processors/Formats/IRowOutputFormat.h
  src/Processors/Formats/Impl/AvroRowInputFormat.h
  src/Processors/Formats/Impl/AvroRowOutputFormat.h
  src/Processors/Formats/Impl/BinaryRowInputFormat.h
  src/Processors/Formats/Impl/BinaryRowOutputFormat.h
  src/Processors/Formats/Impl/CSVRowOutputFormat.h
  src/Processors/Formats/Impl/CapnProtoRowInputFormat.h
  src/Processors/Formats/Impl/CapnProtoRowOutputFormat.h
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.h
  src/Processors/Formats/Impl/CustomSeparatedRowOutputFormat.h
  src/Processors/Formats/Impl/HiveTextRowInputFormat.h
  src/Processors/Formats/Impl/JSONAsStringRowInputFormat.h
  src/Processors/Formats/Impl/JSONCompactEachRowRowInputFormat.h
  src/Processors/Formats/Impl/JSONCompactEachRowRowOutputFormat.h
  src/Processors/Formats/Impl/JSONCompactRowOutputFormat.h
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.h
  src/Processors/Formats/Impl/JSONEachRowWithProgressRowOutputFormat.h
  src/Processors/Formats/Impl/LineAsStringRowInputFormat.h
  src/Processors/Formats/Impl/MarkdownRowOutputFormat.h
  src/Processors/Formats/Impl/MsgPackRowInputFormat.h
  src/Processors/Formats/Impl/MsgPackRowOutputFormat.h
  src/Processors/Formats/Impl/ProtobufRowInputFormat.h
  src/Processors/Formats/Impl/ProtobufRowOutputFormat.h
  src/Processors/Formats/Impl/RawBLOBRowInputFormat.h
  src/Processors/Formats/Impl/RawBLOBRowOutputFormat.h
  src/Processors/Formats/Impl/RegexpRowInputFormat.h
  src/Processors/Formats/Impl/TSKVRowInputFormat.h
  src/Processors/Formats/Impl/TSKVRowOutputFormat.h
  src/Processors/Formats/Impl/TabSeparatedRowInputFormat.h
  src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.h
  src/Processors/Formats/Impl/TemplateRowInputFormat.h
  src/Processors/Formats/Impl/ValuesRowOutputFormat.h
  src/Processors/Formats/Impl/VerticalRowOutputFormat.h
  src/Processors/Formats/Impl/XMLRowOutputFormat.h
Labels: pr-not-for-changelog

#34334 REGEXP_MATCHES and REGEXP_REPLACE function aliases for compatibility with PostgreSQL.
  src/Functions/match.cpp
  src/Functions/replaceAll.cpp
  tests/queries/0_stateless/02205_postgresql_functions.reference
  tests/queries/0_stateless/02205_postgresql_functions.sql
Labels: pr-improvement, can be tested

#34140 Maxsplit argument for splitByChar.
  src/Functions/FunctionsStringArray.h
  src/Functions/URL/URLHierarchy.cpp
  src/Functions/URL/URLPathHierarchy.cpp
  src/Functions/URL/extractURLParameterNames.cpp
  src/Functions/URL/extractURLParameters.cpp
  tests/queries/0_stateless/02185_split_by_char.reference
  tests/queries/0_stateless/02185_split_by_char.sql
Labels: pr-improvement, can be tested

#34344 explicitly check and get columns for s2 funcs
  src/Functions/geoToS2.cpp
  src/Functions/s2CapContains.cpp
  src/Functions/s2CapUnion.cpp
  src/Functions/s2CellsIntersect.cpp
  src/Functions/s2GetNeighbors.cpp
  src/Functions/s2RectAdd.cpp
  src/Functions/s2RectContains.cpp
  src/Functions/s2RectIntersection.cpp
  src/Functions/s2RectUnion.cpp
  src/Functions/s2ToGeo.cpp
Labels: pr-not-for-changelog

#34357 Fix USE database for clickhouse-local
  src/Client/LocalConnection.cpp
  src/Client/LocalConnection.h
  tests/queries/0_stateless/02206_clickhouse_local_use_database.reference
  tests/queries/0_stateless/02206_clickhouse_local_use_database.sh
Labels: pr-not-for-changelog

#34186 Fix schema inference for table function s3
  src/TableFunctions/TableFunctionS3.cpp
  tests/integration/test_storage_s3/test.py
Labels: pr-bugfix

#34024 make systemd to use EnvironmentFile
  debian/clickhouse-server.service
Labels: pr-not-for-changelog

#34333 use LowCardinality type for _file and _path in some Storages, continue of #34317
  src/DataTypes/DataTypeLowCardinality.h
  src/Storages/FileLog/StorageFileLog.cpp
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/HDFS/StorageHDFSCluster.cpp
  src/Storages/Hive/StorageHive.cpp
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3Cluster.cpp
Labels: pr-not-for-changelog

#34341 Add test for propagating OpenTelemetry context via gRPC protocol
  src/Server/GRPCServer.cpp
  tests/integration/test_grpc_protocol/test.py
Labels: pr-not-for-changelog

#34117 Small improvement in schema inference from stdin in local
  programs/local/LocalServer.cpp
  tests/queries/0_stateless/01375_output_format_tsv_csv_with_names.sh
  tests/queries/0_stateless/02182_format_and_schema_from_stdin.reference
  tests/queries/0_stateless/02182_format_and_schema_from_stdin.sh
Labels: pr-not-for-changelog

#34371 Delete empty file DateOrDateTimeFunctionsConvertion.cpp
  src/Functions/DateOrDateTimeFunctionsConvertion.cpp
Labels: pr-not-for-changelog

#34327 Try to fix rare bug in reading of empty arrays
  src/Compression/CompressedReadBufferFromFile.cpp
  src/IO/ReadBufferFromFileDescriptor.cpp
  src/IO/ReadBufferFromFileDescriptor.h
  src/IO/tests/gtest_seek_backwards.cpp
Labels: pr-bugfix

#34360 Translate zh/engines/database-engines/sqlite
  docs/zh/engines/database-engines/sqlite.md
Labels: pr-documentation, can be tested

#34366 Translate zh/engines/table-engines/hive: update index and sync hive …
  docs/zh/engines/table-engines/integrations/hive.md
  docs/zh/engines/table-engines/integrations/index.md
Labels: pr-documentation, can be tested

#34365 Fix clang-tidy issue
  src/Processors/Merges/Algorithms/AggregatingSortedAlgorithm.cpp
Labels: pr-not-for-changelog, can be tested

#34384 [website] replace Bastian's photo
  website/images/photos/bastian-spanneberg.jpg
Labels: pr-documentation

#34057 Less flaky test_inconsistent_parts_if_drop_while_replica_not_active
  tests/integration/test_consistent_parts_after_clone_replica/test.py
Labels: pr-not-for-changelog

#34376 Fix consecutive backward seeks in seekable read buffers
  src/Compression/CachedCompressedReadBuffer.cpp
  src/Compression/CompressedReadBufferFromFile.cpp
  src/Disks/IO/AsynchronousReadIndirectBufferFromRemoteFS.cpp
  src/Disks/IO/ReadIndirectBufferFromRemoteFS.cpp
  src/IO/AsynchronousReadBufferFromFileDescriptor.cpp
  src/IO/BufferBase.h
  src/IO/ReadBufferFromEncryptedFile.cpp
  src/IO/ReadBufferFromFileDescriptor.cpp
  src/IO/ReadBufferFromFileDescriptor.h
  src/IO/ReadBufferFromS3.cpp
  src/IO/ReadWriteBufferFromHTTP.h
  src/Storages/HDFS/ReadBufferFromHDFS.cpp
Labels: pr-not-for-changelog

#34345 Fix wrong engine in SHOW CREATE DATABASE with engine Memory #34225
  src/Databases/DatabaseMemory.cpp
  tests/queries/0_stateless/01069_database_memory.reference
  tests/queries/0_stateless/02021_create_database_with_comment.reference
  tests/queries/0_stateless/02206_information_schema_show_database.reference
  tests/queries/0_stateless/02206_information_schema_show_database.sql
Labels: pr-bugfix

#34125 Add table function format(format_name, data)
  src/Core/Block.cpp
  src/Core/Block.h
  src/Interpreters/SortedBlocksWriter.cpp
  src/TableFunctions/TableFunctionFormat.cpp
  src/TableFunctions/TableFunctionFormat.h
  src/TableFunctions/TableFunctionInput.cpp
  src/TableFunctions/registerTableFunctions.cpp
  src/TableFunctions/registerTableFunctions.h
  tests/queries/0_stateless/02188_table_function_format.reference
  tests/queries/0_stateless/02188_table_function_format.sql
Labels: pr-feature, doc-alert

#34349 Add options for clickhouse-format.
  programs/format/Format.cpp
  src/Core/Settings.cpp
  src/Core/Settings.h
Labels: pr-improvement, can be tested

#34229 Add composability to casting and index operators
  src/Parsers/ExpressionListParsers.cpp
  src/Parsers/ExpressionListParsers.h
  tests/queries/0_stateless/01852_cast_operator_4.reference
  tests/queries/0_stateless/01852_cast_operator_4.sql
Labels: pr-improvement

#34388 Fix clang tidy
  .clang-tidy
Labels: pr-not-for-changelog, can be tested

#34065 Support UUID in MsgPack format
  src/Core/Settings.h
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Formats/MsgPackExtensionTypes.h
  src/Processors/Formats/Impl/MsgPackRowInputFormat.cpp
  src/Processors/Formats/Impl/MsgPackRowInputFormat.h
  src/Processors/Formats/Impl/MsgPackRowOutputFormat.cpp
  src/Processors/Formats/Impl/MsgPackRowOutputFormat.h
  tests/queries/0_stateless/02187_msg_pack_uuid.reference
  tests/queries/0_stateless/02187_msg_pack_uuid.sh
Labels: pr-improvement

#34364 Fix inserting to temporary tables via gRPC.
  src/Server/GRPCServer.cpp
  tests/integration/test_grpc_protocol/test.py
Labels: pr-bugfix

#34264 Update clickhouse-keeper.md
  docs/en/operations/clickhouse-keeper.md
Labels: pr-not-for-changelog, can be tested

#33933 Better local metadata comparison with ZooKeeper metadata
  src/Storages/KeyDescription.cpp
  src/Storages/KeyDescription.h
  src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeTableMetadata.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/TTLDescription.cpp
  src/Storages/TTLDescription.h
Labels: pr-bugfix, can be tested

#34405 Fix segfault in schema inference from url
  src/Storages/StorageURL.cpp
  tests/integration/test_storage_s3/configs/named_collections.xml
  tests/integration/test_storage_s3/test.py
Labels: pr-bugfix, pr-must-backport

#33467 add function addressToLineWithInlines
  docs/en/operations/optimizing-performance/sampling-query-profiler.md
  docs/en/operations/system-tables/stack_trace.md
  docs/en/operations/system-tables/trace_log.md
  docs/en/sql-reference/functions/introspection.md
  docs/en/sql-reference/statements/grant.md
  src/Access/Common/AccessType.h
  src/Functions/addressToLine.cpp
  src/Functions/addressToLine.h
  src/Functions/addressToLineWithInlines.cpp
  src/Functions/registerFunctionsIntrospection.cpp
  tests/queries/0_stateless/01271_show_privileges.reference
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/02161_addressToLineWithInlines.reference
  tests/queries/0_stateless/02161_addressToLineWithInlines.sql
Labels: pr-improvement, can be tested

#34305 Fix various issues when projection is enabled by default
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Parsers/ASTProjectionDeclaration.cpp
  src/Parsers/ASTProjectionSelectQuery.cpp
  src/Parsers/ParserProjectionSelectQuery.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/ProjectionsDescription.cpp
  src/Storages/ProjectionsDescription.h
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMerge.cpp
  src/Storages/StorageProxy.h
  tests/integration/test_quota/test.py
  tests/queries/0_stateless/01505_trivial_count_with_partition_predicate.reference
  tests/queries/0_stateless/01505_trivial_count_with_partition_predicate.sql
  tests/queries/0_stateless/01705_normalize_create_alter_function_names.reference
  tests/queries/0_stateless/01710_minmax_count_projection.reference
  tests/queries/0_stateless/01710_minmax_count_projection.sql
  tests/queries/0_stateless/01710_projection_aggregation_in_order.reference
  tests/queries/0_stateless/01710_projection_aggregation_in_order.sql
  tests/queries/0_stateless/01710_projection_with_joins.reference
  tests/queries/0_stateless/01710_projection_with_joins.sql
  tests/queries/0_stateless/01739_index_hint.reference
  tests/queries/0_stateless/01739_index_hint.sql
  tests/queries/0_stateless/01748_partition_id_pruning.sql
Labels: pr-bugfix

#34398 Method called on already moved
  src/Processors/Formats/Impl/TSKVRowInputFormat.cpp
Labels: pr-not-for-changelog, can be tested

#34373 Use UTC in docker images
  docker/test/base/Dockerfile
  docker/test/fasttest/Dockerfile
  docker/test/fuzzer/Dockerfile
  docker/test/integration/base/Dockerfile
  docker/test/integration/runner/Dockerfile
  docker/test/performance-comparison/Dockerfile
  docker/test/stateless/Dockerfile
  docker/test/testflows/runner/Dockerfile
Labels: pr-build

#34423 Fix test 02185_orc_corrupted_file
  tests/queries/0_stateless/02185_orc_corrupted_file.sh
Labels: pr-not-for-changelog

#34416 Fix test test_postgresql_replica_database_engine_2/test.py::test_table_schema_changes_2
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
  src/Storages/ReadFinalForExternalReplicaStorage.cpp
Labels: pr-bugfix

#34392 Allow to skip not found urls for globs
  src/Core/Settings.h
  src/IO/ReadSettings.h
  src/IO/ReadWriteBufferFromHTTP.h
  src/Interpreters/Context.cpp
  src/Storages/StorageURL.cpp
Labels: pr-improvement

#34410 Fixing test_storage_postgresql
  tests/integration/test_storage_postgresql/test.py
Labels: pr-not-for-changelog

#34435 the `name` field seems to be missing
  docs/en/sql-reference/functions/functions-for-nulls.md
Labels: pr-documentation, can be tested

#34443 remove (nearly) duplicated description
  docs/en/sql-reference/functions/tuple-functions.md
Labels: pr-documentation, can be tested

#34422 Add settings for multipart upload part size in s3
  src/Core/Settings.h
  src/Disks/S3/DiskS3.cpp
  src/Disks/S3/DiskS3.h
  src/Disks/S3/registerDiskS3.cpp
  src/IO/WriteBufferFromS3.cpp
  src/IO/WriteBufferFromS3.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/TableFunctions/TableFunctionS3.cpp
  src/TableFunctions/TableFunctionS3Cluster.cpp
Labels: pr-improvement

#34415 Fix possible error 'Cannot convert column Function to mask'
  src/Interpreters/ExpressionActions.cpp
  tests/queries/0_stateless/02209_short_circuit_node_without_parents.reference
  tests/queries/0_stateless/02209_short_circuit_node_without_parents.sql
Labels: pr-bugfix

#33824 Client fault tolerant connection
  programs/client/Client.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  src/Client/ConnectionParameters.cpp
  src/Client/ConnectionParameters.h
  src/Common/DNSResolver.cpp
  src/Common/DNSResolver.h
  tests/queries/0_stateless/02100_multiple_hosts_command_line_set.reference
  tests/queries/0_stateless/02100_multiple_hosts_command_line_set.sh
Labels: pr-feature, doc-alert, can be tested

#34234 Fix memory leak in AggregatingInOrderTransform
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  src/Processors/Transforms/AggregatingInOrderTransform.cpp
Labels: pr-bugfix

#34132 Fix inserts to distributed tables in case of change of native protocol
  src/QueryPipeline/RemoteInserter.cpp
  src/QueryPipeline/RemoteInserter.h
  src/Storages/Distributed/DirectoryMonitor.cpp
  tests/integration/test_distributed_insert_backward_compatibility/__init__.py
  tests/integration/test_distributed_insert_backward_compatibility/configs/remote_servers.xml
  tests/integration/test_distributed_insert_backward_compatibility/test.py
Labels: pr-bugfix, pr-must-backport

#33958 Scalar cache improvements
  src/Common/ProfileEvents.cpp
  src/Interpreters/ExecuteScalarSubqueriesVisitor.cpp
  src/Interpreters/ExecuteScalarSubqueriesVisitor.h
  src/Interpreters/IInterpreterUnionOrSelectQuery.h
  src/Interpreters/InterpreterSelectIntersectExceptQuery.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectWithUnionQuery.cpp
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/TreeRewriter.h
  src/Parsers/ASTSelectQuery.cpp
  tests/queries/0_stateless/02174_cte_scalar_cache.reference
  tests/queries/0_stateless/02174_cte_scalar_cache.sql
  tests/queries/0_stateless/02174_cte_scalar_cache_mv.reference
  tests/queries/0_stateless/02174_cte_scalar_cache_mv.sql
Labels: pr-performance

#34454 Added test 33734
  tests/queries/0_stateless/02154_dictionary_get_http_json.reference
  tests/queries/0_stateless/02154_dictionary_get_http_json.sh
Labels: pr-not-for-changelog

#34434 sync to zh: sql-reference/data-types/int-uint: sync translate to zh
  docs/zh/sql-reference/data-types/int-uint.md
Labels: pr-documentation, can be tested

#34401 Update query_thread_log.md
  docs/zh/operations/system-tables/query_thread_log.md
Labels: pr-documentation, can be tested

#34481 sync translate to zh: Update roadmap.md
  docs/zh/whats-new/roadmap.md
Labels: pr-documentation, can be tested

#34472 Remove invalid IOS setting for RocksDB CMAKE to fix Apple M1 build
  contrib/rocksdb-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, can be tested

#34471 test for #13907 toColumnTypeName_toLowCardinality_const
  tests/queries/0_stateless/02210_toColumnTypeName_toLowCardinality_const.reference
  tests/queries/0_stateless/02210_toColumnTypeName_toLowCardinality_const.sql
Labels: pr-not-for-changelog, can be tested

#34475 accessing nested_column after already moved to data
  src/Columns/ColumnArray.cpp
Labels: pr-not-for-changelog, can be tested

#34476 Avoid unnecessary copying of `Settings`
  src/Client/ClientBase.cpp
  src/Databases/MySQL/MaterializedMySQLSyncThread.cpp
  src/Dictionaries/ExecutablePoolDictionarySource.cpp
  src/Interpreters/ClusterDiscovery.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/Transforms/getSourceFromASTInsertQuery.cpp
  src/Server/HTTP/HTTPServerConnection.cpp
  src/Storages/HDFS/StorageHDFSCluster.cpp
  src/Storages/StorageS3Cluster.cpp
  src/Storages/System/StorageSystemPartsBase.cpp
  src/TableFunctions/TableFunctionRemote.cpp
Labels: pr-not-for-changelog

#34479 Fix possible error 'file_size: Operation not supported'
  src/Storages/StorageFile.cpp
  tests/performance/select_format.xml
  tests/performance/writing_valid_utf8.xml
  tests/queries/0_stateless/02210_append_to_dev_dull.reference
  tests/queries/0_stateless/02210_append_to_dev_dull.sql
Labels: pr-bugfix

#34408 Split and rename compression fields in gRPC
  programs/server/config.xml
  src/Server/GRPCServer.cpp
  src/Server/grpc_protos/clickhouse_grpc.proto
  tests/integration/test_grpc_protocol/test.py
  tests/integration/test_server_reload/protos/clickhouse_grpc.proto
Labels: pr-not-for-changelog

#34473 clang-tidy reported potential chance for divide by zero exception
  src/AggregateFunctions/ReservoirSampler.h
Labels: pr-not-for-changelog, can be tested

#34512 Add support agreement page and snippets.
  website/support/agreement/index.html
  website/templates/support/agreement-content.html
  website/templates/support/agreement-hero.html
Labels: pr-not-for-changelog

#34404 For SQLUserDefinedFunctions change privilege level from DATABASE to GLOBAL
  src/Access/Common/AccessType.h
  src/Access/ContextAccess.cpp
  src/Access/tests/gtest_access_rights_ops.cpp
  tests/queries/0_stateless/01271_show_privileges.reference
Labels: pr-bugfix

#34515 Update buildPushingToViewsChain.h
  src/Processors/Transforms/buildPushingToViewsChain.h
Labels: pr-not-for-changelog, can be tested

#34501 Doc. Virtual Columns MergeTree engine
  docs/en/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation

#34522 Translate zh/engines/database-engines/replicated: sync translate
  docs/zh/engines/database-engines/replicated.md
Labels: pr-documentation, can be tested

#34498 Fix ProfileEvents sending in INSERT SELECT
  src/Server/TCPHandler.cpp
Labels: pr-improvement

#34484 keeper SnapshotableHashTable clean optimization
  src/Coordination/SnapshotableHashTable.h
Labels: pr-performance, can be tested

#34496 Support .jsonl extension for JSONEachRow format
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  tests/queries/0_stateless/02211_jsonl_format_extension.reference
  tests/queries/0_stateless/02211_jsonl_format_extension.sql
Labels: pr-improvement

#34187 Default table engine
  src/Core/Settings.h
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Databases/DatabaseOnDisk.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterCreateQuery.h
  src/Parsers/ParserCreateQuery.cpp
  src/Parsers/ParserCreateQuery.h
  src/Storages/StorageFactory.cpp
  src/Storages/registerStorages.cpp
  tests/queries/0_stateless/02184_default_table_engine.reference
  tests/queries/0_stateless/02184_default_table_engine.sql
  tests/queries/0_stateless/02184_table_engine_access.reference
  tests/queries/0_stateless/02184_table_engine_access.sh
Labels: pr-feature, doc-alert

#34533 add BeforeLambdaBody to .clang-format
  .clang-format
Labels: pr-not-for-changelog

#34320 Provide important performance hint max_rows_in_set
  docs/en/sql-reference/operators/in.md
Labels: pr-documentation, can be tested

#34456 Allow allow_experimental_projection_optimization by default
  src/Core/Settings.h
Labels: pr-improvement

#34540 Doc. Virtual Columns MergeTree engine (RU)
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation

#34542 Doc. Fix defaults for input_format_parallel_parsing / output_format_parallel_formatting
  docs/en/operations/settings/settings.md
  docs/ru/operations/settings/settings.md
Labels: pr-documentation

#34539 Fix cancelation for S3 and HDFS
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/StorageS3.cpp
Labels: pr-bugfix

#34429 asynchronous_inserts engine AsynchronousInserts -> SystemAsynchronousInserts
  src/Storages/System/StorageSystemAsynchronousInserts.h
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-not-for-changelog

#34510 Improve performance of insert into table functions URL, S3, File, HDFS
  src/Common/ArenaUtils.h
  src/Coordination/SnapshotableHashTable.h
  src/Dictionaries/CacheDictionaryStorage.h
  src/Dictionaries/DictionaryHelpers.h
  src/Dictionaries/FlatDictionary.cpp
  src/Dictionaries/HashedArrayDictionary.cpp
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/RangeHashedDictionary.cpp
  src/Dictionaries/SSDCacheDictionaryStorage.h
  src/Storages/PartitionedSink.cpp
  src/Storages/PartitionedSink.h
Labels: pr-performance

#34528 Fix comparison between integers and floats in index analysis
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/02207_key_condition_floats.reference
  tests/queries/0_stateless/02207_key_condition_floats.sql
Labels: pr-bugfix

#34547 Remove very old cruft
  .potato.yml
  docker-compose.yml
Labels: pr-not-for-changelog

#34491 Translate zh/engines/database-engines/materialized-mysql: translate t…
  docs/zh/engines/database-engines/index.md
  docs/zh/engines/database-engines/materialized-mysql.md
Labels: pr-documentation, can be tested

#34555 TableFunctionFile added performance test
  src/Storages/StorageFile.cpp
  tests/performance/file_table_function.xml
Labels: pr-not-for-changelog

#34517 More gdb introspection on CI
  docker/test/fuzzer/run-fuzzer.sh
  docker/test/stress/run.sh
  tests/ci/ast_fuzzer_check.py
Labels: pr-not-for-changelog

#34557 check and get columns in geoToH3 func
  src/Functions/geoToH3.cpp
  tests/queries/0_stateless/00926_geo_to_h3.reference
  tests/queries/0_stateless/00926_geo_to_h3.sql
Labels: pr-not-for-changelog

#34558 try fix data race in StorageLog
  src/Storages/StorageLog.cpp
Labels: pr-not-for-changelog

#34506 fix lowcardinality on group by of any model
  src/Common/ColumnsHashing.h
  tests/queries/0_stateless/02180_group_by_lowcardinality.reference
  tests/queries/0_stateless/02180_group_by_lowcardinality.sql
Labels: pr-bugfix, can be tested

#34541 Doc. Fix materialize column description
  docs/en/sql-reference/statements/alter/column.md
  docs/ru/sql-reference/statements/alter/column.md
Labels: pr-documentation

#34499 gRPC: Send output format back to client
  src/Server/GRPCServer.cpp
  src/Server/grpc_protos/clickhouse_grpc.proto
  tests/integration/test_grpc_protocol/test.py
Labels: pr-improvement

#34321 reference to distributed queries processing
  docs/en/engines/table-engines/special/distributed.md
Labels: pr-documentation, can be tested

#34556 Adjust HDFS tests to a new hadoop image
  docker/test/integration/kerberized_hadoop/Dockerfile
  docker/test/integration/runner/compose/docker_compose_kerberized_hdfs.yml
  docker/test/integration/runner/dockerd-entrypoint.sh
  tests/ci/integration_test_check.py
  tests/integration/ci-runner.py
  tests/integration/runner
  tests/integration/test_storage_kerberized_hdfs/kerberos_image_config.sh
  tests/integration/test_storage_kerberized_kafka/kerberos_image_config.sh
Labels: do not test, pr-build

#34569 Postpone a bit nightly builds to the least loaded time
  .github/workflows/nightly.yml
Labels: do not test, pr-not-for-changelog

#34352 Default input and output formats that can be overriden by --input-format and --output-format.
  programs/local/LocalServer.cpp
  tests/queries/0_stateless/02206_format_override.reference
  tests/queries/0_stateless/02206_format_override.sh
Labels: pr-improvement, can be tested

#34504 Support `TTL TO [DISK|VOLUME] [IF EXISTS]`
  src/Disks/IStoragePolicy.cpp
  src/Disks/IStoragePolicy.h
  src/Disks/StoragePolicy.cpp
  src/Disks/StoragePolicy.h
  src/Parsers/ASTTTLElement.cpp
  src/Parsers/ASTTTLElement.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/TTLDescription.cpp
  src/Storages/TTLDescription.h
  tests/integration/test_ttl_move/configs/config.d/storage_configuration.xml
  tests/integration/test_ttl_move/test.py
  tests/queries/0_stateless/02207_ttl_move_if_exists.reference
  tests/queries/0_stateless/02207_ttl_move_if_exists.sql
Labels: pr-improvement

#34457 Update http_max_tries setting default
  src/Core/Settings.h
Labels: pr-not-for-changelog

#34550 Tiny fixes for client/local suggestions
  base/base/LineReader.cpp
  programs/local/LocalServer.cpp
Labels: pr-not-for-changelog

#34495 Improve schema inference in clickhouse-local
  programs/local/LocalServer.cpp
  tests/queries/0_stateless/02211_shcema_inference_from_stdin.reference
  tests/queries/0_stateless/02211_shcema_inference_from_stdin.sh
Labels: pr-improvement

#34578 Fix indentation in ARRAY JOIN formatting
  src/Parsers/ASTTablesInSelectQuery.cpp
  tests/queries/0_stateless/02220_array_join_format.reference
  tests/queries/0_stateless/02220_array_join_format.sql
Labels: pr-not-for-changelog

#34432 `static-files-disk-uploader`: add a mode to create symlinks
  programs/static-files-disk-uploader/static-files-disk-uploader.cpp
  src/Storages/HDFS/StorageHDFSCluster.cpp
Labels: pr-not-for-changelog

#34567 Documentation for insert_deduplication_token setting
  docs/en/operations/settings/settings.md
Labels: pr-documentation, can be tested

#34523 Keeper no lock on append_entries
  src/Coordination/KeeperServer.cpp
  src/Coordination/KeeperServer.h
Labels: pr-performance, jepsen-test, can be tested

#31182 Memory overcommit
  programs/server/Server.cpp
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTracker.h
  src/Common/OvercommitTracker.cpp
  src/Common/OvercommitTracker.h
  src/Core/Settings.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ProcessList.cpp
  src/Interpreters/ProcessList.h
  tests/queries/0_stateless/02104_overcommit_memory.reference
  tests/queries/0_stateless/02104_overcommit_memory.sh
Labels: pr-feature, doc-alert, force tests, ded moroz

#34577 Always remove unused actions from addMissingDefaults
  src/Interpreters/addMissingDefaults.cpp
  src/Interpreters/inplaceBlockConversions.cpp
  src/Storages/MergeTree/IMergeTreeReader.cpp
Labels: pr-not-for-changelog
