Repository ClickHouse/ClickHouse, pull requests merged in 2022-07, with the labels that each got.

#38654 Better naming for stuff related to splitted debug symbols
  CMakeLists.txt
  cmake/split_debug_symbols.cmake
  docker/packager/packager
  docs/en/development/cmake-in-clickhouse.md
  programs/CMakeLists.txt
  programs/keeper/CMakeLists.txt
  programs/library-bridge/CMakeLists.txt
  programs/odbc-bridge/CMakeLists.txt
Labels: pr-not-for-changelog

#38662 Print stacktraces if test queue is full
  tests/clickhouse-test
Labels: pr-build

#38655 Doc. Fix a note about ClickHouse Keeper
  docs/en/operations/tips.md
Labels: pr-documentation

#38679 Fix strange backport titles issues
  tests/ci/cherry_pick_utils/cherrypick.py
Labels: do not test, pr-not-for-changelog

#38589 Fix countSubstrings() & position() on patterns with 0-bytes
  src/Common/StringSearcher.h
  src/Functions/PositionImpl.h
  tests/queries/0_stateless/02346_position_countsubstrings_zero_byte.reference
  tests/queries/0_stateless/02346_position_countsubstrings_zero_byte.sql
Labels: pr-bugfix

#38684 [RFC] Remove outdated cmake documentation
  docs/_includes/cmake_in_clickhouse_footer.md
  docs/_includes/cmake_in_clickhouse_header.md
  docs/en/development/cmake-in-clickhouse.md
Labels: pr-documentation

#38673 Remove broken client library link
  docs/en/interfaces/third-party/client-libraries.md
  docs/ru/interfaces/third-party/client-libraries.md
  docs/zh/interfaces/third-party/client-libraries.md
Labels: pr-documentation, can be tested

#38355 Adding TLS V13 Test
  tests/integration/test_tlsv1_3/__init__.py
  tests/integration/test_tlsv1_3/certs/ca-cert.pem
  tests/integration/test_tlsv1_3/certs/ca-cert.srl
  tests/integration/test_tlsv1_3/certs/ca-key.pem
  tests/integration/test_tlsv1_3/certs/client1-cert.pem
  tests/integration/test_tlsv1_3/certs/client1-key.pem
  tests/integration/test_tlsv1_3/certs/client1-req.pem
  tests/integration/test_tlsv1_3/certs/client2-cert.pem
  tests/integration/test_tlsv1_3/certs/client2-key.pem
  tests/integration/test_tlsv1_3/certs/client2-req.pem
  tests/integration/test_tlsv1_3/certs/client3-cert.pem
  tests/integration/test_tlsv1_3/certs/client3-key.pem
  tests/integration/test_tlsv1_3/certs/client3-req.pem
  tests/integration/test_tlsv1_3/certs/dhparam4096.pem
  tests/integration/test_tlsv1_3/certs/generate_certs.sh
  tests/integration/test_tlsv1_3/certs/server-cert.pem
  tests/integration/test_tlsv1_3/certs/server-ext.cnf
  tests/integration/test_tlsv1_3/certs/server-key.pem
  tests/integration/test_tlsv1_3/certs/server-req.pem
  tests/integration/test_tlsv1_3/certs/wrong-cert.pem
  tests/integration/test_tlsv1_3/certs/wrong-key.pem
  tests/integration/test_tlsv1_3/configs/ssl_config.xml
  tests/integration/test_tlsv1_3/configs/users_with_ssl_auth.xml
  tests/integration/test_tlsv1_3/test.py
Labels: pr-not-for-changelog, can be tested

#38680 Follow-up to #38568
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#38702 Fix possible deadlocks with `MergeTreeData::Transaction`
  src/Storages/MergeTree/MergeTreeSink.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/StorageMergeTree.cpp
Labels: pr-not-for-changelog

#38531 Use of disk batch operations in MergeTree
  src/Disks/DiskDecorator.cpp
  src/Disks/DiskDecorator.h
  src/Disks/DiskEncrypted.h
  src/Disks/IDiskTransaction.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Disks/ObjectStorages/DiskObjectStorageTransaction.cpp
  src/Disks/ObjectStorages/HDFS/registerDiskHDFS.cpp
  src/Storages/MergeTree/DataPartStorageOnDisk.cpp
  src/Storages/MergeTree/DataPartStorageOnDisk.h
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/MergePlainMergeTreeTask.cpp
  src/Storages/MergeTree/MergeTask.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/MergeTreeDataPartInMemory.cpp
  src/Storages/MergeTree/MergeTreeDataPartInMemory.h
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.h
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  src/Storages/MergeTree/MergeTreePartsMover.h
  src/Storages/MergeTree/MergeTreeSink.cpp
  src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  src/Storages/MergeTree/MutateFromLogEntryTask.cpp
  src/Storages/MergeTree/MutatePlainMergeTreeTask.cpp
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/MutateTask.h
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_s3_zero_copy_replication/test.py
Labels: pr-not-for-changelog

#38703 Fix backports diff
  tests/ci/docker_images_check.py
  tests/ci/docker_test.py
  tests/ci/pr_info.py
Labels: pr-not-for-changelog, v22.3-must-backport, v22.4-must-backport, v22.5-must-backport, v22.6-must-backport

#38728 Add exp_internal for expect tests
  tests/clickhouse-test
  tests/queries/0_stateless/01176_mysql_client_interactive.expect
  tests/queries/0_stateless/01179_insert_values_semicolon.expect
  tests/queries/0_stateless/01180_client_syntax_errors.expect
  tests/queries/0_stateless/01293_client_interactive_vertical_multiline.expect
  tests/queries/0_stateless/01293_client_interactive_vertical_singleline.expect
  tests/queries/0_stateless/01300_client_save_history_when_terminated_long.expect
  tests/queries/0_stateless/01370_client_autocomplete_word_break_characters.expect
  tests/queries/0_stateless/01520_client_print_query_id.expect
  tests/queries/0_stateless/01565_reconnect_after_client_error.expect
  tests/queries/0_stateless/01755_client_highlight_multi_line_comment_regression.expect
  tests/queries/0_stateless/01910_client_replxx_container_overflow_long.expect
  tests/queries/0_stateless/01933_client_replxx_convert_history.expect
  tests/queries/0_stateless/01945_show_debug_warning.expect
  tests/queries/0_stateless/02003_memory_limit_in_client.expect
  tests/queries/0_stateless/02047_client_exception.expect
  tests/queries/0_stateless/02049_clickhouse_local_merge_tree.expect
  tests/queries/0_stateless/02105_backslash_letter_commands.expect
  tests/queries/0_stateless/02112_delayed_clickhouse_client_with_queries_file.expect
  tests/queries/0_stateless/02112_delayed_clickhouse_local.expect
  tests/queries/0_stateless/02112_delayed_clickhouse_local_with_queries_file.expect
  tests/queries/0_stateless/02116_interactive_hello.expect
  tests/queries/0_stateless/02132_client_history_navigation.expect
  tests/queries/0_stateless/02160_client_autocomplete_parse_query.expect
  tests/queries/0_stateless/02164_clickhouse_local_interactive_exception.expect
  utils/check-style/check-style
Labels: pr-not-for-changelog

#38723 Add example query to hardware benchmark
  benchmark/hardware.sh
Labels: pr-documentation

#38545 Implement L2 Squared Distance and Norm for array and tuples.
  src/Functions/array/arrayDistance.cpp
  src/Functions/array/arrayNorm.cpp
  src/Functions/vectorFunctions.cpp
  tests/queries/0_stateless/02011_tuple_vector_functions.reference
  tests/queries/0_stateless/02011_tuple_vector_functions.sql
  tests/queries/0_stateless/02282_array_distance.reference
  tests/queries/0_stateless/02282_array_distance.sql
  tests/queries/0_stateless/02283_array_norm.reference
  tests/queries/0_stateless/02283_array_norm.sql
Labels: pr-improvement, can be tested

#38733 Fix CLICKHOUSE_TMP in tests (fixes broken CI)
  tests/clickhouse-test
Labels: pr-not-for-changelog

#38705 Fix FillingTransform
  src/Processors/Transforms/FillingTransform.cpp
  tests/queries/0_stateless/02112_with_fill_interval.sql
Labels: pr-not-for-changelog

#38413 Precalculate values inside `HashTableGrower`
  src/AggregateFunctions/AggregateFunctionUniqCombined.h
  src/Columns/ReverseIndex.h
  src/Common/HashTable/ClearableHashMap.h
  src/Common/HashTable/ClearableHashSet.h
  src/Common/HashTable/HashMap.h
  src/Common/HashTable/HashSet.h
  src/Common/HashTable/HashTable.h
  src/Common/HashTable/LRUHashMap.h
  src/Common/HashTable/StringHashTable.h
  src/Common/HashTable/TwoLevelHashTable.h
  src/Common/tests/gtest_hash_table.cpp
Labels: pr-performance, force tests

#38720 SQL create drop index fix formatting
  src/Interpreters/InterpreterCreateIndexQuery.cpp
  src/Interpreters/InterpreterDropIndexQuery.cpp
  src/Parsers/ParserCreateIndexQuery.cpp
  src/Parsers/ParserDropIndexQuery.cpp
Labels: pr-not-for-changelog, can be tested

#38743 typo
  docs/en/getting-started/example-datasets/metrica.md
Labels: pr-documentation, can be tested

#38024 Throw exception when xml user profile does not exist
  src/Access/SettingsProfileElement.h
  src/Access/UsersConfigAccessStorage.cpp
Labels: pr-not-for-changelog

#38721 Provide sort description for output stream in ReadFromMergeTree step
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
Labels: pr-not-for-changelog

#38748 Fix use-after-free for Map combinator that leads to incorrect result
  src/AggregateFunctions/AggregateFunctionMap.h
  tests/queries/0_stateless/02351_Map_combinator_dist.reference
  tests/queries/0_stateless/02351_Map_combinator_dist.sql
Labels: pr-bugfix, pr-must-backport

#38722 Fix a bug in `rankCorr` function
  src/AggregateFunctions/AggregateFunctionRankCorrelation.h
  src/AggregateFunctions/StatCommon.h
  tests/queries/0_stateless/01848_http_insert_segfault.sh
  tests/queries/0_stateless/02347_rank_corr_nan.reference
  tests/queries/0_stateless/02347_rank_corr_nan.sql
Labels: pr-bugfix, pr-must-backport

#38773 Fix throwing exception on error for seekable read from s3
  src/IO/ReadBufferFromS3.cpp
Labels: pr-bugfix

#38731 Fix number of threads for pushing to views
  src/Interpreters/InterpreterInsertQuery.cpp
  tests/performance/views_max_insert_threads.xml
  tests/queries/0_stateless/01275_parallel_mv.reference
  tests/queries/0_stateless/01275_parallel_mv.sql
  tests/queries/0_stateless/01275_parallel_mv.sql.j2
  tests/queries/0_stateless/02350_views_max_insert_threads.reference
  tests/queries/0_stateless/02350_views_max_insert_threads.sql
Labels: pr-bugfix

#38653 Upload to S3 compressed self-extracting clickhouse
  tests/ci/build_check.py
Labels: pr-feature

#38674 Fix crash when granting ALL on cluster.
  src/Access/ContextAccess.cpp
  tests/integration/test_access_control_on_cluster/test.py
Labels: pr-bugfix, pr-must-backport

#38740 Improved vectorized execution of main loop for array norm/distance
  src/Functions/array/arrayDistance.cpp
  src/Functions/array/arrayNorm.cpp
  tests/performance/norm_distance_float.xml
  tests/queries/0_stateless/02282_array_distance.reference
  tests/queries/0_stateless/02282_array_distance.sql
  tests/queries/0_stateless/02283_array_norm.reference
  tests/queries/0_stateless/02283_array_norm.sql
Labels: pr-performance

#38656 Add test for keeper `mntr` command
  src/Coordination/Keeper4LWInfo.h
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperDispatcher.h
  src/Coordination/KeeperServer.cpp
  src/Coordination/KeeperServer.h
  tests/integration/test_keeper_mntr_pressure/__init__.py
  tests/integration/test_keeper_mntr_pressure/config/enable_keeper1.xml
  tests/integration/test_keeper_mntr_pressure/config/enable_keeper2.xml
  tests/integration/test_keeper_mntr_pressure/config/enable_keeper3.xml
  tests/integration/test_keeper_mntr_pressure/test.py
Labels: pr-not-for-changelog

#38752 Fix replication after improper merge process
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#38749 Tiny tests cleanup
  docker/test/stress/run.sh
  tests/queries/0_stateless/01548_query_log_query_execution_ms.sh
  tests/queries/0_stateless/01710_projections_optimize_aggregation_in_order.sh
  tests/queries/0_stateless/01710_projections_partial_optimize_aggregation_in_order.sh
  tests/queries/0_stateless/02340_parts_refcnt_mergetree.sh
  tests/queries/shell_config.sh
  tests/stress
Labels: pr-not-for-changelog

#38273 Improve runners AMI and init scripts
  tests/ci/team_keys_lambda/.gitignore
  tests/ci/team_keys_lambda/Dockerfile
  tests/ci/team_keys_lambda/app.py
  tests/ci/team_keys_lambda/build_and_deploy_archive.sh
  tests/ci/worker/init_runner.sh
  tests/ci/worker/ubuntu_ami_for_ci.sh
Labels: do not test, pr-not-for-changelog

#38582 Make postgres integration test great again
  tests/integration/test_dictionaries_postgresql/configs/dictionaries/postgres_dict.xml
  tests/integration/test_dictionaries_postgresql/configs/named_collections.xml
  tests/integration/test_dictionaries_postgresql/test.py
  tests/integration/test_dictionaries_redis/test_long.py
  tests/integration/test_postgresql_database_engine/test.py
Labels: pr-not-for-changelog

#38798 Temporarily disable 01710_projection_fetch_long in BC check
  tests/queries/0_stateless/01710_projection_fetch_long.sql
Labels: pr-not-for-changelog

#38468 Backport " ASTLiteral clone only value #36542" to 22.4
  src/Parsers/ASTLiteral.cpp
  src/Parsers/ASTLiteral.h
  tests/queries/0_stateless/02291_join_const_literal_36279.reference
  tests/queries/0_stateless/02291_join_const_literal_36279.sql
Labels: pr-backport

#37155 Fix intermediate header in aggregate projection
  src/Interpreters/Aggregator.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/01710_minmax_count_projection.reference
  tests/queries/0_stateless/01710_minmax_count_projection.sql
Labels: pr-bugfix, pr-must-backport

#38799 Update function.md
  docs/en/sql-reference/statements/create/function.md
Labels: pr-documentation, can be tested

#38365 Fix RabbitMQ configuration via connection string setting
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-bugfix

#38813 clickhouse client/local interactive: support \i file
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  tests/queries/0_stateless/02352_interactive_queries_from_file.expect
  tests/queries/0_stateless/02352_interactive_queries_from_file.reference
Labels: pr-improvement

#38619 Fix exception messages in clickhouse su
  programs/su/clickhouse-su.cpp
Labels: pr-not-for-changelog

#38556 Don't rollback SessionID request in Keeper
  src/Coordination/KeeperStateMachine.cpp
Labels: pr-not-for-changelog

#38800 Update drop.md
  docs/en/sql-reference/statements/drop.md
Labels: pr-documentation, can be tested

#38362 Better exception messages on wrong table engines/functions argument types
  src/Core/Field.cpp
  src/Core/Field.h
  src/Interpreters/getClusterName.cpp
  src/Storages/FileLog/StorageFileLog.cpp
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/Hive/StorageHive.cpp
  src/Storages/IStorage.cpp
  src/Storages/MeiliSearch/StorageMeiliSearch.cpp
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageDictionary.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageExecutable.cpp
  src/Storages/StorageExternalDistributed.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageGenerateRandom.cpp
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMongoDB.cpp
  src/Storages/StorageMySQL.cpp
  src/Storages/StoragePostgreSQL.cpp
  src/Storages/StorageS3.cpp
  src/Storages/StorageSQLite.cpp
  src/Storages/StorageSet.cpp
  src/Storages/StorageSnapshot.cpp
  src/Storages/StorageStripeLog.cpp
  src/Storages/StorageURL.cpp
  src/Storages/StorageXDBC.cpp
  src/Storages/checkAndGetLiteralArgument.cpp
  src/Storages/checkAndGetLiteralArgument.h
  src/TableFunctions/Hive/TableFunctionHive.cpp
  src/TableFunctions/ITableFunctionFileLike.cpp
  src/TableFunctions/ITableFunctionFileLike.h
  src/TableFunctions/TableFunctionDictionary.cpp
  src/TableFunctions/TableFunctionExecutable.cpp
  src/TableFunctions/TableFunctionFile.cpp
  src/TableFunctions/TableFunctionFile.h
  src/TableFunctions/TableFunctionFormat.cpp
  src/TableFunctions/TableFunctionGenerateRandom.cpp
  src/TableFunctions/TableFunctionHDFSCluster.cpp
  src/TableFunctions/TableFunctionInput.cpp
  src/TableFunctions/TableFunctionMerge.cpp
  src/TableFunctions/TableFunctionNull.cpp
  src/TableFunctions/TableFunctionRemote.cpp
  src/TableFunctions/TableFunctionS3.cpp
  src/TableFunctions/TableFunctionS3Cluster.cpp
  src/TableFunctions/TableFunctionSQLite.cpp
  src/TableFunctions/TableFunctionZeros.cpp
  tests/queries/0_stateless/02245_s3_schema_desc.sql
Labels: pr-not-for-changelog

#38802 Fix s3 seekable reads with parallel read buffer
  src/IO/ParallelReadBuffer.h
  src/IO/WithFileSize.cpp
  tests/integration/test_storage_s3/test.py
Labels: pr-bugfix, v22.6-must-backport

#38836 Get files changed in master since release is branched
  tests/ci/pr_info.py
Labels: do not test, pr-not-for-changelog

#38338 Extend ZooKeeper list request with support for filtering persistent or ephemeral nodes only
  src/Common/ZooKeeper/IKeeper.h
  src/Common/ZooKeeper/TestKeeper.cpp
  src/Common/ZooKeeper/TestKeeper.h
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Common/ZooKeeper/ZooKeeperCommon.cpp
  src/Common/ZooKeeper/ZooKeeperCommon.h
  src/Common/ZooKeeper/ZooKeeperConstants.cpp
  src/Common/ZooKeeper/ZooKeeperConstants.h
  src/Common/ZooKeeper/ZooKeeperIO.cpp
  src/Common/ZooKeeper/ZooKeeperIO.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/ZooKeeper/ZooKeeperImpl.h
  src/Coordination/KeeperStorage.cpp
  src/Coordination/tests/gtest_coordination.cpp
  utils/keeper-bench/Generator.cpp
Labels: pr-not-for-changelog

#38751 Smallish updates of dev guide
  docs/en/development/build.md
  docs/en/development/contrib.md
  docs/en/development/developer-instruction.md
Labels: pr-documentation

#38771 Revise Docker README
  docker/server/README.md
Labels: pr-documentation, can be tested

#38850 Revert of revert of smallish devguide update
  docs/en/development/build.md
  docs/en/development/contrib.md
  docs/en/development/developer-instruction.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-not-for-changelog

#38363 Support `auto_close` option for postgres engine connection
  src/Core/PostgreSQL/Connection.cpp
  src/Core/PostgreSQL/Connection.h
  src/Core/PostgreSQL/ConnectionHolder.h
  src/Core/PostgreSQL/PoolWithFailover.cpp
  src/Core/PostgreSQL/PoolWithFailover.h
  src/Core/Settings.h
  src/Databases/DatabaseFactory.cpp
  src/Dictionaries/PostgreSQLDictionarySource.cpp
  src/Storages/StorageExternalDistributed.cpp
  src/Storages/StoragePostgreSQL.cpp
  src/TableFunctions/TableFunctionPostgreSQL.cpp
  tests/integration/test_storage_postgresql/configs/settings.xml
  tests/integration/test_storage_postgresql/test.py
Labels: pr-improvement

#38876 Simple cleanup: interpreters and parsers
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Interpreters/InterpreterSelectWithUnionQuery.h
  src/Parsers/ASTAlterQuery.h
  src/Parsers/ASTCreateQuery.h
  src/Parsers/ASTDropQuery.h
  src/Parsers/ASTInsertQuery.h
  src/Parsers/ASTRenameQuery.h
  src/Parsers/ASTSelectIntersectExceptQuery.h
  src/Parsers/ASTSelectQuery.h
  src/Parsers/ASTSelectWithUnionQuery.h
  src/Parsers/ASTSystemQuery.h
  src/Parsers/Access/ASTGrantQuery.h
Labels: pr-not-for-changelog

#38882 Make faq/key-value zh doc more readable
  docs/zh/faq/use-cases/key-value.md
Labels: pr-documentation, can be tested

#38831 Add test for segfault in Map combinator
  tests/queries/0_stateless/02324_map_combinator_bug.reference
  tests/queries/0_stateless/02324_map_combinator_bug.sql
Labels: pr-not-for-changelog

#38814 Use native Map type for OpenTelemetry attributes
  src/Interpreters/OpenTelemetrySpanLog.cpp
  src/Interpreters/OpenTelemetrySpanLog.h
  src/Interpreters/ThreadStatusExt.cpp
  src/Interpreters/executeQuery.cpp
Labels: pr-not-for-changelog

#38584 Add check for empty proccessors in AggregatingTransform::expandPipeline
  src/Processors/Transforms/AggregatingTransform.cpp
Labels: pr-not-for-changelog, can be tested

#38856 Do not override compiler if it had been already set
  PreLoad.cmake
Labels: pr-not-for-changelog

#38617 Add separate option to omit symbols from heavy contrib
  CMakeLists.txt
  contrib/arrow-cmake/CMakeLists.txt
  contrib/aws-s3-cmake/CMakeLists.txt
  contrib/curl-cmake/CMakeLists.txt
  contrib/vectorscan-cmake/CMakeLists.txt
  src/Dictionaries/CMakeLists.txt
  src/Functions/CMakeLists.txt
  src/Functions/GatherUtils/CMakeLists.txt
  src/Functions/JSONPath/CMakeLists.txt
  src/Functions/URL/CMakeLists.txt
  src/Functions/array/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#38892 Remove unnecessary log
  src/Storages/MergeTree/DataPartStorageOnDisk.cpp
Labels: pr-not-for-changelog

#38899 Update SECURITY.md
  SECURITY.md
Labels: pr-documentation, can be tested

#35363 Special JOIN with StorageEmbeddedRocksDB
  src/Columns/ColumnNullable.cpp
  src/Columns/ColumnNullable.h
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Interpreters/DirectJoin.cpp
  src/Interpreters/DirectJoin.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  src/Interpreters/IJoin.h
  src/Interpreters/JoinedTables.cpp
  src/Interpreters/MergeJoin.cpp
  src/Interpreters/MergeJoin.h
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Parsers/ASTTablesInSelectQuery.h
  src/Storages/IKVStorage.h
  src/Storages/RocksDB/StorageEmbeddedRocksDB.cpp
  src/Storages/RocksDB/StorageEmbeddedRocksDB.h
  tests/queries/0_stateless/02241_join_rocksdb_bs.reference
  tests/queries/0_stateless/02241_join_rocksdb_bs.sql.j2
  tests/queries/0_stateless/02242_join_rocksdb.reference
  tests/queries/0_stateless/02242_join_rocksdb.sql
Labels: pr-feature, doc-alert

#38859 MergeTree merge disable batch optimization
  src/Interpreters/SortedBlocksWriter.cpp
  src/Processors/Merges/Algorithms/MergingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/MergingSortedAlgorithm.h
  src/Processors/Merges/MergingSortedTransform.cpp
  src/Processors/Merges/MergingSortedTransform.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/SortingStep.cpp
  src/Processors/Transforms/MergeSortingTransform.cpp
  src/QueryPipeline/tests/gtest_blocks_size_merging_streams.cpp
  src/Storages/MergeTree/MergeTask.cpp
Labels: pr-bugfix, pr-must-backport, can be tested

#38603 Doc. More settings / mysql
  docs/en/engines/table-engines/integrations/mysql.md
  docs/ru/engines/table-engines/integrations/mysql.md
Labels: pr-documentation

#38902 Interpreter cleanup: ContextPtr -> const ContextPtr & in parameters
  src/Interpreters/IInterpreterUnionOrSelectQuery.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Interpreters/evaluateConstantExpression.cpp
  src/Interpreters/evaluateConstantExpression.h
Labels: pr-not-for-changelog

#38896 Fix settings profile with seconds unit
  src/Core/SettingsFields.cpp
  tests/queries/0_stateless/02294_fp_seconds_profile.reference
  tests/queries/0_stateless/02294_fp_seconds_profile.sql
Labels: pr-bugfix, v22.6-must-backport

#38861 Backup Improvements 9
  src/Access/AccessBackup.cpp
  src/Access/AccessBackup.h
  src/Access/IAccessStorage.cpp
  src/Access/ReplicatedAccessStorage.cpp
  src/Backups/BackupCoordinationHelpers.cpp
  src/Backups/BackupCoordinationHelpers.h
  src/Backups/BackupCoordinationLocal.cpp
  src/Backups/BackupCoordinationLocal.h
  src/Backups/BackupCoordinationRemote.cpp
  src/Backups/BackupCoordinationRemote.h
  src/Backups/BackupCoordinationReplicatedAccess.cpp
  src/Backups/BackupCoordinationReplicatedAccess.h
  src/Backups/BackupCoordinationReplicatedTables.cpp
  src/Backups/BackupCoordinationReplicatedTables.h
  src/Backups/BackupCoordinationStatusSync.cpp
  src/Backups/BackupCoordinationStatusSync.h
  src/Backups/BackupEntriesCollector.cpp
  src/Backups/BackupEntriesCollector.h
  src/Backups/BackupImpl.cpp
  src/Backups/BackupsWorker.cpp
  src/Backups/IBackupCoordination.h
  src/Backups/IBackupEntriesBatch.cpp
  src/Backups/IBackupEntriesBatch.h
  src/Backups/IBackupEntriesLazyBatch.cpp
  src/Backups/IBackupEntriesLazyBatch.h
  src/Backups/IRestoreCoordination.h
  src/Backups/RestoreCoordinationLocal.h
  src/Backups/RestoreCoordinationRemote.cpp
  src/Backups/RestoreCoordinationRemote.h
  src/Backups/RestorerFromBackup.cpp
  src/Backups/RestorerFromBackup.h
  src/Parsers/ASTBackupQuery.h
  src/Parsers/ParserBackupQuery.h
  src/Storages/MergeTree/DataPartStorageOnDisk.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeMutationEntry.cpp
  src/Storages/MergeTree/MergeTreeMutationEntry.h
  src/Storages/MergeTree/ReplicatedMergeTreeMutationEntry.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeMutationEntry.h
  src/Storages/StorageLog.cpp
  src/Storages/StorageMemory.cpp
  src/Storages/StorageMemory.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageStripeLog.cpp
  tests/integration/test_backup_restore_new/test.py
  tests/integration/test_backup_restore_on_cluster/test.py
Labels: pr-not-for-changelog

#38928 update README
  docker/server/README.md
Labels: pr-documentation, can be tested

#38938 Fix a typo
  docs/en/sql-reference/functions/type-conversion-functions.md
Labels: pr-not-for-changelog

#37860 Remove duplicate peak mem log
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTracker.h
  src/Server/TCPHandler.cpp
Labels: pr-not-for-changelog

#38910 EXPLAIN AST rewrite option
  src/Interpreters/InterpreterExplainQuery.cpp
  tests/queries/0_stateless/02353_explain_ast_rewrite.reference
  tests/queries/0_stateless/02353_explain_ast_rewrite.sql
Labels: pr-improvement

#38841 feat(Function): add isNullable function
  src/Functions/isNullable.cpp
  src/Functions/registerFunctionsNull.cpp
  tests/queries/0_stateless/02353_isnullable.reference
  tests/queries/0_stateless/02353_isnullable.sql
Labels: pr-feature, can be tested

#38934 Doc. Added [ON CLUSTER cluster] to alter partition
  docs/en/sql-reference/statements/alter/index/index.md
  docs/en/sql-reference/statements/alter/partition.md
  docs/en/sql-reference/statements/alter/update.md
  docs/en/sql-reference/statements/exchange.md
  docs/ru/sql-reference/statements/alter/index/index.md
  docs/ru/sql-reference/statements/alter/partition.md
  docs/ru/sql-reference/statements/alter/update.md
  docs/ru/sql-reference/statements/exchange.md
Labels: pr-documentation

#38851 Deactivate mutations_finalizing_task during shutdown
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-improvement

#38214 support alter on `StorageHive` table
  src/Storages/Hive/StorageHive.cpp
  src/Storages/Hive/StorageHive.h
  tests/integration/test_hive_query/test.py
Labels: pr-feature, can be tested

#38952 Doc. Fix markup
  docs/ru/sql-reference/statements/alter/column.md
Labels: pr-documentation

#38816 Allow null modifier in columns declaration for table functions
  src/Parsers/ParserCreateQuery.cpp
  src/Parsers/ParserCreateQuery.h
  src/TableFunctions/parseColumnsListForTableFunction.cpp
  tests/queries/0_stateless/02323_null_modifier_in_table_function.reference
  tests/queries/0_stateless/02323_null_modifier_in_table_function.sql
Labels: pr-improvement

#38717 Try to improve backward compatibility check
  docker/test/stress/run.sh
  tests/ci/download_release_packets.py
  tests/ci/functional_test_check.py
  tests/ci/get_previous_release_tag.py
  tests/ci/integration_test_check.py
Labels: pr-not-for-changelog

#38873 Order by tuple
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/RewriteOrderByVisitor.cpp
  src/Interpreters/RewriteOrderByVisitor.hpp
  src/Interpreters/TreeRewriter.cpp
  tests/performance/order_by_read_in_order.xml
  tests/queries/0_stateless/02353_order_by_tuple.reference
  tests/queries/0_stateless/02353_order_by_tuple.sh
Labels: pr-performance

#38963 Avoid weird exception in Keeper
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeperCommon.h
  src/Coordination/KeeperDispatcher.cpp
Labels: pr-not-for-changelog

#38907 Add compression level for data export
  docs/en/sql-reference/statements/select/index.md
  docs/en/sql-reference/statements/select/into-outfile.md
  docs/ru/sql-reference/statements/select/index.md
  docs/ru/sql-reference/statements/select/into-outfile.md
  src/Client/ClientBase.cpp
  src/IO/CompressionMethod.cpp
  src/IO/CompressionMethod.h
  src/Parsers/ASTQueryWithOutput.h
  src/Parsers/ParserQueryWithOutput.cpp
  tests/queries/0_stateless/02353_compression_level.reference
  tests/queries/0_stateless/02353_compression_level.sh
Labels: pr-improvement

#38961 Stop reporting Zookeeper "Node exists" exceptions in system.errors when they are expected
  src/Common/ZooKeeper/KeeperException.h
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Storages/MergeTree/EphemeralLockInZooKeeper.cpp
  src/Storages/MergeTree/EphemeralLockInZooKeeper.h
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-improvement

#38947 Rename NUMBER_OF_DIMENSIONS_MISMATHED const to NUMBER_OF_DIMENSIONS_MISMATCHED
  src/Columns/ColumnObject.cpp
  src/Common/ErrorCodes.cpp
Labels: pr-not-for-changelog, can be tested

#38979 add ryzen 9 5950 benchmark
  website/benchmark/hardware/index.html
  website/benchmark/hardware/results/amd_ryzen_9_5950x.json
Labels: pr-not-for-changelog

#38974 add Hetzner benchmark
  website/benchmark/hardware/index.html
  website/benchmark/hardware/results/hetzner_ex62.json
Labels: pr-not-for-changelog

#38981 add macbook pro core i7 2014 benchmark
  website/benchmark/hardware/index.html
  website/benchmark/hardware/results/macbook_pro_core_i7_2014.json
Labels: pr-not-for-changelog

#38982 add Huawei TaiShan 920 Benchmark
  website/benchmark/hardware/index.html
  website/benchmark/hardware/results/huawei_taishan_920.json
Labels: pr-not-for-changelog

#38675 Fix toHour() monotonicity which can lead to incorrect query result (incorrect index analysis)
  src/Functions/FunctionDateOrDateTimeToSomething.h
  tests/queries/0_stateless/02346_to_hour_monotonicity_fix.reference
  tests/queries/0_stateless/02346_to_hour_monotonicity_fix.sql
Labels: pr-bugfix

#38485 Multi match with non const patterns
  src/Functions/FunctionsMultiStringFuzzySearch.h
  src/Functions/FunctionsMultiStringSearch.h
  src/Functions/MultiMatchAllIndicesImpl.h
  src/Functions/MultiMatchAnyImpl.h
  src/Functions/MultiSearchFirstIndexImpl.h
  src/Functions/MultiSearchFirstPositionImpl.h
  src/Functions/MultiSearchImpl.h
  src/Functions/checkHyperscanRegexp.h
  tests/queries/0_stateless/00926_multimatch.reference
  tests/queries/0_stateless/00926_multimatch.sql
  tests/queries/0_stateless/00927_disable_hyperscan.reference
  tests/queries/0_stateless/00927_disable_hyperscan.sql
  tests/queries/0_stateless/00929_multi_match_edit_distance.reference
  tests/queries/0_stateless/00929_multi_match_edit_distance.sql
  tests/queries/0_stateless/02004_max_hyperscan_regex_length.reference
  tests/queries/0_stateless/02004_max_hyperscan_regex_length.sql
  tests/queries/0_stateless/02294_stringsearch_with_nonconst_needle.reference
  tests/queries/0_stateless/02294_stringsearch_with_nonconst_needle.sql
Labels: pr-improvement

#38739 Doc. WF more examples
  docs/en/sql-reference/window-functions/index.md
Labels: pr-documentation

#38977 Disable instrumentation of sanitizer death callback
  base/base/defines.h
  src/Daemon/BaseDaemon.cpp
Labels: pr-not-for-changelog

#38949 More careful destructor in BackupImpl
  src/Backups/BackupIO_Disk.cpp
  src/Backups/BackupIO_File.cpp
  src/Backups/BackupImpl.cpp
  src/Backups/BackupsWorker.cpp
Labels: pr-not-for-changelog

#39011 Add docker_server.py running to backport and release CIs
  .github/workflows/backport_branches.yml
  .github/workflows/release_branches.yml
Labels: do not test, pr-not-for-changelog, v22.3-must-backport, v22.4-must-backport, v22.5-must-backport, v22.6-must-backport

#38999 tests: unique ZooKeeper path for Replicated.*MergeTree tables
  tests/queries/0_stateless/00083_create_merge_tree_zookeeper_long.sql
  tests/queries/0_stateless/00297_attach_negative_numbers_zookeeper.sql.disabled
  tests/queries/0_stateless/00509_extended_storage_definition_syntax_zookeeper.sql
  tests/queries/0_stateless/00510_materizlized_view_and_deduplication_zookeeper.sql
  tests/queries/0_stateless/00620_optimize_on_nonleader_replica_zookeeper.sql
  tests/queries/0_stateless/00661_optimize_final_replicated_without_partition_zookeeper.sql
  tests/queries/0_stateless/01357_version_collapsing_attach_detach_zookeeper.sql
  tests/queries/0_stateless/01532_primary_key_without_order_by_zookeeper.reference
  tests/queries/0_stateless/01532_primary_key_without_order_by_zookeeper.sql
  tests/queries/0_stateless/01560_optimize_on_insert_zookeeper.sql
  tests/queries/0_stateless/01870_modulo_partition_key.sql
  utils/check-style/check-style
Labels: pr-not-for-changelog

#38966 Allow globs in keys for `clickhouse-extract-from-config` tool
  docker/server/entrypoint.sh
  programs/extract-from-config/ExtractFromConfig.cpp
Labels: pr-improvement

#39013 Fix flaky `test_system_merges/test.py::test_mutation_simple`
  tests/integration/test_system_merges/test.py
Labels: pr-not-for-changelog

#39019 Fix flaky 00620_optimize_on_nonleader_replica_zookeeper
  tests/queries/0_stateless/00620_optimize_on_nonleader_replica_zookeeper.sql
Labels: pr-not-for-changelog

#39014 Fix assertion in full soring merge join
  src/Processors/Transforms/MergeJoinTransform.cpp
  src/Processors/Transforms/MergeJoinTransform.h
  tests/queries/0_stateless/02277_full_sort_join_misc.reference
  tests/queries/0_stateless/02277_full_sort_join_misc.sql
Labels: pr-not-for-changelog

#39025 Update url.md
  docs/en/sql-reference/table-functions/url.md
Labels: pr-not-for-changelog

#39002 fix wrong OSX building instructions
  docs/en/development/build-cross-osx.md
Labels: pr-documentation

#38754 tests: make aggregate_state_exception_memory_leak deterministic
  tests/queries/0_stateless/01301_aggregate_state_exception_memory_leak.sh
  tests/queries/0_stateless/01302_aggregate_state_exception_memory_leak.sh
Labels: pr-not-for-changelog

#39040 add ScaleFlux CSD3000 Benchmark
  website/benchmark/hardware/index.html
  website/benchmark/hardware/results/intel_xeon_scaleflux_csd3000.json
Labels: pr-not-for-changelog

#39036 Fix 'Tried to lock part ... for removal second time'
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#39030 Remove logging from OvercommitTracker to avoid deadlocks
  src/Common/OvercommitTracker.cpp
  src/Common/OvercommitTracker.h
Labels: pr-bugfix, pr-must-backport

#38792 Fixed parallel writes for S3 does not work
  src/Disks/DiskDecorator.h
  tests/queries/0_stateless/02228_merge_tree_insert_memory_usage.sql
Labels: pr-bugfix, can be tested

#38072 Add Keeper related monitoring data
  programs/keeper/TinyContext.cpp
  programs/keeper/TinyContext.h
  src/Common/CurrentMetrics.cpp
  src/Common/ProfileEvents.cpp
  src/Coordination/KeeperConnectionStats.cpp
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperStateMachine.cpp
  src/Interpreters/AsynchronousMetrics.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
Labels: pr-improvement, can be tested

#39046 BACKUP/RESTORE ON CLUSTER use async mode on replicas now.
  src/Backups/BackupCoordinationLocal.cpp
  src/Backups/BackupCoordinationLocal.h
  src/Backups/BackupCoordinationRemote.cpp
  src/Backups/BackupCoordinationRemote.h
  src/Backups/BackupCoordinationStatusSync.cpp
  src/Backups/BackupCoordinationStatusSync.h
  src/Backups/BackupEntriesCollector.cpp
  src/Backups/BackupsWorker.cpp
  src/Backups/IBackupCoordination.h
  src/Backups/IRestoreCoordination.h
  src/Backups/RestoreCoordinationLocal.cpp
  src/Backups/RestoreCoordinationLocal.h
  src/Backups/RestoreCoordinationRemote.cpp
  src/Backups/RestoreCoordinationRemote.h
  src/Backups/RestorerFromBackup.cpp
  src/Parsers/ASTBackupQuery.cpp
  tests/integration/test_backup_restore_on_cluster/test.py
Labels: pr-not-for-changelog

#39070 Fix for fs cache
  src/Disks/IO/CachedReadBufferFromRemoteFS.cpp
Labels: pr-bugfix, pr-must-backport

#39012 Don't throw Logical error in functions multiMatch[Fuzzy](AllIndices/Any/AnyIndex)() with empty needle
  src/Functions/MultiMatchAllIndicesImpl.h
  src/Functions/MultiMatchAnyImpl.h
  tests/queries/0_stateless/00926_multimatch.reference
  tests/queries/0_stateless/00926_multimatch.sql
Labels: pr-bugfix

#39087 Add results from Threadripper
  website/benchmark/hardware/results/amd_ryzen_threadripper.json
Labels: pr-documentation

#37841 Send perf tests results to ci database
  docker/test/performance-comparison/compare.sh
  src/Interpreters/InterpreterSelectQuery.cpp
  tests/ci/performance_comparison_check.py
Labels: pr-not-for-changelog, force tests

#39037 Fix toHour() monotonicity which can lead to incorrect query result (incorrect index analysis) (second try)
  src/Functions/FunctionDateOrDateTimeToSomething.h
  tests/queries/0_stateless/02346_to_hour_monotonicity_fix.reference
  tests/queries/0_stateless/02346_to_hour_monotonicity_fix.sql
Labels: pr-bugfix

#39016 clearOldLogs: Don't report KEEPER_EXCEPTION on concurrent deletes
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
Labels: pr-improvement

#37295 Update materializedview.md
  docs/ru/engines/table-engines/special/materializedview.md
Labels: pr-documentation, can be tested

#38993 Fix fsync_part_directory for fetches
  src/Storages/MergeTree/DataPartsExchange.cpp
  tests/queries/0_stateless/01643_replicated_merge_tree_fsync_smoke.reference
  tests/queries/0_stateless/01643_replicated_merge_tree_fsync_smoke.sql
Labels: pr-bugfix

#39091 Follow-up to #39036
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#39069 Persist state of ClickHouse Keeper
  src/Coordination/CoordinationSettings.cpp
  src/Coordination/CoordinationSettings.h
  src/Coordination/KeeperServer.cpp
  src/Coordination/KeeperStateManager.cpp
  src/Coordination/KeeperStateManager.h
  src/Coordination/tests/gtest_coordination.cpp
  tests/jepsen.clickhouse-keeper/src/jepsen/clickhouse_keeper/utils.clj
Labels: pr-improvement, jepsen-test

#39119 Properly remove projection from part in case it was removed from table metadata.
  docker/test/stress/run.sh
  src/Storages/MergeTree/DataPartStorageOnDisk.cpp
  tests/queries/0_stateless/01701_clear_projection_and_part_remove.reference
  tests/queries/0_stateless/01701_clear_projection_and_part_remove.sql
Labels: pr-not-for-changelog

#39130 Handling SIGTERM signals from k8s
  docker/server/entrypoint.sh
Labels: can be tested

#39120 Update cluster.py
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog

#39127 Tiny updates for tests.
  tests/queries/0_stateless/01643_replicated_merge_tree_fsync_smoke.sql
  tests/queries/0_stateless/01710_projection_fetch_long.sql
Labels: pr-not-for-changelog

#39133 Fix style again
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog

#39125 Fix insert into MV with enabled extremes.
  src/Processors/Transforms/buildPushingToViewsChain.cpp
  tests/queries/0_stateless/01549_low_cardinality_mv_fuzz.reference
  tests/queries/0_stateless/01549_low_cardinality_mv_fuzz.sql
Labels: pr-bugfix, pr-must-backport

#39136 Move benchmark (2)
  benchmark/hardware.sh
  website/benchmark/dbms/index.html
Labels: pr-documentation

#39101 Fix code in getLeastSupertype function
  src/DataTypes/getLeastSupertype.cpp
Labels: pr-not-for-changelog

#39141 Add ClickHouse with zstd to benchmark
  website/benchmark/dbms/index.html
Labels: pr-documentation

#39113 Keep `LowCardinality` type in `tuple()` function
  src/Functions/array/array.cpp
  src/Functions/map.cpp
  src/Functions/toColumnTypeName.cpp
  src/Functions/tuple.cpp
  tests/queries/0_stateless/02210_toColumnTypeName_toLowCardinality_const.reference
  tests/queries/0_stateless/02354_array_lowcardinality.reference
  tests/queries/0_stateless/02354_array_lowcardinality.sql
  tests/queries/0_stateless/02354_tuple_lowcardinality.reference
  tests/queries/0_stateless/02354_tuple_lowcardinality.sql
  tests/queries/0_stateless/02355_column_type_name_lc.reference
  tests/queries/0_stateless/02355_column_type_name_lc.sql
Labels: pr-bugfix

#39065 Parameter --decompressor added to utils/self-extracting-executable/compressor
  utils/self-extracting-executable/compressor.cpp
  utils/self-extracting-executable/decompressor.cpp
  utils/self-extracting-executable/types.h
Labels: pr-not-for-changelog, can be tested

#38864 Fix waiting of shared lock after exclusive lock failure
  src/Common/RWLock.cpp
  src/Common/RWLock.h
  tests/queries/0_stateless/02352_rwlock.reference
  tests/queries/0_stateless/02352_rwlock.sh
Labels: pr-improvement

#39154 Slightly better interface of waitForMutation
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
Labels: pr-not-for-changelog

#38943 Avoid redundant join block transformation during planning.
  src/Processors/QueryPlan/JoinStep.cpp
  src/Processors/QueryPlan/JoinStep.h
  src/Processors/Transforms/JoiningTransform.cpp
  src/Processors/Transforms/JoiningTransform.h
  src/QueryPipeline/QueryPipelineBuilder.cpp
  src/QueryPipeline/QueryPipelineBuilder.h
Labels: pr-not-for-changelog

#39155 Fix trivial count with empty set
  src/Interpreters/InterpreterSelectQuery.cpp
  tests/queries/0_stateless/02356_trivial_count_with_empty_set.reference
  tests/queries/0_stateless/02356_trivial_count_with_empty_set.sql
Labels: pr-bugfix

#39132 Fix data race in CompletedPipelineExecutor.
  src/Processors/Executors/CompletedPipelineExecutor.cpp
Labels: pr-not-for-changelog

#39176 Suppression for BC check (`Cannot parse string 'Hello' as UInt64`)
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#37648 Bugfixes and performance improvements for parallel_hash
  src/Interpreters/ConcurrentHashJoin.cpp
  src/Interpreters/ConcurrentHashJoin.h
  src/Interpreters/HashJoin.cpp
  src/Interpreters/TableJoin.cpp
  src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.h
  tests/queries/0_stateless/00050_any_left_join.sql
  tests/queries/0_stateless/00053_all_inner_join.sql
  tests/queries/0_stateless/00054_join_string.sql
  tests/queries/0_stateless/00057_join_aliases.sql
  tests/queries/0_stateless/00163_shard_join_with_empty_table.sql
  tests/queries/0_stateless/00169_join_constant_keys.sql
  tests/queries/0_stateless/00689_join_table_function.sql
  tests/queries/0_stateless/00702_join_with_using.sql
  tests/queries/0_stateless/00725_join_on_bug_3.sql
  tests/queries/0_stateless/00818_join_bug_4271.sql
  tests/queries/0_stateless/00820_multiple_joins.sql
  tests/queries/0_stateless/00820_multiple_joins_subquery_requires_alias.sql
  tests/queries/0_stateless/00826_cross_to_inner_join.sql
  tests/queries/0_stateless/00952_input_function.sh
  tests/queries/0_stateless/01050_engine_join_crash.sql
  tests/queries/0_stateless/01576_alias_column_rewrite.sql
  tests/queries/0_stateless/01655_plan_optimizations.sh
  tests/queries/0_stateless/01910_view_dictionary.sql
  tests/queries/0_stateless/01913_join_push_down_bug.sql
  tests/queries/0_stateless/02115_rewrite_local_join_right_distribute_table.reference
  tests/queries/0_stateless/02115_rewrite_local_join_right_distribute_table.sql
Labels: pr-improvement

#39112 Fix ActionsDAG construction for window expressions
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/ActionsVisitor.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/GetAggregatesVisitor.cpp
  tests/queries/0_stateless/02354_window_expression_with_aggregation_expression.reference
  tests/queries/0_stateless/02354_window_expression_with_aggregation_expression.sql
Labels: pr-bugfix

#39106 fs cache: continue without exception when getting no disk space left error
  src/Disks/IO/CachedReadBufferFromRemoteFS.cpp
  src/Disks/IO/CachedReadBufferFromRemoteFS.h
  tests/integration/test_merge_tree_s3/configs/config.d/storage_conf.xml
  tests/integration/test_merge_tree_s3/test.py
Labels: pr-improvement

#39161 Control send logs behavior with source name regexp
  src/Core/Settings.h
  src/Interpreters/InternalTextLogsQueue.cpp
  src/Interpreters/InternalTextLogsQueue.h
  src/Loggers/OwnSplitChannel.cpp
  src/Server/GRPCServer.cpp
  src/Server/TCPHandler.cpp
  tests/queries/0_stateless/02359_send_logs_source_regexp.reference
  tests/queries/0_stateless/02359_send_logs_source_regexp.sh
Labels: pr-feature

#39196 add migration example
  docs/en/sql-reference/table-functions/remote.md
Labels: pr-documentation, can be tested

#39173 Add test for #39132
  tests/queries/0_stateless/02357_query_cancellation_race.reference
  tests/queries/0_stateless/02357_query_cancellation_race.sh
Labels: pr-not-for-changelog

#38935 Add functions translate & translateUTF8
  docs/en/sql-reference/functions/string-replace-functions.md
  docs/ru/sql-reference/functions/string-replace-functions.md
  src/Functions/registerFunctionsStringRegexp.cpp
  src/Functions/translate.cpp
  tests/queries/0_stateless/02353_translate.reference
  tests/queries/0_stateless/02353_translate.sql
Labels: pr-feature

#39188 Documentation: Functions hasAny and hasAll also can use a Bloom filter.
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation, can be tested

#39177 Optimize accesses to system.stack_trace
  src/Storages/System/StorageSystemStackTrace.cpp
  src/Storages/System/StorageSystemStackTrace.h
  tests/queries/0_stateless/01051_system_stack_trace.reference
  tests/queries/0_stateless/01051_system_stack_trace.sql
Labels: pr-not-for-changelog

#38502 Fixed bug in parsing {..} regex
  src/Common/parseGlobs.cpp
  src/Common/tests/gtest_makeRegexpPatternFromGlobs.cpp
  tests/queries/0_stateless/02297_regex_parsing_file_names.reference
  tests/queries/0_stateless/02297_regex_parsing_file_names.sh
Labels: pr-bugfix, can be tested

#39123 Pushdown filter to the right side of sorting join
  src/Interpreters/FullSortingMergeJoin.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Processors/QueryPlan/JoinStep.cpp
  src/Processors/QueryPlan/JoinStep.h
  src/Processors/QueryPlan/Optimizations/filterPushDown.cpp
  src/Processors/Transforms/MergeJoinTransform.cpp
  src/Processors/Transforms/MergeJoinTransform.h
Labels: pr-performance

#39170 Add setting opentelemetry_trace_processors
  src/Core/Settings.h
  src/Processors/Executors/ExecutionThreadContext.cpp
  src/Processors/Executors/ExecutionThreadContext.h
  src/Processors/Executors/ExecutorTasks.cpp
  src/Processors/Executors/ExecutorTasks.h
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/PipelineExecutor.h
Labels: pr-feature

#39169 Documentation for array's distance functions
  docs/en/sql-reference/functions/array-functions.md
  docs/en/sql-reference/functions/distance-functions.md
  docs/en/sql-reference/functions/tuple-functions.md
Labels: pr-documentation, can be tested

#39213 Enable warning "-Wdeprecated-dynamic-exception-spec"
  base/base/JSON.cpp
  base/base/JSON.h
  cmake/warnings.cmake
  src/Common/mysqlxx/mysqlxx/Exception.h
Labels: pr-not-for-changelog

#39212 Optimize accesses to system.stack_trace (filter by name before sending signal)
  src/Storages/System/StorageSystemStackTrace.cpp
  tests/queries/0_stateless/01051_system_stack_trace.reference
  tests/queries/0_stateless/01051_system_stack_trace.sql
Labels: pr-not-for-changelog

#39181 Add merge_algorithm to system.part_log
  docs/en/operations/system-tables/part_log.md
  docs/ru/operations/system-tables/part_log.md
  src/Interpreters/PartLog.cpp
  src/Interpreters/PartLog.h
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/02362_part_log_merge_algorithm.reference
  tests/queries/0_stateless/02362_part_log_merge_algorithm.sql
Labels: pr-improvement

#38553 Fix bug for mapUpdate
  src/Functions/map.cpp
  tests/queries/0_stateless/02363_mapupdate_improve.reference
  tests/queries/0_stateless/02363_mapupdate_improve.sql
Labels: pr-bugfix
