Repository ClickHouse/ClickHouse, pull requests merged in 2023-02, with the labels that each got.

#45870 Fix slack link in README, point to url without shared_invite
  README.md
Labels: pr-documentation

#45859 Add support for SHOW ENGINES query
  docs/en/sql-reference/statements/show.md
  src/Interpreters/InterpreterFactory.cpp
  src/Interpreters/InterpreterShowEngineQuery.cpp
  src/Interpreters/InterpreterShowEngineQuery.h
  src/Parsers/ASTShowEngineQuery.h
  src/Parsers/ParserQueryWithOutput.cpp
  src/Parsers/ParserShowEngineQuery.h
  tests/queries/0_stateless/00419_show_sql_queries.sh
Labels: pr-improvement, can be tested

#45786 Support DELETE ON CLUSTER
  docs/en/sql-reference/statements/delete.md
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Interpreters/InterpreterDeleteQuery.cpp
  src/Parsers/ASTDeleteQuery.cpp
  src/Parsers/ASTDeleteQuery.h
  src/Parsers/ParserDeleteQuery.cpp
  src/Storages/IStorage.h
  src/Storages/RocksDB/StorageEmbeddedRocksDB.cpp
  src/Storages/RocksDB/StorageEmbeddedRocksDB.h
  src/Storages/StorageJoin.cpp
  src/Storages/StorageJoin.h
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMaterializedView.h
  src/Storages/StorageMemory.cpp
  src/Storages/StorageMemory.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageProxy.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_replicated_database/test.py
  tests/queries/0_stateless/02541_lightweight_delete_on_cluster.reference
  tests/queries/0_stateless/02541_lightweight_delete_on_cluster.sql
Labels: pr-not-for-changelog

#45807 Fix http external data functional test on s390x
  tests/queries/0_stateless/00304_http_external_data.sh
Labels: can be tested

#45817 A bug fix for QueryTreeBuilder
  src/Analyzer/QueryTreeBuilder.cpp
Labels: pr-bugfix, can be tested

#45670 Fix endian issue in snappy lib for s390x
  contrib/snappy-cmake/CMakeLists.txt
Labels: pr-build, submodule changed, can be tested

#45822 A bug fix for Planner
  src/Planner/Planner.cpp
  tests/queries/0_stateless/025335_analyzer_limit.reference
  tests/queries/0_stateless/025335_analyzer_limit.sql
Labels: pr-bugfix, can be tested

#44489 Use PODArray to render in sparkBar function
  src/AggregateFunctions/AggregateFunctionSparkbar.h
  tests/queries/0_stateless/02016_aggregation_spark_bar.sql
Labels: pr-bugfix, can be tested

#45848 Proper includes for ConnectionTimeoutsContext.h
  programs/copier/ClusterCopier.cpp
  src/BridgeHelper/IBridgeHelper.h
  src/BridgeHelper/LibraryBridgeHelper.cpp
  src/Disks/IO/ReadBufferFromWebServer.cpp
  src/Disks/ObjectStorages/Web/WebObjectStorage.cpp
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Storages/HDFS/StorageHDFSCluster.cpp
  src/Storages/StorageS3Cluster.cpp
Labels: pr-not-for-changelog

#45589 Added optimize using constraints settings
  docs/en/operations/settings/merge-tree-settings.md
  docs/en/operations/settings/settings.md
Labels: pr-documentation, can be tested

#45581 Don't infer Dates from 8 digit numbers
  src/Formats/SchemaInferenceUtils.cpp
  tests/queries/0_stateless/02536_date_from_number_inference_fix.reference
  tests/queries/0_stateless/02536_date_from_number_inference_fix.sql
Labels: pr-bugfix

#45846 Update 02540_duplicate_primary_key.sql
  tests/queries/0_stateless/02540_duplicate_primary_key.sql
Labels: pr-not-for-changelog

#45869 Add some context to stress test failures
  docker/test/stress/run.sh
  docker/test/stress/stress
  tests/ci/clickhouse_helper.py
  tests/ci/report.py
  tests/ci/stress_check.py
Labels: pr-not-for-changelog

#45871 Fix ipv6 parser
  src/Common/formatIPv6.h
  tests/queries/0_stateless/02234_cast_to_ip_address.reference
  tests/queries/0_stateless/02234_cast_to_ip_address.sql
Labels: pr-bugfix, v23.1-must-backport

#45905 Add example of using ip_trie dictionary
  docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts-dict-layout.md
Labels: pr-documentation, can be tested

#45829 Fix ASTQualifiedAsterisk cloning
  src/Parsers/ASTQualifiedAsterisk.h
Labels: pr-not-for-changelog

#45873 Allow a three-argument version for table function format
  src/TableFunctions/TableFunctionFormat.cpp
  src/TableFunctions/TableFunctionFormat.h
  tests/queries/0_stateless/02542_table_function_format.reference
  tests/queries/0_stateless/02542_table_function_format.sql
Labels: pr-feature, can be tested

#45867 Improve how the obfuscator deals with queries
  src/Parsers/obfuscateQueries.cpp
  tests/queries/0_stateless/01508_query_obfuscator.reference
  tests/queries/0_stateless/02534_keyed_siphash.reference
  tests/queries/0_stateless/02534_keyed_siphash.sql
  tests/queries/0_stateless/02551_obfuscator_keywords.reference
  tests/queries/0_stateless/02551_obfuscator_keywords.sh
  tests/queries/0_stateless/add-test
Labels: pr-improvement

#45888 Fix clang-tidy error in Keeper `Changelog`
  src/Coordination/Changelog.cpp
  utils/keeper-data-dumper/main.cpp
Labels: pr-not-for-changelog

#45774 Mask sensitive info in named collection's overrides
  src/Parsers/ASTFunction.cpp
  tests/integration/test_mask_sensitive_info/configs/named_collections.xml
  tests/integration/test_mask_sensitive_info/test.py
Labels: pr-improvement

#45958 Docs: Remove obsolete query result cache page
  docs/en/operations/caches.md
  docs/en/operations/query-result-cache.md
  docs/en/operations/settings/settings.md
Labels: pr-not-for-changelog

#45959 Add necessary dependency for sanitizers
  docker/test/util/Dockerfile
Labels: pr-not-for-changelog, v22.11-must-backport, v22.12-must-backport, v23.1-must-backport

#45935 Dashboard improvements
  programs/server/dashboard.html
Labels: pr-not-for-changelog, can be tested

#45972 Update cherrypick_pr to get mergeable state
  tests/ci/cherry_pick.py
Labels: do not test, pr-not-for-changelog

#45794 Do not restrict count() query to 1 thread in isStorageTouchedByMutations()
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/MutationsInterpreter.h
  src/Storages/MergeTree/MutateTask.cpp
Labels: pr-not-for-changelog

#45865 Allow implicit narrowing conversion UInt64 => IPv4
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/02551_ipv4_implicit_uint64.reference
  tests/queries/0_stateless/02551_ipv4_implicit_uint64.sql
Labels: pr-bugfix

#45914 Improve behaviour of conversion into Date for boundary value 65535
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/02540_date_column_consistent_insert_behaviour.reference
  tests/queries/0_stateless/02540_date_column_consistent_insert_behaviour.sql
Labels: pr-improvement, can be tested

#44680 add corrMatrix,covarSampMatrix,covarPopMatrix AggregateFunction
  src/AggregateFunctions/AggregateFunctionVarianceMatrix.cpp
  src/AggregateFunctions/AggregateFunctionVarianceMatrix.h
  src/AggregateFunctions/registerAggregateFunctions.cpp
  tests/fuzz/dictionaries/functions.dict
  tests/queries/0_stateless/02515_aggregate_functions_statistics.reference
  tests/queries/0_stateless/02515_aggregate_functions_statistics.sql
Labels: pr-feature, can be tested

#45978 add notes for GCS to s3 table function
  docs/en/sql-reference/table-functions/s3.md
Labels: pr-documentation, can be tested

#45751 Improve logging in Query Cache
  src/Interpreters/Cache/QueryCache.cpp
Labels: pr-improvement

#45984 Update system.md
  docs/en/sql-reference/statements/system.md
Labels: pr-documentation

#45858 Fix flaky ttl_replicated test (remove sleep)
  tests/queries/0_stateless/00933_ttl_replicated_zookeeper.reference
  tests/queries/0_stateless/00933_ttl_replicated_zookeeper.sh
  tests/queries/0_stateless/00933_ttl_replicated_zookeeper_long.sql
Labels: pr-not-for-changelog

#45943 Add Hacker News example to full-text search page (inverted indexes)
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
Labels: pr-documentation, can be tested

#45983 Avoid leaving symbols leftovers for query fuzzy search
  rust/skim/src/lib.rs
  src/Client/ReplxxLineReader.cpp
Labels: pr-not-for-changelog

#45878 Optimization for parquet reader
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  tests/queries/0_stateless/02481_parquet_int_list_multiple_chunks.sh
Labels: pr-performance, can be tested

#45973 Add "final" specifier to some classes
  src/BridgeHelper/CatBoostLibraryBridgeHelper.h
  src/BridgeHelper/ExternalDictionaryLibraryBridgeHelper.h
  src/Compression/CachedCompressedReadBuffer.h
  src/Compression/CheckingCompressedReadBuffer.h
  src/Compression/CompressedReadBuffer.h
  src/Compression/CompressedReadBufferFromFile.h
  src/Compression/CompressedWriteBuffer.h
  src/Compression/CompressionCodecDeflateQpl.h
  src/Compression/CompressionCodecEncrypted.h
  src/Compression/CompressionCodecNone.h
  src/Processors/ConcatProcessor.h
  src/Processors/DelayedPortsProcessor.h
  src/Processors/ForkProcessor.h
  src/Processors/LimitTransform.h
  src/Processors/OffsetTransform.h
  src/Processors/QueueBuffer.h
  src/Processors/ResizeProcessor.h
Labels: pr-not-for-changelog

#46004 Minor doc fixes for inverted index
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
Labels: pr-not-for-changelog

#44404 RabbitMQ - fix writing many small blocks by flushing data only exactly by flush_interval_ms or by max_block_size
  docs/en/engines/table-engines/integrations/rabbitmq.md
  src/Storages/RabbitMQ/RabbitMQConsumer.h
  src/Storages/RabbitMQ/RabbitMQSettings.h
  src/Storages/RabbitMQ/RabbitMQSource.cpp
  src/Storages/RabbitMQ/RabbitMQSource.h
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-bugfix

#46007 Revert "Improve behaviour of conversion into Date for boundary value 65535"
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/02540_date_column_consistent_insert_behaviour.reference
  tests/queries/0_stateless/02540_date_column_consistent_insert_behaviour.sql
Labels: pr-not-for-changelog

#46008 Docs: Mention time zone randomization
  docs/en/development/tests.md
Labels: pr-not-for-changelog

#45458 Show the name of replica that is executing a merge in the postpone_reason
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ZeroCopyLock.cpp
  src/Storages/MergeTree/ZeroCopyLock.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-improvement, can be tested

#45940 Fix IO URing
  src/Core/Settings.h
  tests/queries/0_stateless/01502_log_tinylog_deadlock_race.reference
  tests/queries/0_stateless/01502_log_tinylog_deadlock_race.sh
  tests/queries/0_stateless/01502_long_log_tinylog_deadlock_race.sh
  tests/queries/0_stateless/01632_tinylog_read_write.sh
Labels: pr-not-for-changelog

#45995 Check dynamic columns of part before its commit
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  tests/queries/0_stateless/02553_type_json_attach_partition.reference
  tests/queries/0_stateless/02553_type_json_attach_partition.sql
Labels: pr-not-for-changelog

#45800 Rename new columns in system.backups
  src/Backups/BackupImpl.cpp
  src/Backups/BackupImpl.h
  src/Backups/BackupsWorker.cpp
  src/Backups/BackupsWorker.h
  src/Backups/IBackup.h
  src/Storages/System/StorageSystemBackups.cpp
  tests/integration/test_backup_restore_new/test.py
  tests/integration/test_backup_restore_on_cluster/_gen/cluster_for_concurrency_test.xml
Labels: pr-improvement

#45456 Fix uncaught exception in HTTPHandler
  src/Common/OpenTelemetryTraceContext.cpp
  src/Common/OpenTelemetryTraceContext.h
Labels: pr-bugfix, can be tested

#45952 Fix tupleElement with Null arguments
  src/Functions/tupleElement.cpp
  tests/queries/0_stateless/01710_minmax_count_projection.sql
  tests/queries/0_stateless/02541_tuple_element_with_null.reference
  tests/queries/0_stateless/02541_tuple_element_with_null.sql
Labels: pr-improvement

#45937 Better context for stress tests failures
  docker/test/stress/run.sh
  docker/test/util/process_functional_tests_result.py
  tests/ci/clickhouse_helper.py
  tests/ci/report.py
Labels: pr-not-for-changelog

#45457 Add last_exception_time to replication_queue
  src/Storages/MergeTree/ReplicatedMergeMutateTaskBase.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/System/StorageSystemReplicationQueue.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-feature, can be tested

#45459 Save exception stack trace in part_log
  src/Common/Exception.cpp
  src/Common/Exception.h
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/MergePlainMergeTreeTask.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MutateFromLogEntryTask.cpp
  src/Storages/MergeTree/MutatePlainMergeTreeTask.cpp
  src/Storages/MergeTree/ReplicatedMergeMutateTaskBase.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-improvement, can be tested

#46023 fix heading level on comparison page
  docs/en/sql-reference/functions/comparison-functions.md
Labels: pr-documentation, can be tested

#45985 Fix crash in stochasticLinearRegression.
  src/AggregateFunctions/AggregateFunctionMLMethod.cpp
  src/AggregateFunctions/AggregateFunctionMLMethod.h
  tests/queries/0_stateless/02552_regression_crash.reference
  tests/queries/0_stateless/02552_regression_crash.sql
Labels: pr-bugfix

#45258 Add encryption support to OpenSSL
  programs/server/Server.cpp
  src/CMakeLists.txt
  src/Compression/CompressionCodecEncrypted.cpp
  src/Compression/CompressionFactory.cpp
Labels: pr-not-for-changelog, can be tested

#45975 use LowCardnality for _part and _partition_id virtual column
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageMerge.cpp
Labels: pr-performance

#45758 Make Query Cache server-level settings reconfigurable at runtime
  docs/en/operations/server-configuration-parameters/settings.md
  programs/server/Server.cpp
  programs/server/config.xml
  src/Interpreters/Cache/QueryCache.cpp
  src/Interpreters/Cache/QueryCache.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
Labels: pr-improvement

#46052 Temporarily disable one rabbitmq flaky test
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-not-for-changelog

#46000 Use "exact" matching for fuzzy search
  rust/skim/src/lib.rs
Labels: pr-not-for-changelog

#46041 Dump sanitizer errors in the integration tests logs
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog

#46011 Analyzer limit offset test rename
  tests/queries/0_stateless/02535_analyzer_limit_offset.reference
  tests/queries/0_stateless/02535_analyzer_limit_offset.sql
Labels: pr-not-for-changelog, can be tested

#45961 Update AggregateFunctionSparkbar
  docs/en/sql-reference/aggregate-functions/reference/sparkbar.md
  docs/ru/sql-reference/aggregate-functions/reference/sparkbar.md
  src/AggregateFunctions/AggregateFunctionSparkbar.cpp
  src/AggregateFunctions/AggregateFunctionSparkbar.h
  tests/queries/0_stateless/02016_aggregation_spark_bar.reference
  tests/queries/0_stateless/02016_aggregation_spark_bar.sql
Labels: pr-not-for-changelog

#46057 MultiVersion: change mutex to lock-free
  src/Common/MultiVersion.h
Labels: pr-improvement, can be tested, pr-performance-tests

#46053 Improve format JSONColumns when result is empty
  src/Processors/Formats/Impl/JSONColumnsBlockOutputFormat.cpp
  src/Processors/Formats/Impl/JSONColumnsBlockOutputFormat.h
  src/Processors/Formats/Impl/JSONColumnsBlockOutputFormatBase.cpp
  src/Processors/Formats/Impl/JSONColumnsBlockOutputFormatBase.h
  tests/queries/0_stateless/02554_format_json_columns_for_empty.reference
  tests/queries/0_stateless/02554_format_json_columns_for_empty.sql
Labels: pr-improvement

#46047 Fix elapsed column in system.processes (10x error)
  src/Storages/System/StorageSystemProcesses.cpp
  tests/queries/0_stateless/02558_system_processes_elapsed.reference
  tests/queries/0_stateless/02558_system_processes_elapsed.sh
Labels: pr-bugfix

#45949 Improve performance of ColumnArray::filter/replicate for big int and decimal
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnDecimal.h
  src/Columns/ColumnsCommon.cpp
  src/Functions/FunctionsJSON.cpp
  tests/performance/column_array_filter.xml
  tests/performance/column_array_replicate.xml
Labels: pr-performance

#46036 Add checks for installable packages to workflows
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/release_branches.yml
Labels: do not test, pr-not-for-changelog

#45957 Throw an error on no files satisfying S3 wildcard
  src/Core/Settings.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3Settings.cpp
  src/Storages/StorageS3Settings.h
  tests/queries/0_stateless/02480_s3_support_wildcard.reference
  tests/queries/0_stateless/02480_s3_support_wildcard.sql
  tests/queries/0_stateless/02481_s3_throw_if_mismatch_files.reference
  tests/queries/0_stateless/02481_s3_throw_if_mismatch_files.sql
Labels: pr-improvement, can be tested

#46040 Fix data race in BACKUP
  src/Backups/BackupImpl.cpp
Labels: pr-not-for-changelog

#46079 Update yarn packages for dev branches
  docker/docs/builder/Dockerfile
  docker/docs/builder/run.sh
Labels: pr-not-for-changelog

#45889 do not block merges when old parts are droping in drop queries
  src/Storages/StorageMergeTree.cpp
Labels: pr-not-for-changelog

#46048 Add docs for Executable and ExecutablePool table engines
  docs/en/engines/table-engines/special/executable.md
  docs/en/sql-reference/table-functions/executable.md
Labels: pr-documentation, can be tested

#45987 Fix `INTERSECT` and `EXCEPT` with sparse columns
  src/Processors/Transforms/IntersectOrExceptTransform.cpp
  tests/queries/0_stateless/02552_sparse_columns_intersect.reference
  tests/queries/0_stateless/02552_sparse_columns_intersect.sql
Labels: pr-bugfix

#46077 Fix 00002_log_and_exception_messages_formatting
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
Labels: pr-not-for-changelog

#46078 Disable temporarily rabbitmq tests which use channel.startConsuming()
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-not-for-changelog

#46072 Smallish follow-up to #46057
  src/Common/MultiVersion.h
Labels: pr-not-for-changelog

#46058 Remove unnecessary execute() while evaluating a constant expression.
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/evaluateConstantExpression.cpp
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/00626_in_syntax.reference
  tests/queries/0_stateless/00626_in_syntax.sql
  tests/queries/0_stateless/01114_database_atomic.reference
  tests/queries/0_stateless/01114_database_atomic.sh
  tests/queries/0_stateless/01834_alias_columns_laziness_filimonov.reference
  tests/queries/0_stateless/01834_alias_columns_laziness_filimonov.sh
  tests/queries/0_stateless/01934_constexpr_aggregate_function_parameters.sql
Labels: pr-not-for-changelog

#44907 Fix error message for a broken distributed batches ("While sending batch")
  src/Storages/Distributed/DirectoryMonitor.cpp
Labels: pr-not-for-changelog

#45631 RegExpTreeDict use re2 engines when processing heavy regexps
  src/Core/Settings.h
  src/Dictionaries/RegExpTreeDictionary.cpp
  src/Dictionaries/RegExpTreeDictionary.h
  tests/queries/0_stateless/02504_regexp_dictionary_ua_parser.reference
  tests/queries/0_stateless/02504_regexp_dictionary_ua_parser.sh
  tests/queries/0_stateless/02504_regexp_dictionary_yaml_source.reference
  tests/queries/0_stateless/02504_regexp_dictionary_yaml_source.sh
  tests/queries/0_stateless/data_ua_parser/browser.yaml
  tests/queries/0_stateless/data_ua_parser/device.yaml
  tests/queries/0_stateless/data_ua_parser/os.yaml
  tests/queries/0_stateless/data_ua_parser/useragents.txt
Labels: pr-improvement

#45375 Window view functional test failed on platform s390x
  src/Interpreters/Aggregator.h
Labels: pr-improvement, can be tested

#46087 Allow bloom filter for IPv4 and IPv6
  src/Interpreters/BloomFilterHash.h
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  tests/queries/0_stateless/02559_ip_types_bloom.reference
  tests/queries/0_stateless/02559_ip_types_bloom.sql
Labels: pr-bugfix

#45907 do not run wal on remote disks
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/01130_in_memory_parts.sql
  tests/queries/0_stateless/01130_in_memory_parts_check.sql
  tests/queries/0_stateless/01130_in_memory_parts_default.sql
  tests/queries/0_stateless/01130_in_memory_parts_nested.sql
  tests/queries/0_stateless/01130_in_memory_parts_partitons.sql
  tests/queries/0_stateless/01475_read_subcolumns_storages.sh
  tests/queries/0_stateless/01508_race_condition_rename_clear_zookeeper_long.sh
  tests/queries/0_stateless/01600_parts_types_metrics_long.sh
  tests/queries/0_stateless/01643_merge_tree_fsync_smoke.sql
  tests/queries/0_stateless/01643_replicated_merge_tree_fsync_smoke.sql
  tests/queries/0_stateless/02410_inmemory_wal_cleanup.sql
  tests/queries/0_stateless/02423_drop_memory_parts.sql
Labels: pr-not-for-changelog

#45962 Vectorize filter generation of ColumnNullable in FilterDescription
  src/Columns/FilterDescription.cpp
Labels: pr-performance, can be tested

#45681 Allow vertical merges from compact to wide parts
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeDataPartWide.h
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  tests/queries/0_stateless/02539_vertical_merge_compact_parts.reference
  tests/queries/0_stateless/02539_vertical_merge_compact_parts.sql
Labels: pr-performance

#46135 Use mermaid chart in dev architecture doc
  docs/en/development/architecture.md
Labels: pr-documentation, can be tested

#46137 Adding FOSDEM
  README.md
Labels: pr-documentation

#46107 Fix flaky rabbitmq test
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-not-for-changelog

#46090 Add also last messages from stdout/stderr/debuglog in clickhouse-test
  tests/clickhouse-test
Labels: pr-not-for-changelog

#46120 Fix fault injection in copier and test_cluster_copier flakiness
  programs/copier/ClusterCopier.cpp
Labels: pr-not-for-changelog

#46149 Remove flaky test
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.reference
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
Labels: pr-not-for-changelog

#46127 Update liburing CMakeLists.txt
  contrib/liburing-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#46014 Update sorting properties after reading in order applied
  src/Processors/QueryPlan/DistinctStep.cpp
  src/Processors/QueryPlan/Optimizations/optimizeReadInOrder.cpp
  tests/performance/distinct_in_order.xml
  tests/queries/0_stateless/02317_distinct_in_order_optimization_explain.reference
  tests/queries/0_stateless/02377_optimize_sorting_by_input_stream_properties_explain.reference
  tests/queries/0_stateless/02481_aggregation_in_order_plan.reference
  tests/queries/0_stateless/02481_aggregation_in_order_plan.sql
Labels: pr-not-for-changelog

#45296 Improve performance of function multiIf by columnar executing
  src/Core/Settings.h
  src/Functions/multiIf.cpp
Labels: pr-performance

#46083 Simplify code around storages s3/hudi/delta-lake
  src/IO/S3/URI.h
  src/Storages/ExternalDataSourceConfiguration.h
  src/Storages/StorageConfiguration.h
  src/Storages/StorageDeltaLake.cpp
  src/Storages/StorageDeltaLake.h
  src/Storages/StorageHudi.cpp
  src/Storages/StorageHudi.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/Storages/StorageS3Cluster.cpp
  src/Storages/StorageS3Cluster.h
  src/Storages/StorageURL.h
  src/TableFunctions/TableFunctionDeltaLake.cpp
  src/TableFunctions/TableFunctionDeltaLake.h
  src/TableFunctions/TableFunctionHudi.cpp
  src/TableFunctions/TableFunctionHudi.h
  src/TableFunctions/TableFunctionS3.cpp
  src/TableFunctions/TableFunctionS3.h
  src/TableFunctions/TableFunctionS3Cluster.cpp
  src/TableFunctions/TableFunctionS3Cluster.h
Labels: pr-not-for-changelog

#46108 Fix test_merge_tree_azure_blob_storage::test_zero_copy_replication test
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageAuth.cpp
  tests/integration/test_merge_tree_azure_blob_storage/configs/config.d/storage_conf.xml
Labels: pr-not-for-changelog

#44728 Improve count if rewrite
  src/Analyzer/Passes/SumIfToCountIfPass.cpp
  src/Interpreters/RewriteSumIfFunctionVisitor.cpp
  src/Interpreters/RewriteSumIfFunctionVisitor.h
  tests/queries/0_stateless/01646_rewrite_sum_if.reference
  tests/queries/0_stateless/01646_rewrite_sum_if.sql
Labels: pr-improvement

#46141 Fix assertion in statistical functions
  programs/copier/Internals.cpp
  src/AggregateFunctions/AggregateFunctionAnalysisOfVariance.h
  src/AggregateFunctions/AggregateFunctionMannWhitney.h
  src/AggregateFunctions/AggregateFunctionMeanZTest.cpp
  src/AggregateFunctions/AggregateFunctionStudentTTest.cpp
  src/AggregateFunctions/AggregateFunctionWelchTTest.cpp
  src/AggregateFunctions/Moments.h
  src/Dictionaries/IDictionary.h
  src/Functions/ztest.cpp
  src/Interpreters/OpenTelemetrySpanLog.h
  tests/queries/0_stateless/02293_ttest_large_samples.reference
  tests/queries/0_stateless/02293_ttest_large_samples.sql
  tests/queries/0_stateless/02461_welch_t_test_fuzz.reference
  tests/queries/0_stateless/02461_welch_t_test_fuzz.sql
  tests/queries/0_stateless/02475_analysis_of_variance.reference
  tests/queries/0_stateless/02475_analysis_of_variance.sql
Labels: pr-improvement

#46143 Interpret `cluster_name` identifier in `s3Cluster` function as literal
  src/TableFunctions/TableFunctionS3Cluster.cpp
Labels: pr-not-for-changelog

#46103 Fix doc and enable int types for pad
  docs/en/sql-reference/functions/string-functions.md
  src/Functions/padString.cpp
  tests/queries/0_stateless/01940_pad_string.reference
  tests/queries/0_stateless/01940_pad_string.sql
Labels: pr-improvement

#45992 Fix basic functionality with type `Object` and new analyzer
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  tests/queries/0_stateless/02553_type_object_analyzer.reference
  tests/queries/0_stateless/02553_type_object_analyzer.sql
Labels: pr-not-for-changelog

#44730 Rewrite aggregate functions with if
  src/Analyzer/Passes/RewriteAggregateFunctionWithIfPass.cpp
  src/Analyzer/Passes/RewriteAggregateFunctionWithIfPass.h
  src/Analyzer/QueryTreePassManager.cpp
  src/Core/Settings.h
  tests/queries/0_stateless/02518_rewrite_aggregate_function_with_if.reference
  tests/queries/0_stateless/02518_rewrite_aggregate_function_with_if.sql
Labels: pr-feature

#46068 Add new metric to record allocations times and bytes using mmap
  src/Common/Allocator.h
  src/Common/CurrentMetrics.cpp
  tests/queries/0_stateless/01778_mmap_cache_infra.reference
Labels: pr-improvement

#46110 allow_drop_detached requires an argument
  tests/queries/0_stateless/01164_detach_attach_partition_race.sh
Labels: pr-not-for-changelog, flaky test

#46177 Fix build dependencies page in docs
  docs/en/development/build.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation

#46179 Cleanup disk unittest
  src/Disks/tests/gtest_disk.cpp
Labels: pr-not-for-changelog

#46180 Update 01513_optimize_aggregation_in_order_memory_long.sql
  tests/queries/0_stateless/01513_optimize_aggregation_in_order_memory_long.sql
Labels: pr-not-for-changelog

#46045 Fix reading of non existing nested columns with multiple level in compact parts
  src/Storages/MergeTree/IMergeTreeReader.cpp
  src/Storages/MergeTree/IMergeTreeReader.h
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  src/Storages/MergeTree/MergeTreeReaderCompact.h
  src/Storages/MergeTree/MergeTreeReaderInMemory.cpp
  tests/queries/0_stateless/02559_nested_multiple_levels_default.reference
  tests/queries/0_stateless/02559_nested_multiple_levels_default.sql
Labels: pr-bugfix

#46138 Fix dependency checks
  src/Databases/DDLDependencyVisitor.cpp
  tests/integration/test_backup_restore_new/test.py
Labels: pr-not-for-changelog

#46091 Sanity assertions for closing file descriptors
  base/base/defines.h
  src/Common/CounterInFile.h
  src/Common/Epoll.cpp
  src/Common/EventFD.cpp
  src/Common/ProcfsMetricsProvider.cpp
  src/Common/QueryProfiler.cpp
  src/Common/StatusFile.cpp
  src/Common/TaskStatsInfoGetter.cpp
  src/Common/TimerDescriptor.cpp
  src/Common/waitForPid.cpp
  src/Coordination/KeeperStateMachine.cpp
  src/Daemon/BaseDaemon.cpp
  src/Dictionaries/SSDCacheDictionaryStorage.h
  src/IO/AsynchronousReadBufferFromFile.cpp
  src/IO/ReadBufferFromFile.cpp
  src/IO/WriteBufferFromFile.cpp
  src/IO/WriteBufferFromTemporaryFile.cpp
  src/Processors/Executors/PollingQueue.cpp
  src/Processors/Merges/Algorithms/tests/gtest_graphite.cpp
  src/QueryPipeline/RemoteQueryExecutorReadContext.cpp
  src/Server/KeeperTCPHandler.cpp
  src/Storages/FileLog/DirectoryWatcherBase.cpp
  utils/check-style/check-style
  utils/self-extracting-executable/compressor.cpp
  utils/self-extracting-executable/decompressor.cpp
Labels: pr-not-for-changelog

#46003 Fix applying settings for FORMAT on the client
  src/Client/ClientBase.cpp
  tests/queries/0_stateless/02103_tsv_csv_custom_null_representation.reference
  tests/queries/0_stateless/02103_tsv_csv_custom_null_representation.sh
  tests/queries/0_stateless/02152_bool_type_parsing.reference
  tests/queries/0_stateless/02152_bool_type_parsing.sh
  tests/queries/0_stateless/02294_decimal_second_errors.sql
  tests/queries/0_stateless/02552_client_format_settings.reference
  tests/queries/0_stateless/02552_client_format_settings.sql
Labels: pr-backward-incompatible

#46020 Fix disabled by mistake hung check
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#45629 Cancel c-ares failed requests and retry on system interrupts to prevent callbacks with dangling references and premature resolution failures
  docs/en/sql-reference/functions/ip-address-functions.md
  src/Common/CaresPTRResolver.cpp
  src/Common/CaresPTRResolver.h
  src/Common/tests/gtest_dns_reverse_resolve.cpp
  src/Functions/reverseDNSQuery.cpp
  tests/config/config.d/reverse_dns_query_function.xml
  tests/config/install.sh
  tests/integration/test_reverse_dns_query/__init__.py
  tests/integration/test_reverse_dns_query/configs/config.xml
  tests/integration/test_reverse_dns_query/configs/listen_host.xml
  tests/integration/test_reverse_dns_query/configs/reverse_dns_function.xml
  tests/integration/test_reverse_dns_query/coredns_config/Corefile
  tests/integration/test_reverse_dns_query/test.py
  tests/queries/0_stateless/02483_test_reverse_dns_resolution.reference
  tests/queries/0_stateless/02483_test_reverse_dns_resolution.sql
Labels: pr-bugfix, can be tested

#46144 Fix config merge for an attributes
  src/Common/Config/ConfigProcessor.cpp
  tests/integration/test_config_xml_yaml_mix/configs/config.d/mark_cache_size.yaml
  tests/integration/test_config_xml_yaml_mix/configs/config.xml
  tests/integration/test_config_xml_yaml_mix/test.py
Labels: pr-bugfix

#45226 Introduce llvm/gwp-asan
  CMakeLists.txt
  contrib/CMakeLists.txt
  contrib/gwpasan-cmake/CMakeLists.txt
  programs/main.cpp
  src/CMakeLists.txt
  src/Common/config.h.in
  src/Common/memory.h
  src/Common/new_delete.cpp
  src/configure_config.cmake
Labels: pr-improvement, submodule changed

#46080 Add helping logging to auto-merge script
  tests/ci/merge_pr.py
Labels: do not test, pr-not-for-changelog, pr-must-backport

#46054 Fix bug with wrong checking of execution finish in PullingAsyncPipelineExecutor
  src/Processors/Executors/PullingAsyncPipelineExecutor.cpp
Labels: pr-bugfix, can be tested

#46166 Add doc for optimize_rewrite_aggregate_function_with_if
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#46207 fix typo
  src/Disks/IO/createReadBufferFromFileBase.cpp
Labels: do not test, pr-not-for-changelog

#46183 Make a bug in HTTP interface less annoying
  tests/clickhouse-test
Labels: pr-not-for-changelog

#46165 Adding missing integrations to the list
  docs/en/engines/table-engines/integrations/index.md
Labels: pr-documentation, can be tested

#46244 Update formats.md
  docs/en/interfaces/formats.md
Labels: pr-documentation, can be tested

#46245 Update 00564_versioned_collapsing_merge_tree.sql
  tests/queries/0_stateless/00564_versioned_collapsing_merge_tree.sql
Labels: pr-not-for-changelog

#46242 Make `test_replicated_merge_tree_s3_restore` less flaky
  tests/integration/test_replicated_merge_tree_s3_restore/test.py
Labels: pr-not-for-changelog

#46243 Fix test_distributed_ddl_parallel
  tests/integration/test_distributed_ddl_parallel/test.py
Labels: pr-not-for-changelog

#46173 Update Dockerfile.ubuntu
  docker/server/Dockerfile.ubuntu
Labels: pr-not-for-changelog

#46156 Add 00002_log_and_exception_messages_formatting back
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.reference
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
Labels: pr-not-for-changelog

#46095 Improve performance of Decimal conversion when scale does not change
  src/DataTypes/DataTypesDecimal.h
  tests/performance/datetime64_conversion.xml
Labels: pr-performance

#46042 Improve behaviour of conversion into Date for boundary value 65535 - …
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/02540_date_column_consistent_insert_behaviour.reference
  tests/queries/0_stateless/02540_date_column_consistent_insert_behaviour.sql
Labels: pr-improvement, can be tested

#46187 Speed up `countDigits`
  base/base/itoa.h
  src/Functions/countDigits.cpp
  tests/performance/countDigits.xml
  tests/queries/0_stateless/01458_count_digits.reference
  tests/queries/0_stateless/02560_count_digits.reference
  tests/queries/0_stateless/02560_count_digits.sql
Labels: pr-backward-incompatible

#46065 Add reference implementation for SipHash128
  docs/en/sql-reference/functions/hash-functions.md
  src/Common/SipHash.h
  src/Functions/FunctionsHashing.h
  src/Functions/FunctionsHashingMisc.cpp
  tests/queries/0_stateless/02552_siphash128_reference.reference
  tests/queries/0_stateless/02552_siphash128_reference.sql
Labels: pr-improvement, can be tested

#46133 Stricter warnings + fix whitespaces in poco
  base/poco/CMakeLists.txt
  base/poco/Crypto/CMakeLists.txt
  base/poco/Data/CMakeLists.txt
  base/poco/Data/ODBC/CMakeLists.txt
  base/poco/Data/ODBC/include/Poco/Data/ODBC/Preparator.h
  base/poco/Data/include/Poco/Data/RecordSet.h
  base/poco/Foundation/CMakeLists.txt
  base/poco/Foundation/include/Poco/HexBinaryDecoder.h
  base/poco/Foundation/include/Poco/HexBinaryEncoder.h
  base/poco/Foundation/include/Poco/UnicodeConverter.h
  base/poco/Foundation/src/DateTimeParser.cpp
  base/poco/Foundation/src/MD5Engine.cpp
  base/poco/Foundation/src/UnicodeConverter.cpp
  base/poco/JSON/CMakeLists.txt
  base/poco/MongoDB/CMakeLists.txt
  base/poco/Net/CMakeLists.txt
  base/poco/Net/include/Poco/Net/ServerSocket.h
  base/poco/Net/include/Poco/Net/SocketImpl.h
  base/poco/NetSSL_OpenSSL/CMakeLists.txt
  base/poco/Redis/CMakeLists.txt
  base/poco/Util/CMakeLists.txt
  base/poco/Util/include/Poco/Util/Units.h
  base/poco/Util/src/ServerApplication.cpp
  base/poco/XML/CMakeLists.txt
  base/poco/XML/include/Poco/XML/expat.h
  base/poco/XML/include/Poco/XML/expat_external.h
  base/poco/XML/src/ascii.h
  base/poco/XML/src/asciitab.h
  base/poco/XML/src/iasciitab.h
  base/poco/XML/src/internal.h
  base/poco/XML/src/latin1tab.h
  base/poco/XML/src/nametab.h
  base/poco/XML/src/utf8tab.h
  base/poco/XML/src/xmlparse.cpp
  base/poco/XML/src/xmlrole.h
  base/poco/XML/src/xmltok.h
  base/poco/XML/src/xmltok_impl.h
  utils/check-style/check-whitespaces
Labels: pr-not-for-changelog

#46205 Fix write buffer destruction order for vertical merge.
  src/Storages/MergeTree/MergeTask.h
Labels: pr-not-for-changelog, pr-must-backport

#46260 Suppress "Container already exists" in BC check
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#45936 Check referential dependencies on DROP TABLE
  src/Core/Settings.h
  src/Databases/DatabaseAtomic.cpp
  src/Databases/DatabaseMemory.cpp
  src/Databases/DatabaseOrdinary.cpp
  src/Databases/TablesLoader.cpp
  src/Databases/TablesLoader.h
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterDropQuery.cpp
  src/Interpreters/InterpreterRenameQuery.cpp
  src/Interpreters/loadMetadata.cpp
  src/Storages/System/StorageSystemTables.cpp
  tests/queries/0_stateless/02552_check_referential_table_dependencies.reference
  tests/queries/0_stateless/02552_check_referential_table_dependencies.sql
Labels: pr-improvement

#45582 DELETE + WHERE in TTL
  docs/en/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation, can be tested

#46236 Revert "Allow vertical merges from compact to wide parts"
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeDataPartWide.h
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  tests/queries/0_stateless/02539_vertical_merge_compact_parts.reference
  tests/queries/0_stateless/02539_vertical_merge_compact_parts.sql
Labels: pr-not-for-changelog

#46233 increase a time gap between insert and ttl move
  tests/integration/test_merge_tree_s3_failover/test.py
Labels: pr-not-for-changelog, flaky test

#46191 Prefer explicitly defined credentials for S3
  src/IO/S3Common.cpp
  tests/integration/test_storage_s3/test.py
  tests/integration/test_storage_s3/test_invalid_env_credentials.py
Labels: pr-improvement

#46267 Fix failure description for hung check
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#46271 Add upcoming Events
  README.md
Labels: pr-not-for-changelog

#46152 More convenient usage of big integers and ORDER BY WITH FILL.
  src/Common/FieldVisitorConvertToNumber.h
  src/Common/FieldVisitorsAccurateComparison.h
  src/Interpreters/FillingRow.cpp
  src/Processors/Transforms/FillingTransform.cpp
  src/Processors/Transforms/FillingTransform.h
  tests/queries/0_stateless/02560_with_fill_int256_int.reference
  tests/queries/0_stateless/02560_with_fill_int256_int.sql
  tests/queries/0_stateless/02561_with_fill_date_datetime_incompatible.reference
  tests/queries/0_stateless/02561_with_fill_date_datetime_incompatible.sql
  tests/queries/0_stateless/02562_with_fill_nullable.reference
  tests/queries/0_stateless/02562_with_fill_nullable.sql
Labels: pr-improvement

#45340 Support FixedSizeBinary type in Parquet/Arrow
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings-formats.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/ArrowBlockOutputFormat.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.h
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  tests/queries/0_stateless/00900_long_parquet.reference
  tests/queries/0_stateless/01273_arrow.reference
  tests/queries/0_stateless/01273_arrow_stream.reference
  tests/queries/0_stateless/02149_schema_inference_formats_with_schema.reference
  tests/queries/0_stateless/02534_parquet_fixed_binary_array.reference
  tests/queries/0_stateless/02534_parquet_fixed_binary_array.sh
Labels: pr-feature

#41976 Allow configuring storage as `SETTINGS disk='<disk_name>'` (instead of `storage_policy`) and explicit disk creation `SETTINGS disk=disk(<disk_configuration>)`
  src/Common/FieldVisitorConvertToNumber.h
  src/Common/FieldVisitorDump.cpp
  src/Common/FieldVisitorDump.h
  src/Common/FieldVisitorHash.cpp
  src/Common/FieldVisitorHash.h
  src/Common/FieldVisitorSum.cpp
  src/Common/FieldVisitorSum.h
  src/Common/FieldVisitorToString.cpp
  src/Common/FieldVisitorToString.h
  src/Common/FieldVisitorWriteBinary.cpp
  src/Common/FieldVisitorWriteBinary.h
  src/Core/Field.cpp
  src/Core/Field.h
  src/DataTypes/FieldToDataType.cpp
  src/DataTypes/FieldToDataType.h
  src/Disks/DiskSelector.cpp
  src/Disks/DiskSelector.h
  src/Disks/IDisk.h
  src/Disks/ObjectStorages/DiskObjectStorageCommon.cpp
  src/Disks/ObjectStorages/HDFS/registerDiskHDFS.cpp
  src/Disks/StoragePolicy.cpp
  src/Disks/StoragePolicy.h
  src/Disks/getDiskConfigurationFromAST.cpp
  src/Disks/getDiskConfigurationFromAST.h
  src/Disks/getOrCreateDiskFromAST.cpp
  src/Disks/getOrCreateDiskFromAST.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/SystemLog.cpp
  src/Parsers/FieldFromAST.cpp
  src/Parsers/FieldFromAST.h
  src/Parsers/ParserSetQuery.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreePartition.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  tests/config/config.d/custom_disks_base_path.xml
  tests/config/install.sh
  tests/integration/test_disk_configuration/__init__.py
  tests/integration/test_disk_configuration/configs/config.d/remote_servers.xml
  tests/integration/test_disk_configuration/configs/config.d/storage_configuration.xml
  tests/integration/test_disk_configuration/test.py
  tests/queries/0_stateless/02454_create_table_with_custom_disk.reference
  tests/queries/0_stateless/02454_create_table_with_custom_disk.sql
Labels: pr-improvement

#46281 Beter diagnostics from http in clickhouse-test
  tests/clickhouse-test
Labels: pr-not-for-changelog

#46043 Forbid wrong create view syntax
  src/Parsers/ParserCreateQuery.cpp
  tests/queries/0_stateless/02554_invalid_create_view_syntax.reference
  tests/queries/0_stateless/02554_invalid_create_view_syntax.sql
Labels: pr-improvement

#46232 ASTFunction: never rewrite tuple function as literal when formatting
  src/Parsers/ASTFunction.cpp
  tests/queries/0_stateless/02560_tuple_format.reference
  tests/queries/0_stateless/02560_tuple_format.sh
Labels: pr-bugfix, can be tested

#46167 Reject hyperscan regexes which are prone to ReDoS
  docs/en/sql-reference/functions/string-search-functions.md
  src/Core/Settings.h
  src/Dictionaries/RegExpTreeDictionary.cpp
  src/Functions/FunctionsMultiStringFuzzySearch.h
  src/Functions/FunctionsMultiStringSearch.h
  src/Functions/MatchImpl.h
  src/Functions/MultiMatchAllIndicesImpl.h
  src/Functions/MultiMatchAnyImpl.h
  src/Functions/MultiSearchFirstIndexImpl.h
  src/Functions/MultiSearchFirstPositionImpl.h
  src/Functions/MultiSearchImpl.h
  src/Functions/checkHyperscanRegexp.cpp
  src/Functions/checkHyperscanRegexp.h
  src/Functions/extract.cpp
  tests/queries/0_stateless/02560_regexp_denial_of_service.reference
  tests/queries/0_stateless/02560_regexp_denial_of_service.sql
Labels: pr-improvement

#46163 Remove excessive license notices from preciseExp10.cpp
  base/base/preciseExp10.cpp
  base/base/preciseExp10.h
Labels: pr-build, can be tested

#46278 fix data race between check table request and background checker
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#46270 Fix possible out of bounds error while reading LowCardinality(Nullable) in Arrow format
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  tests/queries/0_stateless/02563_arrow_low_cardinality_bug.reference
  tests/queries/0_stateless/02563_arrow_low_cardinality_bug.sh
Labels: pr-bugfix

#46285 Fix window view test
  tests/queries/0_stateless/01052_window_view_proc_tumble_to_now.sh
Labels: pr-not-for-changelog

#45711 Integrate IO scheduler with buffers for remote reads and writes
  src/Disks/IO/WriteBufferFromAzureBlobStorage.cpp
  src/Disks/IO/WriteBufferFromAzureBlobStorage.h
  src/IO/IResourceManager.h
  src/IO/ISchedulerQueue.h
  src/IO/ReadBufferFromS3.cpp
  src/IO/ReadSettings.h
  src/IO/Resource/tests/gtest_resource_manager_static.cpp
  src/IO/ResourceBudget.h
  src/IO/ResourceGuard.h
  src/IO/ResourceLink.h
  src/IO/ResourceRequest.h
  src/IO/WriteBufferFromS3.cpp
  src/IO/WriteSettings.h
  src/Storages/HDFS/ReadBufferFromHDFS.cpp
  src/Storages/HDFS/WriteBufferFromHDFS.cpp
Labels: pr-not-for-changelog

#46283 Add more logging to RabbitMQ (to help debug tests)
  src/Storages/MessageQueueSink.cpp
  src/Storages/RabbitMQ/RabbitMQProducer.cpp
Labels: pr-not-for-changelog
