Repository ClickHouse/ClickHouse, pull requests merged in 2023-07, with the labels that each got.

#51688 Wait with retries when attaching GDB in tests
  docker/test/stateless/run.sh
  tests/ci/attach_gdb.lib
  tests/ci/utils.lib
Labels: pr-not-for-changelog

#51552 Allow to add disk name for custom disks
  src/Disks/getOrCreateDiskFromAST.cpp
  src/Parsers/ParserSetQuery.cpp
  src/Parsers/isDiskFunction.cpp
  tests/queries/0_stateless/02808_custom_disk_with_user_defined_name.reference
  tests/queries/0_stateless/02808_custom_disk_with_user_defined_name.sh
Labels: pr-improvement

#51536 fs cache: add some checks
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/IFileCachePriority.h
  src/Interpreters/Cache/LRUFileCachePriority.cpp
  src/Interpreters/Cache/LRUFileCachePriority.h
  src/Interpreters/Cache/Metadata.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#51684 Remove unused code
  src/Server/TCPHandler.h
Labels: pr-not-for-changelog

#51404 no finalize in d-tor WriteBufferFromOStream
  programs/client/Client.cpp
  programs/format/Format.cpp
  src/BridgeHelper/ExternalDictionaryLibraryBridgeHelper.cpp
  src/Client/ClientBase.cpp
  src/Client/QueryFuzzer.cpp
  src/Dictionaries/HTTPDictionarySource.cpp
  src/IO/WriteBufferFromOStream.cpp
  src/IO/WriteBufferFromOStream.h
  src/Parsers/MySQL/tests/gtest_create_parser.cpp
Labels: pr-not-for-changelog

#51697 do not log exception aborted for pending mutate/merge entries when shutdown
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.cpp
Labels: pr-not-for-changelog

#51676 Fix async insert with deduplication for ReplicatedMergeTree using merging algorithms
  src/Processors/Transforms/ExpressionTransform.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.h
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  tests/queries/0_stateless/02810_async_insert_dedup_replicated_collapsing.reference
  tests/queries/0_stateless/02810_async_insert_dedup_replicated_collapsing.sh
Labels: pr-bugfix, pr-must-backport-cloud

#51707 Make test scripts backwards compatible
  docker/test/stateless/run.sh
  tests/ci/utils.lib
Labels: pr-not-for-changelog

#51669 Fix 02116_tuple_element with Analyzer
  tests/queries/0_stateless/02116_tuple_element.sql
Labels: pr-not-for-changelog

#51683 Update timeouts in tests for transactions
  tests/queries/0_stateless/01169_alter_partition_isolation_stress.sh
  tests/queries/0_stateless/01171_mv_select_insert_isolation_long.sh
  tests/queries/0_stateless/01174_select_insert_isolation.sh
Labels: pr-not-for-changelog

#51591 Fix merge_selecting_task scheduling
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MutateFromLogEntryTask.cpp
  src/Storages/MergeTree/ReplicatedMergeMutateTaskBase.h
Labels: pr-not-for-changelog

#51719 Fix SQLLogic docker images
  docker/test/sqllogic/Dockerfile
Labels: pr-not-for-changelog

#51502 Fix a logical error on mutation
  docker/test/upgrade/run.sh
  src/Storages/MergeTree/DataPartStorageOnDiskBase.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskBase.h
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/MutateTask.h
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_merge_tree_hdfs/test.py
  tests/integration/test_merge_tree_s3/test.py
Labels: pr-not-for-changelog, pr-must-backport-cloud

#51414 Better diagnostics for 01193_metadata_loading
  tests/queries/0_stateless/01193_metadata_loading.sh
Labels: pr-not-for-changelog

#51687 SonarCloud: Add C++23 Experimental Flag
  .github/workflows/nightly.yml
Labels: pr-not-for-changelog, can be tested

#51728 Fix source image for sqllogic
  docker/images.json
Labels: pr-not-for-changelog

#51726 Update README.md
  README.md
Labels: pr-not-for-changelog

#51610 Fix for moving 'IN' conditions to PREWHERE
  src/Processors/QueryPlan/Optimizations/Optimizations.h
  src/Processors/QueryPlan/Optimizations/optimizePrimaryKeyCondition.cpp
  src/Processors/QueryPlan/Optimizations/optimizeTree.cpp
  src/Processors/QueryPlan/QueryPlan.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Processors/QueryPlan/SourceStepWithFilter.h
  src/Storages/MergeTree/MergeTreeWhereOptimizer.cpp
  src/Storages/MergeTree/RPNBuilder.cpp
  src/Storages/MergeTree/RPNBuilder.h
  src/Storages/System/StorageSystemZooKeeper.cpp
  tests/queries/0_stateless/02809_prewhere_and_in.reference
  tests/queries/0_stateless/02809_prewhere_and_in.sql
Labels: pr-bugfix, v23.3-must-backport, v23.4-must-backport, v23.5-must-backport

#51296 Fix: Invalid number of rows in Chunk column Object
  src/Processors/QueryPlan/AggregatingStep.cpp
  tests/queries/0_stateless/02789_object_type_invalid_num_of_rows.reference
  tests/queries/0_stateless/02789_object_type_invalid_num_of_rows.sql
Labels: pr-not-for-changelog

#51595 Add hex functions for cityhash
  base/base/hex.h
  src/Common/getHashOfLoadedBinary.cpp
  src/Compression/CompressedReadBufferBase.cpp
  src/Storages/Distributed/DistributedAsyncInsertHeader.cpp
  src/Storages/MergeTree/MergeTreeDataPartChecksum.cpp
  src/Storages/MergeTree/PartMetadataManagerWithCache.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/System/StorageSystemParts.cpp
  src/Storages/System/StorageSystemProjectionParts.cpp
  utils/checksum-for-compressed-block/main.cpp
Labels: pr-not-for-changelog

#51747 add missing doc templates back
  docs/_description_templates/template-data-type.md
  docs/_description_templates/template-engine.md
  docs/_description_templates/template-function.md
  docs/_description_templates/template-server-setting.md
  docs/_description_templates/template-setting.md
  docs/_description_templates/template-statement.md
  docs/_description_templates/template-system-table.md
Labels: pr-documentation, can be tested

#51748 add missing doc templates back
  docs/_description_templates/template-data-type.md
  docs/_description_templates/template-engine.md
  docs/_description_templates/template-function.md
  docs/_description_templates/template-server-setting.md
  docs/_description_templates/template-setting.md
  docs/_description_templates/template-statement.md
  docs/_description_templates/template-system-table.md
Labels: pr-documentation, can be tested

#51679 Add documentation for building in docker
  docker/packager/README.md
  docker/packager/packager
  docs/en/development/build.md
  tests/ci/build_check.py
  tests/ci/build_report_check.py
  tests/ci/ci_config.py
  tests/ci/report.py
Labels: pr-documentation

#51750 Revert "Fix: Invalid number of rows in Chunk column Object"
  src/Processors/QueryPlan/AggregatingStep.cpp
  tests/queries/0_stateless/02789_object_type_invalid_num_of_rows.reference
  tests/queries/0_stateless/02789_object_type_invalid_num_of_rows.sql
Labels: pr-not-for-changelog

#51685 Add column modification time into system.parts_columns
  src/Storages/MergeTree/DataPartStorageOnDiskFull.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskFull.h
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeDataPartCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartCompact.h
  src/Storages/MergeTree/MergeTreeDataPartInMemory.h
  src/Storages/MergeTree/MergeTreeDataPartWide.cpp
  src/Storages/MergeTree/MergeTreeDataPartWide.h
  src/Storages/System/StorageSystemPartsColumns.cpp
  src/Storages/System/StorageSystemProjectionPartsColumns.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/02806_system_parts_columns_modification_time.reference
  tests/queries/0_stateless/02806_system_parts_columns_modification_time.sql.j2
Labels: pr-improvement

#51751 Add SonarCloud to README
  README.md
Labels: pr-not-for-changelog

#51752 Docs: Mention homebrew as an alternative and non-production install method
  docs/en/getting-started/install.md
Labels: pr-documentation

#51732 Remove MemoryPool from Poco because it's useless
  base/poco/Foundation/CMakeLists.txt
  base/poco/Foundation/include/Poco/MemoryPool.h
  base/poco/Foundation/src/MemoryPool.cpp
  base/poco/Net/include/Poco/Net/HTTPBasicStreamBuf.h
  base/poco/Net/include/Poco/Net/HTTPBufferAllocator.h
  base/poco/Net/include/Poco/Net/HTTPChunkedStream.h
  base/poco/Net/include/Poco/Net/HTTPFixedLengthStream.h
  base/poco/Net/include/Poco/Net/HTTPHeaderStream.h
  base/poco/Net/include/Poco/Net/HTTPSession.h
  base/poco/Net/include/Poco/Net/HTTPStream.h
  base/poco/Net/src/HTTPBufferAllocator.cpp
  base/poco/Net/src/HTTPChunkedStream.cpp
  base/poco/Net/src/HTTPFixedLengthStream.cpp
  base/poco/Net/src/HTTPHeaderStream.cpp
  base/poco/Net/src/HTTPSession.cpp
  base/poco/Net/src/HTTPStream.cpp
Labels: pr-not-for-changelog

#51000 fs cache: allow to have strict lower boundary for file segment size and download remaining data in the background
  src/Common/CurrentMetrics.cpp
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/FileCacheSettings.cpp
  src/Interpreters/Cache/FileCacheSettings.h
  src/Interpreters/Cache/FileCache_fwd.h
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/Metadata.cpp
  src/Interpreters/Cache/Metadata.h
  src/Interpreters/InterpreterDescribeCacheQuery.cpp
  src/Interpreters/tests/gtest_lru_file_cache.cpp
  tests/queries/0_stateless/02344_describe_cache.reference
  tests/queries/0_stateless/02789_filesystem_cache_alignment.reference
  tests/queries/0_stateless/02789_filesystem_cache_alignment.sh
Labels: pr-improvement

#51742 Update 01320_create_sync_race_condition_zookeeper.sh
  tests/queries/0_stateless/01320_create_sync_race_condition_zookeeper.sh
Labels: pr-not-for-changelog

#51704 Fix race in ContextAccess
  src/Access/ContextAccess.cpp
  src/Access/ContextAccess.h
Labels: pr-not-for-changelog

#51721 Run cargo update to fix build with nightly
  rust/skim/Cargo.lock
Labels: pr-build

#51559 00900_orc_load: lift kill timeout
  tests/queries/0_stateless/00900_orc_load.sh
Labels: pr-not-for-changelog

#51769 Version mypy=1.4.1 falsly reports unused ignore comment
  docker/test/style/Dockerfile
  tests/ci/commit_status_helper.py
  tests/ci/github_helper.py
  tests/ci/merge_pr.py
Labels: pr-not-for-changelog

#51498 Fix `test_alter_moving_garbage`: lock between getActiveContainingPart and swapActivePart in parts mover
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  tests/config/config.d/merge_tree_old_dirs_cleanup.xml
Labels: pr-not-for-changelog

#51392 Disable hedged requests under TSan
  src/Core/SettingsQuirks.cpp
  tests/integration/test_hedged_requests/test.py
  tests/integration/test_hedged_requests_parallel/test.py
  tests/integration/test_secure_socket/test.py
  tests/queries/0_stateless/01361_fover_remote_num_tries.sh
  tests/queries/0_stateless/01851_hedged_connections_external_tables.sql
  tests/queries/0_stateless/01956_skip_unavailable_shards_excessive_attempts.reference
  tests/queries/0_stateless/01956_skip_unavailable_shards_excessive_attempts.sh
  tests/queries/0_stateless/02226_parallel_reading_from_replicas_benchmark.sh
Labels: pr-not-for-changelog

#51274 test for #36894
  tests/queries/0_stateless/02302_lc_nullable_string_insert_as_number.reference
  tests/queries/0_stateless/02302_lc_nullable_string_insert_as_number.sql
Labels: pr-not-for-changelog, can be tested

#50235 Remove unstable queries from performance/join_set_filter
  tests/performance/join_set_filter.xml
Labels: pr-not-for-changelog

#47430 Provide advice to people needing to turn off features and tag which tests to run or skip
  docs/en/operations/system-tables/index.md
Labels: pr-documentation, can be tested

#51800 Add assert in ThreadStatus destructor for correct current_thread
  src/Common/ThreadStatus.cpp
  src/Common/ThreadStatus.h
  src/Processors/Transforms/buildPushingToViewsChain.cpp
Labels: pr-not-for-changelog

#51547 Support `DROP FILESYSTEM CACHE <name> KEY <key> [ OFFSET <offset>]`
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskReadBufferFromFile.h
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/FileCacheKey.cpp
  src/Interpreters/Cache/FileCacheKey.h
  src/Interpreters/Cache/Metadata.cpp
  src/Interpreters/Cache/Metadata.h
  src/Interpreters/FilesystemCacheLog.cpp
  src/Interpreters/FilesystemCacheLog.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Parsers/ASTSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  src/Parsers/ParserSystemQuery.cpp
  tests/queries/0_stateless/02808_filesystem_cache_drop_query.reference
  tests/queries/0_stateless/02808_filesystem_cache_drop_query.sh
Labels: pr-improvement

#51578 Remove the usage of Analyzer setting in the client
  src/Client/Suggest.cpp
Labels: pr-not-for-changelog, pr-must-backport

#51743 Pin for docker-ce
  docker/test/integration/runner/Dockerfile
Labels: pr-not-for-changelog

#51836 Update analyzer_tech_debt.txt
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog

#51837 remove unused code
  src/Compression/CompressionCodecLZ4.cpp
Labels: pr-not-for-changelog

#51594 translation correction, about assumeNotNull with null value
  docs/zh/sql-reference/functions/functions-for-nulls.md
Labels: pr-documentation, can be tested

#51744 Dashboard behavior fixes
  programs/server/dashboard.html
Labels: pr-improvement, can be tested

#51855 Minor fixes to odbc.md
  docs/en/engines/table-engines/integrations/odbc.md
Labels: pr-documentation, can be tested

#51824 Correctly grep archives in stress tests
  tests/ci/stress_tests.lib
Labels: pr-not-for-changelog

#49764 Fix flaky tests caused by OPTIMIZE FINAL failing memory budget check
  src/Storages/StorageMergeTree.cpp
  tests/queries/0_stateless/02581_share_big_sets_between_multiple_mutations_tasks_long.sql
  tests/queries/0_stateless/02581_share_big_sets_between_mutation_tasks_long.sql
Labels: pr-not-for-changelog

#51208 Resubmit #48821
  programs/local/LocalServer.cpp
  src/Databases/DatabaseFactory.cpp
  src/Databases/DatabaseFilesystem.cpp
  src/Databases/DatabaseFilesystem.h
  src/Databases/DatabaseHDFS.cpp
  src/Databases/DatabaseHDFS.h
  src/Databases/DatabaseS3.cpp
  src/Databases/DatabaseS3.h
  src/Databases/DatabasesOverlay.cpp
  src/Databases/DatabasesOverlay.h
  src/Databases/IDatabase.h
  src/Interpreters/DatabaseCatalog.cpp
  tests/config/config.d/named_collection.xml
  tests/queries/0_stateless/02707_clickhouse_local_implicit_file_table_function.reference
  tests/queries/0_stateless/02707_clickhouse_local_implicit_file_table_function.sh
  tests/queries/0_stateless/02722_database_filesystem.reference
  tests/queries/0_stateless/02722_database_filesystem.sh
  tests/queries/0_stateless/02724_database_s3.reference
  tests/queries/0_stateless/02724_database_s3.sh
  tests/queries/0_stateless/02725_database_hdfs.reference
  tests/queries/0_stateless/02725_database_hdfs.sh
Labels: pr-not-for-changelog

#51839 Fix disk config for upgrade tests
  docker/test/upgrade/run.sh
Labels: pr-not-for-changelog

#51655 Minor follow-up to re2 update to 2023-06-02 (#50949)
  src/Common/OptimizedRegularExpression.cpp
  src/Common/OptimizedRegularExpression.h
  src/Common/SensitiveDataMasker.cpp
  src/Common/parseGlobs.cpp
  src/Dictionaries/RegExpTreeDictionary.cpp
  src/Functions/ReplaceRegexpImpl.h
  src/Functions/checkHyperscanRegexp.cpp
  src/Functions/extractAllGroups.h
  src/Functions/extractGroups.cpp
  src/Processors/Formats/Impl/RegexpRowInputFormat.h
  src/Server/HTTPHandler.cpp
  src/Server/HTTPHandlerRequestFilter.h
Labels: pr-not-for-changelog

#51805 Fix for parallel replicas not completely disabled by granule count threshold
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageMergeTree.cpp
  tests/queries/0_stateless/02811_parallel_replicas_prewhere_count.reference
  tests/queries/0_stateless/02811_parallel_replicas_prewhere_count.sql
Labels: pr-not-for-changelog

#49428 Fix `BindException: Address already in use` in HDFS integration tests
  tests/integration/test_storage_kerberized_hdfs/hdfs_configs/bootstrap.sh
Labels: pr-not-for-changelog

#51623 Remove `unset CLICKHOUSE_LOG_COMMENT` from tests
  tests/queries/0_stateless/00474_readonly_settings.sh
  tests/queries/0_stateless/01455_opentelemetry_distributed.sh
  tests/queries/0_stateless/01526_initial_query_id.sh
  tests/queries/0_stateless/01732_race_condition_storage_join_long.sh
  tests/queries/0_stateless/01872_initial_query_start_time.sh
  tests/queries/0_stateless/02030_rocksdb_race_long.sh
  tests/queries/0_stateless/02151_hash_table_sizes_stats.sh
  tests/queries/0_stateless/02151_hash_table_sizes_stats_distributed.sh
  tests/queries/0_stateless/02377_extend_protocol_with_query_parameters.sh
  tests/queries/0_stateless/02418_do_not_return_empty_blocks_from_ConvertingAggregatedToChunksTransform.sh
  tests/queries/0_stateless/02473_functions_in_readonly_mode.sh
  tests/queries/0_stateless/02499_monotonicity_toUnixTimestamp64.sh
  tests/queries/0_stateless/02681_final_excessive_reading_bug.sh
  tests/queries/1_stateful/00177_memory_bound_merging.sh
Labels: pr-not-for-changelog

#51822 Follow up to #51547
  src/Interpreters/FilesystemCacheLog.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Parsers/ASTSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  src/Parsers/ParserSystemQuery.cpp
Labels: pr-not-for-changelog

#51774 Making stateless tests with timeout less flaky
  tests/queries/0_stateless/00941_system_columns_race_condition.sh
  tests/queries/0_stateless/01320_create_sync_race_condition_zookeeper.sh
  tests/queries/0_stateless/01632_tinylog_read_write.sh
  tests/queries/0_stateless/02470_mutation_sync_race.sh
  tests/queries/0_stateless/02481_async_insert_race_long.sh
Labels: pr-not-for-changelog

#51708 #51292 added default_temporary_table_engine setting
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterCreateQuery.h
  tests/queries/0_stateless/02184_default_table_engine.reference
  tests/queries/0_stateless/02184_default_table_engine.sql
Labels: pr-feature, can be tested

#51778 (docs) Remove async_metric_log event_time_microseconds
  docs/en/operations/system-tables/asynchronous_metric_log.md
  docs/ru/operations/system-tables/asynchronous_metric_log.md
  docs/zh/operations/system-tables/asynchronous_metric_log.md
Labels: pr-documentation, can be tested

#51893 Update sccache, do not fail on connection error
  docker/test/util/Dockerfile
Labels: pr-build

#51737 Fix: logical error in grace hash join
  src/Interpreters/GraceHashJoin.cpp
  src/Interpreters/GraceHashJoin.h
Labels: pr-not-for-changelog

#51878 Another fix upgrade check script
  docker/test/upgrade/run.sh
Labels: pr-not-for-changelog

#31398 Add Linux RISC-V 64 build to CI
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  cmake/target.cmake
  docker/packager/packager
  tests/ci/ci_config.py
Labels: pr-build

#51906 Add RISC-V 64 to the universal installer
  docs/_includes/install/universal.sh
Labels: pr-documentation

#51360 Initialize text_log earlier to capture table startup messages
  programs/server/Server.cpp
Labels: pr-not-for-changelog

#51135 Try to fix some trash in Disks and part moves
  programs/disks/CommandCopy.cpp
  src/Backups/tests/gtest_backup_entries.cpp
  src/Common/CurrentMetrics.cpp
  src/Common/Exception.cpp
  src/Disks/DiskEncrypted.cpp
  src/Disks/DiskEncrypted.h
  src/Disks/DiskLocal.cpp
  src/Disks/DiskLocal.h
  src/Disks/DiskSelector.cpp
  src/Disks/Executor.h
  src/Disks/IDisk.cpp
  src/Disks/IDisk.h
  src/Disks/ObjectStorages/AzureBlobStorage/registerDiskAzureBlobStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Disks/ObjectStorages/DiskObjectStorageCommon.cpp
  src/Disks/ObjectStorages/DiskObjectStorageRemoteMetadataRestoreHelper.cpp
  src/Disks/ObjectStorages/DiskObjectStorageRemoteMetadataRestoreHelper.h
  src/Disks/ObjectStorages/HDFS/registerDiskHDFS.cpp
  src/Disks/ObjectStorages/Local/registerLocalObjectStorage.cpp
  src/Disks/ObjectStorages/S3/registerDiskS3.cpp
  src/Disks/ObjectStorages/Web/registerDiskWebServer.cpp
  src/Disks/loadLocalDiskConfig.cpp
  src/Disks/tests/gtest_cascade_and_memory_write_buffer.cpp
  src/Disks/tests/gtest_disk.cpp
  src/Disks/tests/gtest_disk_encrypted.cpp
  src/Interpreters/Context.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskBase.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskBase.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/helpers/cluster.py
  tests/integration/test_merge_tree_s3_failover/configs/config.d/storage_conf.xml
  tests/integration/test_merge_tree_s3_failover/test.py
  tests/integration/test_s3_zero_copy_ttl/configs/s3.xml
  tests/integration/test_s3_zero_copy_ttl/test.py
Labels: pr-not-for-changelog

#51653 tests: fix 02050_client_profile_events flakiness
  tests/queries/0_stateless/02050_client_profile_events.sh
Labels: pr-not-for-changelog

#51909 Fix build
  programs/keeper-converter/KeeperConverter.cpp
Labels: pr-not-for-changelog

#51854 fix: correct exception messages on policies comparison
  src/Disks/StoragePolicy.cpp
Labels: pr-not-for-changelog, can be tested

#51519 fix storage policy prompt display error
  src/Disks/StoragePolicy.cpp
Labels: pr-improvement, can be tested

#51601 Fix logical error in ANTI join with NULL
  src/Interpreters/HashJoin.cpp
  tests/queries/0_stateless/02771_semi_join_use_nulls.reference
  tests/queries/0_stateless/02771_semi_join_use_nulls.sql.j2
Labels: pr-bugfix

#51641 Try to fix flaky 02210_processors_profile_log
  tests/queries/0_stateless/02210_processors_profile_log.reference
  tests/queries/0_stateless/02210_processors_profile_log.sql
Labels: pr-not-for-changelog

#51754 Fix test `02789_object_type_invalid_num_of_rows`
  src/Processors/QueryPlan/AggregatingStep.cpp
  tests/queries/0_stateless/02789_object_type_invalid_num_of_rows.reference
  tests/queries/0_stateless/02789_object_type_invalid_num_of_rows.sql
Labels: pr-not-for-changelog

#51755 Fix (benign) data race in `transform`
  src/Columns/ColumnVector.h
  src/Functions/transform.cpp
Labels: pr-not-for-changelog

#51804 Fix reading from empty column in `parseSipHashKey`
  src/Functions/FunctionsHashing.h
  tests/queries/0_stateless/02790_keyed_hash_bug.reference
  tests/queries/0_stateless/02790_keyed_hash_bug.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#51809 Fix rare bug in `DROP COLUMN` and enabled sparse columns
  src/Storages/MergeTree/MutateTask.cpp
Labels: pr-not-for-changelog

#51522 Fix flaky test 00417_kill_query
  tests/queries/0_stateless/00417_kill_query.reference
  tests/queries/0_stateless/00417_kill_query.sh
Labels: pr-not-for-changelog

#51764 Fix flaky KeeperMap test
  tests/integration/parallel_skip.json
Labels: pr-not-for-changelog

#51862 Update 02439_merge_selecting_partitions.sql
  tests/queries/0_stateless/02439_merge_selecting_partitions.reference
  tests/queries/0_stateless/02439_merge_selecting_partitions.sql
Labels: pr-not-for-changelog

#51949 add doc note for MongoDB Atlas
  docs/en/engines/table-engines/integrations/mongodb.md
  docs/en/sql-reference/table-functions/mongodb.md
Labels: pr-documentation, can be tested

#51908 Fix deadlock on DatabaseCatalog shutdown
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
Labels: pr-bugfix, pr-must-backport-cloud

#51925 Another fix for `02481_async_insert_race_long`
  tests/queries/0_stateless/02481_async_insert_race_long.sh
Labels: pr-not-for-changelog

#51917 Revert system drop filesystem cache by key
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskReadBufferFromFile.h
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/FileCacheKey.cpp
  src/Interpreters/Cache/FileCacheKey.h
  src/Interpreters/Cache/Metadata.cpp
  src/Interpreters/Cache/Metadata.h
  src/Interpreters/FilesystemCacheLog.cpp
  src/Interpreters/FilesystemCacheLog.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Parsers/ASTSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  src/Parsers/ParserSystemQuery.cpp
  tests/queries/0_stateless/02808_filesystem_cache_drop_query.reference
  tests/queries/0_stateless/02808_filesystem_cache_drop_query.sh
Labels: pr-not-for-changelog

#51914 Fix flaky test 02360_send_logs_level_colors: avoid usage of `file` tool
  tests/queries/0_stateless/02360_send_logs_level_colors.sh
Labels: pr-not-for-changelog

#51952 fix documentation insconsistency about additional_tables_filter
  docs/en/operations/settings/settings.md
Labels: pr-documentation, can be tested

#51913 Fix flaky test `00175_partition_by_ignore` and move it to correct location
  tests/queries/0_stateless/00175_partition_by_ignore.reference
  tests/queries/0_stateless/00175_partition_by_ignore.sql
Labels: pr-not-for-changelog

#51903 Pin rust nightly (to make it stable)
  docker/packager/binary/Dockerfile
Labels: pr-not-for-changelog

#51905 Allow full range for var-int encoded integers
  src/IO/VarInt.cpp
  src/IO/VarInt.h
  src/Server/TCPHandler.cpp
  tests/queries/0_stateless/02812_large_varints.reference
  tests/queries/0_stateless/02812_large_varints.sql
Labels: pr-improvement

#51842 Remove Coverity from workflows, but leave in the code
  .github/workflows/nightly.yml
Labels: pr-not-for-changelog

#51932 Print short fault info only from safe fields
  src/Daemon/BaseDaemon.cpp
Labels: pr-not-for-changelog

#51931 Fix segfault caused by `ThreadStatus`
  src/Common/ThreadStatus.cpp
Labels: pr-not-for-changelog

#51944 Fix typo in integration tests
  tests/integration/test_s3_zero_copy_replication/test.py
Labels: pr-not-for-changelog

#51920 Fix flaky test `detach_attach_partition_race`
  tests/queries/0_stateless/01164_detach_attach_partition_race.sh
Labels: pr-not-for-changelog

#51863 Remove useless packages
  docker/test/sqllogic/run.sh
  docker/test/stateless/Dockerfile
  docker/test/stress/Dockerfile
  docker/test/upgrade/Dockerfile
  docker/test/util/Dockerfile
  docs/zh/development/build.md
  tests/queries/0_stateless/02439_merge_selecting_partitions.sql
Labels: pr-not-for-changelog

#51867 Fix incorrect log level = warning
  programs/server/Server.cpp
Labels: pr-not-for-changelog

#51868 Fix test_replicated_table_attach
  tests/integration/test_replicated_table_attach/test.py
Labels: pr-not-for-changelog

#51378 Functions `hasToken*` were totally wrong. Add a test for #43358
  src/Common/QueryProfiler.cpp
  src/Common/StringSearcher.h
  src/Common/Volnitsky.h
  src/Functions/HasTokenImpl.h
  src/Functions/hasToken.cpp
  src/Functions/hasTokenCaseInsensitive.cpp
  tests/queries/0_stateless/02809_has_token.reference
  tests/queries/0_stateless/02809_has_token.sql
Labels: pr-bugfix

#51865 Remove useless logs
  src/Interpreters/executeQuery.cpp
Labels: pr-not-for-changelog

#49342 Slight improvement in Disks interface
  src/Disks/DiskEncrypted.cpp
  src/Disks/DiskEncrypted.h
  src/Disks/DiskLocal.cpp
  src/Disks/DiskLocal.h
  src/Disks/IDisk.h
  src/Disks/IVolume.cpp
  src/Disks/IVolume.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Disks/StoragePolicy.cpp
  src/Disks/VolumeJBOD.cpp
  src/Disks/VolumeJBOD.h
  src/Disks/loadLocalDiskConfig.cpp
  src/Functions/filesystem.cpp
  src/Interpreters/ServerAsynchronousMetrics.cpp
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  src/Storages/System/StorageSystemDisks.cpp
Labels: pr-improvement

#51311 Add a test for `calculate_text_stack_trace` setting
  tests/queries/0_stateless/02796_calculate_text_stack_trace.reference
  tests/queries/0_stateless/02796_calculate_text_stack_trace.sql
Labels: pr-not-for-changelog

#51352 Add a test for #42691
  tests/queries/0_stateless/02802_with_cube_with_totals.reference
  tests/queries/0_stateless/02802_with_cube_with_totals.sql
Labels: pr-not-for-changelog

#51965 Correct the example about parametric executable UDFs.
  docs/en/sql-reference/functions/udf.md
Labels: pr-documentation

#51897 Disable ThinLTO on non-Linux
  CMakeLists.txt
Labels: pr-not-for-changelog

#51947 Do not remove inputs after ActionsDAG::merge
  src/Interpreters/ActionsDAG.cpp
  tests/queries/0_stateless/02812_bug_with_unused_join_columns.reference
  tests/queries/0_stateless/02812_bug_with_unused_join_columns.sql
Labels: pr-bugfix

#51869 Better usability of a test
  tests/queries/0_stateless/02125_many_mutations.sh
  tests/queries/0_stateless/02125_many_mutations_2.sh
Labels: pr-not-for-changelog

#51857 remove duplicate condition
  src/Functions/FunctionUnixTimestamp64.h
Labels: pr-performance, can be tested

#51847 Fix segfault when create invalid EmbeddedRocksdb table
  src/Storages/checkAndGetLiteralArgument.cpp
  tests/queries/0_stateless/02811_invalid_embedded_rocksdb_create.reference
  tests/queries/0_stateless/02811_invalid_embedded_rocksdb_create.sql
Labels: pr-bugfix, can be tested

#51640 Ignore APPEND and TRUNCATE modifiers if file does not exist.
  src/Client/ClientBase.cpp
  tests/queries/0_stateless/00415_into_outfile.reference
  tests/queries/0_stateless/00415_into_outfile.sh
Labels: pr-not-for-changelog

#51575 Add retries to 00416_pocopatch_progress_in_http_headers
  tests/queries/0_stateless/00416_pocopatch_progress_in_http_headers.sh
Labels: pr-not-for-changelog

#51549 Don't run 02782_uniq_exact_parallel_merging_bug in parallel with other tests
  tests/queries/0_stateless/02782_uniq_exact_parallel_merging_bug.sh
Labels: pr-not-for-changelog

#51497 Fix possible race on shutdown wait
  programs/keeper/Keeper.cpp
  programs/server/Server.cpp
  src/Server/waitServersToFinish.cpp
  src/Server/waitServersToFinish.h
Labels: pr-not-for-changelog

#51492 Fix Block structure mismatch in Pipe::unitePipes for FINAL
  src/Processors/QueryPlan/PartsSplitter.cpp
  src/Processors/QueryPlan/PartsSplitter.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  tests/queries/0_stateless/01861_explain_pipeline.reference
  tests/queries/0_stateless/02780_final_streams_data_skipping_index.reference
  tests/queries/0_stateless/02791_final_block_structure_mismatch_bug.reference
  tests/queries/0_stateless/02791_final_block_structure_mismatch_bug.sql
Labels: pr-bugfix

#51356 Add a test for #35801
  tests/queries/0_stateless/02807_default_date_time_nullable.reference
  tests/queries/0_stateless/02807_default_date_time_nullable.sql
Labels: pr-not-for-changelog

#51354 Add a test for #32474
  tests/queries/0_stateless/02804_intersect_bad_cast.reference
  tests/queries/0_stateless/02804_intersect_bad_cast.sql
Labels: pr-not-for-changelog

#51458 Merging #36384
  src/Databases/DatabaseOrdinary.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/integration/test_attach_table_normalizer/__init__.py
  tests/integration/test_attach_table_normalizer/test.py
Labels: pr-not-for-changelog

#51922 Fix error in subquery operators
  src/AggregateFunctions/AggregateFunctionMinMaxAny.h
  tests/queries/0_stateless/02812_subquery_operators.reference
  tests/queries/0_stateless/02812_subquery_operators.sql
Labels: pr-bugfix

#51964 Allow parametric UDFs
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  src/Functions/UserDefined/UserDefinedSQLFunctionVisitor.cpp
  src/Interpreters/ActionsVisitor.cpp
  tests/analyzer_tech_debt.txt
  tests/queries/0_stateless/02701_non_parametric_function.reference
  tests/queries/0_stateless/02701_non_parametric_function.sql
Labels: pr-bugfix, pr-must-backport

#51363 Use separate default settings for clickhouse-local
  programs/local/LocalServer.cpp
  src/Core/Settings.h
  src/Storages/StorageFile.cpp
  tests/queries/0_stateless/02497_storage_file_reader_selection.sh
  tests/queries/0_stateless/02800_clickhouse_local_default_settings.reference
  tests/queries/0_stateless/02800_clickhouse_local_default_settings.sh
Labels: pr-not-for-changelog

#46416 Tune allocator
  src/Common/Allocator.cpp
Labels: pr-performance

#51968 Disable one test under Analyzer
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog

#51970 Fix test `01825_type_json_from_map`
  tests/queries/0_stateless/01825_type_json_from_map.sql
Labels: pr-not-for-changelog

#51971 Fix test `02354_distributed_with_external_aggregation_memory_usage`
  tests/queries/0_stateless/02354_distributed_with_external_aggregation_memory_usage.sql
Labels: pr-not-for-changelog

#51967 Allow OOM in AST Fuzzer with Sanitizers
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#51951 Better logs on shutdown
  base/base/getThreadId.cpp
  base/base/getThreadId.h
  src/Daemon/BaseDaemon.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/DatabaseCatalog.cpp
Labels: pr-not-for-changelog

#51966 Fix unrelated messages from LSan in clickhouse-client
  tests/clickhouse-test
Labels: pr-not-for-changelog

#51873 Remove useless code
  src/Access/Common/AccessType.h
  src/Common/SymbolIndex.cpp
  src/Common/SymbolIndex.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  tests/queries/0_stateless/01271_show_privileges.reference
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-not-for-changelog

#51881 Add support for PRIMARY KEY syntax in column definition
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  src/Parsers/ASTColumnDeclaration.cpp
  src/Parsers/ASTColumnDeclaration.h
  src/Parsers/ASTCreateQuery.h
  src/Parsers/ParserCreateQuery.cpp
  src/Parsers/ParserCreateQuery.h
  tests/queries/0_stateless/02811_primary_key_in_columns.reference
  tests/queries/0_stateless/02811_primary_key_in_columns.sql
Labels: pr-feature

#51853 CacheDictionary request only unique keys from source
  src/Dictionaries/CacheDictionary.cpp
Labels: pr-improvement, can be tested

#51969 Fix Docker
  tests/integration/conftest.py
Labels: pr-not-for-changelog

#51171 Decrease default timeouts for S3 and HTTP requests
  docs/en/operations/settings/settings.md
  src/Backups/BackupIO_S3.cpp
  src/Coordination/KeeperSnapshotManagerS3.cpp
  src/Core/Defines.h
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
  src/Disks/ObjectStorages/S3/diskSettings.cpp
  src/IO/S3/Client.cpp
  src/IO/S3/Client.h
  src/IO/S3/tests/gtest_aws_s3_client.cpp
  src/IO/WriteBufferFromS3.cpp
  src/IO/WriteBufferFromS3.h
  src/IO/tests/gtest_writebuffer_s3.cpp
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/Storages/StorageS3Settings.cpp
  src/Storages/StorageS3Settings.h
Labels: pr-improvement

#51545 Fix SIGSEGV for clusters with zero weight across all shards (fixes INSERT INTO FUNCTION clusterAllReplicas())
  src/Interpreters/Cluster.cpp
  src/Interpreters/createBlockSelector.cpp
  tests/queries/0_stateless/02804_clusterAllReplicas_insert.reference
  tests/queries/0_stateless/02804_clusterAllReplicas_insert.sql
Labels: pr-bugfix

#51801 Fix broken parts handling in `ReplicatedMergeTree`
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_projection_report_broken_part/__init__.py
  tests/integration/test_projection_report_broken_part/configs/testkeeper.xml
  tests/integration/test_projection_report_broken_part/test.py
  tests/queries/0_stateless/02254_projection_broken_part.reference
  tests/queries/0_stateless/02254_projection_broken_part.sh
  tests/queries/0_stateless/02255_broken_parts_chain_on_start.reference
  tests/queries/0_stateless/02255_broken_parts_chain_on_start.sh
Labels: pr-not-for-changelog

#49732 Improve reading with prefetch
  src/Common/MemoryTrackerSwitcher.h
  src/Common/PoolBase.h
  src/Common/ProfileEvents.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.cpp
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.h
  src/Disks/ObjectStorages/S3/diskSettings.cpp
  src/IO/HTTPCommon.cpp
  src/IO/HTTPCommon.h
  src/IO/ReadBufferFromS3.cpp
  src/IO/ReadBufferFromS3.h
  src/IO/ReadWriteBufferFromHTTP.cpp
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
  src/IO/S3/SessionAwareIOStream.h
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/AsynchronousInsertQueue.h
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  src/Server/InterserverIOHTTPHandler.cpp
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.cpp
  tests/queries/0_stateless/02789_reading_from_s3_with_connection_pool.reference
  tests/queries/0_stateless/02789_reading_from_s3_with_connection_pool.sh
Labels: pr-performance

#49438 Force libunwind usage (removes gcc_eh support)
  CMakeLists.txt
  cmake/darwin/default_libs.cmake
  cmake/target.cmake
  cmake/unwind.cmake
  contrib/jemalloc-cmake/CMakeLists.txt
  contrib/libcxx-cmake/CMakeLists.txt
  contrib/libcxxabi-cmake/CMakeLists.txt
  docker/test/fasttest/run.sh
  docs/en/development/build-cross-riscv.md
  programs/server/Server.cpp
  src/Common/QueryProfiler.cpp
  src/Common/QueryProfiler.h
  src/Common/StackTrace.cpp
  src/Common/config.h.in
  src/Storages/System/StorageSystemBuildOptions.cpp.in
Labels: pr-not-for-changelog, submodule changed

#51989 Move a test to the right place
  tests/queries/0_stateless/00178_query_datetime64_index.reference
  tests/queries/0_stateless/00178_query_datetime64_index.sql
Labels: pr-not-for-changelog

#51959 Fix some issues with transactions
  src/Storages/MergeTree/IExecutableTask.h
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/MergeFromLogEntryTask.h
  src/Storages/MergeTree/MergePlainMergeTreeTask.cpp
  src/Storages/MergeTree/MergePlainMergeTreeTask.h
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.cpp
  src/Storages/MergeTree/MutateFromLogEntryTask.cpp
  src/Storages/MergeTree/MutateFromLogEntryTask.h
  src/Storages/MergeTree/MutatePlainMergeTreeTask.cpp
  src/Storages/MergeTree/MutatePlainMergeTreeTask.h
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/ReplicatedMergeMutateTaskBase.cpp
  src/Storages/MergeTree/ReplicatedMergeMutateTaskBase.h
  src/Storages/MergeTree/tests/gtest_executor.cpp
  src/Storages/StorageMergeTree.cpp
Labels: pr-not-for-changelog

#50066 Allow geoHashEncode when its arguments are mixed with const and non-const columns
  src/Functions/geohashEncode.cpp
  src/Storages/HDFS/HDFSCommon.cpp
  tests/queries/0_stateless/00932_geohash_support.reference
  tests/queries/0_stateless/00932_geohash_support.sql
Labels: pr-improvement, can be tested

#51802 Fix tsan signal-unsafe call
  src/Daemon/BaseDaemon.cpp
Labels: pr-not-for-changelog

#51710 A cmake warning on job limits underutilizing CPU
  cmake/limit_jobs.cmake
Labels: pr-not-for-changelog, can be tested

#51674 System table with jemalloc stats
  docs/en/operations/system-tables/jemalloc_bins.md
  src/CMakeLists.txt
  src/Storages/System/StorageSystemJemalloc.cpp
  src/Storages/System/StorageSystemJemalloc.h
  src/Storages/System/attachSystemTables.cpp
  tests/queries/0_stateless/02810_system_jemalloc_bins.reference
  tests/queries/0_stateless/02810_system_jemalloc_bins.sql
Labels: pr-feature

#51883 Sqlloogic improvements
  tests/sqllogic/connection.py
Labels: pr-not-for-changelog

#51646 Make common macros extendable
  src/Common/CurrentMetrics.cpp
  src/Common/ErrorCodes.cpp
  src/Common/ProfileEvents.cpp
Labels: pr-not-for-changelog

#51795 Revert "Revert "Merge pull request #50951 from ZhiguoZh/20230607-toyear-fix""
  src/Functions/DateTimeTransforms.h
  src/Functions/FunctionDateOrDateTimeToSomething.h
  src/Functions/IFunction.h
  src/Functions/IFunctionAdaptors.h
  src/Interpreters/OptimizeDateOrDateTimeConverterWithPreimageVisitor.cpp
  src/Interpreters/OptimizeDateOrDateTimeConverterWithPreimageVisitor.h
  src/Interpreters/TreeOptimizer.cpp
  tests/queries/0_stateless/02783_date_predicate_optimizations.reference
  tests/queries/0_stateless/02783_date_predicate_optimizations.sql
  tests/queries/0_stateless/02785_date_predicate_optimizations_ast_rewrite.reference
  tests/queries/0_stateless/02785_date_predicate_optimizations_ast_rewrite.sql
Labels: pr-improvement

#51993 Cleanup SymbolIndex after reload got removed
  src/Common/StackTrace.cpp
  src/Common/SymbolIndex.cpp
  src/Common/SymbolIndex.h
  src/Common/examples/symbol_index.cpp
  src/Common/getResource.cpp
  src/Daemon/BaseDaemon.cpp
  src/Daemon/SentryWriter.cpp
  src/Functions/addressToLine.h
  src/Functions/addressToSymbol.cpp
  src/Functions/serverConstants.cpp
  src/Interpreters/CrashLog.cpp
Labels: pr-not-for-changelog

#51990 Add a check to validate that the stateful tests are stateful
  utils/check-style/check-style
Labels: pr-not-for-changelog

#51305 Add a test for #44816
  tests/queries/0_stateless/02793_implicit_pretty_format_settings.expect
  tests/queries/0_stateless/02793_implicit_pretty_format_settings.reference
Labels: pr-not-for-changelog

#51996 [DOCS] Add REMOVE SAMPLE BY to docs
  docs/en/sql-reference/statements/alter/sample-by.md
Labels: pr-documentation, can be tested

#51320 decrease log level, make logs shorter
  src/Common/LoggingFormatStringHelpers.cpp
  src/Common/LoggingFormatStringHelpers.h
  src/Common/logger_useful.h
  src/IO/WriteBufferFromS3.cpp
  src/IO/WriteBufferFromS3.h
  src/IO/WriteBufferFromS3TaskTracker.cpp
  src/IO/WriteBufferFromS3TaskTracker.h
  src/IO/tests/gtest_writebuffer_s3.cpp
  tests/queries/0_stateless/02720_s3_strict_upload_part_size.reference
  tests/queries/0_stateless/02720_s3_strict_upload_part_size.sh
Labels: pr-not-for-changelog

#51273 Added input_format_csv_allow_variable_number_of_columns options
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings-formats.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/settings/settings.md
  src/Core/Settings.h
  src/Dictionaries/CacheDictionary.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  src/Processors/Formats/Impl/CSVRowInputFormat.h
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.cpp
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.h
  tests/queries/0_stateless/00301_csv.reference
  tests/queries/0_stateless/00301_csv.sh
Labels: pr-feature, can be tested
