Repository ClickHouse/ClickHouse, pull requests merged in 2023-01, with the labels that each got.

#44812 Remove the remainings of TestFlows
  docker/test/testflows/runner/Dockerfile
  docker/test/testflows/runner/dockerd-entrypoint.sh
  docker/test/testflows/runner/modprobe.sh
  docker/test/testflows/runner/process_testflows_result.py
Labels: pr-not-for-changelog

#44813 Fix `grep`
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#44818 Fix bad cast in monotonicity analysis
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/02519_monotonicity_fuzz.reference
  tests/queries/0_stateless/02519_monotonicity_fuzz.sql
Labels: pr-not-for-changelog

#44821 Fix data race in DDLWorker
  src/Interpreters/DDLTask.cpp
  src/Interpreters/DDLWorker.cpp
Labels: pr-not-for-changelog

#44822 Fix tests for bridges
  tests/integration/test_library_bridge/test.py
  tests/integration/test_odbc_interaction/test.py
Labels: pr-not-for-changelog

#44823 Fix flaky test_multiple_disks::test_jbod_overflow
  tests/integration/test_multiple_disks/test.py
Labels: pr-not-for-changelog

#44827 Update LICENSE
  LICENSE
Labels: pr-documentation

#44826 Fix two typos
  docker/test/stateless/setup_minio.sh
Labels: pr-not-for-changelog

#44829 Adjust CSS
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#43818 Add new functions to format datetime in joda datetime style
  docs/en/sql-reference/functions/date-time-functions.md
  src/Functions/formatDateTime.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02496_format_datetime_in_joda_syntax.reference
  tests/queries/0_stateless/02496_format_datetime_in_joda_syntax.sql
  tests/queries/0_stateless/02496_from_unixtime_in_joda_syntax.reference
  tests/queries/0_stateless/02496_from_unixtime_in_joda_syntax.sql
Labels: pr-feature, can be tested, pr-performance-tests

#44833 check-style: check base for std::cerr/cout too
  utils/check-style/check-style
Labels: pr-not-for-changelog

#44527 Fixed minor errors in functions docs
  src/Functions/randDistribution.cpp
Labels: pr-documentation, can be tested

#44521 Introduce groupArrayLast() (useful to store last X values)
  docs/en/sql-reference/aggregate-functions/reference/grouparraylast.md
  docs/en/sql-reference/aggregate-functions/reference/index.md
  src/AggregateFunctions/AggregateFunctionGroupArray.cpp
  src/AggregateFunctions/AggregateFunctionGroupArray.h
  src/DataTypes/DataTypeCustomSimpleAggregateFunction.cpp
  tests/queries/0_stateless/02520_group_array_last.reference
  tests/queries/0_stateless/02520_group_array_last.sql
Labels: pr-not-for-changelog

#44838 Escape submodules in style-check
  utils/check-style/check-submodules
Labels: do not test, pr-not-for-changelog

#44836 Exclude cargo shared libraries from the artifacts
  docker/packager/binary/build.sh
Labels: pr-not-for-changelog

#44825 Fix misleading integration tests reports for parametrized tests
  tests/integration/ci-runner.py
Labels: pr-not-for-changelog

#44446 Respect setting settings.schema_inference_make_columns_nullable in Parquet/ORC/Arrow formats
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  tests/queries/0_stateless/02513_parquet_orc_arrow_nullable_schema_inference.reference
  tests/queries/0_stateless/02513_parquet_orc_arrow_nullable_schema_inference.sh
Labels: pr-not-for-changelog

#44657 Enable input_format_json_read_objects_as_strings by default
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  tests/queries/0_stateless/02416_json_object_inference.sql
Labels: pr-improvement

#44834 Try fixing `test_keeper_snapshot_small_distance` with ZK restart
  tests/integration/test_keeper_snapshot_small_distance/test.py
Labels: pr-not-for-changelog

#44116 Provide monotonicity info for `toUnixTimestamp64*`
  src/Functions/FunctionUnixTimestamp64.h
  tests/queries/0_stateless/02499_monotonicity_toUnixTimestamp64.reference
  tests/queries/0_stateless/02499_monotonicity_toUnixTimestamp64.sh
Labels: pr-not-for-changelog

#44841 Remove unneeded softlink to official dev docs
  tests/instructions/developer_instruction_en.md
  tests/instructions/developer_instruction_ru.md
Labels: pr-not-for-changelog

#44461 Add part removal limit for one CleanupThread iteration
  docs/en/operations/settings/merge-tree-settings.md
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
Labels: pr-improvement

#44651 fix bug that async blocks cleanup not work
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.h
  tests/queries/0_stateless/02515_cleanup_async_insert_block_ids.reference
  tests/queries/0_stateless/02515_cleanup_async_insert_block_ids.sh
Labels: pr-bugfix

#44842 Fix data race in StorageS3
  src/Storages/StorageS3.cpp
Labels: pr-not-for-changelog

#44854 Document usage of check_cxx_source_compiles instead of check_cxx_source_runs
  cmake/cpu_features.cmake
Labels: pr-not-for-changelog

#44421 Revert revert of age function
  docs/en/sql-reference/functions/date-time-functions.md
  docs/ru/sql-reference/functions/date-time-functions.md
  src/Common/DateLUTImpl.h
  src/Common/LocalDateTime.h
  src/Functions/DateTimeTransforms.h
  src/Functions/TransformDateTime64.h
  src/Functions/dateDiff.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02477_age.reference
  tests/queries/0_stateless/02477_age.sql
  tests/queries/0_stateless/02477_age_date32.reference
  tests/queries/0_stateless/02477_age_date32.sql
  tests/queries/0_stateless/02477_age_datetime64.reference
  tests/queries/0_stateless/02477_age_datetime64.sql
  tests/queries/0_stateless/02513_broken_datetime64_init_on_mac.reference
  tests/queries/0_stateless/02513_broken_datetime64_init_on_mac.sql
Labels: pr-feature, can be tested

#44859 Wait for ZK process to stop in tests using snapshot
  tests/integration/test_keeper_snapshot_small_distance/test.py
  tests/integration/test_keeper_zookeeper_converter/test.py
Labels: pr-not-for-changelog

#44850 Save context created from projection analysis.
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/SelectQueryInfo.h
  tests/queries/0_stateless/02516_projections_and_context.reference
  tests/queries/0_stateless/02516_projections_and_context.sql
Labels: pr-bugfix

#44858 Cleanup setup_minio.sh
  docker/test/stateless/setup_minio.sh
Labels: pr-not-for-changelog, can be tested

#44851 No more retries in integration tests
  tests/integration/ci-runner.py
Labels: pr-not-for-changelog

#44830 Fix fuzzer report
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/02519_monotonicity_fuzz.reference
  tests/queries/0_stateless/02519_monotonicity_fuzz.sql
Labels: pr-not-for-changelog

#44760 Apply type conversions for totals and extrems in RemoteQueryExecutor.
  src/QueryPipeline/RemoteQueryExecutor.cpp
  tests/queries/0_stateless/02517_wrong_total_structure_crash.reference
  tests/queries/0_stateless/02517_wrong_total_structure_crash.sql
Labels: pr-bugfix

#44855 More cases of OOM in Fuzzer
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#44824 Less OOM in stress test
  docker/test/stress/run.sh
  programs/server/Server.cpp
  programs/server/config.xml
  src/Daemon/BaseDaemon.cpp
Labels: pr-not-for-changelog

#44711 Improve some integration tests and add pytest-random
  docker/test/integration/runner/Dockerfile
  tests/integration/runner
  tests/integration/test_grpc_protocol/test.py
  tests/integration/test_grpc_protocol_ssl/test.py
  tests/integration/test_odbc_interaction/test.py
Labels: pr-build

#44874 Do not throw DB::Exception when folders do not exist
  src/Common/filesystemHelpers.cpp
  src/Databases/DatabaseOnDisk.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-improvement

#44828 What if I will remove two lines of code?
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  CMakeLists.txt
  base/base/CMakeLists.txt
  base/glibc-compatibility/CMakeLists.txt
  cmake/sanitize.cmake
  contrib/arrow-cmake/CMakeLists.txt
  contrib/boringssl-cmake/CMakeLists.txt
  contrib/c-ares-cmake/CMakeLists.txt
  contrib/libuv-cmake/CMakeLists.txt
  contrib/llvm-project-cmake/CMakeLists.txt
  contrib/sentry-native-cmake/CMakeLists.txt
  docker/images.json
  docker/packager/binary/build.sh
  docker/packager/packager
  docker/test/split_build_smoke_test/Dockerfile
  docker/test/split_build_smoke_test/process_split_build_smoke_test_result.py
  docker/test/split_build_smoke_test/run.sh
  docs/en/development/continuous-integration.md
  docs/ru/development/developer-instruction.md
  docs/zh/development/continuous-integration.md
  programs/CMakeLists.txt
  programs/benchmark/CMakeLists.txt
  programs/clickhouse-split-helper
  programs/local/CMakeLists.txt
  programs/main.cpp
  rust/skim/CMakeLists.txt
  src/CMakeLists.txt
  src/Common/remapExecutable.cpp
  src/Daemon/CMakeLists.txt
  src/Functions/CMakeLists.txt
  src/Storages/System/StorageSystemBuildOptions.cpp.in
  tests/ci/build_check.py
  tests/ci/build_download_helper.py
  tests/ci/build_report_check.py
  tests/ci/ci_config.py
  tests/ci/split_build_smoke_check.py
  tests/ci/tests/docker_images.json
  tests/clickhouse-test
  tests/integration/CMakeLists.txt
  utils/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#44873 Fix flaky test `02503_insert_storage_snapshot`
  tests/queries/0_stateless/02503_insert_storage_snapshot.reference
  tests/queries/0_stateless/02503_insert_storage_snapshot.sh
Labels: pr-not-for-changelog

#44870 Fix flaky test and several typos
  src/Compression/tests/gtest_compressionCodec.cpp
  src/Functions/FunctionsMiscellaneous.h
  src/Functions/PerformanceAdaptors.h
  src/Functions/rowNumberInAllBlocks.cpp
  src/Functions/runningAccumulate.cpp
  src/Functions/runningDifference.h
  tests/queries/0_stateless/01459_manual_write_to_replicas_quorum_detach_attach.sh
Labels: pr-not-for-changelog

#44737 Perf test: Log the time spent waiting for file sync
  docker/test/performance-comparison/perf.py
Labels: pr-not-for-changelog

#44857 Try to fix MSan build
  src/Dictionaries/RangeHashedDictionary.cpp
  src/Dictionaries/RangeHashedDictionary.h
  src/Dictionaries/registerRangeHashedDictionary.cpp
  src/Functions/FunctionsHashing.cpp
  src/Functions/FunctionsHashingSSL.cpp
Labels: pr-not-for-changelog

#44890 Fix "AttributeError: 'BuildResult' object has no attribute 'libraries'" in BuilderReport and BuilderSpecialReport
  tests/ci/report.py
Labels: pr-not-for-changelog

#44888 Store ZK generated data in `test_keeper_snapshot_small_distance`
  tests/integration/test_keeper_snapshot_small_distance/test.py
Labels: pr-not-for-changelog

#44533 Allow macro substitution in endpoint of disks  
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperDispatcher.h
  src/Coordination/KeeperSnapshotManagerS3.cpp
  src/Coordination/KeeperSnapshotManagerS3.h
  src/Coordination/TinyContext.cpp
  src/Disks/ObjectStorages/HDFS/registerDiskHDFS.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/diskSettings.cpp
  src/Disks/ObjectStorages/S3/registerDiskS3.cpp
  src/Disks/ObjectStorages/Web/registerDiskWebServer.cpp
  src/Interpreters/Context.cpp
  tests/integration/test_endpoint_macro_substitution/__init__.py
  tests/integration/test_endpoint_macro_substitution/configs/config.xml
  tests/integration/test_endpoint_macro_substitution/configs/macros.xml
  tests/integration/test_endpoint_macro_substitution/configs/storage.xml
  tests/integration/test_endpoint_macro_substitution/configs/users.xml
  tests/integration/test_endpoint_macro_substitution/test.py
Labels: pr-improvement

#44871 Upload status files to S3 report for bugfix check
  .github/workflows/pull_request.yml
  tests/ci/bugfix_validate_check.py
  tests/ci/functional_test_check.py
  tests/ci/integration_test_check.py
Labels: pr-not-for-changelog

#44881 Fix ConcurrentBoundedQueue::emplace() return value in case of finished queue
  src/Common/ConcurrentBoundedQueue.h
Labels: pr-not-for-changelog

#44899 add command summary
  docs/en/operations/backup.md
Labels: pr-documentation, can be tested

#44832 Fix output_format_pretty_row_numbers does not preserve the counter across the blocks
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettyCompactBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettySpaceBlockOutputFormat.cpp
  tests/queries/0_stateless/01509_output_format_pretty_row_numbers.reference
  tests/queries/0_stateless/01509_output_format_pretty_row_numbers.sql
Labels: pr-not-for-changelog

#44876 Revert some changes from #42777 to fix performance tests
  src/Processors/Formats/Impl/CSVRowOutputFormat.cpp
  src/Processors/Formats/Impl/CSVRowOutputFormat.h
  src/Processors/Formats/Impl/JSONCompactEachRowRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONCompactEachRowRowOutputFormat.h
  src/Processors/Formats/Impl/JSONEachRowRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONEachRowWithProgressRowOutputFormat.cpp
  src/Processors/Formats/Impl/MarkdownRowOutputFormat.cpp
  src/Processors/Formats/Impl/MarkdownRowOutputFormat.h
  src/Processors/Formats/Impl/SQLInsertRowOutputFormat.cpp
  src/Processors/Formats/Impl/TSKVRowOutputFormat.cpp
  src/Processors/Formats/Impl/TSKVRowOutputFormat.h
  src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.h
  src/Processors/Formats/Impl/XMLRowOutputFormat.cpp
  src/Processors/Formats/Impl/XMLRowOutputFormat.h
  tests/queries/0_stateless/00966_live_view_watch_events_http.py
  tests/queries/0_stateless/00967_live_view_watch_http.py
  tests/queries/0_stateless/01246_insert_into_watch_live_view.py
  tests/queries/0_stateless/01249_flush_interactive.sh
  tests/queries/0_stateless/01553_settings_early_apply.reference
Labels: pr-not-for-changelog

#44501 Validate data types according to settings.
  src/DataTypes/DataTypeFixedString.h
  src/Formats/EscapingRuleUtils.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Formats/SchemaInferenceUtils.cpp
  src/Functions/CastOverloadResolver.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/parseColumnsListForTableFunction.cpp
  src/Interpreters/parseColumnsListForTableFunction.h
  src/Processors/Formats/Impl/JSONAsStringRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONAsStringRowInputFormat.h
  tests/queries/0_stateless/01543_avro_deserialization_with_lc.sh
  tests/queries/0_stateless/01825_type_json_multiple_files.sh
  tests/queries/0_stateless/01825_type_json_order_by.sql
  tests/queries/0_stateless/02049_lowcardinality_shortcircuit_crash.sql
  tests/queries/0_stateless/02119_sumcount.sql
  tests/queries/0_stateless/02166_arrow_dictionary_inference.sh
  tests/queries/0_stateless/02513_validate_data_types.reference
  tests/queries/0_stateless/02513_validate_data_types.sql
Labels: pr-bugfix

#44697 Use TablesDependencyGraph in DatabaseReplicated recovery process
  src/Databases/DatabaseReplicated.cpp
  tests/integration/test_replicated_database/test.py
Labels: pr-improvement

#44898 Try to fix flaky `test_storage_kafka::test_kafka_produce_key_timestamp`
  tests/integration/test_storage_kafka/test.py
Labels: pr-not-for-changelog

#44135 Improve support for PROXYv1 protocol.
  src/Access/AccessControl.cpp
  src/Interpreters/ClientInfo.h
  src/Server/HTTP/HTTPServerConnection.cpp
  src/Server/HTTP/HTTPServerConnection.h
  src/Server/HTTP/HTTPServerConnectionFactory.cpp
  src/Server/HTTP/HTTPServerConnectionFactory.h
  src/Server/HTTPHandler.cpp
  src/Server/ProxyV1Handler.cpp
  src/Server/ProxyV1Handler.h
  src/Server/TCPHandler.cpp
  tests/integration/test_composable_protocols/configs/config.xml
  tests/integration/test_composable_protocols/configs/users.xml
  tests/integration/test_composable_protocols/test.py
Labels: pr-improvement

#44650 add note for Cloud users
  docs/en/engines/table-engines/mergetree-family/replication.md
Labels: pr-documentation, can be tested

#44913 add example with file globbing
  docs/en/sql-reference/statements/insert-into.md
Labels: pr-documentation, can be tested

#44919 revert doc removal
  docs/en/sql-reference/functions/geo/h3.md
Labels: pr-documentation, can be tested

#44665 fix table ttl doc example
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/ru/engines/table-engines/mergetree-family/mergetree.md
  docs/zh/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation, can be tested

#44906 add toUUIDOrDefault docs
  docs/en/sql-reference/functions/type-conversion-functions.md
  docs/en/sql-reference/functions/uuid-functions.md
Labels: pr-documentation, can be tested

#44896 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: pr-documentation, can be tested

#44908 Avoid Keeper crash on shutdown (fix `test_keeper_snapshot_on_exit`)
  src/Coordination/KeeperStateMachine.cpp
Labels: pr-not-for-changelog

#44921 Fix flaky test `test_lost_part`
  tests/integration/test_lost_part/test.py
Labels: pr-not-for-changelog

#44897 Try fix rabbitmq potential leak
  src/Storages/RabbitMQ/RabbitMQConnection.h
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/UVLoop.h
Labels: pr-not-for-changelog

#44479 More robust ASTSelectQuery::formatImpl()
  docs/en/development/tests.md
  src/Parsers/ASTSelectQuery.cpp
Labels: pr-bugfix

#44880 Rewrite test_postgres_protocol test
  tests/integration/helpers/cluster.py
  tests/integration/test_postgresql_protocol/queries/query1.sql
  tests/integration/test_postgresql_protocol/queries/query2.sql
  tests/integration/test_postgresql_protocol/queries/query3.sql
  tests/integration/test_postgresql_protocol/queries/query4.sql
  tests/integration/test_postgresql_protocol/test.py
Labels: pr-not-for-changelog

#44895 Ignore hwmon sensors on label read issues
  src/Common/AsynchronousMetrics.cpp
Labels: pr-bugfix

#44848 Pre-pulling images for integration tests to detect broken infrastructure earlier
  docker/test/integration/runner/compose/docker_compose_clickhouse.yml
  docker/test/integration/runner/compose/docker_compose_hdfs.yml
  docker/test/integration/runner/compose/docker_compose_kafka.yml
  docker/test/integration/runner/compose/docker_compose_kerberized_hdfs.yml
  docker/test/integration/runner/compose/docker_compose_kerberized_kafka.yml
  docker/test/integration/runner/compose/docker_compose_meili.yml
  docker/test/integration/runner/compose/docker_compose_minio.yml
  docker/test/integration/runner/compose/docker_compose_mongo.yml
  docker/test/integration/runner/compose/docker_compose_mongo_secure.yml
  docker/test/integration/runner/compose/docker_compose_mysql.yml
  docker/test/integration/runner/compose/docker_compose_mysql_5_7_for_materialized_mysql.yml
  docker/test/integration/runner/compose/docker_compose_mysql_8_0.yml
  docker/test/integration/runner/compose/docker_compose_mysql_cluster.yml
  docker/test/integration/runner/compose/docker_compose_nats.yml
  docker/test/integration/runner/compose/docker_compose_postgres.yml
  docker/test/integration/runner/compose/docker_compose_postgres_cluster.yml
  docker/test/integration/runner/compose/docker_compose_rabbitmq.yml
  docker/test/integration/runner/compose/docker_compose_redis.yml
  tests/ci/integration_test_check.py
  tests/integration/ci-runner.py
  tests/integration/runner
Labels: pr-build

#44943 updater positiveModulo docs
  docs/en/sql-reference/functions/arithmetic-functions.md
Labels: pr-documentation, can be tested

#44941 add additional table filters setting
  docs/en/operations/settings/settings.md
Labels: pr-documentation, can be tested

#44945 add toLastDayOfMonth to docs
  docs/en/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#44520 Add the lambda to collect data for workflow_jobs
  tests/ci/workflow_jobs_lambda/app.py
  tests/ci/workflow_jobs_lambda/build_and_deploy_archive.sh
  tests/ci/workflow_jobs_lambda/requirements.txt
Labels: do not test, pr-not-for-changelog

#44916 Fast fix: force upper bound for time to delay INSERT
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-bugfix

#44903 Fix flaky `test_concurrent_queries_restriction_by_query_kind`
  tests/integration/test_concurrent_queries_restriction_by_query_kind/test.py
Labels: pr-not-for-changelog

#44947 Change error code on invalid background_pool_size config
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.h
Labels: pr-not-for-changelog

#44886 fix-typo
  src/Interpreters/replaceForPositionalArguments.cpp
Labels: pr-not-for-changelog, can be tested

#44957 Up the log level of tables dependencies graphs
  src/Databases/TablesDependencyGraph.cpp
Labels: pr-not-for-changelog

#44956 Do not check read result consistency when unwinding
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
Labels: pr-not-for-changelog

#44938 Stop merges to avoid a race between merge and freeze.
  tests/integration/test_multiple_disks/test.py
Labels: pr-not-for-changelog

#44920 Respect requested columns order for select.
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectWithUnionQuery.cpp
  tests/queries/0_stateless/02517_union_columns_order.reference
  tests/queries/0_stateless/02517_union_columns_order.sql
Labels: pr-bugfix

#44977 Docs: Mention non-standard DOTALL behavior of ClickHouse's match()
  docs/en/sql-reference/functions/string-search-functions.md
Labels: pr-not-for-changelog

#44875 Fix right offset for reading LowCardinality dictionary from remote fs
  src/Formats/MarkInCompressedFile.h
  src/Storages/MergeTree/MergeTreeReaderStream.cpp
  src/Storages/MergeTree/MergeTreeReaderStream.h
  tests/integration/test_s3_low_cardinality_right_border/test.py
Labels: pr-bugfix

#44987 Fix check for not existing input in ActionsDAG
  src/Interpreters/ActionsDAG.cpp
  tests/queries/0_stateless/02521_cannot-find-column-in-projection.reference
  tests/queries/0_stateless/02521_cannot-find-column-in-projection.sql
Labels: pr-not-for-changelog

#44541 Followup #43761
  src/AggregateFunctions/AggregateFunctionMap.h
  src/AggregateFunctions/AggregateFunctionOrFill.h
  src/AggregateFunctions/AggregateFunctionSumMap.h
  src/AggregateFunctions/IAggregateFunction.h
  src/Analyzer/FunctionNode.cpp
  src/Analyzer/FunctionNode.h
  src/Analyzer/Passes/CustomizeFunctionsPass.cpp
  src/Analyzer/Passes/FunctionToSubcolumnsPass.cpp
  src/Analyzer/Passes/FuseFunctionsPass.cpp
  src/Analyzer/Passes/IfChainToMultiIfPass.cpp
  src/Analyzer/Passes/IfTransformStringsToEnumPass.cpp
  src/Analyzer/Passes/MultiIfToIfPass.cpp
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  src/Analyzer/Passes/SumIfToCountIfPass.cpp
  src/Analyzer/Passes/UniqInjectiveFunctionsEliminationPass.cpp
  src/Analyzer/QueryTreePassManager.cpp
  src/Core/IResolvedFunction.h
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Planner/Planner.cpp
  src/Storages/MergeTree/KeyCondition.cpp
Labels: pr-not-for-changelog

#44983 Check what if disable some checks in storage Merge.
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMerge.h
  tests/queries/0_stateless/02522_different_types_in_storage_merge.reference
  tests/queries/0_stateless/02522_different_types_in_storage_merge.sql
Labels: pr-not-for-changelog

#44986 Add docs for #43308
  docs/en/operations/system-tables/data_skipping_indices.md
Labels: pr-documentation

#45001 Improve S3 EC2 metadata tests
  tests/integration/helpers/mock_servers.py
  tests/integration/test_merge_tree_s3/test.py
  tests/integration/test_s3_ec2_metadata/ec2_metadata_server/request_response_server.py
  tests/integration/test_s3_ec2_metadata/test.py
  tests/integration/test_s3_imds/__init__.py
  tests/integration/test_s3_imds/configs/use_environment_credentials.xml
  tests/integration/test_s3_imds/metadata_servers/server_with_session_tokens.py
  tests/integration/test_s3_imds/metadata_servers/simple_server.py
  tests/integration/test_s3_imds/test_session_token.py
  tests/integration/test_s3_imds/test_simple.py
  tests/integration/test_storage_s3/test.py
Labels: pr-not-for-changelog

#45003 Fix minmax_count_projection with _partition_value
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/01848_partition_value_column.sql
Labels: pr-not-for-changelog

#44996 Fix test test_grpc_protocol/test.py::test_progress
  tests/integration/test_grpc_protocol/test.py
Labels: pr-not-for-changelog

#44978 tests: fix test_replicated_users flakiness
  tests/integration/helpers/cluster.py
  tests/integration/test_replicated_users/test.py
Labels: pr-not-for-changelog

#45006 Fix strange trash in Fuzzer
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#45012 Recognize more ok cases for Fuzzer
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#45009 Fix `01961_roaring_memory_tracking` test, again
  tests/queries/0_stateless/01961_roaring_memory_tracking.sql
Labels: pr-not-for-changelog

#45002 Update graphitemergetree.md
  docs/en/engines/table-engines/mergetree-family/graphitemergetree.md
Labels: pr-documentation

#45017 test for #20098
  tests/queries/0_stateless/02184_ipv6_select_parsing.reference
  tests/queries/0_stateless/02184_ipv6_select_parsing.sql
Labels: pr-not-for-changelog

#45022 Enable the check that was commented
  utils/check-style/check-style
Labels: pr-not-for-changelog

#45005 clarify date sub docs
  docs/en/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#45004 move persistence setting docs
  docs/en/engines/table-engines/special/join.md
  docs/en/engines/table-engines/special/set.md
  docs/en/operations/settings/settings.md
Labels: pr-documentation, can be tested

#45021 Remove the remainings of Testflows (2).
  docker/images.json
  docs/en/development/continuous-integration.md
  docs/en/development/tests.md
  docs/zh/development/continuous-integration.md
  docs/zh/development/tests.md
  tests/ci/tests/docker_images.json
Labels: pr-not-for-changelog

#45011 Remove the dependency on `adduser`
  docker/test/integration/runner/Dockerfile
  packages/clickhouse-keeper.yaml
  packages/clickhouse-server.yaml
Labels: pr-build

#45024 Fix cutIPv6 function and IPv4 hashing
  src/Functions/FunctionsCodingIP.cpp
  src/Functions/FunctionsHashing.h
Labels: pr-bugfix

#45025 Fix false positive in Fuzzer
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#44961 Hipster's HTML
  tests/ci/report.py
Labels: pr-not-for-changelog

#45026 Fix false positive in Fuzzer, alternative variant
  docker/test/fuzzer/query-fuzzer-tweaks-users.xml
Labels: pr-not-for-changelog

#45018 test for #26473
  tests/queries/0_stateless/02184_ipv6_cast_test.reference
  tests/queries/0_stateless/02184_ipv6_cast_test.sql
Labels: pr-not-for-changelog

#45016 Add snapshot creation retry in Keeper tests using ZooKeeper
  tests/integration/test_keeper_snapshot_small_distance/test.py
  tests/integration/test_keeper_zookeeper_converter/test.py
Labels: pr-not-for-changelog

#45030 Fix function `range` (the bug was unreleased)
  src/Functions/array/range.cpp
  tests/queries/0_stateless/02523_range_const_start.reference
  tests/queries/0_stateless/02523_range_const_start.sql
Labels: pr-not-for-changelog

#45032 Fix OOM in Fuzzer
  docker/test/fuzzer/query-fuzzer-tweaks-users.xml
Labels: pr-not-for-changelog

#44819 Modern tools, part 1
  docker/test/base/Dockerfile
  docker/test/fuzzer/run-fuzzer.sh
  docker/test/integration/base/Dockerfile
  docker/test/integration/runner/modprobe.sh
  docker/test/performance-comparison/Dockerfile
  docker/test/performance-comparison/compare.sh
  docker/test/stateful/run.sh
  docker/test/stateless/run.sh
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#45036 Fix typos
  tests/ci/docker_images_check.py
  tests/ci/docker_manifests_merge.py
  tests/integration/helpers/network.py
  tests/integration/test_distributed_ddl/test.py
  tests/queries/0_stateless/00612_pk_in_tuple.sql
Labels: pr-not-for-changelog

#45034 Add a test for #31361
  tests/queries/0_stateless/02524_fuzz_and_fuss.reference
  tests/queries/0_stateless/02524_fuzz_and_fuss.sql
Labels: pr-not-for-changelog

#45035 Add a test for #38729
  tests/queries/0_stateless/02524_fuzz_and_fuss_2.reference
  tests/queries/0_stateless/02524_fuzz_and_fuss_2.sql
Labels: pr-not-for-changelog

#45037 I didn't understand the logic of this test, @azat
  tests/queries/0_stateless/01810_max_part_removal_threads_long.sh
Labels: pr-not-for-changelog

#45033 Less OOM in Stress test
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#45042 Fix flaky test (hilarious)
  tests/queries/0_stateless/01622_codec_zstd_long.sql
Labels: pr-not-for-changelog

#45046 Non significant changes
  src/Processors/QueryPlan/ReadFromRemote.cpp
Labels: pr-not-for-changelog

#45050 Don't fix parallel formatting
  src/Formats/FormatFactory.cpp
  src/Processors/Formats/Impl/ParallelFormattingOutputFormat.h
Labels: pr-not-for-changelog

#45049 wrong text
  docs/ru/faq/operations/production.md
Labels: pr-documentation, can be tested

#44716 Fix bug with wrong type in Merge table and PREWHERE
  src/Storages/StorageMerge.cpp
  tests/queries/0_stateless/02518_merge_engine_nullable_43324.reference
  tests/queries/0_stateless/02518_merge_engine_nullable_43324.sql
Labels: pr-bugfix

#44698 Support Bool type in Arrow/Parquet/ORC
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  src/Processors/Formats/Impl/ORCBlockOutputFormat.cpp
  tests/queries/0_stateless/02381_arrow_dict_to_lc.reference
  tests/queries/0_stateless/02518_parquet_arrow_orc_boolean_value.reference
  tests/queries/0_stateless/02518_parquet_arrow_orc_boolean_value.sh
Labels: pr-improvement

#44707 S3 support upload object using storage class INTELLIGENT_TIERING
  src/IO/WriteBufferFromS3.cpp
  src/Storages/StorageS3Settings.cpp
  src/Storages/StorageS3Settings.h
  tests/integration/test_s3_storage_class/__init__.py
  tests/integration/test_s3_storage_class/configs/config.d/minio.xml
  tests/integration/test_s3_storage_class/test.py
Labels: pr-feature, can be tested

#44955 Parallel distributed insert select with s3Cluster [3]
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Storages/HDFS/StorageHDFSCluster.cpp
  src/Storages/HDFS/StorageHDFSCluster.h
  src/Storages/IStorageCluster.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  src/Storages/StorageS3Cluster.cpp
  src/Storages/StorageS3Cluster.h
  tests/integration/runner
  tests/integration/test_s3_cluster/configs/cluster.xml
  tests/integration/test_s3_cluster/test.py
Labels: pr-not-for-changelog

#44455 Apply preallocation optimisation more carefully
  src/Interpreters/Aggregator.cpp
  tests/performance/hash_table_sizes_stats_small.xml
  tests/queries/0_stateless/02151_hash_table_sizes_stats.sh
  tests/queries/0_stateless/02151_hash_table_sizes_stats_distributed.sh
Labels: pr-performance

#44868 Small perf improvement for async buffer from remote
  src/Common/ElapsedTimeProfileEventIncrement.h
  src/Common/ProfileEvents.cpp
  src/Disks/IO/AsynchronousReadIndirectBufferFromRemoteFS.cpp
  src/Disks/IO/ThreadPoolRemoteFSReader.cpp
  src/Disks/IO/ThreadPoolRemoteFSReader.h
  src/IO/AsynchronousReadBufferFromFileDescriptor.cpp
  src/IO/AsynchronousReader.h
  src/Interpreters/threadPoolCallbackRunner.h
  src/Storages/HDFS/AsynchronousReadBufferFromHDFS.cpp
Labels: pr-performance

#44718 Make lightweight deletes always synchronous
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Interpreters/InterpreterDeleteQuery.cpp
  src/Storages/IStorage.h
  src/Storages/RocksDB/StorageEmbeddedRocksDB.cpp
  src/Storages/RocksDB/StorageEmbeddedRocksDB.h
  src/Storages/StorageJoin.cpp
  src/Storages/StorageJoin.h
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMaterializedView.h
  src/Storages/StorageMemory.cpp
  src/Storages/StorageMemory.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageProxy.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/02319_lightweight_delete_on_merge_tree.sql
  tests/queries/0_stateless/02319_lightweight_delete_on_merge_tree_compact_parts.sql
  tests/queries/0_stateless/02352_lightweight_delete.sql
  tests/queries/0_stateless/02352_lightweight_delete_on_replicated_merge_tree.sql
  tests/queries/0_stateless/02404_lightweight_delete_vertical_merge.sql
  tests/queries/0_stateless/02428_delete_with_settings.sql
  tests/queries/0_stateless/02473_multistep_prewhere.python
Labels: pr-not-for-changelog

#44820 Modern tools in CI, part 2.
  .github/workflows/nightly.yml
  docker/packager/binary/Dockerfile
  docker/packager/binary/build.sh
  docker/test/fasttest/Dockerfile
  docker/test/fasttest/run.sh
  docker/test/fuzzer/run-fuzzer.sh
  docker/test/performance-comparison/download.sh
  docker/test/performance-comparison/entrypoint.sh
  docker/test/stateful/run.sh
  docker/test/stateless/run.sh
  docker/test/stress/README.md
  docker/test/stress/run.sh
  docker/test/stress/stress
  docs/en/development/continuous-integration.md
  docs/zh/development/continuous-integration.md
  tests/ci/ast_fuzzer_check.py
  tests/ci/build_check.py
  tests/ci/build_download_helper.py
  tests/ci/build_report_check.py
  tests/ci/ccache_utils.py
  tests/ci/compress_files.py
  tests/ci/jepsen_check.py
  tests/ci/s3_helper.py
  tests/ci/worker/ubuntu_ami_for_ci.sh
  tests/jepsen.clickhouse/src/jepsen/clickhouse/utils.clj
Labels: pr-not-for-changelog

#44995 Add documentation for xxh3
  docs/en/sql-reference/functions/hash-functions.md
Labels: pr-documentation, can be tested

#44484 Optimization for reading struct fields in parquet/orc files
  src/Processors/Formats/Impl/ArrowFieldIndexUtil.h
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  tests/queries/0_stateless/00900_orc_arrow_parquet_nested.sh
Labels: pr-performance, can be tested

#45075 Add new DEFAULT value of settings
  docs/en/operations/settings/index.md
Labels: pr-documentation, can be tested

#45076 Add docs for 2 new MergeTree settings
  docs/en/operations/settings/merge-tree-settings.md
Labels: pr-documentation, can be tested

#45077 Change the color of links in dark reports a little bit
  tests/ci/report.py
Labels: do not test, pr-not-for-changelog

#44959 fix alter table ttl error when wide part has light weight delete mask
  src/Interpreters/MutationsInterpreter.cpp
  tests/queries/0_stateless/02521_lightweight_delete_and_ttl.reference
  tests/queries/0_stateless/02521_lightweight_delete_and_ttl.sql
Labels: pr-bugfix, can be tested

#45067 JIT compilation float to bool conversion fix
  src/DataTypes/Native.h
  tests/queries/0_stateless/02525_jit_logical_functions_nan.reference
  tests/queries/0_stateless/02525_jit_logical_functions_nan.sql
Labels: pr-not-for-changelog, can be tested

#45065 Fix Cannot capture column for nested lambda with LowCardinality
  src/Functions/FunctionsMiscellaneous.h
  tests/queries/0_stateless/00752_low_cardinality_lambda_argument.reference
  tests/queries/0_stateless/00752_low_cardinality_lambda_argument.sql
Labels: pr-bugfix

#45047 Fix buffer overflow in parser
  src/Access/Common/QuotaDefs.cpp
  src/IO/readFloatText.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Processors/Formats/Impl/ConstantExpressionTemplate.cpp
Labels: pr-bugfix

#45058 Disable memory efficient merging for distributed aggregation when grouping sets are present
  src/Interpreters/InterpreterSelectQuery.cpp
  tests/queries/0_stateless/02521_grouping_sets_plus_memory_efficient_aggr.reference
  tests/queries/0_stateless/02521_grouping_sets_plus_memory_efficient_aggr.sql
Labels: pr-bugfix

#45039 Small fixes for Coordination unit tests
  src/Coordination/Changelog.cpp
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-not-for-changelog

#45053 Fix (benign) data race in clickhouse-client
  src/Client/Suggest.cpp
Labels: pr-not-for-changelog

#45082 Fix Fuzzer script
  docker/test/fuzzer/run-fuzzer.sh
  docker/test/stress/run.sh
Labels: pr-not-for-changelog

#44937 Fix deadlock in Keeper's changelog
  src/Coordination/Changelog.cpp
  src/Coordination/Changelog.h
Labels: pr-not-for-changelog, jepsen-test

#44939 Revert "If user only need virtual columns, we don't need to initialize ReadBufferFromS3"
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
Labels: pr-not-for-changelog

#44847 Fix rare race which can lead to queue hang
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-not-for-changelog

#44653 Custom reading for mutation
  src/Interpreters/Context.h
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/MutationsInterpreter.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/Sources/ThrowingExceptionSource.h
  src/Storages/IStorage.h
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  src/Storages/MergeTree/MergeTreeSequentialSource.h
  src/Storages/MergeTree/MutateTask.cpp
Labels: pr-not-for-changelog

#45074 Improve release scripts
  tests/ci/env_helper.py
  tests/ci/mark_release_ready.py
  tests/ci/release.py
Labels: pr-not-for-changelog

#45059 Analyzer ARRAY JOIN crash fix
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  tests/queries/0_stateless/02521_analyzer_array_join_crash.reference
  tests/queries/0_stateless/02521_analyzer_array_join_crash.sql
Labels: pr-not-for-changelog, can be tested

#44891 Convert integration test_dictionaries_update_field to a stateless
  tests/integration/test_dictionaries_update_field/__init__.py
  tests/integration/test_dictionaries_update_field/configs/config.xml
  tests/integration/test_dictionaries_update_field/configs/users.xml
  tests/integration/test_dictionaries_update_field/test.py
  tests/queries/0_stateless/02530_dictionaries_update_field.reference
  tests/queries/0_stateless/02530_dictionaries_update_field.sh
Labels: pr-not-for-changelog

#45043 Fix hash functions for IPv4
  src/Core/callOnTypeIndex.h
  src/DataTypes/DataTypeIPv4andIPv6.h
  src/Functions/FunctionsConsistentHashing.h
  src/Functions/FunctionsHashing.h
  src/Interpreters/convertFieldToType.cpp
  tests/queries/0_stateless/02184_hash_functions_and_ip_types.reference
  tests/queries/0_stateless/02184_hash_functions_and_ip_types.sql
Labels: pr-bugfix

#45109 Docs: Make heading consistent with other headings in System Table docs
  docs/en/operations/system-tables/schema_inference_cache.md
Labels: pr-not-for-changelog

#45114 Docs: Rewrite awkwardly phrased sentence about flush interval
  docs/en/sql-reference/statements/system.md
Labels: pr-not-for-changelog

#45089 Add convert_query_to_cnf to docs
  docs/en/operations/settings/settings.md
Labels: pr-documentation, can be tested

#45121 Revert "Custom reading for mutation"
  src/Interpreters/Context.h
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/MutationsInterpreter.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/Sources/ThrowingExceptionSource.h
  src/Storages/IStorage.h
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  src/Storages/MergeTree/MergeTreeSequentialSource.h
  src/Storages/MergeTree/MutateTask.cpp
Labels: pr-not-for-changelog

#45120 formal to form
  docs/en/operations/settings/settings.md
Labels: pr-documentation, can be tested
