Repository ClickHouse/ClickHouse, pull requests merged in 2023-06, with the labels that each got.

#50410 Support clang-17
  src/IO/WriteBufferFromS3TaskTracker.cpp
Labels: pr-build

#50362 Fix after #50109
  src/Disks/IO/AsynchronousBoundedReadBuffer.cpp
  tests/queries/0_stateless/02770_async_buffer_ignore.reference
  tests/queries/0_stateless/02770_async_buffer_ignore.sh
Labels: pr-not-for-changelog

#50342 do not fix the event list in test
  tests/integration/test_profile_events_s3/test.py
Labels: pr-not-for-changelog

#50408 reuse s3_mocks, rewrite test test_paranoid_check_in_logs
  tests/integration/helpers/mock_servers.py
  tests/integration/helpers/s3_mocks/__init__.py
  tests/integration/helpers/s3_mocks/broken_s3.py
  tests/integration/test_checking_s3_blobs_paranoid/configs/storage_conf.xml
  tests/integration/test_checking_s3_blobs_paranoid/test.py
  tests/integration/test_merge_tree_s3/test.py
Labels: pr-not-for-changelog

#50339 Improved fetch part by holding directory lock longer
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/DataPartsExchange.h
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-bugfix

#50343 Fix bitShift* functions with both constant arguments
  src/Functions/FunctionBinaryArithmetic.h
  tests/queries/0_stateless/02766_bitshift_with_const_arguments.reference
  tests/queries/0_stateless/02766_bitshift_with_const_arguments.sql
Labels: pr-bugfix

#47151 Update ubuntu_ami_for_ci.sh
  tests/ci/worker/prepare-ci-ami.sh
Labels: do not test, pr-not-for-changelog

#50392 Fix poll timeout in MaterializedMySQL
  src/Databases/MySQL/MaterializedMySQLSyncThread.cpp
Labels: pr-not-for-changelog

#50415 Mark the builds without results as pending
  tests/ci/build_report_check.py
Labels: pr-not-for-changelog

#50315 Add new function toLastDayOfWeek()
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/functions/date-time-functions.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/functions/date-time-functions.md
  src/Common/DateLUTImpl.h
  src/Common/tests/gtest_DateLUTImpl.cpp
  src/Functions/CustomWeekTransforms.h
  src/Functions/toCustomWeek.cpp
  tests/queries/0_stateless/00189_time_zones_long.reference
  tests/queries/0_stateless/00189_time_zones_long.sql
  tests/queries/0_stateless/00941_to_custom_week.reference
  tests/queries/0_stateless/00941_to_custom_week.sql
  tests/queries/0_stateless/01472_toBoundsOfInterval_disallow_empty_tz_field.reference
  tests/queries/0_stateless/01472_toBoundsOfInterval_disallow_empty_tz_field.sql
  tests/queries/0_stateless/01921_datatype_date32.reference
  tests/queries/0_stateless/01921_datatype_date32.sql
  tests/queries/0_stateless/02403_enable_extended_results_for_datetime_functions.reference
  tests/queries/0_stateless/02403_enable_extended_results_for_datetime_functions.sql.j2
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
Labels: pr-feature, can be tested

#50307 Optimize predicate with toYYYYMM converter
  src/Interpreters/OptimizeDateFilterVisitor.cpp
  tests/queries/0_stateless/02764_date_filter_predicate_optimizer.reference
  tests/queries/0_stateless/02764_date_filter_predicate_optimizer.sql
Labels: pr-performance, can be tested

#50334 Fix crash when Pool::Entry::disconnect() is called
  src/Common/mysqlxx/Pool.cpp
Labels: pr-bugfix, can be tested

#50442 Ignore QEMU logging regarding IFA
  tests/queries/0_stateless/01103_check_cpu_instructions_at_startup.sh
Labels: pr-build

#50327 Fix IS (NOT) NULL operator priority
  src/Parsers/ExpressionListParsers.cpp
  tests/queries/0_stateless/02477_is_null_parser.reference
  tests/queries/0_stateless/02477_is_null_parser.sql
  tests/queries/0_stateless/02752_is_null_priority.reference
  tests/queries/0_stateless/02752_is_null_priority.sql
Labels: pr-not-for-changelog

#50446 Update order-by.md
  docs/en/sql-reference/statements/select/order-by.md
Labels: pr-documentation, can be tested

#50430 make filter push down through cross join
  src/Processors/QueryPlan/Optimizations/filterPushDown.cpp
  tests/queries/0_stateless/01763_filter_push_down_bugs.reference
  tests/queries/0_stateless/01763_filter_push_down_bugs.sql
Labels: pr-improvement, pr-must-backport

#50409 test for #42610
  tests/queries/0_stateless/01910_view_dictionary_check_refresh.reference
  tests/queries/0_stateless/01910_view_dictionary_check_refresh.sql
Labels: pr-not-for-changelog

#50401 Compile aggregate expressions enable by default
  src/Core/Settings.h
Labels: pr-not-for-changelog, can be tested

#50203 Don't send head request for all keys in Iceberg schema inference
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  tests/integration/test_storage_s3/test.py
Labels: pr-improvement

#50177 Fix broken index analysis when binary operator contains a null constant argument
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/02746_index_analysis_binary_operator_with_null.reference
  tests/queries/0_stateless/02746_index_analysis_binary_operator_with_null.sql
Labels: pr-bugfix

#50454 add docs for boundingRatio
  docs/en/sql-reference/aggregate-functions/reference/boundrat.md
  docs/en/sql-reference/aggregate-functions/reference/index.md
Labels: pr-documentation, can be tested

#50319 Enable `enable_memory_bound_merging_of_aggregation_results` by default
  src/Core/Settings.h
  tests/integration/test_backward_compatibility/test_memory_bound_aggregation.py
Labels: pr-improvement

#49539 Read Parquet files even faster, take 2
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/FormatSettings.h
  src/IO/MMapReadBufferFromFileDescriptor.cpp
  src/IO/MMapReadBufferFromFileDescriptor.h
  src/IO/ParallelReadBuffer.cpp
  src/IO/ParallelReadBuffer.h
  src/IO/ReadBufferFromFileDescriptor.cpp
  src/IO/ReadBufferFromFileDescriptor.h
  src/IO/ReadBufferFromS3.cpp
  src/IO/ReadBufferFromS3.h
  src/IO/ReadWriteBufferFromHTTP.cpp
  src/IO/ReadWriteBufferFromHTTP.h
  src/IO/SeekableReadBuffer.cpp
  src/IO/SeekableReadBuffer.h
  src/IO/WithFileName.cpp
  src/IO/WithFileSize.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.h
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/Storages/StorageURL.cpp
  src/Storages/StorageURL.h
  tests/integration/test_redirect_url_storage/test.py
Labels: pr-performance

#49948 Add separate handshake_timeout for receiving Hello packet from replica
  docs/en/operations/settings/settings.md
  src/Client/Connection.cpp
  src/Client/Connection.h
  src/Client/ConnectionParameters.cpp
  src/Core/Settings.h
  src/IO/ConnectionTimeouts.cpp
  src/IO/ConnectionTimeouts.h
  src/IO/TimeoutSetter.cpp
  src/IO/TimeoutSetter.h
  tests/integration/test_reload_clusters_config/test.py
  tests/integration/test_system_clusters_actual_information/test.py
Labels: pr-feature

#50449 Add timeout for unit tests
  docker/test/unit/run.sh
Labels: pr-not-for-changelog

#50387 Fix Keeper deadlock on exception when preprocessing requests.
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/KeeperStateMachine.h
Labels: pr-bugfix, pr-must-backport, can be tested, pr-must-backport-cloud

#50421 Fix hashing of const integer values
  src/Functions/FunctionsHashing.h
  tests/queries/0_stateless/02534_keyed_siphash.reference
  tests/queries/0_stateless/02534_keyed_siphash.sql
Labels: pr-bugfix

#50476 CI: Enable aspell on nested docs
  docs/en/engines/database-engines/materialized-mysql.md
  docs/en/engines/database-engines/materialized-postgresql.md
  docs/en/engines/database-engines/sqlite.md
  docs/en/engines/table-engines/integrations/hdfs.md
  docs/en/engines/table-engines/integrations/hive.md
  docs/en/engines/table-engines/integrations/nats.md
  docs/en/engines/table-engines/integrations/postgresql.md
  docs/en/engines/table-engines/integrations/s3.md
  docs/en/engines/table-engines/mergetree-family/annindexes.md
  docs/en/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/engines/table-engines/special/executable.md
  docs/en/engines/table-engines/special/keepermap.md
  docs/en/getting-started/example-datasets/amazon-reviews.md
  docs/en/getting-started/example-datasets/cell-towers.md
  docs/en/getting-started/example-datasets/github.md
  docs/en/getting-started/example-datasets/opensky.md
  docs/en/getting-started/example-datasets/reddit-comments.md
  docs/en/getting-started/example-datasets/youtube-dislikes.md
  docs/en/operations/settings/settings.md
  docs/en/operations/system-tables/columns.md
  docs/en/operations/system-tables/dropped_tables.md
  docs/en/operations/system-tables/information_schema.md
  docs/en/operations/system-tables/licenses.md
  docs/en/operations/system-tables/parts.md
  docs/en/operations/system-tables/tables.md
  docs/en/operations/system-tables/trace_log.md
  docs/en/operations/system-tables/zookeeper_log.md
  docs/en/operations/utilities/clickhouse-obfuscator.md
  docs/en/sql-reference/aggregate-functions/reference/cramersv.md
  docs/en/sql-reference/aggregate-functions/reference/cramersvbiascorrected.md
  docs/en/sql-reference/aggregate-functions/reference/groupbitand.md
  docs/en/sql-reference/aggregate-functions/reference/groupbitor.md
  docs/en/sql-reference/aggregate-functions/reference/groupbitxor.md
  docs/en/sql-reference/aggregate-functions/reference/kolmogorovsmirnovtest.md
  docs/en/sql-reference/aggregate-functions/reference/quantiletdigestweighted.md
  docs/en/sql-reference/aggregate-functions/reference/stochasticlinearregression.md
  docs/en/sql-reference/data-types/datetime.md
  docs/en/sql-reference/data-types/index.md
  docs/en/sql-reference/dictionaries/index.md
  docs/en/sql-reference/functions/bit-functions.md
  docs/en/sql-reference/functions/encryption-functions.md
  docs/en/sql-reference/functions/geo/h3.md
  docs/en/sql-reference/functions/geo/s2.md
  docs/en/sql-reference/functions/hash-functions.md
  docs/en/sql-reference/functions/logical-functions.md
  docs/en/sql-reference/functions/math-functions.md
  docs/en/sql-reference/functions/other-functions.md
  docs/en/sql-reference/functions/string-functions.md
  docs/en/sql-reference/functions/string-replace-functions.md
  docs/en/sql-reference/functions/udf.md
  docs/en/sql-reference/operators/in.md
  docs/en/sql-reference/statements/alter/quota.md
  docs/en/sql-reference/statements/create/quota.md
  docs/en/sql-reference/statements/explain.md
  docs/en/sql-reference/statements/select/from.md
  docs/en/sql-reference/statements/select/order-by.md
  docs/en/sql-reference/window-functions/index.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
  utils/check-style/check-doc-aspell
Labels: pr-not-for-changelog

#48633 Deduplicate blocks in any hash join
  src/Interpreters/HashJoin.cpp
  tests/queries/0_stateless/02725_any_join_single_row.reference
  tests/queries/0_stateless/02725_any_join_single_row.sql
Labels: pr-performance

#50244 Fixes for MergeTree with readonly disks
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/StorageMergeTree.cpp
  tests/integration/test_disk_over_web_server/test.py
  tests/queries/0_stateless/02435_rollback_cancelled_queries.reference
  tests/queries/0_stateless/02435_rollback_cancelled_queries.sh
Labels: pr-not-for-changelog

#50479 Docs: remove needless minus sign
  docs/ru/faq/integration/json-import.md
Labels: pr-documentation, can be tested

#50457 More thorough check for the availability of TaskStats
  src/Common/TaskStatsInfoGetter.cpp
  src/Common/ThreadStatus.h
Labels: pr-build

#50478 move from server to user settings
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/settings/settings.md
Labels: pr-documentation, can be tested

#50481 Disable 00534_functions_bad_arguments with msan
  tests/queries/0_stateless/00534_functions_bad_arguments10.sh
  tests/queries/0_stateless/00534_functions_bad_arguments5.sh
  tests/queries/0_stateless/00534_functions_bad_arguments6.sh
  tests/queries/0_stateless/00534_functions_bad_arguments9.sh
Labels: pr-not-for-changelog

#50444 Revert "Revert "less logs in WriteBufferFromS3" (#50390)"
  src/IO/WriteBufferFromS3.cpp
  src/IO/WriteBufferFromS3TaskTracker.cpp
Labels: pr-not-for-changelog

#47409 Add new function generateRandomStructure
  docs/en/sql-reference/functions/other-functions.md
  docs/en/sql-reference/table-functions/generate.md
  src/DataTypes/NestedUtils.cpp
  src/DataTypes/NestedUtils.h
  src/Functions/FunctionGenerateRandomStructure.cpp
  src/Functions/FunctionGenerateRandomStructure.h
  src/Storages/StorageGenerateRandom.cpp
  src/TableFunctions/TableFunctionGenerateRandom.cpp
  tests/queries/0_stateless/01256_negative_generate_random.sql
  tests/queries/0_stateless/02586_generate_random_structure.reference
  tests/queries/0_stateless/02586_generate_random_structure.sql
Labels: pr-feature

#50493 Fix KeyError in cherry-pick
  tests/ci/cherry_pick.py
Labels: pr-not-for-changelog

#50490 add svg function docs
  docs/en/sql-reference/functions/geo/svg.md
Labels: pr-documentation, can be tested

#50497 Update aspell-dict.txt
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation

#49287 Optimise hot reading from remote tables
  src/Common/OpenTelemetryTraceContext.cpp
  src/Core/Settings.h
  src/Disks/IO/AsynchronousBoundedReadBuffer.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.h
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Disks/IO/ThreadPoolRemoteFSReader.cpp
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/FileCacheSettings.cpp
  src/Interpreters/Cache/FileCacheSettings.h
  src/Interpreters/Cache/FileCache_fwd.h
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/FilesystemReadPrefetchesLog.cpp
  src/Interpreters/FilesystemReadPrefetchesLog.h
  src/Interpreters/executeQuery.cpp
  src/Interpreters/tests/gtest_lru_file_cache.cpp
  src/Storages/MergeTree/MergeTreeReadPool.cpp
  src/Storages/MergeTree/MergeTreeReadPool.h
  src/Storages/MergeTree/MergeTreeSource.cpp
  tests/queries/0_stateless/02344_describe_cache.reference
Labels: pr-performance

#47414 Keeper Client
  docs/en/operations/utilities/clickhouse-keeper-client.md
  programs/CMakeLists.txt
  programs/config_tools.h.in
  programs/keeper-client/CMakeLists.txt
  programs/keeper-client/Commands.cpp
  programs/keeper-client/Commands.h
  programs/keeper-client/KeeperClient.cpp
  programs/keeper-client/KeeperClient.h
  programs/keeper-client/Parser.cpp
  programs/keeper-client/Parser.h
  programs/main.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  src/Client/LineReader.cpp
  src/Client/LineReader.h
  src/Parsers/TokenIterator.cpp
  src/Parsers/TokenIterator.h
  src/Parsers/parseQuery.cpp
  src/Parsers/parseQuery.h
  tests/integration/test_keeper_client/__init__.py
  tests/integration/test_keeper_client/configs/keeper_config.xml
  tests/integration/test_keeper_client/test.py
Labels: pr-feature

#50486 Mention ON CLUSTER options for SYSTEM queries
  docs/en/sql-reference/statements/system.md
  docs/ru/sql-reference/statements/system.md
  docs/zh/sql-reference/statements/system.md
Labels: pr-documentation

#50416 Revert "Add SQL functions for Entropy Learned Hashing"
  docs/en/sql-reference/functions/hash-functions.md
  src/Functions/EntropyLearnedHash.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02734_entropy_learned_hashing.reference
  tests/queries/0_stateless/02734_entropy_learned_hashing.sql
Labels: pr-feature

#49894 Add UUID data type to PostgreSQL
  src/Core/PostgreSQL/insertPostgreSQLValue.cpp
  src/Storages/StoragePostgreSQL.cpp
  tests/integration/test_storage_postgresql/test.py
Labels: pr-improvement

#50518 less traces in logs
  src/IO/WriteBufferFromS3.cpp
Labels: pr-not-for-changelog

#50379 Minor improvements in CGroup awareness.
  base/base/getMemoryAmount.cpp
  src/Common/AsynchronousMetrics.cpp
  src/Common/AsynchronousMetrics.h
Labels: pr-improvement

#50535 QueryNode small fix
  src/Analyzer/QueryNode.cpp
Labels: pr-not-for-changelog, can be tested

#50044 Preserve backward incompatibility for renamed settings by using aliases
  src/Core/Settings.h
  tests/queries/0_stateless/02319_lightweight_delete_on_merge_tree.sql
Labels: pr-improvement

#50385 Link boost::context library to clickhouse_common_io
  src/CMakeLists.txt
Labels: pr-build, can be tested

#50278 Specify roles in users.xml
  src/Access/UsersConfigAccessStorage.cpp
  src/Parsers/Access/ParserGrantQuery.h
  tests/integration/test_user_grants_from_config/configs/another_user.xml
  tests/integration/test_user_grants_from_config/test.py
Labels: pr-improvement

#50533 Add profile events for fs cache eviction
  src/Common/ProfileEvents.cpp
  src/Interpreters/Cache/FileCache.cpp
Labels: pr-not-for-changelog

#50527 Fix low quality code around metadata in RocksDB (experimental feature never used in production)
  src/Common/ProfileEvents.cpp
Labels: pr-not-for-changelog

#50521 Remove strange object storage methods
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.cpp
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.h
  src/Disks/ObjectStorages/DiskObjectStorageRemoteMetadataRestoreHelper.cpp
  src/Disks/ObjectStorages/IObjectStorage.cpp
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/MetadataStorageFromDisk.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
Labels: pr-not-for-changelog

#50539 Disable skim (Rust library) under memory sanitizer
  rust/skim/CMakeLists.txt
Labels: pr-not-for-changelog

#50495 Make typeid_cast for pointers noexcept
  src/Common/typeid_cast.h
Labels: pr-not-for-changelog, can be tested

#50538 Control memory usage in generateRandom
  src/Storages/StorageGenerateRandom.cpp
  tests/queries/0_stateless/00416_pocopatch_progress_in_http_headers.sh
  tests/queries/0_stateless/02539_generate_random_map.reference
  tests/queries/0_stateless/02586_generate_random_structure.reference
Labels: pr-not-for-changelog

#50557 Doc. Fix links datetime64.md
  docs/en/sql-reference/data-types/datetime64.md
Labels: pr-documentation

#50555 Doc. Example for -Map combinator
  docs/en/sql-reference/aggregate-functions/combinators.md
  docs/en/sql-reference/aggregate-functions/reference/summap.md
  docs/en/sql-reference/data-types/map.md
Labels: pr-documentation

#50556 Doc. A note for first_value/last_value
  docs/en/sql-reference/aggregate-functions/reference/first_value.md
  docs/en/sql-reference/aggregate-functions/reference/last_value.md
Labels: pr-documentation

#50541 MSan support for Rust
  docker/packager/binary/Dockerfile
  rust/.cargo/config.toml.in
  rust/BLAKE3/include/blake3.h
  rust/BLAKE3/src/lib.rs
  rust/CMakeLists.txt
  src/Functions/FunctionsHashing.h
Labels: pr-not-for-changelog

#50542 Make 01565_query_loop_after_client_error slightly more robust
  tests/queries/0_stateless/01565_query_loop_after_client_error.expect
Labels: pr-not-for-changelog

#50536 Fix incorrect constant folding
  src/Parsers/ExpressionElementParsers.cpp
  tests/queries/0_stateless/02782_inconsistent_formatting_and_constant_folding.reference
  tests/queries/0_stateless/02782_inconsistent_formatting_and_constant_folding.sql
Labels: pr-bugfix, pr-must-backport

#50485 Remove unneeded Keeper test
  tests/integration/test_keeper_multinode_blocade_leader/__init__.py
  tests/integration/test_keeper_multinode_blocade_leader/configs/enable_keeper1.xml
  tests/integration/test_keeper_multinode_blocade_leader/configs/enable_keeper2.xml
  tests/integration/test_keeper_multinode_blocade_leader/configs/enable_keeper3.xml
  tests/integration/test_keeper_multinode_blocade_leader/configs/use_keeper.xml
  tests/integration/test_keeper_multinode_blocade_leader/test.py
Labels: pr-not-for-changelog

#50483 Keeper fix: apply uncommitted state after snapshot install
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/KeeperStorage.cpp
  src/Coordination/KeeperStorage.h
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-bugfix, jepsen-test

#50480 Try fix flaky test test_async_query_sending
  tests/integration/test_hedged_requests/configs/logger.xml
  tests/integration/test_hedged_requests/test.py
Labels: pr-not-for-changelog

#50455 Don't crash if config doesn't have logger section
  src/Loggers/Loggers.cpp
  src/Loggers/Loggers.h
Labels: pr-not-for-changelog

#50448 Paranoid fix for removing parts from ZooKeeper
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/config/config.d/merge_tree.xml
  tests/integration/test_ttl_replicated/test.py
  tests/queries/0_stateless/00992_system_parts_race_condition_zookeeper_long.sh
  tests/queries/0_stateless/01154_move_partition_long.sh
Labels: pr-not-for-changelog

#50238 Add new metrics BrokenDistributedBytesToInsert/DistributedBytesToInsert
  src/Common/CurrentMetrics.cpp
  src/Storages/Distributed/DistributedAsyncInsertDirectoryQueue.cpp
  src/Storages/Distributed/DistributedAsyncInsertDirectoryQueue.h
Labels: pr-not-for-changelog

#50153 Fix invalid index analysis for date related keys
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/02764_index_analysis_fix.reference
  tests/queries/0_stateless/02764_index_analysis_fix.sql
Labels: pr-bugfix

#50383 Without applying `prepareRightBlock` will cause mismatch block structrue
  src/Interpreters/GraceHashJoin.cpp
Labels: pr-bugfix, can be tested

#50215 Added --input_format_csv_trim_whitespaces option
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings-formats.md
  docs/ru/interfaces/formats.md
  docs/ru/operations/settings/settings.md
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/IO/ReadHelpers.cpp
  src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  tests/queries/0_stateless/02764_csv_trim_whitespaces.reference
  tests/queries/0_stateless/02764_csv_trim_whitespaces.sh
Labels: pr-feature, can be tested

#50252 Fix bugs in Poco sockets in non-blocking mode, use true non-blocking sockets
  base/poco/Net/src/SocketImpl.cpp
  base/poco/NetSSL_OpenSSL/include/Poco/Net/SecureSocketImpl.h
  base/poco/NetSSL_OpenSSL/include/Poco/Net/SecureStreamSocketImpl.h
  base/poco/NetSSL_OpenSSL/src/SecureSocketImpl.cpp
  base/poco/NetSSL_OpenSSL/src/SecureStreamSocketImpl.cpp
  src/Client/Connection.cpp
  src/Common/checkSSLReturnCode.cpp
  src/Common/checkSSLReturnCode.h
  src/IO/ReadBufferFromPocoSocket.cpp
  src/IO/WriteBufferFromPocoSocket.cpp
Labels: pr-bugfix, v23.4-must-backport, pr-must-backport-cloud

#50574 Revert "Disable skim (Rust library) under memory sanitizer"
  rust/skim/CMakeLists.txt
Labels: pr-not-for-changelog

#50550 skip extracting darwin toolchain in builder when unncessary
  cmake/toolchain/darwin-x86_64/README.txt
  docker/packager/binary/build.sh
  docker/packager/packager
Labels: pr-not-for-changelog, can be tested

#50546 Resize BufferFromVector underlying vector only pos_offset == vector.size()
  src/IO/WriteBufferFromVector.h
Labels: can be tested

#50558 Remove flaky test
  tests/integration/test_merge_tree_s3/test.py
Labels: pr-not-for-changelog

#50484 add direct join docs
  docs/en/engines/table-engines/integrations/embedded-rocksdb.md
Labels: pr-documentation, can be tested

#50548 Add async iteration to object storage
  src/Common/CurrentMetrics.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/IObjectStorage.cpp
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/ObjectStorageIterator.cpp
  src/Disks/ObjectStorages/ObjectStorageIterator.h
  src/Disks/ObjectStorages/ObjectStorageIteratorAsync.cpp
  src/Disks/ObjectStorages/ObjectStorageIteratorAsync.h
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
Labels: pr-not-for-changelog

#50234 Fix nested distributed SELECT in WITH clause
  src/Storages/getStructureOfRemoteTable.cpp
  tests/queries/0_stateless/02768_cse_nested_distributed.reference
  tests/queries/0_stateless/02768_cse_nested_distributed.sql
Labels: pr-bugfix

#50474 Additional error information when JSON is too large
  src/Formats/JSONUtils.cpp
Labels: pr-improvement, can be tested

#50581 Update rabbitmq.md
  docs/en/engines/table-engines/integrations/rabbitmq.md
Labels: pr-documentation, can be tested

#50255 Add dictGetAll function to collect multiple matches in RegExpTreeDictionary
  docs/en/sql-reference/dictionaries/index.md
  docs/en/sql-reference/functions/ext-dict-functions.md
  src/Dictionaries/IDictionary.h
  src/Dictionaries/RegExpTreeDictionary.cpp
  src/Dictionaries/RegExpTreeDictionary.h
  src/Functions/FunctionsExternalDictionaries.cpp
  src/Functions/FunctionsExternalDictionaries.h
  tests/queries/0_stateless/02504_regexp_dictionary_yaml_source.reference
  tests/queries/0_stateless/02504_regexp_dictionary_yaml_source.sh
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, can be tested

#50529 Function if constant folding
  src/Functions/if.cpp
  tests/queries/0_stateless/00835_if_generic_case.reference
  tests/queries/0_stateless/02771_if_constant_folding.reference
  tests/queries/0_stateless/02771_if_constant_folding.sql
Labels: pr-not-for-changelog

#50597 add video to inverted indices docs
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
Labels: pr-documentation, can be tested

#50492 Add `system.user_processes` table
  docs/en/operations/system-tables/processes.md
  docs/en/operations/system-tables/user_processes.md
  src/Storages/System/StorageSystemUserProcesses.cpp
  src/Storages/System/StorageSystemUserProcesses.h
  src/Storages/System/attachSystemTables.cpp
  tests/queries/0_stateless/01399_http_request_headers.reference
  tests/queries/0_stateless/02771_system_user_processes.reference
  tests/queries/0_stateless/02771_system_user_processes.sh
Labels: pr-feature

#50435 Add signal handler for SIGQUIT
  src/Client/ClientBase.cpp
Labels: pr-improvement

#50453 Changes related to an internal feature
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/IO/ReadSettings.h
  src/Interpreters/Cache/FileSegment.h
  src/Interpreters/Cache/IFileCachePriority.h
  src/Storages/MergeTree/DataPartStorageOnDiskBase.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskBase.h
  src/Storages/MergeTree/IDataPartStorage.h
  tests/integration/test_replicated_merge_tree_s3_zero_copy/configs/config.d/storage_conf.xml
  tests/integration/test_replicated_merge_tree_s3_zero_copy/configs/config.d/users.xml
  tests/integration/test_replicated_merge_tree_s3_zero_copy/test.py
Labels: pr-not-for-changelog, pr-must-backport-cloud

#50160 Refactor lambdas, prepare to prio runners
  .github/workflows/pull_request.yml
  tests/ci/autoscale_runners_lambda/app.py
  tests/ci/autoscale_runners_lambda/autoscale_runners_lambda_test.py
  tests/ci/autoscale_runners_lambda/lambda_shared
  tests/ci/autoscale_runners_lambda/requirements.txt
  tests/ci/cancel_and_rerun_workflow_lambda/app.py
  tests/ci/cancel_and_rerun_workflow_lambda/lambda_shared
  tests/ci/cancel_and_rerun_workflow_lambda/requirements.txt
  tests/ci/ci_runners_metrics_lambda/app.py
  tests/ci/ci_runners_metrics_lambda/lambda_shared
  tests/ci/ci_runners_metrics_lambda/requirements.txt
  tests/ci/lambda_shared_package/.gitignore
  tests/ci/lambda_shared_package/__init__.py
  tests/ci/lambda_shared_package/lambda_shared/__init__.py
  tests/ci/lambda_shared_package/lambda_shared/pr.py
  tests/ci/lambda_shared_package/lambda_shared/token.py
  tests/ci/lambda_shared_package/pyproject.toml
  tests/ci/lambda_shared_package/setup.cfg
  tests/ci/run_check.py
  tests/ci/runner_token_rotation_lambda/__init__.py
  tests/ci/runner_token_rotation_lambda/app.py
  tests/ci/runner_token_rotation_lambda/lambda_shared
  tests/ci/runner_token_rotation_lambda/requirements.txt
  tests/ci/team_keys_lambda/__init__.py
  tests/ci/team_keys_lambda/app.py
  tests/ci/team_keys_lambda/build_and_deploy_archive.sh
  tests/ci/team_keys_lambda/lambda_shared
  tests/ci/team_keys_lambda/requirements.txt
  tests/ci/terminate_runner_lambda/__init__.py
  tests/ci/terminate_runner_lambda/app.py
  tests/ci/terminate_runner_lambda/lambda_shared
  tests/ci/terminate_runner_lambda/requirements.txt
  tests/ci/workflow_approve_rerun_lambda/__init__.py
  tests/ci/workflow_approve_rerun_lambda/app.py
  tests/ci/workflow_approve_rerun_lambda/lambda_shared
  tests/ci/workflow_approve_rerun_lambda/requirements.txt
  tests/ci/workflow_jobs_lambda/app.py
  tests/ci/workflow_jobs_lambda/lambda_shared
  tests/ci/workflow_jobs_lambda/requirements.txt
Labels: do not test, pr-not-for-changelog

#50361 Fail perf tests when too many queries slowed down
  docker/test/performance-comparison/report.py
  tests/ci/performance_comparison_check.py
Labels: pr-not-for-changelog, force tests

#50583 Fix logical error in stress test (Not enough space to add ...)
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/Metadata.cpp
  src/Interpreters/Cache/Metadata.h
Labels: pr-bugfix, pr-must-backport-cloud

#49474 Rework loading and removing of data parts for MergeTree tables.
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Backups/BackupIO_S3.cpp
  src/Common/CurrentMetrics.cpp
  src/Core/ServerSettings.h
  src/Formats/FormatFactory.cpp
  src/IO/SharedThreadPools.cpp
  src/IO/SharedThreadPools.h
  src/Interpreters/threadPoolCallbackRunner.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/MergeTreeSource.cpp
  src/Storages/StorageS3.cpp
  src/Storages/System/StorageSystemDetachedParts.cpp
  tests/queries/0_stateless/00988_parallel_parts_removal.sql
  tests/queries/0_stateless/00989_parallel_parts_loading.sql
  tests/queries/0_stateless/01810_max_part_removal_threads_long.sh
  tests/queries/0_stateless/02432_s3_parallel_parts_cleanup.sql
Labels: pr-improvement

#50599 Fix commit for DiskObjectStorage
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorageTransaction.cpp
Labels: pr-not-for-changelog

#50594 Disable pure parallel replicas if trivial count optimization is possible
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Planner/PlannerJoinTree.cpp
  tests/queries/0_stateless/02783_parallel_replicas_trivial_count_optimization.reference
  tests/queries/0_stateless/02783_parallel_replicas_trivial_count_optimization.sh
Labels: pr-improvement

#50586 Better support for avro decimals
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  tests/queries/0_stateless/02782_avro_decimals.reference
  tests/queries/0_stateless/02782_avro_decimals.sh
  tests/queries/0_stateless/data_avro/decimals.avro
Labels: pr-improvement

#50643 Style fix
  docs/en/sql-reference/functions/index.md
Labels: pr-documentation, can be tested

#50636 Disable 01676_clickhouse_client_autocomplete under UBSan
  tests/queries/0_stateless/01676_clickhouse_client_autocomplete.sh
Labels: pr-not-for-changelog

#50644 Update nyc-taxi.md
  docs/en/getting-started/example-datasets/nyc-taxi.md
Labels: pr-documentation, can be tested

#50629 Revert incorrect optimizations
  src/Interpreters/OptimizeDateFilterVisitor.cpp
  src/Interpreters/OptimizeDateFilterVisitor.h
  src/Interpreters/TreeOptimizer.cpp
  tests/queries/0_stateless/02764_date_filter_predicate_optimizer.reference
  tests/queries/0_stateless/02764_date_filter_predicate_optimizer.sql
  tests/queries/0_stateless/02783_date_predicate_optimizations.reference
  tests/queries/0_stateless/02783_date_predicate_optimizations.sql
Labels: pr-not-for-changelog

#50637 Fix converting Null to LowCardinality(Nullable) in values table function
  src/Interpreters/convertFieldToType.cpp
  tests/queries/0_stateless/02782_values_null_to_lc_nullable.reference
  tests/queries/0_stateless/02782_values_null_to_lc_nullable.sql
Labels: pr-bugfix

#50615 Fix Jepsen runs in PRs
  tests/ci/jepsen_check.py
Labels: pr-not-for-changelog, jepsen-test

#50660 Merging #50329
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/02771_ignore_data_skipping_indices.reference
  tests/queries/0_stateless/02771_ignore_data_skipping_indices.sql
Labels: pr-not-for-changelog

#50329 Add ability to ignore skippings indexes for a query
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/02771_ignore_data_skipping_indices.reference
  tests/queries/0_stateless/02771_ignore_data_skipping_indices.sql
Labels: pr-feature, can be tested

#50607 Doc. Clarification about ArgMax/Min behavior
  docs/en/sql-reference/aggregate-functions/index.md
  docs/en/sql-reference/aggregate-functions/reference/argmax.md
  docs/en/sql-reference/aggregate-functions/reference/argmin.md
Labels: pr-documentation

#50470 Add some assertions
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/Metadata.cpp
  src/Interpreters/Cache/Metadata.h
Labels: pr-not-for-changelog

#50429 Fix excessive memory usage for FINAL (due to too much streams usage)
  src/Processors/QueryPlan/PartsSplitter.cpp
  tests/queries/0_stateless/02780_final_streams_data_skipping_index.reference
  tests/queries/0_stateless/02780_final_streams_data_skipping_index.sql
Labels: pr-bugfix

#50639 Parallel replicas for short queries
  src/Core/Settings.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  tests/broken_tests.txt
  tests/queries/0_stateless/02784_parallel_replicas_automatic_disabling.reference
  tests/queries/0_stateless/02784_parallel_replicas_automatic_disabling.sql
Labels: pr-improvement

#50670 Revert "date_trunc function to always return DateTime type"
  src/Functions/date_trunc.cpp
  tests/queries/0_stateless/00189_time_zones_long.reference
  tests/queries/0_stateless/00921_datetime64_compatibility_long.reference
Labels: pr-not-for-changelog, pr-must-backport-cloud

#50587 Analyzer: fix 01487_distributed_in_not_default_db
  tests/broken_tests.txt
  tests/queries/0_stateless/01487_distributed_in_not_default_db.sql
Labels: pr-not-for-changelog

#50588 Enable LZ4_FAST_DEC_LOOP for Arm to get 5% of decompression speed
  contrib/lz4-cmake/CMakeLists.txt
Labels: pr-performance, submodule changed, can be tested

#50413 Add parallel state merge for some other combinator except If
  src/AggregateFunctions/AggregateFunctionArray.h
  src/AggregateFunctions/AggregateFunctionMerge.h
  src/AggregateFunctions/AggregateFunctionNull.h
  src/AggregateFunctions/AggregateFunctionState.h
  tests/performance/uniqExactIf.xml
Labels: pr-not-for-changelog

#50280 Fixed type conversion from Date/Date32 to DateTime64 when querying with DateTime64 index
  src/Interpreters/convertFieldToType.cpp
  src/Interpreters/tests/gtest_convertFieldToType.cpp
  tests/queries/1_stateful/00178_query_datetime64_index.reference
  tests/queries/1_stateful/00178_query_datetime64_index.sql
Labels: pr-bugfix, can be tested

#50658 ALTER TABLE ADD INDEX: Add default GRANULARITY argument for secondary indexes
  docs/en/sql-reference/statements/alter/skipping-index.md
  src/Parsers/ParserCreateIndexQuery.cpp
  src/Parsers/ParserCreateQuery.cpp
  tests/queries/0_stateless/02534_default_granularity.reference
  tests/queries/0_stateless/02534_default_granularity.sql
Labels: pr-improvement

#50312 Cleanup Annoy index
  docs/en/engines/table-engines/mergetree-family/annindexes.md
  src/Core/Settings.h
  src/Storages/MergeTree/ApproximateNearestNeighborIndexesCommon.cpp
  src/Storages/MergeTree/ApproximateNearestNeighborIndexesCommon.h
  src/Storages/MergeTree/CommonANNIndexes.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeIndexAggregatorBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexAnnoy.cpp
  src/Storages/MergeTree/MergeTreeIndexAnnoy.h
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  src/Storages/MergeTree/MergeTreeIndexInverted.cpp
  src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
  src/Storages/MergeTree/MergeTreeIndexSet.cpp
  tests/queries/0_stateless/02354_annoy.reference
  tests/queries/0_stateless/02354_annoy.sh
  tests/queries/0_stateless/02354_annoy_index.reference
  tests/queries/0_stateless/02354_annoy_index.sql
Labels: pr-not-for-changelog

#50680 Fix slow cache in presence of big inserts
  src/Disks/IO/CachedOnDiskWriteBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskWriteBufferFromFile.h
  src/Interpreters/Cache/FileSegment.h
Labels: pr-improvement, pr-must-backport-cloud

#50097 Analyzer: WIP on distributed queries
  src/Analyzer/ColumnNode.cpp
  src/Analyzer/IQueryTreeNode.h
  src/Analyzer/LambdaNode.cpp
  src/Analyzer/LambdaNode.h
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  src/Analyzer/TableNode.cpp
  src/Planner/CollectSets.cpp
  src/Planner/Planner.cpp
  src/Planner/PlannerContext.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Planner/Utils.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDummy.cpp
  src/Storages/StorageDummy.h
  tests/queries/0_stateless/01561_clickhouse_client_stage.reference
  tests/queries/0_stateless/01591_window_functions.reference
  tests/queries/0_stateless/01655_plan_optimizations_optimize_read_in_window_order.reference
  tests/queries/0_stateless/02048_clickhouse_local_stage.reference
  tests/queries/0_stateless/02227_union_match_by_name.reference
  tests/queries/0_stateless/02303_query_kind.reference
  tests/queries/0_stateless/02377_optimize_sorting_by_input_stream_properties_explain.reference
  tests/queries/0_stateless/02381_join_dup_columns_in_plan.reference
  tests/queries/0_stateless/02421_explain_subquery.sql
  tests/queries/0_stateless/02451_order_by_monotonic.reference
  tests/queries/0_stateless/02481_aggregation_in_order_plan.reference
  tests/queries/0_stateless/02514_analyzer_drop_join_on.reference
  tests/queries/0_stateless/02675_predicate_push_down_filled_join_fix.reference
  tests/queries/0_stateless/02679_explain_merge_tree_prewhere_row_policy.reference
  tests/queries/0_stateless/02771_resolve_compound_identifier.reference
  tests/queries/0_stateless/02771_resolve_compound_identifier.sql
Labels: pr-improvement, force tests

#50674 Fix flaky test 02461_prewhere_row_level_policy_lightweight_delete
  tests/queries/0_stateless/02461_prewhere_row_level_policy_lightweight_delete.sql.j2
Labels: pr-not-for-changelog

#50638 Fix crash in anti/semi join
  src/Columns/ColumnLowCardinality.cpp
  src/Columns/tests/gtest_low_cardinality.cpp
  src/Interpreters/HashJoin.cpp
  src/Interpreters/JoinUtils.cpp
  src/Interpreters/TableJoin.h
  src/Planner/PlannerJoinTree.cpp
  tests/queries/0_stateless/02771_semi_join_use_nulls.reference
  tests/queries/0_stateless/02771_semi_join_use_nulls.sql.j2
Labels: pr-bugfix

#50624 MaterializedMySQL: Add support of `TRUNCATE db.table`
  src/Parsers/MySQL/ASTDropQuery.cpp
  tests/integration/test_materialized_mysql_database/materialize_with_ddl.py
Labels: pr-improvement, can be tested

#50646 Update settings.md
  docs/en/operations/settings/settings.md
Labels: pr-documentation, can be tested

#50700 Catch issues with dockerd during the build
  tests/ci/build_check.py
Labels: pr-not-for-changelog

#50713 Add SHOW INDICES as alias for statement SHOW INDEX/INDEXES/KEYS
  docs/en/sql-reference/statements/show.md
  src/Parsers/ParserShowIndexesQuery.cpp
  tests/queries/0_stateless/02724_show_indexes.reference
  tests/queries/0_stateless/02724_show_indexes.sql
Labels: pr-improvement

#50718 Fix assertion from stress test
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/Metadata.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#50719 Fix flaky unit test
  src/Interpreters/tests/gtest_lru_file_cache.cpp
Labels: pr-not-for-changelog

#50685 Fix asan issue with analyzer and prewhere
  src/Processors/QueryPlan/Optimizations/optimizeTree.cpp
  tests/queries/0_stateless/02784_move_all_conditions_to_prewhere_analyzer_asan.reference
  tests/queries/0_stateless/02784_move_all_conditions_to_prewhere_analyzer_asan.sql
Labels: pr-not-for-changelog

#50728 Show correct sharing state in system.query_cache
  src/Storages/System/StorageSystemQueryCache.cpp
Labels: pr-not-for-changelog

#50604 Azure table function
  contrib/azure-cmake/CMakeLists.txt
  docs/en/sql-reference/table-functions/azure_blob_storage.md
  src/Access/Common/AccessType.h
  src/Common/ProfileEvents.cpp
  src/Core/Settings.h
  src/Disks/IO/ReadBufferFromAzureBlobStorage.cpp
  src/Disks/IO/ReadBufferFromAzureBlobStorage.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageAuth.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/ObjectStorageIterator.cpp
  src/Disks/ObjectStorages/ObjectStorageIterator.h
  src/Disks/ObjectStorages/ObjectStorageIteratorAsync.cpp
  src/Disks/ObjectStorages/ObjectStorageIteratorAsync.h
  src/Interpreters/ActionsDAG.cpp
  src/Storages/StorageAzureBlob.cpp
  src/Storages/StorageAzureBlob.h
  src/Storages/registerStorages.cpp
  src/TableFunctions/CMakeLists.txt
  src/TableFunctions/ITableFunctionCluster.h
  src/TableFunctions/TableFunctionAzureBlobStorage.cpp
  src/TableFunctions/TableFunctionAzureBlobStorage.h
  src/TableFunctions/registerTableFunctions.cpp
  src/TableFunctions/registerTableFunctions.h
  tests/integration/test_storage_azure_blob_storage/__init__.py
  tests/integration/test_storage_azure_blob_storage/configs/disable_profilers.xml
  tests/integration/test_storage_azure_blob_storage/configs/named_collections.xml
  tests/integration/test_storage_azure_blob_storage/test.py
  tests/queries/0_stateless/01271_show_privileges.reference
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-feature, submodule changed

#50668 Fix reading negative decimals in avro format
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  tests/queries/0_stateless/02782_avro_decimals.reference
  tests/queries/0_stateless/data_avro/decimals.avro
Labels: pr-not-for-changelog

#50710 Support OPTIMIZE for temporary tables
  src/Interpreters/InterpreterOptimizeQuery.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/02525_different_engines_in_temporary_tables.sql
Labels: pr-not-for-changelog

#50585 Fix Log family table return wrong rows count after truncate
  src/Storages/StorageLog.cpp
  src/Storages/StorageStripeLog.cpp
  tests/queries/0_stateless/02771_log_faminy_truncate_count.reference
  tests/queries/0_stateless/02771_log_faminy_truncate_count.sql
Labels: pr-bugfix, pr-must-backport

#50772 Update version after release
  cmake/autogenerated_versions.txt
  src/Storages/System/StorageSystemContributors.generated.cpp
Labels: do not test

#50721 Do not read all the columns from right GLOBAL JOIN table.
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/GlobalSubqueriesVisitor.h
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  tests/queries/0_stateless/02731_parallel_replicas_join_subquery.reference
  tests/queries/0_stateless/02785_global_join_too_many_columns.reference
  tests/queries/0_stateless/02785_global_join_too_many_columns.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#50590 Fix bug in `uniqExact` parallel merging
  src/AggregateFunctions/UniqExactSet.h
  tests/queries/0_stateless/02782_uniq_exact_parallel_merging_bug.reference
  tests/queries/0_stateless/02782_uniq_exact_parallel_merging_bug.sh
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#50706 Add async insert system tables documentation
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/system-tables/asynchronous_insert_log.md
  docs/en/operations/system-tables/asynchronous_inserts.md
Labels: pr-documentation

#50770 Fix build for aarch64 (temporary disable azure)
  contrib/azure-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#50677 Unify priorities: `IExecutableTask`s
  src/Storages/MergeTree/IExecutableTask.h
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/MergeFromLogEntryTask.h
  src/Storages/MergeTree/MergePlainMergeTreeTask.h
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.h
  src/Storages/MergeTree/MutateFromLogEntryTask.cpp
  src/Storages/MergeTree/MutateFromLogEntryTask.h
  src/Storages/MergeTree/MutatePlainMergeTreeTask.h
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/tests/gtest_executor.cpp
Labels: pr-not-for-changelog

#50699 Revert recent grace hash join changes
  docs/en/operations/settings/settings.md
  src/Interpreters/GraceHashJoin.cpp
  src/Interpreters/GraceHashJoin.h
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  src/Processors/Transforms/JoiningTransform.cpp
  src/Processors/Transforms/JoiningTransform.h
  src/QueryPipeline/QueryPipelineBuilder.cpp
  tests/queries/0_stateless/01721_join_implicit_cast_long.reference.j2
  tests/queries/0_stateless/01721_join_implicit_cast_long.sql.j2
  tests/queries/0_stateless/02273_full_sort_join.reference.j2
  tests/queries/0_stateless/02273_full_sort_join.sql.j2
  tests/queries/0_stateless/02274_full_sort_join_nodistinct.reference.j2
  tests/queries/0_stateless/02274_full_sort_join_nodistinct.sql.j2
  tests/queries/0_stateless/02275_full_sort_join_long.reference
  tests/queries/0_stateless/02275_full_sort_join_long.sql.j2
Labels: pr-bugfix

#50693 Disable grace_hash join in stress tests
  tests/ci/stress.py
Labels: pr-not-for-changelog

#50788 Update CHANGELOG.md
  CHANGELOG.md
Labels: pr-not-for-changelog

#50708 remove reverted PR from CHANGELOG.md
  CHANGELOG.md
Labels: pr-documentation

#50810 Desctructing --> Destructing
  src/Interpreters/Context.cpp
Labels: pr-not-for-changelog

#50102 optimize parquet write performance for parallel threads
  src/Processors/Formats/Impl/ArrowBlockOutputFormat.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.h
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.h
Labels: pr-performance, can be tested

#50743 Add new keywords into projections documentation
  docs/en/sql-reference/statements/alter/projection.md
  docs/ru/sql-reference/statements/alter/projection.md
Labels: pr-not-for-changelog, can be tested

#50698 ReverseTransform small improvement
  src/Processors/Transforms/ReverseTransform.cpp
Labels: pr-not-for-changelog, can be tested

#50828 Update CHANGELOG.md
  CHANGELOG.md
Labels: pr-documentation

#50711 Refactor reading from object storages
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.h
  src/Disks/IO/ReadBufferFromWebServer.h
  src/Disks/IO/ReadIndirectBufferFromRemoteFS.cpp
  src/Disks/IO/ReadIndirectBufferFromRemoteFS.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/HDFS/HDFSObjectStorage.cpp
  src/Disks/ObjectStorages/Local/LocalObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/Web/WebObjectStorage.cpp
  src/IO/SeekAvoidingReadBuffer.cpp
  src/IO/SeekAvoidingReadBuffer.h
  src/Storages/StorageS3.cpp
Labels: pr-not-for-changelog

#50812 Rename azure_blob_storage to azureBlobStorage
  docker/test/upgrade/run.sh
  docs/en/sql-reference/table-functions/azure_blob_storage.md
  src/TableFunctions/TableFunctionAzureBlobStorage.cpp
  src/TableFunctions/TableFunctionAzureBlobStorage.h
  tests/integration/test_storage_azure_blob_storage/test.py
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-not-for-changelog, pr-must-backport, v23.5-must-backport

#50833 Add tests for function "transform"
  tests/queries/0_stateless/02786_transform_float.reference
  tests/queries/0_stateless/02786_transform_float.sql
  tests/queries/0_stateless/02787_transform_null.reference
  tests/queries/0_stateless/02787_transform_null.sql
Labels: pr-not-for-changelog

#50061 Update MongoDB protocol & fix inserts
  base/poco/Foundation/include/Poco/BinaryReader.h
  base/poco/Foundation/include/Poco/BinaryWriter.h
  base/poco/Foundation/src/BinaryReader.cpp
  base/poco/Foundation/src/BinaryWriter.cpp
  base/poco/MongoDB/CMakeLists.txt
  base/poco/MongoDB/include/Poco/MongoDB/Array.h
  base/poco/MongoDB/include/Poco/MongoDB/Binary.h
  base/poco/MongoDB/include/Poco/MongoDB/Connection.h
  base/poco/MongoDB/include/Poco/MongoDB/Cursor.h
  base/poco/MongoDB/include/Poco/MongoDB/Database.h
  base/poco/MongoDB/include/Poco/MongoDB/Document.h
  base/poco/MongoDB/include/Poco/MongoDB/Element.h
  base/poco/MongoDB/include/Poco/MongoDB/JavaScriptCode.h
  base/poco/MongoDB/include/Poco/MongoDB/MessageHeader.h
  base/poco/MongoDB/include/Poco/MongoDB/MongoDB.h
  base/poco/MongoDB/include/Poco/MongoDB/ObjectId.h
  base/poco/MongoDB/include/Poco/MongoDB/OpMsgCursor.h
  base/poco/MongoDB/include/Poco/MongoDB/OpMsgMessage.h
  base/poco/MongoDB/include/Poco/MongoDB/PoolableConnectionFactory.h
  base/poco/MongoDB/include/Poco/MongoDB/RegularExpression.h
  base/poco/MongoDB/include/Poco/MongoDB/ResponseMessage.h
  base/poco/MongoDB/src/Array.cpp
  base/poco/MongoDB/src/Connection.cpp
  base/poco/MongoDB/src/Cursor.cpp
  base/poco/MongoDB/src/Database.cpp
  base/poco/MongoDB/src/DeleteRequest.cpp
  base/poco/MongoDB/src/Document.cpp
  base/poco/MongoDB/src/Element.cpp
  base/poco/MongoDB/src/GetMoreRequest.cpp
  base/poco/MongoDB/src/InsertRequest.cpp
  base/poco/MongoDB/src/KillCursorsRequest.cpp
  base/poco/MongoDB/src/Message.cpp
  base/poco/MongoDB/src/MessageHeader.cpp
  base/poco/MongoDB/src/ObjectId.cpp
  base/poco/MongoDB/src/OpMsgCursor.cpp
  base/poco/MongoDB/src/OpMsgMessage.cpp
  base/poco/MongoDB/src/QueryRequest.cpp
  base/poco/MongoDB/src/RegularExpression.cpp
  base/poco/MongoDB/src/ReplicaSet.cpp
  base/poco/MongoDB/src/RequestMessage.cpp
  base/poco/MongoDB/src/ResponseMessage.cpp
  base/poco/MongoDB/src/UpdateRequest.cpp
  src/Dictionaries/MongoDBDictionarySource.cpp
  src/Dictionaries/MongoDBDictionarySource.h
  src/Processors/Sources/MongoDBSource.cpp
  src/Processors/Sources/MongoDBSource.h
  src/Storages/StorageMongoDB.cpp
  tests/integration/test_storage_mongodb/test.py
Labels: pr-improvement

#50853 Update easy_tasks_sorted_ru.md
  tests/instructions/easy_tasks_sorted_ru.md
Labels: pr-not-for-changelog

#50850 Updated changelog with azureBlobStorage table function & engine entry
  CHANGELOG.md
Labels: pr-not-for-changelog
