Repository ClickHouse/ClickHouse, pull requests merged in 2023-11, with the labels that each got.

#56168 FileCache minor changes
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/Metadata.cpp
  src/Interpreters/Cache/Metadata.h
Labels: pr-not-for-changelog

#56165 More metrics for fs cache
  src/Common/CurrentMetrics.cpp
  src/Common/ProfileEvents.cpp
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/FileSegment.h
Labels: pr-not-for-changelog, pr-must-backport-cloud

#56125 Update tutorial.md [en→ru]
  docs/ru/getting-started/tutorial.md
Labels: pr-documentation, can be tested

#56134 Implementing force_optimize_projection_name
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Interpreters/executeQuery.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  tests/queries/0_stateless/02906_force_optimize_projection_name.reference
  tests/queries/0_stateless/02906_force_optimize_projection_name.sql
Labels: pr-feature

#55741 Analyzer: fix block stucture mismatch in matview with engine distributed
  src/Storages/StorageMaterializedView.cpp
  tests/analyzer_tech_debt.txt
  tests/queries/0_stateless/01890_materialized_distributed_join.reference
  tests/queries/0_stateless/01890_materialized_distributed_join.sh
Labels: pr-not-for-changelog

#55982 New input format Npy
  docs/en/interfaces/formats.md
  src/Formats/NumpyDataTypes.h
  src/Formats/registerFormats.cpp
  src/Processors/Formats/Impl/NpyRowInputFormat.cpp
  src/Processors/Formats/Impl/NpyRowInputFormat.h
  tests/queries/0_stateless/02895_npy_format.reference
  tests/queries/0_stateless/02895_npy_format.sh
  tests/queries/0_stateless/data_npy/complex.npy
  tests/queries/0_stateless/data_npy/one_dim.npy
  tests/queries/0_stateless/data_npy/one_dim_float.npy
  tests/queries/0_stateless/data_npy/one_dim_str.npy
  tests/queries/0_stateless/data_npy/one_dim_unicode.npy
  tests/queries/0_stateless/data_npy/three_dim.npy
  tests/queries/0_stateless/data_npy/two_dim.npy
  tests/queries/0_stateless/data_npy/two_dim_bool.npy
  tests/queries/0_stateless/data_npy/two_dim_float.npy
  tests/queries/0_stateless/data_npy/two_dim_null.npy
  tests/queries/0_stateless/data_npy/two_dim_str.npy
  tests/queries/0_stateless/data_npy/two_dim_unicode.npy
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#55477 Allow to save unparsed records and errors in RabbitMQ, NATS and FileLog engines
  docs/en/engines/table-engines/integrations/kafka.md
  docs/en/engines/table-engines/integrations/nats.md
  docs/en/engines/table-engines/integrations/rabbitmq.md
  docs/en/engines/table-engines/special/filelog.md
  src/Core/Settings.h
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Storages/FileLog/Buffer_fwd.h
  src/Storages/FileLog/FileLogConsumer.cpp
  src/Storages/FileLog/FileLogConsumer.h
  src/Storages/FileLog/FileLogSettings.h
  src/Storages/FileLog/FileLogSource.cpp
  src/Storages/FileLog/FileLogSource.h
  src/Storages/FileLog/StorageFileLog.cpp
  src/Storages/FileLog/StorageFileLog.h
  src/Storages/Kafka/KafkaConsumer.h
  src/Storages/Kafka/KafkaSettings.h
  src/Storages/Kafka/KafkaSource.cpp
  src/Storages/Kafka/KafkaSource.h
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/StorageKafka.h
  src/Storages/NATS/NATSConsumer.h
  src/Storages/NATS/NATSSettings.h
  src/Storages/NATS/NATSSource.cpp
  src/Storages/NATS/NATSSource.h
  src/Storages/NATS/StorageNATS.cpp
  src/Storages/RabbitMQ/RabbitMQSettings.h
  src/Storages/RabbitMQ/RabbitMQSource.cpp
  src/Storages/RabbitMQ/RabbitMQSource.h
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  tests/integration/test_storage_rabbitmq/test.py
  tests/queries/0_stateless/02889_file_log_save_errors.reference
  tests/queries/0_stateless/02889_file_log_save_errors.sh
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#56143 Fixed spelling of "Continous" to "Continuous"
  src/Functions/minSampleSize.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
Labels: pr-improvement, can be tested

#55987 Avoid counting lost parts twice
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-not-for-changelog

#56117 Improve parquet struct fields reading
  src/Processors/Formats/Impl/ArrowFieldIndexUtil.h
  tests/performance/parquet_read.xml
Labels: pr-performance, can be tested

#56197 Do less work when there lots of read requests and watches for same paths
  src/Coordination/KeeperStorage.cpp
  src/Coordination/KeeperStorage.h
Labels: pr-not-for-changelog

#56176 Update 01414_mutations_and_errors_zookeeper.sh
  tests/queries/0_stateless/01414_mutations_and_errors_zookeeper.sh
Labels: pr-not-for-changelog

#56185 Add error handler to odbc-bridge
  src/Bridge/IBridge.cpp
Labels: pr-bugfix

#56194 Shard fs cache keys
  src/Interpreters/Cache/Metadata.cpp
  src/Interpreters/Cache/Metadata.h
Labels: pr-not-for-changelog

#55974 Fix autogenerated Protobuf schema with fields with underscore
  src/Formats/StructureToCapnProtoSchema.cpp
  src/Formats/StructureToFormatSchemaUtils.cpp
  src/Formats/StructureToFormatSchemaUtils.h
  src/Formats/StructureToProtobufSchema.cpp
  tests/queries/0_stateless/02905_structure_to_schema_bad_names.reference
  tests/queries/0_stateless/02905_structure_to_schema_bad_names.sh
Labels: pr-bugfix

#53170 Analyzer: fix row policy
  src/Planner/Planner.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Planner/TableExpressionData.h
  tests/analyzer_integration_broken_tests.txt
Labels: pr-not-for-changelog

#56181 Print corrupted part path before shutdown server
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
Labels: pr-improvement, can be tested

#56172 Fix schema cache for fallback JSON->JSONEachRow with changed settings
  src/Processors/Formats/Impl/JSONRowInputFormat.cpp
  tests/queries/0_stateless/02909_settings_in_json_schema_cache.reference
  tests/queries/0_stateless/02909_settings_in_json_schema_cache.sh
Labels: pr-bugfix, pr-must-backport

#56123 Fix: schedule delayed part checks correctly
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.h
Labels: do not test, pr-not-for-changelog

#56162 Use monotonic clock for part check scheduling
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.h
Labels: pr-not-for-changelog

#56224 Doc. note how to enable OSIOWaitMicroseconds in new Linux kernels
  docs/en/operations/system-tables/index.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation

#55044 add runOptimize call in bitmap write method( resubmit of #52842)
  src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
Labels: pr-performance, can be tested

#56213 Add `max_bytes_before_external_sort` setting to query complexity doc
  docs/en/operations/settings/query-complexity.md
  docs/ru/operations/settings/query-complexity.md
Labels: pr-documentation, can be tested

#56229 Fixes the tiniest typo in `README.md`
  README.md
Labels: pr-documentation, can be tested

#56211 Easy tests fix for analyzer
  tests/queries/0_stateless/01651_bugs_from_15889.sql
  tests/queries/0_stateless/01786_explain_merge_tree.reference
  tests/queries/0_stateless/01786_explain_merge_tree.sh
Labels: pr-not-for-changelog

#56200 Remove skip_unused_shards tests from analyzer skiplist
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog

#55642 Indexing by space-filling curves
  docs/en/operations/settings/settings.md
  src/Common/MortonUtils.h
  src/Common/tests/gtest_morton_utils.cpp
  src/Core/Range.cpp
  src/Core/Range.h
  src/Core/Settings.h
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.cpp
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/KeyCondition.h
  tests/queries/0_stateless/02899_indexing_by_space_filling_curves.reference
  tests/queries/0_stateless/02899_indexing_by_space_filling_curves.sql
Labels: pr-feature

#56238 Do not remove part if `Too many open files` is thrown
  src/Storages/MergeTree/checkDataPart.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#56255 Changelog for 23.10
  CHANGELOG.md
Labels: pr-documentation

#56175 Fix flaky test of jbod balancer.
  tests/integration/test_jbod_balancer/test.py
Labels: pr-build

#56227 Add a warning if delayed accounting is not enabled (breaks OSIOWaitMicroseconds)
  programs/server/Server.cpp
Labels: pr-not-for-changelog

#56199 [Docs] Update cross-compilation guide for OSX
  docs/en/development/build-cross-osx.md
Labels: pr-documentation, can be tested

#56263 Fix typo in largestTriangleThreeBuckets.md
  docs/en/sql-reference/aggregate-functions/reference/largestTriangleThreeBuckets.md
Labels: pr-not-for-changelog

#55837 Correct aggregate functions ser/deserialization to be endianness-independent.
  base/base/CMakeLists.txt
  base/base/StringRef.h
  base/base/crc32c_s390x.h
  src/AggregateFunctions/AggregateFunctionGroupUniqArray.h
  src/AggregateFunctions/AggregateFunctionMinMaxAny.h
  src/AggregateFunctions/Combinators/AggregateFunctionMap.cpp
  src/CMakeLists.txt
  src/Common/HashTable/Hash.h
  src/Common/HashTable/StringHashTable.h
  src/Common/HyperLogLogCounter.h
  src/Common/SpaceSaving.h
  src/Common/benchmarks/integer_hash_tables_and_hashes.cpp
  src/DataTypes/Serializations/SerializationIPv4andIPv6.h
  src/Functions/FunctionsStringSimilarity.cpp
Labels: pr-not-for-changelog, can be tested

#56244 [Docs] fix typo
  docs/en/sql-reference/statements/create/table.md
Labels: pr-documentation, can be tested

#56226 Add compression of posting lists for inverted index
  src/Storages/MergeTree/GinIndexStore.cpp
  src/Storages/MergeTree/GinIndexStore.h
Labels: pr-improvement, can be tested

#56214 Improve integrations tests
  tests/ci/integration_test_check.py
  tests/integration/ci-runner.py
Labels: pr-build

#56089 Fix wrong attribution of untracked memory to a user/query
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTracker.h
  tests/queries/0_stateless/02896_memory_accounting_for_user.reference
  tests/queries/0_stateless/02896_memory_accounting_for_user.sh
Labels: pr-improvement

#56215 Add a log message for DatabaseReplicated
  src/Databases/DatabaseReplicated.cpp
Labels: pr-not-for-changelog

#56142 Better process broken parts on table start for replicated tables
  src/Storages/MergeTree/ActiveDataPartSet.cpp
  src/Storages/MergeTree/ActiveDataPartSet.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreePartInfo.cpp
  src/Storages/MergeTree/MergeTreePartInfo.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_max_suspicious_broken_parts_replicated/__init__.py
  tests/integration/test_max_suspicious_broken_parts_replicated/test.py
Labels: pr-not-for-changelog, pr-must-backport-cloud

#56275 Update version after release
  cmake/autogenerated_versions.txt
  src/Storages/System/StorageSystemContributors.generated.cpp
Labels: do not test

#56241 [hotfix] [docs] Fix typo
  contrib/jemalloc-cmake/README
  docs/changelogs/v21.10.2.15-stable.md
  docs/changelogs/v21.3.18.4-lts.md
  docs/changelogs/v21.7.11.3-stable.md
  docs/changelogs/v21.8.7.22-lts.md
  docs/changelogs/v21.9.4.35-stable.md
  tests/queries/0_stateless/02523_array_shuffle.sql
Labels: pr-documentation, submodule changed, can be tested

#56266 Fix segfault in signal handler for Keeper
  src/Interpreters/Context.cpp
Labels: pr-bugfix, pr-must-backport

#55660 Less memory intensive Keeper startup
  src/Coordination/KeeperContext.h
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperDispatcher.h
  src/Coordination/KeeperServer.cpp
  src/Coordination/KeeperServer.h
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-improvement, jepsen-test

#56022 Add CHECK query for all the tables
  docs/en/sql-reference/statements/check-table.md
  src/Common/FailPoint.cpp
  src/Interpreters/InterpreterCheckQuery.cpp
  src/Interpreters/InterpreterCheckQuery.h
  src/Interpreters/InterpreterFactory.cpp
  src/Parsers/ASTCheckQuery.h
  src/Parsers/ParserCheckQuery.cpp
  src/Parsers/ParserCheckQuery.h
  src/Storages/IStorage.cpp
  src/Storages/IStorage.h
  src/Storages/StorageLog.cpp
  src/Storages/StorageLog.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageProxy.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  src/Storages/StorageStripeLog.cpp
  src/Storages/StorageStripeLog.h
  tests/integration/test_check_table/test.py
Labels: pr-feature

#56264 Add ability to specify BlockBasedTableOptions for rocksdb
  programs/server/config.xml
  src/Storages/RocksDB/StorageEmbeddedRocksDB.cpp
  tests/integration/test_rocksdb_options/configs/rocksdb.xml
  tests/integration/test_rocksdb_options/test.py
Labels: pr-improvement

#56246 Analyzer: fix 01019_alter_materialized_view_consistent
  src/Processors/Transforms/buildPushingToViewsChain.cpp
  src/Storages/StorageMaterializedView.cpp
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog

#56039 Rework #52159 to avoid coredump generation
  src/Common/Exception.cpp
  tests/queries/0_stateless/02815_no_throw_in_simple_queries.reference
  tests/queries/0_stateless/02815_no_throw_in_simple_queries.sh
Labels: pr-not-for-changelog

#56131 Add missing zookeeper retries in StorageReplicatedMergeTree::backupData
  src/Backups/BackupEntriesCollector.h
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#56274 Fix incomplete query result for UNION in view() function.
  src/Interpreters/NormalizeSelectWithUnionQueryVisitor.cpp
  tests/analyzer_tech_debt.txt
  tests/queries/0_stateless/00612_union_query_with_subquery.reference
  tests/queries/0_stateless/00612_union_query_with_subquery.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#51823 Add a setting max_execution_time_leaf to limit the execution time on shard for distributed query
  docs/en/operations/settings/query-complexity.md
  src/Core/Settings.h
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Interpreters/ClusterProxy/executeQuery.cpp
  tests/queries/0_stateless/02786_max_execution_time_leaf.reference
  tests/queries/0_stateless/02786_max_execution_time_leaf.sql
Labels: pr-improvement, can be tested

#56280 Update detach.md
  docs/en/sql-reference/statements/attach.md
  docs/en/sql-reference/statements/detach.md
Labels: pr-documentation

#55951 Analyzer: Fix result type after IfConstantConditionPass
  src/Analyzer/FunctionNode.h
  src/Analyzer/InDepthQueryTreeVisitor.h
  src/Analyzer/Passes/IfConstantConditionPass.cpp
  src/Analyzer/Utils.cpp
  src/Analyzer/Utils.h
  tests/queries/0_stateless/00835_if_generic_case.reference
  tests/queries/0_stateless/02901_remove_nullable_crash_analyzer.reference
  tests/queries/0_stateless/02901_remove_nullable_crash_analyzer.sql
Labels: pr-not-for-changelog

#56167 Revert "Revert "Fix output/input of Arrow dictionary column""
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.h
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  tests/queries/0_stateless/02904_arrow_dictionary_indexes.reference
  tests/queries/0_stateless/02904_arrow_dictionary_indexes.sh
  tests/queries/0_stateless/02904_arrow_dictionary_indexes_test.arrow
  tests/queries/0_stateless/data_arrow/different_dicts.arrowstream
Labels: pr-not-for-changelog

#56308 Doc. Note about alter_sync
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#56234 Fix client suggestions for user without grants
  src/Storages/System/StorageSystemFunctions.cpp
  tests/queries/0_stateless/02907_suggestions_readonly_user.expect
  tests/queries/0_stateless/02907_suggestions_readonly_user.reference
Labels: pr-not-for-changelog

#56311 Removed stale events from README
  README.md
Labels: pr-not-for-changelog

#56303 Fix rare race condition related to Memory allocation failure
  src/Common/FailPoint.cpp
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.cpp
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.h
  tests/queries/0_stateless/02910_prefetch_unexpceted_exception.reference
  tests/queries/0_stateless/02910_prefetch_unexpceted_exception.sql
Labels: pr-bugfix, pr-must-backport-cloud

#56302 Add assertion that `SizePredictor` is set if `preferred_block_size_bytes` is set
  src/Storages/MergeTree/MergeTreeReadTask.cpp
Labels: pr-not-for-changelog

#56232 Fix a crash during table loading on startup
  src/Interpreters/ExecuteScalarSubqueriesVisitor.cpp
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#56088 Add function `fromDaysSinceYearZero()`
  docs/en/sql-reference/functions/date-time-functions.md
  src/DataTypes/IDataType.h
  src/Functions/DateTimeTransforms.h
  src/Functions/fromDaysSinceYearZero.cpp
  src/Functions/makeDate.cpp
  tests/fuzz/all.dict
  tests/fuzz/dictionaries/functions.dict
  tests/queries/0_stateless/02907_fromDaysSinceYearZero.reference
  tests/queries/0_stateless/02907_fromDaysSinceYearZero.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, can be tested

#55007 Refactor merge join transform
  src/Processors/Transforms/MergeJoinTransform.cpp
  src/Processors/Transforms/MergeJoinTransform.h
Labels: pr-not-for-changelog, can be tested

#56223 Correct aggregate function cross tab accessors to be endianness-independent.
  src/AggregateFunctions/AggregateFunctionTheilsU.cpp
  src/AggregateFunctions/CrossTab.h
  src/Common/HashTable/Hash.h
Labels: pr-not-for-changelog, can be tested

#56332 Update supported ARM version in README.md
  docker/server/README.md
Labels: pr-documentation, can be tested

#56333 Add an option to disable libssh
  contrib/libssh-cmake/CMakeLists.txt
Labels: pr-build, submodule changed

#55574 Parallel replicas: progress bar
  src/Core/ProtocolDefines.h
  src/Processors/ISource.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/Sources/RemoteSource.cpp
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.cpp
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.h
  src/Storages/MergeTree/RangesInDataPart.cpp
  src/Storages/MergeTree/RangesInDataPart.h
  tests/queries/0_stateless/02898_parallel_replicas_progress_bar.reference
  tests/queries/0_stateless/02898_parallel_replicas_progress_bar.sql
Labels: pr-not-for-changelog

#56267 Print stack trace addresses in clickhouse-diagnostics
  utils/clickhouse-diagnostics/README.md
  utils/clickhouse-diagnostics/clickhouse-diagnostics
Labels: pr-build

#56286 Fix inconsistency of "cast('0' as DateTime64(3))" and "cast('0' as Nullable(DateTime64(3)))"
  src/IO/ReadHelpers.h
  tests/queries/0_stateless/02889_datetime64_from_string.reference
  tests/queries/0_stateless/02889_datetime64_from_string.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud, v23.10-must-backport

#55126 Add function jaccardIndex back with better performance
  docs/en/sql-reference/functions/string-search-functions.md
  src/Functions/FunctionsStringDistance.cpp
  tests/queries/0_stateless/02884_string_distance_function.reference
  tests/queries/0_stateless/02884_string_distance_function.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-not-for-changelog

#56272 Fix rare logical error in Replicated database
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Processors/Chunk.cpp
  src/Storages/IStorage.h
Labels: pr-not-for-changelog

#56369 remove unstable test test_heavy_insert_select_check_memory
  tests/analyzer_integration_broken_tests.txt
  tests/integration/test_merge_tree_s3/test.py
Labels: pr-not-for-changelog

#55566 feature: storage_metadata_write_full_object_key
  docs/en/operations/settings/settings.md
  src/Common/ObjectStorageKey.cpp
  src/Common/ObjectStorageKey.h
  src/Core/Settings.h
  src/Disks/IDisk.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/AzureBlobStorage/registerDiskAzureBlobStorage.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.cpp
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.h
  src/Disks/ObjectStorages/DiskObjectStorageRemoteMetadataRestoreHelper.cpp
  src/Disks/ObjectStorages/DiskObjectStorageTransaction.cpp
  src/Disks/ObjectStorages/HDFS/HDFSObjectStorage.cpp
  src/Disks/ObjectStorages/HDFS/HDFSObjectStorage.h
  src/Disks/ObjectStorages/IMetadataStorage.h
  src/Disks/ObjectStorages/IObjectStorage.cpp
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/Local/LocalObjectStorage.cpp
  src/Disks/ObjectStorages/Local/LocalObjectStorage.h
  src/Disks/ObjectStorages/Local/registerLocalObjectStorage.cpp
  src/Disks/ObjectStorages/MetadataStorageFromDisk.cpp
  src/Disks/ObjectStorages/MetadataStorageFromDisk.h
  src/Disks/ObjectStorages/MetadataStorageFromDiskTransactionOperations.cpp
  src/Disks/ObjectStorages/MetadataStorageFromDiskTransactionOperations.h
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.h
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
  src/Disks/ObjectStorages/S3/registerDiskS3.cpp
  src/Disks/ObjectStorages/StoredObject.h
  src/Disks/ObjectStorages/Web/MetadataStorageFromStaticFilesWebServer.cpp
  src/Disks/ObjectStorages/Web/MetadataStorageFromStaticFilesWebServer.h
  src/Disks/ObjectStorages/Web/WebObjectStorage.h
  src/Storages/StorageAzureBlob.cpp
  src/Storages/System/StorageSystemRemoteDataPaths.cpp
  tests/integration/test_remote_blobs_naming/__init__.py
  tests/integration/test_remote_blobs_naming/configs/settings.xml
  tests/integration/test_remote_blobs_naming/configs/settings_new.xml
  tests/integration/test_remote_blobs_naming/configs/storage_conf.xml
  tests/integration/test_remote_blobs_naming/test_backward_compatibility.py
Labels: pr-feature

#56316 Change some exception codes
  src/Compression/CompressedReadBuffer.h
  src/Compression/CompressedReadBufferBase.cpp
  src/Compression/CompressedReadBufferBase.h
  src/Compression/CompressionCodecMultiple.cpp
  src/Compression/ICompressionCodec.cpp
  src/Compression/ICompressionCodec.h
  src/IO/HTTPChunkedReadBuffer.cpp
Labels: pr-not-for-changelog

#56243 Fix link to failed check report in status commit
  tests/ci/commit_status_helper.py
Labels: pr-not-for-changelog

#56374 Update 02735_system_zookeeper_connection.sql
  tests/queries/0_stateless/02735_system_zookeeper_connection.sql
Labels: pr-not-for-changelog

#56282 Fix unexpected parts after drop range
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/System/StorageSystemParts.cpp
  tests/integration/test_attach_without_fetching/test.py
  tests/integration/test_parts_delete_zookeeper/test.py
  tests/integration/test_replicated_zero_copy_projection_mutation/test.py
  tests/queries/0_stateless/01660_system_parts_smoke.reference
  tests/queries/0_stateless/01825_type_json_1.reference
  tests/queries/0_stateless/02486_truncate_and_unexpected_parts.reference
  tests/queries/0_stateless/02486_truncate_and_unexpected_parts.sql
Labels: pr-improvement, pr-must-backport-cloud

#56382 Add obsolete setting back
  src/Core/Settings.h
  tests/queries/0_stateless/02888_obsolete_settings.reference
Labels: pr-not-for-changelog, pr-must-backport-cloud

#56236 Fix ClickHouse-sourced dictionaries with an explicit query
  src/Dictionaries/ExternalQueryBuilder.cpp
  tests/queries/0_stateless/02907_clickhouse_dictionary_bug.reference
  tests/queries/0_stateless/02907_clickhouse_dictionary_bug.sh
Labels: pr-bugfix

#56327 Improve `formatQuery()`
  docs/en/sql-reference/functions/other-functions.md
  src/Functions/formatQuery.cpp
  tests/queries/0_stateless/02882_formatQuery.reference
  tests/queries/0_stateless/02882_formatQuery.sql
Labels: pr-improvement

#56339 Fix using table shared id during backup and improve logs.
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#56390 Update development documentation about data streams
  docs/en/development/architecture.md
  docs/en/development/style.md
  docs/en/operations/system-tables/stack_trace.md
  docs/ru/development/architecture.md
  docs/ru/development/style.md
  docs/ru/operations/system-tables/stack_trace.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation

#56237 [Docs] Specify IAM role necessary for GCS table function
  docs/en/sql-reference/table-functions/gcs.md
Labels: pr-documentation, can be tested

#56360 Print info while decompressing the binary
  utils/self-extracting-executable/decompressor.cpp
Labels: pr-not-for-changelog

#56394 Option to check particular file with utils/check-style/check-doc-aspell
  utils/check-style/check-doc-aspell
Labels: pr-not-for-changelog

#54068 Analyzer support 'is not distinct from' in join on section
  src/Planner/PlannerJoinTree.cpp
  src/Planner/PlannerJoins.cpp
  src/Planner/PlannerJoins.h
  tests/analyzer_tech_debt.txt
  tests/queries/0_stateless/02861_join_on_nullsafe_compare.reference.j2
  tests/queries/0_stateless/02861_join_on_nullsafe_compare.sql.j2
Labels: pr-not-for-changelog

#56354 Add 4-letter command for yielding/resigning leadership
  docs/en/operations/utilities/clickhouse-keeper-client.md
  src/Coordination/CoordinationSettings.cpp
  src/Coordination/FourLetterCommand.cpp
  src/Coordination/FourLetterCommand.h
  src/Coordination/KeeperDispatcher.h
  src/Coordination/KeeperServer.cpp
  src/Coordination/KeeperServer.h
  tests/integration/helpers/keeper_utils.py
  tests/integration/test_keeper_four_word_command/test.py
Labels: pr-feature, can be tested

#56307 Fix crash in case of adding a column with type Object(JSON)
  src/Storages/AlterCommands.cpp
  tests/queries/0_stateless/01825_type_json_add_column.sql.j2
  tests/queries/0_stateless/02910_object-json-crash-add-column.reference
  tests/queries/0_stateless/02910_object-json-crash-add-column.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#56315 Fix more tests with analyzer.
  tests/analyzer_tech_debt.txt
  tests/queries/0_stateless/02341_global_join_cte.reference
  tests/queries/0_stateless/02341_global_join_cte.sql
  tests/queries/0_stateless/02713_array_low_cardinality_string.reference
  tests/queries/0_stateless/02713_array_low_cardinality_string.sql
Labels: pr-not-for-changelog

#54340 Fix CSV read while the end of line is CR(\r)
  docs/en/operations/settings/settings-formats.md
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/IO/ReadHelpers.cpp
  src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  tests/queries/0_stateless/02891_input_csv_cr_end_of_line.reference
  tests/queries/0_stateless/02891_input_csv_cr_end_of_line.sh
  tests/queries/0_stateless/data_csv/csv_with_cr_end_of_line.csv
Labels: pr-improvement, can be tested

#56395 Add a metric for suspicious parts in ZooKeeper
  src/Common/ProfileEvents.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#56397 test on cluster positional_arguments
  tests/queries/0_stateless/02006_test_positional_arguments_on_cluster.reference
  tests/queries/0_stateless/02006_test_positional_arguments_on_cluster.sql
Labels: pr-documentation

#56375 Cleanup convenience functions in IDataType
  docs/en/sql-reference/functions/string-functions.md
  docs/en/sql-reference/functions/string-search-functions.md
  programs/obfuscator/Obfuscator.cpp
  src/AggregateFunctions/AggregateFunctionGroupArrayInsertAt.h
  src/AggregateFunctions/AggregateFunctionQuantile.h
  src/DataTypes/IDataType.h
  src/Functions/FunctionBitTestMany.h
  src/Functions/FunctionGenerateRandomStructure.cpp
  src/Functions/FunctionsConversion.h
  src/Functions/FunctionsMultiStringFuzzySearch.h
  src/Functions/FunctionsStringHash.h
  src/Functions/FunctionsStringSearch.h
  src/Functions/fromDaysSinceYearZero.cpp
  src/Functions/randomFixedString.cpp
  src/Functions/toFixedString.h
  src/Functions/vectorFunctions.cpp
  src/Functions/ztest.cpp
  src/Processors/Transforms/FillingTransform.cpp
  tests/queries/0_stateless/02884_string_distance_function.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-not-for-changelog

#56376 Update test_storage_s3_queue
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-not-for-changelog

#56370 Update test_storage_s3_queue/test.py
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-not-for-changelog

#56305 Implement digest helpers for different objects
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  tests/ci/autoscale_runners_lambda/test_autoscale.py
  tests/ci/ccache_utils.py
  tests/ci/digest_helper.py
  tests/ci/s3_helper.py
  tests/ci/test_digest.py
  tests/ci/test_docker.py
  tests/ci/test_git.py
  tests/ci/test_version.py
  tests/ci/tests/digests/12
  tests/ci/tests/digests/dir1/12
  tests/ci/tests/digests/dir2/12
  tests/ci/tests/digests/dir2/13
  tests/ci/tests/digests/dir3
  tests/ci/tests/digests/symlink-12
Labels: pr-not-for-changelog

#56388 Update stress.py
  tests/ci/stress.py
Labels: pr-not-for-changelog

#56380 Fix crash in filterPushDown
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  tests/queries/0_stateless/02907_filter_pushdown_crash.reference
  tests/queries/0_stateless/02907_filter_pushdown_crash.sql
Labels: pr-bugfix

#56434 Fix buffer overflow in T64
  src/Compression/CompressionCodecT64.cpp
  tests/queries/0_stateless/02914_t64_buffer_overflow.reference
  tests/queries/0_stateless/02914_t64_buffer_overflow.sh
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#56104 Add /keeper/availability-zone node to allow server load balancing within AZ.
  src/Common/ErrorCodes.cpp
  src/Coordination/KeeperConstants.h
  src/Coordination/KeeperContext.cpp
  src/Coordination/KeeperContext.h
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperStorage.cpp
  src/IO/S3/Credentials.cpp
  src/IO/S3/Credentials.h
  tests/integration/helpers/keeper_config1.xml
  tests/integration/helpers/keeper_config2.xml
  tests/integration/test_keeper_availability_zone/__init__.py
  tests/integration/test_keeper_availability_zone/configs/keeper_config.xml
  tests/integration/test_keeper_availability_zone/test.py
  tests/integration/test_keeper_four_word_command/test.py
Labels: pr-improvement, can be tested

#56416 Revert "Revert "Add function arrayRandomSample()""
  docs/en/sql-reference/functions/array-functions.md
  src/Functions/array/arrayRandomSample.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02874_array_random_sample.reference
  tests/queries/0_stateless/02874_array_random_sample.sh
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#56425 Add `information_schema.statistics` system view
  docs/en/operations/system-tables/information_schema.md
  src/Storages/System/attachInformationSchemaTables.cpp
  tests/queries/0_stateless/01161_information_schema.reference
  tests/queries/0_stateless/01161_information_schema.sql
Labels: pr-feature, can be tested

#56421 move storage_metadata_write_full_object_key setting to the server scope
  src/Core/ServerSettings.h
  src/Core/Settings.h
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.cpp
  tests/integration/test_remote_blobs_naming/configs/new_node.xml
  tests/integration/test_remote_blobs_naming/configs/old_node.xml
  tests/integration/test_remote_blobs_naming/configs/settings_new.xml
  tests/integration/test_remote_blobs_naming/configs/switching_node.xml
  tests/integration/test_remote_blobs_naming/test_backward_compatibility.py
Labels: pr-not-for-changelog

#55216 Use more thread pools in BACKUP/RESTORE to avoid its hanging in tests
  src/Backups/BackupFileInfo.cpp
  src/Backups/BackupsWorker.cpp
  src/Backups/BackupsWorker.h
Labels: pr-not-for-changelog

#56422 Make autoscaling more responsive
  tests/ci/autoscale_runners_lambda/app.py
  tests/ci/autoscale_runners_lambda/test_autoscale.py
Labels: do not test, pr-not-for-changelog

#56429 Fix `test_attach_without_fetching`
  tests/integration/test_attach_without_fetching/test.py
Labels: pr-not-for-changelog, pr-must-backport-cloud

#56433 Added GRANT examples to user.xml/yml
  programs/server/users.xml
  programs/server/users.yaml.example
Labels: pr-documentation, can be tested

#56463 Update wikistat.md
  docs/en/getting-started/example-datasets/wikistat.md
Labels: pr-documentation, can be tested

#56309 New setting preferred_projection_name
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Processors/QueryPlan/Optimizations/optimizeUseAggregateProjection.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseNormalProjection.cpp
  tests/queries/0_stateless/02907_preferred_optimize_projection_name.reference
  tests/queries/0_stateless/02907_preferred_optimize_projection_name.sh
Labels: pr-feature

#56462 Update materialized-postgresql.md
  docs/en/engines/table-engines/integrations/materialized-postgresql.md
Labels: pr-documentation

#56461 Make IMergeTreeDataPart::getState() inlinable
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
Labels: pr-not-for-changelog, pr-must-backport-cloud

#56478 Docs: Update instructions to fetch the repo
  docs/en/development/developer-instruction.md
Labels: pr-documentation

#54957 Support compression for keeper protocol
  docker/test/stateless/stress_tests.lib
  docs/en/operations/server-configuration-parameters/settings.md
  src/CMakeLists.txt
  src/Common/ZooKeeper/CMakeLists.txt
  src/Common/ZooKeeper/ZooKeeperArgs.cpp
  src/Common/ZooKeeper/ZooKeeperArgs.h
  src/Common/ZooKeeper/ZooKeeperCommon.cpp
  src/Common/ZooKeeper/ZooKeeperConstants.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/ZooKeeper/ZooKeeperImpl.h
  src/Common/ZooKeeper/examples/CMakeLists.txt
  src/Server/KeeperTCPHandler.cpp
  src/Server/KeeperTCPHandler.h
  tests/config/config.d/zookeeper.xml
  tests/integration/test_keeper_compression/__init__.py
  tests/integration/test_keeper_compression/configs/keeper.xml
  tests/integration/test_keeper_compression/configs/keeper_with_compression.xml
  tests/integration/test_keeper_compression/configs/keeper_without_compression.xml
  tests/integration/test_keeper_compression/test_with_compression.py
  tests/integration/test_keeper_compression/test_without_compression.py
  utils/keeper-bench/Runner.cpp
  utils/keeper-bench/Runner.h
Labels: pr-feature

#56391 Fix rocksdb with analyzer.
  src/Storages/KVStorageUtils.cpp
  src/Storages/KVStorageUtils.h
  src/Storages/RocksDB/StorageEmbeddedRocksDB.cpp
  src/Storages/RocksDB/StorageEmbeddedRocksDB.h
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog

#56254 Properly process aliases for aggregation-by-partition optimization.
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Processors/QueryPlan/Optimizations/useDataParallelAggregation.cpp
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog

#56387 Allow backup of mat view with dropped inner table instead of failing the backup
  src/Storages/StorageMaterializedView.cpp
  tests/queries/0_stateless/02907_backup_mv_with_no_inner_table.reference
  tests/queries/0_stateless/02907_backup_mv_with_no_inner_table.sh
Labels: pr-improvement, pr-must-backport, pr-must-backport-cloud

#56312 Parallelize `BackupEntriesCollector`
  src/Backups/BackupEntriesCollector.cpp
  src/Backups/BackupEntriesCollector.h
  src/Backups/BackupOperationInfo.h
  src/Backups/BackupsWorker.cpp
  src/Common/ProfileEvents.cpp
  src/Storages/System/StorageSystemBackups.cpp
  tests/queries/0_stateless/02907_system_backups_profile_events.reference
  tests/queries/0_stateless/02907_system_backups_profile_events.sh
Labels: pr-improvement

#56260 deltalake: Do not raise errors when processing add and remove actions
  src/Storages/DataLakes/DeltaLakeMetadataParser.cpp
Labels: pr-not-for-changelog, can be tested

#54905 Fix key analysis (with set) for `Merge` engine
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMerge.h
  tests/queries/0_stateless/02875_merge_engine_set_index.reference
  tests/queries/0_stateless/02875_merge_engine_set_index.sh
Labels: pr-performance

#56475 recheck 404 response for complete multipart upload
  src/IO/S3/Client.cpp
  src/IO/WriteBufferFromS3.cpp
Labels: pr-improvement

#56385 Rewrite jobs to use callable workflow
  .github/actions/clean/action.yml
  .github/actions/common_setup/action.yml
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  .github/workflows/reusable_build.yml
  tests/ci/build_check.py
  tests/ci/build_report_check.py
  tests/ci/ci_config.py
  tests/ci/env_helper.py
  tests/ci/report.py
Labels: pr-not-for-changelog, pr-must-backport

#56518 Fix compilation of BackupsWorker.cpp
  src/Backups/BackupsWorker.cpp
Labels: pr-not-for-changelog

#55540 Select from system tables when table based on table function.
  src/TableFunctions/TableFunctionMySQL.cpp
  src/TableFunctions/TableFunctionPostgreSQL.cpp
  src/TableFunctions/TableFunctionS3.cpp
  src/TableFunctions/TableFunctionSQLite.cpp
  tests/queries/0_stateless/02888_system_tables_with_inaccsessible_table_function.reference
  tests/queries/0_stateless/02888_system_tables_with_inaccsessible_table_function.sql
Labels: pr-bugfix

#56497 Updated compression to LZ4
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Server/KeeperTCPHandler.cpp
Labels: pr-not-for-changelog

#56479 Parallel clone sparse/shallow submodules
  contrib/update-submodules.sh
Labels: pr-not-for-changelog

#56548 Add a table `system.symbols`
  docs/en/operations/system-tables/symbols.md
  src/Storages/System/StorageSystemSymbols.cpp
  src/Storages/System/StorageSystemSymbols.h
  src/Storages/System/attachSystemTables.cpp
  tests/queries/0_stateless/01161_all_system_tables.sh
  tests/queries/0_stateless/02911_system_symbols.reference
  tests/queries/0_stateless/02911_system_symbols.sql
Labels: pr-feature

#56547 Better warning message
  src/Interpreters/Context.cpp
  tests/queries/0_stateless/01945_system_warnings.reference
Labels: pr-not-for-changelog

#56377 Minor improvements for S3Queue
  src/Interpreters/InterpreterDropQuery.cpp
  src/Storages/FileLog/StorageFileLog.cpp
  src/Storages/FileLog/StorageFileLog.h
  src/Storages/IStorage.h
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/StorageKafka.h
  src/Storages/LiveView/StorageLiveView.cpp
  src/Storages/LiveView/StorageLiveView.h
  src/Storages/NATS/StorageNATS.cpp
  src/Storages/NATS/StorageNATS.h
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.h
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.h
  src/Storages/S3Queue/S3QueueFilesMetadata.cpp
  src/Storages/S3Queue/S3QueueFilesMetadata.h
  src/Storages/S3Queue/S3QueueSource.cpp
  src/Storages/S3Queue/S3QueueSource.h
  src/Storages/S3Queue/StorageS3Queue.cpp
  src/Storages/S3Queue/StorageS3Queue.h
  src/Storages/StorageDictionary.cpp
  src/Storages/StorageDictionary.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMaterializedView.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageProxy.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  src/Storages/StorageTableFunction.h
  src/Storages/WindowView/StorageWindowView.cpp
  src/Storages/WindowView/StorageWindowView.h
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-not-for-changelog

#56572 Delete unnecessary file from tests
  tests/integration/test_alter_moving_garbage/configs/config.d/storage_conf_l.xml
Labels: pr-not-for-changelog

#56457 Fix test `02725_database_hdfs.sh`
  src/Storages/HDFS/HDFSCommon.cpp
  tests/queries/0_stateless/02113_hdfs_assert.sh
  tests/queries/0_stateless/02114_hdfs_bad_url.sh
  tests/queries/0_stateless/02725_database_hdfs.reference
  tests/queries/0_stateless/02725_database_hdfs.sh
Labels: pr-not-for-changelog

#56306 Fix restore from backup with `flatten_nested` and `data_type_default_nullable`
  src/Client/LocalConnection.cpp
  src/Databases/DatabaseOnDisk.cpp
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicated.h
  src/Databases/DatabasesCommon.cpp
  src/Databases/IDatabase.h
  src/Databases/MySQL/MaterializedMySQLSyncThread.cpp
  src/Dictionaries/ClickHouseDictionarySource.cpp
  src/Interpreters/Access/InterpreterShowAccessEntitiesQuery.cpp
  src/Interpreters/Access/InterpreterShowPrivilegesQuery.cpp
  src/Interpreters/DDLTask.cpp
  src/Interpreters/DDLTask.h
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterCreateQuery.h
  src/Interpreters/InterpreterKillQueryQuery.cpp
  src/Interpreters/InterpreterShowColumnsQuery.cpp
  src/Interpreters/InterpreterShowEngineQuery.cpp
  src/Interpreters/InterpreterShowFunctionsQuery.cpp
  src/Interpreters/InterpreterShowIndexesQuery.cpp
  src/Interpreters/InterpreterShowProcesslistQuery.cpp
  src/Interpreters/InterpreterShowSettingQuery.cpp
  src/Interpreters/InterpreterShowTablesQuery.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/MySQL/InterpretersMySQLDDLQuery.h
  src/Interpreters/executeQuery.cpp
  src/Interpreters/executeQuery.h
  src/Interpreters/fuzzers/execute_query_fuzzer.cpp
  src/Interpreters/loadMetadata.cpp
  src/Interpreters/parseColumnsListForTableFunction.cpp
  src/Server/HTTPHandler.cpp
  src/Server/MySQLHandler.cpp
  src/Server/TCPHandler.cpp
  tests/queries/0_stateless/02907_backup_restore_default_nullable.reference
  tests/queries/0_stateless/02907_backup_restore_default_nullable.sh
  tests/queries/0_stateless/02907_backup_restore_flatten_nested.reference
  tests/queries/0_stateless/02907_backup_restore_flatten_nested.sh
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#56531 Analyzer log used row policies
  src/Analyzer/QueryTreePassManager.cpp
  src/Interpreters/InterpreterSelectQueryAnalyzer.cpp
  src/Interpreters/InterpreterSelectQueryAnalyzer.h
  src/Planner/Planner.cpp
  src/Planner/Planner.h
  src/Planner/PlannerJoinTree.cpp
  src/Planner/PlannerJoinTree.h
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog, can be tested

#56517 CTE invalid query analysis add test
  tests/queries/0_stateless/02911_cte_invalid_query_analysis.reference
  tests/queries/0_stateless/02911_cte_invalid_query_analysis.sql
Labels: pr-not-for-changelog, can be tested

#56500 FunctionSleep exception message fix
  src/Functions/sleep.h
Labels: pr-not-for-changelog, can be tested

#56491 Fix ALTER COMMENT queries ON CLUSTER
  src/Interpreters/DDLWorker.cpp
  src/Parsers/ASTAlterQuery.cpp
  src/Parsers/ASTAlterQuery.h
  tests/integration/test_alter_comment_on_cluster/__init__.py
  tests/integration/test_alter_comment_on_cluster/configs/clusters.xml
  tests/integration/test_alter_comment_on_cluster/test.py
Labels: pr-bugfix

#56486 Fix default port for Replicated database cluster
  src/Databases/DatabaseReplicated.cpp
Labels: pr-not-for-changelog

#56484 Fix ON CLUSTER queries without database on initial node
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/integration/test_external_cluster/__init__.py
  tests/integration/test_external_cluster/configs/clusters.xml
  tests/integration/test_external_cluster/test.py
Labels: pr-bugfix

#56419 Fix 02404_memory_bound_merging with analyzer.
  src/Planner/CollectTableExpressionData.cpp
  src/Planner/Planner.cpp
  src/Planner/TableExpressionData.h
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog

#56586 Update docs of `fromUnixTimeStamp[InJodaSyntax]()`
  docs/en/sql-reference/functions/date-time-functions.md
  docs/en/sql-reference/functions/type-conversion-functions.md
  src/Functions/FunctionUnixTimestamp64.h
  tests/queries/0_stateless/01277_toUnixTimestamp64.sql
Labels: pr-documentation

#56552 Allow `chassert` to guide the static analyzer
  base/base/defines.h
  src/Common/Exception.cpp
  src/Common/Exception.h
Labels: pr-not-for-changelog

#56546 Remove useless using
  src/AggregateFunctions/AggregateFunctionUniqCombined.cpp
  src/Client/ReplxxLineReader.cpp
  src/Dictionaries/HashedArrayDictionary.cpp
  src/Dictionaries/HashedDictionary.cpp
Labels: pr-not-for-changelog

#56570 Fix `test_keeper_four_word_command/test.py::test_cmd_crst`
  tests/integration/test_keeper_four_word_command/test.py
Labels: pr-not-for-changelog

#56539 Removes duplicated slugs in docs.
  docs/en/getting-started/example-datasets/wikistat.md
  docs/en/operations/optimizing-performance/profile-guided-optimization.md
Labels: pr-documentation, can be tested

#56598 Revert "Inserting only non-duplicate chunks in MV"
  src/Processors/Sinks/IOutputChunkGenerator.h
  src/Processors/Sinks/OutputChunkGenerator.cpp
  src/Processors/Sinks/SinkToStorage.cpp
  src/Processors/Sinks/SinkToStorage.h
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.h
  tests/queries/0_stateless/02869_insert_materialized_views_duplicated_parts.reference
  tests/queries/0_stateless/02869_insert_materialized_views_duplicated_parts.sql
Labels: pr-not-for-changelog, pr-must-backport, can be tested

#56502 Fix two cases of projection analysis.
  src/Processors/QueryPlan/Optimizations/optimizeUseAggregateProjection.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseNormalProjection.cpp
  src/Processors/QueryPlan/Optimizations/projectionsCommon.cpp
  src/Processors/QueryPlan/Optimizations/projectionsCommon.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/PartitionPruner.cpp
  src/Storages/MergeTree/PartitionPruner.h
  src/Storages/StorageMergeTree.cpp
  tests/queries/0_stateless/01710_projection_analysis_reuse_partition.reference
  tests/queries/0_stateless/01710_projection_analysis_reuse_partition.sh
  tests/queries/0_stateless/01710_projection_with_alter_conversions.reference
  tests/queries/0_stateless/01710_projection_with_alter_conversions.sql
  tests/queries/0_stateless/01710_projections.sql
Labels: pr-bugfix

#56556 Remove C++ templates
  src/AggregateFunctions/AggregateFunctionUniq.h
  src/Dictionaries/RangeHashedDictionary.h
  src/Functions/CMakeLists.txt
  src/Functions/CastOverloadResolver.cpp
  src/Functions/CastOverloadResolver.h
  src/Functions/FunctionTokens.h
  src/Functions/FunctionsConversion.h
  src/Functions/FunctionsStringArray.cpp
  src/Functions/FunctionsStringArray.h
  src/Functions/URL/URLHierarchy.cpp
  src/Functions/URL/URLPathHierarchy.cpp
  src/Functions/URL/extractURLParameterNames.cpp
  src/Functions/URL/extractURLParameters.cpp
  src/Functions/alphaTokens.cpp
  src/Functions/appendTrailingCharIfAbsent.cpp
  src/Functions/arrayStringConcat.cpp
  src/Functions/extractAll.cpp
  src/Functions/formatDateTime.cpp
  src/Functions/parseDateTime.cpp
  src/Functions/splitByChar.cpp
  src/Functions/splitByNonAlpha.cpp
  src/Functions/splitByRegexp.cpp
  src/Functions/splitByString.cpp
  src/Functions/splitByWhitespace.cpp
  src/Functions/toBool.cpp
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/castColumn.cpp
  src/Interpreters/castColumn.h
  src/Processors/Formats/Impl/ArrowFieldIndexUtil.h
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/KVStorageUtils.cpp
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/MergeTreeSplitPrewhereIntoReadSteps.cpp
  src/Storages/PartitionedSink.cpp
  src/Storages/StorageS3.cpp
  src/Storages/System/StorageSystemBackups.cpp
Labels: pr-not-for-changelog

#56483 Enable HTTP OPTIONS method by default
  programs/server/config.xml
Labels: pr-improvement

#56615 Add indices to exported system logs
  docker/test/base/setup_export_logs.sh
  tests/ci/clickhouse_helper.py
Labels: pr-not-for-changelog

#56616 Remove dependencies
  src/Interpreters/CrossToInnerJoinVisitor.cpp
  src/Interpreters/GatherFunctionQuantileVisitor.cpp
  src/Interpreters/addMissingDefaults.cpp
Labels: pr-not-for-changelog

#56594 hide VERSION_INLINE_DATA under feature flag
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.cpp
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.h
Labels: pr-not-for-changelog

#56625 EN doc Float32/Float64 canonicalRand is replaced by randCanonical
  docs/en/sql-reference/data-types/float.md
Labels: pr-documentation
