Repository ClickHouse/ClickHouse, pull requests merged in 2023-10, with the labels that each got.

#54798 Optimise memory consumption when external group by generates ton of temporary files
  src/Disks/tests/gtest_disk.cpp
  src/Disks/tests/gtest_disk.h
  src/Interpreters/TemporaryDataOnDisk.cpp
  src/Interpreters/TemporaryDataOnDisk.h
  src/Interpreters/tests/gtest_lru_file_cache.cpp
Labels: pr-improvement, pr-status-❌

#55209 Update README.md
  README.md
Labels: pr-not-for-changelog

#54052 Support missed Object(Nullable(json)) subcolumns in query.
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/TreeRewriter.h
  src/Interpreters/replaceMissedSubcolumnsInQuery.cpp
  src/Interpreters/replaceMissedSubcolumnsInQuery.h
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  tests/queries/0_stateless/02886_missed_json_subcolumns.reference
  tests/queries/0_stateless/02886_missed_json_subcolumns.sql
  tests/queries/0_stateless/02887_mutations_subcolumns.reference
  tests/queries/0_stateless/02887_mutations_subcolumns.sql
Labels: pr-bugfix, experimental issue, can be tested, pr-status-❌

#55121 Context lock contention fix
  src/Common/callOnce.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
Labels: pr-performance, can be tested

#53278 Add a test with Block structure mismatch in grace hash join.
  tests/queries/0_stateless/02840_grace_hash_join_structure_mismatch.reference
  tests/queries/0_stateless/02840_grace_hash_join_structure_mismatch.sql
Labels: pr-not-for-changelog

#55210 Speed up buildup of inverted index using absl::flat_hash_map
  src/Common/FST.h
  src/Storages/MergeTree/GinIndexStore.h
Labels: pr-performance, can be tested

#55224 Fix syntax highlight in client for spaceship operator
  src/Client/ClientBaseHelpers.cpp
Labels: pr-not-for-changelog

#55259 Fix docs typo (makeDateTime32 -> makeDateTime64)
  docs/en/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#55258 Update truncate.md
  docs/en/sql-reference/statements/truncate.md
Labels: pr-documentation, can be tested

#55250 Fix broken link rendering in studentTTest.md
  docs/en/sql-reference/aggregate-functions/reference/studentttest.md
Labels: pr-documentation, can be tested

#51435 Build artifact with sources with submodules in Darwin special build
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  docker/packager/binary/build.sh
  docker/packager/packager
Labels: pr-build, pr-must-backport

#55260 Fix data race in context
  src/Interpreters/Context.cpp
Labels: pr-not-for-changelog

#55253 Evaluate defaults during async insert safer
  src/Access/EnabledRolesInfo.cpp
  src/Access/EnabledRolesInfo.h
  src/Functions/UserDefined/UserDefinedSQLFunctionFactory.cpp
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/AsynchronousInsertQueue.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  tests/queries/0_stateless/02247_written_bytes_quota.sh
  tests/queries/0_stateless/02885_async_insert_access_check_for_defaults.reference
  tests/queries/0_stateless/02885_async_insert_access_check_for_defaults.sh
Labels: pr-not-for-changelog

#55266 Fix query_log cache usage column name in docs
  docs/en/operations/query-cache.md
Labels: pr-documentation, can be tested

#55296 Improve logging in query cache
  docs/en/sql-reference/functions/splitting-merging-functions.md
  src/Interpreters/Cache/QueryCache.cpp
  src/Interpreters/executeQuery.cpp
Labels: pr-not-for-changelog

#55282 Fix typo in TableFunctionS3.cpp
  src/TableFunctions/TableFunctionS3.cpp
Labels: pr-documentation, can be tested

#55298 Make `use_mysql_types_in_show_columns` independent from the connection
  docs/en/operations/settings/settings.md
  docs/en/operations/system-tables/columns.md
  docs/en/sql-reference/statements/show.md
  src/Core/Settings.h
  src/Storages/System/StorageSystemColumns.cpp
  tests/queries/0_stateless/02775_show_columns_mysql_compatibility.reference
  tests/queries/0_stateless/02775_show_columns_mysql_compatibility.sh
  tests/queries/0_stateless/02775_show_columns_mysql_compatibility.sql
Labels: pr-not-for-changelog

#55307 Make `HandlingRuleHTTPHandlerFactory` more stupid, but less error prone
  src/Server/HTTPHandler.cpp
  src/Server/HTTPHandlerFactory.cpp
  src/Server/HTTPHandlerFactory.h
  src/Server/PrometheusRequestHandler.cpp
  src/Server/StaticRequestHandler.cpp
Labels: pr-not-for-changelog

#55243 Doc. fix a mistake about refcount
  docs/en/operations/settings/merge-tree-settings.md
Labels: pr-documentation

#55226 Make clickhouse-server provides keeper
  packages/build
  packages/clickhouse-client.yaml
  packages/clickhouse-common-static-dbg.yaml
  packages/clickhouse-common-static.yaml
  packages/clickhouse-keeper-dbg.yaml
  packages/clickhouse-keeper.postinstall
  packages/clickhouse-keeper.yaml
  packages/clickhouse-server.postinstall
  packages/clickhouse-server.yaml
Labels: pr-build

#55220 Doc. Update use_local_cache_for_remote_storage settings name
  docs/en/engines/table-engines/integrations/hive.md
  docs/zh/engines/table-engines/integrations/hive.md
Labels: pr-documentation, can be tested

#55119 Fix deadlock in LDAP assigned role update
  docker/test/integration/runner/compose/docker_compose_ldap.yml
  src/Access/LDAPAccessStorage.h
  src/Access/MemoryAccessStorage.h
  tests/integration/helpers/cluster.py
  tests/integration/test_ldap_external_user_directory/__init__.py
  tests/integration/test_ldap_external_user_directory/configs/ldap_with_role_mapping.xml
  tests/integration/test_ldap_external_user_directory/test.py
Labels: pr-bugfix, manual approve, can be tested

#55297 MaterializedPostgreSQL: remove back check
  src/Storages/PostgreSQL/MaterializedPostgreSQLConsumer.cpp
Labels: pr-not-for-changelog, pr-must-backport

#55252 Fix for background download in fs cache
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/FileSegment.h
  src/Interpreters/Cache/Metadata.cpp
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#55215 Add `information_schema.columns.extra` and `information_schema.tables.table_rows`
  docs/en/operations/system-tables/information_schema.md
  src/Storages/System/attachInformationSchemaTables.cpp
  tests/queries/0_stateless/01161_information_schema.reference
  tests/queries/0_stateless/02206_information_schema_show_database.reference
Labels: pr-improvement

#55247 tests: switch test_throttling to S3 over https to make it more production like
  tests/integration/test_throttling/configs/server_backups.xml
  tests/integration/test_throttling/configs/ssl.xml
  tests/integration/test_throttling/minio_certs/CAs/public.crt
  tests/integration/test_throttling/minio_certs/private.key
  tests/integration/test_throttling/minio_certs/public.crt
  tests/integration/test_throttling/test.py
Labels: pr-not-for-changelog

#55275 Fix functions execution over sparse columns
  src/DataTypes/DataTypeFunction.h
  src/Functions/IFunction.cpp
  tests/queries/0_stateless/02891_functions_over_sparse_columns.reference
  tests/queries/0_stateless/02891_functions_over_sparse_columns.sql
Labels: pr-bugfix

#55276 Fix incorrect merging of Nested for SELECT FINAL FROM SummingMergeTree
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  tests/queries/0_stateless/02892_SummingMergeTree_Nested.reference
  tests/queries/0_stateless/02892_SummingMergeTree_Nested.sql
Labels: pr-bugfix

#55218 remove the blocker to grow the metadata file version
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.cpp
Labels: pr-not-for-changelog

#54391 Add function `arrayRandomSample()`
  docs/en/sql-reference/functions/array-functions.md
  src/Functions/array/arrayRandomSample.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02874_array_random_sample.reference
  tests/queries/0_stateless/02874_array_random_sample.sh
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, can be tested, pr-status-❌

#55123 Use the tuple element names as column names in `untuple()`
  docs/en/sql-reference/data-types/tuple.md
  docs/en/sql-reference/functions/tuple-functions.md
  src/Interpreters/ActionsVisitor.cpp
  tests/queries/0_stateless/02890_untuple_column_names.reference
  tests/queries/0_stateless/02890_untuple_column_names.sql
Labels: pr-improvement, can be tested

#55336 Review #51946 and partially revert it
  docs/en/interfaces/http.md
  docs/ru/interfaces/http.md
  docs/zh/interfaces/http.md
  src/Common/ProgressIndication.h
  src/IO/Progress.cpp
  src/IO/Progress.h
  src/Server/HTTP/WriteBufferFromHTTPServerResponse.cpp
  src/Server/HTTP/WriteBufferFromHTTPServerResponse.h
  src/Server/HTTPHandler.cpp
Labels: pr-not-for-changelog

#55103 Proper cleanup in case of exception in ctor of ShellCommandSource
  src/Processors/Sources/ShellCommandSource.cpp
Labels: pr-bugfix

#55327 Refactorings and better documentation for `toStartOfInterval()`
  docs/en/sql-reference/functions/date-time-functions.md
  src/Functions/DateTimeTransforms.h
  src/Functions/toStartOfInterval.cpp
Labels: pr-not-for-changelog

#55245 Upgrade MinIO to support accepting non signed requests
  docker/test/integration/runner/compose/docker_compose_minio.yml
  tests/integration/test_storage_delta/test.py
Labels: pr-not-for-changelog

#55328 Better docs for #55326
  src/Core/Settings.h
Labels: pr-documentation

#55354 Fix bad test `01605_dictinct_two_level`
  tests/queries/0_stateless/01605_dictinct_two_level.reference
  tests/queries/0_stateless/01605_dictinct_two_level.sql
Labels: pr-not-for-changelog

#55357 Revert "Support SAMPLE BY for VIEW"
  src/Storages/StorageView.cpp
  tests/queries/0_stateless/02881_view_sampling.reference
  tests/queries/0_stateless/02881_view_sampling.sql
  tests/queries/0_stateless/02893_bad_sample_view.reference
  tests/queries/0_stateless/02893_bad_sample_view.sql
  tests/queries/1_stateful/00056_view.reference
Labels: pr-not-for-changelog

#55356 Better exception messages
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/StorageMerge.cpp
Labels: pr-not-for-changelog

#55353 Fix trash optimization (up to a certain extent)
  src/Interpreters/LogicalExpressionsOptimizer.cpp
  tests/queries/0_stateless/02893_trash_optimization.reference
  tests/queries/0_stateless/02893_trash_optimization.sql
Labels: pr-bugfix

#55335 Fix SIGSEGV in MergeSortingPartialResultTransform (due to zero chunks after remerge())
  src/Processors/Transforms/MergeSortingPartialResultTransform.cpp
  tests/queries/0_stateless/02894_MergeSortingPartialResultTransform_empty_block.reference
  tests/queries/0_stateless/02894_MergeSortingPartialResultTransform_empty_block.sql
Labels: pr-bugfix

#55378 Disable skim under TSan (Rust does not supports ThreadSanitizer)
  rust/skim/CMakeLists.txt
Labels: pr-not-for-changelog

#55370 Fix leak in StorageHDFS
  src/Storages/HDFS/StorageHDFS.cpp
Labels: pr-bugfix

#55355 Fix test_max_rows_to_read_leaf_with_view flakiness (due to prefer_localhost_replica)
  src/Core/Settings.h
  tests/integration/test_max_rows_to_read_leaf_with_view/test.py
Labels: pr-not-for-changelog

#55338 Fix data-race in CreatingSetsTransform (on errors) due to throwing shared exception
  src/Processors/Transforms/CreatingSetsTransform.cpp
  tests/analyzer_integration_broken_tests.txt
  tests/integration/test_build_sets_from_multiple_threads/__init__.py
  tests/integration/test_build_sets_from_multiple_threads/configs/users_overrides.xml
  tests/integration/test_build_sets_from_multiple_threads/test.py
Labels: pr-bugfix, pr-must-backport

#54989 Remove useless path from lockSharedData in StorageReplicatedMergeTree
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#47663 skip hardlinking inverted index files in mutation
  src/Storages/MergeTree/MutateTask.cpp
  tests/queries/0_stateless/02346_inverted_index_mutation.reference
  tests/queries/0_stateless/02346_inverted_index_mutation.sql
Labels: pr-bugfix, can be tested

#49794 Added function `arrayFold()`
  docs/en/sql-reference/functions/array-functions.md
  src/Functions/array/arrayFold.cpp
  tests/performance/array_fold.xml
  tests/queries/0_stateless/02718_array_fold.reference
  tests/queries/0_stateless/02718_array_fold.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, can be tested

#55369 Update replacingmergetree.md
  docs/en/engines/table-engines/mergetree-family/replacingmergetree.md
Labels: pr-documentation, can be tested

#55108 Add fields `substreams` and `filenames` to `system.parts_columns`
  src/Storages/System/StorageSystemPartsColumns.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/02889_parts_columns_filenames.reference
  tests/queries/0_stateless/02889_parts_columns_filenames.sql
Labels: pr-improvement

#54873 Remove tests
  tests/integration/test_ssl_cert_authentication/test.py
  tests/integration/test_tlsv1_3/test.py
Labels: pr-not-for-changelog

#53275 Document limitation of BACKUP TO Disk('s3_backup')
  docs/en/operations/backup.md
Labels: pr-documentation, can be tested

#55202 Fix recalculation of skip indexes in ALTER UPDATE queries when table has adaptive granularity
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/MutationsInterpreter.h
  src/Storages/MergeTree/MergeTreeMarksLoader.cpp
  tests/queries/0_stateless/02891_alter_update_adaptive_granularity.reference
  tests/queries/0_stateless/02891_alter_update_adaptive_granularity.sql
Labels: pr-bugfix, can be tested

#55352 Context locks small fixes
  src/Interpreters/Context.cpp
Labels: pr-not-for-changelog, can be tested

#55208 Add option to set env variables for a single node in integration tests
  tests/integration/helpers/cluster.py
  tests/integration/test_s3_table_function_with_http_proxy/test.py
Labels: pr-build, can be tested

#55362 Merging #43085
  tests/queries/0_stateless/02478_projection_and_alter_low_cardinality.reference
  tests/queries/0_stateless/02478_projection_and_alter_low_cardinality.sql
  tests/queries/0_stateless/02478_projection_with_group_by_alter.sql
Labels: pr-not-for-changelog

#55186 Remove the support for in memory data parts (part 2)
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataPartInMemory.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterInMemory.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterInMemory.h
  src/Storages/MergeTree/ReplicatedMergeTreeAttachThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/StorageMergeTree.cpp
  tests/integration/test_backward_compatibility/test_in_memory_parts_still_read.py
Labels: pr-backward-incompatible

#55417 Fix parsing of arrays in cast operator
  src/Parsers/ExpressionElementParsers.cpp
  tests/queries/0_stateless/02895_cast_operator_bug.reference
  tests/queries/0_stateless/02895_cast_operator_bug.sql
Labels: pr-bugfix, pr-must-backport

#55377 add internal_replication to system.clusters
  src/Storages/System/StorageSystemClusters.cpp
  tests/queries/0_stateless/01293_show_clusters.reference
  tests/queries/0_stateless/01293_show_clusters.sh
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-improvement, can be tested

#55425 Improve tests for untuple()
  tests/queries/0_stateless/02890_untuple_column_names.reference
  tests/queries/0_stateless/02890_untuple_column_names.sql
Labels: pr-not-for-changelog

#50944 ANTI JOIN: Invalid number of rows in Chunk
  tests/queries/0_stateless/02785_left_anti_join_bug.reference
  tests/queries/0_stateless/02785_left_anti_join_bug.sql
Labels: pr-bugfix

#55419 Fix MongoDB connection issues
  base/poco/MongoDB/include/Poco/MongoDB/Database.h
  base/poco/MongoDB/src/Database.cpp
  src/Processors/Sources/MongoDBSource.cpp
Labels: pr-bugfix, pr-must-backport

#55206 Update CHANGELOG.md / issue with with a downgrade because of ratio_of_defaults_for_sparse_serialization
  CHANGELOG.md
Labels: pr-documentation

#55392 Fix missing thread accounting for insert_distributed_sync=1
  src/Storages/Distributed/DistributedSink.cpp
  tests/queries/0_stateless/02895_peak_memory_usage_http_headers_regression.reference
  tests/queries/0_stateless/02895_peak_memory_usage_http_headers_regression.sh
Labels: pr-not-for-changelog

#55424 Updated RabbitMQ image and fixed log retrieval in failed tests.
  docker/test/integration/runner/compose/docker_compose_rabbitmq.yml
  docker/test/integration/runner/misc/rabbitmq.conf
  tests/integration/helpers/cluster.py
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-build

#55309 Fix bug with inability to drop detached partition in replicated merge tree on top of S3 without zero copy
  src/Disks/ObjectStorages/DiskObjectStorageTransaction.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_replicated_s3_zero_copy_drop_partition/__init__.py
  tests/integration/test_replicated_s3_zero_copy_drop_partition/configs/storage_conf.xml
  tests/integration/test_replicated_s3_zero_copy_drop_partition/test.py
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#55427 Fix MySQL interface boolean representation
  src/Core/MySQL/PacketsProtocolBinary.cpp
  src/Core/MySQL/PacketsProtocolText.cpp
  tests/integration/test_mysql_protocol/prepared_statements.reference
  tests/integration/test_mysql_protocol/test.py
Labels: pr-bugfix, can be tested

#55064 Allow drop cache for Protobuf format
  docs/en/interfaces/formats.md
  docs/en/sql-reference/statements/system.md
  src/Access/Common/AccessType.h
  src/Formats/ProtobufSchemas.cpp
  src/Formats/ProtobufSchemas.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Parsers/ASTSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  src/Parsers/ParserSystemQuery.cpp
  tests/integration/test_format_schema_on_server/test.py
  tests/queries/0_stateless/01271_show_privileges.reference
  tests/queries/0_stateless/02889_system_drop_format_schema.reference
  tests/queries/0_stateless/02889_system_drop_format_schema.sql
Labels: pr-feature, can be tested

#55112 Remove the old code for projection analysis
  src/Core/Settings.h
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Interpreters/InterpreterSelectQuery.h
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/queries/0_stateless/02888_obsolete_settings.reference
Labels: pr-improvement

#55089 Improve hiding secrets in logs
  src/Parsers/ASTFunction.cpp
  tests/integration/test_mask_sensitive_info/test.py
  tests/queries/0_stateless/02801_backup_native_copy.reference
Labels: pr-improvement

#55372 Fix data-race in web disk
  src/Disks/IO/ReadBufferFromWebServer.h
  src/IO/SeekableReadBuffer.h
Labels: pr-not-for-changelog

#55468 Fix out of bound error in system.remote_data_paths + disk web
  src/Disks/ObjectStorages/Web/WebObjectStorage.cpp
  tests/integration/test_disk_over_web_server/test.py
Labels: pr-not-for-changelog

#55277 Fix query formatting for SYSTEM queries
  src/Parsers/ASTSystemQuery.cpp
  tests/queries/0_stateless/02893_system_drop_schema_cache_format.reference
  tests/queries/0_stateless/02893_system_drop_schema_cache_format.sql
Labels: pr-not-for-changelog

#55467 Revert "Revert "refine error code of duplicated index in create query""
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/queries/0_stateless/02884_duplicate_index_name.reference
  tests/queries/0_stateless/02884_duplicate_index_name.sql
Labels: pr-not-for-changelog

#55479 Fix MySQL text protocol DateTime formatting and LowCardinality(Nullable(T)) types reporting
  docker/test/integration/mysql_java_client/Dockerfile
  docker/test/integration/mysql_java_client/MySQLJavaClientTest.java
  docker/test/integration/mysql_java_client/Test.java
  src/Core/MySQL/MySQLUtils.cpp
  src/Core/MySQL/MySQLUtils.h
  src/Core/MySQL/PacketsProtocolBinary.cpp
  src/Core/MySQL/PacketsProtocolBinary.h
  src/Core/MySQL/PacketsProtocolText.cpp
  src/Core/MySQL/PacketsProtocolText.h
  src/DataTypes/DataTypeLowCardinality.cpp
  src/DataTypes/DataTypeLowCardinality.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/parseColumnsListForTableFunction.cpp
  src/Processors/Formats/Impl/MySQLOutputFormat.cpp
  tests/integration/test_mysql_protocol/java.reference
  tests/integration/test_mysql_protocol/java_client_binary.reference
  tests/integration/test_mysql_protocol/java_client_test.sql
  tests/integration/test_mysql_protocol/java_client_text.reference
  tests/integration/test_mysql_protocol/test.py
Labels: pr-bugfix, manual approve, can be tested

#55493 Minor fixes for 02882_replicated_fetch_checksums_doesnt_match.sql
  tests/queries/0_stateless/02882_replicated_fetch_checksums_doesnt_match.sql
Labels: pr-not-for-changelog

#55196 edit wrong example in en doc
  docs/en/sql-reference/aggregate-functions/reference/argmin.md
  docs/en/sql-reference/functions/arithmetic-functions.md
Labels: pr-documentation, can be tested

#55524 Remove a confusing line from docs
  docs/en/engines/table-engines/mergetree-family/replacingmergetree.md
Labels: pr-documentation

#55517 Revert "Merge pull request #52395 from azat/rust/reproducible-builds"
  .gitignore
  docker/packager/binary/Dockerfile
  docker/packager/binary/rust
  rust/.dockerignore
  rust/.gitignore
  rust/BLAKE3/Cargo.lock
  rust/CMakeLists.txt
  rust/Cargo.toml
  rust/prql/Cargo.lock
  rust/skim/Cargo.lock
  tests/ci/docker_images_check.py
  tests/ci/docker_test.py
Labels: pr-backport

#55515 Cleanup: parallel replica coordinator usage
  src/Interpreters/ClusterProxy/SelectStreamFactory.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/Context.h
  src/Processors/QueryPlan/DistributedCreateLocalPlan.h
  src/Processors/QueryPlan/ReadFromRemote.h
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
Labels: pr-not-for-changelog

#55481 Make `use_mysql_types_in_show_columns` affect only `SHOW COLUMNS`
  docs/en/operations/settings/settings.md
  docs/en/operations/system-tables/columns.md
  docs/en/operations/system-tables/part_log.md
  src/Core/MySQL/MySQLUtils.cpp
  src/Core/MySQL/MySQLUtils.h
  src/Core/MySQL/PacketsProtocolBinary.cpp
  src/Core/MySQL/PacketsProtocolBinary.h
  src/Core/MySQL/PacketsProtocolText.cpp
  src/Core/MySQL/PacketsProtocolText.h
  src/DataTypes/DataTypeAggregateFunction.h
  src/DataTypes/DataTypeArray.h
  src/DataTypes/DataTypeDate.h
  src/DataTypes/DataTypeDate32.h
  src/DataTypes/DataTypeDateTime.h
  src/DataTypes/DataTypeDateTime64.h
  src/DataTypes/DataTypeEnum.cpp
  src/DataTypes/DataTypeEnum.h
  src/DataTypes/DataTypeFixedString.h
  src/DataTypes/DataTypeFunction.h
  src/DataTypes/DataTypeIPv4andIPv6.h
  src/DataTypes/DataTypeInterval.h
  src/DataTypes/DataTypeLowCardinality.h
  src/DataTypes/DataTypeMap.h
  src/DataTypes/DataTypeNothing.h
  src/DataTypes/DataTypeNullable.h
  src/DataTypes/DataTypeNumberBase.cpp
  src/DataTypes/DataTypeNumberBase.h
  src/DataTypes/DataTypeObject.h
  src/DataTypes/DataTypeSet.h
  src/DataTypes/DataTypeString.h
  src/DataTypes/DataTypeTuple.h
  src/DataTypes/DataTypeUUID.h
  src/DataTypes/DataTypesDecimal.cpp
  src/DataTypes/DataTypesDecimal.h
  src/DataTypes/IDataType.h
  src/Formats/SchemaInferenceUtils.cpp
  src/Interpreters/InterpreterShowColumnsQuery.cpp
  src/Processors/Formats/Impl/MySQLOutputFormat.cpp
  src/Storages/System/StorageSystemColumns.cpp
  tests/queries/0_stateless/02775_show_columns_mysql_compatibility.reference
  tests/queries/0_stateless/02775_show_columns_mysql_compatibility.sql
Labels: pr-bugfix

#55523 add k-morozov to trusted contributors
  tests/ci/lambda_shared_package/lambda_shared/pr.py
Labels: pr-not-for-changelog

#55516 Destroy fiber in case of exception in cancelBefore in AsyncTaskExecutor
  src/Common/AsyncTaskExecutor.cpp
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#54813 Add function getHttpHeader
  docs/en/sql-reference/functions/other-functions.md
  src/Functions/getHttpHeader.cpp
  src/Interpreters/ClientInfo.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/Session.cpp
  src/Interpreters/Session.h
  src/Server/HTTPHandler.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02884_getHttpHeaderFunction.reference
  tests/queries/0_stateless/02884_getHttpHeaderFunction.sh
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, can be tested, pr-status-❌

#55498 add npm packages to both en and zh docs from ru
  docs/en/interfaces/third-party/client-libraries.md
  docs/zh/interfaces/third-party/client-libraries.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#55550 Update table.md
  docs/en/sql-reference/statements/create/table.md
Labels: pr-documentation

#55529 Forbid create inverted index if setting not enabled
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/02895_forbid_create_inverted_index.reference
  tests/queries/0_stateless/02895_forbid_create_inverted_index.sql
Labels: pr-not-for-changelog

#55503 fix lots of 'Structure does not match' warnings in ci
  docker/test/base/setup_export_logs.sh
Labels: pr-not-for-changelog

#55554 Better error message in case when merge selecting task failed.
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
Labels: pr-not-for-changelog

#55526 Improve merge selecting algorithm for big partitions
  src/Storages/MergeTree/SimpleMergeSelector.cpp
Labels: pr-improvement

#55553 Avoid setting same promise twice
  src/Processors/Transforms/CreatingSetsTransform.cpp
Labels: pr-not-for-changelog

#55495 AggregatingTransform initGenerate race condition fix
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Processors/Transforms/AggregatingTransform.h
Labels: pr-not-for-changelog, can be tested

#54421 Add replica groups to Replicated database engine
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/sql-reference/statements/system.md
  programs/server/config.xml
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicated.h
  src/Interpreters/Cluster.cpp
  src/Interpreters/Cluster.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/executeDDLQueryOnCluster.cpp
  src/Parsers/ASTSystemQuery.h
  src/Parsers/ParserSystemQuery.cpp
  tests/integration/test_replicated_database_cluster_groups/__init__.py
  tests/integration/test_replicated_database_cluster_groups/configs/backup_group.xml
  tests/integration/test_replicated_database_cluster_groups/configs/settings.xml
  tests/integration/test_replicated_database_cluster_groups/test.py
Labels: pr-improvement

#55570 Add syntax and examples to docs of date/time functions
  docs/en/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#55557 Add backward compatibility on the obsoleted storage configuration
  src/Storages/MergeTree/MergeTreeSettings.h
  tests/queries/0_stateless/02888_obsolete_settings.reference
Labels: pr-improvement, can be tested, pr-must-backport-cloud

#49486 Set defaults_for_omitted_fields to true for hive text format
  src/Processors/Formats/Impl/HiveTextRowInputFormat.cpp
Labels: pr-not-for-changelog

#49555 Fixing join tests with analyzer
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  src/Interpreters/IdentifierSemantic.h
  src/Interpreters/getHeaderForProcessingStage.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Planner/PlannerJoins.cpp
  tests/analyzer_tech_debt.txt
  tests/queries/0_stateless/01049_join_low_card_bug_long.reference
  tests/queries/0_stateless/01049_join_low_card_bug_long.reference.j2
  tests/queries/0_stateless/01049_join_low_card_bug_long.sql.j2
  tests/queries/0_stateless/01353_low_cardinality_join_types.reference
  tests/queries/0_stateless/01353_low_cardinality_join_types.sql
  tests/queries/0_stateless/01721_join_implicit_cast_long.reference.j2
  tests/queries/0_stateless/01721_join_implicit_cast_long.sql.j2
  tests/queries/0_stateless/01890_materialized_distributed_join.reference
  tests/queries/0_stateless/01890_materialized_distributed_join.sh
  tests/queries/0_stateless/02000_join_on_const.reference
  tests/queries/0_stateless/02000_join_on_const.sql
  tests/queries/0_stateless/02242_join_rocksdb.sql
  tests/queries/0_stateless/02267_join_dup_columns_issue36199.reference
  tests/queries/0_stateless/02267_join_dup_columns_issue36199.sql
  tests/queries/0_stateless/02382_join_and_filtering_set.reference
  tests/queries/0_stateless/02382_join_and_filtering_set.sql
  tests/queries/0_stateless/02886_missed_json_subcolumns.sql
Labels: pr-not-for-changelog

#55587 Fix replica groups for Replicated database engine
  src/Databases/DatabaseReplicated.cpp
Labels: pr-not-for-changelog

#55592 Do not fail if label-to-remove does not exists in PR
  tests/ci/commit_status_helper.py
Labels: do not test, pr-not-for-changelog

#55601 Minor doc update
  docs/en/operations/query-cache.md
  docs/en/operations/system-tables/query_cache.md
Labels: pr-documentation

#55211 Add function byteSwap
  docs/en/sql-reference/functions/arithmetic-functions.md
  src/Functions/byteSwap.cpp
  tests/queries/0_stateless/02887_byteswap.reference
  tests/queries/0_stateless/02887_byteswap.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, can be tested

#54826 Add load balancing hostname_levenshtein_distance
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/settings/settings.md
  programs/copier/Internals.cpp
  programs/server/users.yaml.example
  src/Client/ConnectionPoolWithFailover.cpp
  src/Common/GetPriorityForLoadBalancing.cpp
  src/Common/GetPriorityForLoadBalancing.h
  src/Common/NamePrompter.h
  src/Common/ZooKeeper/ZooKeeperArgs.cpp
  src/Common/isLocalAddress.cpp
  src/Common/isLocalAddress.h
  src/Common/levenshteinDistance.cpp
  src/Common/levenshteinDistance.h
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  tests/config/config.d/zookeeper.xml
  tests/integration/test_distributed_load_balancing/test.py
  tests/integration/test_zookeeper_config_load_balancing/test.py
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-improvement, can be tested, pr-status-⏳

#54828 Caching skip-able entries in DDLWorker
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/DDLWorker.h
Labels: pr-improvement, can be tested

#55527 Fix checking of non handled data for Values format
  programs/client/Client.cpp
  programs/local/LocalServer.cpp
  src/Client/ClientBase.cpp
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  tests/queries/0_stateless/00626_replace_partition_from_table_zookeeper.sh
  tests/queries/0_stateless/01179_insert_values_semicolon.expect
  tests/queries/0_stateless/02898_input_format_values_allow_data_after_semicolon.reference
  tests/queries/0_stateless/02898_input_format_values_allow_data_after_semicolon.sh
Labels: pr-bugfix

#55584 Update Russian version replacingmergetree.md. Added is_deleted parameter description
  docs/ru/engines/table-engines/mergetree-family/replacingmergetree.md
Labels: pr-documentation, can be tested

#55613 Revert #54421
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/sql-reference/statements/system.md
  programs/server/config.xml
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicated.h
  src/Interpreters/Cluster.cpp
  src/Interpreters/Cluster.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/executeDDLQueryOnCluster.cpp
  src/Parsers/ASTSystemQuery.h
  src/Parsers/ParserSystemQuery.cpp
  tests/integration/test_replicated_database_cluster_groups/__init__.py
  tests/integration/test_replicated_database_cluster_groups/configs/backup_group.xml
  tests/integration/test_replicated_database_cluster_groups/configs/settings.xml
  tests/integration/test_replicated_database_cluster_groups/test.py
Labels: pr-not-for-changelog

#55599 CI: cast extra column expression `pull_request_number` to Int32
  docker/test/base/setup_export_logs.sh
  tests/ci/clickhouse_helper.py
Labels: pr-not-for-changelog

#55262 Avoid possible memory leaks in compressors in case of missing buffer finalization
  src/IO/LZMADeflatingWriteBuffer.cpp
  src/IO/Lz4DeflatingWriteBuffer.cpp
  src/IO/ZlibDeflatingWriteBuffer.cpp
  src/IO/ZstdDeflatingWriteBuffer.cpp
Labels: pr-bugfix

#55583 Fix global context for tests with --gtest_filter
  contrib/googletest-cmake/CMakeLists.txt
  src/CMakeLists.txt
  src/Client/ClientBase.cpp
  src/Common/tests/gtest_event_notifier.cpp
  src/Common/tests/gtest_main.cpp
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-not-for-changelog, submodule changed

#55609 Disable wrong optimization and add a test
  src/Core/Settings.h
  tests/queries/0_stateless/02896_optimize_array_exists_to_has_with_date.reference
  tests/queries/0_stateless/02896_optimize_array_exists_to_has_with_date.sql
Labels: pr-bugfix

#55581 Removed "maximize" and "drag" buttons from `dashboard` in case of single chart
  programs/server/dashboard.html
Labels: pr-improvement, can be tested

#55615 Fix: race condition in kusto implementation
  src/Parsers/Kusto/KustoFunctions/IParserKQLFunction.cpp
Labels: pr-not-for-changelog

#55622 Enable 02161_addressToLineWithInlines
  tests/queries/0_stateless/02161_addressToLineWithInlines.sql
Labels: pr-not-for-changelog

#55607 byteswap: Add 16/32-byte integer support
  docs/en/sql-reference/functions/arithmetic-functions.md
  src/Functions/byteSwap.cpp
  tests/queries/0_stateless/02887_byteswap.reference
  tests/queries/0_stateless/02887_byteswap.sql
Labels: pr-not-for-changelog

#55418 Fix filtering by virtual columns with OR filter in query
  src/Storages/VirtualColumnUtils.cpp
  tests/queries/0_stateless/02840_merge__table_or_filter.sql.j2
  tests/queries/0_stateless/02896_multiple_OR.reference
  tests/queries/0_stateless/02896_multiple_OR.sql
Labels: pr-bugfix, pr-must-backport

#55628 fix `structure does not match` logs again
  docker/test/base/setup_export_logs.sh
  tests/ci/clickhouse_helper.py
Labels: pr-not-for-changelog

#55618 Remove passed tests from `analyzer_tech_debt.txt`
  tests/analyzer_integration_broken_tests.txt
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog

#55605 Add back a test that was removed by mistake
  tests/integration/test_store_cleanup/__init__.py
  tests/integration/test_store_cleanup/configs/store_cleanup.xml
  tests/integration/test_store_cleanup/test.py
Labels: pr-not-for-changelog

#55627 Fix flakiness of test_system_merges (by increasing sleep interval properly)
  tests/integration/test_system_merges/configs/user_overrides.xml
  tests/integration/test_system_merges/test.py
Labels: pr-not-for-changelog

#54100 Add suport for mathematical minus character
  src/Parsers/ExpressionListParsers.cpp
  src/Parsers/Lexer.cpp
  tests/queries/0_stateless/02869_unicode_minus.reference
  tests/queries/0_stateless/02869_unicode_minus.sql
Labels: pr-improvement

#55361 Better recursion depth check
  src/Interpreters/ActionsVisitor.cpp
  src/Parsers/parseQuery.cpp
  tests/queries/0_stateless/01196_max_parser_depth.reference
  tests/queries/0_stateless/01196_max_parser_depth.sh
  tests/queries/0_stateless/02894_ast_depth_check.reference
  tests/queries/0_stateless/02894_ast_depth_check.sh
Labels: pr-not-for-changelog

#55625 KeyCondition: preparation
  src/Core/Range.cpp
  src/Core/Range.h
  src/Functions/DateTimeTransforms.h
  src/Functions/FunctionDateOrDateTimeToSomething.h
  src/Functions/IFunction.h
  src/Functions/IFunctionAdaptors.h
  src/Interpreters/MergeJoin.cpp
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/KeyCondition.h
Labels: pr-not-for-changelog

#55564 Add a test
  tests/integration/test_postgresql_replica_database_engine_2/test.py
Labels: pr-not-for-changelog

#55640 KeyCondition: small changes
  src/Storages/MergeTree/KeyCondition.cpp
Labels: pr-not-for-changelog

#55646 Fix some typos
  programs/server/Server.cpp
  src/Common/CaresPTRResolver.cpp
  src/Common/OptimizedRegularExpression.cpp
  src/Common/SpaceSaving.h
  src/Coordination/ZooKeeperDataReader.cpp
  src/DataTypes/ObjectUtils.cpp
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.h
  src/IO/tests/gtest_DateTime64_parsing_and_writing.cpp
  src/Interpreters/Access/InterpreterGrantQuery.cpp
  src/Interpreters/ConvertStringsToEnumVisitor.cpp
  src/Interpreters/QueryAliasesVisitor.cpp
  src/Processors/Formats/Impl/Parquet/Write.cpp
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
Labels: pr-not-for-changelog

#55591 Apply Context changes to standalone Keeper
  src/Coordination/Standalone/Context.cpp
  src/Coordination/Standalone/Context.h
Labels: pr-not-for-changelog

#55541 Better exception messages but without SEGFAULT
  src/Interpreters/InterpreterSelectQuery.cpp
  tests/queries/0_stateless/02896_illegal_sampling.reference
  tests/queries/0_stateless/02896_illegal_sampling.sql
Labels: pr-not-for-changelog

#55485 Add get_all_children_number command to keeper-client
  docs/en/operations/utilities/clickhouse-keeper-client.md
  programs/keeper-client/Commands.cpp
  programs/keeper-client/Commands.h
  programs/keeper-client/KeeperClient.cpp
  tests/integration/helpers/keeper_utils.py
  tests/integration/test_keeper_client/test.py
Labels: pr-feature, can be tested

#55589 MySQL compatibility: `toDayOfWeek()` now supports string arguments
  docs/en/sql-reference/functions/date-time-functions.md
  src/Functions/CustomWeekTransforms.h
  src/Functions/DateTimeTransforms.h
  src/Functions/FunctionCustomWeekToDateOrDate32.h
  src/Functions/FunctionCustomWeekToSomething.h
  src/Functions/IFunctionCustomWeek.h
  tests/queries/0_stateless/01661_week_functions_string_args.reference
  tests/queries/0_stateless/01661_week_functions_string_args.sql
Labels: pr-improvement

#55604 Implement query paramenters support in partition expression
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Parsers/ASTPartition.cpp
  src/Parsers/ASTPartition.h
  src/Parsers/ExpressionListParsers.h
  src/Parsers/ParserPartition.cpp
  src/Storages/IStorage.cpp
  src/Storages/IStorage.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreePartInfo.cpp
  src/Storages/MergeTree/MergeTreePartInfo.h
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMaterializedView.h
  src/Storages/StorageProxy.h
  tests/queries/0_stateless/02897_alter_partition_parameters.reference
  tests/queries/0_stateless/02897_alter_partition_parameters.sql
Labels: pr-improvement

#49516 Allow parameters in queries with partitions
  src/Parsers/ASTPartition.h
  src/Parsers/ParserPartition.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-improvement

#55657 Revert "Fix filtering by virtual columns with OR filter in query"
  src/Storages/VirtualColumnUtils.cpp
  tests/queries/0_stateless/02840_merge__table_or_filter.sql.j2
  tests/queries/0_stateless/02896_multiple_OR.reference
  tests/queries/0_stateless/02896_multiple_OR.sql
Labels: pr-not-for-changelog

#55164 Fix file cache temporary file segment range in FileSegment::reserve
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/tests/gtest_lru_file_cache.cpp
Labels: pr-not-for-changelog

#55577 Fix max execution time and 'break' overflow mode
  src/QueryPipeline/ExecutionSpeedLimits.cpp
  src/QueryPipeline/ExecutionSpeedLimits.h
  src/QueryPipeline/ReadProgressCallback.cpp
  tests/queries/0_stateless/02896_max_execution_time_with_break_overflow_mode.reference
  tests/queries/0_stateless/02896_max_execution_time_with_break_overflow_mode.sql
Labels: pr-bugfix

#50724 Initialization of the database only once in Docker.
  docker/server/entrypoint.sh
Labels: pr-build, manual approve, can be tested, v23.3-must-backport, v23.8-must-backport

#53792 Revert "Revert "Planner prepare filters for analysis""
  src/Planner/Planner.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Planner/Utils.cpp
  src/Planner/Utils.h
  src/Storages/ColumnsDescription.cpp
  src/Storages/ColumnsDescription.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/StorageDummy.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageSnapshot.cpp
  src/Storages/StorageSnapshot.h
Labels: pr-not-for-changelog

#55373 Support rename table without keyword TABLE
  docs/en/sql-reference/statements/rename.md
  src/Parsers/ParserRenameQuery.cpp
  tests/queries/0_stateless/02891_rename_table_without_keyword.reference
  tests/queries/0_stateless/02891_rename_table_without_keyword.sql
Labels: pr-improvement, can be tested

#55476 Integration check script fix ups
  docs/en/development/continuous-integration.md
  tests/README.md
  tests/ci/build_download_helper.py
  tests/ci/pr_info.py
  tests/ci/worker/prepare-ci-ami.sh
Labels: pr-build

#55682 Revert "Improve ColumnDecimal, ColumnVector getPermutation performance using pdqsort with RadixSort"
  base/base/sort.h
  contrib/pdqsort/pdqsort.h
  src/Columns/ColumnDecimal.cpp
  src/Columns/ColumnVector.cpp
  src/Columns/RadixSortHelper.h
  tests/performance/merge_tree_insert.xml
  tests/performance/sort_patterns.xml
Labels: pr-must-backport, pr-must-backport-cloud

#55666 Fix progress bar for s3 and azure Cluster functions with url without globs
  src/Storages/StorageAzureBlob.cpp
  src/Storages/StorageS3.cpp
Labels: pr-bugfix

#53867 Release more num_streams if data is small
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
Labels: pr-performance, can be tested

#55590 Remove unused protobuf includes
  src/DataTypes/Serializations/SerializationAggregateFunction.cpp
  src/DataTypes/Serializations/SerializationArray.cpp
  src/DataTypes/Serializations/SerializationDate.cpp
  src/DataTypes/Serializations/SerializationDateTime.cpp
  src/DataTypes/Serializations/SerializationDateTime64.cpp
  src/DataTypes/Serializations/SerializationDecimal.cpp
  src/DataTypes/Serializations/SerializationDecimalBase.cpp
  src/DataTypes/Serializations/SerializationEnum.cpp
  src/DataTypes/Serializations/SerializationFixedString.cpp
  src/DataTypes/Serializations/SerializationNumber.cpp
  src/DataTypes/Serializations/SerializationUUID.cpp
Labels: pr-not-for-changelog

#53774 Display reloaded values of server settings
  src/Common/MemoryTracker.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ProcessList.h
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.cpp
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.h
  src/Storages/System/StorageSystemServerSettings.cpp
Labels: pr-improvement, can be tested

#55694 Revert "Integration check script fix ups"
  docs/en/development/continuous-integration.md
  tests/README.md
  tests/ci/build_download_helper.py
  tests/ci/pr_info.py
  tests/ci/worker/prepare-ci-ami.sh
Labels: pr-not-for-changelog

#55519 Avoid retrying keeper operations on INSERT after table shutdown
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
Labels: pr-improvement

#55450 DWARF input format
  CMakeLists.txt
  cmake/sanitize.cmake
  cmake/target.cmake
  contrib/llvm-project-cmake/CMakeLists.txt
  docker/test/fasttest/run.sh
  docs/en/development/developer-instruction.md
  docs/en/interfaces/formats.md
  src/Common/CurrentMetrics.cpp
  src/Common/Elf.cpp
  src/Common/Elf.h
  src/Common/config.h.in
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/registerFormats.cpp
  src/IO/AsynchronousReadBufferFromFile.h
  src/IO/MMapReadBufferFromFile.cpp
  src/IO/MMapReadBufferFromFile.h
  src/IO/MMapReadBufferFromFileWithCache.h
  src/IO/ReadBufferFromFile.h
  src/IO/ReadBufferFromFileBase.h
  src/Processors/Formats/Impl/DWARFBlockInputFormat.cpp
  src/Processors/Formats/Impl/DWARFBlockInputFormat.h
  src/Storages/StorageFile.cpp
  src/Storages/StorageS3.cpp
  src/Storages/StorageURL.cpp
  src/configure_config.cmake
  tests/instructions/sanitizers.md
  tests/instructions/syntax.txt
  tests/queries/0_stateless/02896_dwarf_format.reference
  tests/queries/0_stateless/02896_dwarf_format.sh
  tests/queries/0_stateless/data_dwarf/tiny.cpp
  tests/queries/0_stateless/data_dwarf/tiny_dwarf4
  tests/queries/0_stateless/data_dwarf/tiny_dwarf5
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, submodule changed, can be tested

#55668 Enable test_query_is_lock_free[detach table] for the analyzer
  tests/analyzer_integration_broken_tests.txt
  tests/integration/test_drop_is_lock_free/test.py
Labels: pr-not-for-changelog

#55193 Reset signals caught by clickhouse-client if a pager is in use
  programs/client/Client.cpp
  programs/local/LocalServer.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
Labels: pr-not-for-changelog

#55144 Fix storage Iceberg files retrieval
  src/Storages/DataLakes/IcebergMetadataParser.cpp
  tests/integration/helpers/cluster.py
  tests/integration/test_storage_iceberg/test.py
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#55716 Ci scripts tuning 2
  docs/en/development/continuous-integration.md
  tests/README.md
  tests/ci/build_download_helper.py
  tests/ci/pr_info.py
  tests/ci/worker/prepare-ci-ami.sh
Labels: pr-build, pr-must-backport
