Repository ClickHouse/ClickHouse, pull requests merged in 2023-04, with the labels that each got.

#48306 Changed schema in Youtube dataset
  docs/en/getting-started/example-datasets/youtube-dislikes.md
Labels: pr-documentation, can be tested

#48303 Do not remove inputs from maybe compiled DAG.
  src/Interpreters/ActionsDAG.cpp
  tests/queries/0_stateless/02705_grouping_keys_equal_keys.reference
  tests/queries/0_stateless/02705_grouping_keys_equal_keys.sql
Labels: pr-not-for-changelog

#47863 Fix race between DROP MatView and RESTART REPLICAS
  src/DataTypes/DataTypeDecimalBase.h
  src/DataTypes/DataTypesDecimal.h
  src/Functions/array/arrayAggregation.cpp
  src/Functions/pointInEllipses.cpp
  src/Functions/pointInPolygon.cpp
  src/Functions/svg.cpp
  src/Interpreters/InterpreterDropQuery.cpp
  src/Interpreters/InterpreterDropQuery.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
  src/Storages/StorageMaterializedView.cpp
  src/Storages/WindowView/StorageWindowView.cpp
  tests/ci/stress_tests.lib
  tests/clickhouse-test
  tests/integration/test_version_update_after_mutation/test.py
  tests/queries/0_stateless/02437_drop_mv_restart_replicas.reference
  tests/queries/0_stateless/02437_drop_mv_restart_replicas.sh
Labels: pr-not-for-changelog

#48222 parseDateTime[InJodaSyntax](): Require format argument
  src/Functions/parseDateTime.cpp
  tests/queries/0_stateless/02668_parse_datetime.reference
  tests/queries/0_stateless/02668_parse_datetime.sql
  tests/queries/0_stateless/02668_parse_datetime_in_joda_syntax.reference
  tests/queries/0_stateless/02668_parse_datetime_in_joda_syntax.sql
Labels: pr-not-for-changelog

#48286 Randomize compression of marks and indices in tests
  tests/clickhouse-test
Labels: pr-build

#48287 Randomize allow_vertical_merges_from_compact_to_wide_parts in tests
  tests/clickhouse-test
Labels: pr-build

#48315 Follow-up to #47863
  src/AggregateFunctions/AggregateFunctionGroupArray.h
  src/AggregateFunctions/AggregateFunctionGroupArrayInsertAt.h
  src/AggregateFunctions/AggregateFunctionGroupArrayMoving.h
  src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
  src/AggregateFunctions/AggregateFunctionHistogram.h
  src/AggregateFunctions/AggregateFunctionIntervalLengthSum.h
  src/AggregateFunctions/AggregateFunctionMaxIntersections.h
  src/AggregateFunctions/AggregateFunctionSequenceNextNode.h
  src/AggregateFunctions/QuantileExact.h
  src/AggregateFunctions/ReservoirSampler.h
  src/AggregateFunctions/ReservoirSamplerDeterministic.h
  src/IO/ReadHelpers.h
  src/Server/TCPHandler.cpp
  tests/clickhouse-test
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.reference
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
  tests/queries/0_stateless/02437_drop_mv_restart_replicas.sh
  tests/queries/0_stateless/02490_replacing_merge_tree_is_deleted_column.sql
Labels: pr-not-for-changelog

#48301 Update LVM info in tips.md
  docs/en/operations/tips.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#48314 Fix ThreadPool for DistributedSink and use StrongTypedef for CurrentMetrics/ProfileEvents/StatusInfo to avoid further errors
  base/base/strong_typedef.h
  programs/server/MetricsTransmitter.cpp
  src/Common/CurrentMetrics.cpp
  src/Common/CurrentMetrics.h
  src/Common/ProfileEvents.cpp
  src/Common/ProfileEvents.h
  src/Common/StatusInfo.cpp
  src/Common/StatusInfo.h
  src/Common/tests/gtest_thread_pool_limit.cpp
  src/Disks/TemporaryFileOnDisk.cpp
  src/Disks/TemporaryFileOnDisk.h
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/MetricLog.cpp
  src/Interpreters/ProfileEventsExt.cpp
  src/Interpreters/TemporaryDataOnDisk.cpp
  src/Interpreters/TemporaryDataOnDisk.h
  src/Server/PrometheusMetricsWriter.cpp
  src/Storages/Distributed/DistributedSink.cpp
  src/Storages/System/StorageSystemEvents.cpp
  utils/check-style/check-style
Labels: pr-bugfix, v23.3-must-backport

#48312 Merging #46323
  docs/en/operations/named-collections.md
  src/Dictionaries/ClickHouseDictionarySource.cpp
  tests/integration/test_dictionaries_ddl/configs/client.xml
  tests/integration/test_dictionaries_ddl/configs/named_coll.xml
  tests/integration/test_dictionaries_ddl/configs/server.crt
  tests/integration/test_dictionaries_ddl/configs/server.key
  tests/integration/test_dictionaries_ddl/configs/ssl_conf.xml
  tests/integration/test_dictionaries_ddl/test.py
Labels: pr-not-for-changelog

#48054 Make custom key for parallel replicas work in new analyzer
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Planner/Planner.cpp
  src/Planner/PlannerJoinTree.cpp
Labels: pr-not-for-changelog

#47617 CNF/Constraint optimizer in new analyzer
  src/Analyzer/Passes/CNF.cpp
  src/Analyzer/Passes/CNF.h
  src/Analyzer/Passes/ConvertQueryToCNFPass.cpp
  src/Analyzer/Passes/ConvertQueryToCNFPass.h
  src/Analyzer/QueryTreePassManager.cpp
  src/Interpreters/AddIndexConstraintsOptimizer.cpp
  src/Interpreters/ComparisonGraph.cpp
  src/Interpreters/ComparisonGraph.h
  src/Interpreters/SubstituteColumnOptimizer.cpp
  src/Interpreters/TreeCNFConverter.cpp
  src/Interpreters/TreeCNFConverter.h
  src/Interpreters/WhereConstraintsOptimizer.cpp
  src/Interpreters/tests/gtest_comparison_graph.cpp
  src/Storages/ConstraintsDescription.cpp
  src/Storages/ConstraintsDescription.h
  src/Storages/MergeTree/MergeTreeIndexHypothesisMergedCondition.cpp
  src/Storages/MergeTree/MergeTreeIndexHypothesisMergedCondition.h
  tests/queries/0_stateless/01622_constraints_simple_optimization.reference
  tests/queries/0_stateless/01622_constraints_simple_optimization.sql
  tests/queries/0_stateless/01622_constraints_where_optimization.reference
  tests/queries/0_stateless/01622_constraints_where_optimization.sql
  tests/queries/0_stateless/01623_constraints_column_swap.reference
  tests/queries/0_stateless/01623_constraints_column_swap.sql
  tests/queries/0_stateless/01625_constraints_index_append.reference
  tests/queries/0_stateless/01625_constraints_index_append.sh
  tests/queries/0_stateless/01625_constraints_index_append.sql
Labels: pr-improvement

#48328 Fix constraints after merge
  tests/queries/0_stateless/01622_constraints_simple_optimization.reference
  tests/queries/0_stateless/01622_constraints_simple_optimization.sql
  tests/queries/0_stateless/01622_constraints_where_optimization.reference
  tests/queries/0_stateless/01622_constraints_where_optimization.sql
  tests/queries/0_stateless/01623_constraints_column_swap.reference
  tests/queries/0_stateless/01623_constraints_column_swap.sql
  tests/queries/0_stateless/01625_constraints_index_append.sh
Labels: pr-not-for-changelog

#48276 Fix 01710_projection_optimize_materialize flakiness
  tests/queries/0_stateless/01710_projection_optimize_materialize.sql
Labels: pr-not-for-changelog

#48332 Docs: Suggest ClickHouse-native function name over MySQL-compatibility alias
  docs/en/sql-reference/functions/date-time-functions.md
  src/Functions/formatDateTime.cpp
Labels: pr-documentation

#48289 Fix alter formatting (minor)
  src/Parsers/ASTAlterQuery.cpp
  tests/queries/0_stateless/01318_alter_add_constraint_format.reference
Labels: can be tested

#45912 Query cache: Enable compression of cache entries
  docs/en/operations/query-cache.md
  docs/en/operations/settings/settings.md
  src/Columns/ColumnCompressed.cpp
  src/Core/Settings.h
  src/Interpreters/Cache/QueryCache.cpp
  src/Interpreters/Cache/QueryCache.h
  src/Interpreters/executeQuery.cpp
  src/Processors/Chunk.cpp
  src/Processors/Chunk.h
  src/Processors/Transforms/StreamInQueryCacheTransform.cpp
  src/Processors/Transforms/StreamInQueryCacheTransform.h
  src/Storages/System/StorageSystemQueryCache.cpp
  tests/queries/0_stateless/02494_query_cache_compression.reference
  tests/queries/0_stateless/02494_query_cache_compression.sql
  tests/queries/0_stateless/02494_query_cache_squash_partial_results.reference
  tests/queries/0_stateless/02494_query_cache_squash_partial_results.sql
Labels: pr-improvement

#47494 Enable return null and complext type for JSON_VALUE function
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/functions/json-functions.md
  src/Core/Settings.h
  src/Functions/FunctionSQLJSON.h
  tests/queries/0_stateless/01889_sql_json_functions.reference
  tests/queries/0_stateless/01889_sql_json_functions.sql
Labels: pr-improvement, can be tested

#48352 Doc. fix typo
  docs/en/sql-reference/functions/tuple-functions.md
Labels: pr-documentation

#48358 Fix test "02494_query_cache_drop.sql"
  tests/queries/0_stateless/02494_query_cache_drop_cache.sql
Labels: pr-not-for-changelog

#48362 Update tips.md
  docs/en/operations/tips.md
Labels: pr-documentation

#48324 test / some complex query (it fails with analyzer enabled)
  tests/queries/0_stateless/02707_complex_query_fails_analyzer.reference
  tests/queries/0_stateless/02707_complex_query_fails_analyzer.sql
Labels: pr-not-for-changelog

#48036 Add a test for ClientInfo initial_query_start_time in inter-server mode
  tests/queries/0_stateless/02590_interserver_mode_client_info_initial_query_start_time.reference
  tests/queries/0_stateless/02590_interserver_mode_client_info_initial_query_start_time.sh
Labels: pr-not-for-changelog

#48288 Don't throw CURRENT_WRITE_BUFFER_IS_EXHAUSTED for normal behaviour
  src/IO/CascadeWriteBuffer.cpp
  src/IO/CascadeWriteBuffer.h
  src/IO/MemoryReadWriteBuffer.cpp
  src/IO/MemoryReadWriteBuffer.h
  src/IO/tests/gtest_cascade_and_memory_write_buffer.cpp
Labels: pr-improvement

#48189 Support BACKUP ALL command
  src/Parsers/ParserBackupQuery.cpp
  tests/integration/test_backup_restore_new/test.py
Labels: pr-improvement

#48337 Add logging for concurrency checks for backups
  src/Backups/BackupCoordinationLocal.cpp
  src/Backups/BackupCoordinationLocal.h
  src/Backups/BackupCoordinationRemote.cpp
  src/Backups/BackupCoordinationRemote.h
  src/Backups/RestoreCoordinationLocal.cpp
  src/Backups/RestoreCoordinationLocal.h
  src/Backups/RestoreCoordinationRemote.cpp
  src/Backups/RestoreCoordinationRemote.h
Labels: pr-not-for-changelog

#48347 close client
  tests/clickhouse-test
Labels: pr-not-for-changelog, can be tested

#48354 Don't replicate mutations for KeeperMap tables
  src/Databases/DatabaseReplicated.cpp
  src/Interpreters/InterpreterAlterQuery.cpp
  tests/queries/0_stateless/02577_keepermap_delete_update.sql
Labels: pr-improvement

#48293 Add strict mode for KeeperMap
  docs/en/engines/table-engines/special/keepermap.md
  src/Core/Settings.h
  src/Interpreters/MutationsInterpreter.cpp
  src/Storages/StorageKeeperMap.cpp
  src/Storages/StorageKeeperMap.h
  tests/queries/0_stateless/02706_keeper_map_insert_strict.reference
  tests/queries/0_stateless/02706_keeper_map_insert_strict.sql
  tests/queries/0_stateless/02707_keeper_map_delete_update_strict.reference
  tests/queries/0_stateless/02707_keeper_map_delete_update_strict.sql
Labels: pr-improvement

#47397 Enable `use_environment_credentials` by default
  src/Backups/BackupIO_S3.cpp
  src/Coordination/KeeperSnapshotManagerS3.cpp
  src/Disks/ObjectStorages/S3/diskSettings.cpp
  src/Storages/StorageS3.cpp
  tests/config/config.d/disable_s3_env_credentials.xml
  tests/config/install.sh
Labels: pr-improvement

#48364 Update clickhouse-local page with examples
  docs/en/operations/utilities/clickhouse-local.md
Labels: pr-documentation, can be tested

#48207 Function mapFromArrays support map type as input
  docs/en/sql-reference/functions/tuple-map-functions.md
  src/Functions/map.cpp
  tests/queries/0_stateless/01651_map_functions.reference
  tests/queries/0_stateless/01651_map_functions.sql
Labels: pr-improvement

#48115 throw exception while non-parametric functions having parameters
  src/Functions/UserDefined/UserDefinedSQLFunctionVisitor.cpp
  src/Interpreters/ActionsVisitor.cpp
  tests/queries/0_stateless/02701_non_parametric_function.reference
  tests/queries/0_stateless/02701_non_parametric_function.sql
Labels: pr-not-for-changelog, can be tested

#48382 Add script for a slack bot that reports broken tests
  utils/ci-slack-bot/ci-slack-bot.py
Labels: pr-not-for-changelog

#48373 Small follow-up to #45912
  tests/queries/0_stateless/02494_query_cache_compression.reference
  tests/queries/0_stateless/02494_query_cache_compression.sql
  tests/queries/0_stateless/02494_query_cache_squash_partial_results.sql
Labels: pr-not-for-changelog

#48383 Clarify SYSTEM RELOAD CONFIG and USERS
  docs/en/sql-reference/statements/system.md
Labels: pr-documentation, can be tested

#47224 Added Keeper retries for backups operations
  src/Backups/BackupCoordinationLocal.cpp
  src/Backups/BackupCoordinationRemote.cpp
  src/Backups/BackupCoordinationRemote.h
  src/Backups/BackupCoordinationReplicatedAccess.cpp
  src/Backups/BackupCoordinationReplicatedAccess.h
  src/Backups/BackupCoordinationReplicatedSQLObjects.cpp
  src/Backups/BackupCoordinationReplicatedSQLObjects.h
  src/Backups/BackupCoordinationReplicatedTables.cpp
  src/Backups/BackupCoordinationReplicatedTables.h
  src/Backups/BackupCoordinationStageSync.cpp
  src/Backups/BackupCoordinationStageSync.h
  src/Backups/BackupEntriesCollector.cpp
  src/Backups/BackupEntriesCollector.h
  src/Backups/BackupsWorker.cpp
  src/Backups/RestoreCoordinationRemote.cpp
  src/Backups/RestoreCoordinationRemote.h
  src/Backups/WithRetries.cpp
  src/Backups/WithRetries.h
  src/Common/ZooKeeper/Common.h
  src/Common/ZooKeeper/TestKeeper.h
  src/Common/ZooKeeper/ZooKeeperWithFaultInjection.h
  src/Core/Settings.h
  src/Storages/MergeTree/ZooKeeperRetries.h
  tests/integration/test_backup_restore_new/configs/zookeeper_retries.xml
  tests/integration/test_backup_restore_new/test.py
  tests/integration/test_backup_restore_on_cluster/configs/zookeeper_retries.xml
  tests/integration/test_backup_restore_on_cluster/test.py
  tests/integration/test_backup_restore_on_cluster/test_concurrency.py
  tests/integration/test_backup_restore_on_cluster/test_disallow_concurrency.py
  tests/integration/test_backup_restore_s3/configs/zookeeper_retries.xml
  tests/integration/test_backup_restore_s3/test.py
Labels: pr-improvement

#48355 Fix lambda type resolution
  src/Analyzer/LambdaNode.h
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  src/Analyzer/QueryTreePassManager.cpp
  src/Planner/PlannerActionsVisitor.cpp
  tests/queries/0_stateless/02707_analyzer_nested_lambdas_types.reference
  tests/queries/0_stateless/02707_analyzer_nested_lambdas_types.sql
Labels: pr-not-for-changelog

#48360 Fix tests with explain and analyzer where names changed.
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix.reference
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix.sql
  tests/queries/0_stateless/02481_aggregation_in_order_plan.reference
  tests/queries/0_stateless/02481_aggregation_in_order_plan.sql
  tests/queries/0_stateless/02679_explain_merge_tree_prewhere_row_policy.reference
  tests/queries/0_stateless/02679_explain_merge_tree_prewhere_row_policy.sql
Labels: pr-not-for-changelog

#47610 Fix minor hiliting issues in clickhouse-format
  src/CMakeLists.txt
  src/Parsers/ASTCreateQuery.cpp
  src/Parsers/ASTDictionary.cpp
  src/Parsers/ASTDictionaryAttributeDeclaration.cpp
  src/Parsers/ASTFunction.cpp
  src/Parsers/ASTKillQueryQuery.cpp
  src/Parsers/ASTWithAlias.cpp
  src/Parsers/ASTWithElement.cpp
  src/Parsers/CMakeLists.txt
  src/Parsers/HiliteComparator/CMakeLists.txt
  src/Parsers/HiliteComparator/HiliteComparator.cpp
  src/Parsers/HiliteComparator/HiliteComparator.h
  src/Parsers/HiliteComparator/tests/gtest_hilite_comparator.cpp
  src/Parsers/tests/gtest_format_hiliting.cpp
Labels: pr-bugfix, can be tested

#48325 Add statistical aggregate function kolmogorovSmirnovTest
  src/AggregateFunctions/AggregateFunctionKolmogorovSmirnovTest.cpp
  src/AggregateFunctions/AggregateFunctionKolmogorovSmirnovTest.h
  src/AggregateFunctions/registerAggregateFunctions.cpp
  tests/queries/0_stateless/02706_kolmogorov_smirnov_test.reference
  tests/queries/0_stateless/02706_kolmogorov_smirnov_test.sql
  tests/queries/0_stateless/02706_kolmogorov_smirnov_test_scipy.python
  tests/queries/0_stateless/02706_kolmogorov_smirnov_test_scipy.reference
  tests/queries/0_stateless/02706_kolmogorov_smirnov_test_scipy.sh
Labels: pr-feature, can be tested

#48409 Make CI slack bot less noisy
  utils/ci-slack-bot/ci-slack-bot.py
Labels: pr-not-for-changelog

#48408 doc entry for SYSTEM WAIT LOADING PARTS
  docs/en/sql-reference/statements/system.md
Labels: pr-documentation

#48384 Fix flaky `test_keeper_mntr_data_size`
  tests/integration/test_keeper_mntr_data_size/configs/enable_keeper.xml
  tests/integration/test_keeper_mntr_data_size/test.py
Labels: pr-not-for-changelog

#46428 support new aggregate function quantileApprox which uses Greenwald-Khanna algorithm
  docs/en/sql-reference/aggregate-functions/reference/quantileApprox.md
  docs/en/sql-reference/aggregate-functions/reference/quantiles.md
  src/AggregateFunctions/AggregateFunctionQuantile.h
  src/AggregateFunctions/AggregateFunctionQuantileApprox.cpp
  src/AggregateFunctions/QuantileApprox.h
  src/AggregateFunctions/registerAggregateFunctions.cpp
  tests/queries/0_stateless/02661_quantile_approx.reference
  tests/queries/0_stateless/02661_quantile_approx.sql
Labels: pr-feature, can be tested

#48257 Support more types in CapnProto format, allow integer conversions
  docs/en/interfaces/formats.md
  src/Formats/CapnProtoUtils.cpp
  src/Processors/Formats/Impl/CapnProtoRowInputFormat.cpp
  src/Processors/Formats/Impl/CapnProtoRowOutputFormat.cpp
  tests/queries/0_stateless/02030_capnp_format.reference
  tests/queries/0_stateless/02030_capnp_format.sh
  tests/queries/0_stateless/02705_capnp_more_types.reference
  tests/queries/0_stateless/02705_capnp_more_types.sh
  tests/queries/0_stateless/format_schemas/02705_big_numbers.capnp
  tests/queries/0_stateless/format_schemas/02705_map.capnp
Labels: pr-improvement

#48246 Always communicate with local replica through loopback interface for parallel replicas
  src/Core/ProtocolDefines.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/Context.h
  src/Processors/QueryPlan/QueryPlan.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/QueryPlan/ReadFromRemote.h
  src/Processors/Sources/RemoteSource.cpp
  src/Processors/Sources/RemoteSource.h
  src/Processors/Transforms/ReadFromMergeTreeDependencyTransform.cpp
  src/Processors/Transforms/ReadFromMergeTreeDependencyTransform.h
  src/QueryPipeline/QueryPipelineBuilder.cpp
  src/QueryPipeline/QueryPipelineBuilder.h
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.cpp
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.h
  src/Storages/MergeTree/RequestResponse.cpp
  src/Storages/MergeTree/RequestResponse.h
  tests/queries/0_stateless/02404_memory_bound_merging.reference
  tests/queries/1_stateful/00177_memory_bound_merging.reference
Labels: pr-performance

#48396 Cleanup mess in .clang-tidy
  .clang-tidy
  base/base/find_symbols.h
  src/Processors/Transforms/WindowTransform.cpp
  src/Storages/Distributed/DistributedAsyncInsertBatch.cpp
Labels: pr-not-for-changelog

#48417 Fix flaky `test_keeper_snapshots`
  tests/integration/test_keeper_snapshots/test.py
Labels: pr-not-for-changelog

#48142 Move FunctionsJSON implementation to header file
  src/Functions/FunctionsJSON.cpp
  src/Functions/FunctionsJSON.h
Labels: pr-not-for-changelog, can be tested

#48231 Do not partially cancel processors added from expand pipeline.
  src/Processors/Executors/ExecutingGraph.cpp
Labels: pr-not-for-changelog

#48122 Support Enum output/input in BSONEachRow, allow all map key types and avoid extra calculations
  docs/en/interfaces/formats.md
  src/Processors/Formats/Impl/BSONEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/BSONEachRowRowOutputFormat.cpp
  src/Processors/Formats/Impl/BSONEachRowRowOutputFormat.h
  tests/queries/0_stateless/02475_bson_each_row_format.reference
  tests/queries/0_stateless/02475_bson_each_row_format.sh
  tests/queries/0_stateless/02591_bson_long_tuple.reference
  tests/queries/0_stateless/02593_bson_more_types.reference
  tests/queries/0_stateless/02593_bson_more_types.sh
Labels: pr-improvement

#48356 Avoid abort in protobuf library in debug build
  src/Formats/ProtobufSchemas.cpp
  tests/queries/0_stateless/02705_protobuf_debug_abort.reference
  tests/queries/0_stateless/02705_protobuf_debug_abort.sh
Labels: pr-not-for-changelog

#48412 AST fuzzer: Fix assertion in TopK serialization
  src/Common/SpaceSaving.h
  src/IO/VarInt.h
Labels: pr-not-for-changelog

#48242 Per-query/per-server throttling for remote IO/local IO/BACKUPs
  src/Backups/BackupEntryFromAppendOnlyFile.cpp
  src/Backups/BackupEntryFromAppendOnlyFile.h
  src/Backups/BackupEntryFromImmutableFile.cpp
  src/Backups/BackupEntryFromImmutableFile.h
  src/Backups/BackupIO.cpp
  src/Backups/BackupIO.h
  src/Backups/BackupIO_Disk.cpp
  src/Backups/BackupIO_Disk.h
  src/Backups/BackupIO_File.cpp
  src/Backups/BackupIO_File.h
  src/Backups/BackupIO_S3.cpp
  src/Backups/BackupIO_S3.h
  src/Backups/registerBackupEnginesFileAndDisk.cpp
  src/Common/ProfileEvents.cpp
  src/Core/ServerSettings.cpp
  src/Core/ServerSettings.h
  src/Core/Settings.h
  src/Disks/DiskLocal.cpp
  src/Disks/IO/createReadBufferFromFileBase.cpp
  src/IO/AsynchronousReadBufferFromFile.h
  src/IO/AsynchronousReadBufferFromFileDescriptor.cpp
  src/IO/AsynchronousReadBufferFromFileDescriptor.h
  src/IO/ReadBufferFromFile.cpp
  src/IO/ReadBufferFromFile.h
  src/IO/ReadBufferFromFileDescriptor.cpp
  src/IO/ReadBufferFromFileDescriptor.h
  src/IO/ReadSettings.h
  src/IO/WriteBufferFromFile.cpp
  src/IO/WriteBufferFromFile.h
  src/IO/WriteBufferFromFileDescriptor.cpp
  src/IO/WriteBufferFromFileDescriptor.h
  src/IO/WriteBufferFromTemporaryFile.cpp
  src/IO/WriteSettings.h
  src/IO/examples/o_direct_and_dirty_pages.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/MergeTree/DataPartStorageOnDiskBase.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskBase.h
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/StorageLog.cpp
  src/Storages/StorageMemory.cpp
  src/Storages/StorageStripeLog.cpp
  tests/config/config.d/backups.xml
  tests/config/install.sh
  tests/queries/0_stateless/02703_max_local_read_bandwidth.reference
  tests/queries/0_stateless/02703_max_local_read_bandwidth.sh
  tests/queries/0_stateless/02703_max_local_write_bandwidth.reference
  tests/queries/0_stateless/02703_max_local_write_bandwidth.sh
  tests/queries/0_stateless/02704_max_backup_bandwidth.reference
  tests/queries/0_stateless/02704_max_backup_bandwidth.sh
Labels: pr-improvement

#48413 Fix possible flakiness of lightweight delete tests (due to index granularity randomization)
  tests/queries/0_stateless/02319_lightweight_delete_on_merge_tree.sql
  tests/queries/0_stateless/02319_lightweight_delete_on_merge_tree_compact_parts.sql
  tests/queries/0_stateless/02352_lightweight_delete.sql
Labels: pr-not-for-changelog

#48390 Allow write/read unnamed tuple as nested Message in Protobuf format
  src/Formats/ProtobufSerializer.cpp
  tests/queries/0_stateless/02707_protobuf_unnamed_tuple_as_nested_message.reference
  tests/queries/0_stateless/02707_protobuf_unnamed_tuple_as_nested_message.sh
  tests/queries/0_stateless/format_schemas/02707_schema.proto
Labels: pr-improvement

#48437 Update replication.md
  docs/en/engines/table-engines/mergetree-family/replication.md
Labels: pr-documentation, can be tested

#48401 Find big allocations without memory limits checks
  src/Common/MemoryTracker.cpp
  src/Interpreters/Session.cpp
  src/Storages/RocksDB/StorageEmbeddedRocksDB.cpp
  src/Storages/StorageKeeperMap.cpp
  tests/clickhouse-test
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.reference
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
  tests/queries/0_stateless/00463_long_sessions_in_http_interface.sh
Labels: pr-not-for-changelog

#48400 Fix test_backup_all
  tests/integration/test_backup_restore_new/test.py
Labels: pr-not-for-changelog

#48393 Kerberized kafka error
  tests/integration/helpers/cluster.py
Labels: pr-build

#46589 replace[Regexp]{One,All}(): allow non-const pattern and replacement arguments
  docs/en/sql-reference/functions/string-replace-functions.md
  src/Functions/FunctionStringReplace.h
  src/Functions/ReplaceRegexpImpl.h
  src/Functions/ReplaceStringImpl.h
  src/Functions/replaceAll.cpp
  src/Functions/replaceOne.cpp
  src/Functions/replaceRegexpAll.cpp
  src/Functions/replaceRegexpOne.cpp
  tests/queries/0_stateless/00765_sql_compatibility_aliases.reference
  tests/queries/0_stateless/00765_sql_compatibility_aliases.sql
  tests/queries/0_stateless/02536_replace_with_nonconst_needle_and_replacement.reference
  tests/queries/0_stateless/02536_replace_with_nonconst_needle_and_replacement.sql
Labels: pr-improvement

#47246 Change the behavior of formatter %M in function formatDateTime() from minutes to month name
  docs/en/sql-reference/functions/date-time-functions.md
  src/Common/Concepts.h
  src/Common/typeid_cast.h
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Functions/FunctionsConversion.h
  src/Functions/formatDateTime.cpp
  src/Functions/parseDateTime.cpp
  src/Functions/widthBucket.cpp
  tests/queries/0_stateless/00718_format_datetime.reference
  tests/queries/0_stateless/00718_format_datetime.sql
  tests/queries/0_stateless/00921_datetime64_compatibility_long.python
  tests/queries/0_stateless/00921_datetime64_compatibility_long.reference
  tests/queries/0_stateless/01411_from_unixtime.reference
  tests/queries/0_stateless/02564_date_format.reference
  tests/queries/0_stateless/02668_parse_datetime.reference
  tests/queries/0_stateless/02668_parse_datetime.sql
Labels: pr-improvement, pr-backward-incompatible, pr-must-backport

#48434 Don't replicate DELETE and TRUNCATE for KeeperMap
  src/Databases/DatabaseReplicated.cpp
Labels: pr-improvement

#48463 Small documentation follow-up to #47246
  docs/en/sql-reference/functions/date-time-functions.md
Labels: pr-not-for-changelog

#48219 Do not take lock for shared context in setTempDataOnDisk
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/JoinedTables.cpp
  src/Interpreters/MergeJoin.cpp
  src/Interpreters/ProcessList.cpp
  src/Interpreters/TableJoin.h
  src/Planner/PlannerJoinTree.cpp
  src/Server/HTTPHandler.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/StorageMemory.cpp
Labels: pr-not-for-changelog

#48467 Update 00002_log_and_exception_messages_formatting.sql
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.reference
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
Labels: pr-not-for-changelog

#48126 Support more ClickHouse types in ORC/Arrow/Parquet formats
  docs/en/interfaces/formats.md
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  src/Processors/Formats/Impl/ORCBlockOutputFormat.cpp
  tests/queries/0_stateless/02595_orc_arrow_parquet_more_types.reference
  tests/queries/0_stateless/02595_orc_arrow_parquet_more_types.sh
Labels: pr-improvement

#48469 Fix possible segfault in cache
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
Labels: pr-must-backport

#48297 Fix: copy forgotten show_secrets in FormatSettings semi-copy-ctor
  src/Parsers/IAST.h
Labels: pr-not-for-changelog, can be tested

#47104 merge and mutation make thread group for setting memory trackers right
  src/Common/MemoryTracker.cpp
  src/Common/ThreadStatus.h
  src/Interpreters/ThreadStatusExt.cpp
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/MergeList.cpp
  src/Storages/MergeTree/MergeList.h
  src/Storages/MergeTree/MergePlainMergeTreeTask.cpp
  src/Storages/MergeTree/MergePlainMergeTreeTask.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MutateFromLogEntryTask.cpp
  src/Storages/MergeTree/MutateFromLogEntryTask.h
  src/Storages/MergeTree/MutatePlainMergeTreeTask.cpp
  src/Storages/MergeTree/MutatePlainMergeTreeTask.h
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/ReplicatedMergeMutateTaskBase.cpp
  src/Storages/MergeTree/ReplicatedMergeMutateTaskBase.h
  tests/queries/0_stateless/01641_memory_tracking_insert_optimize.sql
Labels: pr-not-for-changelog

#48195 Remove a feature
  src/Core/Settings.h
  tests/queries/0_stateless/02703_jit_external_aggregation.reference
  tests/queries/0_stateless/02703_jit_external_aggregation.sh
Labels: pr-must-backport

#48444 Better exception messages from Keeper client
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
Labels: pr-not-for-changelog

#48499 Update 00002_log_and_exception_messages_formatting.sql
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.reference
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
Labels: pr-not-for-changelog

#48432 add docs for UNDROP TABLE
  docs/en/sql-reference/statements/drop.md
  docs/en/sql-reference/statements/undrop.md
Labels: pr-documentation, can be tested

#48407 Fix issue with krb5 and building w/ OpenSSL
  contrib/krb5-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed, can be tested

#48523 Update ClickHouse logo
  README.md
Labels: pr-documentation

#48487 Fix deadlock due to debug tracking of memory allocations
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTracker.h
Labels: pr-not-for-changelog

#47962 Improvement and fix for use_structure_from_insertion_table_in_table_functions
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  src/Interpreters/Context.cpp
  tests/queries/0_stateless/02458_use_structure_from_insertion_table.reference
  tests/queries/0_stateless/02458_use_structure_from_insertion_table.sql
Labels: pr-improvement

#48311 Fix cpu usage in rabbitmq (was worsened in 23.2 after #44404)
  src/Storages/RabbitMQ/RabbitMQConsumer.cpp
  src/Storages/RabbitMQ/RabbitMQConsumer.h
  src/Storages/RabbitMQ/RabbitMQSource.cpp
  src/Storages/RabbitMQ/RabbitMQSource.h
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.h
Labels: v23.2-must-backport, v23.3-must-backport

#48512 Fix bytesSize() of zk SetRequest
  src/Common/ZooKeeper/IKeeper.h
Labels: pr-not-for-changelog

#48518 Remove dead code and unused dependencies
  src/Bridge/CMakeLists.txt
  src/Bridge/IBridge.cpp
  src/Dictionaries/CMakeLists.txt
Labels: pr-not-for-changelog, can be tested

#48440 Override user and password environment variables with client parameters
  programs/client/Client.cpp
Labels: pr-improvement

#46668 Fix system.query_views_log for MVs that are pushed from background threads
  src/Interpreters/ThreadStatusExt.cpp
  src/Processors/Transforms/buildPushingToViewsChain.cpp
  tests/queries/0_stateless/02572_query_views_log_background_thread.reference
  tests/queries/0_stateless/02572_query_views_log_background_thread.sql
Labels: pr-bugfix

#48500 Fix query cache with sparse columns
  src/Interpreters/Cache/QueryCache.cpp
  tests/queries/0_stateless/02708_query_cache_sparse_columns.reference
  tests/queries/0_stateless/02708_query_cache_sparse_columns.sql
Labels: pr-not-for-changelog

#48533 Fix flaky `test_alternative_keeper_config`
  tests/integration/test_alternative_keeper_config/test.py
Labels: pr-not-for-changelog

#48185 Add kafkaMurmurHash function
  docs/en/sql-reference/functions/hash-functions.md
  src/Functions/FunctionsHashing.h
  src/Functions/FunctionsHashingMurmur.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02676_kafka_murmur_hash.reference
  tests/queries/0_stateless/02676_kafka_murmur_hash.sql
Labels: pr-feature

#48519 Use forward declaration of ThreadPool
  src/Access/DiskAccessStorage.cpp
  src/Access/DiskAccessStorage.h
  src/Access/ReplicatedAccessStorage.cpp
  src/Access/ReplicatedAccessStorage.h
  src/AggregateFunctions/IAggregateFunction.h
  src/Backups/BackupCoordinationFileInfos.cpp
  src/Backups/BackupEntriesCollector.cpp
  src/Backups/BackupFileInfo.cpp
  src/Backups/BackupFileInfo.h
  src/Backups/BackupUtils.h
  src/Backups/BackupsWorker.cpp
  src/Backups/BackupsWorker.h
  src/Bridge/IBridge.cpp
  src/Common/SystemLogBase.cpp
  src/Common/SystemLogBase.h
  src/Common/ThreadPool.h
  src/Common/ThreadPool_fwd.h
  src/Coordination/Changelog.h
  src/Coordination/KeeperStorage.cpp
  src/Core/BackgroundSchedulePool.cpp
  src/Core/BackgroundSchedulePool.h
  src/Databases/DatabaseFactory.h
  src/Databases/IDatabase.h
  src/Disks/IDisk.h
  src/Disks/IO/IOUringReader.cpp
  src/Disks/IO/IOUringReader.h
  src/Disks/IO/ThreadPoolReader.cpp
  src/Disks/IO/ThreadPoolReader.h
  src/Disks/IO/ThreadPoolRemoteFSReader.cpp
  src/Disks/IO/ThreadPoolRemoteFSReader.h
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/VolumeJBOD.h
  src/Functions/FunctionShowCertificate.h
  src/IO/BackupsIOThreadPool.cpp
  src/IO/BackupsIOThreadPool.h
  src/IO/IOThreadPool.cpp
  src/IO/IOThreadPool.h
  src/IO/ParallelReadBuffer.h
  src/IO/ReadBufferFromFileBase.cpp
  src/IO/WriteBufferFromS3.h
  src/Interpreters/Context.h
  src/Interpreters/CrashLog.h
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/DDLWorker.h
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/MetricLog.cpp
  src/Interpreters/MetricLog.h
  src/Interpreters/OpenTelemetrySpanLog.h
  src/Interpreters/QueryThreadLog.h
  src/Server/MySQLHandler.cpp
  src/Storages/MergeTree/BackgroundJobsAssignee.h
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.cpp
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.h
  src/Storages/MergeTree/MergeTreeMarksLoader.h
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.cpp
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.h
  src/Storages/StorageDictionary.h
  src/Storages/System/StorageSystemCertificates.cpp
Labels: pr-not-for-changelog

#48550 Fix some tests
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#48559 Fix typo in word acquired, in comment for lockForAlter method
  src/Storages/IStorage.h
Labels: pr-improvement

#48552 Better exception message for ZSTD
  src/IO/ZstdDeflatingAppendableWriteBuffer.cpp
  src/IO/ZstdDeflatingWriteBuffer.cpp
  src/IO/ZstdInflatingReadBuffer.cpp
Labels: pr-not-for-changelog

#48520 Use std::string_view instead of strlen
  src/Functions/extractTextFromHTML.cpp
Labels: pr-not-for-changelog, can be tested

#48521 Use std::string::starts_with instead of a roll your own variant
  src/Common/mysqlxx/PoolFactory.cpp
Labels: pr-not-for-changelog, can be tested

#48299 Do not build sets for skip indexes if they are not used
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/performance/set_disable_skip_index.xml
  tests/queries/0_stateless/02707_skip_index_with_in.reference
  tests/queries/0_stateless/02707_skip_index_with_in.sql
Labels: pr-performance

#48562 Remove misleading comment and block
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.cpp
Labels: pr-not-for-changelog

#48566 Update 02207_allow_plaintext_and_no_password.sh
  tests/queries/0_stateless/02207_allow_plaintext_and_no_password.sh
Labels: pr-not-for-changelog

#48573 Doc. Better translation of deltaSumTimestamp / more clear description
  docs/en/sql-reference/aggregate-functions/reference/deltasumtimestamp.md
  docs/ru/sql-reference/aggregate-functions/reference/deltasumtimestamp.md
Labels: pr-documentation

#48563 Add support for `{server_uuid}` macro
  programs/keeper/Keeper.cpp
  programs/server/Server.cpp
  src/Common/Exception.h
  src/Common/Macros.cpp
  src/Daemon/BaseDaemon.h
  src/Dictionaries/MongoDBDictionarySource.cpp
  src/Disks/ObjectStorages/S3/registerDiskS3.cpp
  src/IO/HTTPCommon.cpp
  src/IO/ReadWriteBufferFromHTTP.h
  src/Processors/Sources/MongoDBSource.cpp
  src/Storages/StorageMongoDB.cpp
  tests/queries/0_stateless/01148_zookeeper_path_macros_unfolding.sql
  tests/queries/0_stateless/02711_server_uuid_macro.reference
  tests/queries/0_stateless/02711_server_uuid_macro.sql
Labels: pr-improvement

#48574 Remove slow test from debug builds
  tests/queries/0_stateless/02703_jit_external_aggregation.sh
Labels: pr-not-for-changelog

#48569 bugfix: compare Bits and sizeof(Arithmetic) * 8
  base/base/wide_integer_impl.h
Labels: can be tested

#48522 Reduce memory usage for multiple alter delete mutations.
  src/Interpreters/MutationsInterpreter.cpp
  tests/queries/0_stateless/02125_many_mutations_2.reference
  tests/queries/0_stateless/02125_many_mutations_2.sh
Labels: pr-improvement

#48525 Parallel processing right after reading `FROM file()`
  src/Processors/ResizeProcessor.h
  src/Storages/StorageFile.cpp
  tests/performance/reading_from_file.xml
  tests/queries/0_stateless/01548_parallel_parsing_max_memory.sh
  tests/queries/0_stateless/01946_test_zstd_decompression_with_escape_sequence_at_the_end_of_buffer.sh
  tests/queries/0_stateless/02051_symlinks_to_user_files.sh
  tests/queries/0_stateless/02103_with_names_and_types_parallel_parsing.sh
  tests/queries/0_stateless/02187_msg_pack_uuid.sh
  tests/queries/0_stateless/02211_jsonl_format_extension.sql
  tests/queries/0_stateless/02286_mysql_dump_input_format.reference
  tests/queries/0_stateless/02286_mysql_dump_input_format.sh
  tests/queries/0_stateless/02293_arrow_dictionary_indexes.sql
  tests/queries/0_stateless/02293_formats_json_columns.reference
  tests/queries/0_stateless/02293_formats_json_columns.sh
  tests/queries/0_stateless/02314_csv_tsv_skip_first_lines.sql
  tests/queries/0_stateless/02383_arrow_dict_special_cases.sh
  tests/queries/0_stateless/02455_one_row_from_csv_memory_usage.sh
Labels: pr-performance

#48167 Add columns for table `system.storage_policies`
  docs/en/operations/system-tables/storage_policies.md
  src/Storages/System/StorageSystemStoragePolicies.cpp
  tests/integration/test_multiple_disks/test.py
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-improvement, can be tested

#48608 Update formats.md
  docs/en/interfaces/formats.md
Labels: pr-documentation

#48568 Update formats.md
  docs/en/interfaces/formats.md
Labels: pr-documentation

#48485 Add reading step for system zookeeper. Analyze path from filter DAG.
  src/Storages/System/StorageSystemZooKeeper.cpp
  src/Storages/System/StorageSystemZooKeeper.h
Labels: pr-not-for-changelog

#48600 Docs: Add SETTINGS to executable table function
  docs/en/sql-reference/table-functions/executable.md
Labels: pr-documentation

#48578 Slightly optimize Install
  programs/install/Install.cpp
Labels: pr-improvement

#48577 Don't use type conversion with String query parameters
  src/Interpreters/ReplaceQueryParameterVisitor.cpp
Labels: pr-not-for-changelog

#48551 Fix 02477_projection_materialize_and_zero_copy flakiness (due to index granularity randomization)
  tests/queries/0_stateless/02477_projection_materialize_and_zero_copy.sql
Labels: pr-not-for-changelog

#48612 Remove strange code
  src/Storages/StorageFile.h
Labels: pr-not-for-changelog

#48576 Update syntax.md
  docs/en/sql-reference/syntax.md
Labels: pr-documentation

#48436 Generate valid Decimals and Bools in generateRandom function
  src/Storages/StorageGenerateRandom.cpp
  tests/queries/0_stateless/01087_storage_generate.reference
  tests/queries/0_stateless/01087_table_function_generate.reference
  tests/queries/0_stateless/01905_to_json_string.reference
  tests/queries/0_stateless/02709_generate_random_valid_decimals_and_bools.reference
  tests/queries/0_stateless/02709_generate_random_valid_decimals_and_bools.sql
Labels: pr-improvement

#48526 Add `lost_part_count` column to `system.replicas`
  docs/en/operations/system-tables/replicas.md
  src/Storages/MergeTree/ReplicatedTableStatus.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/System/StorageSystemReplicas.cpp
  tests/queries/0_stateless/01165_lost_part_empty_partition.reference
  tests/queries/0_stateless/01165_lost_part_empty_partition.sql
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/02221_system_zookeeper_unrestricted.reference
  tests/queries/0_stateless/02221_system_zookeeper_unrestricted_like.reference
Labels: pr-feature

#48638 Fix build src/Interpreters/InterpreterInsertQuery.h
  src/Interpreters/InterpreterInsertQuery.h
Labels: pr-not-for-changelog

#48641 Fix build ThreadGroupPtr
  src/Processors/Transforms/buildPushingToViewsChain.h
Labels: pr-not-for-changelog

#48420 MySQL compat: Implement %f in parseDateTime()
  docs/en/sql-reference/functions/type-conversion-functions.md
  src/Functions/parseDateTime.cpp
  tests/queries/0_stateless/02668_parse_datetime.reference
  tests/queries/0_stateless/02668_parse_datetime.sql
Labels: pr-improvement

#48422 MySQL compat: Align behavior of %f in formatDateTime() with parseDateTime()
  docs/en/sql-reference/functions/date-time-functions.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Functions/formatDateTime.cpp
  tests/queries/0_stateless/00718_format_datetime.reference
  tests/queries/0_stateless/00718_format_datetime.sql
Labels: pr-improvement

#48438 Allow trailing commas in expression list of SELECT query
  src/Parsers/ExpressionListParsers.cpp
  src/Parsers/ExpressionListParsers.h
  src/Parsers/ParserSelectQuery.cpp
  src/Parsers/ParserTablesInSelectQuery.cpp
  tests/queries/0_stateless/02676_trailing_commas.reference
  tests/queries/0_stateless/02676_trailing_commas.sql
Labels: pr-improvement

#48472 Avoid operation on uninitialised data in readDateTimeTextImpl
  src/IO/ReadHelpers.h
Labels: pr-not-for-changelog

#48632 refine some messages of exception in regexp tree
  src/Dictionaries/RegExpTreeDictionary.cpp
Labels: pr-not-for-changelog

#48490 Change error code
  src/DataTypes/ObjectUtils.cpp
Labels: pr-not-for-changelog

#48183 Add scripts for sparse checkout of some contribs
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  contrib/sparse-checkout/setup-sparse-checkout.sh
  contrib/sparse-checkout/update-arrow.sh
  contrib/sparse-checkout/update-aws-s2n-tls.sh
  contrib/sparse-checkout/update-aws.sh
  contrib/sparse-checkout/update-boost.sh
  contrib/sparse-checkout/update-boringssl.sh
  contrib/sparse-checkout/update-brotli.sh
  contrib/sparse-checkout/update-croaring.sh
  contrib/sparse-checkout/update-grpc.sh
  contrib/sparse-checkout/update-h3.sh
  contrib/sparse-checkout/update-icu.sh
  contrib/sparse-checkout/update-libxml2.sh
  contrib/sparse-checkout/update-llvm-project.sh
  contrib/sparse-checkout/update-openssl.sh
  contrib/sparse-checkout/update-orc.sh
  contrib/sparse-checkout/update-protobuf.sh
  contrib/update-submodules.sh
  docs/en/development/developer-instruction.md
  docs/ru/development/developer-instruction.md
Labels: pr-not-for-changelog, submodule changed

#48627 Minor refactoring of formatDateTime()
  src/Functions/formatDateTime.cpp
Labels: pr-not-for-changelog

#48442 Add retries to loading of data parts
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  tests/integration/test_merge_tree_s3_failover/configs/config.d/storage_conf.xml
  tests/integration/test_merge_tree_s3_failover/test.py
Labels: pr-improvement

#48611 Fix IPv4 comparable with UInt
  src/DataTypes/getLeastSupertype.cpp
  tests/queries/0_stateless/02713_ip4_uint_compare.reference
  tests/queries/0_stateless/02713_ip4_uint_compare.sql
Labels: pr-must-backport

#48662 fix 02504_regexp_dictionary_table_source
  src/Dictionaries/RegExpTreeDictionary.cpp
Labels: pr-not-for-changelog

#48642 Fix flaky test test_drop_replica_and_achieve_quorum
  tests/integration/test_quorum_inserts/test.py
Labels: pr-not-for-changelog

#48489 Register datediff and trim aliases in system.functions
  docs/en/sql-reference/functions/date-time-functions.md
  src/Functions/dateDiff.cpp
  src/Functions/trim.cpp
  tests/queries/0_stateless/02710_date_diff_aliases.reference
  tests/queries/0_stateless/02710_date_diff_aliases.sql
  tests/queries/0_stateless/02711_trim_aliases.reference
  tests/queries/0_stateless/02711_trim_aliases.sql
Labels: pr-not-for-changelog

#47985 Do not continue retrying to connect to ZK if the query is killed or over limits
  src/Backups/BackupEntriesCollector.cpp
  src/Backups/WithRetries.cpp
  src/Interpreters/executeDDLQueryOnCluster.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/MergeTree/ZooKeeperRetries.h
  tests/integration/test_inserts_with_keeper_retries/test.py
Labels: pr-improvement

#48673 Fix roundAge()
  docs/en/sql-reference/functions/rounding-functions.md
Labels: pr-bugfix

#48666 Remove strange code from MutateTask
  src/Storages/MergeTree/MutateTask.cpp
Labels: pr-not-for-changelog

#48405 Support additional filters in new planner
  docs/en/operations/settings/settings.md
  src/Planner/Planner.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Planner/Utils.cpp
  src/Planner/Utils.h
Labels: pr-improvement

#48670 Remove lock for duplicated parts UUIDs (allow_experimental_query_deduplication=1)
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
Labels: pr-not-for-changelog

#48445 Add support for Date/DateTime datatypes to arrayMin/Max, arrayDifference functions
  src/DataTypes/DataTypeDateTime64.cpp
  src/DataTypes/DataTypeDateTime64.h
  src/DataTypes/IDataType.h
  src/Functions/array/arrayAggregation.cpp
  src/Functions/array/arrayDifference.cpp
  tests/queries/0_stateless/01602_array_aggregation.reference
  tests/queries/0_stateless/01602_array_aggregation.sql
Labels: pr-improvement

#48427 Update sort desc: more efficient original node search in ActionsDAG
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Processors/QueryPlan/ExpressionStep.cpp
  src/Processors/QueryPlan/FilterStep.cpp
Labels: pr-not-for-changelog

#48419 ClickHouse startup error when loading a distributed table that depends on a dictionary
  src/Databases/DDLLoadingDependencyVisitor.cpp
  tests/integration/test_dictionaries_dependency/test.py
Labels: can be tested

#48335 Check simple dictionary key is native unsigned integer
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  tests/integration/test_backup_restore_new/test.py
  tests/integration/test_backup_restore_on_cluster/test.py
  tests/integration/test_backward_compatibility/test_convert_ordinary.py
  tests/integration/test_dictionaries_access/test.py
  tests/integration/test_dictionaries_ddl/test.py
  tests/integration/test_dictionaries_dependency_xml/test.py
  tests/integration/test_mask_sensitive_info/configs/disable_check_dictionary_primary_key.xml
  tests/integration/test_mask_sensitive_info/test.py
  tests/integration/test_replicated_database/test.py
  tests/queries/0_stateless/00962_live_view_periodic_refresh_dictionary.py
  tests/queries/0_stateless/01042_system_reload_dictionary_reloads_completely.sh
  tests/queries/0_stateless/01043_dictionary_attribute_properties_values.sql
  tests/queries/0_stateless/01160_table_dependencies.sh
  tests/queries/0_stateless/02364_dictionary_datetime_64_attribute_crash.sql
  tests/queries/0_stateless/02390_prometheus_ClickHouseStatusInfo_DictionaryStatus.sh
  tests/queries/0_stateless/02391_hashed_dictionary_shards.sql
  tests/queries/0_stateless/02525_range_hashed_dictionary_update_field.sql
  tests/queries/0_stateless/02707_check_sample_dict_key_is_correct.reference
  tests/queries/0_stateless/02707_check_sample_dict_key_is_correct.sql
Labels: pr-improvement, can be tested

#48712 Better messages formatting in the CI Slack bot
  utils/ci-slack-bot/ci-slack-bot.py
Labels: pr-not-for-changelog

#46946 Fix several `RENAME COLUMN` bugs
  src/Storages/MergeTree/AlterConversions.cpp
  src/Storages/MergeTree/AlterConversions.h
  src/Storages/MergeTree/DataPartStorageOnDiskBase.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskBase.h
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataPartInMemory.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeMarksLoader.cpp
  src/Storages/MergeTree/MergeTreeWriteAheadLog.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
  src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeAttachThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/MutationCommands.cpp
  src/Storages/MutationCommands.h
  src/Storages/StorageInMemoryMetadata.cpp
  src/Storages/StorageInMemoryMetadata.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_disk_over_web_server/test.py
  tests/integration/test_merge_tree_hdfs/test.py
  tests/integration/test_merge_tree_s3/test.py
  tests/integration/test_merge_tree_s3_failover/test.py
  tests/integration/test_partition/test.py
  tests/integration/test_replicated_merge_tree_s3/test.py
  tests/integration/test_replicated_merge_tree_s3_zero_copy/test.py
  tests/integration/test_s3_zero_copy_ttl/test.py
  tests/queries/0_stateless/01278_alter_rename_combination.reference
  tests/queries/0_stateless/01278_alter_rename_combination.sql
  tests/queries/0_stateless/01281_alter_rename_and_other_renames.reference
  tests/queries/0_stateless/01281_alter_rename_and_other_renames.sql
  tests/queries/0_stateless/02241_filesystem_cache_on_write_operations.reference
  tests/queries/0_stateless/02361_fsync_profile_events.sh
  tests/queries/0_stateless/02538_alter_rename_sequence.reference
  tests/queries/0_stateless/02538_alter_rename_sequence.sql
  tests/queries/0_stateless/02543_alter_rename_modify_stuck.reference
  tests/queries/0_stateless/02543_alter_rename_modify_stuck.sh
  tests/queries/0_stateless/02543_alter_update_rename_stuck.reference
  tests/queries/0_stateless/02543_alter_update_rename_stuck.sh
  tests/queries/0_stateless/02555_davengers_rename_chain.reference
  tests/queries/0_stateless/02555_davengers_rename_chain.sh
  tests/queries/0_stateless/02675_profile_events_from_query_log_and_client.reference
Labels: pr-bugfix

#48715 Add trusted contributors
  tests/ci/workflow_approve_rerun_lambda/app.py
Labels: pr-not-for-changelog

#48596 Add second_deadlock_stack=1 for TSan on CI and fix some lock-order-inversion problems
  docker/test/base/Dockerfile
  docker/test/integration/runner/Dockerfile
  src/Interpreters/Context.cpp
  tests/integration/helpers/cluster.py
  tests/integration/test_grpc_protocol/test.py
  tests/integration/test_grpc_protocol_ssl/test.py
  tests/integration/test_server_reload/test.py
Labels: pr-not-for-changelog

#48439 test for #16399
  tests/queries/0_stateless/00700_to_decimal_or_something_1.reference.j2
  tests/queries/0_stateless/00700_to_decimal_or_something_1.sql.j2
Labels: pr-not-for-changelog

#48692 Update MergeTree syntax for optional index granularity argument
  src/Storages/MergeTree/registerStorageMergeTree.cpp
Labels: pr-not-for-changelog

#48732 Revert "Check simple dictionary key is native unsigned integer"
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  tests/integration/test_backup_restore_new/test.py
  tests/integration/test_backup_restore_on_cluster/test.py
  tests/integration/test_backward_compatibility/test_convert_ordinary.py
  tests/integration/test_dictionaries_access/test.py
  tests/integration/test_dictionaries_ddl/test.py
  tests/integration/test_dictionaries_dependency_xml/test.py
  tests/integration/test_mask_sensitive_info/configs/disable_check_dictionary_primary_key.xml
  tests/integration/test_mask_sensitive_info/test.py
  tests/integration/test_replicated_database/test.py
  tests/queries/0_stateless/00962_live_view_periodic_refresh_dictionary.py
  tests/queries/0_stateless/01042_system_reload_dictionary_reloads_completely.sh
  tests/queries/0_stateless/01043_dictionary_attribute_properties_values.sql
  tests/queries/0_stateless/01160_table_dependencies.sh
  tests/queries/0_stateless/02364_dictionary_datetime_64_attribute_crash.sql
  tests/queries/0_stateless/02390_prometheus_ClickHouseStatusInfo_DictionaryStatus.sh
  tests/queries/0_stateless/02391_hashed_dictionary_shards.sql
  tests/queries/0_stateless/02525_range_hashed_dictionary_update_field.sql
  tests/queries/0_stateless/02707_check_sample_dict_key_is_correct.reference
  tests/queries/0_stateless/02707_check_sample_dict_key_is_correct.sql
Labels: pr-not-for-changelog

#48699 Fix flaky `test_keeper_session`
  tests/integration/test_keeper_session/test.py
Labels: pr-not-for-changelog

#48146 Use ThreadPool in PipelineExecutor
  src/Common/CurrentMetrics.cpp
  src/Core/ExternalTable.cpp
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/PipelineExecutor.h
  src/Server/GRPCServer.cpp
Labels: pr-not-for-changelog

#48697 Add test for old bug #7826
  tests/queries/0_stateless/02713_array_low_cardinality_string.reference
  tests/queries/0_stateless/02713_array_low_cardinality_string.sql
Labels: pr-not-for-changelog

#48628 Better handling of values too large for VarInt encoding
  src/Common/SpaceSaving.h
  src/IO/Progress.cpp
  src/IO/VarInt.h
  src/IO/examples/var_uint.cpp
Labels: pr-not-for-changelog

#48509 Use std::string_view to get rid of strlen
  src/Parsers/ExpressionListParsers.cpp
Labels: pr-not-for-changelog, can be tested
