Repository ClickHouse/ClickHouse, pull requests merged in 2023-09, with the labels that each got.

#54065 Check changed server configuration with higher precision
  src/Common/Config/ConfigReloader.cpp
Labels: pr-improvement, can be tested

#53755 MySQL compatibility: support 'is not distinct from' in join on section, pt1
  docs/en/sql-reference/statements/select/join.md
  src/Functions/isNotDistinctFrom.cpp
  src/Functions/isNotDistinctFrom.h
  src/Functions/tuple.cpp
  src/Functions/tuple.h
  src/Interpreters/CollectJoinOnKeysVisitor.cpp
  src/Interpreters/CollectJoinOnKeysVisitor.h
  src/Interpreters/HashJoin.cpp
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  tests/analyzer_tech_debt.txt
  tests/queries/0_stateless/02861_join_on_nullsafe_compare.reference.j2
  tests/queries/0_stateless/02861_join_on_nullsafe_compare.sql.j2
Labels: pr-feature

#54128 Fix some more analyzer tests
  src/Planner/PlannerJoinTree.cpp
  tests/queries/0_stateless/01576_alias_column_rewrite.reference
  tests/queries/0_stateless/01576_alias_column_rewrite.sql
Labels: pr-not-for-changelog

#54133 Fixing 01086_odbc_roundtrip with analyzer.
  src/Storages/transformQueryForExternalDatabaseAnalyzer.cpp
Labels: pr-not-for-changelog

#53904 Fix: respect skip_unavailable_shards with parallel replicas
  src/Client/ConnectionPoolWithFailover.cpp
  src/Client/ConnectionPoolWithFailover.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
  tests/integration/test_parallel_replicas_distributed_skip_shards/__init__.py
  tests/integration/test_parallel_replicas_distributed_skip_shards/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_distributed_skip_shards/test.py
  tests/integration/test_parallel_replicas_skip_shards/__init__.py
  tests/integration/test_parallel_replicas_skip_shards/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_skip_shards/test.py
  tests/queries/0_stateless/02769_parallel_replicas_unavailable_shards.sql
Labels: pr-not-for-changelog

#54137 Better path for storage `S3Queue` metadata
  src/Core/Settings.h
  src/Storages/S3Queue/StorageS3Queue.cpp
Labels: pr-backward-incompatible

#54169 Rename macro
  programs/keeper/CMakeLists.txt
  programs/keeper/Keeper.cpp
  src/Compression/CompressionFactory.cpp
  src/Core/SettingsFields.cpp
  src/Core/SettingsFields.h
  src/Daemon/BaseDaemon.cpp
  src/Daemon/SentryWriter.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Disks/registerDisks.cpp
  src/Interpreters/Context.h
  src/Server/ProtocolServerAdapter.cpp
  src/Server/ProtocolServerAdapter.h
Labels: pr-not-for-changelog

#54155 tests: mark 02152_http_external_tables_memory_tracking as no-parallel
  tests/queries/0_stateless/02152_http_external_tables_memory_tracking.sh
Labels: pr-not-for-changelog

#54132 Disable `01600_parts_types_metrics_long` for asan
  tests/queries/0_stateless/01600_parts_types_metrics_long.sh
Labels: pr-not-for-changelog

#54095 Fix SipHash128 reference for big-endian platforms
  src/Common/SipHash.h
Labels: pr-not-for-changelog, can be tested

#54186 Update version after release
  cmake/autogenerated_versions.txt
  src/Storages/System/StorageSystemContributors.generated.cpp
Labels: do not test, pr-feature

#54183 Amend a confusing line of code in Loggers.cpp
  src/Loggers/Loggers.cpp
Labels: pr-not-for-changelog

#54189 Revert "Fix: respect skip_unavailable_shards with parallel replicas"
  src/Client/ConnectionPoolWithFailover.cpp
  src/Client/ConnectionPoolWithFailover.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
  tests/integration/test_parallel_replicas_distributed_skip_shards/__init__.py
  tests/integration/test_parallel_replicas_distributed_skip_shards/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_distributed_skip_shards/test.py
  tests/integration/test_parallel_replicas_skip_shards/__init__.py
  tests/integration/test_parallel_replicas_skip_shards/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_skip_shards/test.py
  tests/queries/0_stateless/02769_parallel_replicas_unavailable_shards.sql
Labels: pr-not-for-changelog

#53338 Fix IO throttling during copying whole directories
  programs/disks/CommandCopy.cpp
  src/Disks/DiskEncrypted.cpp
  src/Disks/DiskEncrypted.h
  src/Disks/DiskEncryptedTransaction.cpp
  src/Disks/DiskEncryptedTransaction.h
  src/Disks/DiskLocal.cpp
  src/Disks/DiskLocal.h
  src/Disks/FakeDiskTransaction.h
  src/Disks/IDisk.cpp
  src/Disks/IDisk.h
  src/Disks/IDiskTransaction.h
  src/Disks/ObjectStorages/DiskObjectStorageTransaction.cpp
  src/Disks/ObjectStorages/DiskObjectStorageTransaction.h
  src/Storages/MergeTree/DataPartStorageOnDiskBase.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskBase.h
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  src/Storages/MergeTree/MergeTreePartsMover.h
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/localBackup.cpp
  src/Storages/MergeTree/localBackup.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/config/config.d/storage_conf.xml
  tests/queries/0_stateless/02870_move_partition_to_volume_io_throttling.reference
  tests/queries/0_stateless/02870_move_partition_to_volume_io_throttling.sql
Labels: pr-bugfix

#54045 Correct UniquesHashSet to be endianness-independent.
  src/AggregateFunctions/UniquesHashSet.h
Labels: pr-not-for-changelog, can be tested

#53892 Fix some tests
  src/Access/SettingsConstraints.cpp
  src/Access/SettingsConstraints.h
  src/Common/mysqlxx/PoolWithFailover.cpp
  src/DataTypes/Serializations/SerializationUUID.cpp
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Interpreters/InterpreterDropQuery.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/InterpreterSystemQuery.h
  src/Interpreters/QueryAliasesVisitor.cpp
  tests/integration/test_mysql_protocol/test.py
  tests/queries/0_stateless/01747_system_session_log_long.sh
  tests/queries/0_stateless/02125_many_mutations.sh
  tests/queries/0_stateless/02125_many_mutations_2.sh
  tests/queries/0_stateless/02437_drop_mv_restart_replicas.sh
Labels: pr-not-for-changelog

#54195 Fix flaky test `01099_operators_date_and_timestamp`
  tests/queries/0_stateless/01099_operators_date_and_timestamp.reference
  tests/queries/0_stateless/01099_operators_date_and_timestamp.sql
Labels: pr-not-for-changelog

#54191 Fix flaky test_s3_storage_conf_proxy
  tests/integration/helpers/s3_url_proxy_tests_util.py
Labels: pr-build, can be tested

#54199 Fix: parallel replicas over distributed don't read from all replicas
  src/Interpreters/ClusterProxy/executeQuery.cpp
  tests/integration/test_parallel_replicas_distributed_read_from_all/__init__.py
  tests/integration/test_parallel_replicas_distributed_read_from_all/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_distributed_read_from_all/test.py
  tests/queries/0_stateless/02869_parallel_replicas_read_from_several.reference
  tests/queries/0_stateless/02869_parallel_replicas_read_from_several.sql
Labels: pr-bugfix, v23.8-must-backport

#54198 Save system tables from s3_disk in the report
  docker/test/stateless/run.sh
  tests/ci/stress_tests.lib
Labels: pr-not-for-changelog

#54134 Small refactoring for read from object storage
  src/Common/ProfileEvents.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.h
  src/Disks/IO/IOUringReader.h
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.h
  src/Disks/IO/ThreadPoolReader.h
  src/Disks/IO/ThreadPoolRemoteFSReader.cpp
  src/Disks/IO/ThreadPoolRemoteFSReader.h
  src/IO/AsynchronousReadBufferFromFileDescriptor.cpp
  src/IO/AsynchronousReader.h
  src/IO/ReadBuffer.h
  src/IO/SynchronousReader.cpp
  src/IO/SynchronousReader.h
  src/IO/tests/gtest_writebuffer_s3.cpp
  src/Storages/HDFS/ReadBufferFromHDFS.cpp
  src/Storages/HDFS/ReadBufferFromHDFS.h
Labels: pr-not-for-changelog

#53803 Revert "Revert "dateDiff: add support for plural units.""
  docs/en/sql-reference/functions/date-time-functions.md
  src/Functions/dateDiff.cpp
  tests/queries/0_stateless/00538_datediff_plural_units.reference
  tests/queries/0_stateless/00538_datediff_plural_units.sql
Labels: pr-not-for-changelog

#54214 S3Queue is experimental
  src/Core/Settings.h
  src/Storages/S3Queue/StorageS3Queue.cpp
  tests/integration/test_storage_s3_queue/configs/users.xml
Labels: pr-not-for-changelog, v23.8-must-backport

#54210 Fix timezones in the CI Logs database
  tests/ci/clickhouse_helper.py
Labels: pr-not-for-changelog

#54215 Deprecate metadata cache, part 2
  programs/server/Server.cpp
  src/Common/ProfileEvents.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ServerAsynchronousMetrics.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/IPartMetadataManager.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeMetadataCache.cpp
  src/Storages/MergeTree/MergeTreeMetadataCache.h
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/PartMetadataManagerWithCache.cpp
  src/Storages/MergeTree/PartMetadataManagerWithCache.h
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/MergeTree/tests/gtest_merge_tree_metadata_cache.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/config/config.d/metadata_cache.xml
  tests/config/install.sh
Labels: pr-backward-incompatible

#54171 Minor changes
  src/Common/ProxyConfigurationResolverProvider.cpp
  src/Common/ProxyConfigurationResolverProvider.h
  src/Common/tests/gtest_proxy_configuration_resolver_provider.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.cpp
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskReadBufferFromFile.h
  src/Disks/IO/CachedOnDiskWriteBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskWriteBufferFromFile.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/IO/S3/Client.cpp
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCacheSettings.cpp
  src/Interpreters/Cache/FileCacheSettings.h
  src/Interpreters/InterpreterDescribeCacheQuery.cpp
  src/Storages/StorageURL.cpp
  tests/queries/0_stateless/02240_filesystem_cache_bypass_cache_threshold.reference
  tests/queries/0_stateless/02240_filesystem_cache_bypass_cache_threshold.sql
Labels: pr-not-for-changelog

#54220 Improve vars with refernce in Settings cpps
  src/Core/BaseSettings.h
  src/Core/ServerSettings.cpp
  src/Core/Settings.cpp
Labels: pr-improvement, can be tested

#54223 Test: extend cluster_all_replicas integration test with skip_unavailable_shards
  tests/integration/test_cluster_all_replicas/configs/remote_servers.xml
  tests/integration/test_cluster_all_replicas/test.py
Labels: pr-not-for-changelog

#54200 Fix: allow IPv6 for bloom filter
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  tests/queries/0_stateless/00908_bloom_filter_index.reference
  tests/queries/0_stateless/00908_bloom_filter_index.sh
Labels: pr-bugfix, pr-must-backport

#54221 Add ProfileEvents::Timer class
  src/Common/ProfileEvents.cpp
  src/Common/ProfileEvents.h
Labels: pr-not-for-changelog, can be tested

#54097 add function decodeHTMLComponent
  docs/en/sql-reference/functions/string-functions.md
  src/Functions/CMakeLists.txt
  src/Functions/HTMLCharacterReference.generated.cpp
  src/Functions/HTMLCharacterReference.gperf
  src/Functions/HTMLCharacterReference.h
  src/Functions/HTMLCharacterReference.sh
  src/Functions/decodeHTMLComponent.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02863_decode_html_component.reference
  tests/queries/0_stateless/02863_decode_html_component.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#53754 Fix: require columns participating in interpolate expression
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/TreeRewriter.cpp
  tests/queries/0_stateless/02863_interpolate_subquery.reference
  tests/queries/0_stateless/02863_interpolate_subquery.sql
Labels: pr-bugfix

#53709 Reasonable prefetches for remote FS by default
  src/Core/Settings.h
Labels: pr-performance

#54238 Merge #54236
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/BSONEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/MsgPackRowInputFormat.cpp
Labels: pr-not-for-changelog

#54237 Fix bad code in the `system.filesystem_cache`: catching exceptions
  src/Storages/System/StorageSystemFilesystemCache.cpp
Labels: pr-not-for-changelog

#53768 Docs: Simplify docs about possible time units in age() and dateDiff() functions
  docs/en/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#54212 fix possible type mismatch with IPv4
  src/Core/Field.h
  src/Interpreters/convertFieldToType.cpp
  tests/queries/0_stateless/02864_test_ipv4_type_mismatch.reference
  tests/queries/0_stateless/02864_test_ipv4_type_mismatch.sql
Labels: pr-bugfix, can be tested

#54213 2R: Fix: respect skip_unavailable_shards with parallel replicas
  src/Client/ConnectionPoolWithFailover.cpp
  src/Client/ConnectionPoolWithFailover.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
  tests/analyzer_integration_broken_tests.txt
  tests/integration/test_parallel_replicas_distributed_skip_shards/__init__.py
  tests/integration/test_parallel_replicas_distributed_skip_shards/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_distributed_skip_shards/test.py
  tests/integration/test_parallel_replicas_skip_shards/__init__.py
  tests/integration/test_parallel_replicas_skip_shards/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_skip_shards/test.py
  tests/queries/0_stateless/02769_parallel_replicas_unavailable_shards.sql
Labels: pr-not-for-changelog

#51907 Abort on `std::logic_error` in CI
  src/Common/Exception.cpp
Labels: pr-not-for-changelog

#54190 Fix pager in client/local interactive mode when not all data had been read
  src/Client/ClientBase.cpp
  tests/queries/0_stateless/02871_clickhouse_client_restart_pager.reference
  tests/queries/0_stateless/02871_clickhouse_client_restart_pager.sh
Labels: pr-not-for-changelog

#54253 Update ci-slack-bot.py
  utils/ci-slack-bot/ci-slack-bot.py
Labels: pr-not-for-changelog

#53050 Fix summary reporting with parallel replicas with LIMIT
  src/Client/Connection.cpp
  src/Client/Connection.h
  src/Client/MultiplexedConnections.cpp
  src/Core/Protocol.h
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/ISource.cpp
  src/Processors/ISource.h
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
  src/Server/TCPHandler.cpp
  src/Server/TCPHandler.h
  tests/queries/0_stateless/02841_parallel_replicas_summary.reference
  tests/queries/0_stateless/02841_parallel_replicas_summary.sh
Labels: pr-bugfix

#53214 Add a regression test for broken Vertical merge after ADD+DROP COLUMN
  tests/queries/0_stateless/02842_vertical_merge_after_add_drop_column.reference
  tests/queries/0_stateless/02842_vertical_merge_after_add_drop_column.sql
Labels: pr-not-for-changelog

#54268 Add a note of where the lambda is deployed
  tests/ci/slack_bot_ci_lambda/app.py
Labels: do not test, pr-not-for-changelog

#54251 Properly re-initialize ZooKeeper fault injection
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Interpreters/Context.cpp
Labels: pr-not-for-changelog

#54257 Minor clarifications to the `OPTIMIZE ... DEDUPLICATE` docs
  docs/en/sql-reference/statements/optimize.md
Labels: pr-documentation, can be tested

#42599 libFuzzer: add CI fuzzers build, add tcp protocol fuzzer, fix other fuzzers.
  .github/workflows/pull_request.yml
  CMakeLists.txt
  docker/packager/binary/build.sh
  docker/packager/packager
  programs/local/LocalServer.cpp
  programs/main.cpp
  programs/server/CMakeLists.txt
  programs/server/fuzzers/CMakeLists.txt
  programs/server/fuzzers/tcp_protocol_fuzzer.cpp
  src/AggregateFunctions/fuzzers/CMakeLists.txt
  src/AggregateFunctions/fuzzers/aggregate_function_state_deserialization_fuzzer.cpp
  src/Compression/fuzzers/CMakeLists.txt
  src/Compression/fuzzers/compressed_buffer_fuzzer.cpp
  src/Compression/fuzzers/delta_decompress_fuzzer.cpp
  src/Compression/fuzzers/double_delta_decompress_fuzzer.cpp
  src/Compression/fuzzers/encrypted_decompress_fuzzer.cpp
  src/Compression/fuzzers/lz4_decompress_fuzzer.cpp
  src/Core/fuzzers/CMakeLists.txt
  src/Core/fuzzers/names_and_types_fuzzer.cpp
  src/DataTypes/fuzzers/CMakeLists.txt
  src/DataTypes/fuzzers/data_type_deserialization_fuzzer.cpp
  src/Formats/fuzzers/CMakeLists.txt
  src/Formats/fuzzers/format_fuzzer.cpp
  src/Interpreters/fuzzers/CMakeLists.txt
  src/Interpreters/fuzzers/execute_query_fuzzer.cpp
  src/Parsers/fuzzers/CMakeLists.txt
  src/Parsers/fuzzers/codegen_fuzzer/CMakeLists.txt
  src/Parsers/fuzzers/create_parser_fuzzer.cpp
  src/Parsers/fuzzers/lexer_fuzzer.cpp
  src/Parsers/fuzzers/select_parser_fuzzer.cpp
  src/Storages/fuzzers/CMakeLists.txt
  src/Storages/fuzzers/columns_description_fuzzer.cpp
  src/Storages/fuzzers/mergetree_checksum_fuzzer.cpp
  tests/ci/build_check.py
  tests/ci/ci_config.py
Labels: pr-not-for-changelog, build-fuzzers

#54261 Minor change
  src/Common/IntervalTree.h
  src/DataTypes/Serializations/SerializationNullable.cpp
  src/Functions/FunctionsHashing.h
  src/Functions/TransformDateTime64.h
Labels: pr-not-for-changelog

#54260 Enable allow_remove_stale_moving_parts by default
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-improvement, pr-must-backport

#54225 Fix system.data_skipping_indices for recreated indices
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/02028_system_data_skipping_indices_size.reference
  tests/queries/0_stateless/02028_system_data_skipping_indices_size.sql
Labels: pr-bugfix, can be tested

#53923 Add docs for clickhouse-disks
  docs/en/operations/utilities/clickhouse-disks.md
  docs/en/operations/utilities/index.md
  programs/disks/CommandCopy.cpp
  programs/disks/CommandLink.cpp
  programs/disks/CommandList.cpp
  programs/disks/CommandMkDir.cpp
  programs/disks/CommandMove.cpp
  programs/disks/CommandRead.cpp
  programs/disks/CommandWrite.cpp
  tests/integration/test_disks_app_func/test.py
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation

#54157 Backport moving/ part checking code from master
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_alter_moving_garbage/test.py
  tests/integration/test_s3_zero_copy_ttl/configs/s3.xml
  tests/integration/test_s3_zero_copy_ttl/test.py
Labels: pr-backport

#54270 Query cache: Log caching of entries
  src/Interpreters/Cache/QueryCache.cpp
  src/Interpreters/Cache/QueryCache.h
Labels: pr-not-for-changelog

#54099 Add the default value of task-upload-force
  docs/en/operations/utilities/clickhouse-copier.md
  programs/copier/ClusterCopierApp.cpp
Labels: pr-documentation, can be tested

#54113 Fix cluster discovery initialization + setting up fail points in config
  programs/server/Server.cpp
  src/Common/FailPoint.cpp
  src/Common/FailPoint.h
  src/Interpreters/ClusterDiscovery.cpp
  src/Interpreters/ClusterDiscovery.h
  tests/integration/test_cluster_discovery/config/config.xml
Labels: pr-bugfix

#54271 Fix using count from cache and improve progress bar for reading from archives
  src/Storages/StorageFile.cpp
Labels: pr-improvement

#54244 Minor improvement, load from config
  src/Storages/HDFS/HDFSCommon.cpp
Labels: pr-not-for-changelog, can be tested

#53735 37737 fixed internal error when replacing with byte-equal parts
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/02864_replace_partition_with_duplicated_parts_zookeeper.reference
  tests/queries/0_stateless/02864_replace_partition_with_duplicated_parts_zookeeper.sh
Labels: pr-bugfix, can be tested

#54256 Fix clickhouse-test --no-drop-if-fail on reference mismatch
  tests/clickhouse-test
Labels: pr-not-for-changelog

#54301 Rollback testing part from #42599
  .github/workflows/pull_request.yml
  tests/ci/build_check.py
Labels: pr-not-for-changelog

#54279 Fix test `02783_parsedatetimebesteffort_syslog`
  tests/queries/0_stateless/02783_parsedatetimebesteffort_syslog.sql
Labels: pr-not-for-changelog

#54291 Fix `test_keeper_disks`
  tests/integration/test_keeper_disks/configs/enable_keeper_snapshot.xml
  tests/integration/test_keeper_disks/test.py
Labels: pr-not-for-changelog

#54308 Add SQL syntax highlight in projections.md
  docs/en/sql-reference/statements/alter/projection.md
Labels: pr-documentation

#53860 Add a setting to escape special characters in Markdown.
  docs/en/operations/settings/settings-formats.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/DataTypes/Serializations/ISerialization.cpp
  src/DataTypes/Serializations/ISerialization.h
  src/DataTypes/Serializations/SerializationCustomSimpleText.cpp
  src/DataTypes/Serializations/SerializationCustomSimpleText.h
  src/DataTypes/Serializations/SerializationEnum.cpp
  src/DataTypes/Serializations/SerializationEnum.h
  src/DataTypes/Serializations/SerializationFixedString.cpp
  src/DataTypes/Serializations/SerializationFixedString.h
  src/DataTypes/Serializations/SerializationObject.cpp
  src/DataTypes/Serializations/SerializationObject.h
  src/DataTypes/Serializations/SerializationString.cpp
  src/DataTypes/Serializations/SerializationString.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/IO/WriteHelpers.h
  src/Processors/Formats/Impl/MarkdownRowOutputFormat.cpp
  tests/queries/0_stateless/01231_markdown_format.reference
  tests/queries/0_stateless/01231_markdown_format.sql
Labels: pr-feature, can be tested

#54269 update tldLookup data
  src/Functions/URL/CMakeLists.txt
  src/Functions/URL/tldLookup.generated.cpp
  src/Functions/URL/tldLookup.gperf
  src/Functions/URL/tldLookup.sh
  tests/queries/0_stateless/01601_custom_tld.reference
  tests/queries/0_stateless/01601_custom_tld.sql.j2
  tests/queries/0_stateless/02110_clickhouse_local_custom_tld.reference
  tests/queries/0_stateless/02110_clickhouse_local_custom_tld.sh
  tests/queries/0_stateless/02110_clickhouse_local_custom_tld.tld.dat
Labels: pr-build, can be tested

#53638 Add `backup_log` system table
  docs/en/operations/backup.md
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/system-tables/backup_log.md
  docs/en/operations/system-tables/index.md
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/ru/operations/system-tables/backup_log.md
  docs/ru/operations/system-tables/index.md
  programs/server/config.xml
  src/Backups/BackupOperationInfo.h
  src/Backups/BackupsWorker.cpp
  src/Backups/BackupsWorker.h
  src/Common/SystemLogBase.cpp
  src/Common/SystemLogBase.h
  src/Interpreters/BackupLog.cpp
  src/Interpreters/BackupLog.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterBackupQuery.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageNull.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/System/StorageSystemBackups.cpp
  tests/integration/test_backup_log/__init__.py
  tests/integration/test_backup_log/configs/config.d/backups.xml
  tests/integration/test_backup_log/configs/config.xml
  tests/integration/test_backup_log/test.py
  tests/integration/test_backup_restore_new/test.py
Labels: pr-feature, can be tested

#52721 Fix calculating stack size under musl for the main thread
  PreLoad.cmake
  contrib/corrosion-cmake/CMakeLists.txt
  docker/packager/binary/Dockerfile
  src/Common/checkStackSize.cpp
Labels: pr-build, submodule changed

#54307 Lower the number of iterations in test_host_regexp_multiple_ptr_records_concurrent
  tests/integration/test_host_regexp_multiple_ptr_records_concurrent/scripts/stress_test.py
Labels: pr-build, can be tested

#54254 Fix wrong reallocation in HashedArrayDictionary
  src/Dictionaries/FlatDictionary.cpp
  src/Dictionaries/HashedArrayDictionary.cpp
  src/Dictionaries/HashedDictionary.cpp
  src/Dictionaries/RangeHashedDictionary.h
Labels: pr-improvement

#54293 Code improvement for reading from archives
  src/Formats/ReadSchemaUtils.cpp
  src/Formats/ReadSchemaUtils.h
  src/Storages/StorageFile.cpp
Labels: pr-not-for-changelog

#53877 Add restore setting "restore_broken_parts_as_detached"
  src/Backups/BackupSettings.cpp
  src/Backups/BackupSettings.h
  src/Backups/RestoreSettings.cpp
  src/Backups/RestoreSettings.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreePartInfo.h
  tests/config/config.d/backups.xml
  tests/queries/0_stateless/02704_max_backup_bandwidth.sh
  tests/queries/0_stateless/02843_backup_use_same_s3_credentials_for_base_backup.sh
  tests/queries/0_stateless/02864_restore_table_with_broken_part.reference
  tests/queries/0_stateless/02864_restore_table_with_broken_part.sh
  tests/queries/0_stateless/backups/with_broken_part.zip
Labels: pr-improvement

#54306 Fix unexpected errors in system.errors after join
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/TreeRewriter.h
  src/Interpreters/evaluateConstantExpression.cpp
  src/Interpreters/evaluateConstantExpression.h
  tests/queries/0_stateless/02871_join_on_system_errors.reference
  tests/queries/0_stateless/02871_join_on_system_errors.sql
Labels: pr-bugfix

#54328 Update generate.md
  docs/en/engines/table-engines/special/generate.md
Labels: pr-documentation, can be tested

#53328 Introduce default parameters to DECIMAL family types
  docs/en/sql-reference/data-types/decimal.md
  src/DataTypes/DataTypesDecimal.cpp
  tests/queries/0_stateless/00700_decimal_with_default_precision_and_scale.reference
  tests/queries/0_stateless/00700_decimal_with_default_precision_and_scale.sql
Labels: pr-feature, can be tested

#53149 Add GCD codec
  docs/en/sql-reference/statements/create/table.md
  docs/ru/sql-reference/statements/create/table.md
  src/Compression/CompressionCodecDelta.cpp
  src/Compression/CompressionCodecGCD.cpp
  src/Compression/CompressionFactory.cpp
  src/Compression/CompressionInfo.h
  src/Compression/fuzzers/CMakeLists.txt
  src/Compression/fuzzers/gcd_decompress_fuzzer.cpp
  tests/queries/0_stateless/02868_gcd_codec_test_data.reference
  tests/queries/0_stateless/02868_gcd_codec_test_data.sql
  tests/queries/0_stateless/02869_gcd_codec_test_incorrect_type.reference
  tests/queries/0_stateless/02869_gcd_codec_test_incorrect_type.sql
  tests/queries/0_stateless/02870_gcd_codec_test_single_codec.reference
  tests/queries/0_stateless/02870_gcd_codec_test_single_codec.sql
  tests/queries/0_stateless/02872_gcd_codec_test_supported_types.reference
  tests/queries/0_stateless/02872_gcd_codec_test_supported_types.sql
  tests/queries/0_stateless/02873_gcd_codec_test_only_zero_values.reference
  tests/queries/0_stateless/02873_gcd_codec_test_only_zero_values.sql
Labels: pr-feature, can be tested

#54326 Fix segfault in system.zookeeper
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/MsgPackRowInputFormat.cpp
  src/Storages/System/StorageSystemZooKeeper.cpp
  tests/queries/0_stateless/02436_system_zookeeper_context.reference
  tests/queries/0_stateless/02436_system_zookeeper_context.sql
Labels: pr-not-for-changelog

#53068 Unify setting http keep-alive timeout, increase default to 30s
  src/Bridge/IBridge.cpp
  src/Core/Defines.h
  src/Disks/IO/ReadBufferFromWebServer.cpp
  src/Disks/ObjectStorages/S3/diskSettings.cpp
  src/Server/HTTPHandler.cpp
  src/Server/InterserverIOHTTPHandler.cpp
  src/Server/PrometheusRequestHandler.cpp
  src/Server/ReplicasStatusHandler.cpp
  src/Server/StaticRequestHandler.cpp
  src/Server/WebUIRequestHandler.cpp
Labels: pr-not-for-changelog

#54336 Used assert_cast instead of dynamic_cast in ExternalDataSourceCache
  src/Storages/Cache/ExternalDataSourceCache.cpp
Labels: pr-not-for-changelog, can be tested

#54294 Backport moving/ part checking code to 23.6
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/integration/test_s3_zero_copy_ttl/test.py
Labels: pr-backport

#54316 Fix isZeroOrNull(NULL)
  docs/en/sql-reference/functions/functions-for-nulls.md
  src/Functions/isZeroOrNull.cpp
  tests/queries/0_stateless/01373_is_zero_or_null.reference
  tests/queries/0_stateless/01373_is_zero_or_null.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-bugfix, force tests, can be tested

#54339 Improved protection from dereferencing of nullptr
  src/Common/mysqlxx/Connection.cpp
  src/Functions/array/mapPopulateSeries.cpp
  src/Interpreters/ActionsVisitor.cpp
Labels: pr-not-for-changelog, can be tested

#54315 Add logs for parallel replica over distributed
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/QueryPlan/ReadFromRemote.h
  tests/queries/0_stateless/02835_parallel_replicas_over_distributed.sql
Labels: pr-not-for-changelog

#54010 Use pathlib.Path in S3Helper, rewrite build reports, improve small things
  tests/ci/ast_fuzzer_check.py
  tests/ci/build_check.py
  tests/ci/build_download_helper.py
  tests/ci/build_report_check.py
  tests/ci/commit_status_helper.py
  tests/ci/docker_pull_helper.py
  tests/ci/env_helper.py
  tests/ci/fast_test_check.py
  tests/ci/install_check.py
  tests/ci/performance_comparison_check.py
  tests/ci/report.py
  tests/ci/s3_helper.py
  tests/ci/sqltest.py
  tests/ci/upload_result_helper.py
  tests/ci/version_helper.py
Labels: pr-not-for-changelog, pr-must-backport

#54347 Add support for SSO credentials in S3
  src/IO/S3/Credentials.cpp
  src/IO/S3/Credentials.h
Labels: pr-improvement

#54338 Fix bad punctuation in Keeper's logs
  programs/keeper/Keeper.cpp
Labels: pr-not-for-changelog

#54193 Fix REPLACE/MOVE PARTITION with zero-copy replication
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/02413_replace_partition_zero_copy.reference
  tests/queries/0_stateless/02413_replace_partition_zero_copy.sql
Labels: pr-bugfix, blob hunter, pr-must-backport-cloud

#54185 Fix partition id pruning for analyzer.
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/VirtualColumnUtils.cpp
  src/Storages/VirtualColumnUtils.h
Labels: pr-not-for-changelog

#54322 Fix replace_partition test
  tests/queries/0_stateless/02864_replace_partition_with_duplicated_parts_zookeeper.reference
  tests/queries/0_stateless/02864_replace_partition_with_duplicated_parts_zookeeper.sh
Labels: pr-not-for-changelog, can be tested

#54136 Fix issues in accurateCastOrNull
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/01556_accurate_cast_or_null.reference
  tests/queries/0_stateless/01556_accurate_cast_or_null.sql
  tests/queries/0_stateless/02303_cast_nullable_to_custom_types.reference
Labels: pr-bugfix, can be tested

#54354 Parallel replicas: remove unused code
  src/Interpreters/Cluster.cpp
  src/Interpreters/Cluster.h
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Processors/QueryPlan/DistributedCreateLocalPlan.cpp
  src/Processors/QueryPlan/DistributedCreateLocalPlan.h
  src/Processors/QueryPlan/ReadFromRemote.cpp
Labels: pr-not-for-changelog

#54069 Increase retries for test_merge_tree_azure_blob_storage
  src/Disks/IO/ReadBufferFromAzureBlobStorage.cpp
  src/Disks/IO/WriteBufferFromAzureBlobStorage.cpp
  src/Disks/tests/gtest_azure_sdk.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  src/Storages/MergeTree/MergeTreeReaderWide.cpp
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/MergeTree/checkDataPart.cpp
  src/Storages/MergeTree/checkDataPart.h
  tests/integration/test_merge_tree_azure_blob_storage/configs/config.d/storage_conf.xml
Labels: pr-not-for-changelog

#54321 Increase timeout for system.stack_trace in 01051_system_stack_trace
  tests/queries/0_stateless/01051_system_stack_trace.reference
  tests/queries/0_stateless/01051_system_stack_trace.sql
Labels: pr-not-for-changelog

#54371 Enable hedged requests integration tests with tsan, use max_distributed_connections=1 to fix possible flakiness
  tests/integration/test_hedged_requests/test.py
Labels: pr-not-for-changelog

#54331 Fixed flaky test `02841_parallel_replicas_summary`
  tests/queries/0_stateless/02841_parallel_replicas_summary.reference
  tests/queries/0_stateless/02841_parallel_replicas_summary.sh
Labels: pr-not-for-changelog

#51304 Add support for ALTER TABLE MODIFY COMMENT
  docs/en/sql-reference/statements/alter/comment.md
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Parsers/ParserCreateQuery.cpp
  src/Storages/AlterCommands.cpp
  src/Storages/AlterCommands.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/00725_comment_columns_long.sql
  tests/queries/0_stateless/02020_alter_table_modify_comment.reference
  tests/queries/0_stateless/02792_alter_table_modify_comment.reference
  tests/queries/0_stateless/02792_alter_table_modify_comment.sql
Labels: pr-feature

#54375 Use abiv2 when generating OpenSSL .s files for powerpc64le
  cmake/linux/toolchain-ppc64le.cmake
  contrib/openssl-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed, can be tested

#54377 Disable prefer_localhost_replica in test for parallel replicas
  tests/integration/test_parallel_replicas_over_distributed/test.py
Labels: pr-not-for-changelog

#54332 Consolidate GCD codec tests (Follow up to #53149)
  docs/en/sql-reference/statements/create/table.md
  src/Compression/CompressionCodecDelta.cpp
  src/Compression/CompressionCodecGCD.cpp
  tests/queries/0_stateless/00700_decimal_with_default_precision_and_scale.reference
  tests/queries/0_stateless/00700_decimal_with_default_precision_and_scale.sql
  tests/queries/0_stateless/02868_gcd_codec_test_data.reference
  tests/queries/0_stateless/02868_gcd_codec_test_data.sql
  tests/queries/0_stateless/02870_gcd_codec_test_single_codec.reference
  tests/queries/0_stateless/02870_gcd_codec_test_single_codec.sql
  tests/queries/0_stateless/02872_gcd_codec.reference
  tests/queries/0_stateless/02872_gcd_codec.sql
  tests/queries/0_stateless/02873_gcd_codec_test_only_zero_values.reference
  tests/queries/0_stateless/02873_gcd_codec_test_only_zero_values.sql
Labels: pr-not-for-changelog

#54368 Fix logical error in vertical merge + replacing merge tree + optimize cleanup
  src/Processors/Merges/Algorithms/ReplacingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/ReplacingSortedAlgorithm.h
  src/Processors/Merges/ReplacingSortedTransform.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTask.h
  tests/queries/0_stateless/02861_replacing_merge_tree_with_cleanup.reference
  tests/queries/0_stateless/02861_replacing_merge_tree_with_cleanup.sql
Labels: pr-bugfix

#54385 Check for overflow before addition in `analysisOfVariance` function
  src/AggregateFunctions/Moments.h
  tests/queries/0_stateless/02874_analysis_of_variance_overflow.reference
  tests/queries/0_stateless/02874_analysis_of_variance_overflow.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#54330 Fix precise float parsing issue on s390x
  src/IO/readFloatText.h
Labels: pr-build, can be tested

#54401 Fixed parameterized_view test after backporting a fix 23.3
  tests/queries/0_stateless/02428_parameterized_view.reference
  tests/queries/0_stateless/02428_parameterized_view.sh
Labels: pr-backport

#54249 Allow multiple `--query` parameters in clickhouse-client/local.
  docs/en/interfaces/cli.md
  docs/en/operations/utilities/clickhouse-local.md
  docs/ru/interfaces/cli.md
  docs/zh/interfaces/cli.md
  programs/client/Client.cpp
  programs/local/LocalServer.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  tests/queries/0_stateless/00754_distributed_optimize_skip_select_on_unused_shards.reference
  tests/queries/0_stateless/00754_distributed_optimize_skip_select_on_unused_shards_with_prewhere.reference
  tests/queries/0_stateless/01339_client_unrecognized_option.sh
  tests/queries/0_stateless/02751_multiquery_with_argument.reference
  tests/queries/0_stateless/02751_multiquery_with_argument.sh
  tests/queries/0_stateless/02771_multiple_query_arguments.reference
  tests/queries/0_stateless/02771_multiple_query_arguments.sh
Labels: pr-improvement

#54394 Update sampling-query-profiler.md
  docs/en/operations/optimizing-performance/sampling-query-profiler.md
Labels: pr-documentation

#54255 Fix typo
  tests/fuzz/README.md
Labels: pr-documentation, can be tested

#53680 Support non-constant timezone arguments in toString() and formatDateTime()
  src/Functions/FunctionsConversion.h
  src/Functions/formatDateTime.cpp
  tests/queries/0_stateless/02863_non_const_timezone_check.reference
  tests/queries/0_stateless/02863_non_const_timezone_check.sql
Labels: pr-improvement

#54408 Fix failed assert in attach thread during startup retries
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#54431 Fixed detectLanguage mixed example
  docs/en/sql-reference/functions/nlp-functions.md
Labels: pr-documentation, can be tested

#54369 Use not the absolute latest docker image tag
  .github/workflows/backport_branches.yml
  .github/workflows/docs_check.yml
  .github/workflows/master.yml
  .github/workflows/nightly.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  tests/ci/clickhouse_helper.py
  tests/ci/docker_images_check.py
  tests/ci/docker_images_helper.py
  tests/ci/docker_manifests_merge.py
  tests/ci/docker_test.py
Labels: pr-build

#54333 Fixed wrong dereference problem in Context::setTemporaryStorageInCache
  src/Interpreters/Context.cpp
Labels: pr-not-for-changelog, can be tested

#53765 Sync UUIDs of tables on replicas after RESTORE
  src/Backups/BackupUtils.cpp
  src/Backups/BackupUtils.h
  src/Backups/DDLAdjustingForBackupVisitor.cpp
  src/Backups/IRestoreCoordination.h
  src/Backups/RestoreCoordinationLocal.cpp
  src/Backups/RestoreCoordinationLocal.h
  src/Backups/RestoreCoordinationRemote.cpp
  src/Backups/RestoreCoordinationRemote.h
  src/Backups/RestorerFromBackup.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Parsers/ASTCreateQuery.cpp
  src/Parsers/ASTCreateQuery.h
  tests/integration/test_backup_restore_on_cluster/test.py
Labels: pr-improvement

#54448 Doc. HTTP response codes caveats
  docs/en/interfaces/http.md
Labels: pr-documentation

#53931 Refactoring of reading from `MergeTree` tables
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Storages/MergeTree/IMergeTreeReadPool.h
  src/Storages/MergeTree/IMergeTreeReader.h
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeBaseSelectProcessor.h
  src/Storages/MergeTree/MergeTreeBlockReadUtils.cpp
  src/Storages/MergeTree/MergeTreeBlockReadUtils.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeInOrderSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeInOrderSelectProcessor.h
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.cpp
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.h
  src/Storages/MergeTree/MergeTreeReadPool.cpp
  src/Storages/MergeTree/MergeTreeReadPool.h
  src/Storages/MergeTree/MergeTreeReadPoolBase.cpp
  src/Storages/MergeTree/MergeTreeReadPoolBase.h
  src/Storages/MergeTree/MergeTreeReadPoolInOrder.cpp
  src/Storages/MergeTree/MergeTreeReadPoolInOrder.h
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicas.cpp
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicas.h
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicasInOrder.cpp
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicasInOrder.h
  src/Storages/MergeTree/MergeTreeReadTask.cpp
  src/Storages/MergeTree/MergeTreeReadTask.h
  src/Storages/MergeTree/MergeTreeReverseSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeReverseSelectProcessor.h
  src/Storages/MergeTree/MergeTreeSelectAlgorithms.cpp
  src/Storages/MergeTree/MergeTreeSelectAlgorithms.h
  src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeSelectProcessor.h
  src/Storages/MergeTree/MergeTreeSource.cpp
  src/Storages/MergeTree/MergeTreeSource.h
  src/Storages/MergeTree/MergeTreeThreadSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeThreadSelectProcessor.h
  tests/queries/0_stateless/01551_mergetree_read_in_order_spread.reference
  tests/queries/0_stateless/01861_explain_pipeline.reference
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix.reference
  tests/queries/0_stateless/02233_optimize_aggregation_in_order_prefix.reference
  tests/queries/0_stateless/02317_distinct_in_order_optimization_explain.reference
  tests/queries/0_stateless/02317_distinct_in_order_optimization_explain.sh
  tests/queries/0_stateless/02340_parts_refcnt_mergetree.reference
  tests/queries/0_stateless/02343_aggregation_pipeline.reference
  tests/queries/0_stateless/02343_aggregation_pipeline.sql
  tests/queries/0_stateless/02404_memory_bound_merging.reference
  tests/queries/0_stateless/02404_memory_bound_merging.sql
  tests/queries/0_stateless/02493_max_streams_for_merge_tree_reading.reference
  tests/queries/0_stateless/02493_max_streams_for_merge_tree_reading.sql
  tests/queries/0_stateless/02521_aggregation_by_partitions.reference
  tests/queries/0_stateless/02521_aggregation_by_partitions.sql
  tests/queries/0_stateless/02554_fix_grouping_sets_predicate_push_down.reference
  tests/queries/0_stateless/02582_async_reading_with_small_limit.reference
  tests/queries/0_stateless/02582_async_reading_with_small_limit.sql
  tests/queries/0_stateless/02676_distinct_reading_in_order_analyzer.reference
  tests/queries/0_stateless/02676_distinct_reading_in_order_analyzer.sql
  tests/queries/0_stateless/02780_final_streams_data_skipping_index.reference
  tests/queries/0_stateless/02798_explain_settings_not_applied_bug.reference
  tests/queries/1_stateful/00177_memory_bound_merging.sh
Labels: pr-not-for-changelog

#54463 Doc. Examples with non-constant timezones
  docs/en/sql-reference/functions/date-time-functions.md
  docs/en/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation

#54379 Fix segfault in AST optimization of `arrayExists` function
  src/Interpreters/RewriteArrayExistsFunctionVisitor.cpp
  src/Interpreters/RewriteArrayExistsFunctionVisitor.h
  tests/queries/0_stateless/02834_array_exists_segfault.reference
  tests/queries/0_stateless/02834_array_exists_segfault.sql
Labels: pr-bugfix

#54403 Fix incorrect formatting of CREATE query with PRIMARY KEY
  src/Parsers/ASTColumnDeclaration.cpp
Labels: pr-not-for-changelog

#54367 Fix flaky test test_storage_azure_blob_storage/test.py::test_schema_iference_cache
  tests/integration/test_storage_azure_blob_storage/test.py
Labels: pr-not-for-changelog

#54382 Add STD alias to stddevPop function for MySQL compatibility
  docs/en/sql-reference/aggregate-functions/reference/stddevpop.md
  docs/en/sql-reference/aggregate-functions/reference/stddevsamp.md
  docs/en/sql-reference/aggregate-functions/reference/varpop.md
  docs/en/sql-reference/aggregate-functions/reference/varsamp.md
  src/AggregateFunctions/AggregateFunctionSecondMoment.cpp
  tests/queries/0_stateless/02833_std_alias.reference
  tests/queries/0_stateless/02833_std_alias.sql
Labels: pr-improvement

#54472 Revert "Fix issues in accurateCastOrNull"
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/01556_accurate_cast_or_null.reference
  tests/queries/0_stateless/01556_accurate_cast_or_null.sql
  tests/queries/0_stateless/02303_cast_nullable_to_custom_types.reference
Labels: pr-not-for-changelog

#54466 Remove useless line
  tests/config/install.sh
Labels: pr-not-for-changelog

#54469 Add `instance_type` column to CI Logs and the `checks` table
  docker/test/base/setup_export_logs.sh
  tests/ci/build_check.py
  tests/ci/clickhouse_helper.py
  tests/ci/performance_comparison_check.py
Labels: pr-not-for-changelog

#53502 bugfix: close rocks db files before deleting data when executing drop table command
  src/Storages/RocksDB/StorageEmbeddedRocksDB.cpp
  src/Storages/RocksDB/StorageEmbeddedRocksDB.h
Labels: can be tested

#54435 Small fine-tune for using ColumnNullable pointer
  src/Processors/Transforms/MergeJoinTransform.cpp
Labels: pr-not-for-changelog, can be tested

#54468 Cleanup: unnecessary SelectQueryInfo usage around distributed
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/ClusterProxy/executeQuery.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageDistributed.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#50906 Add case insensitive and dot-all modes to RegExpTree dictionary
  docs/en/sql-reference/dictionaries/index.md
  src/Core/Settings.h
  src/Dictionaries/RegExpTreeDictionary.cpp
  src/Dictionaries/RegExpTreeDictionary.h
  tests/queries/0_stateless/02504_regexp_dictionary_yaml_source.reference
  tests/queries/0_stateless/02504_regexp_dictionary_yaml_source.sh
Labels: pr-feature, can be tested

#54409 Hashtable order fix on big endian platform
  src/Common/HashTable/Hash.h
  src/Common/HashTable/StringHashTable.h
  src/Common/benchmarks/integer_hash_tables_and_hashes.cpp
  src/Interpreters/AggregationCommon.h
  src/Interpreters/Aggregator.h
Labels: pr-not-for-changelog, can be tested

#54481 Refactor IHints
  src/Client/ClientBase.h
  src/Common/IFactoryWithAliases.h
  src/Common/NamePrompter.h
  src/Core/Settings.h
  src/DataTypes/EnumValues.h
  src/Functions/UserDefined/UserDefinedSQLFunctionFactory.h
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Server/HTTPPathHints.h
  src/Storages/ColumnsDescription.h
  src/Storages/IStorage.h
  src/Storages/IndicesDescription.h
  src/Storages/ProjectionsDescription.h
  src/Storages/StorageFactory.h
Labels: pr-not-for-changelog

#54484 Docs: Mention behavior change of splitByChar() in v22.11
  docs/en/sql-reference/functions/splitting-merging-functions.md
Labels: pr-documentation

#52842 add runOptimize call in bitmap write method
  src/AggregateFunctions/AggregateFunctionGroupBitmapData.h
Labels: pr-performance, can be tested

#54179 Add elapsed_ns to HTTP headers X-ClickHouse-Progress and X-ClickHouse-Summary
  docker/test/fasttest/Dockerfile
  docker/test/stateless/Dockerfile
  docs/en/interfaces/http.md
  docs/ru/interfaces/http.md
  docs/zh/interfaces/http.md
  src/IO/Progress.cpp
  src/IO/Progress.h
  src/Server/HTTP/WriteBufferFromHTTPServerResponse.cpp
  tests/integration/test_postgresql_replica_database_engine_1/test.py
  tests/queries/0_stateless/00416_pocopatch_progress_in_http_headers.sh
  tests/queries/0_stateless/02136_scalar_progress.sh
  tests/queries/0_stateless/02373_progress_contain_result.sh
  tests/queries/0_stateless/02423_insert_summary_behaviour.sh
  tests/queries/0_stateless/02457_insert_select_progress_http.sh
  tests/queries/0_stateless/02869_http_headers_elapsed_ns.reference
  tests/queries/0_stateless/02869_http_headers_elapsed_ns.sh
Labels: pr-improvement, manual approve, can be tested

#54489 Fix strange message
  cmake/limit_jobs.cmake
Labels: pr-not-for-changelog

#47009 Integrate DiskObjectStorage with IO Scheduler
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/operations/system-tables/scheduler.md
  docs/en/operations/workload-scheduling.md
  src/Common/CurrentThread.cpp
  src/Common/CurrentThread.h
  src/Coordination/Standalone/Context.cpp
  src/Coordination/Standalone/Context.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Disks/ObjectStorages/HDFS/registerDiskHDFS.cpp
  src/Disks/ObjectStorages/Web/registerDiskWebServer.cpp
  src/IO/IResourceManager.h
  src/IO/ISchedulerConstraint.h
  src/IO/ISchedulerNode.h
  src/IO/ISchedulerQueue.h
  src/IO/Resource/ClassifiersConfig.cpp
  src/IO/Resource/ClassifiersConfig.h
  src/IO/Resource/DynamicResourceManager.cpp
  src/IO/Resource/DynamicResourceManager.h
  src/IO/Resource/FairPolicy.h
  src/IO/Resource/FifoQueue.h
  src/IO/Resource/PriorityPolicy.h
  src/IO/Resource/SemaphoreConstraint.h
  src/IO/Resource/StaticResourceManager.h
  src/IO/Resource/tests/gtest_resource_manager_hierarchical.cpp
  src/IO/Resource/tests/gtest_resource_manager_static.cpp
  src/IO/ResourceBudget.h
  src/IO/ResourceRequest.h
  src/IO/SchedulerRoot.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/System/StorageSystemScheduler.cpp
  src/Storages/System/StorageSystemScheduler.h
  src/Storages/System/attachSystemTables.cpp
  tests/integration/test_scheduler/__init__.py
  tests/integration/test_scheduler/configs/scheduler.xml
  tests/integration/test_scheduler/test.py
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#54043 Revert "Revert "Fixed wrong python test name pattern""
  tests/integration/ci-runner.py
  tests/integration/test_concurrent_backups_s3/test.py
  tests/integration/test_concurrent_threads_soft_limit/test.py
  tests/integration/test_disk_over_web_server/test.py
Labels: pr-not-for-changelog

#54337 Add SHOW FUNCTIONS support to client
  docs/en/sql-reference/statements/show.md
  src/Interpreters/InterpreterFactory.cpp
  src/Interpreters/InterpreterShowFunctionsQuery.cpp
  src/Interpreters/InterpreterShowFunctionsQuery.h
  src/Parsers/ASTShowFunctionsQuery.cpp
  src/Parsers/ASTShowFunctionsQuery.h
  src/Parsers/ParserQueryWithOutput.cpp
  src/Parsers/ParserShowFunctionsQuery.cpp
  src/Parsers/ParserShowFunctionsQuery.h
  tests/queries/0_stateless/00419_show_sql_queries.sh
  tests/queries/0_stateless/02875_show_functions.reference
  tests/queries/0_stateless/02875_show_functions.sh
Labels: pr-feature, can be tested

#54479 Add function toDaysSinceYearZero()
  docs/en/sql-reference/functions/date-time-functions.md
  src/Functions/DateTimeTransforms.h
  src/Functions/base64Decode.cpp
  src/Functions/base64Encode.cpp
  src/Functions/toDayOfMonth.cpp
  src/Functions/toDayOfWeek.cpp
  src/Functions/toDayOfYear.cpp
  src/Functions/toDaysSinceYearZero.cpp
  src/Functions/toHour.cpp
  src/Functions/toMinute.cpp
  src/Functions/toMonth.cpp
  src/Functions/toQuarter.cpp
  src/Functions/toSecond.cpp
  src/Functions/toYear.cpp
  tests/queries/0_stateless/02874_toDaysSinceYearZero.reference
  tests/queries/0_stateless/02874_toDaysSinceYearZero.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#50722 Add new exceptions to 4xx error
  src/Server/HTTPHandler.cpp
Labels: pr-not-for-changelog, can be tested

#54373 Fix possible error 'URI contains invalid characters' in s3 table function
  src/TableFunctions/TableFunctionS3.cpp
  tests/queries/0_stateless/02873_s3_presigned_url_and_url_with_special_characters.reference
  tests/queries/0_stateless/02873_s3_presigned_url_and_url_with_special_characters.sql
Labels: pr-bugfix, v23.8-must-backport

#54430 reproduce and fix the bug in removeSharedRecursive
  src/Disks/ObjectStorages/DiskObjectStorageTransaction.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_replicated_zero_copy_projection_mutation/__init__.py
  tests/integration/test_replicated_zero_copy_projection_mutation/configs/config.d/storage_conf.xml
  tests/integration/test_replicated_zero_copy_projection_mutation/configs/config.d/users.xml
  tests/integration/test_replicated_zero_copy_projection_mutation/test.py
Labels: pr-bugfix

#51449 Fix data race in copyFromIStreamWithProgressCallback
  src/IO/HTTPCommon.h
  src/IO/ReadBufferFromS3.cpp
  src/IO/ReadWriteBufferFromHTTP.cpp
  src/IO/SeekableReadBuffer.cpp
  src/IO/SeekableReadBuffer.h
  tests/integration/test_storage_s3/test.py
Labels: pr-not-for-changelog

#54506 Add modification_time into system.detached_parts
  src/Storages/System/StorageSystemDetachedParts.cpp
  tests/integration/test_partition/test.py
  tests/queries/0_stateless/00502_custom_partitioning_local.sql
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/02881_system_detached_parts_modification_time.reference
  tests/queries/0_stateless/02881_system_detached_parts_modification_time.sql.j2
Labels: pr-improvement

#54503 clickhouse-local support --database command line argument
  programs/local/LocalServer.cpp
  tests/queries/0_stateless/02141_clickhouse_local_interactive_table.reference
  tests/queries/0_stateless/02141_clickhouse_local_interactive_table.sh
Labels: pr-bugfix

#54480 Fix aggregate projections with normalized states
  src/Columns/ColumnAggregateFunction.cpp
  src/Columns/ColumnAggregateFunction.h
  src/DataTypes/DataTypeAggregateFunction.cpp
  src/DataTypes/DataTypeAggregateFunction.h
  src/Functions/FunctionsConversion.h
  src/Processors/QueryPlan/Optimizations/optimizeUseAggregateProjection.cpp
  tests/queries/0_stateless/01710_aggregate_projection_with_normalized_states.reference
  tests/queries/0_stateless/01710_aggregate_projection_with_normalized_states.sql
Labels: pr-bugfix

#54351 Support NULL as default for nested types Array/Tuple/Map for input formats
  src/DataTypes/Serializations/SerializationArray.cpp
  src/DataTypes/Serializations/SerializationMap.cpp
  src/DataTypes/Serializations/SerializationTuple.cpp
  src/Formats/insertNullAsDefaultIfNeeded.cpp
  src/Formats/insertNullAsDefaultIfNeeded.h
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.cpp
  tests/queries/0_stateless/00748_insert_array_with_null.sql
  tests/queries/0_stateless/02872_null_as_default_nested.reference
  tests/queries/0_stateless/02872_null_as_default_nested.sh
Labels: pr-improvement

#54467 Add a log message on replicated table drop
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/01165_lost_part_empty_partition.reference
  tests/queries/0_stateless/01165_lost_part_empty_partition.sql
Labels: pr-not-for-changelog

#54335 Added peak_threads_usage to query_log table
  docs/en/operations/system-tables/query_log.md
  docs/ru/operations/system-tables/query_log.md
  src/Common/ConcurrencyControl.cpp
  src/Common/ThreadStatus.h
  src/Interpreters/ProcessList.cpp
  src/Interpreters/ProcessList.h
  src/Interpreters/QueryLog.cpp
  src/Interpreters/QueryLog.h
  src/Interpreters/ThreadStatusExt.cpp
  src/Interpreters/executeQuery.cpp
  src/Storages/MergeTree/MergePlainMergeTreeTask.cpp
  tests/queries/0_stateless/02871_peak_threads_usage.reference
  tests/queries/0_stateless/02871_peak_threads_usage.sh
Labels: pr-feature, can be tested

#54512 Fix use-after-free in `MergeTreePrefetchedReadPool`
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.cpp
Labels: pr-not-for-changelog

#54201 Implementing `reconfig`, `sync`, `exists` commands for keeper-client
  docs/en/operations/utilities/clickhouse-keeper-client.md
  programs/keeper-client/Commands.cpp
  programs/keeper-client/Commands.h
  programs/keeper-client/KeeperClient.cpp
  programs/keeper-client/KeeperClient.h
  programs/keeper-client/Parser.cpp
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  tests/integration/helpers/keeper_utils.py
  tests/integration/test_keeper_client/test.py
  tests/integration/test_keeper_reconfig_add/test.py
  tests/integration/test_keeper_reconfig_remove/test.py
  tests/integration/test_keeper_reconfig_remove_many/test.py
  tests/integration/test_keeper_reconfig_replace_leader/test.py
  tests/integration/test_keeper_reconfig_replace_leader_in_one_command/__init__.py
  tests/integration/test_keeper_reconfig_replace_leader_in_one_command/configs/keeper1.xml
  tests/integration/test_keeper_reconfig_replace_leader_in_one_command/configs/keeper2.xml
  tests/integration/test_keeper_reconfig_replace_leader_in_one_command/configs/keeper3.xml
  tests/integration/test_keeper_reconfig_replace_leader_in_one_command/configs/keeper4.xml
  tests/integration/test_keeper_reconfig_replace_leader_in_one_command/test.py
Labels: pr-improvement

#54513 Fix possible parsing error in WithNames formats with disabled input_format_with_names_use_header
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/registerWithNamesAndTypes.cpp
  src/Interpreters/Context.cpp
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/HDFS/StorageHDFS.h
  src/Storages/Hive/StorageHive.h
  src/Storages/IStorage.h
  src/Storages/S3Queue/StorageS3Queue.cpp
  src/Storages/S3Queue/StorageS3Queue.h
  src/Storages/StorageAzureBlob.cpp
  src/Storages/StorageAzureBlob.h
  src/Storages/StorageFile.cpp
  src/Storages/StorageFile.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/Storages/StorageURL.cpp
  src/Storages/StorageURL.h
  src/Storages/StorageXDBC.cpp
  src/Storages/StorageXDBC.h
  src/TableFunctions/ITableFunction.h
  src/TableFunctions/ITableFunctionFileLike.cpp
  src/TableFunctions/ITableFunctionFileLike.h
  src/TableFunctions/TableFunctionAzureBlobStorage.cpp
  src/TableFunctions/TableFunctionAzureBlobStorage.h
  src/TableFunctions/TableFunctionS3.cpp
  src/TableFunctions/TableFunctionS3.h
  tests/queries/0_stateless/02876_formats_with_names_dont_use_header.reference
  tests/queries/0_stateless/02876_formats_with_names_dont_use_header.sh
  tests/queries/0_stateless/02876_formats_with_names_dont_use_header_test.csvwithnames
Labels: pr-bugfix

#54520 Parallel replicas: cleanup unused params
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/ClusterProxy/executeQuery.h
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/QueryPlan/ReadFromRemote.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#54441 Update automated commit status comment
  tests/ci/commit_status_helper.py
  tests/ci/report.py
Labels: pr-not-for-changelog, pr-must-backport, pr-status-❌
