Repository ClickHouse/ClickHouse, pull requests merged in 2024-11, with the labels that each got.

#71312 Fix async inserts with empty blocks via native protocol
  src/Interpreters/AsynchronousInsertQueue.cpp
  tests/queries/0_stateless/03257_async_insert_native_empty_block.reference
  tests/queries/0_stateless/03257_async_insert_native_empty_block.sh
Labels: pr-bugfix, v24.9-must-backport, v24.10-must-backport

#71319 Better style for some sever-level settings
  src/Core/ServerSettings.cpp
  src/Interpreters/Context.cpp
Labels: pr-not-for-changelog

#71299 Fix reading of LowCardinality dictionary in Dynamic column
  src/DataTypes/Serializations/ISerialization.cpp
  src/DataTypes/Serializations/ISerialization.h
  src/DataTypes/Serializations/SerializationLowCardinality.cpp
  src/Storages/MergeTree/MergeTreeReaderWide.cpp
  tests/queries/0_stateless/02240_get_type_serialization_streams.reference
  tests/queries/0_stateless/03260_dynamic_low_cardinality_dict_bug.reference
  tests/queries/0_stateless/03260_dynamic_low_cardinality_dict_bug.sql
Labels: pr-bugfix, pr-must-backport

#71193 Fix ignoring format settings in Native format via HTTP and Async Inserts
  src/Processors/Formats/Impl/NativeFormat.cpp
  tests/integration/test_storage_kafka/test.py
  tests/queries/0_stateless/03259_native_http_async_insert_settings.reference
  tests/queries/0_stateless/03259_native_http_async_insert_settings.sh
Labels: pr-bugfix

#71182 Escape special symbols in files for JSON subcolumns
  src/DataTypes/Serializations/ISerialization.cpp
  tests/queries/0_stateless/03257_json_escape_file_names.reference
  tests/queries/0_stateless/03257_json_escape_file_names.sql
Labels: pr-backward-incompatible, v24.8-must-backport, v24.9-must-backport, v24.10-must-backport

#71183 Fix bad_weak_ptr exception with Dynamic in functions comparison
  src/Functions/FunctionsComparison.h
  src/Functions/transform.cpp
  tests/queries/0_stateless/03258_dynamic_in_functions_weak_ptr_exception.reference
  tests/queries/0_stateless/03258_dynamic_in_functions_weak_ptr_exception.sql
Labels: pr-bugfix, v24.10-must-backport

#71345 check-doc-aspell: Print full path to script in CI report
  utils/check-style/check-doc-aspell
Labels: pr-not-for-changelog

#70977 Optimize `Replacing` merge algorithm for non-intersecting parts
  src/Core/SortCursor.h
  src/Processors/Merges/Algorithms/ReplacingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/ReplacingSortedAlgorithm.h
  src/Processors/Transforms/SelectByIndicesTransform.h
  tests/performance/replacing_final_non_intersecting.xml
Labels: pr-performance

#71325 Fix test `test_workload_entity_keeper_storage`: add more retries
  src/Common/Scheduler/Workload/WorkloadEntityStorageBase.cpp
  tests/integration/test_scheduler/test.py
Labels: pr-not-for-changelog

#71254 Query cache: Improve handling of system table names in literals
  src/Interpreters/Cache/QueryCache.cpp
  tests/queries/0_stateless/02494_query_cache_system_tables.sql
Labels: pr-bugfix

#71364 Add try catch to data part destructors
  src/Storages/MergeTree/MergeTreeDataPartCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartWide.cpp
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#71347 CI: Fix fedora version in create release workflow
  tests/ci/artifactory.py
Labels: pr-not-for-changelog

#71014 Make the Replxx client history size configurable
  docs/en/interfaces/cli.md
  programs/client/Client.cpp
  programs/disks/DisksApp.cpp
  programs/disks/DisksApp.h
  programs/keeper-client/KeeperClient.cpp
  programs/keeper-client/KeeperClient.h
  src/Client/ClientApplicationBase.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  src/Client/ReplxxLineReader.cpp
  src/Client/ReplxxLineReader.h
Labels: pr-improvement, can be tested

#71245 Fix doc for CREATE MATERIALIZED VIEW ON CLUSTER
  docs/en/sql-reference/statements/create/view.md
  docs/ru/sql-reference/statements/create/view.md
  docs/zh/sql-reference/statements/create/view.md
Labels: pr-documentation, can be tested

#70297 move `fixReplicaMetadataVersionIfNeeded` from attach thread to restarting thread
  src/Storages/MergeTree/ReplicatedMergeTreeAttachThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeAttachThread.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.h
  tests/integration/helpers/cluster.py
  tests/integration/parallel_skip.json
  tests/integration/test_fix_metadata_version/__init__.py
  tests/integration/test_fix_metadata_version/configs/config.xml
  tests/integration/test_fix_metadata_version/test.py
Labels: pr-improvement

#71335 Fix debug build
  src/Common/Scheduler/Nodes/UnifiedSchedulerNode.h
Labels: pr-not-for-changelog, can be tested

#71332 Fix inconsistent AST formatting when granting wrong wildcard grants
  docs/en/sql-reference/statements/grant.md
  src/Parsers/Access/ParserGrantQuery.cpp
  tests/queries/0_stateless/03141_wildcard_grants.sql
Labels: pr-bugfix, v24.10-must-backport

#70725 Add ability to set user/password in http_handlers
  src/Access/Credentials.h
  src/Server/HTTP/authenticateUserByHTTP.cpp
  src/Server/HTTP/authenticateUserByHTTP.h
  src/Server/HTTPHandler.cpp
  src/Server/HTTPHandler.h
  src/Server/HTTPHandlerFactory.cpp
  src/Server/PrometheusRequestHandler.cpp
  tests/integration/test_http_handlers_config/test.py
  tests/integration/test_http_handlers_config/test_dynamic_handler/config.xml
  tests/integration/test_http_handlers_config/test_predefined_handler/config.xml
  tests/integration/test_http_handlers_config/users.d/users.yaml
Labels: pr-improvement, can be tested

#71367 Fix unused variables around WorkloadEntityStorageBase
  src/Common/Scheduler/Workload/WorkloadEntityStorageBase.cpp
Labels: pr-not-for-changelog

#71389 Doc. Copy/paste error
  docs/en/sql-reference/aggregate-functions/reference/anylast.md
Labels: pr-documentation

#71380 Fix settings changes history
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#71399 Update install.md (comment)
  docs/ru/getting-started/install.md
Labels: pr-documentation, can be tested

#71176 Remove StorageExternalDistributed
  src/Storages/StorageExternalDistributed.cpp
  src/Storages/StorageExternalDistributed.h
  src/Storages/registerStorages.cpp
  src/TableFunctions/TableFunctionURL.cpp
  tests/integration/test_storage_mysql/test.py
  tests/integration/test_storage_postgresql/test.py
Labels: pr-backward-incompatible

#71261 Fix memory usage increase bug in 24.10 during remote read
  src/Disks/IO/AsynchronousBoundedReadBuffer.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.h
  src/Disks/IO/CachedOnDiskReadBufferFromFile.h
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/tests/gtest_asynchronous_bounded_read_buffer.cpp
  src/IO/ReadBufferFromFileBase.h
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
Labels: pr-bugfix, v24.10-must-backport

#71422 Add per host dashboards to advanced dashboard
  src/Storages/System/StorageSystemDashboards.cpp
Labels: pr-improvement, pr-must-backport-cloud

#71416 Rename `compare8` to `compare16` for consistency
  base/base/StringRef.h
Labels: pr-not-for-changelog

#71368 Allow to prewarm mark cache by system command without enabled setting
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/03254_system_prewarm_mark_cache.reference
  tests/queries/0_stateless/03254_system_prewarm_mark_cache.sql
Labels: pr-not-for-changelog

#71438 Fix upgrade check (24.11)
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#70112 CI: enable libfuzzer
  CMakeLists.txt
  docker/test/libfuzzer/Dockerfile
  src/AggregateFunctions/fuzzers/CMakeLists.txt
  src/Core/fuzzers/CMakeLists.txt
  src/DataTypes/fuzzers/CMakeLists.txt
  src/DataTypes/fuzzers/data_type_deserialization_fuzzer.cpp
  src/Formats/fuzzers/CMakeLists.txt
  src/Interpreters/fuzzers/CMakeLists.txt
  src/Parsers/fuzzers/CMakeLists.txt
  src/Parsers/fuzzers/codegen_fuzzer/CMakeLists.txt
  src/Storages/fuzzers/CMakeLists.txt
  tests/ci/ci_config.py
  tests/ci/libfuzzer_test_check.py
  tests/ci/s3_helper.py
  tests/fuzz/build.sh
  tests/fuzz/clickhouse_fuzzer.options
  tests/fuzz/runner.py
  utils/CMakeLists.txt
  utils/libfuzzer-test/CMakeLists.txt
  utils/libfuzzer-test/README.md
  utils/libfuzzer-test/test_basic_fuzzer/CMakeLists.txt
  utils/libfuzzer-test/test_basic_fuzzer/main.cpp
Labels: libFuzzer, pr-ci

#71405 Demote log level for failed authentication
  src/Access/AccessControl.cpp
  src/Common/Exception.cpp
  src/Common/Exception.h
  src/Server/TCPHandler.cpp
Labels: pr-bugfix

#71384 memory_worker shall be started on non-Linux OS too
  programs/server/Server.cpp
Labels: pr-bugfix, can be tested

#71341 CI: Remove deprecated release script
  tests/ci/mark_release_ready.py
  tests/ci/release.py
Labels: pr-not-for-changelog

#71308 Added missing unescaping in named collections names.
  src/Common/NamedCollections/NamedCollectionsMetadataStorage.cpp
  tests/integration/test_named_collections/test.py
Labels: pr-bugfix, can be tested

#70806 Allow to disable background cache download for loading metadata files
  src/Common/ProfileEvents.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskWriteBufferFromFile.cpp
  src/IO/ReadSettings.h
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/FileSegment.h
  src/Interpreters/Context.cpp
  src/Interpreters/tests/gtest_filecache.cpp
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataPartBuilder.cpp
  src/Storages/MergeTree/MergeTreeDataPartBuilder.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-not-for-changelog

#71012 Refactor DataLakeStorage
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.h
  src/Storages/ObjectStorage/DataLakes/HudiMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/HudiMetadata.h
  src/Storages/ObjectStorage/DataLakes/IStorageDataLake.h
  src/Storages/ObjectStorage/DataLakes/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/IcebergMetadata.h
  src/Storages/ObjectStorage/DataLakes/registerDataLakeStorages.cpp
  src/Storages/ObjectStorage/StorageObjectStorage.cpp
  src/Storages/ObjectStorage/StorageObjectStorage.h
  src/Storages/ObjectStorage/registerStorageObjectStorage.cpp
  src/Storages/registerStorages.cpp
  src/TableFunctions/ITableFunctionDataLake.h
  src/TableFunctions/TableFunctionObjectStorage.cpp
  src/TableFunctions/TableFunctionObjectStorage.h
  src/TableFunctions/TableFunctionObjectStorageCluster.cpp
  src/TableFunctions/registerDataLakeTableFunctions.cpp
Labels: pr-improvement

#70171 Parallel replicas: use local plan for local replica by default
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  tests/queries/0_stateless/02967_parallel_replicas_join_algo_and_analyzer_1.reference
  tests/queries/0_stateless/02967_parallel_replicas_join_algo_and_analyzer_1.sh
  tests/queries/0_stateless/02967_parallel_replicas_join_algo_and_analyzer_2.reference
  tests/queries/0_stateless/02967_parallel_replicas_join_algo_and_analyzer_2.sh
Labels: pr-improvement, v24.10-must-backport

#71426 Fix crash in mongodb table function
  src/Parsers/ASTFunction.cpp
  src/TableFunctions/TableFunctionMongoDB.cpp
  src/TableFunctions/TableFunctionMongoDB.h
  src/TableFunctions/TableFunctionMongoDBPocoLegacy.cpp
  tests/queries/0_stateless/03261_mongodb_argumetns_crash.reference
  tests/queries/0_stateless/03261_mongodb_argumetns_crash.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#71497 Expose base setting for merge selector
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#71474 Fix memory usage in inserts with delayed streams
  src/Storages/MergeTree/IMergeTreeDataPartWriter.h
  src/Storages/MergeTree/IMergedBlockOutputStream.h
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.h
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.h
  src/Storages/MergeTree/MergeTreeSink.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  tests/queries/0_stateless/03261_delayed_streams_memory.reference
  tests/queries/0_stateless/03261_delayed_streams_memory.sql
Labels: pr-not-for-changelog

#71224 Fix `WITH TOTALS` in subquery with parallel replicas
  src/Planner/PlannerJoinTree.cpp
  src/Planner/findParallelReplicasQuery.cpp
  src/Processors/QueryPlan/SortingStep.cpp
  src/Processors/QueryPlan/SortingStep.h
  tests/queries/0_stateless/03254_parallel_replicas_join_with_totals.reference
  tests/queries/0_stateless/03254_parallel_replicas_join_with_totals.sh
  tests/queries/0_stateless/03255_parallel_replicas_join_algo_and_analyzer_4.reference
  tests/queries/0_stateless/03255_parallel_replicas_join_algo_and_analyzer_4.sh
Labels: pr-not-for-changelog

#71476 Fix constants in WHERE expression which could apparently contain Join.
  src/Interpreters/ExpressionAnalyzer.cpp
  tests/queries/0_stateless/03258_old_analyzer_const_expr_bug.reference
  tests/queries/0_stateless/03258_old_analyzer_const_expr_bug.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#71348 fs cache: add assertions
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Interpreters/Cache/EvictionCandidates.cpp
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/FileSegment.h
  src/Interpreters/Cache/Metadata.cpp
Labels: pr-not-for-changelog

#71525 Minor: Remove "experimental" mention of analyzer
  src/Core/Settings.cpp
Labels: pr-not-for-changelog

#71503 [Docs] Update note about Prometheus integration and ClickHouse Cloud
  docs/en/interfaces/prometheus.md
Labels: pr-documentation

#71509 Fix documentation for system.grants.is_partial_revoke
  docs/en/operations/system-tables/grants.md
  src/Storages/System/StorageSystemGrants.cpp
Labels: pr-documentation, can be tested

#71535 Add test to check that accessing system.functions does not populate query_log used_functions
  tests/queries/0_stateless/03262_system_functions_should_not_fill_query_log_functions.reference
  tests/queries/0_stateless/03262_system_functions_should_not_fill_query_log_functions.sql
Labels: pr-not-for-changelog

#71523 Allow specifying cmdline flags in integration test
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog

#71504 Fix flaky test_drop_complex_columns
  tests/integration/test_replicated_s3_zero_copy_drop_partition/test.py
Labels: pr-not-for-changelog, can be tested

#71494 Prevent crash in SortCursor with 0 columns
  src/Core/SortCursor.h
  src/Processors/Merges/Algorithms/IMergingAlgorithmWithDelayedChunk.cpp
  src/Processors/Merges/Algorithms/IMergingAlgorithmWithSharedChunks.cpp
  src/Processors/Merges/Algorithms/MergingSortedAlgorithm.cpp
  src/Processors/Transforms/MergeJoinTransform.cpp
  src/Processors/Transforms/SortingTransform.cpp
  tests/queries/0_stateless/03261_sort_cursor_crash.reference
  tests/queries/0_stateless/03261_sort_cursor_crash.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#71478 [Docs] Add cloud not supported badge for EmbeddedRocksDB engine
  docs/en/engines/table-engines/integrations/embedded-rocksdb.md
Labels: pr-documentation

#71320 Implement simple CAST from Map/Tuple/Object to new JSON through serialization/deserialization from JSON string
  docs/en/sql-reference/data-types/newjson.md
  src/DataTypes/DataTypeObject.cpp
  src/DataTypes/DataTypeObject.h
  src/DataTypes/Serializations/SerializationObject.cpp
  src/DataTypes/Serializations/SerializationObject.h
  src/DataTypes/Serializations/SerializationObjectDynamicPath.cpp
  src/DataTypes/Serializations/SerializationSubObject.cpp
  src/Functions/FunctionsConversion.cpp
  tests/queries/0_stateless/03261_tuple_map_object_to_json_cast.reference
  tests/queries/0_stateless/03261_tuple_map_object_to_json_cast.sql
Labels: pr-feature

#71530 We use `aarch64` everywhere in code, so the vars should reflect it
  tests/ci/ci_config.py
  tests/ci/ci_definitions.py
  tests/ci/compatibility_check.py
  tests/ci/test_ci_config.py
  tests/ci/test_ci_options.py
Labels: pr-ci

#71541 Avoid crash when using a UDF in a constraint
  src/Functions/UserDefined/UserDefinedSQLFunctionVisitor.cpp
  src/Parsers/ASTColumnDeclaration.cpp
  src/Parsers/ASTColumnDeclaration.h
  tests/queries/0_stateless/03262_udf_in_constraint.reference
  tests/queries/0_stateless/03262_udf_in_constraint.sh
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#71151 WITH FILL STALENESS extension
  docs/en/sql-reference/statements/select/order-by.md
  src/Analyzer/QueryTreeBuilder.cpp
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Analyzer/Resolve/QueryAnalyzer.h
  src/Analyzer/SortNode.cpp
  src/Analyzer/SortNode.h
  src/Common/FieldVisitorScale.cpp
  src/Common/FieldVisitorScale.h
  src/Core/SortDescription.h
  src/Interpreters/FillingRow.cpp
  src/Interpreters/FillingRow.h
  src/Parsers/ASTOrderByElement.cpp
  src/Parsers/ASTOrderByElement.h
  src/Parsers/CommonParsers.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Planner/PlannerActionsVisitor.cpp
  src/Planner/PlannerSorting.cpp
  src/Processors/Transforms/FillingTransform.cpp
  src/Processors/Transforms/FillingTransform.h
  tests/fuzz/dictionaries/keywords.dict
  tests/queries/0_stateless/03266_with_fill_staleness.reference
  tests/queries/0_stateless/03266_with_fill_staleness.sql
  tests/queries/0_stateless/03266_with_fill_staleness_cases.reference
  tests/queries/0_stateless/03266_with_fill_staleness_cases.sql
  tests/queries/0_stateless/03266_with_fill_staleness_errors.reference
  tests/queries/0_stateless/03266_with_fill_staleness_errors.sql
Labels: pr-feature

#71169 Close #8687
  tests/queries/0_stateless/03258_multiple_array_joins.reference
  tests/queries/0_stateless/03258_multiple_array_joins.sql
Labels: pr-not-for-changelog

#71505 Upgrade clickhouse-server and keeper base images
  docker/keeper/Dockerfile
  docker/server/Dockerfile.ubuntu
  docker/server/README.md
  docker/test/stateless/clickhouse-statelest-test-runner.Dockerfile
  docs/en/operations/_troubleshooting.md
Labels: pr-build

#71396 Fix: ERROR: column "attgenerated" does not exist for old PostgreSQL
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.cpp
Labels: pr-bugfix, can be tested

#71513 Fix copy/paste error
  src/Storages/AlterCommands.cpp
Labels: pr-not-for-changelog

#71369 Check suspicious and experimental types in JSON type hints
  src/DataTypes/DataTypeObject.cpp
  src/DataTypes/DataTypeObject.h
  tests/queries/0_stateless/03214_json_typed_dynamic_path.sql
  tests/queries/0_stateless/03261_json_hints_types_check.reference
  tests/queries/0_stateless/03261_json_hints_types_check.sql
Labels: pr-bugfix

#69731 Don't allow Variant/Dynamic types in ORDER BY/GROUP BY/PARTITION BY/PRIMARY KEY by default
  docs/en/sql-reference/data-types/dynamic.md
  docs/en/sql-reference/data-types/variant.md
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Analyzer/Resolve/QueryAnalyzer.h
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Databases/enableAllExperimentalSettings.cpp
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Storages/KeyDescription.cpp
  tests/queries/0_stateless/01825_new_type_json_10.sql
  tests/queries/0_stateless/01825_new_type_json_11.sh
  tests/queries/0_stateless/01825_new_type_json_12.sh
  tests/queries/0_stateless/01825_new_type_json_13.sh
  tests/queries/0_stateless/01825_new_type_json_6.sh
  tests/queries/0_stateless/01825_new_type_json_7.sh
  tests/queries/0_stateless/01825_new_type_json_ghdata.sh
  tests/queries/0_stateless/01825_new_type_json_in_array.sql
  tests/queries/0_stateless/01825_new_type_json_insert_select.sql
  tests/queries/0_stateless/02421_new_type_json_async_insert.sh
  tests/queries/0_stateless/02989_variant_comparison.sql
  tests/queries/0_stateless/03035_dynamic_sorting.sql
  tests/queries/0_stateless/03036_dynamic_read_shared_subcolumns_small.sql.j2
  tests/queries/0_stateless/03036_dynamic_read_subcolumns_small.sql.j2
  tests/queries/0_stateless/03096_variant_in_primary_key.reference
  tests/queries/0_stateless/03096_variant_in_primary_key.sql
  tests/queries/0_stateless/03150_dynamic_type_mv_insert.sql
  tests/queries/0_stateless/03151_dynamic_type_scale_max_types.sql
  tests/queries/0_stateless/03158_dynamic_type_from_variant.sql
  tests/queries/0_stateless/03159_dynamic_type_all_types.sql
  tests/queries/0_stateless/03162_dynamic_type_nested.sql
  tests/queries/0_stateless/03163_dynamic_as_supertype.sql
  tests/queries/0_stateless/03228_dynamic_serializations_uninitialized_value.sql
  tests/queries/0_stateless/03231_dynamic_incomplete_type_insert_bug.sql
  tests/queries/0_stateless/03231_dynamic_not_safe_primary_key.reference
  tests/queries/0_stateless/03231_dynamic_not_safe_primary_key.sql
  tests/queries/0_stateless/03231_dynamic_uniq_group_by.sql
  tests/queries/0_stateless/03231_dynamic_variant_in_order_by_group_by.reference
  tests/queries/0_stateless/03231_dynamic_variant_in_order_by_group_by.sql
Labels: pr-improvement

#71425 [Experiment] Analyzer: Check what happens after if-condition removal
  src/Analyzer/Resolve/QueryAnalyzer.cpp
Labels: pr-not-for-changelog, analyzer

#71039 Enable enable_job_stack_trace by default
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#65279 Fix use-after-dtor logic in HashTable destroyElements
  src/Common/HashTable/HashTable.h
Labels: pr-improvement, can be tested

#71538 Analyzer materialized view IN with CTE fix
  src/Analyzer/QueryNode.h
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Analyzer/UnionNode.cpp
  src/Analyzer/UnionNode.h
  tests/queries/0_stateless/03262_analyzer_materialized_view_in_with_cte.reference
  tests/queries/0_stateless/03262_analyzer_materialized_view_in_with_cte.sql
  tests/queries/0_stateless/03263_analyzer_materialized_view_cte_nested.reference
  tests/queries/0_stateless/03263_analyzer_materialized_view_cte_nested.sql
Labels: pr-bugfix, can be tested

#71388 Fix error Invalid number of rows in Chunk with Variant column
  src/Columns/ColumnVariant.cpp
  tests/queries/0_stateless/03261_variant_permutation_bug.reference
  tests/queries/0_stateless/03261_variant_permutation_bug.sql
Labels: pr-bugfix, pr-must-backport

#70442 Support alter from String to JSON
  docs/en/sql-reference/data-types/newjson.md
  src/Columns/ColumnArray.h
  src/Columns/ColumnDynamic.cpp
  src/Columns/ColumnDynamic.h
  src/Columns/ColumnMap.cpp
  src/Columns/ColumnMap.h
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnObject.h
  src/Columns/ColumnTuple.cpp
  src/Columns/ColumnTuple.h
  src/Columns/ColumnVariant.cpp
  src/Columns/ColumnVariant.h
  src/Columns/IColumn.h
  src/DataTypes/Serializations/SerializationDynamic.cpp
  src/DataTypes/Serializations/SerializationDynamic.h
  src/DataTypes/Serializations/SerializationObject.cpp
  src/DataTypes/Serializations/SerializationObject.h
  src/Storages/AlterCommands.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.h
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.h
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.h
  tests/queries/0_stateless/03225_alter_to_json_not_supported.reference
  tests/queries/0_stateless/03225_alter_to_json_not_supported.sql
  tests/queries/0_stateless/03246_alter_from_string_to_json.reference
  tests/queries/0_stateless/03246_alter_from_string_to_json.sql.j2
  tests/queries/0_stateless/03247_ghdata_string_to_json_alter.reference
  tests/queries/0_stateless/03247_ghdata_string_to_json_alter.sh
Labels: pr-feature

#71582 Clarify query cache docs
  docs/en/operations/query-cache.md
  src/Core/Settings.cpp
  tests/queries/0_stateless/02494_query_cache_normalize_ast.sql
Labels: pr-documentation

#71619 Revert "Enable enable_job_stack_trace by default"
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#71596 Fix for `00180_no_seek_avoiding_when_reading_from_cache`
  src/Interpreters/Cache/FileCache.cpp
  tests/config/config.d/storage_conf.xml
Labels: pr-not-for-changelog

#71556 Fix compatibility with refreshable materialized views created by old clickhouse servers
  src/Storages/StorageMaterializedView.cpp
Labels: pr-not-for-changelog, v24.10-must-backport

#71468 CI UX: slightly improve cache await interface
  tests/ci/ci_cache.py
Labels: pr-ci

#71597 Fix for `test_storage_s3_queue::test_shards_distributed[ordered-2]`
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-not-for-changelog

#71102 Better log messages
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
Labels: pr-not-for-changelog

#71595 Shrink to fit index granularity array in memory to reduce memory footprint
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeIndexGranularity.cpp
  src/Storages/MergeTree/MergeTreeIndexGranularity.h
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
  src/Storages/MergeTree/MutateTask.cpp
Labels: pr-improvement, pr-must-backport-cloud

#71580 Return 0 or default char instead of throwing an error in bitShift functions in case of out of bounds
  src/Functions/bitShiftLeft.cpp
  src/Functions/bitShiftRight.cpp
  tests/queries/0_stateless/02766_bitshift_with_const_arguments.sql
  tests/queries/0_stateless/03198_bit_shift_throws_error_for_out_of_bounds.reference
  tests/queries/0_stateless/03198_bit_shift_throws_error_for_out_of_bounds.sql
Labels: pr-bugfix, pr-must-backport

#71638 Fix broken 03247_ghdata_string_to_json_alter
  tests/queries/0_stateless/03247_ghdata_string_to_json_alter.sh
Labels: pr-not-for-changelog

#71637 Add `min_parts_to_merge_at_once` setting
  src/Storages/MergeTree/MergeSelectors/SimpleMergeSelector.cpp
  src/Storages/MergeTree/MergeSelectors/SimpleMergeSelector.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
  tests/queries/0_stateless/03267_min_parts_to_merge_at_once.reference
  tests/queries/0_stateless/03267_min_parts_to_merge_at_once.sh
Labels: pr-not-for-changelog, pr-must-backport-cloud

#71593 Keep materialized view security overriden context until end of query
  src/Processors/Sinks/SinkToStorage.h
  src/Storages/StorageMaterializedView.cpp
  tests/queries/0_stateless/03267_materialized_view_keeps_security_context.reference
  tests/queries/0_stateless/03267_materialized_view_keeps_security_context.sql
Labels: pr-bugfix, can be tested

#71584 Avoid port clash in CoordinationTest/0.TestSummingRaft1
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#71657 Update README.md - Update meetups
  README.md
Labels: pr-not-for-changelog

#71655 CI: fix mysql containers using improper log directory
  tests/integration/compose/docker_compose_mysql.yml
  tests/integration/compose/docker_compose_mysql_8_0.yml
Labels: pr-ci

#71625 Enable enable_job_stack_trace by default, second attempt
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#71634 Fix flaky `01287_max_execution_speed`
  tests/queries/0_stateless/01287_max_execution_speed.sql
Labels: pr-not-for-changelog

#71046 Fix two logical errors when reading from stdin in clickhouse local
  src/Client/ClientBase.cpp
  src/Client/IServerConnection.h
  src/Client/LocalConnection.cpp
  src/Client/LocalConnection.h
  src/Interpreters/InterpreterInsertQuery.cpp
  tests/queries/0_stateless/03031_clickhouse_local_input.reference
  tests/queries/0_stateless/03031_clickhouse_local_input.sh
Labels: pr-not-for-changelog

#71622 Highlight multi-statements in interactive mode
  src/Client/ClientBaseHelpers.cpp
Labels: pr-improvement

#70860 Parallel compression option
  programs/compressor/Compressor.cpp
  src/Common/CurrentMetrics.cpp
  src/Common/ThreadPool.h
  src/Compression/CompressedWriteBuffer.cpp
  src/Compression/ICompressionCodec.cpp
  src/Compression/ParallelCompressedWriteBuffer.cpp
  src/Compression/ParallelCompressedWriteBuffer.h
  src/Dictionaries/HashedDictionary.h
  src/Processors/Transforms/AggregatingTransform.h
Labels: pr-improvement

#71088 Retry more errors from S3
  src/IO/S3/Client.cpp
Labels: pr-improvement

#71623 Correct and unify exit codes of CLI apps
  programs/client/Client.cpp
  programs/disks/DisksApp.cpp
  programs/keeper-client/KeeperClient.cpp
  programs/keeper/Keeper.cpp
  programs/library-bridge/LibraryBridge.cpp
  programs/local/LocalServer.cpp
  programs/obfuscator/Obfuscator.cpp
  programs/odbc-bridge/ODBCBridge.cpp
  programs/server/Server.cpp
Labels: pr-improvement

#71678 Fix #71677
  src/Functions/nested.cpp
  tests/queries/0_stateless/03268_nested_analyzer.reference
  tests/queries/0_stateless/03268_nested_analyzer.sql
Labels: pr-bugfix

#71687 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: pr-not-for-changelog

#71658 Add index granularity size column to system.parts
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeIndexGranularity.cpp
  src/Storages/MergeTree/MergeTreeIndexGranularity.h
  src/Storages/System/StorageSystemParts.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/03268_system_parts_index_granularity.reference
  tests/queries/0_stateless/03268_system_parts_index_granularity.sql
Labels: pr-not-for-changelog, pr-must-backport-cloud

#71620 Implicit SELECT in clickhouse-local
  programs/local/LocalServer.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBaseHelpers.cpp
  src/Client/ClientBaseHelpers.h
  src/Core/Settings.cpp
  tests/docker_scripts/upgrade_runner.sh
  tests/queries/0_stateless/02050_clickhouse_local_parsing_exception.sh
  tests/queries/0_stateless/02751_multiquery_with_argument.sh
  tests/queries/0_stateless/02771_multiple_query_arguments.sh
  tests/queries/0_stateless/02800_clickhouse_local_default_settings.reference
  tests/queries/0_stateless/03267_implicit_select.reference
  tests/queries/0_stateless/03267_implicit_select.sh
Labels: pr-improvement

#71630 Make `Vertical` format prettier
  src/Formats/PrettyFormatHelpers.cpp
  src/Formats/PrettyFormatHelpers.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.h
  src/Processors/Formats/Impl/PrettyCompactBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettySpaceBlockOutputFormat.cpp
  src/Processors/Formats/Impl/VerticalRowOutputFormat.cpp
  src/Processors/Formats/Impl/VerticalRowOutputFormat.h
  tests/queries/0_stateless/01942_dateTimeToSnowflakeID.sql
  tests/queries/0_stateless/01942_snowflakeIDToDateTime.sql
  tests/queries/0_stateless/01958_partial_hour_timezone.sql
  tests/queries/0_stateless/02125_query_views_log.sql
  tests/queries/0_stateless/02184_hash_functions_and_ip_types.sql
  tests/queries/0_stateless/02751_ip_types_aggregate_functions_states.sql.j2
  tests/queries/0_stateless/03268_vertical_pretty_numbers.reference
  tests/queries/0_stateless/03268_vertical_pretty_numbers.sql
Labels: pr-improvement

#71336 Exempt refreshable materialized views from ignore_empty_sql_security_in_create_view_query
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/queries/0_stateless/02932_refreshable_materialized_views_1.reference
  tests/queries/0_stateless/02932_refreshable_materialized_views_2.reference
Labels: pr-not-for-changelog

#71709 Docs: Add row and byte sizes of TPC-H tables
  docs/en/getting-started/example-datasets/tpch.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation

#71716 Docs: Steps to populate TPC-H tables from S3
  docs/en/getting-started/example-datasets/tpch.md
Labels: pr-documentation

#71718 Fix typo
  docs/en/sql-reference/functions/index.md
Labels: pr-documentation, can be tested

#71719 Fix trash in the docs
  docs/en/sql-reference/aggregate-functions/reference/index.md
Labels: pr-documentation

#71654 Update test
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-not-for-changelog

#71730 Fix trash in the docs, pt. II
  docs/en/getting-started/example-datasets/tpch.md
  docs/en/sql-reference/aggregate-functions/reference/index.md
  docs/en/sql-reference/data-types/aggregatefunction.md
  docs/en/sql-reference/data-types/index.md
  docs/en/sql-reference/data-types/json.md
  docs/en/sql-reference/data-types/simpleaggregatefunction.md
  docs/en/sql-reference/functions/geo/index.md
  docs/en/sql-reference/statements/create/index.md
  docs/en/sql-reference/statements/index.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation

#71695 fix: transform set while partition pruning only if allowed
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/KeyCondition.h
  tests/queries/0_stateless/03269_partition_key_not_in_set.reference
  tests/queries/0_stateless/03269_partition_key_not_in_set.sql
Labels: pr-bugfix, pr-must-backport, can be tested, pr-must-backport-cloud, v24.7-must-backport

#71589 Allow using clickhouse with a file argument as --queries-file
  programs/main.cpp
  src/Client/ClientBaseOptimizedParts.cpp
  tests/queries/0_stateless/03267_positional_arguments_implicit_query_file.reference
  tests/queries/0_stateless/03267_positional_arguments_implicit_query_file.sh
Labels: pr-improvement

#68024 Revert "Revert "Use `Atomic` database by default in `clickhouse-local`""
  programs/local/LocalServer.cpp
  src/Databases/DatabaseAtomic.cpp
  src/Databases/DatabaseAtomic.h
  src/Databases/DatabaseLazy.cpp
  src/Databases/DatabaseOnDisk.cpp
  src/Databases/DatabaseOnDisk.h
  src/Databases/IDatabase.h
  src/Databases/MySQL/DatabaseMaterializedMySQL.cpp
  tests/queries/0_stateless/03199_atomic_clickhouse_local.reference
  tests/queries/0_stateless/03199_atomic_clickhouse_local.sh
Labels: pr-not-for-changelog

#62125 Read-in-order Optimization With Virtual Row
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Processors/Merges/Algorithms/IMergingAlgorithmWithDelayedChunk.cpp
  src/Processors/Merges/Algorithms/IMergingAlgorithmWithSharedChunks.cpp
  src/Processors/Merges/Algorithms/MergeTreePartLevelInfo.h
  src/Processors/Merges/Algorithms/MergeTreeReadInfo.h
  src/Processors/Merges/Algorithms/MergingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/MergingSortedAlgorithm.h
  src/Processors/Merges/IMergingTransform.cpp
  src/Processors/Merges/MergingSortedTransform.cpp
  src/Processors/Merges/MergingSortedTransform.h
  src/Processors/QueryPlan/BufferChunksTransform.cpp
  src/Processors/QueryPlan/BufferChunksTransform.h
  src/Processors/QueryPlan/Optimizations/actionsDAGUtils.cpp
  src/Processors/QueryPlan/Optimizations/actionsDAGUtils.h
  src/Processors/QueryPlan/Optimizations/applyOrder.cpp
  src/Processors/QueryPlan/Optimizations/optimizeReadInOrder.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Processors/QueryPlan/SortingStep.cpp
  src/Processors/QueryPlan/SortingStep.h
  src/Processors/Transforms/MergeSortingTransform.cpp
  src/Processors/Transforms/VirtualRowTransform.cpp
  src/Processors/Transforms/VirtualRowTransform.h
  src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  src/Storages/StorageMerge.cpp
  tests/queries/0_stateless/01786_explain_merge_tree.reference
  tests/queries/0_stateless/01786_explain_merge_tree.sh
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix.reference
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix.sql
  tests/queries/0_stateless/03031_read_in_order_optimization_with_virtual_row.reference
  tests/queries/0_stateless/03031_read_in_order_optimization_with_virtual_row.sql
  tests/queries/0_stateless/03031_read_in_order_optimization_with_virtual_row_explain.reference
  tests/queries/0_stateless/03031_read_in_order_optimization_with_virtual_row_explain.sql
  tests/queries/0_stateless/03031_read_in_order_optimization_with_virtual_row_special.reference
  tests/queries/0_stateless/03031_read_in_order_optimization_with_virtual_row_special.sql
Labels: pr-improvement, can be tested

#71698 Let's name cherry-pick branches the same way as backports
  tests/ci/cherry_pick.py
  tests/ci/ci_buddy.py
Labels: pr-ci

#71385 remove `metadata_version` ZooKeeper node creation from RMT restarting thread
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
Labels: pr-improvement

#71779 Fix typo in sql-reference/statements/alter/column.md
  docs/en/sql-reference/statements/alter/column.md
Labels: pr-documentation, can be tested

#71742 Fix CAST from LowCardinality(Nullable) to Dynamic
  src/Functions/FunctionsConversion.cpp
  tests/queries/0_stateless/03261_low_cardinality_nullable_to_dynamic_cast.reference
  tests/queries/0_stateless/03261_low_cardinality_nullable_to_dynamic_cast.sql
Labels: pr-bugfix

#71795 Lint some stuff
  src/Analyzer/QueryTreePassManager.cpp
  src/Storages/IStorageCluster.h
  src/TableFunctions/ITableFunctionCluster.h
Labels: pr-not-for-changelog

#71782 Fix db and reports
  tests/ci/ci.py
  tests/ci/clickhouse_helper.py
  tests/ci/commit_status_helper.py
  tests/ci/docker_images_check.py
  tests/ci/docker_manifests_merge.py
  tests/ci/pr_info.py
  tests/ci/upload_result_helper.py
Labels: pr-must-backport, pr-ci

#71772 Fix flaky test test_prometheus_protocols
  tests/integration/helpers/cluster.py
  tests/integration/test_prometheus_protocols/test.py
Labels: pr-not-for-changelog

#71432 Fix crash with optimize_rewrite_array_exists_to_has
  src/Analyzer/JoinNode.cpp
  src/Interpreters/ExecuteScalarSubqueriesVisitor.cpp
  src/Interpreters/QueryNormalizer.cpp
  src/Interpreters/RewriteArrayExistsFunctionVisitor.cpp
  src/Storages/TimeSeries/PrometheusRemoteReadProtocol.cpp
  tests/docker_scripts/attach_gdb.lib
  tests/queries/0_stateless/03261_optimize_rewrite_array_exists_to_has_crash.reference
  tests/queries/0_stateless/03261_optimize_rewrite_array_exists_to_has_crash.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#71787 Fix processors profile is not collected for subqueries in some cases
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Interpreters/ExecuteScalarSubqueriesVisitor.cpp
  src/Interpreters/PreparedSets.cpp
  src/Interpreters/ProcessorsProfileLog.cpp
  src/Interpreters/ProcessorsProfileLog.h
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/03270_processors_profile_log_3.reference
  tests/queries/0_stateless/03270_processors_profile_log_3.sh
Labels: pr-not-for-changelog

#71469 Added tests for corner cases for 24.10
  docs/en/sql-reference/functions/date-time-functions.md
  tests/queries/0_stateless/02812_from_to_utc_timestamp.reference
  tests/queries/0_stateless/02812_from_to_utc_timestamp.sh
  tests/queries/0_stateless/03224_arrayUnion.reference
  tests/queries/0_stateless/03224_arrayUnion.sql
  tests/queries/0_stateless/03240_quantile_exact_weighted_interpolated.reference
  tests/queries/0_stateless/03240_quantile_exact_weighted_interpolated.sql
Labels: pr-ci

#65636 Fix "attaching_" prefix for deduplicated parts
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  tests/integration/test_deduplicated_attached_part_rename/__init__.py
  tests/integration/test_deduplicated_attached_part_rename/test.py
Labels: pr-bugfix, can be tested

#71818 Add missing fields in system.s3/azure_queue_settings
  src/Storages/ObjectStorageQueue/StorageObjectStorageQueue.cpp
Labels: pr-not-for-changelog, v24.10-must-backport

#57203 Docker library
  tests/ci/official_docker.py
  tests/ci/version_helper.py
Labels: do not test, pr-build

#71798 Allow reading previous vaules of async metrics during update
  src/Common/AsynchronousMetrics.cpp
  src/Common/AsynchronousMetrics.h
Labels: pr-improvement, pr-must-backport-cloud

#71825 Address the last point regarding chmod for /etc/clickhouse*
  docker/server/Dockerfile.ubuntu
Labels: pr-must-backport, pr-ci

#71820 relax memory limit for 00755_avg_value_size_hint_passing.sql
  tests/queries/0_stateless/00755_avg_value_size_hint_passing.sql
Labels: pr-not-for-changelog

#71847 Enable build profiling in pull requests
  tests/ci/ci.py
Labels: pr-not-for-changelog

#71473 Improve performance of system.query_metric_log
  base/base/defines.h
  src/Common/LockGuard.h
  src/Interpreters/QueryMetricLog.cpp
  src/Interpreters/QueryMetricLog.h
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/03203_system_query_metric_log.reference
  tests/queries/0_stateless/03203_system_query_metric_log.sh
Labels: pr-performance, v24.10-must-backport

#71539 Enable merge filters optimization.
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Processors/QueryPlan/BuildQueryPipelineSettings.cpp
  src/Processors/QueryPlan/BuildQueryPipelineSettings.h
  src/Processors/QueryPlan/FilterStep.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/MergeTreeBlockReadUtils.cpp
  src/Storages/MergeTree/MergeTreeIOSettings.h
  src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeSelectProcessor.h
  src/Storages/MergeTree/MergeTreeSplitPrewhereIntoReadSteps.cpp
  tests/queries/0_stateless/01655_plan_optimizations.reference
  tests/queries/0_stateless/01655_plan_optimizations.sh
  tests/queries/0_stateless/02496_remove_redundant_sorting.reference
  tests/queries/0_stateless/02554_fix_grouping_sets_predicate_push_down.reference
  tests/queries/0_stateless/03036_join_filter_push_down_equivalent_sets.reference
  tests/queries/0_stateless/03199_merge_filters_bug.sql
  tests/queries/0_stateless/03262_filter_push_down_view.reference
  tests/queries/0_stateless/03262_filter_push_down_view.sql
Labels: pr-improvement

#71578 Rename a setting
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/IO/ReadSettings.h
  src/Interpreters/Cache/QueryLimit.cpp
  src/Interpreters/Context.cpp
Labels: pr-backward-incompatible

#71829 tests for parseDateTime64InJodaSyntax
  tests/queries/0_stateless/03252_parse_datetime64_in_joda_syntax.reference
  tests/queries/0_stateless/03252_parse_datetime64_in_joda_syntax.sql
Labels: pr-ci

#71529 use removeObjectIfExists instead removeObject, it is retryable
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/DiskObjectStorageTransaction.cpp
  src/Disks/ObjectStorages/HDFS/HDFSObjectStorage.h
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/Local/LocalObjectStorage.cpp
  src/Disks/ObjectStorages/Local/LocalObjectStorage.h
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorageOperations.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
  src/Disks/ObjectStorages/Web/WebObjectStorage.cpp
  src/Disks/ObjectStorages/Web/WebObjectStorage.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.cpp
Labels: pr-improvement

#71679 Fix LOGICAL_ERROR when doing ALTER with empty tuple
  src/Functions/FunctionsComparison.h
  src/Functions/if.cpp
  tests/queries/0_stateless/03268_empty_tuple_update.reference
  tests/queries/0_stateless/03268_empty_tuple_update.sql
Labels: pr-must-backport, pr-must-backport-cloud

#71526 Fix counting column size in wide part for Dynamic and JSON types
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/IMergeTreeDataPartWriter.h
  src/Storages/MergeTree/MergeTreeDataPartCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartCompact.h
  src/Storages/MergeTree/MergeTreeDataPartWide.cpp
  src/Storages/MergeTree/MergeTreeDataPartWide.h
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.h
  src/Storages/MergeTree/MergeTreeReaderWide.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
  tests/queries/0_stateless/03262_column_sizes_with_dynamic_structure.reference
  tests/queries/0_stateless/03262_column_sizes_with_dynamic_structure.sql
Labels: pr-bugfix, pr-must-backport

#71502 Support the endpoint of oss accelerator
  src/IO/S3/URI.cpp
  src/IO/tests/gtest_s3_uri.cpp
Labels: pr-not-for-changelog, can be tested

#71872 Update README.md - Update meetups
  README.md
Labels: pr-not-for-changelog

#71715 Corrections after reworking backup/restore synchronization
  src/Backups/BackupConcurrencyCheck.cpp
  src/Backups/BackupConcurrencyCheck.h
  src/Backups/BackupCoordinationCleaner.cpp
  src/Backups/BackupCoordinationCleaner.h
  src/Backups/BackupCoordinationLocal.cpp
  src/Backups/BackupCoordinationLocal.h
  src/Backups/BackupCoordinationOnCluster.cpp
  src/Backups/BackupCoordinationOnCluster.h
  src/Backups/BackupCoordinationStageSync.cpp
  src/Backups/BackupCoordinationStageSync.h
  src/Backups/BackupsWorker.cpp
  src/Backups/BackupsWorker.h
  src/Backups/IBackupCoordination.h
  src/Backups/IRestoreCoordination.h
  src/Backups/RestoreCoordinationLocal.cpp
  src/Backups/RestoreCoordinationLocal.h
  src/Backups/RestoreCoordinationOnCluster.cpp
  src/Backups/RestoreCoordinationOnCluster.h
  tests/integration/test_backup_restore_on_cluster/test_cancel_backup.py
Labels: pr-not-for-changelog

#71300 Check that mutation queries are valid
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/MutationsInterpreter.cpp
  tests/integration/test_failed_mutations/test.py
  tests/queries/0_stateless/03173_forbid_qualify.sql
  tests/queries/0_stateless/03256_invalid_mutation_query.reference
  tests/queries/0_stateless/03256_invalid_mutation_query.sql
Labels: pr-backward-incompatible

#71869 add test 03248_max_parts_to_move
  tests/queries/0_stateless/03248_max_parts_to_move.reference
  tests/queries/0_stateless/03248_max_parts_to_move.sql
Labels: pr-not-for-changelog

#71854 Fix filling of defaults after parsing into sparse columns
  src/Processors/Transforms/AddingDefaultsTransform.cpp
  tests/queries/0_stateless/03271_parse_sparse_columns_defaults.reference
  tests/queries/0_stateless/03271_parse_sparse_columns_defaults.sh
Labels: pr-bugfix, v24.10-must-backport

#71179 Hard limits on number of replicated tables, dictionaries and views
  docs/en/operations/server-configuration-parameters/settings.md
  src/Common/CurrentMetrics.cpp
  src/Core/ServerSettings.cpp
  src/Databases/DatabasesCommon.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterCreateQuery.h
  src/Storages/Utils.cpp
  src/Storages/Utils.h
  tests/integration/test_table_db_num_limit/config/config.xml
  tests/integration/test_table_db_num_limit/config/config1.xml
  tests/integration/test_table_db_num_limit/config/config2.xml
  tests/integration/test_table_db_num_limit/test.py
Labels: pr-improvement, can be tested

#71790 Remove ridiculous code bloat
  src/AggregateFunctions/AggregateFunctionDeltaSumTimestamp.cpp
  src/AggregateFunctions/Helpers.h
Labels: pr-backward-incompatible

#71865 Added proper a healthcheck for RabbitMQ compose file
  tests/integration/compose/docker_compose_rabbitmq.yml
Labels: pr-not-for-changelog

#71817 Update defaults of s3/azure queue polling settings
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSettings.cpp
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-improvement

#71648 fs cache: add a separate setting for background download max size
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/FileCacheSettings.cpp
  src/Interpreters/Cache/FileCacheSettings.h
  src/Interpreters/Cache/FileCacheUtils.h
  src/Interpreters/Cache/FileCache_fwd.h
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/FileSegment.h
  src/Interpreters/Cache/Metadata.cpp
  src/Interpreters/Cache/Metadata.h
Labels: pr-improvement

#71856 Add check and assertion
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/Metadata.cpp
Labels: pr-not-for-changelog

#71914 Revert "Remove ridiculous code bloat"
  src/AggregateFunctions/AggregateFunctionDeltaSumTimestamp.cpp
  src/AggregateFunctions/Helpers.h
Labels: pr-not-for-changelog

#71867 allow_reorder_prewhere_conditions is on by default in old services
  src/Core/SettingsChangesHistory.cpp
Labels: pr-improvement, v24.10-must-backport

#71890 Disable query_plan_merge_filters by default
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  tests/queries/0_stateless/01655_plan_optimizations.reference
  tests/queries/0_stateless/02496_remove_redundant_sorting.reference
  tests/queries/0_stateless/02554_fix_grouping_sets_predicate_push_down.reference
  tests/queries/0_stateless/03262_filter_push_down_view.reference
  tests/queries/0_stateless/03271_sqllancer_having_issue.reference
  tests/queries/0_stateless/03271_sqllancer_having_issue.sql
Labels: pr-not-for-changelog

#71863 update host resolver a little bit often
  src/Common/HostResolvePool.cpp
  src/Common/HostResolvePool.h
Labels: pr-improvement

#71886 Fix: select statements that use 'with ties' might not return enough rows
  src/Processors/LimitTransform.cpp
  tests/queries/0_stateless/00996_limit_with_ties.reference
  tests/queries/0_stateless/00996_limit_with_ties.sql
Labels: pr-bugfix, can be tested

#71900 Remove useless code
  src/Client/ClientBaseHelpers.cpp
  src/Common/FailPoint.cpp
  src/Common/FailPoint.h
  src/Compression/CompressionCodecNone.h
  src/Compression/tests/gtest_compressionCodec.cpp
  src/Formats/EscapingRuleUtils.cpp
  src/Parsers/ParserPartition.cpp
  src/Parsers/StringRange.h
Labels: pr-not-for-changelog

#71931 Fix flaky test 03262_column_sizes_with_dynamic_structure
  tests/queries/0_stateless/03262_column_sizes_with_dynamic_structure.reference
  tests/queries/0_stateless/03262_column_sizes_with_dynamic_structure.sql
Labels: pr-not-for-changelog

#71898 Fix `clickhouse-benchmark` metrics report
  programs/benchmark/Benchmark.cpp
  tests/queries/0_stateless/03271_benchmark_metrics.reference
  tests/queries/0_stateless/03271_benchmark_metrics.sh
Labels: pr-bugfix

#71901 Fix data race between progress indicator and progress table in clickhouse-client
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  src/Client/ProgressTable.cpp
  src/Client/ProgressTable.h
  src/Common/ProgressIndication.cpp
  src/Common/ProgressIndication.h
Labels: pr-bugfix, can be tested, v24.10-must-backport

#71929 Fix build with Clang-19 after #71179
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/Utils.cpp
Labels: pr-not-for-changelog
