Repository ClickHouse/ClickHouse, pull requests merged in 2024-08, with the labels that each got.

#67110 Added some tests in relation with #54881
  tests/queries/0_stateless/00307_format_xml.reference
  tests/queries/0_stateless/00307_format_xml.sql
  tests/queries/0_stateless/00309_formats.reference
  tests/queries/0_stateless/00309_formats.sql
Labels: pr-not-for-changelog, can be tested, v24.7-affected

#67491 Protect temporary part directories from removing during RESTORE
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/02864_restore_table_with_broken_part.sh
  tests/queries/0_stateless/03001_restore_from_old_backup_with_matview_inner_table_metadata.sh
  tests/queries/0_stateless/03214_backup_and_clear_old_temporary_directories.reference
  tests/queries/0_stateless/03214_backup_and_clear_old_temporary_directories.sh
  tests/queries/0_stateless/backups/mt_250_parts.zip
  tests/queries/0_stateless/helpers/install_predefined_backup.sh
Labels: pr-bugfix, pr-must-backport-cloud, 🍃 green ci 🌿

#67590 Fix test_zookeeper_config_load_balancing after adding the xdist worker name to the instance
  tests/integration/test_zookeeper_config_load_balancing/test.py
Labels: pr-ci, v24.7-must-backport, 🍃 green ci 🌿

#67494 Fix test test_backup_restore_on_cluster/test.py::test_mutation
  tests/integration/test_backup_restore_on_cluster/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67607 Update CHANGELOG.md
  CHANGELOG.md
Labels: pr-not-for-changelog

#66519 Feature disable insertion and mutation
  docs/en/operations/settings/settings.md
  src/Core/ServerSettings.h
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Interpreters/InterpreterDeleteQuery.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  tests/integration/test_disable_insertion_and_mutation/__init__.py
  tests/integration/test_disable_insertion_and_mutation/config/cluster.xml
  tests/integration/test_disable_insertion_and_mutation/config/reading_node.xml
  tests/integration/test_disable_insertion_and_mutation/config/writing_node.xml
  tests/integration/test_disable_insertion_and_mutation/test.py
Labels: pr-feature

#67581 Update settings.md
  docs/en/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#67595 Update minio in integration tests
  tests/integration/compose/docker_compose_minio.yml
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67448 Add Keeper retries in `KeeperMap`
  src/Storages/StorageKeeperMap.cpp
  src/Storages/StorageKeeperMap.h
  tests/integration/test_keeper_map/configs/keeper_retries.xml
  tests/integration/test_keeper_map/test.py
  tests/integration/test_keeper_map_retries/__init__.py
  tests/integration/test_keeper_map_retries/configs/enable_keeper_map.xml
  tests/integration/test_keeper_map_retries/configs/fault_injection.xml
  tests/integration/test_keeper_map_retries/configs/keeper_retries.xml
  tests/integration/test_keeper_map_retries/test.py
  tests/queries/0_stateless/02911_backup_restore_keeper_map.sh
Labels: pr-improvement, 🍃 green ci 🌿

#66843 Fix deadlock in Context::getDDLWorker()
  src/Interpreters/Context.cpp
Labels: pr-bugfix, pr-must-backport

#67492 Disable parallel run for `01923_network_receive_time_metric_insert.sh`
  tests/queries/0_stateless/01923_network_receive_time_metric_insert.sh
Labels: can be tested, pr-ci, 🍃 green ci 🌿

#67506 [Green CI] Fix potentially flaky test_mask_sensitive_info integration test
  tests/integration/helpers/cluster.py
  tests/integration/test_mask_sensitive_info/test.py
Labels: pr-ci, v24.7-must-backport, 🍃 green ci 🌿

#67537 Log message and increased concurrency for table removal
  src/Interpreters/DatabaseCatalog.cpp
  tests/config/config.d/database_catalog_drop_table_concurrency.xml
  tests/config/install.sh
Labels: pr-not-for-changelog

#67660 Fix doc for parallel test execution
  tests/integration/README.md
Labels: pr-documentation

#67524 Fix upgrade check (again)
  src/Core/SettingsChangesHistory.cpp
  tests/queries/0_stateless/02995_baseline_24_7_2.tsv
  tests/queries/0_stateless/02995_new_settings_history.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67620 Try fix 03143_asof_join_ddb_long
  tests/queries/0_stateless/03143_asof_join_ddb_long.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67610 Remove some `no-parallel` tags from tests
  tests/queries/0_stateless/01062_window_view_event_hop_watch_asc.py
  tests/queries/0_stateless/01107_atomic_db_detach_attach.sh
  tests/queries/0_stateless/01493_alter_remove_properties_zookeeper.sql
  tests/queries/0_stateless/01676_range_hashed_dictionary.sql
  tests/queries/0_stateless/02477_analyzer_function_hints.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#65751 Store `plain_rewritable` disk metadata in the separate `'__meta'` layout; add flat object storage directory structure
  src/Common/ObjectStorageKeyGenerator.cpp
  src/Common/ObjectStorageKeyGenerator.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/CommonPathPrefixKeyGenerator.cpp
  src/Disks/ObjectStorages/CommonPathPrefixKeyGenerator.h
  src/Disks/ObjectStorages/DiskObjectStorageTransaction.cpp
  src/Disks/ObjectStorages/FlatDirectoryStructureKeyGenerator.cpp
  src/Disks/ObjectStorages/FlatDirectoryStructureKeyGenerator.h
  src/Disks/ObjectStorages/HDFS/HDFSObjectStorage.cpp
  src/Disks/ObjectStorages/HDFS/HDFSObjectStorage.h
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/InMemoryPathMap.h
  src/Disks/ObjectStorages/Local/LocalObjectStorage.cpp
  src/Disks/ObjectStorages/Local/LocalObjectStorage.h
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.h
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorageOperations.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorageOperations.h
  src/Disks/ObjectStorages/MetadataStorageFromPlainRewritableObjectStorage.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainRewritableObjectStorage.h
  src/Disks/ObjectStorages/PlainObjectStorage.h
  src/Disks/ObjectStorages/PlainRewritableObjectStorage.h
  src/Disks/ObjectStorages/S3/DiskS3Utils.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
  src/Disks/ObjectStorages/Web/WebObjectStorage.h
  tests/integration/test_s3_plain_rewritable/test.py
Labels: pr-performance, can be tested

#67449 [Docs] Building integration tests runner docker image for a local testing
  tests/integration/README.md
Labels: pr-documentation

#67454 24.7 add missing documentation and testing
  docs/en/sql-reference/aggregate-functions/reference/groupconcat.md
  tests/fuzz/dictionaries/functions.dict
  tests/integration/test_accept_invalid_certificate/configs/ssl_config_strict.xml
  tests/integration/test_accept_invalid_certificate/test.py
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-not-for-changelog

#66703 Add replication lag and recovery time metrics
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicated.h
  src/Databases/DatabaseReplicatedWorker.cpp
  src/Databases/DatabaseReplicatedWorker.h
  src/Storages/System/StorageSystemClusters.cpp
  src/Storages/System/StorageSystemClusters.h
  tests/integration/test_recovery_time_metric/__init__.py
  tests/integration/test_recovery_time_metric/configs/config.xml
  tests/integration/test_recovery_time_metric/test.py
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/03206_replication_lag_metric.reference
  tests/queries/0_stateless/03206_replication_lag_metric.sql
Labels: pr-improvement

#67396 Mute degraded perf test
  tests/performance/scripts/entrypoint.sh
  tests/performance/views_max_insert_threads.xml
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67605 Fix 01605_adaptive_granularity_block_borders
  tests/queries/0_stateless/01605_adaptive_granularity_block_borders.sql
Labels: pr-not-for-changelog, v24.7-must-backport, 🍃 green ci 🌿

#65320 Fix some perf tests
  tests/performance/array_reduce.xml
  tests/performance/final_big_column.xml
  tests/performance/read_from_comp_parts.xml
  tests/performance/scripts/perf.py
Labels: pr-not-for-changelog

#67347 Fix positionCaseInsensitive example
  docs/en/sql-reference/functions/string-search-functions.md
Labels: pr-documentation, can be tested

#67523 CI: Prepare Create Release workflow for production
  .github/actions/check_workflow/action.yml
  .github/actions/release/action.yml
  .github/workflows/auto_release.yml
  .github/workflows/create_release.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/tags_stable.yml
  pyproject.toml
  tests/ci/artifactory.py
  tests/ci/auto_release.py
  tests/ci/changelog.py
  tests/ci/ci.py
  tests/ci/ci_buddy.py
  tests/ci/ci_cache.py
  tests/ci/ci_config.py
  tests/ci/ci_definitions.py
  tests/ci/ci_metadata.py
  tests/ci/ci_utils.py
  tests/ci/create_release.py
  tests/ci/docker_images_helper.py
  tests/ci/docker_server.py
  tests/ci/release.py
  tests/ci/test_docker.py
Labels: pr-not-for-changelog

#67650 `02481_async_insert_race_long.sh` flakiness fixes
  tests/queries/0_stateless/02481_async_insert_race_long.sh
Labels: can be tested, pr-ci, 🍃 green ci 🌿

#67558 Fix toStartOfWeek wrong result with DateTime64
  src/Functions/DateTimeTransforms.h
  tests/queries/0_stateless/02403_enable_extended_results_for_datetime_functions.reference
  tests/queries/0_stateless/03215_toStartOfWeek_with_dateTime64_fix.reference
  tests/queries/0_stateless/03215_toStartOfWeek_with_dateTime64_fix.sql
Labels: pr-bugfix

#67694 doc fix max_partitions_to_read description
  docs/en/operations/settings/merge-tree-settings.md
  docs/en/operations/settings/query-complexity.md
Labels: pr-documentation

#67671 Fix 03203_client_benchmark_options
  tests/queries/0_stateless/03203_client_benchmark_options.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67672 Integration tests: fix ports clashing problem
  tests/integration/conftest.py
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67603 Fix 02910_bad_logs_level_in_local in fast tests
  tests/queries/0_stateless/02910_bad_logs_level_in_local.sh
Labels: pr-not-for-changelog, v24.7-must-backport, 🍃 green ci 🌿

#67597 Update check_rabbitmq_is_available
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67362 Trying to fix test_cache_evicted_by_temporary_data and print debug info
  tests/integration/test_temporary_data_in_cache/configs/config.d/storage_configuration.xml
  tests/integration/test_temporary_data_in_cache/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67665 Fix reloading SQL UDFs with UNION
  src/Databases/DatabaseOrdinary.cpp
  src/Functions/UserDefined/UserDefinedSQLFunctionFactory.cpp
  src/Functions/UserDefined/UserDefinedSQLObjectsDiskStorage.cpp
  src/Functions/UserDefined/UserDefinedSQLObjectsDiskStorage.h
  src/Functions/UserDefined/UserDefinedSQLObjectsStorageBase.cpp
  src/Functions/UserDefined/UserDefinedSQLObjectsStorageBase.h
  src/Functions/UserDefined/UserDefinedSQLObjectsZooKeeperStorage.cpp
  src/Functions/UserDefined/UserDefinedSQLObjectsZooKeeperStorage.h
  src/Interpreters/NormalizeSelectWithUnionQueryVisitor.h
  tests/integration/test_replicated_user_defined_functions/test.py
  tests/integration/test_user_defined_object_persistence/test.py
  tests/queries/0_stateless/03215_udf_with_union.reference
  tests/queries/0_stateless/03215_udf_with_union.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#67433 Fix file/URI parsing with archive syntax
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/IO/Archives/ArchiveUtils.cpp
  src/IO/Archives/ArchiveUtils.h
  src/IO/Archives/createArchiveReader.cpp
  src/IO/Archives/createArchiveWriter.cpp
  src/IO/S3/URI.cpp
  src/IO/S3/URI.h
  src/Storages/ObjectStorage/S3/Configuration.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageFile.h
  src/TableFunctions/TableFunctionFile.cpp
  tests/queries/0_stateless/02952_archive_parsing.reference
  tests/queries/0_stateless/02952_archive_parsing.sql
  tests/queries/0_stateless/03214_parsing_archive_name_file.reference
  tests/queries/0_stateless/03214_parsing_archive_name_file.sh
  tests/queries/0_stateless/03215_parsing_archive_name_s3.reference
  tests/queries/0_stateless/03215_parsing_archive_name_s3.sql
  tests/queries/0_stateless/data_minio/::03215_archive.csv
  tests/queries/0_stateless/data_minio/test.zip::03215_archive.csv
  tests/queries/0_stateless/data_minio/test::03215_archive.csv
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#65654 Scheduler queue throughput introspection, Fix CPU indication in client
  src/Common/EventRateMeter.h
  src/Common/ProgressIndication.h
  src/Common/Scheduler/ISchedulerNode.h
  src/Common/Scheduler/Nodes/FairPolicy.h
  src/Common/Scheduler/Nodes/FifoQueue.h
  src/Common/Scheduler/Nodes/PriorityPolicy.h
  src/Common/Scheduler/Nodes/SemaphoreConstraint.h
  src/Common/Scheduler/Nodes/ThrottlerConstraint.h
  src/Common/Scheduler/SchedulerRoot.h
  src/Common/tests/gtest_event_rate_meter.cpp
  src/Storages/System/StorageSystemScheduler.cpp
Labels: pr-not-for-changelog

#67553 Fix AsyncLoader destruction race
  src/Common/AsyncLoader.cpp
Labels: pr-ci, 🍃 green ci 🌿

#67535 [Green CI] test 03164_s3_settings_for_queries_and_merges is flaky
  tests/queries/0_stateless/03164_s3_settings_for_queries_and_merges.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67696 Fix check names in test reports and the CI Logs database
  src/Databases/DatabaseOnDisk.cpp
  tests/ci/ci.py
  tests/ci/clickhouse_helper.py
  tests/ci/commit_status_helper.py
  tests/ci/report.py
Labels: pr-not-for-changelog

#66704 Add S3DiskNoKeyErrors metric
  src/Common/CurrentMetrics.cpp
  src/IO/S3/Client.cpp
  src/IO/S3/Client.h
  tests/integration/test_checking_s3_blobs_paranoid/test.py
  tests/integration/test_storage_delta/test.py
Labels: pr-improvement

#67357 Remove duplicated tests
  tests/queries/0_stateless/03036_dynamic_read_subcolumns.lib
  tests/queries/0_stateless/03036_dynamic_read_subcolumns_1.reference
  tests/queries/0_stateless/03036_dynamic_read_subcolumns_1.sh
  tests/queries/0_stateless/03036_dynamic_read_subcolumns_2.reference
  tests/queries/0_stateless/03036_dynamic_read_subcolumns_2.sh
  tests/queries/0_stateless/03036_dynamic_read_subcolumns_3.reference
  tests/queries/0_stateless/03036_dynamic_read_subcolumns_3.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67719 Fix 01042_system_reload_dictionary_reloads_completely flakiness
  tests/queries/0_stateless/01042_system_reload_dictionary_reloads_completely.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67720 Fix completion of RESTORE ON CLUSTER
  src/Backups/RestorerFromBackup.cpp
Labels: pr-bugfix, testing, 🍃 green ci 🌿

#67295 Fix hung query when using empty tuple as lhs of function IN
  src/Analyzer/SetUtils.cpp
  tests/queries/0_stateless/03210_empty_tuple_lhs_of_in.reference
  tests/queries/0_stateless/03210_empty_tuple_lhs_of_in.sql
Labels: pr-bugfix, can be tested

#67702 Fix locking inside TimerDescriptor
  src/Common/TimerDescriptor.cpp
Labels: pr-bugfix, 🍃 green ci 🌿

#67701 Improve the dashboard
  programs/server/dashboard.html
Labels: pr-improvement

#67645 Fix race condition between ProcessList and Settings
  src/Backups/RestoreCoordinationRemote.cpp
  src/Backups/RestoreCoordinationRemote.h
  src/Databases/DatabaseLazy.cpp
  src/Databases/DatabaseLazy.h
  src/Interpreters/ProcessList.cpp
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67727 Fix strange code in HostResolvePool
  src/Common/HostResolvePool.cpp
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67729 Fix a typo
  programs/server/Server.cpp
Labels: pr-not-for-changelog

#67738 Fix test retries
  tests/clickhouse-test
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67459 Fix wait for tasks in ~WriteBufferFromS3 in case WriteBuffer was cancelled
  src/Common/ThreadPoolTaskTracker.cpp
  src/IO/WriteBufferFromS3.cpp
Labels: pr-bugfix

#67103 Function `mapFromArrays`: Allow `Map(K, V)` and `Array(Nullable(T))` as 1st arguments
  docs/en/sql-reference/functions/tuple-map-functions.md
  src/Functions/map.cpp
  tests/queries/0_stateless/01651_map_functions.reference
  tests/queries/0_stateless/01651_map_functions.sql
Labels: pr-improvement

#67361 Add no-distributed-cache tag in tests
  docker/test/stateless/run.sh
  tests/clickhouse-test
  tests/queries/0_stateless/01603_read_with_backoff_bug.sql
  tests/queries/0_stateless/01605_adaptive_granularity_block_borders.sql
  tests/queries/0_stateless/02150_index_hypothesis_race_long.sh
  tests/queries/0_stateless/02714_local_object_storage.sql
  tests/queries/0_stateless/02770_async_buffer_ignore.sh
  tests/queries/0_stateless/02995_index_2.sh
  tests/queries/0_stateless/02995_index_3.sh
  tests/queries/0_stateless/02995_index_4.sh
  tests/queries/0_stateless/02995_index_9.sh
  tests/queries/0_stateless/03143_asof_join_ddb_long.sql
Labels: pr-not-for-changelog

#67324 Fix stack overflow in too deep JSON
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/IO/ReadHelpers.cpp
  src/Planner/findParallelReplicasQuery.cpp
  src/Planner/findQueryForParallelReplicas.h
  tests/queries/0_stateless/03213_deep_json.reference
  tests/queries/0_stateless/03213_deep_json.sql
  tests/queries/0_stateless/03215_analyzer_replace_with_dummy_tables.reference
  tests/queries/0_stateless/03215_analyzer_replace_with_dummy_tables.sql
Labels: pr-bugfix

#67741 Better safety thresholds in `arrayWithConstant` function
  src/Functions/array/arrayWithConstant.cpp
  tests/queries/0_stateless/03216_arrayWithConstant_limits.reference
  tests/queries/0_stateless/03216_arrayWithConstant_limits.sql
Labels: pr-backward-incompatible

#67623 Fix `Logical error: 'file_offset_of_buffer_end <= read_until_position'` in fs cache
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/FileSegment.h
  tests/config/config.d/storage_conf.xml
Labels: pr-bugfix

#67739 Fill only selected columns from system.clusters
  src/Storages/System/StorageSystemClusters.cpp
  src/Storages/System/StorageSystemClusters.h
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67512 [Green CI] Test `test_storage_azure_blob_storage/test.py` is flaky
  tests/integration/helpers/cluster.py
  tests/integration/helpers/retry_decorator.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67746 Stateless tests: attempt to fix timeouts of `02473_multistep_prewhere* 00411_long_accurate_number_comparison*`
  tests/queries/0_stateless/00411_long_accurate_number_comparison.python
  tests/queries/0_stateless/02473_multistep_prewhere.python
  tests/queries/0_stateless/02473_multistep_split_prewhere.python
  tests/queries/0_stateless/helpers/pure_http_client.py
Labels: pr-not-for-changelog

#67306 Fix crash of uniq and uniqTheta with empty tuple argument
  src/AggregateFunctions/UniqVariadicHash.h
  tests/queries/0_stateless/03208_uniq_with_empty_tuple.reference
  tests/queries/0_stateless/03208_uniq_with_empty_tuple.sql
Labels: pr-must-backport, can be tested, pr-must-backport-cloud, pr-critical-bugfix

#67747 Fix test_ttl_move::test_alter_with_merge_work flakiness
  tests/integration/test_ttl_move/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67743 Try to fix RabbitMQ test failures
  tests/integration/compose/docker_compose_rabbitmq.yml
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67751 Fix dictionary hang in case of CANNOT_SCHEDULE_TASK while loading (also fixes possible stress tests hung)
  src/Interpreters/ExternalLoader.cpp
Labels: pr-bugfix, 🍃 green ci 🌿

#67334 New Feature: Add camelCase aliases denseRank() and percentRank()
  docs/en/sql-reference/window-functions/dense_rank.md
  docs/en/sql-reference/window-functions/index.md
  src/Processors/Transforms/WindowTransform.cpp
  tests/queries/0_stateless/03213_denseRank_percentRank_alias.reference
  tests/queries/0_stateless/03213_denseRank_percentRank_alias.sql
Labels: pr-feature, can be tested

#67752 ci: better stateless runner (correctly collect artifacts and also some basic errors capturing)
  docker/test/stateless/run.sh
  docker/test/stateless/stress_tests.lib
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67674 Use FunctionArgumentDescriptors to check bitSlice function + add test case
  src/Functions/bitSlice.cpp
  tests/queries/0_stateless/03214_bitslice_argument_evaluation.reference
  tests/queries/0_stateless/03214_bitslice_argument_evaluation.sql
Labels: pr-not-for-changelog, can be tested

#66257 Add function printf for spark compatiability
  docs/en/sql-reference/functions/string-replace-functions.md
  src/Functions/printf.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/03203_function_printf.reference
  tests/queries/0_stateless/03203_function_printf.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#67538 Fix join on tuple with NULLs
  src/Analyzer/Passes/ComparisonTupleEliminationPass.cpp
  tests/queries/0_stateless/03214_join_on_tuple_comparison_elimination_bug.reference
  tests/queries/0_stateless/03214_join_on_tuple_comparison_elimination_bug.sql
Labels: pr-bugfix

#67122 Fix crash with Variant + AggregateFunction type
  src/Columns/ColumnAggregateFunction.cpp
  tests/queries/0_stateless/03210_variant_with_aggregate_function_type.reference
  tests/queries/0_stateless/03210_variant_with_aggregate_function_type.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#67654 Fix serialization of parameterized view parameters
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  tests/queries/0_stateless/03209_parameterized_view_with_non_literal_params.reference
  tests/queries/0_stateless/03209_parameterized_view_with_non_literal_params.sql
Labels: pr-bugfix, can be tested

#67405 Follow-up to #67294
  src/Functions/CountSubstringsImpl.h
  src/Functions/FunctionsMultiStringFuzzySearch.h
  src/Functions/FunctionsMultiStringSearch.h
  src/Functions/FunctionsStringSearch.h
  src/Functions/FunctionsStringSearchToString.h
  src/Functions/FunctionsVisitParam.h
  src/Functions/HasTokenImpl.h
  src/Functions/MatchImpl.h
  src/Functions/MultiMatchAllIndicesImpl.h
  src/Functions/MultiMatchAnyImpl.h
  src/Functions/MultiSearchFirstIndexImpl.h
  src/Functions/MultiSearchFirstPositionImpl.h
  src/Functions/MultiSearchImpl.h
  src/Functions/PositionImpl.h
  src/Functions/URL/extractURLParameter.cpp
  src/Functions/extract.cpp
  tests/queries/0_stateless/00927_disable_hyperscan.sql
Labels: pr-not-for-changelog

#66214 Allow to create incremental password protected backups
  docs/en/operations/backup.md
  src/Backups/BackupFactory.h
  src/Backups/BackupImpl.cpp
  src/Backups/BackupImpl.h
  src/Backups/BackupSettings.cpp
  src/Backups/BackupSettings.h
  src/Backups/BackupsWorker.cpp
  src/Backups/RestoreSettings.cpp
  src/Backups/RestoreSettings.h
  src/Backups/registerBackupEngineAzureBlobStorage.cpp
  src/Backups/registerBackupEngineS3.cpp
  src/Backups/registerBackupEnginesFileAndDisk.cpp
  tests/queries/0_stateless/02843_backup_use_same_password_for_base_backup.reference
  tests/queries/0_stateless/02843_backup_use_same_password_for_base_backup.sh
Labels: pr-feature, can be tested

#67540 Fix (incorrectly) immediate reschedule of FileCache::freeSpaceRatioKeepingThreadFunc() in case of non-evictable cache
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/IFileCachePriority.h
  src/Interpreters/Cache/LRUFileCachePriority.cpp
  src/Interpreters/Cache/LRUFileCachePriority.h
  src/Interpreters/Cache/SLRUFileCachePriority.cpp
  src/Interpreters/Cache/SLRUFileCachePriority.h
Labels: pr-bugfix

#67784 Fix test `02231_bloom_filter_sizing`
  tests/queries/0_stateless/02231_bloom_filter_sizing.reference
  tests/queries/0_stateless/02231_bloom_filter_sizing.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67394 Print debug info in `test_storage_s3_queue/test.py::test_shards_distributed`
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67771 Whitespaces
  docs/changelogs/v23.4.1.1943-stable.md
  src/Processors/Chunk.h
  tests/queries/0_stateless/02099_tsv_raw_format.sh
Labels: pr-not-for-changelog

#66671 Support true UUID type for MongoDB engine
  base/poco/Foundation/include/Poco/UUID.h
  base/poco/MongoDB/src/Binary.cpp
  src/Processors/Sources/MongoDBSource.cpp
  tests/integration/test_storage_mongodb/test.py
Labels: pr-improvement

#65978 Remove default values for certificateFile/privateKeyFile/dhParamsFile in keeper config (to avoid annoying errors in logs)
  programs/keeper/keeper_config.xml
Labels: pr-not-for-changelog

#66495 Ensure that llvm-symbolizer is used for symbolizing sanitizer reports
  docker/test/base/Dockerfile
  docker/test/util/Dockerfile
Labels: pr-not-for-changelog

#67776 [RFC] Print original query for AST formatting check on CI
  src/Interpreters/executeQuery.cpp
Labels: pr-not-for-changelog

#67780 Fix diagnostics in the test script
  docker/test/stateless/run.sh
Labels: pr-not-for-changelog

#67779 Fix test `02833_concurrent_sessions`, Fix test `02835_drop_user_during_session`
  tests/queries/0_stateless/02833_concurrent_sessions.sh
  tests/queries/0_stateless/02835_drop_user_during_session.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67756 Fix stack overflow in JSONMergePatch function
  src/Common/JSONParsers/RapidJSONParser.h
  src/Functions/jsonMergePatch.cpp
  tests/queries/0_stateless/03217_json_merge_patch_stack_overflow.reference
  tests/queries/0_stateless/03217_json_merge_patch_stack_overflow.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#67723 Fix test `00002_log_and_exception_messages_formatting`
  docker/test/stateless/run.sh
  docker/test/util/process_functional_tests_result.py
  docs/changelogs/v20.5.1.3833-prestable.md
  docs/changelogs/v21.11.1.8636-prestable.md
  docs/changelogs/v21.12.1.9017-prestable.md
  docs/changelogs/v21.5.1.6601-prestable.md
  docs/changelogs/v21.6.9.7-stable.md
  docs/changelogs/v21.7.9.7-stable.md
  docs/changelogs/v21.8.1.7409-prestable.md
  docs/changelogs/v21.8.5.7-lts.md
  docs/changelogs/v21.9.1.8000-prestable.md
  docs/changelogs/v22.1.1.2542-prestable.md
  docs/changelogs/v22.4.1.2305-prestable.md
  docs/changelogs/v23.4.1.1943-stable.md
  docs/changelogs/v23.6.1.1524-stable.md
  docs/zh/changelog/index.md
  src/Common/SystemLogBase.cpp
  src/Databases/DatabaseHDFS.cpp
  src/Storages/ObjectStorage/HDFS/Configuration.cpp
  src/Storages/ObjectStorage/HDFS/HDFSCommon.cpp
  tests/clickhouse-test
  tests/integration/test_storage_hdfs/test.py
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67555 Add an assert into TimerDescriptor
  src/Common/TimerDescriptor.cpp
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67566 Fix flaky `test_system_kafka_consumers_rebalance`
  tests/integration/test_storage_kafka/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67391 Autodetect configuration file format if is not .xml, .yml or .yaml
  src/Common/Config/ConfigProcessor.cpp
  src/Common/Config/ConfigProcessor.h
  tests/queries/0_stateless/01889_clickhouse_client_config_format.reference
  tests/queries/0_stateless/01889_clickhouse_client_config_format.sh
Labels: pr-improvement, can be tested

#67673 Remove some `no-parallel` tags from tests (Part 2)
  tests/queries/0_stateless/01086_window_view_cleanup.sh
  tests/queries/0_stateless/02514_null_dictionary_source.sql
  tests/queries/0_stateless/02703_row_policies_for_asterisk.sh
  tests/queries/0_stateless/02703_row_policies_for_asterisk.sql
  tests/queries/0_stateless/02703_row_policies_for_database_combination.sh
  tests/queries/0_stateless/02703_row_policies_for_database_combination.sql
  tests/queries/0_stateless/02703_row_policy_for_database.reference
  tests/queries/0_stateless/02703_row_policy_for_database.sh
  tests/queries/0_stateless/02703_row_policy_for_database.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67791 ci/stateless: fix artifacts post-processing and detect if something failed there
  docker/test/stateless/run.sh
  tests/ci/functional_test_check.py
Labels: pr-not-for-changelog

#67667 Even better healthcheck for ldap
  tests/integration/compose/docker_compose_ldap.yml
Labels: pr-not-for-changelog, can be tested, 🍃 green ci 🌿

#67393 Add total marks and parts to ProfileEvents
  src/Common/ProfileEvents.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
Labels: pr-not-for-changelog, can be tested

#67801 Update comment
  src/Interpreters/Cache/FileCache.cpp
Labels: pr-not-for-changelog

#67798 Disable 03038_nested_dynamic_merges* under sanitizers because it's too slow
  tests/queries/0_stateless/03038_nested_dynamic_merges_compact_horizontal.sql
  tests/queries/0_stateless/03038_nested_dynamic_merges_compact_vertical.sql
  tests/queries/0_stateless/03038_nested_dynamic_merges_small.reference.j2
  tests/queries/0_stateless/03038_nested_dynamic_merges_small.sql.j2
  tests/queries/0_stateless/03038_nested_dynamic_merges_wide_horizontal.sql
  tests/queries/0_stateless/03038_nested_dynamic_merges_wide_vertical.sql
Labels: pr-not-for-changelog

#67797 Reduce table size in 03037_dynamic_merges_2* tests
  tests/queries/0_stateless/03037_dynamic_merges_2_horizontal_compact_merge_tree.reference
  tests/queries/0_stateless/03037_dynamic_merges_2_horizontal_compact_merge_tree.sql
  tests/queries/0_stateless/03037_dynamic_merges_2_horizontal_wide_merge_tree.reference
  tests/queries/0_stateless/03037_dynamic_merges_2_horizontal_wide_merge_tree.sql
  tests/queries/0_stateless/03037_dynamic_merges_2_vertical_compact_merge_tree.reference
  tests/queries/0_stateless/03037_dynamic_merges_2_vertical_compact_merge_tree.sql
  tests/queries/0_stateless/03037_dynamic_merges_2_vertical_wide_merge_tree.reference
  tests/queries/0_stateless/03037_dynamic_merges_2_vertical_wide_merge_tree.sql
Labels: pr-not-for-changelog

#67600 Fix 02434_cancel_insert_when_client_dies
  tests/queries/0_stateless/02434_cancel_insert_when_client_dies.sh
Labels: pr-not-for-changelog, v24.7-must-backport, 🍃 green ci 🌿

#67774 Fix REPLACE modifier formatting (forbid omitting brackets)
  src/Parsers/ASTColumnsTransformers.cpp
  tests/queries/0_stateless/01913_fix_column_transformer_replace_format.reference
  tests/queries/0_stateless/03220_replace_formatting.reference
  tests/queries/0_stateless/03220_replace_formatting.sh
Labels: pr-backward-incompatible, 🍃 green ci 🌿

#67687 Fix variant as common type in if function with Tuples, Maps and incompatible integers
  src/Functions/if.cpp
  tests/queries/0_stateless/03215_varian_as_common_type_integers.reference
  tests/queries/0_stateless/03215_varian_as_common_type_integers.sql
  tests/queries/0_stateless/03215_varian_as_common_type_tuple_map.reference
  tests/queries/0_stateless/03215_varian_as_common_type_tuple_map.sql
Labels: pr-bugfix, 🍃 green ci 🌿

#67795 Fix possible CANNOT_READ_ALL_DATA during server startup in performance tests
  tests/performance/scripts/compare.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67641 Fix crash in KeyCondition::cloneASTWithInversionPushDown() caused by type change
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/03215_key_condition_bug.reference
  tests/queries/0_stateless/03215_key_condition_bug.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67706 CI: Minor refactoring in ci_utils
  .yamllint
  tests/ci/bugfix_validate_check.py
  tests/ci/ci.py
  tests/ci/ci_cache.py
  tests/ci/ci_config.py
  tests/ci/ci_definitions.py
  tests/ci/ci_settings.py
  tests/ci/ci_utils.py
  tests/ci/commit_status_helper.py
  tests/ci/report.py
  tests/ci/run_check.py
  tests/ci/test_ci_config.py
Labels: pr-not-for-changelog

#66457 Allow run query instantly in play
  programs/server/play.html
Labels: pr-not-for-changelog, can be tested

#67829 Update tags for a few tests
  tests/queries/0_stateless/02995_index_1.sh
  tests/queries/0_stateless/02995_index_10.sh
  tests/queries/0_stateless/02995_index_5.sh
  tests/queries/0_stateless/02995_index_6.sh
Labels: pr-not-for-changelog

#67418 Make Dwarf::findAddress() fallback slow path less slow
  src/Common/Dwarf.cpp
  src/Common/Dwarf.h
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67869 Misc fixes
  docker/test/fasttest/run.sh
  src/Functions/bitSlice.cpp
  src/Storages/MergeTree/KeyCondition.h
Labels: pr-not-for-changelog

#67874 no-msan 00314_sample_factor_virtual_column
  tests/queries/0_stateless/00314_sample_factor_virtual_column.sql
Labels: pr-ci, 🍃 green ci 🌿

#67800 Revert "Merge pull request #66510 from canhld94/fix_trivial_count_non_deterministic_func"
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/VirtualColumnUtils.cpp
  src/Storages/VirtualColumnUtils.h
  tests/queries/0_stateless/03203_count_with_non_deterministic_function.reference
  tests/queries/0_stateless/03203_count_with_non_deterministic_function.sql
Labels: pr-not-for-changelog, v24.7-must-backport

#66018 Fix 'Not-ready Set is passed' in system tables
  src/Interpreters/ExpressionActions.h
  src/Interpreters/PreparedSets.h
  src/Planner/Planner.cpp
  src/Storages/RocksDB/StorageSystemRocksDB.cpp
  src/Storages/RocksDB/StorageSystemRocksDB.h
  src/Storages/StorageMergeTreeIndex.cpp
  src/Storages/StorageMergeTreeIndex.h
  src/Storages/System/IStorageSystemOneBlock.cpp
  src/Storages/System/IStorageSystemOneBlock.h
  src/Storages/System/StorageSystemColumns.cpp
  src/Storages/System/StorageSystemDataSkippingIndices.cpp
  src/Storages/System/StorageSystemDatabases.cpp
  src/Storages/System/StorageSystemDatabases.h
  src/Storages/System/StorageSystemDistributionQueue.cpp
  src/Storages/System/StorageSystemDistributionQueue.h
  src/Storages/System/StorageSystemMutations.cpp
  src/Storages/System/StorageSystemMutations.h
  src/Storages/System/StorageSystemPartMovesBetweenShards.cpp
  src/Storages/System/StorageSystemPartMovesBetweenShards.h
  src/Storages/System/StorageSystemReplicas.cpp
  src/Storages/System/StorageSystemReplicationQueue.cpp
  src/Storages/System/StorageSystemReplicationQueue.h
  src/Storages/VirtualColumnUtils.h
  tests/queries/0_stateless/02841_not_ready_set_bug.sh
Labels: pr-bugfix

#65253 attach_gdb.lib: print more information before all stacks
  docker/test/stateless/attach_gdb.lib
Labels: pr-not-for-changelog

#67484 Revert #61750 "Improve JSONEachRow reading by ignoring the keys case"
  CHANGELOG.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.h
  tests/queries/0_stateless/03013_json_key_ignore_case.reference
  tests/queries/0_stateless/03013_json_key_ignore_case.sh
  tests/queries/0_stateless/data_json/key_ignore_case.json
Labels: pr-not-for-changelog

#67867 Un-flake 02524_fuzz_and_fuss_2
  tests/queries/0_stateless/02524_fuzz_and_fuss_2.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67846 Revert "Revert "Slightly better calculation of primary index""
  src/Storages/MergeTree/IMergeTreeDataPartWriter.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.h
  tests/queries/0_stateless/02993_lazy_index_loading.reference
  tests/queries/0_stateless/03127_system_unload_primary_key_table.reference
  tests/queries/0_stateless/03128_system_unload_primary_key.reference
  tests/queries/0_stateless/03217_primary_index_memory_leak.reference
  tests/queries/0_stateless/03217_primary_index_memory_leak.sql
Labels: pr-not-for-changelog

#67680 Avoid ddl queue timeout in 02313_filesystem_cache_seeks
  tests/queries/0_stateless/02313_filesystem_cache_seeks.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67101 CI: CheckReadyForMerge fixes
  .github/workflows/backport_branches.yml
  .github/workflows/jepsen.yml
  .github/workflows/merge_queue.yml
  .github/workflows/nightly.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  tests/ci/ci_config.py
  tests/ci/ci_utils.py
  tests/ci/merge_pr.py
Labels: pr-not-for-changelog

#67389 Try to fix: ALL_CONNECTION_TRIES_FAILED with parallel replicas
  src/Client/ConnectionEstablisher.cpp
  src/Client/ConnectionEstablisher.h
  src/QueryPipeline/RemoteQueryExecutor.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#67822 Fix bad test `03032_redundant_equals`
  tests/queries/0_stateless/03032_redundant_equals.sql
Labels: pr-not-for-changelog

#67560 [CI] Check for timeout when we stop logs replication
  docker/test/base/setup_export_logs.sh
Labels: pr-not-for-changelog

#67804 Fix filter pushdown for aggregation without keys
  src/Processors/QueryPlan/Optimizations/filterPushDown.cpp
  tests/queries/0_stateless/03217_fliter_pushdown_no_keys.reference
  tests/queries/0_stateless/03217_fliter_pushdown_no_keys.sql
Labels: pr-bugfix

#67726 Fix test `02789_reading_from_s3_with_connection_pool`
  tests/queries/0_stateless/02789_reading_from_s3_with_connection_pool.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67855 Fix query cache randomization in stress tests
  tests/ci/stress.py
Labels: pr-not-for-changelog, can be tested

#67908 Update documentation of `toFloat32/64` and variants
  docs/en/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation, can be tested

#67470 run 01171 test in parallel
  tests/queries/0_stateless/01171_mv_select_insert_isolation_long.sh
Labels: pr-not-for-changelog

#67919 CI: Changelog: Critical Bug Fix to Bug Fix
  tests/ci/changelog.py
Labels: pr-not-for-changelog

#67755 Introduce `no-flaky-check` tag
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#67877 Revert "Revert "Add a test for #47892""
  tests/queries/0_stateless/02968_full_sorting_join_fuzz.reference
  tests/queries/0_stateless/02968_full_sorting_join_fuzz.sql
Labels: pr-not-for-changelog

#67934 CI: Strict job timeout 1.5h for tests, 2h for builds
  tests/ci/ci_config.py
  tests/ci/ci_definitions.py
Labels: pr-not-for-changelog

#67896 Do not try to create azure container if not needed
  src/Common/ProfileEvents.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageCommon.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#67565 enable parallel_view_processing in perf tests
  src/Interpreters/Squashing.cpp
  tests/performance/materialized_view_parallel_insert.xml
  tests/performance/views_max_insert_threads.xml
Labels: pr-not-for-changelog

#65564 [RFC] Do not pass logs for keeper explicitly in the image to allow overriding
  docker/keeper/entrypoint.sh
Labels: pr-improvement

#67928 more logs to debug logical error from async inserts
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#67596 added tests for page index in parquet files
  docker/test/integration/runner/requirements.txt
  tests/integration/test_parquet_page_index/__init__.py
  tests/integration/test_parquet_page_index/test.py
  tests/queries/0_stateless/03215_parquet_index.reference
  tests/queries/0_stateless/03215_parquet_index.sql
Labels: pr-not-for-changelog, manual approve, can be tested

#67882 Lazily create invalid files in S3
  tests/queries/0_stateless/03215_parsing_archive_name_s3.sql
  tests/queries/0_stateless/data_minio/::03215_archive.csv
  tests/queries/0_stateless/data_minio/test.zip::03215_archive.csv
  tests/queries/0_stateless/data_minio/test::03215_archive.csv
Labels: pr-not-for-changelog

#67947 Unflake 02099_tsv_raw_format.sh
  tests/queries/0_stateless/02099_tsv_raw_format_1.reference
  tests/queries/0_stateless/02099_tsv_raw_format_1.sh
  tests/queries/0_stateless/02099_tsv_raw_format_2.reference
  tests/queries/0_stateless/02099_tsv_raw_format_2.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#66443 Clean up projection inside storage snapshot
  src/Analyzer/Passes/ShardNumColumnToFunctionPass.cpp
  src/Interpreters/TreeRewriter.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseAggregateProjection.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseNormalProjection.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Storages/MergeTree/IMergeTreeReader.cpp
  src/Storages/MergeTree/MergeTreeBlockReadUtils.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageMerge.cpp
  src/Storages/StorageSnapshot.cpp
  src/Storages/StorageSnapshot.h
Labels: pr-not-for-changelog

#66243 Fix filling of missed subcolumns
  src/DataTypes/IDataType.cpp
  src/DataTypes/ObjectUtils.cpp
  src/DataTypes/ObjectUtils.h
  src/DataTypes/Serializations/ISerialization.h
  src/Interpreters/inplaceBlockConversions.cpp
  src/Storages/MergeTree/IMergeTreeReader.cpp
  src/Storages/MergeTree/IMergeTreeReader.h
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  src/Storages/MergeTree/MergeTreeReaderCompact.h
  src/Storages/MergeTree/MergeTreeReaderCompactSingleBuffer.cpp
  tests/queries/0_stateless/02026_describe_include_subcolumns.reference
  tests/queries/0_stateless/03203_fill_missed_subcolumns.reference
  tests/queries/0_stateless/03203_fill_missed_subcolumns.sql
Labels: pr-bugfix, v24.7-must-backport

#67920 Fix DateTime64 parsing after constant folding
  src/Analyzer/ConstantNode.cpp
  tests/queries/0_stateless/03217_datetime64_constant_to_ast.reference
  tests/queries/0_stateless/03217_datetime64_constant_to_ast.sql
Labels: pr-bugfix, analyzer

#67015 Fix storage Buffer over Distributed
  src/DataTypes/DataTypeAggregateFunction.cpp
  src/DataTypes/DataTypeAggregateFunction.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageBuffer.h
  tests/queries/0_stateless/03208_buffer_over_distributed_type_mismatch.reference
  tests/queries/0_stateless/03208_buffer_over_distributed_type_mismatch.sql
Labels: pr-backward-incompatible, 🍃 green ci 🌿

#67841 Add debug logging for window view tests
  src/Storages/WindowView/StorageWindowView.cpp
Labels: pr-not-for-changelog

#67932 Remove some no-parallel tags from tests (Part 4)
  tests/queries/0_stateless/01600_multiple_left_join_with_aliases.sql
  tests/queries/0_stateless/01685_ssd_cache_dictionary_complex_key.sh
  tests/queries/0_stateless/01764_table_function_dictionary.sql
  tests/queries/0_stateless/02002_row_level_filter_bug.sh
  tests/queries/0_stateless/02015_column_default_dict_get_identifier.sql
  tests/queries/0_stateless/02950_dictionary_ssd_cache_short_circuit.sh
Labels: pr-not-for-changelog

#67511 Revert "Revert "Add settings to replace external engines to Null during create""
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/integration/test_restore_external_engines/__init__.py
  tests/integration/test_restore_external_engines/configs/backups_disk.xml
  tests/integration/test_restore_external_engines/configs/remote_servers.xml
  tests/integration/test_restore_external_engines/test.py
Labels: pr-not-for-changelog

#67622 Don't run ASAN unit tests under gdb
  docker/test/base/Dockerfile
  docker/test/fuzzer/run-fuzzer.sh
  docker/test/stateless/attach_gdb.lib
  docker/test/stateless/run.sh
  docker/test/stateless/stress_tests.lib
  docker/test/unit/Dockerfile
  docker/test/unit/run.sh
  src/Common/Scheduler/Nodes/tests/gtest_resource_class_fair.cpp
  src/Common/Scheduler/Nodes/tests/gtest_resource_class_priority.cpp
  src/Common/Scheduler/Nodes/tests/gtest_throttler_constraint.cpp
  src/Common/tests/gtest_lsan.cpp
  tests/ci/unit_tests_check.py
  tests/queries/shell_config.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#66672 Projection Merge in Special MergeTree
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/01710_aggregate_projection_with_normalized_states.sql
  tests/queries/0_stateless/03174_projection_deduplicate.sql
  tests/queries/0_stateless/03206_projection_merge_special_mergetree.reference
  tests/queries/0_stateless/03206_projection_merge_special_mergetree.sql
Labels: pr-improvement, can be tested

#66279 merge tree sink cancel delayed_chunk
  src/Common/ConcurrentBoundedQueue.h
  src/Processors/Executors/CompletedPipelineExecutor.cpp
  src/Processors/Formats/Impl/ArrowBlockInputFormat.h
  src/Processors/Formats/Impl/DWARFBlockInputFormat.h
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.h
  src/Processors/Formats/Impl/ORCBlockInputFormat.h
  src/Processors/Formats/Impl/ParallelFormattingOutputFormat.cpp
  src/Processors/Formats/Impl/ParallelFormattingOutputFormat.h
  src/Processors/Formats/Impl/ParallelParsingInputFormat.h
  src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.h
  src/Processors/Formats/Impl/ParquetMetadataInputFormat.h
  src/Processors/Formats/LazyOutputFormat.h
  src/Processors/IProcessor.cpp
  src/Processors/IProcessor.h
  src/Processors/Sources/RemoteSource.cpp
  src/Processors/Sources/RemoteSource.h
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Processors/Transforms/ExceptionKeepingTransform.h
  src/Server/TCPHandler.cpp
  src/Storages/Distributed/DistributedSink.cpp
  src/Storages/Distributed/DistributedSink.h
  src/Storages/LiveView/LiveViewEventsSource.h
  src/Storages/LiveView/LiveViewSource.h
  src/Storages/MergeTree/MergeTreeSelectProcessor.h
  src/Storages/MergeTree/MergeTreeSink.cpp
  src/Storages/MergeTree/MergeTreeSink.h
  src/Storages/MergeTree/MergeTreeSource.cpp
  src/Storages/MergeTree/MergeTreeSource.h
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/MessageQueueSink.cpp
  src/Storages/MessageQueueSink.h
  src/Storages/ObjectStorage/StorageObjectStorageSink.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSink.h
  src/Storages/StorageFile.cpp
  src/Storages/StorageURL.cpp
  src/Storages/StorageURL.h
  tests/integration/test_checking_s3_blobs_paranoid/test.py
Labels: pr-improvement

#67974 fix docks for clickhouse-keeper-client
  docs/en/operations/utilities/clickhouse-keeper-client.md
Labels: pr-documentation

#67917 Follow up #67235
  src/Compression/fuzzers/CMakeLists.txt
  src/Storages/fuzzers/CMakeLists.txt
Labels: pr-not-for-changelog

#67911 Validate data types in ALTER ADD/MODIFY COLUMN
  src/Storages/AlterCommands.cpp
  tests/queries/0_stateless/02910_object-json-crash-add-column.sql
  tests/queries/0_stateless/03215_validate_type_in_alter_add_modify_column.reference
  tests/queries/0_stateless/03215_validate_type_in_alter_add_modify_column.sql
Labels: pr-bugfix, pr-must-backport

#67171 fix memory leak when exception happend during count distinct for null key
  src/Interpreters/Aggregator.cpp
  tests/queries/0_stateless/03214_count_distinct_null_key_memory_leak.reference
  tests/queries/0_stateless/03214_count_distinct_null_key_memory_leak.sql
Labels: pr-bugfix, can be tested

#67961 Fix timeout of 02310_clickhouse_local_INSERT_progress_profile_events
  tests/queries/0_stateless/02310_clickhouse_local_INSERT_progress_profile_events.expect
Labels: pr-not-for-changelog

#67970 fix docks for groupConcat function
  docs/en/sql-reference/aggregate-functions/reference/groupconcat.md
  tests/instructions/easy_tasks_sorted_ru.md
Labels: comp-documentation, pr-documentation

#67985 Fix documentation for memory overcommit
  docs/en/operations/settings/settings.md
Labels: pr-documentation
