Repository ClickHouse/ClickHouse, pull requests merged in 2024-07, with the labels that each got.

#65874 Add changelog for release 24.6
  CHANGELOG.md
Labels: pr-documentation

#65855 Update mergetree.md bullet points structure
  docs/zh/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation, can be tested

#65819 Respect cgroup CPU limit in Keeper
  src/Coordination/KeeperServer.cpp
Labels: pr-improvement, pr-must-backport, pr-must-backport-cloud

#65735 Fix bug with session closing in Keeper
  src/Coordination/Changelog.cpp
  src/Coordination/KeeperStorage.cpp
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-not-for-changelog, pr-must-backport, pr-must-backport-cloud

#65771 PostgreSQL source support cancel query
  src/Processors/Sources/PostgreSQLSource.cpp
Labels: pr-improvement, can be tested

#65908 Update CHANGELOG.md
  CHANGELOG.md
Labels: pr-documentation

#58970 Disable `optimize_trivial_insert_select` by default
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  tests/integration/test_merge_tree_s3/test.py
  tests/queries/0_stateless/00564_versioned_collapsing_merge_tree.sql
  tests/queries/0_stateless/00997_set_index_array.sql
  tests/queries/0_stateless/01042_check_query_and_last_granule_size.sql
  tests/queries/0_stateless/01045_order_by_pk_special_storages.sh
  tests/queries/0_stateless/01045_zookeeper_system_mutations_with_parts_names.sh
  tests/queries/0_stateless/01200_mutations_memory_consumption.sql
  tests/queries/0_stateless/01312_comparison_with_constant_string_in_index_analysis.sql
  tests/queries/0_stateless/01455_optimize_trivial_insert_select.sql
  tests/queries/0_stateless/01551_mergetree_read_in_order_spread.sql
  tests/queries/0_stateless/01605_adaptive_granularity_block_borders.sql
  tests/queries/0_stateless/01623_constraints_column_swap.sql
  tests/queries/0_stateless/01780_column_sparse_distinct.sql
  tests/queries/0_stateless/01780_column_sparse_filter.sql
  tests/queries/0_stateless/01825_type_json_from_map.sql
  tests/queries/0_stateless/01825_type_json_sparse.sql
  tests/queries/0_stateless/02139_MV_with_scalar_subquery.sql
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix.sql
  tests/queries/0_stateless/02231_buffer_aggregate_states_leak.sql
  tests/queries/0_stateless/02235_add_part_offset_virtual_column.sql
  tests/queries/0_stateless/02381_compress_marks_and_primary_key.sql
  tests/queries/0_stateless/02404_memory_bound_merging.sql
  tests/queries/0_stateless/02461_prewhere_row_level_policy_lightweight_delete.sql.j2
  tests/queries/0_stateless/02499_monotonicity_toUnixTimestamp64.sh
  tests/queries/0_stateless/02521_aggregation_by_partitions.sql
  tests/queries/0_stateless/02725_agg_projection_resprect_PK.sql
  tests/queries/0_stateless/02870_move_partition_to_volume_io_throttling.sql
  tests/queries/0_stateless/02956_rocksdb_bulk_sink.sh
  tests/queries/0_stateless/02993_lazy_index_loading.sql
  tests/queries/0_stateless/03000_virtual_columns_in_prewhere.sql
  tests/queries/0_stateless/03030_system_flush_distributed_settings.sql
  tests/queries/0_stateless/03033_set_index_in.sql
  tests/queries/0_stateless/03038_move_partition_to_oneself_deadlock.sql
Labels: pr-improvement

#65950 Fixed documentation typos
  docs/en/engines/table-engines/integrations/nats.md
Labels: pr-documentation, can be tested

#65928 Follow up to #65046
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.h
Labels: pr-not-for-changelog, v24.6-must-backport

#65953 Use -Og instead of -O0 for debug builds
  CMakeLists.txt
Labels: pr-not-for-changelog

#65848 Add missing workload identity changes
  src/Storages/ObjectStorage/Azure/Configuration.cpp
Labels: pr-not-for-changelog, pr-must-backport

#65917 Fix possible issues with MySQL server protocol TLS connections
  src/Server/MySQLHandler.cpp
Labels: pr-bugfix

#65887 Allow to use `concat` function with empty arguments
  docs/en/sql-reference/functions/string-functions.md
  src/Functions/concat.cpp
  tests/queries/0_stateless/00727_concat.reference
  tests/queries/0_stateless/00727_concat.sql
Labels: pr-improvement

#64818 Refactor `HashJoin` to avoid `too large translation units`
  src/CMakeLists.txt
  src/Functions/FunctionJoinGet.cpp
  src/Interpreters/ConcurrentHashJoin.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/GraceHashJoin.cpp
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin/AddedColumns.cpp
  src/Interpreters/HashJoin/AddedColumns.h
  src/Interpreters/HashJoin/FullHashJoin.cpp
  src/Interpreters/HashJoin/HashJoin.cpp
  src/Interpreters/HashJoin/HashJoin.h
  src/Interpreters/HashJoin/HashJoinMethods.h
  src/Interpreters/HashJoin/InnerHashJoin.cpp
  src/Interpreters/HashJoin/JoinFeatures.h
  src/Interpreters/HashJoin/JoinUsedFlags.h
  src/Interpreters/HashJoin/KeyGetter.h
  src/Interpreters/HashJoin/KnowRowsHolder.h
  src/Interpreters/HashJoin/LeftHashJoin.cpp
  src/Interpreters/HashJoin/RightHashJoin.cpp
  src/Interpreters/JoinSwitcher.cpp
  src/Interpreters/joinDispatch.h
  src/Planner/PlannerJoinTree.cpp
  src/Planner/PlannerJoins.cpp
  src/Storages/StorageJoin.cpp
Labels: pr-build, can be tested

#65634 Speed up loading of plain_rewritable disks; fix many bugs in ObjectStorage
  src/Disks/IDisk.cpp
  src/Disks/IDisk.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.h
  src/Disks/ObjectStorages/MetadataStorageFromPlainRewritableObjectStorage.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainRewritableObjectStorage.h
  src/Disks/ObjectStorages/ObjectStorageIterator.h
  src/Disks/ObjectStorages/ObjectStorageIteratorAsync.cpp
  src/Disks/ObjectStorages/ObjectStorageIteratorAsync.h
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
Labels: pr-performance

#65816 Fix EmbeddedRocksDB with TTL writes corrupted data
  src/Storages/RocksDB/EmbeddedRocksDBBulkSink.cpp
  src/Storages/RocksDB/EmbeddedRocksDBBulkSink.h
  tests/queries/0_stateless/02956_rocksdb_with_ttl.reference
  tests/queries/0_stateless/02956_rocksdb_with_ttl.sql
Labels: pr-bugfix, can be tested

#65626 Add support for x509 SubjectAltName identification
  docs/en/operations/external-authenticators/ssl-x509.md
  docs/en/sql-reference/statements/alter/user.md
  docs/en/sql-reference/statements/create/user.md
  docs/ru/operations/external-authenticators/ssl-x509.md
  docs/ru/sql-reference/statements/create/user.md
  src/Access/Authentication.cpp
  src/Access/AuthenticationData.cpp
  src/Access/AuthenticationData.h
  src/Access/Common/SSLCertificateSubjects.cpp
  src/Access/Common/SSLCertificateSubjects.h
  src/Access/Credentials.cpp
  src/Access/Credentials.h
  src/Access/UsersConfigAccessStorage.cpp
  src/Parsers/Access/ASTAuthenticationData.cpp
  src/Parsers/Access/ASTAuthenticationData.h
  src/Parsers/Access/ASTCreateUserQuery.cpp
  src/Parsers/Access/ParserCreateUserQuery.cpp
  src/Parsers/CommonParsers.h
  src/Server/HTTPHandler.cpp
  src/Server/TCPHandler.cpp
  src/Storages/System/StorageSystemUsers.cpp
  tests/integration/test_ssl_cert_authentication/certs/ca-cert.pem
  tests/integration/test_ssl_cert_authentication/certs/ca-cert.srl
  tests/integration/test_ssl_cert_authentication/certs/ca-key.pem
  tests/integration/test_ssl_cert_authentication/certs/client1-cert.pem
  tests/integration/test_ssl_cert_authentication/certs/client1-key.pem
  tests/integration/test_ssl_cert_authentication/certs/client1-req.pem
  tests/integration/test_ssl_cert_authentication/certs/client2-cert.pem
  tests/integration/test_ssl_cert_authentication/certs/client2-key.pem
  tests/integration/test_ssl_cert_authentication/certs/client2-req.pem
  tests/integration/test_ssl_cert_authentication/certs/client3-cert.pem
  tests/integration/test_ssl_cert_authentication/certs/client3-key.pem
  tests/integration/test_ssl_cert_authentication/certs/client3-req.pem
  tests/integration/test_ssl_cert_authentication/certs/client4-cert.pem
  tests/integration/test_ssl_cert_authentication/certs/client4-ext.cnf
  tests/integration/test_ssl_cert_authentication/certs/client4-key.pem
  tests/integration/test_ssl_cert_authentication/certs/client4-req.pem
  tests/integration/test_ssl_cert_authentication/certs/generate_certs.sh
  tests/integration/test_ssl_cert_authentication/certs/server-cert.pem
  tests/integration/test_ssl_cert_authentication/certs/server-key.pem
  tests/integration/test_ssl_cert_authentication/certs/server-req.pem
  tests/integration/test_ssl_cert_authentication/certs/wrong-cert.pem
  tests/integration/test_ssl_cert_authentication/certs/wrong-key.pem
  tests/integration/test_ssl_cert_authentication/configs/users_with_ssl_auth.xml
  tests/integration/test_ssl_cert_authentication/test.py
Labels: pr-improvement

#65971 Minor changes in CHANGELOG
  CHANGELOG.md
Labels: pr-not-for-changelog

#65852 Unload primary index of outdated parts
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/ReplicatedMergeTreeCleanupThread.cpp
  src/Storages/StorageMergeTree.cpp
  tests/queries/0_stateless/03198_unload_primary_key_outdated.reference
  tests/queries/0_stateless/03198_unload_primary_key_outdated.sh
Labels: pr-performance

#65565 Re-configure yamllint to allow document-start
  .yamllint
Labels: pr-not-for-changelog

#65972 Remove unnatural punctuation from Parquet
  src/Processors/Formats/Impl/Parquet/ParquetRecordReader.cpp
Labels: pr-not-for-changelog

#65974 [Docs] add `transactionID`, `transactionLatestSnapshot`, `transactionOldestSnapshot`
  docs/en/sql-reference/functions/other-functions.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#65839 Fix s3queue memory usage
  src/Interpreters/ObjectStorageQueueLog.cpp
  src/Interpreters/ObjectStorageQueueLog.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueIFileMetadata.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.cpp
  src/Storages/System/StorageSystemS3Queue.cpp
Labels: pr-bugfix, pr-must-backport-cloud

#63201 Support reading partitioned DeltaLake data, infer DeltaLake schema by reading metadata instead of data
  src/Processors/Chunk.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.h
  src/Storages/ObjectStorage/DataLakes/HudiMetadata.h
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.h
  src/Storages/ObjectStorage/DataLakes/IStorageDataLake.h
  src/Storages/ObjectStorage/DataLakes/IcebergMetadata.h
  src/Storages/ObjectStorage/DataLakes/PartitionColumns.h
  src/Storages/ObjectStorage/StorageObjectStorage.cpp
  src/Storages/ObjectStorage/StorageObjectStorage.h
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.h
  src/TableFunctions/ITableFunction.cpp
  tests/integration/test_storage_delta/test.py
Labels: pr-improvement

#65818 Throw an error in `bitTest*` if the bit position is out-of-bounds
  docs/en/sql-reference/functions/bit-functions.md
  src/Functions/FunctionBitTestMany.h
  src/Functions/bitTest.cpp
  tests/queries/0_stateless/00967_ubsan_bit_test.reference
  tests/queries/0_stateless/00967_ubsan_bit_test.sql
  tests/queries/0_stateless/01082_bit_test_out_of_bound.reference
  tests/queries/0_stateless/01082_bit_test_out_of_bound.sql
  tests/queries/0_stateless/01710_minmax_count_projection.sql
Labels: pr-bugfix

#65941 Fix handling of `SSL_ERROR_WANT_READ/SSL_ERROR_WANT_WRITE` with zero timeout
  base/poco/NetSSL_OpenSSL/include/Poco/Net/SecureSocketImpl.h
  base/poco/NetSSL_OpenSSL/src/SecureSocketImpl.cpp
Labels: pr-bugfix

#65986 Fix race in s3queue
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.cpp
Labels: pr-not-for-changelog, v24.6-must-backport

#66015 Improve messaging around the JSON object datatype
  docs/en/sql-reference/data-types/json.md
Labels: pr-documentation

#65945 Fix SettingsChangesHistory 24.7
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#65918 Add extra profiling helpers for Keeper
  src/Common/ProfileEvents.cpp
  src/Common/ZooKeeper/ZooKeeperCommon.cpp
  src/Common/ZooKeeper/ZooKeeperCommon.h
  src/Coordination/CoordinationSettings.cpp
  src/Coordination/CoordinationSettings.h
  src/Coordination/KeeperConstants.cpp
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/KeeperStateMachine.h
  src/Coordination/KeeperStorage.cpp
  src/Coordination/SnapshotableHashTable.h
  src/Server/KeeperTCPHandler.cpp
  tests/integration/test_keeper_four_word_command/test.py
Labels: pr-not-for-changelog, pr-must-backport-cloud

#65949 Fix logical error "Expected ReadBufferFromFile, but got DB::EmptyReadBuffer"
  src/Interpreters/Cache/WriteBufferToFileSegment.cpp
  src/Storages/MergeTree/MergeTask.cpp
  tests/queries/0_stateless/01006_simpod_empty_part_single_column_write.sh
Labels: pr-not-for-changelog

#65970 Fix data race for Keeper snapshot queue
  src/Common/ConcurrentBoundedQueue.h
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperStateMachine.cpp
Labels: pr-not-for-changelog, jepsen-test

#65738 fix ODBC table with nullable fields
  programs/odbc-bridge/ODBCSource.cpp
  tests/integration/test_odbc_interaction/test.py
Labels: pr-bugfix, can be tested

#65977 Try fix "Check timeout expired" without any server logs in report in stateless tests
  docker/test/stateless/run.sh
Labels: pr-not-for-changelog

#65999 Add more Azure profile events + rename AzureUploadPart to AzureStageBlock
  src/Common/ProfileEvents.cpp
  src/Coordination/KeeperConstants.cpp
  src/Disks/IO/WriteBufferFromAzureBlobStorage.cpp
  src/IO/AzureBlobStorage/copyAzureBlobStorageFile.cpp
Labels: pr-improvement

#66005 Fix printing `Query was cancelled` twice
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
Labels: pr-improvement

#65998 Correction of docs for `lagInFrame` and `leadInFrame` functions
  docs/en/sql-reference/window-functions/index.md
Labels: pr-documentation, can be tested

#65940 Add table name to MergeTreeSource spans
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/MergeTreeSource.cpp
  src/Storages/MergeTree/MergeTreeSource.h
Labels: pr-not-for-changelog

#65993 Fix bug with _size of archives in s3 table function
  docs/en/sql-reference/table-functions/s3.md
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.h
  tests/queries/0_stateless/03036_reading_s3_archives.reference
  tests/queries/0_stateless/03036_reading_s3_archives.sql
Labels: pr-bugfix

#66014 [Docs] Better wording for behavior of MATERIALIZED expr
  docs/en/sql-reference/statements/create/table.md
Labels: pr-documentation

#66059 Remove obsolete comment
  src/Functions/generateUUIDv7.cpp
Labels: pr-not-for-changelog

#61661 Test Jeaiii's itoa
  base/base/itoa.cpp
Labels: pr-performance

#66028 Remove scary jemalloc log
  programs/server/Server.cpp
Labels: pr-not-for-changelog

#65985 More aesthetic error messages
  src/Functions/FunctionBase64Conversion.h
  src/Functions/FunctionHelpers.cpp
  src/Functions/FunctionHelpers.h
  src/Functions/FunctionStringReplace.h
  src/Functions/FunctionTokens.h
  src/Functions/FunctionUnixTimestamp64.h
  src/Functions/FunctionsAES.h
  src/Functions/FunctionsConversion.cpp
  src/Functions/FunctionsRound.h
  src/Functions/JSONArrayLength.cpp
  src/Functions/URL/URLHierarchy.cpp
  src/Functions/URL/URLPathHierarchy.cpp
  src/Functions/URL/extractURLParameterNames.cpp
  src/Functions/URL/extractURLParameters.cpp
  src/Functions/array/arrayJaccardIndex.cpp
  src/Functions/array/arrayRandomSample.cpp
  src/Functions/array/arrayShingles.cpp
  src/Functions/arrayStringConcat.cpp
  src/Functions/castOrDefault.cpp
  src/Functions/countMatches.h
  src/Functions/dateTimeToSnowflakeID.cpp
  src/Functions/extractAll.cpp
  src/Functions/extractAllGroups.h
  src/Functions/extractGroups.cpp
  src/Functions/formatQuery.cpp
  src/Functions/fromDaysSinceYearZero.cpp
  src/Functions/generateSnowflakeID.cpp
  src/Functions/generateUUIDv4.cpp
  src/Functions/generateUUIDv7.cpp
  src/Functions/geohashDecode.cpp
  src/Functions/geohashEncode.cpp
  src/Functions/geohashesInBox.cpp
  src/Functions/makeDate.cpp
  src/Functions/parseDateTime.cpp
  src/Functions/parseReadableSize.cpp
  src/Functions/regexpExtract.cpp
  src/Functions/repeat.cpp
  src/Functions/seriesDecomposeSTL.cpp
  src/Functions/seriesOutliersDetectTukey.cpp
  src/Functions/seriesPeriodDetectFFT.cpp
  src/Functions/snowflake.cpp
  src/Functions/snowflakeIDToDateTime.cpp
  src/Functions/space.cpp
  src/Functions/sqid.cpp
  src/Functions/timestamp.cpp
  src/Functions/toDecimalString.cpp
Labels: pr-not-for-changelog

#66012 Fix `01158_zookeeper_log_long`
  tests/queries/0_stateless/01158_zookeeper_log_long.sql
Labels: pr-not-for-changelog

#65983 Fix support of non-const scale arguments in rounding functions
  src/Functions/FunctionsRound.h
  tests/queries/0_stateless/03165_round_scale_as_column.reference
  tests/queries/0_stateless/03165_round_scale_as_column.sql
Labels: pr-not-for-changelog, can be tested

#66038 Fix lock-order-inversion in DatabaseCatalog
  src/Interpreters/DatabaseCatalog.cpp
Labels: pr-not-for-changelog

#65556 Parse user from URL for dashboard.html (useful for sharing)
  programs/server/dashboard.html
Labels: pr-not-for-changelog

#65888 Max sessions for user tests improvements
  tests/integration/test_profile_max_sessions_for_user/test.py
  tests/queries/0_stateless/02832_alter_max_sessions_for_user.sh
Labels: pr-not-for-changelog, can be tested

#58748 Return and fix 01600_parts_states_metrics_long test
  tests/queries/0_stateless/01600_parts_states_metrics_long.reference
  tests/queries/0_stateless/01600_parts_states_metrics_long.sh
Labels: pr-not-for-changelog

#66050 Add profile events for regex cache
  src/Common/ProfileEvents.cpp
  src/Functions/Regexps.h
Labels: pr-not-for-changelog

#66034 Fix config merging for from_env with replace overrides
  src/Common/Config/ConfigProcessor.cpp
  tests/integration/test_config_substitutions/configs/000-server_overrides.xml
  tests/integration/test_config_substitutions/configs/000-users_with_env_subst.xml
  tests/integration/test_config_substitutions/configs/010-server_with_env_subst.xml
  tests/integration/test_config_substitutions/test.py
Labels: pr-bugfix

#65594 Add options in lightweight delete on table with projections
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Interpreters/InterpreterDeleteQuery.cpp
  tests/queries/0_stateless/03161_lightweight_delete_projection.reference
  tests/queries/0_stateless/03161_lightweight_delete_projection.sql
Labels: pr-improvement, can be tested

#66061 Fix shutdown in GRPCServer
  src/Server/GRPCServer.cpp
  tests/integration/test_grpc_protocol/test.py
Labels: pr-bugfix

#66063 Fix test test_grpc_protocol/test.py::test_progress
  tests/integration/test_grpc_protocol/test.py
Labels: pr-build

#66066 Fix reading dynamic subcolumns from altered Memory table
  src/Interpreters/getColumnFromBlock.cpp
  src/Interpreters/getColumnFromBlock.h
  src/Processors/QueryPlan/ReadFromMemoryStorageStep.cpp
  tests/queries/0_stateless/03200_memory_engine_alter_dynamic.reference
  tests/queries/0_stateless/03200_memory_engine_alter_dynamic.sql
Labels: pr-bugfix

#66011 Relax the check in 02982_aggregation_states_destruction
  tests/queries/0_stateless/02982_aggregation_states_destruction.reference
  tests/queries/0_stateless/02982_aggregation_states_destruction.sh
Labels: pr-not-for-changelog

#66041 Try disabling jemalloc background threads
  contrib/jemalloc-cmake/CMakeLists.txt
  programs/keeper/Keeper.cpp
  programs/server/Server.cpp
  src/Common/Jemalloc.cpp
  src/Common/Jemalloc.h
Labels: pr-not-for-changelog, submodule changed

#65777 Make `allow_experimental_analyzer` be controlled by the initiator for distributed queries
  src/Client/HedgedConnections.cpp
  src/Client/MultiplexedConnections.cpp
  src/Core/Settings.h
  src/Server/TCPHandler.cpp
  tests/ci/integration_tests_runner.py
  tests/integration/helpers/cluster.py
  tests/integration/test_analyzer_compatibility/__init__.py
  tests/integration/test_analyzer_compatibility/configs/remote_servers.xml
  tests/integration/test_analyzer_compatibility/test.py
  tests/integration/test_backward_compatibility/test_functions.py
  tests/integration/test_distributed_inter_server_secret/test.py
Labels: pr-improvement, pr-must-backport-cloud, analyzer

#62103 FuzzQuery table function
  docs/en/sql-reference/table-functions/fuzzQuery.md
  programs/client/Client.h
  src/Client/ClientBase.h
  src/Common/QueryFuzzer.cpp
  src/Common/QueryFuzzer.h
  src/Storages/StorageFuzzQuery.cpp
  src/Storages/StorageFuzzQuery.h
  src/Storages/registerStorages.cpp
  src/TableFunctions/TableFunctionFuzzQuery.cpp
  src/TableFunctions/TableFunctionFuzzQuery.h
  src/TableFunctions/registerTableFunctions.cpp
  src/TableFunctions/registerTableFunctions.h
  tests/queries/0_stateless/03031_table_function_fuzzquery.reference
  tests/queries/0_stateless/03031_table_function_fuzzquery.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#66095 update keeper bench example config file
  utils/keeper-bench/Runner.cpp
  utils/keeper-bench/example.yaml
Labels: pr-not-for-changelog

#65801 Update StorageMaterializedView.cpp
  src/Storages/StorageMaterializedView.cpp
Labels: pr-not-for-changelog

#65470 Fix CgroupsMemoryUsageObserver
  src/Common/CgroupsMemoryUsageObserver.cpp
  src/Common/CgroupsMemoryUsageObserver.h
  tests/integration/test_memory_limit_observer/test.py
Labels: pr-improvement

#63636 Refactoring near azure blob storage
  src/Backups/BackupIO_AzureBlobStorage.cpp
  src/Backups/BackupIO_AzureBlobStorage.h
  src/Backups/registerBackupEngineAzureBlobStorage.cpp
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Disks/IO/WriteBufferFromAzureBlobStorage.cpp
  src/Disks/IO/WriteBufferFromAzureBlobStorage.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageAuth.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageAuth.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageCommon.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageCommon.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/ObjectStorageFactory.cpp
  src/IO/AzureBlobStorage/copyAzureBlobStorageFile.cpp
  src/IO/AzureBlobStorage/copyAzureBlobStorageFile.h
  src/Storages/ObjectStorage/Azure/Configuration.cpp
  src/Storages/ObjectStorage/Azure/Configuration.h
  tests/integration/test_storage_azure_blob_storage/test.py
Labels: pr-not-for-changelog

#65838 Throw an error in `bitShift*` if the shift position is out-of-bounds
  src/Functions/bitShiftLeft.cpp
  src/Functions/bitShiftRight.cpp
  tests/queries/0_stateless/02016_bit_shift_right_for_string_integer.reference
  tests/queries/0_stateless/02016_bit_shift_right_for_string_integer.sql
  tests/queries/0_stateless/02017_bit_shift_left_for_string_integer.reference
  tests/queries/0_stateless/02017_bit_shift_left_for_string_integer.sql
  tests/queries/0_stateless/02366_kql_func_binary.reference
  tests/queries/0_stateless/02366_kql_func_binary.sql
  tests/queries/0_stateless/02766_bitshift_with_const_arguments.sql
  tests/queries/0_stateless/03198_bit_shift_throws_error_for_out_of_bounds.reference
  tests/queries/0_stateless/03198_bit_shift_throws_error_for_out_of_bounds.sql
Labels: pr-bugfix

#66105 CI: Fix sync pr merge
  tests/ci/sync_pr.py
Labels: pr-not-for-changelog

#66009 Fix flaky test_storage_s3_queue tests
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueIFileMetadata.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueIFileMetadata.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.h
  src/Storages/ObjectStorageQueue/StorageObjectStorageQueue.cpp
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-not-for-changelog

#66093 fix flaky 03172_error_log_table_not_empty
  tests/queries/0_stateless/03172_error_log_table_not_empty.sh
Labels: pr-not-for-changelog

#59173 Fix prewhere without columns and without adaptive index granularity (almost w/o anything)
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  tests/queries/0_stateless/02967_prewhere_no_columns.reference
  tests/queries/0_stateless/02967_prewhere_no_columns.sql
  tests/queries/0_stateless/03198_non_adaptive_granularity_no_errors.reference
  tests/queries/0_stateless/03198_non_adaptive_granularity_no_errors.sql
  tests/queries/1_stateful/00166_explain_estimate.reference
Labels: pr-bugfix, force tests

#66069 Add protobufs for Prometheus remote-write/remote-read protocols
  contrib/CMakeLists.txt
  contrib/google-protobuf-cmake/protobuf_generate.cmake
  contrib/prometheus-protobufs-cmake/CMakeLists.txt
  contrib/prometheus-protobufs-gogo/LICENSE
  contrib/prometheus-protobufs-gogo/README
  contrib/prometheus-protobufs-gogo/gogoproto/gogo.proto
  contrib/prometheus-protobufs/LICENSE
  contrib/prometheus-protobufs/README
  contrib/prometheus-protobufs/prompb/remote.proto
  contrib/prometheus-protobufs/prompb/types.proto
  src/CMakeLists.txt
  src/Common/config.h.in
  src/configure_config.cmake
Labels: pr-not-for-changelog, submodule changed

#65701 Disable stacktrace collection in GWPAsan by default
  src/Common/GWPAsan.cpp
  src/Core/ServerSettings.h
  src/IO/BufferWithOwnMemory.h
Labels: pr-not-for-changelog, pr-performance-tests

#66135 Add `use_same_s3_credentials_for_base_backup` to docs
  docs/en/operations/backup.md
Labels: pr-documentation

#62747 New window function `percent_rank`
  docs/en/sql-reference/window-functions/index.md
  src/Processors/Transforms/WindowTransform.cpp
  tests/queries/0_stateless/01592_window_functions.reference
  tests/queries/0_stateless/01592_window_functions.sql
Labels: pr-feature, can be tested

#66098 More precise warning message about sanitizers
  programs/server/Server.cpp
Labels: pr-not-for-changelog

#66099 Slightly better calculation of primary index
  src/Storages/MergeTree/IMergeTreeDataPartWriter.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.h
  tests/queries/0_stateless/02993_lazy_index_loading.reference
  tests/queries/0_stateless/03127_system_unload_primary_key_table.reference
  tests/queries/0_stateless/03128_system_unload_primary_key.reference
Labels: pr-not-for-changelog

#66106 Fix buffer overflow in `unbin`
  src/Common/BinStringDecodeHelper.h
  src/Functions/FunctionsBinaryRepresentation.cpp
  src/Parsers/ExpressionElementParsers.cpp
  tests/queries/0_stateless/03199_unbin_buffer_overflow.reference
  tests/queries/0_stateless/03199_unbin_buffer_overflow.sh
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#66160 [Docs] add missing alias `fullHostName`
  docs/en/sql-reference/functions/other-functions.md
Labels: pr-documentation, can be tested

#66161 Fix clang-tidy error in BufferWithOwnMemory.h
  src/IO/BufferWithOwnMemory.h
Labels: pr-not-for-changelog

#62774 Add compact mode in Variant discriminators binary serialization
  docs/en/operations/settings/merge-tree-settings.md
  src/DataTypes/Serializations/ISerialization.h
  src/DataTypes/Serializations/SerializationVariant.cpp
  src/DataTypes/Serializations/SerializationVariant.h
  src/DataTypes/Serializations/SerializationVariantElement.cpp
  src/DataTypes/Serializations/SerializationVariantElement.h
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  src/Storages/MergeTree/MergeTreeIOSettings.h
  src/Storages/MergeTree/MergeTreeSettings.h
Labels: pr-backward-incompatible

#66171 tests: fix 01563_distributed_query_finish flakiness (due to system.*_log_sender)
  tests/queries/0_stateless/01563_distributed_query_finish.reference
  tests/queries/0_stateless/01563_distributed_query_finish.sh
Labels: pr-not-for-changelog

#66168 Fix crash when adding empty tuple to query cache
  src/Columns/ColumnTuple.cpp
  tests/queries/0_stateless/03201_query_cache_empty_tuple.reference
  tests/queries/0_stateless/03201_query_cache_empty_tuple.sql
Labels: pr-not-for-changelog, fuzz

#66164 [Docs] add `aggThrow` function
  docs/en/sql-reference/aggregate-functions/reference/aggthrow.md
  docs/en/sql-reference/aggregate-functions/reference/index.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#66176 [Docs] add missing `makeDate32`, `makeDateTime64`
  docs/en/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#66174 Fix SimpleSquashingTransform
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Processors/Transforms/SquashingTransform.cpp
  src/Processors/Transforms/SquashingTransform.h
  src/Storages/buildQueryTreeForShard.cpp
Labels: pr-bugfix, v24.6-must-backport

#66102 [Docs] update time window functions
  docs/en/sql-reference/functions/time-window-functions.md
Labels: pr-documentation, can be tested

#66186 Update README.md
  README.md
Labels: pr-not-for-changelog

#66178 Support null map subcolumn for Variant and Dynamic typed subcolumns
  src/DataTypes/DataTypeDynamic.cpp
  src/DataTypes/IDataType.cpp
  src/DataTypes/Serializations/ISerialization.cpp
  src/DataTypes/Serializations/ISerialization.h
  src/DataTypes/Serializations/SerializationDynamicElement.cpp
  src/DataTypes/Serializations/SerializationDynamicElement.h
  src/DataTypes/Serializations/SerializationVariant.cpp
  src/DataTypes/Serializations/SerializationVariant.h
  src/DataTypes/Serializations/SerializationVariantElement.cpp
  src/DataTypes/Serializations/SerializationVariantElement.h
  src/DataTypes/Serializations/SerializationVariantElementNullMap.cpp
  src/DataTypes/Serializations/SerializationVariantElementNullMap.h
  tests/queries/0_stateless/02941_variant_type_1.reference
  tests/queries/0_stateless/02941_variant_type_2.reference
  tests/queries/0_stateless/02941_variant_type_2.sh
  tests/queries/0_stateless/02941_variant_type_3.reference
  tests/queries/0_stateless/02941_variant_type_3.sh
  tests/queries/0_stateless/02941_variant_type_4.reference
  tests/queries/0_stateless/02941_variant_type_4.sh
  tests/queries/0_stateless/03040_dynamic_type_alters_1.reference
  tests/queries/0_stateless/03040_dynamic_type_alters_2.reference
  tests/queries/0_stateless/03041_dynamic_type_check_table.reference
  tests/queries/0_stateless/03201_variant_null_map_subcolumn.reference
  tests/queries/0_stateless/03201_variant_null_map_subcolumn.sh
  tests/queries/0_stateless/03202_dynamic_null_map_subcolumn.reference
  tests/queries/0_stateless/03202_dynamic_null_map_subcolumn.sh
Labels: pr-improvement

#66188 Fix 01246_buffer_flush flakiness
  tests/queries/0_stateless/01246_buffer_flush.sh
  tests/queries/0_stateless/01246_buffer_flush.sql
Labels: pr-not-for-changelog

#66036 Tests: Fix timeouts handling in case of github timeout termination and clickhouse-test hang when server die
  docker/test/fasttest/run.sh
  docker/test/stateless/run.sh
  docker/test/stateless/utils.lib
  tests/clickhouse-test
Labels: pr-build, can be tested

#65979 Add tests for `base64URLEncode` and `base64URLDecode`. Add analyzer tests
  tests/clickhouse-test
  tests/queries/0_stateless/03167_base64_url_functions_sh.reference
  tests/queries/0_stateless/03167_base64_url_functions_sh.sh
  tests/queries/0_stateless/03199_queries_with_new_analyzer.reference
  tests/queries/0_stateless/03199_queries_with_new_analyzer.sql
Labels: pr-build, can be tested

#64889 Startup scripts
  docs/en/operations/startup-scripts.md
  programs/server/Server.cpp
  src/Core/ServerSettings.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  tests/integration/test_startup_scripts/__init__.py
  tests/integration/test_startup_scripts/configs/config.d/query_log.xml
  tests/integration/test_startup_scripts/configs/config.d/startup_scripts.xml
  tests/integration/test_startup_scripts/configs/users.xml
  tests/integration/test_startup_scripts/test.py
Labels: pr-feature

#66126 Disable merge filters optimization by default.
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Processors/QueryPlan/Optimizations/Optimizations.h
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  src/Processors/QueryPlan/Optimizations/mergeExpressions.cpp
  tests/queries/0_stateless/01655_plan_optimizations.reference
  tests/queries/0_stateless/01655_plan_optimizations_merge_filters.sql
  tests/queries/0_stateless/02496_remove_redundant_sorting.reference
  tests/queries/0_stateless/02554_fix_grouping_sets_predicate_push_down.reference
  tests/queries/0_stateless/03199_merge_filters_bug.reference
  tests/queries/0_stateless/03199_merge_filters_bug.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#65563 Fix clickhouse-keeper with not system-wide directories and provide override for local development
  programs/keeper/Keeper.cpp
  programs/keeper/conf.d/local.yaml
Labels: pr-not-for-changelog

#66172 [Docs] add missing `mapPartialSort`, `mapPartialReverseSort`
  docs/en/sql-reference/functions/tuple-map-functions.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#64446 Interactive client for clickhouse-disks
  docs/en/operations/utilities/clickhouse-disks.md
  programs/disks/CMakeLists.txt
  programs/disks/CommandChangeDirectory.cpp
  programs/disks/CommandCopy.cpp
  programs/disks/CommandGetCurrentDiskAndPath.cpp
  programs/disks/CommandHelp.cpp
  programs/disks/CommandLink.cpp
  programs/disks/CommandList.cpp
  programs/disks/CommandListDisks.cpp
  programs/disks/CommandMkDir.cpp
  programs/disks/CommandMove.cpp
  programs/disks/CommandRead.cpp
  programs/disks/CommandRemove.cpp
  programs/disks/CommandSwitchDisk.cpp
  programs/disks/CommandTouch.cpp
  programs/disks/CommandWrite.cpp
  programs/disks/DisksApp.cpp
  programs/disks/DisksApp.h
  programs/disks/DisksClient.cpp
  programs/disks/DisksClient.h
  programs/disks/ICommand.cpp
  programs/disks/ICommand.h
  programs/disks/ICommand_fwd.h
  src/Disks/DiskFactory.cpp
  src/Disks/DiskFactory.h
  src/Disks/DiskSelector.cpp
  src/Disks/DiskSelector.h
  tests/integration/test_disks_app_func/test.py
  tests/integration/test_disks_app_interactive/__init__.py
  tests/integration/test_disks_app_interactive/configs/config.xml
  tests/integration/test_disks_app_interactive/test.py
  tests/queries/0_stateless/02802_clickhouse_disks_s3_copy.sh
  tests/queries/0_stateless/02980_s3_plain_DROP_TABLE_MergeTree.reference
  tests/queries/0_stateless/02980_s3_plain_DROP_TABLE_MergeTree.sh
  tests/queries/0_stateless/02980_s3_plain_DROP_TABLE_ReplicatedMergeTree.reference
  tests/queries/0_stateless/02980_s3_plain_DROP_TABLE_ReplicatedMergeTree.sh
Labels: pr-improvement

#66097 Avoid using source directory for generated files
  contrib/aws-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#66030 Move experimental settings to the experimental block
  src/Core/Settings.h
Labels: pr-not-for-changelog

#66146 Fix issue in SumIfToCountIfVisitor and signed integers
  src/Analyzer/Passes/SumIfToCountIfPass.cpp
  tests/queries/0_stateless/03201_sumIf_to_countIf_return_type.reference
  tests/queries/0_stateless/03201_sumIf_to_countIf_return_type.sql
Labels: pr-bugfix, pr-must-backport

#65453 Support for `cluster_for_parallel_replicas` when using custom key parallel replicas
  src/Client/HedgedConnections.cpp
  src/Client/MultiplexedConnections.cpp
  src/Client/MultiplexedConnections.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/ClusterProxy/executeQuery.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Planner/PlannerJoinTree.cpp
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_parallel_replicas_custom_key/test.py
  tests/integration/test_parallel_replicas_custom_key_failover/test.py
  tests/queries/0_stateless/02535_max_parallel_replicas_custom_key.reference
  tests/queries/0_stateless/02535_max_parallel_replicas_custom_key.sh
  tests/queries/0_stateless/02535_max_parallel_replicas_custom_key_mt.reference
  tests/queries/0_stateless/02535_max_parallel_replicas_custom_key_mt.sh
  tests/queries/0_stateless/02535_max_parallel_replicas_custom_key_rmt.reference
  tests/queries/0_stateless/02535_max_parallel_replicas_custom_key_rmt.sh
Labels: pr-improvement

#66217 Update README.md
  README.md
Labels: pr-not-for-changelog

#66189 [Docs] add `normalizeQueryKeepNames`, `normalizedQueryHashKeepNames`
  docs/en/sql-reference/functions/string-functions.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#65640 Fix 02834_apache_arrow_abort flakiness with MSAN
  src/IO/ReadWriteBufferFromHTTP.cpp
  tests/queries/0_stateless/02834_apache_arrow_abort.sql
Labels: pr-not-for-changelog

#66175 [Docs] add missing aliases `minMappedArrays`, `maxMappedArrays`
  docs/en/sql-reference/aggregate-functions/reference/maxmap.md
  docs/en/sql-reference/aggregate-functions/reference/minmap.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#66120 Fix bugfix checker
  docker/test/stateless/run.sh
  tests/ci/download_release_packages.py
  tests/ci/functional_test_check.py
  tests/ci/integration_test_check.py
  tests/queries/0_stateless/00027_argMinMax.sql
Labels: pr-not-for-changelog

#66166 [Docs] add `initCap` examples
  docs/en/sql-reference/functions/string-functions.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#66229 Update settings.md / note about max_query_size and query settings
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#66067 Move some of HTTPHandler stuff to separate source files in order to reuse it in PrometheusRequestHandler
  base/poco/Net/include/Poco/Net/NameValueCollection.h
  base/poco/Net/src/NameValueCollection.cpp
  src/Interpreters/Access/InterpreterSetRoleQuery.cpp
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Server/HTTP/authenticateUserByHTTP.cpp
  src/Server/HTTP/authenticateUserByHTTP.h
  src/Server/HTTP/exceptionCodeToHTTPStatus.cpp
  src/Server/HTTP/exceptionCodeToHTTPStatus.h
  src/Server/HTTP/sendExceptionToHTTPClient.cpp
  src/Server/HTTP/sendExceptionToHTTPClient.h
  src/Server/HTTP/setReadOnlyIfHTTPMethodIdempotent.cpp
  src/Server/HTTP/setReadOnlyIfHTTPMethodIdempotent.h
  src/Server/HTTPHandler.cpp
  src/Server/HTTPHandler.h
Labels: pr-not-for-changelog

#66185 Speed up `replaceRegexp(All|One)` if the pattern is trivial
  docs/en/sql-reference/functions/string-replace-functions.md
  src/Functions/ReplaceRegexpImpl.h
  tests/performance/replaceRegexp_fallback.xml
  tests/queries/0_stateless/02864_replace_regexp_string_fallback.reference
  tests/queries/0_stateless/02864_replace_regexp_string_fallback.sql
Labels: pr-performance

#66138 Finalize MergedBlockOutputStream in dtor
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
Labels: pr-not-for-changelog

#66147 Playing minesweeper with build system
  contrib/libpq-cmake/CMakeLists.txt
  src/Common/examples/CMakeLists.txt
  src/IO/examples/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#54649 Fixed crash in MaterializedMySQL while using override + null field
  src/Databases/MySQL/MaterializedMySQLSyncThread.cpp
Labels: pr-bugfix, can be tested, pr-status-⏳

#66025 Support ORC file read by writer time zone
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.cpp
  tests/queries/0_stateless/03198_orc_read_time_zone.reference
  tests/queries/0_stateless/03198_orc_read_time_zone.sh
  tests/queries/0_stateless/data_orc/test_reader_time_zone.snappy.orc
Labels: pr-improvement, can be tested

#66248 Fix test `00504_mergetree_arrays_rw.sql`
  tests/queries/0_stateless/00504_mergetree_arrays_rw.sql
Labels: pr-ci

#64607 Use buffering while reading in order in queries with `WHERE`
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Processors/QueryPlan/BufferChunksTransform.cpp
  src/Processors/QueryPlan/BufferChunksTransform.h
  src/Processors/QueryPlan/Optimizations/optimizeReadInOrder.cpp
  src/Processors/QueryPlan/SortingStep.cpp
  src/Processors/QueryPlan/SortingStep.h
  tests/queries/0_stateless/03168_read_in_order_buffering_1.reference
  tests/queries/0_stateless/03168_read_in_order_buffering_1.sql
  tests/queries/0_stateless/03168_read_in_order_buffering_2.reference
  tests/queries/0_stateless/03168_read_in_order_buffering_2.sql
Labels: pr-performance

#66230 fix peak_threads_usage
  src/Interpreters/ThreadStatusExt.cpp
Labels: pr-not-for-changelog

#65919 PostgreSQL source cancel query comments
  src/Processors/Sources/PostgreSQLSource.cpp
Labels: pr-not-for-changelog, can be tested

#54881 Extend function tuple to return named tuple and add function tupleNames
  docs/en/sql-reference/functions/tuple-functions.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Functions/tuple.cpp
  src/Functions/tuple.h
  src/Functions/tupleNames.cpp
  src/Parsers/isUnquotedIdentifier.cpp
  src/Parsers/isUnquotedIdentifier.h
  src/Processors/Formats/Impl/ConstantExpressionTemplate.cpp
  tests/queries/0_stateless/00307_format_xml.sql
  tests/queries/0_stateless/00309_formats.sql
  tests/queries/0_stateless/01144_multiword_data_types.sql
  tests/queries/0_stateless/01232_untuple.reference
  tests/queries/0_stateless/01232_untuple.sql
  tests/queries/0_stateless/02294_nothing_arguments_in_functions.sql
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02541_tuple_element_with_null.sql
  tests/queries/0_stateless/02890_named_tuple_functions.reference
  tests/queries/0_stateless/02890_named_tuple_functions.sql
  tests/queries/0_stateless/02890_untuple_column_names.reference
  tests/queries/0_stateless/02890_untuple_column_names.sql
  tests/queries/0_stateless/03038_nested_dynamic_merges.sh
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#66218 Don't throw TIMEOUT_EXCEEDED for none_only_active
  src/Interpreters/executeDDLQueryOnCluster.cpp
  tests/queries/0_stateless/02447_drop_database_replica.reference
  tests/queries/0_stateless/02447_drop_database_replica.sh
Labels: pr-bugfix, pr-must-backport

#65840 [arrayAUC] Fix tie handling issue
  src/Functions/array/arrayAUC.cpp
  tests/queries/0_stateless/01202_array_auc_special.reference
  tests/queries/0_stateless/03199_fix_auc_tie_handling.reference
  tests/queries/0_stateless/03199_fix_auc_tie_handling.sql
Labels: pr-bugfix, manual approve, can be tested

#66019 Implicitly append wildcard if querying directory in file engine
  docs/en/sql-reference/table-functions/file.md
  src/Storages/StorageFile.cpp
  tests/queries/0_stateless/03198_table_function_directory_path.reference
  tests/queries/0_stateless/03198_table_function_directory_path.sql
Labels: pr-feature, can be tested

#66283 Update opentelemetry.md
  docs/en/operations/opentelemetry.md
Labels: pr-documentation

#66073 Minor JWT client fixes
  programs/client/Client.cpp
  src/Core/Protocol.h
Labels: pr-not-for-changelog

#65835 Better handling of join conditions involving IS NULL checks
  src/Analyzer/Passes/LogicalExpressionOptimizerPass.cpp
  src/Analyzer/QueryTreeBuilder.cpp
  src/Parsers/ASTFunction.cpp
  src/Parsers/ASTTablesInSelectQuery.cpp
  src/Planner/PlannerJoins.cpp
  tests/queries/0_stateless/01881_join_on_conditions_hash.sql.j2
  tests/queries/0_stateless/01881_join_on_conditions_merge.sql.j2
  tests/queries/0_stateless/02911_join_on_nullsafe_optimization.reference
  tests/queries/0_stateless/02911_join_on_nullsafe_optimization.sql
Labels: pr-bugfix, pr-must-backport

#65186 Stateless tests: Improve tests speed
  docker/test/fasttest/run.sh
  docker/test/stateless/run.sh
  tests/ci/ci_config.py
  tests/clickhouse-test
  tests/config/install.sh
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
  tests/queries/shell_config.sh
Labels: pr-build, can be tested

#65417 Dodging reading from wrong table with parallel replicas
  src/Planner/PlannerJoinTree.cpp
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.cpp
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/03173_parallel_replicas_join_bug.reference
  tests/queries/0_stateless/03173_parallel_replicas_join_bug.sh
Labels: pr-not-for-changelog

#66293 Miscellaneous changes for LLVM 18
  base/base/demangle.h
  base/base/extended_types.h
  base/base/isSharedPtrUnique.h
  base/poco/Foundation/include/Poco/Format.h
  base/poco/Foundation/include/Poco/RefCountedObject.h
  base/poco/Foundation/src/Format.cpp
  base/poco/MongoDB/src/ObjectId.cpp
  base/poco/MongoDB/src/OpMsgCursor.cpp
  base/poco/Net/src/HTTPMessage.cpp
  src/Backups/BackupOperationInfo.h
  src/Common/AtomicLogger.h
  src/Common/ConcurrencyControl.h
  src/Common/RemoteHostFilter.h
  src/Coordination/Changelog.h
  src/Coordination/FourLetterCommand.h
  src/Databases/DatabaseAtomic.cpp
  src/Databases/DatabaseLazy.cpp
  src/Databases/MySQL/DatabaseMySQL.cpp
  src/Functions/FunctionsBitToArray.cpp
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/Cache/Metadata.h
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/ExternalLoader.h
  src/Interpreters/Session.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#66304 Fix `test_zookeeper_config_load_balancing/test.py::test_az`
  tests/integration/parallel_skip.json
Labels: pr-not-for-changelog

#66232 Add settings to control connection to PostgreSQL
  docs/en/operations/settings/settings.md
  src/Core/PostgreSQL/PoolWithFailover.cpp
  src/Core/PostgreSQL/PoolWithFailover.h
  src/Core/PostgreSQL/Utils.cpp
  src/Core/PostgreSQL/Utils.h
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Databases/PostgreSQL/DatabaseMaterializedPostgreSQL.cpp
  src/Databases/PostgreSQL/DatabasePostgreSQL.cpp
  src/Dictionaries/PostgreSQLDictionarySource.cpp
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
  src/Storages/StorageExternalDistributed.cpp
  src/Storages/StoragePostgreSQL.cpp
  src/TableFunctions/TableFunctionPostgreSQL.cpp
Labels: pr-improvement

#65980 Add missing settings in schema inference cache
  src/Formats/EscapingRuleUtils.cpp
  src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  tests/queries/0_stateless/03198_settings_in_csv_tsv_schema_cache.reference
  tests/queries/0_stateless/03198_settings_in_csv_tsv_schema_cache.sh
Labels: pr-bugfix, pr-must-backport

#66317 Clarify ordered mode description for s3Queue
  docs/en/engines/table-engines/integrations/s3queue.md
Labels: pr-documentation

#66276 CI: Do not finalize CI running status unless all success
  .github/workflows/pull_request.yml
Labels: pr-not-for-changelog

#66124 Correctly print long processing requests in Keeper
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperDispatcher.h
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/KeeperStorage.h
  src/Server/KeeperTCPHandler.cpp
  src/Server/KeeperTCPHandler.h
Labels: pr-not-for-changelog

#66309 Remove typo from distinctive-features.md
  docs/ru/introduction/distinctive-features.md
Labels: pr-documentation, can be tested

#66192 [Docs] update `singleValueOrNull`
  docs/en/sql-reference/aggregate-functions/reference/singlevalueornull.md
Labels: pr-documentation, can be tested

#66239 Reduce inaccuracy of input_wait_elapsed_us/input_wait_elapsed_us/elapsed_us
  src/Interpreters/ProcessorsProfileLog.h
  src/Interpreters/executeQuery.cpp
  src/Processors/Executors/ExecutingGraph.cpp
  src/Processors/Executors/ExecutionThreadContext.cpp
  src/Processors/IProcessor.h
Labels: pr-improvement

#66261 Fixing Not-ready set in constraint.
  src/Processors/Transforms/CheckConstraintsTransform.cpp
  src/Processors/Transforms/CheckConstraintsTransform.h
  src/Storages/System/StorageSystemDetachedParts.cpp
  src/Storages/System/StorageSystemPartsBase.cpp
  src/Storages/VirtualColumnUtils.cpp
  src/Storages/VirtualColumnUtils.h
  tests/queries/0_stateless/02841_not_ready_set_constraints.reference
  tests/queries/0_stateless/02841_not_ready_set_constraints.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#64553 Collect hash table sizes statistics in ConcurrentHashJoin
  src/Common/ProfileEvents.cpp
  src/Core/ServerSettings.h
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  src/Interpreters/ConcurrentHashJoin.cpp
  src/Interpreters/ConcurrentHashJoin.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/HashTablesStatistics.cpp
  src/Interpreters/HashTablesStatistics.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Planner/Planner.cpp
  src/Planner/PlannerJoins.cpp
  tests/queries/0_stateless/02151_hash_table_sizes_stats_joins.reference
  tests/queries/0_stateless/02151_hash_table_sizes_stats_joins.sh
Labels: pr-performance

#66065 DatabaseCatalog drops tables faster
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Interpreters/InterpreterUndropQuery.cpp
Labels: pr-improvement, pr-must-backport-cloud

#66289 Log message: Failed to connect to replica ...
  src/Client/ConnectionEstablisher.cpp
  src/Client/HedgedConnectionsFactory.cpp
  src/Common/PoolWithFailoverBase.h
  src/QueryPipeline/RemoteQueryExecutor.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#66162 Use peak_threads_usage instead of arrayUniq(thread_ids) in tests
  tests/queries/0_stateless/01275_parallel_mv.reference
  tests/queries/0_stateless/01275_parallel_mv.sql.j2
  tests/queries/0_stateless/01323_too_many_threads_bug.sql
  tests/queries/0_stateless/02350_views_max_insert_threads.sql
Labels: pr-not-for-changelog

#66348 Update kill.md
  docs/en/sql-reference/statements/kill.md
Labels: pr-documentation

#65335 support set transformation in partition pruning
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/KeyCondition.h
  tests/queries/0_stateless/03173_set_transformed_partition_pruning.reference
  tests/queries/0_stateless/03173_set_transformed_partition_pruning.sql
Labels: pr-improvement, can be tested

#65687 Introduce type contract checks in `IColumn`
  src/Columns/ColumnAggregateFunction.cpp
  src/Columns/ColumnAggregateFunction.h
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnArray.h
  src/Columns/ColumnCompressed.h
  src/Columns/ColumnConst.h
  src/Columns/ColumnDecimal.cpp
  src/Columns/ColumnDecimal.h
  src/Columns/ColumnDynamic.cpp
  src/Columns/ColumnDynamic.h
  src/Columns/ColumnFixedString.cpp
  src/Columns/ColumnFixedString.h
  src/Columns/ColumnFunction.cpp
  src/Columns/ColumnFunction.h
  src/Columns/ColumnLowCardinality.cpp
  src/Columns/ColumnLowCardinality.h
  src/Columns/ColumnMap.cpp
  src/Columns/ColumnMap.h
  src/Columns/ColumnNullable.cpp
  src/Columns/ColumnNullable.h
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnObject.h
  src/Columns/ColumnSparse.cpp
  src/Columns/ColumnSparse.h
  src/Columns/ColumnString.cpp
  src/Columns/ColumnString.h
  src/Columns/ColumnTuple.cpp
  src/Columns/ColumnTuple.h
  src/Columns/ColumnUnique.h
  src/Columns/ColumnVariant.cpp
  src/Columns/ColumnVariant.h
  src/Columns/ColumnVector.cpp
  src/Columns/ColumnVector.h
  src/Columns/IColumn.cpp
  src/Columns/IColumn.h
  src/Columns/IColumnDummy.h
  src/Columns/IColumnUnique.h
  src/Columns/benchmarks/benchmark_column_insert_many_from.cpp
Labels: pr-not-for-changelog

#66051 Update json.md
  docs/en/sql-reference/data-types/json.md
Labels: pr-documentation, can be tested

#66342 Fix invalid XML
  tests/performance/replaceRegexp_fallback.xml
Labels: pr-not-for-changelog

#66363 Stateless tests: Improve tests speed 3
  docker/test/stateless/run.sh
  tests/clickhouse-test
  tests/queries/0_stateless/02240_tskv_schema_inference_bug.sh
Labels: pr-build, can be tested

#66349 Fix test_parallel_replicas_custom_key
  tests/integration/test_parallel_replicas_custom_key/test.py
Labels: pr-not-for-changelog

#66310 Disable broken cases from 02911_join_on_nullsafe_optimization
  tests/queries/0_stateless/02911_join_on_nullsafe_optimization.reference
  tests/queries/0_stateless/02911_join_on_nullsafe_optimization.sql
Labels: pr-not-for-changelog, pr-must-backport

#66346 Fix possible deadlock for jemalloc with enabled profiler
  contrib/jemalloc-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#66281 Collect core dumps in more tests
  docker/test/stateful/run.sh
  docker/test/stateless/run.sh
  docker/test/stateless/stress_tests.lib
  docker/test/stateless/utils.lib
  docker/test/stress/run.sh
  tests/ci/functional_test_check.py
  tests/queries/0_stateless/01268_procfs_metrics.sh
Labels: pr-not-for-changelog
