Repository ClickHouse/ClickHouse, pull requests merged in 2024-10, with the labels that each got.

#70152 Optimize system logs
  src/Interpreters/FilesystemCacheLog.cpp
  src/Interpreters/PartLog.cpp
  src/Interpreters/QueryViewsLog.cpp
Labels: pr-performance

#70130 Rename `getNumberOfPhysicalCPUCores` and fix its decription
  programs/server/Server.cpp
  src/Client/ClientBase.cpp
  src/Common/AsyncLoader.cpp
  src/Common/ThreadPool.cpp
  src/Common/getNumberOfCPUCoresToUse.cpp
  src/Common/getNumberOfCPUCoresToUse.h
  src/Common/getNumberOfPhysicalCPUCores.h
  src/Coordination/KeeperServer.cpp
  src/Core/SettingsFields.cpp
  src/Core/SettingsQuirks.cpp
  src/Daemon/SentryWriter.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Storages/FileLog/StorageFileLog.cpp
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/StorageKafka2.cpp
  src/Storages/Kafka/StorageKafkaUtils.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeIndexVectorSimilarity.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueTableMetadata.cpp
Labels: pr-not-for-changelog

#70151 Add database to Exists Docs
  docs/en/sql-reference/statements/exists.md
Labels: pr-documentation, can be tested

#70036 Fix timezone bug with a date arguments in the `toStartOfInterval`
  src/Functions/toStartOfInterval.cpp
  tests/queries/0_stateless/03246_toStartOfInterval_date_timezone_bug.reference
  tests/queries/0_stateless/03246_toStartOfInterval_date_timezone_bug.sql
Labels: pr-bugfix

#70124 Better check for join expression type in JoinNode
  src/Analyzer/JoinNode.cpp
  src/Analyzer/JoinNode.h
  src/Analyzer/QueryTreeBuilder.cpp
  tests/queries/0_stateless/03246_join_on_asterisk.reference
  tests/queries/0_stateless/03246_join_on_asterisk.sql
Labels: pr-bugfix, analyzer

#70122 Fix wrong LOGICAL_ERROR when replacing literals in ranges
  src/Processors/Formats/Impl/ConstantExpressionTemplate.cpp
  tests/queries/0_stateless/03246_range_literal_replacement_works.reference
  tests/queries/0_stateless/03246_range_literal_replacement_works.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#69676 fix bug about `CREATE ... AS WITH RECURSIVE`
  src/Interpreters/AddDefaultDatabaseVisitor.h
  tests/queries/0_stateless/03237_create_table_select_as_with_recursive.reference
  tests/queries/0_stateless/03237_create_table_select_as_with_recursive.sql
Labels: pr-bugfix

#70153 Fix: WriteBufferFromPocoSocket does not properly register all write events.
  src/IO/WriteBufferFromPocoSocket.cpp
Labels: pr-bugfix

#70142 Silence UBSAN for integer overflows in some datetime functions
  src/Functions/DateTimeTransforms.h
  tests/queries/0_stateless/02477_age_date32.reference
  tests/queries/0_stateless/02477_age_date32.sql
Labels: pr-not-for-changelog

#70006 Handle empty chunks properly
  src/Server/TCPHandler.cpp
Labels: pr-backport

#70127 Fix wrong result with skipping index
  src/Storages/MergeTree/MergeTreeIndexSet.cpp
  tests/queries/0_stateless/03246_skipping_index_70108.reference
  tests/queries/0_stateless/03246_skipping_index_70108.sh
  tests/queries/0_stateless/data_i70108/repro.tsv.zstd
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#70148 Fix bcrypt password being displayed in system.query_log
  src/Parsers/Access/ASTAuthenticationData.cpp
  tests/queries/0_stateless/01292_create_user.reference
  tests/queries/0_stateless/01292_create_user.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#70209 Remove references of avgWeighted(Decimal) from the docs
  docs/en/sql-reference/aggregate-functions/reference/avgweighted.md
  docs/zh/sql-reference/aggregate-functions/reference/avgweighted.md
Labels: pr-documentation

#70147 Fix Dynamic type creation of JSON subcolumn
  src/DataTypes/DataTypeObject.cpp
  tests/queries/0_stateless/03246_json_subcolumn_correct_type.reference
  tests/queries/0_stateless/03246_json_subcolumn_correct_type.sql
Labels: pr-bugfix, v24.8-must-backport, v24.9-must-backport

#70123 Check for Nullable(Nothing) type during ALTER TABLE MODIFY COLUMN/QUERY
  src/Storages/AlterCommands.cpp
  src/Storages/StorageFactory.cpp
  src/Storages/StorageFactory.h
  src/Storages/StorageMaterializedView.cpp
  tests/queries/0_stateless/03243_check_for_nullable_nothing_in_alter.reference
  tests/queries/0_stateless/03243_check_for_nullable_nothing_in_alter.sql
Labels: pr-bugfix, pr-must-backport

#70159 Update test_storage_s3_queue/test.py
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-not-for-changelog

#70196 Update 01079_parallel_alter_add_drop_column_zookeeper.sh
  tests/queries/0_stateless/01079_parallel_alter_add_drop_column_zookeeper.sh
  tests/queries/0_stateless/mergetree_mutations.lib
Labels: pr-not-for-changelog

#70144 Fix possible hung in ALTER COLUMN with Dynamic type
  src/Interpreters/MutationsInterpreter.cpp
  tests/queries/0_stateless/03246_alter_update_dynamic_hung.reference
  tests/queries/0_stateless/03246_alter_update_dynamic_hung.sql
Labels: pr-bugfix, v24.8-must-backport, v24.9-must-backport

#70149 Fix 'QueryPlan was not initialized' in 'loop' with empty MergeTree
  src/Processors/QueryPlan/ReadFromLoopStep.cpp
  tests/queries/0_stateless/03147_table_function_loop.sql
Labels: pr-not-for-changelog

#70197 Require bugfix job for a set of labels
  tests/ci/ci.py
  tests/ci/ci_config.py
  tests/ci/ci_definitions.py
  tests/ci/ci_settings.py
  tests/ci/test_ci_config.py
  tests/ci/test_ci_options.py
Labels: pr-ci

#69411 Add enable_secure_identifiers setting
  docs/en/operations/settings/settings.md
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/executeQuery.cpp
  src/Parsers/IAST.cpp
  src/Parsers/IAST.h
  tests/queries/0_stateless/03234_enable_secure_identifiers.reference
  tests/queries/0_stateless/03234_enable_secure_identifiers.sql
Labels: pr-improvement, can be tested

#70114 Fixed MaterializedPostgreSQL for subset of columns for several similar table names
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.cpp
  tests/integration/test_postgresql_replica_database_engine_2/test.py
Labels: pr-not-for-changelog, can be tested

#70218 Respect setting allow_simdjson in JSON type parser
  src/DataTypes/DataTypeObject.cpp
  tests/queries/0_stateless/03246_json_simd_rapid_parsers.reference
  tests/queries/0_stateless/03246_json_simd_rapid_parsers.sh
Labels: pr-bugfix, v24.8-must-backport, v24.9-must-backport

#70254 [Docs] Correct async_insert_use_adaptive_busy_timeout
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#70146 Upgrade integration-runner image
  docker/reqgenerator.py
  docker/test/integration/runner/Dockerfile
  docker/test/integration/runner/requirements.txt
  tests/integration/README.md
  tests/integration/compose/docker_compose_azurite.yml
  tests/integration/compose/docker_compose_cassandra.yml
  tests/integration/compose/docker_compose_clickhouse.yml
  tests/integration/compose/docker_compose_coredns.yml
  tests/integration/compose/docker_compose_dotnet_client.yml
  tests/integration/compose/docker_compose_hdfs.yml
  tests/integration/compose/docker_compose_hive.yml
  tests/integration/compose/docker_compose_jdbc_bridge.yml
  tests/integration/compose/docker_compose_kafka.yml
  tests/integration/compose/docker_compose_keeper.yml
  tests/integration/compose/docker_compose_kerberized_hdfs.yml
  tests/integration/compose/docker_compose_kerberized_kafka.yml
  tests/integration/compose/docker_compose_kerberos_kdc.yml
  tests/integration/compose/docker_compose_ldap.yml
  tests/integration/compose/docker_compose_minio.yml
  tests/integration/compose/docker_compose_mongo.yml
  tests/integration/compose/docker_compose_mysql.yml
  tests/integration/compose/docker_compose_mysql_8_0.yml
  tests/integration/compose/docker_compose_mysql_client.yml
  tests/integration/compose/docker_compose_mysql_cluster.yml
  tests/integration/compose/docker_compose_mysql_golang_client.yml
  tests/integration/compose/docker_compose_mysql_java_client.yml
  tests/integration/compose/docker_compose_mysql_js_client.yml
  tests/integration/compose/docker_compose_mysql_php_client.yml
  tests/integration/compose/docker_compose_nats.yml
  tests/integration/compose/docker_compose_net.yml
  tests/integration/compose/docker_compose_nginx.yml
  tests/integration/compose/docker_compose_postgres.yml
  tests/integration/compose/docker_compose_postgres_cluster.yml
  tests/integration/compose/docker_compose_postgresql.yml
  tests/integration/compose/docker_compose_postgresql_java_client.yml
  tests/integration/compose/docker_compose_prometheus.yml
  tests/integration/compose/docker_compose_rabbitmq.yml
  tests/integration/compose/docker_compose_redis.yml
  tests/integration/compose/docker_compose_zookeeper.yml
  tests/integration/compose/docker_compose_zookeeper_secure.yml
  tests/integration/conftest.py
  tests/integration/helpers/cluster.py
  tests/integration/helpers/keeper_utils.py
  tests/integration/helpers/retry_decorator.py
  tests/integration/runner
  tests/integration/test_dotnet_client/test.py
  tests/integration/test_keeper_s3_snapshot/test.py
  tests/integration/test_mysql_protocol/test.py
  tests/integration/test_read_only_table/test.py
  tests/integration/test_reload_zookeeper/test.py
  tests/integration/test_replicated_user_defined_functions/test.py
  tests/integration/test_replicated_users/test.py
  tests/integration/test_zookeeper_config_load_balancing/test.py
Labels: pr-ci

#70255 Improve currentDatabase function usage
  docs/en/sql-reference/functions/other-functions.md
Labels: pr-documentation, can be tested

#69780 Remove unused buggy code
  src/AggregateFunctions/UniquesHashSet.h
  src/Common/CombinedCardinalityEstimator.h
  src/Common/HashTable/FixedHashSet.h
  src/Common/HashTable/HashSet.h
  src/Common/HyperLogLogCounter.h
  src/Common/HyperLogLogWithSmallSetOptimization.h
Labels: pr-not-for-changelog

#70220 Improve toISOYear function usage
  docs/en/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#70221 Improve toIPv4OrDefault function usage
  docs/en/sql-reference/functions/ip-address-functions.md
Labels: pr-documentation, can be tested

#69755 Add user-level settings min_free_diskspace_bytes_to_throw_insert and min_free_diskspace_ratio_to_throw_insert
  docs/en/operations/settings/merge-tree-settings.md
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
  tests/integration/test_stop_insert_when_disk_close_to_full/__init__.py
  tests/integration/test_stop_insert_when_disk_close_to_full/configs/config.d/storage_configuration.xml
  tests/integration/test_stop_insert_when_disk_close_to_full/test.py
Labels: pr-improvement, can be tested

#69875 Better performance of parsing with a lot of missing values
  src/Core/BlockInfo.cpp
  src/Core/BlockInfo.h
  src/Core/BlockMissingValues.cpp
  src/Core/BlockMissingValues.h
  src/Formats/NativeReader.h
  src/Formats/insertNullAsDefaultIfNeeded.h
  src/Processors/Chunk.cpp
  src/Processors/Chunk.h
  src/Processors/Formats/IInputFormat.h
  src/Processors/Formats/IRowInputFormat.cpp
  src/Processors/Formats/IRowInputFormat.h
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ArrowBlockInputFormat.h
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.h
  src/Processors/Formats/Impl/JSONColumnsBlockInputFormatBase.cpp
  src/Processors/Formats/Impl/JSONColumnsBlockInputFormatBase.h
  src/Processors/Formats/Impl/NativeFormat.cpp
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.h
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/ORCBlockInputFormat.h
  src/Processors/Formats/Impl/ParallelParsingInputFormat.cpp
  src/Processors/Formats/Impl/ParallelParsingInputFormat.h
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  src/Processors/Formats/Impl/ValuesBlockInputFormat.h
  src/Processors/Transforms/AddingDefaultsTransform.cpp
Labels: pr-performance

#69586 Make a test ready for flaky check
  tests/integration/test_replicated_database/test.py
Labels: pr-not-for-changelog

#70175 Fix performance checks
  src/Coordination/KeeperContext.cpp
  tests/performance/scripts/compare.sh
Labels: pr-not-for-changelog, pr-performance-tests

#70275 Keeper improvement: less blocking during cluster changes
  src/Coordination/CoordinationSettings.h
  src/Coordination/KeeperServer.cpp
  tests/integration/test_keeper_nodes_move/configs/enable_keeper1.xml
  tests/integration/test_keeper_nodes_move/configs/enable_keeper2.xml
  tests/integration/test_keeper_nodes_move/configs/enable_keeper3.xml
  tests/integration/test_keeper_nodes_move/configs/enable_keeper_node4_1.xml
  tests/integration/test_keeper_nodes_move/configs/enable_keeper_node4_2.xml
  tests/integration/test_keeper_nodes_move/configs/enable_keeper_node4_4.xml
Labels: pr-improvement

#70272 Fair tests balancing for integration tests
  pyproject.toml
  tests/ci/integration_tests_runner.py
  tests/integration/helpers/cluster.py
  tests/integration/helpers/keeper_utils.py
  tests/integration/test_mysql_protocol/test.py
  tests/integration/test_read_only_table/test.py
  tests/integration/test_reload_zookeeper/test.py
  tests/integration/test_remove_stale_moving_parts/test.py
  tests/integration/test_replicated_user_defined_functions/test.py
  tests/integration/test_replicated_users/test.py
Labels: pr-ci

#69845 Fix WITH FILL with NaN keys
  src/Interpreters/FillingRow.cpp
  tests/queries/0_stateless/03239_nan_with_fill.reference
  tests/queries/0_stateless/03239_nan_with_fill.sql
Labels: pr-bugfix

#69878 Fix test `01278_random_string_utf8`
  tests/queries/0_stateless/01278_random_string_utf8.reference
  tests/queries/0_stateless/01278_random_string_utf8.sql
  tests/queries/0_stateless/03243_lower_utf8_msan.reference
  tests/queries/0_stateless/03243_lower_utf8_msan.sql
Labels: pr-not-for-changelog

#70225 [Docs] Improve clarity on MATERIALIZE COLUMN docs
  docs/en/sql-reference/statements/alter/column.md
Labels: pr-documentation

#70086 Remove unused placeholder from exception message string
  src/Access/AccessControl.cpp
Labels: pr-not-for-changelog, can be tested

#69739 CREATE TABLE AS copy PRIMARY KEY, ORDER BY, and similar clauses.
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/queries/0_stateless/01056_create_table_as_with_sorting_clauses.reference
  tests/queries/0_stateless/01056_create_table_as_with_sorting_clauses.sql
Labels: pr-improvement, can be tested

#70141 Refactor reading from object storage
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/HDFS/HDFSObjectStorage.cpp
  src/Disks/ObjectStorages/HDFS/HDFSObjectStorage.h
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/Local/LocalObjectStorage.cpp
  src/Disks/ObjectStorages/Local/LocalObjectStorage.h
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
  src/Disks/ObjectStorages/Web/WebObjectStorage.cpp
  src/Disks/ObjectStorages/Web/WebObjectStorage.h
  src/IO/ReadSettings.h
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-not-for-changelog

#70207 Fix multiple issues with arrayMin and arrayMax
  src/Functions/array/arrayAggregation.cpp
  tests/queries/0_stateless/03247_generic_arrayMin_arrayMax_fixes.reference
  tests/queries/0_stateless/03247_generic_arrayMin_arrayMax_fixes.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#70257 Avoid `Cannot schedule a task` error when loading parts
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/PartMetadataManagerOrdinary.cpp
Labels: pr-not-for-changelog

#70294 CI: Remove await feature from release branches
  tests/ci/ci.py
Labels: pr-not-for-changelog, v24.8-must-backport, v24.9-must-backport

#70298 Fix `test_keeper_four_word_command`
  tests/integration/test_keeper_four_word_command/test.py
Labels: pr-not-for-changelog

#70264 Fix segfault on creating materialized view with intersect
  src/Storages/SelectQueryDescription.cpp
  tests/queries/0_stateless/03247_materialized_view_select_intersect.reference
  tests/queries/0_stateless/03247_materialized_view_select_intersect.sql
Labels: pr-critical-bugfix

#69067 Better exception for unsupported full_text index with non-full parts
  src/Storages/MergeTree/GinIndexStore.cpp
Labels: pr-not-for-changelog

#70325 Fix test distributed inter server secret in 24.3
  tests/integration/test_distributed_inter_server_secret/test.py
Labels: pr-backport

#70145 Add more retryable errors to MergeTree data parts check and Filesystem cache
  src/Interpreters/Cache/Metadata.cpp
  src/Storages/MergeTree/checkDataPart.cpp
Labels: pr-bugfix

#70326 Update view.md
  docs/en/sql-reference/statements/create/view.md
Labels: pr-documentation

#70310 Fix context for startup scripts
  programs/server/Server.cpp
  tests/integration/test_startup_scripts/configs/config.d/startup_scripts.xml
  tests/integration/test_startup_scripts/test.py
Labels: pr-bugfix, pr-must-backport

#70333 Fix flaky test `03237_insert_sparse_columns_mem`
  tests/queries/0_stateless/03237_insert_sparse_columns_mem.sh
Labels: pr-ci

#70350 Don't fail the stateless check script if we can't collect minio logs
  tests/docker_scripts/stateless_runner.sh
  tests/output.txt
  tests/result
Labels: pr-not-for-changelog

#70336 Maybe fix RabbitMQ
  docker/test/integration/runner/misc/rabbitmq/enabled_plugins
  docker/test/integration/runner/misc/rabbitmq/rabbitmq.conf
  tests/integration/compose/docker_compose_rabbitmq.yml
  tests/integration/helpers/cluster.py
Labels: manual approve, can be tested, pr-ci

#70327 Add Ignore Option In DeduplicateMergeProjectionMode
  docs/en/operations/settings/merge-tree-settings.md
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/03206_projection_merge_special_mergetree.sql
  tests/queries/0_stateless/03206_projection_merge_special_mergetree_ignore.reference
  tests/queries/0_stateless/03206_projection_merge_special_mergetree_ignore.sql
Labels: pr-not-for-changelog, can be tested

#70101 Make vector similarity indexes work with adaptive granularity
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeIndexGranularity.cpp
  src/Storages/MergeTree/MergeTreeIndexGranularity.h
  src/Storages/MergeTree/MergeTreeIndexVectorSimilarity.cpp
  src/Storages/MergeTree/MergeTreeIndexVectorSimilarity.h
  src/Storages/MergeTree/MergeTreeIndices.h
  src/Storages/MergeTree/MergeTreeReadTask.cpp
  src/Storages/MergeTree/VectorSimilarityCondition.cpp
  src/Storages/MergeTree/VectorSimilarityCondition.h
  tests/queries/0_stateless/02354_vector_search_queries.reference
Labels: pr-not-for-changelog

#70273 Fix use-of-uinitialized-value
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#70338 Fix crash when using WITH FILL incorrectly
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  tests/queries/0_stateless/03248_with_fill_string_crash.reference
  tests/queries/0_stateless/03248_with_fill_string_crash.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#70352 fix Kafka test
  tests/integration/test_storage_kafka/test.py
Labels: pr-must-backport, can be tested, pr-ci

#70329 CI: Enable Integration Tests for backport PRs
  .github/actionlint.yml
  .github/workflows/backport_branches.yml
  .github/workflows/release_branches.yml
Labels: pr-not-for-changelog, pr-must-backport

#70176 Simplify test 03246_range_literal_replacement_works
  tests/queries/0_stateless/03246_range_literal_replacement_works.reference
  tests/queries/0_stateless/03246_range_literal_replacement_works.sql
Labels: pr-not-for-changelog

#58408 Fix type mismatch issue in sumMapFiltered
  src/AggregateFunctions/AggregateFunctionSumMap.cpp
  tests/queries/0_stateless/02961_sumMapFiltered_keepKey.reference
  tests/queries/0_stateless/02961_sumMapFiltered_keepKey.sql
Labels: pr-improvement, can be tested

#70361 Update grant.md: Complete list of SOURCES grants
  docs/en/sql-reference/statements/grant.md
Labels: pr-documentation

#70354 Fix `MODIFY COLUMN MODIFY SETTINGS` crash for special columns
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/03093_special_column_errors.sql
Labels: pr-not-for-changelog, pr-must-backport

#63689 An option for clickhouse-client to show realtime table with metrics
  docs/en/interfaces/cli.md
  programs/client/Client.cpp
  programs/local/LocalServer.cpp
  src/Client/ClientApplicationBase.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  src/Client/ProgressTable.cpp
  src/Client/ProgressTable.h
  src/Client/TerminalKeystrokeInterceptor.cpp
  src/Client/TerminalKeystrokeInterceptor.h
  src/Common/ProfileEvents.cpp
  src/Common/ProfileEvents.h
  src/Common/formatReadable.cpp
  src/Common/formatReadable.h
  tests/ci/stress.py
  tests/queries/0_stateless/01179_insert_values_semicolon.expect
  tests/queries/0_stateless/01180_client_syntax_errors.expect
  tests/queries/0_stateless/01293_client_interactive_vertical_multiline.expect
  tests/queries/0_stateless/01293_client_interactive_vertical_singleline.expect
  tests/queries/0_stateless/01300_client_save_history_when_terminated_long.expect
  tests/queries/0_stateless/01520_client_print_query_id.expect
  tests/queries/0_stateless/01565_query_loop_after_client_error.expect
  tests/queries/0_stateless/01755_client_highlight_multi_line_comment_regression.expect
  tests/queries/0_stateless/01945_show_debug_warning.expect
  tests/queries/0_stateless/02047_client_exception.expect
  tests/queries/0_stateless/02049_clickhouse_local_merge_tree.expect
  tests/queries/0_stateless/02105_backslash_letter_commands.expect
  tests/queries/0_stateless/02112_delayed_clickhouse_client_with_queries_file.expect
  tests/queries/0_stateless/02112_delayed_clickhouse_local.expect
  tests/queries/0_stateless/02112_delayed_clickhouse_local_with_queries_file.expect
  tests/queries/0_stateless/02116_interactive_hello.expect
  tests/queries/0_stateless/02132_client_history_navigation.expect
  tests/queries/0_stateless/02352_interactive_queries_from_file.expect
  tests/queries/0_stateless/02417_repeat_input_commands.expect
  tests/queries/0_stateless/02793_implicit_pretty_format_settings.expect
  tests/queries/0_stateless/02907_suggestions_readonly_user.expect
  tests/queries/0_stateless/02931_client_fuzzy_search_crash.expect
  tests/queries/0_stateless/03014_invalid_utf8_client.expect
  tests/queries/0_stateless/helpers/client.py
  utils/check-style/check-style
Labels: pr-feature, manual approve, can be tested

#70111 Change the default threshold to enable hyper threading
  src/Common/getNumberOfCPUCoresToUse.cpp
Labels: pr-not-for-changelog, can be tested

#69787 Fix 'Bad get' in maxMap state serialization
  src/AggregateFunctions/AggregateFunctionSumMap.cpp
  tests/queries/0_stateless/03237_max_map_state_decimal_serialization.reference
  tests/queries/0_stateless/03237_max_map_state_decimal_serialization.sql
Labels: pr-bugfix, v24.8-must-backport

#60669 Refreshable MV: DatabaseReplicated support, coordination among replicas
  docs/en/operations/system-tables/view_refreshes.md
  docs/en/sql-reference/statements/create/view.md
  docs/en/sql-reference/statements/system.md
  src/Analyzer/Resolve/IdentifierResolver.cpp
  src/Common/CalendarTimeInterval.h
  src/Common/StopToken.cpp
  src/Common/StopToken.h
  src/Core/Settings.cpp
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicatedWorker.cpp
  src/Databases/DatabaseReplicatedWorker.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/DDLTask.cpp
  src/Interpreters/DDLTask.h
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/DDLWorker.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/InterpreterSystemQuery.h
  src/Parsers/CreateQueryUUIDs.cpp
  src/Parsers/ParserTimeInterval.cpp
  src/Storages/MaterializedView/RefreshSchedule.cpp
  src/Storages/MaterializedView/RefreshSchedule.h
  src/Storages/MaterializedView/RefreshSet.cpp
  src/Storages/MaterializedView/RefreshSet.h
  src/Storages/MaterializedView/RefreshSettings.h
  src/Storages/MaterializedView/RefreshTask.cpp
  src/Storages/MaterializedView/RefreshTask.h
  src/Storages/MaterializedView/RefreshTask_fwd.h
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMaterializedView.h
  src/Storages/System/StorageSystemViewRefreshes.cpp
  tests/integration/test_refreshable_mv/__init__.py
  tests/integration/test_refreshable_mv/configs/config.xml
  tests/integration/test_refreshable_mv/configs/users.xml
  tests/integration/test_refreshable_mv/test.py
  tests/queries/0_stateless/02932_refreshable_materialized_views_1.reference
  tests/queries/0_stateless/02932_refreshable_materialized_views_1.sh
  tests/queries/0_stateless/02932_refreshable_materialized_views_2.reference
  tests/queries/0_stateless/02932_refreshable_materialized_views_2.sh
Labels: pr-improvement

#68694 Thread pool: move thread creation out of lock
  src/Common/AsyncLoader.cpp
  src/Common/ThreadPool.cpp
  src/Common/ThreadPool.h
Labels: pr-performance, can be tested

#70411 Empathy to Mac OS users
  CMakeLists.txt
  cmake/tools.cmake
Labels: pr-build

#70289 Make embedded documentation for Settings strictly better than the Markdown docs
  ci_v2/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/changelogs/v21.3.13.9-lts.md
  docs/changelogs/v21.5.7.9-stable.md
  docs/changelogs/v21.6.5.37-stable.md
  docs/changelogs/v21.7.1.7283-prestable.md
  docs/en/operations/settings/settings-formats.md
  docs/en/operations/settings/settings.md
  docs/en/sql-reference/functions/bit-functions.md
  docs/zh/sql-reference/functions/bit-functions.md
  src/Core/FormatFactorySettingsDeclaration.h
  src/Core/Settings.cpp
  utils/check-style/aspell-ignore/en/aspell-dict.txt
  utils/check-style/check-style
  utils/check-style/check-whitespaces
Labels: pr-improvement

#70328 Fix ALTER of Dynamic type with reducing max_types parameter
  src/Functions/FunctionsConversion.cpp
  tests/queries/0_stateless/03249_dynamic_alter_consistency.reference
  tests/queries/0_stateless/03249_dynamic_alter_consistency.sql
Labels: pr-bugfix, v24.8-must-backport, v24.9-must-backport

#70172 Fix crash in JSON column
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnObject.h
  tests/queries/0_stateless/03247_object_column_copy.reference
  tests/queries/0_stateless/03247_object_column_copy.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#69584 Fix inserting into FixedString column in PostgreSQL engine
  src/Core/PostgreSQL/insertPostgreSQLValue.cpp
  tests/integration/test_storage_postgresql/test.py
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#70423 Follow-up on clickhouse-client realtime metrics display #63689
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  src/Client/ProgressTable.cpp
  src/Client/TerminalKeystrokeInterceptor.cpp
  src/Client/TerminalKeystrokeInterceptor.h
Labels: pr-improvement, can be tested

#70357 Fix 02346_fulltext_index_bug52019
  tests/queries/0_stateless/02346_fulltext_index_bug52019.sql
Labels: pr-ci

#70444 Make QueryPlan explain methods const
  src/Planner/Utils.cpp
  src/Planner/Utils.h
  src/Processors/QueryPlan/QueryPlan.cpp
  src/Processors/QueryPlan/QueryPlan.h
Labels: pr-not-for-changelog

#70455 minor typo fix for example intersect SQL
  docs/en/sql-reference/statements/select/intersect.md
  docs/ru/sql-reference/statements/select/intersect.md
Labels: pr-documentation, can be tested

#70456 fix: fixed filename reference in documentation
  docs/en/operations/settings/settings-users.md
  docs/ru/operations/settings/settings-users.md
  docs/zh/operations/settings/settings-users.md
Labels: pr-documentation, can be tested

#70360 Update comments in VectorSimilarityCondition (WHERE is not supported)
  src/Storages/MergeTree/VectorSimilarityCondition.h
Labels: pr-not-for-changelog

#70293 `SHOW GRANTS WITH IMPLICIT`, fix error with implicit grants
  docs/en/sql-reference/statements/show.md
  docs/ru/sql-reference/statements/show.md
  docs/zh/sql-reference/statements/show.md
  src/Access/AccessRights.cpp
  src/Access/ContextAccess.cpp
  src/Access/ContextAccess.h
  src/Interpreters/Access/InterpreterShowGrantsQuery.cpp
  src/Interpreters/Access/InterpreterShowGrantsQuery.h
  src/Parsers/Access/ASTShowGrantsQuery.cpp
  src/Parsers/Access/ASTShowGrantsQuery.h
  src/Parsers/Access/ParserShowGrantsQuery.cpp
  src/Parsers/CommonParsers.h
  tests/queries/0_stateless/03247_show_grants_with_implicit.reference
  tests/queries/0_stateless/03247_show_grants_with_implicit.sh
Labels: pr-improvement

#70462 Fix flaky test_refreshable_mv_in_replicated_db
  tests/integration/test_refreshable_mv/test.py
Labels: pr-not-for-changelog

#70467 [Docs] Fix grammar and consistency
  docs/en/sql-reference/functions/date-time-functions.md
  docs/en/sql-reference/functions/ip-address-functions.md
  docs/en/sql-reference/functions/other-functions.md
Labels: pr-documentation

#70452 Don't prefetch parts with no rows
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  tests/queries/0_stateless/03250_avoid_prefetch_empty_parts.reference
  tests/queries/0_stateless/03250_avoid_prefetch_empty_parts.sql
Labels: pr-bugfix, pr-must-backport

#70473 Decrease probability of "Server died" due to 00913_many_threads
  tests/queries/0_stateless/00913_many_threads.sql
Labels: pr-not-for-changelog

#70453 Fix order in 03249_dynamic_alter_consistency
  tests/queries/0_stateless/03249_dynamic_alter_consistency.reference
  tests/queries/0_stateless/03249_dynamic_alter_consistency.sql
Labels: pr-not-for-changelog

#70422 Ignore "Invalid multibyte data detected" error during completion
  programs/bash-completion/completions/clickhouse-bootstrap
Labels: pr-not-for-changelog

#70374 Fix crash during GROUP BY JSON sub-object subcolumn
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnObject.h
  src/DataTypes/DataTypeObject.cpp
  tests/queries/0_stateless/03250_json_group_by_sub_object_subcolumn.reference
  tests/queries/0_stateless/03250_json_group_by_sub_object_subcolumn.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#70460 Fix refreshable MV in system database breaking server startup
  programs/server/Server.cpp
  src/Storages/MaterializedView/RefreshSet.cpp
  src/Storages/MaterializedView/RefreshSet.h
  src/Storages/MaterializedView/RefreshTask.cpp
  src/Storages/MaterializedView/RefreshTask.h
  tests/integration/helpers/cluster.py
  tests/integration/test_refreshable_mv/test.py
Labels: pr-not-for-changelog

#70499 [Docs] Added example in docs for setting user level memory restriction
  docs/en/operations/settings/query-complexity.md
Labels: pr-documentation, can be tested

#70416 [Docs] Update `ignore` documentation
  docs/en/sql-reference/functions/other-functions.md
Labels: pr-documentation, can be tested

#70419 [Docs] Document `currentSchemas` function
  docs/en/sql-reference/functions/other-functions.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#70421 [Docs] Updates `extract`, adds `extractGroups` documentation
  docs/en/sql-reference/functions/string-search-functions.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#70418 [Docs] update `connectionId` alias
  docs/en/sql-reference/functions/other-functions.md
Labels: pr-documentation, can be tested

#70288 Allow to read/write JSON type as binary string in RowBinary format
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings-formats.md
  src/Core/FormatFactorySettingsDeclaration.h
  src/Core/SettingsChangesHistory.cpp
  src/DataTypes/Serializations/SerializationJSON.cpp
  src/DataTypes/Serializations/SerializationJSON.h
  src/DataTypes/Serializations/SerializationObject.cpp
  src/DataTypes/Serializations/SerializationObject.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  tests/queries/0_stateless/03248_json_as_string_row_binary.reference
  tests/queries/0_stateless/03248_json_as_string_row_binary.sh
Labels: pr-feature

#70459 Command-line arguments with no value that are Bool settings should be implicitly set to true.
  src/Core/BaseSettingsProgramOptions.h
  tests/queries/0_stateless/03250_client_default_bool_cli_settings_with_no_value_to_true.reference
  tests/queries/0_stateless/03250_client_default_bool_cli_settings_with_no_value_to_true.sh
Labels: pr-improvement, can be tested

#68574 Validate create query after altering tables
  src/Databases/DatabaseMemory.cpp
  src/Databases/DatabaseOnDisk.cpp
  src/Databases/DatabaseOrdinary.cpp
  src/Databases/DatabaseReplicated.h
  src/Databases/DatabasesCommon.cpp
  src/Databases/DatabasesCommon.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterCreateQuery.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Storages/ColumnsDescription.cpp
  src/Storages/ColumnsDescription.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/00515_enhanced_time_zones.sql
  tests/queries/0_stateless/03224_invalid_alter.reference
  tests/queries/0_stateless/03224_invalid_alter.sql
Labels: pr-bugfix

#70445 Fix 0.1 second delay for interactive queries (due to keystroke interceptor)
  src/Client/TerminalKeystrokeInterceptor.cpp
Labels: pr-not-for-changelog

#70505 Use logging instead of print
  tests/integration/test_disk_configuration/test.py
Labels: pr-not-for-changelog

#70468 Update gui.md
  docs/en/interfaces/third-party/gui.md
  docs/ru/interfaces/third-party/gui.md
  docs/zh/interfaces/third-party/gui.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#70359 Use new JSON for collecting minio logs
  tests/docker_scripts/stateless_runner.sh
Labels: pr-not-for-changelog

#70535 Revert "Support CREATE OR REPLACE VIEW atomically"
  src/Analyzer/Resolve/IdentifierResolver.cpp
  src/Common/ErrorCodes.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/IStorage.cpp
  tests/queries/0_stateless/02437_drop_mv_restart_replicas.sh
  tests/queries/0_stateless/03237_create_or_replace_view_atomically_with_atomic_engine.reference
  tests/queries/0_stateless/03237_create_or_replace_view_atomically_with_atomic_engine.sh
  tests/queries/0_stateless/03238_create_or_replace_view_atomically_with_replicated_engine.reference
  tests/queries/0_stateless/03238_create_or_replace_view_atomically_with_replicated_engine.sh
Labels: pr-not-for-changelog

#70394 Docs: Fix distinct combinator docs as well as some other minor fixes in docs
  docs/en/development/continuous-integration.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/engines/table-engines/special/keepermap.md
  docs/en/interfaces/formats.md
  docs/en/interfaces/schema-inference.md
  docs/en/sql-reference/aggregate-functions/combinators.md
  docs/en/sql-reference/data-types/data-types-binary-encoding.md
  docs/en/sql-reference/statements/alter/view.md
  docs/en/sql-reference/statements/check-table.md
  docs/en/sql-reference/statements/create/table.md
  docs/en/sql-reference/statements/create/view.md
  docs/ru/sql-reference/aggregate-functions/combinators.md
Labels: pr-documentation, can be tested

#70488 [Docs] update `toFixedString` and `toISOWeek`
  docs/en/sql-reference/functions/date-time-functions.md
  docs/en/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation, can be tested

#70508 Remove slow poll() logs in keeper
  src/Server/KeeperTCPHandler.cpp
Labels: pr-not-for-changelog, pr-must-backport

#70521 CI: Fix for canceled Sync workflow
  .github/workflows/pull_request.yml
Labels: pr-not-for-changelog

#70464 Fix crash in WHERE with lambda functions
  src/Analyzer/ValidationUtils.cpp
  tests/queries/0_stateless/03101_analyzer_identifiers_3.sql
  tests/queries/0_stateless/03248_invalid_where.reference
  tests/queries/0_stateless/03248_invalid_where.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#70312 Allow to serialize/deserialize JSON column as single String column in Native format
  docs/en/operations/settings/settings-formats.md
  src/Core/FormatFactorySettingsDeclaration.h
  src/Core/SettingsChangesHistory.cpp
  src/DataTypes/Serializations/ISerialization.h
  src/DataTypes/Serializations/SerializationObject.cpp
  src/DataTypes/Serializations/SerializationObject.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Formats/NativeWriter.cpp
  tests/clickhouse-test
  tests/integration/compose/docker_compose_postgres.yml
  tests/queries/0_stateless/03249_native_json_as_string.reference
  tests/queries/0_stateless/03249_native_json_as_string.sh
Labels: pr-feature

#70532 Fix debug build in clang-18
  src/Analyzer/Resolve/QueryAnalyzer.cpp
Labels: pr-not-for-changelog, can be tested

#70530 Make async insert print nothing
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/02015_async_inserts_1.reference
  tests/queries/0_stateless/02015_async_inserts_1.sh
Labels: pr-bugfix, pr-must-backport

#70520 Add setting max_parts_to_move
  docs/en/operations/settings/settings.md
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/StorageMergeTree.cpp
Labels: pr-improvement

#70268 Support reading iceberg tables on HDFS
  docs/en/engines/table-engines/integrations/iceberg.md
  docs/en/sql-reference/table-functions/iceberg.md
  src/Storages/ObjectStorage/DataLakes/registerDataLakeStorages.cpp
  src/TableFunctions/ITableFunctionDataLake.h
  src/TableFunctions/registerDataLakeTableFunctions.cpp
  tests/integration/helpers/hdfs_api.py
  tests/integration/helpers/s3_tools.py
  tests/integration/test_storage_iceberg/configs/config.d/named_collections.xml
  tests/integration/test_storage_iceberg/test.py
Labels: pr-feature

#70550 Refreshable materialized views are not experimental anymore
  docs/en/operations/settings/settings.md
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/integration/test_refreshable_mv/configs/users.xml
  tests/queries/0_stateless/02932_refreshable_materialized_views_1.sh
  tests/queries/0_stateless/02932_refreshable_materialized_views_2.sh
  tests/queries/0_stateless/03221_refreshable_matview_progress.sql
Labels: pr-not-for-changelog

#70585 Fix ARCH_NATIVE CMake flag
  cmake/cpu_features.cmake
Labels: pr-build, can be tested

#70330 Generate a string as the random suffix for the temporary table name when replacing tables
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterCreateQuery.h
  tests/queries/0_stateless/03247_create-same-table-concurrently-with-atomic-engine.reference
  tests/queries/0_stateless/03247_create-same-table-concurrently-with-atomic-engine.sh
  tests/queries/0_stateless/03248_create-same-table-concurrently-with-replicated-engine.reference
  tests/queries/0_stateless/03248_create-same-table-concurrently-with-replicated-engine.sh
Labels: can be tested, pr-ci

#70536 Revert "Revert "Support CREATE OR REPLACE VIEW atomically""
  src/Analyzer/Resolve/IdentifierResolver.cpp
  src/Common/ErrorCodes.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/IStorage.cpp
  tests/queries/0_stateless/02437_drop_mv_restart_replicas.sh
  tests/queries/0_stateless/03237_create_or_replace_view_atomically_with_atomic_engine.reference
  tests/queries/0_stateless/03237_create_or_replace_view_atomically_with_atomic_engine.sh
  tests/queries/0_stateless/03238_create_or_replace_view_atomically_with_replicated_engine.reference
  tests/queries/0_stateless/03238_create_or_replace_view_atomically_with_replicated_engine.sh
Labels: pr-not-for-changelog

#70565 Fix 24.9 setting compatibility `database_replicated_allow_explicit_uuid`
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog, v24.9-must-backport

#70335 Rename enable_secure_identifiers -> enforce_strict_identifier_format
  docs/en/operations/settings/settings.md
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/executeQuery.cpp
  src/Parsers/IAST.cpp
  src/Parsers/IAST.h
  tests/queries/0_stateless/03234_enable_secure_identifiers.sql
Labels: pr-not-for-changelog

#70135 Allow to cache read files for object storage table engines and data lakes using hash from ETag and file path as cache key
  docs/en/engines/table-engines/integrations/azureBlobStorage.md
  docs/en/engines/table-engines/integrations/deltalake.md
  docs/en/engines/table-engines/integrations/iceberg.md
  docs/en/engines/table-engines/integrations/s3.md
  programs/server/Server.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.cpp
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/FileCacheFactory.cpp
  src/Interpreters/Cache/FileCacheFactory.h
  src/Interpreters/Cache/FileCacheKey.cpp
  src/Interpreters/Cache/FileCacheKey.h
  src/Interpreters/Cache/FileCache_fwd.h
  src/Interpreters/tests/gtest_filecache.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/IcebergMetadata.cpp
  src/Storages/ObjectStorage/ReadBufferIterator.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.h
  src/Storages/System/StorageSystemRemoteDataPaths.cpp
  tests/integration/test_storage_azure_blob_storage/test.py
  tests/integration/test_storage_delta/configs/config.d/filesystem_caches.xml
  tests/integration/test_storage_delta/test.py
  tests/integration/test_storage_iceberg/configs/config.d/filesystem_caches.xml
  tests/integration/test_storage_iceberg/test.py
  tests/integration/test_storage_s3/configs/filesystem_caches.xml
  tests/integration/test_storage_s3/test.py
Labels: pr-feature

#70617 Increase test user max_rows_to_read limit
  tests/clickhouse-test
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
  tests/queries/0_stateless/00956_sensitive_data_masking.sh
  tests/queries/0_stateless/00974_text_log_table_not_empty.sh
  tests/queries/0_stateless/01165_lost_part_empty_partition.sql
  tests/queries/0_stateless/01319_query_formatting_in_server_log.sql
  tests/queries/0_stateless/01396_inactive_replica_cleanup_nodes_zookeeper.sh
  tests/queries/0_stateless/01666_merge_tree_max_query_limit.sh
  tests/queries/0_stateless/02262_column_ttl.sh
  tests/queries/0_stateless/02432_s3_parallel_parts_cleanup.sql
  tests/queries/0_stateless/02434_cancel_insert_when_client_dies.sh
  tests/queries/0_stateless/02477_projection_materialize_and_zero_copy.sql
  tests/queries/0_stateless/02531_two_level_aggregation_bug.sh
  tests/queries/0_stateless/02570_fallback_from_async_insert.sh
  tests/queries/0_stateless/02581_share_big_sets_between_multiple_mutations_tasks_long.sql
  tests/queries/0_stateless/02581_share_big_sets_between_mutation_tasks_long.sql
  tests/queries/0_stateless/02675_sparse_columns_clear_column.sql
  tests/queries/0_stateless/02796_calculate_text_stack_trace.sql
  tests/queries/0_stateless/02813_starting_in_text_log.sql
  tests/queries/0_stateless/02875_parallel_replicas_cluster_all_replicas.sql
  tests/queries/0_stateless/02875_parallel_replicas_remote.sql
  tests/queries/0_stateless/02882_replicated_fetch_checksums_doesnt_match.sql
  tests/queries/0_stateless/02898_parallel_replicas_progress_bar.sql
  tests/queries/0_stateless/02903_rmt_retriable_merge_exception.sh
  tests/queries/0_stateless/02935_parallel_replicas_settings.sql
  tests/queries/0_stateless/03096_text_log_format_string_args_not_empty.sql
  tests/queries/0_stateless/03141_fetches_errors_stress.sql
  tests/queries/0_stateless/03166_skip_indexes_vertical_merge_1.sql
  tests/queries/0_stateless/03166_skip_indexes_vertical_merge_2.sql
  tests/queries/1_stateful/00177_memory_bound_merging.sh
Labels: pr-not-for-changelog

#70631 Fix creation of stateful window functions on misaligned memory
  src/AggregateFunctions/WindowFunction.h
  src/Processors/Transforms/WindowTransform.cpp
  tests/queries/0_stateless/03251_unaligned_window_function_state.reference
  tests/queries/0_stateless/03251_unaligned_window_function_state.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#70637 Fix typos
  src/Analyzer/Passes/CrossToInnerJoinPass.cpp
Labels: pr-not-for-changelog

#70654 Docs: Follow-up for #70585
  cmake/cpu_features.cmake
Labels: pr-not-for-changelog

#70640 Try fix 00180_no_seek_avoiding_when_reading_from_cache
  src/Interpreters/Cache/FileCache.cpp
  tests/config/config.d/storage_conf.xml
Labels: pr-not-for-changelog

#70656 [Docs] Remove cloud only badge
  docs/en/engines/table-engines/integrations/mysql.md
Labels: pr-documentation

#70646 Fix timeout in materialized pg tests
  tests/integration/compose/docker_compose_postgres.yml
Labels: pr-not-for-changelog

#70604 [Docs] Fix example
  docs/en/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation, can be tested

#70634 Reduce sync efforts with private
  src/Client/ConnectionParameters.h
  src/Common/CurrentMetrics.cpp
  src/Common/ErrorCodes.cpp
  src/Common/FailPoint.cpp
  src/Common/ProfileEvents.cpp
  src/Common/ProfileEvents.h
  src/Common/ZooKeeper/ZooKeeperRetries.h
Labels: pr-not-for-changelog

#70644 Don't do validation when synchronizing user_directories from keeper
  src/Access/AuthenticationData.cpp
  src/Access/AuthenticationData.h
  src/Access/UsersConfigAccessStorage.cpp
Labels: pr-improvement, v24.6-must-backport, v24.7-must-backport, v24.8-must-backport, v24.9-must-backport

#70011 Enhance OpenTelemetry span logging to include query settings
  docs/en/operations/opentelemetry.md
  docs/en/operations/settings/settings.md
  src/Core/Settings.cpp
  src/Core/Settings.h
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/02421_simple_queries_for_opentelemetry.reference
  tests/queries/0_stateless/02421_simple_queries_for_opentelemetry.sh
Labels: pr-improvement, can be tested

#70358 Fix possible use-after-free in SYSTEM DROP FORMAT SCHEMA CACHE FOR Protobuf
  src/Formats/ProtobufSchemas.cpp
  src/Formats/ProtobufSchemas.h
  src/Formats/ProtobufSerializer.cpp
  src/Formats/ProtobufSerializer.h
  src/Processors/Formats/Impl/ProtobufListInputFormat.cpp
  src/Processors/Formats/Impl/ProtobufListOutputFormat.cpp
  src/Processors/Formats/Impl/ProtobufRowInputFormat.cpp
  src/Processors/Formats/Impl/ProtobufRowInputFormat.h
  src/Processors/Formats/Impl/ProtobufRowOutputFormat.cpp
  tests/queries/0_stateless/03250_SYSTEM_DROP_FORMAT_SCHEMA_CACHE_FOR_Protobuf.reference
  tests/queries/0_stateless/03250_SYSTEM_DROP_FORMAT_SCHEMA_CACHE_FOR_Protobuf.sh
  tests/queries/0_stateless/format_schemas/03250.proto
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#70662 Remove strange file
  docs/README.md
  docs/_description_templates/template-setting.md
  docs/_includes/install/deb.sh
  docs/_includes/install/rpm.sh
  docs/_includes/install/tgz.sh
  docs/en/sql-reference/ansi.md
  docs/mkdocs.yml
  docs/ru/introduction/distinctive-features.md
  docs/ru/sql-reference/ansi.mdx
  docs/zh/introduction/distinctive-features.md
  docs/zh/sql-reference/ansi.md
Labels: pr-not-for-changelog

#70612 Fixed docs typo in settings-users.md
  docs/ru/operations/settings/settings-users.md
Labels: pr-documentation, can be tested

#69738 Fix windowFunnel counting same event several times
  docs/en/sql-reference/aggregate-functions/parametric-functions.md
  src/AggregateFunctions/AggregateFunctionWindowFunnel.cpp
  tests/queries/0_stateless/00632_aggregation_window_funnel.reference
  tests/queries/0_stateless/00632_aggregation_window_funnel.sql
Labels: pr-bugfix

#70677 Add report file to the test results
  tests/ci/sqltest.py
Labels: pr-ci

#70503 Update settings.md: Clarify throw_if_no_data_to_insert
  src/Core/Settings.cpp
Labels: pr-documentation

#70660 Fix incorrect formatting of CHECK query
  src/Parsers/ASTCheckQuery.h
  tests/queries/0_stateless/03251_check_query_formatting.reference
  tests/queries/0_stateless/03251_check_query_formatting.sh
Labels: pr-improvement

#69481 Allow reading LowCardinality(String/FixedString) data from orc dictionary encoded columns
  src/Core/FormatFactorySettingsDeclaration.h
  src/Core/SettingsChangesHistory.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.h
  tests/queries/0_stateless/03241_orc_dictionary_encode.reference
  tests/queries/0_stateless/03241_orc_dictionary_encode.sql
Labels: pr-performance

#70590 Ignore frozen_metadata.txt while traversing shadow directory from system.remote_data_paths
  docs/en/operations/settings/settings.md
  src/Core/Settings.cpp
  src/Storages/System/StorageSystemRemoteDataPaths.cpp
Labels: pr-bugfix, pr-must-backport, can be tested

#70671 Fix native macOS build
  contrib/abseil-cpp-cmake/CMakeLists.txt
  contrib/google-protobuf-cmake/CMakeLists.txt
  contrib/grpc-cmake/CMakeLists.txt
  contrib/grpc-cmake/grpc.cmake
Labels: pr-not-for-changelog, submodule changed

#70606 [Docs] updates `timeSlot` function
  docs/en/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#70511 Fix `StorageTableFunction::supportsReplication` creating source storage unnecessarily
  src/Storages/StorageTableFunction.h
  tests/integration/test_storage_delta/configs/config.d/remote_servers.xml
  tests/integration/test_storage_delta/test.py
Labels: pr-bugfix

#70696 Insert into table function s3 respect query settings
  src/Disks/ObjectStorages/S3/diskSettings.cpp
Labels: pr-bugfix

#70299 Fix usage of `preadv2` with `RWF_NOWAIT`
  src/Disks/IO/ThreadPoolReader.cpp
Labels: pr-improvement

#70134 (Re?)-enable libcxx asserts for debug builds
  cmake/cxx.cmake
  src/Common/proxyConfigurationToPocoProxyConfig.cpp
  src/DataTypes/EnumValues.h
  src/Storages/StorageFuzzJSON.cpp
Labels: pr-not-for-changelog

#70487 Avoid spamming the logs with large HTTP response bodies
  src/Common/RemoteProxyConfigurationResolver.cpp
  src/IO/HTTPCommon.cpp
  src/IO/HTTPCommon.h
  src/IO/ReadWriteBufferFromHTTP.cpp
Labels: pr-improvement

#70647 Add ability to choose merge seleting algorithm
  src/CMakeLists.txt
  src/Core/MergeSelectorAlgorithm.h
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Storages/MergeTree/CMakeLists.txt
  src/Storages/MergeTree/MergeSelectors/AllMergeSelector.cpp
  src/Storages/MergeTree/MergeSelectors/AllMergeSelector.h
  src/Storages/MergeTree/MergeSelectors/CMakeLists.txt
  src/Storages/MergeTree/MergeSelectors/MergeSelector.h
  src/Storages/MergeTree/MergeSelectors/MergeSelectorFactory.cpp
  src/Storages/MergeTree/MergeSelectors/MergeSelectorFactory.h
  src/Storages/MergeTree/MergeSelectors/SimpleMergeSelector.cpp
  src/Storages/MergeTree/MergeSelectors/SimpleMergeSelector.h
  src/Storages/MergeTree/MergeSelectors/TTLMergeSelector.cpp
  src/Storages/MergeTree/MergeSelectors/TTLMergeSelector.h
  src/Storages/MergeTree/MergeSelectors/registerMergeSelectors.cpp
  src/Storages/MergeTree/MergeSelectors/registerMergeSelectors.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  src/Storages/examples/merge_selector.cpp
  src/Storages/examples/merge_selector2.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#70697 Fix infinite recursion when infering a proto schema with skip unsupported fields enabled
  src/Formats/ProtobufSerializer.cpp
  tests/queries/0_stateless/03252_recursive_proto_with_skip_unsupported_fields.reference
  tests/queries/0_stateless/03252_recursive_proto_with_skip_unsupported_fields.sh
  tests/queries/0_stateless/format_schemas/03252_recursive_type.proto
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#69179 Improve compatibility of cast(timestamp as string) with spark
  docs/en/operations/settings/settings-formats.md
  src/Core/FormatFactorySettingsDeclaration.h
  src/Core/SettingsChangesHistory.cpp
  src/DataTypes/Serializations/SerializationDateTime64.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Functions/FunctionsConversion.cpp
  src/IO/WriteHelpers.h
  src/IO/tests/gtest_DateTimeToString.cpp
  tests/queries/0_stateless/00357_to_string_complex_types.reference
  tests/queries/0_stateless/00357_to_string_complex_types.sql
Labels: pr-improvement, can be tested

#70695 Fixed crash in filling of missed arrays
  src/Storages/MergeTree/IMergeTreeReader.cpp
  tests/queries/0_stateless/03203_fill_missed_subcolumns.reference
  tests/queries/0_stateless/03252_fill_missed_arrays.reference
  tests/queries/0_stateless/03252_fill_missed_arrays.sql
Labels: pr-bugfix, v24.8-must-backport, v24.9-must-backport
