Repository ClickHouse/ClickHouse, pull requests merged in 2024-01, with the labels that each got.

#58397 Update License
  LICENSE
Labels: pr-documentation

#58391 Add a test for #38534
  tests/queries/0_stateless/02960_partition_by_udf.reference
  tests/queries/0_stateless/02960_partition_by_udf.sql
Labels: pr-not-for-changelog

#46316 What happens if MySQL is enabled for macOS?
  contrib/mariadb-connector-c-cmake/CMakeLists.txt
Labels: pr-improvement, submodule changed

#58395 fix database engine validation inside database factory
  src/Databases/DatabaseFactory.cpp
  src/Databases/DatabaseFactory.h
  tests/queries/0_stateless/02960_validate_database_engines.reference
  tests/queries/0_stateless/02960_validate_database_engines.sql
Labels: pr-not-for-changelog

#58398 Fix bad formatting of the `timeDiff` compatibility alias
  src/Functions/dateDiff.cpp
Labels: pr-not-for-changelog

#58333 Fix lost blobs after dropping a replica with broken detached parts
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/checkDataPart.cpp
  tests/queries/0_stateless/02488_zero_copy_detached_parts_drop_table.reference
  tests/queries/0_stateless/02488_zero_copy_detached_parts_drop_table.sh
Labels: pr-bugfix, pr-must-backport, blob hunter, pr-must-backport-cloud

#57774 Change default database name in clickhouse-local to 'default'
  programs/local/LocalServer.cpp
  tests/queries/0_stateless/02141_clickhouse_local_interactive_table.reference
  tests/queries/0_stateless/02360_clickhouse_local_config-option.sh
  tests/queries/0_stateless/02900_clickhouse_local_drop_current_database.reference
  tests/queries/0_stateless/02900_clickhouse_local_drop_current_database.sh
Labels: pr-not-for-changelog

#57438 Fix working with read buffers in StreamingFormatExecutor
  src/IO/PeekableReadBuffer.cpp
  src/IO/PeekableReadBuffer.h
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Processors/Executors/StreamingFormatExecutor.cpp
  src/Processors/Formats/IInputFormat.cpp
  src/Processors/Formats/IInputFormat.h
  src/Processors/Formats/Impl/ArrowBufferedStreams.cpp
  src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  src/Processors/Formats/Impl/CSVRowInputFormat.h
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.cpp
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.h
  src/Processors/Formats/Impl/JSONAsStringRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONAsStringRowInputFormat.h
  src/Processors/Formats/Impl/JSONRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONRowInputFormat.h
  src/Processors/Formats/Impl/MsgPackRowInputFormat.cpp
  src/Processors/Formats/Impl/MsgPackRowInputFormat.h
  src/Processors/Formats/Impl/RegexpRowInputFormat.cpp
  src/Processors/Formats/Impl/RegexpRowInputFormat.h
  src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowInputFormat.h
  src/Processors/Formats/Impl/TemplateRowInputFormat.cpp
  src/Processors/Formats/Impl/TemplateRowInputFormat.h
  src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  src/Processors/Formats/Impl/ValuesBlockInputFormat.h
  tests/integration/test_storage_kafka/clickhouse_path/format_schemas/key_value_message.capnp
  tests/integration/test_storage_kafka/clickhouse_path/format_schemas/key_value_message.proto
  tests/integration/test_storage_kafka/test.py
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#58409 Fix test_user_valid_until
  tests/integration/test_user_valid_until/test.py
Labels: pr-not-for-changelog

#58399 Fix a comment; remove unused method; stop using pointers
  src/Columns/ColumnFunction.h
  src/Core/InterpolateDescription.cpp
  src/Core/InterpolateDescription.h
  src/Databases/DatabaseReplicated.cpp
  src/Functions/FunctionsConversion.h
  src/Functions/FunctionsMiscellaneous.h
  src/Functions/array/FunctionArrayMapped.h
  src/Planner/PlannerActionsVisitor.cpp
  src/Processors/Transforms/FillingTransform.cpp
  src/Processors/Transforms/FillingTransform.h
Labels: pr-not-for-changelog

#57732 Increase `load_metadata_threads` to 16
  docs/en/operations/storing-data.md
  src/Interpreters/Cache/FileCache_fwd.h
  tests/queries/0_stateless/02344_describe_cache.reference
  tests/queries/0_stateless/02908_filesystem_cache_as_collection.reference
Labels: pr-improvement

#58439 Make a test not depend on the lack of floating point associativity
  tests/queries/0_stateless/01603_decimal_mult_float.reference
  tests/queries/0_stateless/01603_decimal_mult_float.sql
Labels: pr-not-for-changelog

#58445 Fix `02944_dynamically_change_filesystem_cache_size`
  tests/queries/0_stateless/02933_change_cache_setting_without_restart.reference
  tests/queries/0_stateless/02944_dynamically_change_filesystem_cache_size.reference
Labels: pr-not-for-changelog

#57053 Better exception messages in input formats
  src/Common/CounterInFile.h
  src/Common/Exception.cpp
  src/Common/Exception.h
  src/DataTypes/Serializations/SerializationArray.cpp
  src/DataTypes/Serializations/SerializationNullable.cpp
  src/Formats/JSONUtils.cpp
  src/Formats/NativeReader.cpp
  src/IO/ReadHelpers.cpp
  src/IO/ReadHelpers.h
  src/IO/parseDateTimeBestEffort.cpp
  src/IO/readDecimalText.h
  src/IO/readFloatText.h
  src/Processors/Formats/IInputFormat.cpp
  src/Processors/Formats/IInputFormat.h
  src/Processors/Formats/IRowInputFormat.cpp
  src/Processors/Formats/IRowInputFormat.h
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ArrowBlockInputFormat.h
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  src/Processors/Formats/Impl/BSONEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/BSONEachRowRowInputFormat.h
  src/Processors/Formats/Impl/DWARFBlockInputFormat.cpp
  src/Processors/Formats/Impl/DWARFBlockInputFormat.h
  src/Processors/Formats/Impl/JSONColumnsBlockInputFormatBase.cpp
  src/Processors/Formats/Impl/JSONColumnsBlockInputFormatBase.h
  src/Processors/Formats/Impl/JSONEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/NativeFormat.cpp
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.h
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/ORCBlockInputFormat.h
  src/Processors/Formats/Impl/OneFormat.cpp
  src/Processors/Formats/Impl/OneFormat.h
  src/Processors/Formats/Impl/ParallelParsingInputFormat.cpp
  src/Processors/Formats/Impl/ParallelParsingInputFormat.h
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  src/Processors/Formats/Impl/ParquetMetadataInputFormat.cpp
  src/Processors/Formats/Impl/ParquetMetadataInputFormat.h
  src/Processors/Formats/Impl/ProtobufListInputFormat.cpp
  src/Processors/Formats/Impl/TSKVRowInputFormat.cpp
  src/Processors/Formats/Impl/TemplateRowInputFormat.cpp
  src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  src/Processors/Formats/Impl/ValuesBlockInputFormat.h
  src/Processors/Formats/RowInputFormatWithDiagnosticInfo.cpp
  src/Processors/Formats/RowInputFormatWithDiagnosticInfo.h
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.cpp
  src/Server/ProxyV1Handler.cpp
  tests/integration/test_kafka_bad_messages/test.py
  tests/queries/0_stateless/02889_file_log_save_errors.reference
Labels: pr-not-for-changelog

#58255 Refactor StorageMerge virtual columns filtering.
  src/Interpreters/ActionsDAG.h
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMerge.h
  src/Storages/VirtualColumnUtils.cpp
  tests/queries/0_stateless/00578_merge_table_and_table_virtual_column.sql
Labels: pr-not-for-changelog

#57631 Read column once while reading more that one subcolumn from it in Compact parts
  src/Storages/MergeTree/MergeTreeReaderCompact.cpp
  src/Storages/MergeTree/MergeTreeReaderCompact.h
Labels: pr-performance

#58452 Edit docs for toWeek()
  docs/en/sql-reference/functions/date-time-functions.md
  docs/ru/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#57968 New parallel replicas coordinator implementation
  src/Common/ProfileEvents.cpp
  src/Core/Settings.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicas.cpp
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicas.h
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.cpp
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.h
  tests/integration/test_parallel_replicas_all_marks_read/__init__.py
  tests/integration/test_parallel_replicas_all_marks_read/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_all_marks_read/test.py
  tests/integration/test_parallel_replicas_distributed_read_from_all/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_distributed_read_from_all/test.py
  tests/integration/test_parallel_replicas_working_set/__init__.py
  tests/integration/test_parallel_replicas_working_set/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_working_set/test.py
Labels: pr-not-for-changelog

#58271 Speed up iota (filling array with consecutive numbers)
  src/AggregateFunctions/AggregateFunctionLargestTriangleThreeBuckets.cpp
  src/AggregateFunctions/QuantilesCommon.h
  src/AggregateFunctions/StatCommon.h
  src/Analyzer/Passes/FuseFunctionsPass.cpp
  src/Columns/ColumnAggregateFunction.cpp
  src/Columns/ColumnConst.cpp
  src/Columns/ColumnDecimal.cpp
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnSparse.cpp
  src/Columns/ColumnTuple.cpp
  src/Columns/ColumnVector.cpp
  src/Columns/IColumnDummy.cpp
  src/Columns/IColumnImpl.h
  src/Columns/tests/gtest_column_sparse.cpp
  src/Columns/tests/gtest_column_stable_permutation.cpp
  src/Common/TargetSpecific.h
  src/Common/iota.cpp
  src/Common/iota.h
  src/Common/levenshteinDistance.cpp
  src/Common/tests/gtest_hash_table.cpp
  src/Dictionaries/HashedDictionaryParallelLoader.h
  src/Dictionaries/PolygonDictionary.cpp
  src/Dictionaries/PolygonDictionaryUtils.h
  src/Functions/FunctionsStringDistance.cpp
  src/Functions/array/arrayRandomSample.cpp
  src/Functions/array/arrayShuffle.cpp
  src/Functions/array/arraySort.cpp
  src/Functions/rowNumberInBlock.cpp
  src/Functions/translate.cpp
  src/Interpreters/sortBlock.cpp
  src/Interpreters/tests/gtest_filecache.cpp
  src/Processors/QueryPlan/ReadFromSystemNumbersStep.cpp
  src/Processors/Transforms/PartialSortingTransform.cpp
  src/QueryPipeline/QueryPipelineBuilder.cpp
Labels: pr-performance, 🎅 🎁 gift🎄

#58453 Fix segfault when graphite table does not have agg function
  src/Processors/Merges/Algorithms/Graphite.h
  tests/config/config.d/graphite_alternative.xml
  tests/queries/0_stateless/02910_replicated_merge_parameters_must_consistent.sql
Labels: pr-bugfix, pr-must-backport, can be tested

#58456 Add output_format_decimal_trailing_zeros setting for trailing zeros
  docs/en/sql-reference/functions/rounding-functions.md
Labels: pr-documentation, can be tested

#57520 Ignore MVs with dropped target table during pushing to views
  src/Core/Settings.h
  src/Processors/Transforms/buildPushingToViewsChain.cpp
  src/Storages/StorageMaterializedView.h
  tests/queries/0_stateless/02479_race_condition_between_insert_and_droppin_mv.sh
  tests/queries/0_stateless/02932_materialized_view_with_dropped_target_table_no_exception.reference
  tests/queries/0_stateless/02932_materialized_view_with_dropped_target_table_no_exception.sql
Labels: pr-bugfix

#57603 Allow avoiding resolving hostnames in DDLWorker
  programs/server/config.xml
  src/Interpreters/DDLTask.cpp
  src/Interpreters/DDLTask.h
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/DDLWorker.h
  tests/integration/test_ddl_config_hostname/__init__.py
  tests/integration/test_ddl_config_hostname/configs/remote_servers.xml
  tests/integration/test_ddl_config_hostname/test.py
Labels: pr-improvement

#58485 Fix some thread pool settings not updating at runtime
  programs/server/Server.cpp
Labels: pr-not-for-changelog

#58505 MergeTreePrefetchedReadPool disable for LIMIT only queries
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
Labels: pr-bugfix, pr-must-backport, can be tested, pr-must-backport-cloud

#58478 Improve perf tests
  tests/performance/bounding_ratio.xml
  tests/performance/decimal_parse.xml
  tests/performance/group_by_fixed_keys.xml
  tests/performance/group_by_sundy_li.xml
  tests/performance/hashed_dictionary.xml
  tests/performance/join_used_flags.xml
  tests/performance/min_max_index.xml
  tests/performance/polymorphic_parts_l.xml
  tests/performance/polymorphic_parts_m.xml
  tests/performance/reinterpret_as.xml
  tests/performance/sum_map.xml
Labels: pr-not-for-changelog

#58334 Speedup MIN/MAX for non numeric types
  src/AggregateFunctions/AggregateFunctionMax.cpp
  src/AggregateFunctions/AggregateFunctionMin.cpp
  src/AggregateFunctions/AggregateFunctionMinMaxAny.h
  src/AggregateFunctions/findNumeric.cpp
  src/Common/findExtreme.cpp
  src/Common/findExtreme.h
  tests/performance/agg_functions_min_max_any.xml
Labels: pr-performance

#58353 Refactor StorageHDFS and StorageFile virtual columns filtering
  src/Processors/SourceWithKeyCondition.h
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/HDFS/StorageHDFS.h
  src/Storages/HDFS/StorageHDFSCluster.cpp
  src/Storages/HDFS/StorageHDFSCluster.h
  src/Storages/IStorageCluster.cpp
  src/Storages/IStorageCluster.h
  src/Storages/S3Queue/StorageS3Queue.cpp
  src/Storages/S3Queue/StorageS3Queue.h
  src/Storages/StorageAzureBlob.cpp
  src/Storages/StorageAzureBlob.h
  src/Storages/StorageAzureBlobCluster.cpp
  src/Storages/StorageAzureBlobCluster.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageFile.h
  src/Storages/StorageFileCluster.cpp
  src/Storages/StorageFileCluster.h
  src/Storages/StorageS3.cpp
  src/Storages/StorageS3.h
  src/Storages/StorageS3Cluster.cpp
  src/Storages/StorageS3Cluster.h
  src/Storages/StorageURL.cpp
  src/Storages/StorageURL.h
  src/Storages/StorageURLCluster.cpp
  src/Storages/StorageURLCluster.h
  src/Storages/StorageXDBC.cpp
  src/Storages/StorageXDBC.h
  src/Storages/VirtualColumnUtils.cpp
  src/Storages/VirtualColumnUtils.h
  tests/queries/0_stateless/02725_parquet_preserve_order.reference
Labels: pr-not-for-changelog

#58517 Minor fixups for `sqid()`
  docs/en/sql-reference/functions/hash-functions.md
  src/Functions/sqid.cpp
Labels: pr-not-for-changelog

#57882 Utilize `ngrambf` and `tokenbf` indexes by function `match()`
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.h
  tests/queries/0_stateless/02943_tokenbf_and_ngrambf_indexes_support_match_function.reference
  tests/queries/0_stateless/02943_tokenbf_and_ngrambf_indexes_support_match_function.sql
Labels: pr-performance, can be tested

#58317 Analyzer: support functional arguments in USING clause
  src/Planner/CollectTableExpressionData.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Planner/TableExpressionData.h
  tests/queries/0_stateless/02514_analyzer_drop_join_on.reference
  tests/queries/0_stateless/02955_analyzer_using_functional_args.reference
  tests/queries/0_stateless/02955_analyzer_using_functional_args.sql
Labels: pr-not-for-changelog

#58507 Sync content of the docker test images
  docker/test/stateless/stress_tests.lib
Labels: pr-not-for-changelog

#57263 Fixed potential exception due to stale profile UUID
  src/Access/SettingsProfilesCache.cpp
  src/Access/SettingsProfilesCache.h
Labels: pr-bugfix, can be tested

#58520 Enable ordinary databases while restoration
  src/Backups/RestorerFromBackup.cpp
Labels: pr-bugfix, can be tested, pr-must-backport-cloud

#57877 Add ability to throttle merges/mutations
  src/Core/ServerSettings.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/MutationsInterpreter.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  src/Storages/MergeTree/MergeTreeSequentialSource.h
  tests/integration/test_throttling/configs/dynamic_overrides.xml
  tests/integration/test_throttling/configs/static_overrides.xml
  tests/integration/test_throttling/test.py
Labels: pr-improvement

#57755 [RFC] Eliminate possible race between ALTER_METADATA and MERGE_PARTS
  src/Common/ErrorCodes.cpp
  src/Common/FailPoint.cpp
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/02943_rmt_alter_metadata_merge_checksum_mismatch.reference
  tests/queries/0_stateless/02943_rmt_alter_metadata_merge_checksum_mismatch.sh
Labels: pr-bugfix

#58444 support hints for database engines
  src/Databases/DatabaseFactory.cpp
  src/Databases/DatabaseFactory.h
  tests/integration/test_wrong_db_or_table_name/test.py
Labels: pr-improvement

#58559 Update CHANGELOG.md
  CHANGELOG.md
Labels: pr-not-for-changelog

#58536 Fix example 3 and tweak formatting
  docs/en/operations/utilities/clickhouse-format.md
Labels: pr-documentation, can be tested

#58482 Fix a stupid case of intersecting parts
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/02486_truncate_and_unexpected_parts.reference
  tests/queries/0_stateless/02486_truncate_and_unexpected_parts.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#58480 Check if I can remove KeyCondition analysis on AST.
  src/Core/Settings.h
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/DatabaseCatalog.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/PreparedSets.cpp
  src/Interpreters/PreparedSets.h
  src/Interpreters/RequiredSourceColumnsData.h
  src/Interpreters/RequiredSourceColumnsVisitor.cpp
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/TreeRewriter.h
  src/Processors/QueryPlan/Optimizations/optimizeUseAggregateProjection.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromPreparedSource.cpp
  src/Processors/SourceWithKeyCondition.h
  src/Storages/Hive/StorageHive.cpp
  src/Storages/Hive/StorageHive.h
  src/Storages/IStorage.h
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/KeyCondition.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/MergeTreeIndexAnnoy.cpp
  src/Storages/MergeTree/MergeTreeIndexAnnoy.h
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.h
  src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexConditionBloomFilter.h
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.h
  src/Storages/MergeTree/MergeTreeIndexHypothesis.cpp
  src/Storages/MergeTree/MergeTreeIndexHypothesis.h
  src/Storages/MergeTree/MergeTreeIndexInverted.cpp
  src/Storages/MergeTree/MergeTreeIndexInverted.h
  src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
  src/Storages/MergeTree/MergeTreeIndexMinMax.h
  src/Storages/MergeTree/MergeTreeIndexSet.cpp
  src/Storages/MergeTree/MergeTreeIndexSet.h
  src/Storages/MergeTree/MergeTreeIndexUSearch.cpp
  src/Storages/MergeTree/MergeTreeIndexUSearch.h
  src/Storages/MergeTree/MergeTreeIndices.h
  src/Storages/MergeTree/PartitionPruner.cpp
  src/Storages/MergeTree/RPNBuilder.h
  src/Storages/StorageFile.cpp
  src/Storages/StorageFile.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  src/Storages/StorageS3.h
  src/Storages/StorageURL.h
  src/Storages/System/StorageSystemTables.cpp
  src/Storages/VirtualColumnUtils.cpp
  src/Storages/VirtualColumnUtils.h
Labels: pr-not-for-changelog

#58542 Revert "Merging #53757"
  src/Core/Settings.h
  src/Interpreters/Aggregator.cpp
  src/Interpreters/JIT/compileFunction.cpp
Labels: pr-not-for-changelog

#58571 CI fix. Add packager script to build digest
  tests/ci/ci_config.py
Labels: pr-not-for-changelog

#58552 Fix a link in the 23.12 changelog
  CHANGELOG.md
Labels: pr-documentation, can be tested

#58561 Allow to read Bool values into String in JSON input formats
  docs/en/interfaces/formats.md
  docs/en/interfaces/schema-inference.md
  docs/en/operations/settings/settings-formats.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/DataTypes/Serializations/SerializationString.cpp
  src/Formats/EscapingRuleUtils.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Formats/SchemaInferenceUtils.cpp
  src/IO/ReadHelpers.cpp
  tests/queries/0_stateless/02961_read_bool_as_string_json.reference
  tests/queries/0_stateless/02961_read_bool_as_string_json.sql
Labels: pr-improvement

#58560 Fix test 02932_kill_query_sleep
  tests/queries/0_stateless/02932_kill_query_sleep.sh
Labels: pr-not-for-changelog, testing

#58574 Follow-up to #58482
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog, pr-must-backport, pr-must-backport-cloud

#58588 Fix wrong message in Keeper
  programs/keeper/Keeper.cpp
Labels: pr-not-for-changelog

#58029 Add `changeable_without_restart` column to `system.server_settings`
  docs/en/operations/system-tables/server_settings.md
  src/Core/ServerSettings.h
  src/Storages/System/StorageSystemServerSettings.cpp
Labels: pr-improvement, can be tested

#58447 Allow users to work with symlinks in user_files_path (again)
  src/Storages/StorageFile.cpp
  tests/queries/0_stateless/02051_symlinks_to_user_files.reference
  tests/queries/0_stateless/02051_symlinks_to_user_files.sh
Labels: pr-bugfix, can be tested

#58455 Avoid huge memory consumption during Keeper startup for more cases
  src/Coordination/KeeperServer.cpp
Labels: pr-improvement, jepsen-test, pr-must-backport-cloud

#58599 Update analyzer_tech_debt.txt
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog, analyzer

#58602 Update analyzer_tech_debt.txt
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog

#58384 Do not fail the CI on an expired token
  tests/ci/get_robot_token.py
Labels: do not test, pr-not-for-changelog

#58598 Small fix in Keeper
  src/Coordination/KeeperServer.cpp
Labels: pr-not-for-changelog

#58600 Simplify release.py script
  tests/ci/release.py
  tests/ci/version_helper.py
Labels: do not test, pr-not-for-changelog

#58584 Enable all access control improvements by default
  programs/server/config.xml
Labels: pr-backward-incompatible

#58038 Add system.dropped_tables_parts table - second attempt
  docs/en/operations/system-tables/dropped_tables_parts.md
  src/Storages/System/StorageSystemDroppedTablesParts.cpp
  src/Storages/System/StorageSystemDroppedTablesParts.h
  src/Storages/System/StorageSystemParts.h
  src/Storages/System/StorageSystemPartsBase.cpp
  src/Storages/System/StorageSystemPartsBase.h
  src/Storages/System/attachSystemTables.cpp
  tests/queries/0_stateless/02698_marked_dropped_tables.reference
  tests/queries/0_stateless/02698_marked_dropped_tables.sql
  tests/queries/0_stateless/02947_dropped_tables_parts.reference
  tests/queries/0_stateless/02947_dropped_tables_parts.sql
Labels: pr-feature

#58594 Add some missing LLVM includes
  src/Common/ConcurrencyControl.h
  src/Coordination/RaftServerConfig.h
  src/Functions/keyvaluepair/impl/NeedleFactory.h
  src/Interpreters/Cache/FileCacheSettings.h
Labels: pr-not-for-changelog

#58246 clickhouse-format improvements: support VALUES, comments, max_line_length
  docs/en/operations/utilities/clickhouse-format.md
  programs/format/Format.cpp
  tests/queries/0_stateless/01753_fix_clickhouse_format.reference
  tests/queries/0_stateless/01753_fix_clickhouse_format.sh
  tests/queries/0_stateless/02263_format_insert_settings.reference
  tests/queries/0_stateless/02263_format_insert_settings.sh
  tests/queries/0_stateless/02946_format_values.reference
  tests/queries/0_stateless/02946_format_values.sh
Labels: pr-feature, 🎅 🎁 gift🎄

#58607 Fix possible NULL dereference during symbolizing inline frames
  src/Common/StackTrace.cpp
Labels: pr-bugfix

#58597 `makeDateTime64()`: Allow non-const fraction argument
  src/Functions/makeDate.cpp
  tests/queries/0_stateless/02245_make_datetime64.reference
  tests/queries/0_stateless/02245_make_datetime64.sql
Labels: pr-bugfix

#58595 Disable max_joined_block_rows in ConcurrentHashJoin
  src/Interpreters/ConcurrentHashJoin.cpp
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  tests/queries/0_stateless/02962_max_joined_block_rows.reference
  tests/queries/0_stateless/02962_max_joined_block_rows.sql
Labels: pr-bugfix, v23.12-must-backport

#58573 fix and test that S3Clients are reused
  docs/en/engines/table-engines/integrations/s3queue.md
  src/Common/CurrentMetrics.cpp
  src/Common/ProfileEvents.cpp
  src/Coordination/KeeperSnapshotManagerS3.cpp
  src/IO/S3/Client.cpp
  src/IO/S3/Client.h
  src/IO/S3Common.cpp
  src/IO/S3Common.h
  src/Storages/StorageS3.cpp
  tests/integration/test_storage_s3_queue/configs/defaultS3.xml
  tests/integration/test_storage_s3_queue/configs/named_collections.xml
  tests/integration/test_storage_s3_queue/test.py
  tests/queries/0_stateless/02675_profile_events_from_query_log_and_client.reference
Labels: pr-not-for-changelog

#58619 Optional `client` argument for `S3Helper`
  tests/ci/ci_config.py
  tests/ci/s3_helper.py
Labels: pr-not-for-changelog

#57697 Customizable dependency failure handling for AsyncLoader
  src/Common/AsyncLoader.cpp
  src/Common/AsyncLoader.h
  src/Common/tests/gtest_async_loader.cpp
  src/Databases/DatabaseOrdinary.cpp
Labels: pr-not-for-changelog

#58621 Add sorting to 02366_kql_summarize.sql
  tests/queries/0_stateless/02366_kql_summarize.sql
Labels: pr-not-for-changelog

#55579 Remove more old code of projection analysis
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/SelectQueryOptions.h
  src/Planner/PlannerJoinTree.cpp
  src/Planner/Utils.cpp
  src/Processors/QueryPlan/Optimizations/optimizeReadInOrder.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseAggregateProjection.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseNormalProjection.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Processors/QueryPlan/ReadFromPreparedSource.cpp
  src/Processors/QueryPlan/ReadFromPreparedSource.h
  src/Processors/QueryPlan/ReadFromSystemNumbersStep.cpp
  src/Processors/Transforms/buildPushingToViewsChain.cpp
  src/Storages/IStorage.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/NATS/StorageNATS.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/ReadFinalForExternalReplicaStorage.cpp
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageExternalDistributed.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageMaterializedView.cpp
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageProxy.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-not-for-changelog

#58636 Throws obfuscated email address elements into codeblocks.
  README.md
Labels: pr-documentation

#58539 Allow explicitly set compression level in output format
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/IO/CompressionMethod.cpp
  src/IO/CompressionMethod.h
  src/IO/ZstdDeflatingWriteBuffer.cpp
  src/IO/ZstdDeflatingWriteBuffer.h
  src/Interpreters/executeQuery.cpp
  src/Processors/Formats/Impl/Parquet/Write.cpp
  src/Server/HTTP/WriteBufferFromHTTPServerResponse.cpp
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/StorageAzureBlob.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageS3.cpp
  src/Storages/StorageURL.cpp
  tests/queries/0_stateless/02961_output_format_compress_params.reference
  tests/queries/0_stateless/02961_output_format_compress_params.sh
Labels: pr-feature, can be tested

#58531 Implement Damerau-Levenshtein distance and Jaro[-Winkler] string distance functions
  docs/en/sql-reference/functions/string-functions.md
  src/Functions/FunctionsStringDistance.cpp
  tests/queries/0_stateless/02884_string_distance_function.reference
  tests/queries/0_stateless/02884_string_distance_function.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#57745 Improve `MultiIf` function performance while type is nullable
  src/Functions/multiIf.cpp
  tests/performance/multiif.xml
  tests/queries/0_stateless/02918_multif_for_nullable.reference
  tests/queries/0_stateless/02918_multif_for_nullable.sh
Labels: pr-improvement, can be tested

#58583 Support CLICKHOUSE_PASSWORD_FILE environment variable in Dockerfile
  docker/server/entrypoint.sh
Labels: pr-improvement, can be tested

#55575 Consume leading zeroes when parsing a number in ConstantExpressionTemplate
  src/Processors/Formats/Impl/ConstantExpressionTemplate.cpp
  tests/queries/0_stateless/02896_leading_zeroes_no_octal.reference
  tests/queries/0_stateless/02896_leading_zeroes_no_octal.sql
Labels: pr-improvement, can be tested

#57323 MaterializedMySQL: Introduce MySQL Binlog Client
  docs/en/operations/settings/mysql-binlog-client.md
  src/Common/randomNumber.h
  src/Core/MySQL/MySQLGtid.cpp
  src/Core/MySQL/MySQLGtid.h
  src/Core/MySQL/MySQLReplication.cpp
  src/Core/MySQL/MySQLReplication.h
  src/Core/MySQL/tests/gtest_MySQLGtid.cpp
  src/Databases/MySQL/DatabaseMaterializedMySQL.cpp
  src/Databases/MySQL/DatabaseMaterializedMySQL.h
  src/Databases/MySQL/MaterializedMySQLSettings.h
  src/Databases/MySQL/MaterializedMySQLSyncThread.cpp
  src/Databases/MySQL/MaterializedMySQLSyncThread.h
  src/Databases/MySQL/MySQLBinlog.cpp
  src/Databases/MySQL/MySQLBinlog.h
  src/Databases/MySQL/MySQLBinlogClient.cpp
  src/Databases/MySQL/MySQLBinlogClient.h
  src/Databases/MySQL/MySQLBinlogClientFactory.cpp
  src/Databases/MySQL/MySQLBinlogClientFactory.h
  src/Databases/MySQL/MySQLBinlogEventsDispatcher.cpp
  src/Databases/MySQL/MySQLBinlogEventsDispatcher.h
  src/Databases/MySQL/tests/data/binlog.000016
  src/Databases/MySQL/tests/data/binlog.001390
  src/Databases/MySQL/tests/gtest_mysql_binlog.cpp
  src/Storages/System/StorageSystemMySQLBinlogs.cpp
  src/Storages/System/StorageSystemMySQLBinlogs.h
  src/Storages/System/attachSystemTables.cpp
  tests/integration/test_materialized_mysql_database/materialized_with_ddl.py
  tests/integration/test_materialized_mysql_database/test.py
  utils/check-mysql-binlog/main.cpp
Labels: pr-feature, can be tested

#58457 Analyzer: Fix LOGICAL_ERROR with LowCardinality
  src/Analyzer/Passes/ComparisonTupleEliminationPass.cpp
  tests/queries/0_stateless/02961_analyzer_low_cardinality_fuzzer.reference
  tests/queries/0_stateless/02961_analyzer_low_cardinality_fuzzer.sql
Labels: pr-not-for-changelog, analyzer

#58596 Fix join using nullable in old analyzer
  src/Interpreters/JoinUtils.cpp
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  tests/queries/0_stateless/02962_join_using_bug_57894.reference
  tests/queries/0_stateless/02962_join_using_bug_57894.sql
Labels: pr-bugfix

#56403 Optimize array element function when input is array(map)/array(array(num)/array(array(string))/array(bigint)/array(decimal)
  src/Functions/array/arrayElement.cpp
  tests/performance/array_element.xml
Labels: pr-performance

#58628 Remove more projections code
  src/Processors/QueryPlan/Optimizations/optimizeUseAggregateProjection.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseNormalProjection.cpp
  src/Processors/QueryPlan/Optimizations/projectionsCommon.cpp
  src/Processors/QueryPlan/Optimizations/projectionsCommon.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  src/Storages/SelectQueryInfo.h
Labels: pr-not-for-changelog

#58655 Document that `match()` can use `ngrambf_v1` and `tokenbf_v1` indexes
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/sql-reference/functions/array-functions.md
  docs/en/sql-reference/functions/string-functions.md
  docs/en/sql-reference/functions/string-search-functions.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-not-for-changelog

#58629 Remove finalize() from ~WriteBufferFromEncryptedFile
  src/Disks/tests/gtest_disk_encrypted.cpp
  src/IO/WriteBufferFromEncryptedFile.cpp
  src/IO/WriteBufferFromEncryptedFile.h
Labels: pr-not-for-changelog

#58458 Replace `std::regex` by re2
  programs/extract-from-config/ExtractFromConfig.cpp
  programs/git-import/git-import.cpp
  programs/static-files-disk-uploader/static-files-disk-uploader.cpp
  src/Access/AccessControl.cpp
  src/Analyzer/ColumnTransformers.h
  src/Analyzer/MatcherNode.h
  src/Common/FileRenamer.cpp
  src/Common/HTTPHeaderFilter.cpp
  src/Common/OptimizedRegularExpression.cpp
  src/Common/OptimizedRegularExpression.h
  src/Common/RemoteHostFilter.cpp
  src/Common/SensitiveDataMasker.cpp
  src/Common/parseGlobs.cpp
  src/Common/re2.h
  src/Common/tests/gtest_makeRegexpPatternFromGlobs.cpp
  src/Databases/DatabaseHDFS.cpp
  src/Disks/DiskType.cpp
  src/Disks/DiskType.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageAuth.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Functions/ReplaceRegexpImpl.h
  src/Functions/checkHyperscanRegexp.h
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/URI.cpp
  src/Interpreters/InternalTextLogsQueue.h
  src/Parsers/ASTColumnsMatcher.cpp
  src/Parsers/ASTColumnsTransformers.cpp
  src/Parsers/Kusto/KustoFunctions/KQLCastingFunctions.cpp
  src/Parsers/Kusto/KustoFunctions/KQLDataTypeFunctions.cpp
  src/Parsers/Kusto/KustoFunctions/KQLDateTimeFunctions.cpp
  src/Parsers/tests/gtest_Parser.cpp
  src/Parsers/tests/gtest_common.cpp
  src/Processors/Formats/Impl/AvroRowOutputFormat.cpp
  src/Processors/Formats/Impl/RegexpRowInputFormat.h
  src/Server/HTTPHandler.cpp
  src/Server/HTTPHandler.h
  src/Server/HTTPHandlerRequestFilter.h
  src/Server/MySQLHandler.cpp
  src/Server/PrometheusMetricsWriter.cpp
  src/Server/PrometheusRequestHandler.cpp
  src/Server/PrometheusRequestHandler.h
  src/Server/WebUIRequestHandler.cpp
  src/Storages/HDFS/HDFSCommon.cpp
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/NamedCollectionsHelpers.h
  src/Storages/StorageAzureBlob.cpp
  src/Storages/StorageAzureBlob.h
  src/Storages/StorageFile.cpp
  src/Storages/StorageURL.cpp
  src/Storages/System/StorageSystemCertificates.cpp
  src/Storages/WindowView/StorageWindowView.cpp
  utils/check-style/check-style
Labels: pr-not-for-changelog, pr-must-backport, pr-must-backport-cloud

#58679 Adds ALL qualifier to JOIN doc.
  docs/en/sql-reference/statements/select/join.md
Labels: pr-documentation, can be tested

#58617 Add intel AMX checking
  src/Common/CpuId.h
  src/Common/TargetSpecific.cpp
  src/Common/TargetSpecific.h
Labels: pr-not-for-changelog, manual approve, can be tested

#58682 Docs: Update type of two column in `system.query_log/text_log`
  docs/en/operations/system-tables/query_log.md
  docs/en/operations/system-tables/text_log.md
Labels: pr-documentation

#58656 Fix perf tests duration (checks.test_duration_ms)
  tests/performance/scripts/compare.sh
Labels: pr-not-for-changelog

#58624 Fix possible race in ManyAggregatedData dtor.
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  src/Processors/Transforms/AggregatingTransform.cpp
Labels: pr-not-for-changelog, pr-must-backport, pr-must-backport-cloud

#57786 Fix the exprs order bug in group by with rollup
  src/Interpreters/TreeOptimizer.cpp
  tests/queries/0_stateless/02943_exprs_order_in_group_by_with_rollup.reference
  tests/queries/0_stateless/02943_exprs_order_in_group_by_with_rollup.sql
Labels: pr-bugfix, can be tested

#58678 Small follow-up to `std::regex` --> `re2` conversion (#58458)
  src/Server/MySQLHandler.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#58550 Hide credentials in system.backup_log base_backup_name column
  src/Backups/BackupsWorker.cpp
  tests/integration/test_mask_sensitive_info/test.py
Labels: pr-bugfix, can be tested

#58700 Adds info about not using `arrayJoin` with `short_circuit_function_evaluation`.
  docs/en/sql-reference/statements/select/array-join.md
Labels: pr-documentation, can be tested

#58669 Tells reader how to show which settings have been changed from default.
  docs/en/operations/settings/index.md
Labels: pr-documentation, can be tested

#58666 Explains that date is generally faster than datetime.
  docs/en/sql-reference/data-types/datetime.md
Labels: pr-documentation, can be tested

#58658 fix a typo in stress randomization setting
  docker/test/stress/run.sh
  tests/config/install.sh
Labels: pr-not-for-changelog

#57235 Parallel replicas custom key: skip unavailable replicas
  src/Client/ConnectionPoolWithFailover.cpp
  src/Client/ConnectionPoolWithFailover.h
  src/Client/HedgedConnections.cpp
  src/Client/HedgedConnections.h
  src/Client/HedgedConnectionsFactory.cpp
  src/Client/HedgedConnectionsFactory.h
  src/Common/GetPriorityForLoadBalancing.cpp
  src/Common/GetPriorityForLoadBalancing.h
  src/Common/PoolWithFailoverBase.h
  src/Interpreters/ClusterProxy/SelectStreamFactory.cpp
  src/Interpreters/ClusterProxy/SelectStreamFactory.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/ClusterProxy/executeQuery.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/getCustomKeyFilterForParallelReplicas.cpp
  src/Interpreters/getCustomKeyFilterForParallelReplicas.h
  src/Planner/PlannerJoinTree.cpp
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/QueryPlan/ReadFromRemote.h
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageDistributed.cpp
  tests/config/config.d/clusters.xml
  tests/integration/test_parallel_replicas_custom_key/test.py
  tests/integration/test_parallel_replicas_custom_key_failover/__init__.py
  tests/integration/test_parallel_replicas_custom_key_failover/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_custom_key_failover/test.py
  tests/queries/0_stateless/01361_fover_remote_num_tries.reference
  tests/queries/0_stateless/01361_fover_remote_num_tries.sh
  tests/queries/0_stateless/02918_parallel_replicas_custom_key_unavailable_replica.reference
  tests/queries/0_stateless/02918_parallel_replicas_custom_key_unavailable_replica.sql
Labels: pr-not-for-changelog

#48350 Added comments for system tables
  src/Interpreters/SystemLog.cpp
  src/Storages/System/attachSystemTables.cpp
  src/Storages/System/attachSystemTablesImpl.h
Labels: pr-documentation

#56944 Fix a bug with projections and the aggregate_functions_null_for_empty setting during insertion.
  src/Parsers/ASTProjectionSelectQuery.cpp
  tests/queries/0_stateless/01710_projection_with_ast_rewrite_settings.reference
  tests/queries/0_stateless/01710_projection_with_ast_rewrite_settings.sql
Labels: pr-bugfix

#58638 Fix broken partition key analysis when doing projection optimization
  src/Processors/QueryPlan/Optimizations/optimizeUseAggregateProjection.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseNormalProjection.cpp
  src/Processors/QueryPlan/Optimizations/projectionsCommon.cpp
  src/Processors/QueryPlan/Optimizations/projectionsCommon.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  tests/queries/0_stateless/02965_projection_with_partition_pruning.reference
  tests/queries/0_stateless/02965_projection_with_partition_pruning.sql
Labels: pr-bugfix

#58611 Improve isolation of query cache entries under re-created users or role switches
  docs/en/operations/query-cache.md
  src/Common/CacheBase.h
  src/Common/ICachePolicy.h
  src/Common/ICachePolicyUserQuota.h
  src/Common/TTLCachePolicy.h
  src/Interpreters/Cache/QueryCache.cpp
  src/Interpreters/Cache/QueryCache.h
  src/Interpreters/executeQuery.cpp
  src/Storages/System/StorageSystemQueryCache.cpp
  tests/queries/0_stateless/02494_query_cache_user_isolation.reference
  tests/queries/0_stateless/02494_query_cache_user_isolation.sh
Labels: pr-bugfix

#58506 PartsSplitter small refactoring
  src/Processors/QueryPlan/PartsSplitter.cpp
Labels: pr-not-for-changelog, can be tested

#57550 Small change in log message in MergeTreeDataMergerMutator
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
Labels: pr-not-for-changelog

#58650 Fix 01600_remerge_sort_lowered_memory_bytes_ratio flakiness (due to settings randomization)
  tests/queries/0_stateless/01600_remerge_sort_lowered_memory_bytes_ratio.sql
Labels: pr-not-for-changelog

#58723 Analyzer: Fix LOGICAL_ERROR in CountDistinctPass
  src/Analyzer/Passes/CountDistinctPass.cpp
  tests/queries/0_stateless/02962_analyzer_const_in_count_distinct.reference
  tests/queries/0_stateless/02962_analyzer_const_in_count_distinct.sql
Labels: pr-not-for-changelog

#58665 Add SYSTEM commands and Keeper 4LW for jemalloc
  programs/keeper/CMakeLists.txt
  src/Access/Common/AccessType.h
  src/Common/Jemalloc.cpp
  src/Common/Jemalloc.h
  src/Coordination/CoordinationSettings.cpp
  src/Coordination/FourLetterCommand.cpp
  src/Coordination/FourLetterCommand.h
  src/Coordination/KeeperDispatcher.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  tests/queries/0_stateless/01271_show_privileges.reference
Labels: pr-improvement

#58740 fix stress with generate-template-key
  tests/config/install.sh
Labels: pr-not-for-changelog

#58712 Some small improvements to version_helper from #57203
  tests/ci/release.py
  tests/ci/version_helper.py
Labels: pr-not-for-changelog

#58751 more relaxed check
  src/Common/tests/gtest_generate_random_by_regexp.cpp
Labels: pr-not-for-changelog

#58739 Fix stream partitioning in parallel window functions
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Planner/Planner.cpp
  tests/queries/0_stateless/02962_parallel_window_functions_different_partitioning.reference
  tests/queries/0_stateless/02962_parallel_window_functions_different_partitioning.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#58721 Support Point data type for MySQL
  src/Core/ExternalResultDescription.cpp
  src/Core/ExternalResultDescription.h
  src/Core/PostgreSQL/insertPostgreSQLValue.cpp
  src/DataTypes/convertMySQLDataType.cpp
  src/Processors/Sources/MySQLSource.cpp
  tests/integration/test_storage_mysql/test.py
Labels: pr-improvement

#58557 toStartOfInterval for milli- microsencods values rounding
  src/Functions/DateTimeTransforms.h
  tests/queries/0_stateless/02207_subseconds_intervals.reference
  tests/queries/0_stateless/02956_fix_to_start_of_milli_microsecond.reference
  tests/queries/0_stateless/02956_fix_to_start_of_milli_microsecond.sql
Labels: pr-bugfix

#58733 Fix Mac OS X
  src/IO/TimeoutSetter.cpp
Labels: pr-not-for-changelog

#58745 Fix double destroy call on exception throw in addBatchLookupTable8
  src/Interpreters/Aggregator.cpp
  tests/queries/0_stateless/02963_msan_agg_addBatchLookupTable8.reference
  tests/queries/0_stateless/02963_msan_agg_addBatchLookupTable8.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#58772 Remove some code
  base/base/Decimal.h
  base/base/types.h
  programs/keeper-client/Commands.cpp
  src/Access/MultipleAccessStorage.cpp
  src/Columns/IColumnUnique.h
  src/Common/CurrentMetrics.h
  src/Common/HashTable/Hash.h
  src/Common/HashTable/StringHashTable.h
  src/Common/MemoryTracker.cpp
  src/Common/XMLUtils.cpp
  src/Common/examples/small_table.cpp
  src/Common/randomSeed.cpp
  src/Common/randomSeed.h
  src/Core/NamesAndAliases.h
  src/Core/NamesAndTypes.h
  src/Core/examples/mysql_protocol.cpp
  src/Core/tests/gtest_multienum.cpp
  src/Disks/tests/gtest_disk.cpp
  src/Disks/tests/gtest_disk_hdfs.cpp
  src/Formats/FormatFactory.cpp
  src/Functions/tests/gtest_number_traits.cpp
  src/IO/examples/read_buffer.cpp
  src/IO/examples/read_buffer_perf.cpp
  src/IO/examples/var_uint.cpp
  src/IO/examples/write_buffer.cpp
  src/IO/examples/write_buffer_perf.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/tests/gtest_convertFieldToType.cpp
  src/Parsers/Kusto/ParserKQLOperators.cpp
  src/Parsers/MySQL/tests/gtest_column_parser.cpp
  src/Parsers/fuzzers/lexer_fuzzer.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Storages/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/DataLakes/Iceberg/StorageIceberg.cpp
  src/Storages/HDFS/StorageHDFS.cpp
  src/Storages/StorageAzureBlob.cpp
  src/Storages/StorageURL.cpp
Labels: pr-not-for-changelog

#58770 Add missing includes when _LIBCPP_REMOVE_TRANSITIVE_INCLUDES enabled
  src/Common/FileChecker.h
  src/Common/ProxyListConfigurationResolver.h
  src/Storages/StorageLogSettings.h
Labels: pr-not-for-changelog, can be tested

#58657 Analyzer: Correctly handle constant set in index
  src/Storages/MergeTree/MergeTreeIndexSet.cpp
  tests/queries/0_stateless/02962_analyzer_constant_set.reference
  tests/queries/0_stateless/02962_analyzer_constant_set.sql
Labels: pr-not-for-changelog

#58519 Add settings for better control of indexes type in Arrow dictionary
  docker/test/stateless/Dockerfile
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings-formats.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/ArrowBlockOutputFormat.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.h
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  tests/queries/0_stateless/02962_arrow_dictionary_indexes_types.reference
  tests/queries/0_stateless/02962_arrow_dictionary_indexes_types.sh
Labels: pr-improvement

#58724 Do not promote float32 automatically
  src/Interpreters/convertFieldToType.cpp
  tests/queries/0_stateless/02966_float32_promotion.reference
  tests/queries/0_stateless/02966_float32_promotion.sql
Labels: pr-improvement

#58790 Remove some code
  src/Core/Types_fwd.h
Labels: pr-not-for-changelog

#54366 Implement vertical replacing FINAL
  src/Columns/FilterDescription.cpp
  src/Columns/FilterDescription.h
  src/Core/Settings.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Processors/Merges/Algorithms/ReplacingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/ReplacingSortedAlgorithm.h
  src/Processors/Merges/Algorithms/RowRef.h
  src/Processors/Merges/ReplacingSortedTransform.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Processors/Transforms/FilterTransform.cpp
  src/Processors/Transforms/SelectByIndicesTransform.h
  src/Storages/SelectQueryInfo.h
  tests/performance/final_big_column.xml
  tests/performance/parallel_final.xml
  tests/queries/0_stateless/01861_explain_pipeline.sql
  tests/queries/0_stateless/02564_read_in_order_final_desc.sql
  tests/queries/0_stateless/02893_vertical_final_array_join.reference
  tests/queries/0_stateless/02893_vertical_final_array_join.sql
Labels: pr-performance, can be tested

#58794 Fix trash in performance tests
  tests/performance/scripts/download.sh
  tests/performance/scripts/entrypoint.sh
Labels: pr-not-for-changelog

#58703 Add identifier name to the error INVALID_IDENTIFIER
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  src/Interpreters/DatabaseAndTableWithAlias.cpp
  tests/queries/0_stateless/01936_three_parts_identifiers_in_wrong_places.sql
  tests/queries/0_stateless/02963_invalid_identifier.reference
  tests/queries/0_stateless/02963_invalid_identifier.sql
Labels: pr-improvement

#58768 Fix usage of small buffers for remote reading
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  tests/queries/0_stateless/02963_remote_read_small_buffer_size_bug.reference
  tests/queries/0_stateless/02963_remote_read_small_buffer_size_bug.sh
Labels: pr-not-for-changelog, pr-must-backport-cloud

#58722 Fix bug in new (not released yet) parallel replicas coordinator
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#58393 add `from srcreplicas` modifier for `SYSTEM SYNC REPLICA LIGHTWEIGHT`
  docs/en/sql-reference/statements/system.md
  docs/ru/sql-reference/statements/system.md
  docs/zh/sql-reference/statements/system.md
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Parsers/ASTSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  src/Parsers/ParserSystemQuery.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/02962_system_sync_replica_lightweight_from_modifier.reference
  tests/queries/0_stateless/02962_system_sync_replica_lightweight_from_modifier.sh
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, can be tested

#58791 Simplify stateful tests
  cmake/sanitize.cmake
  contrib/jemalloc-cmake/CMakeLists.txt
  docker/test/stateful/Dockerfile
  docker/test/stateful/create.sql
  docker/test/stateful/run.sh
  docker/test/stateful/s3downloader
  docker/test/stress/Dockerfile
  docker/test/stress/run.sh
  src/Disks/ObjectStorages/Web/WebObjectStorage.cpp
  tests/queries/1_stateful/00061_storage_buffer.sql
  tests/queries/1_stateful/00152_insert_different_granularity.reference
  tests/queries/1_stateful/00152_insert_different_granularity.sql
  tests/queries/1_stateful/00157_cache_dictionary.sql
  utils/s3tools/s3uploader
Labels: pr-build, submodule changed

#55528 Insert quorum: check host node version in addition
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.h
Labels: pr-not-for-changelog

#58765 Don't process requests in Keeper during shutdown
  src/Coordination/KeeperStateMachine.cpp
Labels: pr-bugfix

#58284 Utilize inverted index by function `match()`
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  src/Storages/MergeTree/MergeTreeIndexInverted.cpp
  src/Storages/MergeTree/MergeTreeIndexInverted.h
  tests/queries/0_stateless/02951_inverted_index_support_match.reference
  tests/queries/0_stateless/02951_inverted_index_support_match.sql
Labels: pr-performance, can be tested

#58477 Delay reading from StorageKafka to allow multiple reads in materialized views
  src/Storages/Kafka/StorageKafka.cpp
  src/Storages/Kafka/StorageKafka.h
  tests/integration/test_storage_kafka/test.py
Labels: pr-bugfix

#58710 Handle signed numeric literals in normalizeQuery
  src/Parsers/queryNormalization.cpp
  tests/queries/0_stateless/01451_normalize_query.reference
  tests/queries/0_stateless/01451_normalize_query.sql
Labels: pr-improvement, can be tested

#58297 Support query parameters in ALTER TABLE ... PART
  src/Databases/PostgreSQL/DatabaseMaterializedPostgreSQL.cpp
  src/Functions/UserDefined/UserDefinedSQLFunctionVisitor.cpp
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/MutationsNonDeterministicHelpers.cpp
  src/Interpreters/MySQL/InterpretersMySQLDDLQuery.cpp
  src/Parsers/ASTAlterQuery.cpp
  src/Parsers/ASTAlterQuery.h
  src/Parsers/ASTCreateIndexQuery.cpp
  src/Parsers/ASTDropIndexQuery.cpp
  src/Parsers/Access/ParserCreateUserQuery.cpp
  src/Parsers/ParserAlterQuery.cpp
  src/Parsers/ParserStringAndSubstitution.cpp
  src/Parsers/ParserStringAndSubstitution.h
  src/Storages/AlterCommands.cpp
  src/Storages/MutationCommands.cpp
  src/Storages/PartitionCommands.cpp
  src/Storages/WindowView/StorageWindowView.cpp
  tests/queries/0_stateless/02158_explain_ast_alter_commands.reference
  tests/queries/0_stateless/02960_alter_table_part_query_parameter.reference
  tests/queries/0_stateless/02960_alter_table_part_query_parameter.sql
Labels: pr-improvement

#58357 Flexible configuration for disks
  docker/test/upgrade/run.sh
  programs/keeper/CMakeLists.txt
  src/Disks/DiskFactory.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageAuth.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/AzureBlobStorage/registerDiskAzureBlobStorage.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/Cached/registerDiskCache.cpp
  src/Disks/ObjectStorages/DiskObjectStorageCommon.cpp
  src/Disks/ObjectStorages/DiskObjectStorageCommon.h
  src/Disks/ObjectStorages/HDFS/HDFSObjectStorage.h
  src/Disks/ObjectStorages/HDFS/registerDiskHDFS.cpp
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/Local/LocalObjectStorage.cpp
  src/Disks/ObjectStorages/Local/LocalObjectStorage.h
  src/Disks/ObjectStorages/Local/registerLocalObjectStorage.cpp
  src/Disks/ObjectStorages/MetadataStorageFactory.cpp
  src/Disks/ObjectStorages/MetadataStorageFactory.h
  src/Disks/ObjectStorages/ObjectStorageFactory.cpp
  src/Disks/ObjectStorages/ObjectStorageFactory.h
  src/Disks/ObjectStorages/RegisterDiskObjectStorage.cpp
  src/Disks/ObjectStorages/S3/DiskS3Utils.cpp
  src/Disks/ObjectStorages/S3/DiskS3Utils.h
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
  src/Disks/ObjectStorages/S3/diskSettings.cpp
  src/Disks/ObjectStorages/S3/registerDiskS3.cpp
  src/Disks/ObjectStorages/Web/WebObjectStorage.h
  src/Disks/ObjectStorages/Web/registerDiskWebServer.cpp
  src/Disks/registerDisks.cpp
  tests/config/config.d/storage_conf_02963.xml
  tests/config/install.sh
  tests/queries/0_stateless/02963_test_flexible_disk_configuration.reference
  tests/queries/0_stateless/02963_test_flexible_disk_configuration.sql
Labels: pr-improvement, 🎅 🎁 gift🎄

#58833 Analyzer: Resolve GROUPING function on shards
  src/Analyzer/Passes/FunctionToSubcolumnsPass.cpp
  src/Analyzer/Passes/GroupingFunctionsResolvePass.cpp
  src/Analyzer/Passes/OptimizeDateOrDateTimeConverterWithPreimagePass.cpp
  src/Analyzer/Passes/RemoveUnusedProjectionColumnsPass.cpp
  src/Analyzer/QueryTreePassManager.cpp
  src/Analyzer/QueryTreePassManager.h
  src/Interpreters/InterpreterSelectQueryAnalyzer.cpp
Labels: pr-not-for-changelog

#58821 Fuzzer: do not trim fuzzer log
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-build

#58647 Update test_replicated_database/test.py
  tests/integration/test_replicated_database/test.py
Labels: pr-not-for-changelog

#58835 Add support for MySQL `net_write_timeout` and `net_read_timeout` settings
  src/Server/MySQLHandler.cpp
  src/Server/MySQLHandler.h
  tests/queries/0_stateless/02967_mysql_settings_override.reference
  tests/queries/0_stateless/02967_mysql_settings_override.sh
Labels: pr-improvement, can be tested

#58832 DatabaseCatalog background tasks add log names
  src/Interpreters/DatabaseCatalog.cpp
Labels: pr-not-for-changelog

#58842 fs cache: fix data race in slru
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/IFileCachePriority.h
  src/Interpreters/Cache/LRUFileCachePriority.cpp
  src/Interpreters/Cache/LRUFileCachePriority.h
  src/Interpreters/Cache/SLRUFileCachePriority.cpp
  src/Interpreters/Cache/SLRUFileCachePriority.h
Labels: pr-not-for-changelog

#58786 Ecloud EOS Storage support
  src/IO/S3/URI.cpp
Labels: pr-improvement, can be tested

#58808 Fix JSONExtract function for LowCardinality(Nullable) columns
  src/Functions/FunctionsJSON.h
  tests/queries/0_stateless/00918_json_functions.reference
  tests/queries/0_stateless/00918_json_functions.sql
  tests/queries/0_stateless/01915_json_extract_raw_string.reference
  tests/queries/0_stateless/01915_json_extract_raw_string.sql
  tests/queries/0_stateless/02013_json_function_null_column.reference
  tests/queries/0_stateless/02013_json_function_null_column.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#58123 ClusterDiscovery supports setting username and password
  docs/en/operations/cluster-discovery.md
  src/Interpreters/ClusterDiscovery.cpp
  src/Interpreters/ClusterDiscovery.h
  tests/integration/test_cluster_discovery/common.py
  tests/integration/test_cluster_discovery/config/config_with_pwd.xml
  tests/integration/test_cluster_discovery/config/config_with_secret1.xml
  tests/integration/test_cluster_discovery/config/config_with_secret2.xml
  tests/integration/test_cluster_discovery/config/users.d/users_with_pwd.xml
  tests/integration/test_cluster_discovery/test.py
  tests/integration/test_cluster_discovery/test_password.py
Labels: pr-improvement

#58652 Analyzer: Fix assertion in HashJoin with duplicate columns
  src/Interpreters/HashJoin.cpp
  src/Interpreters/HashJoin.h
  src/Interpreters/MergeJoin.cpp
  tests/queries/0_stateless/02381_join_dup_columns_in_plan.reference
  tests/queries/0_stateless/02381_join_dup_columns_in_plan.sql
  tests/queries/0_stateless/02381_join_dup_columns_in_plan.sql.j2
Labels: pr-not-for-changelog, analyzer

#51550 Add join keys conversion for nested lowcardinality
  tests/queries/0_stateless/02797_join_nested_lowcardinality_convert.reference
  tests/queries/0_stateless/02797_join_nested_lowcardinality_convert.sql.j2
Labels: pr-bugfix

#49703 Analyzer: Fix resolving subcolumns in JOIN
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  tests/queries/0_stateless/02731_analyzer_join_resolve_nested.reference
  tests/queries/0_stateless/02731_analyzer_join_resolve_nested.sql.j2
Labels: pr-not-for-changelog, analyzer

#58863 Set max_bytes_before_external_group_by in 01961_roaring_memory_tracking
  tests/queries/0_stateless/01961_roaring_memory_tracking.sql
Labels: pr-not-for-changelog

#58844 Fix reading from an invisible part in new (not released yet) parallel replicas coordinator
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicas.cpp
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#58537 Fix hive threadpool read ORC/Parquet/... Failed
  src/Storages/Hive/StorageHive.cpp
Labels: pr-bugfix, can be tested

#58872 Revert "Add support for MySQL `net_write_timeout` and `net_read_timeout` settings"
  src/Server/MySQLHandler.cpp
  src/Server/MySQLHandler.h
  tests/queries/0_stateless/02967_mysql_settings_override.reference
  tests/queries/0_stateless/02967_mysql_settings_override.sh
Labels: pr-not-for-changelog

#58809 Increase log level to trace to help debug `00993_system_parts_race_condition_drop_zookeeper`
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
Labels: pr-not-for-changelog

#58731 Query cache: Fix per-user quota
  src/Common/ICachePolicyUserQuota.h
  src/Common/TTLCachePolicy.h
  tests/queries/0_stateless/02494_query_cache_user_quotas_after_drop.reference
  tests/queries/0_stateless/02494_query_cache_user_quotas_after_drop.sql
Labels: pr-bugfix
