Repository ClickHouse/ClickHouse, pull requests merged in 2024-09, with the labels that each got.

#69124 Fix: expression description in plan after lift up union optimization
  src/Processors/QueryPlan/Optimizations/liftUpUnion.cpp
  tests/queries/0_stateless/01952_optimize_distributed_group_by_sharding_key.reference
  tests/queries/0_stateless/02496_remove_redundant_sorting.reference
  tests/queries/0_stateless/02496_remove_redundant_sorting_analyzer.reference
  tests/queries/0_stateless/02500_remove_redundant_distinct.reference
  tests/queries/0_stateless/02500_remove_redundant_distinct_analyzer.reference
Labels: pr-not-for-changelog

#69066 Path normalization in StorageFile
  src/Storages/StorageFile.cpp
  tests/queries/0_stateless/03232_file_path_normalizing.reference
  tests/queries/0_stateless/03232_file_path_normalizing.sh
Labels: pr-bugfix

#69055 Update parametric-functions.md
  docs/en/sql-reference/aggregate-functions/parametric-functions.md
Labels: pr-not-for-changelog, can be tested

#69132 Fix locking in UserDefinedSQLObjectsZooKeeperStorage.cpp
  src/Functions/UserDefined/UserDefinedSQLObjectsZooKeeperStorage.cpp
Labels: pr-not-for-changelog

#69034 cp/mv operations for keeper client
  programs/keeper-client/Commands.cpp
  programs/keeper-client/Commands.h
  programs/keeper-client/KeeperClient.cpp
  tests/queries/0_stateless/03230_keeper_cp_mv_commands.reference
  tests/queries/0_stateless/03230_keeper_cp_mv_commands.sh
Labels: pr-feature

#67436 Fix the problem that alter modfiy order by causes inconsistent metadata
  src/Storages/AlterCommands.cpp
  tests/integration/test_replicated_database_alter_modify_order_by/__init__.py
  tests/integration/test_replicated_database_alter_modify_order_by/configs/config.xml
  tests/integration/test_replicated_database_alter_modify_order_by/configs/settings.xml
  tests/integration/test_replicated_database_alter_modify_order_by/test.py
Labels: pr-bugfix, can be tested

#69081 Fix ProgressIndication data race on `cancelQuery()`
  src/Common/ProgressIndication.cpp
  src/Common/ProgressIndication.h
Labels: pr-bugfix, 🍃 green ci 🌿

#69125 Fix types in JSON docs
  docs/en/sql-reference/data-types/newjson.md
Labels: pr-documentation

#68674 Thread pool metrics
  src/Common/CurrentMetrics.cpp
  src/Common/ProfileEvents.cpp
  src/Common/ThreadPool.cpp
  src/Common/ThreadPool.h
Labels: pr-improvement, can be tested

#68950 Fix possible wrong result during anyHeavy state merge
  src/AggregateFunctions/AggregateFunctionAnyHeavy.cpp
  tests/integration/test_backward_compatibility/test_functions.py
  tests/queries/0_stateless/03230_anyHeavy_merge.reference
  tests/queries/0_stateless/03230_anyHeavy_merge.sql
Labels: pr-bugfix, pr-must-backport

#69099 Fix regex for changelog generation script
  tests/ci/changelog.py
Labels: pr-not-for-changelog

#65182 IO scheduling on HTTP session level
  base/poco/Net/include/Poco/Net/HTTPSession.h
  base/poco/Net/src/HTTPSession.cpp
  base/poco/Net/src/SocketImpl.cpp
  src/Common/CurrentMetrics.cpp
  src/Common/CurrentThread.cpp
  src/Common/CurrentThread.h
  src/Common/HTTPConnectionPool.cpp
  src/Common/ProfileEvents.cpp
  src/Common/Scheduler/ISchedulerQueue.h
  src/Common/Scheduler/Nodes/tests/ResourceTest.h
  src/Common/Scheduler/Nodes/tests/gtest_dynamic_resource_manager.cpp
  src/Common/Scheduler/Nodes/tests/gtest_resource_scheduler.cpp
  src/Common/Scheduler/ResouceLink.cpp
  src/Common/Scheduler/ResourceGuard.h
  src/Common/Scheduler/ResourceLink.h
  src/Common/Scheduler/ResourceRequest.h
  src/Common/ThreadStatus.h
  src/Disks/IO/ReadBufferFromAzureBlobStorage.cpp
  src/Disks/IO/WriteBufferFromAzureBlobStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/IO/ReadBufferFromS3.cpp
  src/IO/ReadSettings.h
  src/IO/WriteBufferFromS3.cpp
  src/IO/WriteSettings.h
  src/Storages/ObjectStorage/HDFS/ReadBufferFromHDFS.cpp
  src/Storages/ObjectStorage/HDFS/WriteBufferFromHDFS.cpp
  tests/integration/test_scheduler/test.py
Labels: pr-improvement

#69076 CREATE TABLE AS copy PRIMARY KEY, ORDER BY, and similar clauses.
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/queries/0_stateless/01056_create_table_as_with_sorting_clauses.reference
  tests/queries/0_stateless/01056_create_table_as_with_sorting_clauses.sql
Labels: pr-improvement, can be tested, pr-synced-to-cloud

#68979 Revert "Fix strange trash"
  src/Core/SettingsFields.cpp
  tests/integration/test_cgroup_limit/test.py
Labels: pr-not-for-changelog

#66926 Analyzer: Storage Join support joining with nullable columns
  src/Planner/PlannerJoins.cpp
  tests/queries/0_stateless/03208_multiple_joins_with_storage_join.reference
  tests/queries/0_stateless/03208_multiple_joins_with_storage_join.sql
Labels: pr-bugfix, analyzer

#69176 Fix s3 filter handling
  src/Storages/StorageS3.cpp
  tests/queries/0_stateless/03229_s3_filter_handling.reference
  tests/queries/0_stateless/03229_s3_filter_handling.sql
Labels: pr-backport

#69148 RMT: Do not block retries when establishing a new keeper connection
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_inserts_with_keeper_retries/configs/storage_conf.xml
  tests/integration/test_inserts_with_keeper_retries/test.py
Labels: pr-improvement

#69150 Don't create Object type if use_json_alias_for_old_object_type=1 but allow_experimental_object_type=0
  src/DataTypes/DataTypeObject.cpp
  tests/queries/0_stateless/03230_json_alias_new_old_types.reference
  tests/queries/0_stateless/03230_json_alias_new_old_types.sql
Labels: pr-not-for-changelog, v24.8-must-backport

#69086 Fix typo in ActionsDag
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Processors/QueryPlan/Optimizations/useDataParallelAggregation.cpp
Labels: pr-not-for-changelog, can be tested

#68837 Fix async inserts with `ALTER ADD/MODIFY COLUMN`
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/AsynchronousInsertQueue.h
  tests/queries/0_stateless/02790_async_queries_in_query_log.reference
  tests/queries/0_stateless/03148_async_queries_in_query_log_errors.reference
  tests/queries/0_stateless/03229_async_insert_alter.reference
  tests/queries/0_stateless/03229_async_insert_alter.sql
  tests/queries/0_stateless/03229_async_insert_alter_http.reference
  tests/queries/0_stateless/03229_async_insert_alter_http.sh
Labels: pr-bugfix

#68896 Add identifier quoting style settings
  src/Core/ExternalTable.cpp
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Interpreters/executeQuery.cpp
  src/Interpreters/formatWithPossiblyHidingSecrets.h
  src/Parsers/ASTColumnDeclaration.cpp
  src/Parsers/ASTDictionaryAttributeDeclaration.cpp
  src/Parsers/ASTIndexDeclaration.cpp
  src/Parsers/ASTProjectionDeclaration.cpp
  src/Parsers/ASTTableOverrides.cpp
  src/Parsers/IAST.cpp
  src/Parsers/IAST.h
  src/Parsers/tests/gtest_Parser.cpp
  tests/integration/test_materialized_mysql_database/materialized_with_ddl.py
  tests/queries/0_stateless/03230_output_format_identifier_quoting_style.reference
  tests/queries/0_stateless/03230_output_format_identifier_quoting_style.sql
Labels: pr-improvement, can be tested

#68954 Add plan_step_name and plan_step_description columns to system.processors_profile_log
  src/Interpreters/ProcessorsProfileLog.cpp
  src/Interpreters/ProcessorsProfileLog.h
  src/Interpreters/executeQuery.cpp
  src/Processors/IProcessor.cpp
  src/Processors/IProcessor.h
Labels: pr-improvement

#69207 Update transactions doc
  docs/en/sql-reference/transactions.md
Labels: pr-documentation

#68975 `Content-Encoding` was not sent on progress
  src/Server/HTTP/WriteBufferFromHTTPServerResponse.cpp
  tests/queries/0_stateless/03172_http_content_encoding.reference
  tests/queries/0_stateless/03172_http_content_encoding.sh
Labels: pr-bugfix

#69175 Revert "Merge pull request #57191 from azat/client-log_comment-file"
  src/Client/ClientBase.cpp
  tests/queries/0_stateless/02930_client_file_log_comment.reference
  tests/queries/0_stateless/02930_client_file_log_comment.sh
Labels: pr-bugfix

#69211 Fix small doc mistake
  docs/en/operations/storing-data.md
Labels: pr-documentation

#69194 Disable perf-like test with sanitizers
  tests/queries/0_stateless/01710_projection_vertical_merges.sql
Labels: pr-not-for-changelog, pr-must-backport, 🍃 green ci 🌿

#69193 Disable memory test with sanitizer
  tests/queries/0_stateless/01541_max_memory_usage_for_user_long.sh
Labels: pr-not-for-changelog, pr-must-backport, pr-must-backport-cloud, 🍃 green ci 🌿

#68380 Rework integration test flaky tests runner to split per module as a separate group
  tests/ci/ci_config.py
  tests/ci/integration_tests_runner.py
  tests/integration/helpers/postgres_utility.py
  tests/integration/test_alter_settings_on_cluster/test.py
  tests/integration/test_always_fetch_merged/test.py
  tests/integration/test_async_insert_adaptive_busy_timeout/test.py
  tests/integration/test_async_load_databases/test.py
  tests/integration/test_asynchronous_metric_log_table/test.py
  tests/integration/test_filesystem_layout/test.py
  tests/integration/test_grant_and_revoke/test_with_table_engine_grant.py
  tests/integration/test_parallel_replicas_failover/test.py
  tests/integration/test_parallel_replicas_invisible_parts/test.py
  tests/integration/test_postgresql_replica_database_engine_2/test.py
Labels: pr-build

#69130 Add validation of IP addresses and domains in settings
  base/poco/Util/CMakeLists.txt
  base/poco/Util/include/Poco/Util/AbstractConfiguration.h
  base/poco/Util/src/AbstractConfiguration.cpp
  src/Common/tests/gtest_config_host_validation.cpp
Labels: pr-improvement, can be tested

#68463 Add aggregate functions distinctDynamicTypes/distinctJSONPaths/distinctJSONPathsAndTypes
  docs/en/sql-reference/aggregate-functions/reference/distinctdynamictypes.md
  docs/en/sql-reference/aggregate-functions/reference/distinctjsonpaths.md
  docs/en/sql-reference/data-types/newjson.md
  src/AggregateFunctions/AggregateFunctionDistinctDynamicTypes.cpp
  src/AggregateFunctions/AggregateFunctionDistinctJSONPaths.cpp
  src/AggregateFunctions/registerAggregateFunctions.cpp
  src/Columns/ColumnDynamic.cpp
  src/Columns/ColumnDynamic.h
  tests/queries/0_stateless/03227_distinct_dynamic_types_json_paths.reference
  tests/queries/0_stateless/03227_distinct_dynamic_types_json_paths.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#69205 Fix flaky 00157_cache_dictionary
  tests/queries/1_stateful/00157_cache_dictionary.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#69234 Fix progress bar when reading from Memory tables
  src/Processors/QueryPlan/ReadFromMemoryStorageStep.cpp
  src/Storages/StorageMemory.cpp
  src/Storages/StorageMemory.h
Labels: pr-not-for-changelog

#69181 CI: Rerun check: do not check if manual rerun
  tests/ci/ci.py
Labels: pr-not-for-changelog

#69202 Test for parallel replicas, reverse in order reading mode
  tests/queries/0_stateless/03231_pr_reverse_in_order.reference
  tests/queries/0_stateless/03231_pr_reverse_in_order.sql
Labels: pr-not-for-changelog

#69146 Fix: parallel replicas duplicate announcement request
  src/Planner/Planner.cpp
  tests/queries/0_stateless/03231_pr_duplicate_announcement.reference
  tests/queries/0_stateless/03231_pr_duplicate_announcement.sql
  tests/queries/0_stateless/03231_pr_duplicate_announcement_2.reference
  tests/queries/0_stateless/03231_pr_duplicate_announcement_2.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#69190 Fix flaky 02915_move_partition_inactive_replica
  tests/queries/0_stateless/02915_move_partition_inactive_replica.sql
  tests/queries/0_stateless/02916_another_move_partition_inactive_replica.reference
  tests/queries/0_stateless/02916_another_move_partition_inactive_replica.sql
Labels: pr-not-for-changelog, pr-must-backport-cloud, 🍃 green ci 🌿

#69204 Collect sanitizer report from client to `client_log`
  tests/clickhouse-test
Labels: pr-ci

#67150 Improve castOrDefault from Variant/Dynamic columns
  src/Functions/FunctionsConversion.cpp
  tests/queries/0_stateless/03212_variant_dynamic_cast_or_default.reference
  tests/queries/0_stateless/03212_variant_dynamic_cast_or_default.sql
Labels: pr-improvement

#69252 Backports should read tags from its repo only
  tests/ci/cherry_pick.py
Labels: pr-not-for-changelog

#69257 CI: Merge stress and func runners type
  tests/ci/ci_definitions.py
Labels: pr-not-for-changelog

#68584 Avoid detached covered-by-broken part duplicates
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  tests/integration/test_covered_by_broken_exists/__init__.py
  tests/integration/test_covered_by_broken_exists/test.py
Labels: pr-bugfix, can be tested

#68935 Fix mutation commands parsing with modify column
  docs/en/operations/settings/settings.md
  src/Parsers/ParserAlterQuery.cpp
  src/Storages/MutationCommands.cpp
  tests/queries/0_stateless/03230_alter_with_mixed_mutations_and_remove_materialized.reference
  tests/queries/0_stateless/03230_alter_with_mixed_mutations_and_remove_materialized.sql
  tests/queries/0_stateless/03231_alter_no_properties_before_remove_modify_reset.reference
  tests/queries/0_stateless/03231_alter_no_properties_before_remove_modify_reset.sql
Labels: pr-bugfix

#69255 01114_database_atomic: Increase time frames to reduce flakiness
  tests/queries/0_stateless/01114_database_atomic.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#69268 Revert "CREATE TABLE AS copy PRIMARY KEY, ORDER BY, and similar clauses."
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/queries/0_stateless/01056_create_table_as_with_sorting_clauses.reference
  tests/queries/0_stateless/01056_create_table_as_with_sorting_clauses.sql
Labels: pr-not-for-changelog

#69271 Minor improvements for Lemmatizers
  src/Interpreters/Lemmatizers.cpp
Labels: pr-not-for-changelog

#69237 Fix `INFILE` format detection for async inserts
  src/Interpreters/AsynchronousInsertQueue.cpp
  tests/queries/0_stateless/03233_async_insert_infile_format.reference
  tests/queries/0_stateless/03233_async_insert_infile_format.sh
Labels: pr-bugfix, can be tested

#69030 Add new function arrayZipUnaligned
  docs/en/sql-reference/functions/array-functions.md
  src/Functions/array/arrayZip.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/03230_array_zip_unaligned.reference
  tests/queries/0_stateless/03230_array_zip_unaligned.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#69241 Add testcase for ANN index usage with subquery
  docs/en/engines/table-engines/mergetree-family/annindexes.md
  tests/queries/0_stateless/02354_vector_search_bugs.reference
  tests/queries/0_stateless/02354_vector_search_bugs.sql
Labels: pr-not-for-changelog

#65832 Improved getting of alter conversions for queries
  src/Interpreters/MutationsInterpreter.cpp
  src/Interpreters/MutationsInterpreter.h
  src/Processors/QueryPlan/Optimizations/optimizeUseAggregateProjection.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseNormalProjection.cpp
  src/Processors/QueryPlan/Optimizations/projectionsCommon.cpp
  src/Processors/QueryPlan/PartsSplitter.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Storages/IStorage.h
  src/Storages/MergeTree/AlterConversions.cpp
  src/Storages/MergeTree/AlterConversions.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTask.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/MergeTreeMutationEntry.cpp
  src/Storages/MergeTree/MergeTreeMutationEntry.h
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.cpp
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.h
  src/Storages/MergeTree/MergeTreeReadPool.cpp
  src/Storages/MergeTree/MergeTreeReadPool.h
  src/Storages/MergeTree/MergeTreeReadPoolBase.cpp
  src/Storages/MergeTree/MergeTreeReadPoolBase.h
  src/Storages/MergeTree/MergeTreeReadPoolInOrder.cpp
  src/Storages/MergeTree/MergeTreeReadPoolInOrder.h
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicas.cpp
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicas.h
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicasInOrder.cpp
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicasInOrder.h
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  src/Storages/MergeTree/MergeTreeSequentialSource.h
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/RangesInDataPart.h
  src/Storages/MergeTree/ReplicatedMergeTreeLogEntry.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/MergeTree/StorageFromMergeTreeDataPart.cpp
  src/Storages/MergeTree/StorageFromMergeTreeDataPart.h
  src/Storages/MutationCommands.cpp
  src/Storages/MutationCommands.h
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-not-for-changelog

#69285 Clarify timing of lightweight delete
  docs/en/sql-reference/statements/delete.md
Labels: pr-documentation

#69277 Doc. Remove a misleading statement
  docs/en/sql-reference/operators/index.md
Labels: pr-documentation

#69260 Make infrastructure related scripts private
  tests/ci/worker/dockerhub_proxy_template.sh
  tests/ci/worker/prepare-ci-ami.sh
Labels: pr-not-for-changelog

#69256 Fix dropping of file cache in CHECK query in case of enabled transactions
  src/Storages/MergeTree/DataPartStorageOnDiskFull.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskFull.h
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/MergeTree/checkDataPart.cpp
Labels: pr-ci, 🍃 green ci 🌿

#61987 support ATTACH PARTITION `ALL` FROM `TABLE`
  docs/en/sql-reference/statements/alter/partition.md
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  tests/queries/0_stateless/00626_replace_partition_from_table.reference
  tests/queries/0_stateless/00626_replace_partition_from_table.sql
  tests/queries/0_stateless/00626_replace_partition_from_table_zookeeper.reference
  tests/queries/0_stateless/00626_replace_partition_from_table_zookeeper.sh
Labels: pr-feature, can be tested

#69297 Improve logical error trace for TryResult
  src/Client/ConnectionPoolWithFailover.h
  src/Common/PoolWithFailoverBase.h
  src/Storages/Distributed/DistributedAsyncInsertBatch.cpp
  src/Storages/Distributed/DistributedAsyncInsertDirectoryQueue.cpp
  src/Storages/Distributed/DistributedSink.cpp
Labels: pr-not-for-changelog

#69289 Docs: Add info on lightweight_deletes_sync
  docs/en/sql-reference/statements/delete.md
Labels: pr-documentation

#69299 Don't run 01287_max_execution_speed with slow builds
  tests/queries/0_stateless/01287_max_execution_speed.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#68900 ci: add IPv6 support to `NetworkManager`
  docker/test/integration/helper_container/Dockerfile
  tests/integration/helpers/cluster.py
  tests/integration/helpers/network.py
Labels: pr-ci

#69013 Fix test_role & test_keeper_s3_snapshot integration tests
  tests/integration/test_keeper_s3_snapshot/configs/keeper_config1.xml
  tests/integration/test_keeper_s3_snapshot/configs/keeper_config2.xml
  tests/integration/test_keeper_s3_snapshot/configs/keeper_config3.xml
  tests/integration/test_keeper_s3_snapshot/test.py
  tests/integration/test_role/test.py
Labels: pr-not-for-changelog, can be tested

#69065 Disallow `ALTER TABLE ADD VECTOR SIMILARITY INDEX` if corresponding setting is not enabled
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/AlterCommands.cpp
  src/Storages/AlterCommands.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeIndexVectorSimilarity.cpp
  tests/queries/0_stateless/02354_vector_search_experimental_setting.reference
  tests/queries/0_stateless/02354_vector_search_experimental_setting.sql
Labels: pr-not-for-changelog

#69090 Fix bug that vector similarity index does not work for cosine distance
  src/Storages/MergeTree/VectorSimilarityCondition.cpp
  src/Storages/MergeTree/VectorSimilarityCondition.h
  tests/queries/0_stateless/02354_vector_search_queries.reference
  tests/queries/0_stateless/02354_vector_search_queries.sql
Labels: pr-bugfix

#69186 Fix possible timeouts in `sh` tests with tsan, att. 2
  src/Client/ClientBase.cpp
Labels: pr-bugfix

#69322 Disable long tests with sanitizers
  tests/integration/test_backup_restore_new/test.py
  tests/integration/test_backward_compatibility/test_functions.py
Labels: pr-not-for-changelog

#67013 Add `min_max` statistics type
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  src/Storages/Statistics/Statistics.cpp
  src/Storages/Statistics/StatisticsCountMinSketch.cpp
  src/Storages/Statistics/StatisticsMinMax.cpp
  src/Storages/Statistics/StatisticsMinMax.h
  src/Storages/Statistics/StatisticsUniq.cpp
  src/Storages/StatisticsDescription.cpp
  src/Storages/StatisticsDescription.h
  tests/queries/0_stateless/02864_statistics_create_materialize_drop.reference
  tests/queries/0_stateless/02864_statistics_create_materialize_drop.sql
  tests/queries/0_stateless/02864_statistics_ddl.sql
  tests/queries/0_stateless/02864_statistics_predicates.reference
  tests/queries/0_stateless/02864_statistics_predicates.sql
Labels: pr-improvement, can be tested

#69264 Fix: Not-ready Set with parallel replicas
  src/Planner/Planner.cpp
  src/Processors/QueryPlan/Optimizations/Optimizations.h
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  src/Processors/QueryPlan/Optimizations/optimizeTree.cpp
  src/Processors/QueryPlan/QueryPlan.cpp
  tests/ci/ci_config.py
  tests/queries/0_stateless/03232_pr_not_ready_set.reference
  tests/queries/0_stateless/03232_pr_not_ready_set.sql
Labels: pr-not-for-changelog, pr-must-backport, pr-must-backport-cloud

#69324 Speed up some Kafka tests with multiprocessing
  tests/integration/test_storage_kafka/test.py
Labels: pr-not-for-changelog

#68917 Fix `02378_part_log_profile_events` flakiness
  tests/queries/0_stateless/02378_part_log_profile_events.sh
  tests/queries/0_stateless/02378_part_log_profile_events.sql
Labels: can be tested, pr-ci, 🍃 green ci 🌿

#69356 Revert "Speed up some Kafka tests with multiprocessing"
  tests/integration/test_storage_kafka/test.py
Labels: pr-not-for-changelog

#69336 Fix memleak in `lower/upperUTF8`
  src/Functions/LowerUpperUTF8Impl.h
  tests/queries/0_stateless/00170_lower_upper_utf8_memleak.reference
  tests/queries/0_stateless/00170_lower_upper_utf8_memleak.sh
Labels: pr-not-for-changelog

#69359 Update README.md - Meetups
  README.md
Labels: pr-not-for-changelog

#69334 Add CITATION.cff
  CITATION.cff
Labels: pr-not-for-changelog

#69136 Do not use docker pause for Kerberos KDC container in integration tests
  tests/integration/helpers/network.py
  tests/integration/test_storage_kerberized_kafka/test.py
Labels: pr-not-for-changelog, can be tested

#69326 Minor follow-up for #66933
  docs/en/sql-reference/functions/string-replace-functions.md
  src/Functions/overlay.cpp
  tests/queries/0_stateless/03205_overlay.sql
Labels: pr-not-for-changelog

#56738 Add time-bucket overload to function `toStartOfInterval()`
  docs/en/sql-reference/functions/date-time-functions.md
  src/Functions/DateTimeTransforms.h
  src/Functions/toStartOfInterval.cpp
  tests/queries/0_stateless/02916_to_start_of_interval_with_origin.reference
  tests/queries/0_stateless/02916_to_start_of_interval_with_origin.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#69379 Docs: Mention `FROM`-before-`SELECT` syntax
  docs/en/sql-reference/statements/select/from.md
Labels: pr-documentation

#68441 Add thread pool and cancellation to support parallel merge with key
  src/AggregateFunctions/AggregateFunctionUniq.h
  src/AggregateFunctions/IAggregateFunction.h
  src/AggregateFunctions/UniqExactSet.h
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  src/Processors/Transforms/AggregatingTransform.cpp
Labels: pr-performance, can be tested

#69149 Respect format settings in Values format during conversion from expression to the destination type
  src/Interpreters/convertFieldToType.cpp
  src/Interpreters/convertFieldToType.h
  src/Processors/Formats/Impl/ValuesBlockInputFormat.cpp
  tests/queries/0_stateless/03231_values_respect_format_settings_in_fields_conversion.reference
  tests/queries/0_stateless/03231_values_respect_format_settings_in_fields_conversion.sql
Labels: pr-bugfix

#69102 Make `Replicated` database creation operations idempotent
  src/Databases/DatabaseReplicated.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
Labels: pr-bugfix

#69382 Docs: Document per-logger level overrides
  docs/en/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#69240 CMake: Update ICU build description
  contrib/icu-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#69361 Remove obsolete `--multiquery` parameter (follow-up to #63898), pt. VI
  tests/queries/0_stateless/00115_shard_in_incomplete_result.sh
  tests/queries/0_stateless/00133_long_shard_memory_tracker_and_exception_safety.sh
  tests/queries/0_stateless/00385_storage_file_and_clickhouse-local_app_long.sh
  tests/queries/0_stateless/00505_secure.sh
  tests/queries/0_stateless/00531_client_ignore_error.sh
  tests/queries/0_stateless/00534_client_ignore_error.sh
  tests/queries/0_stateless/00686_client_exit_code.sh
  tests/queries/0_stateless/00705_drop_create_merge_tree.sh
  tests/queries/0_stateless/00731_long_merge_tree_select_opened_files.sh
  tests/queries/0_stateless/00838_system_tables_drop_table_race.sh
  tests/queries/0_stateless/00840_long_concurrent_select_and_drop_deadlock.sh
  tests/queries/0_stateless/00900_long_parquet.sh
  tests/queries/0_stateless/00900_long_parquet_decimal.sh
  tests/queries/0_stateless/00921_datetime64_compatibility_long.sh
  tests/queries/0_stateless/00975_indices_mutation_replicated_zookeeper_long.sh
  tests/queries/0_stateless/00991_system_parts_race_condition_long.sh
  tests/queries/0_stateless/00992_system_parts_race_condition_zookeeper_long.sh
  tests/queries/0_stateless/01014_lazy_database_basic.sh
  tests/queries/0_stateless/01014_lazy_database_concurrent_recreate_reattach_and_show_tables.sh
  tests/queries/0_stateless/01018_ddl_dictionaries_concurrent_requrests.sh
  tests/queries/0_stateless/01019_alter_materialized_view_atomic.sh
  tests/queries/0_stateless/01035_avg_weighted_long.sh
  tests/queries/0_stateless/01053_ssd_dictionary.sh
  tests/queries/0_stateless/01079_bad_alters_zookeeper_long.sh
  tests/queries/0_stateless/01111_create_drop_replicated_db_stress.sh
  tests/queries/0_stateless/01114_database_atomic.sh
  tests/queries/0_stateless/01119_session_log.sh
  tests/queries/0_stateless/01213_alter_rename_column_zookeeper_long.sh
  tests/queries/0_stateless/01238_http_memory_tracking.sh
  tests/queries/0_stateless/01280_ssd_complex_key_dictionary.sh
  tests/queries/0_stateless/01294_lazy_database_concurrent_recreate_reattach_and_show_tables_long.sh
  tests/queries/0_stateless/01305_replica_create_drop_zookeeper.sh
  tests/queries/0_stateless/01320_create_sync_race_condition_zookeeper.sh
  tests/queries/0_stateless/01395_limit_more_cases.sh
  tests/queries/0_stateless/01395_limit_more_cases_random.sh
  tests/queries/0_stateless/01412_cache_dictionary_race.sh
  tests/queries/0_stateless/01454_storagememory_data_race_challenge.sh
  tests/queries/0_stateless/01509_check_many_parallel_quorum_inserts_long.sh
  tests/queries/0_stateless/01509_check_parallel_quorum_inserts_long.sh
  tests/queries/0_stateless/01563_distributed_query_finish.sh
  tests/queries/0_stateless/01732_race_condition_storage_join_long.sh
  tests/queries/0_stateless/01802_test_postgresql_protocol_with_row_policy.sh
  tests/queries/0_stateless/01810_max_part_removal_threads_long.sh
  tests/queries/0_stateless/01889_postgresql_protocol_null_fields.sh
  tests/queries/0_stateless/01900_kill_mutation_parallel_long.sh
  tests/queries/0_stateless/01921_concurrent_ttl_and_normal_merges_zookeeper_long.sh
  tests/queries/1_stateful/00177_memory_bound_merging.sh
  tests/queries/1_stateful/00180_no_seek_avoiding_when_reading_from_cache.sh
Labels: pr-not-for-changelog

#69311 Mark Dynamic type as not safe primary key type to avoid issues with Fields
  src/Processors/QueryPlan/PartsSplitter.cpp
  tests/queries/0_stateless/03231_dynamic_not_safe_primary_key.reference
  tests/queries/0_stateless/03231_dynamic_not_safe_primary_key.sql
Labels: pr-bugfix, v24.8-must-backport

#69305 Add checks against segfault in DeltaLakeMetadata
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
Labels: pr-not-for-changelog

#69306 Update StackTrace.cpp
  src/Common/StackTrace.cpp
Labels: pr-not-for-changelog

#66104 Don't allow explicit UUIDs and ReplicatedMergeTree arguments in Replicated databases
  src/Backups/RestorerFromBackup.cpp
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Databases/DatabaseReplicated.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/MergeTree/extractZooKeeperPathFromReplicatedTableDef.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  tests/config/users.d/database_replicated.xml
  tests/integration/test_disk_over_web_server/test.py
  tests/integration/test_replicated_database/configs/settings.xml
  tests/integration/test_replicated_database/configs/settings2.xml
  tests/integration/test_replicated_database_alter_modify_order_by/configs/settings.xml
  tests/queries/0_stateless/00510_materizlized_view_and_deduplication_zookeeper.sql
  tests/queries/0_stateless/00609_mv_index_in_in.sql
  tests/queries/0_stateless/00738_lock_for_inner_table.sh
  tests/queries/0_stateless/01148_zookeeper_path_macros_unfolding.sql
  tests/queries/0_stateless/01153_attach_mv_uuid.sql
  tests/queries/0_stateless/02514_database_replicated_no_arguments_for_rmt.sh
  tests/queries/0_stateless/02858_explicit_uuid_and_zk_path.reference
  tests/queries/0_stateless/02858_explicit_uuid_and_zk_path.sh
  tests/queries/0_stateless/02888_replicated_merge_tree_creation.sh
Labels: pr-backward-incompatible

#69339 Docs: Add cp/mv to keeper client docs
  docs/en/operations/utilities/clickhouse-keeper-client.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation

#69007 [Docs] Add CKibana as third-party GUI
  docs/en/interfaces/third-party/gui.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#68952 [Docs] update docs for `DateTime64OrZero/Null/Default` functions
  docs/en/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation, can be tested

#69390 Fix undefined behavior if all connection tries fail
  src/Client/ConnectionPoolWithFailover.cpp
  src/Client/ConnectionPoolWithFailover.h
  src/Client/HedgedConnectionsFactory.cpp
  src/Common/PoolWithFailoverBase.h
  src/Core/Defines.h
  src/Storages/Distributed/DistributedAsyncInsertBatch.cpp
  src/Storages/Distributed/DistributedAsyncInsertDirectoryQueue.cpp
  src/Storages/Distributed/DistributedSink.cpp
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#68933 [Docs] update `toReference*Num` docs
  docs/en/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#69394 Fix 24.8 setting compatibility `rows_before_aggregation`
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog, pr-must-backport

#69430 Update 03232_pr_not_ready_set.sql
  tests/queries/0_stateless/03232_pr_not_ready_set.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#69385 Fix type mismatch
  src/Interpreters/ProcessList.cpp
  src/Interpreters/QueryPriorities.h
Labels: pr-not-for-changelog

#69400 Support more oss endpoints
  src/IO/S3/URI.cpp
  src/IO/tests/gtest_s3_uri.cpp
Labels: pr-not-for-changelog

#69422 Add a setting to disallow DETACH PERMANENTLY in Replicated database
  src/Core/ServerSettings.h
  src/Databases/DatabaseReplicated.cpp
Labels: pr-not-for-changelog

#69454 Quick fix for s3queue problem
  src/Storages/ObjectStorageQueue/StorageObjectStorageQueue.cpp
Labels: pr-bugfix, pr-must-backport

#69451 Fix crash in `sqidDecode`
  src/Functions/sqid.cpp
  tests/queries/0_stateless/02933_sqid.reference
  tests/queries/0_stateless/02933_sqid.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#69455 `groupConcat` consistency with `arrayStringConcat`
  src/AggregateFunctions/AggregateFunctionGroupConcat.cpp
  tests/queries/0_stateless/03235_groupArray_string_consistency.reference
  tests/queries/0_stateless/03235_groupArray_string_consistency.sql
Labels: pr-not-for-changelog

#69449 Fix test_disks_app_func
  tests/integration/test_disks_app_func/test.py
Labels: pr-not-for-changelog

#69483 Another attempt to address EAGAIN "Resource unavailable"
  docker/test/base/setup_export_logs.sh
Labels: pr-ci

#69167 Use QueryPlan for merge
  src/Interpreters/MutationsInterpreter.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTask.h
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  src/Storages/MergeTree/MergeTreeSequentialSource.h
  tests/queries/0_stateless/03175_sparse_and_skip_index.reference
  tests/queries/0_stateless/03175_sparse_and_skip_index.sql
Labels: pr-not-for-changelog

#69517 Manual backport of #65523 to 24.5
  src/Storages/StorageAzureBlob.cpp
Labels: pr-backport

#69469 Fix high memory consumption on Squashing
  src/Interpreters/Squashing.cpp
  tests/queries/0_stateless/03236_squashing_high_memory.reference
  tests/queries/0_stateless/03236_squashing_high_memory.sql
Labels: pr-bugfix, pr-must-backport

#60341 Improve left/inner join performance by rerange right table by keys
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/HashJoin/AddedColumns.cpp
  src/Interpreters/HashJoin/AddedColumns.h
  src/Interpreters/HashJoin/HashJoin.cpp
  src/Interpreters/HashJoin/HashJoin.h
  src/Interpreters/HashJoin/HashJoinMethods.h
  src/Interpreters/IJoin.h
  src/Interpreters/RowRefs.h
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Processors/Transforms/JoiningTransform.cpp
  tests/queries/0_stateless/03228_join_to_rerange_right_table.reference
  tests/queries/0_stateless/03228_join_to_rerange_right_table.sql
  utils/check-style/experimental_settings_ignore.txt
Labels: pr-performance, can be tested

#64448 Local plan for parallel replicas
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/ClusterProxy/executeQuery.h
  src/Planner/PlannerJoinTree.cpp
  src/Planner/findParallelReplicasQuery.cpp
  src/Processors/QueryPlan/ConvertingActions.cpp
  src/Processors/QueryPlan/ConvertingActions.h
  src/Processors/QueryPlan/DistributedCreateLocalPlan.cpp
  src/Processors/QueryPlan/Optimizations/optimizeReadInOrder.cpp
  src/Processors/QueryPlan/ParallelReplicasLocalPlan.cpp
  src/Processors/QueryPlan/ParallelReplicasLocalPlan.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/QueryPlan/ReadFromRemote.h
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.cpp
  src/Storages/MergeTree/RequestResponse.cpp
  tests/ci/ci_config.py
  tests/clickhouse-test
  tests/config/config.d/clusters.xml
  tests/integration/test_parallel_replicas_no_replicas/test.py
  tests/queries/0_stateless/02404_memory_bound_merging.reference
  tests/queries/0_stateless/02404_memory_bound_merging.sql
  tests/queries/0_stateless/02731_parallel_replicas_join_subquery.reference
  tests/queries/0_stateless/02731_parallel_replicas_join_subquery.sql
  tests/queries/0_stateless/02769_parallel_replicas_unavailable_shards.sql
  tests/queries/0_stateless/02771_parallel_replicas_analyzer.reference
  tests/queries/0_stateless/02771_parallel_replicas_analyzer.sql
  tests/queries/0_stateless/02784_parallel_replicas_automatic_decision.sh
  tests/queries/0_stateless/02784_parallel_replicas_automatic_decision_join.reference
  tests/queries/0_stateless/02784_parallel_replicas_automatic_decision_join.sh
  tests/queries/0_stateless/02841_parallel_replicas_summary.sh
  tests/queries/0_stateless/02898_parallel_replicas_progress_bar.sql
  tests/queries/0_stateless/02950_parallel_replicas_used_count.reference
  tests/queries/0_stateless/02950_parallel_replicas_used_count.sql
  tests/queries/0_stateless/02967_parallel_replicas_join_algo_and_analyzer_3.reference
  tests/queries/0_stateless/02967_parallel_replicas_join_algo_and_analyzer_3.sh
  tests/queries/0_stateless/02967_parallel_replicas_joins_and_analyzer.reference
  tests/queries/0_stateless/02967_parallel_replicas_joins_and_analyzer.sql.j2
  tests/queries/0_stateless/03006_parallel_replicas_prewhere.reference
  tests/queries/0_stateless/03006_parallel_replicas_prewhere.sql
  tests/queries/0_stateless/03222_parallel_replicas_final_in_subquery.reference
  tests/queries/0_stateless/03222_parallel_replicas_final_in_subquery.sql
  tests/queries/0_stateless/03222_pr_asan_index_granularity.reference
  tests/queries/0_stateless/03222_pr_asan_index_granularity.sql
  tests/queries/0_stateless/03228_pr_subquery_view_order_by.reference
  tests/queries/0_stateless/03228_pr_subquery_view_order_by.sql
  tests/queries/1_stateful/00177_memory_bound_merging.reference
  tests/queries/1_stateful/00177_memory_bound_merging.sh
Labels: pr-not-for-changelog

#69538 Get rid of broken `get_commits().reversed`
  tests/ci/pr_info.py
Labels: pr-ci

#69269 Use another error code for external data in buffer
  src/Compression/CompressedReadBufferBase.cpp
  src/Server/TCPHandler.cpp
  tests/integration/test_broken_projections/test.py
Labels: pr-not-for-changelog, pr-must-backport-cloud

#69253 Restore external tables to Null supports no settings
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/integration/test_restore_external_engines/test.py
Labels: pr-improvement

#69383 Refactor temporary file usage in MergeTask with QueryPlan
  src/Processors/QueryPlan/BuildQueryPipelineSettings.h
  src/Processors/QueryPlan/TemporaryFiles.h
  src/Processors/Transforms/ColumnGathererTransform.cpp
  src/Processors/Transforms/ColumnGathererTransform.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTask.h
Labels: pr-not-for-changelog

#69549 Disallow query cache for queries with non-throw overflow mode
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/02494_query_cache_bugs.reference
  tests/queries/0_stateless/02494_query_cache_bugs.sql
Labels: pr-bugfix

#69554 Fix upgrade check failure for join_to_sort settings
  src/Core/SettingsChangesHistory.cpp
Labels: can be tested, pr-ci

#68236 Added support for wildcard usage in x509 SubjectAltName identification.
  docs/en/operations/external-authenticators/ssl-x509.md
  src/Access/Authentication.cpp
  tests/integration/test_ssl_cert_authentication/certs/client5-cert.pem
  tests/integration/test_ssl_cert_authentication/certs/client5-ext.cnf
  tests/integration/test_ssl_cert_authentication/certs/client5-key.pem
  tests/integration/test_ssl_cert_authentication/certs/client5-req.pem
  tests/integration/test_ssl_cert_authentication/certs/client6-cert.pem
  tests/integration/test_ssl_cert_authentication/certs/client6-ext.cnf
  tests/integration/test_ssl_cert_authentication/certs/client6-key.pem
  tests/integration/test_ssl_cert_authentication/certs/client6-req.pem
  tests/integration/test_ssl_cert_authentication/certs/generate_certs.sh
  tests/integration/test_ssl_cert_authentication/configs/users_with_ssl_auth.xml
  tests/integration/test_ssl_cert_authentication/test.py
Labels: pr-improvement, can be tested, security

#69513 S3Queue: small refactoring
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadata.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadata.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadataFactory.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadataFactory.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueTableMetadata.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueTableMetadata.h
  src/Storages/ObjectStorageQueue/StorageObjectStorageQueue.cpp
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-not-for-changelog

#69332 Support removeRecursive natively in keeper
  docs/en/operations/utilities/clickhouse-keeper-client.md
  programs/keeper-client/Commands.cpp
  programs/keeper-client/Commands.h
  src/Common/ZooKeeper/IKeeper.cpp
  src/Common/ZooKeeper/IKeeper.h
  src/Common/ZooKeeper/TestKeeper.cpp
  src/Common/ZooKeeper/TestKeeper.h
  src/Common/ZooKeeper/Types.h
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Common/ZooKeeper/ZooKeeperCommon.cpp
  src/Common/ZooKeeper/ZooKeeperCommon.h
  src/Common/ZooKeeper/ZooKeeperConstants.cpp
  src/Common/ZooKeeper/ZooKeeperConstants.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/ZooKeeper/ZooKeeperImpl.h
  src/Coordination/KeeperConstants.h
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperFeatureFlags.h
  src/Coordination/KeeperStorage.cpp
  src/Coordination/KeeperStorage.h
  src/Coordination/tests/gtest_coordination.cpp
  src/Interpreters/ZooKeeperLog.cpp
Labels: pr-performance

#69147 Fix propogating structure argument in s3Cluster
  src/Storages/ObjectStorage/Azure/Configuration.cpp
  src/Storages/ObjectStorage/Azure/Configuration.h
  src/Storages/ObjectStorage/HDFS/Configuration.cpp
  src/Storages/ObjectStorage/HDFS/Configuration.h
  src/Storages/ObjectStorage/Local/Configuration.cpp
  src/Storages/ObjectStorage/Local/Configuration.h
  src/Storages/ObjectStorage/S3/Configuration.cpp
  src/Storages/ObjectStorage/S3/Configuration.h
  src/Storages/ObjectStorage/StorageObjectStorage.h
  src/Storages/ObjectStorage/StorageObjectStorageCluster.cpp
  src/TableFunctions/ITableFunctionCluster.h
  src/TableFunctions/ITableFunctionFileLike.cpp
  src/TableFunctions/ITableFunctionFileLike.h
  src/TableFunctions/TableFunctionObjectStorage.h
  src/TableFunctions/TableFunctionObjectStorageCluster.h
  tests/integration/test_s3_cluster/configs/named_collections.xml
  tests/integration/test_s3_cluster/test.py
  tests/queries/0_stateless/01801_s3_cluster.reference
  tests/queries/0_stateless/01801_s3_cluster.sql
Labels: pr-bugfix, pr-must-backport

#69525 Backport MergeTask changes from private to minimize merge conflicts
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTask.h
Labels: pr-not-for-changelog

#64953 Disallow creating refreshable MV on Linux < 3.15
  src/Common/atomicRename.cpp
  src/Common/atomicRename.h
  src/Databases/DatabaseAtomic.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
Labels: pr-not-for-changelog

#69406 Not retaining thread in concurrent hash join threadpool
  src/Interpreters/ConcurrentHashJoin.cpp
Labels: pr-improvement, can be tested

#69301 Add xml char escaping to docker's entrypoint
  docker/server/entrypoint.sh
Labels: pr-improvement, can be tested

#69514 Correctly handle tables' names with dots in SHOW COLUMNS and SHOW INDEX
  src/Parsers/ParserShowColumnsQuery.cpp
  src/Parsers/ParserShowIndexesQuery.cpp
  tests/queries/0_stateless/02706_show_columns.reference
  tests/queries/0_stateless/02706_show_columns.sql
  tests/queries/0_stateless/02724_show_indexes.reference
  tests/queries/0_stateless/02724_show_indexes.sql
Labels: pr-bugfix, can be tested

#66782 Add support for the `input_format_json_empty_as_default` setting
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings-formats.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/DataTypes/Serializations/SerializationArray.cpp
  src/DataTypes/Serializations/SerializationArray.h
  src/DataTypes/Serializations/SerializationMap.cpp
  src/DataTypes/Serializations/SerializationMap.h
  src/DataTypes/Serializations/SerializationTuple.cpp
  src/DataTypes/Serializations/SerializationTuple.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Formats/JSONUtils.cpp
  src/Formats/JSONUtils.h
  tests/queries/0_stateless/03222_json_empty_as_default.reference
  tests/queries/0_stateless/03222_json_empty_as_default.sql
  tests/queries/0_stateless/03222_json_empty_as_default_small_read_buffer.reference
  tests/queries/0_stateless/03222_json_empty_as_default_small_read_buffer.sh
Labels: pr-feature, can be tested

#69539 Fix attach of ReplicatedMergeTree tables in Replicated databases
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  tests/integration/test_replicated_database/test.py
Labels: pr-not-for-changelog

#69404 `have_compressed` is lost in `HashJoin::reuseJoinedData`
  src/Interpreters/HashJoin/HashJoin.cpp
Labels: pr-bugfix, can be tested

#69274 fix `metadata_version` in ZooKeeper
  src/Storages/MergeTree/ReplicatedMergeTreeAttachThread.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeAttachThread.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
Labels: pr-bugfix

#69602 Remove explicit announce from local replica in ReadFromMergeTree
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  tests/integration/test_parallel_replicas_snapshot_from_initiator/__init__.py
  tests/integration/test_parallel_replicas_snapshot_from_initiator/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_snapshot_from_initiator/test.py
Labels: pr-not-for-changelog

#69583 A better fix for #67476
  src/Common/ErrorCodes.cpp
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/02494_query_cache_bugs.reference
  tests/queries/0_stateless/02494_query_cache_bugs.sql
Labels: pr-not-for-changelog

#69611 Masking sensitive info in gcs() table function
  src/Parsers/FunctionSecretArgumentsFinderAST.h
  tests/integration/test_mask_sensitive_info/test.py
Labels: pr-improvement

#69075 Remove stale moving parts without zookeeper
  src/Common/FailPoint.cpp
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  tests/integration/test_remove_stale_moving_parts/__init__.py
  tests/integration/test_remove_stale_moving_parts/config.xml
  tests/integration/test_remove_stale_moving_parts/test.py
Labels: pr-not-for-changelog, can be tested

#69493 Speedup insert performance of vector similarity index by parallelization
  docs/en/engines/table-engines/mergetree-family/annindexes.md
  docs/en/operations/server-configuration-parameters/settings.md
  src/Common/CurrentMetrics.cpp
  src/Core/ServerSettings.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/MergeTree/MergeTreeIndexVectorSimilarity.cpp
Labels: pr-performance, can be tested

#69578 enable removeRecursive in CI
  tests/config/config.d/keeper_port.xml
  tests/docker_scripts/stress_tests.lib
  tests/queries/0_stateless/02735_system_zookeeper_connection.reference
Labels: pr-not-for-changelog

#69599 Improve debug step in actions
  .github/actions/debug/action.yml
  .github/workflows/backport_branches.yml
  .github/workflows/cherry_pick.yml
  .github/workflows/create_release.yml
  .github/workflows/docker_test_images.yml
  .github/workflows/jepsen.yml
  .github/workflows/master.yml
  .github/workflows/merge_queue.yml
  .github/workflows/nightly.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  .github/workflows/reusable_simple_job.yml
Labels: pr-must-backport, pr-ci

#69642 Fix invalid `clickhouse-format` invocation in tests
  tests/queries/0_stateless/02768_into_outfile_extensions_format.sh
Labels: pr-ci

#69635 Update docs of JSONAsObject format with new JSON type
  docs/en/interfaces/formats.md
Labels: pr-documentation

#69588 sleep for 50ms before retrying to acquire a lock in `DatabaseReplicatedDDLWorker::enqueueQueryImpl`
  src/Databases/DatabaseReplicatedWorker.cpp
Labels: pr-improvement

#69601 Try to fix data race in `WriteBufferFromHTTPServerResponse`
  src/Server/HTTP/WriteBufferFromHTTPServerResponse.cpp
  src/Server/StaticRequestHandler.cpp
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#69655 Try fix `02447_drop_database_replica`
  tests/queries/0_stateless/02447_drop_database_replica.sh
Labels: pr-not-for-changelog

#69627 Fix Keeper multi request preprocessing with NOAUTH
  src/Coordination/KeeperStorage.cpp
  src/Coordination/KeeperStorage.h
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-bugfix, pr-must-backport

#69298 Refactor ArrayJoin step.
  src/Functions/FunctionStringOrArrayToT.h
  src/Functions/array/arrayResize.cpp
  src/Functions/array/arrayResize.h
  src/Functions/array/emptyArrayToSingle.cpp
  src/Functions/array/emptyArrayToSingle.h
  src/Functions/array/length.cpp
  src/Functions/array/length.h
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Interpreters/ArrayJoin.h
  src/Interpreters/ArrayJoinAction.cpp
  src/Interpreters/ArrayJoinAction.h
  src/Interpreters/ExpressionActions.cpp
  src/Interpreters/ExpressionActions.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Processors/QueryPlan/ArrayJoinStep.cpp
  src/Processors/QueryPlan/ArrayJoinStep.h
  src/Processors/QueryPlan/Optimizations/filterPushDown.cpp
  src/Processors/QueryPlan/Optimizations/liftUpArrayJoin.cpp
  src/Processors/QueryPlan/Optimizations/optimizeReadInOrder.cpp
  src/Processors/Transforms/ArrayJoinTransform.cpp
  src/Processors/Transforms/ArrayJoinTransform.h
Labels: pr-not-for-changelog

#69328 Randomize integration tests settings
  tests/integration/helpers/cluster.py
  tests/integration/helpers/random_settings.py
  tests/integration/test_settings_profile/test.py
  tests/integration/test_settings_randomization/__init__.py
  tests/integration/test_settings_randomization/config/users.xml
  tests/integration/test_settings_randomization/test.py
Labels: pr-ci

#68592 Update nats.md
  docs/en/engines/table-engines/integrations/nats.md
Labels: pr-documentation, can be tested

#68696 Use proper ErrorCodes, replace NETWORK_ERROR by HDFS_ERROR
  src/Storages/ObjectStorage/HDFS/ReadBufferFromHDFS.cpp
Labels: pr-not-for-changelog

#68821 Fix zero copy bug with encrypted disk and UNFREEZE
  src/Disks/DiskEncrypted.h
  tests/integration/test_zero_copy_unfreeze/__init__.py
  tests/integration/test_zero_copy_unfreeze/configs/storage_conf.xml
  tests/integration/test_zero_copy_unfreeze/test.py
Labels: pr-not-for-changelog, can be tested

#69092 Ability to limit columns for tables in MaterializedPostgreSQL
  docs/en/engines/database-engines/materialized-postgresql.md
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.cpp
  src/Databases/PostgreSQL/fetchPostgreSQLTableStructure.h
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.cpp
  src/Storages/PostgreSQL/PostgreSQLReplicationHandler.h
  tests/integration/helpers/postgres_utility.py
  tests/integration/test_postgresql_replica_database_engine_2/test.py
Labels: pr-improvement, can be tested

#69606 Check time limits while analyzing indexes
  src/Common/FailPoint.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  tests/queries/0_stateless/03176_check_timeout_in_index_analysis.reference
  tests/queries/0_stateless/03176_check_timeout_in_index_analysis.sql
Labels: pr-improvement

#68520 Fix bad exception messages
  src/Storages/MergeTree/ReplicatedMergeTreePartCheckThread.cpp
  src/Storages/MergeTree/checkDataPart.cpp
  tests/integration/test_broken_projections/test.py
Labels: pr-not-for-changelog

#68591 Add settings `output_format_orc_dictionary_key_size_threshold` to allow user to enable dict encoding for string column in ORC output format
  src/Common/benchmarks/CMakeLists.txt
  src/Common/benchmarks/orc_string_dictionary.cpp
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/ORCBlockOutputFormat.cpp
Labels: pr-performance

#69582 Support more advanced SSL options for Keeper internal communication
  base/poco/Crypto/include/Poco/Crypto/EVPPKey.h
  base/poco/NetSSL_OpenSSL/include/Poco/Net/Context.h
  base/poco/NetSSL_OpenSSL/src/Context.cpp
  src/Coordination/KeeperServer.cpp
  src/Server/CertificateReloader.cpp
  src/Server/CertificateReloader.h
  tests/integration/helpers/cluster.py
  tests/integration/test_keeper_internal_secure/configs/WithPassPhrase.crt
  tests/integration/test_keeper_internal_secure/configs/WithPassPhrase.key
  tests/integration/test_keeper_internal_secure/configs/WithoutPassPhrase.crt
  tests/integration/test_keeper_internal_secure/configs/WithoutPassPhrase.key
  tests/integration/test_keeper_internal_secure/configs/enable_secure_keeper1.xml
  tests/integration/test_keeper_internal_secure/configs/enable_secure_keeper2.xml
  tests/integration/test_keeper_internal_secure/configs/enable_secure_keeper3.xml
  tests/integration/test_keeper_internal_secure/configs/ssl_conf.xml
  tests/integration/test_keeper_internal_secure/configs/ssl_conf.yml
  tests/integration/test_keeper_internal_secure/configs/ssl_conf_password.yml
  tests/integration/test_keeper_internal_secure/test.py
Labels: pr-improvement

#68424 Adaptive mark_segment_size for parallel replicas
  src/Client/Connection.cpp
  src/Client/Connection.h
  src/Common/ProfileEvents.cpp
  src/Core/ProtocolDefines.h
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.cpp
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Server/TCPHandler.cpp
  src/Server/TCPHandler.h
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicas.cpp
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicas.h
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicasInOrder.cpp
  src/Storages/MergeTree/MergeTreeSelectProcessor.h
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.cpp
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.h
  src/Storages/MergeTree/RequestResponse.cpp
  src/Storages/MergeTree/RequestResponse.h
  tests/integration/test_backward_compatibility/configs/clusters.xml
  tests/integration/test_backward_compatibility/test_parallel_replicas_protocol.py
Labels: pr-performance

#67966 Add test cases to 03217_datetime64_constant_to_ast
  tests/queries/0_stateless/03217_datetime64_constant_to_ast.reference
  tests/queries/0_stateless/03217_datetime64_constant_to_ast.sql
Labels: pr-not-for-changelog
