Repository ClickHouse/ClickHouse, pull requests merged in 2024-06, with the labels that each got.

#64391 Added settings to disable materialization of skip indexes and statistics on inserts
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeWhereOptimizer.cpp
  src/Storages/Statistics/Estimator.cpp
  tests/queries/0_stateless/03164_materialize_skip_index.reference
  tests/queries/0_stateless/03164_materialize_skip_index.sql
  tests/queries/0_stateless/03164_materialize_statistics.reference
  tests/queries/0_stateless/03164_materialize_statistics.sql
Labels: pr-improvement

#64455 Fix `CREATE TABLE AS` query with default expression
  src/Storages/ColumnDefault.cpp
  src/Storages/ColumnDefault.h
  src/Storages/ColumnsDescription.cpp
  src/Storages/ColumnsDescription.h
  src/Storages/StatisticsDescription.cpp
  src/Storages/StatisticsDescription.h
  tests/queries/0_stateless/03164_create_as_default.reference
  tests/queries/0_stateless/03164_create_as_default.sql
Labels: pr-bugfix, pr-must-backport

#64614 Fix data-dependent bug with some formatters of`formatDateTimeInJodaSyntax`
  src/Functions/formatDateTime.cpp
  tests/queries/0_stateless/02496_format_datetime_in_joda_syntax.reference
  tests/queries/0_stateless/02496_format_datetime_in_joda_syntax.sql
Labels: pr-bugfix, can be tested

#64670 Tests: Convert error numbers to symbolic error codes, pt. II
  tests/queries/0_stateless/00453_cast_enum.sql
  tests/queries/0_stateless/00700_decimal_bounds.sql
  tests/queries/0_stateless/00748_insert_array_with_null.sql
  tests/queries/0_stateless/00948_values_interpreter_template.sql
  tests/queries/0_stateless/01070_template_empty_file.sql
  tests/queries/0_stateless/01165_lost_part_empty_partition.sql
  tests/queries/0_stateless/01173_transaction_control_queries.sql
  tests/queries/0_stateless/01188_attach_table_from_path.sql
  tests/queries/0_stateless/01297_create_quota.sql
  tests/queries/0_stateless/01564_test_hint_woes.reference
  tests/queries/0_stateless/01564_test_hint_woes.sql
  tests/queries/0_stateless/01581_deduplicate_by_columns_local.sql
  tests/queries/0_stateless/01602_show_create_view.sql
  tests/queries/0_stateless/01604_explain_ast_of_nonselect_query.sql
  tests/queries/0_stateless/01715_table_function_view_fix.sql
  tests/queries/0_stateless/01715_tuple_insert_null_as_default.sql
  tests/queries/0_stateless/01825_type_json_field.sql
  tests/queries/0_stateless/01917_distinct_on.sql
  tests/queries/0_stateless/02126_alter_table_alter_column.sql
  tests/queries/0_stateless/02155_create_table_w_timezone.sql
  tests/queries/0_stateless/02184_default_table_engine.sql
  tests/queries/0_stateless/02267_insert_empty_data.sql
  tests/queries/0_stateless/02294_decimal_second_errors.sql
  tests/queries/0_stateless/02366_kql_summarize.sql
  tests/queries/0_stateless/02469_fix_aliases_parser.sql
  tests/queries/0_stateless/02472_segfault_expression_parser.sql
  tests/queries/0_stateless/02554_invalid_create_view_syntax.sql
  tests/queries/0_stateless/02560_agg_state_deserialization_hash_table_crash.sql
  tests/queries/0_stateless/02703_row_policy_for_database.sql
  tests/queries/0_stateless/02897_alter_partition_parameters.sql
  tests/queries/1_stateful/00091_prewhere_two_conditions.sql
  tests/queries/1_stateful/00175_counting_resources_in_subqueries.sql
Labels: pr-not-for-changelog

#64711 Update default value of async_insert_max_data_size
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#64716 Fix loop() table function crashing on empty table name
  src/TableFunctions/TableFunctionLoop.cpp
  tests/queries/0_stateless/03147_table_function_loop.sql
Labels: pr-bugfix

#62083 Fix 'set' skip index not working with IN, indexHint(), and subqueries
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Storages/MergeTree/MergeTreeIndexSet.cpp
  src/Storages/MergeTree/MergeTreeIndexSet.h
  src/Storages/MergeTree/RPNBuilder.cpp
  tests/queries/0_stateless/03033_set_index_in.reference
  tests/queries/0_stateless/03033_set_index_in.sql
Labels: pr-bugfix

#64628 Speedup find_* keeper-client commands by making multiple async getChildren requests
  programs/keeper-client/Commands.cpp
  tests/integration/test_keeper_client/test.py
  tests/queries/0_stateless/03135_keeper_client_find_commands.sh
Labels: pr-performance

#64714 Check for missing Upload ID in CreateMultipartUpload reply
  src/IO/S3/copyS3File.cpp
  src/IO/WriteBufferFromS3.cpp
Labels: pr-not-for-changelog

#64542 Upgrade tests: Update config and work with release candidates
  docker/test/upgrade/run.sh
Labels: pr-build, blocker

#64532 Use max_read_buffer_size for file descriptors as well in file()
  src/Storages/StorageFile.cpp
Labels: pr-not-for-changelog

#64565 Update configuration-files.md
  docs/en/operations/configuration-files.md
Labels: pr-documentation, can be tested

#64741 Add Note about ZSTD_QAT codec being disabled in ClickHouse Cloud
  docs/en/sql-reference/statements/create/table.md
Labels: pr-documentation, can be tested

#64694 Fix backward incompatibility in TTL execution
  src/Storages/MergeTree/MergeTreeDataPartTTLInfo.cpp
  tests/integration/test_move_ttl_broken_compatibility/__init__.py
  tests/integration/test_move_ttl_broken_compatibility/configs/storage_conf.xml
  tests/integration/test_move_ttl_broken_compatibility/test.py
Labels: pr-bugfix

#64672 Split query analyzer
  src/Analyzer/Resolve/IdentifierResolver.cpp
  src/Analyzer/Resolve/IdentifierResolver.h
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Analyzer/Resolve/QueryAnalyzer.h
  src/Analyzer/Resolve/ReplaceColumnsVisitor.h
Labels: pr-not-for-changelog, analyzer

#60156 Add `hilbertEncode` and `hilbertDecode` functions
  docs/en/sql-reference/functions/encoding-functions.md
  src/Functions/FunctionSpaceFillingCurve.h
  src/Functions/hilbertDecode.cpp
  src/Functions/hilbertDecode2DLUT.h
  src/Functions/hilbertEncode.cpp
  src/Functions/hilbertEncode2DLUT.h
  src/Functions/mortonDecode.cpp
  src/Functions/mortonEncode.cpp
  src/Functions/tests/gtest_hilbert_curve.cpp
  tests/queries/0_stateless/03131_hilbert_coding.reference
  tests/queries/0_stateless/03131_hilbert_coding.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, can be tested

#63723 Add a bunch of important asserts
  programs/keeper/CMakeLists.txt
  programs/server/CMakeLists.txt
  src/Columns/IColumnDummy.cpp
  src/Columns/MaskOperations.cpp
  src/Dictionaries/CacheDictionary.cpp
  src/Dictionaries/CacheDictionaryStorage.h
  src/Dictionaries/DirectDictionary.cpp
  src/Dictionaries/FlatDictionary.cpp
  src/Dictionaries/FlatDictionary.h
  src/Dictionaries/HashedArrayDictionary.cpp
  src/Dictionaries/HashedArrayDictionary.h
  src/Dictionaries/HashedDictionary.h
  src/Dictionaries/IPAddressDictionary.cpp
  src/Dictionaries/IPAddressDictionary.h
  src/Dictionaries/PolygonDictionary.cpp
  src/Dictionaries/RangeHashedDictionary.cpp
  src/Dictionaries/RangeHashedDictionary.h
  src/Dictionaries/RangeHashedDictionaryGetItemsShortCircuitImpl.txx
  src/Dictionaries/RegExpTreeDictionary.cpp
  src/Functions/FunctionHelpers.cpp
  src/Functions/FunctionHelpers.h
  src/Functions/FunctionsExternalDictionaries.h
  src/Functions/GatherUtils/Algorithms.h
  src/Functions/IFunction.cpp
  src/Functions/IFunction.h
  src/Functions/IFunctionAdaptors.h
  src/Functions/if.cpp
  src/Functions/multiIf.cpp
  src/Functions/vectorFunctions.cpp
  src/Planner/PlannerActionsVisitor.cpp
  tests/queries/0_stateless/02950_dictionary_short_circuit.sql
Labels: pr-improvement

#64424 Reduce parquet writer peak memory
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
Labels: pr-improvement, can be tested

#64771 Make table functions always report engine 'StorageProxy' in system.tables
  src/Storages/StorageTableFunction.h
  src/Storages/System/StorageSystemTables.cpp
  tests/queries/0_stateless/02888_system_tables_with_inaccessible_table_function.reference
  tests/queries/0_stateless/02888_system_tables_with_inaccessible_table_function.sql
Labels: pr-not-for-changelog

#64562 ASTLiteral support custom type
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/tests/gtest_actions_visitor.cpp
  src/Parsers/ASTLiteral.h
Labels: pr-not-for-changelog, can be tested

#64774 Ask about company name on GitHub
  .github/ISSUE_TEMPLATE/10_question.md
  .github/ISSUE_TEMPLATE/20_feature-request.md
  .github/ISSUE_TEMPLATE/30_unexpected-behaviour.md
  .github/ISSUE_TEMPLATE/35_incomplete_implementation.md
  .github/ISSUE_TEMPLATE/45_usability-issue.md
  .github/ISSUE_TEMPLATE/50_build-issue.md
  .github/ISSUE_TEMPLATE/60_documentation-issue.md
  .github/ISSUE_TEMPLATE/70_performance-issue.md
  .github/ISSUE_TEMPLATE/80_backward-compatibility.md
  .github/ISSUE_TEMPLATE/85_bug-report.md
  .github/ISSUE_TEMPLATE/96_installation-issues.md
  src/Storages/StorageSet.cpp
Labels: pr-not-for-changelog

#63584 Track memory allocated by the arrow library
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.h
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/Parquet/ParquetRecordReader.cpp
  src/Processors/Formats/Impl/Parquet/ParquetRecordReader.h
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  src/Storages/Hive/HiveFile.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
  tests/integration/test_disk_over_web_server/test.py
  tests/queries/0_stateless/03147_parquet_memory_tracking.reference
  tests/queries/0_stateless/03147_parquet_memory_tracking.sql
Labels: pr-bugfix

#64765 Update 02482_load_parts_refcounts.sh
  tests/queries/0_stateless/02482_load_parts_refcounts.sh
Labels: pr-ci

#61459 Refactor KeyCondition and key analysis
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/Set.cpp
  src/Processors/QueryPlan/Optimizations/optimizePrewhere.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Storages/IStorage.cpp
  src/Storages/IStorage.h
  src/Storages/MergeTree/BoolMask.cpp
  src/Storages/MergeTree/BoolMask.h
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/KeyCondition.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  src/Storages/MergeTree/PartitionPruner.cpp
  src/Storages/MergeTree/PartitionPruner.h
  src/Storages/MergeTree/RangesInDataPart.h
  tests/queries/0_stateless/01540_verbatim_partition_pruning.sql
Labels: pr-not-for-changelog

#64764 Fix 02790_async_queries_in_query_log (silent discard in MV column matching)
  tests/queries/0_stateless/02790_async_queries_in_query_log.reference
  tests/queries/0_stateless/02790_async_queries_in_query_log.sh
Labels: pr-build

#64761 Speed up 02995_forget_partition
  tests/queries/0_stateless/02995_forget_partition.sh
Labels: pr-build

#64433 Faster TestKeeper shutdown
  src/Common/ZooKeeper/TestKeeper.cpp
Labels: pr-not-for-changelog

#64747 Return the explanation for session moved error
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Storages/S3Queue/S3QueueFilesMetadata.cpp
Labels: pr-not-for-changelog

#63325 Improve builds' profiling upload
  tests/ci/ci.py
  tests/ci/clickhouse_helper.py
Labels: pr-ci

#63087 [feature]: allow to attach parts from a different disk (v2.0)
  src/Storages/MergeTree/Backup.cpp
  src/Storages/MergeTree/Backup.h
  src/Storages/MergeTree/DataPartStorageOnDiskBase.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskBase.h
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_attach_partition_using_copy/__init__.py
  tests/integration/test_attach_partition_using_copy/configs/remote_servers.xml
  tests/integration/test_attach_partition_using_copy/test.py
  tests/integration/test_multiple_disks/test.py
Labels: pr-feature, can be tested

#64767 Fix crash with DISTINCT and window functions
  src/Processors/QueryPlan/Optimizations/removeRedundantDistinct.cpp
  tests/queries/0_stateless/03165_distinct_with_window_func_crash.reference
  tests/queries/0_stateless/03165_distinct_with_window_func_crash.sql
Labels: pr-not-for-changelog, pr-must-backport-cloud, v24.5-must-backport

#63427 Several minor fixes to proxy support in ClickHouse
  src/Common/ProxyConfigurationResolverProvider.cpp
  src/Common/RemoteProxyConfigurationResolver.cpp
  src/Common/RemoteProxyConfigurationResolver.h
  src/Common/tests/gtest_proxy_remote_configuration_resolver.cpp
  src/IO/HTTPCommon.cpp
  src/IO/HTTPCommon.h
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
  src/Storages/StorageURL.cpp
  tests/integration/helpers/s3_url_proxy_tests_util.py
  tests/integration/test_https_s3_table_function_with_http_proxy_no_tunneling/proxy-resolver/resolver.py
  tests/integration/test_https_s3_table_function_with_http_proxy_no_tunneling/test.py
  tests/integration/test_s3_storage_conf_new_proxy/configs/config.d/proxy_list.xml
  tests/integration/test_s3_storage_conf_new_proxy/configs/config.d/storage_conf.xml
  tests/integration/test_s3_storage_conf_new_proxy/test.py
  tests/integration/test_s3_storage_conf_proxy/configs/config.d/storage_conf.xml
  tests/integration/test_s3_storage_conf_proxy/test.py
  tests/integration/test_s3_table_function_with_http_proxy/proxy-resolver/resolver.py
  tests/integration/test_s3_table_function_with_http_proxy/test.py
  tests/integration/test_s3_table_function_with_https_proxy/configs/config.d/proxy_list.xml
  tests/integration/test_s3_table_function_with_https_proxy/proxy-resolver/resolver.py
  tests/integration/test_s3_table_function_with_https_proxy/test.py
Labels: pr-improvement, can be tested

#64787 Strict `StatusType`, increased `SAFE_REQUESTS_LIMIT` for get_best_robot_token
  tests/ci/commit_status_helper.py
  tests/ci/finish_check.py
  tests/ci/get_robot_token.py
Labels: do not test, pr-not-for-changelog

#64742 Add `parseReadableSize` function
  docs/en/sql-reference/functions/other-functions.md
  src/Functions/parseReadableSize.cpp
  tests/queries/0_stateless/03165_parseReadableSize.reference
  tests/queries/0_stateless/03165_parseReadableSize.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, can be tested

#64656 Be more graceful with existing tables with `inverted` indexes
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Databases/DatabaseReplicated.cpp
  src/Interpreters/GinFilter.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  src/Storages/MergeTree/MergeTreeIndices.cpp
  tests/queries/0_stateless/02346_fulltext_index_bug47393.sql
  tests/queries/0_stateless/02346_fulltext_index_bug52019.sql
  tests/queries/0_stateless/02346_fulltext_index_bug59039.sql
  tests/queries/0_stateless/02346_fulltext_index_detach_attach.sql
  tests/queries/0_stateless/02346_fulltext_index_match_predicate.sql
  tests/queries/0_stateless/02346_fulltext_index_old_name.reference
  tests/queries/0_stateless/02346_fulltext_index_old_name.sql
  tests/queries/0_stateless/02346_fulltext_index_search.sql
  tests/queries/0_stateless/02346_inverted_index_experimental_flag.sql
Labels: pr-not-for-changelog, pr-must-backport

#64734 CI: ci.py refactoring
  .github/workflows/reusable_test.yml
  .gitmessage
  tests/ci/cache_utils.py
  tests/ci/ci.py
  tests/ci/ci_cache.py
  tests/ci/ci_config.py
  tests/ci/ci_settings.py
  tests/ci/ci_utils.py
  tests/ci/commit_status_helper.py
  tests/ci/pr_info.py
  tests/ci/test_ci_cache.py
  tests/ci/test_ci_options.py
Labels: pr-not-for-changelog

#64349 S3Queue rework ordered mode parallel processing
  src/Core/Settings.h
  src/Storages/S3Queue/S3QueueFilesMetadata.cpp
  src/Storages/S3Queue/S3QueueFilesMetadata.h
  src/Storages/S3Queue/S3QueueIFileMetadata.cpp
  src/Storages/S3Queue/S3QueueIFileMetadata.h
  src/Storages/S3Queue/S3QueueMetadata.cpp
  src/Storages/S3Queue/S3QueueMetadata.h
  src/Storages/S3Queue/S3QueueMetadataFactory.cpp
  src/Storages/S3Queue/S3QueueMetadataFactory.h
  src/Storages/S3Queue/S3QueueOrderedFileMetadata.cpp
  src/Storages/S3Queue/S3QueueOrderedFileMetadata.h
  src/Storages/S3Queue/S3QueueSettings.h
  src/Storages/S3Queue/S3QueueSource.cpp
  src/Storages/S3Queue/S3QueueSource.h
  src/Storages/S3Queue/S3QueueTableMetadata.cpp
  src/Storages/S3Queue/S3QueueTableMetadata.h
  src/Storages/S3Queue/S3QueueUnorderedFileMetadata.cpp
  src/Storages/S3Queue/S3QueueUnorderedFileMetadata.h
  src/Storages/S3Queue/StorageS3Queue.cpp
  src/Storages/S3Queue/StorageS3Queue.h
  src/Storages/System/StorageSystemS3Queue.cpp
  tests/integration/test_storage_s3_queue/configs/zookeeper.xml
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-backward-incompatible

#64778 Fix crash in a local cache over `plain_rewritable` disk
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  tests/integration/test_s3_plain_rewritable/configs/storage_conf.xml
  tests/integration/test_s3_plain_rewritable/test.py
Labels: pr-bugfix, can be tested, pr-must-backport-cloud

#64807 Migrate changelog.py to a descendant of fuzzywuzzy
  docker/test/style/Dockerfile
  utils/changelog/README.md
  utils/changelog/changelog.py
  utils/changelog/requirements.txt
Labels: do not test, pr-not-for-changelog

#64592 xray: add global xray instrumentation support
  .gitignore
  CMakeLists.txt
  cmake/instrument.cmake
  src/Daemon/BaseDaemon.cpp
Labels: pr-build, can be tested

#64483 fix: optimize_read_in_order for nullable keys
  src/Processors/QueryPlan/Optimizations/optimizeReadInOrder.cpp
  tests/queries/0_stateless/03164_optimize_read_in_order_nullable.reference
  tests/queries/0_stateless/03164_optimize_read_in_order_nullable.sql
Labels: pr-bugfix, can be tested

#64808 Use tests/ci/style_check.py to check the style
  docs/en/development/continuous-integration.md
Labels: pr-documentation

#55061 Support empty tuple [second implementation]
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnSparse.cpp
  src/Columns/ColumnTuple.cpp
  src/Columns/ColumnTuple.h
  src/DataTypes/DataTypeLowCardinalityHelpers.cpp
  src/DataTypes/DataTypeTuple.cpp
  src/DataTypes/FieldToDataType.cpp
  src/DataTypes/ObjectUtils.cpp
  src/DataTypes/Serializations/SerializationInfoTuple.cpp
  src/DataTypes/Serializations/SerializationTuple.cpp
  src/Formats/NativeReader.cpp
  src/Functions/tuple.h
  src/Functions/vectorFunctions.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/StorageGenerateRandom.cpp
  tests/queries/0_stateless/02011_tuple_vector_functions.sql
  tests/queries/0_stateless/02457_tuple_of_intervals.reference
  tests/queries/0_stateless/02457_tuple_of_intervals.sql
  tests/queries/0_stateless/02891_empty_tuple.reference
  tests/queries/0_stateless/02891_empty_tuple.sql
Labels: pr-improvement

#64582 Binary math functions Decimal support
  docs/en/sql-reference/functions/math-functions.md
  docs/ru/sql-reference/functions/math-functions.md
  src/Functions/FunctionMathBinaryFloat64.h
  tests/queries/0_stateless/00700_decimal_math.reference
  tests/queries/0_stateless/00700_decimal_math.sql
  tests/queries/0_stateless/02011_tuple_vector_functions.sql
  tests/queries/0_stateless/03161_decimal_binary_math.reference
  tests/queries/0_stateless/03161_decimal_binary_math.sql
Labels: pr-feature, can be tested

#64800 Attempt to fix 02228_merge_tree_insert_memory_usage.sql flakiness for s3
  tests/queries/0_stateless/02228_merge_tree_insert_memory_usage.sql
Labels: pr-ci

#58285 Hot reload storage policy for distributed tables when adding a new disk
  src/Storages/StorageDistributed.cpp
  tests/integration/test_hot_reload_storage_policy/configs/config.d/storage_configuration.xml
  tests/integration/test_hot_reload_storage_policy/test.py
Labels: pr-improvement, can be tested

#64784 Fix Keeper snapshot size in `mntr`
  programs/keeper-converter/KeeperConverter.cpp
  src/Common/CopyableAtomic.h
  src/Coordination/FourLetterCommand.cpp
  src/Coordination/KeeperDispatcher.cpp
  src/Coordination/KeeperSnapshotManager.cpp
  src/Coordination/KeeperSnapshotManager.h
  src/Coordination/KeeperSnapshotManagerS3.cpp
  src/Coordination/KeeperSnapshotManagerS3.h
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/KeeperStateMachine.h
  tests/integration/test_keeper_snapshots/test.py
Labels: pr-bugfix

#64817 Fix wrong supported year recognition
  SECURITY.md
  utils/security-generator/generate_security.py
Labels: do not test, pr-not-for-changelog

#64823 Fix clang-tidy build
  src/Storages/S3Queue/S3QueueTableMetadata.h
Labels: pr-not-for-changelog

#64606 Double-checking #59318 and docs for `Map`
  docs/en/sql-reference/data-types/boolean.md
  docs/en/sql-reference/data-types/map.md
  docs/en/sql-reference/functions/tuple-map-functions.md
  src/Client/QueryFuzzer.cpp
  src/DataTypes/DataTypeMap.cpp
  src/DataTypes/DataTypeMap.h
  src/Formats/SchemaInferenceUtils.cpp
  tests/queries/0_stateless/00825_protobuf_format_map.sh
  tests/queries/0_stateless/00900_long_parquet_load.sh
  tests/queries/0_stateless/00900_orc_arrow_parquet_maps.sh
  tests/queries/0_stateless/01318_map_add_map_subtract.sql
  tests/queries/0_stateless/01318_map_add_map_subtract_on_map_type.reference
  tests/queries/0_stateless/01318_map_add_map_subtract_on_map_type.sql
  tests/queries/0_stateless/01475_read_subcolumns.sql
  tests/queries/0_stateless/01475_read_subcolumns_3.sql
  tests/queries/0_stateless/01475_read_subcolumns_storages.sh
  tests/queries/0_stateless/01550_create_map_type.sql
  tests/queries/0_stateless/01550_type_map_formats.sql
  tests/queries/0_stateless/01550_type_map_formats_input.sh
  tests/queries/0_stateless/01592_length_map.sql
  tests/queries/0_stateless/01651_map_functions.reference
  tests/queries/0_stateless/01651_map_functions.sql
  tests/queries/0_stateless/01715_tuple_insert_null_as_default.sql
  tests/queries/0_stateless/01720_type_map_and_casts.sql
  tests/queries/0_stateless/01763_support_map_lowcardinality_type.sql
  tests/queries/0_stateless/01803_const_nullable_map.sql
  tests/queries/0_stateless/01852_map_combinator.sql
  tests/queries/0_stateless/01872_functions_to_subcolumns.sql
  tests/queries/0_stateless/01905_to_json_string.sql
  tests/queries/0_stateless/01925_map_populate_series_on_map.reference
  tests/queries/0_stateless/01925_map_populate_series_on_map.sql
  tests/queries/0_stateless/02002_parse_map_int_key.sql
  tests/queries/0_stateless/02030_function_mapContainsKeyLike.reference
  tests/queries/0_stateless/02030_function_mapContainsKeyLike.sql
  tests/queries/0_stateless/02169_map_functions.reference
  tests/queries/0_stateless/02169_map_functions.sql
  tests/queries/0_stateless/02524_fuzz_and_fuss_2.sql
  tests/queries/0_stateless/03034_ddls_and_merges_with_unusual_maps.reference
  tests/queries/0_stateless/03034_ddls_and_merges_with_unusual_maps.sql
Labels: pr-not-for-changelog

#64824 CI: Move coverage build to non-special build list
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  tests/ci/ci_config.py
Labels: pr-not-for-changelog

#64825 CI: fix CI await feature
  tests/ci/ci_cache.py
Labels: pr-not-for-changelog

#64803 Fix memory leak in slru cache policy
  src/Interpreters/Cache/SLRUFileCachePriority.cpp
  src/Interpreters/Cache/SLRUFileCachePriority.h
Labels: pr-bugfix

#64837 xray: rename cmake file and build only on amd64 linux
  CMakeLists.txt
  cmake/xray_instrumentation.cmake
Labels: pr-build, can be tested

#64220 Add test for #37090
  tests/integration/test_unknown_column_dist_table_with_alias/__init__.py
  tests/integration/test_unknown_column_dist_table_with_alias/configs/clusters.xml
  tests/integration/test_unknown_column_dist_table_with_alias/test.py
Labels: pr-not-for-changelog

#64579 Cache first analysis result in ReadFromMergeTree
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
Labels: pr-not-for-changelog

#64762 Do not try to write columns.txt if it does not exists for write-once storages
  src/Storages/MergeTree/DataPartStorageOnDiskBase.cpp
Labels: pr-not-for-changelog

#64819 Update mongodb.md
  docs/en/engines/table-engines/integrations/mongodb.md
Labels: pr-documentation, can be tested

#64827 Fix clang-tidy
  src/Storages/S3Queue/S3QueueMetadata.cpp
  src/Storages/S3Queue/S3QueueOrderedFileMetadata.cpp
Labels: pr-not-for-changelog

#64775 Mixed join condition with function `in`
  src/Planner/PlannerJoinTree.cpp
  tests/queries/0_stateless/03006_join_on_inequal_expression_fast.reference
  tests/queries/0_stateless/03006_join_on_inequal_expression_fast.sql.j2
Labels: pr-bugfix, can be tested

#64393 Prevent recursive logging in blob_storage_log
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/IO/S3/BlobStorageLogWriter.cpp
  src/Interpreters/BlobStorageLog.cpp
  src/Interpreters/BlobStorageLog.h
  src/Interpreters/Context.cpp
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
Labels: pr-bugfix

#64244 Prevent conversion to Replicated if zookeeper path already exists
  src/Databases/DatabaseOrdinary.cpp
  tests/integration/test_modify_engine_on_restart/test_zk_path_exists.py
Labels: pr-improvement, can be tested, pr-synced-to-cloud

#57098 Analyzer fuzzer 2
  tests/queries/0_stateless/02915_analyzer_fuzz_1.reference
  tests/queries/0_stateless/02915_analyzer_fuzz_1.sql
Labels: pr-not-for-changelog

#64843 Upload blob_storage_log from stateless tests
  docker/test/stateless/run.sh
Labels: pr-not-for-changelog

#64846 Simplify handling of old 'inverted' indexes
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  tests/queries/0_stateless/02346_fulltext_index_old_name.sql
Labels: pr-not-for-changelog, pr-must-backport-cloud

#59427 Use scheduleOrThrow in MergeTree data selection and initialization to avoid deadlocks
  src/Databases/DatabaseOnDisk.cpp
  src/Server/HTTPHandler.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  tests/integration/test_replicated_merge_tree_thread_schedule_timeouts/__init__.py
  tests/integration/test_replicated_merge_tree_thread_schedule_timeouts/configs/settings.xml
  tests/integration/test_replicated_merge_tree_thread_schedule_timeouts/test.py
Labels: pr-improvement, can be tested

#57101 Analyzer fuzzer 4
  tests/queries/0_stateless/02271_fix_column_matcher_and_column_transformer.sql
Labels: pr-not-for-changelog

#64852 Added listen_try and listen_reuse_port parameters
  docs/en/operations/server-configuration-parameters/settings.md
Labels: pr-documentation, can be tested

#64844 Fix untracked memory in `MemoryTrackerSwitcher`
  src/Common/MemoryTrackerSwitcher.h
Labels: pr-bugfix, pr-must-backport

#64863 added mlock and mlockall to aspell-dict to be ignored
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: can be tested, pr-ci

#64854 Added mlock_executable parameter
  docs/en/operations/server-configuration-parameters/settings.md
Labels: pr-documentation, can be tested

#64850 Replace Markdown with YAML for ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/10_question.md
  .github/ISSUE_TEMPLATE/10_question.yaml
Labels: pr-not-for-changelog

#64845 Follow-up to #64349
  src/Storages/S3Queue/S3QueueMetadata.h
  src/Storages/S3Queue/S3QueueSettings.h
  src/Storages/S3Queue/StorageS3Queue.cpp
  tests/integration/test_mask_sensitive_info/test.py
Labels: pr-not-for-changelog

#64865 Added settings about lightweight deletes
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#64769 Fix default database with grant on cluster
  src/Interpreters/Access/InterpreterGrantQuery.cpp
  tests/integration/test_access_control_on_cluster/test.py
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#64770 Fix assert in IObjectStorageIteratorAsync
  src/Disks/ObjectStorages/ObjectStorageIteratorAsync.cpp
Labels: pr-not-for-changelog

#64610 Updated Advanced Dashboard for both open-source and ClickHouse Cloud versions to include a chart for 'Maximum concurrent network connections'
  src/Storages/System/StorageSystemDashboards.cpp
Labels: pr-improvement, can be tested

#64860 Add new settings to changes history.
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
Labels: pr-not-for-changelog

#61973 Reduce lock contention for MergeTree tables (by renaming parts without holding lock)
  src/Storages/MergeTree/DataPartStorageOnDiskBase.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskBase.h
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeSink.cpp
  src/Storages/MergeTree/MutateFromLogEntryTask.cpp
  src/Storages/MergeTree/MutatePlainMergeTreeTask.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-performance

#64848 Use a proper way to download packages from releases
  docker/test/upgrade/run.sh
  tests/ci/build_download_helper.py
  tests/ci/download_release_packages.py
  tests/ci/get_previous_release_tag.py
Labels: pr-build

#64720 fix: function filters with token-based text indexes
  src/Interpreters/ITokenExtractor.cpp
  src/Interpreters/ITokenExtractor.h
  src/Storages/MergeTree/MergeTreeIndexBloomFilterText.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  tests/queries/0_stateless/02346_fulltext_index_match_predicate.reference
  tests/queries/0_stateless/02346_fulltext_index_match_predicate.sql
  tests/queries/0_stateless/02346_fulltext_index_search.reference
  tests/queries/0_stateless/02346_fulltext_index_search.sql
  tests/queries/0_stateless/02943_tokenbf_and_ngrambf_indexes_support_match_function.reference
  tests/queries/0_stateless/02943_tokenbf_and_ngrambf_indexes_support_match_function.sql
  tests/queries/0_stateless/03165_string_functions_with_token_text_indexes.reference
  tests/queries/0_stateless/03165_string_functions_with_token_text_indexes.sql
Labels: pr-bugfix, can be tested

#64230 Make `settings_changes_history` const
  src/Core/SettingsChangesHistory.h
Labels: pr-not-for-changelog

#64890 Fix documentation enforcement
  tests/ci/run_check.py
Labels: pr-not-for-changelog

#64897 Document REPLACE PARTITION as atomic
  docs/en/sql-reference/statements/alter/partition.md
Labels: pr-documentation

#64909 [Docs] document `toUnixTimestamp64Milli`, `toUnixTimestamp64Micro`, `fromUnixTimestamp64Milli`, `fromUnixTimestamp64Micro`
  docs/en/sql-reference/functions/type-conversion-functions.md
Labels: pr-documentation, can be tested

#64903 Update 03165_string_functions_with_token_text_indexes.sql
  tests/queries/0_stateless/03165_string_functions_with_token_text_indexes.sql
Labels: pr-ci

#64883 A tiny fix for fancy quotes
  src/Parsers/Lexer.cpp
  tests/queries/0_stateless/03167_fancy_quotes_off_by_one.reference
  tests/queries/0_stateless/03167_fancy_quotes_off_by_one.sql
Labels: pr-not-for-changelog

#64801 Fix distributed array join by nested
  src/Analyzer/ArrayJoinNode.cpp
  tests/queries/0_stateless/03156_analyzer_array_join_distributed.reference
  tests/queries/0_stateless/03156_analyzer_array_join_distributed.sql
Labels: pr-bugfix, pr-must-backport, analyzer

#58349 Check python code with flake8
  docker/test/style/Dockerfile
  docker/test/style/run.sh
  docs/en/development/continuous-integration.md
  tests/integration/helpers/hdfs_api.py
  tests/integration/helpers/uclient.py
  tests/integration/test_backup_restore_new/test.py
  tests/integration/test_backup_restore_on_cluster/test_disallow_concurrency.py
  tests/integration/test_backward_compatibility/test_convert_ordinary.py
  tests/integration/test_backward_compatibility/test_functions.py
  tests/integration/test_disk_over_web_server/test.py
  tests/integration/test_jbod_balancer/test.py
  tests/integration/test_jdbc_bridge/test.py
  tests/integration/test_keeper_snapshot_small_distance/test.py
  tests/integration/test_keeper_snapshots/test.py
  tests/integration/test_keeper_three_nodes_start/test.py
  tests/integration/test_merge_tree_azure_blob_storage/test.py
  tests/integration/test_postgresql_replica_database_engine_1/test.py
  tests/integration/test_prometheus_endpoint/test.py
  tests/integration/test_scheduler/test.py
  tests/integration/test_storage_hudi/test.py
  tests/integration/test_storage_iceberg/test.py
  tests/integration/test_storage_rabbitmq/test.py
  tests/integration/test_ttl_move/test.py
  tests/integration/test_ttl_replicated/test.py
  tests/queries/0_stateless/01056_window_view_proc_hop_watch.py
  tests/queries/0_stateless/01059_window_view_event_hop_watch_strict_asc.py
  tests/queries/0_stateless/01062_window_view_event_hop_watch_asc.py
  tests/queries/0_stateless/01065_window_view_event_hop_watch_bounded.py
  tests/queries/0_stateless/01069_window_view_proc_tumble_watch.py
  tests/queries/0_stateless/01070_window_view_watch_events.py
  tests/queries/0_stateless/01078_window_view_alter_query_watch.py
  tests/queries/0_stateless/01082_window_view_watch_limit.py
  tests/queries/0_stateless/01921_test_progress_bar.py
  tests/queries/0_stateless/02473_infile_progress.py
  tests/queries/0_stateless/helpers/client.py
  tests/queries/0_stateless/helpers/shell.py
  utils/backupview/clickhouse_backupview.py
  utils/check-style/check-flake8
  utils/check-style/process_style_check_result.py
Labels: pr-not-for-changelog

#64919 additional log for cleanupDetachedTables
  src/Databases/DatabaseAtomic.cpp
Labels: pr-not-for-changelog, can be tested

#64766 Fix OrderByLimitByDuplicateEliminationVisitor across subqueries
  src/Analyzer/Passes/OrderByLimitByDuplicateEliminationPass.cpp
  tests/queries/0_stateless/03165_order_by_duplicate.reference
  tests/queries/0_stateless/03165_order_by_duplicate.sql
Labels: pr-bugfix, pr-must-backport, analyzer

#64423 Add dynamic untracked memory limits for more precise memory tracking
  docs/en/operations/settings/settings.md
  src/Common/CurrentMemoryTracker.cpp
  src/Common/CurrentMemoryTracker.h
  src/Common/ThreadStatus.h
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Interpreters/ThreadStatusExt.cpp
  tests/integration/test_failed_async_inserts/test.py
  tests/integration/test_settings_constraints_distributed/test.py
  tests/queries/0_stateless/01017_uniqCombined_memory_usage.sql
  tests/queries/0_stateless/03030_system_flush_distributed_settings.sql
Labels: pr-feature

#64756 `UTF8::computeWidth` should skip ANSI escape sequences (fix)
  src/Common/StringUtils.h
  src/Common/UTF8Helpers.cpp
  tests/queries/0_stateless/03142_skip_ANSI_in_UTF8_compute_width.reference
  tests/queries/0_stateless/03142_skip_ANSI_in_UTF8_compute_width.sql
Labels: pr-bugfix, can be tested

#64923 Fix tupleConcat of two empty tuples
  src/Functions/tupleConcat.cpp
  tests/queries/0_stateless/03167_empty_tuple_concat.reference
  tests/queries/0_stateless/03167_empty_tuple_concat.sql
Labels: pr-not-for-changelog

#64950 CI: Minor fixes in ci scripts
  tests/ci/ci.py
  tests/ci/ci_settings.py
  tests/ci/test_ci_options.py
Labels: pr-not-for-changelog

#64535 Add tests for experimental unequal joins and randomize new settings in clickhouse-test
  .editorconfig
  tests/clickhouse-test
  tests/queries/0_stateless/00576_nested_and_prewhere.sql
  tests/queries/0_stateless/01701_parallel_parsing_infinite_segmentation.sh
  tests/queries/0_stateless/03006_join_on_inequal_expression_2.reference
  tests/queries/0_stateless/03006_join_on_inequal_expression_2.sql.j2
  tests/queries/0_stateless/03006_join_on_inequal_expression_3.reference
  tests/queries/0_stateless/03006_join_on_inequal_expression_3.sql.j2
  tests/queries/0_stateless/03006_join_on_inequal_expression_4.reference
  tests/queries/0_stateless/03006_join_on_inequal_expression_4.sql.j2
Labels: pr-build, can be tested, v24.5-must-backport

#64793 Remove aliases from fiter condition.
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Processors/QueryPlan/FilterStep.cpp
  tests/queries/0_stateless/01655_plan_optimizations.reference
  tests/queries/0_stateless/01655_plan_optimizations.sh
  tests/queries/0_stateless/02317_distinct_in_order_optimization_explain.reference
  tests/queries/0_stateless/02675_predicate_push_down_filled_join_fix.reference
  tests/queries/0_stateless/03036_join_filter_push_down_equivalent_sets.reference
  tests/queries/0_stateless/03130_convert_outer_join_to_inner_join.reference
Labels: pr-performance, pr-must-backport-cloud

#64858 Fix segfault for a very tricky case
  src/Storages/TTLDescription.cpp
  tests/integration/test_replicated_merge_tree_replicated_db_ttl/__init__.py
  tests/integration/test_replicated_merge_tree_replicated_db_ttl/configs/enable_parallel_replicas.xml
  tests/integration/test_replicated_merge_tree_replicated_db_ttl/configs/node1_macro.xml
  tests/integration/test_replicated_merge_tree_replicated_db_ttl/test.py
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#64604 Allow users to specify a custom range for the range filter when using parallel replicas with dynamic shards
  docs/en/operations/settings/settings.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/getCustomKeyFilterForParallelReplicas.cpp
  src/Interpreters/getCustomKeyFilterForParallelReplicas.h
  src/Planner/PlannerJoinTree.cpp
  src/Storages/StorageDistributed.cpp
  tests/integration/test_parallel_replicas_custom_key/test.py
  tests/integration/test_parallel_replicas_custom_key_failover/test.py
  tests/integration/test_parallel_replicas_custom_key_load_balancing/test.py
  tests/queries/0_stateless/02535_max_parallel_replicas_custom_key.sh
  tests/queries/0_stateless/03164_parallel_replicas_range_filter_min_max.reference
  tests/queries/0_stateless/03164_parallel_replicas_range_filter_min_max.sql
Labels: pr-improvement, can be tested

#64798 Support non-const scale arguments in rounding functions
  docs/en/sql-reference/functions/rounding-functions.md
  docs/ru/sql-reference/functions/rounding-functions.md
  src/Functions/FunctionsRound.h
  tests/queries/0_stateless/03165_round_scale_as_column.reference
  tests/queries/0_stateless/03165_round_scale_as_column.sql
Labels: pr-improvement, can be tested

#64918 Disable transactions for unsupported storages even for materialized v…
  src/Interpreters/InterpreterInsertQuery.cpp
  tests/queries/0_stateless/03167_transactions_are_really_disabled.reference
  tests/queries/0_stateless/03167_transactions_are_really_disabled.sql
Labels: pr-not-for-changelog

#64643 Docs: Add info about analyzer incompatibilities
  docs/en/operations/analyzer.md
Labels: pr-documentation, analyzer

#64977 Fix `test_attach_partition_using_copy`
  tests/integration/test_attach_partition_using_copy/test.py
Labels: pr-ci

#62519 Add support for `LineString` geometry type
  docs/en/sql-reference/functions/geo/polygon.md
  src/DataTypes/DataTypeCustomGeo.cpp
  src/DataTypes/DataTypeCustomGeo.h
  src/Functions/geometryConverters.h
  src/Functions/polygonsIntersection.cpp
  src/Functions/polygonsSymDifference.cpp
  src/Functions/polygonsUnion.cpp
  src/Functions/polygonsWithin.cpp
  src/Functions/readWkt.cpp
  src/Functions/wkt.cpp
  tests/queries/0_stateless/03164_linestring_geometry.reference
  tests/queries/0_stateless/03164_linestring_geometry.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature

#64856 Handle logs from rocksdb by ClickHouse internal logging (and enable debug rocksdb logging on CI)
  programs/server/config.xml
  src/Storages/RocksDB/StorageEmbeddedRocksDB.cpp
  src/Storages/RocksDB/StorageEmbeddedRocksDB.h
  tests/config/config.d/rocksdb.xml
  tests/config/install.sh
Labels: pr-not-for-changelog

#64969 Revert "Add dynamic untracked memory limits for more precise memory tracking"
  docs/en/operations/settings/settings.md
  src/Common/CurrentMemoryTracker.cpp
  src/Common/CurrentMemoryTracker.h
  src/Common/ThreadStatus.h
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Interpreters/ThreadStatusExt.cpp
  tests/integration/test_failed_async_inserts/test.py
  tests/integration/test_settings_constraints_distributed/test.py
  tests/queries/0_stateless/01017_uniqCombined_memory_usage.sql
  tests/queries/0_stateless/03030_system_flush_distributed_settings.sql
Labels: pr-not-for-changelog

#64994 CI: Builds in CI settings
  .github/PULL_REQUEST_TEMPLATE.md
  tests/ci/ci_config.py
Labels: pr-not-for-changelog

#64987 CI: Fix nightly workflow
  tests/ci/ci.py
Labels: pr-not-for-changelog

#63788 Use right comments for system tables
  docs/en/engines/table-engines/integrations/s3queue.md
  src/Databases/DatabaseOnDisk.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/02118_show_create_table_rocksdb.reference
Labels: pr-improvement

#65010 CI: Fix backports
  tests/ci/cherry_pick.py
Labels: pr-not-for-changelog

#65013 Doc. Note about http_send_timeout
  docs/en/operations/settings/settings.md
Labels: pr-documentation, can be tested

#64952 Fix error message (it was strange)
  src/Functions/FunctionHelpers.cpp
Labels: pr-not-for-changelog

#64911 [Docs] add `lowCardinalityKeys`, `lowCardinalityIndices` to docs
  docs/en/sql-reference/functions/other-functions.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#64857 Added Named collections for accessing Kafka
  docs/en/operations/named-collections.md
Labels: pr-documentation, can be tested

#65030 Docs: Move MergeTree setting docs into MergeTree settings docs page
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/operations/settings/merge-tree-settings.md
Labels: pr-documentation

#65037 Docs for MergeTree: Capitalized SETTINGS
  docs/en/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation

#63160 Fix flaky stateless test with azure
  src/Disks/IO/WriteBufferFromAzureBlobStorage.cpp
  src/Disks/IO/WriteBufferFromAzureBlobStorage.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  tests/ci/functional_test_check.py
  tests/queries/0_stateless/02340_parts_refcnt_mergetree.sh
  tests/queries/0_stateless/02488_zero_copy_detached_parts_drop_table.sh
  tests/queries/0_stateless/02494_query_cache_nested_query_bug.sh
  tests/queries/0_stateless/02535_max_parallel_replicas_custom_key.sh
  tests/queries/0_stateless/02922_deduplication_with_zero_copy.sh
  tests/queries/0_stateless/02941_variant_type_1.sh
  tests/queries/0_stateless/02941_variant_type_2.sh
  tests/queries/0_stateless/02941_variant_type_3.sh
  tests/queries/0_stateless/02941_variant_type_4.sh
  tests/queries/0_stateless/03037_dynamic_merges_1_horizontal.sh
  tests/queries/0_stateless/03037_dynamic_merges_1_vertical.sh
  tests/queries/0_stateless/03039_dynamic_versioned_collapsing_merge_tree.sh
Labels: pr-improvement

#64896 Fix global trace collector
  programs/server/Server.cpp
  src/Common/QueryProfiler.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/TraceCollector.cpp
  src/Interpreters/TraceCollector.h
Labels: pr-not-for-changelog

#64924 Fix duplicating Delete events in blob_storage_log
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Interpreters/SystemLog.cpp
Labels: pr-bugfix

#65049 Revert "Fix duplicating Delete events in blob_storage_log"
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Interpreters/SystemLog.cpp
Labels: pr-not-for-changelog

#64804 Improve progress report on zeros_mt and generateRandom
  src/Storages/StorageGenerateRandom.cpp
  src/Storages/System/StorageSystemZeros.cpp
  tests/queries/0_stateless/03023_zeros_generate_random_with_limit_progress_bar.expect
  tests/queries/0_stateless/03023_zeros_generate_random_with_limit_progress_bar.reference
  tests/queries/0_stateless/03023_zeros_generate_random_with_limit_progress_bar.sh
Labels: pr-improvement

#64967 Fix bug in short circuit evaluation
  src/Columns/MaskOperations.cpp
  tests/queries/0_stateless/03168_fuzz_multiIf_short_circuit.reference
  tests/queries/0_stateless/03168_fuzz_multiIf_short_circuit.sql
Labels: pr-not-for-changelog

#64966 Disable 02908_many_requests_to_system_replicas with ASAN
  tests/queries/0_stateless/02908_many_requests_to_system_replicas.sh
Labels: pr-not-for-changelog

#64947 Add _time virtual column to file alike storages
  docs/en/engines/table-engines/integrations/azureBlobStorage.md
  docs/en/engines/table-engines/integrations/hdfs.md
  docs/en/engines/table-engines/integrations/s3.md
  docs/en/engines/table-engines/special/file.md
  docs/en/engines/table-engines/special/url.md
  docs/en/sql-reference/table-functions/azureBlobStorage.md
  docs/en/sql-reference/table-functions/file.md
  docs/en/sql-reference/table-functions/hdfs.md
  docs/en/sql-reference/table-functions/s3.md
  docs/en/sql-reference/table-functions/url.md
  src/IO/Archives/IArchiveReader.h
  src/IO/Archives/LibArchiveReader.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  src/Storages/S3Queue/S3QueueSource.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageFile.h
  src/Storages/StorageURL.cpp
  src/Storages/VirtualColumnUtils.cpp
  src/Storages/VirtualColumnUtils.h
  tests/integration/test_storage_azure_blob_storage/test.py
  tests/integration/test_storage_hdfs/test.py
  tests/integration/test_storage_s3/test.py
  tests/queries/0_stateless/02931_size_virtual_column_use_structure_from_insertion_table.reference
  tests/queries/0_stateless/02931_size_virtual_column_use_structure_from_insertion_table.sh
  tests/queries/0_stateless/02931_virtual_column_use_structure_from_insertion_table.reference
  tests/queries/0_stateless/02931_virtual_column_use_structure_from_insertion_table.sh
Labels: pr-feature

#64312 Add clusters with replicas from all replica groups
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicated.h
  src/Databases/DatabaseReplicatedWorker.cpp
  src/Interpreters/DDLTask.cpp
  src/Storages/System/StorageSystemClusters.cpp
  tests/integration/test_replicated_database/configs/config2.xml
  tests/integration/test_replicated_database/test.py
Labels: pr-improvement

#64904 Persistent PRInfo diff url
  tests/ci/build_download_helper.py
  tests/ci/pr_info.py
Labels: pr-ci

#65018 Fix 03165_string_functions_with_token_text_indexes
  tests/queries/0_stateless/03165_string_functions_with_token_text_indexes.sql
Labels: can be tested, pr-ci

#63857 S3: reduce retires time for queries, increase retries count for backups
  src/Backups/BackupIO_S3.cpp
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/IO/S3/Client.h
  tests/integration/test_mask_sensitive_info/configs/users.xml
Labels: pr-improvement

#65031 Fix ALTER MODIFY COMMENT in parameterized VIEWs
  src/Databases/DatabasesCommon.cpp
  src/Storages/AlterCommands.cpp
  tests/queries/0_stateless/03142_alter_comment_parameterized_view.reference
  tests/queries/0_stateless/03142_alter_comment_parameterized_view.sql
Labels: pr-bugfix, pr-must-backport

#65040 Improve comment about AsynchronousMetrics
  src/Common/AsynchronousMetrics.h
Labels: pr-not-for-changelog

#64574 Named collections in keeper
  docs/en/operations/named-collections.md
  programs/server/Server.cpp
  src/Common/NamedCollections/NamedCollectionUtils.cpp
  src/Common/NamedCollections/NamedCollectionUtils.h
  src/Common/NamedCollections/NamedCollections.cpp
  src/Common/NamedCollections/NamedCollections.h
  src/Common/NamedCollections/NamedCollectionsFactory.cpp
  src/Common/NamedCollections/NamedCollectionsFactory.h
  src/Common/NamedCollections/NamedCollectionsMetadataStorage.cpp
  src/Common/NamedCollections/NamedCollectionsMetadataStorage.h
  src/Common/tests/gtest_named_collections.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/InterpreterAlterNamedCollectionQuery.cpp
  src/Interpreters/InterpreterCreateNamedCollectionQuery.cpp
  src/Interpreters/InterpreterDropNamedCollectionQuery.cpp
  src/Storages/NamedCollectionsHelpers.cpp
  src/Storages/System/StorageSystemNamedCollections.cpp
  tests/integration/test_named_collections/configs/config.d/named_collections_with_zookeeper.xml
  tests/integration/test_named_collections/test.py
Labels: pr-feature

#64695 Fix early constant folding for isNull/isNotNul and analyzer.
  src/DataTypes/DataTypeNullable.cpp
  src/DataTypes/DataTypeNullable.h
  src/Functions/isNotNull.cpp
  src/Functions/isNull.cpp
  src/Functions/isNullable.cpp
  src/Planner/PlannerExpressionAnalysis.cpp
  src/Storages/tests/gtest_transform_query_for_external_database.cpp
  tests/queries/0_stateless/01822_union_and_constans_error.reference
  tests/queries/0_stateless/01822_union_and_constans_error.sql
  tests/queries/0_stateless/02892_orc_filter_pushdown.reference
  tests/queries/0_stateless/03164_early_constant_folding_analyzer.reference
  tests/queries/0_stateless/03164_early_constant_folding_analyzer.sql
Labels: pr-bugfix, pr-must-backport-cloud, analyzer, v24.4-must-backport, v24.5-must-backport

#64060 Analyzer: Optimize resolution of in(LowCardinality, ConstantSet)
  src/Analyzer/FunctionNode.cpp
  src/Analyzer/Passes/LogicalExpressionOptimizerPass.cpp
  tests/queries/0_stateless/02477_logical_expressions_optimizer_low_cardinality.reference
Labels: pr-performance, can be tested

#64427 Adapting parquet reader output block rows
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings-formats.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  tests/queries/0_stateless/03164_adapting_parquet_reader_output_size.reference
  tests/queries/0_stateless/03164_adapting_parquet_reader_output_size.sql
Labels: pr-improvement, can be tested

#64668 Improve function least/greatest for nullable numberic type arguments
  src/Functions/LeastGreatestGeneric.h
  tests/performance/least_greatest.xml
Labels: pr-improvement, can be tested

#65008 Make a setting `allow_experimental_join_condition` not IMPORTANT
  src/Core/Settings.h
Labels: pr-improvement, pr-must-backport-cloud, v24.5-must-backport

#60463 Trivial count optimization with primary key
  src/Processors/QueryPlan/Optimizations/optimizeUseAggregateProjection.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseNormalProjection.cpp
  src/Processors/QueryPlan/Optimizations/projectionsCommon.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.h
  src/Storages/ProjectionsDescription.cpp
  src/Storages/ProjectionsDescription.h
  tests/queries/0_stateless/00636_partition_key_parts_pruning.sh
  tests/queries/0_stateless/00653_verification_monotonic_data_load.sh
  tests/queries/0_stateless/01710_projection_pk_trivial_count.reference
  tests/queries/0_stateless/01710_projection_pk_trivial_count.sql
  tests/queries/1_stateful/00166_explain_estimate.sql
  tests/queries/1_stateful/00175_counting_resources_in_subqueries.sql
Labels: pr-improvement

#64759 Adjust the `version_helper` and script to a new release scheme
  tests/ci/ci_config.py
  tests/ci/git_helper.py
  tests/ci/release.py
  tests/ci/test_git.py
  tests/ci/test_version.py
  tests/ci/tests/autogenerated_versions.txt
  tests/ci/tmp/.gitignore
  tests/ci/version_helper.py
Labels: pr-must-backport, pr-ci

#63796 Rewrite plan for parallel replicas in Planner
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Interpreters/ClusterProxy/executeQuery.h
  src/Planner/PlannerJoinTree.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/02530_dictionaries_update_field.reference
  tests/queries/0_stateless/02530_dictionaries_update_field.sh
Labels: pr-not-for-changelog

#65014 Try fix 03143_prewhere_profile_events
  tests/queries/0_stateless/03143_prewhere_profile_events.sh
Labels: pr-not-for-changelog

#64900 [Docs] add `flameGraph` aggregate function to docs
  docs/en/sql-reference/aggregate-functions/reference/flame_graph.md
  docs/en/sql-reference/aggregate-functions/reference/index.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#64580 Calculate skip indexes on vertical stage of merge
  src/Core/NamesAndTypes.cpp
  src/Core/NamesAndTypes.h
  src/Storages/MergeTree/ColumnSizeEstimator.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTask.h
  src/Storages/MergeTree/MergedColumnOnlyOutputStream.cpp
  src/Storages/MergeTree/MergedColumnOnlyOutputStream.h
  src/Storages/MergeTree/MutateTask.cpp
  tests/queries/0_stateless/03166_skip_indexes_vertical_merge_1.reference
  tests/queries/0_stateless/03166_skip_indexes_vertical_merge_1.sql
  tests/queries/0_stateless/03166_skip_indexes_vertical_merge_2.reference
  tests/queries/0_stateless/03166_skip_indexes_vertical_merge_2.sql
Labels: pr-improvement

#64814 Make row order optimization non-experimental
  docs/en/operations/settings/merge-tree-settings.md
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
  src/Storages/MergeTree/RowOrderOptimizer.cpp
  tests/queries/0_stateless/03166_optimize_row_order_during_insert.sql
Labels: pr-not-for-changelog

#65081 Fix infinite query duration in case of cyclic aliases.
  src/Analyzer/Resolve/ScopeAliases.h
  tests/queries/0_stateless/02896_cyclic_aliases_crash.reference
  tests/queries/0_stateless/02896_cyclic_aliases_crash.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud, analyzer

#65053 Revert "Revert "Fix duplicating Delete events in blob_storage_log""
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Interpreters/SystemLog.cpp
Labels: pr-not-for-changelog

#65102 Reduce `clickhouse/unit-test` size 6 times
  docker/images.json
  docker/test/unit/Dockerfile
Labels: pr-build, pr-must-backport

#65099 Update odbc-bridge.md
  docs/en/operations/utilities/odbc-bridge.md
Labels: pr-not-for-changelog

#65105 Small fix for 02340_parts_refcnt_mergetree
  tests/queries/0_stateless/02340_parts_refcnt_mergetree.sh
Labels: pr-not-for-changelog

#65148 Revert "S3: reduce retires time for queries, increase retries count for backups"
  src/Backups/BackupIO_S3.cpp
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/IO/S3/Client.h
  tests/integration/test_mask_sensitive_info/configs/users.xml
Labels: pr-not-for-changelog

#65149 Revert "Small fix for 02340_parts_refcnt_mergetree"
  tests/queries/0_stateless/02340_parts_refcnt_mergetree.sh
Labels: pr-not-for-changelog
