Repository ClickHouse/ClickHouse, pull requests merged in 2024-02, with the labels that each got.

#59439 Fix digest calculation in Keeper
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/KeeperStorage.cpp
  src/Coordination/KeeperStorage.h
  tests/config/config.d/keeper_port.xml
Labels: pr-bugfix, pr-must-backport-cloud, v24.1-must-backport

#59453 Fix 02720_row_policy_column_with_dots
  tests/queries/0_stateless/02720_row_policy_column_with_dots.reference
  tests/queries/0_stateless/02720_row_policy_column_with_dots.sql
Labels: pr-not-for-changelog, can be tested

#59447 Safer Rust (catch panic with catch_unwind())
  rust/prql/src/lib.rs
  rust/skim/src/lib.rs
Labels: pr-not-for-changelog

#58216 Fix quantilesGK bug
  src/AggregateFunctions/AggregateFunctionQuantileGK.cpp
  src/Interpreters/GatherFunctionQuantileVisitor.cpp
  tests/queries/0_stateless/02661_quantile_approx.reference
  tests/queries/0_stateless/02661_quantile_approx.sql
Labels: pr-bugfix, can be tested

#59459 Update configuration-files.md
  docs/en/operations/configuration-files.md
Labels: pr-documentation, can be tested

#59444 Fix stacktraces for binaries without debug symbols
  docker/test/fasttest/run.sh
  src/Common/StackTrace.cpp
Labels: pr-bugfix, v24.1-must-backport

#59375 Poco Logger small refactoring
  base/poco/Foundation/CMakeLists.txt
  base/poco/Foundation/include/Poco/Logger.h
  base/poco/Foundation/include/Poco/RefCountedObject.h
  base/poco/Foundation/src/Logger.cpp
  src/Common/Logger.h
  src/Common/tests/gtest_log.cpp
  src/Disks/ObjectStorages/ObjectStorageFactory.cpp
  src/Disks/ObjectStorages/Web/WebObjectStorage.cpp
  src/Storages/MergeTree/MergeTreeDataPartCloner.cpp
  utils/keeper-data-dumper/main.cpp
Labels: pr-not-for-changelog, force tests, can be tested

#59461 Fix problem detected by UBSAN
  src/Interpreters/GlobalSubqueriesVisitor.h
  tests/queries/0_stateless/02972_parallel_replicas_cte.reference
  tests/queries/0_stateless/02972_parallel_replicas_cte.sql
Labels: pr-not-for-changelog

#59446 Allow to define a starting point for s3queue ordered mode at creation
  src/Storages/S3Queue/S3QueueFilesMetadata.cpp
  src/Storages/S3Queue/S3QueueFilesMetadata.h
  src/Storages/S3Queue/S3QueueSettings.h
  src/Storages/S3Queue/StorageS3Queue.cpp
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-improvement

#59499 Fixes for binary.html
  programs/server/binary.html
Labels: pr-not-for-changelog

#59462 Fix `SELECT * FROM [...] ORDER BY ALL` with Analyzer
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  tests/queries/0_stateless/02943_order_by_all.reference
  tests/queries/0_stateless/02943_order_by_all.sql
Labels: pr-bugfix, can be tested

#59388 Retry disconnects and expired sessions when reading system.zookeeper
  src/Backups/BackupEntriesCollector.h
  src/Backups/WithRetries.h
  src/Common/ZooKeeper/ZooKeeperRetries.h
  src/Interpreters/executeDDLQueryOnCluster.h
  src/Storages/MergeTree/ReplicatedMergeTreeSink.h
  src/Storages/System/StorageSystemZooKeeper.cpp
  tests/queries/0_stateless/02975_system_zookeeper_retries.reference
  tests/queries/0_stateless/02975_system_zookeeper_retries.sql
Labels: pr-improvement

#59520 Update the peter-evans/create-pull-request action to v6
  .github/workflows/tags_stable.yml
Labels: pr-not-for-changelog

#58486 Adjustable asynchronous insert timeouts
  docs/en/operations/settings/settings.md
  src/Common/CurrentMetrics.cpp
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Interpreters/AsynchronousInsertLog.cpp
  src/Interpreters/AsynchronousInsertLog.h
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/AsynchronousInsertQueue.h
  src/Interpreters/Context.cpp
  tests/integration/test_async_insert_adaptive_busy_timeout/__init__.py
  tests/integration/test_async_insert_adaptive_busy_timeout/configs/users.xml
  tests/integration/test_async_insert_adaptive_busy_timeout/configs/zookeeper_config.xml
  tests/integration/test_async_insert_adaptive_busy_timeout/test.py
  tests/queries/0_stateless/02015_async_inserts_2.sh
  tests/queries/0_stateless/02134_async_inserts_formats.sh
  tests/queries/0_stateless/02726_async_insert_flush_queue.sql
  tests/queries/0_stateless/02810_async_insert_dedup_replicated_collapsing.sh
  tests/queries/0_stateless/02884_async_insert_native_protocol_1.sh
  tests/queries/0_stateless/02884_async_insert_native_protocol_3.sh
  tests/queries/0_stateless/02884_async_insert_skip_settings.sql
  tests/queries/0_stateless/02968_adaptive_async_insert_timeout.reference
  tests/queries/0_stateless/02968_adaptive_async_insert_timeout.sql
Labels: pr-improvement, can be tested

#58664 CI: ci cache. step 1
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  tests/ci/ci.py
  tests/ci/ci_config.py
  tests/ci/ci_utils.py
  tests/ci/commit_status_helper.py
  tests/ci/performance_comparison_check.py
  tests/ci/pr_info.py
  tests/ci/s3_helper.py
  tests/ci/test_ci_cache.py
Labels: pr-not-for-changelog

#59548 Compress state of dashboard [2]
  programs/server/dashboard.html
Labels: pr-improvement

#59517 Remove a scary message if an error is retryable
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
Labels: pr-not-for-changelog

#59534 Use ConnectionPoolPtr instead of raw pointer
  src/Client/ConnectionEstablisher.cpp
  src/Client/ConnectionEstablisher.h
  src/Client/ConnectionPoolWithFailover.cpp
  src/Client/ConnectionPoolWithFailover.h
  src/Client/HedgedConnectionsFactory.cpp
  src/Common/PoolWithFailoverBase.h
Labels: pr-not-for-changelog

#59404 Progress bar: use FQDN to differentiate metrics from different hosts
  src/Interpreters/ProfileEventsExt.cpp
  src/Interpreters/ProfileEventsExt.h
  src/Server/TCPHandler.cpp
  src/Server/TCPHandler.h
  src/Server/TCPHandlerFactory.h
Labels: pr-not-for-changelog, pr-must-backport-cloud

#59380 Cleanup connection pool surroundings
  src/Client/ConnectionEstablisher.cpp
  src/Client/ConnectionEstablisher.h
  src/Client/HedgedConnectionsFactory.cpp
  src/Common/Epoll.h
  src/Common/PoolWithFailoverBase.h
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
Labels: pr-not-for-changelog

#59493 Make comments for system tables also available in local mode and enforce comments not to be empty
  src/Interpreters/SystemLog.cpp
  src/Storages/System/attachSystemTablesImpl.h
  tests/queries/0_stateless/02982_comments_in_system_tables.reference
  tests/queries/0_stateless/02982_comments_in_system_tables.sh
Labels: pr-improvement

#59337 Some small fixes for docker images
  docker/packager/binary/Dockerfile
  docker/server/Dockerfile.ubuntu
  docker/test/base/Dockerfile
  docker/test/fasttest/Dockerfile
  docker/test/fuzzer/Dockerfile
  docker/test/install/deb/Dockerfile
  docker/test/integration/hive_server/Dockerfile
  docker/test/integration/postgresql_java_client/Dockerfile
  docker/test/integration/runner/Dockerfile
  docker/test/keeper-jepsen/Dockerfile
  docker/test/libfuzzer/Dockerfile
  docker/test/performance-comparison/Dockerfile
  docker/test/server-jepsen/Dockerfile
  docker/test/sqlancer/Dockerfile
  docker/test/sqllogic/Dockerfile
  docker/test/sqltest/Dockerfile
  docker/test/stateful/Dockerfile
  docker/test/stateless/Dockerfile
  docker/test/stateless/clickhouse-statelest-test-runner.Dockerfile
  docker/test/stress/Dockerfile
  docker/test/style/Dockerfile
  docker/test/upgrade/Dockerfile
  docker/test/util/Dockerfile
  tests/ci/team_keys_lambda/build_and_deploy_archive.sh
Labels: pr-not-for-changelog

#59554 Refactoring of dashboard state encoding
  programs/server/dashboard.html
Labels: pr-not-for-changelog, v24.1-must-backport

#59413 Optimize if function when input type is map
  src/Functions/if.cpp
  tests/performance/if.xml
  tests/queries/0_stateless/02974_if_with_map.reference
  tests/queries/0_stateless/02974_if_with_map.sql
Labels: pr-performance

#59498 Make MAX use the same rules as permutation for complex types
  src/AggregateFunctions/AggregateFunctionMax.cpp
  src/AggregateFunctions/AggregateFunctionMin.cpp
  src/Core/Field.h
  tests/queries/0_stateless/02982_minmax_nan_null_order.reference
  tests/queries/0_stateless/02982_minmax_nan_null_order.sql
Labels: pr-bugfix, v24.1-must-backport

#59543 Add support for NATS credentials file
  docs/en/engines/table-engines/integrations/nats.md
  src/Storages/NATS/NATSConnection.cpp
  src/Storages/NATS/NATSConnection.h
  src/Storages/NATS/NATSSettings.h
  src/Storages/NATS/StorageNATS.cpp
Labels: pr-feature, can be tested

#59383 Add some fuzzing to ASTLiterals
  docker/test/fuzzer/run-fuzzer.sh
  src/Client/QueryFuzzer.cpp
  src/Client/QueryFuzzer.h
  tests/ci/ast_fuzzer_check.py
Labels: pr-build

#59544 Fix corner case when passing `update_insert_deduplication_token_in_dependent_materialized_views`
  docs/en/operations/settings/settings.md
  src/Processors/Transforms/buildPushingToViewsChain.cpp
  tests/queries/0_stateless/02972_insert_deduplication_token_hierarchical_inserts_views.reference
  tests/queries/0_stateless/02972_insert_deduplication_token_hierarchical_inserts_views.sql
Labels: pr-bugfix, pr-must-backport, can be tested

#59277 Concurrent tables creation in `recoverLostReplica`
  programs/server/Server.cpp
  src/Common/CurrentMetrics.cpp
  src/Core/ServerSettings.h
  src/Databases/DatabaseReplicated.cpp
  src/Databases/TablesDependencyGraph.cpp
  src/Databases/TablesDependencyGraph.h
  src/IO/SharedThreadPools.cpp
  src/IO/SharedThreadPools.h
  tests/config/config.d/database_replicated.xml
  tests/integration/test_replicated_database/configs/config.xml
Labels: pr-improvement

#59241 CI: Add ARM integration tests
  .github/workflows/pull_request.yml
  .gitmessage
  docker/images.json
  docker/test/integration/runner/Dockerfile
  tests/ci/ci.py
  tests/ci/ci_config.py
  tests/ci/integration_test_check.py
Labels: pr-not-for-changelog

#59403 Remove octal issues when parsing with `input_format_values_interpret_expressions=0`
  src/Processors/Formats/Impl/ConstantExpressionTemplate.cpp
  tests/queries/0_stateless/02896_leading_zeroes_no_octal.reference
  tests/queries/0_stateless/02896_leading_zeroes_no_octal.sql
Labels: pr-improvement, can be tested

#59382 Fix ARRAY JOIN with subcolumns
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  tests/analyzer_integration_broken_tests.txt
  tests/queries/0_stateless/02974_analyzer_array_join_subcolumn.reference
  tests/queries/0_stateless/02974_analyzer_array_join_subcolumn.sql
Labels: pr-not-for-changelog, analyzer

#59567 Add missed #include <bit> and <exception>
  base/base/bit_cast.h
  base/base/wide_integer_impl.h
  src/Common/Exception.h
Labels: pr-not-for-changelog, can be tested

#59586 CI: nightly job to update latest docker tag only
  .github/workflows/master.yml
  .github/workflows/nightly.yml
  .github/workflows/reusable_docker.yml
  tests/ci/ci.py
  tests/ci/ci_config.py
  tests/ci/docker_manifests_merge.py
Labels: do not test, pr-not-for-changelog

#59533 GRPCServer: do not call value() on empty optional query_info
  src/Server/GRPCServer.cpp
Labels: pr-not-for-changelog

#59565 MultiVersion use mutex
  src/Common/MultiVersion.h
Labels: pr-not-for-changelog, can be tested

#59536 Change the default value for `async_insert_max_data_size` to 10 MiB
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
Labels: pr-improvement

#59610 Update README.md
  README.md
Labels: pr-not-for-changelog

#59539 [Docs] Fix broken link for Variant data type
  docs/en/sql-reference/data-types/variant.md
Labels: pr-documentation, can be tested

#59483 Analyzer: Fix denny_crane
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  tests/analyzer_tech_debt.txt
Labels: pr-not-for-changelog, analyzer

#59603 Fix crash in topK when merging empty states
  src/AggregateFunctions/AggregateFunctionTopK.cpp
  src/Common/SpaceSaving.h
  tests/queries/0_stateless/02984_topk_empty_merge.reference
  tests/queries/0_stateless/02984_topk_empty_merge.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#59594 Fix incorrect result of arrayElement / map[] on empty value
  src/Functions/array/arrayElement.cpp
  tests/queries/0_stateless/02983_empty_map.reference
  tests/queries/0_stateless/02983_empty_map.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#59629 CI: fix ast fuzzer job report (slack bot issue)
  tests/ci/ast_fuzzer_check.py
Labels: pr-not-for-changelog

#59436 More perf introspection for `INSERT`-s
  src/Common/ElapsedTimeProfileEventIncrement.h
  src/Common/ProfileEvents.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MutateTask.cpp
  tests/queries/0_stateless/02982_perf_introspection_for_inserts.reference
  tests/queries/0_stateless/02982_perf_introspection_for_inserts.sh
Labels: pr-improvement

#59621 Trivial optimize on ifNotNull with intel AVX2
  src/Functions/isNotNull.cpp
Labels: pr-performance

#59650 MergeTree FINAL optimization diagnostics and settings
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Processors/QueryPlan/PartsSplitter.cpp
  src/Processors/QueryPlan/PartsSplitter.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
Labels: pr-not-for-changelog, pr-must-backport, can be tested

#59435 Consider nested cgroup memory limits for the total memory tracker
  base/base/getMemoryAmount.cpp
  src/Common/getNumberOfPhysicalCPUCores.cpp
Labels: pr-improvement

#59527 Fix usage of StatusType
  tests/ci/artifacts_helper.py
  tests/ci/ast_fuzzer_check.py
  tests/ci/bugfix_validate_check.py
  tests/ci/ci.py
  tests/ci/clickbench.py
  tests/ci/commit_status_helper.py
  tests/ci/compatibility_check.py
  tests/ci/docker_images_check.py
  tests/ci/docker_manifests_merge.py
  tests/ci/docker_server.py
  tests/ci/docs_check.py
  tests/ci/fast_test_check.py
  tests/ci/finish_check.py
  tests/ci/functional_test_check.py
  tests/ci/integration_test_check.py
  tests/ci/jepsen_check.py
  tests/ci/mark_release_ready.py
  tests/ci/merge_pr.py
  tests/ci/performance_comparison_check.py
  tests/ci/release.py
  tests/ci/report.py
  tests/ci/run_check.py
  tests/ci/sqlancer_check.py
  tests/ci/sqllogic_test.py
  tests/ci/sqltest.py
  tests/ci/stress_check.py
  tests/ci/style_check.py
  tests/ci/unit_tests_check.py
Labels: pr-not-for-changelog

#59672 Unquote FLAG_LATEST to fix issue with empty argument
  .github/workflows/reusable_docker.yml
Labels: pr-not-for-changelog

#59606 Fix distributed table with a constant sharding key
  src/Storages/StorageDistributed.cpp
  tests/queries/0_stateless/02983_const_sharding_key.reference
  tests/queries/0_stateless/02983_const_sharding_key.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#59657 Better usability for server versions in ClickHouse Cloud
  programs/client/Client.cpp
Labels: pr-improvement

#59661 Improvement: move self-extracted binary instead copying.
  utils/self-extracting-executable/decompressor.cpp
Labels: pr-improvement

#59658 Maintain function alias in RewriteSumFunctionWithSumAndCountVisitor
  src/Interpreters/RewriteSumFunctionWithSumAndCountVisitor.cpp
  tests/queries/0_stateless/02931_rewrite_sum_column_and_constant.reference
  tests/queries/0_stateless/02931_rewrite_sum_column_and_constant.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud, v24.1-must-backport

#59316 Use `MergeTree` as a default table engine
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  tests/queries/0_stateless/02184_default_table_engine.sql
Labels: pr-improvement

#59545 Produce stream of chunks from system.zookeeper instead of accumulating the whole result
  src/Storages/System/StorageSystemZooKeeper.cpp
  tests/queries/0_stateless/02976_system_zookeeper_filters.reference
  tests/queries/0_stateless/02976_system_zookeeper_filters.sql
Labels: pr-improvement

#59485 Strict aliasing for Int8
  base/base/CMakeLists.txt
  base/base/int8_to_string.cpp
  base/base/int8_to_string.h
  base/base/types.h
  src/Common/Exception.h
  src/Core/Field.h
  src/Functions/divide/divide.cpp
  src/Functions/divide/divideImpl.cpp
  src/Functions/if.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  src/Storages/PostgreSQL/MaterializedPostgreSQLConsumer.cpp
Labels: pr-performance

#59702 Revert "MergeTree FINAL optimization diagnostics and settings"
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Processors/QueryPlan/PartsSplitter.cpp
  src/Processors/QueryPlan/PartsSplitter.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
Labels: pr-not-for-changelog

#59605 Add another sanity check for function return types
  src/Analyzer/Passes/QueryAnalysisPass.cpp
Labels: pr-not-for-changelog

#58632 Added function `seriesOutliersTukey` for outlier detetion in series data
  docs/en/sql-reference/functions/time-series-functions.md
  src/Functions/seriesOutliersDetectTukey.cpp
  tests/queries/0_stateless/02813_seriesOutliersDetectTukey.reference
  tests/queries/0_stateless/02813_seriesOutliersDetectTukey.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, can be tested

#59711 Revert "Use `MergeTree` as a default table engine"
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  tests/queries/0_stateless/02184_default_table_engine.sql
Labels: pr-not-for-changelog

#59663 Pin python dependencies in stateless tests
  docker/test/stateless/Dockerfile
Labels: pr-not-for-changelog, pr-must-backport, pr-must-backport-cloud

#59528 Analyzer fix test_select_access_rights/test_main.py::test_select_count
  src/Planner/PlannerJoinTree.cpp
  tests/analyzer_integration_broken_tests.txt
  tests/integration/test_select_access_rights/test_main.py
Labels: pr-not-for-changelog, analyzer

#59659 Follow up for #59277
  programs/server/Server.cpp
  src/Core/ServerSettings.h
  src/Databases/DatabaseReplicated.cpp
  src/Databases/TablesDependencyGraph.cpp
  src/Databases/TablesDependencyGraph.h
Labels: pr-not-for-changelog

#59706 ConnectionEstablisher: remove unused is_finished
  src/Client/ConnectionEstablisher.cpp
  src/Client/ConnectionEstablisher.h
Labels: pr-not-for-changelog

#59683 Rename a setting
  src/Core/Settings.h
  src/Functions/keyvaluepair/extractKeyValuePairs.cpp
  tests/queries/0_stateless/02499_extract_key_value_pairs_multiple_input.reference
  tests/queries/0_stateless/02499_extract_key_value_pairs_multiple_input.sql
Labels: pr-backward-incompatible

#59688 Temporarily remove a feature that doesn't work
  docs/en/sql-reference/statements/alter/partition.md
  src/Interpreters/MonotonicityCheckVisitor.h
  src/Interpreters/applyFunction.cpp
  src/Interpreters/applyFunction.h
  src/Parsers/queryToString.cpp
  src/Parsers/queryToString.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataPartCloner.cpp
  src/Storages/MergeTree/MergeTreeDataPartCloner.h
  src/Storages/MergeTree/MergeTreePartition.cpp
  src/Storages/MergeTree/MergeTreePartition.h
  src/Storages/MergeTree/MergeTreePartitionCompatibilityVerifier.cpp
  src/Storages/MergeTree/MergeTreePartitionCompatibilityVerifier.h
  src/Storages/MergeTree/MergeTreePartitionGlobalMinMaxIdxCalculator.cpp
  src/Storages/MergeTree/MergeTreePartitionGlobalMinMaxIdxCalculator.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_attach_partition_distinct_expression_replicated/__init__.py
  tests/integration/test_attach_partition_distinct_expression_replicated/configs/remote_servers.xml
  tests/integration/test_attach_partition_distinct_expression_replicated/test.py
  tests/queries/0_stateless/02456_test_attach_partition_different_partition_exp.reference
  tests/queries/0_stateless/02456_test_attach_partition_different_partition_exp.sql
Labels: pr-not-for-changelog

#59739 Fix leftPad / rightPad function with FixedString input
  src/Functions/padString.cpp
  tests/queries/0_stateless/02986_leftpad_fixedstring.reference
  tests/queries/0_stateless/02986_leftpad_fixedstring.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#59754 Revert "Rename a setting"
  src/Core/Settings.h
  src/Functions/keyvaluepair/extractKeyValuePairs.cpp
  tests/queries/0_stateless/02499_extract_key_value_pairs_multiple_input.reference
  tests/queries/0_stateless/02499_extract_key_value_pairs_multiple_input.sql
Labels: pr-not-for-changelog

#59720 Remove SourceWithKeyCondition from ReadFromStorageStep
  src/Processors/QueryPlan/ReadFromPreparedSource.cpp
  src/Processors/QueryPlan/ReadFromPreparedSource.h
Labels: pr-not-for-changelog

#59705 Revert "Revert "MergeTree FINAL optimization diagnostics and settings""
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Processors/QueryPlan/PartsSplitter.cpp
  src/Processors/QueryPlan/PartsSplitter.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
Labels: pr-not-for-changelog

#59555 CI: ci_cache, enable await
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/reusable_build.yml
  .github/workflows/reusable_test.yml
  tests/ci/ci.py
  tests/ci/ci_config.py
  tests/ci/ci_utils.py
  tests/ci/commit_status_helper.py
  tests/ci/report.py
  tests/ci/test_ci_cache.py
Labels: pr-not-for-changelog

#59778 CI: ci test await
  tests/ci/ci.py
Labels: pr-not-for-changelog

#59741 Fix skipping unused shards with analyzer
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnArray.h
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Interpreters/evaluateConstantExpression.cpp
Labels: pr-not-for-changelog, analyzer

#58866 AVX vectorization of distance functions
  src/Functions/array/arrayDistance.cpp
  tests/queries/0_stateless/02282_array_distance.reference
  tests/queries/0_stateless/02282_array_distance.sql
Labels: pr-improvement

#59786 [Docs] Specify cloud default value for date_time_input_format
  docs/en/operations/settings/settings-formats.md
Labels: pr-documentation

#59785 [Docs] Specify cloud default value for enable_filesystem_cache_on_writ…
  docs/en/operations/storing-data.md
Labels: pr-documentation

#59753 Fix dashboard params default values
  programs/server/dashboard.html
Labels: pr-not-for-changelog

#59699 Insert synchronously if dependent MV deduplication is enabled
  src/Interpreters/executeQuery.cpp
  src/Server/TCPHandler.cpp
  tests/queries/0_stateless/02985_disable_async_inserts_for_dependent_mv_dedup.reference
  tests/queries/0_stateless/02985_disable_async_inserts_for_dependent_mv_dedup.sql
Labels: pr-improvement, can be tested

#59781 Better logging for adaptive async timeouts
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/AsynchronousInsertQueue.h
Labels: pr-not-for-changelog, can be tested

#59743 Fix DB type check - now it'll refuse to create in Replicated databases
  src/Interpreters/InterpreterCreateQuery.cpp
Labels: pr-not-for-changelog, pr-must-backport-cloud

#59766 Fix logical optimizer with LowCardinality in new analyzer
  src/Analyzer/Passes/LogicalExpressionOptimizerPass.cpp
  tests/queries/0_stateless/02987_logical_optimizer_pass_lowcardinality.reference
  tests/queries/0_stateless/02987_logical_optimizer_pass_lowcardinality.sql
Labels: pr-not-for-changelog, analyzer

#59797 Fix special build reports in release branches
  .github/workflows/release_branches.yml
Labels: do not test, pr-not-for-changelog, v23.12-must-backport, v24.1-must-backport

#59798 CI: do not reuse builds on release branches
  .github/workflows/master.yml
  .github/workflows/release_branches.yml
  .github/workflows/reusable_build.yml
  tests/ci/ci.py
  tests/ci/ci_config.py
Labels: pr-not-for-changelog

#56988 Backup & Restore support for AzureBlobStorage
  docs/en/operations/backup.md
  src/Backups/BackupFactory.cpp
  src/Backups/BackupIO_AzureBlobStorage.cpp
  src/Backups/BackupIO_AzureBlobStorage.h
  src/Backups/BackupImpl.cpp
  src/Backups/registerBackupEngineAzureBlobStorage.cpp
  src/CMakeLists.txt
  src/Common/ProfileEvents.cpp
  src/Core/Settings.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageAuth.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/ObjectStorageFactory.cpp
  src/IO/AzureBlobStorage/copyAzureBlobStorageFile.cpp
  src/IO/AzureBlobStorage/copyAzureBlobStorageFile.h
  src/Storages/StorageAzureBlob.cpp
  src/TableFunctions/TableFunctionAzureBlobStorage.cpp
  src/TableFunctions/TableFunctionAzureBlobStorageCluster.cpp
  tests/integration/test_backup_restore_azure_blob_storage/__init__.py
  tests/integration/test_backup_restore_azure_blob_storage/test.py
Labels: pr-feature

#59807 CI: await tune ups
  tests/ci/ci.py
Labels: pr-not-for-changelog

#59774 Followup #50894
  src/Storages/StorageMerge.cpp
Labels: pr-not-for-changelog

#59501 Parallel replicas: better initial replicas failover (2)
  src/Client/Connection.h
  src/Client/ConnectionPool.h
  src/Client/IConnections.h
  src/Common/ErrorCodes.cpp
  src/Common/ProfileEvents.cpp
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/QueryPlan/ReadFromRemote.h
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
  src/Storages/MergeTree/ParallelReplicasReadingCoordinator.cpp
  tests/queries/0_stateless/02769_parallel_replicas_unavailable_shards.sql
  tests/queries/0_stateless/02972_parallel_replicas_cte.sql
  tests/queries/0_stateless/02982_parallel_replicas_unexpected_cluster.reference
  tests/queries/0_stateless/02982_parallel_replicas_unexpected_cluster.sql
Labels: pr-not-for-changelog

#57430 Non ready set in TTL WHERE.
  src/Interpreters/Set.h
  src/Processors/QueryPlan/CreatingSetsStep.cpp
  src/Processors/QueryPlan/CreatingSetsStep.h
  src/Processors/TTL/ITTLAlgorithm.cpp
  src/Processors/TTL/ITTLAlgorithm.h
  src/Processors/TTL/TTLAggregationAlgorithm.cpp
  src/Processors/TTL/TTLAggregationAlgorithm.h
  src/Processors/TTL/TTLColumnAlgorithm.cpp
  src/Processors/TTL/TTLColumnAlgorithm.h
  src/Processors/TTL/TTLDeleteAlgorithm.cpp
  src/Processors/TTL/TTLDeleteAlgorithm.h
  src/Processors/TTL/TTLUpdateInfoAlgorithm.cpp
  src/Processors/TTL/TTLUpdateInfoAlgorithm.h
  src/Processors/Transforms/TTLCalcTransform.cpp
  src/Processors/Transforms/TTLCalcTransform.h
  src/Processors/Transforms/TTLTransform.cpp
  src/Processors/Transforms/TTLTransform.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/StorageInMemoryMetadata.cpp
  src/Storages/TTLDescription.cpp
  src/Storages/TTLDescription.h
  tests/integration/test_recompression_ttl/test.py
  tests/queries/0_stateless/01465_ttl_recompression.reference
  tests/queries/0_stateless/02932_set_ttl_where.reference
  tests/queries/0_stateless/02932_set_ttl_where.sql
Labels: pr-bugfix

#59783 [Docs] Add default cloud core settings
  docs/en/operations/settings/settings.md
Labels: pr-documentation

#59784 [Docs] Add cloud default values for query complexity
  docs/en/operations/settings/query-complexity.md
Labels: pr-documentation

#59815 Handle different timestamp related aspects of zip-files
  tests/ci/team_keys_lambda/build_and_deploy_archive.sh
Labels: do not test, pr-not-for-changelog

#59812 Fix potential endless loop during merge
  src/Processors/Merges/Algorithms/MergedData.h
  src/Processors/Transforms/ColumnGathererTransform.h
Labels: pr-improvement, pr-must-backport, pr-must-backport-cloud

#59787 Hide URL/S3 'headers' argument in SHOW CREATE
  src/Parsers/ASTFunction.cpp
  tests/queries/0_stateless/02968_url_args.reference
  tests/queries/0_stateless/02968_url_args.sql
Labels: pr-not-for-changelog

#59782 Fix broken youtube embedding in ne-tormozit.md
  docs/ru/faq/general/ne-tormozit.md
Labels: pr-not-for-changelog, can be tested

#59662 Fix query start time on non initial queries
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/02590_interserver_mode_client_info_initial_query_start_time.reference
  tests/queries/0_stateless/02590_interserver_mode_client_info_initial_query_start_time.sh
  tests/queries/0_stateless/02985_shard_query_start_time.reference
  tests/queries/0_stateless/02985_shard_query_start_time.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#59819 Fix settings history azure_max_single_part_copy_size
  src/Core/SettingsChangesHistory.h
Labels: pr-not-for-changelog

#59564 Revert "Revert "Poco Logger small refactoring""
  base/poco/Foundation/include/Poco/Logger.h
  base/poco/Foundation/src/Logger.cpp
  src/Common/Logger.h
  src/Common/tests/gtest_log.cpp
  src/Disks/ObjectStorages/ObjectStorageFactory.cpp
  src/Disks/ObjectStorages/Web/WebObjectStorage.cpp
  src/Server/GRPCServer.cpp
  src/Server/GRPCServer.h
  utils/keeper-data-dumper/main.cpp
Labels: pr-not-for-changelog

#59844 Updated a list of trusted contributors
  tests/ci/lambda_shared_package/lambda_shared/pr.py
Labels: pr-not-for-changelog, can be tested

#58024 [Docs] Clarify to use query level settings in ClickHouse Cloud
  docs/en/operations/query-cache.md
Labels: pr-documentation

#59846 Better warning for disabled kernel.task_delayacct
  programs/server/Server.cpp
Labels: pr-not-for-changelog

#59814 Enforce tests with enabled analyzer in CI
  tests/ci/ci_config.py
Labels: pr-not-for-changelog

#58792 Add builds and tests with coverage
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  CMakeLists.txt
  base/base/coverage.cpp
  base/base/coverage.h
  cmake/sanitize.cmake
  docker/packager/packager
  docker/test/base/setup_export_logs.sh
  docker/test/stateless/Dockerfile
  docker/test/stateless/run.sh
  docker/test/util/Dockerfile
  packages/build
  programs/install/Install.cpp
  programs/main.cpp
  src/Dictionaries/CacheDictionary.cpp
  src/Functions/coverage.cpp
  src/IO/OpenedFile.h
  tests/ci/build_check.py
  tests/ci/build_download_helper.py
  tests/ci/ci_config.py
  tests/ci/report.py
  tests/ci/test_ci_config.py
  tests/clickhouse-test
  tests/queries/0_stateless/01459_manual_write_to_replicas_quorum.sh
  tests/queries/0_stateless/02982_comments_in_system_tables.sh
  tests/queries/shell_config.sh
Labels: pr-build

#59833 Fix StorageURL doing some of the query execution in single thread
  src/Storages/StorageURL.cpp
  tests/queries/0_stateless/02723_parallelize_output_setting.reference
  tests/queries/0_stateless/02723_parallelize_output_setting.sql
Labels: pr-bugfix

#59852 Respect CMAKE_OSX_DEPLOYMENT_TARGET for Rust targets
  rust/CMakeLists.txt
Labels: pr-not-for-changelog

#58609 Create ch/chc/chl symlinks by cmake as well (for develop mode)
  programs/CMakeLists.txt
Labels: pr-not-for-changelog

#59735 Make ZooKeeper actually sequentialy consistent
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
Labels: pr-not-for-changelog, pr-must-backport, pr-must-backport-cloud

#59854 Do not reinitialize ZooKeeperWithFaultInjection on each chunk
  src/Storages/System/StorageSystemZooKeeper.cpp
Labels: pr-not-for-changelog

#59858 Fix: check if std::function is set before calling it
  src/Interpreters/executeQuery.cpp
Labels: pr-not-for-changelog

#59851 Reintroduce 02590_interserver_mode_client_info_initial_query_start_time
  tests/queries/0_stateless/02590_interserver_mode_client_info_initial_query_start_time.reference
  tests/queries/0_stateless/02590_interserver_mode_client_info_initial_query_start_time.sh
Labels: pr-not-for-changelog

#59808 Option to run init db scripts every time
  docker/server/entrypoint.sh
Labels: pr-build, can be tested

#58554 Simplify optimize-push-to-prewhere from query plan
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Processors/QueryPlan/Optimizations/liftUpFunctions.cpp
  src/Processors/QueryPlan/Optimizations/optimizePrewhere.cpp
  src/Processors/QueryPlan/Optimizations/optimizeTree.cpp
  src/Processors/QueryPlan/Optimizations/splitFilter.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeWhereOptimizer.cpp
  src/Storages/MergeTree/MergeTreeWhereOptimizer.h
  tests/queries/0_stateless/01763_filter_push_down_bugs.reference
  tests/queries/0_stateless/01786_explain_merge_tree.reference
  tests/queries/0_stateless/01786_explain_merge_tree.sh
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix.reference
  tests/queries/0_stateless/02235_add_part_offset_virtual_column.sql
  tests/queries/0_stateless/02521_aggregation_by_partitions.reference
  tests/queries/0_stateless/02521_aggregation_by_partitions.sql
  tests/queries/0_stateless/02771_ignore_data_skipping_indices.reference
  tests/queries/0_stateless/02771_ignore_data_skipping_indices.sql
  tests/queries/0_stateless/02882_primary_key_index_in_function_different_types.reference
  tests/queries/0_stateless/02882_primary_key_index_in_function_different_types.sql
Labels: pr-not-for-changelog, force tests, analyzer

#59750 Analyzer: Fix test_replicating_constants/test.py::test_different_versions
  tests/analyzer_integration_broken_tests.txt
  tests/integration/test_replicating_constants/test.py
Labels: pr-not-for-changelog, analyzer

#59121 Analyzer: Add cast for ConstantNode from constant folding
  src/Analyzer/ConstantNode.cpp
  tests/analyzer_tech_debt.txt
  tests/queries/0_stateless/02479_mysql_connect_to_self.reference
  tests/queries/0_stateless/02731_parallel_replicas_join_subquery.reference
Labels: pr-not-for-changelog, analyzer

#59592 Reduce size of node in Keeper even more
  programs/keeper-converter/KeeperConverter.cpp
  src/Coordination/KeeperSnapshotManager.cpp
  src/Coordination/KeeperStorage.cpp
  src/Coordination/KeeperStorage.h
  src/Coordination/SnapshotableHashTable.h
  src/Coordination/ZooKeeperDataReader.cpp
  src/Coordination/tests/gtest_coordination.cpp
  utils/keeper-data-dumper/main.cpp
Labels: pr-improvement, jepsen-test, pr-must-backport-cloud

#59737 Add assertions around FixedString code
  src/Columns/ColumnFixedString.cpp
  src/Columns/ColumnFixedString.h
  src/Common/MemorySanitizer.h
  src/Common/memcmpSmall.h
  src/Common/memcpySmall.h
Labels: pr-not-for-changelog

#59890 CI: Fix job failures due to jepsen artifacts
  tests/jepsen.clickhouse/project.clj
Labels: do not test, pr-not-for-changelog

#59902 Do not rebuild a lambda package if it is updated
  tests/ci/team_keys_lambda/build_and_deploy_archive.sh
Labels: pr-not-for-changelog

#59874 tests: fix 02322_sql_insert_format flakiness
  tests/queries/0_stateless/02322_sql_insert_format.sql
Labels: pr-not-for-changelog

#59889 Follow up for #58554. Cleanup.
  src/Interpreters/ActionsDAG.cpp
  src/Planner/Planner.cpp
  src/Processors/QueryPlan/Optimizations/optimizePrewhere.cpp
  src/Storages/MergeTree/MergeTreeWhereOptimizer.cpp
Labels: pr-not-for-changelog

#59896 Fix `02982_comments_in_system_tables`
  tests/clickhouse-test
Labels: pr-not-for-changelog

#59609 [Docs] Specify Memory table engine usage on cloud
  docs/en/engines/table-engines/special/memory.md
Labels: pr-documentation, can be tested

#59612 [Docs] Add detail on using temporary tables in Cloud
  docs/en/sql-reference/statements/create/table.md
Labels: pr-documentation, can be tested

#59857 Remove ability to disable generic clickhouse components
  packages/clickhouse-client.yaml
  programs/CMakeLists.txt
  programs/benchmark/Benchmark.cpp
  programs/client/Client.cpp
  programs/compressor/Compressor.cpp
  programs/config_tools.h.in
  programs/copier/ClusterCopierApp.cpp
  programs/git-import/git-import.cpp
  programs/install/Install.cpp
  programs/local/LocalServer.cpp
  programs/main.cpp
  programs/su/su.cpp
Labels: pr-build

#59906 Fix self-extracting: macOS doesn't allow to run renamed executable - copy instead
  utils/self-extracting-executable/decompressor.cpp
Labels: pr-not-for-changelog

#59892 Add test 02988_join_using_prewhere_pushdown
  tests/queries/0_stateless/02988_join_using_prewhere_pushdown.reference
  tests/queries/0_stateless/02988_join_using_prewhere_pushdown.sql
Labels: pr-not-for-changelog

#59907 Update tests with indexHint for analyzer.
  tests/analyzer_tech_debt.txt
  tests/queries/0_stateless/01739_index_hint.reference
  tests/queries/0_stateless/01739_index_hint.sql
  tests/queries/0_stateless/02880_indexHint__partition_id.reference
  tests/queries/0_stateless/02880_indexHint__partition_id.sql
Labels: pr-not-for-changelog, analyzer

#59911 Revert "Less error prone interface of read buffers"
  src/Disks/DiskEncrypted.cpp
  src/Disks/DiskEncryptedTransaction.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.h
  src/Disks/IO/createReadBufferFromFileBase.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/IO/Archives/LibArchiveReader.cpp
  src/IO/Archives/ZipArchiveReader.cpp
  src/IO/BoundedReadBuffer.cpp
  src/IO/BoundedReadBuffer.h
  src/IO/LimitSeekableReadBuffer.h
  src/IO/MMapReadBufferFromFileDescriptor.cpp
  src/IO/MMapReadBufferFromFileDescriptor.h
  src/IO/MMapReadBufferFromFileWithCache.cpp
  src/IO/MMapReadBufferFromFileWithCache.h
  src/IO/ReadBufferFromEmptyFile.h
  src/IO/ReadBufferFromEncryptedFile.cpp
  src/IO/ReadBufferFromEncryptedFile.h
  src/IO/ReadBufferFromFileBase.h
  src/IO/ReadBufferFromFileDecorator.cpp
  src/IO/ReadBufferFromFileDecorator.h
  src/IO/ReadBufferFromMemory.h
  src/IO/SeekableReadBuffer.h
  src/IO/WithFileSize.cpp
  src/Storages/HDFS/AsynchronousReadBufferFromHDFS.cpp
  src/Storages/HDFS/AsynchronousReadBufferFromHDFS.h
Labels: pr-not-for-changelog, pr-must-backport-cloud

#59873 Fix long shutdown of FileLog storage
  src/Storages/FileLog/DirectoryWatcherBase.cpp
  src/Storages/FileLog/DirectoryWatcherBase.h
Labels: pr-not-for-changelog

#59901 Fix parsing of partition expressions surrounded by parens
  src/Parsers/ParserPartition.cpp
  tests/queries/0_stateless/02897_alter_partition_parameters.reference
  tests/queries/0_stateless/02897_alter_partition_parameters.sql
Labels: pr-bugfix, pr-must-backport-cloud, v23.11-must-backport, v23.12-must-backport, v24.1-must-backport

#59370 MaterializedMySQL: Fix gtid_after_attach_test to retry on detach
  tests/integration/test_materialized_mysql_database/materialized_with_ddl.py
Labels: pr-not-for-changelog, can be tested

#59487 Fix possible uncaught exception during distributed query cancellation
  src/QueryPipeline/RemoteQueryExecutor.cpp
Labels: pr-bugfix

#58292 Resubmit: Support negtive position arguments
  src/Analyzer/Passes/QueryAnalysisPass.cpp
  src/Interpreters/TreeOptimizer.cpp
  src/Interpreters/replaceForPositionalArguments.cpp
  tests/queries/0_stateless/01798_having_push_down.sql
  tests/queries/0_stateless/02006_test_positional_arguments.reference
  tests/queries/0_stateless/02006_test_positional_arguments.sql
  tests/queries/0_stateless/02932_group_by_null_fuzzer.sql
  tests/queries/0_stateless/02943_positional_arguments_bugs.reference
  tests/queries/0_stateless/02943_positional_arguments_bugs.sql
Labels: pr-improvement

#58195 Add InitialQuery event
  src/Common/ProfileEvents.cpp
  src/Interpreters/InterpreterFactory.cpp
  tests/queries/0_stateless/02950_distributed_initial_query_event.reference
  tests/queries/0_stateless/02950_distributed_initial_query_event.sh
Labels: pr-improvement, can be tested

#59909 Petite cleanup around macros and ReplicatedMergeTree
  programs/server/config.xml
  src/Backups/DDLAdjustingForBackupVisitor.cpp
  src/Common/Macros.cpp
  src/Common/Macros.h
  src/Core/ServerSettings.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-not-for-changelog

#59941 Register StorageMergeTree exception message fix
  src/Storages/MergeTree/registerStorageMergeTree.cpp
Labels: pr-not-for-changelog, can be tested

#59960 rename a setting v2
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Functions/keyvaluepair/extractKeyValuePairs.cpp
  tests/queries/0_stateless/02499_extract_key_value_pairs_multiple_input.reference
  tests/queries/0_stateless/02499_extract_key_value_pairs_multiple_input.sql
Labels: pr-backward-incompatible, can be tested

#59923 tests: fix 02981_vertical_merges_memory_usage flakiness
  tests/queries/0_stateless/02981_vertical_merges_memory_usage.sql
Labels: pr-not-for-changelog

#58926 Include `pytest-reportlog` in the integration tests' CI runner.
  docker/test/integration/runner/Dockerfile
Labels: pr-build, manual approve, can be tested

#59537 Fix data race with `AggregatedDataVariants`
  src/Processors/Transforms/AggregatingTransform.cpp
  src/Processors/Transforms/AggregatingTransform.h
  tests/queries/0_stateless/02982_aggregation_states_destruction.reference
  tests/queries/0_stateless/02982_aggregation_states_destruction.sh
Labels: pr-not-for-changelog

#59845 Add check for recursiveRemoveLowCardinality()
  src/DataTypes/DataTypeLowCardinalityHelpers.cpp
Labels: pr-not-for-changelog

#59968 Less conflicts
  programs/disks/CMakeLists.txt
  programs/disks/CommandRead.cpp
  programs/disks/DisksApp.cpp
  programs/disks/DisksApp.h
  programs/disks/ICommand.h
  src/Core/ServerUUID.cpp
  src/Core/ServerUUID.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/IMetadataStorage.h
Labels: pr-not-for-changelog

#59931 Fix description for allow_prefetched_read_pool_for_local_filesystem
  src/Core/Settings.h
Labels: pr-documentation, can be tested

#59924 Analyzer: Update broken integration tests list
  tests/analyzer_integration_broken_tests.txt
Labels: pr-not-for-changelog, analyzer

#59973 Revert "Update version_date.tsv and changelogs after v24.1.4.19-stable"
  docker/keeper/Dockerfile
  docker/server/Dockerfile.alpine
  docker/server/Dockerfile.ubuntu
  docs/changelogs/v24.1.4.19-stable.md
  utils/list-versions/version_date.tsv
Labels: pr-not-for-changelog

#59948 Analyzer: Fix test_user_defined_object_persistence
  tests/analyzer_integration_broken_tests.txt
  tests/integration/test_user_defined_object_persistence/test.py
Labels: pr-not-for-changelog, analyzer

#59627 Trivial optimize of function coalesce.
  src/Functions/coalesce.cpp
  tests/performance/coalesce.xml
Labels: pr-performance

#59925 Fix crash in JSONColumnsWithMetadata format over http
  src/Processors/Formats/Impl/JSONColumnsWithMetadataBlockInputFormat.cpp
  src/Processors/Formats/Impl/JSONColumnsWithMetadataBlockInputFormat.h
  tests/queries/0_stateless/02982_json_columns_with_metadata_http.reference
  tests/queries/0_stateless/02982_json_columns_with_metadata_http.sh
Labels: pr-bugfix

#59922 Commands node args should add rvalue to push_back to reduce object copy cost
  programs/keeper-client/Commands.cpp
Labels: pr-not-for-changelog, can be tested

#59088 #31363 format template configure in settings
  docs/en/interfaces/formats.md
  docs/en/operations/settings/settings-formats.md
  docs/ru/interfaces/formats.md
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/TemplateBlockOutputFormat.cpp
  tests/queries/0_stateless/00937_format_schema_rows_template.reference
  tests/queries/0_stateless/00937_format_schema_rows_template.sh
Labels: pr-feature, can be tested

#58916 Allow parallel replicas for JOIN with analyzer [part 2]
  src/Core/Settings.h
  src/Core/SettingsChangesHistory.h
  src/Planner/Planner.cpp
  src/Planner/Planner.h
  src/Planner/PlannerContext.h
  src/Planner/PlannerJoinTree.cpp
  src/Planner/PlannerJoinTree.h
  src/Planner/Utils.cpp
  src/Planner/Utils.h
  src/Planner/findParallelReplicasQuery.cpp
  src/Planner/findQueryForParallelReplicas.h
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/buildQueryTreeForShard.cpp
  src/Storages/buildQueryTreeForShard.h
  tests/queries/0_stateless/02731_parallel_replicas_join_subquery.reference
  tests/queries/0_stateless/02784_parallel_replicas_automatic_decision_join.sh
  tests/queries/0_stateless/02967_parallel_replicas_join_algo_and_analyzer.reference
  tests/queries/0_stateless/02967_parallel_replicas_join_algo_and_analyzer.sh
  tests/queries/0_stateless/02967_parallel_replicas_joins_and_analyzer.reference
  tests/queries/0_stateless/02967_parallel_replicas_joins_and_analyzer.sql.j2
Labels: pr-improvement, pr-must-backport-cloud
