Repository ClickHouse/ClickHouse, pull requests merged in 2025-09, with the labels that each got.

#86418 More data lakes catalogs debugging
  src/Client/BuzzHouse/Generator/ExternalIntegrations.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.h
  src/Client/BuzzHouse/Generator/FuzzConfig.cpp
  src/Client/BuzzHouse/Generator/FuzzConfig.h
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/RandomSettings.h
  src/Client/BuzzHouse/Generator/SQLCatalog.cpp
  src/Client/BuzzHouse/Generator/SQLExpression.cpp
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/SQLTypes.cpp
  src/Client/BuzzHouse/Generator/SQLTypes.h
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
  tests/casa_del_dolor/catalogs/clickhousetospark.py
  tests/casa_del_dolor/catalogs/datagenerator.py
  tests/casa_del_dolor/catalogs/datalakes.py
  tests/casa_del_dolor/catalogs/laketables.py
  tests/casa_del_dolor/catalogs/tablegenerator.py
  tests/casa_del_dolor/dolor.py
  tests/casa_del_dolor/httpserver.py
  tests/integration/compose/docker_compose_iceberg_hms_catalog.yml
  tests/integration/compose/docker_compose_iceberg_rest_catalog.yml
Labels: pr-ci

#86331 Add ability to enable JSON logging only for specific channel (i.e. console)
  docs/en/operations/server-configuration-parameters/_server_settings_outside_source.md
  programs/server/config.xml
  src/Daemon/BaseDaemon.cpp
  src/Loggers/Loggers.cpp
  src/Loggers/Loggers.h
  src/Loggers/OwnJSONPatternFormatter.cpp
  src/Loggers/OwnJSONPatternFormatter.h
  tests/integration/test_structured_logging_json/configs/config_json_logging_per_channel.xml
  tests/integration/test_structured_logging_json/test.py
Labels: pr-improvement

#86336 Disable non sensical binary operations with IPv4/IPv6
  src/Functions/FunctionBinaryArithmetic.h
  tests/queries/0_stateless/03603_ip_binary_operators.reference
  tests/queries/0_stateless/03603_ip_binary_operators.sql
Labels: pr-backward-incompatible

#85318 Docs: update postgresql.md with cloud unsupported badge
  docs/en/interfaces/postgresql.md
Labels: pr-documentation

#86128 Disable flaky test `02443_detach_attach_partition`
  tests/queries/0_stateless/02443_detach_attach_partition.sh
Labels: pr-not-for-changelog

#86439 Use IntMax as size limit for ttl drop
  src/Storages/MergeTree/Compaction/MergeSelectorApplier.cpp
Labels: pr-not-for-changelog

#85668 Docs: move documentation for logical functions to source
  src/Functions/FunctionsLogical.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#86459 Rename setting "evaluation_time" to "promql_evaluation_time"
  src/Client/ClientBase.cpp
  src/Client/LocalConnection.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/executeQuery.cpp
Labels: pr-improvement

#86433 Fix show tables after dropping reference table of alias storage.
  src/Storages/StorageAlias.cpp
  src/Storages/StorageAlias.h
  tests/queries/0_stateless/03581_storage_alias_show_tables.reference
  tests/queries/0_stateless/03581_storage_alias_show_tables.sql
Labels: pr-bugfix, can be tested

#86507 Fix function timeSeriesResampleToGridWithStaleness() when the first bucket has no value
  src/AggregateFunctions/TimeSeries/AggregateFunctionTimeseriesToGridSparse.h
  tests/integration/test_prometheus_protocols/test_evaluation.py
  tests/queries/0_stateless/03254_timeseries_functions_various_arguments.reference
  tests/queries/0_stateless/03254_timeseries_functions_various_arguments.sql
Labels: pr-bugfix

#86523 Add a test for file pruning with s3 + hive style partitioning
  tests/integration/test_storage_s3/test.py
Labels: pr-not-for-changelog

#86367 Fix logical error during writes to DeltaLake
  src/Storages/ObjectStorage/DataLakes/DeltaLake/WriteTransaction.cpp
  tests/integration/test_storage_delta/test.py
Labels: pr-bugfix, v25.8-must-backport

#86498 Fix use of uninitialized memory in getSubcolumnType
  src/DataTypes/DataTypeObject.cpp
  tests/queries/0_stateless/03603_getSubcolumnType_msan.reference
  tests/queries/0_stateless/03603_getSubcolumnType_msan.sql
Labels: pr-bugfix, v25.8-must-backport

#86514 Sync private
  src/Common/ZooKeeper/ZooKeeperRetries.h
  src/Core/DistributedCacheDefines.h
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
Labels: pr-not-for-changelog

#86501 Setting to delete files in iceberg drop
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.h
  src/Storages/ObjectStorage/StorageObjectStorage.cpp
  src/Storages/ObjectStorage/StorageObjectStorageConfiguration.h
  tests/integration/test_storage_iceberg_schema_evolution/configs/users.d/users.xml
  tests/integration/test_storage_iceberg_schema_evolution/test.py
Labels: pr-improvement

#86505 Put building standalone lexer under a flag
  src/Parsers/CMakeLists.txt
Labels: pr-build

#86558 Revert "Fix key condition matches continuous range"
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/03532_key_condition_continuous_range.reference
  tests/queries/0_stateless/03532_key_condition_continuous_range.sh
Labels: pr-not-for-changelog, pr-must-backport

#86546 Ignore exceptions during flushing log on shutdown and make shutdown more safe
  programs/server/Server.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
Labels: pr-bugfix, pr-must-backport

#84744 Shutdown tables properly when recovering database replica
  src/Databases/DatabaseReplicated.cpp
  src/Interpreters/DatabaseCatalog.cpp
Labels: pr-bugfix, pr-must-backport

#86474 ci: increase waiting for gdb to collect stacktraces in integration tests during hangs
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog

#86590 Docs: add a note on constant expressions (minor)
  docs/en/sql-reference/syntax.md
Labels: pr-documentation

#86530 CI: Ensure changed files are stored in workflow data
  ci/praktika/info.py
Labels: pr-not-for-changelog

#86592 Docs: escape `<` symbol which breaks Docusaurus build
  src/Functions/FunctionsHashingMisc.cpp
  src/Functions/kostikConsistentHash.cpp
Labels: pr-documentation

#86529 Take format from metadata when reading Iceberg tables
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/Compaction.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergDataObjectInfo.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergDataObjectInfo.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergIterator.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergIterator.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  tests/integration/test_storage_iceberg/test.py
Labels: pr-bugfix, pr-must-backport

#86617 Fix flaky `test_keeper_reconfig_remove`
  tests/integration/test_keeper_reconfig_remove/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#86630 Nullablity bugs in insert and pruning
  src/Storages/ObjectStorage/DataLakes/Iceberg/Constant.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergWrites.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergWrites.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFilesPruning.cpp
  tests/integration/test_storage_iceberg/test.py
Labels: pr-bugfix, pr-must-backport

#86400 Fix `The range specified is invalid for the current size of the resource` when reading from azure disk with plain_rewritable and encryption
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainRewritableObjectStorage.cpp
  tests/integration/test_azure_blob_storage_plain_rewritable/test.py
Labels: pr-bugfix, can be tested

#86532 Docs: move other functions to source (2/6)
  src/Functions/hasColumnInTable.cpp
  src/Functions/hasThreadFuzzer.cpp
  src/Functions/identity.cpp
  src/Functions/ignore.cpp
  src/Functions/isConstant.cpp
  src/Functions/materialize.cpp
  src/Functions/neighbor.cpp
  src/Functions/normalizeQuery.cpp
  src/Functions/normalizedQueryHash.cpp
  src/Functions/parseTimeDelta.cpp
  src/Functions/rowNumberInAllBlocks.cpp
  src/Functions/rowNumberInBlock.cpp
  src/Functions/serverConstants.cpp
  src/Functions/sleep.cpp
  src/Functions/throwIf.cpp
  src/Functions/toTypeName.cpp
  src/Functions/transform.cpp
  src/Functions/visibleWidth.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#86603 Docs: add a note about overflow for `round`, `ceil`
  src/Functions/FunctionsRound.cpp
Labels: pr-documentation

#86594 Docs: Link hackernews dataset from ANN docs
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/en/engines/table-engines/mergetree-family/annindexes.md
Labels: pr-documentation

#85951 fix null pointer in ORCSchemaReader::initializeIfNeeded()
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  tests/queries/0_stateless/03595_read_orc_file_segfault.reference
  tests/queries/0_stateless/03595_read_orc_file_segfault.sh
Labels: pr-bugfix, can be tested

#86427 CI: Fix sqlancer job
  .github/workflows/master.yml
  ci/jobs/sqlancer_job.sh
  ci/workflows/master.py
Labels: pr-not-for-changelog

#86635 Do not disable file system cache if Iceberg metadata cache is disabled
  src/Storages/ObjectStorage/DataLakes/Iceberg/StatelessMetadataFileGetter.cpp
Labels: pr-bugfix, pr-must-backport

#86563 Fix Backup db engine raising exception on query with zero sized part files
  src/Backups/BackupImpl.cpp
  tests/queries/0_stateless/02731_zero_objects_in_metadata.reference
  tests/queries/0_stateless/02731_zero_objects_in_metadata.sh
Labels: pr-bugfix, can be tested

#86665 Fix shutdown of ArrowFlight handler
  src/Server/ArrowFlightHandler.cpp
  src/Server/ArrowFlightHandler.h
Labels: pr-bugfix

#86410 Fix GROUP BY Nullable(JSON)
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnArray.h
  src/Columns/ColumnDynamic.h
  src/Columns/ColumnMap.cpp
  src/Columns/ColumnMap.h
  src/Columns/ColumnNullable.cpp
  src/Columns/ColumnNullable.h
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnObject.h
  src/Columns/ColumnSparse.cpp
  src/Columns/ColumnSparse.h
  src/Columns/ColumnTuple.cpp
  src/Columns/ColumnTuple.h
  src/Columns/ColumnVariant.cpp
  src/Columns/ColumnVariant.h
  src/Columns/IColumn.cpp
  src/Columns/IColumn.h
  tests/queries/0_stateless/03606_nullable_json_group_by.reference
  tests/queries/0_stateless/03606_nullable_json_group_by.sql
Labels: pr-bugfix, pr-must-backport

#86627 Add internal versions of Failed*Query profile events
  src/Common/ProfileEvents.cpp
  src/Interpreters/executeQuery.cpp
Labels: pr-improvement

#86722 ci: increase timeout for build jobs (temporary solution)
  ci/defs/job_configs.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#86561 feat: Make `today()` function case insensitive
  src/Functions/today.cpp
  tests/queries/0_stateless/02813_func_today_and_alias.reference
  tests/queries/0_stateless/02813_func_today_and_alias.sql
Labels: pr-feature, can be tested

#86666 More data lakes testing
  programs/client/FuzzLoop.cpp
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.h
  src/Client/BuzzHouse/Generator/FuzzConfig.cpp
  src/Client/BuzzHouse/Generator/FuzzConfig.h
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/SQLCatalog.cpp
  src/Client/BuzzHouse/Generator/SQLCatalog.h
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Generator/TableSetttings.cpp
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
  tests/casa_del_dolor/catalogs/clickhousetospark.py
  tests/casa_del_dolor/catalogs/datagenerator.py
  tests/casa_del_dolor/catalogs/datalakes.py
  tests/casa_del_dolor/catalogs/laketables.py
  tests/casa_del_dolor/catalogs/tablecheck.py
  tests/casa_del_dolor/catalogs/tablegenerator.py
  tests/casa_del_dolor/dolor.py
  tests/casa_del_dolor/generators.py
  tests/casa_del_dolor/httpserver.py
  tests/casa_del_dolor/properties.py
  tests/integration/helpers/cluster.py
Labels: pr-ci

#86662 Add new allocation profiling docs
  docs/en/operations/allocation-profiling-old.md
  docs/en/operations/allocation-profiling.md
Labels: pr-not-for-changelog

#86092 Fix Bug: DataLake hive catalog url parsing
  src/Databases/DataLake/HiveCatalog.cpp
  src/Databases/DataLake/tests/test_hive_catalog_url_parsing.cpp
  tests/integration/test_database_hms/config.xml
  tests/integration/test_database_hms/test.py
  tests/integration/test_database_hms/users.xml
Labels: pr-bugfix, can be tested

#86631 Fixing keep-alive on inter-server calls.
  src/Interpreters/InterserverIOHandler.h
  src/Server/InterserverIOHTTPHandler.cpp
  src/Storages/MergeTree/DataPartsExchange.cpp
  src/Storages/MergeTree/DataPartsExchange.h
Labels: pr-not-for-changelog

#86737 Fix test
  tests/integration/test_storage_delta/test.py
Labels: pr-not-for-changelog

#86747 CI: Support requesting multiple AWS params at once, fix throttling
  ci/defs/defs.py
  ci/jobs/collect_statistics.py
  ci/jobs/docker_server_job.py
  ci/jobs/fast_test.py
  ci/jobs/install_check.py
  ci/jobs/scripts/clickhouse_proc.py
  ci/jobs/scripts/log_cluster.py
  ci/praktika/runner.py
  ci/praktika/secret.py
Labels: pr-not-for-changelog

#86644 Fix 'Deadlock in Parquet::ReadManager (single-threaded)'
  src/Common/threadPoolCallbackRunner.cpp
  src/Processors/Formats/Impl/Parquet/ReadManager.cpp
  tests/queries/0_stateless/03604_parquet_many_files.reference
  tests/queries/0_stateless/03604_parquet_many_files.sh
Labels: pr-bugfix

#86397 Fix ReadFromFormatInfo serialization
  src/Storages/prepareReadingFromFormat.cpp
Labels: pr-not-for-changelog, v25.8-must-backport

#86749 Few fuzzer fixes
  src/Client/BuzzHouse/Generator/ExternalIntegrations.cpp
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/SQLCatalog.cpp
  src/Client/BuzzHouse/Generator/SQLCatalog.h
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Generator/TableSetttings.cpp
  tests/casa_del_dolor/catalogs/clickhousetospark.py
  tests/casa_del_dolor/catalogs/datagenerator.py
  tests/casa_del_dolor/catalogs/datalakes.py
  tests/casa_del_dolor/catalogs/tablecheck.py
  tests/casa_del_dolor/catalogs/tablegenerator.py
  tests/integration/helpers/cluster.py
Labels: pr-ci

#86781 More forward declarations around HashTables and Enums
  src/Compression/CachedCompressedReadBuffer.h
  src/DataTypes/DataTypeEnum.cpp
  src/DataTypes/DataTypeEnum.h
  src/DataTypes/EnumValues.cpp
  src/DataTypes/EnumValues.h
  src/DataTypes/Serializations/SerializationEnum.cpp
  src/Formats/ProtobufSerializer.cpp
  src/Interpreters/TraceLog.cpp
  src/Processors/Merges/Algorithms/AggregatingSortedAlgorithm.cpp
  src/Storages/MergeTree/IMergeTreeReader.h
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeIndexReader.cpp
  src/Storages/MergeTree/MergeTreeIndexReader.h
  src/Storages/MergeTree/MergeTreeReadPoolBase.h
  src/Storages/MergeTree/MergeTreeReaderCompactSingleBuffer.cpp
  src/Storages/MergeTree/MergeTreeReaderStream.cpp
  src/Storages/MergeTree/MergeTreeReaderStream.h
  src/Storages/MergeTree/MergeTreeReaderWide.cpp
  tests/performance/enum.xml
Labels: pr-not-for-changelog, 🚀 Fast CI 🥒

#86740 Docs: fix link (minor)
  src/Functions/FunctionsHashingMisc.cpp
Labels: pr-documentation

#86760 Add ability to tune pending signals in attempt to overcome CANNOT_CREATE_TIMER
  programs/server/config.xml
  src/Common/AsynchronousMetrics.cpp
  src/Common/AsynchronousMetrics.h
  src/Daemon/BaseDaemon.cpp
Labels: pr-improvement

#84181 Fix docs typos
  src/Common/TargetSpecific.h
  src/Storages/System/StorageSystemReplicationQueue.cpp
Labels: pr-not-for-changelog, can be tested

#86784 Better exception messages
  src/Storages/ObjectStorage/DataLakes/Iceberg/Utils.cpp
Labels: pr-not-for-changelog

#86769 `memalign` does not exist on darwin
  src/Common/AllocationInterceptors.cpp
  src/Common/AllocationInterceptors.h
Labels: pr-build

#86794 Sync MergeTreeReaderSettings::create() with private
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/MergeTreeIOSettings.cpp
  src/Storages/MergeTree/MergeTreeIOSettings.h
Labels: pr-not-for-changelog

#86535 Docs: move other functions to source (5/6)
  src/Common/FunctionDocumentation.cpp
  src/Common/FunctionDocumentation.h
  src/Functions/FunctionsCodingIP.cpp
  src/Functions/blockSerializedSize.cpp
  src/Functions/countDigits.cpp
  src/Functions/defaultValueOfArgumentType.cpp
  src/Functions/defaultValueOfTypeName.cpp
  src/Functions/dumpColumnStructure.cpp
  src/Functions/getSizeOfEnumType.cpp
  src/Functions/indexHint.cpp
  src/Functions/isDecimalOverflow.cpp
  src/Functions/replicate.cpp
  src/Functions/runningConcurrency.cpp
  src/Functions/runningDifference.cpp
  src/Functions/runningDifferenceStartingWithFirstValue.cpp
  src/Functions/toColumnTypeName.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#86483 Revert workaround for reading pass EOF (there was a bug in a kernel that returns EINVAL on 3.14..5.9)
  src/Compression/getCompressionCodecForFile.cpp
  src/Disks/DiskBackup.cpp
  src/Disks/DiskBackup.h
  src/Disks/DiskEncrypted.cpp
  src/Disks/DiskEncrypted.h
  src/Disks/DiskLocal.cpp
  src/Disks/DiskLocal.h
  src/Disks/IDisk.cpp
  src/Disks/IDisk.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.cpp
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.h
  src/Disks/ObjectStorages/HDFS/HDFSObjectStorage.cpp
  src/Disks/ObjectStorages/HDFS/HDFSObjectStorage.h
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/Local/LocalObjectStorage.cpp
  src/Disks/ObjectStorages/Local/LocalObjectStorage.h
  src/Disks/ObjectStorages/MetadataStorageFromDiskTransactionOperations.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
  src/Disks/ObjectStorages/Web/WebObjectStorage.cpp
  src/Disks/ObjectStorages/Web/WebObjectStorage.h
  src/Disks/ReadOnlyDiskWrapper.h
  src/Disks/tests/gtest_disk_encrypted.cpp
  src/IO/AsynchronousReadBufferFromFileDescriptor.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskBase.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskFull.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskFull.h
  src/Storages/MergeTree/GinIndexStore.cpp
  src/Storages/MergeTree/IDataPartStorage.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeDataPartCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartWide.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  src/Storages/MergeTree/MergeTreeMarksLoader.cpp
  src/Storages/MergeTree/MergeTreeReaderStream.cpp
  src/Storages/MergeTree/checkDataPart.cpp
Labels: pr-not-for-changelog

#86847 Update s3_queue_common.py
  tests/integration/helpers/s3_queue_common.py
Labels: pr-not-for-changelog

#86848 Fix querying system.distributed_ddl_queue
  src/Storages/System/StorageSystemDDLWorkerQueue.cpp
Labels: pr-bugfix, pr-must-backport

#80013 Support unity catalog on top of azure blob storage
  src/Databases/DataLake/DatabaseDataLake.cpp
  src/Databases/DataLake/ICatalog.cpp
  src/Databases/DataLake/StorageCredentials.h
  src/Databases/DataLake/UnityCatalog.cpp
  src/Storages/ObjectStorage/Azure/Configuration.cpp
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
Labels: pr-improvement

#86818 Update README.md for Tokyo meetup in September
  README.md
Labels: pr-not-for-changelog

#86865 Document environment variables for clickhouse-client
  docs/en/interfaces/cli.md
Labels: pr-documentation

#86841 Fix flaky test_storage_s3_queue/test.py::test_list_and_delete_race
  src/Storages/ObjectStorageQueue/ObjectStorageQueueIFileMetadata.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueIFileMetadata.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadata.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueOrderedFileMetadata.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueUnorderedFileMetadata.cpp
  tests/integration/helpers/s3_queue_common.py
  tests/integration/test_storage_s3_queue/test_5.py
Labels: pr-bugfix

#86842 Move resolveFunction and evaluateScalarSubquery out of QueryAnalyzer.cpp
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Analyzer/Resolve/ReplaceColumnsVisitor.h
  src/Analyzer/Resolve/evaluateScalarSubqueryIfNeeded.cpp
  src/Analyzer/Resolve/resolveFunction.cpp
Labels: pr-not-for-changelog

#86820 increase replicated deduplication window
  src/Core/SettingsChangesHistory.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
Labels: pr-improvement

#86390 Allow filter by numeric columns
  src/Columns/FilterDescription.cpp
  src/Columns/FilterDescription.h
  src/DataTypes/DataTypeDecimalBase.h
  src/DataTypes/DataTypesNumber.h
  src/Functions/FunctionsLogical.cpp
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/JoinUtils.cpp
  src/Processors/QueryPlan/FilterStep.cpp
  src/Processors/QueryPlan/Optimizations/splitFilter.cpp
  src/Processors/Transforms/FilterTransform.cpp
  src/Storages/MergeTree/MergeTreeSplitPrewhereIntoReadSteps.cpp
  tests/queries/0_stateless/00540_bad_data_types.reference
  tests/queries/0_stateless/00540_bad_data_types.sh
  tests/queries/0_stateless/00910_buffer_prewhere_different_types.sql
  tests/queries/0_stateless/01655_plan_optimizations.reference
  tests/queries/0_stateless/01655_plan_optimizations.sh
  tests/queries/0_stateless/01881_join_on_conditions_hash.reference.j2
  tests/queries/0_stateless/01881_join_on_conditions_hash.sql.j2
  tests/queries/0_stateless/01881_join_on_conditions_merge.reference.j2
  tests/queries/0_stateless/01881_join_on_conditions_merge.sql.j2
  tests/queries/0_stateless/01902_table_function_merge_db_repr.reference
  tests/queries/0_stateless/01902_table_function_merge_db_repr.sql
  tests/queries/0_stateless/01917_prewhere_column_type.reference
  tests/queries/0_stateless/01917_prewhere_column_type.sql
  tests/queries/0_stateless/02513_prewhere_combine_step_filters.reference
  tests/queries/0_stateless/02513_prewhere_combine_step_filters.sql
  tests/queries/0_stateless/02559_multiple_read_steps_in_prewhere.reference
  tests/queries/0_stateless/02559_multiple_read_steps_in_prewhere.sql
  tests/queries/0_stateless/03006_join_on_inequal_expression_fast_1.reference.j2
  tests/queries/0_stateless/03006_join_on_inequal_expression_fast_1.sql.j2
  tests/queries/0_stateless/03031_filter_float64_logical_error.sql
  tests/queries/0_stateless/03533_analyzer_correlated_column_check.sql
Labels: pr-improvement

#86899 allow increment CurrentMetrics::end()
  src/Common/CurrentMetrics.h
Labels: pr-not-for-changelog

#86900 Fix docs for lightweight update on cluster
  docs/en/sql-reference/statements/update.md
Labels: pr-documentation

#86741 Limit plan step description length.
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/InterpreterExplainQuery.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Interpreters/SelectQueryOptions.h
  src/Planner/Planner.cpp
  src/Planner/PlannerCorrelatedSubqueries.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Processors/QueryPlan/CreateSetAndFilterOnTheFlyStep.cpp
  src/Processors/QueryPlan/IQueryPlanStep.cpp
  src/Processors/QueryPlan/IQueryPlanStep.h
  src/Processors/QueryPlan/JoinStepLogical.cpp
  src/Processors/QueryPlan/Optimizations/Optimizations.h
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  src/Processors/QueryPlan/Optimizations/Utils.cpp
  src/Processors/QueryPlan/Optimizations/Utils.h
  src/Processors/QueryPlan/Optimizations/filterPushDown.cpp
  src/Processors/QueryPlan/Optimizations/liftUpArrayJoin.cpp
  src/Processors/QueryPlan/Optimizations/liftUpFunctions.cpp
  src/Processors/QueryPlan/Optimizations/liftUpUnion.cpp
  src/Processors/QueryPlan/Optimizations/mergeExpressions.cpp
  src/Processors/QueryPlan/Optimizations/optimizePrewhere.cpp
  src/Processors/QueryPlan/Optimizations/optimizeTree.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseAggregateProjection.cpp
  src/Processors/QueryPlan/Optimizations/optimizeUseNormalProjection.cpp
  src/Processors/QueryPlan/Optimizations/splitFilter.cpp
  src/Processors/QueryPlan/Optimizations/useVectorSearch.cpp
  src/Processors/QueryPlan/QueryPlan.cpp
  src/Processors/QueryPlan/QueryPlan.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromPreparedSource.cpp
  src/Processors/QueryPlan/ReadFromRemote.cpp
  tests/queries/0_stateless/02383_join_and_filtering_set.reference
  tests/queries/0_stateless/02383_join_and_filtering_set.sh
  tests/queries/0_stateless/02918_optimize_count_for_merge_tables.reference
  tests/queries/0_stateless/03217_filtering_in_storage_merge.reference
  tests/queries/0_stateless/03604_plan_step_description_limit.reference
  tests/queries/0_stateless/03604_plan_step_description_limit.sql
Labels: pr-improvement

#84799 Added support for NATS JetStream
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/en/engines/table-engines/integrations/nats.md
  src/Storages/NATS/INATSConsumer.cpp
  src/Storages/NATS/INATSConsumer.h
  src/Storages/NATS/INATSProducer.cpp
  src/Storages/NATS/INATSProducer.h
  src/Storages/NATS/NATSCoreConsumer.cpp
  src/Storages/NATS/NATSCoreConsumer.h
  src/Storages/NATS/NATSCoreProducer.cpp
  src/Storages/NATS/NATSCoreProducer.h
  src/Storages/NATS/NATSJetStreamConsumer.cpp
  src/Storages/NATS/NATSJetStreamConsumer.h
  src/Storages/NATS/NATSJetStreamProducer.cpp
  src/Storages/NATS/NATSJetStreamProducer.h
  src/Storages/NATS/NATSSettings.cpp
  src/Storages/NATS/NATSSource.cpp
  src/Storages/NATS/NATSSource.h
  src/Storages/NATS/StorageNATS.cpp
  src/Storages/NATS/StorageNATS.h
  tests/integration/compose/docker_compose_nats.yml
  tests/integration/helpers/cluster.py
  tests/integration/helpers/config_cluster.py
  tests/integration/test_storage_nats/__init__.py
  tests/integration/test_storage_nats/common.py
  tests/integration/test_storage_nats/configs/macros.xml
  tests/integration/test_storage_nats/configs/named_collection.xml
  tests/integration/test_storage_nats/configs/nats.xml
  tests/integration/test_storage_nats/test_nats_core.py
  tests/integration/test_storage_nats/test_nats_jet_stream.py
Labels: pr-feature, can be tested

#86536 Docs: move other functions to source (6/6)
  src/Functions/FunctionJoinGet.cpp
  src/Functions/FunctionsTransactionCounters.cpp
  src/Functions/currentProfiles.cpp
  src/Functions/currentRoles.cpp
  src/Functions/filesystem.cpp
  src/Functions/finalizeAggregation.cpp
  src/Functions/getServerPort.cpp
  src/Functions/initializeAggregation.cpp
  src/Functions/runningAccumulate.cpp
  src/Functions/serverConstants.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#86421 Split test 03555_json_shared_data_advanced_paths_indexes
  tests/queries/0_stateless/03555_json_shared_data_advanced_paths_indexes.reference
  tests/queries/0_stateless/03555_json_shared_data_advanced_paths_indexes.sql
  tests/queries/0_stateless/03555_json_shared_data_advanced_paths_indexes_1.reference
  tests/queries/0_stateless/03555_json_shared_data_advanced_paths_indexes_1.sql
  tests/queries/0_stateless/03555_json_shared_data_advanced_paths_indexes_2.reference
  tests/queries/0_stateless/03555_json_shared_data_advanced_paths_indexes_2.sql
  tests/queries/0_stateless/03555_json_shared_data_advanced_paths_indexes_3.reference
  tests/queries/0_stateless/03555_json_shared_data_advanced_paths_indexes_3.sql
Labels: pr-ci

#86812 Add addition validations in ColumnObject
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnObject.h
  src/DataTypes/Serializations/SerializationObject.cpp
  tests/queries/0_stateless/03621_json_null_in_shared_data.reference
  tests/queries/0_stateless/03621_json_null_in_shared_data.sh
Labels: pr-not-for-changelog, pr-must-backport

#86365 Fix cast from LowCardinality(Nullable(T)) to Dynamic
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/03605_dynamic_to_nullable_low_cardinality_bug.reference
  tests/queries/0_stateless/03605_dynamic_to_nullable_low_cardinality_bug.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#86970 Use stdin/stdout/stderr fd instead of /dev/tty when possible
  src/Client/ClientBase.cpp
Labels: pr-not-for-changelog

#87089 Update README.md
  README.md
Labels: pr-documentation

#87077 Revert "Revert "Iceberg + delta lake local and s3 disks""
  ci/jobs/scripts/check_style/check-settings-style
  ci/jobs/scripts/check_style/check_cpp.sh
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Core/ServerSettings.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Databases/DataLake/DatabaseDataLake.cpp
  src/Disks/DiskLocal.cpp
  src/Disks/DiskLocal.h
  src/Disks/ObjectStorages/S3/S3ObjectStorage.h
  src/Interpreters/Context.h
  src/Parsers/FunctionSecretArgumentsFinder.h
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/DataLakes/DeltaLake/KernelHelper.cpp
  src/Storages/ObjectStorage/HDFS/Configuration.h
  src/Storages/ObjectStorage/Local/Configuration.cpp
  src/Storages/ObjectStorage/Local/Configuration.h
  src/Storages/ObjectStorage/S3/Configuration.cpp
  src/Storages/ObjectStorage/S3/Configuration.h
  src/Storages/ObjectStorage/StorageObjectStorageConfiguration.cpp
  src/Storages/ObjectStorage/StorageObjectStorageConfiguration.h
  src/Storages/ObjectStorage/StorageObjectStorageDefinitions.h
  src/Storages/ObjectStorage/Utils.cpp
  src/Storages/ObjectStorage/Utils.h
  src/Storages/ObjectStorage/registerStorageObjectStorage.cpp
  src/TableFunctions/TableFunctionObjectStorage.cpp
  src/TableFunctions/TableFunctionObjectStorage.h
  src/TableFunctions/TableFunctionObjectStorageCluster.cpp
  src/TableFunctions/TableFunctionObjectStorageCluster.h
  tests/integration/test_storage_delta_disks/__init__.py
  tests/integration/test_storage_delta_disks/configs/cluster.xml
  tests/integration/test_storage_delta_disks/configs/config.xml
  tests/integration/test_storage_delta_disks/configs/disabled_delta_kernel.xml
  tests/integration/test_storage_delta_disks/configs/storage_amd.xml
  tests/integration/test_storage_delta_disks/configs/users.xml
  tests/integration/test_storage_delta_disks/test.py
  tests/integration/test_storage_iceberg_disks/__init__.py
  tests/integration/test_storage_iceberg_disks/configs/cluster.xml
  tests/integration/test_storage_iceberg_disks/configs/config.xml
  tests/integration/test_storage_iceberg_disks/configs/storage_amd.xml
  tests/integration/test_storage_iceberg_disks/configs/users.xml
  tests/integration/test_storage_iceberg_disks/test.py
Labels: pr-not-for-changelog

#86625 Fix typo in changelog
  CHANGELOG.md
  docs/changelogs/v25.8.1.5101-lts.md
Labels: pr-documentation

#86992 Docs: move URL functions documentation to source
  src/Functions/URL/cutFragment.cpp
  src/Functions/URL/cutQueryString.cpp
  src/Functions/URL/cutQueryStringAndFragment.cpp
  src/Functions/URL/cutURLParameter.cpp
  src/Functions/URL/cutWWW.cpp
  src/Functions/URL/decodeURLComponent.cpp
  src/Functions/URL/domain.cpp
  src/Functions/URL/domainWithoutWWW.cpp
  src/Functions/URL/extractURLParameter.cpp
  src/Functions/URL/extractURLParameterNames.cpp
  src/Functions/URL/extractURLParameters.cpp
  src/Functions/URL/fragment.cpp
  src/Functions/URL/netloc.cpp
  src/Functions/URL/path.cpp
  src/Functions/URL/pathFull.cpp
  src/Functions/URL/port.cpp
  src/Functions/URL/protocol.cpp
  src/Functions/URL/queryString.cpp
  src/Functions/URL/queryStringAndFragment.cpp
  src/Functions/URL/topLevelDomain.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#86479 Handling loopback host ID properly to avoid collision when processing DDL tasks:
  src/Interpreters/DDLTask.cpp
  src/Interpreters/DDLTask.h
  src/Interpreters/DDLWorker.cpp
  tests/integration/test_ddl_worker_with_loopback_hosts/__init__.py
  tests/integration/test_ddl_worker_with_loopback_hosts/configs/remote_servers.xml
  tests/integration/test_ddl_worker_with_loopback_hosts/test.py
Labels: pr-bugfix, can be tested, v25.8-must-backport

#87105 tests: disable 02700_s3_part_INT_MAX for slow builds
  tests/queries/0_stateless/02700_s3_part_INT_MAX.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#87043 Fix lightweight updates on cluster
  src/Interpreters/InterpreterUpdateQuery.cpp
  tests/integration/test_lightweight_updates/configs/remote_servers.xml
  tests/integration/test_lightweight_updates/test.py
Labels: pr-bugfix

#87035 Improve introspection of memory allocations done without memory limits checks
  src/AggregateFunctions/QuantileTDigest.h
  src/Common/AllocationInterceptors.cpp
  src/Common/CurrentMemoryTracker.cpp
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTracker.h
  src/Common/MemoryTrackerDebugBlockerInThread.h
  src/Common/ProfileEvents.cpp
  src/Common/RadixSort.h
  src/Common/SymbolIndex.cpp
  src/Common/SystemLogBase.cpp
  src/Common/TraceSender.h
  src/Common/TrackedString.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/memory.h
  src/Functions/h3kRing.cpp
  src/IO/WriteBufferFromTrackedString.cpp
  src/IO/WriteBufferFromTrackedString.h
  src/Interpreters/Aggregator.cpp
  src/Interpreters/Aggregator.h
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/AsynchronousInsertQueue.h
  src/Interpreters/TraceCollector.cpp
  src/Interpreters/TraceLog.cpp
  src/Loggers/OwnSplitChannel.cpp
  src/Storages/FileLog/FileLogConsumer.h
  tests/clickhouse-test
Labels: pr-improvement

#86844 Forbid creating directories in non-user directories
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  tests/integration/helpers/iceberg_utils.py
  tests/integration/test_database_delta/test.py
  tests/integration/test_storage_delta/configs/config.d/named_collections.xml
  tests/integration/test_storage_delta/test.py
  tests/integration/test_storage_delta_disks/configs/storage_amd.xml
  tests/integration/test_storage_delta_disks/test.py
  tests/integration/test_storage_iceberg_disks/configs/storage_amd.xml
  tests/integration/test_storage_iceberg_disks/test.py
  tests/integration/test_storage_iceberg_no_spark/test_time_travel_bug_fix_validation.py
  tests/integration/test_storage_iceberg_no_spark/test_writes_create_table_bugs.py
  tests/integration/test_storage_iceberg_no_spark/test_writes_multiple_files.py
  tests/integration/test_storage_iceberg_schema_evolution/configs/users.d/users.xml
  tests/integration/test_storage_iceberg_schema_evolution/conftest.py
  tests/integration/test_storage_iceberg_with_spark/conftest.py
  tests/integration/test_storage_iceberg_with_spark/test_compressed_metadata.py
  tests/integration/test_storage_iceberg_with_spark/test_iceberg_snapshot_reads.py
  tests/integration/test_storage_iceberg_with_spark/test_metadata_file_format_with_uuid.py
  tests/integration/test_storage_iceberg_with_spark/test_metadata_file_selection_from_version_hint.py
  tests/integration/test_storage_iceberg_with_spark/test_multiple_iceberg_file.py
  tests/integration/test_storage_iceberg_with_spark/test_optimize.py
  tests/integration/test_storage_iceberg_with_spark/test_writes.py
  tests/integration/test_storage_iceberg_with_spark/test_writes_complex_type.py
  tests/integration/test_storage_iceberg_with_spark/test_writes_create_partitioned_table.py
  tests/integration/test_storage_iceberg_with_spark/test_writes_create_table.py
  tests/integration/test_storage_iceberg_with_spark/test_writes_create_version_hint.py
  tests/integration/test_storage_iceberg_with_spark/test_writes_drop_table.py
  tests/integration/test_storage_iceberg_with_spark/test_writes_field_partitioning.py
  tests/integration/test_storage_iceberg_with_spark/test_writes_from_zero.py
  tests/integration/test_storage_iceberg_with_spark/test_writes_mutate_delete.py
  tests/integration/test_storage_iceberg_with_spark/test_writes_mutate_update.py
  tests/integration/test_storage_iceberg_with_spark/test_writes_schema_evolution.py
  tests/integration/test_storage_iceberg_with_spark/test_writes_with_partitioned_table.py
  tests/queries/0_stateless/03581_iceberg_parse_partition.sh
  tests/queries/0_stateless/03581_iceberg_parse_partition.sql
  tests/queries/0_stateless/03611_iceberg_rights.reference
  tests/queries/0_stateless/03611_iceberg_rights.sh
Labels: pr-not-for-changelog, pr-must-backport, v25.8-must-backport

#87121 Docs: fix two typos and add an example for system.query_log
  docs/en/operations/system-tables/query_log.md
Labels: pr-documentation

#85639 CI: Refactor Compatibility check job
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  ci/defs/defs.py
  ci/defs/job_configs.py
  ci/docker/compatibility/centos/Dockerfile
  ci/docker/compatibility/ubuntu/Dockerfile
  ci/jobs/compatibility_check.py
  tests/ci/compatibility_check.py
Labels: pr-not-for-changelog

#87112 Fix old KeeperMap tables leaving data behind after DROP
  src/Storages/StorageKeeperMap.cpp
  tests/integration/test_keeper_map/test.py
Labels: pr-bugfix, pr-must-backport

#85966 Analyzer: check for valid correlated subqueries in the FROM clause
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Analyzer/ValidationUtils.cpp
  src/Analyzer/ValidationUtils.h
  tests/queries/0_stateless/03595_analyzer_lateral_join.reference
  tests/queries/0_stateless/03595_analyzer_lateral_join.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#87139 Fix reading array with array sizes subcolumn in lazy materialization
  src/DataTypes/Serializations/SerializationArray.cpp
  src/DataTypes/Serializations/SerializationArrayOffsets.cpp
  src/DataTypes/Serializations/SerializationArrayOffsets.h
  tests/queries/0_stateless/03623_lazy_materialization_array_sizes_bug.reference
  tests/queries/0_stateless/03623_lazy_materialization_array_sizes_bug.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#87084 Prevent nonboolean settings from using shorthand syntax
  src/Parsers/ParserSetQuery.cpp
  tests/queries/0_stateless/03623_setting_boolean_shorthand_err_test.reference
  tests/queries/0_stateless/03623_setting_boolean_shorthand_err_test.sql
Labels: pr-improvement, can be tested

#87185 Revert "aggregated zookeeper log"
  programs/keeper-bench/Runner.cpp
  programs/server/Server.cpp
  programs/server/config.xml
  src/Common/SystemLogBase.cpp
  src/Common/SystemLogBase.h
  src/Common/ZooKeeper/ErrorCounter.h
  src/Common/ZooKeeper/SystemTablesDataTypes.cpp
  src/Common/ZooKeeper/SystemTablesDataTypes.h
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Common/ZooKeeper/ZooKeeperConstants.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/ZooKeeper/ZooKeeperImpl.h
  src/Common/ZooKeeper/examples/zkutil_test_commands_new_lib.cpp
  src/Interpreters/AggregatedZooKeeperLog.cpp
  src/Interpreters/AggregatedZooKeeperLog.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ErrorLog.cpp
  src/Interpreters/ErrorLog.h
  src/Interpreters/MetricLog.cpp
  src/Interpreters/MetricLog.h
  src/Interpreters/PeriodicLog.cpp
  src/Interpreters/PeriodicLog.h
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  src/Interpreters/TransposedMetricLog.cpp
  src/Interpreters/TransposedMetricLog.h
  src/Interpreters/ZooKeeperLog.cpp
  tests/queries/0_stateless/01158_zookeeper_log_long.reference
  tests/queries/0_stateless/01158_zookeeper_log_long.sql
Labels: pr-not-for-changelog

#86660 Deduplicate zookeeper watches (v2)
  programs/keeper-bench/Runner.cpp
  programs/keeper/Keeper.cpp
  programs/server/Server.cpp
  src/Access/UsersConfigAccessStorage.cpp
  src/Access/ZooKeeperReplicator.cpp
  src/Access/ZooKeeperReplicator.h
  src/Common/Config/ConfigProcessor.cpp
  src/Common/Config/ConfigProcessor.h
  src/Common/Config/ConfigReloader.cpp
  src/Common/Config/ConfigReloader.h
  src/Common/NamedCollections/NamedCollectionsMetadataStorage.cpp
  src/Common/Scheduler/Workload/WorkloadEntityKeeperStorage.cpp
  src/Common/Scheduler/Workload/WorkloadEntityKeeperStorage.h
  src/Common/ZooKeeper/IKeeper.cpp
  src/Common/ZooKeeper/IKeeper.h
  src/Common/ZooKeeper/TestKeeper.cpp
  src/Common/ZooKeeper/TestKeeper.h
  src/Common/ZooKeeper/Types.h
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Common/ZooKeeper/ZooKeeperCommon.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/ZooKeeper/ZooKeeperImpl.h
  src/Common/ZooKeeper/ZooKeeperNodeCache.cpp
  src/Common/ZooKeeper/ZooKeeperNodeCache.h
  src/Common/ZooKeeper/ZooKeeperWithFaultInjection.cpp
  src/Common/ZooKeeper/ZooKeeperWithFaultInjection.h
  src/Common/ZooKeeper/examples/zkutil_test_commands.cpp
  src/Core/BackgroundSchedulePool.cpp
  src/Core/BackgroundSchedulePool.h
  src/Databases/DatabaseReplicatedWorker.cpp
  src/Disks/DiskFromAST.cpp
  src/Functions/UserDefined/UserDefinedSQLObjectsZooKeeperStorage.cpp
  src/Interpreters/ClusterDiscovery.cpp
  src/Interpreters/DDLWorker.cpp
  src/Interpreters/TransactionLog.h
  src/Storages/MaterializedView/RefreshTask.cpp
  src/Storages/MaterializedView/RefreshTask.h
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/MergeTree/ReplicatedMergeTreeSink.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadata.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-not-for-changelog

#87136 Fix maps and arrays field ids reading parquet
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/ArrowFieldIndexUtil.h
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/SchemaProcessor.cpp
  tests/queries/0_stateless/03581_iceberg_struct_fields_ids.reference
  tests/queries/0_stateless/03581_iceberg_struct_fields_ids.sql
  tests/queries/0_stateless/data_minio/field_ids_complex_test/data/00000-1-a4207d9e-e52b-45e4-9f8f-40d60dda5485-0-00001.parquet
  tests/queries/0_stateless/data_minio/field_ids_complex_test/metadata/140c8dff-1d83-4841-bc40-9aa85205b555-m0.avro
  tests/queries/0_stateless/data_minio/field_ids_complex_test/metadata/snap-607752583403487091-1-140c8dff-1d83-4841-bc40-9aa85205b555.avro
  tests/queries/0_stateless/data_minio/field_ids_complex_test/metadata/v1.metadata.json
  tests/queries/0_stateless/data_minio/field_ids_complex_test/metadata/version-hint.text
Labels: pr-bugfix, pr-must-backport, v25.8-must-backport

#86076 Query condition cache: introduce selectivity threshold
  docs/en/operations/query-condition-cache.md
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/Cache/QueryConditionCache.cpp
  src/Interpreters/Cache/QueryConditionCache.h
  src/Processors/QueryPlan/FilterStep.cpp
  src/Processors/QueryPlan/FilterStep.h
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  src/Processors/QueryPlan/Optimizations/updateQueryConditionCache.cpp
  src/Processors/Transforms/FilterTransform.cpp
  src/Processors/Transforms/FilterTransform.h
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeIOSettings.cpp
  src/Storages/MergeTree/MergeTreeIOSettings.h
  src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeSelectProcessor.h
  src/Storages/System/StorageSystemQueryConditionCache.cpp
  tests/queries/0_stateless/03229_query_condition_cache_selectivity_threshold.reference
  tests/queries/0_stateless/03229_query_condition_cache_selectivity_threshold.sql
Labels: pr-improvement, can be tested

#85371 Check access rights during typo correction hints generation
  src/Interpreters/DatabaseCatalog.cpp
  tests/integration/test_wrong_db_or_table_name/test.py
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#86783 Distributed insert-select for data lakes
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Interpreters/InterpreterInsertQuery.h
  src/Storages/IStorage.h
  src/Storages/ObjectStorage/StorageObjectStorage.h
  tests/integration/test_storage_iceberg_with_spark/test_cluster_table_function.py
Labels: pr-improvement

#87207 Fix wrong result of non-correlated EXISTS.
  src/Analyzer/Resolve/evaluateScalarSubqueryIfNeeded.cpp
  tests/queries/0_stateless/03595_exists_as_scalar_subquery.reference
  tests/queries/0_stateless/03595_exists_as_scalar_subquery.sql
Labels: pr-bugfix, pr-must-backport-cloud, v25.8-must-backport

#87177 Fix CASE function with Dynamic arguments
  src/Functions/caseWithExpression.cpp
  tests/queries/0_stateless/03626_case_function_with_dynamic_argument.reference
  tests/queries/0_stateless/03626_case_function_with_dynamic_argument.sql
Labels: pr-bugfix

#86764 use TaskTracker in src/IO/S3/copyS3File.cpp
  src/IO/S3/copyS3File.cpp
Labels: pr-improvement

#87208 Resubmit 'aggregated zookeeper log'
  programs/keeper-bench/Runner.cpp
  programs/server/Server.cpp
  programs/server/config.xml
  src/Common/SystemLogBase.cpp
  src/Common/SystemLogBase.h
  src/Common/ZooKeeper/ErrorCounter.h
  src/Common/ZooKeeper/SystemTablesDataTypes.cpp
  src/Common/ZooKeeper/SystemTablesDataTypes.h
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Common/ZooKeeper/ZooKeeperConstants.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/ZooKeeper/ZooKeeperImpl.h
  src/Common/ZooKeeper/examples/zkutil_test_commands_new_lib.cpp
  src/Interpreters/AggregatedZooKeeperLog.cpp
  src/Interpreters/AggregatedZooKeeperLog.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ErrorLog.cpp
  src/Interpreters/ErrorLog.h
  src/Interpreters/MetricLog.cpp
  src/Interpreters/MetricLog.h
  src/Interpreters/PeriodicLog.cpp
  src/Interpreters/PeriodicLog.h
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  src/Interpreters/TransposedMetricLog.cpp
  src/Interpreters/TransposedMetricLog.h
  src/Interpreters/ZooKeeperLog.cpp
  tests/integration/test_backup_restore_new/test.py
  tests/queries/0_stateless/01158_zookeeper_log_long.reference
  tests/queries/0_stateless/01158_zookeeper_log_long.sql
Labels: pr-improvement

#87120 Added support for authentication and SSL in arrowFlight() table function
  ci/docker/integration/arrowflight/Dockerfile
  ci/docker/integration/arrowflight/flight_server.py
  ci/docker/integration/arrowflight/run.sh
  docs/en/engines/table-engines/integrations/arrowflight.md
  docs/en/sql-reference/table-functions/arrowflight.md
  src/CMakeLists.txt
  src/Parsers/FunctionSecretArgumentsFinder.h
  src/Processors/Sources/ArrowFlightSource.cpp
  src/Processors/Sources/ArrowFlightSource.h
  src/Storages/ArrowFlight/ArrowFlightConnection.cpp
  src/Storages/ArrowFlight/ArrowFlightConnection.h
  src/Storages/StorageArrowFlight.cpp
  src/Storages/StorageArrowFlight.h
  src/TableFunctions/TableFunctionArrowFlight.cpp
  src/TableFunctions/TableFunctionArrowFlight.h
  tests/integration/compose/docker_compose_arrowflight.yml
  tests/integration/helpers/config_cluster.py
  tests/integration/test_arrowflight_interface/certs/ca-cert.pem
  tests/integration/test_arrowflight_interface/certs/ca-cert.srl
  tests/integration/test_arrowflight_interface/certs/ca-key.pem
  tests/integration/test_arrowflight_interface/certs/client-cert.pem
  tests/integration/test_arrowflight_interface/certs/client-key.pem
  tests/integration/test_arrowflight_interface/certs/client-req.pem
  tests/integration/test_arrowflight_interface/certs/generate_certs.sh
  tests/integration/test_arrowflight_interface/certs/server-cert.pem
  tests/integration/test_arrowflight_interface/certs/server-ext.cnf
  tests/integration/test_arrowflight_interface/certs/server-key.pem
  tests/integration/test_arrowflight_interface/certs/server-req.pem
  tests/integration/test_arrowflight_interface/certs/wrong-client-cert.pem
  tests/integration/test_arrowflight_interface/certs/wrong-client-key.pem
  tests/integration/test_arrowflight_interface/configs/cert.pem
  tests/integration/test_arrowflight_interface/configs/enable_ssl.xml
  tests/integration/test_arrowflight_interface/configs/flight_port.xml
  tests/integration/test_arrowflight_interface/configs/grpc_config.xml
  tests/integration/test_arrowflight_interface/configs/key.pem
  tests/integration/test_arrowflight_interface/configs/named_collection.xml
  tests/integration/test_arrowflight_interface/test.py
  tests/integration/test_arrowflight_storage/test.py
  tests/integration/test_mask_sensitive_info/test.py
Labels: pr-improvement

#87230 Docs: remove problematic link for local builds
  src/Functions/demangle.cpp
Labels: pr-documentation

#86958 Docs: move ULID, UniqTheta and UUID functions docs to source
  docs/en/sql-reference/functions/uuid-functions.md
  src/Functions/FunctionsCodingUUID.cpp
  src/Functions/ULIDStringToDateTime.cpp
  src/Functions/UniqTheta/FunctionsUniqTheta.cpp
  src/Functions/dateTimeToSnowflakeID.cpp
  src/Functions/dateTimeToUUIDv7.cpp
  src/Functions/generateSnowflakeID.cpp
  src/Functions/generateULID.cpp
  src/Functions/generateUUIDv4.cpp
  src/Functions/generateUUIDv7.cpp
  src/Functions/rand.cpp
  src/Functions/rand64.cpp
  src/Functions/randCanonical.cpp
  src/Functions/randConstant.cpp
  src/Functions/randDistribution.cpp
  src/Functions/randomPrintableASCII.cpp
  src/Functions/randomString.cpp
  src/Functions/snowflake.cpp
  src/Functions/snowflakeIDToDateTime.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#87229 Revert "Use Analyzer to generate actions from default expression"
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Interpreters/inplaceBlockConversions.cpp
  tests/queries/0_stateless/01513_defaults_on_defaults_no_column.reference
  tests/queries/0_stateless/01513_defaults_on_defaults_no_column.sql
  tests/queries/0_stateless/03560_new_analyzer_default_expression.reference
  tests/queries/0_stateless/03560_new_analyzer_default_expression.sql
  tests/queries/0_stateless/03625_prewhere-and-default-bug.reference
  tests/queries/0_stateless/03625_prewhere-and-default-bug.sql
Labels: pr-not-for-changelog, pr-must-backport, pr-must-backport-cloud, v25.8-must-backport

#86934 Fix XML name pool overflow when saving preprocessed config
  src/Common/Config/ConfigProcessor.cpp
  tests/integration/test_config_hide_in_preprocessed/configs/users.xml
  tests/integration/test_config_hide_in_preprocessed/test.py
Labels: pr-bugfix, can be tested

#87094 Improve performance of applying patch parts in join mode [2]
  src/Storages/MergeTree/PatchParts/PatchJoinCache.cpp
  src/Storages/MergeTree/PatchParts/PatchJoinCache.h
  src/Storages/MergeTree/PatchParts/applyPatches.cpp
Labels: pr-performance

#87250 Throws an error if iceberg_metadata_log is not configured
  src/Interpreters/IcebergMetadataLog.cpp
  tests/integration/test_storage_iceberg_no_spark/configs/config.d/no_metadata_log.xml
  tests/integration/test_storage_iceberg_no_spark/conftest.py
  tests/integration/test_storage_iceberg_no_spark/test_graceful_error_not_configured_iceberg_metadata_log.py
Labels: pr-bugfix, pr-must-backport

#85953 Iceberg writes features documentation
  docs/en/sql-reference/table-functions/iceberg.md
Labels: pr-documentation

#86089 Fix deadlock in PipelineExecutor downscaling logic
  src/Common/ISlotControl.h
  src/Common/Scheduler/CPULeaseAllocation.cpp
  src/Common/Scheduler/CPULeaseAllocation.h
  src/Processors/Executors/ExecutorTasks.cpp
  src/Processors/Executors/ExecutorTasks.h
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/PipelineExecutor.h
  tests/integration/test_scheduler_cpu_preemptive/test.py
Labels: pr-not-for-changelog, v25.8-must-backport

#87283 Added missing Distributed Cache events
  src/Common/ProfileEvents.cpp
Labels: pr-build

#87216 Add a test for #58243
  tests/queries/0_stateless/03625_case_without_condition_non_constant_branches.reference
  tests/queries/0_stateless/03625_case_without_condition_non_constant_branches.sql
Labels: pr-not-for-changelog

#87218 Add a test for #41127
  tests/queries/0_stateless/03627_non_constant_replacement_in_replace_regexp.reference
  tests/queries/0_stateless/03627_non_constant_replacement_in_replace_regexp.sql
Labels: pr-not-for-changelog

#87219 Add a test for #46698
  tests/queries/0_stateless/03628_named_tuple_element_in_order_by_key.reference
  tests/queries/0_stateless/03628_named_tuple_element_in_order_by_key.sql
Labels: pr-not-for-changelog

#87305 Fix unpacking Rust crate names in `list-licenses.sh`
  ci/jobs/scripts/check_style/codespell-ignore-words.list
  utils/list-licenses/list-licenses.sh
Labels: pr-build, ci-build

#87240 CI: Fix log export configuration
  ci/defs/job_configs.py
  ci/jobs/scripts/clickhouse_proc.py
  ci/jobs/scripts/functional_tests/setup_log_cluster.sh
Labels: pr-not-for-changelog

#87316 Docs: categorising doc type - follow up PR
  docs/en/operations/system-tables/projection_parts.md
  docs/en/operations/system-tables/projection_parts_columns.md
  docs/en/sql-reference/formats.mdx
Labels: pr-documentation

#84481 Fix data race and remove some TSA_SUPPRESS
  src/Backups/BackupCoordinationStageSync.cpp
  src/Databases/DatabaseAtomic.cpp
  src/Databases/DatabaseOnDisk.cpp
  src/Interpreters/DatabaseCatalog.cpp
Labels: pr-not-for-changelog, can be tested

#87256 Docs: support source code documentation for aggregate functions
  src/AggregateFunctions/AggregateFunctionFactory.cpp
  src/AggregateFunctions/AggregateFunctionFactory.h
  src/AggregateFunctions/AggregateFunctionIntervalLengthSum.cpp
  src/Common/FunctionDocumentation.cpp
  src/Common/FunctionDocumentation.h
  src/Storages/System/StorageSystemFunctions.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-documentation

#85547 Add deltaLakeCluster variant functions
  docs/en/sql-reference/table-functions/deltalakeCluster.md
  src/Parsers/FunctionSecretArgumentsFinder.h
  src/Storages/ObjectStorage/StorageObjectStorageDefinitions.h
  src/TableFunctions/TableFunctionObjectStorage.cpp
  src/TableFunctions/TableFunctionObjectStorageCluster.cpp
  src/TableFunctions/TableFunctionObjectStorageCluster.h
  tests/integration/test_mask_sensitive_info/test.py
  tests/integration/test_storage_delta/test.py
Labels: pr-improvement

#87338 Fix typo: Manaila -> Manila in README.md
  README.md
Labels: pr-not-for-changelog, can be tested

#87178 PR: fix LEFT/INNER ... RIGHT ... JOINS chain
  src/Planner/PlannerJoinTree.cpp
  tests/queries/0_stateless/03624_pr_lefl_right_joins_chain.reference
  tests/queries/0_stateless/03624_pr_lefl_right_joins_chain.sql
Labels: pr-bugfix

#87263 System table for delta lake metadata files
  docs/en/operations/system-tables/delta_metadata_log.md
  programs/server/config.xml
  src/Common/SystemLogBase.cpp
  src/Common/SystemLogBase.h
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/DeltaMetadataLog.cpp
  src/Interpreters/DeltaMetadataLog.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  src/Storages/ObjectStorage/DataLakes/Common.cpp
  src/Storages/ObjectStorage/DataLakes/Common.h
  src/Storages/ObjectStorage/DataLakes/DeltaLake/TableSnapshot.h
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.h
  tests/integration/test_storage_delta/configs/config.d/metadata_log.xml
  tests/integration/test_storage_delta/test.py
Labels: pr-feature

#87326 Docs: change select toIP functions from category TypeConversion to IPAddress
  src/Functions/FunctionsConversion_reg.cpp
Labels: pr-documentation

#87353 a straggler from master
  docs/en/operations/system-tables/delta_metadata_log.md
Labels: pr-documentation

#87258 Fix 'Invalid dict indices bit width: 0' in parquet reader v3
  src/Processors/Formats/Impl/Parquet/Decoding.cpp
Labels: pr-not-for-changelog

#87285 Fix lightweight updates with subqueries from `MergeTree`
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/03100_lwu_43_subquery_from_rmt.reference
  tests/queries/0_stateless/03100_lwu_43_subquery_from_rmt.sql
Labels: pr-bugfix

#87355 PR: enable tests with column dependent aliases
  tests/parallel_replicas_blacklist.txt
Labels: pr-not-for-changelog

#87249 Rename table function "arrowflight" to "arrowFlight".
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/en/engines/table-engines/integrations/arrowflight.md
  docs/en/sql-reference/table-functions/arrowflight.md
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Parsers/FunctionSecretArgumentsFinder.h
  src/TableFunctions/TableFunctionArrowFlight.cpp
  src/TableFunctions/TableFunctionArrowFlight.h
  tests/integration/test_arrowflight_interface/test.py
  tests/integration/test_arrowflight_storage/test.py
  tests/integration/test_mask_sensitive_info/test.py
Labels: pr-improvement

#87359 Update README.md
  README.md
Labels: pr-not-for-changelog

#87356 add missing TABLE keyword to SYSTEM DROP REPLICA error message #87031
  src/Interpreters/InterpreterSystemQuery.cpp
Labels: pr-not-for-changelog

#85507 Add a test for compatibility for functions on a single empty string argument
  tests/queries/0_stateless/03593_funcs_on_empty_string.reference
  tests/queries/0_stateless/03593_funcs_on_empty_string.sql
  tests/queries/0_stateless/03594_funcs_on_empty_arguments.reference
  tests/queries/0_stateless/03594_funcs_on_empty_arguments.sql
  tests/queries/0_stateless/03595_funcs_on_zero.reference
  tests/queries/0_stateless/03595_funcs_on_zero.sql
Labels: pr-ci

#87330 Docs: update links to reflect autogenerated anchor tags and remove static JSON docs
  docs/en/sql-reference/data-types/newjson.md
  docs/en/sql-reference/functions/json-functions.md
  src/Functions/FunctionsJSON.cpp
Labels: pr-documentation

#87367 Rename file after the function it contains
  src/Functions/fromUnixTimestamp64Second.cpp
  src/Functions/toUnixTimestamp64Second.cpp
Labels: pr-not-for-changelog

#87149 Avoid allocation when storing jemalloc profile name
  src/Common/Jemalloc.cpp
  src/Common/Jemalloc.h
  src/Coordination/FourLetterCommand.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
Labels: pr-not-for-changelog

#87368 Enable `use_skip_indexes_on_data_read` by default
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
Labels: pr-performance

#87320 Use official ctcache repo again after PR merged
  ci/docker/binary-builder/Dockerfile
Labels: pr-ci

#87039 Fix description of fixedstring.md
  docs/en/sql-reference/data-types/fixedstring.md
Labels: pr-documentation, can be tested

#87342 YTSaurus Redirect heavy requests to heavy proxies.
  src/Core/YTsaurus/YTsaurusClient.cpp
  src/Core/YTsaurus/YTsaurusClient.h
  src/Core/YTsaurus/YTsaurusQueries.h
  src/Dictionaries/YTsaurusDictionarySource.cpp
  src/IO/ReadHelpers.cpp
  src/Storages/YTsaurus/StorageYTsaurus.cpp
  src/Storages/YTsaurus/YTsaurusSettings.cpp
  tests/integration/compose/docker_compose_ytsaurus.yml
  tests/integration/test_ytsaurus/test_tables.py
Labels: pr-improvement, can be tested

#87307 Update text index docs
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
  docs/en/engines/table-engines/special/executable.md
Labels: pr-not-for-changelog

#87391 Add test for issue 85976
  tests/queries/0_stateless/03629_join_threshold.reference
  tests/queries/0_stateless/03629_join_threshold.sql
Labels: pr-ci

#87373 Update command-line options in `clickhouse-benchmark` documentation.
  docs/en/operations/utilities/clickhouse-benchmark.md
Labels: pr-documentation, can be tested

#87296 fix exception message in `ReadBufferFromRemoteFSGather::setReadUntilPosition`
  src/Disks/IO/AsynchronousBoundedReadBuffer.cpp
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
Labels: pr-not-for-changelog

#87198 Disable the setting by default
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
Labels: pr-improvement, pr-must-backport

#85637 Drop storage replica when dropping database replica with a zookeeper path
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicated.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/InterpreterSystemQuery.h
  src/Interpreters/loadMetadata.cpp
  src/Parsers/ASTSystemQuery.h
  src/Parsers/CommonParsers.h
  src/Parsers/ParserSystemQuery.cpp
  tests/integration/test_drop_database_replica/__init__.py
  tests/integration/test_drop_database_replica/configs/config.xml
  tests/integration/test_drop_database_replica/configs/settings.xml
  tests/integration/test_drop_database_replica/test.py
Labels: pr-improvement, can be tested

#87365 Fix array bounds crash with duplicate partition keys
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/03629_duplicate_partition_keys_crash.reference
  tests/queries/0_stateless/03629_duplicate_partition_keys_crash.sql
Labels: pr-bugfix, can be tested

#87525 Docs: change incorrect table name and fix typos
  docs/en/operations/system-tables/projection_parts.md
  docs/en/operations/system-tables/projection_parts_columns.md
Labels: pr-documentation, can be tested

#87440 Support creating `KeyPair` from PEM string or OpenSSL BIO
  src/Common/Crypto/KeyPair.cpp
  src/Common/Crypto/KeyPair.h
Labels: pr-not-for-changelog

#87542 Fix requesting structure of a dataset from ArrowFlight server when creating a table
  src/Storages/StorageArrowFlight.cpp
  src/Storages/StorageArrowFlight.h
  src/TableFunctions/TableFunctionArrowFlight.cpp
Labels: pr-improvement

#87335 storage_metadata_write_full_object_key is turned on by default
  src/Core/ServerSettings.cpp
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.cpp
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.h
  src/Disks/ObjectStorages/S3/DiskS3Utils.cpp
  src/Disks/tests/gtest_disk_encrypted.cpp
  tests/casa_del_dolor/properties.py
  tests/config/config.d/s3_storage_policy_with_template_object_key.xml
  tests/config/config.d/storage_metadata_with_full_object_key.xml
  tests/config/install.sh
  tests/integration/test_remote_blobs_naming/configs/new_node.xml
  tests/integration/test_remote_blobs_naming/configs/switching_node.xml
  tests/integration/test_remote_blobs_naming/test_backward_compatibility.py
  tests/queries/0_stateless/02888_obsolete_settings.reference
Labels: pr-backward-incompatible

#87490 Fix dictionaries with YTSaurus source and *range_hashed layouts.
  src/Dictionaries/YTsaurusDictionarySource.cpp
  src/Dictionaries/YTsaurusDictionarySource.h
  tests/integration/test_ytsaurus/test_dictionaries.py
Labels: pr-bugfix, can be tested, v25.8-must-backport, v25.9-must-backport
