Repository ClickHouse/ClickHouse, pull requests merged in 2025-01, with the labels that each got.

#74047 ci: increase threshold for the functional tests log
  ci/jobs/scripts/functional_tests_results.py
Labels: pr-not-for-changelog

#74030 Support subcolumns in materialized view select query
  src/Storages/StorageValues.cpp
  src/Storages/StorageValues.h
  tests/queries/0_stateless/03301_subcolumns_in_mv.reference
  tests/queries/0_stateless/03301_subcolumns_in_mv.sql
Labels: pr-improvement

#74034 Reduce allocations in log wrappers
  src/Common/LoggingFormatStringHelpers.h
  src/Common/logger_useful.h
Labels: pr-performance

#74010 Fix a typo
  CMakeLists.txt
  docker/test/fuzzer/run-fuzzer.sh
  docker/test/keeper-jepsen/run.sh
  docker/test/server-jepsen/run.sh
  docker/test/sqltest/run.sh
  programs/CMakeLists.txt
  programs/keeper/CMakeLists.txt
  src/Dictionaries/HashedDictionaryParallelLoader.h
  src/Interpreters/Aggregator.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/Transforms/MergingAggregatedTransform.cpp
  src/Storages/Distributed/DistributedSink.cpp
  tests/integration/test_grpc_protocol/test.py
  tests/integration/test_storage_kafka/test.py
  tests/integration/test_storage_rabbitmq/test.py
  tests/queries/0_stateless/00825_protobuf_format_splitted_nested.sh
Labels: pr-not-for-changelog

#74012 Fix 03210_variant_with_aggregate_function_type test
  tests/queries/0_stateless/03210_variant_with_aggregate_function_type.reference
  tests/queries/0_stateless/03210_variant_with_aggregate_function_type.sql
Labels: pr-build, can be tested

#72666 parallel replicas update cluster's errors_count
  src/Client/ConnectionPoolWithFailover.h
  src/Common/PoolWithFailoverBase.h
  src/Interpreters/ClusterProxy/executeQuery.cpp
  src/Processors/QueryPlan/ReadFromRemote.cpp
  src/Processors/QueryPlan/ReadFromRemote.h
  src/QueryPipeline/RemoteQueryExecutor.cpp
  src/QueryPipeline/RemoteQueryExecutor.h
  tests/integration/test_parallel_replicas_increase_error_count/__init__.py
  tests/integration/test_parallel_replicas_increase_error_count/configs/remote_servers.xml
  tests/integration/test_parallel_replicas_increase_error_count/test.py
Labels: pr-improvement, can be tested

#74033 Fix: alias may be not added to the projection depending on its position.
  src/Planner/CollectTableExpressionData.cpp
  tests/queries/0_stateless/03303_alias_inverse_order.reference
  tests/queries/0_stateless/03303_alias_inverse_order.sql
Labels: pr-bugfix, pr-must-backport, analyzer

#71891 Forbid materialize sort key
  docs/en/sql-reference/statements/alter/column.md
  src/Interpreters/MutationsInterpreter.cpp
  tests/queries/0_stateless/03263_forbid_materialize_sort_key.reference
  tests/queries/0_stateless/03263_forbid_materialize_sort_key.sql
Labels: pr-bugfix, can be tested

#71636 Enable `use_hive_partitioning` by default
  docs/en/sql-reference/table-functions/azureBlobStorage.md
  docs/en/sql-reference/table-functions/file.md
  docs/en/sql-reference/table-functions/hdfs.md
  docs/en/sql-reference/table-functions/s3.md
  docs/en/sql-reference/table-functions/url.md
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  tests/queries/0_stateless/02496_storage_s3_profile_events.reference
Labels: pr-improvement

#64177 Fix cannot create SEQUENTIAL node with keeper-client
  programs/keeper-client/Commands.cpp
  src/Parsers/CommonParsers.h
  tests/queries/0_stateless/03161_clickhouse_keeper_client_create_sequential.reference
  tests/queries/0_stateless/03161_clickhouse_keeper_client_create_sequential.sh
Labels: pr-bugfix, can be tested

#74062 Improve `CollapsingMergeTree` documentation
  docs/en/engines/table-engines/mergetree-family/collapsingmergetree.md
Labels: pr-documentation, can be tested

#73590 Add req_ch client library
  docs/en/interfaces/third-party/client-libraries.md
  docs/ja/interfaces/third-party/client-libraries.md
  docs/ru/interfaces/third-party/client-libraries.md
  docs/zh/interfaces/third-party/client-libraries.md
Labels: pr-documentation, can be tested

#73852 Squash blocks by time in Pretty formats
  src/Core/FormatFactorySettings.h
  src/Core/SettingsChangesHistory.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Formats/PrettyFormatHelpers.cpp
  src/Processors/Formats/IOutputFormat.h
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.h
  tests/queries/0_stateless/00098_k_union_all.sql
  tests/queries/0_stateless/00405_output_format_pretty_color.sql
  tests/queries/0_stateless/00405_pretty_formats.sql
  tests/queries/0_stateless/00730_unicode_terminal_format.sql
  tests/queries/0_stateless/01509_output_format_pretty_row_numbers.sql
  tests/queries/0_stateless/02122_parallel_formatting.lib
  tests/queries/0_stateless/02375_pretty_formats.sql.j2
  tests/queries/0_stateless/03160_pretty_format_tty.sh
  tests/queries/0_stateless/03299_pretty_squash.reference
  tests/queries/0_stateless/03299_pretty_squash.sql
Labels: pr-improvement

#73932 Fix implicit privileges (worked as wildcard before)
  src/Access/AccessRights.cpp
  src/Access/AccessRights.h
  src/Access/ContextAccess.cpp
  src/Access/tests/gtest_access_rights_implicit.cpp
  src/Access/tests/gtest_access_rights_ops.cpp
  tests/queries/0_stateless/03300_implicit_privileges_system_databases.reference
  tests/queries/0_stateless/03300_implicit_privileges_system_databases.sh
  tests/queries/0_stateless/03300_implicit_privileges_system_parts.reference
  tests/queries/0_stateless/03300_implicit_privileges_system_parts.sh
Labels: pr-bugfix

#74065 Minor: remove experimental flag from `use_hive_partitioning` setting
  src/Core/Settings.cpp
Labels: pr-not-for-changelog

#74032 Rendering of multi-line fields in Pretty formats
  src/Core/FormatFactorySettings.h
  src/Core/SettingsChangesHistory.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.cpp
  src/Processors/Formats/Impl/PrettyBlockOutputFormat.h
  tests/queries/0_stateless/00298_enum_width_and_cast.reference
  tests/queries/0_stateless/00695_pretty_max_column_pad_width.sql
  tests/queries/0_stateless/00730_unicode_terminal_format.reference
  tests/queries/0_stateless/01666_blns_long.reference
  tests/queries/0_stateless/02026_describe_include_subcolumns.reference
  tests/queries/0_stateless/02026_describe_include_subcolumns.sql
  tests/queries/0_stateless/03020_long_values_pretty_are_not_cut_if_single.sh
  tests/queries/0_stateless/03150_infer_type_variant.reference
  tests/queries/0_stateless/03150_infer_type_variant.sql
  tests/queries/0_stateless/03203_function_printf.reference
  tests/queries/0_stateless/03203_function_printf.sql
  tests/queries/0_stateless/03282_highlight_trailing_whitespace_pretty.reference
  tests/queries/0_stateless/03282_highlight_trailing_whitespace_pretty.sql
  tests/queries/0_stateless/03303_pretty_multiline.reference
  tests/queries/0_stateless/03303_pretty_multiline.sql
  tests/queries/0_stateless/03304_pretty_fallback_to_vertical.reference
  tests/queries/0_stateless/03304_pretty_fallback_to_vertical.sql
Labels: pr-improvement

#72598 Make max_bytes_before_external_sort limit depends on total query memory consumption
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/MergeJoin.cpp
  src/Processors/QueryPlan/SortingStep.cpp
  src/Processors/QueryPlan/SortingStep.h
  src/Processors/Transforms/MergeSortingTransform.cpp
  src/Processors/Transforms/MergeSortingTransform.h
  tests/queries/0_stateless/00110_external_sort.reference
  tests/queries/0_stateless/00110_external_sort.sql
  tests/queries/0_stateless/02402_external_disk_mertrics.sql
Labels: pr-improvement

#73568 Documenting role-based access for the s3Queue table engine
  docs/en/engines/table-engines/integrations/s3queue.md
Labels: pr-documentation, can be tested

#73688 CI: ClickBench Job with praktika
  ci/docker/stateless-test/Dockerfile
  ci/jobs/clickbench.py
  ci/jobs/performance_tests.sh
  ci/jobs/scripts/__init__.py
  ci/jobs/scripts/clickbench/create.sql
  ci/jobs/scripts/clickbench/queries.sql
  ci/jobs/scripts/clickhouse_proc.py
  ci/praktika/json.html
  ci/praktika/runner.py
  ci/workflows/defs.py
  ci/workflows/pull_request.py
Labels: pr-not-for-changelog

#74013 Use correct return type for not/xor with Dynamic arguments
  src/Functions/FunctionsLogical.h
  tests/queries/0_stateless/03303_dynamic_in_not_xor.reference
  tests/queries/0_stateless/03303_dynamic_in_not_xor.sql
Labels: pr-improvement

#74071 Fix 'Bad cast' error for distributed explain
  src/Processors/QueryPlan/ReadFromRemote.cpp
  tests/queries/0_stateless/03303_distributed_explain.reference
  tests/queries/0_stateless/03303_distributed_explain.sql
Labels: pr-not-for-changelog

#74068 Support chinese zodiac when exit the client
  src/Client/ClientBase.cpp
  src/Client/ClientBaseHelpers.cpp
  src/Client/ClientBaseHelpers.h
Labels: pr-not-for-changelog, can be tested

#72303 Support CAST and ALTER between JSON types with different parameters
  docs/en/sql-reference/data-types/newjson.md
  src/Columns/ColumnDynamic.h
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnObject.h
  src/DataTypes/DataTypeObject.cpp
  src/DataTypes/DataTypeObject.h
  src/DataTypes/Serializations/SerializationJSON.cpp
  src/Formats/JSONExtractTree.cpp
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/03247_object_column_copy.sql
  tests/queries/0_stateless/03272_json_to_json_alter.reference
  tests/queries/0_stateless/03272_json_to_json_alter.sql.j2
  tests/queries/0_stateless/03272_json_to_json_cast_1.reference
  tests/queries/0_stateless/03272_json_to_json_cast_1.sql
  tests/queries/0_stateless/03272_json_to_json_cast_2.reference
  tests/queries/0_stateless/03272_json_to_json_cast_2.sql
  tests/queries/0_stateless/03272_json_to_json_cast_3.reference
  tests/queries/0_stateless/03272_json_to_json_cast_3.sql
  tests/queries/0_stateless/03272_json_to_json_cast_4.reference
  tests/queries/0_stateless/03272_json_to_json_cast_4.sql
  tests/queries/0_stateless/03272_json_to_json_cast_5.reference
  tests/queries/0_stateless/03272_json_to_json_cast_5.sql
  tests/queries/0_stateless/03273_ghdata_json_to_json_alter.reference
  tests/queries/0_stateless/03273_ghdata_json_to_json_alter.sh
  tests/queries/0_stateless/03274_json_to_json_alter_nested_json.reference
  tests/queries/0_stateless/03274_json_to_json_alter_nested_json.sql
Labels: pr-improvement

#74059 Ignore object not found errors for Azure during `plain_rewritable` disk initialization
  src/Common/FailPoint.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainRewritableObjectStorage.cpp
  tests/integration/test_azure_blob_storage_plain_rewritable/test.py
Labels: pr-bugfix, pr-must-backport, can be tested, pr-must-backport-cloud

#74086 Add trace to QueryMetricLog to help identifying issues
  src/Interpreters/QueryMetricLog.cpp
  tests/queries/0_stateless/03203_system_query_metric_log.reference
  tests/queries/0_stateless/03203_system_query_metric_log.sh
Labels: pr-not-for-changelog

#74078 Add log entry for header detection (since it consume rows)
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.cpp
Labels: pr-not-for-changelog

#74064 Fix logical error for Kafka table engine with keyword arguments
  src/Storages/Kafka/StorageKafkaUtils.cpp
  tests/queries/0_stateless/03305_fix_kafka_table_with_kw_arguments.reference
  tests/queries/0_stateless/03305_fix_kafka_table_with_kw_arguments.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#74075 Fix altering s3queue settings with "s3queue_" prefix to without and vice versa
  src/Storages/AlterCommands.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSettings.cpp
  src/Storages/ObjectStorageQueue/StorageObjectStorageQueue.cpp
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-bugfix, pr-must-backport

#72024 Trigger queue processing after ALTER TABLE REPLACE/MOVE PARTITION
  src/Storages/MergeTree/BackgroundJobsAssignee.cpp
  src/Storages/MergeTree/BackgroundJobsAssignee.h
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-bugfix, pr-must-backport, can be tested

#74073 Support filter-push-down for `MergingAggregated` step.
  src/Processors/QueryPlan/MergingAggregatedStep.h
  src/Processors/QueryPlan/Optimizations/filterPushDown.cpp
  tests/performance/distributed_aggregation.xml
  tests/queries/0_stateless/03305_mergine_aggregated_filter_push_down.reference
  tests/queries/0_stateless/03305_mergine_aggregated_filter_push_down.sql
Labels: pr-improvement

#74116 Fix: adjustments for having port in forwarded_for field.
  src/Access/ContextAccessParams.cpp
  src/Interpreters/ClientInfo.h
  src/Interpreters/Session.cpp
  src/Server/HTTP/authenticateUserByHTTP.cpp
  src/Server/TCPHandler.cpp
  tests/integration/test_composable_protocols/configs/config.xml
  tests/integration/test_composable_protocols/test.py
Labels: pr-bugfix

#74126 fix format of alter table ... statistics
  src/Parsers/ASTAlterQuery.cpp
  tests/queries/0_stateless/03214_inconsistent_formatting_of_codecs_statistics.reference
  tests/queries/0_stateless/03214_inconsistent_formatting_of_codecs_statistics.sh
Labels: pr-bugfix

#73594 Fix `parseDateTime64` with input dates before 1970 / after 2106
  src/Functions/parseDateTime.cpp
  tests/queries/0_stateless/02668_parse_datetime.reference
  tests/queries/0_stateless/02668_parse_datetime.sql
  tests/queries/0_stateless/02668_parse_datetime_in_joda_syntax.reference
  tests/queries/0_stateless/02668_parse_datetime_in_joda_syntax.sql
Labels: pr-improvement, can be tested

#74117 I didn't understand this code and it has no comments in StorageMerge
  src/Storages/StorageMerge.cpp
Labels: pr-not-for-changelog

#74166 Configure clangd to always use angled brackets
  .clangd
Labels: pr-not-for-changelog

#74161 Fix crash when reading subcolumn from compressed Memory eng table
  src/Interpreters/getColumnFromBlock.cpp
  tests/queries/0_stateless/03305_compressed_memory_eng_crash_reading_subcolumn.reference
  tests/queries/0_stateless/03305_compressed_memory_eng_crash_reading_subcolumn.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#74125 Fix flaky `03291_json_big_structure_deserialization`
  tests/queries/0_stateless/03291_json_big_structure_deserialization.sql
Labels: pr-not-for-changelog

#74182 Fix bad hourglass behavior in Play UI
  programs/server/play.html
Labels: pr-improvement

#73705 Re-enable CheckInternalHash in htmltest and fail on new errors
  docs/.htmltest.yml
  tests/ci/docs_check.py
Labels: manual approve, can be tested, pr-ci

#74189 Update links to clickhouse-presentations (after naming schema changes)
  docker/bare/prepare
  docs/en/getting-started/example-datasets/wikistat.md
  docs/en/sql-reference/data-types/lowcardinality.md
  docs/ja/getting-started/example-datasets/wikistat.md
  docs/ja/sql-reference/data-types/lowcardinality.md
  docs/ru/sql-reference/data-types/lowcardinality.md
  docs/zh/introduction/adopters.md
  docs/zh/sql-reference/data-types/lowcardinality.md
  programs/CMakeLists.txt
  programs/git-import/git-import.cpp
  src/Storages/MergeTree/MergeSelectors/SimpleMergeSelector.h
Labels: pr-not-for-changelog

#73812 Support TLS for Postgres wire protocol
  programs/server/Server.cpp
  src/Server/PostgreSQLHandler.cpp
  src/Server/PostgreSQLHandler.h
  src/Server/PostgreSQLHandlerFactory.cpp
  src/Server/PostgreSQLHandlerFactory.h
  tests/integration/test_postgresql_protocol/configs/config.xml
  tests/integration/test_postgresql_protocol/configs/ssl_conf.xml
Labels: pr-improvement, can be tested

#74195 Revert "Update links to clickhouse-presentations (after naming schema changes)"
  docker/bare/prepare
  docs/en/getting-started/example-datasets/wikistat.md
  docs/en/sql-reference/data-types/lowcardinality.md
  docs/ja/getting-started/example-datasets/wikistat.md
  docs/ja/sql-reference/data-types/lowcardinality.md
  docs/ru/sql-reference/data-types/lowcardinality.md
  docs/zh/introduction/adopters.md
  docs/zh/sql-reference/data-types/lowcardinality.md
  programs/CMakeLists.txt
  programs/git-import/git-import.cpp
  src/Storages/MergeTree/MergeSelectors/SimpleMergeSelector.h
Labels: pr-not-for-changelog

#74187 Fix keeper shutdown in case of initialization failed
  src/Coordination/Changelog.cpp
Labels: pr-not-for-changelog

#74192 Happy New Year 2025!
  LICENSE
Labels: pr-documentation

#74198 tests: fix 01107_atomic_db_detach_attach flakiness
  tests/queries/0_stateless/01107_atomic_db_detach_attach.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#72904 Allow `arrayROCAUC` and `arrayAUCPR` to compute partial area
  docs/en/sql-reference/functions/array-functions.md
  src/Functions/array/arrayAUC.cpp
  tests/queries/0_stateless/01064_arrayROCAUC.reference
  tests/queries/0_stateless/01064_arrayROCAUC.sql
  tests/queries/0_stateless/01202_arrayROCAUC_special.sql
  tests/queries/0_stateless/03272_arrayAUCPR.reference
  tests/queries/0_stateless/03272_arrayAUCPR.sql
  tests/queries/0_stateless/03290_partial_arrayROCAUC_and_arrayAUCPR.reference
  tests/queries/0_stateless/03290_partial_arrayROCAUC_and_arrayAUCPR.sql
Labels: pr-performance, can be tested

#74081 CI: Use temp directory inside repo dir in praktika ci
  ci/docker/fasttest/Dockerfile
  ci/docker/stateless-test/Dockerfile
  ci/jobs/build_clickhouse.py
  ci/jobs/clickbench.py
  ci/jobs/fast_test.py
  ci/jobs/functional_stateful_tests.py
  ci/jobs/functional_stateless_tests.py
  ci/jobs/performance_tests.py
  ci/jobs/scripts/check_style/check_cpp.sh
  ci/jobs/scripts/clickhouse_proc.py
  ci/jobs/scripts/perf/download.sh
  ci/praktika/result.py
  ci/praktika/runner.py
  ci/praktika/settings.py
  ci/praktika/utils.py
  ci/praktika/yaml_generator.py
  ci/workflows/defs.py
  tests/ci/compatibility_check.py
  tests/ci/stress_check.py
Labels: pr-not-for-changelog

#73276 Don't allow not comparable types in ORDER BY and comparison functions
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/DataTypes/DataTypeNothing.h
  src/DataTypes/DataTypeObject.h
  src/DataTypes/IDataType.h
  src/Databases/enableAllExperimentalSettings.cpp
  src/Functions/FunctionsComparison.h
  src/Functions/equals.cpp
  src/Functions/greater.cpp
  src/Functions/greaterOrEquals.cpp
  src/Functions/less.cpp
  src/Functions/lessOrEquals.cpp
  src/Functions/notEquals.cpp
  src/Interpreters/ExpressionAnalyzer.cpp
  tests/queries/0_stateless/01700_deltasum.sql
  tests/queries/0_stateless/01825_new_type_json_multiple_files.sh
  tests/queries/0_stateless/01825_new_type_json_order_by.sql
  tests/queries/0_stateless/01825_type_json_order_by.sql
  tests/queries/0_stateless/02097_initializeAggregationNullable.sql
  tests/queries/0_stateless/02428_combinators_with_over_statement.sql
  tests/queries/0_stateless/03034_ddls_and_merges_with_unusual_maps.sql
  tests/queries/0_stateless/03278_json_subcolumns_in_skipping_indexes.sql.j2
  tests/queries/0_stateless/03280_json_subcolumns_in_primary_key_select_final.sql.j2
  tests/queries/0_stateless/03287_not_comparable_types_in_order_by_and_comparison_functions.reference
  tests/queries/0_stateless/03287_not_comparable_types_in_order_by_and_comparison_functions.sql
Labels: pr-backward-incompatible

#74202 MergeTree: reduce mutex lock critical section in MergeTreeReadPool
  src/Storages/MergeTree/MergeTreeReadPool.cpp
  src/Storages/MergeTree/MergeTreeReadPool.h
Labels: pr-performance, can be tested

#74168 ClickHouse Client: More ways to specify custom prompts
  docs/en/interfaces/cli.md
  programs/client/Client.cpp
  programs/client/clickhouse-client.xml
  programs/local/LocalServer.cpp
  src/Client/ClientApplicationBase.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
Labels: pr-improvement, can be tested

#74118 Add `endpoint_subpath` parameter to Azure endpoint configuration
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageCommon.cpp
  tests/integration/test_azure_blob_storage_plain_rewritable/test.py
  tests/queries/0_stateless/03008_azure_plain_rewritable_with_slash.sh
Labels: pr-not-for-changelog, can be tested, pr-must-backport-cloud

#74181 `JSONEachRowWithProgress` format will include `meta`, `totals`, and extremes
  src/Formats/FormatFactory.cpp
  src/Processors/Formats/IOutputFormat.cpp
  src/Processors/Formats/IOutputFormat.h
  src/Processors/Formats/Impl/JSONEachRowWithProgressRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONEachRowWithProgressRowOutputFormat.h
  src/Processors/IProcessor.cpp
  tests/queries/0_stateless/01446_json_strings_each_row.reference
  tests/queries/0_stateless/01446_json_strings_each_row.sh
  tests/queries/0_stateless/01447_json_strings.sql
  tests/queries/0_stateless/02124_json_each_row_with_progress.reference
  tests/queries/0_stateless/03272_json_with_progress.reference
  tests/queries/0_stateless/03272_json_with_progress.sh
  tests/queries/0_stateless/03306_json_with_progress_special_events.reference
  tests/queries/0_stateless/03306_json_with_progress_special_events.sh
  tests/queries/0_stateless/03307_json_with_progress_progress_elapsed_ns.reference
  tests/queries/0_stateless/03307_json_with_progress_progress_elapsed_ns.sh
  tests/queries/0_stateless/03308_json_with_progress_frequency.reference
  tests/queries/0_stateless/03308_json_with_progress_frequency.sh
  tests/queries/0_stateless/03309_json_with_progress_exception.reference
  tests/queries/0_stateless/03309_json_with_progress_exception.sh
Labels: pr-improvement

#74197 tests: fix test_keeper_disks/test.py::test_logs_with_disks flakiness
  tests/integration/test_keeper_disks/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#74014 Implement changing collapsing sign column table constraint
  docs/en/operations/settings/merge-tree-settings.md
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  tests/queries/0_stateless/02918_implicit_sign_column_constraints_for_collapsing_engine.reference
  tests/queries/0_stateless/02918_implicit_sign_column_constraints_for_collapsing_engine.sh
Labels: pr-improvement, can be tested

#74209 tests: fix 00626_replace_partition_from_table flakiness
  tests/queries/0_stateless/00626_replace_partition_from_table.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#74212 ClickHouse Client: Autodetect secure connection based on port
  docs/en/interfaces/cli.md
  src/Client/ConnectionParameters.cpp
Labels: pr-improvement, can be tested

#65059 Optimize RowBinary input format
  src/Processors/Formats/Impl/BinaryRowInputFormat.cpp
  src/Processors/Formats/Impl/BinaryRowInputFormat.h
  src/Processors/Formats/Impl/CSVRowInputFormat.cpp
  src/Processors/Formats/Impl/CSVRowInputFormat.h
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.cpp
  src/Processors/Formats/Impl/CustomSeparatedRowInputFormat.h
  src/Processors/Formats/Impl/JSONCompactEachRowRowInputFormat.cpp
  src/Processors/Formats/Impl/JSONCompactEachRowRowInputFormat.h
  src/Processors/Formats/Impl/JSONCompactRowInputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowInputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowInputFormat.h
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.cpp
  src/Processors/Formats/RowInputFormatWithNamesAndTypes.h
Labels: pr-performance

#74112 ci: fix ClickBench link in CI comment
  tests/ci/commit_status_helper.py
Labels: pr-not-for-changelog

#73986 Mark all non-cloud and private preview features
  docs/en/engines/database-engines/materialized-postgresql.md
  docs/en/engines/table-engines/integrations/hdfs.md
  docs/en/engines/table-engines/integrations/hive.md
  docs/en/engines/table-engines/integrations/jdbc.md
  docs/en/engines/table-engines/integrations/kafka.md
  docs/en/engines/table-engines/integrations/materialized-postgresql.md
  docs/en/engines/table-engines/integrations/odbc.md
  docs/en/engines/table-engines/integrations/redis.md
  docs/en/engines/table-engines/integrations/sqlite.md
  docs/en/engines/table-engines/integrations/time-series.md
  docs/en/engines/table-engines/mergetree-family/annindexes.md
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/interfaces/formats.md
  docs/en/sql-reference/data-types/json.md
  docs/en/sql-reference/dictionaries/index.md
  docs/en/sql-reference/functions/nlp-functions.md
  docs/en/sql-reference/functions/other-functions.md
  docs/en/sql-reference/functions/time-window-functions.md
  docs/en/sql-reference/functions/udf.md
  docs/en/sql-reference/functions/uuid-functions.md
  docs/en/sql-reference/statements/alter/statistics.md
  docs/en/sql-reference/statements/create/table.md
  docs/en/sql-reference/statements/create/view.md
  docs/en/sql-reference/statements/grant.md
  docs/en/sql-reference/statements/system.md
  docs/en/sql-reference/statements/watch.md
  docs/en/sql-reference/table-functions/azureBlobStorage.md
  docs/en/sql-reference/table-functions/file.md
  docs/en/sql-reference/table-functions/hdfs.md
  docs/en/sql-reference/table-functions/s3.md
  docs/en/sql-reference/table-functions/url.md
  docs/en/sql-reference/transactions.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#74190 Fix an infinite loop in detached_tables
  src/Storages/System/StorageSystemDetachedTables.cpp
  tests/queries/0_stateless/03172_system_detached_tables_no_loop.reference
  tests/queries/0_stateless/03172_system_detached_tables_no_loop.sql
Labels: pr-bugfix, can be tested

#74228 make documentation for `anyHeavy` clearer
  docs/en/sql-reference/aggregate-functions/reference/anyheavy.md
Labels: pr-documentation, can be tested

#74227 Docs: Update ClickHouse Client CLI options and add subsections
  docs/en/interfaces/cli.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#74240 tests: fix flakiness of 01700_deltasum (due to allow_not_comparable_types_in_order_by)
  tests/queries/0_stateless/01700_deltasum.sql
Labels: pr-not-for-changelog

#74137 Forbid to use `Loop` as a table engine in `CREATE TABLE`
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/StorageFactory.cpp
  tests/queries/0_stateless/03307_forbid_loop_table_function_as_engine.reference
  tests/queries/0_stateless/03307_forbid_loop_table_function_as_engine.sql
Labels: pr-bugfix

#74169 ci: fix skipping of some integration tests
  tests/ci/integration_tests_runner.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#74113 tests: fix 02350_views_max_insert_threads
  src/Processors/Transforms/buildPushingToViewsChain.cpp
  tests/queries/0_stateless/02350_views_max_insert_threads.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#65948 Speedup string deserialisation by inlining `readVarInt`
  src/IO/VarInt.h
Labels: pr-performance, pr-performance-tests

#74082 Add resize after aggregation with grouping sets
  src/Processors/QueryPlan/AggregatingStep.cpp
  tests/performance/queries_over_aggregation.xml
  tests/queries/0_stateless/01883_with_grouping_sets.reference
  tests/queries/0_stateless/01883_with_grouping_sets.sql
  tests/queries/0_stateless/02554_fix_grouping_sets_predicate_push_down.reference
  tests/queries/0_stateless/02554_fix_grouping_sets_predicate_push_down.sql
Labels: pr-performance

#71085 First iteration of Buzzhouse
  .github/PULL_REQUEST_TEMPLATE.md
  CMakeLists.txt
  ci/jobs/build_clickhouse.py
  docker/packager/packager
  docker/test/fuzzer/run-fuzzer.sh
  programs/client/CMakeLists.txt
  programs/client/Client.cpp
  programs/client/Client.h
  programs/client/FuzzLoop.cpp
  programs/local/LocalServer.cpp
  src/CMakeLists.txt
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Client/BuzzHouse/AST/SQLProtoStr.h
  src/Client/BuzzHouse/Generator/ExternalIntegrations.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.h
  src/Client/BuzzHouse/Generator/FuzzConfig.h
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/QueryOracle.h
  src/Client/BuzzHouse/Generator/RandomGenerator.h
  src/Client/BuzzHouse/Generator/RandomSettings.cpp
  src/Client/BuzzHouse/Generator/RandomSettings.h
  src/Client/BuzzHouse/Generator/SQLCatalog.h
  src/Client/BuzzHouse/Generator/SQLExpression.cpp
  src/Client/BuzzHouse/Generator/SQLFuncs.h
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/SQLTypes.cpp
  src/Client/BuzzHouse/Generator/SQLTypes.h
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Generator/SystemTables.cpp
  src/Client/BuzzHouse/Generator/SystemTables.h
  src/Client/BuzzHouse/Proto/CMakeLists.txt
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
  src/Client/BuzzHouse/Utils/HugeInt.cpp
  src/Client/BuzzHouse/Utils/HugeInt.h
  src/Client/BuzzHouse/Utils/MD5Impl.h
  src/Client/BuzzHouse/Utils/Nlimits.h
  src/Client/BuzzHouse/Utils/UHugeInt.cpp
  src/Client/BuzzHouse/Utils/UHugeInt.h
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  src/Common/SignalHandlers.cpp
  src/Common/config.h.in
  src/Functions/getFuzzerData.cpp
  src/Parsers/IAST.h
  src/configure_config.cmake
  tests/ci/build_check.py
  tests/ci/ci_cache.py
  tests/ci/ci_config.py
  tests/ci/ci_definitions.py
  tests/ci/ci_fuzzer_check.py
  tests/ci/test_ci_options.py
Labels: pr-not-for-changelog, manual approve, can be tested

#74076 Improve the waiting mechanism for keeper in integration tests
  tests/integration/helpers/keeper_utils.py
  tests/integration/test_keeper_auth/test.py
  tests/integration/test_keeper_back_to_back/test.py
  tests/integration/test_keeper_broken_logs/test.py
  tests/integration/test_keeper_disks/test.py
  tests/integration/test_keeper_force_recovery/test.py
  tests/integration/test_keeper_force_recovery_single_node/test.py
  tests/integration/test_keeper_four_word_command/test.py
  tests/integration/test_keeper_four_word_command/test_allow_list.py
  tests/integration/test_keeper_internal_secure/test.py
  tests/integration/test_keeper_mntr_pressure/test.py
  tests/integration/test_keeper_multinode_simple/test.py
  tests/integration/test_keeper_nodes_add/test.py
  tests/integration/test_keeper_nodes_move/test.py
  tests/integration/test_keeper_nodes_remove/test.py
  tests/integration/test_keeper_persistent_log_multinode/test.py
  tests/integration/test_keeper_reconfig_replace_leader_in_one_command/test.py
  tests/integration/test_keeper_restore_from_snapshot/test.py
  tests/integration/test_keeper_restore_from_snapshot/test_disk_s3.py
  tests/integration/test_keeper_s3_snapshot/test.py
  tests/integration/test_keeper_session/test.py
  tests/integration/test_keeper_snapshot_on_exit/test.py
  tests/integration/test_keeper_snapshot_small_distance/test.py
  tests/integration/test_keeper_snapshots_multinode/test.py
  tests/integration/test_keeper_three_nodes_start/test.py
  tests/integration/test_keeper_three_nodes_two_alive/test.py
  tests/integration/test_keeper_two_nodes_cluster/test.py
  tests/integration/test_keeper_znode_time/test.py
  tests/integration/test_keeper_zookeeper_converter/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#73739 Better error message when applying row policy
  src/Interpreters/InterpreterSelectQuery.cpp
Labels: pr-not-for-changelog

#74264 Revert "Add minmax indices by default"
  docs/en/operations/settings/merge-tree-settings.md
  src/Core/FormatFactorySettings.h
  src/Core/SettingsChangesHistory.cpp
  src/Storages/AlterCommands.cpp
  src/Storages/MergeTree/MergeTreeIndices.h
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  tests/queries/0_stateless/03261_minmax_indices_by_default.reference
  tests/queries/0_stateless/03261_minmax_indices_by_default.sql
Labels: pr-not-for-changelog

#74260 Revert "make documentation for `anyHeavy` clearer"
  docs/en/sql-reference/aggregate-functions/reference/anyheavy.md
Labels: pr-not-for-changelog

#74268 bump node version to 20 for docs
  docker/docs/builder/Dockerfile
Labels: can be tested, pr-ci

#73698 CI: Docker build job with praktika
  ci/docker/clickhouse-server/docker_related_config.xml
  ci/docker/clickhouse-server/entrypoint.sh
  ci/docker/clickhouse-server/from_binary/Dockerfile.ubuntu
  ci/docker/clickhouse-server/from_deb/Dockerfile.ubuntu
  ci/jobs/docker_server_job.py
  ci/praktika/s3.py
  ci/workflows/defs.py
  ci/workflows/pull_request.py
Labels: pr-not-for-changelog

#74256 refine dashboard SQLs
  src/Storages/System/StorageSystemDashboards.cpp
Labels: pr-not-for-changelog

#74266 Revert "Revert "Add minmax indices by default""
  docs/en/operations/settings/merge-tree-settings.md
  src/Core/FormatFactorySettings.h
  src/Core/SettingsChangesHistory.cpp
  src/Storages/AlterCommands.cpp
  src/Storages/MergeTree/MergeTreeIndices.h
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  tests/queries/0_stateless/03261_minmax_indices_by_default.reference
  tests/queries/0_stateless/03261_minmax_indices_by_default.sql
Labels: pr-not-for-changelog

#73876 Fix getting error when querying ddl with offline replica
  src/Interpreters/DDLOnClusterQueryStatusSource.cpp
  src/Interpreters/DDLOnClusterQueryStatusSource.h
  src/Interpreters/DistributedQueryStatusSource.cpp
  src/Interpreters/DistributedQueryStatusSource.h
  src/Interpreters/ReplicatedDatabaseQueryStatusSource.cpp
  src/Interpreters/ReplicatedDatabaseQueryStatusSource.h
  tests/integration/test_ddl_on_cluster_stop_waiting_for_offline_hosts/test.py
Labels: pr-bugfix, can be tested

#74258 Try fixing `test_memory_limit`
  tests/integration/test_memory_limit/configs/disable_max_bytes_ratio_before_external_group_by.xml
  tests/integration/test_memory_limit/test.py
Labels: pr-not-for-changelog

#66416 Make BloomFilterIndex support datatype DateTime64
  src/Interpreters/BloomFilterHash.h
  tests/queries/0_stateless/00945_bloom_filter_index.reference
  tests/queries/0_stateless/00945_bloom_filter_index.sql
Labels: pr-feature, can be tested

#74128 Fix issue #66112
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
  src/Storages/MergeTree/MergeTreeRangeReader.h
  tests/queries/0_stateless/03304_fill_virtual_columns.reference
  tests/queries/0_stateless/03304_fill_virtual_columns.sql
Labels: pr-bugfix, can be tested

#74259 Remove obsolete class member
  src/Columns/ColumnObject.h
  src/Columns/ColumnVariant.h
  src/Common/JSONBuilder.h
  src/Formats/CapnProtoSchema.h
  src/Formats/ColumnMapping.cpp
  src/Formats/ColumnMapping.h
  src/Formats/FormatSchemaInfo.h
  src/Formats/FormatSettings.h
  src/Formats/JSONExtractTree.h
  src/Formats/SchemaInferenceUtils.h
  src/Processors/Formats/Impl/Parquet/ParquetRecordReader.h
  src/Storages/System/StorageSystemDisks.h
  src/Storages/System/StorageSystemStoragePolicies.h
Labels: pr-not-for-changelog

#74261 Minor: convert test from .sh to .sql
  tests/queries/0_stateless/03293_forbid_cluster_table_engine.reference
  tests/queries/0_stateless/03293_forbid_cluster_table_engine.sh
  tests/queries/0_stateless/03293_forbid_cluster_table_engine.sql
Labels: pr-not-for-changelog

#73656 Add new setting enable_max_bytes_limit_for_min_age_to_force_merge
  src/Core/SettingsChangesHistory.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/MergeTreeSettings.cpp
  tests/queries/0_stateless/02473_optimize_old_parts.reference
  tests/queries/0_stateless/02473_optimize_old_parts.sh
  tests/queries/0_stateless/02676_optimize_old_parts_replicated.reference
  tests/queries/0_stateless/02676_optimize_old_parts_replicated.sh
Labels: pr-feature, pr-must-backport, can be tested

#73546 s3queue: fix retries after failed insert
  src/Storages/ObjectStorageQueue/ObjectStorageQueueIFileMetadata.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueIFileMetadata.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueOrderedFileMetadata.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueUnorderedFileMetadata.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueUnorderedFileMetadata.h
  tests/integration/test_storage_s3_queue/configs/merge_tree.xml
  tests/integration/test_storage_s3_queue/test.py
Labels: pr-bugfix, pr-must-backport

#74216 Fix logical error in s3queue
  src/Storages/ObjectStorageQueue/ObjectStorageQueueIFileMetadata.cpp
Labels: pr-bugfix

#73983 Add syntax "query1 PARALLEL WITH query2".
  docs/en/sql-reference/statements/parallel_with.md
  src/Common/CurrentMetrics.cpp
  src/Interpreters/InterpreterFactory.cpp
  src/Interpreters/InterpreterParallelWithQuery.cpp
  src/Interpreters/InterpreterParallelWithQuery.h
  src/Interpreters/registerInterpreters.cpp
  src/Parsers/ASTParallelWithQuery.cpp
  src/Parsers/ASTParallelWithQuery.h
  src/Parsers/CommonParsers.h
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/IAST.h
  src/Parsers/ParserParallelWithQuery.cpp
  src/Parsers/ParserParallelWithQuery.h
  src/Parsers/ParserQuery.cpp
  src/Parsers/ParserQuery.h
  tests/queries/0_stateless/03305_parallel_with.reference
  tests/queries/0_stateless/03305_parallel_with.sql
  tests/queries/0_stateless/03305_parallel_with_query_log.reference
  tests/queries/0_stateless/03305_parallel_with_query_log.sh
Labels: pr-feature

#74274 Followup for #73120
  src/Interpreters/InterpreterSetQuery.cpp
  src/Parsers/ParserCreateQuery.cpp
  tests/queries/0_stateless/02184_default_table_engine.sql
  tests/queries/0_stateless/03310_create_database_with_settings.reference
  tests/queries/0_stateless/03310_create_database_with_settings.sql
Labels: pr-not-for-changelog

#74328 Removing unused workflows and 3rd party bucket
  docs/en/getting-started/install.md
  docs/ja/getting-started/install.md
Labels: pr-documentation, can be tested

#74203 Fix error in the error message about timeout
  src/Interpreters/ProcessList.cpp
  src/Interpreters/ProcessList.h
  src/QueryPipeline/ExecutionSpeedLimits.cpp
  tests/queries/0_stateless/02294_floating_point_second_in_settings.reference
  tests/queries/0_stateless/02294_floating_point_second_in_settings.sh
Labels: pr-not-for-changelog

#72349 add sequenceMatchEvents aggregate function
  docs/en/sql-reference/aggregate-functions/parametric-functions.md
  docs/ru/sql-reference/aggregate-functions/parametric-functions.md
  src/AggregateFunctions/AggregateFunctionSequenceMatch.cpp
  tests/queries/0_stateless/00222_sequence_aggregate_function_family.reference
  tests/queries/0_stateless/00222_sequence_aggregate_function_family.sql
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-feature, can be tested

#74339 Better installation script
  docs/_includes/install/universal.sh
Labels: pr-build

#74271 Remove unused method `isStoredOnDisk`
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataPartCompact.h
  src/Storages/MergeTree/MergeTreeDataPartWide.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  src/Storages/MergeTree/MergeTreeReadPool.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/System/StorageSystemParts.cpp
  src/Storages/System/StorageSystemPartsColumns.cpp
  src/Storages/System/StorageSystemProjectionParts.cpp
Labels: pr-not-for-changelog

#74201 Even if the HTTP response is compressed, send packets as soon as they arrive
  docker/test/util/Dockerfile
  src/IO/WriteBufferDecorator.h
  src/Processors/Formats/IOutputFormat.cpp
  src/Processors/Formats/Impl/JSONEachRowWithProgressRowOutputFormat.cpp
  tests/queries/0_stateless/03307_progress_http_asap.reference
  tests/queries/0_stateless/03307_progress_http_asap.sh
Labels: pr-improvement

#74334 Fix UnicodeDecodeError in cluster.shutdown()
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog

#73965 Do not apply `maskedExecute` on non-function columns in short circuit execution for `and` and `or`
  src/Functions/FunctionsLogical.cpp
  tests/performance/non_function_col_short_circuit.xml
Labels: pr-performance, can be tested

#74223 Fix segfault in CollapsingMergeTree
  src/Processors/Merges/Algorithms/CollapsingSortedAlgorithm.cpp
  tests/queries/0_stateless/03291_collapsing_invalid_sign.reference
  tests/queries/0_stateless/03291_collapsing_invalid_sign.sql
Labels: pr-must-backport, can be tested, pr-must-backport-cloud, pr-critical-bugfix

#74351 chcache: add support for configurable source and target tables
  rust/chcache/src/main.rs
Labels: pr-not-for-changelog

#74252 Fix race in Keeper Changelog
  src/Coordination/Changelog.cpp
  src/Coordination/Changelog.h
Labels: pr-not-for-changelog, jepsen-test

#74290 CI: SQLTest in praktika CI
  ci/jobs/sqltest_job.py
  ci/praktika/result.py
  ci/workflows/defs.py
  ci/workflows/pull_request.py
Labels: pr-not-for-changelog

#74331 Fix copying via ObjectStorage (when source and destination credentials differs)
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
Labels: pr-bugfix

#74267 Fix lifetime of callback in `threadPoolCallbackRunner`
  src/Common/threadPoolCallbackRunner.h
Labels: pr-not-for-changelog

#74277 fix existing broken hashes on main-repo which cause htmltest to fail
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/getting-started/example-datasets/github.md
  docs/en/interfaces/formats.md
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/operations/storing-data.md
  docs/en/operations/system-tables/query_thread_log.md
  docs/en/operations/system-tables/trace_log.md
  docs/en/sql-reference/aggregate-functions/reference/quantileexact.md
  docs/en/sql-reference/aggregate-functions/reference/quantileexactweighted.md
  docs/en/sql-reference/aggregate-functions/reference/quantiletdigest.md
  docs/en/sql-reference/functions/array-functions.md
  docs/en/sql-reference/functions/ip-address-functions.md
  docs/en/sql-reference/functions/other-functions.md
  docs/en/sql-reference/functions/type-conversion-functions.md
  docs/en/sql-reference/operators/in.md
  docs/en/sql-reference/statements/create/view.md
  docs/ru/operations/settings/permissions-for-queries.md
  docs/ru/operations/settings/settings.md
  docs/ru/operations/system-tables/asynchronous_metric_log.md
  docs/ru/operations/system-tables/asynchronous_metrics.md
  docs/ru/operations/system-tables/detached_parts.md
  docs/ru/operations/system-tables/events.md
  docs/ru/operations/system-tables/metric_log.md
  docs/ru/operations/system-tables/metrics.md
  docs/ru/operations/system-tables/query_log.md
  docs/ru/operations/system-tables/query_thread_log.md
  docs/ru/operations/system-tables/stack_trace.md
  docs/ru/sql-reference/aggregate-functions/reference/quantile.md
  docs/ru/sql-reference/aggregate-functions/reference/quantileexact.md
  docs/ru/sql-reference/aggregate-functions/reference/quantileexactweighted.md
  docs/ru/sql-reference/aggregate-functions/reference/quantiletdigest.md
  docs/ru/sql-reference/aggregate-functions/reference/quantiletdigestweighted.md
  docs/ru/sql-reference/aggregate-functions/reference/quantiletiming.md
  docs/ru/sql-reference/aggregate-functions/reference/quantiletimingweighted.md
  docs/ru/sql-reference/aggregate-functions/reference/uniqcombined.md
  docs/ru/sql-reference/aggregate-functions/reference/uniqexact.md
  docs/ru/sql-reference/functions/arithmetic-functions.md
  docs/ru/sql-reference/functions/geo/geohash.md
  docs/ru/sql-reference/functions/geo/h3.md
  docs/ru/sql-reference/functions/geo/s2.md
  docs/ru/sql-reference/functions/string-search-functions.md
  docs/ru/sql-reference/statements/alter/column.md
  docs/zh/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/zh/interfaces/formats.md
  docs/zh/interfaces/http.md
  docs/zh/operations/settings/permissions-for-queries.md
  docs/zh/operations/system-tables/query_thread_log.md
  docs/zh/operations/system-tables/trace_log.md
  docs/zh/sql-reference/aggregate-functions/reference/median.md
  docs/zh/sql-reference/functions/string-search-functions.md
  docs/zh/sql-reference/table-functions/s3.md
Labels: pr-documentation, can be tested

#74278 Correct ordering of latitude and longitude for `h3ToGeoBoundary` in docs
  docs/en/sql-reference/functions/geo/h3.md
Labels: pr-documentation

#74242 Fix broken link
  docs/en/sql-reference/statements/alter/index.md
  docs/en/sql-reference/statements/alter/role.md
  docs/en/sql-reference/statements/alter/settings-profile.md
Labels: pr-documentation, can be tested

#74255 Add missing parameter to `MATERIALIZED VIEW` DDL
  docs/en/sql-reference/statements/create/view.md
Labels: pr-documentation, can be tested

#74251 add missing merge tree setting and update broken link to it
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/operations/settings/merge-tree-settings.md
Labels: pr-documentation, can be tested

#72105 Support parquet integer logical types on native reader
  src/Processors/Formats/Impl/Parquet/ParquetDataBuffer.h
  src/Processors/Formats/Impl/Parquet/ParquetDataValuesReader.cpp
  src/Processors/Formats/Impl/Parquet/ParquetDataValuesReader.h
  src/Processors/Formats/Impl/Parquet/ParquetLeafColReader.cpp
  src/Processors/Formats/Impl/Parquet/ParquetLeafColReader.h
  src/Processors/Formats/Impl/Parquet/ParquetRecordReader.cpp
  tests/queries/0_stateless/03262_test_parquet_native_reader_int_logical_type.reference
  tests/queries/0_stateless/03262_test_parquet_native_reader_int_logical_type.sh
Labels: pr-improvement, can be tested

#74396 Update README.md
  README.md
Labels: pr-not-for-changelog

#74325 Add WRS A-ES Algorithm to Common
  src/Common/WeightedRandomSampling.h
  src/Common/tests/gtest_weighted_random_sampling.cpp
Labels: pr-not-for-changelog

#74254 Docs: Cross-link cache warmer settings
  docs/en/operations/settings/merge-tree-settings.md
  src/Core/Settings.cpp
Labels: pr-documentation, can be tested

#74321 Sync more settings
  src/Core/ServerSettings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
Labels: pr-not-for-changelog

#74295 CI: Remove hdfs from Integration tests
  ci/workflows/defs.py
  docker/images.json
  docker/test/integration/kerberized_hadoop/Dockerfile
  tests/ci/integration_test_images.py
  tests/ci/tests/docker_images_for_tests.json
  tests/integration/README.md
  tests/integration/compose/docker_compose_hdfs.yml
  tests/integration/compose/docker_compose_kerberized_hdfs.yml
  tests/integration/conftest.py
  tests/integration/helpers/cluster.py
  tests/integration/helpers/hdfs_api.py
  tests/integration/helpers/s3_tools.py
  tests/integration/test_allowed_url_from_config/configs/config_for_redirect.xml
  tests/integration/test_allowed_url_from_config/test.py
  tests/integration/test_disk_types/configs/storage_amd.xml
  tests/integration/test_disk_types/test.py
  tests/integration/test_endpoint_macro_substitution/configs/macros.xml
  tests/integration/test_endpoint_macro_substitution/configs/storage.xml
  tests/integration/test_endpoint_macro_substitution/test.py
  tests/integration/test_keeper_disks/configs/enable_keeper.xml
  tests/integration/test_keeper_disks/configs/enable_keeper_snapshot.xml
  tests/integration/test_keeper_disks/test.py
  tests/integration/test_log_family_hdfs/__init__.py
  tests/integration/test_log_family_hdfs/configs/storage_conf.xml
  tests/integration/test_log_family_hdfs/test.py
  tests/integration/test_merge_tree_hdfs/__init__.py
  tests/integration/test_merge_tree_hdfs/configs/config.d/storage_conf.xml
  tests/integration/test_merge_tree_hdfs/test.py
  tests/integration/test_redirect_url_storage/__init__.py
  tests/integration/test_redirect_url_storage/configs/named_collections.xml
  tests/integration/test_redirect_url_storage/configs/users.xml
  tests/integration/test_redirect_url_storage/test.py
  tests/integration/test_storage_azure_blob_storage/test.py
  tests/integration/test_storage_hdfs/__init__.py
  tests/integration/test_storage_hdfs/configs/cluster.xml
  tests/integration/test_storage_hdfs/configs/macro.xml
  tests/integration/test_storage_hdfs/configs/schema_cache.xml
  tests/integration/test_storage_hdfs/test.py
  tests/integration/test_storage_iceberg/configs/config.d/named_collections.xml
  tests/integration/test_storage_iceberg/test.py
Labels: pr-not-for-changelog

#74373 Fix "Failed to make request to X redirect to X" log message
  src/IO/ReadWriteBufferFromHTTP.cpp
Labels: pr-not-for-changelog

#73985 Add validation for enum literals in `in/notin` operators
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Analyzer/SetUtils.cpp
  src/Analyzer/SetUtils.h
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/DataTypes/DataTypeEnum.cpp
  src/DataTypes/Serializations/SerializationEnum.cpp
  src/Functions/FunctionsComparison.h
  src/Functions/equals.cpp
  src/Functions/greater.cpp
  src/Functions/greaterOrEquals.cpp
  src/Functions/less.cpp
  src/Functions/lessOrEquals.cpp
  src/Functions/notEquals.cpp
  src/Interpreters/ActionsVisitor.cpp
  src/Interpreters/convertFieldToType.cpp
  src/Planner/CollectSets.cpp
  tests/queries/0_stateless/01310_enum_comparison.sql
  tests/queries/0_stateless/03278_enum_in_unknown_value.reference
  tests/queries/0_stateless/03278_enum_in_unknown_value.sql
Labels: pr-improvement, v24.12-must-backport

#74400 fix mdx errors
  docs/en/development/build-cross-osx.md
  docs/en/engines/table-engines/integrations/time-series.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/getting-started/install.md
  docs/en/interfaces/cli.md
  docs/en/interfaces/formats.md
  docs/en/interfaces/http.md
  docs/en/interfaces/prometheus.md
  docs/en/operations/storing-data.md
  docs/en/sql-reference/aggregate-functions/reference/grouparraysorted.md
  docs/en/sql-reference/aggregate-functions/reference/kolmogorovsmirnovtest.md
  docs/en/sql-reference/aggregate-functions/reference/uniqhll12.md
  docs/en/sql-reference/functions/hash-functions.md
  docs/en/sql-reference/functions/string-functions.md
  docs/en/sql-reference/functions/tuple-map-functions.md
  docs/en/sql-reference/functions/url-functions.md
  docs/en/sql-reference/table-functions/s3.md
  docs/ru/development/architecture.md
  docs/ru/engines/table-engines/mergetree-family/replication.md
  docs/ru/faq/index.md
  docs/ru/faq/use-cases/index.md
  docs/ru/faq/use-cases/key-value.md
  docs/ru/index.md
  docs/ru/interfaces/formats.md
  docs/ru/sql-reference/aggregate-functions/reference/kolmogorovsmirnovtest.md
  docs/ru/sql-reference/aggregate-functions/reference/uniqhll12.md
  docs/ru/sql-reference/statements/select/from.md
  docs/ru/sql-reference/table-functions/remote.md
  docs/ru/sql-reference/table-functions/url.md
  docs/zh/development/build-cross-osx.md
  docs/zh/engines/database-engines/atomic.md
  docs/zh/engines/table-engines/mergetree-family/replication.md
  docs/zh/faq/general/index.md
  docs/zh/faq/index.md
  docs/zh/faq/integration/index.md
  docs/zh/faq/operations/index.md
  docs/zh/faq/terms_translation_zh.md
  docs/zh/faq/use-cases/index.md
  docs/zh/guides/improving-query-performance/skipping-indexes.md
  docs/zh/guides/improving-query-performance/sparse-primary-indexes.md
  docs/zh/interfaces/formats.md
  docs/zh/operations/clickhouse-keeper.md
  docs/zh/operations/system-tables/mutations.md
  docs/zh/operations/tips.md
  docs/zh/sql-reference/aggregate-functions/reference/uniqhll12.md
  docs/zh/sql-reference/functions/json-functions.md
  docs/zh/sql-reference/statements/revoke.md
  docs/zh/sql-reference/statements/select/from.md
  docs/zh/sql-reference/statements/select/index.md
  docs/zh/whats-new/roadmap.md
  docs/zh/whats-new/security-changelog.md
Labels: pr-documentation, can be tested

#74405 Revert "CI: Remove hdfs from Integration tests"
  ci/workflows/defs.py
  docker/images.json
  docker/test/integration/kerberized_hadoop/Dockerfile
  tests/ci/integration_test_images.py
  tests/ci/tests/docker_images_for_tests.json
  tests/integration/README.md
  tests/integration/compose/docker_compose_hdfs.yml
  tests/integration/compose/docker_compose_kerberized_hdfs.yml
  tests/integration/conftest.py
  tests/integration/helpers/cluster.py
  tests/integration/helpers/hdfs_api.py
  tests/integration/helpers/s3_tools.py
  tests/integration/test_allowed_url_from_config/configs/config_for_redirect.xml
  tests/integration/test_allowed_url_from_config/test.py
  tests/integration/test_disk_types/configs/storage_amd.xml
  tests/integration/test_disk_types/test.py
  tests/integration/test_endpoint_macro_substitution/configs/macros.xml
  tests/integration/test_endpoint_macro_substitution/configs/storage.xml
  tests/integration/test_endpoint_macro_substitution/test.py
  tests/integration/test_keeper_disks/configs/enable_keeper.xml
  tests/integration/test_keeper_disks/configs/enable_keeper_snapshot.xml
  tests/integration/test_keeper_disks/test.py
  tests/integration/test_log_family_hdfs/__init__.py
  tests/integration/test_log_family_hdfs/configs/storage_conf.xml
  tests/integration/test_log_family_hdfs/test.py
  tests/integration/test_merge_tree_hdfs/__init__.py
  tests/integration/test_merge_tree_hdfs/configs/config.d/storage_conf.xml
  tests/integration/test_merge_tree_hdfs/test.py
  tests/integration/test_redirect_url_storage/__init__.py
  tests/integration/test_redirect_url_storage/configs/named_collections.xml
  tests/integration/test_redirect_url_storage/configs/users.xml
  tests/integration/test_redirect_url_storage/test.py
  tests/integration/test_storage_azure_blob_storage/test.py
  tests/integration/test_storage_hdfs/__init__.py
  tests/integration/test_storage_hdfs/configs/cluster.xml
  tests/integration/test_storage_hdfs/configs/macro.xml
  tests/integration/test_storage_hdfs/configs/schema_cache.xml
  tests/integration/test_storage_hdfs/test.py
  tests/integration/test_storage_iceberg/configs/config.d/named_collections.xml
  tests/integration/test_storage_iceberg/test.py
Labels: pr-not-for-changelog

#74253 Improve clarity of `docs/en/sql-reference/syntax`
  docs/en/sql-reference/syntax.md
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-documentation, can be tested

#74394 CI: Support for preliminary pipeline checks in praktika
  ci/jobs/scripts/prechecks/pr_description.py
  ci/jobs/scripts/prechecks/trusted.py
  ci/praktika/_environment.py
  ci/praktika/info.py
  ci/praktika/native_jobs.py
  ci/praktika/result.py
  ci/praktika/settings.py
  ci/settings/settings.py
Labels: pr-not-for-changelog

#74413 Revert "Revert "CI: Remove hdfs from Integration tests""
  ci/workflows/defs.py
  docker/images.json
  docker/test/integration/kerberized_hadoop/Dockerfile
  tests/ci/integration_test_images.py
  tests/ci/tests/docker_images_for_tests.json
  tests/integration/README.md
  tests/integration/compose/docker_compose_hdfs.yml
  tests/integration/compose/docker_compose_kerberized_hdfs.yml
  tests/integration/conftest.py
  tests/integration/helpers/cluster.py
  tests/integration/helpers/hdfs_api.py
  tests/integration/helpers/s3_tools.py
  tests/integration/test_allowed_url_from_config/configs/config_for_redirect.xml
  tests/integration/test_allowed_url_from_config/test.py
  tests/integration/test_disk_types/configs/storage_amd.xml
  tests/integration/test_disk_types/test.py
  tests/integration/test_endpoint_macro_substitution/configs/macros.xml
  tests/integration/test_endpoint_macro_substitution/configs/storage.xml
  tests/integration/test_endpoint_macro_substitution/test.py
  tests/integration/test_keeper_disks/configs/enable_keeper.xml
  tests/integration/test_keeper_disks/configs/enable_keeper_snapshot.xml
  tests/integration/test_keeper_disks/test.py
  tests/integration/test_log_family_hdfs/__init__.py
  tests/integration/test_log_family_hdfs/configs/storage_conf.xml
  tests/integration/test_log_family_hdfs/test.py
  tests/integration/test_merge_tree_hdfs/__init__.py
  tests/integration/test_merge_tree_hdfs/configs/config.d/storage_conf.xml
  tests/integration/test_merge_tree_hdfs/test.py
  tests/integration/test_redirect_url_storage/__init__.py
  tests/integration/test_redirect_url_storage/configs/named_collections.xml
  tests/integration/test_redirect_url_storage/configs/users.xml
  tests/integration/test_redirect_url_storage/test.py
  tests/integration/test_storage_azure_blob_storage/test.py
  tests/integration/test_storage_hdfs/__init__.py
  tests/integration/test_storage_hdfs/configs/cluster.xml
  tests/integration/test_storage_hdfs/configs/macro.xml
  tests/integration/test_storage_hdfs/configs/schema_cache.xml
  tests/integration/test_storage_hdfs/test.py
  tests/integration/test_storage_iceberg/configs/config.d/named_collections.xml
  tests/integration/test_storage_iceberg/test.py
Labels: pr-not-for-changelog

#74409 Unflake `test_non_default_compression`
  tests/integration/test_non_default_compression/test.py
Labels: pr-not-for-changelog

#74342 `OPTIMIZE TABLE`: Allow specifying `FORCE` alternatively to `FINAL`
  docs/en/sql-reference/statements/optimize.md
  src/Parsers/CommonParsers.h
  src/Parsers/ParserOptimizeQuery.cpp
  tests/queries/0_stateless/03306_optimize_table_force_keyword.reference
  tests/queries/0_stateless/03306_optimize_table_force_keyword.sql
Labels: pr-improvement

#73535 Fix segfault while creating a dictionary with function
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  tests/queries/0_stateless/03290_dictionary_assert_on_function.reference
  tests/queries/0_stateless/03290_dictionary_assert_on_function.sql
Labels: pr-bugfix, pr-must-backport

#74289 fix a possibly loop in detached_tables
  src/Storages/System/StorageSystemDetachedTables.cpp
  tests/queries/0_stateless/03172_system_detached_tables_no_loop.reference
  tests/queries/0_stateless/03172_system_detached_tables_no_loop.sql
Labels: pr-bugfix, can be tested

#74423 fix mdx issue
  docs/en/engines/table-engines/integrations/azureBlobStorage.md
Labels: pr-documentation, can be tested

#74395 Add address to socket errors
  base/poco/Net/src/SocketImpl.cpp
Labels: pr-not-for-changelog

#74205 Fix Logical error with suspicious LowCardinality: Function toInt256 with Null argument and default implementation for Nulls is expected to return Nullable result, got Int256
  src/Functions/IFunction.cpp
  tests/queries/0_stateless/03311_issue_72265.reference
  tests/queries/0_stateless/03311_issue_72265.sql
Labels: pr-not-for-changelog, bug-unreleased

#74448 fix mdx & for upgrade
  docs/en/sql-reference/syntax.md
Labels: pr-documentation, can be tested

#74371 tests: fix test_store_cleanup flakiness
  tests/integration/test_store_cleanup/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#73956 Improve usability of `Merge` tables
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Formats/ReadSchemaUtils.cpp
  src/Interpreters/Aggregator.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Interpreters/InterpreterInsertQuery.h
  src/Interpreters/addMissingDefaults.cpp
  src/Interpreters/addMissingDefaults.h
  src/Processors/QueryPlan/ExpressionStep.h
  src/Processors/Transforms/buildPushingToViewsChain.cpp
  src/Storages/ColumnsDescription.cpp
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMerge.h
  src/TableFunctions/TableFunctionMerge.cpp
  tests/integration/test_partition/test.py
  tests/queries/0_stateless/00717_merge_and_distributed.sql
  tests/queries/0_stateless/02024_merge_regexp_assert.sql
  tests/queries/0_stateless/02522_different_types_in_storage_merge.sql
  tests/queries/0_stateless/02763_row_policy_storage_merge.reference
  tests/queries/0_stateless/02763_row_policy_storage_merge.sql.j2
  tests/queries/0_stateless/02918_optimize_count_for_merge_tables.reference
  tests/queries/0_stateless/03217_filtering_in_storage_merge.reference
  tests/queries/0_stateless/03302_analyzer_join_filter_push_down_bug.reference
  tests/queries/0_stateless/03302_merge_table_structure_unification.reference
  tests/queries/0_stateless/03302_merge_table_structure_unification.sql
Labels: pr-backward-incompatible, 🎅 🎁 gift🎄

#74399 Populate version_history from RunConfig job
  tests/ci/ci.py
  tests/ci/pr_info.py
Labels: pr-must-backport, pr-ci

#74402 Avoid special PR packet processing if PR is disabled
  src/QueryPipeline/RemoteQueryExecutor.cpp
Labels: pr-not-for-changelog, v24.10-must-backport, v24.11-must-backport, v24.12-must-backport

#74473 Disable SSH server (unreleased)
  programs/server/Server.cpp
  tests/integration/test_ssh/test.py.disabled
Labels: pr-not-for-changelog

#73768 Skip metadata_version.txt while restoring parts from backup
  src/Common/ProfileEvents.cpp
  src/Storages/MergeTree/DataPartStorageOnDiskBase.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/integration/test_backup_restore_new/test.py
  tests/integration/test_backup_restore_on_cluster/test.py
  tests/integration/test_backup_restore_s3/test.py
Labels: pr-bugfix

#74245 Fix types for `version` parameter of VersionedCollapsingMergeTree
  docs/en/engines/table-engines/mergetree-family/versionedcollapsingmergetree.md
Labels: pr-documentation, can be tested

#74483 Docs: fix broken hashes
  docs/en/getting-started/example-datasets/github.md
  docs/zh/sql-reference/functions/string-search-functions.md
Labels: pr-documentation, can be tested

#74330 Remove placeholder `Type:` `Default:` from server settings page
  docs/en/operations/server-configuration-parameters/settings.md
Labels: pr-documentation

#74487 Docs: Update `REPLACE` statement section
  docs/en/sql-reference/statements/create/table.md
Labels: pr-documentation, can be tested

#74493 Docs: improve formatting of syntax page
  docs/en/sql-reference/syntax.md
Labels: pr-documentation, can be tested

#74491 Docs: link NOA example to the blogpost
  docs/en/getting-started/example-datasets/noaa.md
Labels: pr-documentation

#74272 Support returning the default Enum type in more aggregate functions
  src/AggregateFunctions/AggregateFunctionAny.cpp
  src/AggregateFunctions/AggregateFunctionAnyHeavy.cpp
  src/AggregateFunctions/AggregateFunctionAnyRespectNulls.cpp
  src/AggregateFunctions/AggregateFunctionSingleValueOrNull.cpp
  src/AggregateFunctions/AggregateFunctionsArgMinArgMax.cpp
  src/AggregateFunctions/AggregateFunctionsMinMax.cpp
  src/AggregateFunctions/SingleValueData.cpp
  src/AggregateFunctions/SingleValueData.h
  tests/queries/0_stateless/03302_any_enum_aggregation.reference
  tests/queries/0_stateless/03302_any_enum_aggregation.sql
Labels: pr-improvement

#74415 Docs for setting `enable_max_bytes_limit_for_min_age_to_force_merge`
  docs/en/operations/settings/merge-tree-settings.md
Labels: pr-documentation, can be tested

#74494 Remove `LRUHashMap` - doesn't seem to be used anywhere
  src/Common/HashTable/HashMap.h
  src/Common/HashTable/HashTable.h
  src/Common/HashTable/LRUHashMap.h
  src/Common/examples/CMakeLists.txt
  src/Common/examples/lru_hash_map_perf.cpp
  src/Common/tests/gtest_lru_hash_map.cpp
  src/Dictionaries/CacheDictionaryStorage.h
Labels: pr-not-for-changelog

#73294 Make MergerMutator more customizable
  src/CMakeLists.txt
  src/Storages/CMakeLists.txt
  src/Storages/MergeTree/CMakeLists.txt
  src/Storages/MergeTree/Compaction/CompactionStatistics.cpp
  src/Storages/MergeTree/Compaction/CompactionStatistics.h
  src/Storages/MergeTree/Compaction/ConstructFuturePart.cpp
  src/Storages/MergeTree/Compaction/ConstructFuturePart.h
  src/Storages/MergeTree/Compaction/MergePredicates/DistributedMergePredicate.cpp
  src/Storages/MergeTree/Compaction/MergePredicates/DistributedMergePredicate.h
  src/Storages/MergeTree/Compaction/MergePredicates/IMergePredicate.h
  src/Storages/MergeTree/Compaction/MergePredicates/MergeTreeMergePredicate.cpp
  src/Storages/MergeTree/Compaction/MergePredicates/MergeTreeMergePredicate.h
  src/Storages/MergeTree/Compaction/MergePredicates/ReplicatedMergeTreeMergePredicate.cpp
  src/Storages/MergeTree/Compaction/MergePredicates/ReplicatedMergeTreeMergePredicate.h
  src/Storages/MergeTree/Compaction/MergeSelectorApplier.cpp
  src/Storages/MergeTree/Compaction/MergeSelectorApplier.h
  src/Storages/MergeTree/Compaction/MergeSelectors/AllMergeSelector.cpp
  src/Storages/MergeTree/Compaction/MergeSelectors/AllMergeSelector.h
  src/Storages/MergeTree/Compaction/MergeSelectors/IMergeSelector.h
  src/Storages/MergeTree/Compaction/MergeSelectors/MergeSelectorFactory.cpp
  src/Storages/MergeTree/Compaction/MergeSelectors/MergeSelectorFactory.h
  src/Storages/MergeTree/Compaction/MergeSelectors/SimpleMergeSelector.cpp
  src/Storages/MergeTree/Compaction/MergeSelectors/SimpleMergeSelector.h
  src/Storages/MergeTree/Compaction/MergeSelectors/TTLMergeSelector.cpp
  src/Storages/MergeTree/Compaction/MergeSelectors/TTLMergeSelector.h
  src/Storages/MergeTree/Compaction/MergeSelectors/TrivialMergeSelector.cpp
  src/Storages/MergeTree/Compaction/MergeSelectors/TrivialMergeSelector.h
  src/Storages/MergeTree/Compaction/MergeSelectors/registerMergeSelectors.cpp
  src/Storages/MergeTree/Compaction/MergeSelectors/registerMergeSelectors.h
  src/Storages/MergeTree/Compaction/PartProperties.cpp
  src/Storages/MergeTree/Compaction/PartProperties.h
  src/Storages/MergeTree/Compaction/PartsCollectors/Common.cpp
  src/Storages/MergeTree/Compaction/PartsCollectors/Common.h
  src/Storages/MergeTree/Compaction/PartsCollectors/IPartsCollector.h
  src/Storages/MergeTree/Compaction/PartsCollectors/MergeTreePartsCollector.cpp
  src/Storages/MergeTree/Compaction/PartsCollectors/MergeTreePartsCollector.h
  src/Storages/MergeTree/Compaction/PartsCollectors/ReplicatedMergeTreePartsCollector.cpp
  src/Storages/MergeTree/Compaction/PartsCollectors/ReplicatedMergeTreePartsCollector.h
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/MergeSelectors/CMakeLists.txt
  src/Storages/MergeTree/MergeSelectors/MergeSelector.h
  src/Storages/MergeTree/MergeSelectors/TTLMergeSelector.cpp
  src/Storages/MergeTree/MergeSelectors/TTLMergeSelector.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/MergeTree/MutateFromLogEntryTask.cpp
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/MergeTree/registerStorageMergeTree.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/examples/merge_selector.cpp
  src/Storages/examples/merge_selector2.cpp
  tests/queries/0_stateless/00029_test_zookeeper_optimize_exception.sh
Labels: pr-not-for-changelog

#74513 Recursive CTEs require the new analyzer
  docs/en/sql-reference/statements/select/with.md
Labels: pr-documentation, can be tested

#74511 Fix formatting and broken links on example page
  docs/en/getting-started/example-datasets/github.md
Labels: pr-documentation, can be tested

#73700 Force to use normal projection
  src/Processors/QueryPlan/Optimizations/optimizeUseNormalProjection.cpp
  tests/queries/0_stateless/01710_minmax_count_projection.reference
  tests/queries/0_stateless/01710_minmax_count_projection.sql
  tests/queries/0_stateless/03290_force_normal_projection.reference
  tests/queries/0_stateless/03290_force_normal_projection.sql
Labels: pr-bugfix, can be tested

#74522 Docs: Point to KB article about verification errors
  docs/en/getting-started/install.md
Labels: pr-documentation

#74407 remove existing broken hashes from docs_check (htmltest)
  tests/ci/docs_check.py
  tests/ci/pr_info.py
Labels: can be tested, pr-ci

#74531 link fixes for docusaurus 3
  docs/ru/sql-reference/aggregate-functions/reference/quantile.md
  docs/zh/faq/general/why-clickhouse-is-so-fast.md
  docs/zh/faq/operations/delete-old-data.md
  docs/zh/operations/settings/settings.md
Labels: pr-documentation, can be tested
