Repository ClickHouse/ClickHouse, pull requests merged in 2025-08, with the labels that each got.

#84732 Reduce contention on storage lock in Keeper
  src/Coordination/KeeperServer.cpp
  src/Coordination/KeeperStateMachine.cpp
  src/Coordination/KeeperStateMachine.h
  src/Coordination/KeeperStorage.cpp
  src/Coordination/KeeperStorage.h
  src/Coordination/SessionExpiryQueue.cpp
  src/Coordination/SessionExpiryQueue.h
Labels: pr-improvement, pr-must-backport

#83300 Fix error with duplicate subqueries in FuseFunctionsPass
  src/Analyzer/Passes/FuseFunctionsPass.cpp
  src/Analyzer/ValidationUtils.cpp
  tests/queries/0_stateless/03548_optimize_syntax_fuse_functions_clash.reference
  tests/queries/0_stateless/03548_optimize_syntax_fuse_functions_clash.sql
Labels: pr-bugfix

#84800 Docs: update toCustomWeek.cpp link
  src/Functions/toCustomWeek.cpp
Labels: pr-documentation

#84852 Sync Private
  src/Common/CurrentMetrics.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
Labels: pr-not-for-changelog

#84849 Test index: Fix fuzzer crash with empty inputs
  src/Interpreters/ITokenExtractor.cpp
  tests/queries/0_stateless/02346_text_index_bug84805.reference
  tests/queries/0_stateless/02346_text_index_bug84805.sql
  tests/queries/0_stateless/03403_function_tokens.reference
Labels: pr-bugfix, 🍃 green ci 🌿

#83162 Use Analyzer to generate actions from default expression
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Interpreters/inplaceBlockConversions.cpp
  tests/queries/0_stateless/01513_defaults_on_defaults_no_column.reference
  tests/queries/0_stateless/01513_defaults_on_defaults_no_column.sql
  tests/queries/0_stateless/03560_new_analyzer_default_expression.reference
  tests/queries/0_stateless/03560_new_analyzer_default_expression.sql
Labels: pr-backward-incompatible, can be tested, pr-synced-to-cloud, analyzer

#84659 Add snapshot version virtual column to data lakes
  src/Storages/ObjectStorage/DataLakes/DeltaLake/TableSnapshot.cpp
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/IObjectIterator.h
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  src/Storages/VirtualColumnUtils.cpp
  src/Storages/VirtualColumnUtils.h
  tests/queries/0_stateless/03441_deltalake_clickhouse_virtual_columns.reference
  tests/queries/0_stateless/03441_deltalake_clickhouse_virtual_columns.sql
Labels: pr-improvement

#84929 Sync some changes
  src/Core/NamesAndTypes.cpp
  src/Core/NamesAndTypes.h
  src/IO/S3/S3Capabilities.cpp
  src/IO/S3/S3Capabilities.h
  src/IO/S3AuthSettings.cpp
  src/IO/S3AuthSettings.h
  src/IO/S3RequestSettings.cpp
  src/IO/S3RequestSettings.h
  src/IO/S3Settings.cpp
  src/IO/S3Settings.h
  src/Storages/ObjectStorage/DataLakes/DataLakeStorageSettings.cpp
  src/Storages/ObjectStorage/DataLakes/DataLakeStorageSettings.h
  src/Storages/prepareReadingFromFormat.cpp
  src/Storages/prepareReadingFromFormat.h
Labels: pr-not-for-changelog

#84943 Update README.md
  README.md
Labels: can be tested

#84933 Fix lightweight updates after upgrade
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_lightweight_updates/test.py
Labels: pr-bugfix, pr-must-backport-cloud, v25.7-must-backport

#84846 Fix ambiguity when parsing heredocs
  programs/server/play.html
  src/Parsers/CMakeLists.txt
  src/Parsers/Lexer.cpp
  src/Parsers/LexerStandalone.h
  tests/queries/0_stateless/01948_heredoc.reference
  tests/queries/0_stateless/01948_heredoc.sql
  tests/queries/0_stateless/03580_heredoc_ambiguity.reference
  tests/queries/0_stateless/03580_heredoc_ambiguity.sql
Labels: pr-backward-incompatible

#84946 Fix memory tracking drift from background schedule pool and executor
  src/Core/BackgroundSchedulePool.cpp
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.cpp
Labels: pr-bugfix

#84578 ci: disable LTO for slow non-production builds
  ci/jobs/build_clickhouse.py
Labels: pr-not-for-changelog, 🚀 Fast CI 🥒

#84955 Ignore UNKNOWN_FUNCTION for UDFs during querying system.functions
  src/Storages/System/StorageSystemFunctions.cpp
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#84872 Update atomic.md
  docs/en/engines/database-engines/atomic.md
Labels: pr-documentation, can be tested

#84580 tests: optimize 03300_merge_parts_metric
  tests/queries/0_stateless/03300_merge_parts_metric.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#84709 Text index: add internal bloom filter layer
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
  programs/fst-dump-tree/FstDumpTree.cpp
  src/Common/FST.cpp
  src/Core/Settings.cpp
  src/Interpreters/BloomFilterHash.h
  src/Interpreters/GinFilter.cpp
  src/Interpreters/GinFilter.h
  src/Storages/MergeTree/GinIndexStore.cpp
  src/Storages/MergeTree/GinIndexStore.h
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexGin.cpp
  src/Storages/MergeTree/MergeTreeIndexGin.h
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/MergeTree/MutateTask.cpp
  tests/queries/0_stateless/02346_text_index_creation.reference
  tests/queries/0_stateless/02346_text_index_creation.sql
Labels: pr-not-for-changelog

#84644 Default enable rescoring optimization in ANN search
  docs/en/engines/table-engines/mergetree-family/annindexes.md
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Processors/QueryPlan/Optimizations/optimizePrewhere.cpp
  src/Processors/QueryPlan/Optimizations/useVectorSearch.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
  tests/queries/0_stateless/02354_vector_search_rescoring_and_prewhere.reference
  tests/queries/0_stateless/02354_vector_search_rescoring_and_prewhere.sql
Labels: pr-not-for-changelog

#84966 Allow using simdjson on unsupported architectures
  contrib/simdjson-cmake/CMakeLists.txt
  src/Common/JSONParsers/SimdJSONParser.cpp
  tests/queries/0_stateless/03590_simdjson_fallback.reference
  tests/queries/0_stateless/03590_simdjson_fallback.sh
Labels: pr-improvement, submodule changed

#84969 tests: fix test_dictionaries_all_layouts_separate_sources flakiness
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#84978 `for i in *.oldanalyzer.reference; do diff -q -s $i ${i/oldanalyzer./} >/dev/null && echo $i; done | xargs git rm`
  tests/queries/0_stateless/00849_multiple_comma_join_2.oldanalyzer.reference
  tests/queries/0_stateless/01593_functions_in_order_by.oldanalyzer.reference
  tests/queries/0_stateless/02149_read_in_order_fixed_prefix.oldanalyzer.reference
  tests/queries/0_stateless/02165_insert_from_infile.oldanalyzer.reference
  tests/queries/0_stateless/02264_format_insert_compression.oldanalyzer.reference
  tests/queries/0_stateless/02264_format_insert_infile.oldanalyzer.reference
  tests/queries/0_stateless/02269_create_table_with_collation.oldanalyzer.reference
  tests/queries/0_stateless/02398_subquery_where_pushdown_and_limit_offset.oldanalyzer.reference
  tests/queries/0_stateless/02421_explain_subquery.oldanalyzer.reference
  tests/queries/0_stateless/02421_exponential_join_rewrite_21557.oldanalyzer.reference
  tests/queries/0_stateless/02576_rewrite_array_exists_to_has.oldanalyzer.reference
  tests/queries/0_stateless/02868_distinct_to_count_optimization.oldanalyzer.reference
  tests/queries/0_stateless/02882_formatQuery.oldanalyzer.reference
  tests/queries/0_stateless/02889_system_drop_format_schema.oldanalyzer.reference
  tests/queries/0_stateless/02893_system_drop_schema_cache_format.oldanalyzer.reference
  tests/queries/0_stateless/03289_explain_syntax_statistics.oldanalyzer.reference
Labels: pr-ci

#84877 Limit Keeper log entry cache size by number of entries
  src/Coordination/Changelog.cpp
  src/Coordination/Changelog.h
  src/Coordination/CoordinationSettings.cpp
  src/Coordination/KeeperStateManager.cpp
  src/Coordination/tests/gtest_coordination_changelog.cpp
Labels: pr-improvement, pr-must-backport

#84967 Docs: register documentation for toStartOfMillisecond and fromDaysSinceYearZero
  src/Functions/fromDaysSinceYearZero.cpp
  src/Functions/toStartOfSubsecond.cpp
  src/Functions/today.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#84880 Split Iceberg integration tests
  tests/integration/helpers/iceberg_utils.py
  tests/integration/test_storage_iceberg/test.py
  tests/integration/test_storage_iceberg_schema_evolution/__init__.py
  tests/integration/test_storage_iceberg_schema_evolution/configs/config.d/cluster.xml
  tests/integration/test_storage_iceberg_schema_evolution/configs/config.d/named_collections.xml
  tests/integration/test_storage_iceberg_schema_evolution/configs/users.d/users.xml
  tests/integration/test_storage_iceberg_schema_evolution/test.py
Labels: pr-not-for-changelog

#84674 We should retry starting sccache server before cmake
  ci/jobs/build_clickhouse.py
Labels: pr-ci

#83884 Calculate serialized key columnarly when group by multiple string or number columns to improve performance
  src/Columns/ColumnString.cpp
  src/Columns/ColumnString.h
  src/Columns/IColumn.cpp
  src/Columns/IColumn.h
  src/Common/ColumnsHashing.h
Labels: pr-performance

#84985 Fix flaky test_backup_restore_new/test_cancel_backup.py
  tests/integration/test_backup_restore_new/test_cancel_backup.py
Labels: pr-not-for-changelog, can be tested, 🍃 green ci 🌿

#85032 CI: Disable scrapping of minio_audit_log for TSAN
  ci/jobs/scripts/clickhouse_proc.py
Labels: pr-not-for-changelog

#85033 CI: Disable scrapping of minio_audit_log for TSAN
  ci/jobs/scripts/clickhouse_proc.py
Labels: pr-not-for-changelog

#85020 Cleanup test
  tests/integration/test_storage_delta/test.py
Labels: pr-not-for-changelog

#84324 make canKeepAlive thread safe
  src/Compression/CompressedReadBuffer.h
  src/IO/ReadBuffer.cpp
  src/IO/ReadBuffer.h
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Interpreters/InterpreterInsertQuery.h
  src/Interpreters/executeQuery.cpp
  src/Interpreters/executeQuery.h
  src/Parsers/ASTInsertQuery.h
  src/Processors/Formats/IInputFormat.cpp
  src/Processors/Formats/IInputFormat.h
  src/Processors/Formats/Impl/ParallelParsingInputFormat.cpp
  src/Processors/Formats/Impl/ParallelParsingInputFormat.h
  src/Processors/ISource.cpp
  src/Processors/Transforms/getSourceFromASTInsertQuery.cpp
  src/Server/HTTP/HTTPServerRequest.cpp
  src/Server/HTTP/HTTPServerRequest.h
  src/Server/HTTP/sendExceptionToHTTPClient.cpp
  src/Server/HTTPHandler.cpp
  src/Server/InterserverIOHTTPHandler.cpp
  src/Server/PostgreSQLHandler.cpp
  src/Server/PrometheusRequestHandler.cpp
  tests/queries/0_stateless/00408_http_keep_alive.reference
  tests/queries/0_stateless/00408_http_keep_alive.sh
  tests/queries/0_stateless/02290_client_insert_cancel.sh
  tests/queries/0_stateless/02726_async_insert_flush_queue.reference
  tests/queries/0_stateless/02726_async_insert_flush_queue.sql
  tests/queries/0_stateless/03545_progress_header_goes_first.sh
Labels: pr-ci

#82231 Docs: move Geo functions docs to source code
  src/Functions/geohashDecode.cpp
  src/Functions/geohashEncode.cpp
  src/Functions/geohashesInBox.cpp
  src/Functions/greatCircleDistance.cpp
  src/Functions/pointInEllipses.cpp
  src/Functions/pointInPolygon.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#84178 Add new function `nowInBlock64`
  docs/en/sql-reference/functions/date-time-functions.md
  src/Functions/now64.cpp
  src/Functions/nowInBlock.cpp
  src/Functions/nowInBlock64.cpp
  src/Functions/nowSubsecond.cpp
  src/Functions/nowSubsecond.h
  tests/queries/0_stateless/02372_nowInBlock.reference
  tests/queries/0_stateless/02372_nowInBlock.sql
  tests/queries/0_stateless/03567_nowInBlock64.reference
  tests/queries/0_stateless/03567_nowInBlock64.sql
Labels: pr-feature, can be tested

#84693 Hopefully fix flaky test_refreshable_mv/test.py::test_backup_outer_table
  tests/integration/test_refreshable_mv/test.py
Labels: pr-ci

#85008 Allow to use bigger timeouts for zookeeper
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Server/KeeperTCPHandler.cpp
  src/Server/KeeperTCPHandler.h
Labels: pr-not-for-changelog

#84936 ci: speed up integration test discovery (10min -> ~10-20sec)
  tests/ci/integration_tests_runner.py
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#84821 Fix iceberg reading by field ids for struct types
  src/Formats/FormatFilterInfo.cpp
  src/Formats/FormatFilterInfo.h
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.h
  src/Processors/Formats/Impl/ArrowFieldIndexUtil.h
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.h
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/SchemaProcessor.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/SchemaProcessor.h
  tests/integration/test_storage_iceberg_schema_evolution/test.py
  tests/queries/0_stateless/03581_iceberg_struct_fields_ids.reference
  tests/queries/0_stateless/03581_iceberg_struct_fields_ids.sql
  tests/queries/0_stateless/data_minio/field_ids_struct_test/data/00000-1-7cad83a6-af90-42a9-8a10-114cbc862a42-0-00001.parquet
  tests/queries/0_stateless/data_minio/field_ids_struct_test/metadata/ec467367-15a4-4610-8ea8-cf76797afb03-m0.avro
  tests/queries/0_stateless/data_minio/field_ids_struct_test/metadata/snap-2512638186869817292-1-ec467367-15a4-4610-8ea8-cf76797afb03.avro
  tests/queries/0_stateless/data_minio/field_ids_struct_test/metadata/v1.metadata.json
Labels: pr-improvement, v25.7-must-backport

#84806 Align command-line options for clickhouse-format with clickhouse-client
  docs/en/operations/utilities/clickhouse-format.md
  programs/format/Format.cpp
  src/Client/ClientBase.cpp
  tests/queries/0_stateless/01316_create_user_syntax_hilite.reference
  tests/queries/0_stateless/01316_create_user_syntax_hilite.sh
  tests/queries/0_stateless/03462_highlight_like_in_show_queries.reference
  tests/queries/0_stateless/03462_highlight_like_in_show_queries.sh
  tests/queries/0_stateless/03527_format_insert_partition.reference
  tests/queries/0_stateless/03527_format_insert_partition.sh
  tests/queries/0_stateless/03572_highlight_regexp_replace.reference
  tests/queries/0_stateless/03572_highlight_regexp_replace.sh
  tests/queries/0_stateless/03591_client_hilite_hex_highlight.expect
  tests/queries/0_stateless/03591_client_hilite_hex_highlight.reference
Labels: pr-improvement, can be tested

#85028 Implement missing APIs for DiskEncrypted
  src/Disks/DiskEncrypted.cpp
  src/Disks/DiskEncrypted.h
Labels: pr-bugfix

#85068 Add missing skip_unavailable_shards=1 for Cloud Memory (host) dashboard
  src/Storages/System/StorageSystemDashboards.cpp
Labels: pr-not-for-changelog

#85043 Iceberg: better exception if column not found in partition
  src/Storages/ObjectStorage/DataLakes/Iceberg/Utils.cpp
  tests/queries/0_stateless/03581_iceberg_parse_partition.reference
  tests/queries/0_stateless/03581_iceberg_parse_partition.sql
Labels: pr-not-for-changelog

#85071 Optimize materialization of constants
  src/Columns/ColumnConst.cpp
Labels: pr-performance

#84900 Text index: add tests for `searchAny/searchAll(..., tokens(...))`
  docs/en/sql-reference/functions/string-search-functions.md
  tests/queries/0_stateless/02346_text_index_function_search.reference
  tests/queries/0_stateless/02346_text_index_function_search.sql
  tests/queries/0_stateless/03403_function_tokens.reference
  tests/queries/0_stateless/03403_function_tokens.sql
Labels: pr-not-for-changelog

#85074 CI: Checkout submodules with xargs
  ci/jobs/build_clickhouse.py
Labels: pr-not-for-changelog

#84802 Make error messages more accurate in CI
  ci/jobs/scripts/clickhouse_proc.py
Labels: pr-not-for-changelog

#84614 Follow-up to #84311
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.cpp
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.h
Labels: pr-not-for-changelog

#85089 Reduce FormatSettings constructors calls (micro optimization)
  src/AggregateFunctions/AggregateFunctionGroupArrayInsertAt.cpp
  src/AggregateFunctions/AggregateFunctionSumMap.cpp
  src/Analyzer/Utils.cpp
  src/Storages/KVStorageUtils.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/MergeTreeIndexMinMax.cpp
Labels: pr-not-for-changelog

#85030 Check if correlated subquery is used in distributed context
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Analyzer/ValidationUtils.cpp
  src/Analyzer/ValidationUtils.h
  tests/queries/0_stateless/03576_analyzer_distributed_correlated_subquery.reference
  tests/queries/0_stateless/03576_analyzer_distributed_correlated_subquery.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#85080 Add introspection if `execute_spark_query` failed
  tests/integration/test_database_delta/test.py
Labels: pr-not-for-changelog

#84776 add format string column to `system.errors`
  src/Common/ErrorCodes.cpp
  src/Common/ErrorCodes.h
  src/Common/Exception.cpp
  src/Common/Exception.h
  src/Common/ZooKeeper/KeeperException.h
  src/Storages/System/StorageSystemErrors.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/03312_system_errors_last_error.reference
  tests/queries/0_stateless/03312_system_errors_last_error.sql
Labels: pr-improvement

#85125 Improve error message for functions unavailable in FIPS mode
  programs/keeper/keeper_main.cpp
  programs/main.cpp
  src/Common/Crypto/OpenSSLInitializer.cpp
  src/Common/Crypto/OpenSSLInitializer.h
  src/Functions/FunctionsStringHashFixedString.cpp
Labels: pr-not-for-changelog

#85123 Fix the `--order` parameter in `clickhouse-test`
  tests/clickhouse-test
Labels: pr-ci

#79859 Speed-up `DISTINCT` window aggregates and fix `sumDistinct` computation bug
  src/AggregateFunctions/Combinators/AggregateFunctionDistinct.h
  src/Functions/toDecimalString.cpp
  tests/performance/window_functions_distinct.xml
  tests/queries/0_stateless/01656_sequence_next_node_distinct.reference
  tests/queries/0_stateless/01656_sequence_next_node_distinct.sql
  tests/queries/0_stateless/02676_to_decimal_string.reference
  tests/queries/0_stateless/02676_to_decimal_string.sql
  tests/queries/0_stateless/03447_window_functions_distinct.reference
  tests/queries/0_stateless/03447_window_functions_distinct.sql
  tests/queries/0_stateless/03448_window_functions_distinct_distributed.reference
  tests/queries/0_stateless/03448_window_functions_distinct_distributed.sql
Labels: pr-bugfix, can be tested

#82305 move s3 latency metrics to histograms
  ci/jobs/scripts/check_style/check_cpp.sh
  ci/jobs/scripts/clickhouse_proc.py
  docs/en/operations/server-configuration-parameters/_server_settings_outside_source.md
  docs/en/operations/system-tables/histogram_metrics.md
  docs/en/operations/system-tables/latency_buckets.md
  docs/en/operations/system-tables/latency_log.md
  programs/server/config.xml
  programs/server/config.yaml.example
  src/Common/Histogram.cpp
  src/Common/Histogram.h
  src/Common/LatencyBuckets.cpp
  src/Common/LatencyBuckets.h
  src/Common/SystemLogBase.cpp
  src/IO/AzureBlobStorage/PocoHTTPClient.cpp
  src/IO/AzureBlobStorage/PocoHTTPClient.h
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/LatencyLog.cpp
  src/Interpreters/LatencyLog.h
  src/Interpreters/PeriodicLog.cpp
  src/Interpreters/PeriodicLog.h
  src/Interpreters/SystemLog.cpp
  src/Interpreters/SystemLog.h
  src/Storages/System/StorageSystemLatencyBuckets.cpp
  src/Storages/System/StorageSystemLatencyBuckets.h
  src/Storages/System/attachSystemTables.cpp
  tests/integration/test_MemoryTracking/configs/no_system_log.xml
  tests/integration/test_backup_restore_new/test.py
  tests/integration/test_config_xml_full/configs/config.d/latency_log.xml
  tests/integration/test_config_xml_full/test.py
  tests/integration/test_config_xml_main/configs/config.d/latency_log.yaml
  tests/integration/test_config_xml_main/test.py
  tests/integration/test_config_xml_yaml_mix/configs/config.d/latency_log.xml
  tests/integration/test_config_xml_yaml_mix/test.py
  tests/integration/test_config_yaml_full/configs/config.d/latency_log.yaml
  tests/integration/test_config_yaml_full/test.py
  tests/integration/test_config_yaml_main/configs/config.d/latency_log.xml
  tests/integration/test_config_yaml_main/test.py
  tests/integration/test_input_format_parallel_parsing_memory_tracking/configs/conf.xml
  tests/integration/test_memory_limit/configs/async_metrics_no.xml
  tests/integration/test_s3_latency_log/test.py
  tests/integration/test_system_flush_logs/test.py
  tests/integration/test_system_logs_recreate/test.py
  tests/performance/scripts/config/config.d/zzz-perf-comparison-tweaks-config.xml
Labels: pr-backward-incompatible

#85064 Fix double-free in `AzureIteratorAsync`
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  tests/queries/0_stateless/03582_azure_double_free.reference
  tests/queries/0_stateless/03582_azure_double_free.sh
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#84082 [RFC] Intercept `malloc`/`free` and other C-style functions for memory management
  CMakeLists.txt
  contrib/croaring-cmake/CMakeLists.txt
  src/CMakeLists.txt
  src/Common/AllocationInterceptors.cpp
  src/Common/AllocationInterceptors.h
  src/Common/Allocator.cpp
  src/Common/Allocator.h
  src/Common/AllocatorWithMemoryTracking.h
  src/Common/FiberStack.cpp
  src/Common/ThreadPool.cpp
  src/Common/clickhouse_malloc.cpp
  src/Common/examples/CMakeLists.txt
  src/Common/memory.h
  src/Common/tests/gtest_allocation_interceptors.cpp
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.cpp
  src/Storages/MergeTree/MergeTreeBackgroundExecutor.cpp
  tests/queries/0_stateless/02003_memory_limit_in_client.sh
Labels: pr-improvement, submodule changed

#85130 Iceberg: support writing version-hint file
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergWrites.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergWrites.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/Utils.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/Utils.h
  tests/integration/test_storage_iceberg/test.py
Labels: pr-improvement

#84764 `encrypt_decrypt`: Support secure ZooKeeper connections
  src/Common/examples/encrypt_decrypt.cpp
  tests/integration/test_config_decryption/configs/client.crt
  tests/integration/test_config_decryption/configs/client.key
  tests/integration/test_config_decryption/configs/ssl_conf.xml
  tests/integration/test_config_decryption/configs/zookeeper_config_with_ssl.xml
  tests/integration/test_config_decryption/test_zk_secure.py
Labels: pr-improvement, can be tested

#85147 Fix segfault in creating iceberg table with empty data
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergWrites.cpp
  tests/integration/test_storage_iceberg/test.py
Labels: pr-not-for-changelog

#84755 Fix starting superfluous internal backups after connection problems
  docs/en/operations/backup.md
  src/Backups/BackupsWorker.cpp
  src/Backups/BackupsWorker.h
  tests/integration/test_backup_restore_new/test.py
Labels: pr-bugfix

#84319 Add function `dateTimeToUUIDv7`
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/en/sql-reference/functions/uuid-functions.md
  src/Functions/README.md
  src/Functions/UUIDv7Utils.cpp
  src/Functions/UUIDv7Utils.h
  src/Functions/dateTimeToUUIDv7.cpp
  src/Functions/generateUUIDv7.cpp
  tests/queries/0_stateless/03570_dateTimeToUUIDv7.reference
  tests/queries/0_stateless/03570_dateTimeToUUIDv7.sql
Labels: pr-feature, can be tested

#85024 Support binary quantization in vector similarity index
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/en/engines/table-engines/mergetree-family/annindexes.md
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/MergeTree/MergeTreeIndexVectorSimilarity.cpp
  src/Storages/MergeTree/MergeTreeIndexVectorSimilarity.h
  tests/queries/0_stateless/02354_vector_search_binary_quantization.reference
  tests/queries/0_stateless/02354_vector_search_binary_quantization.sql
  tests/queries/0_stateless/02354_vector_search_index_creation_negative.reference
  tests/queries/0_stateless/02354_vector_search_index_creation_negative.sql
  tests/queries/0_stateless/02354_vector_search_pre_and_post_filtering.sql
  tests/queries/0_stateless/02354_vector_search_rescoring_and_prewhere.sql
Labels: pr-improvement

#84938 Fix access check for table functions
  src/Storages/ObjectStorage/StorageObjectStorage.cpp
  src/Storages/ObjectStorage/StorageObjectStorage.h
  src/Storages/ObjectStorage/StorageObjectStorageDefinitions.h
  src/Storages/ObjectStorage/registerStorageObjectStorage.cpp
  src/TableFunctions/Hive/TableFunctionHive.cpp
  src/TableFunctions/ITableFunction.cpp
  src/TableFunctions/ITableFunction.h
  src/TableFunctions/ITableFunctionCluster.h
  src/TableFunctions/ITableFunctionXDBC.cpp
  src/TableFunctions/TableFunctionArrowFlight.h
  src/TableFunctions/TableFunctionDictionary.h
  src/TableFunctions/TableFunctionExecutable.cpp
  src/TableFunctions/TableFunctionExplain.cpp
  src/TableFunctions/TableFunctionFile.h
  src/TableFunctions/TableFunctionFileCluster.h
  src/TableFunctions/TableFunctionFormat.cpp
  src/TableFunctions/TableFunctionFuzzJSON.h
  src/TableFunctions/TableFunctionFuzzQuery.h
  src/TableFunctions/TableFunctionGenerateRandom.cpp
  src/TableFunctions/TableFunctionGenerateSeries.cpp
  src/TableFunctions/TableFunctionInput.cpp
  src/TableFunctions/TableFunctionLoop.cpp
  src/TableFunctions/TableFunctionMerge.cpp
  src/TableFunctions/TableFunctionMergeTreeIndex.cpp
  src/TableFunctions/TableFunctionMongoDB.cpp
  src/TableFunctions/TableFunctionMySQL.cpp
  src/TableFunctions/TableFunctionNull.cpp
  src/TableFunctions/TableFunctionNumbers.cpp
  src/TableFunctions/TableFunctionObjectStorage.cpp
  src/TableFunctions/TableFunctionObjectStorage.h
  src/TableFunctions/TableFunctionObjectStorageCluster.cpp
  src/TableFunctions/TableFunctionObjectStorageCluster.h
  src/TableFunctions/TableFunctionPostgreSQL.cpp
  src/TableFunctions/TableFunctionProjection.cpp
  src/TableFunctions/TableFunctionRedis.cpp
  src/TableFunctions/TableFunctionRemote.h
  src/TableFunctions/TableFunctionSQLite.cpp
  src/TableFunctions/TableFunctionTimeSeries.cpp
  src/TableFunctions/TableFunctionTimeSeries.h
  src/TableFunctions/TableFunctionURL.h
  src/TableFunctions/TableFunctionURLCluster.h
  src/TableFunctions/TableFunctionValues.cpp
  src/TableFunctions/TableFunctionView.h
  src/TableFunctions/TableFunctionViewIfPermitted.cpp
  src/TableFunctions/TableFunctionZeros.cpp
  tests/integration/test_storage_azure_blob_storage/test.py
  tests/integration/test_storage_azure_blob_storage/test_cluster.py
Labels: pr-backward-incompatible

#85078 Fuzzing Data Lakes
  programs/client/FuzzLoop.cpp
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.h
  src/Client/BuzzHouse/Generator/FuzzConfig.cpp
  src/Client/BuzzHouse/Generator/FuzzConfig.h
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/RandomSettings.h
  src/Client/BuzzHouse/Generator/SQLCatalog.cpp
  src/Client/BuzzHouse/Generator/SQLCatalog.h
  src/Client/BuzzHouse/Generator/SQLExpression.cpp
  src/Client/BuzzHouse/Generator/SQLFuncs.h
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/SQLTypes.cpp
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Generator/TableSetttings.cpp
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
  tests/casa_del_dolor/dolor.py
  tests/casa_del_dolor/generators.py
  tests/casa_del_dolor/properties.py
Labels: pr-ci

#85208 macos needs lld as a dependency
  docs/en/development/build-osx.md
Labels: pr-documentation, can be tested

#85160 Fix segfault in delta-kernel implementation
  src/Storages/ObjectStorage/DataLakes/DeltaLake/TableSnapshot.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLake/TableSnapshot.h
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.h
  tests/integration/test_storage_delta/test.py
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#85198 keeper-utils: configurable limit for dumping top subtress
  programs/keeper-utils/KeeperUtils.cpp
Labels: pr-not-for-changelog

#85210 Fix Not-ready Set for IN (subquery) inside additional_table_filters expression.
  src/Planner/PlannerJoinTree.cpp
  tests/queries/0_stateless/02346_additional_filters.reference
  tests/queries/0_stateless/02346_additional_filters.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#85202 Docs: correct incorrectly documented data types
  docs/en/sql-reference/aggregate-functions/reference/corrmatrix.md
Labels: pr-documentation

#85199 Integration tests: Split tests into batches based on historical test execution time
  tests/ci/integration_test_check.py
  tests/ci/integration_tests_runner.py
  tests/ci/pr_info.py
Labels: pr-not-for-changelog

#84820 Gracefully fail when querying a delayed remote source
  src/Client/MultiplexedConnections.cpp
  src/Processors/QueryPlan/ReadFromRemote.cpp
  tests/integration/test_delayed_remote_source/__init__.py
  tests/integration/test_delayed_remote_source/configs/clusters.xml
  tests/integration/test_delayed_remote_source/test.py
Labels: pr-bugfix

#84710 Limit disks to search for orphaned parts
  src/Core/SettingsChangesHistory.cpp
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Interpreters/DatabaseCatalog.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/MergeTree/MergeTreeSettings.h
  tests/integration/test_search_orphaned_parts/__init__.py
  tests/integration/test_search_orphaned_parts/configs/storage_conf.xml
  tests/integration/test_search_orphaned_parts/configs/users.xml
  tests/integration/test_search_orphaned_parts/test.py
Labels: pr-improvement, can be tested

#84855 Slightly better test `test_restore_replica`
  tests/integration/test_restore_replica/test.py
Labels: pr-not-for-changelog

#85207 Docs: move hash functions docs to source code part 2
  src/Functions/FunctionsHashingInt.cpp
  src/Functions/FunctionsHashingMurmur.cpp
  src/Functions/jumpConsistentHash.cpp
  src/Functions/kostikConsistentHash.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#85220 Optimize SYSTEM DROP REPLICA query
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Storages/StorageReplicatedMergeTree.h
Labels: pr-bugfix, pr-must-backport

#85201 Disable 01747_system_session_log_long in fips mode
  tests/queries/0_stateless/01747_system_session_log_long.sh
Labels: pr-not-for-changelog

#85159 Avoid Field ctor in QueryLog element.
  src/Columns/IColumn.h
  src/Core/Settings.cpp
  src/IO/AsyncReadCounters.cpp
  src/Interpreters/ProfileEventsExt.cpp
  src/Interpreters/QueryLog.cpp
Labels: pr-ci

#81908 Add enable_add_distinct_to_in_subqueries setting to optimize distributed IN subqueries.
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/buildQueryTreeForShard.cpp
  tests/performance/add_distinct_to_in_clause.xml
  tests/queries/0_stateless/03546_add_distinct_to_in_clause.reference
  tests/queries/0_stateless/03546_add_distinct_to_in_clause.sql
Labels: pr-improvement, can be tested

#85176 Docs: Update FormatFactorySettings.h
  src/Core/FormatFactorySettings.h
Labels: pr-documentation, can be tested

#84421 Improve S3 Retry Strategy for backup and restore
  src/Backups/BackupIO_S3.cpp
  src/Coordination/KeeperSnapshotManagerS3.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Databases/DataLake/GlueCatalog.cpp
  src/Disks/ObjectStorages/S3/diskSettings.cpp
  src/IO/S3/Client.cpp
  src/IO/S3/Client.h
  src/IO/S3/Credentials.cpp
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
  src/IO/S3/tests/gtest_aws_s3_client.cpp
  src/IO/tests/gtest_readbuffer_s3.cpp
  src/IO/tests/gtest_writebuffer_s3.cpp
  tests/integration/test_backup_restore_s3/test.py
Labels: pr-improvement, can be tested

#85333 Reorder N-gram bloom filter parameter descriptions in correct order
  docs/en/engines/table-engines/mergetree-family/mergetree.md
Labels: pr-documentation, can be tested

#85238 Docs: sunset static docs in favour of docs from source code for Date and Time functions
  docs/en/sql-reference/data-types/datetime.md
  docs/en/sql-reference/functions/date-time-functions.md
  docs/en/sql-reference/functions/type-conversion-functions.md
  src/Functions/dateDiff.cpp
  src/Functions/formatDateTime.cpp
  src/Functions/fromModifiedJulianDay.cpp
  src/Functions/toCustomWeek.cpp
  src/Functions/toModifiedJulianDay.cpp
Labels: pr-documentation

#85273 Docs: Some fixups for hash function docs
  src/Functions/FunctionsHashingInt.cpp
  src/Functions/FunctionsHashingMurmur.cpp
  src/Functions/jumpConsistentHash.cpp
  src/Functions/kostikConsistentHash.cpp
Labels: pr-documentation

#85271 Revert "Text index: add internal bloom filter layer"
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
  programs/fst-dump-tree/FstDumpTree.cpp
  src/Common/FST.cpp
  src/Core/Settings.cpp
  src/Interpreters/BloomFilterHash.h
  src/Interpreters/GinFilter.cpp
  src/Interpreters/GinFilter.h
  src/Storages/MergeTree/GinIndexStore.cpp
  src/Storages/MergeTree/GinIndexStore.h
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexGin.cpp
  src/Storages/MergeTree/MergeTreeIndexGin.h
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/MergeTree/MutateTask.cpp
  tests/queries/0_stateless/02346_text_index_creation.reference
  tests/queries/0_stateless/02346_text_index_creation.sql
  tests/queries/0_stateless/02346_text_index_queries.sql
Labels: pr-not-for-changelog

#85107 Mark correlated subqueries support as Beta
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  tests/queries/0_stateless/01095_tpch_like_smoke.sql
  tests/queries/0_stateless/02163_shard_num.reference
  tests/queries/0_stateless/02163_shard_num.sql
  tests/queries/0_stateless/03314_analyzer_resolve_in_parent_scope_4.sql
Labels: pr-improvement

#85325 Integration tests: CI batches - do not distribute skipped tests
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  ci/defs/job_configs.py
  tests/ci/integration_tests_runner.py
Labels: pr-not-for-changelog

#85328 Support partially aggregated metrics
  src/Common/AggregatedMetrics.cpp
  src/Common/AggregatedMetrics.h
  src/Common/tests/gtest_aggregated_metrics.cpp
Labels: pr-feature

#85330 Fix iceberg writes for complex types
  src/Storages/ObjectStorage/DataLakes/Iceberg/Constant.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/Utils.cpp
  tests/integration/test_storage_iceberg/test.py
Labels: pr-bugfix

#85316 Batch removed objects from different disk transaction operations
  src/Disks/ObjectStorages/DiskObjectStorageTransaction.cpp
  src/Disks/ObjectStorages/DiskObjectStorageTransaction.h
Labels: pr-improvement

#71496 Add a tool to simulate, visualize and compare merge selectors
  utils/merge-selector-lab/Chart.js
  utils/merge-selector-lab/EventSimulator.js
  utils/merge-selector-lab/MergeTree.js
  utils/merge-selector-lab/MergeTreeInserter.js
  utils/merge-selector-lab/MergeTreeMerger.js
  utils/merge-selector-lab/MergeTreeRewinder.js
  utils/merge-selector-lab/MergeTreeVisualizer.js
  utils/merge-selector-lab/ModelSolver.js
  utils/merge-selector-lab/Scenarios.js
  utils/merge-selector-lab/SimulationContainer.js
  utils/merge-selector-lab/WorkerPool.js
  utils/merge-selector-lab/clickHousePartsInserter.js
  utils/merge-selector-lab/customScenario.js
  utils/merge-selector-lab/floatLayerMerges.js
  utils/merge-selector-lab/float_layer_merges.html
  utils/merge-selector-lab/gradientDescent.js
  utils/merge-selector-lab/index.html
  utils/merge-selector-lab/infoButton.js
  utils/merge-selector-lab/layers_model.html
  utils/merge-selector-lab/main.js
  utils/merge-selector-lab/maxEntropyMerges.js
  utils/merge-selector-lab/mergeModel.js
  utils/merge-selector-lab/pack.py
  utils/merge-selector-lab/queryClickHouse.js
  utils/merge-selector-lab/renderMath.js
  utils/merge-selector-lab/sequenceInserter.js
  utils/merge-selector-lab/simpleMerges.js
  utils/merge-selector-lab/solution_chart.html
  utils/merge-selector-lab/solvers/solver-64KB_256GB_32768.json
  utils/merge-selector-lab/solvers/solver-64KB_256GB_32768_x4_x4.json
  utils/merge-selector-lab/tests/all_tests.html
  utils/merge-selector-lab/tests/testEventSimulator.js
  utils/merge-selector-lab/tests/testMergeTreeInserter.js
  utils/merge-selector-lab/tests/testMergeTreeMerger.js
  utils/merge-selector-lab/tests/testWorkerPool.js
  utils/merge-selector-lab/train_solver.html
  utils/merge-selector-lab/util.js
  utils/merge-selector-lab/visualizeHelpers.js
Labels: pr-not-for-changelog

#84747 Safer `concurrent_threads_scheduler` default value `fair_round_robin`
  src/Core/ServerSettings.cpp
  tests/queries/0_stateless/03394_pr_insert_select_threads.sql
Labels: pr-backward-incompatible

#85291 Docs: move introspection functions docs to source code
  src/Functions/FunctionsMergeTreePartInfo.cpp
  src/Functions/addressToLine.cpp
  src/Functions/addressToLineWithInlines.cpp
  src/Functions/addressToSymbol.cpp
  src/Functions/demangle.cpp
  src/Functions/logTrace.cpp
  src/Functions/tid.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#85370 Fixup compat of vector search compat setting
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#85196 Support compression metadata in iceberg writes
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergWrites.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergWrites.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/Utils.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/Utils.h
  tests/integration/helpers/iceberg_utils.py
  tests/integration/test_storage_iceberg/test.py
Labels: pr-improvement

#85105 Async logging: Make limits tuneable and add introspection
  base/poco/Foundation/include/Poco/Channel.h
  base/poco/Foundation/include/Poco/FormattingChannel.h
  base/poco/Foundation/include/Poco/Logger.h
  base/poco/Foundation/include/Poco/Message.h
  base/poco/Foundation/src/FormattingChannel.cpp
  base/poco/Foundation/src/Logger.cpp
  ci/jobs/scripts/check_style/check_cpp.sh
  docs/en/operations/server-configuration-parameters/_server_settings_outside_source.md
  programs/server/config.xml
  src/Common/AsynchronousMetrics.cpp
  src/Common/LoggingFormatStringHelpers.cpp
  src/Common/LoggingFormatStringHelpers.h
  src/Common/ProfileEvents.cpp
  src/Common/logger_useful.h
  src/Daemon/BaseDaemon.cpp
  src/Loggers/ExtendedLogMessage.cpp
  src/Loggers/ExtendedLogMessage.h
  src/Loggers/Loggers.cpp
  src/Loggers/Loggers.h
  src/Loggers/OwnFormattingChannel.cpp
  src/Loggers/OwnFormattingChannel.h
  src/Loggers/OwnJSONPatternFormatter.h
  src/Loggers/OwnPatternFormatter.h
  src/Loggers/OwnSplitChannel.cpp
  src/Loggers/OwnSplitChannel.h
  tests/integration/test_async_logger_metrics/__init__.py
  tests/integration/test_async_logger_metrics/configs/logger.xml
  tests/integration/test_async_logger_metrics/test.py
Labels: pr-improvement

#85327 Fix the creation of RMV on a new replica of the Replicated database if DEFINER is dropped
  src/Storages/StorageMaterializedView.cpp
  tests/integration/test_replicated_database/test.py
Labels: pr-bugfix, v25.3-must-backport, v25.4-must-backport, v25.6-must-backport

#85376 Disable some slow tests from some runs.
  tests/queries/0_stateless/01201_read_single_thread_in_order.sql
  tests/queries/0_stateless/03549_system_query_metric_log_with_queries_with_same_query_id.sh
Labels: pr-ci

#85375 Add template function for parsing integers in a non-decimal base
  src/IO/ReadHelpers.h
  src/IO/readIntText.h
  src/IO/tests/gtest_read_int_text.cpp
Labels: pr-not-for-changelog

#84823 CI: Integration Tests remove legacy ci wrappers
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  ci/defs/job_configs.py
  ci/jobs/functional_tests.py
  ci/jobs/integration_test_check.py
  ci/jobs/scripts/check_style/check_cpp.sh
  ci/jobs/scripts/integration_test_images.py
  ci/jobs/scripts/integration_tests_runner.py
  ci/praktika/_environment.py
  ci/praktika/info.py
  ci/praktika/utils.py
  ci/workflows/pull_request.py
  tests/ci/bugfix_validate_check.py
  tests/integration/integration_test_images.py
  tests/integration/runner
  tests/integration/test_keeper_memory_soft_limit/configs/keeper_config1.xml
  tests/integration/test_keeper_memory_soft_limit/configs/keeper_config2.xml
  tests/integration/test_keeper_memory_soft_limit/configs/keeper_config3.xml
Labels: pr-not-for-changelog

#85394 Fix Prometheus RemoteWrite protocol implementation
  src/Server/PrometheusRequestHandler.cpp
Labels: pr-not-for-changelog

#84739 CI: Make debug build faster
  ci/jobs/build_clickhouse.py
Labels: pr-not-for-changelog

#85324 CI: Refactor compatibility check job
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  ci/defs/job_configs.py
  ci/docker/install/deb/Dockerfile
  ci/docker/install/rpm/Dockerfile
  ci/jobs/compatibility_check.py
Labels: pr-not-for-changelog

#85326 Add missing checks for table name length
  src/Databases/DatabaseAtomic.cpp
  src/Databases/DatabaseOnDisk.cpp
  src/Databases/DatabaseOnDisk.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Interpreters/InterpreterRenameQuery.cpp
  tests/integration/test_check_table_name_length_2/__init__.py
  tests/integration/test_check_table_name_length_2/configs/remote_servers.xml
  tests/integration/test_check_table_name_length_2/test.py
Labels: pr-bugfix, pr-must-backport

#85485 Rework tests for prometheus protocols
  tests/integration/compose/docker_compose_prometheus.yml
  tests/integration/helpers/cluster.py
  tests/integration/test_prometheus_protocols/configs/prometheus.xml
  tests/integration/test_prometheus_protocols/generate_pb2.py
  tests/integration/test_prometheus_protocols/generate_presets.py
  tests/integration/test_prometheus_protocols/pb2/gogoproto/gogo_pb2.py
  tests/integration/test_prometheus_protocols/pb2/prompb/remote_pb2.py
  tests/integration/test_prometheus_protocols/pb2/prompb/types_pb2.py
  tests/integration/test_prometheus_protocols/presets/demo.promlabs.com-30s.zip
  tests/integration/test_prometheus_protocols/prometheus_test_utils.py
  tests/integration/test_prometheus_protocols/test.py
  tests/integration/test_prometheus_protocols/test_different_table_engines.py
  tests/integration/test_prometheus_protocols/test_write_read.py
Labels: pr-not-for-changelog

#85362 Fix backups of parts with broken projections
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataPartChecksum.h
  tests/queries/0_stateless/03593_backup_with_broken_projection.reference
  tests/queries/0_stateless/03593_backup_with_broken_projection.sql
Labels: pr-bugfix, pr-must-backport

#85516 Revert "CI: Refactor compatibility check job"
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  ci/defs/job_configs.py
  ci/docker/install/deb/Dockerfile
  ci/docker/install/rpm/Dockerfile
  tests/ci/compatibility_check.py
Labels: pr-not-for-changelog

#84858 Skip creating and renaming the temp inner table of non-append Refreshable MV DDLs in Replicated DBs
  src/Databases/DatabaseReplicatedSettings.cpp
  src/Databases/DatabaseReplicatedWorker.cpp
  src/Databases/DatabaseReplicatedWorker.h
  src/Storages/MaterializedView/RefreshTask.h
  src/Storages/StorageMaterializedView.h
  tests/integration/test_refreshable_mv_skip_old_temp_table_ddls/__init__.py
  tests/integration/test_refreshable_mv_skip_old_temp_table_ddls/configs/config.xml
  tests/integration/test_refreshable_mv_skip_old_temp_table_ddls/configs/read_only.xml
  tests/integration/test_refreshable_mv_skip_old_temp_table_ddls/configs/users.xml
  tests/integration/test_refreshable_mv_skip_old_temp_table_ddls/test.py
Labels: pr-improvement, can be tested

#85329 Streaming delete files
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/PositionDeleteTransform.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/PositionDeleteTransform.h
  tests/integration/test_storage_iceberg/test.py
Labels: pr-improvement

#85532 Integration tests: add filelock for tests with shared networking
  ci/docker/integration/runner/requirements.txt
  tests/integration/helpers/cluster.py
Labels: pr-not-for-changelog

#85541 Update README.md
  README.md
Labels: pr-not-for-changelog

#85537 CI: Fix import issues in integration tests
  ci/jobs/integration_test_check.py
  ci/jobs/scripts/integration_tests_runner.py
  tests/ci/ci_definitions.py
  tests/ci/integration_test_images.py
  tests/integration/integration_test_images.py
  tests/integration/runner
Labels: pr-not-for-changelog

#85530 Cosmetics in text index code
  src/Common/FST.cpp
  src/Common/FST.h
  src/Common/tests/gtest_fst.cpp
  src/Interpreters/GinFilter.cpp
  src/Interpreters/GinFilter.h
  src/Interpreters/ITokenExtractor.cpp
  src/Interpreters/ITokenExtractor.h
  src/Storages/MergeTree/GinIndexStore.cpp
  src/Storages/MergeTree/GinIndexStore.h
  src/Storages/MergeTree/MergeTreeIndexGin.cpp
Labels: pr-not-for-changelog

#85365 Docs: transfer JSON functions documentation to source (part 1)
  src/Functions/FunctionsJSON.cpp
  src/Functions/visitParamExtractBool.cpp
  src/Functions/visitParamExtractFloat.cpp
  src/Functions/visitParamExtractInt.cpp
  src/Functions/visitParamExtractRaw.cpp
  src/Functions/visitParamExtractString.cpp
  src/Functions/visitParamExtractUInt.cpp
  src/Functions/visitParamHas.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#85540 Fix rare crash in async inserts
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/AsynchronousInsertQueue.h
  src/Interpreters/tests/gtest_async_insert_key.cpp
Labels: pr-bugfix, v25.6-must-backport, v25.7-must-backport

#85508 fix mistake in `startup_scripts` documentation
  docs/en/operations/startup-scripts.md
Labels: pr-documentation, can be tested

#85136 Add name of the broken file to log exception message on failed parse while reading from system.remote_data_path
  src/Storages/System/StorageSystemRemoteDataPaths.cpp
Labels: pr-not-for-changelog, can be tested

#82511 Rendezvous hashing filesystem cache in (s3/etc)Cluster functions
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Storages/IStorageCluster.cpp
  src/Storages/IStorageCluster.h
  src/Storages/ObjectStorage/StorageObjectStorageCluster.cpp
  src/Storages/ObjectStorage/StorageObjectStorageCluster.h
  src/Storages/ObjectStorage/StorageObjectStorageStableTaskDistributor.cpp
  src/Storages/ObjectStorage/StorageObjectStorageStableTaskDistributor.h
  src/Storages/ObjectStorage/tests/gtest_rendezvous_hashing.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageFileCluster.cpp
  src/Storages/StorageFileCluster.h
  src/Storages/StorageURLCluster.cpp
  src/Storages/StorageURLCluster.h
Labels: pr-improvement, can be tested

#84945 Fix Bool literal column name generation
  src/Analyzer/ConstantNode.cpp
  tests/queries/0_stateless/03581_bool_literal_column_name.reference
  tests/queries/0_stateless/03581_bool_literal_column_name.sql
Labels: pr-bugfix, can be tested

#85406 PR: fixing reading in reverse order
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicasInOrder.cpp
  tests/queries/0_stateless/03582_pr_read_in_order_hits.reference
  tests/queries/0_stateless/03582_pr_read_in_order_hits.sql
Labels: pr-bugfix

#85578 tests: fix test_async_logger_metrics flakiness
  tests/integration/test_async_logger_metrics/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#85447 Add newlines in AI
  src/Client/ClientBase.cpp
Labels: pr-improvement

#83876 Fix parquet writer outputting incorrect row indices in offset index
  src/Processors/Formats/Impl/Parquet/Write.cpp
Labels: pr-not-for-changelog, pr-must-backport

#85025 Fix order by issue in StorageMerge
  src/Storages/StorageMerge.cpp
  tests/queries/0_stateless/03581_nested_storage_merge_distributed_order_by.reference
  tests/queries/0_stateless/03581_nested_storage_merge_distributed_order_by.sql
Labels: pr-bugfix

#85405 Sync read if content is in page cache
  src/IO/CachedInMemoryReadBufferFromFile.cpp
  src/IO/CachedInMemoryReadBufferFromFile.h
Labels: pr-not-for-changelog, pr-must-backport

#85311 More data lake fixes
  programs/client/FuzzLoop.cpp
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Client/BuzzHouse/AST/SQLProtoStr.h
  src/Client/BuzzHouse/Generator/ExternalIntegrations.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.h
  src/Client/BuzzHouse/Generator/FuzzConfig.cpp
  src/Client/BuzzHouse/Generator/FuzzConfig.h
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/SQLCatalog.cpp
  src/Client/BuzzHouse/Generator/SQLCatalog.h
  src/Client/BuzzHouse/Generator/SQLExpression.cpp
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/SQLTypes.cpp
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Generator/TableSetttings.cpp
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
  tests/casa_del_dolor/dolor.py
  tests/casa_del_dolor/generators.py
  tests/casa_del_dolor/properties.py
Labels: pr-ci

#85253 Query condition cache: introduce selectivity threshold
  docs/en/operations/query-condition-cache.md
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/Cache/QueryConditionCache.cpp
  src/Interpreters/Cache/QueryConditionCache.h
  src/Processors/QueryPlan/FilterStep.cpp
  src/Processors/QueryPlan/FilterStep.h
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  src/Processors/QueryPlan/Optimizations/updateQueryConditionCache.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/Transforms/FilterTransform.cpp
  src/Processors/Transforms/FilterTransform.h
  src/Storages/MergeTree/MergeTreeIOSettings.h
  src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeSelectProcessor.h
  src/Storages/System/StorageSystemQueryConditionCache.cpp
  tests/queries/0_stateless/03229_query_condition_cache_selectivity_threshold.reference
  tests/queries/0_stateless/03229_query_condition_cache_selectivity_threshold.sql
Labels: pr-improvement, can be tested

#85515 CI: Install check job config fix
  .github/workflows/backport_branches.yml
  .github/workflows/pull_request.yml
  ci/defs/job_configs.py
  ci/jobs/install_check.py
  ci/workflows/master.py
  ci/workflows/release_branches.py
Labels: pr-not-for-changelog

#84968 Docs: Full-text search is in private preview
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
Labels: pr-documentation

#85570 fix HTTP with multipart
  src/Server/HTTPHandler.cpp
  tests/queries/0_stateless/03594_http_settings_when_multipart.reference
  tests/queries/0_stateless/03594_http_settings_when_multipart.sh
Labels: pr-bugfix, pr-must-backport

#85557 Add a cast if distance function return type different from `_distance` virtual column
  src/Processors/QueryPlan/Optimizations/useVectorSearch.cpp
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
  tests/queries/0_stateless/02354_vector_search_rescoring_distance_in_select_list.reference
  tests/queries/0_stateless/02354_vector_search_rescoring_distance_in_select_list.sql
Labels: pr-not-for-changelog

#85551 Text index: add logging for writing/reading of segment
  src/Storages/MergeTree/GinIndexStore.cpp
  src/Storages/MergeTree/GinIndexStore.h
Labels: pr-not-for-changelog

#85323 Move getMergeTreeReaderSettings to a static function
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/MergeTreeIOSettings.cpp
  src/Storages/MergeTree/MergeTreeIOSettings.h
Labels: pr-not-for-changelog

#85631 Fix flaky test test_storage_nats/test.py::test_nats_no_connection_at_startup_1
  tests/integration/test_storage_nats/test.py
Labels: pr-build, can be tested

#85655 Style test reqgenerator
  ci/docker/reqgenerator.py
  ci/docker/style-test/Dockerfile
  ci/docker/style-test/requirements.txt
Labels: pr-ci

#85642 Improve parallel files processing with delta-kernel-rs backend
  src/Storages/ObjectStorage/DataLakes/DeltaLake/TableSnapshot.cpp
Labels: pr-performance, pr-must-backport

#84383 Ensure coded DoubleDelta codec only accepts numeric types
  src/Compression/CompressionCodecDoubleDelta.cpp
  tests/queries/0_stateless/00950_test_double_delta_codec_types.reference
  tests/queries/0_stateless/00950_test_double_delta_codec_types.sql
Labels: pr-bugfix

#85597 Update client-libraries.md
  docs/en/interfaces/third-party/client-libraries.md
Labels: pr-documentation, can be tested

#85654 Small fuzzer fixes
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Client/BuzzHouse/Generator/SQLCatalog.cpp
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
Labels: pr-ci

#85670 Please do not use `xirr.cpp` as a file name
  src/Functions/financial.cpp
Labels: pr-not-for-changelog

#85177 Fix recovering replicated databases with long moving metadata file
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
Labels: pr-bugfix, can be tested

#85543 Sync private
  src/Common/CurrentMetrics.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
Labels: pr-not-for-changelog

#85548 Docs: transfer random number functions docs to source
  src/Functions/fuzzBits.cpp
  src/Functions/rand.cpp
  src/Functions/rand64.cpp
  src/Functions/randCanonical.cpp
  src/Functions/randConstant.cpp
  src/Functions/randDistribution.cpp
  src/Functions/randomFixedString.cpp
  src/Functions/randomPrintableASCII.cpp
  src/Functions/randomString.cpp
  src/Functions/randomStringUTF8.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#85698 ci: increase delay for server startup
  ci/jobs/scripts/clickhouse_proc.py
  src/Common/StatusFile.cpp
  src/Common/StatusFile.h
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#85701 Text index: avoid redundant re-initializing in searchAny/searchAll functions
  src/Functions/searchAnyAll.cpp
  src/Functions/searchAnyAll.h
  src/Interpreters/GinFilter.cpp
  src/Interpreters/GinFilter.h
  src/Storages/MergeTree/MergeTreeIndexGin.cpp
Labels: pr-not-for-changelog

#85640 Text index: avoid unnecessary copies while generating tokens
  src/Functions/searchAnyAll.cpp
  src/Functions/tokens.cpp
  src/Interpreters/ITokenExtractor.cpp
  src/Interpreters/ITokenExtractor.h
  src/Storages/MergeTree/MergeTreeIndexGin.cpp
Labels: pr-not-for-changelog

#85711 Update metadata timestamp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergWrites.cpp
Labels: pr-bugfix

#85713 ci: wrap ninja invocations with time to measure memory and CPU time
  ci/docker/fasttest/Dockerfile
  ci/jobs/build_clickhouse.py
  ci/jobs/fast_test.py
Labels: pr-not-for-changelog

#85716 Update README.md
  README.md
Labels: pr-documentation

#85369 Introduce iceberg streaming input iterator
  src/Databases/DataLake/GlueCatalog.cpp
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/AvroForIcebergDeserializer.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/AvroForIcebergDeserializer.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/Compaction.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/Compaction.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/ComplexTypeSchemaProcessorFunctions.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/ComplexTypeSchemaProcessorFunctions.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/Constant.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergDataObjectInfo.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergDataObjectInfo.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergIterator.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergIterator.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadataFilesCache.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergWrites.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFile.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFile.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFilesPruning.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFilesPruning.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/Mutations.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/Mutations.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/PersistentTableComponents.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/PositionDeleteTransform.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/PositionDeleteTransform.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/SchemaProcessor.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/Snapshot.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/StatelessMetadataFileGetter.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/StatelessMetadataFileGetter.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/Utils.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/Utils.h
  src/Storages/ObjectStorage/IObjectIterator.h
  src/Storages/ObjectStorage/ReadBufferIterator.cpp
  src/Storages/ObjectStorage/StorageObjectStorageConfiguration.h
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.h
  src/Storages/ObjectStorage/Utils.cpp
  src/Storages/ObjectStorage/Utils.h
Labels: pr-improvement

#85641 Add limit for total uncompressed bytes in patch parts
  src/Common/ErrorCodes.cpp
  src/Common/ProfileEvents.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/MergeTree/MergeTreeSinkPatch.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeSinkPatch.cpp
  tests/queries/0_stateless/03100_lwu_41_bytes_limits.reference
  tests/queries/0_stateless/03100_lwu_41_bytes_limits.sql
  tests/queries/0_stateless/03100_lwu_42_bytes_limits.reference
  tests/queries/0_stateless/03100_lwu_42_bytes_limits.sh
Labels: pr-improvement
