Repository ClickHouse/ClickHouse, pull requests merged in 2025-03, with the labels that each got.

#77001 Docs: kafka table engine supported in clickhouse cloud
  docs/en/engines/table-engines/integrations/kafka.md
Labels: pr-documentation

#77003 Docs: fix broken links
  docs/en/engines/table-engines/index.md
  docs/en/operations/server-configuration-parameters/_snippets/_system-log-parameters.md
  docs/en/sql-reference/functions/array-functions.md
  docs/zh/sql-reference/functions/array-functions.md
  docs/zh/sql-reference/table-functions/hdfs.md
  docs/zh/sql-reference/table-functions/url.md
Labels: pr-documentation

#77004 Docs: fix broken anchors
  docs/en/development/architecture.md
  docs/en/development/continuous-integration.md
  docs/en/development/developer-instruction.md
  docs/en/development/style.md
  docs/en/engines/database-engines/atomic.md
  docs/en/engines/database-engines/replicated.md
  docs/en/engines/table-engines/index.md
  docs/en/engines/table-engines/integrations/ExternalDistributed.md
  docs/en/engines/table-engines/integrations/hdfs.md
  docs/en/engines/table-engines/integrations/hive.md
  docs/en/engines/table-engines/integrations/kafka.md
  docs/en/engines/table-engines/integrations/mysql.md
  docs/en/engines/table-engines/integrations/nats.md
  docs/en/engines/table-engines/integrations/odbc.md
  docs/en/engines/table-engines/integrations/postgresql.md
  docs/en/engines/table-engines/integrations/rabbitmq.md
  docs/en/engines/table-engines/integrations/s3.md
  docs/en/engines/table-engines/log-family/index.md
  docs/en/engines/table-engines/log-family/log.md
  docs/en/engines/table-engines/log-family/stripelog.md
  docs/en/engines/table-engines/log-family/tinylog.md
  docs/en/engines/table-engines/mergetree-family/aggregatingmergetree.md
  docs/en/engines/table-engines/mergetree-family/annindexes.md
  docs/en/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/en/engines/table-engines/mergetree-family/graphitemergetree.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/engines/table-engines/mergetree-family/replacingmergetree.md
  docs/en/engines/table-engines/mergetree-family/summingmergetree.md
  docs/en/engines/table-engines/mergetree-family/versionedcollapsingmergetree.md
  docs/en/engines/table-engines/special/filelog.md
  docs/en/operations/system-tables/histogram_metrics.md
  docs/en/operations/system-tables/information_schema.md
  docs/en/operations/system-tables/parts.md
  docs/en/sql-reference/data-types/date.md
  docs/en/sql-reference/data-types/datetime.md
  docs/en/sql-reference/statements/alter/column.md
  docs/en/sql-reference/statements/alter/index.md
  docs/en/sql-reference/statements/kill.md
  docs/ru/engines/table-engines/integrations/ExternalDistributed.md
  docs/ru/engines/table-engines/integrations/kafka.md
  docs/ru/engines/table-engines/integrations/mysql.md
  docs/ru/engines/table-engines/integrations/odbc.md
  docs/ru/engines/table-engines/integrations/postgresql.md
  docs/ru/engines/table-engines/integrations/rabbitmq.md
  docs/ru/engines/table-engines/integrations/s3.md
  docs/ru/engines/table-engines/mergetree-family/custom-partitioning-key.md
  docs/ru/faq/operations/delete-old-data.md
  docs/ru/sql-reference/data-types/date.md
  docs/ru/sql-reference/data-types/datetime.md
  docs/ru/sql-reference/data-types/datetime64.md
  docs/ru/sql-reference/table-functions/index.md
  docs/zh/engines/table-engines/integrations/kafka.md
  docs/zh/engines/table-engines/integrations/odbc.md
  docs/zh/engines/table-engines/integrations/postgresql.md
  docs/zh/engines/table-engines/integrations/rabbitmq.md
  docs/zh/sql-reference/data-types/datetime64.md
Labels: pr-documentation

#76986 fix flaky test 03237_create_or_replace_view_atomically_with_atomic_engine
  tests/queries/0_stateless/03237_create_or_replace_view_atomically_with_atomic_engine.sh
Labels: pr-not-for-changelog

#76941 Add licence key error code
  src/Common/ErrorCodes.cpp
Labels: pr-not-for-changelog

#76898 Fix TO parameter in Materialized views in BuzzHouse
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/SQLCatalog.h
  src/Client/BuzzHouse/Generator/SQLExpression.cpp
  src/Client/BuzzHouse/Generator/SQLFuncs.h
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
Labels: pr-ci

#76354 Fast path support for resizes
  src/QueryPipeline/Pipe.cpp
Labels: pr-not-for-changelog

#76751 fix test_merge_tree_load_parts/test.py::test_merge_tree_load_parts_corrupted
  src/Compression/CompressedReadBufferFromFile.cpp
  src/Compression/CompressedReadBufferFromFile.h
  tests/integration/test_merge_tree_load_parts/configs/compat.xml
  tests/integration/test_merge_tree_load_parts/configs/fast_background_pool.xml
Labels: pr-not-for-changelog

#76983 Improve error message in MergeTreeDataPartWide::doCheckConsistency
  src/Storages/MergeTree/MergeTreeDataPartWide.cpp
Labels: pr-not-for-changelog

#76982 Avoid timeouts in 03210_dynamic_squashing
  tests/queries/0_stateless/03210_dynamic_squashing.sql
Labels: pr-ci

#76809 Fix exception handling in parallel prefixes deserialization of JSON subcolumns
  src/DataTypes/Serializations/SerializationObject.cpp
Labels: pr-bugfix, v25.2-must-backport

#76946 Mark more server settings as changable without restart
  src/Common/ThreadPool.cpp
  src/Common/ThreadPool.h
  src/Core/ServerSettings.cpp
  src/IO/SharedThreadPools.cpp
  src/IO/SharedThreadPools.h
Labels: pr-not-for-changelog

#77008 Fix docs on DateTime64 -> Arrow type
  docs/en/interfaces/formats/Arrow/Arrow.md
Labels: pr-documentation, can be tested

#76905 Fix pretty print of Bool values in JSON format
  src/DataTypes/Serializations/SerializationBool.cpp
  src/DataTypes/Serializations/SerializationBool.h
  tests/queries/0_stateless/03364_pretty_json_bool.reference
  tests/queries/0_stateless/03364_pretty_json_bool.sql
Labels: pr-bugfix

#76806 Add test on prewhere with parallel replicas
  tests/queries/0_stateless/03364_prewhere_parallel_replicas.reference
  tests/queries/0_stateless/03364_prewhere_parallel_replicas.sh
Labels: pr-not-for-changelog

#76935 Fix flaky test_profile_events_s3
  tests/integration/test_profile_events_s3/test.py
Labels: can be tested, pr-ci

#77000 Fix sorting `BFloat16`
  src/Columns/ColumnVector.cpp
  src/Common/RadixSort.h
  src/Core/CompareHelper.h
  tests/queries/0_stateless/03366_bfloat16_sorting.reference
  tests/queries/0_stateless/03366_bfloat16_sorting.sql
  tests/queries/0_stateless/03367_bfloat16_tuple_final.reference
  tests/queries/0_stateless/03367_bfloat16_tuple_final.sql
  tests/queries/0_stateless/03368_bfloat16_merge_join.reference
  tests/queries/0_stateless/03368_bfloat16_merge_join.sql
Labels: pr-bugfix, pr-must-backport

#77007 Update README.md - Meetup update
  README.md
Labels: pr-not-for-changelog

#76708 Add performance tests for null shortcuit and fix bugs
  src/Core/Settings.cpp
  src/Functions/IFunction.cpp
  tests/performance/short_circuit_nulls.xml
Labels: pr-improvement

#69236 Implement Query Condition Cache
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Access/Common/AccessType.h
  src/Common/ProfileEvents.cpp
  src/Core/Defines.h
  src/Core/ServerSettings.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Interpreters/Cache/QueryConditionCache.cpp
  src/Interpreters/Cache/QueryConditionCache.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Parsers/ASTSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  src/Processors/Chunk.h
  src/Processors/QueryPlan/FilterStep.cpp
  src/Processors/QueryPlan/FilterStep.h
  src/Processors/QueryPlan/Optimizations/Optimizations.h
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  src/Processors/QueryPlan/Optimizations/optimizeTree.cpp
  src/Processors/QueryPlan/Optimizations/tryUpdateQueryConditionCache.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/Transforms/FilterTransform.cpp
  src/Processors/Transforms/FilterTransform.h
  src/Storages/MergeTree/IMergeTreeReader.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/MergeTreeIOSettings.h
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
  src/Storages/MergeTree/MergeTreeRangeReader.h
  src/Storages/MergeTree/MergeTreeReadTask.cpp
  src/Storages/MergeTree/MergeTreeReadTask.h
  src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  src/Storages/VirtualColumnUtils.cpp
  src/Storages/VirtualColumnUtils.h
  tests/clickhouse-test
  tests/queries/0_stateless/00837_minmax_index.sh
  tests/queries/0_stateless/00838_unique_index.sh
  tests/queries/0_stateless/01055_minmax_index_compact_parts.sh
  tests/queries/0_stateless/01271_show_privileges.reference
  tests/queries/0_stateless/02784_parallel_replicas_automatic_decision.sh
  tests/queries/0_stateless/03031_read_in_order_optimization_with_virtual_row.sql
  tests/queries/0_stateless/03229_query_condition_cache.reference
  tests/queries/0_stateless/03229_query_condition_cache.sql
  tests/queries/0_stateless/03252_merge_tree_min_bytes_to_seek.sql
Labels: pr-performance, can be tested

#77036 Revert "Docs: kafka table engine supported in clickhouse cloud"
  docs/en/engines/table-engines/integrations/kafka.md
Labels: pr-documentation, can be tested

#77052 Increase log level for dictionary loading
  src/Interpreters/Context.cpp
Labels: pr-not-for-changelog, pr-must-backport

#77067 Remove context from join step logical
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/GraceHashJoin.cpp
  src/Interpreters/GraceHashJoin.h
  src/Interpreters/JoinInfo.h
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Planner/PlannerJoinTree.cpp
  src/Planner/PlannerJoins.cpp
  src/Planner/PlannerJoins.h
  src/Processors/QueryPlan/JoinStepLogical.cpp
  src/Processors/QueryPlan/JoinStepLogical.h
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  src/Processors/QueryPlan/Optimizations/optimizeJoin.cpp
  src/Storages/StorageJoin.cpp
  src/Storages/StorageJoin.h
Labels: pr-not-for-changelog

#77031 CI: Enable praktika workflow for CH Inc sync
  ci/praktika/gh.py
  ci/praktika/info.py
  ci/praktika/mangle.py
  ci/praktika/result.py
Labels: do not test, pr-not-for-changelog, submodule changed, pr-synced-to-cloud

#77072 Replace some `__BYTE_ORDER__` macros
  base/base/wide_integer_impl.h
  src/Common/HashTable/Hash.h
  src/Common/HashTable/StringHashTable.h
  src/Common/formatIPv6.cpp
  src/Common/tests/gtest_wide_integer.cpp
  src/Functions/FunctionsCodingIP.cpp
  src/Functions/FunctionsCodingULID.cpp
  src/Functions/FunctionsHashing.h
  src/Processors/Sources/MySQLSource.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeMarksLoader.cpp
  src/Storages/MergeTree/MergeTreePartition.cpp
  src/Storages/StorageGenerateRandom.cpp
  src/Storages/System/StorageSystemJemalloc.cpp
  tests/performance/replace_int256.xml
Labels: pr-not-for-changelog

#77037 Don't run 03271_ghdata_object_to_json_alter in azure, it's too slow
  tests/queries/0_stateless/03271_ghdata_object_to_json_alter.sh
Labels: pr-ci

#77069 safer code for Statistics.cpp
  src/Storages/Statistics/Statistics.cpp
Labels: pr-not-for-changelog

#77095 Added BFloat16 test for found assertion
  tests/queries/0_stateless/03369_bfloat16_map.reference
  tests/queries/0_stateless/03369_bfloat16_map.sql
Labels: pr-not-for-changelog

#70509 Userspace page cache v2
  programs/keeper/Keeper.cpp
  programs/server/Server.cpp
  src/Common/CacheBase.h
  src/Common/CurrentMemoryTracker.cpp
  src/Common/ICachePolicy.h
  src/Common/LRUCachePolicy.h
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTracker.h
  src/Common/MemoryTrackerBlockerInThread.cpp
  src/Common/MemoryTrackerBlockerInThread.h
  src/Common/MemoryWorker.cpp
  src/Common/MemoryWorker.h
  src/Common/PageCache.cpp
  src/Common/PageCache.h
  src/Common/ProfileEvents.cpp
  src/Common/SLRUCachePolicy.h
  src/Common/TTLCachePolicy.h
  src/Common/tests/gtest_cgroups_reader.cpp
  src/Core/Defines.h
  src/Core/ServerSettings.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.h
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/IO/CachedInMemoryReadBufferFromFile.cpp
  src/IO/CachedInMemoryReadBufferFromFile.h
  src/IO/SeekableReadBuffer.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/ServerAsynchronousMetrics.cpp
  src/Interpreters/SystemLog.cpp
  src/Interpreters/executeQuery.cpp
  src/Interpreters/tests/gtest_page_cache.cpp
  src/Storages/RocksDB/EmbeddedRocksDBBulkSink.cpp
  tests/integration/test_disk_over_web_server/configs/storage_conf_web.xml
  tests/integration/test_disk_over_web_server/test.py
  tests/integration/test_userspace_page_cache/__init__.py
  tests/integration/test_userspace_page_cache/configs/conf.xml
  tests/integration/test_userspace_page_cache/configs/smol.xml
  tests/integration/test_userspace_page_cache/test.py
Labels: pr-not-for-changelog

#77113 Revert "Userspace page cache v2"
  programs/keeper/Keeper.cpp
  programs/server/Server.cpp
  src/Common/CacheBase.h
  src/Common/CurrentMemoryTracker.cpp
  src/Common/ICachePolicy.h
  src/Common/LRUCachePolicy.h
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTracker.h
  src/Common/MemoryTrackerBlockerInThread.cpp
  src/Common/MemoryTrackerBlockerInThread.h
  src/Common/MemoryWorker.cpp
  src/Common/MemoryWorker.h
  src/Common/PageCache.cpp
  src/Common/PageCache.h
  src/Common/ProfileEvents.cpp
  src/Common/SLRUCachePolicy.h
  src/Common/TTLCachePolicy.h
  src/Common/tests/gtest_cgroups_reader.cpp
  src/Core/Defines.h
  src/Core/ServerSettings.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.h
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/IO/CachedInMemoryReadBufferFromFile.cpp
  src/IO/CachedInMemoryReadBufferFromFile.h
  src/IO/SeekableReadBuffer.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/ServerAsynchronousMetrics.cpp
  src/Interpreters/SystemLog.cpp
  src/Interpreters/executeQuery.cpp
  src/Interpreters/tests/gtest_page_cache.cpp
  src/Storages/RocksDB/EmbeddedRocksDBBulkSink.cpp
  tests/integration/test_disk_over_web_server/configs/storage_conf_web.xml
  tests/integration/test_disk_over_web_server/test.py
  tests/integration/test_userspace_page_cache/__init__.py
  tests/integration/test_userspace_page_cache/configs/conf.xml
  tests/integration/test_userspace_page_cache/configs/smol.xml
  tests/integration/test_userspace_page_cache/test.py
Labels: pr-not-for-changelog

#77101 Remove broken test 02944_variant_as_common_type
  ci/jobs/scripts/functional_tests_results.py
  tests/analyzer_tech_debt.txt
  tests/queries/0_stateless/02944_variant_as_common_type.reference
  tests/queries/0_stateless/02944_variant_as_common_type.sql
Labels: pr-not-for-changelog

#77105 Update trusted contributors
  ci/jobs/scripts/workflow_hooks/trusted.py
Labels: pr-not-for-changelog

#76307 Various enhancements for SYNC REPLICA
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/InterpreterSystemQuery.h
  tests/queries/0_stateless/01108_restart_replicas_rename_deadlock_zookeeper.sh
Labels: pr-improvement

#76622 Fix Digest of local metadata (X) is not equal to in-memory digest (Y) error in Replicated database
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicated.h
  src/Databases/DatabaseReplicatedWorker.cpp
  src/Interpreters/DDLTask.cpp
  src/Interpreters/DDLTask.h
  src/Interpreters/InterpreterCreateQuery.cpp
Labels: pr-not-for-changelog

#77106 Start 25.3 section in SettingsChangesHistory
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#77115 Disable PR when analyzer is disabled regardless compatibility setting
  src/Core/SettingsChangesHistory.cpp
Labels: pr-backward-incompatible, v25.2-must-backport

#77098 CI: Merge Queue workflow migration to praktika
  .github/workflows/master.yml
  .github/workflows/merge_queue.yml
  .github/workflows/nightly_jepsen.yml
  ci/jobs/scripts/workflow_hooks/set_dummy_sync_commit_status.py
  ci/praktika/_environment.py
  ci/praktika/mangle.py
  ci/praktika/native_jobs.py
  ci/praktika/settings.py
  ci/praktika/validator.py
  ci/praktika/workflow.py
  ci/praktika/yaml_generator.py
  ci/workflows/merge_queue.py
Labels: pr-not-for-changelog

#76662 Add ProfileEvents for number of rows and bytes passing filter transform
  src/Common/ProfileEvents.cpp
  src/Processors/Transforms/FilterTransform.cpp
  tests/queries/0_stateless/03362_filter_transform_profile_events.reference
  tests/queries/0_stateless/03362_filter_transform_profile_events.sql
Labels: pr-feature, can be tested

#76942 Add default column in `system.replicated/merge_tree_settings`
  docs/en/operations/system-tables/merge_tree_settings.md
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/System/StorageSystemMergeTreeSettings.cpp
  tests/queries/0_stateless/01221_system_settings.reference
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-improvement, can be tested

#77114 Revert "Revert "Userspace page cache v2""
  programs/keeper/Keeper.cpp
  programs/server/Server.cpp
  src/Common/CacheBase.h
  src/Common/CurrentMemoryTracker.cpp
  src/Common/ICachePolicy.h
  src/Common/LRUCachePolicy.h
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTracker.h
  src/Common/MemoryTrackerBlockerInThread.cpp
  src/Common/MemoryTrackerBlockerInThread.h
  src/Common/MemoryWorker.cpp
  src/Common/MemoryWorker.h
  src/Common/PageCache.cpp
  src/Common/PageCache.h
  src/Common/ProfileEvents.cpp
  src/Common/SLRUCachePolicy.h
  src/Common/TTLCachePolicy.h
  src/Common/tests/gtest_cgroups_reader.cpp
  src/Core/Defines.h
  src/Core/ServerSettings.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.cpp
  src/Disks/IO/AsynchronousBoundedReadBuffer.h
  src/Disks/IO/ReadBufferFromRemoteFSGather.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/IO/CachedInMemoryReadBufferFromFile.cpp
  src/IO/CachedInMemoryReadBufferFromFile.h
  src/IO/ReadSettings.h
  src/IO/SeekableReadBuffer.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/ServerAsynchronousMetrics.cpp
  src/Interpreters/SystemLog.cpp
  src/Interpreters/executeQuery.cpp
  src/Interpreters/tests/gtest_page_cache.cpp
  src/Storages/RocksDB/EmbeddedRocksDBBulkSink.cpp
  tests/integration/test_disk_over_web_server/configs/storage_conf_web.xml
  tests/integration/test_disk_over_web_server/test.py
  tests/integration/test_userspace_page_cache/__init__.py
  tests/integration/test_userspace_page_cache/configs/conf.xml
  tests/integration/test_userspace_page_cache/configs/smol.xml
  tests/integration/test_userspace_page_cache/test.py
Labels: pr-not-for-changelog

#76937 Fix flaky test_keeper_three_nodes_start
  tests/integration/test_keeper_three_nodes_start/test.py
Labels: can be tested, pr-ci

#77150 CI: Merge sync PR automatically from praktika hook
  ci/jobs/scripts/workflow_hooks/merge_sync_pr.py
  ci/praktika/_environment.py
  ci/workflows/master.py
Labels: do not test, pr-not-for-changelog

#76612 tests: fix flaky test_parts_delete_zookeeper
  tests/integration/helpers/test_tools.py
  tests/integration/test_parts_delete_zookeeper/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#77164 CI: Fix automatic sync merge
  ci/praktika/info.py
Labels: do not test, pr-not-for-changelog

#77186 CI: Remove unit tests from Merge Queue
  .github/workflows/merge_queue.yml
  ci/workflows/merge_queue.py
Labels: do not test, pr-not-for-changelog

#77133 Proper query formatting for the query in DatabaseReplicated
  src/Databases/DatabaseReplicated.cpp
Labels: pr-improvement, pr-must-backport

#77161 Sync changes in critical files
  src/Common/CurrentMetrics.cpp
  src/Core/ServerSettings.cpp
Labels: pr-not-for-changelog

#77167 tests: fix 02982_perf_introspection_for_inserts flakiness
  tests/queries/0_stateless/02982_perf_introspection_for_inserts.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#77169 Add test for issue 45389
  tests/queries/0_stateless/03370_join_identifiers.reference
  tests/queries/0_stateless/03370_join_identifiers.sql
Labels: pr-not-for-changelog

#77182 Fix stopping server on OSX (shutdown() returns ENOTCONN for socket blocked in accept())
  src/Server/TCPServer.h
Labels: pr-not-for-changelog

#77174 Fix uninitialized-value CoordinationZnode::last_success_duration in RefreshTask
  src/Storages/MaterializedView/RefreshTask.h
Labels: can be tested, pr-ci

#77147 Docs: add `VALUES` table function
  docs/en/sql-reference/table-functions/values.md
  src/TableFunctions/TableFunctionValues.cpp
Labels: pr-documentation

#77193 Docs: Fix title of encryption functions page
  docs/en/sql-reference/functions/encryption-functions.md
Labels: pr-documentation

#77180 Add join settings to serialization settings.
  src/Interpreters/JoinInfo.cpp
  src/Interpreters/JoinInfo.h
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Planner/PlannerJoins.cpp
  src/Planner/PlannerJoins.h
  src/Processors/QueryPlan/JoinStepLogical.cpp
  src/Processors/QueryPlan/JoinStepLogical.h
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  src/Processors/QueryPlan/Optimizations/convertOuterJoinToInnerJoin.cpp
  src/Processors/QueryPlan/Optimizations/optimizeJoin.cpp
  src/Processors/QueryPlan/QueryPlanSerializationSettings.cpp
  src/Processors/QueryPlan/QueryPlanSerializationSettings.h
Labels: pr-not-for-changelog

#77034 Bug fix json with variant subcolumn
  src/Storages/MergeTree/MergeTreeDataPartWide.cpp
  tests/queries/0_stateless/03365_json_with_variant_subcolumn.reference
  tests/queries/0_stateless/03365_json_with_variant_subcolumn.sql
Labels: pr-bugfix, pr-must-backport

#77211 Fix flaky test_old_dirs_cleanup
  tests/integration/test_cleanup_after_start/test.py
Labels: can be tested, pr-ci

#77093 Fix remote predicate pushdown not respect literal types
  src/Processors/QueryPlan/ReadFromRemote.cpp
  tests/queries/0_stateless/03302_analyzer_distributed_filter_push_down.reference
  tests/queries/0_stateless/03369_predicate_pushdown_enforce_literal_type.reference
  tests/queries/0_stateless/03369_predicate_pushdown_enforce_literal_type.sql
Labels: pr-bugfix, can be tested

#73780 Respect case insensitive-column matching for fields in tuple columns
  src/Core/Block.cpp
  src/Core/Block.h
  src/DataTypes/DataTypeTuple.cpp
  src/DataTypes/DataTypeTuple.h
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.h
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  tests/queries/0_stateless/03285_orc_arrow_parquet_tuple_field_matching.reference
  tests/queries/0_stateless/03285_orc_arrow_parquet_tuple_field_matching.sh
Labels: pr-improvement

#76908 Fix JSON column rollback
  src/Columns/ColumnObject.cpp
  tests/queries/0_stateless/03365_json_rollback_bug.reference
  tests/queries/0_stateless/03365_json_rollback_bug.sh
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#77071 Fix crash in template parsing in Values format
  src/Processors/Formats/Impl/ConstantExpressionTemplate.cpp
  tests/queries/0_stateless/03369_values_template_types_mismatch.reference
  tests/queries/0_stateless/03369_values_template_types_mismatch.sql
Labels: pr-bugfix

#77074 Don't allow creating EmbeddedRocksDB table with subcolumn in primary key
  src/Storages/RocksDB/StorageEmbeddedRocksDB.cpp
  tests/queries/0_stateless/03370_rocks_db_engine_subcolumn_in_pk.reference
  tests/queries/0_stateless/03370_rocks_db_engine_subcolumn_in_pk.sql
Labels: pr-bugfix

#77121 Fix crash during Kafka table creation with exception
  src/Storages/Kafka/StorageKafka.cpp
  tests/queries/0_stateless/03370_kafka_correct_shutdown.reference
  tests/queries/0_stateless/03370_kafka_correct_shutdown.sh
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#77122 Support new JSON and subcolumns in Kafka and RabbitMQ engines
  src/Storages/Kafka/StorageKafka.h
  src/Storages/Kafka/StorageKafka2.h
  src/Storages/RabbitMQ/StorageRabbitMQ.h
  tests/integration/test_storage_kafka/test_batch_fast.py
  tests/integration/test_storage_rabbitmq/test.py
Labels: pr-bugfix, pr-must-backport

#77111 Disable PR for mutations
  src/Storages/MergeTree/MutateTask.cpp
Labels: pr-not-for-changelog, v25.2-must-backport

#77155 Update README.md with Sydney meetup details
  README.md
Labels: pr-not-for-changelog, can be tested

#76651 disallow truncate database for replicated databases
  docs/en/sql-reference/statements/truncate.md
  src/Databases/DatabaseReplicated.cpp
  src/Interpreters/InterpreterDropQuery.cpp
  tests/queries/0_stateless/00623_truncate_all_tables.sql
  tests/queries/0_stateless/03362_create_table_after_truncate_replicated_database.reference
  tests/queries/0_stateless/03362_create_table_after_truncate_replicated_database.sql
Labels: pr-not-for-changelog

#77134 Rename `QueryCache` to `QueryResultCache` (only in C++)
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Core/Defines.h
  src/Core/Settings.cpp
  src/Core/Settings.h
  src/Core/SettingsEnums.cpp
  src/Core/SettingsEnums.h
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/Cache/QueryCacheUsage.h
  src/Interpreters/Cache/QueryResultCache.cpp
  src/Interpreters/Cache/QueryResultCache.h
  src/Interpreters/Cache/QueryResultCacheUsage.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Interpreters/QueryLog.cpp
  src/Interpreters/QueryLogElement.h
  src/Interpreters/ServerAsynchronousMetrics.cpp
  src/Interpreters/executeQuery.cpp
  src/Interpreters/executeQuery.h
  src/Parsers/ASTSystemQuery.h
  src/Parsers/ParserSystemQuery.cpp
  src/Processors/Transforms/StreamInQueryCacheTransform.cpp
  src/Processors/Transforms/StreamInQueryCacheTransform.h
  src/Processors/Transforms/StreamInQueryResultCacheTransform.cpp
  src/Processors/Transforms/StreamInQueryResultCacheTransform.h
  src/QueryPipeline/QueryPipeline.cpp
  src/QueryPipeline/QueryPipeline.h
  src/Storages/System/StorageSystemQueryResultCache.cpp
  src/Storages/System/StorageSystemQueryResultCache.h
  src/Storages/System/attachSystemTables.cpp
  utils/check-style/aspell-ignore/en/aspell-dict.txt
Labels: pr-not-for-changelog, can be tested

#77163 Fix reading 'null' subcolumn in getSubcolumn function
  src/Functions/getSubcolumn.cpp
  tests/queries/0_stateless/03372_get_subcolumn_null.reference
  tests/queries/0_stateless/03372_get_subcolumn_null.sql
Labels: pr-bugfix

#75949 Add `concurrent_threads_scheduler` server setting
  docs/en/development/architecture.md
  docs/en/operations/server-configuration-parameters/settings.md
  programs/server/Server.cpp
  programs/server/config.xml
  src/Common/ConcurrencyControl.cpp
  src/Common/ConcurrencyControl.h
  src/Common/CurrentMetrics.cpp
  src/Common/ProfileEvents.cpp
  src/Common/tests/gtest_concurrency_control.cpp
  src/Core/ServerSettings.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  tests/integration/test_concurrent_threads_soft_limit/test.py
Labels: pr-feature, pr-must-backport-cloud, v24.12-must-backport, v25.1-must-backport, v25.2-must-backport

#76702 docs caches format schema
  docs/en/operations/caches.md
Labels: pr-documentation, can be tested

#77278 Fix links anchors
  docs/en/engines/table-engines/integrations/kafka.md
  docs/en/interfaces/http.md
  docs/en/sql-reference/aggregate-functions/reference/quantiletdigest.md
  docs/en/sql-reference/aggregate-functions/reference/quantiletdigestweighted.md
  docs/en/sql-reference/dictionaries/index.md
  docs/en/sql-reference/functions/array-functions.md
  docs/en/sql-reference/functions/encryption-functions.md
  docs/en/sql-reference/functions/ext-dict-functions.md
  docs/en/sql-reference/functions/index.md
  docs/en/sql-reference/functions/json-functions.md
  docs/en/sql-reference/functions/nlp-functions.md
  docs/en/sql-reference/functions/other-functions.md
  docs/en/sql-reference/functions/tuple-map-functions.md
  docs/en/sql-reference/functions/udf.md
  docs/en/sql-reference/statements/alter/partition.md
  docs/en/sql-reference/statements/alter/view.md
  docs/en/sql-reference/statements/create/role.md
  docs/en/sql-reference/statements/insert-into.md
  docs/en/sql-reference/syntax.md
  docs/en/sql-reference/table-functions/dictionary.md
  docs/en/sql-reference/table-functions/file.md
  docs/ru/operations/settings/settings.md
  docs/ru/sql-reference/functions/ext-dict-functions.md
Labels: pr-documentation

#77268 CI: Fix for sync PR auto merge
  ci/jobs/scripts/workflow_hooks/merge_sync_pr.py
Labels: do not test, pr-not-for-changelog

#77285 CI: Yet another Sync auto merge fix
  ci/jobs/scripts/workflow_hooks/merge_sync_pr.py
Labels: do not test, pr-not-for-changelog

#77230 Fix flaky test_s3_table_function_with_http_proxy
  tests/integration/helpers/s3_url_proxy_tests_util.py
Labels: can be tested, pr-ci

#77228 CI: Label ci-performance to run only performance tests in PR ci
  ci/jobs/scripts/workflow_hooks/can_be_merged.py
  ci/jobs/scripts/workflow_hooks/filter_job.py
  ci/jobs/scripts/workflow_hooks/pr_description.py
  ci/praktika/native_jobs.py
  ci/workflows/master.py
  ci/workflows/pull_request.py
Labels: do not test, pr-not-for-changelog

#77295 Docs: fix remaining broken anchors
  docs/en/operations/caches.md
  docs/en/operations/system-tables/merge_tree_settings.md
  docs/en/sql-reference/functions/array-functions.md
  docs/en/sql-reference/functions/ext-dict-functions.md
  docs/en/sql-reference/functions/tuple-map-functions.md
  docs/en/sql-reference/statements/alter/partition.md
  docs/en/sql-reference/table-functions/file.md
Labels: pr-documentation

#77015 Add Counter Metrics for Preemptions Cased by Priority Settings.
  src/Common/CurrentMetrics.cpp
  src/Common/ProfileEvents.cpp
  src/Interpreters/QueryPriorities.h
Labels: pr-improvement, can be tested

#77300 Docs: fix remaining links
  docs/en/sql-reference/aggregate-functions/reference/quantileexact.md
  docs/en/sql-reference/functions/other-functions.md
  docs/en/sql-reference/statements/create/role.md
Labels: pr-documentation

#77179 Link fuzzers with contribs
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  CMakeLists.txt
  ci/defs/job_configs.py
  src/Client/ClientBase.cpp
  src/DataTypes/fuzzers/data_type_deserialization_fuzzer.cpp
  src/Formats/fuzzers/format_fuzzer.cpp
  src/Interpreters/fuzzers/execute_query_fuzzer.cpp
  src/Storages/fuzzers/columns_description_fuzzer.cpp
Labels: pr-not-for-changelog, build-fuzzers, libFuzzer

#77269 Remove more fields from JoinLogical.
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/JoinInfo.cpp
  src/Interpreters/JoinInfo.h
  src/Planner/Planner.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Planner/PlannerJoinsLogical.cpp
  src/Processors/QueryPlan/JoinStepLogical.cpp
  src/Processors/QueryPlan/JoinStepLogical.h
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.h
  src/Processors/QueryPlan/Optimizations/optimizeJoin.cpp
  src/Processors/QueryPlan/SortingStep.cpp
  src/Processors/QueryPlan/SortingStep.h
Labels: pr-not-for-changelog

#77181 Support atomic rename when TRUNCATE is used with INTO OUTFILE
  src/Client/ClientBase.cpp
  src/Common/ErrorCodes.cpp
  tests/queries/0_stateless/03362_into_outfile_atomic_truncate.reference
  tests/queries/0_stateless/03362_into_outfile_atomic_truncate.sh
Labels: pr-improvement, can be tested

#73326 Enforce saturating conversion for implicit Date to DateTime during index analysis
  src/Functions/CastOverloadResolver.cpp
  src/Functions/DateTimeTransforms.h
  src/Functions/FunctionsConversion.cpp
  src/Functions/FunctionsConversion.h
  src/Storages/MergeTree/KeyCondition.cpp
  src/Storages/MergeTree/KeyCondition.h
  tests/queries/0_stateless/02900_date_time_check_overflow.reference
  tests/queries/0_stateless/03271_date_to_datetime_saturation.reference
  tests/queries/0_stateless/03271_date_to_datetime_saturation.sql
Labels: pr-bugfix

#77149 Add backup/restore functionality to BuzzHouse
  programs/client/FuzzLoop.cpp
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.h
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/RandomSettings.h
  src/Client/BuzzHouse/Generator/SQLCatalog.h
  src/Client/BuzzHouse/Generator/SQLExpression.cpp
  src/Client/BuzzHouse/Generator/SQLFuncs.h
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/SQLTypes.cpp
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Generator/TableSetttings.cpp
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
Labels: pr-not-for-changelog

#77127 line breaks on datasets
  docs/en/getting-started/example-datasets/amazon-reviews.md
  docs/en/getting-started/example-datasets/reddit-comments.md
Labels: pr-documentation, can be tested

#77282 CI: Migrate Release and Backport CIs to praktika
  .github/workflows/backport_branches.yml
  .github/workflows/release_branches.yml
  ci/workflows/backport_branches.py
  ci/workflows/release_branches.py
Labels: do not test, pr-not-for-changelog

#76440 ReplacingMergeTree: Automatic cleanup merges
  docs/en/engines/table-engines/mergetree-family/replacingmergetree.md
  docs/en/operations/settings/merge-tree-settings.md
  src/Core/SettingsChangesHistory.cpp
  src/Storages/MergeTree/Compaction/ConstructFuturePart.cpp
  src/Storages/MergeTree/Compaction/MergeSelectorApplier.h
  src/Storages/MergeTree/FutureMergedMutatedPart.h
  src/Storages/MergeTree/MergeFromLogEntryTask.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/03357_replacing_min_age_cleanup.reference
  tests/queries/0_stateless/03357_replacing_min_age_cleanup.sh
Labels: pr-experimental

#77323 Fix comparison between nullable tuples and strings
  src/Functions/FunctionsComparison.h
  tests/queries/0_stateless/03371_nullable_tuple_string_comparison.reference
  tests/queries/0_stateless/03371_nullable_tuple_string_comparison.sql
Labels: pr-bugfix, 🍃 green ci 🌿

#77325 Fix crash in ObjectStorageQueueSource
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.cpp
Labels: pr-bugfix

#77209 Add debug logging to S3Queue metadata
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadata.cpp
Labels: pr-not-for-changelog, can be tested, pr-must-backport-cloud

#77232 Fix flaky test_keeper_auth
  tests/integration/test_keeper_auth/test.py
Labels: can be tested, pr-ci

#72939 Fix stuck while processing pending batch for async distributed INSERT
  src/Storages/Distributed/DistributedAsyncInsertBatch.cpp
  src/Storages/Distributed/DistributedAsyncInsertBatch.h
  src/Storages/Distributed/DistributedAsyncInsertDirectoryQueue.cpp
Labels: pr-bugfix

#77175 ci: cleanup system.*_log artifacts
  tests/docker_scripts/stateless_runner.sh
Labels: pr-not-for-changelog

#77104 ci: fix errors due to "unable to read tree" in performance tests
  ci/jobs/scripts/perf/compare.sh
  docker/packager/binary-builder/build.sh
  tests/ci/build_check.py
  tests/performance/scripts/compare.sh
  tests/performance/scripts/entrypoint.sh
Labels: pr-not-for-changelog

#77338 ci: use TSVWithNamesAndTypes for system.*_log artifacts
  tests/docker_scripts/stateless_runner.sh
Labels: pr-not-for-changelog

#77341 tests: fix 03357_replacing_min_age_cleanup flakiness
  tests/queries/0_stateless/03357_replacing_min_age_cleanup.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#77349 Fix setting type
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#77290 Fix `Bfloat16`'s equality operator (fixes flaky tests)
  base/base/BFloat16.h
  src/Processors/QueryPlan/PartsSplitter.cpp
  tests/queries/0_stateless/03367_bfloat16_tuple_final.sql
  tests/queries/0_stateless/03371_bfloat16_special_values.reference
  tests/queries/0_stateless/03371_bfloat16_special_values.sql
Labels: pr-bugfix, can be tested

#77293 Minor follow-up to #69236
  docs/en/operations/server-configuration-parameters/settings.md
  docs/en/sql-reference/statements/system.md
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Access/Common/AccessType.h
  src/Core/Defines.h
  src/Core/ServerSettings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Parsers/ASTSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  tests/queries/0_stateless/01271_show_privileges.reference
Labels: pr-not-for-changelog

#77345 tests: better mocks for S3 (add some logging) and decrease tune failure rate
  tests/integration/helpers/s3_mocks/broken_s3.py
  tests/integration/test_merge_tree_s3/s3_mocks/no_delete_objects.py
  tests/integration/test_merge_tree_s3/s3_mocks/unstable_proxy.py
  tests/integration/test_s3_access_headers/s3_mocks/mocker_s3.py
  tests/integration/test_storage_s3/s3_mocks/no_list_objects.py
  tests/integration/test_storage_s3/s3_mocks/unstable_server.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#77346 tests: use more reliable hits_s3 for 00156_max_execution_speed_sample_merge
  tests/queries/0_stateless/00156_max_execution_speed_sample_merge.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#76762 Some fixes for the MongoDB integration
  docs/en/engines/table-engines/integrations/mongodb.md
  docs/en/sql-reference/table-functions/mongodb.md
  src/Common/BSONCXXHelper.h
  src/Processors/Sources/MongoDBSource.cpp
  src/Storages/StorageMongoDB.cpp
  src/Storages/StorageMongoDB.h
  src/TableFunctions/TableFunctionMongoDB.cpp
  tests/integration/helpers/external_sources.py
  tests/integration/test_storage_mongodb/test.py
  tests/integration/test_table_function_mongodb/test.py
Labels: pr-bugfix, can be tested

#77280 Follow-up to #69236
  src/Core/Block.cpp
  src/DataTypes/DataTypeTuple.cpp
  src/Interpreters/Cache/QueryConditionCache.cpp
  src/Interpreters/Cache/QueryConditionCache.h
  src/Interpreters/Cache/QueryResultCache.h
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  tests/queries/0_stateless/03285_orc_arrow_parquet_tuple_field_matching.sh
Labels: pr-performance

#77308 Sync parser files
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Parsers/ASTAlterQuery.cpp
  src/Parsers/ASTAlterQuery.h
  src/Parsers/ASTLiteral.cpp
  src/Parsers/ASTSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  src/Parsers/CreateQueryUUIDs.cpp
  src/Parsers/ParserAlterQuery.cpp
  src/Parsers/ParserCreateQuery.cpp
  src/Parsers/ParserSystemQuery.cpp
Labels: pr-not-for-changelog

#77302 StackTrace(): capture source line where it was called correctly
  src/Common/StackTrace.cpp
  src/Common/StackTrace.h
Labels: pr-not-for-changelog

#77340 Fix async_insert with input()
  src/Client/ClientBase.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  tests/queries/0_stateless/03380_input_async_insert.reference
  tests/queries/0_stateless/03380_input_async_insert.sql
Labels: pr-bugfix

#77319 Fix name for partition with a Bool value
  src/DataTypes/Serializations/SerializationBool.cpp
  src/Formats/FormatSettings.h
  src/Storages/MergeTree/MergeTreePartition.cpp
  tests/queries/0_stateless/03375_bool_partition.reference
  tests/queries/0_stateless/03375_bool_partition.sql
Labels: pr-bugfix, v25.2-must-backport

#77318 Allow to specify metadata file for Iceberg
  src/Databases/Iceberg/DatabaseIceberg.cpp
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.h
  src/Storages/ObjectStorage/DataLakes/HudiMetadata.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.h
  src/Storages/ObjectStorage/StorageObjectStorage.cpp
  src/Storages/ObjectStorage/StorageObjectStorage.h
  src/Storages/ObjectStorage/StorageObjectStorageSettings.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSettings.h
  src/Storages/ObjectStorage/registerStorageObjectStorage.cpp
  src/TableFunctions/TableFunctionObjectStorage.cpp
  src/TableFunctions/TableFunctionObjectStorage.h
  tests/integration/test_storage_iceberg/test.py
Labels: pr-improvement

#75258 Add documentation for MongoDB Table and dictionary named collection examples
  docs/en/operations/named-collections.md
Labels: pr-documentation, can be tested

#77376 tests: fix 01175_distributed_ddl_output_mode_long flakiness
  tests/queries/0_stateless/01175_distributed_ddl_output_mode_long.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#77396 Docs: fix docs check
  docs/en/operations/named-collections.md
  docs/en/sql-reference/operators/distributed-ddl.md
Labels: pr-documentation

#77322 Make a few tests parallel ready
  src/Storages/System/StorageSystemResources.cpp
  tests/queries/0_stateless/00083_create_merge_tree_zookeeper_long.sql
  tests/queries/0_stateless/00309_formats_case_insensitive.sh
  tests/queries/0_stateless/00309_formats_case_insensitive.sql
  tests/queries/0_stateless/01060_shutdown_table_after_detach.sql
  tests/queries/0_stateless/01415_inconsistent_merge_tree_settings.sql
  tests/queries/0_stateless/01721_dictionary_decimal_p_s.sql
  tests/queries/0_stateless/02103_tsv_csv_custom_null_representation.sh
  tests/queries/0_stateless/02152_bool_type_parsing.sh
  tests/queries/0_stateless/02458_default_setting.sql
  tests/queries/0_stateless/02483_add_engine_full_column_to_system_databases.sql
  tests/queries/0_stateless/03232_resource_create_and_drop.reference
  tests/queries/0_stateless/03232_resource_create_and_drop.sh
  tests/queries/0_stateless/03232_resource_create_and_drop.sql
Labels: pr-not-for-changelog

#76570 Improve min/max performance for Decimal32/Decimal64/DateTime64
  src/AggregateFunctions/SingleValueData.cpp
  src/Common/findExtreme.cpp
  src/Common/findExtreme.h
  tests/performance/opt_max_min.xml
Labels: pr-performance

#76613 Refactor cache key calculation for joins
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/ActionsDAG.h
  src/Interpreters/ConcurrentHashJoin.cpp
  src/Interpreters/ConcurrentHashJoin.h
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Planner/PlannerJoinTree.cpp
  src/Planner/PlannerJoins.cpp
  src/Planner/PlannerJoins.h
  src/Planner/PlannerJoinsLogical.cpp
  src/Processors/IProcessor.cpp
  src/Processors/QueryPlan/AggregatingStep.h
  src/Processors/QueryPlan/ArrayJoinStep.h
  src/Processors/QueryPlan/CreatingSetsStep.h
  src/Processors/QueryPlan/DistinctStep.h
  src/Processors/QueryPlan/ExpressionStep.h
  src/Processors/QueryPlan/ExtremesStep.h
  src/Processors/QueryPlan/FilterStep.h
  src/Processors/QueryPlan/IQueryPlanStep.cpp
  src/Processors/QueryPlan/IQueryPlanStep.h
  src/Processors/QueryPlan/JoinStepLogical.cpp
  src/Processors/QueryPlan/JoinStepLogical.h
  src/Processors/QueryPlan/LimitByStep.h
  src/Processors/QueryPlan/LimitStep.h
  src/Processors/QueryPlan/OffsetStep.h
  src/Processors/QueryPlan/Optimizations/Optimizations.h
  src/Processors/QueryPlan/Optimizations/calculateHashTableCacheKeys.cpp
  src/Processors/QueryPlan/Optimizations/optimizeJoin.cpp
  src/Processors/QueryPlan/Optimizations/optimizePrewhere.cpp
  src/Processors/QueryPlan/Optimizations/optimizeTree.cpp
  src/Processors/QueryPlan/ReadFromRemote.h
  src/Processors/QueryPlan/SetsSerialization.cpp
  src/Processors/QueryPlan/SortingStep.h
  src/Processors/QueryPlan/TotalsHavingStep.h
  src/Processors/QueryPlan/UnionStep.h
  src/Storages/System/StorageSystemDroppedTablesParts.cpp
  tests/queries/0_stateless/02151_hash_table_sizes_stats_joins.reference
  tests/queries/0_stateless/02151_hash_table_sizes_stats_joins.sh
Labels: pr-not-for-changelog

#77393 tests: fix 02161_addressToLineWithInlines (incorrect SYSTEM FLUSH LOGS)
  tests/queries/0_stateless/02161_addressToLineWithInlines.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#77305 fix: posbile incorrect reference to unintialized key_index variable
  src/Storages/MergeTree/MergeTreeIndexBloomFilterText.cpp
Labels: pr-bugfix, can be tested

#76627 Fix logical error in defaultProfiles function
  src/Functions/currentProfiles.cpp
  tests/queries/0_stateless/03362_default_profiles_context.reference
  tests/queries/0_stateless/03362_default_profiles_context.sql
Labels: pr-bugfix

#77299 Remove some unused includes
  src/Core/Types_fwd.h
  src/Storages/Distributed/DistributedSink.h
  src/Storages/PartitionedSink.h
Labels: pr-not-for-changelog

#77184 remove a left over comment from test
  tests/queries/0_stateless/03327_permissions_on_refresh_mv.sh
Labels: pr-not-for-changelog

#77347 Fix doc building runner image
  tests/integration/README.md
Labels: pr-not-for-changelog, can be tested

#77413 Docs: Fix last broken link
  docs/en/sql-reference/functions/other-functions.md
Labels: pr-documentation

#77420 Docs: fix broken anchors
  docs/en/sql-reference/aggregate-functions/reference/estimateCompressionRatio.md
Labels: pr-documentation

#77402 Use fmt::format instead of std::format
  src/Client/ProgressTable.cpp
  src/Common/Config/ConfigProcessor.cpp
  src/Common/FileRenamer.cpp
  src/IO/tests/gtest_archive_reader_and_writer.cpp
  src/Interpreters/ClientInfo.cpp
  src/Parsers/Kusto/Formatters.cpp
  src/Parsers/Kusto/KustoFunctions/IParserKQLFunction.cpp
  src/Parsers/Kusto/KustoFunctions/KQLBinaryFunctions.cpp
  src/Parsers/Kusto/KustoFunctions/KQLCastingFunctions.cpp
  src/Parsers/Kusto/KustoFunctions/KQLDataTypeFunctions.cpp
  src/Parsers/Kusto/KustoFunctions/KQLDateTimeFunctions.cpp
  src/Parsers/Kusto/KustoFunctions/KQLDynamicFunctions.cpp
  src/Parsers/Kusto/KustoFunctions/KQLGeneralFunctions.cpp
  src/Parsers/Kusto/KustoFunctions/KQLIPFunctions.cpp
  src/Parsers/Kusto/KustoFunctions/KQLMathematicalFunctions.cpp
  src/Parsers/Kusto/KustoFunctions/KQLStringFunctions.cpp
  src/Parsers/Kusto/ParserKQLDateTypeTimespan.cpp
  src/Parsers/Kusto/ParserKQLExtend.cpp
  src/Parsers/Kusto/ParserKQLMVExpand.cpp
  src/Parsers/Kusto/ParserKQLMakeSeries.cpp
  src/Parsers/Kusto/ParserKQLQuery.cpp
  src/Parsers/Kusto/ParserKQLSummarize.cpp
  utils/check-style/check-style
Labels: pr-not-for-changelog, 🚀 Fast CI 🥒

#77409 ci: fix collecting system.*_log for Replicated and SC
  tests/docker_scripts/stateless_runner.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#77435 Docs: Fix broken anchors
  docs/en/sql-reference/aggregate-functions/reference/estimateCompressionRatio.md
Labels: pr-documentation

#77344 tests: unify object storage tags exceptions
  tests/queries/0_stateless/00096_obfuscator_save_load.sh
  tests/queries/0_stateless/00098_primary_key_memory_allocated.sql
  tests/queries/0_stateless/00161_parallel_parsing_with_names.sh
  tests/queries/0_stateless/00166_explain_estimate.sql
  tests/queries/0_stateless/00167_parallel_parsing_with_names_and_types.sh
  tests/queries/0_stateless/00171_grouping_aggregated_transform_bug.sql
  tests/queries/0_stateless/00172_hits_joins.sql.j2
  tests/queries/0_stateless/00175_obfuscator_schema_inference.sh
  tests/queries/0_stateless/00177_memory_bound_merging.sh
  tests/queries/0_stateless/01710_projection_fetch_long.sql
  tests/queries/0_stateless/01825_new_type_json_ghdata.sh
  tests/queries/0_stateless/01825_new_type_json_ghdata_insert_select.sh
  tests/queries/0_stateless/01825_type_json_ghdata.sh
  tests/queries/0_stateless/01825_type_json_ghdata_insert_select.sh
  tests/queries/0_stateless/02241_join_rocksdb_bs.sql.j2
  tests/queries/0_stateless/02310_clickhouse_local_INSERT_progress_profile_events.expect
  tests/queries/0_stateless/03008_deduplication_insert_several_blocks_nonreplicated.sh
  tests/queries/0_stateless/03008_deduplication_insert_several_blocks_replicated.sh
  tests/queries/0_stateless/03008_deduplication_mv_generates_several_blocks_nonreplicated.sh
  tests/queries/0_stateless/03008_deduplication_mv_generates_several_blocks_replicated.sh
  tests/queries/0_stateless/03008_deduplication_several_mv_into_one_table_nonreplicated.sh
  tests/queries/0_stateless/03008_deduplication_several_mv_into_one_table_replicated.sh
  tests/queries/0_stateless/03168_read_in_order_buffering_2.sql
  tests/queries/0_stateless/03247_ghdata_string_to_json_alter.sh
  tests/queries/0_stateless/03271_ghdata_object_to_json_alter.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#77348 docs: notes about s3_create_new_file_on_insert/s3_truncate_on_insert
  docs/en/engines/table-engines/integrations/s3.md
  docs/en/sql-reference/table-functions/s3.md
  docs/ru/engines/table-engines/integrations/s3.md
  docs/ru/sql-reference/table-functions/s3.md
  src/Core/Settings.cpp
Labels: pr-documentation, can be tested

#77423 Decouple JOIN serialization
  src/Core/Joins.cpp
  src/Core/Joins.h
  src/Interpreters/ActionsDAG.cpp
  src/Interpreters/JoinInfo.cpp
  src/Interpreters/JoinInfo.h
  src/Processors/QueryPlan/JoinStepLogical.cpp
  src/Processors/QueryPlan/JoinStepLogical.h
  src/Processors/QueryPlan/QueryPlanStepRegistry.cpp
Labels: pr-not-for-changelog

#76029 improve system.warnings table
  programs/keeper/Keeper.cpp
  programs/server/Server.cpp
  src/Common/AsynchronousMetrics.cpp
  src/Common/AsynchronousMetrics.h
  src/Common/CurrentMetrics.h
  src/Common/assertProcessUserMatchesDataOwner.cpp
  src/Common/assertProcessUserMatchesDataOwner.h
  src/Coordination/KeeperAsynchronousMetrics.cpp
  src/Core/ServerSettings.cpp
  src/Databases/DatabaseReplicated.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ServerAsynchronousMetrics.cpp
  src/Interpreters/ServerAsynchronousMetrics.h
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/System/StorageSystemWarnings.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/02931_max_num_to_warn.reference
  tests/queries/0_stateless/02931_max_num_to_warn.sql
Labels: pr-improvement

#77190 tests: avoid joining thread from itself in coordinator unit tests
  src/Coordination/tests/gtest_coordination.cpp
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#77307 Fix THERE_IS_NO_COLUMN for parallel replicas with constant table ALIAS
  src/Planner/CollectTableExpressionData.cpp
  src/Planner/PlannerActionsVisitor.cpp
  src/Planner/PlannerJoinTree.cpp
  tests/queries/0_stateless/03371_constant_alias_columns.reference
  tests/queries/0_stateless/03371_constant_alias_columns.sql
Labels: pr-bugfix

#67778 Apply `preserve_most` attribute at some places in code
  base/base/defines.h
  src/Common/Arena.h
  src/Common/HashTable/HashTable.h
  src/Common/PODArray.h
  src/Interpreters/AggregationCommon.h
  src/Interpreters/Aggregator.cpp
Labels: pr-performance

#77271 Fix bloom filter index with Array and not supported functions
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  tests/queries/0_stateless/03375_bloom_filter_array_equals.reference
  tests/queries/0_stateless/03375_bloom_filter_array_equals.sql
Labels: pr-bugfix

#77421 Increase timeout for cancel_backup integration tests
  tests/integration/test_backup_restore_new/test_cancel_backup.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#77438 Forbid empty databases (leaked via default_database)
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/fuzzers/execute_query_fuzzer.cpp
  tests/queries/0_stateless/03381_clickhouse_local_empty_default_database.reference
  tests/queries/0_stateless/03381_clickhouse_local_empty_default_database.sh
Labels: pr-not-for-changelog

#77437 ci: secure reports dropdown (preserve tags)
  ci/praktika/json.html
Labels: pr-ci

#77399 Non-constant `CASE` support
  src/Functions/caseWithExpression.cpp
  src/Functions/transform.cpp
  tests/queries/0_stateless/03390_non_constant_case.reference
  tests/queries/0_stateless/03390_non_constant_case.sql
Labels: pr-improvement

#77466 Update README.md
  README.md
Labels: pr-not-for-changelog

#77447 Revert skipping index cache
  docs/en/engines/table-engines/mergetree-family/annindexes.md
  docs/en/operations/caches.md
  docs/en/operations/server-configuration-parameters/settings.md
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Common/CurrentMetrics.cpp
  src/Common/ProfileEvents.cpp
  src/Core/Defines.h
  src/Core/Range.h
  src/Core/ServerSettings.cpp
  src/Interpreters/BloomFilter.cpp
  src/Interpreters/BloomFilter.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/GinFilter.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.cpp
  src/Storages/MergeTree/MergeTreeDataSelectExecutor.h
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.h
  src/Storages/MergeTree/MergeTreeIndexBloomFilterText.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilterText.h
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.h
  src/Storages/MergeTree/MergeTreeIndexHypothesis.h
  src/Storages/MergeTree/MergeTreeIndexMinMax.h
  src/Storages/MergeTree/MergeTreeIndexReader.cpp
  src/Storages/MergeTree/MergeTreeIndexReader.h
  src/Storages/MergeTree/MergeTreeIndexSet.h
  src/Storages/MergeTree/MergeTreeIndexVectorSimilarity.cpp
  src/Storages/MergeTree/MergeTreeIndexVectorSimilarity.h
  src/Storages/MergeTree/MergeTreeIndices.h
  src/Storages/MergeTree/SkippingIndexCache.h
  tests/queries/0_stateless/02355_skipping_index_cache.reference
  tests/queries/0_stateless/02355_skipping_index_cache.sql
Labels: pr-improvement, pr-must-backport

#76001 Autodiscovery dynamic clusters
  docs/en/operations/cluster-discovery.md
  src/Interpreters/ClusterDiscovery.cpp
  src/Interpreters/ClusterDiscovery.h
  tests/integration/test_cluster_discovery/config/config_dynamic_cluster1.xml
  tests/integration/test_cluster_discovery/config/config_dynamic_cluster2.xml
  tests/integration/test_cluster_discovery/config/config_dynamic_cluster3.xml
  tests/integration/test_cluster_discovery/config/config_dynamic_cluster_observer.xml
  tests/integration/test_cluster_discovery/test_dynamic_clusters.py
Labels: can be tested, pr-experimental

#77471 fs cache: fix error processing during file segment write
  src/Interpreters/Cache/FileSegment.cpp
Labels: pr-bugfix, pr-must-backport

#77411 ci: detect dead server after stress testing
  tests/ci/stress.py
Labels: pr-not-for-changelog

#77429 Split materialized pg tests to be less heavy
  tests/integration/test_postgresql_replica_database_engine/__init__.py
  tests/integration/test_postgresql_replica_database_engine/configs/log_conf.xml
  tests/integration/test_postgresql_replica_database_engine/configs/merge_tree_too_many_parts.xml
  tests/integration/test_postgresql_replica_database_engine/configs/users.xml
  tests/integration/test_postgresql_replica_database_engine/test_0.py
  tests/integration/test_postgresql_replica_database_engine/test_1.py
  tests/integration/test_postgresql_replica_database_engine/test_2.py
  tests/integration/test_postgresql_replica_database_engine/test_3.py
Labels: pr-not-for-changelog

#77481 Fix retriable exception
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadata.cpp
Labels: pr-not-for-changelog, pr-must-backport

#77442 Remove some dependencies from Settings.cpp
  src/Access/SettingsConstraints.cpp
  src/Access/SettingsConstraints.h
  src/Columns/ColumnAggregateFunction.cpp
  src/Columns/ColumnMap.h
  src/Columns/ColumnVector.cpp
  src/Columns/ColumnVector.h
  src/Columns/MaskOperations.cpp
  src/Core/BaseSettings.h
  src/Core/Block.cpp
  src/Core/Settings.cpp
  src/Core/SettingsFields.h
  src/DataTypes/Serializations/SerializationInfo.cpp
  src/DataTypes/Serializations/SerializationMap.cpp
  src/IO/AsyncReadCounters.cpp
  src/Interpreters/ProfileEventsExt.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Processors/Formats/Impl/PrometheusTextOutputFormat.cpp
  src/Processors/QueryPlan/Optimizations/QueryPlanOptimizationSettings.cpp
  src/Storages/System/StorageSystemNamedCollections.cpp
  src/Storages/TimeSeries/PrometheusRemoteReadProtocol.cpp
  src/Storages/TimeSeries/PrometheusRemoteWriteProtocol.cpp
Labels: pr-not-for-changelog

#77495 Generate new certificates for test_reload_certificate
  tests/integration/test_reload_certificate/configs/WithChain.crt
  tests/integration/test_reload_certificate/configs/WithChain.key
Labels: pr-must-backport, can be tested, pr-ci, 🍃 green ci 🌿

#77486 database iceberg: take metadata file from catalog
  src/Databases/Iceberg/DatabaseIceberg.cpp
  src/Databases/Iceberg/ICatalog.cpp
  src/Databases/Iceberg/ICatalog.h
  src/Databases/Iceberg/RestCatalog.cpp
  tests/integration/test_database_iceberg/test.py
Labels: pr-bugfix, pr-must-backport

#70659 Use cluster table functions automatically if parallel replicas are enabled
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  src/Analyzer/Resolve/TableFunctionsWithClusterAlternativesVisitor.h
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Databases/DatabaseS3.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/IStorageCluster.cpp
  src/Storages/ObjectStorage/StorageObjectStorageCluster.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.h
  src/Storages/StorageFileCluster.cpp
  src/Storages/StorageURLCluster.cpp
  src/Storages/extractTableFunctionFromSelectQuery.cpp
  src/Storages/extractTableFunctionFromSelectQuery.h
  src/TableFunctions/ITableFunction.h
  src/TableFunctions/ITableFunctionCluster.h
  src/TableFunctions/ITableFunctionFileLike.cpp
  src/TableFunctions/ITableFunctionFileLike.h
  src/TableFunctions/TableFunctionFile.cpp
  src/TableFunctions/TableFunctionFile.h
  src/TableFunctions/TableFunctionFileCluster.cpp
  src/TableFunctions/TableFunctionFileCluster.h
  src/TableFunctions/TableFunctionObjectStorage.cpp
  src/TableFunctions/TableFunctionObjectStorage.h
  src/TableFunctions/TableFunctionURL.cpp
  src/TableFunctions/TableFunctionURL.h
  src/TableFunctions/TableFunctionURLCluster.cpp
  src/TableFunctions/TableFunctionURLCluster.h
  tests/queries/0_stateless/02496_storage_s3_profile_events.sql
  tests/queries/0_stateless/02789_reading_from_s3_with_connection_pool.sh
  tests/queries/0_stateless/03237_insert_sparse_columns_mem.sh
  tests/queries/0_stateless/03275_auto_cluster_functions_with_parallel_replicas.reference
  tests/queries/0_stateless/03275_auto_cluster_functions_with_parallel_replicas.sql
Labels: pr-improvement

#77555 Docs: Update run.sh
  docker/docs/builder/run.sh
Labels: pr-documentation, can be tested

#77526 Fix documentation for format settings
  src/Core/FormatFactorySettings.h
Labels: pr-not-for-changelog

#77449 Add perf test for BFloat16 arithmetics
  tests/performance/bfloat16.xml
Labels: pr-not-for-changelog
