Repository ClickHouse/ClickHouse, pull requests merged in 2025-07, with the labels that each got.

#82665 Add new tool to inspect and dump the FST index tree
  programs/CMakeLists.txt
  programs/fst-dump-tree/CMakeLists.txt
  programs/fst-dump-tree/FstDumpTree.cpp
  programs/fst-dump-tree/README.md
  programs/fst-dump-tree/fst-dump-tree.cpp
  programs/main.cpp
  src/Common/FST.cpp
  src/Common/FST.h
Labels: pr-not-for-changelog

#82111 Keeper: some small digest and auth related fixes
  src/Common/ZooKeeper/IKeeper.cpp
  src/Common/ZooKeeper/ZooKeeperCommon.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Coordination/KeeperStorage.cpp
  src/Coordination/KeeperStorage.h
  src/Storages/MergeTree/ReplicatedMergeTreeRestartingThread.cpp
Labels: pr-not-for-changelog, pr-must-backport

#82937 clickhouse-test: fix `--test-runs`
  tests/clickhouse-test
Labels: pr-not-for-changelog

#80425 Enable parallel distributed insert select by default
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageInput.cpp
  src/Storages/StorageInput.h
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/01666_blns_long.sql
  tests/queries/0_stateless/01889_sqlite_read_write.sh
  tests/queries/0_stateless/02765_queries_with_subqueries_profile_events.sh
  tests/queries/0_stateless/02895_npy_output_format.sh
  tests/queries/0_stateless/03254_timeseries_to_grid_aggregate_function_sparse.sql
Labels: pr-performance

#82939 Fix reference invalidation while use_structure_from_insertion_table_in_table_functions
  src/Analyzer/Resolve/QueryAnalyzer.cpp
Labels: pr-must-backport, can be tested, pr-must-backport-cloud, pr-critical-bugfix

#82485 Keeper improvement: move changelog files between disk in a background thread
  src/Coordination/Changelog.cpp
  src/Coordination/Changelog.h
  tests/integration/test_keeper_disks/test.py
Labels: pr-improvement, pr-must-backport

#82978 Speedup test_storage_s3_queue:test_s3_client_reused
  tests/integration/test_storage_s3_queue/test_1.py
Labels: pr-not-for-changelog

#83010 Revert "UNION – unify types with Variant if needed "
  src/Analyzer/UnionNode.cpp
  src/Columns/getLeastSuperColumn.cpp
  tests/queries/0_stateless/03545_union_allow_column_with_no_common_type.reference
  tests/queries/0_stateless/03545_union_allow_column_with_no_common_type.sql
Labels: pr-not-for-changelog

#81951 fix HTTP header `Connection`
  src/Client/Connection.cpp
  src/IO/BufferBase.h
  src/IO/HTTPChunkedReadBuffer.cpp
  src/IO/ReadBuffer.cpp
  src/IO/ReadBuffer.h
  src/IO/WriteBuffer.h
  src/Processors/Sinks/RemoteSink.h
  src/QueryPipeline/RemoteInserter.cpp
  src/QueryPipeline/RemoteInserter.h
  src/Server/HTTP/HTTPServerRequest.h
  src/Server/HTTP/HTTPServerResponse.cpp
  src/Server/HTTP/HTTPServerResponse.h
  src/Server/HTTP/WriteBufferFromHTTPServerResponse.cpp
  src/Server/HTTP/WriteBufferFromHTTPServerResponse.h
  src/Server/HTTP/sendExceptionToHTTPClient.cpp
  src/Storages/Distributed/DistributedAsyncInsertBatch.cpp
  src/Storages/Distributed/DistributedAsyncInsertDirectoryQueue.cpp
  tests/queries/0_stateless/00416_pocopatch_progress_in_http_headers.reference
  tests/queries/0_stateless/00416_pocopatch_progress_in_http_headers.sh
  tests/queries/0_stateless/02136_scalar_progress.reference
  tests/queries/0_stateless/02373_progress_contain_result.reference
  tests/queries/0_stateless/02403_big_http_chunk_size.python
  tests/queries/0_stateless/02403_big_http_chunk_size.reference
  tests/queries/0_stateless/02423_insert_summary_behaviour.reference
  tests/queries/0_stateless/03545_progress_header_goes_first.reference
  tests/queries/0_stateless/03545_progress_header_goes_first.sh
Labels: pr-improvement

#82950 Fix filter conjuncts removal in StorageMerge
  src/Analyzer/Utils.cpp
  src/Storages/transformQueryForExternalDatabaseAnalyzer.cpp
  tests/queries/0_stateless/03549_analyzer_fix_filter_removal.reference
  tests/queries/0_stateless/03549_analyzer_fix_filter_removal.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#82830 Rename DatabasesOverlay to DatabaseOverlay
  programs/local/LocalServer.cpp
  src/Databases/DatabaseOverlay.cpp
  src/Databases/DatabaseOverlay.h
Labels: pr-not-for-changelog

#82840 Fix inconsistent formatting of EXPLAIN AST in a subquery
  src/Parsers/ASTQueryWithOutput.cpp
  src/Parsers/ASTQueryWithOutput.h
  src/Parsers/ExpressionElementParsers.cpp
  tests/queries/0_stateless/03559_explain_ast_in_subquery.reference
  tests/queries/0_stateless/03559_explain_ast_in_subquery.sql
Labels: pr-improvement

#83034 Increase timeout for 30m of asan+old_analyzer
  tests/ci/ci_config.py
Labels: pr-ci

#83035 Fix tidy build
  src/Dictionaries/CacheDictionaryUpdateQueue.cpp
Labels: pr-not-for-changelog

#82985 Remove unused AsynchronousReadBufferFromFile
  src/IO/AsynchronousReadBufferFromFile.cpp
  src/IO/AsynchronousReadBufferFromFile.h
Labels: pr-not-for-changelog

#82984 Add getPosition() interface for CompressedReadBufferBase
  src/Compression/CachedCompressedReadBuffer.h
  src/Compression/CompressedReadBufferBase.cpp
  src/Compression/CompressedReadBufferBase.h
  src/Compression/CompressedReadBufferFromFile.cpp
  src/Compression/CompressedReadBufferFromFile.h
Labels: pr-not-for-changelog

#82516 Reintroduce async logging
  base/poco/Foundation/include/Poco/Message.h
  base/poco/Foundation/include/Poco/NotificationQueue.h
  base/poco/Foundation/include/Poco/Thread_POSIX.h
  base/poco/Foundation/src/Message.cpp
  base/poco/Foundation/src/NotificationQueue.cpp
  base/poco/Foundation/src/PatternFormatter.cpp
  base/poco/Foundation/src/Thread_POSIX.cpp
  base/poco/Net/include/Poco/Net/RemoteSyslogListener.h
  base/poco/Net/src/RemoteSyslogChannel.cpp
  base/poco/Net/src/RemoteSyslogListener.cpp
  docs/en/operations/server-configuration-parameters/_server_settings_outside_source.md
  programs/disks/DisksApp.cpp
  programs/disks/DisksApp.h
  programs/disks/DisksClient.h
  programs/local/LocalServer.h
  src/Access/KerberosInit.cpp
  src/CMakeLists.txt
  src/Common/Exception.cpp
  src/Common/Logger.cpp
  src/Common/Logger.h
  src/Common/logger_useful.h
  src/Common/mysqlxx/CMakeLists.txt
  src/Common/mysqlxx/mysqlxx/Null.h
  src/Common/mysqlxx/mysqlxx/mysqlxx.h
  src/Common/mysqlxx/tests/CMakeLists.txt
  src/Common/mysqlxx/tests/mysqlxx_pool_test.cpp
  src/Daemon/BaseDaemon.cpp
  src/Functions/FunctionsDecimalArithmetics.h
  src/Interpreters/SystemLog.cpp
  src/Loggers/CMakeLists.txt
  src/Loggers/ExtendedLogChannel.h
  src/Loggers/Loggers.cpp
  src/Loggers/Loggers.h
  src/Loggers/OwnFormattingChannel.cpp
  src/Loggers/OwnFormattingChannel.h
  src/Loggers/OwnJSONPatternFormatter.cpp
  src/Loggers/OwnPatternFormatter.cpp
  src/Loggers/OwnSplitChannel.cpp
  src/Loggers/OwnSplitChannel.h
  src/Server/ClientEmbedded/ClientEmbedded.h
  tests/config/config.d/logger_trace.xml
  tests/config/install.sh
  tests/integration/test_shutdown_static_destructor_failure/configs/test_sync_logger.xml
  tests/integration/test_shutdown_static_destructor_failure/test.py
  tests/queries/0_stateless/03096_text_log_format_string_args_not_empty.reference
  tests/queries/0_stateless/03096_text_log_format_string_args_not_empty.sh
  tests/queries/0_stateless/03096_text_log_format_string_args_not_empty.sql
Labels: pr-performance

#82998 Fix 03254_timeseries_to_grid_aggregate_function with PR
  tests/queries/0_stateless/03254_timeseries_to_grid_aggregate_function.sql
Labels: pr-not-for-changelog

#83011 Sync metrics from cloud
  src/Common/CurrentMetrics.cpp
Labels: pr-not-for-changelog

#82542 Docs: embed videos on dictionaries in dictionaries page
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/en/sql-reference/dictionaries/index.md
Labels: pr-documentation

#83031 Remove Array/Map support from text index
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
  src/Storages/MergeTree/MergeTreeIndexGin.cpp
  src/Storages/MergeTree/MergeTreeIndexGin.h
  tests/queries/0_stateless/02346_text_index_bug52019.reference
  tests/queries/0_stateless/02346_text_index_bug52019.sql
  tests/queries/0_stateless/02346_text_index_queries.reference
  tests/queries/0_stateless/02346_text_index_queries.sql
Labels: pr-not-for-changelog

#82918 Enable time types back on AST fuzzer
  src/Common/QueryFuzzer.cpp
Labels: pr-ci

#80498 fix for issue: 71470
  src/Functions/UTCTimestampTransform.cpp
  tests/queries/0_stateless/02812_from_to_utc_timestamp.reference
  tests/queries/0_stateless/02812_from_to_utc_timestamp.sql
Labels: pr-bugfix, can be tested

#83020 Fix uninitialized memory in formatDateTime
  src/Functions/formatDateTime.cpp
  tests/queries/0_stateless/00719_format_datetime_f_varsize_bug.reference
  tests/queries/0_stateless/00719_format_datetime_f_varsize_bug.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#83047 Fix test "02875_show_functions.sh"
  tests/queries/0_stateless/02875_show_functions.sh
Labels: pr-ci

#83046 Better test "02875_show_functions.sh"
  tests/queries/0_stateless/02875_show_functions.sh
Labels: pr-not-for-changelog

#83057 Delete security warning about session_log in config.xml
  programs/server/config.xml
Labels: pr-not-for-changelog, can be tested

#83074 Cleanup Protocol code
  src/Client/Connection.cpp
  src/Client/Connection.h
  src/Client/ConnectionEstablisher.cpp
  src/Client/HedgedConnections.cpp
  src/Client/HedgedConnectionsFactory.cpp
  src/Client/MultiplexedConnections.cpp
  src/Client/Suggest.h
  src/Core/Protocol.cpp
  src/Core/Protocol.h
  src/Server/TCPHandler.cpp
  src/Storages/Distributed/DistributedSink.cpp
Labels: pr-not-for-changelog

#83089 Test empty glue table
  tests/integration/test_database_glue/test.py
Labels: pr-not-for-changelog

#82820 Fix exception safety in union/intersect/except_default_mode rewrite
  src/Interpreters/SelectIntersectExceptQueryVisitor.cpp
  tests/queries/0_stateless/03550_union_intersect_except_default_mode_rewrite_exception_safety.reference
  tests/queries/0_stateless/03550_union_intersect_except_default_mode_rewrite_exception_safety.sql
Labels: pr-bugfix, pr-must-backport

#83016 Add more info to system.s3queue_log
  src/Interpreters/ObjectStorageQueueLog.cpp
  src/Interpreters/ObjectStorageQueueLog.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueIFileMetadata.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueIFileMetadata.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.h
  src/Storages/ObjectStorageQueue/StorageObjectStorageQueue.cpp
  src/Storages/ObjectStorageQueue/StorageObjectStorageQueue.h
  tests/integration/test_storage_s3_queue/test_3.py
Labels: pr-improvement, pr-must-backport

#83098 Remove bad test `03315_executable_table_function_threads`
  tests/queries/0_stateless/03315_executable_table_function_threads.reference
  tests/queries/0_stateless/03315_executable_table_function_threads.sh
Labels: pr-ci

#83097 Small improvement for `JoinMask`
  src/Interpreters/HashJoin/HashJoin.cpp
  src/Interpreters/HashJoin/HashJoinMethods.h
  src/Interpreters/HashJoin/HashJoinMethodsImpl.h
  src/Interpreters/JoinUtils.h
Labels: pr-not-for-changelog

#83042 clickhouse-client - log a summary of unknown settings
  src/Core/BaseSettings.cpp
  src/Core/BaseSettings.h
Labels: pr-improvement

#83060 Docs: fix typo in error message
  src/Databases/DataLake/DatabaseDataLake.cpp
Labels: pr-documentation

#83091 [Minor] Rephrase DateTime and Time docs + issue with implicit negative Time reading
  docs/en/sql-reference/data-types/datetime.md
  docs/en/sql-reference/data-types/time.md
  src/Common/DateLUTImpl.h
  src/DataTypes/Serializations/SerializationDateTime.cpp
  tests/queries/0_stateless/03365_read_negative_time_implicitly.reference
  tests/queries/0_stateless/03365_read_negative_time_implicitly.sql
Labels: pr-bugfix, v25.6-must-backport

#83037 CI: Remove dependencies between ARM and AMD tidy build checks
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  ci/defs/job_configs.py
  ci/docker/integration/runner/requirements.txt
  ci/docker/stateless-test/requirements.txt
  ci/workflows/pull_request.py
Labels: pr-ci

#83121 Revert "Revert "Reintroduce async logging""
  base/poco/Foundation/include/Poco/Message.h
  base/poco/Foundation/include/Poco/NotificationQueue.h
  base/poco/Foundation/include/Poco/Thread_POSIX.h
  base/poco/Foundation/src/Message.cpp
  base/poco/Foundation/src/NotificationQueue.cpp
  base/poco/Foundation/src/PatternFormatter.cpp
  base/poco/Foundation/src/Thread_POSIX.cpp
  base/poco/Net/include/Poco/Net/RemoteSyslogListener.h
  base/poco/Net/src/RemoteSyslogChannel.cpp
  base/poco/Net/src/RemoteSyslogListener.cpp
  docs/en/operations/server-configuration-parameters/_server_settings_outside_source.md
  programs/disks/DisksApp.cpp
  programs/disks/DisksApp.h
  programs/disks/DisksClient.h
  programs/local/LocalServer.h
  src/Access/KerberosInit.cpp
  src/CMakeLists.txt
  src/Common/Exception.cpp
  src/Common/Logger.cpp
  src/Common/Logger.h
  src/Common/logger_useful.h
  src/Common/mysqlxx/CMakeLists.txt
  src/Common/mysqlxx/mysqlxx/Null.h
  src/Common/mysqlxx/mysqlxx/mysqlxx.h
  src/Common/mysqlxx/tests/CMakeLists.txt
  src/Common/mysqlxx/tests/mysqlxx_pool_test.cpp
  src/Daemon/BaseDaemon.cpp
  src/Functions/FunctionsDecimalArithmetics.h
  src/Interpreters/SystemLog.cpp
  src/Loggers/CMakeLists.txt
  src/Loggers/ExtendedLogChannel.h
  src/Loggers/Loggers.cpp
  src/Loggers/Loggers.h
  src/Loggers/OwnFormattingChannel.cpp
  src/Loggers/OwnFormattingChannel.h
  src/Loggers/OwnJSONPatternFormatter.cpp
  src/Loggers/OwnPatternFormatter.cpp
  src/Loggers/OwnSplitChannel.cpp
  src/Loggers/OwnSplitChannel.h
  src/Server/ClientEmbedded/ClientEmbedded.h
  tests/config/config.d/logger_trace.xml
  tests/config/install.sh
  tests/integration/test_shutdown_static_destructor_failure/configs/test_sync_logger.xml
  tests/integration/test_shutdown_static_destructor_failure/test.py
  tests/queries/0_stateless/02116_clickhouse_stderr.sh
  tests/queries/0_stateless/03096_text_log_format_string_args_not_empty.reference
  tests/queries/0_stateless/03096_text_log_format_string_args_not_empty.sh
  tests/queries/0_stateless/03096_text_log_format_string_args_not_empty.sql
Labels: pr-not-for-changelog

#83118 Do not use unrelated parts of a shared dictionary in the `lowCardinalityKeys` function
  src/Functions/lowCardinalityKeys.cpp
  tests/queries/0_stateless/00688_low_cardinality_serialization.reference
  tests/queries/0_stateless/03560_low_cardinality_keys_filter.reference
  tests/queries/0_stateless/03560_low_cardinality_keys_filter.sql
Labels: pr-bugfix, pr-must-backport

#83056 disconnect broken-connection
  src/Client/ConnectionEstablisher.cpp
Labels: pr-not-for-changelog

#83059 fix tcp connection polls, reconnect broken connections
  src/Client/Connection.cpp
  src/Client/Connection.h
Labels: pr-not-for-changelog

#83128 Docs: landing pages improvements
  docs/en/development/index.md
  docs/en/engines/database-engines/index.md
  docs/en/engines/table-engines/integrations/index.md
  docs/en/engines/table-engines/mergetree-family/index.md
  docs/en/engines/table-engines/special/index.md
  docs/en/operations/settings/index.md
  docs/en/operations/system-tables/index.md
  docs/en/sql-reference/aggregate-functions/reference/index.md
  docs/en/sql-reference/table-functions/index.md
Labels: pr-documentation

#81599 Implement financial functions: `XIRR`, `IRR`, `XNPV`, `NPV`
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  ci/jobs/scripts/check_style/codespell-ignore-words.list
  docs/en/sql-reference/functions/financial-functions.md
  docs/en/sql-reference/functions/regular-functions-index.md
  src/Common/FunctionDocumentation.cpp
  src/Common/FunctionDocumentation.h
  src/Functions/xirr.cpp
  tests/fuzz/all.dict
  tests/fuzz/dictionaries/functions.dict
  tests/queries/0_stateless/03533_xirr.reference
  tests/queries/0_stateless/03533_xirr.sql
Labels: pr-feature, manual approve, can be tested

#83050 Full description for connnection error in clickhouse client.
  src/Client/Connection.cpp
Labels: pr-improvement, can be tested

#82986 Process reopened cherry picks
  tests/ci/cherry_pick.py
  tests/ci/ci_metadata.py
  tests/ci/pr_info.py
  tests/ci/synchronizer_utils.py
Labels: pr-ci

#83157 docs: fix typo
  docs/en/engines/table-engines/integrations/rabbitmq.md
Labels: pr-documentation

#83154 Docs: link promotion card
  docs/en/sql-reference/data-types/newjson.md
Labels: pr-documentation

#82638 Fix mergeTreeProjection table function when enable_shared_storage_snapshot_in_query is true
  src/Storages/MergeTree/StorageFromMergeTreeProjection.cpp
  tests/queries/0_stateless/03546_merge_tree_projection_shared_snapshot.reference
  tests/queries/0_stateless/03546_merge_tree_projection_shared_snapshot.sql
Labels: pr-bugfix

#83051 Fix misleading `not enough space` error message when restoring a backup on a read-only disk
  src/Disks/IStoragePolicy.h
  src/Disks/IVolume.cpp
  src/Disks/IVolume.h
  src/Disks/StoragePolicy.cpp
  src/Disks/StoragePolicy.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreePartsMover.cpp
  tests/integration/helpers/s3_tools.py
  tests/integration/test_backup_restore_s3/configs/disk_s3.xml
  tests/integration/test_backup_restore_s3/test.py
Labels: pr-bugfix, can be tested

#82633 Enable PostgreSQL port in the embedded config
  programs/server/embedded.xml
Labels: pr-improvement

#82616 Add retries to SYSTEM RESTART REPLICA
  src/Interpreters/InterpreterSystemQuery.cpp
Labels: pr-improvement, v25.4-must-backport, v25.6-must-backport

#82130 Fix performance degradation in SummingMergeTree
  src/Processors/Merges/Algorithms/SummingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/SummingSortedAlgorithm.h
Labels: pr-bugfix, v25.5-must-backport, v25.6-must-backport

#83077 Do not check for cyclic dependencies on create table with no dependencies
  src/Interpreters/DatabaseCatalog.cpp
Labels: pr-bugfix, pr-must-backport

#82419 Allow ALTER UPDATE in JSON and Dynamic columns
  src/Interpreters/MutationsInterpreter.cpp
  tests/queries/0_stateless/03226_alter_update_dynamic_json_not_supported.reference
  tests/queries/0_stateless/03226_alter_update_dynamic_json_not_supported.sql
  tests/queries/0_stateless/03532_json_dynamic_updates.reference
  tests/queries/0_stateless/03532_json_dynamic_updates.sql
Labels: pr-improvement, v25.6-must-backport

#83191 Fix build (amd_tidy)
  src/Processors/Formats/Impl/Parquet/ParquetRecordReader.h
Labels: pr-not-for-changelog

#83134 Shutdown SystemLogs after ordinary (non-system) tables (instead of before)
  src/Interpreters/Context.cpp
  src/Interpreters/DatabaseCatalog.cpp
  src/Interpreters/DatabaseCatalog.h
  tests/integration/test_storage_s3_queue/test_5.py
Labels: pr-improvement

#83158 Do not build stripped binary by default
  CMakeLists.txt
  ci/jobs/fast_test.py
  programs/CMakeLists.txt
  programs/self-extracting/CMakeLists.txt
Labels: pr-not-for-changelog

#83150 Fix equivalence classes in sub-query decorrelation
  src/Planner/PlannerCorrelatedSubqueries.cpp
  tests/queries/0_stateless/03545_analyzer_correlated_subqueries_use_equivalence_classes_2.reference
  tests/queries/0_stateless/03545_analyzer_correlated_subqueries_use_equivalence_classes_2.sql
Labels: pr-not-for-changelog

#82879 Fix boundaries of candidate ranges in findPKRangesForFinalAfterSkipIndexImpl
  src/Processors/QueryPlan/PartsSplitter.cpp
  tests/queries/0_stateless/03244_skip_index_in_final_query_with_pk_rescan_extremes.reference
  tests/queries/0_stateless/03244_skip_index_in_final_query_with_pk_rescan_extremes.sql
Labels: pr-bugfix, v25.6-must-backport

#83093 Enable zstd compression for FST blob
  src/Storages/MergeTree/GinIndexStore.cpp
  src/Storages/MergeTree/GinIndexStore.h
Labels: pr-experimental

#83163 Add a few logs
  src/Storages/ObjectStorageQueue/ObjectStorageQueueSource.cpp
  src/Storages/ObjectStorageQueue/StorageObjectStorageQueue.cpp
Labels: pr-improvement

#83214 Async log improvements
  programs/local/LocalServer.cpp
  src/Daemon/BaseDaemon.cpp
  src/Loggers/ExtendedLogChannel.h
  src/Loggers/Loggers.h
  src/Loggers/OwnSplitChannel.cpp
  src/Loggers/OwnSplitChannel.h
Labels: pr-improvement

#82677 Benchmark reconnect
  docs/en/operations/utilities/clickhouse-benchmark.md
  programs/benchmark/Benchmark.cpp
Labels: pr-improvement, pr-must-backport

#83228 Fix comment that was the other way around
  src/Functions/DateTimeTransforms.h
Labels: pr-not-for-changelog

#82935 Follow up #80139: function to write WKB format
  src/Functions/wkb.cpp
  tests/queries/0_stateless/03549_wkb_function.reference
  tests/queries/0_stateless/03549_wkb_function.sql
Labels: pr-improvement, can be tested

#78454 Trivial optimization for -If combinator
  src/AggregateFunctions/Combinators/AggregateFunctionIf.cpp
  tests/performance/aggregate_if_null_variadic.xml
Labels: pr-performance

#83258 Docs: Move video about full-text search to References section
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
Labels: pr-not-for-changelog

#83243 add comments for InsertDependenciesBuilder::root_view
  src/Interpreters/InsertDependenciesBuilder.cpp
  src/Interpreters/InsertDependenciesBuilder.h
Labels: pr-not-for-changelog

#83221 Fix the regression in use of subcolumns with Materialized Views
  src/Interpreters/InsertDependenciesBuilder.cpp
  tests/queries/0_stateless/03561_materialized_subcolumns_materialized_view.reference
  tests/queries/0_stateless/03561_materialized_subcolumns_materialized_view.sql
Labels: pr-bugfix, v25.6-must-backport

#82888 Set salt for auth data when parsing from AST with type SCRAM_SHA256_PASSWORD
  src/Access/AuthenticationData.cpp
  tests/integration/test_scram_sha256_password_with_replicated_zookeeper_replicator/__init__.py
  tests/integration/test_scram_sha256_password_with_replicated_zookeeper_replicator/configs/user_directories.xml
  tests/integration/test_scram_sha256_password_with_replicated_zookeeper_replicator/test.py
Labels: pr-bugfix, pr-must-backport, can be tested

#83248 Text index: Remove multi-column support leftovers
  src/Storages/MergeTree/MergeTreeIndexGin.cpp
  src/Storages/MergeTree/MergeTreeIndexGin.h
Labels: pr-not-for-changelog

#83153 Add clang-tidy-cache's log to help debugging
  ci/docker/binary-builder/Dockerfile
  ci/docker/binary-builder/clang-tidy-cache.sh
  ci/jobs/build_clickhouse.py
Labels: pr-ci

#83275 Fix flaky `test_keeper_invalid_digest`
  tests/integration/test_keeper_invalid_digest/configs/enable_keeper1.xml
  tests/integration/test_keeper_invalid_digest/configs/enable_keeper2.xml
Labels: pr-not-for-changelog

#83117 Remove `searchAny`, `searchAll` due to a bug
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/sql-reference/functions/string-search-functions.md
  src/Functions/searchAnyAll.cpp
  tests/queries/0_stateless/02346_text_index_function_search.reference
  tests/queries/0_stateless/02346_text_index_function_search.sql
Labels: pr-experimental

#83301 Docs: update coalescing merge tree usage
  docs/en/engines/table-engines/mergetree-family/coalescingmergetree.md
Labels: pr-documentation

#82979 Fix LOGICAL_ERROR in QueryMetricLog: Mutex cannot be NULL
  src/Dictionaries/CacheDictionaryUpdateQueue.h
  src/Interpreters/QueryMetricLog.cpp
  src/Interpreters/QueryMetricLog.h
  tests/queries/0_stateless/03549_system_query_metric_log_with_queries_with_same_query_id.reference
  tests/queries/0_stateless/03549_system_query_metric_log_with_queries_with_same_query_id.sh
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#83004 Fix prefetch_buffer_size
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/IO/ReadSettings.cpp
  src/IO/ReadSettings.h
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  tests/queries/0_stateless/02963_remote_read_small_buffer_size_bug.reference
  tests/queries/0_stateless/02963_remote_read_small_buffer_size_bug.sh
  tests/queries/0_stateless/03553_prefetch_buffer_size.reference
  tests/queries/0_stateless/03553_prefetch_buffer_size.sh
Labels: pr-not-for-changelog

#83245 Docs: example of using POST method for queries with parameters
  docs/en/interfaces/http.md
Labels: pr-documentation

#83293 turn off msan for 03008_deduplication_mv_generates_several_blocks_nonreplicated.sh
  tests/queries/0_stateless/03008_deduplication_mv_generates_several_blocks_nonreplicated.sh
Labels: pr-not-for-changelog

#83069 Fix output in JSON Data Type examples
  docs/en/sql-reference/data-types/newjson.md
Labels: pr-documentation, can be tested

#83019 [Docs] Fix value range for `Time64` type
  docs/en/sql-reference/data-types/datetime64.md
  docs/en/sql-reference/data-types/time64.md
Labels: pr-documentation, v25.6-must-backport

#83298 Do not throw exception on connection with incorrect iceberg database
  src/Databases/DataLake/DatabaseDataLake.cpp
Labels: pr-improvement, v25.6-must-backport

#82870 Allow using Play UI with the embedded server config
  programs/server/embedded.xml
  src/Functions/parseTimeDelta.cpp
Labels: pr-improvement

#83276 Minor: Call utility function to identify GIN index files
  src/Storages/MergeTree/GinIndexStore.cpp
  src/Storages/MergeTree/GinIndexStore.h
  src/Storages/MergeTree/MergeTreeDataPartChecksum.cpp
Labels: pr-not-for-changelog

#82617 Use encoded type in QueryTreeHash
  src/Analyzer/ColumnNode.cpp
  src/Analyzer/ConstantNode.cpp
  src/Analyzer/FunctionNode.cpp
  src/Analyzer/IQueryTreeNode.cpp
  src/Analyzer/IQueryTreeNode.h
  src/Analyzer/QueryNode.cpp
  tests/performance/mv_analyzer.xml
  tests/queries/0_stateless/01625_constraints_index_append.reference
Labels: pr-performance

#73659 Add `READ/WRITE` permissions for sources
  src/Access/AccessControl.cpp
  src/Access/AccessControl.h
  src/Access/Common/AccessFlags.cpp
  src/Access/Common/AccessFlags.h
  src/Access/Common/AccessRightsElement.cpp
  src/Access/Common/AccessRightsElement.h
  src/Access/Common/AccessType.h
  src/Access/ContextAccess.cpp
  src/Access/tests/gtest_access_rights_ops.cpp
  src/BridgeHelper/XDBCBridgeHelper.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Parsers/Access/parseAccessRightsElements.cpp
  src/Storages/Hive/StorageHive.cpp
  src/Storages/Kafka/StorageKafkaUtils.cpp
  src/Storages/NATS/StorageNATS.cpp
  src/Storages/ObjectStorage/registerStorageObjectStorage.cpp
  src/Storages/ObjectStorageQueue/registerQueueStorage.cpp
  src/Storages/PostgreSQL/StorageMaterializedPostgreSQL.cpp
  src/Storages/RabbitMQ/StorageRabbitMQ.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageFactory.cpp
  src/Storages/StorageFactory.h
  src/Storages/StorageFile.cpp
  src/Storages/StorageMongoDB.cpp
  src/Storages/StorageMongoDBPocoLegacy.cpp
  src/Storages/StorageMySQL.cpp
  src/Storages/StoragePostgreSQL.cpp
  src/Storages/StorageRedis.cpp
  src/Storages/StorageSQLite.cpp
  src/Storages/StorageURL.cpp
  src/Storages/StorageXDBC.cpp
  src/Storages/System/StorageSystemPrivileges.cpp
  src/TableFunctions/ITableFunction.cpp
  src/TableFunctions/ITableFunction.h
  src/TableFunctions/TableFunctionObjectStorage.cpp
  src/TableFunctions/TableFunctionURL.cpp
  tests/integration/test_grant_and_revoke/test_without_table_engine_grant.py
  tests/integration/test_storage_url/configs/conf.xml
  tests/integration/test_storage_url/test.py
  tests/queries/0_stateless/01271_show_privileges.reference
  tests/queries/0_stateless/02184_table_engine_access.sh
  tests/queries/0_stateless/02561_temporary_table_grants.sh
  tests/queries/0_stateless/03313_sources_read_write_grants.reference
  tests/queries/0_stateless/03313_sources_read_write_grants.sh
Labels: pr-improvement, pr-backward-incompatible

#83325 Fix test `01606_merge_from_wide_to_compact`
  tests/queries/0_stateless/01606_merge_from_wide_to_compact.sql
Labels: pr-ci, 🍃 green ci 🌿

#83326 Fix test `02483_elapsed_time`
  tests/queries/0_stateless/02483_elapsed_time.reference
  tests/queries/0_stateless/02483_elapsed_time.sh
Labels: pr-ci, 🍃 green ci 🌿

#82769 Fix typos in AccessRights.cpp comments
  src/Access/AccessRights.cpp
Labels: pr-not-for-changelog

#83271 Fix crash when calculating the size of a block with empty columns
  src/Core/Block.cpp
  src/Interpreters/AsynchronousInsertQueue.cpp
  tests/queries/0_stateless/03561_async_insert_crash.reference
  tests/queries/0_stateless/03561_async_insert_crash.sh
Labels: pr-critical-bugfix, v25.6-must-backport

#82821 Do not allow altering columns_to_sum
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/03551_no_alter_for_columns_to_sum.reference
  tests/queries/0_stateless/03551_no_alter_for_columns_to_sum.sql
Labels: pr-improvement

#83321 Fix test `02437_drop_mv_restart_replicas`
  src/Interpreters/InterpreterSystemQuery.cpp
Labels: pr-ci

#83251 Fix docker-library update
  .github/workflows/weekly_official_docker.yml
  tests/ci/official_docker_update.py
Labels: pr-ci

#83303 Limit column to be defined only once for the text index
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
  docs/en/engines/table-engines/mergetree-family/mergetree.md
  docs/en/sql-reference/functions/string-search-functions.md
  src/Functions/searchAnyAll.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/queries/0_stateless/02346_text_index_creation.reference
  tests/queries/0_stateless/02346_text_index_creation.sql
  tests/queries/0_stateless/02346_text_index_function_search.reference
  tests/queries/0_stateless/02346_text_index_function_search.sql
Labels: pr-experimental

#83160 Sync private changes
  src/Common/ProfileEvents.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Parsers/ASTSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  src/Parsers/ParserSystemQuery.cpp
Labels: pr-not-for-changelog

#83274 Text index: Remove support for legacy names
  docs/en/sql-reference/functions/string-search-functions.md
  src/Common/FST.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/GinFilter.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/AlterCommands.cpp
  src/Storages/AlterCommands.h
  src/Storages/MergeTree/GinIndexStore.h
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeDataPartChecksum.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterOnDisk.cpp
  src/Storages/MergeTree/MergeTreeIndexGin.cpp
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/checkDataPart.cpp
  tests/queries/0_stateless/02346_text_index_experimental_flag.sql
  tests/queries/0_stateless/02346_text_index_legacy_name.reference
  tests/queries/0_stateless/02346_text_index_legacy_name.sql
  tests/queries/0_stateless/02346_text_index_match_predicate.sql
Labels: pr-not-for-changelog

#83052 Make SECONDARY_QUERY lazy init StorageObjectStorage
  src/TableFunctions/TableFunctionObjectStorageCluster.cpp
Labels: pr-not-for-changelog, can be tested

#83296 Print biggest subtree in snapshot analyzer of Keeper utils
  programs/keeper-utils/KeeperUtils.cpp
  programs/keeper-utils/README.md
  src/Coordination/KeeperSnapshotManager.cpp
  src/Coordination/KeeperSnapshotManager.h
  src/Coordination/tests/gtest_coordination_snapshot.cpp
Labels: pr-not-for-changelog

#83362 Improve comment and logging for re-/opened cherry-pick PRs
  tests/ci/cherry_pick.py
Labels: pr-ci

#83382 Decouple ClickHouseVersion from Settings
  src/Common/ClickHouseVersion.cpp
  src/Common/ClickHouseVersion.h
  src/Core/SettingsChangesHistory.cpp
  src/Core/SettingsChangesHistory.h
Labels: pr-not-for-changelog

#83299 Parse Time[64] from minutes and seconds
  src/IO/ReadHelpers.h
  src/IO/WriteHelpers.h
  tests/queries/0_stateless/03365_parsing_time_time64_short.reference
  tests/queries/0_stateless/03365_parsing_time_time64_short.sql
Labels: pr-improvement

#83418 Use FIPS-permissive mode in CI
  ci/jobs/build_clickhouse.py
Labels: pr-not-for-changelog

#83420 Fix incorrect revoke statement for sources.
  src/Access/Common/AccessRightsElement.cpp
  tests/queries/0_stateless/03313_sources_read_write_grants.reference
  tests/queries/0_stateless/03313_sources_read_write_grants.sh
Labels: pr-bugfix

#82661 Update `expat` XML parser from Poco upstream
  base/poco/XML/CMakeLists.txt
  base/poco/XML/include/Poco/XML/expat.h
  base/poco/XML/include/Poco/XML/expat_external.h
  base/poco/XML/src/ascii.h
  base/poco/XML/src/asciitab.h
  base/poco/XML/src/iasciitab.h
  base/poco/XML/src/internal.h
  base/poco/XML/src/latin1tab.h
  base/poco/XML/src/nametab.h
  base/poco/XML/src/utf8tab.h
  base/poco/XML/src/xmlparse.cpp
  base/poco/XML/src/xmlrole.c
  base/poco/XML/src/xmlrole.h
  base/poco/XML/src/xmltok.c
  base/poco/XML/src/xmltok.h
  base/poco/XML/src/xmltok_impl.c
  base/poco/XML/src/xmltok_impl.h
  base/poco/XML/src/xmltok_ns.c
Labels: pr-build, v25.6-must-backport

#83304 Reserve the exact amount of memory in output blocks in `HashJoin`
  src/Interpreters/HashJoin/AddedColumns.cpp
  src/Interpreters/HashJoin/AddedColumns.h
  tests/performance/join_reserve.xml
Labels: pr-performance

#83419 Use rainbow parenthesis coloring only on matching braces
  src/Client/ClientBaseHelpers.cpp
Labels: pr-not-for-changelog

#83455 Disable parallel replicas for subqueries with FINAL
  src/Planner/Planner.cpp
  tests/queries/0_stateless/03562_parallel_replicas_subquery_has_final.reference
  tests/queries/0_stateless/03562_parallel_replicas_subquery_has_final.sql
Labels: pr-bugfix, can be tested

#83457 Fix SZ3 for float32
  src/Storages/MergeTree/MergeTreeDataPartWriterCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  tests/queries/0_stateless/03202_sz3_codec.reference
  tests/queries/0_stateless/03202_sz3_codec.sql
Labels: pr-not-for-changelog

#83302 Replicated DB: consider new replicas with huge replication lag as inactive when waiting for DDL
  src/Common/FailPoint.cpp
  src/Common/ZooKeeper/ZooKeeper.cpp
  src/Common/ZooKeeper/ZooKeeper.h
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicated.h
  src/Databases/DatabaseReplicatedWorker.cpp
  src/Databases/DatabaseReplicatedWorker.h
  src/Interpreters/DistributedQueryStatusSource.cpp
  src/Parsers/ASTSystemQuery.cpp
  src/Parsers/ParserSystemQuery.cpp
  src/Storages/System/StorageSystemClusters.cpp
  tests/integration/test_replicated_database/test.py
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-improvement, pr-must-backport

#82791 Fix backup of an empty `Memory` table
  src/Backups/BackupImpl.cpp
  src/Backups/BackupImpl.h
  src/Backups/IBackup.h
  src/Storages/StorageMemory.cpp
  tests/integration/test_backup_restore_new/test.py
Labels: pr-bugfix, can be tested

#77166 Recalculate min-max index when TTL may reduce rows
  docs/en/sql-reference/table-functions/mergeTreeIndex.md
  src/Processors/TTL/TTLColumnAlgorithm.cpp
  src/Storages/MergeTree/Compaction/MergePredicates/MergeTreeMergePredicate.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTask.h
  src/Storages/StorageMergeTreeIndex.cpp
  src/Storages/StorageMergeTreeIndex.h
  src/TableFunctions/TableFunctionMergeTreeIndex.cpp
  tests/queries/0_stateless/03364_ttl_should_recalculate_minmax_index.reference
  tests/queries/0_stateless/03364_ttl_should_recalculate_minmax_index.sql
  tests/queries/0_stateless/03365_column_ttl_should_rebuild_skp_idx_and_proj.reference
  tests/queries/0_stateless/03365_column_ttl_should_rebuild_skp_idx_and_proj.sh
  tests/queries/0_stateless/03550_projection_with_part_offset_ttl.reference
  tests/queries/0_stateless/03550_projection_with_part_offset_ttl.sql
Labels: pr-bugfix

#83390 Improve Keeper with rocksdb initial loading
  src/Coordination/CoordinationSettings.cpp
  src/Coordination/KeeperSnapshotManager.cpp
  src/Coordination/RocksDBContainer.h
  src/Coordination/SnapshotableHashTable.h
  src/Coordination/tests/gtest_coordination_snapshot.cpp
Labels: pr-performance

#83486 Fuzzer for codec SZ3 on top of libFuzzer
  src/Compression/CompressionCodecSZ3.cpp
  src/Compression/fuzzers/CMakeLists.txt
  src/Compression/fuzzers/sz3_decompress_fuzzer.cpp
Labels: build-fuzzers, libFuzzer, pr-ci

#83253 Fix crash in client due to connection left in disconnected state after bad INSERT
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  tests/queries/0_stateless/01286_constraints_on_default.sql
  tests/queries/0_stateless/03554_connection_crash.reference
  tests/queries/0_stateless/03554_connection_crash.sh
Labels: pr-bugfix

#81835 Forbid to create not insertable tables
  src/Databases/DatabasesCommon.cpp
  src/Interpreters/InterpreterCreateQuery.cpp
  tests/queries/0_stateless/02449_check_dependencies_and_table_shutdown.reference
  tests/queries/0_stateless/02449_check_dependencies_and_table_shutdown.sql
  tests/queries/0_stateless/03199_join_with_materialized_column.sql
  tests/queries/0_stateless/03541_table_without_insertable_columns.reference
  tests/queries/0_stateless/03541_table_without_insertable_columns.sql
Labels: pr-backward-incompatible

#83359 Performance improvements for applying patch parts
  src/Storages/MergeTree/MergeTreeReadersChain.cpp
  src/Storages/MergeTree/MergeTreeReadersChain.h
  src/Storages/MergeTree/PatchParts/applyPatches.cpp
  src/Storages/MergeTree/PatchParts/applyPatches.h
  tests/performance/apply_patch_parts_join.xml
  tests/performance/apply_patch_parts_join_intersecting.xml
  tests/performance/apply_patch_parts_merge.xml
  tests/performance/apply_patch_parts_steps.xml
Labels: pr-not-for-changelog

#83520 Don't use minmax pruning for arrays and maps subfields in Iceberg
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFile.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/SchemaProcessor.cpp
  tests/integration/test_storage_iceberg/test.py
Labels: pr-bugfix, pr-must-backport

#83439 Sync changes
  src/Common/ErrorCodes.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Disks/IO/CachedOnDiskWriteBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskWriteBufferFromFile.h
  src/IO/NullWriteBuffer.cpp
  src/IO/NullWriteBuffer.h
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/Metadata.cpp
  src/Interpreters/Cache/Metadata.h
Labels: pr-not-for-changelog

#83557 Docs: Updating Truncate to include information on SYNC, making docs more explicit and scannable
  docs/en/sql-reference/statements/truncate.md
Labels: pr-documentation

#83538 Add simple text index performance test
  tests/performance/text_index.xml
Labels: pr-not-for-changelog

#83399 `reinterpret()`: Allow conversion to `Array(T)`
  docs/en/sql-reference/functions/type-conversion-functions.md
  src/Functions/reinterpretAs.cpp
  tests/queries/0_stateless/03547_reinterpret_to_array.reference
  tests/queries/0_stateless/03547_reinterpret_to_array.sql
Labels: pr-improvement

#82652 Integrate `StorageKafka2` to `system.kafka_consumers`
  src/Storages/Kafka/IKafkaExceptionInfoSink.cpp
  src/Storages/Kafka/IKafkaExceptionInfoSink.h
  src/Storages/Kafka/KafkaConsumer.cpp
  src/Storages/Kafka/KafkaConsumer.h
  src/Storages/Kafka/KafkaConsumer2.cpp
  src/Storages/Kafka/KafkaConsumer2.h
  src/Storages/Kafka/KeeperHandlingConsumer.cpp
  src/Storages/Kafka/KeeperHandlingConsumer.h
  src/Storages/Kafka/StorageKafka.h
  src/Storages/Kafka/StorageKafka2.cpp
  src/Storages/Kafka/StorageKafka2.h
  src/Storages/Kafka/StorageKafkaUtils.h
  src/Storages/System/StorageSystemKafkaConsumers.cpp
  tests/integration/test_storage_kafka/test_batch_fast.py
  tests/integration/test_storage_kafka/test_batch_slow_1.py
  tests/integration/test_storage_kafka/test_batch_slow_6.py
Labels: pr-improvement

#83460 Add process resource metrics to part_log profile events
  src/Common/ThreadStatus.cpp
  tests/queries/0_stateless/03221_merge_profile_events.reference
  tests/queries/0_stateless/03221_merge_profile_events.sql
Labels: pr-improvement

#83381 Continue #70105: Reduce port header memcpy
  src/Core/Block_fwd.h
  src/Processors/ISimpleTransform.cpp
  src/Processors/ISimpleTransform.h
  src/Processors/Port.cpp
  src/Processors/Port.h
  src/Processors/QueryPlan/ExpressionStep.cpp
  src/Processors/Transforms/ExpressionTransform.cpp
  src/Processors/Transforms/ExpressionTransform.h
  src/QueryPipeline/Pipe.cpp
  src/QueryPipeline/Pipe.h
  src/QueryPipeline/QueryPipelineBuilder.cpp
  src/QueryPipeline/QueryPipelineBuilder.h
Labels: pr-performance

#83605 Update flake.nix with new Rust toolchain
  flake.lock
  flake.nix
Labels: pr-not-for-changelog

#83458 Docs: formatting improvements to `External Disks for Storing Data`
  docs/en/operations/storing-data.md
Labels: pr-documentation

#83608 Updating cloud information on replicatedMergeTree
  docs/en/engines/table-engines/mergetree-family/replication.md
Labels: pr-documentation

#83606 Fix usage of KafkaConsumer2::EXCEPTIONS_DEPTH
  src/Storages/Kafka/KafkaConsumer2.cpp
Labels: pr-not-for-changelog

#83423 Do not share async_read_counters between queries
  src/Interpreters/Context.cpp
Labels: pr-bugfix

#83410 Unify parameter names in ODBC and JDBC
  docs/en/engines/table-engines/integrations/jdbc.md
  docs/en/engines/table-engines/integrations/odbc.md
  docs/en/sql-reference/table-functions/jdbc.md
  docs/en/sql-reference/table-functions/odbc.md
  src/Storages/StorageXDBC.cpp
  src/TableFunctions/ITableFunctionXDBC.cpp
Labels: pr-improvement, can be tested

#83115 Slightly better error handling in AsynchronousMetrics
  src/Common/AsynchronousMetrics.cpp
  src/Common/AsynchronousMetrics.h
Labels: pr-improvement

#83588 Fix explain for key-value engines with optimize=0
  src/Storages/RocksDB/StorageEmbeddedRocksDB.cpp
  src/Storages/StorageKeeperMap.cpp
  src/Storages/StorageRedis.cpp
  tests/integration/test_storage_redis/test.py
  tests/queries/0_stateless/02375_rocksdb_with_filters.reference
  tests/queries/0_stateless/02375_rocksdb_with_filters.sh
  tests/queries/0_stateless/03541_keeper_map_filter_keys.reference
  tests/queries/0_stateless/03541_keeper_map_filter_keys.sh
Labels: pr-bugfix, pr-not-for-changelog

#83040 Enable parallel distributed insert select by default (2)
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Storages/StorageDistributed.cpp
  src/Storages/StorageInput.cpp
  src/Storages/StorageInput.h
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/01666_blns_long.sql
  tests/queries/0_stateless/01889_sqlite_read_write.sh
  tests/queries/0_stateless/02765_queries_with_subqueries_profile_events.sh
  tests/queries/0_stateless/02895_npy_output_format.sh
  tests/queries/0_stateless/03254_timeseries_to_grid_aggregate_function_sparse.sql
  tests/queries/0_stateless/03394_pr_insert_select.sql
  tests/queries/0_stateless/03394_pr_insert_select_local_pipeline.reference
  tests/queries/0_stateless/03394_pr_insert_select_local_pipeline.sql
  tests/queries/0_stateless/03394_pr_insert_select_threads.reference
  tests/queries/0_stateless/03394_pr_insert_select_threads.sql
Labels: pr-not-for-changelog

#83327 Fix fuzzer build
  CMakeLists.txt
  cmake/limit_jobs.cmake
  programs/CMakeLists.txt
  src/CMakeLists.txt
  utils/CMakeLists.txt
Labels: pr-ci

#83316 Miscellaneous
  programs/server/Server.cpp
  src/Core/Settings.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.h
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.h
  src/Storages/StorageFile.h
Labels: pr-not-for-changelog

#82871 Highlight metacharacters in LIKE/REGEXP patterns as you type
  src/Client/ClientBaseHelpers.cpp
  src/Parsers/ExpressionElementParsers.h
  src/Parsers/ExpressionListParsers.cpp
  src/Parsers/IParser.h
  src/Parsers/ParserDropQuery.cpp
  src/Parsers/ParserShowTablesQuery.cpp
Labels: pr-improvement

#82867 Fix inconsistent formatting of parenthesized expressions with aliases in the context when no aliases are allowed (attempt 2)
  src/Parsers/ExpressionElementParsers.cpp
  src/Parsers/ParserDeleteQuery.cpp
  tests/queries/0_stateless/03558_no_alias_in_single_expressions.reference
  tests/queries/0_stateless/03558_no_alias_in_single_expressions.sql
Labels: pr-improvement

#83636 view_refreshes: fix typo
  docs/en/operations/system-tables/view_refreshes.md
Labels: pr-documentation, can be tested

#83630 docs: update AvroConfluent page, cont.
  docs/en/interfaces/formats/Avro/Avro.md
  docs/en/interfaces/formats/Avro/AvroConfluent.md
Labels: pr-documentation

#83461 Fix: integer overflow in configuration settings.
  src/Access/RoleCache.cpp
Labels: can be tested

#83643 Fix nullptr dereference in UNION ALL
  src/Parsers/ParserInsertQuery.cpp
  tests/queries/0_stateless/03565_union_all_nullptr.reference
  tests/queries/0_stateless/03565_union_all_nullptr.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#82818 Fix logical error functions arithmetic
  src/Functions/FunctionBinaryArithmetic.h
  tests/queries/0_stateless/03549_aggregate_arithmetic_logical_error.reference
  tests/queries/0_stateless/03549_aggregate_arithmetic_logical_error.sql
Labels: pr-improvement

#83652 docs: add missing `group_concat` alias
  docs/en/sql-reference/aggregate-functions/reference/groupconcat.md
Labels: pr-documentation, can be tested

#83664 Docs: fix ordering of regular functions in sidebar
  docs/en/sql-reference/dictionaries/index.md
  docs/en/sql-reference/functions/arithmetic-functions.md
  docs/en/sql-reference/functions/array-functions.md
  docs/en/sql-reference/functions/array-join.md
  docs/en/sql-reference/functions/bit-functions.md
  docs/en/sql-reference/functions/bitmap-functions.md
  docs/en/sql-reference/functions/comparison-functions.md
  docs/en/sql-reference/functions/conditional-functions.md
  docs/en/sql-reference/functions/date-time-functions.md
  docs/en/sql-reference/functions/distance-functions.md
  docs/en/sql-reference/functions/embedded-dict-functions.md
  docs/en/sql-reference/functions/encoding-functions.md
  docs/en/sql-reference/functions/encryption-functions.md
  docs/en/sql-reference/functions/ext-dict-functions.md
  docs/en/sql-reference/functions/files.md
  docs/en/sql-reference/functions/financial-functions.md
  docs/en/sql-reference/functions/functions-for-nulls.md
  docs/en/sql-reference/functions/geo/coordinates.md
  docs/en/sql-reference/functions/geo/index.md
  docs/en/sql-reference/functions/hash-functions.md
  docs/en/sql-reference/functions/in-functions.md
  docs/en/sql-reference/functions/introspection.md
  docs/en/sql-reference/functions/ip-address-functions.md
  docs/en/sql-reference/functions/json-functions.md
  docs/en/sql-reference/functions/logical-functions.md
  docs/en/sql-reference/functions/machine-learning-functions.md
  docs/en/sql-reference/functions/math-functions.md
  docs/en/sql-reference/functions/nlp-functions.md
  docs/en/sql-reference/functions/numeric-indexed-vector-functions.md
  docs/en/sql-reference/functions/other-functions.md
  docs/en/sql-reference/functions/random-functions.md
  docs/en/sql-reference/functions/regular-functions-index.md
  docs/en/sql-reference/functions/rounding-functions.md
  docs/en/sql-reference/functions/splitting-merging-functions.md
  docs/en/sql-reference/functions/string-functions.md
  docs/en/sql-reference/functions/string-replace-functions.md
  docs/en/sql-reference/functions/string-search-functions.md
  docs/en/sql-reference/functions/time-series-functions.md
  docs/en/sql-reference/functions/time-window-functions.md
  docs/en/sql-reference/functions/tuple-functions.md
  docs/en/sql-reference/functions/tuple-map-functions.md
  docs/en/sql-reference/functions/type-conversion-functions.md
  docs/en/sql-reference/functions/udf.md
  docs/en/sql-reference/functions/ulid-functions.md
  docs/en/sql-reference/functions/uniqtheta-functions.md
  docs/en/sql-reference/functions/url-functions.md
  docs/en/sql-reference/functions/uuid-functions.md
  src/Functions/FunctionsBitmap.cpp
  src/Functions/array/arrayShuffle.cpp
Labels: pr-documentation

#83530 Shutdown s3queue streaming before shutting down any tables
  src/Common/CurrentMetrics.cpp
  src/Interpreters/Context.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadataFactory.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadataFactory.h
  src/Storages/ObjectStorageQueue/StorageObjectStorageQueue.cpp
  src/Storages/ObjectStorageQueue/StorageObjectStorageQueue.h
  tests/integration/helpers/s3_queue_common.py
  tests/integration/test_storage_s3_queue/test_5.py
Labels: pr-improvement

#83463 Build clickhouse-stripped for all builds, fail on the hook failure
  CMakeLists.txt
  ci/jobs/build_clickhouse.py
  ci/jobs/fast_test.py
  ci/jobs/scripts/job_hooks/build_master_head_hook.py
  programs/CMakeLists.txt
  programs/self-extracting/CMakeLists.txt
Labels: pr-build

#83613 Reuse serializer for ProtobufSingle when no parsing errors occur
  src/Processors/Formats/Impl/ProtobufRowInputFormat.cpp
  src/Processors/Formats/Impl/ProtobufRowInputFormat.h
Labels: pr-performance, can be tested

#77405 MultiSelect operation for MergeSelectors
  src/Storages/MergeTree/Compaction/MergeSelectorApplier.cpp
  src/Storages/MergeTree/Compaction/MergeSelectorApplier.h
  src/Storages/MergeTree/Compaction/MergeSelectors/AllMergeSelector.cpp
  src/Storages/MergeTree/Compaction/MergeSelectors/AllMergeSelector.h
  src/Storages/MergeTree/Compaction/MergeSelectors/DisjointPartsRangesSet.cpp
  src/Storages/MergeTree/Compaction/MergeSelectors/DisjointPartsRangesSet.h
  src/Storages/MergeTree/Compaction/MergeSelectors/IMergeSelector.h
  src/Storages/MergeTree/Compaction/MergeSelectors/SimpleMergeSelector.cpp
  src/Storages/MergeTree/Compaction/MergeSelectors/SimpleMergeSelector.h
  src/Storages/MergeTree/Compaction/MergeSelectors/TTLMergeSelector.cpp
  src/Storages/MergeTree/Compaction/MergeSelectors/TTLMergeSelector.h
  src/Storages/MergeTree/Compaction/MergeSelectors/TrivialMergeSelector.cpp
  src/Storages/MergeTree/Compaction/MergeSelectors/TrivialMergeSelector.h
  src/Storages/MergeTree/MergeTreeDataMergerMutator.cpp
  src/Storages/MergeTree/MergeTreeDataMergerMutator.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/examples/merge_selector.cpp
  src/Storages/examples/merge_selector2.cpp
Labels: pr-not-for-changelog

#83700 Docs: update coalescingmergetree.md to show related blogs
  docs/en/engines/table-engines/mergetree-family/coalescingmergetree.md
Labels: pr-documentation

#83598 Less flaky test_cluster_discovery/test_password.py
  tests/integration/test_cluster_discovery/test_password.py
Labels: pr-not-for-changelog
