Repository ClickHouse/ClickHouse, pull requests merged in 2025-04, with the labels that each got.

#78489 ci: fix sccache statistics for fuzzers
  ci/jobs/build_clickhouse.py
Labels: pr-not-for-changelog

#74741 bind_host implementation
  base/poco/Net/include/Poco/Net/StreamSocket.h
  base/poco/Net/src/StreamSocket.cpp
  base/poco/NetSSL_OpenSSL/include/Poco/Net/SecureStreamSocket.h
  base/poco/NetSSL_OpenSSL/include/Poco/Net/SecureStreamSocketImpl.h
  base/poco/NetSSL_OpenSSL/src/SecureStreamSocket.cpp
  base/poco/NetSSL_OpenSSL/src/SecureStreamSocketImpl.cpp
  docs/en/engines/table-engines/special/distributed.md
  programs/benchmark/Benchmark.cpp
  src/Client/Connection.cpp
  src/Client/Connection.h
  src/Client/ConnectionParameters.cpp
  src/Client/ConnectionParameters.h
  src/Client/ConnectionPool.cpp
  src/Client/ConnectionPool.h
  src/Databases/DatabaseReplicated.cpp
  src/Dictionaries/ClickHouseDictionarySource.cpp
  src/Functions/hasColumnInTable.cpp
  src/Interpreters/Cluster.cpp
  src/Interpreters/Cluster.h
  src/Interpreters/ClusterDiscovery.cpp
  src/Storages/Distributed/DistributedAsyncInsertDirectoryQueue.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  src/TableFunctions/TableFunctionRemote.cpp
  tests/config/config.d/clusters.xml
  tests/queries/0_stateless/01293_show_clusters.reference
  tests/queries/0_stateless/03365_bind_host.reference
  tests/queries/0_stateless/03365_bind_host.sql
Labels: pr-feature, can be tested

#78283 Docs: Warn about bad CHECK TABLE usage
  docs/en/sql-reference/statements/check-table.md
Labels: pr-documentation

#78288 Remove old and unused cmake code
  src/Functions/CMakeLists.txt
Labels: pr-not-for-changelog

#78453 Update README.md
  README.md
Labels: can be tested

#77397 Implement comparison for values of JSON data type
  docs/en/sql-reference/data-types/newjson.md
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnObject.h
  src/DataTypes/DataTypeObject.h
  tests/queries/0_stateless/03287_not_comparable_types_in_order_by_and_comparison_functions.reference
  tests/queries/0_stateless/03287_not_comparable_types_in_order_by_and_comparison_functions.sql
  tests/queries/0_stateless/03376_json_comparison.reference
  tests/queries/0_stateless/03376_json_comparison.sql
  tests/queries/0_stateless/03377_json_order_by_bug.reference
  tests/queries/0_stateless/03377_json_order_by_bug.sql
Labels: pr-improvement

#77572 Use default format settings in Dynamic serialization from shared variant
  src/DataTypes/Serializations/SerializationDynamic.cpp
  tests/queries/0_stateless/03382_dynamic_serialization_default_settings.reference
  tests/queries/0_stateless/03382_dynamic_serialization_default_settings.sql
Labels: pr-bugfix

#78205 Fix prefetch of substreams with prefixes in Wide parts
  src/Storages/MergeTree/MergeTreeReaderWide.cpp
  src/Storages/MergeTree/MergeTreeReaderWide.h
Labels: pr-bugfix, v25.3-must-backport

#78469 Try to fix flaky tests in master
  tests/queries/0_stateless/02354_vector_search_part_format.reference
  tests/queries/0_stateless/02354_vector_search_part_format.sql
Labels: pr-not-for-changelog

#78449 Revert "Apply `preserve_most` attribute at some places in code"
  base/base/defines.h
  src/Common/Arena.h
  src/Common/HashTable/HashTable.h
  src/Common/PODArray.h
Labels: pr-performance, pr-not-for-changelog, v25.3-must-backport

#78442 Optimize memory usage for NativeReader
  src/Formats/NativeReader.cpp
  tests/queries/0_stateless/00753_system_columns_and_system_tables_long.reference
  tests/queries/0_stateless/00753_system_columns_and_system_tables_long.sql
  tests/queries/0_stateless/03339_native_reader_exact_rows.reference
  tests/queries/0_stateless/03339_native_reader_exact_rows.sql
Labels: pr-performance

#78371 Fix typo in "system.backups" description
  src/Storages/System/attachSystemTables.cpp
Labels: pr-documentation, can be tested

#78518 Modernize OpenSSL usage in helpers
  src/Access/Authentication.cpp
  src/Common/OpenSSLHelpers.cpp
  src/Common/OpenSSLHelpers.h
Labels: pr-not-for-changelog

#78428 Fix analyzer: preserve FINAL for shard
  src/Storages/buildQueryTreeForShard.cpp
  tests/queries/0_stateless/03400_distributed_final.reference
  tests/queries/0_stateless/03400_distributed_final.sql
Labels: pr-bugfix

#78517 Modernize OpenSSL usage in `SSLCertificateSubjects.cpp`
  src/Access/Common/SSLCertificateSubjects.cpp
Labels: pr-not-for-changelog

#78532 Fix description of MemoryAllocatorPurgeTimeMicroseconds
  src/Common/ProfileEvents.cpp
Labels: pr-documentation

#78552 Docs: fix codeblock spacing
  docs/en/engines/database-engines/backup.md
Labels: pr-documentation

#78460 Fix possible recursive static var initialization (in debug build) due to big allocations check
  src/Common/MemoryTracker.cpp
  src/Common/MemoryTrackerDebugBlockerInThread.cpp
  src/Common/MemoryTrackerDebugBlockerInThread.h
  src/Common/SymbolIndex.cpp
  src/Common/SymbolIndex.h
  tests/queries/0_stateless/03337_local_static_var_recursive_initialization.reference
  tests/queries/0_stateless/03337_local_static_var_recursive_initialization.sh
Labels: pr-not-for-changelog

#78440 tests: fix flaky 00111_shard_external_sort_distributed
  tests/queries/0_stateless/00111_shard_external_sort_distributed.sql
Labels: pr-not-for-changelog, can be tested, 🍃 green ci 🌿

#78488 CI: Fast test to upload stripped binary
  ci/jobs/fast_test.py
  ci/praktika/s3.py
  ci/praktika/utils.py
Labels: pr-not-for-changelog

#78431 CI: Clickbench and Sqllogic jobs refactored
  .github/workflows/master.yml
  ci/defs/defs.py
  ci/defs/job_configs.py
  ci/praktika/native_jobs.py
  ci/praktika/result.py
  ci/praktika/runner.py
  ci/praktika/utils.py
  ci/workflows/master.py
  ci/workflows/new_pull_request.py
  docker/test/clickbench/Dockerfile
  docker/test/clickbench/create.sql
  docker/test/clickbench/queries.sql
  docker/test/clickbench/run.sh
  docker/test/sqllogic/Dockerfile
  docker/test/sqllogic/requirements.txt
  tests/ci/clickbench.py
  tests/ci/sqllogic_test.py
  tests/docker_scripts/sqllogic_runner.sh
Labels: pr-not-for-changelog

#78447 Docs: update anchors
  src/Core/Settings.cpp
Labels: pr-documentation

#78501 Added link to trace-visualizer in pastila
  utils/trace-visualizer/README.md
Labels: pr-not-for-changelog

#78573 Docs: update slug for system_warnings.md
  docs/en/operations/system-tables/system_warnings.md
Labels: pr-documentation

#78571 Docs: split large code block section
  docs/en/sql-reference/functions/geo/polygon.md
Labels: pr-documentation

#78524 `system.query_condition_cache`: Prettier prettyprinting for matching marks
  docs/en/operations/system-tables/query_condition_cache.md
  src/Storages/System/StorageSystemQueryConditionCache.cpp
Labels: pr-not-for-changelog

#78483 Minor refactoring near `MergeTree` reader
  src/Processors/QueryPlan/Optimizations/optimizeLazyMaterialization.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/LazilyReadInfo.h
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/IMergeTreeReader.cpp
  src/Storages/MergeTree/IMergeTreeReader.h
  src/Storages/MergeTree/MergeTreeDataPartCompact.cpp
  src/Storages/MergeTree/MergeTreeDataPartCompact.h
  src/Storages/MergeTree/MergeTreeDataPartWide.cpp
  src/Storages/MergeTree/MergeTreeDataPartWide.h
  src/Storages/MergeTree/MergeTreeLazilyReader.cpp
  src/Storages/MergeTree/MergeTreeLazilyReader.h
  src/Storages/MergeTree/MergeTreeReadTask.cpp
  src/Storages/MergeTree/MergeTreeReadTask.h
  src/Storages/MergeTree/MergeTreeReaderWide.cpp
  src/Storages/MergeTree/RangesInDataPart.h
Labels: pr-not-for-changelog

#78563 Add a test for #52065
  tests/queries/0_stateless/03402_materialized_tuple_element.reference
  tests/queries/0_stateless/03402_materialized_tuple_element.sql
Labels: pr-not-for-changelog

#78511 Fix flaky test_reload_while_loading
  tests/integration/test_dictionaries_update_and_reload/test.py
Labels: can be tested, pr-ci, 🍃 green ci 🌿

#78589 CI: Upload self-extracting binary for installation with curl
  ci/jobs/scripts/job_hooks/build_post_hook.py
Labels: pr-not-for-changelog

#78514 Correctly stop prewarming of mark cache and primary index cache
  src/Storages/MergeTree/MergeTreeData.cpp
  tests/integration/test_merge_tree_prewarm_cache/__init__.py
  tests/integration/test_merge_tree_prewarm_cache/configs/primary_key_cache.xml
  tests/integration/test_merge_tree_prewarm_cache/test.py
Labels: pr-not-for-changelog, pr-must-backport-cloud

#78284 Buzzhouse update
  programs/client/FuzzLoop.cpp
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.cpp
  src/Client/BuzzHouse/Generator/FuzzConfig.cpp
  src/Client/BuzzHouse/Generator/FuzzConfig.h
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/QueryOracle.h
  src/Client/BuzzHouse/Generator/RandomGenerator.cpp
  src/Client/BuzzHouse/Generator/RandomGenerator.h
  src/Client/BuzzHouse/Generator/RandomSettings.h
  src/Client/BuzzHouse/Generator/SQLCatalog.h
  src/Client/BuzzHouse/Generator/SQLExpression.cpp
  src/Client/BuzzHouse/Generator/SQLFuncs.h
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/SQLTypes.cpp
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Generator/TableSetttings.cpp
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
Labels: pr-ci

#78242 Minmax iceberg
  src/Common/ProfileEvents.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFile.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFile.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFilesPruning.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFilesPruning.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/PartitionPruning.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/SchemaProcessor.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/SchemaProcessor.h
  tests/integration/test_storage_iceberg/test.py
Labels: pr-performance

#78537 Some fixes around autogenerated headers
  contrib/aws-cmake/CMakeLists.txt
  contrib/h3-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#78557 tests: fix 00988_parallel_parts_removal flakiness
  tests/queries/0_stateless/00988_parallel_parts_removal.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#78566 Fix corner-case handling in `cgroupV2PathOfProcess()`
  base/base/cgroupsv2.cpp
  base/base/cgroupsv2.h
Labels: pr-bugfix, pr-must-backport, can be tested

#78596 Explicit guidance on enabling JSON data type on CH Cloud
  docs/en/sql-reference/data-types/newjson.md
Labels: pr-documentation, can be tested

#78472 Docs: Fix build description
  docs/en/development/build.md
Labels: pr-documentation

#78621 Disable with_remote_database_disk in test_distributed_ddl and test_zookeeper_config
  tests/integration/test_distributed_ddl/cluster.py
  tests/integration/test_zookeeper_config/test_password.py
Labels: pr-not-for-changelog, can be tested

#78470 Support `include`, `from_env`, `from_zk` for runtime disks
  src/Common/Config/ConfigProcessor.cpp
  src/Common/Config/ConfigProcessor.h
  src/Disks/DiskFromAST.cpp
  src/Disks/getDiskConfigurationFromAST.cpp
  tests/integration/test_disk_configuration/configs/config.d/include_from.xml
  tests/integration/test_disk_configuration/configs/config.d/include_from_path.xml
  tests/integration/test_disk_configuration/test.py
Labels: pr-improvement

#78626 Vector Search Docs: Recommend disabling compression for vector columns
  docs/en/engines/table-engines/mergetree-family/annindexes.md
Labels: pr-documentation

#76039 Fix "Part <...> does not contain in snapshot of previous virtual parts. (PART_IS_TEMPORARILY_LOCKED)" during DETACH PART
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/queries/0_stateless/03356_pull_entry_before_detach_part.reference
  tests/queries/0_stateless/03356_pull_entry_before_detach_part.sql
Labels: pr-bugfix, can be tested

#78486 Support partition pruning in DeltaLake engine
  src/Common/ProfileEvents.cpp
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/DataLakes/DeltaLake/PartitionPruner.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLake/PartitionPruner.h
  src/Storages/ObjectStorage/DataLakes/DeltaLake/TableSnapshot.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLake/TableSnapshot.h
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.h
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.h
  src/Storages/ObjectStorage/StorageObjectStorage.cpp
  src/Storages/ObjectStorage/StorageObjectStorage.h
  src/Storages/ObjectStorage/StorageObjectStorageCluster.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.h
  tests/integration/test_storage_delta/test.py
Labels: pr-improvement

#78636 Fix schedule session close
  src/Interpreters/Session.cpp
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#78635 Sync with private
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#78654 CI: Refresh PR context from API
  ci/praktika/_environment.py
  ci/praktika/gh.py
  ci/praktika/info.py
  ci/praktika/native_jobs.py
  ci/praktika/runner.py
Labels: do not test, pr-not-for-changelog

#78423 Better guard pages with MADV_GUARD_INSTALL/MADV_GUARD_REMOVE (linux 6.13+)
  programs/keeper/Keeper.cpp
  src/Client/BuzzHouse/Generator/FuzzConfig.cpp
  src/Client/ClientBase.cpp
  src/Client/Connection.cpp
  src/Common/AsyncTaskExecutor.cpp
  src/Common/AsyncTaskExecutor.h
  src/Common/FiberStack.cpp
  src/Common/FiberStack.h
  src/Common/ThreadStatus.cpp
  src/Common/memory.cpp
  src/Common/memory.h
  src/Coordination/FourLetterCommand.h
  src/Storages/Distributed/DistributedAsyncInsertBatch.cpp
Labels: pr-not-for-changelog

#78525 Fix `explain distributed=1` always uses `to_stage == Complete`
  src/Interpreters/InterpreterExplainQuery.cpp
  src/Interpreters/InterpreterExplainQuery.h
  src/TableFunctions/TableFunctionExplain.cpp
  tests/queries/0_stateless/03302_analyzer_distributed_filter_push_down.reference
  tests/queries/0_stateless/03303_distributed_explain.reference
  tests/queries/0_stateless/03400_explain_distributed_bug.reference
  tests/queries/0_stateless/03400_explain_distributed_bug.sql
Labels: pr-not-for-changelog

#78657 CI: Refactor Nightly workflows
  .github/workflows/master.yml
  .github/workflows/nightly.yml
  .github/workflows/nightly_fuzzers.yml
  ci/defs/job_configs.py
  ci/jobs/scripts/workflow_hooks/filter_job.py
  ci/praktika/docker.py
  ci/praktika/native_jobs.py
  ci/praktika/workflow.py
  ci/workflows/master.py
  ci/workflows/nightly_fuzzers.py
Labels: do not test, pr-not-for-changelog

#78659 CI: Improve job summary in report
  ci/jobs/build_clickhouse.py
  ci/jobs/check_style.py
  ci/jobs/fast_test.py
  ci/jobs/performance_tests.py
  ci/jobs/unit_tests_job.py
  ci/praktika/docker.py
  ci/praktika/result.py
Labels: do not test, pr-not-for-changelog

#78661 CI: Follow-up fixes for dockers build on master
  ci/praktika/docker.py
  ci/praktika/result.py
Labels: do not test, pr-not-for-changelog

#78633 Better checks for transactions is not supported by ReplicatedMergeTree on INSERTs
  src/Interpreters/IInterpreter.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-bugfix

#74945 Async insert memory preallocation to improve performance
  src/Columns/ColumnArray.cpp
  src/Columns/ColumnArray.h
  src/Columns/ColumnDynamic.cpp
  src/Columns/ColumnDynamic.h
  src/Columns/ColumnMap.cpp
  src/Columns/ColumnMap.h
  src/Columns/ColumnNullable.cpp
  src/Columns/ColumnNullable.h
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnObject.h
  src/Columns/ColumnString.cpp
  src/Columns/ColumnString.h
  src/Columns/ColumnTuple.cpp
  src/Columns/ColumnTuple.h
  src/Columns/ColumnVariant.cpp
  src/Columns/ColumnVariant.h
  src/Columns/IColumn.h
  src/Interpreters/AsynchronousInsertQueue.cpp
  src/Interpreters/Squashing.cpp
  src/Processors/Executors/StreamingFormatExecutor.cpp
  src/Processors/Executors/StreamingFormatExecutor.h
Labels: pr-performance, can be tested

#78520 Modernize OpenSSL usage in hash functions
  base/poco/Crypto/include/Poco/Crypto/OpenSSLInitializer.h
  base/poco/Crypto/src/OpenSSLInitializer.cpp
  contrib/openssl-cmake/CMakeLists.txt
  src/Functions/FunctionsHashing.h
  src/Functions/FunctionsStringHashFixedString.cpp
Labels: pr-not-for-changelog, submodule changed

#78587 Process table-level settings in ObjectStorage cluster table functions correctly
  src/Storages/ObjectStorage/StorageObjectStorageCluster.cpp
  tests/queries/0_stateless/03402_cluster_table_functions_settings_parsing.reference
  tests/queries/0_stateless/03402_cluster_table_functions_settings_parsing.sql
Labels: pr-bugfix

#78515 Minor refactoring near `AlterConversions`
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/AlterConversions.cpp
  src/Storages/MergeTree/AlterConversions.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeReadPoolBase.cpp
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.cpp
  src/Storages/MergeTree/ReplicatedMergeTreeQueue.h
  src/Storages/StorageMergeTree.cpp
  src/Storages/StorageMergeTree.h
  src/Storages/StorageReplicatedMergeTree.cpp
  src/Storages/StorageReplicatedMergeTree.h
  src/Storages/System/StorageSystemTables.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
Labels: pr-not-for-changelog

#78629 Add ClickHouse table graph tool to third-party tool list in docs
  docs/en/interfaces/third-party/gui.md
Labels: pr-documentation, can be tested

#78599 Update url.md - adding information about needed permissions
  docs/en/sql-reference/table-functions/url.md
Labels: pr-documentation, can be tested

#78637 Remove query settings during attach
  src/Databases/DatabaseOnDisk.cpp
  tests/integration/test_session_settings_table/__init__.py
  tests/integration/test_session_settings_table/data/clickhouse/part1.csv
  tests/integration/test_session_settings_table/test.py
  tests/integration/test_storage_iceberg/test.py
Labels: pr-bugfix, pr-must-backport

#78673 Fix for failing docs check
  ci/defs/defs.py
  docker/docs/builder/Dockerfile
  docs/en/sql-reference/statements/attach.md
Labels: do not test, pr-ci

#78022 Validate SummungMergeTree columns to sum are not in sort key, fix partition key validation. Fix auto resolve of summing cols.
  docs/en/engines/table-engines/mergetree-family/summingmergetree.md
  src/Core/SettingsChangesHistory.cpp
  src/Processors/Merges/Algorithms/SummingSortedAlgorithm.cpp
  src/Processors/Merges/Algorithms/SummingSortedAlgorithm.h
  src/Processors/Merges/SummingSortedTransform.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeData.cpp
  src/Storages/MergeTree/MergeTreeData.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeDataWriter.h
  src/Storages/MergeTree/MergeTreeSettings.cpp
  tests/queries/0_stateless/00754_alter_modify_order_by.reference
  tests/queries/0_stateless/00754_alter_modify_order_by_replicated_zookeeper_long.reference
  tests/queries/0_stateless/01373_summing_merge_tree_exclude_partition_key.reference
  tests/queries/0_stateless/01373_summing_merge_tree_exclude_partition_key.sql
  tests/queries/0_stateless/01373_summing_merge_tree_explicit_columns_definition.sql
Labels: pr-improvement, can be tested

#76847 Fix race in DatabaseReplicated between stopReplication and startupDatabaseAsync
  programs/server/Server.cpp
  src/Common/AsyncLoader.cpp
  src/Common/AsyncLoader.h
  src/Common/FailPoint.cpp
  src/Common/tests/gtest_async_loader.cpp
  src/Databases/DatabaseReplicated.cpp
  src/Interpreters/SystemLog.cpp
  src/Storages/StorageMergeTree.cpp
  tests/docker_scripts/stress_runner.sh
  tests/integration/helpers/cluster.py
  tests/integration/test_refreshable_mv/configs/config.xml
  tests/integration/test_refreshable_mv/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#78709 ci: fix bug-fix check (due to new settings added to tests configurations in 25.4)
  tests/config/config.d/backoff_policy.xml
  tests/config/config.d/backoff_policy_25_4.xml
  tests/config/install.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#78707 Fix wrong arguments order for TableFunctionFactory::execute() for loop
  src/TableFunctions/TableFunctionLoop.cpp
Labels: pr-not-for-changelog

#78667 cctools: update gdb to 16.2 (6x faster backtraces on CI) and fix Apple TAPI/cctools port
  ci/defs/defs.py
  ci/docker/binary-builder/Dockerfile
  ci/docker/fasttest/Dockerfile
  docker/packager/cctools/Dockerfile
  docker/test/integration/base/Dockerfile
  docker/test/integration/runner/Dockerfile
  docker/test/performance-comparison/Dockerfile
  docker/test/util/Dockerfile
Labels: pr-not-for-changelog, 🚀 Fast CI 🥒

#78720 Optimize system.tables for *_mutations access
  src/Storages/System/StorageSystemTables.cpp
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#78721 ci: fix bufix check (due to an error for version comparison)
  tests/config/install.sh
  tests/queries/0_stateless/00563_insert_into_remote_and_zookeeper_long.reference
  tests/queries/0_stateless/00563_insert_into_remote_and_zookeeper_long.sql
Labels: pr-bugfix

#78510 Move MongoDB instance initialization to a class
  src/Dictionaries/MongoDBDictionarySource.h
  src/Processors/Sources/MongoDBSource.h
  src/Storages/StorageMongoDB.h
Labels: pr-not-for-changelog

#78653 Do not throw the `TOO_MANY_TABLES` exception for system database
  src/Interpreters/InterpreterCreateQuery.cpp
Labels: pr-not-for-changelog, pr-must-backport

#76581 Add query id to system errors
  src/Common/ErrorCodes.cpp
  src/Common/ErrorCodes.h
  src/Storages/System/StorageSystemErrors.cpp
  tests/queries/0_stateless/02117_show_create_table_system.reference
  tests/queries/0_stateless/03361_system_errors_query_id.reference
  tests/queries/0_stateless/03361_system_errors_query_id.sh
Labels: pr-improvement, can be tested

#78722 ci: disable async_insert for sending system.*_log to ci-logs cluster and increase stop timeout
  tests/config/users.d/ci_logs_sender.yaml
  tests/docker_scripts/stress_tests.lib
Labels: pr-not-for-changelog

#77595 CPU scheduling for workloads
  docs/en/operations/workload-scheduling.md
  src/Common/ConcurrencyControl.cpp
  src/Common/ConcurrencyControl.h
  src/Common/CurrentMetrics.cpp
  src/Common/ISlotControl.h
  src/Common/ProfileEvents.cpp
  src/Common/Scheduler/CPUSlotsAllocation.cpp
  src/Common/Scheduler/CPUSlotsAllocation.h
  src/Common/Scheduler/Nodes/CustomResourceManager.cpp
  src/Common/Scheduler/Nodes/SemaphoreConstraint.h
  src/Common/Scheduler/Nodes/ThrottlerConstraint.h
  src/Common/Scheduler/Nodes/UnifiedSchedulerNode.h
  src/Common/Scheduler/Nodes/WorkloadResourceManager.cpp
  src/Common/Scheduler/Nodes/WorkloadResourceManager.h
  src/Common/Scheduler/Nodes/tests/ResourceTest.h
  src/Common/Scheduler/Nodes/tests/gtest_io_resource_manager.cpp
  src/Common/Scheduler/Nodes/tests/gtest_resource_scheduler.cpp
  src/Common/Scheduler/Nodes/tests/gtest_unified_scheduler_node.cpp
  src/Common/Scheduler/Nodes/tests/gtest_workload_resource_manager.cpp
  src/Common/Scheduler/SchedulerRoot.h
  src/Common/Scheduler/SchedulingSettings.cpp
  src/Common/Scheduler/SchedulingSettings.h
  src/Common/Scheduler/Workload/IWorkloadEntityStorage.h
  src/Common/Scheduler/Workload/WorkloadEntityStorageBase.cpp
  src/Common/Scheduler/Workload/WorkloadEntityStorageBase.h
  src/Common/Scheduler/WorkloadSettings.cpp
  src/Common/Scheduler/WorkloadSettings.h
  src/Common/Scheduler/createResourceManager.cpp
  src/Disks/ObjectStorages/DiskObjectStorage.cpp
  src/Parsers/ASTCreateResourceQuery.cpp
  src/Parsers/ASTCreateResourceQuery.h
  src/Parsers/CommonParsers.h
  src/Parsers/ParserCreateResourceQuery.cpp
  src/Processors/Executors/PipelineExecutor.cpp
  src/Processors/Executors/PipelineExecutor.h
  src/Storages/System/StorageSystemResources.cpp
  tests/integration/test_backup_restore_s3/test_throttling.py
  tests/integration/test_scheduler/test.py
  tests/integration/test_scheduler_cpu/__init__.py
  tests/integration/test_scheduler_cpu/test.py
  tests/queries/0_stateless/03232_workloads_and_resources.sql
Labels: pr-feature

#78736 Fix flaky 03261_minmax_indices_by_default
  tests/queries/0_stateless/03261_minmax_indices_by_default.sql
Labels: pr-not-for-changelog, can be tested, 🍃 green ci 🌿

#78616 minor fix to ObjectStorage exception
  src/Storages/ObjectStorage/Utils.cpp
Labels: pr-not-for-changelog

#78727 More consistent error handling of OpenSSL calls
  src/Access/AuthenticationData.cpp
  src/Compression/CompressionCodecEncrypted.cpp
  src/Functions/FunctionsAES.cpp
  src/Functions/FunctionsAES.h
  src/Functions/FunctionsHashing.h
  src/Functions/FunctionsStringHashFixedString.cpp
  src/IO/FileEncryptionCommon.cpp
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
Labels: pr-not-for-changelog

#78668 build: optimize strip by using -o over extra cp
  cmake/split_debug_symbols.cmake
Labels: pr-not-for-changelog, 🚀 Fast CI 🥒

#78669 Next batch of fixes
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Client/BuzzHouse/Generator/SQLCatalog.h
  src/Client/BuzzHouse/Generator/SQLExpression.cpp
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
Labels: pr-ci

#78745 Further modernization of OpenSSL calls
  src/Common/OpenSSLHelpers.cpp
  src/Compression/CompressionCodecEncrypted.cpp
  src/Functions/FunctionsAES.h
  src/IO/FileEncryptionCommon.cpp
  tests/queries/0_stateless/00002_log_and_exception_messages_formatting.sql
Labels: pr-not-for-changelog

#78678 Sync private
  src/Common/ProfileEvents.cpp
Labels: pr-not-for-changelog

#77229 Fix skip indexes with expression with literals in analyzer
  src/Storages/MergeTree/MergeTreeIndexBloomFilter.cpp
  src/Storages/MergeTree/MergeTreeIndexBloomFilterText.cpp
  src/Storages/MergeTree/MergeTreeIndexFullText.cpp
  src/Storages/MergeTree/MergeTreeIndexSet.cpp
  src/Storages/MergeTree/MergeTreeIndexUtils.cpp
  src/Storages/MergeTree/MergeTreeIndexUtils.h
  tests/queries/0_stateless/01786_explain_merge_tree.reference
  tests/queries/0_stateless/03374_indexes_with_literals.reference
  tests/queries/0_stateless/03374_indexes_with_literals.sql
  tests/queries/0_stateless/03374_indexes_with_trivial_cast.reference
  tests/queries/0_stateless/03374_indexes_with_trivial_cast.sql
Labels: pr-bugfix, pr-must-backport

#78675 Add a bunch of forward declarations in headers
  src/Analyzer/Passes/AggregateFunctionOfGroupByKeysPass.cpp
  src/Analyzer/TableFunctionNode.h
  src/Storages/Distributed/DistributedAsyncInsertBatch.cpp
  src/Storages/Distributed/DistributedAsyncInsertDirectoryQueue.h
  src/Storages/IStorageCluster.cpp
  src/Storages/IStorageCluster.h
  src/Storages/StorageDistributed.h
  src/Storages/StorageSnapshot.h
  src/Storages/buildQueryTreeForShard.cpp
Labels: pr-not-for-changelog

#78773 Fixes for test_storage_rabbitmq::test_failed_connection.py
  tests/integration/test_storage_rabbitmq/test.py
  tests/integration/test_storage_rabbitmq/test_failed_connection.py
Labels: pr-ci, 🍃 green ci 🌿

#78688 Fix path validation and return test
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  tests/integration/test_storage_iceberg/test.py
Labels: pr-bugfix, pr-must-backport

#78775 Small refactoring around data lakes
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.h
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.h
  src/Storages/ObjectStorage/DataLakes/HudiMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/HudiMetadata.h
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.h
  src/Storages/ObjectStorage/StorageObjectStorage.cpp
  src/Storages/ObjectStorage/StorageObjectStorage.h
Labels: pr-not-for-changelog

#78779 Prevent `test_replicated_database/test.py::test_create_replicated_table` from being flaky
  tests/integration/test_replicated_database/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#78783 Docs check: update Dockerfile
  docker/docs/builder/Dockerfile
Labels: pr-ci

#78744 fix flaky test `test_storage_s3_queue/test_4.py`
  tests/integration/test_storage_s3_queue/test_4.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#78651 Optimize LogSeriesLimiter
  src/Common/LoggingFormatStringHelpers.cpp
  src/Common/LoggingFormatStringHelpers.h
Labels: pr-not-for-changelog

#78750 Docs: Describe EXPLAIN example in more detail
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/en/engines/table-engines/mergetree-family/annindexes.md
Labels: pr-documentation

#78812 Docs: fix typo
  docs/en/sql-reference/functions/time-series-functions.md
Labels: pr-documentation

#78586 Support password auth type in SSH protocol
  src/Server/SSH/SSHPtyHandler.cpp
  tests/integration/test_ssh/test.py
Labels: pr-improvement

#78811 Add `no-distributed-cache` tag to `03008_s3_plain_rewritable_alter_partition.sh`
  tests/queries/0_stateless/03008_s3_plain_rewritable_alter_partition.sh
Labels: can be tested, pr-ci

#78492 CI: Migration to arm
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  ci/defs/defs.py
  ci/defs/job_configs.py
  ci/jobs/build_clickhouse.py
  ci/workflows/pull_request.py
  clang_tidy_cache
  src/Common/IPv6ToBinary.cpp
  src/Interpreters/Aggregator.cpp
  tests/ci/build_download_helper.py
  tests/ci/ci_config.py
Labels: pr-not-for-changelog, submodule changed

#78825 Fix `test_s3_plain_rewritable` flakiness
  tests/integration/test_s3_plain_rewritable/test.py
Labels: can be tested, pr-ci

#78630 CI: Refactor docs check job
  ci/defs/defs.py
  ci/defs/job_configs.py
  ci/docker/docs-builder/Dockerfile
  ci/jobs/docs_job.py
  docker/docs/builder/run.sh
  tests/ci/docs_check.py
Labels: do not test, pr-not-for-changelog

#78776 Add a job url into the cherry-pick and backport PRs
  tests/ci/cherry_pick.py
Labels: pr-ci

#78808 Improve OpenSSL error handling
  src/Access/AuthenticationData.cpp
  src/Compression/CompressionCodecEncrypted.cpp
  src/Functions/FunctionsAES.h
  src/Functions/FunctionsHashing.h
  src/Functions/FunctionsStringHashFixedString.cpp
  src/IO/FileEncryptionCommon.cpp
Labels: pr-not-for-changelog

#78817 tests: better Exception in stdout detection
  tests/clickhouse-test
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#77446 Remove copy-paste code
  src/Core/Joins.cpp
  src/Core/Joins.h
Labels: pr-not-for-changelog

#78339 Validate access to underlying tables for Merge engine
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMerge.h
  src/TableFunctions/TableFunctionMerge.cpp
  tests/integration/test_table_functions_access_rights/test.py
  tests/queries/0_stateless/01902_table_function_merge_db_params.sql
  tests/queries/0_stateless/01902_table_function_merge_db_repr.reference
  tests/queries/0_stateless/01902_table_function_merge_db_repr.sql
  tests/queries/0_stateless/03302_merge_table_structure_unification.reference
  tests/queries/0_stateless/03302_merge_table_structure_unification.sql
  tests/queries/0_stateless/03400_merge_storage_underlying_tables_access_validation.reference
  tests/queries/0_stateless/03400_merge_storage_underlying_tables_access_validation.sh
Labels: pr-bugfix

#78834 Rework tests for query condition cache
  tests/queries/0_stateless/03229_query_condition_cache.reference
  tests/queries/0_stateless/03229_query_condition_cache_drop_cache.reference
  tests/queries/0_stateless/03229_query_condition_cache_drop_cache.sql
  tests/queries/0_stateless/03229_query_condition_cache_final.reference
  tests/queries/0_stateless/03229_query_condition_cache_final.sql
  tests/queries/0_stateless/03229_query_condition_cache_nondeterministic_functions.reference
  tests/queries/0_stateless/03229_query_condition_cache_nondeterministic_functions.sql
  tests/queries/0_stateless/03229_query_condition_cache_profile_events.reference
  tests/queries/0_stateless/03229_query_condition_cache_profile_events.sql
  tests/queries/0_stateless/03229_query_condition_cache_system_table.reference
  tests/queries/0_stateless/03229_query_condition_cache_system_table.sql
Labels: pr-not-for-changelog

#78723 Add toInterval function
  docs/en/sql-reference/functions/type-conversion-functions.md
  src/Functions/toInterval.cpp
  tests/queries/0_stateless/03403_toInterval.reference
  tests/queries/0_stateless/03403_toInterval.sql
Labels: pr-feature, can be tested

#78782 Don't block table shutdown while running CHECK TABLE
  src/Interpreters/InterpreterCheckQuery.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
  tests/integration/test_check_table/test.py
Labels: pr-bugfix

#78328 Fix a typo in date-time-functions.md
  docs/en/sql-reference/functions/date-time-functions.md
Labels: pr-documentation, can be tested

#78823 Update resources.md
  docs/en/operations/system-tables/resources.md
Labels: pr-documentation, can be tested

#78094 Query masking rules are now able to throw on match
  docs/ru/operations/server-configuration-parameters/settings.md
  docs/zh/operations/server-configuration-parameters/settings.md
  src/Common/SensitiveDataMasker.cpp
  src/Common/SensitiveDataMasker.h
  src/Common/tests/gtest_sensitive_data_masker.cpp
  tests/config/config.d/query_masking_rules.xml
Labels: pr-improvement

#78849 Integration README update
  tests/integration/README.md
Labels: pr-not-for-changelog

#77374 Docs: Improve `AggregateFunction` readability
  docs/en/sql-reference/data-types/aggregatefunction.md
Labels: pr-documentation

#78541 s3queue: fix logical error "Cannot unregister: table uuid is not registered"
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadata.cpp
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadata.h
  src/Storages/ObjectStorageQueue/ObjectStorageQueueMetadataFactory.cpp
  src/Storages/ObjectStorageQueue/StorageObjectStorageQueue.cpp
  tests/integration/test_storage_s3_queue/test_4.py
Labels: pr-bugfix, pr-must-backport

#78500 Disable parallelize query processing right after reading FROM when distributed_aggregation_memory_efficient enabled
  src/Core/Settings.cpp
  src/Storages/IStorage.cpp
  tests/queries/0_stateless/03402_fix_pipe_resize_with_two_level_hash.reference
  tests/queries/0_stateless/03402_fix_pipe_resize_with_two_level_hash.sh
Labels: pr-bugfix, can be tested

#78821 try to fix flaky test `test_backup_restore_s3`
  tests/integration/test_backup_restore_s3/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#78658 warn on long running mutations
  docs/en/operations/system-tables/system_warnings.md
  programs/server/Server.cpp
  src/Common/AsynchronousMetrics.cpp
  src/Core/ServerSettings.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/ServerAsynchronousMetrics.cpp
  src/Interpreters/ServerAsynchronousMetrics.h
Labels: pr-improvement

#78577 Docs: fix broken anchors
  docker/docs/builder/Dockerfile
  src/Storages/MergeTree/MergeTreeSettings.cpp
Labels: pr-documentation

#78809 CI: Report widget with job duration statistics
  ci/praktika/cidb.py
  ci/praktika/hook_html.py
  ci/praktika/json.html
  ci/praktika/native_jobs.py
  ci/praktika/result.py
  ci/praktika/runner.py
  ci/praktika/s3.py
  ci/praktika/secret.py
  ci/praktika/usage.py
  ci/praktika/utils.py
Labels: do not test, pr-not-for-changelog

#78778 Early connection drop on overloaded CPU
  ci/jobs/scripts/check_style/check_cpp.sh
  programs/server/Server.cpp
  src/Common/ProfileEvents.cpp
  src/Common/ProfileEvents.h
  src/Core/ServerSettings.cpp
  src/Interpreters/executeQuery.cpp
  src/Server/HTTP/HTTPServer.cpp
  src/Server/HTTP/HTTPServer.h
  src/Server/TCPServer.cpp
  src/Server/TCPServer.h
  tests/integration/test_server_overload/configs/early_drop.xml
  tests/integration/test_server_overload/test.py
Labels: pr-improvement

#78351 Legacy layout fixes for plain_rewritable disk
  src/Common/ProfileEvents.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/MetadataStorageFromPlainRewritableObjectStorage.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainRewritableObjectStorage.h
  tests/integration/test_plain_rewr_legacy_layout/__init__.py
  tests/integration/test_plain_rewr_legacy_layout/configs/storage_conf.xml
  tests/integration/test_plain_rewr_legacy_layout/test.py
Labels: pr-not-for-changelog, can be tested, pr-must-backport-cloud

#78819 Bring back #76914
  src/Functions/multiIf.cpp
  tests/queries/0_stateless/03352_distinct_sorted_bug.reference
  tests/queries/0_stateless/03352_distinct_sorted_bug.sql
  tests/queries/0_stateless/03359_ub_merging_aggregated_transform.reference
  tests/queries/0_stateless/03359_ub_merging_aggregated_transform.sql
  tests/queries/0_stateless/03404_ubsan_distinct_join_const_column.reference
  tests/queries/0_stateless/03404_ubsan_distinct_join_const_column.sql
Labels: pr-not-for-changelog

#78855 Do not check parts on other disks for MergeTree if disk= is set
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-improvement, v25.2-must-backport

#78839 Fix IN clause coercion for BFloat16
  base/base/BFloat16.h
  src/Interpreters/convertFieldToType.cpp
  tests/queries/0_stateless/03404_bfloat16_insert_values.reference
  tests/queries/0_stateless/03404_bfloat16_insert_values.sql
Labels: pr-improvement, pr-must-backport

#78886 Fix flaky `03229_query_condition_cache_profile_events`
  tests/queries/0_stateless/03229_query_condition_cache_profile_events.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#78883 Docs: fix front-matter aggregatefunction.md
  docs/en/sql-reference/data-types/aggregatefunction.md
Labels: pr-documentation

#78837 Clean remote feature
  programs/client/FuzzLoop.cpp
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.cpp
  src/Client/BuzzHouse/Generator/FuzzConfig.cpp
  src/Client/BuzzHouse/Generator/FuzzConfig.h
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
  src/Client/BuzzHouse/Utils/HugeInt.cpp
  src/Client/BuzzHouse/Utils/UHugeInt.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
Labels: pr-ci

#78882 CI: Nightly job for collecting CI statistics
  .github/workflows/nightly_statistics.yml
  ci/jobs/collect_statistics.py
  ci/praktika/json.html
  ci/praktika/result.py
  ci/praktika/s3.py
  ci/workflows/nightly_statistics.py
Labels: do not test, pr-not-for-changelog

#74541 Support deltalake for AzureBlobStorage
  docs/en/sql-reference/table-functions/deltalake.md
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/registerStorageObjectStorage.cpp
  src/Storages/registerStorages.cpp
  src/TableFunctions/TableFunctionObjectStorage.cpp
  src/TableFunctions/TableFunctionObjectStorage.h
  tests/integration/test_storage_delta/configs/config.d/named_collections.xml
  tests/integration/test_storage_delta/test.py
Labels: pr-feature, pr-synced-to-cloud

#78843 CI: Feature docs check needs exception for autogenerated documentation
  ci/jobs/scripts/workflow_hooks/feature_docs.py
  src/Storages/MergeTree/MergeTreeSettings.cpp
Labels: pr-ci

#77156 Support Iceberg Metadata Files Cache
  docs/en/engines/table-engines/integrations/iceberg.md
  docs/en/sql-reference/statements/system.md
  docs/en/sql-reference/table-functions/iceberg.md
  programs/local/LocalServer.cpp
  programs/server/Server.cpp
  src/Access/Common/AccessType.h
  src/Common/CurrentMetrics.cpp
  src/Common/ProfileEvents.cpp
  src/Core/Defines.h
  src/Core/ServerSettings.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Parsers/ASTSystemQuery.cpp
  src/Parsers/ASTSystemQuery.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadataFilesCache.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFile.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFile.h
  tests/integration/test_storage_iceberg/test.py
  tests/queries/0_stateless/01271_show_privileges.reference
Labels: pr-feature

#78832 Fix `tupleElement` formatting
  src/Parsers/ASTFunction.cpp
  tests/queries/0_stateless/01840_tupleElement_formatting_fuzzer.reference
  tests/queries/0_stateless/01840_tupleElement_formatting_fuzzer.sql
Labels: pr-bugfix

#78828 Fix bad cast in `StorageDistributed`
  src/Parsers/ASTSelectQuery.cpp
  src/Parsers/ASTSelectQuery.h
  src/Storages/StorageDistributed.cpp
  tests/queries/0_stateless/01099_parallel_distributed_insert_select.reference
  tests/queries/0_stateless/01099_parallel_distributed_insert_select.sql
Labels: pr-bugfix

#78799 Fix Keeper ephemeral count
  src/Coordination/KeeperSnapshotManager.cpp
  src/Coordination/KeeperStorage.cpp
  src/Coordination/KeeperStorage.h
  src/Coordination/ZooKeeperDataReader.cpp
  src/Coordination/tests/gtest_coordination_common.h
Labels: pr-bugfix, pr-must-backport

#78565 Trivial optimization: do not rewrite count(if()) to countIf if CAST is required
  src/Analyzer/Passes/RewriteAggregateFunctionWithIfPass.cpp
  tests/performance/rewrite_aggregate_if.xml
Labels: pr-performance

#78698 Fix sessions race
  src/Interpreters/Session.cpp
  tests/queries/0_stateless/03403_session_same_name_race.reference
  tests/queries/0_stateless/03403_session_same_name_race.sh
Labels: pr-bugfix, 🍃 green ci 🌿

#78490 Use insertion columns for INFILE schema inference
  src/Client/ClientBase.cpp
  src/Interpreters/processColumnTransformers.cpp
  src/Interpreters/processColumnTransformers.h
  tests/queries/0_stateless/02878_use_structure_from_insertion_table_with_explicit_insert_columns.reference
  tests/queries/0_stateless/02878_use_structure_from_insertion_table_with_explicit_insert_columns.sh
Labels: pr-bugfix

#78690 delta kernel fix read schema vs table schema matching
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/DataLakes/DeltaLake/TableSnapshot.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLake/TableSnapshot.h
  src/Storages/ObjectStorage/DataLakes/DeltaLake/getSchemaFromSnapshot.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLake/getSchemaFromSnapshot.h
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadataDeltaKernel.h
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/IDataLakeMetadata.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.h
  tests/integration/test_storage_delta/test.py
Labels: pr-bugfix

#78906 CI: Fast tests sccache fix
  ci/defs/job_configs.py
  ci/jobs/fast_test.py
Labels: do not test, pr-not-for-changelog

#78935 Docs: fix broken anchor
  docs/en/operations/system-tables/system_warnings.md
Labels: pr-documentation

#78858 Fix crash in REFRESHABLE MV in case of ALTER after incorrect shutdown
  src/Storages/MaterializedView/RefreshTask.cpp
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#78277 bugfix: should not schedule RefreshMV task to read_only node
  src/Storages/MaterializedView/RefreshTask.cpp
  tests/integration/test_refreshable_mv/configs/read_only.xml
  tests/integration/test_refreshable_mv/test.py
Labels: pr-bugfix, pr-must-backport, can be tested

#78854 Fix crash when arguments of the dictionary layout are zero values
  src/Dictionaries/getDictionaryConfigurationFromAST.cpp
  tests/queries/0_stateless/03405_ssd_cache_incorrect_min_max_lifetimes_and_block_size.reference
  tests/queries/0_stateless/03405_ssd_cache_incorrect_min_max_lifetimes_and_block_size.sql
  tests/queries/0_stateless/03406_dictionary_incorrect_min_max_lifetimes.reference
  tests/queries/0_stateless/03406_dictionary_incorrect_min_max_lifetimes.sql
Labels: pr-bugfix

#78932 Fix small issues with transposed metric log
  src/Interpreters/SystemLog.cpp
  src/Interpreters/TransposedMetricLog.cpp
  src/Interpreters/TransposedMetricLog.h
  tests/integration/test_transposed_metric_log/config/metric_log_config.xml
  tests/integration/test_transposed_metric_log/test.py
Labels: pr-not-for-changelog

#78881 Fix table attach in stress test
  tests/config/config.d/storage_conf_03008.xml
  tests/config/install.sh
  tests/queries/0_stateless/03008_local_plain_rewritable.sh
Labels: pr-not-for-changelog

#78888 Fix tests `02240_filesystem_cache_bypass_cache_threshold`, `02240_filesystem_query_cache`
  tests/queries/0_stateless/02240_filesystem_cache_bypass_cache_threshold.reference
  tests/queries/0_stateless/02240_filesystem_cache_bypass_cache_threshold.sql
  tests/queries/0_stateless/02240_filesystem_query_cache.reference
  tests/queries/0_stateless/02240_filesystem_query_cache.sql
Labels: pr-not-for-changelog

#76974 Don't parse special Bool values in text formats inside Variant type by default
  docs/en/sql-reference/data-types/variant.md
  src/Core/FormatFactorySettings.h
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/DataTypes/Serializations/SerializationBool.cpp
  src/DataTypes/Serializations/SerializationVariant.cpp
  src/DataTypes/Serializations/SerializationVariant.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/02940_variant_text_deserialization.reference
  tests/queries/0_stateless/02940_variant_text_deserialization.sql
  tests/queries/0_stateless/03156_dynamic_type_concurrent_inserts.reference
  tests/queries/0_stateless/03158_dynamic_type_from_variant.reference
  tests/queries/0_stateless/03365_variant_bool_parsing.reference
  tests/queries/0_stateless/03365_variant_bool_parsing.sql
Labels: pr-improvement

#78954 Fixed links in engines
  docs/en/engines/index.md
Labels: pr-documentation, can be tested

#78816 Allow empty value on hive partitioning
  src/Storages/VirtualColumnUtils.cpp
  src/Storages/VirtualColumnUtils.h
  src/Storages/tests/gtest_virtual_column_utils.cpp
  tests/queries/0_stateless/03203_hive_style_partitioning.reference
  tests/queries/0_stateless/03203_hive_style_partitioning.sh
  tests/queries/0_stateless/data_minio/hive_partitioning/column0=Arthur/column1=/sample.parquet
  tests/queries/0_stateless/data_minio/hive_partitioning/column0=Arthur/column1=ABC/sample.parquet
Labels: pr-improvement, can be tested

#78174 Fix reference in lambda callback
  src/Interpreters/ClusterDiscovery.cpp
Labels: pr-not-for-changelog, can be tested, v25.3-must-backport

#78475 Add some more convenient Iceberg metadata resolving settings
  docs/en/engines/table-engines/integrations/iceberg.md
  docs/en/sql-reference/table-functions/iceberg.md
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.h
  src/Storages/ObjectStorage/StorageObjectStorageSettings.cpp
  tests/queries/0_stateless/03401_several_iceberg_tables_in_one_dir.reference
  tests/queries/0_stateless/03401_several_iceberg_tables_in_one_dir.sql
  tests/queries/0_stateless/data_minio/merged_several_tables_test/data/00000-0-7e41b120-8dbb-4f03-a487-fab888fe1037-0-00001.parquet
  tests/queries/0_stateless/data_minio/merged_several_tables_test/data/00000-2-3f64c5e4-85a1-4846-bca2-ec61df4bd056-0-00001.parquet
  tests/queries/0_stateless/data_minio/merged_several_tables_test/data/00000-4-21e1734e-704f-43d0-aef8-0d4baf8caaa3-0-00001.parquet
  tests/queries/0_stateless/data_minio/merged_several_tables_test/data/00001-1-7e41b120-8dbb-4f03-a487-fab888fe1037-0-00001.parquet
  tests/queries/0_stateless/data_minio/merged_several_tables_test/data/00001-3-3f64c5e4-85a1-4846-bca2-ec61df4bd056-0-00001.parquet
  tests/queries/0_stateless/data_minio/merged_several_tables_test/data/00001-5-21e1734e-704f-43d0-aef8-0d4baf8caaa3-0-00001.parquet
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/00001-1e2722c2-33bc-4e24-a119-224f22616082.metadata.json
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/00001-2aad93a8-a893-4943-8504-f6021f83ecab.metadata.json
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/00001-aec4e034-3f73-48f7-87ad-51b7b42a8db7.metadata.json
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/00002-0d450afb-f0d1-4fe7-a6c1-a75a4deb78d0.metadata.json
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/00002-4a776c8c-bb70-4422-8309-313bd05bc984.metadata.json
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/00002-c7c8a160-5d43-4705-87a1-dfabc4677b9c.metadata.json
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/12684bd2-2274-4262-962a-40f06681d0ad-m0.avro
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/5f3bf1e1-6bf9-42de-b42c-932989d02512-m0.avro
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/966c9c10-0bdb-4885-9654-22a3d4513c19-m0.avro
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/snap-1893158857028005124-1-5f3bf1e1-6bf9-42de-b42c-932989d02512.avro
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/snap-5813107004148504843-1-12684bd2-2274-4262-962a-40f06681d0ad.avro
  tests/queries/0_stateless/data_minio/merged_several_tables_test/metadata/snap-7645007302261205410-1-966c9c10-0bdb-4885-9654-22a3d4513c19.avro
Labels: pr-improvement

#78993 Update trace-visualizer README.md
  utils/trace-visualizer/README.md
Labels: pr-not-for-changelog

#78970 Another fix for `test_rabbitmq_restore_failed_connection_without_losses_1`
  tests/integration/test_storage_rabbitmq/test_failed_connection.py
Labels: pr-ci

#78988 Fix bugfix validation for max_cpu_load config
  tests/config/install.sh
Labels: pr-not-for-changelog

#78971 Fix 03229_query_condition_cache_profile_events with parallel replicas
  tests/queries/0_stateless/03229_query_condition_cache_profile_events.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿
