Repository ClickHouse/ClickHouse, pull requests merged in 2025-10, with the labels that each got.

#87921 Fix add-test for multi-extension files
  tests/queries/0_stateless/add-test
Labels: pr-ci

#87679 Rename setting query_plan_use_logical_join_step
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
Labels: pr-backward-incompatible

#87673 Add test 03631_huge_query_filter_analyze
  tests/queries/0_stateless/03631_huge_query_filter_analyze.reference
  tests/queries/0_stateless/03631_huge_query_filter_analyze.sh
Labels: pr-not-for-changelog

#87903 Add more information for Iceberg SELECT queries profiling
  src/Common/ProfileEvents.cpp
  src/Interpreters/IcebergMetadataLog.cpp
  src/Interpreters/IcebergMetadataLog.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergIterator.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFile.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFile.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/ManifestFilesPruning.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/StatelessMetadataFileGetter.cpp
  tests/integration/test_storage_iceberg_with_spark/test_system_iceberg_metadata.py
Labels: pr-improvement, pr-must-backport

#87959 Cosmetics around text index
  src/Functions/searchAnyAll.cpp
  tests/queries/0_stateless/02346_text_index_bug62681.reference
  tests/queries/0_stateless/02346_text_index_bug62681.sql
Labels: pr-not-for-changelog

#87963 Make test_allow_feature_tier/test.py::test_allow_feature_tier_in_mergetree_settings fail more clearly
  tests/integration/test_allow_feature_tier/test.py
Labels: pr-not-for-changelog

#87823 Add `from` and `to` to default dashboards
  programs/server/dashboard.html
  src/Storages/System/StorageSystemDashboards.cpp
  tests/integration/test_custom_dashboards/test.py
  tests/queries/0_stateless/03540_system_dashboards.sh
Labels: pr-improvement

#87622 Fix the CSV serialization/deserialization bug for Time
  src/DataTypes/Serializations/SerializationTime.cpp
  src/Processors/Formats/IRowInputFormat.cpp
  tests/queries/0_stateless/03365_csv_time_deserialization_bug.reference
  tests/queries/0_stateless/03365_csv_time_deserialization_bug.sql
Labels: pr-bugfix

#87186 Docs: add clarifying note to grant.md
  docs/en/sql-reference/statements/grant.md
Labels: pr-documentation

#87901 second attempt: Use system.completions table for suggestions
  src/Client/LocalConnection.cpp
  src/Client/Suggest.cpp
  src/Storages/System/StorageSystemCompletions.cpp
  tests/integration/test_suggestions/__init__.py
  tests/integration/test_suggestions/configs/dictionary.xml
  tests/integration/test_suggestions/configs/macros.xml
  tests/integration/test_suggestions/configs/users.xml
  tests/integration/test_suggestions/test.py
Labels: pr-not-for-changelog

#87733 Fix handling of `timestamp(tz)` columns in Glue Catalog
  src/Databases/DataLake/GlueCatalog.cpp
Labels: pr-bugfix, can be tested

#87967 Avoid utilizing thread pool asynchonous marks loading when marks are in cache
  src/Common/ProfileEvents.cpp
  src/Storages/MergeTree/MergeTreeMarksLoader.cpp
  tests/queries/0_stateless/03640_load_marks_synchronously.reference
  tests/queries/0_stateless/03640_load_marks_synchronously.sql
Labels: pr-improvement

#87303 Fix condition not being moved to PREWHERE in case there is a row policy (version 2)
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFilterInfo.cpp
  src/Formats/FormatFilterInfo.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/ExpressionAnalyzer.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Interpreters/getHeaderForProcessingStage.cpp
  src/Planner/PlannerJoinTree.cpp
  src/Processors/Formats/Impl/Parquet/ReadManager.cpp
  src/Processors/Formats/Impl/Parquet/Reader.cpp
  src/Processors/QueryPlan/Optimizations/optimizeLazyMaterialization.cpp
  src/Processors/QueryPlan/Optimizations/optimizePrewhere.cpp
  src/Processors/QueryPlan/Optimizations/optimizePrimaryKeyConditionAndLimit.cpp
  src/Processors/QueryPlan/Optimizations/projectionsCommon.cpp
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Processors/QueryPlan/ReadFromObjectStorageStep.cpp
  src/Processors/QueryPlan/SourceStepWithFilter.cpp
  src/Processors/QueryPlan/SourceStepWithFilter.h
  src/Storages/IStorage.cpp
  src/Storages/MergeTree/MergeTreeBlockReadUtils.cpp
  src/Storages/MergeTree/MergeTreeBlockReadUtils.h
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.cpp
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.h
  src/Storages/MergeTree/MergeTreeReadPool.cpp
  src/Storages/MergeTree/MergeTreeReadPool.h
  src/Storages/MergeTree/MergeTreeReadPoolBase.cpp
  src/Storages/MergeTree/MergeTreeReadPoolBase.h
  src/Storages/MergeTree/MergeTreeReadPoolInOrder.cpp
  src/Storages/MergeTree/MergeTreeReadPoolInOrder.h
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicas.cpp
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicas.h
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicasInOrder.cpp
  src/Storages/MergeTree/MergeTreeReadPoolParallelReplicasInOrder.h
  src/Storages/MergeTree/MergeTreeSelectProcessor.cpp
  src/Storages/MergeTree/MergeTreeSelectProcessor.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/Compaction.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/Mutations.cpp
  src/Storages/ObjectStorage/DataLakes/Iceberg/PositionDeleteTransform.cpp
  src/Storages/ObjectStorage/StorageObjectStorage.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
  src/Storages/SelectQueryInfo.cpp
  src/Storages/SelectQueryInfo.h
  src/Storages/StorageBuffer.cpp
  src/Storages/StorageDummy.cpp
  src/Storages/StorageFile.cpp
  src/Storages/StorageURL.cpp
  src/Storages/prepareReadingFromFormat.cpp
  src/Storages/prepareReadingFromFormat.h
  tests/queries/0_stateless/02679_explain_merge_tree_prewhere_row_policy.reference
  tests/queries/0_stateless/03591_optimize_prewhere_row_policy.reference
  tests/queries/0_stateless/03591_optimize_prewhere_row_policy.sql
Labels: pr-bugfix

#87992 More traces for prefetched pool and marks loader
  src/Storages/MergeTree/MergeTreeMarksLoader.cpp
  src/Storages/MergeTree/MergeTreePrefetchedReadPool.cpp
Labels: pr-not-for-changelog

#88001 Add logs to S3 Client
  src/Backups/BackupIO_S3.cpp
  src/Coordination/KeeperSnapshotManagerS3.cpp
  src/Databases/DataLake/GlueCatalog.cpp
  src/Disks/ObjectStorages/ObjectStorageFactory.cpp
  src/Disks/ObjectStorages/S3/S3ObjectStorage.cpp
  src/Disks/ObjectStorages/S3/diskSettings.cpp
  src/Disks/ObjectStorages/S3/diskSettings.h
  src/IO/S3/Client.cpp
  src/IO/S3/Client.h
  src/IO/S3/Credentials.cpp
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
  src/IO/S3/tests/gtest_aws_s3_client.cpp
  src/IO/tests/gtest_readbuffer_s3.cpp
  src/IO/tests/gtest_writebuffer_s3.cpp
Labels: pr-not-for-changelog, pr-must-backport

#82753 Idp login cli support
  contrib/jwt-cpp-cmake/CMakeLists.txt
  docs/en/interfaces/cli.md
  programs/client/CMakeLists.txt
  programs/client/Client.cpp
  programs/client/Client.h
  src/CMakeLists.txt
  src/Client/ClientApplicationBase.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBaseHelpers.cpp
  src/Client/ClientBaseHelpers.h
  src/Client/CloudJWTProvider.cpp
  src/Client/CloudJWTProvider.h
  src/Client/Connection.cpp
  src/Client/Connection.h
  src/Client/ConnectionParameters.cpp
  src/Client/ConnectionParameters.h
  src/Client/JWTProvider.cpp
  src/Client/JWTProvider.h
  src/configure_config.cmake
Labels: pr-feature, submodule changed

#88036 Add test for #85834
  tests/queries/0_stateless/03641_analyzer_issue_85834.reference
  tests/queries/0_stateless/03641_analyzer_issue_85834.sql
Labels: pr-not-for-changelog

#88016 Get back PageCacheMaxBytes metric
  src/Interpreters/ServerAsynchronousMetrics.cpp
Labels: pr-not-for-changelog

#87521 add histogram and dimensional metrics to `PrometheusMetricsWriter`
  docs/en/interfaces/prometheus.md
  docs/en/operations/system-tables/dimensional_metrics.md
  programs/server/Server.cpp
  src/Common/ConcurrentBoundedQueue.h
  src/Common/DimensionalMetrics.cpp
  src/Common/DimensionalMetrics.h
  src/Common/Histogram.cpp
  src/Common/HistogramMetrics.cpp
  src/Common/HistogramMetrics.h
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
  src/Common/ZooKeeper/ZooKeeperImpl.h
  src/Common/tests/gtest_dimensional_metrics.cpp
  src/Common/tests/gtest_histogram_metrics.cpp
  src/Coordination/KeeperConstants.cpp
  src/IO/AzureBlobStorage/PocoHTTPClient.cpp
  src/IO/AzureBlobStorage/PocoHTTPClient.h
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/PocoHTTPClient.h
  src/Interpreters/InterpreterSystemQuery.cpp
  src/Server/PrometheusMetricsWriter.cpp
  src/Server/PrometheusMetricsWriter.h
  src/Server/PrometheusRequestHandler.cpp
  src/Server/PrometheusRequestHandlerConfig.h
  src/Server/PrometheusRequestHandlerFactory.cpp
  src/Server/tests/gtest_prometheus_metrics_writer.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/System/StorageSystemDimensionalMetrics.cpp
  src/Storages/System/StorageSystemHistogramMetrics.cpp
  tests/integration/test_aliases_in_default_expr_not_break_table_structure/test.py
  tests/integration/test_startup_scripts_execution_state/test.py
Labels: pr-improvement

#88047 Docs: change version to 25.9
  src/Functions/firstNonDefault.cpp
Labels: pr-documentation

#87591 Docs: change ```-``` to ```_``` in slug in system tables
  docs/en/operations/server-configuration-parameters/_server_settings_outside_source.md
  docs/en/operations/system-tables/crash_log.md
  docs/en/operations/system-tables/current_roles.md
  docs/en/operations/system-tables/enabled_roles.md
  docs/en/operations/system-tables/overview.md
  docs/en/operations/system-tables/role_grants.md
  docs/en/sql-reference/statements/show.md
Labels: pr-documentation, can be tested

#88040 fix deadlock in Context::handleCrash
  src/Interpreters/Context.cpp
Labels: pr-not-for-changelog

#87928 Fix merge with projections when the last block is empty
  src/Storages/MergeTree/MergeProjectionPartsTask.h
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/ProjectionsDescription.cpp
  tests/queries/0_stateless/03636_empty_projection_block.reference
  tests/queries/0_stateless/03636_empty_projection_block.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#88000 fixing description of setting
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#88053 Fix 01275_parallel_mv
  tests/queries/0_stateless/01275_parallel_mv.reference
  tests/queries/0_stateless/01275_parallel_mv.sql.j2
Labels: pr-not-for-changelog

#86543 CI: Integration Tests remove wrappers
  .github/workflows/pull_request.yml
  ci/defs/job_configs.py
  ci/docker/integration/runner/Dockerfile
  ci/docker/integration/runner/dockerd-entrypoint.sh
  ci/docker/integration/runner/requirements.txt
  ci/jobs/integration_test_check.py
  ci/jobs/integration_test_job.py
  ci/jobs/scripts/docker_in_docker.sh
  ci/jobs/scripts/integration_tests_configs.py
  ci/jobs/scripts/integration_tests_runner.py
  ci/jobs/scripts/workflow_hooks/store_data.py
  ci/jobs/vector_search_stress_tests.py
  ci/praktika/__main__.py
  ci/praktika/info.py
  ci/praktika/job.py
  ci/praktika/result.py
  ci/praktika/runner.py
  ci/praktika/utils.py
  ci/praktika/yaml_generator.py
  ci/settings/settings.py
  ci/workflows/pull_request.py
  tests/integration/README.md
  tests/integration/conftest.py
  tests/integration/helpers/cluster.py
  tests/integration/integration_test_images.py
  tests/integration/parallel_skip.yaml
  tests/integration/pytest.ini
  tests/integration/runner
  tests/integration/runner-env.sh
  tests/integration/test_check_table/test.py
  tests/integration/test_disks_app_interactive/test.py
  tests/integration/test_geoparquet/test.py
  tests/integration/test_odbc_interaction/test.py
  tests/integration/test_parquet_page_index/test.py
  tests/integration/test_storage_iceberg_concurrent/conftest.py
  tests/integration/test_storage_iceberg_no_spark/conftest.py
  tests/integration/test_storage_iceberg_schema_evolution/conftest.py
  tests/integration/test_storage_iceberg_with_spark/conftest.py
Labels: pr-not-for-changelog

#88035 Remove custom MemoryPools for reading Arrow/ORC/Parquet
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.cpp
  src/Processors/Formats/Impl/ArrowBufferedStreams.h
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/CHColumnToArrowColumn.cpp
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.h
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  src/Storages/Hive/HiveFile.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
Labels: pr-improvement

#87092 Support hints for format names.
  src/Common/KnownObjectNames.cpp
  src/Common/KnownObjectNames.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  tests/queries/0_stateless/03611_format_hints.reference
  tests/queries/0_stateless/03611_format_hints.sh
Labels: pr-improvement

#88078 Disable filter pushdown for PASTE JOIN
  src/Processors/QueryPlan/JoinStepLogical.cpp
  src/Processors/QueryPlan/Optimizations/filterPushDown.cpp
  tests/queries/0_stateless/03643_paste_join_disable_filter_pushdown.reference
  tests/queries/0_stateless/03643_paste_join_disable_filter_pushdown.sql
Labels: pr-bugfix

#87774 Add ALTER TABLE REWRITE PARTS
  docs/en/sql-reference/statements/alter/partition.md
  src/Access/Common/AccessType.h
  src/Interpreters/InterpreterAlterQuery.cpp
  src/Interpreters/InterpreterKillQueryQuery.cpp
  src/Interpreters/MutationsInterpreter.cpp
  src/Parsers/ASTAlterQuery.cpp
  src/Parsers/ASTAlterQuery.h
  src/Parsers/CommonParsers.h
  src/Parsers/ParserAlterQuery.cpp
  src/Storages/MergeTree/MutateTask.cpp
  src/Storages/MutationCommands.cpp
  src/Storages/MutationCommands.h
  tests/queries/0_stateless/01271_show_privileges.reference
  tests/queries/0_stateless/03640_alter_table_rewrite_parts.reference
  tests/queries/0_stateless/03640_alter_table_rewrite_parts.sql
Labels: pr-improvement

#88094 tests: fix test_failed_async_inserts flakiness in private (disable remote database disk)
  tests/integration/test_failed_async_inserts/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#87252 Allow to exclude specific indexes from materialize on insert and merge
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Parsers/parseIdentifierOrStringLiteral.cpp
  src/Parsers/parseIdentifierOrStringLiteral.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTask.h
  src/Storages/MergeTree/MergeTreeDataWriter.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
  tests/queries/0_stateless/02346_exclude_materialize_skip_indexes_on_insert.reference
  tests/queries/0_stateless/02346_exclude_materialize_skip_indexes_on_insert.sql
  tests/queries/0_stateless/02346_exclude_materialize_skip_indexes_on_merge.reference
  tests/queries/0_stateless/02346_exclude_materialize_skip_indexes_on_merge.sql
Labels: pr-improvement

#88048 Fix AST fuzzer failures around `network_compression_method`
  tests/queries/0_stateless/03623_network_compression_method.reference
  tests/queries/0_stateless/03623_network_compression_method.sh
  tests/queries/0_stateless/03623_network_compression_method.sql
Labels: pr-not-for-changelog

#87997 Text index: adopt new syntax for the tokenizer parameter
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
  docs/en/sql-reference/functions/string-search-functions.md
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Functions/searchAnyAll.cpp
  src/Functions/tokens.cpp
  src/Interpreters/ITokenExtractor.h
  src/Storages/IndicesDescription.cpp
  src/Storages/MergeTree/MergeTreeIndexText.cpp
  tests/performance/text_index.xml
  tests/queries/0_stateless/02346_text_index_array_support.sql
  tests/queries/0_stateless/02346_text_index_bug47393.sql
  tests/queries/0_stateless/02346_text_index_bug54541.sql
  tests/queries/0_stateless/02346_text_index_bug59039.sql
  tests/queries/0_stateless/02346_text_index_bug62681.reference
  tests/queries/0_stateless/02346_text_index_bug62681.sql
  tests/queries/0_stateless/02346_text_index_bug84805.sql
  tests/queries/0_stateless/02346_text_index_bug86300.sql
  tests/queries/0_stateless/02346_text_index_creation.reference
  tests/queries/0_stateless/02346_text_index_creation.sql
  tests/queries/0_stateless/02346_text_index_default_granularity.sql
  tests/queries/0_stateless/02346_text_index_detach_attach.sql
  tests/queries/0_stateless/02346_text_index_dictionary_frontcoding.sql
  tests/queries/0_stateless/02346_text_index_experimental_flag.sql
  tests/queries/0_stateless/02346_text_index_function_search.sql
  tests/queries/0_stateless/02346_text_index_functions_with_empty_needle.sql
  tests/queries/0_stateless/02346_text_index_hits.sql
  tests/queries/0_stateless/02346_text_index_map_support.sql
  tests/queries/0_stateless/02346_text_index_match_predicate.sql
  tests/queries/0_stateless/02346_text_index_part_format.sql
  tests/queries/0_stateless/02346_text_index_queries.reference
  tests/queries/0_stateless/02346_text_index_queries.sql
  tests/queries/0_stateless/03165_string_functions_with_token_text_indexes.sql
  tests/queries/0_stateless/03403_function_tokens.sql
  tests/queries/0_stateless/03631_text_index_lower.sql
Labels: pr-improvement

#88104 Fix flaky test_jbod_balancer test
  tests/integration/test_jbod_balancer/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#87955 Add `optimizeDirectReadFromTextIndex` information to the debug level logs for testing
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
  src/Processors/QueryPlan/Optimizations/optimizeDirectReadFromTextIndex.cpp
  tests/queries/0_stateless/02346_text_index_direct_read.reference
  tests/queries/0_stateless/02346_text_index_direct_read.sql
Labels: pr-not-for-changelog

#88113 Some cmake cleanups
  contrib/delta-kernel-rs-cmake/CMakeLists.txt
  programs/format/CMakeLists.txt
  src/CMakeLists.txt
  src/configure_config.cmake
Labels: pr-not-for-changelog, submodule changed

#88116 Revert "Add test 03631_huge_query_filter_analyze"
  tests/queries/0_stateless/03631_huge_query_filter_analyze.reference
  tests/queries/0_stateless/03631_huge_query_filter_analyze.sh
Labels: pr-not-for-changelog

#87954 Fix `clickhouse-benchmark` to not include stacktraces in error messages by default
  programs/benchmark/Benchmark.cpp
  tests/queries/0_stateless/02490_benchmark_max_consecutive_errors.sh
  tests/queries/0_stateless/03636_benchmark_error_messages.reference
  tests/queries/0_stateless/03636_benchmark_error_messages.sh
Labels: pr-improvement, can be tested

#87612 Update setting history for query_plan_optimize_join_order_limit
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog, v25.9-must-backport

#88015 Sync changes
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileCache.h
  src/Interpreters/Cache/IFileCachePriority.cpp
  src/Interpreters/Cache/IFileCachePriority.h
  src/Interpreters/Cache/LRUFileCachePriority.h
  src/Interpreters/Cache/SLRUFileCachePriority.cpp
  src/Interpreters/Cache/SLRUFileCachePriority.h
Labels: pr-not-for-changelog

#87630 Fix SELECT * REPLACE behavior in WHERE clause with new analyzer
  src/Analyzer/Resolve/QueryAnalyzer.cpp
  tests/queries/0_stateless/03631_select_replace_comprehensive.reference
  tests/queries/0_stateless/03631_select_replace_comprehensive.sql
Labels: pr-bugfix, can be tested

#88064 Sync changes
  src/Backups/BackupsWorker.cpp
  src/Common/ProfileEvents.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/IO/DistributedCacheSettings.h
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
  src/Storages/MergeTree/MutateTask.cpp
Labels: pr-not-for-changelog

#88130 Docs: remove NLP function docs in favour of source code generated ones
  docs/en/sql-reference/functions/nlp-functions.md
Labels: pr-documentation

#87996 Make the test test_filesystem_cache_log less flaky
  tests/integration/test_filesystem_cache/test.py
Labels: pr-ci

#87261 Add setting to inject ORDER BY rand() for SELECT queries without ORDER BY (tests only)
  src/Analyzer/Passes/InjectRandomOrderIfNoOrderByPass.cpp
  src/Analyzer/Passes/InjectRandomOrderIfNoOrderByPass.h
  src/Analyzer/QueryTreePassManager.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  tests/queries/0_stateless/02481_inject_random_order_for_select_without_order_by.reference
  tests/queries/0_stateless/02481_inject_random_order_for_select_without_order_by.sql
Labels: pr-improvement, submodule changed, can be tested

#88127 docs: fix h3 link
  docs/en/sql-reference/functions/geo/h3.md
Labels: pr-documentation, can be tested

#88137 Add debug info
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/IO/ReadBufferFromS3.cpp
  src/IO/ReadBufferFromS3.h
Labels: pr-not-for-changelog

#88159 Docs: remove markdown for time window functions in favour of autogenerated docs
  docs/en/sql-reference/functions/time-window-functions.md
Labels: pr-documentation

#87764 Add debugging info for granule adjustment error
  src/Storages/MergeTree/MergeTreeRangeReader.cpp
  src/Storages/MergeTree/MergeTreeRangeReader.h
  src/Storages/MergeTree/MergeTreeReadersChain.cpp
Labels: pr-not-for-changelog

#88105 Fix uncaught exception due noexcept tryGetCreateTableQuery()
  src/Databases/DataLake/DatabaseDataLake.cpp
  src/Databases/IDatabase.h
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#87965 Add Alias Engine
  docs/en/engines/table-engines/special/alias.md
  src/Databases/DDLDependencyVisitor.cpp
  src/Storages/StorageAlias.cpp
  src/Storages/StorageAlias.h
  src/Storages/registerStorages.cpp
  tests/queries/0_stateless/03636_storage_alias_access_rights.reference
  tests/queries/0_stateless/03636_storage_alias_access_rights.sh
  tests/queries/0_stateless/03636_storage_alias_basic.reference
  tests/queries/0_stateless/03636_storage_alias_basic.sql
  tests/queries/0_stateless/03636_storage_alias_syntax.reference
  tests/queries/0_stateless/03636_storage_alias_syntax.sql
Labels: pr-feature, can be tested

#88152 Fix bad error message in function `hasAny/AllTokens`
  src/Functions/hasAnyAllTokens.cpp
  src/Functions/hasAnyAllTokens.h
  tests/queries/0_stateless/02346_text_index_bug88080.reference
  tests/queries/0_stateless/02346_text_index_bug88080.sql
  tests/queries/0_stateless/02346_text_index_function_hasAnyAllTokens.reference
  tests/queries/0_stateless/02346_text_index_function_hasAnyAllTokens.sql
Labels: pr-not-for-changelog

#88133 Update query_plan_optimize_join_order_limit in settings changes
  src/Core/SettingsChangesHistory.cpp
Labels: pr-not-for-changelog

#87892 Fix fatal using approx-top-k issue 86882
  src/AggregateFunctions/AggregateFunctionTopK.cpp
  src/Common/SpaceSaving.h
  src/DataTypes/Serializations/SerializationAggregateFunction.cpp
  tests/queries/0_stateless/03631_finalize_approx_top_k_unhex.reference
  tests/queries/0_stateless/03631_finalize_approx_top_k_unhex.sh
Labels: pr-bugfix, can be tested

#88190 CI: Integration test runner improvements
  ci/jobs/integration_test_job.py
  tests/integration/README.md
  tests/integration/conftest.py
Labels: pr-not-for-changelog

#88162 Add singular aliases for hasAny/AllTokens functions
  src/Functions/hasAnyAllTokens.cpp
  tests/queries/0_stateless/02346_text_index_function_hasAnyAllTokens.reference
  tests/queries/0_stateless/02346_text_index_function_hasAnyAllTokens.sql
Labels: pr-improvement

#88183 Save system database and table metadata files from remote database disk and restore them to scrape system table logs with clickhouse local
  ci/jobs/scripts/clickhouse_proc.py
Labels: pr-ci

#88112 Avoid using lz4/zstd from rust crates
  programs/CMakeLists.txt
  programs/client/CMakeLists.txt
  src/CMakeLists.txt
  tests/queries/0_stateless/03641_clickhouse_prefer_symbols_from_contrib_over_rust_crates.reference
  tests/queries/0_stateless/03641_clickhouse_prefer_symbols_from_contrib_over_rust_crates.sh
Labels: pr-not-for-changelog

#86560 Fix stack overflow in quantileDD merge
  src/AggregateFunctions/DDSketch.h
  src/AggregateFunctions/DDSketch/DDSketchEncoding.h
  src/AggregateFunctions/DDSketch/Mapping.h
  src/AggregateFunctions/DDSketch/Store.h
  src/AggregateFunctions/tests/gtest_ddsketch.cpp
  tests/queries/0_stateless/03568_ddsketch_merge.reference
  tests/queries/0_stateless/03568_ddsketch_merge.sql
Labels: pr-must-backport, can be tested, pr-must-backport-cloud, pr-critical-bugfix

#88006 Clean up temp files generated in s3_plain_rewritable moving file transaction.
  src/Databases/DatabaseOnDisk.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorageOperations.cpp
  tests/integration/helpers/cluster.py
Labels: pr-ci

#88228 Revert "Fix fatal using approx-top-k issue 86882"
  src/AggregateFunctions/AggregateFunctionTopK.cpp
  src/Common/SpaceSaving.h
  src/DataTypes/Serializations/SerializationAggregateFunction.cpp
  tests/queries/0_stateless/03631_finalize_approx_top_k_unhex.reference
  tests/queries/0_stateless/03631_finalize_approx_top_k_unhex.sh
Labels: pr-not-for-changelog

#88204 Add a setting to drop unexpected tables from Replicated databases
  src/Core/ServerSettings.cpp
  src/Databases/DatabaseReplicated.cpp
Labels: pr-not-for-changelog

#88153 Fix redundant host resolution in DDL Worker
  src/Interpreters/DDLWorker.cpp
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#88213 Fix propagation of `is_shared` flag in `ColumnLowCardinality`
  src/Columns/ColumnLowCardinality.cpp
  src/Columns/ColumnLowCardinality.h
  src/DataTypes/DataTypeLowCardinality.cpp
  src/DataTypes/Serializations/SerializationLowCardinality.cpp
  src/Functions/IFunction.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/DWARFBlockInputFormat.cpp
  src/Processors/Formats/Impl/NativeORCBlockInputFormat.cpp
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud
