Repository ClickHouse/ClickHouse, pull requests merged in 2025-06, with the labels that each got.

#81062 Fix use-of-uninitialized-value in quantileDeterministic
  src/AggregateFunctions/ReservoirSamplerDeterministic.h
  tests/queries/0_stateless/01779_quantile_deterministic_msan.reference
  tests/queries/0_stateless/01779_quantile_deterministic_msan.sql
Labels: pr-bugfix

#79369 Ignore parse error in system.distributed_ddl_queue
  src/Storages/System/StorageSystemDDLWorkerQueue.cpp
  tests/integration/test_system_ddl_worker_queue/configs/remote_servers.xml
  tests/integration/test_system_ddl_worker_queue/test.py
Labels: pr-not-for-changelog, can be tested

#81049 Fix dereferencing an empty optional in `executeInsertSelectWithParallelReplicas`
  src/Interpreters/ClusterProxy/executeQuery.cpp
Labels: pr-not-for-changelog

#81106 Fix highlighting of `PARTITION BY` in `INSERT` queries
  src/Parsers/ASTInsertQuery.cpp
  tests/queries/0_stateless/03527_format_insert_partition.reference
  tests/queries/0_stateless/03527_format_insert_partition.sh
Labels: pr-improvement

#80776 Fix exception handling in TemporaryFile
  src/Interpreters/TemporaryDataOnDisk.cpp
Labels: pr-improvement

#80422 Fix a mistake in `EnvironmentChecks.cpp`
  src/Common/EnvironmentChecks.cpp
Labels: pr-not-for-changelog

#80427 Fix #80418 Logical error: std::exception. Code: 1001, type: std::out_of_range, e.what() = vector in executeQueryImpl
  src/Interpreters/Cluster.cpp
  src/TableFunctions/TableFunctionRemote.cpp
  tests/queries/0_stateless/03518_table_function_remote_no_replicas.reference
  tests/queries/0_stateless/03518_table_function_remote_no_replicas.sql
Labels: pr-not-for-changelog

#81116 Inhibit random settings in the test `03236_squashing_high_memory`
  tests/queries/0_stateless/03236_squashing_high_memory.sql
Labels: pr-ci, 🍃 green ci 🌿

#80932 Fix flaky test 00814_replicated_minimalistic_part_header_zookeeper
  tests/queries/0_stateless/00814_replicated_minimalistic_part_header_zookeeper.sh
Labels: pr-not-for-changelog

#80728 Fix wrong result type of comparison functions with Tuple(Dynamic) and String
  src/Functions/FunctionsComparison.h
  tests/queries/0_stateless/03521_tuple_of_dynamic_with_string_comparison.reference
  tests/queries/0_stateless/03521_tuple_of_dynamic_with_string_comparison.sql
Labels: pr-must-backport, pr-must-backport-cloud, pr-critical-bugfix

#80758 Add logs for unloading primary keys
  src/Storages/MergeTree/MergeTreeData.cpp
Labels: pr-not-for-changelog

#81052 Reflect date_time_input_format setting in schema inference cache
  src/Formats/EscapingRuleUtils.cpp
  tests/queries/0_stateless/03212_max_bytes_to_read_for_schema_inference_in_cache.reference
  tests/queries/0_stateless/03526_date_time_input_format_in_schema_inference_cache.reference
  tests/queries/0_stateless/03526_date_time_input_format_in_schema_inference_cache.sh
Labels: pr-bugfix, pr-must-backport

#80975 Make iceberg history to work with catalogs
  docs/en/operations/system-tables/iceberg_history.md
  src/Databases/DataLake/DatabaseDataLake.cpp
  src/Databases/DataLake/DatabaseDataLake.h
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadata.cpp
  src/Storages/ObjectStorage/StorageObjectStorage.cpp
  src/Storages/ObjectStorage/StorageObjectStorage.h
  src/Storages/System/StorageSystemIcebergHistory.cpp
  tests/integration/test_database_glue/test.py
  tests/integration/test_database_iceberg/test.py
  tests/integration/test_storage_iceberg/test.py
Labels: pr-improvement, pr-must-backport

#81128 Use FunctionArgumentDescriptors to check timezoneOf function
  src/Functions/timezoneOf.cpp
  tests/queries/0_stateless/03525_timezoneof_illegal_type.reference
  tests/queries/0_stateless/03525_timezoneof_illegal_type.sql
Labels: pr-not-for-changelog, can be tested

#79241 Fix data paths reporting for Azure tables and `plain` disks
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.h
  tests/queries/0_stateless/03008_azure_plain_rewr_data_paths.reference
  tests/queries/0_stateless/03008_azure_plain_rewr_data_paths.sh
Labels: pr-improvement, can be tested

#81185 Fix test_real_wait_refresh again
  tests/integration/test_refreshable_mat_view_replicated/test.py
Labels: pr-ci

#81184 Fix caching of file rows number in StorageURL and StorageFile
  src/Storages/StorageFile.cpp
  src/Storages/StorageURL.cpp
  tests/queries/0_stateless/03531_check_count_for_parquet.reference
  tests/queries/0_stateless/03531_check_count_for_parquet.sql
Labels: pr-bugfix, v25.5-must-backport

#80844 Docs: move bitmap function docs to source. Part 1.
  src/Functions/FunctionsBitmap.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#81188 Fix incorrect parent_part_offset calculation in unordered MergeTree during merge
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeReadPoolBase.cpp
  src/Storages/MergeTree/MergeTreeSequentialSource.cpp
  src/Storages/MergeTree/MergedPartOffsets.h
  tests/queries/0_stateless/03401_normal_projection_with_part_offset_no_sorting.reference
  tests/queries/0_stateless/03401_normal_projection_with_part_offset_no_sorting.sql
Labels: pr-not-for-changelog

#79649 Add JSON Reading/Writing Support for Parquet Files
  docs/en/interfaces/formats/Parquet/Parquet.md
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Core/FormatFactorySettings.h
  src/Core/SettingsChangesHistory.cpp
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.cpp
  src/Processors/Formats/Impl/ArrowColumnToCHColumn.h
  src/Processors/Formats/Impl/ORCBlockInputFormat.cpp
  src/Processors/Formats/Impl/Parquet/PrepareForWrite.cpp
  src/Processors/Formats/Impl/Parquet/Write.cpp
  src/Processors/Formats/Impl/Parquet/Write.h
  src/Processors/Formats/Impl/ParquetBlockInputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  src/Storages/ObjectStorage/DataLakes/DeltaLakeMetadata.cpp
  tests/queries/0_stateless/03036_test_parquet_bloom_filter_push_down.reference
  tests/queries/0_stateless/03036_test_parquet_bloom_filter_push_down.sh
  tests/queries/0_stateless/03445_parquet_json_roundtrip.reference
  tests/queries/0_stateless/03445_parquet_json_roundtrip.sh
  tests/queries/0_stateless/data_parquet/sample_json.parquet
Labels: pr-feature, can be tested

#81170 Show microseconds in pytest logs
  tests/integration/pytest.ini
Labels: pr-not-for-changelog

#81016 Fix ubuntu archive url
  ci/docker/fasttest/Dockerfile
  ci/docker/integration/integration-test/Dockerfile
  ci/docker/sqlancer-test/Dockerfile
  ci/docker/stateless-test/Dockerfile
  docker/server/Dockerfile.ubuntu
  docker/test/fuzzer/Dockerfile
  docker/test/integration/runner/Dockerfile
  docker/test/libfuzzer/Dockerfile
  docker/test/util/Dockerfile
Labels: pr-build

#81209 Fix GH commit POST with large descriptions
  ci/praktika/gh.py
Labels: pr-not-for-changelog

#78726 Rebalancing partitions in StorageKafka2
  src/Storages/Kafka/KafkaConsumer2.cpp
  src/Storages/Kafka/KafkaConsumer2.h
  src/Storages/Kafka/StorageKafka2.cpp
  src/Storages/Kafka/StorageKafka2.h
  src/Storages/Kafka/StorageKafkaUtils.cpp
  src/Storages/Kafka/StorageKafkaUtils.h
  tests/integration/test_storage_kafka/configs/kafka_and_keeper.xml
  tests/integration/test_storage_kafka/test_zookeeper_locks.py
Labels: pr-improvement, can be tested

#80846 Docs: move bitmap functions to source code. Part 2.
  src/Functions/FunctionsBitmap.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#81196 rust: make sure that correct C++ std library will be used
  contrib/chdig-cmake/CMakeLists.txt
  contrib/corrosion-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#81023 Better introspection of in-memory caches
  docs/en/engines/table-engines/mergetree-family/annindexes.md
  docs/en/operations/query-cache.md
  docs/en/operations/system-tables/asynchronous_metrics.md
  docs/en/operations/system-tables/metrics.md
  src/Access/MultipleAccessStorage.cpp
  src/Common/CacheBase.h
  src/Common/ColumnsHashing.h
  src/Common/CurrentMetrics.cpp
  src/Common/DNSResolver.cpp
  src/Common/LRUCachePolicy.h
  src/Common/PageCache.cpp
  src/Common/SLRUCachePolicy.h
  src/Common/TTLCachePolicy.h
  src/Common/tests/gtest_lru_cache.cpp
  src/Common/tests/gtest_slru_cache.cpp
  src/Core/ServerSettings.cpp
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.cpp
  src/IO/MMappedFileCache.h
  src/IO/UncompressedCache.cpp
  src/Interpreters/Cache/QueryConditionCache.cpp
  src/Interpreters/Cache/QueryResultCache.cpp
  src/Interpreters/Context.cpp
  src/Interpreters/HashTablesStatistics.cpp
  src/Interpreters/JIT/CompiledExpressionCache.cpp
  src/Interpreters/MergeJoin.cpp
  src/Interpreters/ServerAsynchronousMetrics.cpp
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  src/Storages/Hive/HiveCommon.h
  src/Storages/MarkCache.cpp
  src/Storages/MergeTree/PrimaryIndexCache.cpp
  src/Storages/MergeTree/PrimaryIndexCache.h
  src/Storages/MergeTree/VectorSimilarityIndexCache.h
  src/Storages/ObjectStorage/DataLakes/Iceberg/IcebergMetadataFilesCache.h
  src/Storages/System/StorageSystemDashboards.cpp
  tests/integration/test_merge_tree_prewarm_cache/test.py
  tests/integration/test_userspace_page_cache/test.py
  tests/queries/0_stateless/01778_mmap_cache_infra.reference
  tests/queries/0_stateless/02354_vector_search_vector_similarity_index_cache.reference
  tests/queries/0_stateless/02354_vector_search_vector_similarity_index_cache.sql
  tests/queries/0_stateless/02494_query_cache_asynchronous_metrics.reference
  tests/queries/0_stateless/02494_query_cache_asynchronous_metrics.sql
  tests/queries/0_stateless/02494_query_cache_metrics.reference
  tests/queries/0_stateless/02494_query_cache_metrics.sql
  tests/queries/0_stateless/03273_primary_index_cache.sql
  tests/queries/0_stateless/03273_primary_index_cache_low_cardinality.sql
  tests/queries/0_stateless/03277_prewarm_cache_2.sh
Labels: pr-improvement

#81165 Propagate exceptions from arguments evaluation in logger
  src/Common/logger_useful.h
  src/Common/tests/gtest_log.cpp
Labels: pr-not-for-changelog

#79078 RFC: Pin rust toolchain used for compilation (sync with docker images)
  contrib/corrosion-cmake/CMakeLists.txt
Labels: pr-not-for-changelog, submodule changed

#81210 Less flaky test_hedged_requests_parallel/test.py::test_send_data
  tests/integration/test_hedged_requests_parallel/test.py
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#80244 First iteration for La Casa Del Dolor
  .gitignore
  programs/client/Client.h
  programs/client/FuzzLoop.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.h
  src/Client/BuzzHouse/Generator/FuzzConfig.cpp
  src/Client/BuzzHouse/Generator/FuzzConfig.h
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/QueryOracle.h
  src/Client/BuzzHouse/Generator/RandomSettings.h
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Generator/TableSetttings.cpp
  src/Client/ClientBase.cpp
  src/Client/ClientBase.h
  tests/casa_del_dolor/__init__.py
  tests/casa_del_dolor/dolor.py
  tests/casa_del_dolor/generators.py
  tests/casa_del_dolor/properties.py
  tests/integration/helpers/client.py
  tests/integration/helpers/cluster.py
  tests/integration/helpers/postgres_utility.py
Labels: pr-ci

#80850 Docs: move bitmap function documentation to source. Part 3.
  src/Functions/FunctionsBitmap.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#81253 Docs: fix formatting of arguments for bitSlice.cpp
  src/Functions/bitSlice.cpp
Labels: pr-documentation

#81252 Fix handling secure=false in connections credentials
  programs/client/Client.cpp
Labels: pr-not-for-changelog

#81158 CI: praktika: enable parallel docker image build
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/merge_queue.yml
  .github/workflows/nightly_fuzzers.yml
  .github/workflows/nightly_jepsen.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_branches.yml
  ci/praktika/docker.py
  ci/praktika/mangle.py
  ci/praktika/native_jobs.py
  ci/praktika/runner.py
  ci/praktika/settings.py
  ci/praktika/utils.py
  ci/praktika/validator.py
  ci/praktika/workflow.py
  ci/settings/settings.py
  ci/workflows/master.py
  tests/ci/ci_utils.py
  tests/ci/docker_images_helper.py
Labels: pr-not-for-changelog

#81267 Docs: update tuple-functions.md with correct information
  docs/en/sql-reference/functions/tuple-functions.md
Labels: pr-documentation

#81169 Improve logs of test_cancel_backup
  tests/integration/helpers/utility.py
  tests/integration/test_backup_restore_on_cluster/test_cancel_backup.py
Labels: pr-not-for-changelog

#81265 Fix possible values for total_memory_tracker_sample_probability
  src/Core/ServerSettings.cpp
Labels: pr-documentation

#81257 Speed up toFixedString when the source is exactly what's requested
  src/Functions/toFixedString.h
Labels: pr-performance

#81244 Minor fixes to system.build_options
  contrib/openssl-cmake/CMakeLists.txt
  src/Storages/System/CMakeLists.txt
  src/Storages/System/StorageSystemBuildOptions.cpp.in
Labels: pr-not-for-changelog, submodule changed

#81270 Docs: explain that query condition cache only works when analyzer is on
  docs/en/operations/query-condition-cache.md
Labels: pr-documentation

#80643 Fix reading column that exists in subset of tables in Merge engine
  src/Storages/StorageMerge.cpp
  src/Storages/StorageMerge.h
  tests/queries/0_stateless/03519_merge_engine_read_column_existing_in_subset_of_tables.reference
  tests/queries/0_stateless/03519_merge_engine_read_column_existing_in_subset_of_tables.sql
Labels: pr-bugfix, pr-must-backport

#80499 Implement flattened serialization for Dynamic and JSON in Native format
  src/Columns/ColumnObject.cpp
  src/Columns/ColumnObject.h
  src/Core/FormatFactorySettings.h
  src/Core/SettingsChangesHistory.cpp
  src/DataTypes/Serializations/SerializationDynamic.cpp
  src/DataTypes/Serializations/SerializationDynamic.h
  src/DataTypes/Serializations/SerializationDynamicHelpers.cpp
  src/DataTypes/Serializations/SerializationDynamicHelpers.h
  src/DataTypes/Serializations/SerializationObject.cpp
  src/DataTypes/Serializations/SerializationObject.h
  src/DataTypes/Serializations/SerializationObjectHelpers.cpp
  src/DataTypes/Serializations/SerializationObjectHelpers.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  tests/queries/0_stateless/03466_dynamic_json_native_flattened_serialization.reference
  tests/queries/0_stateless/03466_dynamic_json_native_flattened_serialization.sh
Labels: pr-improvement

#77562 Split Resize/StrictResize to avoid lock contention
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Processors/QueryPlan/AggregatingStep.cpp
  src/Processors/QueryPlan/BuildQueryPipelineSettings.cpp
  src/Processors/QueryPlan/BuildQueryPipelineSettings.h
  src/QueryPipeline/Pipe.cpp
  src/QueryPipeline/Pipe.h
  src/QueryPipeline/QueryPipelineBuilder.cpp
  src/QueryPipeline/QueryPipelineBuilder.h
  src/QueryPipeline/tests/gtest_resize_transform.cpp
  tests/queries/0_stateless/02343_aggregation_pipeline.reference
  tests/queries/0_stateless/02343_aggregation_pipeline.sql
Labels: pr-performance, can be tested

#81310 Destroy stale sessions without a lock
  src/Interpreters/Session.cpp
Labels: pr-not-for-changelog

#81249 Fix clickhouse-local parquet writer crashing on const tuples
  src/Processors/Formats/Impl/Parquet/PrepareForWrite.cpp
  tests/queries/0_stateless/03532_parquet_const.reference
  tests/queries/0_stateless/03532_parquet_const.sh
Labels: pr-bugfix, pr-must-backport

#81327 Update SECURITY.md
  SECURITY.md
Labels: can be tested

#79561 Fix azure native copy setting
  src/Backups/BackupIO_AzureBlobStorage.cpp
  src/Backups/BackupsWorker.cpp
  src/Backups/RestoreSettings.cpp
  src/Backups/RestoreSettings.h
  src/CMakeLists.txt
  src/Client/BuzzHouse/Generator/TableSetttings.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageCommon.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageCommon.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/ObjectStorageFactory.cpp
  src/IO/AzureBlobStorage/copyAzureBlobStorageFile.cpp
  src/IO/AzureBlobStorage/copyAzureBlobStorageFile.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/ObjectStorage/Azure/Configuration.cpp
  tests/integration/test_azure_blob_storage_native_copy/test.py
Labels: pr-bugfix

#81334 Allow running `test_replicated_users` in "flaky check" mode
  tests/integration/test_replicated_users/test.py
Labels: pr-ci, 🍃 green ci 🌿

#81352 Revert "Fix azure native copy setting"
  src/Backups/BackupIO_AzureBlobStorage.cpp
  src/Backups/BackupsWorker.cpp
  src/Backups/RestoreSettings.cpp
  src/Backups/RestoreSettings.h
  src/CMakeLists.txt
  src/Client/BuzzHouse/Generator/TableSetttings.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageCommon.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureBlobStorageCommon.h
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.cpp
  src/Disks/ObjectStorages/AzureBlobStorage/AzureObjectStorage.h
  src/Disks/ObjectStorages/Cached/CachedObjectStorage.h
  src/Disks/ObjectStorages/IObjectStorage.h
  src/Disks/ObjectStorages/ObjectStorageFactory.cpp
  src/IO/AzureBlobStorage/copyAzureBlobStorageFile.cpp
  src/IO/AzureBlobStorage/copyAzureBlobStorageFile.h
  src/Interpreters/Context.cpp
  src/Interpreters/Context.h
  src/Storages/ObjectStorage/Azure/Configuration.cpp
  tests/integration/test_azure_blob_storage_native_copy/test.py
Labels: pr-not-for-changelog

#79223 Docker images for FIPS build testing
  ci/docker/binary-builder/Dockerfile
  ci/docker/cctools/Dockerfile
  ci/docker/fasttest/Dockerfile
  docker/test/integration/base/Dockerfile
  docker/test/integration/runner/Dockerfile
  docker/test/performance-comparison/Dockerfile
  docker/test/util/Dockerfile
Labels: pr-not-for-changelog

#81328 Mute Decimal overflow with UBSAN
  base/base/Decimal.cpp
  base/base/Decimal.h
  src/Functions/negate.cpp
Labels: pr-not-for-changelog

#80590 Helper functions for PromQL-like time series data queries
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesDeltaToGrid.md
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesInstantDeltaToGrid.md
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesInstantRateToGrid.md
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesLastTwoSamples.md
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesRateToGrid.md
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesResampleToGridWithStaleness.md
  src/AggregateFunctions/AggregateFunctionLast2Samples.cpp
  src/AggregateFunctions/AggregateFunctionLast2Samples.h
  src/AggregateFunctions/AggregateFunctionTimeseriesBase.h
  src/AggregateFunctions/AggregateFunctionTimeseriesExtrapolatedValue.h
  src/AggregateFunctions/AggregateFunctionTimeseriesHelpers.cpp
  src/AggregateFunctions/AggregateFunctionTimeseriesInstantValue.h
  src/AggregateFunctions/AggregateFunctionTimeseriesToGridSparse.h
  src/AggregateFunctions/registerAggregateFunctions.cpp
  src/Core/Field.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Databases/enableAllExperimentalSettings.cpp
  tests/queries/0_stateless/03254_last_2_samples_aggregate_function.reference
  tests/queries/0_stateless/03254_last_2_samples_aggregate_function.sql
  tests/queries/0_stateless/03254_last_2_samples_aggregate_function_simple.reference
  tests/queries/0_stateless/03254_last_2_samples_aggregate_function_simple.sql
  tests/queries/0_stateless/03254_timeseries_functions.reference
  tests/queries/0_stateless/03254_timeseries_functions.sql
  tests/queries/0_stateless/03254_timeseries_functions_various_arguments.reference
  tests/queries/0_stateless/03254_timeseries_functions_various_arguments.sql
  tests/queries/0_stateless/03254_timeseries_instant_value_aggregate_functions.reference
  tests/queries/0_stateless/03254_timeseries_instant_value_aggregate_functions.sql
  tests/queries/0_stateless/03254_timeseries_to_grid_aggregate_function.reference
  tests/queries/0_stateless/03254_timeseries_to_grid_aggregate_function.sql
  tests/queries/0_stateless/03254_timeseries_to_grid_aggregate_function_sparse.reference
  tests/queries/0_stateless/03254_timeseries_to_grid_aggregate_function_sparse.sql
Labels: pr-feature

#81383 Revert "hardlinks and rewrite file in disk transaction"
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.h
  src/Disks/ObjectStorages/MetadataStorageFromDisk.cpp
  src/Disks/ObjectStorages/MetadataStorageFromDiskTransactionOperations.cpp
  src/Disks/ObjectStorages/MetadataStorageFromDiskTransactionOperations.h
  src/Disks/tests/gtest_metadata_local_disk.cpp
Labels: pr-not-for-changelog

#81386 Revert "Revert "hardlinks and rewrite file in disk transaction""
  src/Disks/ObjectStorages/DiskObjectStorageMetadata.h
  src/Disks/ObjectStorages/MetadataStorageFromDisk.cpp
  src/Disks/ObjectStorages/MetadataStorageFromDiskTransactionOperations.cpp
  src/Disks/ObjectStorages/MetadataStorageFromDiskTransactionOperations.h
  src/Disks/tests/gtest_metadata_local_disk.cpp
Labels: pr-not-for-changelog

#81259 Fix ReplicatedMergeTree syntax in note
  docs/en/engines/table-engines/mergetree-family/replication.md
Labels: pr-documentation

#77316 Do not always set CTE name in IQueryTreeNode::toAST()
  src/Analyzer/IQueryTreeNode.h
  src/Analyzer/QueryNode.cpp
  src/Analyzer/UnionNode.cpp
  src/Analyzer/Utils.cpp
  src/Analyzer/Utils.h
  src/Planner/CollectSets.cpp
  src/Planner/Utils.cpp
  src/Planner/Utils.h
  tests/queries/0_stateless/03371_analyzer_filter_pushdown_distributed.reference
  tests/queries/0_stateless/03371_analyzer_filter_pushdown_distributed.sql
  tests/queries/0_stateless/03519_cte_allow_push_predicate_ast_for_distributed_subqueries_bug.reference
  tests/queries/0_stateless/03519_cte_allow_push_predicate_ast_for_distributed_subqueries_bug.sql
Labels: pr-bugfix

#81360 mute scary logs when 404 is expected response
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorage.cpp
  src/IO/Expect404ResponseScope.cpp
  src/IO/Expect404ResponseScope.h
  src/IO/S3/AWSLogger.cpp
  src/IO/S3/Client.cpp
  src/IO/S3/PocoHTTPClient.cpp
  src/IO/S3/getObjectInfo.cpp
  src/Storages/StorageReplicatedMergeTree.cpp
Labels: pr-ci

#79969 Fix match(col, '^…') index analysis with escaped metacharacters to avoid wrong results and crashes
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/03456_match_index_prefix_extraction.reference
  tests/queries/0_stateless/03456_match_index_prefix_extraction.sql
Labels: pr-bugfix, can be tested

#81373 Some cleanups around tracking memory
  src/Common/MemoryTrackerBlockerInThread.h
  src/Common/ThreadStatus.cpp
  src/Common/ThreadStatus.h
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorageOperations.cpp
Labels: pr-not-for-changelog

#81384 Embedded documentation for `divideOrNull`, `moduloOrNull`, `intDivOrNull`, `positiveModuloOrNull`, follow-up #78276
  src/Functions/divide.cpp
  src/Functions/intDiv.cpp
  src/Functions/moduloOrNull.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-not-for-changelog

#81344 Remove templates
  src/Common/StringSearcher.h
  src/Common/UTF8Helpers.cpp
  src/Common/UTF8Helpers.h
  src/Common/Volnitsky.h
  src/Functions/HasSubsequenceImpl.h
  src/Functions/initcapUTF8.cpp
  src/Functions/randomStringUTF8.cpp
  src/Functions/translate.cpp
Labels: pr-not-for-changelog

#81331 Default enable use of skip index in exact mode in queries with FINAL
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  tests/queries/0_stateless/03244_skip_index_in_final_query_with_pk_rescan_basic.sql
Labels: pr-improvement

#81454 Docs: move DateTime documentation to source. Part 3.
  src/Core/Settings.cpp
  src/Functions/FunctionsConversion_reg.cpp
  src/Functions/toLastDayOfMonth.cpp
  src/Functions/toMonday.cpp
  src/Functions/toStartOfISOYear.cpp
  src/Functions/toStartOfMonth.cpp
  src/Functions/toStartOfQuarter.cpp
  src/Functions/toStartOfYear.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#81162 Do not specify the database for distributed_product_mode_local=local with cross-replication.
  src/Storages/buildQueryTreeForShard.cpp
  tests/queries/0_stateless/03525_distributed_product_mode_local_IN_cross_replication_analyzer_bug.reference
  tests/queries/0_stateless/03525_distributed_product_mode_local_IN_cross_replication_analyzer_bug.sql
Labels: pr-bugfix

#81400 Fix key condition matches continuous range
  src/Storages/MergeTree/KeyCondition.cpp
  tests/queries/0_stateless/03532_key_condition_continuous_range.reference
  tests/queries/0_stateless/03532_key_condition_continuous_range.sh
Labels: pr-improvement, can be tested

#81469 Docs: fix failing DocsCheck
  src/Core/Settings.cpp
Labels: pr-documentation

#79773 Add Multi Polygon support for `pointInPolygon`
  docs/en/sql-reference/functions/geo/coordinates.md
  src/Functions/PolygonUtils.h
  src/Functions/pointInPolygon.cpp
  tests/performance/point_in_polygon_3d_huge_multipolygon.xml
  tests/performance/point_in_polygon_const_3d.xml
  tests/queries/0_stateless/00500_point_in_polygon.reference
  tests/queries/0_stateless/00500_point_in_polygon.sql
  tests/queries/0_stateless/00500_point_in_polygon_3d_const.reference
  tests/queries/0_stateless/00500_point_in_polygon_3d_const.sql
  tests/queries/0_stateless/00500_point_in_polygon_empty_bound.reference
  tests/queries/0_stateless/00500_point_in_polygon_empty_bound.sql
  tests/queries/0_stateless/00500_point_in_polygon_non_const_poly.reference
  tests/queries/0_stateless/00500_point_in_polygon_non_const_poly.sql
Labels: pr-feature, can be tested

#79146 fs cache: minor code changes, add logging, add assert, add test
  src/Interpreters/Cache/FileCache.cpp
  src/Interpreters/Cache/FileSegment.cpp
  src/Interpreters/Cache/IFileCachePriority.h
  src/Interpreters/Cache/LRUFileCachePriority.cpp
  src/Interpreters/Cache/LRUFileCachePriority.h
  src/Interpreters/Cache/Metadata.h
  src/Interpreters/Cache/SLRUFileCachePriority.cpp
  src/Interpreters/Cache/SLRUFileCachePriority.h
  tests/queries/0_stateless/03411_dynamic_resize_filesystem_cache_3.reference
  tests/queries/0_stateless/03411_dynamic_resize_filesystem_cache_3.sh
Labels: pr-not-for-changelog

#81465 Add support for the `--database` argument in `clickhouse-local`
  programs/local/LocalServer.cpp
  tests/queries/0_stateless/02141_clickhouse_local_interactive_table.reference
  tests/queries/0_stateless/02141_clickhouse_local_interactive_table.sh
  tests/queries/0_stateless/03533_clickhouse_local_database_argument.reference
  tests/queries/0_stateless/03533_clickhouse_local_database_argument.sh
Labels: pr-improvement

#81354 Web UI: run the query under cursor
  programs/server/play.html
Labels: pr-improvement

#81359 Fix strictly decreasing or increasing check for conversion function's monotonicity
  src/Functions/FunctionsConversion.h
  src/Functions/FunctionsConversion_impl0.cpp
  src/Functions/tests/gtest_conversion_monotonic.cpp
Labels: pr-improvement, can be tested

#81300 A few fixes for data lake cluster engines
  src/Analyzer/Resolve/IdentifierResolver.cpp
  src/Interpreters/InterpreterDescribeQuery.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Storages/IStorage.cpp
  src/Storages/IStorage.h
  src/Storages/ObjectStorage/DataLakes/DataLakeConfiguration.h
  src/Storages/ObjectStorage/StorageObjectStorage.cpp
  src/Storages/ObjectStorage/StorageObjectStorage.h
  src/Storages/ObjectStorage/StorageObjectStorageCluster.cpp
  src/Storages/ObjectStorage/Utils.cpp
  src/Storages/ObjectStorage/Utils.h
  src/TableFunctions/TableFunctionObjectStorage.cpp
  src/TableFunctions/TableFunctionObjectStorage.h
  src/TableFunctions/TableFunctionObjectStorageCluster.cpp
  tests/integration/test_storage_delta/test.py
Labels: pr-bugfix

#81507 Fix `NaN%` in Web UI
  programs/server/play.html
Labels: pr-bugfix

#81509 `clickhouse`/`ch` aliases will invoke clickhouse-client if connection parameters are specified
  programs/main.cpp
  tests/queries/0_stateless/03536_ch_as_client_and_local.reference
  tests/queries/0_stateless/03536_ch_as_client_and_local.sh
Labels: pr-improvement

#81520 Maybe this is ok?
  cmake/target.cmake
Labels: pr-not-for-changelog

#81502 Fix out of bounds read in `Npy` format
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/NativeWriter.h
  src/IO/WriteBufferFromHTTP.h
  src/Interpreters/executeQuery.cpp
  src/Processors/Formats/IOutputFormat.h
  src/Processors/Formats/Impl/ArrowBlockOutputFormat.cpp
  src/Processors/Formats/Impl/ArrowBlockOutputFormat.h
  src/Processors/Formats/Impl/AvroRowOutputFormat.cpp
  src/Processors/Formats/Impl/BSONEachRowRowOutputFormat.cpp
  src/Processors/Formats/Impl/BinaryRowOutputFormat.cpp
  src/Processors/Formats/Impl/BinaryRowOutputFormat.h
  src/Processors/Formats/Impl/CSVRowOutputFormat.cpp
  src/Processors/Formats/Impl/CSVRowOutputFormat.h
  src/Processors/Formats/Impl/CapnProtoRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONColumnsBlockOutputFormat.cpp
  src/Processors/Formats/Impl/JSONColumnsWithMetadataBlockOutputFormat.cpp
  src/Processors/Formats/Impl/JSONCompactColumnsBlockOutputFormat.cpp
  src/Processors/Formats/Impl/JSONCompactEachRowWithProgressRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONCompactRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONEachRowRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONEachRowRowOutputFormat.h
  src/Processors/Formats/Impl/JSONEachRowWithProgressRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONObjectEachRowRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONRowOutputFormat.cpp
  src/Processors/Formats/Impl/JSONRowOutputFormat.h
  src/Processors/Formats/Impl/MsgPackRowOutputFormat.cpp
  src/Processors/Formats/Impl/MySQLOutputFormat.cpp
  src/Processors/Formats/Impl/NativeFormat.cpp
  src/Processors/Formats/Impl/NpyOutputFormat.cpp
  src/Processors/Formats/Impl/NpyOutputFormat.h
  src/Processors/Formats/Impl/ODBCDriver2BlockOutputFormat.cpp
  src/Processors/Formats/Impl/ODBCDriver2BlockOutputFormat.h
  src/Processors/Formats/Impl/ORCBlockOutputFormat.cpp
  src/Processors/Formats/Impl/ParallelFormattingOutputFormat.h
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.cpp
  src/Processors/Formats/Impl/ParquetBlockOutputFormat.h
  src/Processors/Formats/Impl/PostgreSQLOutputFormat.cpp
  src/Processors/Formats/Impl/PrometheusTextOutputFormat.cpp
  src/Processors/Formats/Impl/PrometheusTextOutputFormat.h
  src/Processors/Formats/Impl/ProtobufListOutputFormat.cpp
  src/Processors/Formats/Impl/ProtobufListOutputFormat.h
  src/Processors/Formats/Impl/ProtobufRowOutputFormat.cpp
  src/Processors/Formats/Impl/ProtobufRowOutputFormat.h
  src/Processors/Formats/Impl/SQLInsertRowOutputFormat.cpp
  src/Processors/Formats/Impl/SQLInsertRowOutputFormat.h
  src/Processors/Formats/Impl/TSKVRowOutputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.cpp
  src/Processors/Formats/Impl/TabSeparatedRowOutputFormat.h
  src/Processors/Formats/Impl/XMLRowOutputFormat.cpp
  src/Processors/Formats/Impl/XMLRowOutputFormat.h
  src/Storages/StorageURL.cpp
  tests/queries/0_stateless/03534_npy_output_to_url.reference
  tests/queries/0_stateless/03534_npy_output_to_url.sql
Labels: pr-bugfix

#81522 Hide settings under --verbose for clickhouse-benchmark and improve bash completion scripts
  programs/bash-completion/completions/clickhouse-bootstrap
  programs/benchmark/Benchmark.cpp
Labels: pr-not-for-changelog

#81523 Fix UBSan error in the Kusto language
  src/DataTypes/Serializations/SerializationInterval.cpp
  tests/queries/0_stateless/03537_kusto_ubsan.reference
  tests/queries/0_stateless/03537_kusto_ubsan.sql
Labels: pr-not-for-changelog

#81463 Add `flake.nix`
  flake.lock
  flake.nix
  src/Server/ClientEmbedded/ClientEmbeddedRunner.cpp
  utils/nix/generate_submodule_inputs.sh
Labels: pr-build

#81191 Improve lifetime management of projection part during query
  src/Processors/QueryPlan/Optimizations/projectionsCommon.cpp
  src/Processors/QueryPlan/PartsSplitter.cpp
  src/Processors/QueryPlan/PartsSplitter.h
  src/Processors/QueryPlan/ReadFromMergeTree.cpp
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeReadPoolBase.cpp
  src/Storages/MergeTree/RangesInDataPart.cpp
  src/Storages/MergeTree/RangesInDataPart.h
  src/Storages/MergeTree/StorageFromMergeTreeProjection.cpp
Labels: pr-not-for-changelog

#81530 Add usage examples to csv format docs
  docs/en/interfaces/formats/CSV/CSVWithNames.md
  docs/en/interfaces/formats/CSV/CSVWithNamesAndTypes.md
Labels: pr-documentation, can be tested

#80601 Update exponentialtimedecayedsum.md
  docs/en/sql-reference/aggregate-functions/reference/exponentialtimedecayedsum.md
Labels: pr-documentation, can be tested

#81433 Always allow DDL for inner users.
  src/Storages/StorageInMemoryMetadata.cpp
  tests/integration/test_refreshable_mv/configs/users.xml
  tests/integration/test_refreshable_mv/test.py
Labels: pr-not-for-changelog, pr-must-backport-cloud

#80902 Docs: move conditional functions documentation to source
  docs/en/sql-reference/functions/conditional-functions.md
  src/Functions/clamp.cpp
  src/Functions/greatest.cpp
  src/Functions/if.cpp
  src/Functions/least.cpp
  src/Functions/multiIf.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#81271 mark exceptions as logged
  programs/client/Client.cpp
  programs/disks/DisksApp.cpp
  programs/keeper-client/KeeperClient.cpp
  programs/local/LocalServer.cpp
  src/Common/Config/ConfigReloader.cpp
  src/Common/Exception.cpp
  src/Common/Exception.h
  src/Storages/Kafka/KafkaConfigLoader.cpp
Labels: pr-improvement

#80393 Fix a bug with s3_plain_rewritable storage when used with projections
  src/Disks/ObjectStorages/MetadataStorageFromPlainObjectStorageOperations.cpp
  tests/integration/test_s3_plain_rewritable/test.py
Labels: pr-improvement, can be tested

#81553 ci: disable bash tracing by default for clickhouse-test and enable only on CI
  ci/jobs/functional_stateful_tests.py
  ci/jobs/functional_stateless_tests.py
  ci/jobs/scripts/clickhouse_proc.py
  tests/clickhouse-test
  tests/docker_scripts/stateful_runner.sh
  tests/docker_scripts/stateless_runner.sh
  tests/queries/shell_config.sh
Labels: pr-not-for-changelog

#81566 Added a note about cloud support in join.md
  docs/en/engines/table-engines/special/join.md
Labels: pr-documentation

#81549 Don't process quota values if the user is not limited
  src/Access/ContextAccess.cpp
  src/Access/EnabledQuota.cpp
  src/Access/EnabledQuota.h
  src/Access/QuotaCache.cpp
Labels: pr-performance

#80783 Might fix monotonicity of the cast function for big integer types.
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/03518_key_condition_binary_search.reference
  tests/queries/0_stateless/03518_key_condition_binary_search.sh
Labels: pr-must-backport, can be tested, pr-must-backport-cloud, pr-synced-to-cloud, pr-critical-bugfix

#80391 Metrics and Logs for Readonly and Broken Disks
  src/Common/CurrentMetrics.cpp
  src/Disks/DiskLocalCheckThread.cpp
  tests/integration/test_disk_checker/__init__.py
  tests/integration/test_disk_checker/config.xml
  tests/integration/test_disk_checker/test.py
Labels: pr-improvement, can be tested, pr-synced-to-cloud

#81588 add test for #71558
  tests/queries/0_stateless/03532_redis_empty_variant_key.reference
  tests/queries/0_stateless/03532_redis_empty_variant_key.sql
Labels: pr-not-for-changelog

#80548 Update date32.md
  docs/en/sql-reference/data-types/date32.md
  tests/queries/0_stateless/00340_date32_doc.reference
  tests/queries/0_stateless/00340_date32_doc.sql
Labels: pr-documentation, can be tested

#81552 Better metrics on query failures (and fix one test flakiness)
  src/Interpreters/executeQuery.cpp
  tests/queries/0_stateless/01281_unsucceeded_insert_select_queries_counter.reference
  tests/queries/0_stateless/01281_unsucceeded_insert_select_queries_counter.sql
  tests/queries/0_stateless/01600_log_queries_with_extensive_info.reference
  tests/queries/0_stateless/01600_log_queries_with_extensive_info.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#81641 Docs: add keywords to JOIN clause to improve findability
  docs/en/sql-reference/statements/select/join.md
Labels: pr-documentation

#78841 Add warning about databases containing broken tables
  src/Databases/DatabaseAtomic.cpp
  src/Databases/DatabaseOrdinary.cpp
  src/Databases/DatabaseReplicated.cpp
  src/Databases/DatabaseReplicated.h
  src/Interpreters/Context.h
  tests/integration/test_warning_broken_tables/__init__.py
  tests/integration/test_warning_broken_tables/test.py
Labels: pr-improvement

#81595 fix server HTTP keep-alive
  src/IO/HTTPChunkedReadBuffer.cpp
  src/Processors/Formats/IInputFormat.h
  src/Processors/Formats/Impl/ArrowBlockInputFormat.cpp
  src/Server/HTTP/HTTPServerRequest.cpp
  src/Server/HTTP/HTTPServerRequest.h
  src/Server/HTTP/HTTPServerResponse.cpp
  src/Server/HTTP/HTTPServerResponse.h
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/__init__.py
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/.gitignore
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/README.md
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/build.gradle.kts
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/clickhouse-local-config/users.xml
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradle.properties
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradle/libs.versions.toml
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradle/wrapper/gradle-wrapper.jar
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradle/wrapper/gradle-wrapper.properties
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradlew
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradlew.bat
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/settings.gradle.kts
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/ClickhouseBench.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/arrow/ArrowSchemaTypes.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/arrow/ArrowSerializer.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/arrow/ArrowSerializerUtils.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/ClickHouseSchemaCreator.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/ClickhouseConnectionDetails.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/ClickhouseResultStore.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/Columns.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/DatabaseCredentials.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/OkHttpClickHouseClient.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/ResultsSchema.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/utils.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/domain/FlattenedGoatResult.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/domain/JobId.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/okhttp/AuditingOkHttpMetricsListener.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/utils/Randoms.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/utils/Services.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/resources/logback.xml
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/run.sh
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/test.py
  tests/integration/test_http_connection_drain_before_reuse/__init__.py
  tests/integration/test_http_connection_drain_before_reuse/test.py
Labels: pr-bugfix

#80662 Slightly better logging in StorageKeeperMap::dropTable
  src/Storages/StorageKeeperMap.cpp
Labels: pr-not-for-changelog, v25.4-must-backport

#81585 Forbid INSERT/SELECT queries w/ global context
  src/Interpreters/Context.cpp
  src/Interpreters/IInterpreter.cpp
  src/Interpreters/IInterpreter.h
  src/Interpreters/IInterpreterUnionOrSelectQuery.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Interpreters/InterpreterSelectQueryAnalyzer.cpp
  src/Storages/MergeTree/registerStorageMergeTree.cpp
Labels: pr-not-for-changelog

#81452 Docs: move documentation for DateTime functions to source. Part 2.
  src/Functions/serverConstants.cpp
  src/Functions/timestamp.cpp
  src/Functions/timezoneOf.cpp
  src/Functions/timezoneOffset.cpp
  src/Functions/toDayOfMonth.cpp
  src/Functions/toDayOfWeek.cpp
  src/Functions/toDayOfYear.cpp
  src/Functions/toHour.cpp
  src/Functions/toMillisecond.cpp
  src/Functions/toMinute.cpp
  src/Functions/toMonth.cpp
  src/Functions/toQuarter.cpp
  src/Functions/toSecond.cpp
  src/Functions/toTimezone.cpp
  src/Functions/toYear.cpp
  tests/queries/0_stateless/02415_all_new_functions_must_be_documented.reference
  tests/queries/0_stateless/02415_all_new_functions_must_have_version_information.reference
Labels: pr-documentation

#81578 Add random cluster generation for `La Casa Del Dolor` and setting fixes
  src/Client/BuzzHouse/Generator/FuzzConfig.cpp
  src/Client/BuzzHouse/Generator/RandomSettings.h
  src/Client/BuzzHouse/Generator/SQLFuncs.h
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Generator/TableSetttings.cpp
  tests/casa_del_dolor/dolor.py
  tests/casa_del_dolor/generators.py
  tests/casa_del_dolor/properties.py
  tests/config/ca-cert.pem
  tests/config/server-cert.pem
  tests/config/server-key.pem
Labels: pr-ci

#81436 Add tests for #80917 and #81431
  tests/queries/0_stateless/03533_analyzer_correlated_column_check.reference
  tests/queries/0_stateless/03533_analyzer_correlated_column_check.sql
Labels: pr-not-for-changelog

#81661 add profile events about server keep alive connections
  src/Common/ProfileEvents.cpp
  src/Server/HTTP/HTTPServerConnection.cpp
Labels: pr-ci

#81675 rm flaky test test_bug_insert_lz4_arrow_http_chunk_keepalive
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/__init__.py
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/.gitignore
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/README.md
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/build.gradle.kts
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/clickhouse-local-config/users.xml
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradle.properties
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradle/libs.versions.toml
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradle/wrapper/gradle-wrapper.jar
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradle/wrapper/gradle-wrapper.properties
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradlew
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/gradlew.bat
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/settings.gradle.kts
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/ClickhouseBench.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/arrow/ArrowSchemaTypes.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/arrow/ArrowSerializer.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/arrow/ArrowSerializerUtils.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/ClickHouseSchemaCreator.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/ClickhouseConnectionDetails.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/ClickhouseResultStore.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/Columns.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/DatabaseCredentials.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/OkHttpClickHouseClient.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/ResultsSchema.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/clickhouse/utils.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/domain/FlattenedGoatResult.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/domain/JobId.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/okhttp/AuditingOkHttpMetricsListener.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/utils/Randoms.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/kotlin/org/foo/utils/Services.kt
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/click-bench-main/src/main/resources/logback.xml
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/data/run.sh
  tests/integration/test_bug_insert_lz4_arrow_http_chunk_keepalive/test.py
Labels: pr-not-for-changelog

#81689 Revert "Forbid INSERT/SELECT queries w/ global context"
  src/Interpreters/Context.cpp
  src/Interpreters/IInterpreter.cpp
  src/Interpreters/IInterpreter.h
  src/Interpreters/IInterpreterUnionOrSelectQuery.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  src/Interpreters/InterpreterSelectQueryAnalyzer.cpp
  src/Storages/MergeTree/registerStorageMergeTree.cpp
Labels: pr-not-for-changelog

#81390 Fix insert error when merge tree table has a long partition column name
  src/Storages/MergeTree/IMergeTreeDataPart.cpp
  src/Storages/MergeTree/IMergeTreeDataPart.h
  src/Storages/MergeTree/MergeTreeDataPartWriterWide.cpp
  src/Storages/MergeTree/MergedBlockOutputStream.cpp
  tests/queries/0_stateless/03521_long_partition_column_name.reference
  tests/queries/0_stateless/03521_long_partition_column_name.sql
Labels: pr-bugfix, can be tested

#81684 fix logical error when we read a file that cannot infer schema
  src/Formats/ReadSchemaUtils.cpp
Labels: pr-not-for-changelog

#81627 Revert "Revert "Helper functions for PromQL-like time series data queries""
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesDeltaToGrid.md
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesInstantDeltaToGrid.md
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesInstantRateToGrid.md
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesLastTwoSamples.md
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesRateToGrid.md
  docs/en/sql-reference/aggregate-functions/reference/timeSeriesResampleToGridWithStaleness.md
  src/AggregateFunctions/AggregateFunctionLast2Samples.cpp
  src/AggregateFunctions/AggregateFunctionLast2Samples.h
  src/AggregateFunctions/AggregateFunctionTimeseriesBase.h
  src/AggregateFunctions/AggregateFunctionTimeseriesExtrapolatedValue.h
  src/AggregateFunctions/AggregateFunctionTimeseriesHelpers.cpp
  src/AggregateFunctions/AggregateFunctionTimeseriesInstantValue.h
  src/AggregateFunctions/AggregateFunctionTimeseriesToGridSparse.h
  src/AggregateFunctions/Combinators/AggregateFunctionState.h
  src/AggregateFunctions/registerAggregateFunctions.cpp
  src/Common/FieldVisitorWriteBinary.cpp
  src/Core/Field.cpp
  src/Core/Settings.cpp
  src/Core/SettingsChangesHistory.cpp
  src/Databases/enableAllExperimentalSettings.cpp
  tests/queries/0_stateless/03254_last_2_samples_aggregate_function.reference
  tests/queries/0_stateless/03254_last_2_samples_aggregate_function.sql
  tests/queries/0_stateless/03254_last_2_samples_aggregate_function_simple.reference
  tests/queries/0_stateless/03254_last_2_samples_aggregate_function_simple.sql
  tests/queries/0_stateless/03254_timeseries_functions.reference
  tests/queries/0_stateless/03254_timeseries_functions.sql
  tests/queries/0_stateless/03254_timeseries_functions_various_arguments.reference
  tests/queries/0_stateless/03254_timeseries_functions_various_arguments.sql
  tests/queries/0_stateless/03254_timeseries_instant_value_aggregate_functions.reference
  tests/queries/0_stateless/03254_timeseries_instant_value_aggregate_functions.sql
  tests/queries/0_stateless/03254_timeseries_to_grid_aggregate_function.reference
  tests/queries/0_stateless/03254_timeseries_to_grid_aggregate_function.sql
  tests/queries/0_stateless/03254_timeseries_to_grid_aggregate_function_sparse.reference
  tests/queries/0_stateless/03254_timeseries_to_grid_aggregate_function_sparse.sql
Labels: pr-not-for-changelog

#81639 Update README.md for Singapore, Sydney, Bangalore and Perth meetups
  README.md
Labels: pr-not-for-changelog, can be tested

#81391 Fix typo: MySQL -> PostgreSQL
  docs/en/operations/server-configuration-parameters/_server_settings_outside_source.md
Labels: pr-documentation, can be tested

#81589 Advanced Memory Dashboards
  ci/jobs/scripts/check_style/check_cpp.sh
  src/Storages/System/StorageSystemDashboards.cpp
  tests/queries/0_stateless/03540_system_dashboards.reference
  tests/queries/0_stateless/03540_system_dashboards.sh
Labels: pr-not-for-changelog

#81706 Update `chcache` dependencies
  rust/chcache/Cargo.lock
  rust/chcache/Cargo.toml
  rust/chcache/src/config.rs
  rust/chcache/src/disks/local.rs
Labels: pr-not-for-changelog

#81719 Revert "Update date32.md"
  docs/en/sql-reference/data-types/date32.md
  tests/queries/0_stateless/00340_date32_doc.reference
  tests/queries/0_stateless/00340_date32_doc.sql
Labels: pr-not-for-changelog

#81576 Make ProcfsMetricsProvider thread_local to keep files open between tasks
  src/Common/ThreadProfileEvents.cpp
Labels: pr-performance

#79023 CI: Functional tests job refactored
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  ci/.gitignore
  ci/defs/defs.py
  ci/defs/job_configs.py
  ci/docker/stateful-test/Dockerfile
  ci/docker/stateless-test/Dockerfile
  ci/jobs/fast_test.py
  ci/jobs/functional_stateful_tests.py
  ci/jobs/functional_stateless_tests.py
  ci/jobs/functional_tests.py
  ci/jobs/scripts/clickhouse_proc.py
  ci/jobs/scripts/functional_tests_results.py
  ci/jobs/scripts/workflow_hooks/filter_job.py
  ci/jobs/scripts/workflow_hooks/new_tests_check.py
  ci/jobs/scripts/workflow_hooks/quick_sync.py
  ci/praktika/_environment.py
  ci/praktika/hook_html.py
  ci/praktika/info.py
  ci/praktika/json.html
  ci/praktika/native_jobs.py
  ci/praktika/result.py
  ci/praktika/runner.py
  ci/praktika/utils.py
  ci/workflows/pull_request.py
  docker/test/stateless/.gitignore
  docker/test/stateless/Dockerfile
  docker/test/stateless/requirements.txt
  tests/ci/bugfix_validate_check.py
  tests/ci/ci_definitions.py
  tests/ci/stress_check.py
  tests/config/install.sh
  tests/docker_scripts/attach_gdb.lib
  tests/docker_scripts/setup_minio.sh
  tests/docker_scripts/stress_runner.sh
  tests/docker_scripts/stress_tests.lib
  tests/docker_scripts/upgrade_runner.sh
  tests/queries/0_stateless/01175_distributed_ddl_output_mode_long.sh
  tests/queries/0_stateless/02873_s3_presigned_url_and_url_with_special_characters.sql
  tests/queries/0_stateless/02982_comments_in_system_tables.sh
  tests/queries/0_stateless/03096_order_by_system_tables.sql
  tests/queries/0_stateless/03441_deltalake_clickhouse_public_datasets.sql
  tests/queries/0_stateless/03442_alter_delete_empty_part_rmt.sql
Labels: do not test, pr-not-for-changelog

#81694 Fix slow allocations when using MemoryTrackerBlockerInThread
  src/Common/CurrentMemoryTracker.cpp
  src/Common/MemoryTrackerBlockerInThread.cpp
  src/Common/MemoryTrackerBlockerInThread.h
  src/Common/MemoryTrackerSwitcher.h
  src/Common/ThreadStatus.cpp
  src/Common/ThreadStatus.h
  src/Common/VariableContext.h
Labels: pr-performance, pr-must-backport

#80195 Add `string` tokenizer
  ci/jobs/scripts/check_style/aspell-ignore/en/aspell-dict.txt
  docs/en/engines/table-engines/mergetree-family/invertedindexes.md
  docs/en/sql-reference/functions/splitting-merging-functions.md
  src/Functions/ngrams.cpp
  src/Functions/tokens.cpp
  src/Interpreters/ITokenExtractor.cpp
  src/Interpreters/ITokenExtractor.h
  tests/queries/0_stateless/02346_text_index_creation.reference
  tests/queries/0_stateless/02346_text_index_creation.sql
  tests/queries/0_stateless/03403_function_tokens.reference
  tests/queries/0_stateless/03403_function_tokens.sql
Labels: pr-improvement

#81755 Revert "Make ProcfsMetricsProvider thread_local to keep files open between tasks"
  src/Common/ThreadProfileEvents.cpp
Labels: pr-not-for-changelog

#81741 Revert "Might fix monotonicity of the cast function for big integer types."
  src/Functions/FunctionsConversion.h
  tests/queries/0_stateless/03518_key_condition_binary_search.reference
  tests/queries/0_stateless/03518_key_condition_binary_search.sh
Labels: pr-not-for-changelog

#81725 ci: get back separate file with Fatal messages for fuzzer jobs
  docker/test/fuzzer/run-fuzzer.sh
Labels: pr-not-for-changelog

#81693 validate mergetree setting merge_max_block_size
  src/Storages/MergeTree/MergeTask.cpp
  src/Storages/MergeTree/MergeTreeSettings.cpp
  tests/queries/0_stateless/03538_validate_setting_merge_max_block_size.reference
  tests/queries/0_stateless/03538_validate_setting_merge_max_block_size.sql
Labels: pr-bugfix

#81750 Fix abseil build
  contrib/abseil-cpp-cmake/CMakeLists.txt
Labels: submodule changed, pr-ci, v24.8-must-backport, v25.3-must-backport

#81734 Fix issue 71136
  src/Interpreters/MergeTreeTransaction.cpp
  tests/integration/test_transactions/test.py
Labels: pr-must-backport, can be tested, pr-ci

#81792 Docs: `Nearest neighbor search` --> `Vector search`
  docs/en/engines/table-engines/mergetree-family/annindexes.md
Labels: pr-documentation

#81788 Fix std::out_of_range in system.clusters for Replicated database w/o replicas
  src/Databases/DatabaseReplicated.cpp
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#81782 Next update for BuzzHouse and `La Casa del Dolor`
  src/Client/BuzzHouse/AST/SQLProtoStr.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.cpp
  src/Client/BuzzHouse/Generator/ExternalIntegrations.h
  src/Client/BuzzHouse/Generator/FuzzConfig.cpp
  src/Client/BuzzHouse/Generator/FuzzConfig.h
  src/Client/BuzzHouse/Generator/QueryOracle.cpp
  src/Client/BuzzHouse/Generator/RandomSettings.h
  src/Client/BuzzHouse/Generator/SQLCatalog.h
  src/Client/BuzzHouse/Generator/SQLFuncs.h
  src/Client/BuzzHouse/Generator/SQLQuery.cpp
  src/Client/BuzzHouse/Generator/SQLTable.cpp
  src/Client/BuzzHouse/Generator/SQLTypes.cpp
  src/Client/BuzzHouse/Generator/ServerSettings.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.cpp
  src/Client/BuzzHouse/Generator/StatementGenerator.h
  src/Client/BuzzHouse/Generator/TableSetttings.cpp
  src/Client/BuzzHouse/Proto/SQLGrammar.proto
  tests/casa_del_dolor/dolor.py
  tests/casa_del_dolor/generators.py
  tests/casa_del_dolor/mongo_secure_config/cert.crt
  tests/casa_del_dolor/mongo_secure_config/key.pem
  tests/casa_del_dolor/mongo_secure_config/mongo_secure.conf
  tests/casa_del_dolor/properties.py
Labels: pr-ci

#81705 clickhouse-local - fix issue with stuck queries
  ci/jobs/scripts/check_style/various_checks.sh
  programs/local/LocalServer.cpp
  tests/queries/0_stateless/03537_clickhouse_local_drop_view_sync_temp_mode.reference
  tests/queries/0_stateless/03537_clickhouse_local_drop_view_sync_temp_mode.sh
Labels: pr-bugfix

#81754 Fix crash in `ConcurrentHashJoin` with empty `USING ()`
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  tests/queries/0_stateless/03538_crash_in_parallel_hash_with_empty_using.reference
  tests/queries/0_stateless/03538_crash_in_parallel_hash_with_empty_using.sql
Labels: pr-bugfix, pr-must-backport, pr-must-backport-cloud

#81790 tests: fix 01596_setting_limit_offset flakiness with async INSERTs
  tests/queries/0_stateless/01596_setting_limit_offset.sql
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#81751 CI: Functional tests job refactored (revert-revert)
  .github/workflows/backport_branches.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  ci/.gitignore
  ci/defs/defs.py
  ci/defs/job_configs.py
  ci/docker/stateful-test/Dockerfile
  ci/docker/stateless-test/Dockerfile
  ci/jobs/fast_test.py
  ci/jobs/functional_stateful_tests.py
  ci/jobs/functional_stateless_tests.py
  ci/jobs/functional_tests.py
  ci/jobs/scripts/clickhouse_proc.py
  ci/jobs/scripts/functional_tests_results.py
  ci/jobs/scripts/workflow_hooks/filter_job.py
  ci/jobs/scripts/workflow_hooks/new_tests_check.py
  ci/praktika/_environment.py
  ci/praktika/hook_html.py
  ci/praktika/info.py
  ci/praktika/json.html
  ci/praktika/native_jobs.py
  ci/praktika/result.py
  ci/praktika/runner.py
  ci/praktika/utils.py
  ci/workflows/pull_request.py
  docker/test/stateless/.gitignore
  docker/test/stateless/Dockerfile
  docker/test/stateless/requirements.txt
  tests/ci/bugfix_validate_check.py
  tests/ci/ci_definitions.py
  tests/ci/stress_check.py
  tests/config/install.sh
  tests/docker_scripts/attach_gdb.lib
  tests/docker_scripts/setup_minio.sh
  tests/docker_scripts/stress_runner.sh
  tests/docker_scripts/stress_tests.lib
  tests/docker_scripts/upgrade_runner.sh
  tests/queries/0_stateless/01175_distributed_ddl_output_mode_long.sh
  tests/queries/0_stateless/02873_s3_presigned_url_and_url_with_special_characters.sql
  tests/queries/0_stateless/02982_comments_in_system_tables.sh
  tests/queries/0_stateless/03096_order_by_system_tables.sql
  tests/queries/0_stateless/03441_deltalake_clickhouse_public_datasets.sql
  tests/queries/0_stateless/03442_alter_delete_empty_part_rmt.sql
Labels: pr-not-for-changelog

#81860 CI: Skip flaky check jobs if no updates in tests
  ci/jobs/scripts/workflow_hooks/filter_job.py
Labels: pr-not-for-changelog

#81815 tests: fix SharedEngineReplacer for running multiple tests in parallel
  tests/clickhouse-test
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#81862 tests: fix analyzer detection (fixes CI)
  tests/clickhouse-test
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#81539 Data format usage examples
  docs/en/interfaces/formats/BSONEachRow.md
  docs/en/interfaces/formats/CustomSeparated/CustomSeparated.md
  docs/en/interfaces/formats/CustomSeparated/CustomSeparatedIgnoreSpaces.md
  docs/en/interfaces/formats/CustomSeparated/CustomSeparatedIgnoreSpacesWithNames.md
  docs/en/interfaces/formats/CustomSeparated/CustomSeparatedIgnoreSpacesWithNamesAndTypes.md
  docs/en/interfaces/formats/CustomSeparated/CustomSeparatedWithNames.md
  docs/en/interfaces/formats/CustomSeparated/CustomSeparatedWithNamesAndTypes.md
  docs/en/interfaces/formats/JSON/JSONColumns.md
  docs/en/interfaces/formats/JSON/JSONCompact.md
  docs/en/interfaces/formats/JSON/JSONCompactColumns.md
  docs/en/interfaces/formats/JSON/JSONCompactEachRow.md
  docs/en/interfaces/formats/JSON/JSONCompactEachRowWithNames.md
  docs/en/interfaces/formats/JSON/JSONCompactEachRowWithNamesAndTypes.md
  docs/en/interfaces/formats/JSON/JSONCompactStrings.md
  docs/en/interfaces/formats/JSON/JSONCompactStringsEachRow.md
  docs/en/interfaces/formats/JSON/JSONCompactStringsEachRowWithNames.md
  docs/en/interfaces/formats/JSON/JSONCompactStringsEachRowWithNamesAndTypes.md
  docs/en/interfaces/formats/JSON/JSONEachRow.md
  docs/en/interfaces/formats/JSON/JSONLines.md
  docs/en/interfaces/formats/JSON/JSONStrings.md
  docs/en/interfaces/formats/JSON/JSONStringsEachRow.md
  docs/en/interfaces/formats/JSON/PrettyJSONEachRow.md
  docs/en/interfaces/formats/Null.md
  docs/en/interfaces/formats/ORC.md
  docs/en/interfaces/formats/Parquet/Parquet.md
  docs/en/interfaces/formats/TabSeparated/TSKV.md
  docs/en/interfaces/formats/TabSeparated/TabSeparated.md
  docs/en/interfaces/formats/TabSeparated/TabSeparatedRaw.md
  docs/en/interfaces/formats/TabSeparated/TabSeparatedRawWithNames.md
  docs/en/interfaces/formats/TabSeparated/TabSeparatedRawWithNamesAndTypes.md
  docs/en/interfaces/formats/TabSeparated/TabSeparatedWithNames.md
  docs/en/interfaces/formats/TabSeparated/TabSeparatedWithNamesAndTypes.md
Labels: pr-documentation, can be tested

#81866 ci: attempt to fix SMT replacer (fixes private CI)
  tests/queries/shell_config.sh
Labels: pr-not-for-changelog

#81867 tests: fix max_memory_usage_in_client flakiness
  tests/queries/0_stateless/02003_memory_limit_in_client.sh
Labels: pr-not-for-changelog, 🍃 green ci 🌿

#81874 CI: Fix Perf test job config 2
  ci/defs/job_configs.py
Labels: pr-not-for-changelog

#81875 CI: Fix error in azure stress test
  tests/config/install.sh
Labels: pr-not-for-changelog

#81884 CI: One more fix in perf job script
  ci/jobs/performance_tests.py
Labels: pr-not-for-changelog, pr-synced-to-cloud

#81780 Keeper fix: block commits of new logs if there is invalid entry
  src/Common/FailPoint.cpp
  src/Coordination/KeeperServer.cpp
  src/Coordination/KeeperStorage.cpp
  tests/integration/test_keeper_invalid_digest/__init__.py
  tests/integration/test_keeper_invalid_digest/configs/enable_keeper1.xml
  tests/integration/test_keeper_invalid_digest/configs/enable_keeper2.xml
  tests/integration/test_keeper_invalid_digest/test.py
Labels: pr-bugfix

#81516 tune buckets for keeper response time histogram
  src/Common/ZooKeeper/ZooKeeperImpl.cpp
Labels: pr-improvement

#81789 Revert "Revert "Make ProcfsMetricsProvider thread_local to keep files open between tasks""
  src/Common/ThreadProfileEvents.cpp
  src/Common/ThreadStatus.cpp
  src/Common/ThreadStatus.h
Labels: pr-not-for-changelog

#80125 Move logging to a separate thread
  base/poco/Foundation/include/Poco/Message.h
  base/poco/Foundation/src/Message.cpp
  base/poco/Foundation/src/PatternFormatter.cpp
  base/poco/Net/include/Poco/Net/RemoteSyslogListener.h
  base/poco/Net/src/RemoteSyslogChannel.cpp
  base/poco/Net/src/RemoteSyslogListener.cpp
  docs/en/operations/server-configuration-parameters/_server_settings_outside_source.md
  src/CMakeLists.txt
  src/Common/Exception.cpp
  src/Common/Logger.cpp
  src/Common/Logger.h
  src/Common/logger_useful.h
  src/Common/mysqlxx/CMakeLists.txt
  src/Common/mysqlxx/mysqlxx/Null.h
  src/Common/mysqlxx/mysqlxx/mysqlxx.h
  src/Common/mysqlxx/tests/CMakeLists.txt
  src/Common/mysqlxx/tests/mysqlxx_pool_test.cpp
  src/Daemon/BaseDaemon.cpp
  src/Interpreters/SystemLog.cpp
  src/Loggers/CMakeLists.txt
  src/Loggers/ExtendedLogChannel.h
  src/Loggers/Loggers.cpp
  src/Loggers/Loggers.h
  src/Loggers/OwnFormattingChannel.cpp
  src/Loggers/OwnFormattingChannel.h
  src/Loggers/OwnJSONPatternFormatter.cpp
  src/Loggers/OwnPatternFormatter.cpp
  src/Loggers/OwnSplitChannel.cpp
  src/Loggers/OwnSplitChannel.h
  tests/queries/0_stateless/03096_text_log_format_string_args_not_empty.reference
  tests/queries/0_stateless/03096_text_log_format_string_args_not_empty.sh
  tests/queries/0_stateless/03096_text_log_format_string_args_not_empty.sql
Labels: pr-performance

#81876 Docs: add explanation on naming of `arrayJoin` based on user feedback
  docs/en/sql-reference/functions/array-join.md
Labels: pr-documentation

#81904 Docs: fix links urlCluster.md
  docs/en/sql-reference/table-functions/urlCluster.md
Labels: pr-documentation

#81868 Try fix logical error in fs cache
  src/Disks/IO/AsynchronousBoundedReadBuffer.cpp
  src/Disks/IO/CachedOnDiskReadBufferFromFile.cpp
  src/Disks/IO/CachedOnDiskReadBufferFromFile.h
  src/Disks/IO/ThreadPoolRemoteFSReader.cpp
  src/Storages/ObjectStorage/StorageObjectStorageSource.cpp
Labels: pr-improvement, pr-must-backport

#81891 Update sql-reference/dictionaries/index.md
  docs/en/sql-reference/dictionaries/index.md
Labels: pr-documentation, can be tested

#81922 Fix `test_keeper_snapshot_on_exit`
  tests/integration/test_keeper_snapshot_on_exit/configs/enable_keeper1.xml
  tests/integration/test_keeper_snapshot_on_exit/configs/enable_keeper2.xml
  tests/integration/test_keeper_snapshot_on_exit/test.py
Labels: pr-not-for-changelog

#81941 CI: Fix corner case in changed files check
  ci/jobs/scripts/workflow_hooks/store_data.py
Labels: pr-not-for-changelog
